[2019-05-28 17:35] richardlawley commented on #3353
I've found some additional cases where routes aren't added properly, leading to two additional problems with static NAT VMs with multiple public subnets:

1. VMs with static NAT IPs on range corresponding to eth3 cannot ping other IPs from another network on the same range
2.  VMs cannot always ping each other using their external IP address.  This one I know has been fixed before, so this is eith

[2019-05-29 08:46] anuragaw commented on #3295
Working on this

[2019-05-29 09:55] onitake commented on #2700
We still won't be able to test this against 6.7, but if doesn't break 5.5 and 6.5 compatibility, I think it's ok to ship it.

We're planning to bump our test environment to 6.7 in August and will be able to test then.

[2019-05-30 06:12] #3337 closed

[2019-05-30 06:12] #3339 closed

[2019-05-30 07:02] #3334 closed

[2019-05-30 07:07] rhtyd opened #3363 "Upload template from local does not allow/show various fields/options for VMware"
The upload template form in the UI does not show various fields for VMware such as root disk controller, nic adapter type, keyboard type which are show in the register template form:

![image](https://user-images.githubusercontent.com/4810220/58342254-182f2a00-7e48-11e9-98da-01de31884ac9.png)

##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

[2019-05-30 08:45] PPisz opened #3364 "LDAP users with similar permissions do not see each other's networks"
##### ISSUE TYPE

 * Bug Report
 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY

[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-05-30 11:08] andrijapanicsb commented on #3364
Heard a similar thing from another user.
"LDAP-authenticated" ADMIN vs. "local-authenticated" ADMIN - can't see each other's networks.

[2019-05-31 07:02] #3201 closed

[2019-05-31 07:03] rhtyd commented on #3230
Merged in https://github.com/apache/cloudstack/pull/3362

[2019-05-31 07:03] #3230 closed

[2019-05-31 07:09] #3168 closed

[2019-05-31 07:09] #3352 closed

[2019-05-31 07:09] #3353 closed

[2019-05-31 07:09] rhtyd commented on #3352
Future note: explore a way to make the mac address constant.

[2019-06-03 07:22] #3295 closed

[2019-06-03 07:22] rhtyd commented on #3295
Fixed in https://github.com/apache/cloudstack/pull/3368

[2019-06-03 08:37] PaulAngus opened #3369 "MTU for storage interface on SSVM is not honored"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

NA

##### OS / ENVIRONMENT

NA

##### SUMMARY

The global setting  **secstorage.vm.mtu.size**  does not get applied to the SSVM

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-06-03 11:48] #3309 closed

[2019-06-03 11:48] #3272 closed

[2019-06-03 11:48] #3354 closed

[2019-06-03 12:24] rhtyd commented on #3369
@PaulAngus  please test and review https://github.com/apache/cloudstack/pull/3370

[2019-06-04 08:53] DaanHoogland commented on #3321
@svanharmelen I had a discussion about the problem. there are two possible fixes but the underlying problem will remain in both cases.
1. start the network with a persistent offering and make sure you wait till it started before configuring further. as this is an automated test in a simulator there might be issues with timing which also might have caused the test to pass earlier while no real netw

[2019-06-04 10:26] rhtyd commented on #3369
Fixed and merged in https://github.com/apache/cloudstack/pull/3370

[2019-06-04 10:26] #3369 closed

[2019-06-04 10:35] rhtyd commented on #3193
Merged in https://github.com/apache/cloudstack/pull/3194

[2019-06-04 10:35] #3193 closed

[2019-06-04 11:20] rhtyd commented on #3273
Reproduced on latest 4.11

[2019-06-04 20:51] rhtyd commented on #3177
Merged in https://github.com/apache/cloudstack/pull/3366

[2019-06-04 20:51] #3177 closed

[2019-06-04 22:23] falcon78921 commented on #3195
@rhytd @wido I would love to help with moving over to Python 3, if that's still the plan.

[2019-06-05 03:17] rhtyd commented on #3273
Fixed and merged in https://github.com/apache/cloudstack/pull/3373

[2019-06-05 03:17] #3273 closed

[2019-06-05 07:42] PaulAngus commented on #3364
Are these the same root admin account or two accounts which both have root admin privileges?

[2019-06-05 07:52] PPisz commented on #3364
Two accounts with root admin privileges:

ppisz | Root Admin | Admin | ROOT | enabled
tome | Root Admin | Admin | ROOT | enabled

[2019-06-05 09:00] PaulAngus opened #3375 "listProjects API command returns same tags as many times as there are accounts in the Project"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

listProjects API command returns same tags as many times as there are accounts in the Project

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-06-05 09:24] ustcweizhou commented on #3375
@PaulAngus
can this be fixed by #3306  ?

[2019-06-05 09:24] PaulAngus commented on #3364
Is the other network visible through the API (when you use listall=true) ?

[2019-06-05 09:42] wido commented on #3195
Although I agree with @rhtyd that a lot can be done in Java, it's not always the easiest. Python is sometimes a lot easier to develop and talk directly with the system for executing commands.

We haven't started on this @falcon78921 , but any help is welcome! Just pick a Python script and start working on it.

[2019-06-05 10:00] rhtyd commented on #3195
@wido changing the env dependency is a big step, python3.x is not available on all distros by default. I think it's better to discuss on dev@ for future steps. In my proposal, for the VR for example I've proposed that we move to a lightweight agent and as PoC I've shared a Go-Java approach based on grpc.

I think the best time would be to discuss/start doing things after 4.13, as we've decided to

[2019-06-05 10:03] wido commented on #3195
@rhtyd Python 3 is available on ALL distros. It has been for a very long time. It's on RHEL, CentOS, Debian and Ubuntu. No need to install anything :)

We can always talk about this, but the fact is that per January Python 2 is EOL and it's not so super difficult to write things in Python 3.

I'm not against an Agent in the VR for example, sounds like a good thing!

[2019-06-05 10:21] PaulAngus commented on #3195
There are also knock-on effects, ie I suspect that the chances of running Python3 on XenServer 6.x is near zero.

[2019-06-05 11:03] svanharmelen commented on #3321
@DaanHoogland as already mentioned, option 1 works and allows me to test all the logic using the simulator. So that is good news!

But my remaining issue (worry) is that when people are using the updated code against a real environment they will encounter the same issue. And then asking everyone to update their network offerings seems like as poor solution for them.

[2019-06-05 11:14] DaanHoogland commented on #3321
Yes, @svanharmelen.
I agree a real live environment behaves different, but the premise is that adding a static NAT address to an unimplemented network would not work anyway as the IP would be used for source-NAT. Hence the solution in #3125 containing the line https://github.com/apache/cloudstack/blob/master/server/src/main/java/com/cloud/network/IpAddressManagerImpl.java#L1433 . It may be that th

[2019-06-05 11:22] DaanHoogland opened #3377 "project tags test fails in all travis runs"
test_15_project_tag in component/test_tags fails consistently in travis jobv 17

##### ISSUE TYPE

 * Bug Report
 * Other - test failure

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-06-05 11:25] ustcweizhou commented on #3321
@DaanHoogland
if we add a new parameter issourcenat in AssociateIPAddrCmd to indicate whether the ip is used for source nat (default value is false), will the issue be solved ?

[2019-06-05 11:47] DaanHoogland commented on #3321
@ustcweizhou , I am not sure.
Would it make sense to ever set it to true? usually the source nat address is the one automatically added. Not sure if the use-case where the next one is specifically for source nat as well is really useful. I have been thinking about this kind of solution as well. Of course we then need to handle the value as well; This is somewhat I meant with "refactoring the way I

[2019-06-05 11:55] svanharmelen commented on #3321
That could also work. In the Terraform network resource I added a [source_nat_ip](https://github.com/terraform-providers/terraform-provider-cloudstack/blob/master/cloudstack/resource_cloudstack_network.go#L115) option that adds the NAT IP right after creating the network. This abstracts the problem for our users a little, but now fails with 4.12.x.x

[2019-06-05 12:08] ustcweizhou commented on #3377
@DaanHoogland
in test_tags.py, projectid needs to be added.

[code]

[2019-06-05 12:51] wido commented on #3195
@PaulAngus Python 2 is EOL in 2020, so any plans on what Xen is going to do?

But this doesn't stop us to fix other Python code before that time.

[2019-06-05 13:14] #3363 closed

[2019-06-05 13:27] rhtyd commented on #3195
I think we'll need to deprecate all the XS 6.x, which we can discuss and aim to do in 4.14 and onwards. XS7 or xcp-ng 7.x with CentOS7 based dom0 may be more easy to support python3.

[2019-06-05 17:49] richardlawley opened #3379 "SRX Plugin Cannot add Port Forwarding Rule"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced Networking

##### OS / ENVIRONMENT

Model: srx345-dual-ac
Junos: 15.1X49-D110.4
JUNOS Software Release [15.1X49-D110.4]

##### SUMMARY

When trying to add a port forwarding rule, it fails with a syntax error.  If this ever worked, then I suspect the syntax of the API comma

[2019-06-05 17:49] richardlawley commented on #3379
I will attempt to fix this, hopefully in time for 4.11.3

[2019-06-05 21:01] richardlawley commented on #3379
This was fixable by changing the script template at `scripts/network/juniper/dest-nat-rule-add.xml` - replacing <dst-port> with <low>.

Before submitting this as a PR, I would welcome thoughts on whether this is ever likely to have worked in the past - if so it may turn out that the fix for more modern JunOS breaks older versions.  However, the version on the supported hardware list (JunOS 10) wen

[2019-06-06 07:50] PaulAngus commented on #3229
LGTM - Tested using vmware 65u2, a windows 2008r2 VM and Centos53 VM
Windows 10 with Chrome, Firefox and Edge
CRTL A, V, C   etc work as expect

[2019-06-06 07:54] #3229 closed

[2019-06-06 09:35] rhtyd commented on #3379
@richardlawley can you start a discussion on dev and users ML. I don't think most of us have srx/infra to test your fix.

[2019-06-06 10:03] rhtyd opened #3380 "Don't report INFO alerts for router monitoring alerts"
The VR alerts may also include INFO (non-issue/error) related errors which may confuse the admins that there is a problem in the VR. The alerts should not be sent for INFO messages, but may be logged.

##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

[2019-06-07 06:06] PPisz commented on #3364
LDAP root admin sees all networks through the API (not in UI).
Real admin see all networks in UI.

[2019-06-07 07:00] rhtyd commented on #3327
@shwstppr can you pick this up?

[2019-06-07 07:01] rhtyd commented on #3264
@shwstppr can you pick this up?

[2019-06-07 07:04] rhtyd commented on #3191
@shwstppr can you pick this one?

[2019-06-07 12:32] richardlawley opened #3385 "UI Translate code removes same-level content"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The UI code replaces `<translate key="blah"/>` with the localised content.  However, the translate code incorrectly removes content at the same level, for example the Zone Names on the capacity list of the dashboard:

[code]

This re

[2019-06-07 12:58] Doni7722 opened #3387 "Ability to make a scheduled start or stop of VM's"
##### ISSUE TYPE

 * Improvement Request
 * Enhancement Request
##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Ability to create scheduled tasks to start or stop VM's. Currently the only way to accomplish that is by scripts which will run in the desired time you would like to launch the VM's. Would be great to h

[2019-06-07 14:13] gildegoma opened #3388 "User timezone is forced to UTC when user.timezone is undefined"
##### ISSUE TYPE

 * Bug Report (regression apparently introduced by 0102e8593db435d5fa10d116470a37b220a0a257)

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

###### Before CloudStack 4.11.0.0:
If the user.timezone is NULL, the API login response doesn't contain any timezoneoffset (nor timezone) attribute. In su

[2019-06-10 03:13] conradrock commented on #3281
Just to note, I observed this exact same behavior. I was searching to determine a fix, but I'm on XCP-ng 7.6, adding iSCSI block storage, works fine with the XCP-ng 7.6 hosts directly, but I can't add block storage to CloudStack. Here's an example error, numerous others follow.

`2019-06-09 22:59:53,885 WARN  [o.a.c.s.d.l.CloudStackPrimaryDataStoreLifeCycleImpl] (qtp2114650936-334:ctx-09e3deab ctx

[2019-06-10 12:01] rhtyd opened #3392 "Dedicate VMware hosts are still used for template seeding"
When a VMware host is dedicated to an account, the host may still be used for preparing templates. A dedicated host owner/account may not prefer that their host is used for template preparations.

## Types of changes

- [ ] Breaking change (fix or feature that would cause existing functionality to change)
- [ ] New feature (non-breaking change which adds functionality)
- [X] Bug fix (non-breaking

[2019-06-10 17:20] #3357 closed

[2019-06-10 17:46] richardlawley commented on #3379
@rhtyd I've submitted which a fix that makes the plugin usable on later versions with one manual change to the script XML file - this was to not break compatibility for anyone still using the very old versions.

Need to work out how to address it going forward in the next version though.

[2019-06-11 09:58] pmury opened #3397 "Docker simulator not working, built in DB configuration problem"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Docker CE 18.09.6

##### OS / ENVIRONMENT

Ubuntu 18.04.2 LTS

##### SUMMARY

Can't access UI via localhost:8080: 503 error Service not available.
According to docker logs there's a database configuration problem:
Caused by: java.sql.SQLException: Access denied for user 'cloud'@'lo

[2019-06-11 10:40] pmury commented on #3397
Seems like deployment scripts assume there should be a DB user named "cloud" but it is not in the database delivered with the simulator:
[code]

[2019-06-12 09:04] pmury opened #3399 "Support LZOP for templates"
##### ISSUE TYPE

 * Feature Idea

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

Currently, we use bzip2/gzip compression for templates.
However, LZOP (Lempel–Ziv–Oberhumer) algortihm can perform much faster though somewhat worse performance.
It would we great to be able to register templates in LZOP format.

According to this small benchmark, LZOP can be about 10x

[2019-06-12 10:10] nlindblo commented on #3321
@svanharmelen am I right in assuming that this will be fixed at next Cloudstack release 4.13 if none of the above options will move forward ?

[2019-06-12 10:19] svanharmelen commented on #3321
@nlindblo please define `this will be fixed`? Not sure what you mean with `this` here 😉

[2019-06-12 10:22] nlindblo commented on #3321
@svanharmelen Sorry for being unclear, basically I mean if Packer & Terraform will work again after the 4.13 Cloudstack release or if I need to consider rolling back to 4.11 to continue using the Hashicorp tools

[2019-06-12 10:37] svanharmelen commented on #3321
@nlindblo no problem! I think Packer should work as expected (it already updated to support 4.12. Terraform should work as well, except for creating certain network types.

If you encounter any specific errors that seems other then mentioned here, please open an issue with the related tool. Thanks!

[2019-06-12 11:03] nlindblo commented on #3321
@svanharmelen I'm still getting "cannot unmarshal string into Go struct field DeployVirtualMachineResponse.ostypeid of type int64" when running packer 1.4.1 as per https://github.com/hashicorp/packer/issues/7557

[2019-06-12 11:35] svanharmelen commented on #3321
If you look at the [CHANGELOG](https://github.com/hashicorp/packer/blob/master/CHANGELOG.md) you'll see that the CloudStack fix is not part of `1.4.1` but is merged into master and will be part of the `1.4.2` release.

[2019-06-12 14:27] rhtyd opened #3400 "Allow normal users to download template when template are not extractable"
On VMware env, a user is unable to download the template without having the extractable option enabled.

It is reported from the user that the option to enable the extractable parameter in project view is unavailable for normal users and the same is in the default view. (may need an investigation to confirm). The same options may be provided while creating a template from a volume snapshot.

#####

[2019-06-12 14:52] ustcweizhou commented on #3400
as far as I know only the owner can change the option.

[2019-06-12 15:33] Doni7722 commented on #3339
I did install CloudStack 4.11.3 RC to test the new behaviour but saw that it is still producing an unexpected exception. In my point of view it should produce an error where it says "cannot create tag because tag already exists" or something but not an unexpected one like it does under 4.11.3 RC. Here the error I got:
[code]

[2019-06-12 16:23] darkfiberiru opened #3401 "Support for bhyve hypervisor on FreeBSD"
##### ISSUE TYPE

 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Bhyve as hypervisor on freebsd

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Currrently bhyve isn't a supported hypervisor. Bhyve has some libvirt support. Need to clarify what work needs done to integrate bhyve as an option for hypervisor. Ticket has been open on jira for

[2019-06-12 16:24] darkfiberiru commented on #3401
I would appreciate any help with understanding the scope of work for this integration.

[2019-06-12 16:47] richardlawley opened #3402 "VPC RVR: Delete first tier with Private GW - Both VRs become MASTER"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Redundant VPC

##### OS / ENVIRONMENT

N/A

##### SUMMARY

I'm creating this bug report to track [CLOUDSTACK-9885](https://issues.apache.org/jira/browse/CLOUDSTACK-9885), since there's nothing in any milestones over here for it.  A PR #2128 was created, but the PR wasn't completed

[2019-06-13 08:07] anuragaw commented on #3385
This should be fixed on latest master @richardlawley https://github.com/apache/cloudstack/pull/3326

CC/ @rhtyd , @rafaelweingartner , @PaulAngus

[2019-06-13 08:09] svenvogel commented on #3401
@darkfiberiru thanks for the issue. i think there is no plan to integrate it. @andrijapanic is this correct?

[2019-06-13 08:19] richardlawley commented on #3385
@anuragaw #3326 only fixes the Dashboard instance - there were about 10 occurrences of the same problem which I fixed in #3386.  However, the method you used to fix (wrapping in a label) is better than mine.  Will try and alter mine to fix the other occurrences.

[2019-06-13 10:09] DaanHoogland commented on #3388
@gildegoma I wonder if using the browser time offset is really what you want as a lot of multitimezone implementations exist. What would you do to mitigate no timezone  vs UTC?
/cc @rhtyd

[2019-06-13 10:20] #3327 closed

[2019-06-13 10:21] #3385 closed

[2019-06-13 10:27] rhtyd opened #3404 "Improve volume migration without using secondary storage if possible"
Currently, a volume migration from one primary storage to another primary storage pool happens via the secondary storage (or a caching storage pool if available). It's possible that both the primary storages are reachable from one-another and in which case the migration can happen directly. In case of VMware, (did not test but per tribal knowledge) a snapshot is taken then it is copied to secondar

[2019-06-13 12:32] rhtyd commented on #3400
I've not tested it, if it's not a valid bug, we can close it after reproduction.

[2019-06-13 15:54] gildegoma commented on #3272
FYI: I did some validation tests against CloudStack 4.11.3.0-RC1, and can confirm that this issue is now elegantly resolved :+1:

 :heart: :heart: :heart:

[2019-06-13 15:54] gildegoma commented on #3354
FYI: I did some validation tests against CloudStack 4.11.3.0-RC1, and can confirm that this issue is now elegantly resolved :+1:

 :heart: :heart: :heart:

[2019-06-13 18:28] darkfiberiru commented on #3401
Any help understanding the scope of work for a third party wanting to contribute the integration would be helpful. I can go reread through the docs and look at other platforms but really my expertise is more in the FreeBSD side then the java integration side that I understand is needed.

[2019-06-13 20:57] gildegoma commented on #3388
@DaanHoogland I have no preference for one solution over the other one, but I wanted to report and address the following points:

1. This new behaviour was _silently_ introduced in 4.11.0.0. (This change was not part of CLOUDSTACK-10129 [initial] goals, as far as I understood)
1. What are the exact benefits of this new behaviour?
1. If this new behaviour is kept in the future, I'd propose to consi

[2019-06-13 21:52] svenvogel commented on #3401
@darkfiberiru why do you need this hypervisor? there are different ... like kvm, esxi or xen? is it because you want only use bsd and not CentOS or Ubuntu?

[2019-06-14 02:07] #2741 closed

[2019-06-14 09:39] richardlawley commented on #3343
Just come across this - would be nice if there was a way that you could list all "things" regardless of project or not.  Right now it looks like you have to do project=-1 to get anything in a project, and miss the project param for anything not in a project.

[2019-06-14 10:26] rhtyd commented on #2528
For reference, the fix broke packer for 4.11.3+, 4.12.0+ etc: https://github.com/xanzy/go-cloudstack/issues/117

[2019-06-14 15:10] andrijapanicsb commented on #3401
I'm not aware of any such effort, and (though not a developer myself) I could assume a substantial amount of work to support a new hypervisor, i.e. nobody is going to do it for fun during few beers@weekends

[2019-06-14 19:54] darkfiberiru commented on #3401
@svenvogel  The want of bsd is alot/most of the reasoning behind it. Licensing of BSD, growth of the project through interaction with other project, preference of administration with bsd.

Previously we had a developer mostly dedicated to bhyve at ixsystems who had tried to reach out to the community(see ticket from jira above). Once I saw that and that tickets were now being done here I created t

[2019-06-14 20:16] svenvogel commented on #3401
@darkfiberiru thats true. i dont know ixsystems before. i see they use freenas. i think the same like like @andrijapanic its a lot of work. i think without professional programmer its not easy to implement. my suggestion is to migrate to another hypervisor. 👍

[2019-06-14 20:26] darkfiberiru commented on #3401
@svenvogel A little off topic but we at ixSystems maintain FreeNAS and have written 95%+ of code not drawn in from other opensource projects since 2015. I am reaching out as an individual to be clear not as iX itself. But still I understand this is not a small amount of work. What I'm trying to understand is if contributions would be welcome and maybe organize the work that would need done. Figure

[2019-06-14 21:05] andrijapanic commented on #3401
Contributions are always welcome - as long as it's done properly/with good
quality.

What we are, perhaps, trying to say,  is that i.e. you / ixsystems /
someone else interested to "sponsor" (i.e. spend hundreds and hundreds and
hyndreds of hours) can do this and contribute back to community/upstream.

All contributions are welcome, as long as it makes sense. I'm personally
not familiar with BSD v

[2019-06-14 21:26] svenvogel commented on #3401
@darkfiberiru i understand what you mean. i saw many projects and plugins that were supported in the past. i want to avoid to start with a project and after some time nobody to be care of it. contributions are also welcome! its only my point of view to work on something its already established/implemented and avoid something will be orphaned after some time. if there is enough man power i dont see

[2019-06-17 12:06] andrijapanicsb opened #3408 "VMware Worker VM doesn't get recycled after a configured timeout"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

VMware 6.5u2 (should be irelevant)

##### OS / ENVIRONMENT

mgmt = CentOS 7 (irelevant)

##### SUMMARY

Temp VMware worker VM used to export volume snapshot is not being recycled (i.e. removed) after the timeout is reached (and when configured to be removed). Root cause seems to be

[2019-06-17 12:11] andrijapanicsb commented on #3408
FYI @nvazquez @rhtyd

[2019-06-17 13:17] richardlawley opened #3409 "RvR Services should be provided on VIP instead of VR IP"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced Networking, possibly also VPCs

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Redundant VRs provide their services on their own internal IP rather than the Virtual IP.  This leads to a number of problems, mostly triggered around VRs failing over after a VM has booted:
* DHCP

[2019-06-19 11:28] richardlawley commented on #3409
To elaborate on the DHCP problem, this is related to #3351.  The VMs we've found most affected by this are Linux machines with a secondary internal IP.  Their primary IP comes from DHCP, but the secondaries are all statically configured.

If the DHCP lease is renewed, no problem occurs.  However, if a renew fails and a re-discover takes place, the statically configured secondary IPs are all remove

[2019-06-19 15:00] gsirett commented on #3401
guys - why don't you move this conversation over to the dev@ mailing list? - I think you'd get more involvement there

[2019-06-19 15:22] udee297 opened #3411 "management database corrupted missing ibdata1"
hi,

can anyone help me?
my management server database corruped and file ibdata1 error only 60kb size..
and my kvm host went down..
is there any way to fix this?
or at least run the kvm for awhile

[2019-06-19 20:31] svenvogel commented on #3401
K! we close it here!

[2019-06-19 20:31] #3401 closed

[2019-06-20 17:31] rhtyd commented on #3402
Related https://github.com/apache/cloudstack/pull/2128

[2019-06-20 18:02] rhtyd commented on #2604
This is now fixed under https://github.com/apache/cloudstack/pull/3344 which will export both vm and volume name and UUIDs wherever applicable.

[2019-06-20 18:02] #2604 closed

[2019-06-20 18:10] rhtyd commented on #3274
Due to backward compatibility issues, we cannot change the default setting for the Small offering. However, we can introduced a Large (L) and Extra Large (XL) offering.

[2019-06-20 18:13] rhtyd commented on #3305
The settings clearly ask to enter the domain and not the URL. @fpaillot you may use a service such as xip.io or sslip.io for dynamic resolution of domain-address.

[2019-06-20 18:15] rhtyd commented on #3409
@ustcweizhou can you share the diff/patch or send a PR in case you've solve this issue in your tree?

[2019-06-20 18:15] rhtyd commented on #3411
@udee297 kindly join the users list and ask questions there: http://cloudstack.apache.org/mailing-lists.html

[2019-06-20 18:15] #3411 closed

[2019-06-20 20:54] ustcweizhou commented on #3409
@rhtyd
I have checked all my code. it seems very difficult to port our changes to 4.11 or 4.13 as there are big difference between our branch and 4.11/4.13.
Anyone who is interested in the fixes please feel free to pick it up.

[2019-06-20 21:57] rhtyd commented on #3409
Okay is your tree public/accessible somewhere @ustcweizhou ?

[2019-06-21 19:10] rhtyd commented on #2882
Unable to reproduce, kindly reopen if reproducible.

[2019-06-21 19:10] #2882 closed

[2019-06-22 15:56] andrijapanicsb opened #3416 "VMware: volume statistics show wrong values"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

NA

##### OS / ENVIRONMENT

NA

##### SUMMARY

physical volume size reported is wrong, and doesn't change after you write a lot of data to the VM's root disk (be it linked clone or full clone)

##### STEPS TO REPRODUCE

configure "volume.stats.interval" to 60000 (these are millisec

[2019-06-22 16:01] andrijapanicsb commented on #3416
Initial support seems implemented in 4.11 https://github.com/apache/cloudstack/commit/4627fb2cd7556173bd7e58bf1bec22c93a78f31d

But 4.11.2 is not working - so not sure if it was ever working properly.

Works fine for KVM.

[2019-06-22 20:03] ustcweizhou commented on #3409
@rhtyd
I spent spare time on these issues, they seem to be fixed now.
I will test it and create PR next week.

[2019-06-23 18:20] rhtyd commented on #3409
Thanks @ustcweizhou looking forward to your PR

[2019-06-24 09:13] rhtyd commented on #2611
@nathanejohnson @giorgiomassar8 @GabrielBrascher @wido is this still an issue, should we close it or is there a PR coming?

[2019-06-24 09:13] rhtyd commented on #3114
cc @anuragaw can you take this one?

[2019-06-24 14:21] #2643 closed

[2019-06-25 10:10] rhtyd commented on #2611
@nathanejohnson @giorgiomassar8 @GabrielBrascher @wido kindly discuss and advise a milestone in case a PR is coming soon. I've removed this issue from 4.13.0.0.

[2019-06-25 10:13] rhtyd commented on #3172
Per the docs, upload should work over http https://github.com/apache/cloudstack-documentation/pull/37/files
The failure could be env related and needs investigation.

[2019-06-25 10:24] rhtyd commented on #2539
I'm not sure how to fix this one, any ideas @DaanHoogland @rafaelweingartner ? Should we export LANG via the /etc/default/cloudstack-management or open a docs PR?

[2019-06-25 10:24] rhtyd commented on #2740
@nvazquez can you advise what is necessary to remedy the issue?

[2019-06-25 10:25] rhtyd commented on #2863
Relevant issue opened, closing this one as https://github.com/apache/cloudstack/issues/2885

[2019-06-25 10:25] #2863 closed

[2019-06-25 10:26] rhtyd commented on #3001
Is this bug fixed or are you working on it - @svenvogel @DennisKonrad ?

[2019-06-25 10:27] rhtyd commented on #3006
Can you test with 4.11.2.0 or latest? I'm unable to reproduce this @ccheline

[2019-06-25 10:27] #3006 closed

[2019-06-25 10:28] rhtyd commented on #3025
@dubauski sorry we couldn't get to this earlier, we'll try to reproduce this and get back to you. Could you also consider testing 4.11.2.0 which has several improvements and fixes over 4.11.1.0?

[2019-06-25 10:28] rhtyd commented on #3047
ping @nvazquez can you advise?

[2019-06-25 10:30] rhtyd commented on #3050
Closing the issue, will carry discussion and testing over the PR.

[2019-06-25 10:30] #3050 closed

[2019-06-25 10:30] rhtyd commented on #3051
Not able to reproduce it.

[2019-06-25 10:30] #3051 closed

[2019-06-25 10:45] ustcweizhou commented on #3025
@dubauski are the public ips in same subnet or different subnets ?

[2019-06-25 11:40] #2700 closed

[2019-06-25 11:52] nvazquez commented on #3047
Thanks, @wido for reporting this issue. I'll work on it

[2019-06-25 16:52] rhtyd commented on #3017
Can you advise how to check/test/fix this?

[2019-06-25 16:54] rhtyd commented on #3043
With https://github.com/apache/cloudstack/pull/3244 the settings tab editing is not allowed when VM is running in the UI. However I don't think we should restrict users to not change the values, as it is allowed via API anyway.
With https://github.com/apache/cloudstack/pull/3240 feature, users will know possible options they can pass. Wrt KVM, the number of allowed options/details are minimal.

[2019-06-25 16:54] #3043 closed

[2019-06-25 22:31] nvazquez commented on #3017
@rhtyd to test this we need to open a console proxy on any guest VM and select the French AZERTY keyboard. Then try to type a backslash using this combination of keys: 'ALTGR' + '8'. The output character won't be a backslash. Have tested this on 4.11 and 4.12 but not on current master

[2019-06-26 02:21] #3090 closed

[2019-06-26 02:32] #2742 closed

[2019-06-26 02:45] rhtyd commented on #3265
This looks like a configuration issue, please check docs on using the template upload feature.

[2019-06-26 02:45] #3265 closed

[2019-06-26 02:47] rhtyd commented on #3169
When L2 is selected, other services shouldn't be shown. For config drive, select the user data option.

Closing as it's not a bug on master.

[2019-06-26 02:47] #3169 closed

[2019-06-26 02:51] rhtyd commented on #3052
Nuage plugin removed on master, the code around that threw exception. Closing as not applicable on master.

[2019-06-26 02:51] #3052 closed

[2019-06-26 04:57] #2853 closed

[2019-06-26 07:28] anuragaw commented on #3114
Sure @rhtyd . Looking at it starting today.

[2019-06-26 09:13] rhtyd opened #3426 "Build a new Debian 10 systemvmtemplate for 4.14+"
Outstanding items for the new feature/infra:

- Build systemvmtemplate based on Debian 10 without JRE11, but have systemvms's agent.zip have JRE embedded using jlink
- Start only services on setup/boot, don't enable by default
- Have a one-shot ACS services, that terminate after running
- Evaluate if number of processes could be reduced, as well the image size
- Implement a livepatch upgrade proce

[2019-06-26 09:28] rhtyd commented on #3059
When a template is created under a project, the owner of the template is the project account; and the public access is limited to the project. So, you would only be allowed to use the template to deploy a VM within the project. This PR adds functionality to share a template that belongs to a project to be shared with other accounts that you can use in 4.13: https://github.com/apache/cloudstack/pul

[2019-06-26 09:28] #3059 closed

[2019-06-26 09:29] rhtyd commented on #2648
Closing as this is similar to https://github.com/apache/cloudstack/issues/2871, we'll address issues against https://github.com/apache/cloudstack/issues/2871

[2019-06-26 09:29] #2648 closed

[2019-06-26 09:31] rhtyd commented on #2871
@anuragaw can you take this one as well. We need to do the following:
- Reproduce the issue mentioned in this ticket
- Create templates from a snapshot, and also register a template under a project; for both cases confirm that it shows up in the UI in the template
- Fix any access checks if necessary

[2019-06-26 09:39] rhtyd commented on #3087
Based on research until XCP-ng 7.5, I see that CloudStack only cares about the production version detail and does not care much about the product name (XenServer vs XCP-ng) therefore no redundant mappings are necessary to add xcp ng version if a similar XenServer version has been added. cc @PaulAngus @andrijapanic
I'll investigate against a live test env and if it confirms my hypothesis close the

[2019-06-26 10:13] anuragaw commented on #2871
Sounds good @rhtyd

[2019-06-26 10:45] rhtyd commented on #3087
Based on https://github.com/apache/cloudstack/pull/3427, XCP-ng does not require explicit version mappings. It uses the internal production name XenServer and version as found on the host.

Host seen in the UI:
![Screenshot from 2019-06-26 16-12-17](https://user-images.githubusercontent.com/95203/60173910-7d9e7e00-982d-11e9-9f32-afcfa6388876.png)

Host console view:
![Screenshot from 2019-06-26 16

[2019-06-26 10:45] #3087 closed

[2019-06-26 10:50] anuragaw commented on #2871
I have tried some combinations but the bug is not reproducible on master.
@izenk - can you verify if you can reproduce it on master?
CC/ @rhtyd, @shwstppr

[2019-06-26 11:00] #3305 closed

[2019-06-26 11:25] rhtyd commented on #3416
Will investigate this tomorrow @andrijapanic cc @PaulAngus @borisstoyanov

[2019-06-26 11:27] DaanHoogland commented on #2539
@rhtyd we need to test that if we force LANG=C on the server we have no issues on the UI. If that's the case your solution should/could/would solve this.
Being Dutch, I never use Dutch, so I have no experience with this. (Dutch also uses a decimal comma instead of a point and uses the point for thousands separation to make things worse)
In general I prefer the reasonable default over the good docu

[2019-06-26 11:29] DaanHoogland commented on #2740
Upgrade scripts should use the new addGuestOs API as well. (my €0,02)

[2019-06-26 11:59] DaanHoogland commented on #3017
@nvazquez I just turned on french on my keyboard but in github it does not give me a '\' under ALT-8. instead it gives '¡', '8' or 'Û' depending on other modifiers. In fact the '\' is not found anywhere on that keyboard layout. When using the ABC-AWERTY layout the '\' is found under right-ALT-shift-'.'.
However when choosing french-PC as keyboard I do get '\' (using the right alt modifier). I thin

[2019-06-26 17:48] #3164 closed

[2019-06-27 03:36] #3291 closed

[2019-06-27 06:48] anuragaw commented on #3114
Traced back the bug introduction to https://github.com/apache/cloudstack/commit/41fdb88970d1a33d57ff08a3ecc239ec898956dc#diff-6e2b61984e8fa2823bb47da3caafa4eeR3174

[2019-06-27 07:27] rhtyd commented on #3041
Ping @anuragaw

[2019-06-27 07:27] rhtyd commented on #3178
Ping @anuragaw

[2019-06-27 09:10] anuragaw commented on #2768
I am unable to reproduce the issue on latest master on Ubuntu Chrome.
@borisstoyanov - can you please see if it still breaks for you and if yes can you please advise the environment (indluding browser) that it breaks on.
CC/ @rhtyd

[2019-06-27 10:51] rhtyd commented on #2768
LGTM, I'm unable to reproduce as well. Closing this.

[2019-06-27 10:51] #2768 closed

[2019-06-28 06:19] anuragaw commented on #2895
Pushed a PR for fixing the bug @izenk

[2019-06-28 06:38] rhtyd commented on #2724
@anuragaw can you verify fix this, since I think you've fixed sorting for couple of resources in the UI.

[2019-06-28 06:42] rhtyd commented on #2871
Closing on your remark @anuragaw
@izenk please reopen if you could reproduce the issue with latest master/4.13

[2019-06-28 06:42] #2871 closed

[2019-06-28 06:44] rhtyd commented on #3056
Instead of removing the feature - we could allow admins/users to setup SSL termination via HAProxy that makes this an enhancement.

[2019-06-28 07:00] anuragaw commented on #2724
Copy @rhtyd

[2019-06-28 07:24] rhtyd commented on #3252
This exists in master:
[code]

[2019-06-28 07:28] rhtyd commented on #3103
Dupes: https://github.com/apache/cloudstack/issues/3025
Will try to fix towards 3025

[2019-06-28 07:28] #3103 closed

[2019-06-28 07:28] rhtyd commented on #3104
Dupes: https://github.com/apache/cloudstack/issues/3025
Will try to fix towards 3025

[2019-06-28 07:28] #3104 closed

[2019-06-28 07:29] rhtyd commented on #3103
@dubauski release notes are here: http://docs.cloudstack.apache.org/en/4.11.2.0/releasenotes/index.html

[2019-06-28 07:29] rhtyd commented on #3025
Related: https://github.com/apache/cloudstack/issues/3103
Related: https://github.com/apache/cloudstack/issues/3104

[2019-06-28 08:23] borisstoyanov opened #3440 "extract/download marvin tests failing in Trillian"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

test_04_extract_Iso | `Failure` | 1.08 | test_iso.py
test_04_extract_template | `Failure` | 1.06 | test_templates.py
test_06_download_detached_volume | `Failure` | 10.34 | test_volumes.py
are failing in trillian

##### STEPS TO REPRODUCE

[cod

[2019-06-28 08:52] borisstoyanov commented on #3440
the following exception appears when calling urllib.urlopen(formatted_url) from the test.
'\\'SSLContext\\' object is not callable'

So the current marvin test needs to be revised to check properly download when ssl is enabled

[2019-06-28 10:33] rhtyd commented on #3440
@borisstoyanov can you try to install `pip install requests[security]` (ensure both pip and python are 2.x, not 3.x) on the marvin/box where you're trying to run the test. It's possibly it's not the test issue, but issue with the python/env. If with this, test passes then we can fix it in Trillian. cc @PaulAngus @andrijapanic

[2019-06-28 10:54] cl-k-takahashi opened #3442 "UserDispersingPlanner only counts Running vms on hosts."
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When you try to deploy multiple vms in a short time, their state will go to 'Starting' state.
According to UserDispersingPlanner.java, it counts only Running vms on hosts to calculate priority of destination hosts to deploy vm. As a r

[2019-06-28 11:21] borisstoyanov commented on #3440
@rhtyd pip says 'Requirement already satisfied'

[2019-06-28 11:34] rhtyd commented on #3440
okay let me pick this up as part of stabilisation effort on master I plan to do next week @borisstoyanov

[2019-06-28 11:55] nvazquez opened #3443 "Log file access.log is not being rotated"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The log file `access.log` is not being rotated after the transition to a single jar file for management server on 4.11, causing the file to keep growing in size

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

#

[2019-06-28 18:54] #3117 closed

[2019-06-29 09:21] rhtyd commented on #3442
UserDispersingPlanner can consider both VMs in running and starting states.

[2019-06-29 10:19] rhtyd commented on #3071
I couldn't reproduce this against latest master and on Ubuntu and Windows 10, will test again. In your tests, was an issue with pre-shared key @msinhore @DennisKonrad ?

[2019-06-29 10:23] rhtyd commented on #3179
@DennisKonrad can you confirm if you managed to fix the issue? Are you using OVS with KVM? I could not reproduce the error on KVM/centos7 with standard Linux-bridge networking.

[2019-06-29 10:44] rhtyd commented on #3311
I checked the jdk docs, the order of the list of interfaces and addresses returned by `getInterfaceAddresses` is implementation and platform dependent so I'm not sure if the list need to be reversed. I think the workaround you've used @NuxRo is good enough.
@ustcweizhou can you comment if reversing the order would make sense wrt Linux?

For most users they can now use the software lb, by passing m

[2019-06-29 13:05] anuragaw commented on #2724
DB support for service offerings was existing but I discovered another bug while testing and fixed it in the above PR.

[2019-06-29 13:08] anuragaw commented on #3050
Templates now support a sortkey in master and this issue is no longer needed.

[2019-06-29 19:26] ustcweizhou commented on #3311
@rhtyd

I tested the following java code in centos6, centos7, ubuntu12 and ubuntu16.
It lists all devices and ips in reverse order as "ip a".
So I think it is better to reverse the ip addresses as usually we use the first ip of nics for communication.

ListNetworkAddresses.java
[code]

command
[code]

[2019-06-29 19:27] rhtyd commented on #3311
Thanks @ustcweizhou in that case can you send a PR?

[2019-06-29 19:43] ustcweizhou commented on #3311
@rhtyd will do

[2019-06-29 20:13] ustcweizhou opened #3446 "Cannot deploy new vm in isolated network 4.11.3"
When I did
(1) created an isolated network in 4.11.2.0, and associate some public IPs.
(2) upgraded cloudstack to 4.11.3.0,
(3) restart network with cleanup to get new virtual router,
(4) tried to deploy a new vm but failed

##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS T

[2019-06-29 20:15] ustcweizhou commented on #3446
@rhtyd
I think this is a blocker issue in 4.11.3
It is related to 2f268fbb52203cae96d0cff57c189600abab1390

It works if I revert the following line
https://github.com/apache/cloudstack/blob/4.11/systemvm/debian/opt/cloud/bin/cs/CsAddress.py#L521
back to
[code]

[2019-06-29 20:28] rhtyd commented on #3446
Thanks @ustcweizhou I'll get back to you. Feel free to send a PR.

[2019-06-29 20:33] ustcweizhou commented on #3446
@rhtyd I am not sure if it will break something.
@richardlawley can you please have a look ?

[2019-06-30 07:09] ustcweizhou commented on #3446
@rhtyd
I tested again. but cannot reproduce it ,weird.
close this issue then.

[2019-06-30 07:09] #3446 closed

[2019-06-30 11:27] msinhore commented on #3071
@rohit I changed the strongswan package to 5.7.2-1 from debian testing in
systemvm template and  now it is working fine. I suggest upgrade the
strongswan package to this version.

https://packages.debian.org/search?keywords=strongswan

On Sat, Jun 29, 2019 at 7:19 AM Rohit Yadav <notifications@github.com>
wrote:

--
Marco Sinhoreli

[2019-06-30 11:28] rhtyd commented on #3071
Thanks @msinhore the new 4.11.3 systemvmtemplate has the latest package. Closing on your remark.

[2019-06-30 11:28] #3071 closed

[2019-06-30 11:30] rhtyd commented on #3446
Thanks for confirming @ustcweizhou

[2019-06-30 11:32] msinhore commented on #3071
@rhtyd can you confirm the strongswan version are you using in the new systemvm template? 4.11.2 is using a debian stable and it isn't working for both, s2s VPN and client. The 5.7.2-1 is ok from me.
# dpkg -l strongswan

[2019-06-30 16:32] rhtyd commented on #3071
The template has https://packages.debian.org/stretch/strongswan

[2019-06-30 16:32] rhtyd commented on #3071
I guess you'll have to upgrade for your specific environment @msinhore

[2019-07-01 03:55] bwsw opened #3447 "NFS Cluster-wide storage capacity calculation and overprovisioning"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Cloudstack with KVM and NFS

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

When NFS cluster-wide primary storage is used, the capacity limitations are calculated wrong way:
* storage.overprovisioning.factor configured for the storage is not taken into account;

##### STEPS T

[2019-07-01 04:11] huadream opened #3448 "Quota calculation is incorrect"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

https://github.com/apache/cloudstack/blob/1d05fead49f5c856257a741b07122f5633d2e359/framework/quota/src/main/java/org/apache/cloudstack/quota/QuotaManagerImpl.java#L101
The default value of `usage.stats.job.aggregation.range` is 1440.
_aggregat

[2019-07-01 06:49] rhtyd commented on #3448
Ping @msinhore can be comment ^^

[2019-07-01 07:45] anuragaw commented on #2874
Close to finalizing this. Discovered an unrelated change with this investigation in GenericDaoBase#searchAndCount

[2019-07-01 07:54] anuragaw commented on #3442
Working on this.

[2019-07-01 09:13] ustcweizhou commented on #3311
@rhtyd
can you test the following code to see if you can get same result ?
https://docs.oracle.com/javase/tutorial/networking/nifs/listing.html

save as ListNets.java and run "javac ListNets.java && java ListNets"

I got reverse order as it shows in my testing.

[2019-07-01 12:16] rhtyd commented on #3311
Thanks for sharing @ustcweizhou, I'll help review/test when you submit the PR. Thanks.

[2019-07-01 12:52] msinhore commented on #3448
@rhtyd need to be tested. We have it running in production and no one reported any kind of calculation issue.

[2019-07-01 15:05] GabrielBrascher opened #3450 "Port 8096 allows unauthenticated access from any IP."
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

CloudStack provides CloudStack API Unauthenticated Access through port 8096. It should not be open to the Internet in any case. If this port is not properly blocked by a firewall it could be really serious.

##### STEPS TO REPRODUCE

**Using 8

[2019-07-01 17:14] nvazquez opened #3452 "[Usage] Duplicate entries after volume resize"
##### ISSUE TYPE
 * Enhancement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Resize a volume multiple times
On the next run of the usage server, verify the usage.log file

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2019-07-01 18:23] #3182 closed

[2019-07-01 20:36] rhtyd commented on #3450
Not a bug, ships disabled by default. This is a useful feature for testing etc. integration.api.port can be used to turn off and on.

[2019-07-02 07:21] #2895 closed

[2019-07-02 07:46] #3311 closed

[2019-07-02 08:25] ustcweizhou opened #3455 "Configurable disk size of systemvm"
Currently we have systemvm template which has very small disk size.
Because of this, it is difficult to install new packages or upgrade existing packages.
Another issue is, if disk is full, virtual routers will not work because cloudstack will write some files to local disk when new configurations are applied to virtual routers.

Here is the partitions of a virtual router
[code]

##### ISSUE TYPE

[2019-07-02 08:43] onitake commented on #3455
I think it would be much better to create a new template instead of modifying VRs in-place.
That way, you will always get a consistent setup whenever you create or recreate a new system VM.

[2019-07-02 09:00] ustcweizhou commented on #3455
@onitake do you mean create a new systemvm template with bigger disk size ? official release or by ourselves ?

If by ourselves, we need to
(1) create a vm from systemvm template
(2) resize disk
(3) resize partitions
(4) stop the vm
(5) create a template from the vm
(6) upload systemvm template
(7) set template type as SYSTEM in database
(8) change global settings

any other step I missed ?

We ha

[2019-07-02 09:25] kioie opened #3456 "Memory Used is incorrect"
##### ISSUE TYPE

 * Bug Report
##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

Memory metrics for VMs seems to be reporting incorrect info.
When you run the `list virtualmachines` command, the results return values that are not correct
![Screen Shot 2019-07-02 at 12 03 29 PM](https://user-images.githubusercontent.com/20902920/60500584-457ebb80-9cc3-11e9-8f16-afb389e

[2019-07-02 11:10] rhtyd commented on #3456
On which hypervisor are you seeing this @kioie, if it's simulator - note that values are mocked by simulator and are not representative of real-world-hypervisor.

[2019-07-02 11:12] rhtyd commented on #3400
@Spaceman1984 can you have a look on it?

[2019-07-02 11:13] kioie commented on #3456
@rhtyd Hypervisor is KVM ....actually the simulator for some interesting reason doesn't mock any values for memory

[2019-07-02 11:18] kioie commented on #3456
I'm thinking the issue could be because of the below

[code]

stats.setMemoryKBs(info.maxMem);
stats.setTargetMemoryKBs(info.memory);

I believe `maxMem` and `memory` would most likely return similar values

[2019-07-02 11:46] rhtyd commented on #3400
Log examples:
[code]

[2019-07-02 12:54] AndreaGHG opened #3458 "Cannot create zone. "Fail to create a physical network" error with VMWare 6.5 hypervisor"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

New installation from ShapeBlue repository, VMWare 6.5 as hypervisor (VCenter with a cluster), advanced networking.

##### OS / ENVIRONMENT

cloudstack-manager running on CentOS 7

##### SUMMARY

New cloudstack-manager installation, after launching the zone creation process I get "

[2019-07-02 13:41] GabrielBrascher commented on #3450
Closing this issue. However, I think that port 8096 is not disabled by default, at least on ACS environments deployed via deb packages. Thanks for the feedback, @rhtyd.

[2019-07-02 14:17] onitake commented on #3450
I don't think "works as designed" is going to cut it here.

The upgrade docs from 4.5 explicitly mention this management port needs to be active during the upgrade procedure, so scripts can access the API unauthenticated: http://docs.cloudstack.apache.org/en/4.11.2.0/upgrading/upgrade/upgrade-4.5.html#system-vms-and-virtual-routers

Nothing says that the port is a serious security risk and should

[2019-07-02 14:21] ustcweizhou commented on #3458
this seems to be caused by some database issues.
@AndreaGHG can you delete the zone and try again ?

[2019-07-02 14:28] onitake commented on #3450
The code treats `null` as `disabled`: https://github.com/apache/cloudstack/blob/master/server/src/main/java/com/cloud/api/ApiServer.java#L409-L412

But there doesn't seem to be a way to set this variable to `null` it's only validated as an integer.... https://github.com/apache/cloudstack/blob/master/server/src/main/java/com/cloud/api/ApiServer.java#L228-L234

[2019-07-02 14:55] GabrielBrascher commented on #3450
@onitake I agree, I have seen some gray lines on this implementation as well. However, it is possible to disable it by setting it as 0 (_zero_). I tested it myself prior to closing this issue.

The fact that it was configured by default with 8096 concerns me (acs deployed via deb packages on ubuntu). @onitake we might need to take a closer look on the documentations and eventually update it.

@rht

[2019-07-02 15:18] AndreaGHG commented on #3458
I've tried many installation and this happens almost every time.

Now I've deleted the zone, recreated it two times and at the third attempt it has created the zone.

Now there are other problems:

- SSVM doesn't work correctly:
[code]

Manually mount the secondary storage nfs disk (witch is not on 109.68.154.254) on /mnt/SecStorage/ and then I restarting cloud service doesn't fix:

[code]

- Cons

[2019-07-02 15:27] rhtyd commented on #3450
I would advise to keep the feature as is, and improve the cloudstack-sysvmadm to accept apikey or secret key, or username password for authentication. The script maybe rewritten to use cloudmonkey.

[2019-07-02 15:36] onitake commented on #3450
That sounds promising.
Perhaps it makes sense to deploy a local access key during CloudStack installation (or upgrade), that can then be used by the admin script.
Or, the documentation should state that the user must obtain and deploy an access key on the system together with cloudmonkey early on after installation.

However, I think that the main issue is that many CloudStack installations are un

[2019-07-02 15:42] GabrielBrascher commented on #3450
I agree with you both @rhtyd @onitake.
Considering the risks involved, I see some quick and easy ways to mitigate some security issues: (i) improve documentation, and (ii) add warning logs when the port is enabled stating the risks; thus, only those who need the port to be open will leave it.

[2019-07-02 16:22] ustcweizhou commented on #3458
@AndreaGHG could you please upload the management server log ?
It seems the global setting 'host' and 'management.network.cidr' are not configured correctly.

[2019-07-02 17:20] mhp0rtal opened #3459 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => utils/src/main/java/com/cloud/utils/ssh/SSHKeysHelper.java: Line number => 75: API name => MessageDigest:<BR> File name => utils/src/main/java/com/cloud/utils/nio/Link.java: Line number => 371: API name => KeyStore:Second parameter should never be of type java.lang.String.<BR> File name => utils/src/main/java/org/apache/cloud

[2019-07-02 18:24] zjohn77 opened #3460 "CloudStack install on Ubuntu 18.04 fails on mvn -P deps"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
Ubuntu 18.04

##### SUMMARY
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS

[code]

[2019-07-03 06:11] #3178 closed

[2019-07-03 06:12] rhtyd commented on #3178
@ustcweizhou #3306 is merged now, looking forward to any further improvements you've to send around VM listings.

[2019-07-03 07:26] shwstppr commented on #3375
Tested this locally with changes from #3306, fixed now. Can be closed.

[2019-07-03 07:27] rhtyd commented on #3375
Closing on @shwstppr 's remark.

[2019-07-03 07:27] #3375 closed

[2019-07-03 07:27] shwstppr commented on #3264
working on this

[2019-07-03 07:58] rhtyd commented on #3343
The workaround is to either specify a specific projectid=<uuid> or projectid=-1.

A resource under a project is owned by a project (a project account) than a member of the project, which is why such resources are not shown in the default list APIs/views. If we allow listing of all resources, then it may break the UI semantics (backward compatibility). A middle ground could be if `listall=true` is

[2019-07-03 08:04] rhtyd commented on #2740
@nvazquez unless you want to send a PR before 4.13.0.0 freeze, I've moved this to the next major milestone.

[2019-07-03 08:20] NuxRo commented on #3343
Thanks Rohit, that makes sense. To be honest I would not have raised this issue had I known about projectid=-1, but that listall=true does not sound too bad if it could be done.

[2019-07-03 08:25] AndreaGHG commented on #3458
@ustcweizhou I've setted up 'host' and 'management.network.cidr' settings and restarted the service, nothing has changed.

Here you can find the log since the restart:

[csman.log](https://github.com/apache/cloudstack/files/3353936/csman.log)

Thank you!

[2019-07-03 08:35] onitake commented on #3450
By the way:
The description was improved in 4.11.3. It now says "Default API port. To disable set it to 0 or negative."
In 4.11.2, it was simply "Default API port."

[2019-07-03 08:39] Spaceman1984 commented on #3400
I'll take this one on

[2019-07-03 08:51] richardlawley commented on #3455
We create our own systemvm templates and have switched to just root/boot partitions as the many partitions approach just led to inefficient use of space.

[2019-07-03 09:08] ustcweizhou commented on #3455
@richardlawley yes, that's also what we did.

@rhtyd can we do in three steps ?
(1) only one partition in systemvm template
(2) a fixed bigger disk size (?)
(3) configurable disk size. this has low priority if the default size is increased.

[2019-07-03 09:27] rhtyd commented on #3455
@ustcweizhou yes, we can consider that. The main reason to keep separate partitions was to ensure that filling of logs and process creates files in /var/cache/cloud doesn't kill the VM. Do note that the VR could be public facing and may be prone to attacks.

I would propose to keep at least the /var as a separate partition and to support pvgrub based boot on xenserver the /boot has to be an ext2 (

[2019-07-03 09:55] rhtyd commented on #3144
Related/previous old PR https://github.com/apache/cloudstack/pull/1965

[2019-07-03 09:57] rhtyd commented on #3253
The appcookie feature was primary driven by the netscalar implementation (if I recall correctly). Per the haproxy docs `As of version 1.6, appsessions was removed. It is more flexible and more
convenient to use stick-tables instead, and stick-tables support multi-master
replication and data conservation across reloads, which appsessions did not.`. We can explore if an upgrade path is possible.
The

[2019-07-03 10:01] ustcweizhou commented on #3455
@rhtyd awesome !!

[2019-07-03 10:40] richardlawley opened #3461 "guest_os_hypervisor missing entries for XenServer 7.1.2"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

XenServer 7.1.2 (7.1 CU2) Hosts

##### SUMMARY

There are no entries in guest_os_hypervisor for XenServer 7.1.2 (7.1 CU2 - the current LTS XenServer) which means guests are booted using the "Other Install Media" template.  Amongst other things, this mea

[2019-07-03 11:05] anuragaw commented on #3442
Testing was little tricky locally but the PR would be out later today. Verified that counting stating VMs makes sense does not break anything.

[2019-07-03 11:59] kioie commented on #3460
Could you confirm which Java version you're running?

[2019-07-03 13:55] rhtyd commented on #3029
@pbankonier @svenvogel I think this feature could be (a) removed as it does not work, or (b) display list of routers/account this way -> routers belong to networks of project -> find accounts that belong with the project, group accounts by project and group networks to the project -> then group of routers ... (this is complicated), or (c) Alternatively, when project is selected don't pass project

[2019-07-03 13:55] rhtyd commented on #2724
As per remarks on https://github.com/apache/cloudstack/pull/3445, this is fixed. Closing.

[2019-07-03 13:55] #2724 closed

[2019-07-03 14:02] rhtyd commented on #3332
Looks like a backend regression, in the UI I see this:
![Screenshot from 2019-07-03 19-31-13](https://user-images.githubusercontent.com/95203/60597855-4e59b500-9dc9-11e9-880c-925932635c41.png)

@anuragaw since you may be working on outstanding UI issue can you have a look at this?

[2019-07-03 14:09] rhtyd commented on #3341
Custom disk offering for multi-disk ova is not supported because the ova template already may have a data disk/template with fixed size. A custom disk offering would mean, if the provided value is smaller then the data disk is shrunk otherwise expanded. @nvazquez can you share your view?

[2019-07-03 15:49] anuragaw commented on #3332
Copy @rhtyd

[2019-07-03 17:18] zjohn77 commented on #3460
openjdk version "1.8.0_212"
OpenJDK Runtime Environment (build 1.8.0_212-8u212-b03-0ubuntu1.18.04.1-b03)
OpenJDK 64-Bit Server VM (build 25.212-b03, mixed mode)

[2019-07-03 18:05] rhtyd commented on #3460
@zjohn77 thanks for reporting, the build docs on the project docs website are old and need fixing. If you'd prefer to send a pull request to the `cloudstack-documentation` repo, you can do so here: https://github.com/apache/cloudstack-documentation/blob/master/source/installguide/building_from_source.rst

For building/development please refer to:
https://github.com/apache/cloudstack/blob/master/IN

[2019-07-03 18:05] #3460 closed

[2019-07-03 18:11] rhtyd commented on #3461
@richardlawley You can see `engine/schema/src/main/resources/META-INF/db/schema-41000to41100.sql` as a reference on how to add support for a xenserver version. Is it fair to assume that every 7.1.x will support the same sets of xenserver guests? If yes, we can modify the business logic to take any existing mapping for any 7.1.x XenServer version to be used for any new 7.1.y version.

[2019-07-03 18:16] rhtyd commented on #3458
@AndreaGHG can you share your MySQL server version, and if you're using any forks such as MariaDB, or any mysql-proxy etc? Please set the `host` global setting to be the management server host IP address and the `management.network.cidr` to match the management network CIDR, then restart the management server.

Per the exception `Caused by: com.mysql.jdbc.exceptions.jdbc4.MySQLTransactionRollbackE

[2019-07-03 18:17] rhtyd commented on #3456
@kioie are you able to reproduce using latest master?

[2019-07-03 18:48] kioie commented on #3456
The above is on 4.12, but looking at the code base on latest master, doesn't look like much anything has changed on this endpoint

[2019-07-03 19:40] richardlawley commented on #3461
I'm fine with how to fix it on a one-off, but other people might be less comfortable.

Regarding future versions, I think it's possible that they could potentially introduce new templates, so there should still be the capability to add specific overrides, but modifying it to try 7.1.2, 7.1.1, 7.1.0 etc should take care of most situations with the ability to add new rows if needed.

[2019-07-04 09:15] rhtyd commented on #3461
@richardlawley I think we can deal with a large refactoring after 4.13, likely in 4.14, till then I've added the support here: https://github.com/apache/cloudstack/pull/3467/files Please review.

[2019-07-04 09:21] rhtyd commented on #2746
Unable to reproduce. Please test latest 4.11.3.0 or master and reopen if you're able to reproduce.

[2019-07-04 09:21] #2746 closed

[2019-07-04 09:23] rhtyd commented on #2783
@marcowi were you able to resolve the issue, it seems environment specific. Make sure via traffic labels the network devices exist on all hosts.

[2019-07-04 09:23] rhtyd commented on #2862
Can you test against 4.11.2.0 or 4.11.3.0 @izenk ?

[2019-07-04 09:25] rhtyd commented on #3045
Ping @ustcweizhou any update?

[2019-07-04 09:26] rhtyd commented on #3047
Moved to next minor milestone @nvazquez

[2019-07-04 09:32] rhtyd commented on #3285
Cross-cluster migration works in master/4.13. Kindly upgrade and re-open if you're able to reproduce bug in 4.13.

[2019-07-04 09:32] #3285 closed

[2019-07-04 09:40] rhtyd commented on #3349
Please review https://github.com/apache/cloudstack/pull/3468 @ustcweizhou @DaanHoogland

[2019-07-04 09:53] ustcweizhou commented on #3045
@rhtyd
we have ported our changes to 4.11.3 and tested ok. it supports only KVM now.
We will present it in  our presentation in CCC NA 2019.
no ETA to master.

[2019-07-04 09:55] shwstppr commented on #3264
Unable to reproduce this on the master,
- Create disk and create snapshot for it [_There are 2 entries in snapshot_store_ref_]
- Put originating primary storage pool on maintenance and try to force remove
`Error: (HTTP 530, error code 4250) Cannot delete pool Primary as there are associated non-destroyed vols for this pool`
- Destroy created disk or migrate created disk to a different primary stor

[2019-07-04 09:58] rhtyd commented on #3045
Okay, I'll remove the milestone then @ustcweizhou - looking forward to your PR whenever you send it and presentation in CCCNA19.

[2019-07-04 10:51] #3442 closed

[2019-07-04 10:52] AndreaGHG commented on #3458
@rhtyd  DB server is MariaDB Ver 15.1 (Distrib 10.1.26 on Debian), it is a 4 node Galera Cluster behind a server with HA-Proxy. Every DB server was configured with parameters recommended in the install guide for one management server:

[code]

Now I have done a new clean install using directly a DB server configured with parameters that you have indicated here. During the zone launch I haven't see

[2019-07-04 11:59] shwstppr commented on #3447
Unable to reproduce on master. _Per-storage overprovisioning setting is considered on master_.
![Screenshot from 2019-07-04 17-01-49](https://user-images.githubusercontent.com/153340/60663694-933f2380-9e7d-11e9-9d00-a8824b55dd77.png)
![Screenshot from 2019-07-04 17-02-21](https://user-images.githubusercontent.com/153340/60663705-989c6e00-9e7d-11e9-950f-439a3e0c1f19.png)

[code]

[2019-07-04 12:19] shwstppr commented on #3456
Checked with VMware and it is same,
[code]

`memorykbs` is surely not the memory currently in use. Not sure if it is an ambiguity with docs or issue with code.

[2019-07-04 13:53] rhtyd commented on #3458
@AndreaGHG ah-ha! this explains why you got the database issues. CloudStack implements its locking mechanism using MySQL provided GET_LOCK which is unsupported by MariaDB/Galera (see https://mariadb.com/kb/en/library/mariadb-galera-cluster-known-limitations/). However, you may try to configure haproxy to use an active-backup setup than active-active (or round-robin) configuration.

I've tested and

[2019-07-04 13:54] rhtyd commented on #3458
I think the issue could be closed @AndreaGHG, thanks.

[2019-07-04 14:04] AndreaGHG commented on #3458
@rhtyd Thank you for the explain. How about the other problems that stills persists? No hosts listed in inventory, no system vm listed, impossibility to start a turned off instance cause "no hosts are available"?

[2019-07-04 14:15] rhtyd commented on #3458
I would advise that you fix the database infra setup and reattempt to deploy an environment. The issue may likely be related to missing db views. Without looking into your env and DB setup it may hard to suggest otherwise.

[2019-07-04 20:01] bdonnahue commented on #2885
@rhtyd is there any way to get this prioritized for an upcoming release?

[2019-07-05 07:34] kioie opened #3471 "CPU utilization metrics seems to be inconsistent"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

CPU utilization metrics seems to be inconsistent with the actual CPU usage in the VM. The error seems to be generated from this `getVMStat` method in the `LibvirtComputingResource` class
[code]

##### STEPS TO REPRODUCE

[code]
![Screen Shot 2

[2019-07-05 08:11] #3461 closed

[2019-07-05 08:13] rhtyd commented on #2885
@bdonnahue we couldn't find any contributor who has an interest around OVS to work on it in this milestone, we can push to the next milestone. In case a PR makes towards master in next week, we can include it towards 4.13 milestone.

[2019-07-05 08:31] Doni7722 commented on #3341
Hi @rhtyd  I see your point but this way we would need to create all kind of disk offerings. What I mean is, a data disk can come with a size of 85GB and the next one comes with 135GB and so on. So in this case we would first need to create a disk offering which matches the exact size of the disk and after that we would be able to import the template. What I was thinking is that you can choose cus

[2019-07-05 08:46] rhtyd commented on #3471
It takes upto the time set by the background thread to kick in. Refer to stats collector related timeout/interval global settings.

[2019-07-05 08:49] AndreaGHG commented on #3458
Ok, thank you all! I'll setup a new environment with a single DB server.

[2019-07-05 08:49] #3458 closed

[2019-07-05 09:46] borisstoyanov commented on #3452
I cannot reproduce this with master @nvazquez I've created a data disk and resized it 3 times and then the usage cycle passed and no errors were observed in the log

[log.txt](https://github.com/apache/cloudstack/files/3362079/log.txt)

[2019-07-05 11:06] shwstppr commented on #3340
Code on master checks for files on zone-wide datastores. This should cover the case mentioned, https://github.com/apache/cloudstack/blob/master/plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java#L2277-L2283
Need to test this with master
@PaulAngus @rhtyd

[2019-07-05 11:21] nvazquez commented on #3065
Moved to the next major milestone

[2019-07-05 11:27] kioie commented on #3471
Okay...so typically, at what point would it be triggered for it to kick in? Been running some stress tests on several VMs for 3.5hrs now, seems to be returning the same metrics

[2019-07-05 11:38] #3048 closed

[2019-07-05 11:43] rhtyd commented on #3471
The vm.stats.interval is typically 60s. As long as your KVM agent is UP and able to process VM stats every 60s, you should see the stats correctly. Did you try against 4.11/latest or master?

I can confirm against master and KVM and get back to you next week. In my local lab I'm unable to see the issue against 4.11.3.0+kvm.

[2019-07-05 11:59] nvazquez commented on #3341
@Doni7722 @rhtyd I think this is a nice improvement we can work on including for the next major release

[2019-07-05 17:05] bdonnahue commented on #2885
@rhtyd I would be interested in fixing / rearchitecting the current solution but I am lacking some understanding of the cloudstack datamodel and codebase. What would be the best way to arrange a knowledge transfer with a seasoned developer? Mailing list?

[2019-07-05 17:06] rhtyd commented on #2885
@bdonnahue yes join the dev mailing list and to get started on kvm based development you can try https://github.com/rhtyd/monkeybox

[2019-07-05 17:40] #3349 closed

[2019-07-05 18:50] ustcweizhou commented on #3458
@AndreaGHG we also use mariadb cluster in some platforms, there is no issue.

Here is part of our galera configuration
[code]

[2019-07-06 04:07] kioie commented on #3471
To confirm my config for `vm.stats.interval` is also at 60s also on KVM. Incidentally, looking at the code, I think VMWare and Xen are handling this differently, so they may possibly be returning correct results (haven't tested though)

Yes, tested on 4.11.2.0/4.12/master with ubuntu16.04/18.04/Centos7 vms

My stress test ended up running for 5hrs and the metrics never really changed.

[2019-07-08 10:16] #3379 closed

[2019-07-08 10:50] rhtyd commented on #3287
Dupes https://github.com/apache/cloudstack/issues/3041 closing

[2019-07-08 10:50] #3287 closed

[2019-07-08 10:51] rhtyd commented on #3041
Refer for duplicate and related case of uploading template/iso/volume: https://github.com/apache/cloudstack/issues/3287 where secondary storage usage exceeds the threshold

[2019-07-08 10:51] rhtyd commented on #3402
This exists since 4.9, moving to next minor milestone.

[2019-07-08 10:52] rhtyd commented on #3377
Fixed in https://github.com/apache/cloudstack/pull/3476:
[code]

Closing as this is part of general stabilising effort on master, not an explicit bug.

[2019-07-08 10:52] #3377 closed

[2019-07-08 11:01] anuragaw commented on #3041
what's the next steps on this issue @rhtyd ? Should I investigate and create a fresh PR as needed?

[2019-07-08 11:02] borisstoyanov commented on #3440
@rhtyd I'll be picking this up today

[2019-07-08 11:02] anuragaw commented on #3332
Starting work on this ticket.

[2019-07-08 11:35] #2874 closed

[2019-07-08 11:37] rhtyd commented on #3041
The selection of secondary storage should be refactored (the method) based on usage and throw exception when no available image store is found with enough capacity.
@shwstppr can you continue over this, there is an existing PR you can review or extend over.

[2019-07-09 05:59] borisstoyanov commented on #3440
I've spend some time investigating and it looks like it's more of an env related issue, the python libraries we're using to test the https download are not compiled with ssl support.
`
HTTPS support is only available if the socket module was compiled with SSL support.`

[2019-07-09 05:59] #3440 closed

[2019-07-09 07:12] #3400 closed

[2019-07-09 07:22] rhtyd commented on #3340
cc @borisstoyanov

[2019-07-09 07:26] rhtyd commented on #3447
Closing on your testing and remark @shwstppr
Kindly re-open if this is reproduced with 4.13+

[2019-07-09 07:26] #3447 closed

[2019-07-09 07:27] rhtyd commented on #3094
cc @shwstppr

[2019-07-09 07:27] rhtyd commented on #3332
cc @shwstppr

[2019-07-09 07:28] rhtyd commented on #3409
Ping @ustcweizhou any update? Thanks.
Related: https://github.com/apache/cloudstack/issues/3179

[2019-07-09 07:49] borisstoyanov commented on #3340
having a look

[2019-07-09 09:32] rhtyd commented on #3409
Thanks @ustcweizhou I'll help review and test

[2019-07-09 10:29] borisstoyanov commented on #3340
Cannot reproduce this, I'm running 2 storage pools (cluster and zone scoped) when migrating the volume to the zone one I cannot see in the its logs trying to delete it.

[2019-07-09 10:29] #3340 closed

[2019-07-09 10:47] rhtyd commented on #2861
cc @Spaceman1984

[2019-07-09 12:34] borisstoyanov opened #3478 "When system vm is deployed from a new secondary pool it may fail to live migrate because the new secondary storage pool is not mounted in target host."
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

With VMware, when a new secondary storage pool is added, and a system-vm is being deployed from that mount, cloudstack operator cannot live migrate the VM to a new host because the secondary storage pool is not mounted on the host.

2019-07-02

[2019-07-09 14:01] Xsenonn commented on #2682
I couldn't find any other solution so if you don't mind I'll reopen thread here. I did as @schadom suggested but I'm still getting error below.
The problem lies in Apache CloudStack Console Proxy - RDP Client but I don't know how to fix it. I'm trying to build version 4.12.0.0.
![Cloudstack-Error](https://user-images.githubusercontent.com/17640891/60894225-cf91cb80-a251-11e9-88d0-5a53c4329b6a.png)

[2019-07-09 19:39] ustcweizhou commented on #2682
@Xsenonn you can skip tests by adding "-DskipTests" to your mvn command

[2019-07-10 06:11] shwstppr commented on #3094
Problem is probably not related to snapshots and resource limits, rather with templates. While registering templates with URL, the secondary storage size limit for the user is not checked. Since the actual size of the template is not known at the start while registering, after download and install secondary storage limit can be exceeded and this would cause resource limit exceptions when handleTem

[2019-07-10 07:23] rhtyd commented on #3478
I checked both 4.9, 4.11, master codebases prior to VM migration it does check that the secondary storage is mounted. However, the root cause is that when there are multiple secondary storages it picks one randomly which is mounted instead of the specific secondary storage.

Here it picks one datastore instead of a list for that zone:
https://github.com/apache/cloudstack/blob/master/plugins/hyperv

[2019-07-10 07:27] rhtyd commented on #3478
Related issue on secondary storage selection: https://github.com/apache/cloudstack/issues/3041

[2019-07-10 07:37] rhtyd commented on #3094
This is a corner case and by design, the download/registration of templates/isos on secondary storage may be kicked after management server restarts (or whenever the ssvm agent reconnects). The only reconciliation approach is to throw an exception after such an event happens to get it noticed where the user may contact admin for resolution.

[2019-07-10 07:37] #3094 closed

[2019-07-10 07:41] rhtyd commented on #3041
Related:
https://github.com/apache/cloudstack/issues/3041
https://github.com/apache/cloudstack/issues/3287
https://github.com/apache/cloudstack/issues/3478

[2019-07-10 10:56] borisstoyanov commented on #3340
@PaulAngus is there any time period for this job to kick in, since I've been trying to do this on 4.11.3 4.9.3 and master and could not reproduce, I've replicated the exact storage circumstances and simply could not see such message in the logs. Env are running with root volume on zonewide storage pool for more than hour?

[2019-07-10 11:16] rhtyd commented on #3109
cc @shwstppr can you check this? Thanks.

[2019-07-10 11:18] shwstppr commented on #3109
Looking into it

[2019-07-10 11:19] rhtyd commented on #3332
cc @shwstppr can you check this? Thanks.

[2019-07-10 12:19] rhtyd commented on #3172
The current Marvin tests perhaps don't test well for SSL enabled end-points, so likely the marvin test needs to ignore any SSL errors while trying to extract/download the URL. cc @borisstoyanov

[2019-07-10 12:21] rhtyd commented on #3001
Confirmed fixed by https://github.com/apache/cloudstack/pull/3479 which should be merged after a manual UI test.

[2019-07-10 12:21] #3001 closed

[2019-07-10 12:23] rhtyd commented on #3264
@shwstppr how about if you remove the volume as well (but not its full snapshots) and then delete the primary storage pool?

[2019-07-10 12:25] rhtyd commented on #3452
@nvazquez kindly re-test and try to reproduce against latest master with a fresh environment, if you're unable to reproduce it kindly close it otherwise tag it against 4.13 milestone. Thanks.

[2019-07-10 13:09] borisstoyanov opened #3481 "Can't share a template that is in a project"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

If a template is created in a project, an error is returned if a user in that project tries to share the template from within the project

##### STEPS TO REPRODUCE

Create a project and register a template while in the project, try to share th

[2019-07-10 13:50] div8cn opened #3482 "Compute resources are not automatically released after vm stop"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The computing resource cannot be released after the VM is stopped. You must execute delete to release the computing resource.

After the VM is stopped, it does not consume any computing resources. We should not think that it

[2019-07-10 18:03] rhtyd commented on #3482
This is by design, perhaps a global settings can be introduced for this use case.

[2019-07-11 07:49] rhtyd commented on #3332
Looks like this is merged in https://github.com/apache/cloudstack/pull/3345

[2019-07-11 07:49] #3332 closed

[2019-07-11 08:21] rhtyd commented on #3156
Due to lack of activity and progress, I've moved this to the next minor release 4.13.1.0 cc @sureshanaparti

[2019-07-11 08:26] rhtyd commented on #2862
I'm unable to reproduce with 4.11.3.0 or master, kindly reopen with details @izenk if you're still facing this issue.

[2019-07-11 08:26] #2862 closed

[2019-07-11 08:37] rhtyd commented on #3321
Actual issue reference: https://issues.apache.org/jira/browse/CLOUDSTACK-4045 cc @shwstppr

[2019-07-11 08:37] rhtyd commented on #3321
- Still allow IPs to be associated for network in allocated state, but allow to disassociate such IPs (when network is allocated)
- Don't throw exeception

[2019-07-11 09:35] borisstoyanov commented on #3001
I've just confirmed the fix it LGTM

[2019-07-11 13:53] AndreaGHG opened #3485 "Unable to create a System VMs dedicated public ip range."
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Fresh new installation with advanced networking.

##### OS / ENVIRONMENT

CentOS 7 for cloudstack manager and VMWare 6.5 as hypervisor

##### SUMMARY

When I try to create a system VMs dedicated ip range enabling "System VMs" in the "Set reservation" section, I get this error:

[co

[2019-07-11 16:26] rhtyd commented on #3485
cc @nvazquez can you check and comment?

[2019-07-11 19:47] kioie commented on #3481
Looks to me like this logic works as expected...I am thinking, only owner or admin should be allowed to share templates

[2019-07-11 20:49] PaulAngus opened #3487 "Network offerings dropdown is broken in UI"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

NA

##### SUMMARY

When selecting an Isolated Network Offering, numerous offerings are listed that are a. not relevant and b. repeated

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-07-11 20:50] PaulAngus commented on #3487
cc @shwstppr @borisstoyanov @anuragaw

[2019-07-11 23:22] GabrielBrascher commented on #3450
Checked and rechecked. Port 8096 is definitely enabled by default (tested with Ubuntu).

1. Deploy a fresh Apache CloudStack, based on 4.12
2. Assert that CloudStack indeed provides CloudStack API Unauthenticated Access through port 8096
3. Assert that the global configuration `integration.api.port` is set by default as 8096

[2019-07-12 04:28] nvazquez commented on #3485
@AndreaGHG thanks for reporting. The first line of the log says domain is undefined, which causes the error. Was this purely tested in the UI or also API?

[2019-07-12 06:33] shwstppr commented on #3487
I don't think this issue is related to master(tested locally) and is only with https://github.com/apache/cloudstack/pull/3248.
It is due to adding multiple dependsOn for networkOfferingId UI element, it calls the same method twice instantly and populates offerings twice. https://github.com/apache/cloudstack/pull/3248/files?file-filters%5B%5D=.js#diff-d617598675f6e8d23deab5bd5e3309f7R560
I'm fixing

[2019-07-12 06:35] rhtyd commented on #3450
How do you deploy database @GabrielBrascher?
cc @borisstoyanov can you test against latest master to see if we can reproduce it? Thanks.

[2019-07-12 06:45] borisstoyanov commented on #3172
current marvin tests are having a different issue with downloading ssl enabled urls, they prompt the download through ssl method is not callable, which means afaik the python was not compiled with ssl capability.
As far as this error I don't think we see it by now, think we can close this..

[2019-07-12 06:49] rhtyd commented on #3172
Okay @borisstoyanov closing on your remark. Please reopen if you can reproduce it again.

[2019-07-12 06:49] #3172 closed

[2019-07-12 07:05] #3089 closed

[2019-07-12 07:06] rhtyd commented on #3450
Btw, I've mentioned in 4.11.3.0+ docs that 8096 be firewalled by the admin appropriately, refer https://github.com/apache/cloudstack-documentation/pull/49

[2019-07-12 07:10] rhtyd commented on #3487
Okay @shwstppr please send a PR. Thanks.

[2019-07-12 07:24] AndreaGHG commented on #3485
@nvazquez It was tested only in the UI.
I have not created domains, there is only "ROOT", and when you enable "System VMs" checkbox "Account" and "Domain" fields are disabled.

[2019-07-12 07:37] onitake commented on #3450
I think you meant this commit (it's not in the PR): apache/cloudstack-documentation@7c5c9b49bec206e58a6fd89e47ae716baf52dfe7

FWIW, I'd format the warning a little more strongly so people don't overlook it.
Here's a suggestion: apache/cloudstack-documentation#51

[2019-07-12 07:40] #3109 closed

[2019-07-12 07:42] wido opened #3488 "cloud0 subnet should not be hardcoded to 169.254.0.1/16"
We are setting up a BGP+EVPN+VXLAN setup using Frr and BGP Unnumbered and this is causing some problems with the *cloud0* bridge created by the cloudstack agent.

Although the global setting *control.cidr* can be modified, the KVM Agent will still create this bridge with a hardcoded subnet:

**com/cloud/hypervisor/kvm/resource/BridgeVifDriver.java**
<pre>
        if (!foundLinkLocalBr) {

[2019-07-12 07:49] PaulAngus commented on #3487
thanks I wasn't sure where it came from (which is why i CC'd every man and his dog), but would end up in master if 3248 was merged anyway

[2019-07-12 08:27] rhtyd commented on #3488
Sounds like a config issue, @wido can you ensure that BGP is not automatically enforced for cloud0. I think from KVM agent perspective it is not aware what kind of network topology/model exists, it simply works on the idea of a network device.

[2019-07-12 08:32] anuragaw commented on #3487
I cannot repro this on master @PaulAngus , @rhtyd , @shwstppr . Since the PR #3248 is not merged we can perhaps close this issue?

[2019-07-12 08:42] wido commented on #3488
@rhtyd It isn't. The *169.254.0.1* address is reserved for BGP unnumbered configurations.

As CloudStack uses this subnet as a hardcoded configuration it conflicts with it.

[2019-07-12 09:44] ustcweizhou commented on #3482
@rhtyd @div8cn
we have some changes for this in 4.7.1
If nobody objects, I will work on the porting to 4.13.

[2019-07-12 11:57] rhtyd commented on #3488
Aah okay it makes sense now @wido - what workaround do you propose? We can for one, get rid of use of link-local based addresses/nics.

Our Vmware implementation does not use link-local as well, and all communications are done directly to the private IP in the private address range (typically in RFC1918). This change is do-able but may cause issues for users who don't have enough free address/ips

[2019-07-12 12:00] rhtyd commented on #3488
cc @PaulAngus @andrijapanic @borisstoyanov @anuragaw @shwstppr @rafaelweingartner @DaanHoogland @fmaximus @ustcweizhou @GabrielBrascher @nvazquez @svenvogel @NuxRo  and others - what do you think of getting rid of link-local IP based nics/programming/communication for VRs?

[2019-07-12 12:09] rhtyd commented on #3487
Thanks @anuragaw, let's fix it in #3248 if not done already (cc @shwstppr). Closing this on testing remark.

[2019-07-12 12:09] #3487 closed

[2019-07-12 12:31] ustcweizhou commented on #3488
@rhtyd it seems to be a big change.
can we look for a workaround for @wido at first ?

[2019-07-12 13:31] NuxRo commented on #3488
Personally I don't care for the link local, however I imagine there are folks who do and have tooling relying on it etc.
Like Wei, I'd say this is a big change so let's look at a workaround for Wido, a configurable variable in the properties could work.

[2019-07-12 14:42] GabrielBrascher commented on #3450
@rhtyd I used the command `cloudstack-setup-databases`.

[2019-07-12 15:04] GabrielBrascher commented on #3488
@rhtyd I am +1 on implementing a workaround. I will be happy to discuss and help designing other approaches, but I think that we should first invest some effort on the workaround, at least for now.

We already have extended CloudStack KVM agent with a hotfix for a 4.12.0.0 environment, implemented by @wido. It looks good on the KVM agent side. It was added a few parameters for the `agent.propertie

[2019-07-12 19:42] velinbudinov opened #3490 "Can't create instance after upgrade from 4.2.1 to 4.11.2"
##### ISSUE TYPE
 * Bug Report

##### CLOUDSTACK VERSION
CS version 4.11.2 (both manager and agents)

##### CONFIGURATION
basic networking

##### OS / ENVIRONMENT
OS Ubuntu 16.04
Java 8

##### SUMMARY

After successful upgrade from 4.2.1 to 4.11.2, can't create new instances.
Error: "Error while starting VM"

[agent.log](https://github.com/apache/cloudstack/files/3387786/agent.log)
[manager.log](h

[2019-07-13 07:25] rhtyd commented on #3450
Okay @GabrielBrascher I'll check.

[2019-07-13 07:51] rhtyd commented on #3490
Can you describe your env, hypervisors, networking etc? Did you seed the 4.11.2 systemvmtemplate? Did you perform in place mgmt server upgrade or used a new mgmt server host?

[2019-07-13 13:29] velinbudinov commented on #3490
Because of 4.11.2 requirements, I had to upgrade OS of the mgmt and agents. I did clean Ubuntu 16.04 installation on mgmt, restored database and /etc/cloudstack directory and installed 4.11.2 packages after that. On agents, OS upgrade with clean Ubuntu 16.04 installation, CS agent 4.11.2 packages and restored agent.properties! Everything is working (start/stop instance, migrate instance between ho

[2019-07-14 11:53] #3321 closed

[2019-07-14 11:58] rhtyd commented on #3488
@wido @GabrielBrascher are you sending a PR soon? The 4.13 freeze is coming soon ina week's time, given you may have explored or applied a workaround in your env and that the specific use case may not affect most users can we revisit this in either 4.13.1.0 or 4.14? If there is no hurry perhaps a longer term proper fix to remove link-local nic with private/mgmt nic may be explored. I'll remove the

[2019-07-15 06:48] kioie commented on #3490
From your logs, seems there's a conflict in your host and cluster setup

`2019-07-12 14:55:30,721 WARN  [o.a.c.alerts] (API-Job-Executor-5:ctx-c22c483d job-4033 ctx-d82ec66b) (logid:c73f95c5) AlertType:: 8 | dataCenterId:: 1 | podId:: 1 | clusterId:: null | message:: Failed to deploy Vm with Id: 3206, on Host with Id: null`

The reason why `start/stop instance, migrate instance between hosts` seem

[2019-07-15 07:06] ustcweizhou commented on #3490
@velinbudinov can you post the result of mysql queries below ?
[code]

[2019-07-15 07:33] wido commented on #3488
We are working on a PR and hope to submit it today

[2019-07-15 07:37] velinbudinov commented on #3490
both returns NULL

[2019-07-15 07:52] AndreaGHG commented on #3485
I have created the system vm's dedicated ip range using the API.

[2019-07-15 08:33] ustcweizhou commented on #3488
@wido @GabrielBrascher
If all kvm agents use the same setting, I would suggest you to use same way as described in 714221234d41920ccb131367cca000cd4da7b261 so when we change the global setting the new value will be propagated to all kvm agents when they connect. Just a suggestion.

[code]
only need one of address and gateway, and one of cidr and netmask

[2019-07-15 08:45] ustcweizhou commented on #3490
@velinbudinov can you change broadcast_uri of network to "vlan://untagged" and retry ?

[2019-07-15 09:02] wido commented on #3488
@ustcweizhou Thanks for the suggestion! I was looking for a way to send the global setting *control.cidr* to the KVM Agent.

I'll look into this.

[2019-07-15 09:15] anuragaw commented on #2908
Looking into this.

[2019-07-15 09:34] ustcweizhou commented on #3488
@wido I have created pull request for our another change. #3491

[2019-07-15 14:42] NuxRo opened #3493 "terracota.org HTTP 403"
Hello,

Watching the logs after restarting 4.11.2 I can see the following error. It doesn't seem to break anything, but it'd be nice if someone confirmed what this does and how we can fix it.

[code]

[2019-07-15 14:47] velinbudinov commented on #3490
@ustcweizhou thanks a lot! That fixed it! :)

[2019-07-15 14:47] #3490 closed

[2019-07-15 23:14] nvazquez commented on #3485
Thanks @AndreaGHG, I have created a fix for this UI issue, referenced above

[2019-07-16 08:09] shwstppr commented on #3478
@rhtyd Do we need to call the prepareSecondaryStorageStore method for all secondary stores of a datacenter to be fail safe?
Already refactored image store selection for a datacenter for writing wrt their free capacity #3480

In that case HyperV will need similar changes

[2019-07-16 08:55] onitake opened #3496 "Allow ISO Upload from Local Machine"
##### ISSUE TYPE

 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

In CloudStack 4.11, it's possible to upload VM templates directly from the web interface, without requiring an upload to an intermediate web server first.

This should also be implemented for ISO uploads.

##### STEPS TO REP

[2019-07-16 08:58] ustcweizhou commented on #3496
this has been fixed by #3251

[2019-07-16 09:20] rhtyd commented on #3478
Yes Abhishek, loop through and ensure all sec storages are mounted for a zone.

[2019-07-16 14:19] server24 opened #3497 "VMs stuck in Stopping state due to NPE at org.apache.cloudstack.network.topology.BasicNetworkVisitor.visit(BasicNetworkVisitor.java:201)"
Bug Report

After upgrading from 4.11.2.0 to 4.11.3.0 every operation that requires deleting an entry in a basic network seems to fail due to a NPE and therefore the VMs are stuck in Stopping state.

Possibly caused by commit b2b99ca63eecab6c0be40015ee54c37b55e07bac regarding server/src/main/java/org/apache/cloudstack/network/topology/BasicNetworkTopology.java (but this is just my guess)

CloudSta

[2019-07-16 14:26] server24 commented on #3493
I looked into my log for CS 4.11.2 running on CentOS 6 with RPMs provided by ShapeBlue and I do not see any such error message. Are you sure it is CS related?

[2019-07-16 14:33] NuxRo commented on #3493
Yes, I saw that in the management-server.log on my CentOS 7 server.

[2019-07-16 14:53] server24 commented on #3493
OK, so probably you have the update feature and URL activated in ehcache.xml?

...
updateCheck="false"
...

Had such a file still in the /etc/cloud directory before everything was migrated to /etc/cloudstack and in the tomcatconf with the updateCheck enabled.

[2019-07-16 14:55] NuxRo commented on #3493
To be honest I have no idea, this is a new installation (4.11.2).

[2019-07-16 14:58] server24 commented on #3493
Yes, please check if you have a file named:

/etc/cloudstack/management/ehcache.xml

on the CS management server and verify the content of that file, e.g. for "updatedCheck" and similar strings.

[2019-07-16 15:38] NuxRo commented on #3493
There is no such file in /etc/cloudstack. I grepped the whole thing for ehcache or terracota etc:

[code]

[2019-07-16 16:10] server24 commented on #3493
OK, I have installed CS 4.11.2 and now also CS 4.11.3 on a fresh CentOS 7 installation using the RPMs from http://download.cloudstack.org/centos/7/ and the the RPMs from http://shapeblue.com/packages but was unable to get the 403 error code in the management-server logs.

But I am pretty sure it is related to some ehcache-configuration file or setting sitting somewhere in the system, maybe a custo

[2019-07-16 16:24] server24 commented on #3493
I found the specific message you are making reference to in the file:

net/sf/ehcache/util/UpdateChecker.class

included in the following JAR:
/usr/share/cloudstack-management/lib/cloudstack-4.11.3.0.jar

Sourcecode:
https://jar-download.com/artifacts/net.sf.ehcache/ehcache-core/2.6.11/source-code/net/sf/ehcache/util/UpdateChecker.java

Excerpt:
...
[code]
...
[code]
...

I don't know why I do not

[2019-07-16 16:51] server24 commented on #3493
OK, I captured the network traffic on that newly installed CentOS 7 server and it actually is connecting to www.terracotta.org to check for updates. On this server that domain name resolves to 104.25.110.97 and this is the dump of the network packages:

[code]

And I get back 403 forbidden, too - it just is not showing up in my log files. So maybe you just have a more verbose logging level set and

[2019-07-16 18:42] GabrielBrascher opened #3498 "Add support to revert (rollback) a RBD image snapshot"
Currently, it is not possible to revert/rollback an RBD image snapshot.

I will be soon opening a PR adding support to reverting RBD snapshot volumes. Hope that this one makes in time for 4.13. What is the status of 4.13 @PaulAngus @rhtyd?

##### COMPONENT NAME

[code]

[2019-07-16 19:21] onitake commented on #3496
Woops I think I even saw that PR, but didn't realise what it did. Mea culpa.

[2019-07-16 19:21] #3496 closed

[2019-07-16 20:45] rhtyd commented on #3498
@GabrielBrascher We would ideally want to freeze, stabilise master and cut RC1 by end of this month, likely the week of 29th July. cc @PaulAngus

[2019-07-17 04:11] imacks opened #3499 "Physical networking with pfsense"
I'm trying out cloudstack for the first time, so pls be patient. My current physical setup:
[code]
Pfsense works as DHCP server, assigning 172.18.1.x to pc1 and 172.18.1.y to pc2. Pfsense itself isn't relevant, as it works mostly as a generic router in this setup.

PC1 is hyper-v server with 1 physical nic, bound to a virtual switch. It runs 1 VM instance of MySQL, NFS server, and cloudstack manag

[2019-07-17 08:15] kioie commented on #3499
Hey @imacks

For starters, I'm assuming this is not a prod environment, possibly test/dev in which case please note this as mentioned in the documentation

So you might want to give a static IP to all machines and possibly disable DHCP. You will also realize, that Advanced networking may not work with a single subnet, you will need additional subnets/vlans to isolate traffic

**Guest cidr** - the

[2019-07-17 09:47] imacks commented on #3499
tks for clarifying. I have looked at the linked articles before.

i'm just really having a hard time finding an example physical network routing topology that is for production use. Perhaps the documentation can benefit from some walkthroughs? But no this is not code related issues, so I'll bring it to the mailing list.

[2019-07-17 09:47] #3499 closed

[2019-07-17 12:43] server24 commented on #3497
Line 201 of BasicNetworkVisitor.java in CS 4.11.3 is:
`        if (router.getPodIdToDeployIn().longValue() == destination.getPod().getId()) {`

in this method:
[code]

This works fine in advanced network, but seems to fail with a basic network; also all tests in the relative merge pull seem to be done with advanced networking only.

[2019-07-17 13:10] DaanHoogland commented on #3459
@mhp0rtal can you give expoits for any of those isses?
Can you also please give a version on which these apply, as the first three do not show code matching the message;
1: File name => utils/src/main/java/com/cloud/utils/ssh/SSHKeysHelper.java: Line number => 75: API name => MessageDigest:
line 71 is an empty line
2: File name => utils/src/main/java/com/cloud/utils/nio/Link.java: Line number => 3

[2019-07-17 13:10] #3459 closed

[2019-07-17 13:13] borisstoyanov commented on #3481
![Screenshot 2019-07-17 at 16 11 49](https://user-images.githubusercontent.com/13551960/61378294-c76b0900-a8ad-11e9-888b-d16820e2412a.png)
with latest #3241

[2019-07-17 14:43] #3485 closed

[2019-07-17 14:44] GabrielBrascher commented on #3498
Thanks for the update @rhtyd!

[2019-07-17 14:49] server24 commented on #3497
I have attached jdb and the problem seems to be that destination is NULL, specifically that dhcp.getDestination() returns NULL. From the debugger:

[code]

So no destination is specified and this is causing the NPE. Hope this helps.

[2019-07-17 15:08] server24 commented on #3497
Just one more thing: it will always be NULL when invoked from removeDhcpEntry in the BasicNetworkTopology-class, line 461:

`final DhcpEntryRules dhcpRules = new DhcpEntryRules(network, nic, profile, null);`

The same calls happens in the AdvancedNetworkTopology-class BTW, but in the AdvancedNetworkVisitor-class destination is not used and not compared, so it works there.

Why is destination neede

[2019-07-17 16:06] rhtyd commented on #3497
Can you have a look @nvazquez, or cc @shwstppr @anuragaw ?

[2019-07-17 16:32] server24 commented on #3497
You probably want to add the destination parameter to removeDhcpEntry in server/src/org/apache/cloudstack/network/topology/BasicNetworkTopology.java, e. g.:

[code]
But that is the obvious choice (e.g. compared to applyDhcpEntry), so there must be something that prevented this trivial solution from being implemented.

[2019-07-18 04:20] nvazquez commented on #3497
@server24 please find a PR fixing the isse referenced above

[2019-07-18 08:31] server24 commented on #3497
Is this PR really fixing the issue? Your original patch was born out of the idea that DHCP entries where left in the VR when it should not.

Now with your patch you are basically avoiding the command being executed, but that means it would fall back to the old behaviour before your patch in Basic Networking. Wouldn't it make sense to change it to something like this:

    @Override
    public bool

[2019-07-18 14:12] velinbudinov opened #3503 "create snapshot fail with error domain not found"
##### ISSUE TYPE
 * Bug Report

##### CLOUDSTACK VERSION
CS: 4.11.2
Hypervisors: KVM
CS agents: 4.11.2

##### CONFIGURATION
basic networking

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
On stopped VM, can't create snapshot
[snapshot.log](https://github.com/apache/cloudstack/files/3406891/snapshot.log)

[2019-07-19 02:06] GabrielBrascher commented on #3450
I opened PR #3504; the proposal is to change the default value of '_integration.api.port_' from 8096 to 0. Deployed a staging ACS with the PR and the Unauthenticated API access is disabled by default.

[2019-07-19 14:49] div8cn opened #3505 "Agent LB for CloudStack failed"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

indirect.agent.lb.algorithm=roundrobin
indirect.agent.lb.check.interval=60

##### OS / ENVIRONMENT

##### SUMMARY

When deploying multiple management nodes, the preferred managment node is forced to power off, the agent will not immediately connect to the second management node.

W

[2019-07-19 15:01] MartinEmrich opened #3506 "Cannot list hosts after upgrade to 4.11.3.0"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
Cloudstack management server (single node), just upgraded von 4.9.2.0 to 4.11.3.0.

##### OS / ENVIRONMENT
CentOS 6

##### SUMMARY
After the upgrade, I can no longer list hosts.

##### STEPS TO REPRODUCE
Click on "Infrastructure", then on "Hosts"
(Or use cloudmonkey, and run "list host

[2019-07-19 15:03] MartinEmrich commented on #3506
Looks like a database schema issue: the `hosts` table contents is there, but `SELECT * FROM host_view;` gives no result.

[2019-07-19 15:46] nvazquez commented on #3505
I'm not able to replicate the issue:

- 4x KVM hosts
- 2x Mgmt servers: 10.2.2.71 and 10.2.2.72

- indirect.agent.lb.algorithm=roundrobin
- indirect.agent.lb.check.interval=60

Host connected to mgmt server 10.2.2.72. When rebooting mgmt server 10.2.2.72 I observe it connects to the next management server as expected:

[code]

[2019-07-19 15:50] MartinEmrich commented on #3506
After comparing with a working cluster, I found the issue:

The `host_view` contains lots of LEFT JOINs. After removing the joins on last_annotation_view, I got results.
On both servers, this view is empty, but on the other one, I got results.
Then I noticed that the other server runs MariaDB 10.1.38, while the faulty server runs 10.1.28.

So I upgraded MariaDB, and now it works, so it apparently

[2019-07-19 15:50] #3506 closed

[2019-07-19 15:59] div8cn commented on #3505
When reboot or systemctl stop cloudstack-management is executed in os, the agent responds immediately and completes the switch.

When the simulated management node hardware fails and suddenly loses power, the agent does not immediately discover and switch, it needs to wait about 15 minutes.

[2019-07-19 16:53] nvazquez commented on #3505
@div8cn thanks, copy. As per simulated you mean your mgmt node is a VM? How are you simulating the power loss - simply shutdown the VM?

[2019-07-20 04:19] div8cn commented on #3505
I created 2 linux guest os on KVM and run management on it.

Power off simulation using the command virsh destroy

[2019-07-21 14:30] rhtyd opened #3507 "VR smoketests failures around VR reboot and shutdown+start"
Following smoketests are consistently failing against vmware and latest master:

Test | Result | Time (s) | Test File
-- | -- | -- | --
test_reboot_router | Error | 349.14 | test_network.py
test_08_start_router | Error | 71.81 | test_routers.py
test_09_reboot_router | Error | 0.12 | test_routers.py
test_02_list_snapshots_with_removed_data_store | Error | 1.18 | test_snapshots.py
test_01_volume_usa

[2019-07-22 11:52] #3450 closed

[2019-07-22 11:58] rhtyd commented on #3416
Reopened due to this case where flat files are not part of the chain/info and are ignored in stats calculations: https://github.com/apache/cloudstack/pull/3473#issuecomment-512731291

[2019-07-22 12:04] rhtyd commented on #3505
@nvazquez any comments, is this a valid bug?

[2019-07-22 12:05] rhtyd commented on #3503
This is not a problem, stopped VMs cannot have VM snapshot but only volume snapshot.

[2019-07-22 12:05] #3503 closed

[2019-07-22 17:17] nvazquez commented on #3505
Thanks, @div8cn. @rhtyd we'll to address this issue as it takes 15 minutes to connect to the next mgmt server

[2019-07-22 18:57] #3114 closed

[2019-07-23 06:41] digitalgust opened #3509 "4.12 add host fail ,using tls connection"
##### ISSUE TYPE

 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION
advanced networking

##### OS / ENVIRONMENT
CentOS7.6

##### SUMMARY

 I am an experience user of cloudstack ,  we built enterprise private cloud in cloudstack two years .
now we test the new 4.12 version  for update .
we install management ok.
install agent in hypervisor ok.
but we enco

[2019-07-23 10:19] rhtyd commented on #3509
Check firewall rules on the mgmt server and ensure agent can connect to mgmt server on port 8250. Next, ensure while adding kvm host the user/password can ssh from mgmt server to kvm host and can execute sudo. On kvm host while adding the host by default it will configure libvirtd to be tls enabled. This error seems to be libvirtd related: Connection with libvirtd is broken: invalid connection poi

[2019-07-23 12:15] digitalgust commented on #3509
all hosts firewalld was closed.
agent can connect to mgmt 8250 .
ssh from mgmt to agent ok.
restarted and reinstall multiple times.

2019-07-23 07:47:56,608 INFO  [cloud.agent.Agent] (AgentShutdownThread:null) (logid:) Stopping the agent: Reason = sig.kill
2019-07-23 07:48:03,718 INFO  [cloud.agent.AgentShell] (main:null) (logid:) Agent started
2019-07-23 07:48:03,720 INFO  [cloud.agent.AgentShell

[2019-07-23 12:18] rhtyd commented on #3509
@digitalgust looks like an issue or configuration issue with libvirtd. Can you try to get the latest or try qemu-ev on centos7? Please check that libvirtd is running, you can try something like virsh list etc.

[2019-07-23 12:25] digitalgust commented on #3509
libvirtd is running.
[root@host02 ~]# virsh list
 Id   Name     State
------------------------
 1    v-5-VM   running

this vm is running on the host , host02 state is "UP" , but if i restart agent ,the state turn  "alert" , but the vm is running that startup on host state is "UP" .

[2019-07-23 12:28] rhtyd commented on #3509
Could be related to this https://github.com/apache/cloudstack/pull/2904
@digitalgust does agent go into Up state when you restart the kvm agent? (systemctl restart cloudstack-agent ?) Can you test 4.11.3.0?

[2019-07-23 12:35] digitalgust commented on #3509
now , my host02 state is "alert"
log :

[code]

[2019-07-23 12:38] digitalgust commented on #3509
let me try 4.11.3.0

[2019-07-23 13:41] nvazquez commented on #3505
@rhtyd do you have the bandwidth to handle this issue? If not I'll work on a fix

[2019-07-23 14:08] #3497 closed

[2019-07-23 14:11] rhtyd commented on #3498
Merged https://github.com/apache/cloudstack/pull/3502

[2019-07-23 14:11] #3498 closed

[2019-07-23 14:12] rhtyd commented on #3505
sorry not today can have a look tomorrow or the day after @nvazquez

[2019-07-23 17:53] incubatec commented on #3497
works perfectly, thx!

[2019-07-23 20:40] kgoik opened #3512 "CloudStack Simulator 4.11 - not working"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Ubuntu 18.04

##### SUMMARY

Build for both branches works fine. While trying to start the simulator I get following error (master branch works just fine).

`org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'template

[2019-07-23 20:57] DmB991 opened #3513 "Incorrect isolated network creation"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
- Centos 7
- kernel 5.1.14-1.el7.elrepo.x86_64
- qemu-kvm-ev 2.12.0
- libvirt 4.5.0
- separate storage with nfsv3/v4 and zfs
- MariaDB 10.4.6

##### SUMMARY
Incorrect isolated network creation when huge amount of VMs and networks already created async.

#####

[2019-07-23 23:01] elpoche opened #3514 "Unknown column 'mshost.uuid' in 'field list"
I have this problem when I upgrade version from 4.11.3 to 4.12

### ISSUE TYPE
 * Other

##### COMPONENT NAME

Problem on starting cloudstack-management

##### CLOUDSTACK VERSION
[code]

##### OS / ENVIRONMENT

Centos 6

##### SUMMARY

2019-04-22 22:47:51,230 WARN  [o.a.c.s.m.c.ResourceApplicationContext] (main:null) (logid:) Exception encountered during context initialization - cancelling refresh

[2019-07-24 05:37] rhtyd commented on #3512
Looks like simulator against latest 4.11 works okay: https://travis-ci.org/apache/cloudstack/builds/556807454
@kgoik what was your mvn and jdk version? 4.11 must be built using JDK1.8.

[2019-07-24 05:55] rhtyd commented on #3179
This is a known issue and it's likely that we are unable to fix issue and the PR seems to be adding regressions. I've moved it to 4.13.1.0 milestone for now, if the regression/issues can be fixed we can consider including the PR towards 4.13.0.0.

[2019-07-24 05:55] rhtyd commented on #3409
This is a known issue and it's likely that we are unable to fix issue and the PR seems to be adding regressions. I've moved it to 4.13.1.0 milestone for now, if the regression/issues can be fixed we can consider including the PR towards 4.13.0.0.

[2019-07-24 06:33] rhtyd commented on #3514
Upgrade path from 4.11.3.0 to 4.12.0.0 does not exist this is because 4.11.3.0 was released after 4.12.0.0. One way to fix your upgrade would be to manually run the path: engine/schema/src/main/resources/META-INF/db/schema-41120to41200.sql

[2019-07-24 06:34] rhtyd commented on #3514
Perhaps the upgrade docs could explicitly state which specific source/from versions are supported while upgrading to a CloudStack release. We'll try to address this in 4.13 and above.

[2019-07-24 06:34] #3514 closed

[2019-07-24 07:10] rhtyd commented on #3512
Tested again seems to be working: https://travis-ci.org/apache/cloudstack/builds/562920058

[2019-07-24 08:16] rhtyd commented on #3512
Tested locally unable to reproduce, closing.

[2019-07-24 08:16] #3512 closed

[2019-07-24 09:11] kgoik commented on #3512
I used the ShapeBlue  test VM:

root@cloudstack-fizzbuzz-kvm:~# mvn --version
Apache Maven 3.6.0
Maven home: /usr/share/maven
Java version: 1.8.0_212, vendor: Oracle Corporation, runtime: /usr/lib/jvm/java-8-openjdk-amd64/jre
Default locale: en_US, platform encoding: UTF-8
OS name: "linux", version: "4.15.0-20-generic", arch: "amd64", family: "unix"
root@cloudstack-fizzbuzz-kvm:~# java -version
op

[2019-07-24 10:00] onitake opened #3518 "Unhandled NPE in VMSnapShotManagerImpl.orchestrateCreateVMSnapshot produces snapshots that cannot be deleted"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

VMware ESX 6.5
CentOS 7

##### SUMMARY

Under certain conditions (races or similar), CloudStack may bails out in the middle of a snapshot creation process. Due to incorrect handling of this condition, a stray snapshot entry may be left in the database,

[2019-07-24 12:41] andrijapanicsb opened #3520 "VM's ROOT disk created from ISO, honors Service offering instead of Disk offering"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

- 2 x Primary Storage pools with different Storage Tags,
- hypervisor (VMware tested) is irrelevant
- (for simplicity) service offerings configured (storage tags) to be created on storage Primary1, while disk offerings configured to point to Primary2 storage.

##### OS / ENVIRONMEN

[2019-07-24 12:45] andrijapanicsb commented on #3520
@rhtyd @GabrielBrascher @rafaelweingartner @shwstppr - please consider this one for 4.13.0.0 - might be simple to fix.

[2019-07-24 12:46] GabrielBrascher opened #3521 "Regression bug in 4.13.0.0-SNAPSHOT that affects KVM local storage migration"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

KVM hosts, zone configured allowing to use local storage for user and system VMs.

##### OS / ENVIRONMENT

##### SUMMARY

Tested with the current CloudStack master branch (4.13.0.0-SNAPSHOT) and it failed to migrate a VM with ROOT volume on local storage.

[code]

##### STEPS TO RE

[2019-07-24 15:38] rhtyd commented on #3520
Ack, it's possible something like this was fixed in master. We'll need to test/reproduce it.

[2019-07-24 15:44] rhtyd commented on #3521
Are you going to send a PR @GabrielBrascher?

[2019-07-24 17:58] elpoche commented on #3514
Ok, thanks for your answer!

[2019-07-24 18:42] GabrielBrascher commented on #3521
@rhtyd so far I am on debugging process but if I have a patch to submit I will update here.

[2019-07-25 06:43] #3488 closed

[2019-07-25 06:45] rhtyd commented on #3507
Smoketests health check PR https://github.com/apache/cloudstack/pull/3517

[2019-07-25 07:01] rhtyd commented on #3041
Related/dupes https://github.com/apache/cloudstack/issues/3478 closing this one.

[2019-07-25 07:01] #3041 closed

[2019-07-25 07:37] digitalgust opened #3523 "4.11.3.0 create ceph primary storage error"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

no more

##### OS / ENVIRONMENT

centos 7.6

##### SUMMARY

Add ceph as primary storage error when create zone

Column 'host_address' cannot be null

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-07-25 08:17] digitalgust commented on #3509
test 4.11.3.0,   the problem same as 4.12
hypervisor add unreliable ,
i have 2 host for hypervisor in my test environment.
add fisrst host , it always shown "alert“， then remove the first host,  mgmt note success message,  then add the second host, second show "alert" ,!!! the first host turn "UP", but the first host is success deleted a momont ago.
or keep it for serial hours in "alert" state,  t

[2019-07-25 09:14] rhtyd commented on #3509
Are you running multiple management server(s) are starting them concurrently @digitalgust ? I'll test against 4.11.2.0 and 4.11.3.0.

[2019-07-25 10:18] digitalgust commented on #3509
1 mgmt  : centos 7.6 /intel7500U/2G  192.168.100.1 /2nic
1 secondary : centos 7.6 / intel7500U/2G  192.168.100.20 /1nic
2 Hypervisor : centos 7.6/ intel8559U8259U/8G 192.168.100.50,192.168.100.51 /libvirtd 4.5/qemu2.9
2 ceph: centos 7.6 /intel8259U/8G 192.168.100.10,192.168.100.11 ceph 14

cloudstack 4.12 / 4.11.3.0
advance network
KVM
guest CIDR 10.1.1.0/16
manage_network & storage_network on clo

[2019-07-25 13:48] Doni7722 commented on #3520
Did test this with 4.11.3 and there it's reproducible.

[2019-07-26 02:21] digitalgust commented on #3523
since 4.9.2 cloudstack
add primary storage error:

[code]

[2019-07-26 12:52] DmB991 opened #3526 "Incorrect work of getFreeMemory() in LibvirtStartCommandWrapper.java"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I found error in getFreeMemory() of https://github.com/apache/cloudstack/blob/4.11/plugins/hypervisors/kvm/src/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtStartCommandWrapper.java#L170
When I create a new VM we take a list of all VMs

[2019-07-26 15:10] div8cn commented on #3523
The scope of rbd storage must be cluster. Please select the specified cluster to add.

[2019-07-27 14:46] rhtyd commented on #3505
I couldn't reproduce it

[2019-07-27 14:51] div8cn commented on #3505
You can try the following steps to reproduce

1, create 2 VMs
2. Deploy mgt on 2 VMs
3, modify the global settings host=vm1ip, vm2ip
4, forced to close VM1 (virsh destroy vm1)
5, observe the agent log of the host

[2019-07-27 14:52] rhtyd commented on #3505
Thanks @div8cn I'll try your steps.

[2019-07-27 14:56] rhtyd commented on #3509
Thanks @digitalgust I'm unable to reproduce. The issue seems to be with libvirt or qemu, kindly check libvirt/qemu logs.

[2019-07-28 11:44] edtoktay commented on #3512
While building and Running in ShapeBlue Test VM:
I faced the same problems with @kgoik.
Java and mvn versions same as @kgoik 's post.

Jetty starts with Circular depends-on exception. However, that exception lets spring not to initiate and create beans. So; services are unavailable on that point.

[2019-07-29 01:09] digitalgust commented on #3523
add to cluster , error again:
[code]

[2019-07-29 03:57] digitalgust commented on #3523
I've found the problem that if the ceph secret key contains specify symbol, it would split string error , my  key is : AQATDjld4LBvBxAABbwFU5C/m/aTVkI95xrSzw== , split host error.

[2019-07-29 03:58] digitalgust commented on #3523
@rhtyd

[2019-07-29 04:04] edtoktay commented on #3512
I tried other tags 4.11.2.0 even can not build. On the other hand, 4.11.3.0 works fine built and started flawlessly

[2019-07-29 06:25] rhtyd commented on #3526
Can you try/test against 4.11.3.0 or master @DmB991 ?

[2019-07-29 08:35] rhtyd commented on #3505
From email thread on dev@:
[code]

The exception is thrown after attempting for 3mins which is a reasonable timeout, next after it decides to reconnect it sleeps for upto 3 minutes depending on the configured backoff/sleep algorithm and sleep for 3mins: https://github.com/apache/cloudstack/blob/master/agent/src/main/java/com/cloud/agent/Agent.java#L528

From the logs, it seems the KVM host was dis

[2019-07-29 09:04] rhtyd commented on #3505
I looked at the original log again:
[code]

This happens only initially, after the exception is hit usually when trying to send request (ping) to the management server, it calls upon the StartupTask cancel() that kicks in the reconnection task the next time it runs. This means that thereotically 2x the ping interval time it will fail the watch task, then 2x the wait time will be about 180s (defaul

[2019-07-29 10:00] div8cn commented on #3505
Without changing ping. interval = 60, I changed _startupWaitDefault to 60000, and then _startupWait = _startupWaitDefault * 2 to _startupWait = _startupWaitDefault * 1.

Is it possible to complete switching within 3 minutes of failure?

[2019-07-29 10:24] rhtyd commented on #3521
Ping any update @GabrielBrascher ? cc @wido

[2019-07-29 13:28] digitalgust commented on #3509
I reinstall cloudstack ,it works with these changes :
exchange cloudbr0 /cloudbr1 bridge to physic nic, i think this not effect result .
uninstall qemu2.9 and reinstall centos7 qemu (1.53) , this maybe problem cause.

after reinstall , agent connect to mgmt quickly.

[2019-07-29 13:28] #3509 closed

[2019-07-29 19:13] DmB991 commented on #3526
@rhtyd yes, reproduced on version 4.11.3.0
https://yadi.sk/d/8ISgwyGI2D7e_A
logid:0d7c4e6c

[2019-07-30 01:02] div8cn commented on #3505
ping. interval = 60
_startupWaitDefault=60000
_startupWait = _startupWaitDefault * 1

Reduced downtime from 15 minutes to 3 minutes

[2019-07-30 04:51] GabrielBrascher commented on #3521
@rhtyd I have been able to reproduce the issue and fixed it with a "hotfix" patch. I will be soon opening a PR (probably today, 30 july).

[2019-07-30 04:53] rhtyd commented on #3521
Thanks @GabrielBrascher looking forward to it. I'm hoping to cut RC1 next week. It will help if all blockers get addressed by then.

[2019-07-30 10:35] borisstoyanov opened #3530 "add size to usage type 27"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

size is missing from usage type 27, but available in related type 25. For consistency it's good to have

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-07-30 10:35] borisstoyanov commented on #3530
fixed by #3529

[2019-07-30 11:48] digitalgust opened #3531 "Create VM error in iso network/KVM"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

advance network
KVM
guest CIDR 172.16.1.0/16
manage_network & storage_network on cloudbr0 connect to hardware switch 0
public_newwork & guest_network on cloudbr1 connect to hardware switch 1
public traffic: gateway 10.0.0.1/8 reserve ip:10.0.99.100 - 10.0.99.199
pod: gateway 192.16

[2019-07-31 07:09] rhtyd commented on #3530
Fixed in **https://github.com/apache/cloudstack/pull/3529**

[2019-07-31 07:09] #3530 closed

[2019-07-31 08:37] digitalgust commented on #3531
I debug the mgmt, trace the error line , found out the problem that database `cloud`.`op_dc_vnet_alloc`  table have nothing ,  compare the other production cloud, the table recorded vlan that setup in Zone creation,  then i add a row  manually , add a vm again , success.
then i will try to find out the cause why the `cloud`.`op_dc_vnet_alloc`  not added rows on zone creation .

[2019-07-31 10:08] #3478 closed

[2019-07-31 12:42] div8cn commented on #3505
@rhtyd

I modified
https://github.com/apache/cloudstack/blob/master/agent/src/main/java/com/cloud/agent/Agent.java#L141
Long _startupWaitDefault = 60000;

https://github.com/apache/cloudstack/blob/master/agent/src/main/java/com/cloud/agent/Agent.java#L1038

_startupWait = _startupWaitDefault * 1;

After recompiling and installing, I found that the mgmt connection still waits 15 minutes to complete

[2019-08-01 10:10] digitalgust commented on #3531
update bug summary:
Issue :  MgmtUI call api to create physical network when Zone creation, the two api have same parameter , but forgot vnetRange parameter when create physical network 2 ,

mgmt log:
[code]

 so java source method call parameter vnetRange is null,
[code]
/ui/scripts/zoneWizard.js
bug here , forgot vlanRangeStart and vlanRangeEnd para:
[code]

Please fix it

[2019-08-01 10:29] rhtyd commented on #3531
@digitalgust when deploying via the UI, after it creates the VLAN ip ranges, it updates the vlan range for the physical network and it runs the updatePhysicalNetwork API with the provided vlan range. Please specify the VLAN range here:

![Screenshot from 2019-08-01 15-58-59](https://user-images.githubusercontent.com/95203/62286436-51ea6580-b475-11e9-9e42-7670a422b4f1.png)

[2019-08-01 12:25] digitalgust commented on #3531
Yes , i have filled the vlan id when installation every times , but vlan id not in db . so i debug it .
i reinstall management before one hour ago ,  the vlan correctly inserted into db ,  unknow cause.
now , looks everything  is works.

i will close the issue.

[2019-08-01 12:56] rhtyd commented on #3531
That could be setup/installation issue, thanks for confirming @digitalgust.

[2019-08-01 12:56] #3531 closed

[2019-08-01 17:23] #3452 closed

[2019-08-02 14:55] nvazquez opened #3539 "Mismatch of natted IPs on different subnets than source NAT"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
VMs with public IPs on different subnet than the source NAT IP get the source NAT IP instead of the natted IP

##### STEPS TO REPRODUCE
Create isolated network
Assign NAT IPs to VM's with public IPs on different subnet than source NAT subn

[2019-08-04 17:23] #3137 closed

[2019-08-05 05:06] rhtyd commented on #3539
I think this was fixed, unless the regression came back again. Can you test latest master @nvazquez @borisstoyanov @andrijapanicsb ?

[2019-08-05 12:34] DaanHoogland commented on #3518
@onitake are you writing a PR for this?

[2019-08-05 15:41] andrijapanicsb opened #3541 "add host"
false alarm

[2019-08-05 16:24] #3541 closed

[2019-08-05 17:23] msinhore opened #3542 "# of CPU_CORE capacity has been shown wrongly"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The # of CPU_CORE capacity has been shown wrongly when, even considering the operprovisioning factor, the value presented should be for maximum capacity = 100% and no more than this.
Example in CloudMonkey command:
cloudmonkey list capacity fi

[2019-08-05 19:04] onitake commented on #3518
I can replace the `return null` with a `throw`, but I don't know if this has unexpected side effects.

[2019-08-06 05:18] rhtyd commented on #3542
It's because it adds all the CPU cores from all the VM instances, while the total cores is from the hosts.

[2019-08-06 07:31] rhtyd opened #3543 "Live Volume Resize when fails returns as success on KVM"
While live resizing a volume on KVM (CentOS 6.x), when the resize script fails it outputs `failed to live resize...` but as part of the resize volume answer it returns the correct/current new size as the old size and returns the success as `true`, the requested resize value is then set in the `volumes.size`.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[2019-08-07 00:42] msinhore commented on #3542
Thanks @rhtyd for the explanation.

Maybe the better way to display these information is use the overprovisioning algorithm, considering it as the maximum resources available to be used. As it is, isn't a polished UX.

[2019-08-07 08:44] borisstoyanov opened #3544 "When scrolling down the VM settings, they keep on loading again and again endlessly"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Observed in vm settings and template settings. When settings are a lot, it loads them over and over endlessly when scrolling down

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-08-07 10:11] #3521 closed

[2019-08-09 05:31] shwstppr commented on #3543
I'll look into this

[2019-08-09 07:52] rhtyd opened #3548 "When adding a new KVM zone, the template_store_ref may get wrong install_path for systemvmtemplate"
With an existing zone with a new system template (that would be registered with root admin's accoutn ID):
- Add a new zone and scp/copy the system template directory to the new zone's secondary storage
- Check the `install_path` template_store_ref for the reference for the systemvmtemplate in the new zone, does it use the account ID 1 in the folder path?

##### ISSUE TYPE

 * Bug Report

##### COM

[2019-08-09 08:01] rhtyd commented on #3548
Looks like the systemvm install script by default hard codes the account folder to `1`:
https://github.com/apache/cloudstack/blob/master/scripts/storage/secondary/cloud-install-sys-tmplt#L205

[2019-08-09 09:07] #3507 closed

[2019-08-09 09:13] DaanHoogland commented on #3518
@onitake I think it is best to remove the stray snapshot entry from the database and then throw an exception that explains the user, wrapping the original exception. If you/we cannot test we can not completely fix so this would be a good first step to get to the bottom. The exception is already there and no further handling will happen in that thread. at least this bit of clean-up will be done. de

[2019-08-12 17:39] div8cn opened #3550 "VR Loses Instance IP Address"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

After the ACS is upgraded to 4.11.3, the VM on the shared network usually loses its IP address (it cannot obtain an IP address in the guest VM).

Analysis of the cloud.log in vr, we found that sometimes restarting or deleting the A VM will cau

[2019-08-13 02:47] div8cn commented on #3550
@nvazquez

[2019-08-13 08:21] rhtyd commented on #3550
Can you review/test and advise @nvazquez and if it's an easy fix we can aim to get it in 4.13.0.0

[2019-08-13 08:29] rhtyd commented on #3548
Another issue discovered is that the script renames the uuid for the template which is not necessary.

[2019-08-13 10:44] rhtyd commented on #3192
Checked, not available in 4.11.3.0; but will be available in master/4.13

[2019-08-13 13:11] andrijapanicsb commented on #3550
From which versions did you upgrade @div8cn ?

[2019-08-13 13:11] nvazquez commented on #3550
Hi @div8cn I could not reproduce this on 4.11.3. Did you hit the same issue on an prior existing network after upgrading as well as on new networks after upgrading or just the exsiting ones?

[2019-08-13 13:14] borisstoyanov opened #3552 "Upload ISO fails if the ISO name contains space"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-08-13 13:15] borisstoyanov commented on #3552
![Screenshot 2019-08-12 at 15 07 53](https://user-images.githubusercontent.com/13551960/62944517-864f1180-bde5-11e9-9dfe-229c78e9fc32.png)
![Screenshot 2019-08-12 at 15 07 31](https://user-images.githubusercontent.com/13551960/62944519-864f1180-bde5-11e9-819f-da0e1e3824eb.png)

[2019-08-13 13:54] div8cn commented on #3550
I am having problems after upgrading VR after upgrading 4.11.3.

I can't reproduce this problem in my test environment right now.

There are currently 8 share networks in my production environment, all of which have different levels of IP loss, and both occur after upgrading VR.

[2019-08-13 14:00] div8cn commented on #3550
I upgraded from 4.11.2 to 4.11.3

The host is xenserver 7.1.2

[2019-08-13 15:15] nvazquez commented on #3550
Thanks @div8cn, did you hit the issue recreating the VRs using the new system VM template?

[2019-08-13 15:17] #3542 closed

[2019-08-13 15:22] div8cn commented on #3550
System template has been updated

Vr has also completed the upgrade

[2019-08-13 16:14] andrijapanicsb commented on #3550
Couldn't reproduce myself...

[2019-08-13 17:14] nvazquez commented on #3550
Couldn't reproduce either

[2019-08-13 17:17] rhtyd commented on #3552
Oh so, this was the bug. Thanks for reporting. Likely some space issue somewhere, though we only check by suffix/extension.

[2019-08-13 17:18] rhtyd commented on #3550
Thanks @andrijapanicsb @nvazquez I've moved it to next minor milestone, this is not a blocker for 4.13.

[2019-08-13 19:17] msinhore opened #3554 "Guest OS preference isn't working to define physical hosts to deploy os types"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Define the OS preference as Windows in one host to take advantage of hardware and OS licensing models.

##### OS / ENVIRONMENT

Hypervisor: VMware 6.5
Template: Windows Server Datacenter 2016

##### SUMMARY

If a host is defined to be preferred OS for windows for example, it isn't

[2019-08-14 09:43] borisstoyanov opened #3555 "Hide UpdateTemplatePermissions button when the template is owned by a project."
##### ISSUE TYPE

 * Bug Report
 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

If a template is owned by a project it cannot be shared. User gets the following error:

Update template permissions is an invalid operation on template project1tmpl. Project owned templates cannot be shared outside temp

[2019-08-14 09:44] borisstoyanov commented on #3555
ping @anuragaw

[2019-08-14 15:24] onitake opened #3557 "cloud-init fails to fetch metadata when shared networks are present"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced networking, with isolated and shared networks.

##### OS / ENVIRONMENT

CentOS 7, but likely other VM operating systems affected as well.

##### SUMMARY

As reported here: https://bugs.launchpad.net/cloud-init/+bug/1839854

cloud-init is longer able to fetch metadata on VM

[2019-08-15 07:20] ustcweizhou commented on #3557
@onitake have you removed the old lease files in "/var/lib/dhclient", "/var/lib/dhcp" and "/var/lib/NetworkManager" when you created the template ?

[2019-08-15 11:11] borisstoyanov opened #3558 "VMsnapshot tags are not visible in list usage response"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

list usagerecords startdate=2015-01-01 enddate=2019-08-13 includetags=true type=25
{
"account": "admin",
"accountid": "29728169-ba9e-11e9-8e85-1e0050010765",
"description": "VMSnapshot on primary storage usage for VM multi-disk-asa-andrija (b7

[2019-08-15 12:27] borisstoyanov opened #3559 "Snapshots that have timed out have been left on the secondary storage"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

VMware, NFS

##### OS / ENVIRONMENT

##### SUMMARY

When a snapshot has timed out the job fails but the file itself is left on the secondary storage pool. This may cause the storage pool to be filled with unusable data.
There's also no records in the DB about the snapshots

##### S

[2019-08-15 15:16] onitake commented on #3557
@ustcweizhou I don't think this has any influence on the issue here.
cloud-init lists all lease files and consult only the newest one for determining the metadata server.

If the DHCP client obtains a lease from the shared network _last_, cloud-init will use that. And since the shared network VR doesn't start the metadata server, cloud-init will not be able to obtain metadata and fail.

[2019-08-16 07:20] ustcweizhou commented on #3557
@onitake what network offering is used to create the shared network ?
if you use a network offering which support UserData (for example DefaultSharedNetworkOffering /Offering for Shared networks), apache2 service should be running in virtual router as metadata server.

[2019-08-16 08:04] onitake commented on #3557
That's a good point. The shared network offering we're using in this case does not have the UserData flag enabled. However, we have a reason for not doing this, and metadata fetching has worked for us fine until cloud-init was updated to consult NetworkManager leases.

As mentioned in the upstream bug report, we would rather have the previous behaviour back, in that cloud-init always uses the defa

[2019-08-16 08:45] ustcweizhou commented on #3557
@onitake
I think the commit to fix https://bugs.launchpad.net/cloud-init/+bug/1717147 is the root cause of your issue.
https://github.com/cloud-init/cloud-init/commit/da1db792b2721d94ef85df8c136e78012c49c6e5
However, the bug fix makes more sense in my view.

I have no idea why cloud-init gets metadata from the latest dhcp server. It would be better to get metadata from each dhcp server and stop th

[2019-08-16 10:42] onitake commented on #3557
The bug fix is fine, I think. If the user wishes to rely on DHCP leases, that's all right.

What you describe is one possible solution, and I think cloud-init should behave like this in general.

However, I also think that forcing the use of the default gateway would work best in our environment, because the default gateway will always run the metadata server.

[2019-08-16 12:23] ustcweizhou commented on #3557
@onitake for isolated network with single virtual router, yes, the gateway is the metadata server.
for shared network, the ip of virtual router is not gateway.
for isolated network with redundant virtual router, the metadata server is running on guest ip of vr, not gateway ip. see #3409

[2019-08-16 12:29] borisstoyanov opened #3561 "Cannot resize a volume with different tags, therefore cannot migrate it to different storage pools"
##### ISSUE TYPE

 * Bug Report
 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

If you'd like to upgrade a volume, let's say from a normal hard drive to SSD and all the storage pools and offerings are tagged with different tags, there's no other way to do that except from updating the offering ID in

[2019-08-16 18:39] onitake commented on #3557
There are many different ways in which networks can be configured, and I agree that my point of view might not cover all use cases.

But there's also another reason why I'd prefer cloud-init doesn't try to fetch metadata from a shared network: Since such a network is by definition not isolated, there's a higher risk that a malicious party might run a rogue DHCP server and a fake metadata server on

[2019-08-17 11:21] kioie commented on #3523
@digitalgust could also be a network setup issue. do you have details of your network setup?
Also...check your key to make sure that you are not also copying the blankspace at the end of the key.

[2019-08-19 14:14] onitake commented on #3561
According to feedback from @DaanHoogland , the changes required to implement this would be significant. There are quite a few cases to cover when storage tags change.

But for the time being, it would be great if at least the UI behaviour could be fixed. Since it's already possible to change the storage offering via the API/CLI when storage tags are unchanged, the UI should also reflect this. Curr

[2019-08-20 12:53] borisstoyanov opened #3565 "vmware dvSwitches - promiscuous mode gets 'reject' when another network is attached to a VM"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When a new network is joined to a VM the promiscuous mode gets to 'reject' of the original network.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-08-20 13:20] #3558 closed

[2019-08-21 04:26] luhaijiao commented on #3505
in our hyper converaged architecture,  the management servers are deployed in the same host with guest VMs.

Assume primary management server A# running on host 1# with other guest VMs,  and backup managment sever on host 2#.

In case that host 1# is in outage,  due to this 'bug',  the backup management server will not be active till 15 mins later,  hence during this period(N+15 mins),   all guest

[2019-08-22 03:59] digitalgust commented on #3523
create RBD primary storage with para:
RADOS Monitor: mon.csdomain
RADOS Pool:cloud
RADOS User:cloud
RADOS Secret:AQATDjld4LBvBxAABbwFU5C/m/aTVkI95xrSzw==

the error message show :
 INSERT INTO storage_pool (storage_pool.id, storage_pool.name, storage_pool.uuid, storage_pool.pool_type, storage_pool.created, storage_pool.update_time, storage_pool.data_center_id, storage_pool.pod_id, storage_pool.use

[2019-08-22 15:31] server24 commented on #3559
This seems to be the case for KVM, also.

[2019-08-26 09:37] onitake commented on #3557
I think we found the "right" way to do this: If the metadata server is enabled on an interface, it will offer the special hostname `data-server` on its DNS server. This is already the case, and I really don't understand why cloud-init isn't already using that.

This should always be the first host that cloud-init checks.

As a second step, the "only latest lease" heuristic should go be replaced wi

[2019-08-26 14:04] wido opened #3568 "Security Groups are not properly applied on KVM with multiple NICs"
##### ISSUE TYPE
 * Bug Report

Might be related to #3045

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
* Advanced Networking
* Instance with NICs in two different networks

##### OS / ENVIRONMENT
Ubuntu 18.04

##### SUMMARY
We have two networks:

Network 1: 10.100.16.0/24
Network 2: 185.109.216.0/24

A Virtual Machine has it's primary NIC in *Network 1* and a

[2019-08-26 14:24] wido commented on #3568
Ping @ustcweizhou as this might be related to issue #3045 he created.

Can you comment?

[2019-08-26 14:34] wido commented on #3526
@GabrielBrascher Could you look into this? Seems like a valid scenario. We probably need a try/catch around the point where we query the domain from libvirt.

[2019-08-26 15:31] wido commented on #3568
I've been reading the code a bit more and things go horribly wrong here.

*security_group.py* is called twice, one time for each NIC.

Now, when this is called with the argument *default_network_rules* it creates (and clears existing) a ipset for the VM:

- i-2-185-VM
- i-2-185-VM-6

When you call this *twice* the ipset will *only* contain the last arguments:

<pre>
root@hv-138-a05-24:~# ipset lis

[2019-08-26 16:05] onitake commented on #3557
@joschi36 has pushed a proposed fix: https://code.launchpad.net/~joschi36/cloud-init/+git/cloud-init/+merge/371807

With this fix, cloud-init will first consult the host `data-server` before falling back on the previous behaviour.

While this doesn't address the case where multiple default gateways are available with only some running the metadata server, it should at least be much more reliable t

[2019-08-26 18:49] wido opened #3569 "IPv6 code cleanup"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
IPv6

##### SUMMARY
A lot of the current IPv6 code dates back to 2013 and is poorly implemented.

This code copied IPv4 logic like allocating addresses in a table and then handing them out through DHCP to an Instance to IPv6 and that is not how it works with IPv6.

In Basic Ne

[2019-08-26 19:21] GabrielBrascher opened #3570 "Cannot choose network during VM deployment on UI"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

This issue happens when a network has all the following characteristics:
- advanced networking with security groups
- traffic type of "Guest"
- guest type of "Shared"
- IPv6 cidr not null

##### SUMMARY

The Javascript code adds the parameter `canusefordeploy=true` on the API call

[2019-08-27 18:03] DmB991 commented on #3526
@GabrielBrascher After upgrading to 4.11.3.0 the problem(INFO message "Failed to get free memory" and ERROR with InsufficientCapacityEception) still appear when hosts has free resources (see the log 2 comments above)

[2019-08-28 06:39] borisstoyanov opened #3572 "Removing, then adding kvm agent again occasionally fails"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When deleting a host and then re-adding it again it fails

DEBUG:root:execute:systemctl stop cloudstack-agent
DEBUG:root:execute:sleep 30
DEBUG:root:execute:systemctl enable cloudstack-agent
DEBUG:root:execute:systemctl is-active cloudstack-ag

[2019-08-28 07:10] prashant2594 opened #3573 "secondary-storage-vm-console-proxy-creation-failure"
@rhtyd

##### ISSUE TYPE

 * Bug Report
 * Improvement Request
 * Enhancement Request
 * Feature Idea
 * Documentation Report
 * Other
Other
##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

ACS 4.11
[code]

##### CONFIGURATION

ACS 4.11 , KVM , NFS

##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY

I'm a newbie, and I've been trying to setup cloudstack with NFS and using KVM by following the

[2019-08-28 07:32] DaanHoogland commented on #3572
diag on this:
 in <prj-root>/python/lib/cloudutils/utilities.py,
  in the class ```serviceOpsRedhat7```,
   in method ```isServiceRunning(self, servicename)```,
 the service is checked by queriying the stdout of ```bash("systemctl is-active " + servicename)```.
 I'd rather have it check for the result instead of doing a textual check but haven't gotten this to work yet. Also I don't if and when th

[2019-08-28 10:00] rhtyd commented on #3573
@prashant2594 please share the logs, add a secondary storage and seed the correct version specific template.  Here's a quick tutorial on ubuntu/kvm: https://rohityadav.cloud/blog/cloudstack-kvm and you can also refer to http://docs.cloudstack.apache.org/en/4.11.3.0/

Kindly join the users ML and ask such questions there. What you're experiencing is a setup/install issue and not a bug or issue: htt

[2019-08-28 10:00] #3573 closed

[2019-08-28 18:25] #3570 closed

[2019-09-02 08:41] DmB991 commented on #3550
@andrijapanicsb @nvazquez @rhtyd We have similar bug after upgrade from 4.11.2 to 4.11.3 (kvm hosts)

[2019-09-02 09:38] luhaijiao commented on #3550
We are managing a 800+ VM environment with XenServer 7.1CU2 and ACS 4.11.3.  We have hit this instance IP lose issue for multiple times which has not been seen while we stayed with ACS 4.11.2.

[2019-09-02 10:13] lihangqi opened #3577 "Failed to build CloudStack."
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When I followed the instructions in the [website](https://cwiki.apache.org/confluence/display/CLOUDSTACK/Setting+up+CloudStack+Development+Environment+on+Linux) to build CloudStack (mvn clean install -P developer, systemvm), I found that the b

[2019-09-04 06:51] nvazquez opened #3581 "Agent LB not working with disabled hosts"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
Enable agent LB, set up algorithm and host global setting

##### OS / ENVIRONMENT
Multiple management servers, multiple KVM hosts

##### SUMMARY
- Disabled KVM hosts do not get the 'host' configuration updated value.
- Disabled KVM hosts do not connect on agent restart

##### STEPS TO

[2019-09-04 17:07] nvazquez opened #3583 "[Improvement] Enter BIOS directly after VM restart"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
It would be nice to have a mechanism to enter BOS directly without user intervention after a VM restarts. Currently, users can access BIOS hitting F2.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL

[2019-09-05 02:17] luhaijiao commented on #3550
@DmB991  Just curious, how many running VMs in your environment which you saw this issue ?  And did you take any chance  to rebuild the VR if it solved this issue ?

[2019-09-05 05:08] #3577 closed

[2019-09-05 09:55] DmB991 commented on #3550
@luhaijiao We use CloudStack for testing our network product, so we create and destroy huge amount of networks and VMs(more than 5000) every day and we see this issue really often. We just returned to version 4.11.2

[2019-09-05 11:24] onitake commented on #3583
Is something like this even feasible?
I'm sure it would at least be hypervisor dependent...

[2019-09-05 12:03] nvazquez commented on #3583
Hi @onitake, my intention was bringing up this idea as a nice to have, but honestly, I haven't gone into thinking how to do it rather than imagining use cases. I think the initial effort with this ticket will be evaluating if it is possible and how it can be achieved for different hypervisors.

[2019-09-06 01:40] mihle opened #3584 "Unexpected Error when creating VM Snapshot on Stopped VM"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Xenserver 7.1

##### SUMMARY

Cannot create VM Snapshot on stopped VM. Once the VM starts, the VM snapshot works.

This is occurring with Xen Hypervisor.  Unexpected error in the UI caused by an NPE from this line:

VMSnapshotManagerImpl.orchestrateCreateVMS

[2019-09-06 07:21] onitake commented on #3583
Ah, I see.
I guess it might be useful, as there is often very little time to react at startup.

It seems like VMware does have an API for this: http://vmware.github.io/vsphere-automation-sdk-rest/6.5/operations/com/vmware/vcenter/vm/hardware/boot.get-operation.html
`value.enter_setup_mode`

[2019-09-06 07:32] wido opened #3585 "agent.log should not be rotated by logrotate"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04 / 18.04 hypervisor

##### SUMMARY
The /var/log/cloudstack/agent/agent.log is rotated by both log4j and logrotate and this causes the agent.log to be filled with binary (gzipped) data.

##### STEPS TO REPRODUCE
Try to 'grep' for some text in /var/log/cloudstack/agent/age

[2019-09-06 08:13] luhaijiao commented on #3584
Yes, we confirm this issue in our XenServer environment.
And also noted the VM with snapshots is not allowed to resize volume or add disk.  And these are ACS's constraint but not XenServer.   Unlesss there's some special concern,  I think these constraints should be removed too.

[2019-09-06 10:04] onitake commented on #3585
Potentially related: #3443

There are still log files that are not generated by log4j.
If these are all migrated, external logrotate will no longer be necessary.

[2019-09-07 15:48] div8cn opened #3586 "rbd snapshot delete failed"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

snapshot.backup.to.secondary =false
kvm.snapshot.enabled =true

##### OS / ENVIRONMENT

system os: CentOS7
ceph  : 12.2.11

##### SUMMARY

When the main storage is RBD and snapshot.backup.to.secondary = false

When deleting volume snapshots, only records in the database are deleted

[2019-09-09 08:02] DmB991 commented on #3526
@GabrielBrascher Do you have any results of checking logs?

[2019-09-09 14:07] DaanHoogland opened #3588 "attach iso succeeds from different zone"
When attaching an iso from zone A to a stopped VM from zone B, a customer reported that the API succeeds. The VM can not be started as the ISO is not available in the required zone.
I have not reproduced the error for lack of being able to create a suitable environment, but code analysis shows that this is plausible.

the following fragment should ensure the attachement fails with a proper error r

[2019-09-09 15:05] GabrielBrascher opened #3590 "Revert Ceph/RBD Snapshot issue"
#### DESCRIPTION

The following exception shows that the parameter "path" had different data from what it was expected to have. I assume that it got the account id "2" instead of the image id:
[code]

The parameter [snapshotRelPath = snapshot.getPath()](https://github.com/apache/cloudstack/blob/61b8b779137739bb5b890f48c5164085075d0286/plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/

[2019-09-09 19:09] DaanHoogland commented on #3588
the problem is not there in the UI. The ISO will not be shown when choosing to attach to a VM.

[2019-09-09 19:24] DaanHoogland commented on #3588
in cloud monkey however:
[code]
[code]

[2019-09-10 16:35] #3572 closed

[2019-09-10 22:11] rhtyd opened #3592 "Ensure VM deletion when default nic is removed does not cause stale entries in DB and router"
When a VM is destroyed with its default nic deleted first, a NPE fix was added to simply ignore reprocessing of the dhcp/dns rule. Check and fix in case the VM deletion with the default nic removed causes stale entries in the DB or the router. Also explore if removal of the default nic at the end is the safest option.

(Reference, default NIC NPE was fixed in #3547)

##### ISSUE TYPE

 * Bug Repor

[2019-09-11 12:42] DaanHoogland commented on #3584
@mihle @luhaijiao What is the use of a VM snapshot when a VM is stopped? The only tangible thing is the disk image as a stopped VM does not have memory state.
Isn't it completely appropriate to be not be able to take a VM snapshot (irrespective of the unclear error output)?

[2019-09-11 18:41] borisstoyanov opened #3593 "Not able to call scripts with get diagnostics"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

get diagnostics fails to execute a script when called. I've setup a script that would create some files locally on the VR in the /opt/cloud/bin dir, but when calling it via the api and UI with [script]
it does not run.
related to #3350

[2019-09-11 18:41] borisstoyanov commented on #3593
ping @anuragaw

[2019-09-11 19:12] anuragaw commented on #3593
Can you see if the router was patched with the scripts that is expected to run @borisstoyanov ? I mean if the VR was created and then you upgraded to this feature, the older VRs could be missing that script.

[2019-09-11 19:28] kiwiflyer opened #3594 "Support for KVM dynamic scaling"
Support the ability to dynamically scale or change multiple config components in a libvirt configuration.

Initial support for vCPU, Memory, bandwidth limits, IOP min,max and burt limits.

@rhtyd @skattoju4 @ustcweizhou @PaulAngus @rafaelweingartner  @nathanejohnson

[2019-09-11 20:22] svenvogel commented on #3594
@kiwiflyer is that call for a feature request?

[2019-09-11 21:11] borisstoyanov commented on #3593
Yes, the env is fresh installed and router should have these changes in it @anuragaw

[2019-09-12 19:42] nvazquez opened #3596 "Zone wide storage pools hypervisor checks missing while retrieving statistics"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION
Zones with mixed hypervisors (Vmware + other hypervisor)

##### OS / ENVIRONMENT
Zones with mixed hypervisors (Vmware + other hypervisor)

##### SUMMARY
Periodically, the management server sends GetVolumeStatsCommand to hosts and appends the storage pools which the host needs to exami

[2019-09-13 20:33] andrijapanicsb opened #3598 "SOLIDFIRE: "SolidFire" plugin doesn't work for ROOT volumes with VMware (6.5)"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

VMware 6.5 tested

##### SUMMARY

Adding SolidFire Primary Storage via SolidFire plugin for VMware 6.5 fails with errors in mounting Datastore in ESXi hosts and raises the specific error in mgmt logs.

##### STEPS TO REPRODUCE

in vCenter, add iSCSI Software

[2019-09-13 20:34] andrijapanicsb commented on #3598
@skattoju4 /CC @mike-tutkowski FYI ^^^

[2019-09-13 21:04] andrijapanicsb opened #3599 "SOLIDFIRE: "SolidFireShared" plugin doesn't work with more than 15.000 IOPS (with VMware (6.5)"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

VMware 6.5, but might be irrelevant (i.e. happening with XenServer also - will test and update at some point)

##### OS / ENVIRONMENT

NA

##### SUMMARY

Adding SolidFire to 4.13/VMware 6.5, using **SolidFireShared** plugin, asking for min_iops of 50.000 fails with message "This vo

[2019-09-13 21:06] andrijapanicsb commented on #3599
@skattoju4  /CC @mike-tutkowski FYI ^^^

[2019-09-13 21:33] andrijapanicsb commented on #3599
This SEEMS to be a limit of my test cluster, running an older ElementOS version - can't manually change min_iops to more than 15.000.

Probably will close this one.

[2019-09-13 21:37] andrijapanicsb commented on #3599
You learn something each day - so this seems to be the upper limit for the min_iops in Element OS 9.1, 9.3 and 10.3.

Closing this one.

[2019-09-13 21:37] #3599 closed

[2019-09-15 06:22] mihle commented on #3584
@DaanHoogland Thanks for your reply.  I disagree about the utility of creating VM snapshots from stopped VMs.  The customer wants to freeze a VM prior to running a windows update.
 Being able to stop the VM ensures the disk state prior to snapshotting.

At the least, the UI/Java code should handle the logic/error gracefully.  Also, I feel like this issue was introduced with refactoring done for 4.

[2019-09-16 09:26] ustcweizhou commented on #3584
this seems to be a critical issue.

[2019-09-16 14:17] DaanHoogland commented on #3093
most likely related to #3596 ,which says a similar thing about zone-wide storage.

[2019-09-16 14:23] DaanHoogland commented on #3596
the same stack trace is seen as with issue #3093 trying to reach unreachable local storage:
[code]

[2019-09-17 04:02] anuragaw commented on #3593
Looked at it today but doesn't repro. I'll sync later to get exact steps.

[2019-09-19 10:19] joschi36 commented on #3557
bump @ustcweizhou @rhtyd @DaanHoogland @PaulAngus
Do you think this is the right way to go. If yes we could merge the "Merge Request" in cloud-init launchpad.
Issue: https://bugs.launchpad.net/cloud-init/+bug/1839854
MR: https://code.launchpad.net/~joschi36/cloud-init/+git/cloud-init/+merge/371807

[2019-09-19 12:33] ustcweizhou commented on #3557
@joschi36  I've added a comment on launchpad.

[2019-09-19 15:30] skattoju4 commented on #3594
@svenvogel we talked about at CCC and did a quick test using virsh to see whats possible. wondering if anyone else in the community has looked at this.. looking for contributions.

[2019-09-19 15:56] nvazquez commented on #3594
Hi @skattoju4, the PR I submitted is work in progress, doing it incrementally while testing possible approaches. Feel free to propose/refactor the approach in the PR

[2019-09-20 09:37] andrijapanicsb opened #3602 "Using custom protocol in ACL rule, breaks ACL"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

VPC, custom ACL with a few (ingress) rules applied to a network

##### OS / ENVIRONMENT

NA

##### SUMMARY

Adding an ACL rule with a custom **protocol number** (i.e. protocol 50, 51 or any other) - will break ACL/iptables chain inside the VR in following way
- all the rules BEFORE

[2019-09-20 09:52] onitake commented on #3602
For reference: IP protocol numbers 50 and 51 are for IPsec in transport mode. They are useful if IPsec endpoints are operated behind the router and tunnel mode (UDP port 500) cannot be used.

[2019-09-20 09:56] andrijapanicsb commented on #3602
_(I tested with protocol number 6 (TCP) and saw the same behaviour)_

[2019-09-20 11:49] andrijapanicsb commented on #3550
Can you guys perhaps make a correlation with the out-of-band live migration (vSphere, DRS, XenServer,etc. - i.e. that ACS is not aware of) - and if this triggers the thing.

We are observing specific situation which seems related to DRS doing the out of band migration, then that VM's power off report is sent back to ACS, so it immediately removes it's DNS/DHCP (new in 4.11.3, to clean the garbage

[2019-09-20 14:38] div8cn commented on #3550
Thank you for your reply
Sometimes we do skip ACS and migrate VMs directly through xencenter.
We will test again, hoping to reproduce the fault.

[2019-09-23 09:38] andrijapanicsb commented on #3598
Small update - it works fine for DATA disks since no renaming of datastore in play.

[2019-09-23 10:39] andrijapanicsb commented on #3598
*Seems* like removing the static iSCSI targets is the step that breaks the whole thing:

The last few steps from the original screenshot:

- datastore is renamed as: _Renamed datastore from snap-13e16b15-iqn.2010-01 .com.solidfire:hi1k.centos53-x64.66-0 to -iqn.2010-01 .com.solidfire:hl1k.root-55.67-0_ (fine)
- VMFs is unmounted (per "plan" or not?)
- static iSCSI target is removed - BUT without f

[2019-09-23 14:54] div8cn opened #3603 "VM created through ISO cannot be reinstalled through templates"
Through an example created by ISO, an error occurred in Reinstall VM (API: restore Virtual Machine): "Invalid ISO id provided to restore the VM"

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS7 KVM+RBD primary storage

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

[2019-09-25 11:00] rohityadavcloud opened #3609 "Improve Guest OS additions and mappings"
When adding support for new guest OS and their hypervisor mappings, the upgrade path(s) have historically assumed static guest OS `id` in the schema/upgrade paths even for `id` which is an AUTO_INCREMENT column. This can break on environments who add their custom guest OS and hypervisor mappings. The implementation should be improved to allow insertion of guest OS either via APIs or via schema upg

[2019-09-30 11:49] andrijapanicsb commented on #3609
I believe we effectively need to handle 2 tables: guest_os and guest_os_hypervisor (expecting that end-users will NOT have a need to change guest_os_category or guest_os_details)

Current code behaviour (tested with 4.11/4.13):
- from the **guest_os table**, show all duplicates (if any, should be none usually) - this is what's visible in the listOsTypes or in the GUI (and it does show duplicates w

[2019-09-30 14:26] PaulAngus commented on #3609
I believe that the entire methodology around supporting hypervisor versions needs refactoring.  Users/operators should not need to be independently adding OSes.
I would like to see some kind of file (probably json) which describes a hypervisor type+version, it's capabilities, it's supported GuestOSes, and any string mappings required.
Operators would then 'import/activate' the 'file' for the hyper

[2019-09-30 19:18] svenvogel commented on #3609
@PaulAngus Sounds good especially the "10s of CentOS" ... It would make the work of the operator easier.

[2019-10-01 08:31] rhtyd opened #3613 "New rules cause dnsmasq to be restarted instead of reloaded"
When adding/configuring new dhcp/dns rules, the dnsmasq process is restarted:
https://github.com/apache/cloudstack/blob/master/systemvm/debian/opt/cloud/bin/cs/CsDhcp.py#L71

Explore if it's possible to simply reload the dnsmasq process than restart it.

(If dnsmasq restarts at the same time monitoring service check kicks in, it might show to recover the dnsmasq again)

##### ISSUE TYPE

 * Improv

[2019-10-01 09:57] onitake commented on #3613
Restarting should not be necessary for reloading DNS and DHCP records, according to the man page: http://www.thekelleys.org.uk/dnsmasq/docs/dnsmasq-man.html#lbAG
Quote:

The systemd unit in Debian buster sends a SIGHUP on reload, so it should suffice:
[code]

[2019-10-02 09:14] belperite opened #3614 "Upgrade failing from 4.12 to 4.13"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

KVM Hypervisor, management server on same machine as hypervisor, advanced networking.

##### OS / ENVIRONMENT

OS is Ubuntu Bionic

##### SUMMARY

I am attempting to upgrade from 4.12 to 4.13, however the upgrade is failing with:
`2019-10-02 09:55:38,966 ERROR [c.c.u.DatabaseUpgrad

[2019-10-02 09:17] rhtyd commented on #3614
Cc @PaulAngus @andrijapanicsb

[2019-10-02 09:18] rhtyd commented on #3614
@belperite you need to setup the 4.11.3 systemvmtemplate prior to upgrading to 4.13 from any version.

[2019-10-02 10:17] andrijapanicsb commented on #3613
it WAS necesary some days (years?) ago, since there was no way to reload the dnsmasq (or it was buggy) - but today - you are right.

[2019-10-02 10:44] belperite commented on #3614
@rhtyd Thanks! I had to go back to the beginning with a DB backup, then add the new systemvm template through the UI (not through the cloud-install-sys-tmplt script as I had tried initially), then do the upgrade again and it seemed to work this time. It may be an idea to update the documentation to this effect? I was previously on 4.11.2, so did not upgrade at first because of:

![cs-noupgrade](ht

[2019-10-02 12:43] PaulAngus commented on #3614
Ah, I see the issue here, 4.12 came out before 4.11.3 so if you jumped 4.11.2 ->4.12, you wouldn't have the 4.11.3 template.
If you upgraded 4.11.2->4.11.3 -> 4.12 you would have the 4.11.3 template.

[2019-10-02 12:52] belperite commented on #3614
@PaulAngus Yes that's right. Possibly a small documentation tweak would avoid others coming across the issue?

[2019-10-02 16:01] PaulAngus commented on #3614
I've created a PR to fix this:
https://github.com/apache/cloudstack-documentation/pull/72

Built docs can be reviewed here:
https://acs-www.shapeblue.com/docs/pr72/upgrading/upgrade/upgrade-4.12.html

![image](https://user-images.githubusercontent.com/4810220/66060753-197b0c80-e536-11e9-9d78-357ce00d4f4b.png)

[2019-10-03 08:10] tsvetanakostova commented on #3559
Same issue here, again with VMware.

[2019-10-03 09:50] rhtyd commented on #3614
Paul's PR has been merged, closing this. Website would be updated soon, in not done already.

[2019-10-03 09:50] #3614 closed

[2019-10-05 22:26] msinhore opened #3618 "Compute Offering created to a domain isn't available when trying to change the instance service offering in an account inside the domain associated"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When a compute offering is created and is associated to a domain, users from an account in the same domain can't use it to change the compute offering from a created instance.
To create a new instance, the compute offering is shown.

[2019-10-05 22:34] msinhore commented on #3554
Thank you @rhtyd for you explanation.

[2019-10-07 08:07] wido opened #3624 "Redfish support for Host HA (Out of Band)"
##### ISSUE TYPE
* Feature Idea

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### SUMMARY
The current implementation of Host HA (Out of Band) only supports IPMI (v2).

- https://cwiki.apache.org/confluence/display/CLOUDSTACK/Host+HA
- https://www.shapeblue.com/host-ha-for-kvm-hosts-in-cloudstack/

Redfish is a new implementation supported by the big vendors which provides a HTTP

[2019-10-07 08:18] wido commented on #3624
![Screenshot from 2019-10-07 10-15-59](https://user-images.githubusercontent.com/326786/66295493-c1ecf000-e8eb-11e9-8c02-e80edc6554cd.png)

There should be a Redfish driver there

[2019-10-07 08:24] wido commented on #3624
SuperMicro: https://www.supermicro.com/en/solutions/management-software/redfish
Dell: https://www.dell.com/support/article/in/en/inbsd1/sln310624/redfish

[2019-10-07 14:04] DaanHoogland opened #3625 "ui allows disabled API call and then ends session"
In 4.9 a user that did a call that was not allowed from the UI would get a permission denied error in the console. With 4.11.2 a 401 is thrown and the session is ended

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

when creating special permissions for a role a user would expect

[2019-10-07 15:46] andrijapanicsb opened #3626 "[Improvement] force VM shutdown when destroying VM"
* Improvement Request

When VM destroy is called (or at least whe the "expunge=true"), make sure to ask hypervisor for the forcefull stop of VM (quick!) and not regular guest OS shutdown (which can take time...)

Makes destroying VM faster.

[2019-10-08 11:33] tarmof commented on #3614
Hello, is it any possibility do this via console or direct database modification?
I cannot start version 4.12 cloudstack-management any more.
It gives error;
2019-10-08 01:00:15,775 DEBUG [o.a.c.f.c.i.ConfigDepotImpl] (main:null) (logid:) Retrieving keys from RootCAProvider
2019-10-08 01:00:15,803 DEBUG [o.a.c.s.l.r.ExtensionRegistry] (main:null) (logid:) Registering extension [RootCAProvider] in

[2019-10-08 12:07] tarmof opened #3628 "Cloudstack management v4.12 does not start after trying to upgrade v4.13"
I cannot start version 4.12 cloudstack-management any more.
It gives error;

2019-10-08 01:00:15,775 DEBUG [o.a.c.f.c.i.ConfigDepotImpl] (main:null) (logid:) Retrieving keys from RootCAProvider
2019-10-08 01:00:15,803 DEBUG [o.a.c.s.l.r.ExtensionRegistry] (main:null) (logid:) Registering extension [RootCAProvider] in [Ca Providers Registry]
2019-10-08 01:00:15,803 DEBUG [o.a.c.s.l.r.RegistryLifecy

[2019-10-08 13:13] Doni7722 commented on #3592
@rhtyd We have CloudStack 4.11.3 running and we can't expunge VM's which have more than 1 NIC and the default NIC is the first one. What I saw is, that CS will delete the default NIC first and then can't continue as he is looking for the default NIC (which was just deleted). Does this Issue handel this issue or should I open a new one?

[2019-10-09 09:07] gngusen commented on #3509
Its great that I found experts in cloudstack. May you lease help me I am unable to add the host to the management server
The management server and the host are separate machines in the same network with a private Ip address. The management server also serves as the storage, is installed correctly and can be obtained in the UI but unable to add host
Agent and libvirtd are running properly
Managemen

[2019-10-09 09:09] gngusen opened #3629 "Unable to add host to cloudstack UI"
Its great that I found experts in cloudstack. May you please help me I am unable to add the host to the management server
The management server and the host are separate machines in the same network with a private Ip address. The management server also serves as the storage, is installed correctly and can be obtained in the UI but unable to add host
Agent and libvirtd are running properly
Manageme

[2019-10-09 13:40] gngusen commented on #3628
Please consult @rhtyd he will surely help
Sorry if this disrupts your question but I really need assistance. I am unable to add the host to the management server through the UI. They are separate machines in the same network. Please help

[2019-10-10 09:38] cl-k-takahashi commented on #3626
Setting `vm.destroy.forcestop` to `true` in Global Settings may do.

[2019-10-10 10:11] andrijapanicsb commented on #3628
did you restore to the DB backup from 4.12 (that you took before trying to upgrade to 4.13) ?
If so, stop mgmt, restore DB, and start 4.12 mgmt - easy as that.

What/why did upgrade fail to 4.13 - did you
1) have new records added in the guest_os  and/or guest_os_hypervisor tables?
2) did you register 4.11.3 systemVM template while on 4.12, before trying to upgrade to 4.13?

[2019-10-10 10:13] andrijapanicsb opened #3631 "[Improvement] Enable VM console access while VM in "Stopping" state"
* Improvement Request

The same way we allow for Console access to a VM/VR in "Starting" state (we display Console access button in the GUI) - let's support the same while VM is in the "Stopping" state.

[2019-10-10 10:46] andrijapanicsb commented on #3626
Well, that works as well :) Closing this one.

[2019-10-10 10:46] #3626 closed

[2019-10-10 12:53] andrijapanicsb opened #3633 "GUI doesn't show "default" label next to networks in Add Instance wizard"
* Bug Report

- Master branch

Word "Default" in front of the radio buttons is missing.

Tested on Chrome/Firefox (cleared cache)

![image](https://user-images.githubusercontent.com/45762285/66570286-9842fb80-eb6d-11e9-8163-8905b458dbfc.png)

[2019-10-10 12:55] andrijapanicsb commented on #3633
@anuragaw if you could have a look, some time please?

Should be like this below:

![image](https://user-images.githubusercontent.com/45762285/66570467-eeb03a00-eb6d-11e9-9928-7e405c3e57b5.png)

[2019-10-10 12:58] anuragaw commented on #3633
Sure @andrijapanicsb

[2019-10-10 16:04] #3618 closed

[2019-10-10 16:04] msinhore commented on #3618
Not a bug.

[2019-10-12 10:31] tarmof commented on #3628
Hello,

yes I restored DB from 4,12 backup,
but 4.12 mgmt does not start any more, giving error I post

So I also cannot register 4.11.3 systemVM template

BR,
Tarmo

On Thu, Oct 10, 2019 at 1:11 PM Andrija Panic <notifications@github.com>
wrote:

[2019-10-12 12:12] Carrot031 opened #3634 "cloudstack-setup-databases doesn't allow IPv6 address."
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Running `cloudstack-setup-databases cloud:fe80::dead:beaf` will show you
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-10-12 12:33] Carrot031 commented on #3634
It's my mistake!

[2019-10-12 12:33] #3634 closed

[2019-10-15 12:10] borisstoyanov opened #3637 "If only domainid is passed VM gets deployed on root domain"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-10-15 13:01] ustcweizhou commented on #3637
@borisstoyanov the owner/account is determined by domain and account name. if account name is not passed, the caller will be the owner. this sounds ok.

[2019-10-17 10:10] ustcweizhou commented on #3629
@gngusen could you post the logs in /var/log/cloudstack/agent/setup.log on host ? and your cloudstack version, os /version, etc

[2019-10-17 10:29] borisstoyanov opened #3642 "typo in error message"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Some typos in error message

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]
Another:
[code]
Should say: Couldn't find unmanaged vm with name: c2-clone in cluster1

[2019-10-17 10:30] borisstoyanov commented on #3642
@shwstppr can you have a look pls?

[2019-10-17 10:36] shwstppr commented on #3642
@borisstoyanov sure

[2019-10-17 11:42] shwstppr commented on #3642
@borisstoyanov Exclaimation issue was fixed with this change 6 days back, https://github.com/apache/cloudstack/pull/3606/commits/ffa90b96ac5bb854032be897213717949cbde3d9#diff-3eaaf9de1645091dff197645123e669cR800
Second fixed with,https://github.com/apache/cloudstack/pull/3606/commits/8381d2ae7403fff71d3c659d4f41578c3222e1d2

[2019-10-17 14:54] DmB991 commented on #3513
The same problem with L2 networks

[2019-10-20 20:06] andrijapanicsb opened #3645 "Multi-homed VMs stuck in expunging state"
CloudStack 4.11.3 and 4.13.0.0

When VM is joined to i.e. one Isolated network (default) and one additional Shared guest network - when VM is being expunged, VM will be stuck in the "Expunging" state indefinitely, due to some DNS/DHCP changes we introduced in 4.11.3.

This issue is fixed by https://github.com/apache/cloudstack/pull/3627

[2019-10-20 20:07] andrijapanicsb commented on #3645
Resolved per the explanation above ^.

[2019-10-20 20:07] #3645 closed

[2019-10-20 20:25] andrijapanicsb opened #3646 "Garbage snapshots are left on Primary and Secondary storage after a volume snapshot is deleted"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Xs and NFS    or    KVM and NFS/Ceph (have not tested VMware)

##### OS / ENVIRONMENT

##### SUMMARY

When a snapshot is deleted (manually, or as part of the scheduled snap policy), snapshot is NOT deleted from Primary Storage (except KVM + Ceph, which is being fixed in https://git

[2019-10-21 05:17] luhaijiao commented on #3505
hi @nvazquez

Sorry to ask this, but is there ETA for this fix ?

thanks !

[2019-10-21 08:26] borisstoyanov opened #3647 "fresh install 4.11.3 systemvm template fails to be recognized during upgrade"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

system vm template fails to get recognized as valid and we get an upgrade failure due to that, if the user registers a 4.11.3 template with the name as per instruction it works, but that's not needed since it's the same template.

##### STEPS

[2019-10-23 10:16] andrijapanicsb commented on #3550
Fixed in master @div8cn @DmB991 @luhaijiao  - we now remove DHCP config only when VM is expunged - not before - so any DRS/live migrations outside of the CloudStack - will not influence VM to lose its IP address. Please test when you have time.

[2019-10-28 08:38] DaanHoogland opened #3652 "improve logging in vmware storage processor"
VolumeOrchestrator gives a cryptic message when copy from primary to secondary failes on Vmware during migrate volume.

[code]
there is a lot of information in the message about where things went wrong but not about what is wrong. The NPE is not locatable from the message or the accompanyting stacktrace.

in ```com.cloud.storage.resource.VmwareStorageProcessor#copyVolumeFromPrimaryToSecondary``` ,

[2019-10-29 13:06] DennisKonrad commented on #3550
@andrijapanicsb Can you link the relevant PR? I couldn't find the code fixing this in master and also in 4.11. Thanks in advance

[2019-10-29 14:22] andrijapanicsb commented on #3550
PR #3627 (that one is work on top of #3608)

There is additional planned work to also regenerate the dnsmasq.leases file inside the new VR - and then finally everything will be stable and "how it's supposed to be"

[2019-10-29 14:59] msinhore opened #3654 "Remote VPN not working if site-to-site VPN exists"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Site-to-site VPN enabled.
Remote VPN configured

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When both site-to-site VPN and the Remote VPN are configured/enabled - Remote VPN will not work. When site-to-site VPN is removed, Remote VPN will start functioning again fine.

##### WORK

[2019-10-29 15:03] andrijapanicsb commented on #3654
In 4.13, I have observed that when site-to-site VPN exists, the Remote VPN/User VPN doesn't work - as soon as you delete the site-to-site VPN - Remote VPN works again fine.

[2019-10-29 18:32] andrijapanicsb commented on #3654
Per author's report - the workaround/fix is to add newer Debian repo (Buster), and install StrongSwan version 5.7.2 - but I have not tested this yet.

This requires rebuilding the systemVM templates.

[2019-10-30 09:16] borisstoyanov opened #3655 "Typo in VM State"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

The past tense of shutdown is shutdown, not shutdowned

https://cwiki.apache.org/confluence/display/CLOUDSTACK/CloudStack+objects+states
![Screenshot 2019-10-30 at 11 15 43](https://user-images.githubusercontent.com/13551960/67844567-a77eee80-fb06-11e9-9ac0-403e29533598.png)

[2019-11-01 15:05] DaanHoogland opened #3661 "when removing an account linked to ldap and re-adding it, login fails"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-11-04 14:25] AndreaGHG opened #3664 "Instances status out of sync with hypervisor VM's"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

1 Cloudstack management server, 1 dedicated DB server with MariaDB 5.5, 3 node VMWare VSphere 6.5 cluster. Cloudstack advanced networking setup.

##### OS / ENVIRONMENT

Management server installed on CentOS 7.

##### SUMMARY

Often it happens that Instances status goes out of sync

[2019-11-05 10:20] DaanHoogland commented on #3628
@tarmof not sure what exactly is your problem but it has to do with certificate initialisation:
java.lang.NullPointerException
at org.apache.cloudstack.utils.security.CertUtils.pemToPublicKey(CertUtils.java:145)
at org.apache.cloudstack.ca.provider.RootCAProvider.loadRootCAKeyPair(RootCAProvider.java:335)
at org.apache.cloudstack.ca.provider.RootCAProvider.setupCA(RootCAProvider.java:381)

[2019-11-05 11:19] rhtyd commented on #3628
There seems to be an issue with the root ca pub/priv key in the db (not being able to convert the value in the db by the mangement server as a PublicKey instance).

[2019-11-05 11:21] andrijapanicsb commented on #3628
I've seen people just restore the old DB (mysql import) withOUT deleting the "upgraded" DB - so please make sure to:
-delete cloud* DBs
- create emtpy cloud and cloud_usage DBs
- import a proper mysql backup for both DBs
- make sure to start 4.12 binaries

Proper rollback should be possible always.

[2019-11-05 11:41] DaanHoogland commented on #3661
@mlsorensen I implemented the quick solution above in a private branch (to be merged in a next release) Does it sound reasonable to you?

[2019-11-05 14:46] rhtyd opened #3667 "Update SystemVM Template for 4.14+"
Create a new sytemvmtemplate towards the next release (4.14 or above) with latest strongswan (https://github.com/apache/cloudstack/issues/3138) and other packages, including java11 JRE.

##### ISSUE TYPE

 * Enhancement Request

##### COMPONENT NAME

[code]

[2019-11-05 14:48] andrijapanicsb commented on #3667
Check also #3654 - Marco specified with which StrongSwan versions (from Debian10 repo) there are no problems.

[2019-11-05 15:06] rhtyd commented on #3654
@msinhore did it used to work before, say 4.9 and before?

[2019-11-05 17:41] msinhore commented on #3654
@rhtyd No, I used this approach only in. 4.11.x.

[2019-11-06 12:14] GabrielBrascher commented on #3667
@rhtyd considering that Python 2.7 will not be maintained past 2020 (will be retired on 1st January, 2020) next template should also have python3 installed to support python3 scripts.

[2019-11-06 22:47] msinhore commented on #3281
The same issue happen with HBA LUNs.

[2019-11-07 19:33] PaulAngus opened #3670 "Adding ACL rules for one subnet in a VPC stops traffic to a VM with a Public IP in a second subnet"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Whenever adding ACL rules for subnet 1 in a VPC, the VM that has Public IP in the Subnet 2 becomes unreachable. To solve the problem we need to restart the subnet 2 with clean up option.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULT

[2019-11-07 20:05] PaulAngus commented on #3664
Hi Andrea,

You mention that you had turned DRS off, had you still performed migrations on the effected VMs via vCenter, rather than via CloudStack?

thanks

[2019-11-07 20:28] ustcweizhou commented on #3179
@DennisKonrad
Does the issue happen occasionally ? Can it be reproduced by the steps you mentioned?

[2019-11-08 06:28] rhtyd commented on #3667
Sure @GabrielBrascher, we can install both python2 and python3 in the next systemvmtemplates (with python2 as default) so scripts can specify which python version they want.

[2019-11-08 08:28] AndreaGHG commented on #3664
Hi Paul,

I had not performed any migrations via vCenter, every operation was made via CloudStack.

Thanks!

[2019-11-08 08:54] weizhouapache commented on #3667
@rhtyd
can we upgrade haproxy from 1.7.5 (in 4.11/4.13) to 1.8.X in new systemvm template ?
it supports http2

[2019-11-08 09:27] rhtyd commented on #3667
@ustcweizhou yes, as long as the distribution (Debian 10) supports that version and moving to that version won't add regression or massive code changes.

[2019-11-08 09:28] rhtyd commented on #3670
@PaulAngus cc @andrijapanicsb - have we tested if this affects 4.11, 4.13? If not I can run a test.

[2019-11-08 10:17] DennisKonrad commented on #3179
Everytime we try to deploy redundant offering for VPCs.

It only seems to happen with OvS bridges though. I tried to reproduce it with Linux Bridges but there it did work.

[2019-11-08 13:02] ustcweizhou commented on #3179
@DennisKonrad have you tried with offering with single router?

[2019-11-08 13:06] DennisKonrad commented on #3179
@ustcweizhou The single Router offering works like a charm in thus setup. We use that for hundreds of VMs

[2019-11-08 15:06] weizhouapache commented on #3179
@DennisKonrad now we can conclude the issue happens with ovs and redundant VPC offering.
did you have this issue in old versions ? for example, 4.9.X or 4.11.X ?

[2019-11-08 15:31] DennisKonrad commented on #3179
@ustcweizhou It's very likely the issue is very old. My colleague mentioned it could be as old as 4.6 ...

We are currently trying to find out more where the issue originates. It looks like the hint fmaximus gave is in parts true:
In the json file the VPC-router receives, the dev_num and vif_mac address are wrong for the public ip. So whereever this gets matched the error happens.

[2019-11-08 17:19] weizhouapache commented on #3179
@DennisKonrad can you reproduce the issue and upload some mgt logs ?
you can grep the log by job id (job-XXXXX).

[2019-11-11 14:02] DennisKonrad commented on #3179
@weizhouapache The management logs are mostly uninteresting. But they also show that both VPC-router go into BACKUP state:

![image](https://user-images.githubusercontent.com/33484272/68592698-f5dfa600-0493-11ea-86e3-319135eb5237.png)
![image](https://user-images.githubusercontent.com/33484272/68592737-0db72a00-0494-11ea-81ac-d756cbbdf6cc.png)

[2019-11-11 14:11] DennisKonrad commented on #3179
Also we checked and found out, that the redundant VPC ist not using the https://github.com/apache/cloudstack/blob/9e6ee7c63e8b3073f9855511fe7cb004414b2dd4/plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/LibvirtComputingResource.java#L1756

We think that this is very likely the root of this issue.

[2019-11-11 14:19] weizhouapache commented on #3179
@DennisKonrad we have a fix for another issue with VPC, maybe it solves this bug.

[code]

can you try with it ?

[2019-11-11 14:30] DennisKonrad commented on #3179
@weizhouapache Thanks! Looks very promising. I will compile/test and come back to report if that fixes it.

[2019-11-12 08:31] weizhouapache commented on #3602
@andrijapanicsb
have you fixed this issue? If not, I will take it. we have a fix for it.

[2019-11-12 08:49] andrijapanicsb commented on #3602
not yet @weizhouapache, thx in advance!

[2019-11-12 09:26] borisstoyanov opened #3677 "linkAccountToLDAP must either use role or account type"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

currently the API supports only linking to an account type it's not supporting roles.
For example if a user is using dynamic roles and wants to link ldap account, instead of role he needs to pass the account type, then comes the question if multiple roles are assigned to the same account

[2019-11-12 09:27] borisstoyanov commented on #3677
ping @rafaelweingartner you probably are using this, can you comment on the expected and actual behaviour.

[2019-11-12 09:27] ustcweizhou commented on #3602
@andrijapanicsb I have created a PR #3678 for this issue.
Please review/test it, thanks !

[2019-11-12 09:58] DaanHoogland opened #3679 "marvin tests in plugin directory are not considered to be in python package"
when creating tests in the `tests/integration/plugins` directory, and then executing them in a deployed marvin environment like trillian, local imports do not work. This makes it impossible to modularise tests for plugins to be reused in other environments. The `plugins` directory should work as the `smoke` and `component` directories do.

##### ISSUE TYPE

 * Improvement Request
 * Enhancement Re

[2019-11-13 10:16] andrijapanicsb opened #3683 "Stop "mgmt server needs restart" message on global setting that doesn't require it"
Currently, when we change ANY global setting, there is a popup window saying "Please restart your management server(s) for your new settings to take effect"

But on i.e. 4.11 release, Out of  589 different settings, 188 of those do not require mgmt server restart. (SELECT * FROM cloud.configuration WHERE is_dynamic=1;)

Would be nice to stop that false popup for those global settings that do not r

[2019-11-13 22:53] DennisKonrad commented on #3179
@weizhouapache I tested now and hit a related error. In https://github.com/apache/cloudstack/blob/96d98de85cdce3ab9e33c6dda6ffa131d825cd85/systemvm/debian/opt/cloud/bin/cs/CsAddress.py#L261
it fails with:
_self.dnum = hex(100 + int(dev[3:]))ValueError: invalid literal for int() with base 10: 'None'_

After that the deployment of the redundant vpc fails and the router is deleted (The second one doe

[2019-11-14 08:33] borisstoyanov opened #3684 "With Chrome you cannot edit domain level settings"
Chrome version:
Version 78.0.3904.97 (Official Build) (64-bit)
Automatically update Chrome for all users Learn more

![Screenshot 2019-11-14 at 10 32 45](https://user-images.githubusercontent.com/13551960/68839797-1b55f500-06ca-11ea-97d4-e10fa64ecddf.png)

Probably a scroller is needed

[2019-11-14 08:35] borisstoyanov opened #3685 "no way to unlink account/domain from ldap"
[code]
User is able to link domain/account to LDAP but there's no way to remove this link if not deleting it in DB.

[2019-11-14 10:54] borisstoyanov opened #3686 "Domain level ldap server configuration is not displayed"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

Configure LDAP at a domain level and you won't be able to see this configuration anywhere in the UI, at Global Setting -> LDAP it's being displayed only root domain level configurations

Looks like list api is dependent on the domainid, and if no domain id is passed it ignores the result

[2019-11-14 11:06] weizhouapache commented on #3686
@borisstoyanov listall=true ?

[2019-11-14 11:08] weizhouapache commented on #3179
@DennisKonrad
I will test it as well

[2019-11-14 11:08] borisstoyanov commented on #3686
I believe there's not such option:

[code]

[2019-11-14 12:20] borisstoyanov opened #3687 "Domain admins not able to add LDAP users"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

Domain admins are not able to see the ‘Add LDAP Account' button at both “Account” tab and Domain - > Accounts tab.
It would be really good if they can manage that as well, since they manage native users within the domain

[2019-11-14 15:33] DennisKonrad commented on #3179
@weizhouapache I found that the json the router receives really does not have the "nic_dev_id" set at all. Therefor the script fails because the value has "null" asigned then.

**redundant VPC**
`{"ip_address":[
{"public_ip":"172.20.20.12","source_nat":true,"add":true,"one_to_one_nat":false,"first_i_p":true,"gateway":"172.20.0.1","netmask":"255.255.0.0","vif_mac_address":"1e:00:d5:00:00:c2","new_n

[2019-11-14 15:58] weizhouapache commented on #3179
@DennisKonrad
I reverted #2304, and it works

[2019-11-15 08:39] weizhouapache commented on #3179
@DennisKonrad
I believe this is a regress issue caused by #2304
I think we should revert #2304, and look for another solution for the issue mentioned in in the title of #2304
However, I did not find more information about the issue.

[2019-11-15 09:41] svenvogel commented on #3179
@weizhouapache Hi Weizhou, sorry that I rummage in between. i think #2304 was introduced from @fmaximus because we had some problem with the interface order on "OVS", "OpenvSwitch". There was no possibility to add a nat or something like that. Now linux bridges and OVS will work. From my side a better way would be to change the redundant VR component like the non redundant.

Can you support on thi

[2019-11-15 12:02] borisstoyanov opened #3689 "Add LDAP account button is not being shown when ldap configuration is added at domain level"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

As root admin, when configuring LDAP at domain level we're not able to add LDAP accounts from the UI, the button will only show when there's a root domain configuration

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### A

[2019-11-15 13:16] weizhouapache commented on #3179
@svenvogel @DennisKonrad

there are two methods to handle ip association in LibvirtComputingResource.java
[code]
In the past they have almost same processing. @fmaximus has changed the second method in #2304 for openvswitch setup. the first method is not changed which might be the root cause of this issue #3679 @DennisKonrad .

For now all ip association in normal setup(vpc with rvr, linux bridge)

[2019-11-15 13:38] DennisKonrad commented on #3179
@weizhouapache The second function
`prepareNetworkElementCommand(final IpAssocVpcCommand cmd)`
 does work for linux bridge and ovs at the moment I think. But it doen't work for the redundant vpc offering with ovs.

Can you explain why you want to

Do you think it would be possible to write a mac address map based function for both (ovs and linux bridge)?

[2019-11-15 15:09] weizhouapache commented on #3179
@DennisKonrad
I did not see any IpAssocVpcCommand  in management server log, so I think all are IpAssocCommand , even when ip is associated to a VPC. Please correct me if I am wrong

We have seen and fixed many issues with VPC & RvRs in cloudstack 4.7.1, especially when there are multiple public ip ranges.
For example, network element should not be cleaned up when de-associate a public ip.
https:/

[2019-11-15 15:28] weizhouapache commented on #3179
@DennisKonrad @svenvogel
I will create a PR when I test ok with VPC & RvR & linux bridge.

[2019-11-15 15:35] DennisKonrad commented on #3179
@weizhouapache Yes you are right:

prepareNetworkElementCommand(final IpAssocVpcCommand cmd)
does NOT work for normal setup (linux bridge), if we apply the change in #3179 (comment)

That's the reason why I asked about applying the change in https://github.com/apache/cloudstack/issues/3179.

We also thought about another bug beeing the root cause. A wrong MAC seems very plausible. I will help test

[2019-11-15 18:59] weizhouapache commented on #3179
@DennisKonrad
if you look at CommandSetupHelper.java, you may find that IpAssocVpcCommand is send to hypervisors when associate a public IP, if VPC does not have redundant VRs. However, for VPC with RvRs, it always send IpAssocCommand (in createRedundantAssociateIPCommands), which does not make any sense.

There should be some issues caused by it in the past, some of them have been fixed by differ

[2019-11-15 22:32] weizhouapache commented on #3179
@DennisKonrad
I have set up a testing environment with OVS. I cannot reproduce this issue.
Do you test on official cloudstack release or with some your changes ?

[2019-11-16 13:52] svenvogel commented on #3179
@ustcweizhou thanks for the test. We encounter the problem in 2016 that VPC was working from outside but if we use a NAT with Public IP it was not working. Thats because Public Adress was not set on correct interface (dev id). this was the fixed from @fmaximus for the non-redundant router.

two questions:

You are sure thats working in your test environment with ovs? (NAT, Firewall ...) if its so

[2019-11-16 22:38] weizhouapache commented on #3179
@svenvogel #2304 is helpful for VPC with single router. we do not need to revert it.
we need to make similar change for OVS in LibvirtComputingResource.java. I have found some issues with isolated networks in my setup with OVS.

[2019-11-18 09:07] DennisKonrad commented on #3179
@weizhouapache Leaving https://github.com/apache/cloudstack/pull/2304 in place sounds good. To me it looks like the more stable approach.

Do you think the changes to get the isolated networks up to speed require some heavy lifting? If theres something to test I can do so.

[2019-11-18 16:10] DaanHoogland opened #3690 "When importing a multi-disk OVA some options are missing in appliances created from it"
There missing "options" in appliances in Vmware - a direct import in vcenter displays more options than the CS instance wizard.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-11-18 16:13] DaanHoogland opened #3691 "CS reports VM running from appliance, when it didn't start properly"
CS reports VM running from appliance but does not start properly - the reason is suspected to be missing configurations from the missing options as described in #3690
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTU

[2019-11-18 16:30] DaanHoogland commented on #3544
#3690 and #3691 relate to this

[2019-11-18 16:41] shindere opened #3692 "Accessibility issue: unable to get API and secret keys"
I am a blind user of CloudStack and have to administer several domains.

Currently, I am unable to navigate the web interface to find out my
API and secret keys (e.g. to use CloudMonkey) because of accessibility
issues in the web interface. For instance at one stage I need to click on
an image but can't do so becuase it has no alternative text associated to
it.

Are you guys interested in immprovi