[2020-05-07 18:56] nvazquez opened #4061 "[VMware] Cannot migrate VM on PVLAN shared network"
Cannot migrate VM on PVLAN shared network

##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
VMware environment, dvSwitch guest network

##### OS / ENVIRONMENT

##### SUMMARY
Migration fails

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

![image](https://user-images.githubusercontent.com/

[2020-05-08 03:39] nvazquez commented on #4061
Logs:
[code]

Strangely, assert check passes but casting fails:
[code]

[2020-05-08 07:43] DaanHoogland commented on #4054
I love to hear about a "good improvement", but don't see a relation between minimum requirements and that output. Can you create an issue stating the exact 'requirement'?
tnx @rvalle

[2020-05-08 07:50] DaanHoogland commented on #4061
Are yousure you ran with asserts turned on? better make this a regular java check, as hardly ever the system is tested with asserts on.

[2020-05-08 08:29] rvalle opened #4063 "Improved Error message: Installing on Hosts that don't meet requirements."
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Typical testing environment / 3 node minimal cluster.

##### OS / ENVIRONMENT

Centos 7 / KVM

##### SUMMARY

I have been lost for days trying to setup a ACS test cluster. One of my mistakes was to try to add a host that did not meet the RAM requirement. See #4054 for deta

[2020-05-08 08:32] rvalle commented on #4054
@DaanHoogland I have created the issue. No everything is working very nicely, and my perception of ACS has greatly improved since.
I am going to re-run my scripts with the NFS secondary volume mounted, to see up to which point that was an issue too or not.

[2020-05-08 23:31] icsfot commented on #4027
I have also had this issue, I have followed the centos instructions, looking at the error messages appears to be with the JDBC driver.  This was with an existing centos install and a fresh

I'm pretty sure I have followed instructions to a t, been installing reinstalling for a day now, old jdbc drivers, the lot, still no luck, really appreciate someones help.

[root@machine.fot management]# cat /e

[2020-05-09 17:33] rhtyd commented on #4027
@icsfot what is your cloudstack, java and mysql version? Are you using distro provided mysql-java dependency?

[2020-05-10 19:27] rhtyd opened #4067 "Usage Server running issue"
On running 4.14 RC2 (on **raspberrypi4**) I see these errors:

[code]

Rest of the CloudStack works OK, I tested VM deployment on my env (Ubuntu 20.04 + MySQL8 + Java 11 on **RaspberryPi4**/arm64).

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

[2020-05-10 19:29] rhtyd commented on #4067
Can you check if usage server works with master/4.14 and  Java 11 with say Ubuntu 18.04? cc @weizhouapache @andrijapanicsb @DaanHoogland - it is possible that the issue is specific to raspberrypi4 env (however mgmt server, kvm agent etc works OK).

My env details:
[code]

[2020-05-10 19:30] rhtyd commented on #4067
@andrijapanicsb @DaanHoogland please triage and lower severity if it's not a blocker against Ubuntu 18.04/19.10 and Java11.

[2020-05-11 08:27] andrijapanicsb commented on #4067
@rhtyd I've tested upgrading 4.13.0 to 4.14.0 and see usage jobs run successfully - but let me verify with clean install as well (CentOS, Java 11.0.7)

[2020-05-11 09:02] GabrielBrascher commented on #4067
**4.14.0.0 RC2 on Ubuntu 18.04**

I just checked the usage.log and I can see that it loaded Bean `IPAddressUsageParser` successfully.
[code]

Just for the record, the INFO regarding Bean 'transactionContextBuilder' is also logged, but there is no WARN regarding `IPAddressUsageParser` at the usage.log:
```2020-05-11 10:48:52,572 INFO  [context.support.PostProcessorRegistrationDelegate$BeanPostProce

[2020-05-11 10:52] jl0x61 opened #4072 "System VMs stuck at Starting when adding a host"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

I use basic network. The gateway and management server ip are both 11.11.11.21.
The management network ip range is between 11.11.11.53 and 11.11.11.59.
The NFS server ip is 11.11.11.50.
The guest network ip range is between 11.11.11.60 to 11.11.11.200.
The netmask is 255.255.255.0.

[2020-05-11 10:57] andrijapanicsb commented on #4067
I can confirm exactly the same behaviour (like Gabriel's) on CentOS and I can confirm that the DB records for IP usage are created successfully.

[2020-05-11 11:34] weizhouapache commented on #4072
is the systemvm template correct ?

[2020-05-11 11:39] jl0x61 commented on #4072
@weizhouapache I use the systemvm template downloaded from http://download.cloudstack.org/systemvm/4.11/systemvmtemplate-4.11.2-kvm.qcow2.bz2. Is it correct? Does the system VM template for 4.13.1 exist?
Besides, I see argument `-drive file=/usr/share/cloudstack-common/vms/systemvm.iso` in system VMs' qemu argument. Is `systemvm.iso` also a system VM template?

[2020-05-11 14:25] andrijapanicsb commented on #4044
@rhtyd is this issue still present, i.e. I don't recall anyone tested/confirmed/etc?

[2020-05-11 14:26] andrijapanicsb commented on #4044
@borisstoyanov do we have bandwidth to test this? This would be a blocker (if it's a valid bug).

[2020-05-11 16:08] jl0x61 commented on #4072
I find the bridge cloudbr0 didn't connect to network interface enp95s0f1 correctly because the network interface connected to k8s's network. So I used a new unused network interface `eno1` and set its ip address to `33.33.33.x`. But the above problem is till there.
current `brctl show` output of agent host: https://paste.ubuntu.com/p/D6w94qDRhR/
current `ifconfig` output of agent host: https://pas

[2020-05-12 04:53] jl0x61 commented on #4072
I resolve this problem by switch to version 4.11.

[2020-05-12 06:07] jl0x61 opened #4080 "Many "Unknown API command" errors in version 4.11.3"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 18.04.3 LTS

##### SUMMARY

I installed Cloudstack 4.13.1 yesterday but the system VMs were stuck at "starting".
So I switch to version 4.11.3 today. The system VMs is running correctly.
But there are many "Unknown API command" error when I click the

[2020-05-12 06:30] weizhouapache commented on #4072
@jl0x61
cloudstack 4.13.1 uses the same systemvm template as 4.11.3 (NOT 4.11.2 !!! )
you can find the template at http://download.cloudstack.org/systemvm/4.11/

please register 4.11.3 systemvm template, and try upgrade again.

[2020-05-12 06:37] yanmaipian commented on #4027
mysql:5.7.30-log
jdk:openjdk1.8.0_252
cloudstack:4.11
mysql-connector-python:8.0.20
mysql-connector-java:8.0.20

[2020-05-12 07:16] jl0x61 commented on #4072
@weizhouapache I tried your advice and it works. I think the [quickstart documentation](https://github.com/apache/cloudstack-documentation/blob/4.13.1.0/source/quickinstallationguide/qig.rst#system-template-setup) should be updated...

[2020-05-12 07:43] weizhouapache opened #4081 "[4.15] Support of next versions"
There are some works in progress to support next software versions in 4.15

Here lists all tasks for better collaboration.

1. python2 -> python3 upgrade.
see #4068 Adding CentOS 8 Support

2. CentOS 8 as hypervisor
see #4068 Adding CentOS 8 Support

3. Ubuntu 20.04 as hypervisor and management server
see #4069 Ubuntu 20.04 support (as hypervisor)

4. MySQL 8 support
see #4051 db: add support for

[2020-05-12 09:13] rhtyd commented on #4081
@weizhouapache thanks but we already have the 4.15.0.0 milestone to track the PRs.

[2020-05-12 09:16] rhtyd commented on #4027
@yanmaipian mysql-connector-java 8.x will likely not work with CloudStack 4.11, can you try version 5.x such as https://centos.pkgs.org/7/centos-x86_64/mysql-connector-java-5.1.25-3.el7.noarch.rpm.html

[2020-05-12 09:18] rhtyd commented on #4080
How did you switch back to 4.11.3? It appears the 4.13.1 UI was not removed, can you try reinstalling the 4.11.3 management server package?

[2020-05-12 09:23] jl0x61 commented on #4080
@rhtyd I use `dpkg -P` to remove all the packages of 4.13.1 and install 4.11.3.
I don't know the reson, so I go back to version 4.13.1 and it is running correctly now...

[2020-05-12 09:23] #4080 closed

[2020-05-12 12:08] #4081 closed

[2020-05-12 14:08] ccycv commented on #4027
I have the same problem with a fresh install of CloudStack 4.13.0 on CentOS Linux release 7.8.2003 (Core)

[2020-05-12 16:33] nvazquez opened #4082 "[Vmware] ISO gets detached after stop and start VM"
ISO is detached after stop and start a VM

##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Vmware hypervisor -  tested on version 6.7

##### SUMMARY
After stopping a VM with ISO attached, the ISO remains attached, however after starting the VM then the ISO is detached. **(then detach ISO also fails)**

After

[2020-05-13 05:30] borisstoyanov commented on #4044
Sorry I came back to you late, I've tested that way back with RC1 and it didn't happen, was able to add zone with chrome browser. Please let me know if you think it could be browser related and I can retest

[2020-05-13 07:18] rhtyd commented on #4044
Yes, it could be browser/env related. I'll close this on your remark @borisstoyanov

[2020-05-13 07:18] #4044 closed

[2020-05-13 07:30] yanmaipian commented on #4027
@rhtyd Using mysql-connector-java-5.1.25-3 to replace mysql-connector-java: 8.0.20 really solved, thank you very much.

[2020-05-15 02:25] #4072 closed

[2020-05-16 05:51] java-programmer opened #4086 "mount.nfs: access denied by server while mounting 192.168.31.100:/export/primary/"
i install a cloudstack
version: 4.13.1.0       OS: centos7.7。   I have 3 mainframes
192.168.31.100 is cloudstack-managment
I followed the quick install guide and everything is ok
But I reported an error when testing mounting secondary storage

![image](https://user-images.githubusercontent.com/18388627/82111935-15c19080-977b-11ea-828d-fc2032fcbda3.png)

![image](https://user-images.githubuserconte

[2020-05-16 07:04] #4086 closed

[2020-05-16 07:04] java-programmer commented on #4086
i find a answer

[2020-05-18 11:26] DaanHoogland opened #4088 "UEFI boot in Legacy mode corrupts VSphere connection."
When deplying a Virtual Box OVA to vmware and choosing Boot Type `Uefi` and Boot Mode `LEGACY`, the connection between cloudstack and VSphere is broken and won't recuperate untill a reboot of the VSphere machine

[vote thread report](https://lists.apache.org/thread.html/r82d49a9a013efa7eba2a8995f9d5208b7b5610c3d34338d7afbc2fe9%40%3Cdev.cloudstack.apache.org%3E)

##### ISSUE TYPE

 * Bug Report

##

[2020-05-18 15:15] nvazquez opened #4090 "XenServer inter-cluster migration failure due to snapshot records"
Migration of VMs with removed snapshots fail when the DB record of deleted snapshot is marked as 'removed' (after garbage collection)

##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION
Advanced zone
At least 2 clusters
XCP-ng 7.6 hosts

##### OS / ENVIRONMENT

##### SUMMARY
Inter-cluster migration fail under certain conditions. It wa

[2020-05-19 12:35] GabrielBrascher commented on #4088
@DaanHoogland I assume that this issue happens only with VMware.

The UEFI implementation #3638 addressed VMware and KVM. Do you know if it has been tested and confirmed that this does not affect KVM as well?

[2020-05-19 12:56] GabrielBrascher commented on #4088
Not related with UEFI "only".

Please, ignore my comment above.

[2020-05-20 06:18] DaanHoogland commented on #4088
This issue does not describe the issue correctly but as PRs and other references are based on it I will create a new one.

[2020-05-20 06:18] #4088 closed

[2020-05-20 10:24] soreana opened #4093 "Centralised logging via rsyslog"
##### ISSUE TYPE
 * Feature Idea

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Used Ubuntu 18:04 as a host for management server and KVM Hypervisor.

##### SUMMARY

As a Cloudstack team, we want to propose centralised logging feature. It enabled us to access systemvm's log file through management server. We think it would be interesting

[2020-05-20 11:47] Spaceman1984 commented on #4082
Tested in 4.13.1.0 and master, not an issue. Only reproducible in 4.13.0.0

[2020-05-20 19:37] RodrigoDLopez opened #4095 "updateDiskOffering can't add/edit tag on existent disk Offering"
##### ISSUE TYPE

 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

- Edit tag on diskOffering with `updateDiskOffering` command

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2020-05-21 07:48] sureshanaparti opened #4096 "Shared Network (without services) is being deleted when its NICs are assigned to VM"
Shared Network (without services) is being deleted when its NICs are assigned to VM, resulting in NPE on fetching VM NIC details and deleting VM with NIC on deleted Network

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced zone
Shared Network

##### OS / ENVIRONMENT

##### SUMMARY

Shared Network (without services) being

[2020-05-21 22:28] NuxRo commented on #2872
Hi, I'd be interested as well.

[2020-05-22 08:53] wido commented on #2872
This is still interesting. But @GabrielBrascher and me have been working on other things and haven't been able to give this more attention.

With this (as mentioned) there would be no need for a Virtual Router in many cases.

[2020-05-22 15:47] DaanHoogland commented on #2872
but no milestone to put to it still, @wido ?

[2020-05-23 09:27] #3426 closed

[2020-05-23 09:57] wido commented on #2872
Not yet @DaanHoogland. I'd like to keep this open for future reference. Might be that somebody else wants to pick this up before we have time.

[2020-05-23 13:49] DaanHoogland commented on #3426
what is the reason for closing this @rhtyd ?

[2020-05-25 07:05] DaanHoogland opened #4098 "notice on 3rd party licenses"
For the inclusion of CAT B licensed software (noVNC is MPL 2.0 licensed) it is advised that we include a notice in our README to attend users to possible redistribution limitations
see https://www.apache.org/legal/resolved.html
Maybe a review of our rat exclusion list is in order.

##### ISSUE TYPE

 * Bug Report
 * Improvement Request
 * Enhancement Request
 * Feature Idea
 * Documentation Report

[2020-05-25 13:35] svenvogel commented on #2872
@wido is there any idea how you plan to implement this without a virtual router. this will be interesting for us because of the future use of TF we will lost the VR.

[2020-05-26 08:00] miklosbarabas commented on #3255
On executing an addHost one could receive the error message below in the CS Management server:

[code]
On the client:
[code]

Which is not really telling. Nothing in the agent logs. But in `/var/log/auth.log` this reads:

[code]

 * Maybe more descriptive error message on failure to add a host? Could spare some time for users.

 * Unable to add host

Workaround is to add one of the above MACs that

[2020-05-26 09:24] NuxRo commented on #2872
@svenvogel Not sure if this is what you are asking, but the DHCP server would not longer be needed as the IP addressing details will be supplied to the VM via the configdrive ISO, cloud-init/scripts will read them and do the rest of the config.

[2020-05-26 09:33] weizhouapache commented on #3897
@rhtyd will you plan to work on this issue ?

[2020-05-26 10:31] wido commented on #2872
@svenvogel and @NuxRo Indeed. With ConfigDrive and network information there is no more need for a DHCP server (thus Virtual Router) in a network.

From the local drive cloud-init can fetch all the required network information and configure the network interface accordingly.

[2020-05-26 15:07] sureshanaparti opened #4101 "Maximum data volumes limit is picked from "default" version of hypervisor, for VMware"
Maximum data volumes limit is picked from default version of hypervisor for VMware as the "product_version" parameter is not found in the host details.

This issue blocks https://github.com/apache/cloudstack/issues/4102

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

VMware hypervisor

##### SUMMARY

Att

[2020-05-26 15:34] sureshanaparti opened #4102 "Support to attach more than 15 data disks in VMware VM"
Unable to attach more than 15 data disks to VMware VM. Currently, attaching more than 15 data disks in VMware VM resulting in error "A specified parameter was not correct: unitNumber" as CloudStack is picking up the same SCSI disk controller to add the disk. CloudStack should pick the next available SCSI disk controller and extend its support to attach more than 15 data disks.

This issue depends

[2020-05-27 03:36] rhtyd commented on #3897
@weizhouapache I'm not sure - it would depend on requirement coming from Primate issues/tasks

[2020-05-27 03:41] rhtyd commented on #3255
@miklosbarabas I got the same issue and used the following workaround in your `sshd_config`:
[code]

[2020-05-27 09:40] shwstppr opened #4107 "CKS: Same name (previously deleted template) template for node VMs fails k8s cluster deployment"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When CKS is set to use a CoreOS template with a name which is same as an already deleted template, plugin fails to deploy Kubernetes clusters using new, active template

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### A

[2020-05-27 21:05] ServiceTo commented on #3654
For what it's worth, I debugged this last week and aside from updating the whole virtual router (which I support, for sure).  What appears to be happening is the last preshared key is being used for the "any" instead of the one generated by cloudstack.

So if all of your site-to-site VPNs have the same preshared key, you can connect with that instead of the long one that cloudstack generates as a

[2020-05-27 21:10] andrijapanicsb commented on #3654
Correct.

[2020-05-28 08:41] rohityadavcloud opened #4112 "KVM: Change SystemVM patching to Qemu Fw Cfg"
The systemvms are patching on KVM are currently performed patch.sh that uses qemu-agent-command (a serial-device mechanism) and consumed in the systemvms via qemu-guest-agent. Newer qemu versions (at least 2.2+) can make use of the qemu fw cfg device to pass key/value strings for the `cmdline` without using a more brittle/low-level approach much like XenServer and  VMware, and inside the systemvm

[2020-05-28 10:22] shwstppr opened #4113 "CKS: Multi-hypervisor zone doesn't adhere offering tags and fails deployment"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advance networking

##### OS / ENVIRONMENT

N/A

##### SUMMARY

With a zone having clusters of different hypervisor hosts it is not possible to select hypervisor in which k8s cluster to be deployed.
If offering tags are set such that to deploy k8s cluster in specific hypervisor the

[2020-05-29 08:37] ccycv opened #4118 "com.cloud.utils.exception.CloudRuntimeException: Failed to create storage pool - Ceph Storage - ACS 4.13"
##### ISSUE TYPE

`Bug Report`

##### COMPONENT NAME

`KVM, CloudStack Agent.`

##### CLOUDSTACK VERSION

`CloudStack 4.13.0 `

##### CONFIGURATION

`Advanced Networking with Local Storage and Ceph storage RBD.`

##### OS / ENVIRONMENT

[code]

##### SUMMARY
This issue started from nothing, we wanted to deploy a new VM and we started to get this error in the UI, after this we saw that the state wa

[2020-05-29 16:53] ccycv commented on #4118
There was a VM in database in Expunging state, which for some reasons was not Destroy state.
- I changed the state in db for it to - Destroy
- I changed the POOL_ID to "NULL" for this volume with his related to the above VM : c47d7221-a664-41c6-a791-1148ec6f0850
- I have removed this volume "c47d7221-a664-41c6-a791-1148ec6f0850" from ceph storage.

After this everything was back to normal.

[2020-05-29 16:55] ccycv commented on #4118
I think this should not happen.

[2020-06-01 12:30] rhtyd commented on #4041
Assigned to @davidjumani

[2020-06-01 16:15] andrijapanicsb opened #4120 "CKS: Consider the UEFI for the VMs used as nodes"
##### ISSUE TYPE

 * Improvement Request

Purely as an enhancement, consider having the option to choose whether the master/worker nodes should use UEFI or BIOS on hypervisor side - if (and only if) it makes sense for the next-to-be-chosen OS for CKS (instead of CoreOS).

[2020-06-02 12:10] andrijapanicsb commented on #4082
@Spaceman1984 were you able to reproduce the issue in 4.13.0.0?

[2020-06-02 12:12] Spaceman1984 commented on #4082
Yes @andrijapanicsb

[2020-06-02 12:47] andrijapanicsb commented on #4082
Observation on 4.14:

- CentOS 5.5 default template (no VMware tools)

VM is rebooted via ACS GUI (Reboot Instance) - API call is sent to VMware to reboot guest OS, but since VMware tools are NOT running, vSphere (6.7 !) decides to "Reset Virtual Machine"
This looks to be different then the Power Off / Power On actions in vSphere (6.7 U3 tested), because the ISO is still marked to NOT be connected

[2020-06-02 13:13] andrijapanicsb commented on #4082
The user was testing 4.13.0.0 with vSphere 6.0 and 6.7xxx and when VM power reset happens, the ISO path is still present, but the ISO is NOT "Connected"

[2020-06-02 16:03] GabrielBrascher opened #4125 "Command changeServiceForVirtualMachine fails to update read/write rate"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

Issue was reproduced on (probably it happens also on 4.13.0,  4.13.1):
[code]

##### OS / ENVIRONMENT
VMs are running on **KVM** nodes.

##### SUMMARY

When changing the service offering of a VM from an offering that has **bytes_read_rate_max** configured, the VM does not update **bytes_read_rate_max**.

For i

[2020-06-02 18:11] nvazquez commented on #4096
Also reproducible in master

[2020-06-03 16:07] sureshanaparti opened #4127 "Update proper error msg and status when download template/ISO fails due to invalid file format"
### Description

The template download fails immediately with download state: DOWNLOAD_ERROR and error msg: Steam closed, for templates with invalid file format. The proper error message has to be reported when the download template/ISO fails due to invalid file format. The template status & download state should be set accordingly so that the SSVM never tries to re-download the template.

The fil

[2020-06-05 06:12] sureshanaparti opened #4129 "Certificate auto renewal fails after agent disconnection or re-provision certificate to host"
### Description

Agent disconnection event is purging the certificates from the active certificates map, being maintained by the management server in memory. Re-provisioning of the certificate also triggers agent disconnect, which will result the same.

As the active certificates map doesn't hold any certificate details for the host, certificate authority framework will fail to auto renew the host

[2020-06-08 01:32] #4061 closed

[2020-06-08 01:39] #4045 closed

[2020-06-08 05:42] shwstppr opened #4133 "CKS: Cluster remains in destroying state when non-cluster VMs are using cluster network"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When additional VMs are added to the k8s cluster network, cluster deletion fails with a message, Unable to delete cluster network. k8s cluster remains in destroying state. It gets removed once non-cluster VMs are migrated from th

[2020-06-08 11:00] rhtyd commented on #4041
@davidjumani note - please send PR to 4.13 branch

[2020-06-08 22:01] Slair1 commented on #3138
@ggoodrich-ipp could you upload a PR to address this?  We have had this fixed in our environment for a while now.

[2020-06-09 02:50] #3654 closed

[2020-06-09 12:18] andrijapanicsb opened #4136 "UI doesn't allow login if sessionkey and JSESSIONID cookies are deleted"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

To consistently reproduce this, this is what I did:
- Login into UI, then open devtools->Application-> cookies
- Delete the sessionkey and JSESSIONID cookies (to simulate session expiry, in browser but not on mgmt server)
- Refresh UI and try to log in, you won't be able to login
- You've to wait until

[2020-06-10 04:17] rhtyd commented on #4136
The issue happens because from code we're unable to clear HttpOnly cookie[1], this cookie can only be cleared by CloudStack (i.e. the server, not the client) and the fix is to call the logout API (which Primate does as well) when we get 401 error on the first API we call to validate auth (listCapabilities).

[1] https://owasp.org/www-community/HttpOnly

[2020-06-10 04:18] rhtyd commented on #4136
@davidjumani please pick this up. Thanks.

[2020-06-10 04:19] rhtyd commented on #3987
Closing this, we've identified root cause fixed in https://github.com/apache/cloudstack/pull/4121

[2020-06-10 04:19] #3987 closed

[2020-06-11 11:50] rhtyd opened #4143 "The internal instance name is returned for non-root admin in listVirtualMachineMetrics API"
The internal instance name is returned for non-root admin in listVirtualMachineMetrics API response but not in the listVirtualMachines API response.

We need to check and fix to ensure we only return the internal instance-name for root-admins only.

Tested on the Primate QA server against 4.14.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

[2020-06-11 11:50] rhtyd commented on #4143
cc @davidjumani please pick this one as well, thanks.

[2020-06-11 11:55] onitake commented on #4143
I'm not sure if making the API asymmetric is the best idea. IMHO, the returned values should be the same for everybody. Why is the internal name returned in the first place?

[2020-06-11 12:00] #3281 closed

[2020-06-11 12:31] rhtyd commented on #4143
@onitake you're repeating the bug-report, sorry I didn't get your point?

[2020-06-11 14:55] onitake commented on #4143
Sorry @rhtyd , I didn't see that you were talking about two different API calls. My point wasn't about the asymmetry between listVirtualMachineMetrics and listVirtualMachines, but between root and non-root.
Wouldn't it be cleaner to return the same set of values for all types of users?

[2020-06-12 01:44] rhtyd commented on #4143
Np @onitake - not really because root admin should be able to know more infrastructure specific information, for example the host where the VM is running on but not to the normal user. Because of this, we need to return information for root admin for many APIs, but not for users.

[2020-06-13 05:40] shwstppr commented on #4133
@PaulAngus @rhtyd please review expected result part. Related to k8s cluster showing in 'Destroying' state issue we discussed briefly.

[2020-06-15 02:57] #3642 closed

[2020-06-15 02:58] #4101 closed

[2020-06-15 04:25] #4090 closed

[2020-06-15 06:22] davidjumani commented on #4136
Calling a logout after a 401 does not appear to solve this

[2020-06-15 09:20] andrijapanicsb commented on #4136
When the issue happens (not able to login to /client), you can go to /client/primate, login and logout - then all is fine and you can login back to /client.
Once this expires, you need to repeat the exercise again or clear all cookies (for some reason, manually deleting cookies via Developer Tools --> Application --> Cookies, did not work for me)

[2020-06-15 10:20] rhtyd commented on #4136
@davidjumani can you experiment by removing all cookies and then call logout API?

[2020-06-15 13:24] ravening opened #4146 "Kubernetes Service: Docs do not describe Kubernetes service network requirements"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced zone

##### OS / ENVIRONMENT

Ubuntu 18.04 OS on KVM hypervisor

##### SUMMARY

Unable to create new Kubernetes cluster

I was able to register CoreOS, I was able to add new supported kubernetes version but unable to create a cluster as its throwing exception

[code]

####

[2020-06-16 03:12] div8cn opened #4147 "RBD primary storage Rados secret does not support multiple '/'"
When adding RBD primary storage, if multiple "/" appear in Rados secret, the following error will be reported immediately

UI:
Failed to add data store: DB Exception on: com.mysql.jdbc.JDBC4PreparedStatement@386f2a68: INSERT INTO storage_pool (storage_pool.id, storage_pool.name, storage_pool.uuid, storage_pool.pool_type, storage_pool.created, storage_pool.update_time, storage_pool.data_center_id,

[2020-06-16 06:25] #3380 closed

[2020-06-16 06:26] rhtyd commented on #3853
Not seen again.

[2020-06-16 06:26] #3853 closed

[2020-06-16 06:27] rhtyd commented on #4056
ping - @shwstppr another CKS improvement

[2020-06-16 08:20] weizhouapache commented on #4146
[code]

[code]

[2020-06-16 09:05] davidjumani commented on #4136
Yup. Tried clearing before and after logging out. Was still unable to login. Only clearing everything in the browser appeared to work

[2020-06-16 09:52] shwstppr commented on #4056
@rhtyd added fix in #4134

[2020-06-17 02:09] #3816 closed

[2020-06-17 09:14] fuchanghao opened #4151 "The instance still stays in runing status after I shutdown the VMs."
##### ISSUE TYPE
 * Other

##### COMPONENT NAME
Instance

##### CLOUDSTACK VERSION
4.14,0

##### CONFIGURATION
Simple test with this doc: https://docs.cloudstack.apache.org/en/4.14.0.0/quickinstallationguide/qig.html

##### OS / ENVIRONMENT
CentOS 7.8 (2003)

##### SUMMARY
When I type "sudo poweroff" in the VMs (KVM) , the instance still stays in runing status.

I tested CentOS 7 / Ubuntu 18.04.

[2020-06-17 17:50] gaaray2k opened #4152 "Remote access vpn doesnt work"
##### ISSUE TYPE

 * Bug Report
 * Improvement Request
 * Enhancement Request
 * Feature Idea
 * Documentation Report
 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2020-06-17 17:50] #4152 closed

[2020-06-17 17:51] gaaray2k opened #4153 "Remote Access VPN does not work"
Remote access vpn to a vpc public ip does not connect. it works for isolated networks.

Error 789 on a windows machine.

[2020-06-17 18:04] gaaray2k commented on #4153
Jun 17 17:52:23 r-20-VM ipsec[915]: 13[IKE] received draft-ietf-ipsec-nat-t-ike-02\n vendor ID
Jun 17 17:52:23 r-20-VM ipsec[915]: 13[IKE] received FRAGMENTATION vendor ID
Jun 17 17:52:23 r-20-VM ipsec[915]: 13[ENC] received unknown vendor ID: fb:1d:e3:cd:f3:41:b7:ea:16:b7:e5:be:08:55:f1:20
Jun 17 17:52:23 r-20-VM charon: 13[IKE] received NAT-T (RFC 3947) vendor ID
Jun 17 17:52:23 r-20-VM ipsec[91

[2020-06-17 18:05] gaaray2k commented on #4153
I keep getting this

Jun 17 17:55:11 r-20-VM charon: 15[NET] received packet: from 10.0.0.71[500] to 10.0.0.247[500] (76 bytes)
Jun 17 17:55:11 r-20-VM charon: 15[ENC] invalid ID_V1 payload length, decryption failed?
Jun 17 17:55:11 r-20-VM charon: 15[ENC] could not decrypt payloads
Jun 17 17:55:11 r-20-VM charon: 15[IKE] message parsing failed

[2020-06-18 03:35] #4041 closed

[2020-06-18 04:23] rhtyd commented on #4151
@fuchanghao the VM state usually syncs for out of band changes (such as a guest poweroff/shutdown or crash) within seconds/minutes. Can you check if your KVM host was in connected/Up state and did you wait for few seconds/minutes?

[2020-06-18 08:14] rhtyd commented on #4136
@davidjumani are you blocked, is there no solution to this otherwise? (perhaps a backend fix?)

[2020-06-18 13:22] VincentHermes opened #4155 "Domain Limit Exploit for Unlimited Domain Ressources"
#### ISSUE TYPE
 * Bug Report

#### COMPONENT NAME
 * Domain/Account Limiting

#### CLOUDSTACK VERSION
 * Tested on 4.11.3 and <b>4.14</b>

#### CONFIGURATION
 * Quite irrelevant, new installation also affected

#### OS / ENVIRONMENT
 * CentOS7 Nodes
 * KVM
 * Ceph
 * NFS Secondary
 * Hyperconverged

#### SUMMARY
 * The VM Settings Tab allows Domain Admins to set CPU and RAM Values with <b>no rest

[2020-06-18 13:57] andrijapanicsb commented on #4153
These kinds of tickets with zero information about the env setup, version of ACS, VPC setup (do you have s-2-s VPN as well - there is a known bug in 4.11+, will be fixed in 4.15), etc - will just get ignored by people... Consider updating it.

[2020-06-18 14:18] #4143 closed

[2020-06-18 15:49] gaaray2k commented on #4153
yes, I think i hit the bug. it works when I remove the s-2s vpn tunnel. ACS 4.14 one controller and two compute nodes. I am just testing in my home lab for now.

[2020-06-18 15:50] andrijapanicsb commented on #4153
Great – that is a known bug, already logged – and will be fixed in 4.15 (summer LTS release).

From: gaaray2k <notifications@github.com>
Sent: 18 June 2020 17:49
To: apache/cloudstack <cloudstack@noreply.github.com>
Cc: Andrija Panic <andrija.panic@shapeblue.com>; Comment <comment@noreply.github.com>
Subject: Re: [apache/cloudstack] Remote Access VPN does not work (#4153)

yes, I think i hit the b

[2020-06-18 16:57] gaaray2k commented on #4153
I am checking it out because I want to advertize it to my customers, but I need to make sure everything works as expected before I do so. I guess I am going to have to wait.

[2020-06-18 17:13] #4153 closed

[2020-06-19 12:08] davidjumani commented on #4136
@rhtyd Looks like there's nothing that can be done from the front end. Need to look into the backend

[2020-06-19 12:17] wido opened #4157 "dnsmasq in Virtual Router fails to start in IPv6 enabled network"
##### ISSUE TYPE
 * Bug Report
##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
- Advanced Networking
- IPv6 Enabled in Network

##### OS / ENVIRONMENT
- Ubuntu 18.04

##### SUMMARY
Then creating a network with IPv6 Enabled but the *DNS 1* and *DNS 2* IPv6 for the zone haven't been specified these values remain empty in the dnsmasq configuration on the Virtual Rout

[2020-06-20 05:19] #4096 closed

[2020-06-20 06:07] ccycv opened #4158 "password for VMs and VR health check not working - ACS 4.14 VMware with Basic Networking"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
##### SUMMARY
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2020-06-20 17:11] rhtyd opened #4159 "Fail to deploy VM with Ceph (Octopus) as primary storage"
Tried to deploy a VM using a template and custom compute offering with tags to match against a Ceph (Octopus) based primary storage, on Ubuntu 20.04 KVM (raspberrypi4).

The issue may be in rados-java (https://github.com/ceph/rados-java/blob/master/src/main/java/com/ceph/rados/Rados.java#L362) or something due to offering configuration or handling of the same; and upon failure and expunging of the

[2020-06-20 17:12] rhtyd commented on #4159
Note - if I create data disk and attach it to a VM (VM's root disk on NFS), that works.

[2020-06-21 01:34] rhtyd commented on #4159
Looks like the fix is there https://github.com/ceph/rados-java/commit/d59c6e5c499fffb0d5a62b0abdb7d1963992331e
We just need a new rados-java release

[2020-06-21 02:25] rhtyd commented on #4159
The issue was in rados-java, sent a PR https://github.com/ceph/rados-java/pull/42/files
Let's close this PR once rados-java does a new 0.6.0 release and we pull that in CloudStack (which now uses a more updated jna 5.5.0) cc @wido

[2020-06-21 02:38] rhtyd opened #4160 "Creating template from volume snapshot leads to leaking ssh-key in the new template's settings"
Creating template from volume snapshot leads to leaking ssh-key in the new template's settings. I did:
- Create a VM (ceph based root disk) with SSH key
- Take volume snapshot of the root disk
- Create a public template from the root disk snapshot
- The resultant template has SSH key in the template details

##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[c

[2020-06-21 06:42] rhtyd opened #4161 "List API name params response missing though ids are returned"
Currently only ostypeid is returned, return ostypename for UI consumption and reduce extra API call.

##### ISSUE TYPE
 * Improvement Request

[2020-06-21 06:42] rhtyd commented on #4161
With @davidjumani

[2020-06-22 06:04] rhtyd commented on #4161
- ostypename in listVirtualMachines and listVirtualMachinesMetrics API response
- 'vpcofferingname' in listVpcs response
- 'vpcname' in listPublicAddresses
- 'vpcname' in listPrivateGateways
- 'vpcname' in listVpnGateways
- template name, podname in listRouters
- template name, pod name in listSystemvms

[2020-06-22 12:18] Doni7722 opened #4163 "health check gateways_check.py for redundant VR will fail for BACKUP router"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

advanced networking with public link on VR

##### OS / ENVIRONMENT

VMWare Hypervisor (may happens on other hypervisor as well)

##### SUMMARY

If you deploy redundant VRs the Backup VR will set the public interface to DOWN until it gets MASTER. As long as he is BACKUP the gateways

[2020-06-23 07:47] prayag-sangode commented on #4022
Any one got the solution for this.. I am also facing issue wint 4.14 version...Error I get is

aCenterId:: 1 | podId:: null | clusterId:: null | message:: Failed to register template: e3fb4dec-b4b0-11ea-bed6-000c29254044 with error: Unable to resolve download.cloudstack.org

[2020-06-23 11:03] shwstppr commented on #4146
@ravening can you check cluster deployment using a prebuilt community Kubernetes version ISO, https://download.cloudstack.org/cks/
while creating the ISO you are using k8s version as 1.16.3 but for weavenet you are passing 1.12.5. Not sure if that is the issue.
Also, check if MS is able to SSH your cluster VMs.
CKS will need SSH access for communicating with k8s cluster master VM.

[2020-06-23 21:07] gaaray2k opened #4168 "Problems when using multiple management servers."
CS version: 4.14
setup:
LB: haproxy
2 management nodes
2 compute nodes

I am playing around with adding a second mgmt host to my setup. the problem is that when I configured the haproxy LB for port 8250, the management servers are seeing the compute node certificates but the mgmt servers are seeing the ip of the load balancer as the source of the request. because of this the connection is failing.

[2020-06-24 01:38] rhtyd commented on #4168
@gaaray2k no need to use external LB now as cloudstack has an internal software based LB, use comma separated list of mgmt IPs in the 'host' global settings. For existing kvm hosts, fix the same in agent.properties. See https://cwiki.apache.org/confluence/display/CLOUDSTACK/Multiple+Management+Servers+Support+on+agents
and
https://www.shapeblue.com/software-based-agent-lb-for-cloudstack/

[2020-06-24 03:06] rhtyd commented on #4163
@shwstppr can you have a look at this issue; we also might want to reduce the INFO logging on VR checks

[2020-06-24 03:10] rhtyd commented on #4118
@ccycv can you try on 4.13.1.0 or 4.14.1.0? Are the ceph credentials correct, or was the storage pool not created on Ceph; or removed out-of-band in ceph-mgr?

[2020-06-24 05:02] div8cn opened #4169 "local iso upload failed"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

After the default installation, users cannot upload ISO to cloudstack from the UI.
Error ：
Failed to upload file due to system misconfiguration. Please contact admin.

I learned from the documentation (https://cwiki.apache.org/confluence/pages

[2020-06-24 05:40] ccycv commented on #4118
Hello,

   We fixed this, it was related to a stuck image, we have removed from db and from storage.  Please see all the details : https://github.com/apache/cloudstack/issues/4118

   Thank you!

Regards,

Cristian

From: Rohit Yadav <notifications@github.com>
Sent: Wednesday, June 24, 2020 6:11 AM
To: apache/cloudstack <cloudstack@noreply.github.com>
Cc: ccycv <cristian.c@istream.today>; Mention

[2020-06-24 07:15] ravening commented on #4146
@shwstppr the MS cant ssh to master vm in my setup. The MS needs ssh access to all the k8s cluster master vm?
which version of weavenet should I pass for 1.16.3?

[2020-06-24 08:00] shwstppr commented on #4146
@ravening MS will need SSH access on master node VMs while starting cluster and scaling it. When upgrading cluster it will need SSH access on all VMs. This must be the problem. Deployment would have failed after the time set in `cloud.kubernetes.cluster.start.timeout` global setting (Default 3600secs or 1hr)
Yes, ideally the same version which you have used for k8s. I've not played with different

[2020-06-24 08:31] rvalle opened #4170 "Centos7 RPM packages are x86_64 should be noarch"
##### ISSUE TYPE

 * Bug Report
 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Centos 7 / ARM / Raspberry pi

##### SUMMARY

Raspberry PIs computing capabilities are growing exponentially. I was planning on using a Raspbery Pi 8GB as cloudstack-manager for a small/lab cloudstack deployment (around 10 hosts).

Pla

[2020-06-24 08:42] weizhouapache commented on #4146
@shwstppr @ravening this issue seems to be caused by certificate.
cloudstack generates self-signed certificate for k8s cluster and verify api server (port 6443) via https (see my comment above).
I have tried the following steps which work
(1) stop k8s cluster
(2) download k8s config on UI
(3) use base64 to decode the certificate-authority-data in config
(4) save the decoded string in /etc/ssl/cert

[2020-06-24 09:20] rhtyd commented on #4169
Probably display a more meaningful message in the form when upload fails

[2020-06-24 13:33] gaaray2k commented on #4168
I followed this doc and I see that the agents are being load balanced between the two mgmt servers, but I found another issue. when the console proxy sys vm connects to one mgmt server, I cannot open console from the other mgmt server. I get the message below. that is a problem when the load balancer for the frontend sends a user to the mgmt server that isnt being used by the console proxy vm.

'A

[2020-06-24 13:41] FilippoProjetto opened #4173 "Prometheus integration: prometheus.exporter.enable marked as dynamic config"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

The database stores the `prometheus.exporter.enable` as a dynamic configuration parameter while it is not (as correctly stated in the PR description: https://github.com/apache/cloudstack/pull/2287#issue-145389779).

![Screenshot 2020-06-24 at 14 41 09](https://user-images.githubuserconte

[2020-06-24 14:00] rhtyd commented on #4170
@rvalle qemu, kvm and kernel on centos7 are very old to support VMs on aarch64. You probably want to try Ubuntu 20.04 instead, try this instead https://rohityadav.cloud/blog/cloudstack-rpi4-kvm/

[2020-06-24 14:04] GabrielBrascher commented on #3624
@wido @kiwiflyer PR #4175 is open and ready for review/testing.

[2020-06-24 14:39] rvalle commented on #4170
@rhtyd thanks, will test with ubuntu.

I was not really looking to virtualize but just to run the management from RPI.

[2020-06-24 18:03] wido commented on #4159
I've merged that PR at rados-java. I haven't run into this myself with Ceph Octopus, but good to know.

I'll try to get release 0.6.0 out of rados-java.

[2020-06-25 00:29] rhtyd commented on #4159
Thanks @wido

[2020-06-25 04:35] #4161 closed

[2020-06-25 05:18] #4163 closed

[2020-06-25 05:28] wido commented on #4159
I tagged rados-java 0.6.0. Now I need to find somebody who can put it in Maven Central.

[2020-06-25 05:34] rhtyd commented on #4159
+1 Once done, please also send a PR to 4.14 branch to bump the dependency version in pom.xml @wido thnx

[2020-06-25 07:35] ravening commented on #4146
@weizhouapache but customers cant do all those steps right? Everytime we create a cluster then we need to do all these extra steps which is cumbersome and also customers wont like to do all these things

[2020-06-25 17:37] gaaray2k opened #4179 "Regions"
Simple question. what is the purpose of regions? I added a second CS instance to my setup, mgmt,compute and db. I followed the documentation to add my two CS environments as region to each other. I can see that region A has been added to region B and vice versa, but I dont see resources from region A on region B or from region B on region A. if I log into region A mgmt UI and try to create an inst

[2020-06-26 15:51] rhtyd opened #4181 "Quota API don't honour pagination and searching"
quotaSummary and quotaTariffList don't honour pagination and keyword/searching

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

[2020-06-26 15:51] rhtyd commented on #4181
Minor issue please see @davidjumani

[2020-06-28 08:29] #4151 closed

[2020-06-28 09:00] fuchanghao opened #4183 "Fail to do a Live Migration with storage via migrateVirtualMachineWithVolume API."
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
API

##### CLOUDSTACK VERSION
CloudStack 4.14.0 LTS
CloudStack Monkey 6.0.0

##### CONFIGURATION
http://docs.cloudstack.apache.org/en/4.14.0.0/adminguide/virtual_machines.html#moving-vms-between-hosts-manual-live-migration

##### OS / ENVIRONMENT
CentOS 7.8 (2003) (2 agent)

VM:
ubuntu server 18.04 LTS (KVM)

##### SUMMARY
I Step from the docs: Mov

[2020-06-28 15:30] rohityadavcloud opened #4184 "Fix error message for newer Libvirt/Qemu with UEFI based VMs cannot do VM snapshot"
It seems newer libvirt/qemu cannot do snasphot of KVM domains if they use UEFI and the error `error: Operation not supported: internal snapshots of a VM with pflash based firmware are not supported` is seen in logs. Until the hypervisor side fixes this, this is not a CloudStack problem, however an internal error message is shown; perhaps we can check and throw a correct exception/error message.

#

[2020-06-28 15:33] rhtyd commented on #4183
@fuchanghao are the hosts within the same cluster and are both storages in zone-wide scope, or cluster-scope (but within same cluster then?)

[2020-06-29 01:16] fuchanghao commented on #4183
Storages in the same cluster and same zone, both scope are "CLUSTER".

Host 1&Primary Storage 1 on machine 1 and  Host 2&Primary Storage 2 on machine 2.

[2020-06-29 07:01] ravening opened #4185 "python3-mysql.connector package needed for running on Ubuntu20.04"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 20.04

##### SUMMARY

Unable to install Cloudstack managment server on Ubuntu20.04 as it depends on `python-mysql.connector` but this cant be installed on Ubuntu20.04. So should we upgrade the package to `python3-mysql.connector` ?
This worke

[2020-06-29 07:25] weizhouapache commented on #4185
@ravening ubuntu 20.04 is not supported by cloudstack 4.14

I have a draft PR for ubuntu 20.04 support in cloudstack 4.14 https://github.com/apache/cloudstack/pull/4069
Shapeblue guys are working a huge improvement which contains ubuntu 20.04 support for cloudstack 4.15/master https://github.com/apache/cloudstack/pull/4068

[2020-06-29 07:39] ravening commented on #4155
![Screenshot 2020-06-29 at 09 38 46](https://user-images.githubusercontent.com/10645273/85986323-56543100-b9ec-11ea-99ce-5a0d7b779e1c.png)

Can you let me know what values you filled in the above settings so that I can reproduce them?

[2020-06-29 07:44] rhtyd commented on #4185
@ravening as Wei advised; we've merged Wei's commits from #4069 to consolidate our testing across various permutations/combinations in #4068 that adds support for newer distros (centos8, ubuntu 20.04) to be used both as mgmt/usage server host and KVM hosts.

[2020-06-29 07:49] ravening commented on #4185
closing the issue

[2020-06-29 07:49] #4185 closed

[2020-06-29 13:48] ccycv opened #4187 "Migration not working in ACS 4.14 with Basic Network - VMware Local storage"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

ACS 4.14 Basic Networking with VMware 6.0, 6.5 ( tested with different VMware version)

##### OS / ENVIRONMENT

CentOS Linux release 7.8.2003 (Core)

##### SUMMARY

Migrating VM with local storage it is not working, getting successfully feedback notification in UI but it is unfinis

[2020-06-30 07:58] Spaceman1984 opened #4189 "NioTest fails on fresh install of Fedora due to RSA key size < 2048"
On a fresh installation of Fedora 31, running the NioTest will fail. This is due to Fedora using 2048 as the minimum allowed size for a RSA key and cloudstack generates a 1024 size key.

An upgrade has to be made to the certificate key size Cloudstack uses for the test as 2048 is the recommended size for RSA keys at the moment and other operating systems will likely make this a requirement as well

[2020-06-30 07:59] davidjumani commented on #4181
Would this also need to add search functionality in quotaTariffList? Since it only has a fixed list of 25 tariff types

[2020-07-01 06:32] rhtyd commented on #4189
I think @shwstppr has addressed this in his PR #4068 ?

[2020-07-01 07:54] shwstppr commented on #4189
@Spaceman1984 here https://github.com/apache/cloudstack/pull/4068/files#diff-a24703d95ef24543c23939815013558a cc @rhtyd

I used a 2048-bit key. Do we need to use even higher for future-proofing?

[2020-07-01 07:57] Spaceman1984 commented on #4189
@shwstppr I think 2048 is fine for now, I don't think the recommended size will change very soon. This issue may be closed once your PR is merged.

[2020-07-01 10:08] VincentHermes commented on #4155
I didn't add a new Setting in the Settings tab. If you set a custom compute offering for a VM you get the settings "cpuNumber" and "memory" in the VM Settings Tab. Changing any of these values will change the VM Properties even above the users or domains limits.

![grafik](https://user-images.githubusercontent.com/58519110/86231927-8c7fe500-bb93-11ea-9cd5-1eca062b0f3a.png)

[2020-07-01 10:29] olivierlemasle opened #4191 "Wrong count in listUsageRecords response"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The `count` in listUsageRecords reponse is wrong; it is equal to the number of usage records in the returned set (a single page), and not the total amount of usage records for a given request.

This is a regression due to #3235 (specifical

[2020-07-01 10:29] olivierlemasle commented on #4191
cc @rhtyd

[2020-07-01 11:58] rhtyd commented on #4191
Thanks for reporting @olivierlemasle
@Pearl1594 can you look into this, probably the fix is to use the count from the keypair that use size of the collection as total count.

[2020-07-01 12:04] andrijapanicsb opened #4192 "Tests fail with XenServer/XCP-ng later than 7.1 (maybe they are fine iw"
Automated regression test that we run for each PR with  @ blueorangutan, etc, fails miserably for (as it seems) any XS/XPC-ng version newer than 7.1 - at least for 7.6 and onwards.

Please take this PR as the reference - I've started a few XS/XCP-ng combinations there (xs74, xpcng7.6/8.0/8.1): https://github.com/apache/cloudstack/pull/4114  (it's a closed PR though, but relevant enough)

As it see

[2020-07-01 12:06] andrijapanicsb commented on #4192
@shwstppr @rhtyd @sureshanaparti @Pearl1594 @nvazquez @PaulAngus /CC @borisstoyanov

[2020-07-01 13:17] ravening opened #4195 "Count mismatch for list diskofferings api"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu16

##### SUMMARY

The count value returned by listDiskofferings api is different from total number of actual returned elements.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

@rhtyd @shwstppr

what should the `count` varia

[2020-07-02 08:45] ravening commented on #4155
I was not able to reproduce the issue

1. I created a domain admin with an initial resource count of 2 cpu and 1GB ram for the entire domain as shown below

![Screenshot 2020-07-02 at 10 43 10](https://user-images.githubusercontent.com/10645273/86337008-d549a380-bc50-11ea-91c9-5d77a1ab03ca.png)

2. Then a created a VM with 1 core and 512mb ram
3. Stopped the vm and the changed the settings to belo

[2020-07-02 19:49] shwstppr commented on #4195
@ravening as per my understanding it cannot always return `result.first.size()`. Second parameter is total count while count of first will be pageSize.

Though your issue seems a real bug. It should return correct size for `isrecursive=true`. It seems to be including parent domains in count.

[2020-07-03 08:26] weizhouapache opened #4198 "Kubernetes container service: coreos is EOL"
On May 26, 2020, CoreOS Container Linux will reach its end of life and will no longer receive updates. We strongly recommend that users begin migrating their workloads to another operating system as soon as possible.

https://coreos.com/os/eol/

##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

####

[2020-07-03 08:44] VincentHermes opened #4199 "HTTPS does not initiate"
#### ISSUE TYPE
 * Other / HTTPS

#### COMPONENT NAME
 * Webserver

#### CLOUDSTACK VERSION
 * 4.14

#### CONFIGURATION
 * server.properties:
`https.enable=true`
`https.port=8443`
`https.keystore=/etc/cloudstack/management/thecurrentkeystore.pkcs12`
`https.keystore.password=currentkeystorepassword`

 * Firewall disabled

#### OS / ENVIRONMENT
 * CentOS7
 * MGMT Server on VMWare
 * Cloudstack 4.14

[2020-07-03 12:10] rhtyd commented on #4198
following @Pearl1594 @shwstppr

[2020-07-03 12:10] rhtyd commented on #4198
We're exploring alternative with https://www.flatcar-linux.org/releases/

[2020-07-04 19:56] nvazquez commented on #4018
Problem 1 is fixes by PR 4188

Problem 2 is only a problem on certain XenServer versions, confirmed on 7.0 and 7.1, but not an issue on XCPng 7.4 and 7.6 (under the same CloudStack version)

Tests:

- Created an hourly backup snapshot for a ROOT volume on two 4.13.0.0 environments. Env1 with a XenServer 7.0 host and Env2 with an XCPng7.6.

Results after 20+ hours of scheduled snapshots:

- Env1: O

[2020-07-05 01:58] rhtyd opened #4201 "VM snapshot deletion failure may put it indefinitely in expunging state"
VM snapshot deletion may put the state in Expunging state indefinitely, originally logged here: https://github.com/apache/cloudstack-primate/issues/488

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

[2020-07-05 17:46] ibragullam commented on #3138
hi there am trying to configure site to site vpn tunnel from my centos 7 cloud server to my Cisco asa device by using Strongswan but am keep getting this output someone help me am stuck here for  weeks

root@imart-linux ibragullam]# strongswan statusall
Status of IKE charon daemon (strongSwan 5.7.2, Linux 3.10.0-1127.13.1.el7.x86_64, x86_64):
  uptime: 3 hours, since Jul 05 13:02:21 2020
  malloc:

[2020-07-05 23:55] gaaray2k opened #4203 "VM pass not getting reset"
When I request a password reset for a virtual machine, the password isnt getting reset. vm logs show that it cant get the password from the VR. is this a known issue?

 I downloaded the password script an placed it in /bin and applied the correct permissions. it looks like the password is being saved in the VR but not being sent to the vm. Please see attached screenshots. please let me know if the

[2020-07-06 07:34] rhtyd opened #4204 "Test issue: ipmisim/pyghmi does not work with CentOS8 patched ipmitool"
During marvin testing it was found that the ipmitool on CentOS8 has patches that no longer works with `ipmisim` test utility. This does not mean that OOBM may not work with CentOS8 management servers, which may need further testing with an actual BMC. The `ipmisim` utility uses `pyghmi` from OpenStack and may need bugfixes/refactoring that is out of scope of CloudStack project.

The difference see

[2020-07-06 07:42] rhtyd commented on #4204
Workaround - install the CentOS 8.1.1911 1.8.18-12 rpm: (the 1.8.18-14 rpm does not work with latest)
https://rpmfind.net/linux/centos/8.1.1911/AppStream/x86_64/os/Packages/ipmitool-1.8.18-12.el8_1.x86_64.rpm

[2020-07-06 07:45] rhtyd commented on #4204
@shwstppr I think the best way would be to document this, send a doc PR and for Trillian just install the 1.8.18-12 rpm (instead of 1.8.18-14 rpm)

[2020-07-07 07:14] #4173 closed

[2020-07-07 07:18] #2736 closed

[2020-07-07 07:23] #4181 closed

[2020-07-07 07:23] rhtyd commented on #4204
With @shwstppr

[2020-07-07 07:25] rhtyd commented on #4160
Reviewed this, essentially the template will belong to the same user and the user may delete the key from settings. Closing.

[2020-07-07 07:25] #4160 closed

[2020-07-07 07:26] rhtyd commented on #3543
Not applicable anymore as CentOS6 is no longer supported

[2020-07-07 07:26] #3543 closed

[2020-07-07 13:02] VincentHermes commented on #4199
After additional investigation with our very capable colleague we seem to have found the error, but are not able to solve it. There is an exception on jetty regarding keystores:

`Exception in thread "main" java.lang.IllegalStateException: KeyStores with multiple certificates are not supported on the`
`base class org.eclipse.jetty.util.ssl.SslContextFactory. (Use org.eclipse.jetty.util.ssl.SslCont

[2020-07-07 13:10] rhtyd commented on #4199
@VincentHermes thanks for sharing, does this work for you if you use a single certificate?

[2020-07-07 14:03] VincentHermes commented on #4199
@rhtyd We tried these certificate combinations:

* Key - Server Cert - Intermediate Cert - RootCA
* Key - Server Cert - Intermediate Cert
* Key - Server Cert - RootCA
* Key - Server Cert

Only the server cert doesn't work of course because generating the keystore requires a fitting key. None of these worked however.

The creation of the Self Signed happened like that:
`openssl genrsa -out selfsign

[2020-07-07 17:13] mib1185 opened #4206 "Behavior of vm.instancename.flag not as expected/documented"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### SUMMARY

Behavior of global parameter `vm.instancename.flag` has been changed with 51ee90074d5b53be261dcc746e4bd8a1058dfb6a and therefore does not work as expected by documentation http://docs.cloudstack.apache.org/en/latest/adminguide/virtual_

[2020-07-08 06:10] rhtyd commented on #4183
ping @GabrielBrascher @wido any thoughts?

[2020-07-08 06:10] rhtyd commented on #4179
This is largely an unsupported feature, right now it's serves as a bookmark to other mgmt server. Please ask questions or discuss them on the users ML list instead: http://cloudstack.apache.org/mailing-lists.html

Thanks.

[2020-07-08 06:10] #4179 closed

[2020-07-08 06:12] rhtyd commented on #4052
@borisstoyanov this is fixed in Primate
![Screenshot from 2020-07-08 11-42-01](https://user-images.githubusercontent.com/95203/86883710-11c54580-c110-11ea-9fb4-2d0cffc84189.png)

[2020-07-08 06:13] rhtyd commented on #3364
Can you test Primate @PPisz we're targeting GA/1.0 now

[2020-07-08 06:13] #4056 closed

[2020-07-08 14:32] GabrielBrascher commented on #3526
Sorry for the late reply, @DmB991.

Just updating that I have been trying to reproduce this error on KVM nodes but so far I had no success.

For instance, I deployed more than 150 VMs on a node (via API call s done by a script), reaching its CPU limits, but could not reproduce the issue raised here. Also, I was able to list those VMs and delete all of them at once without any problem.

Have you be

[2020-07-09 08:23] ravening commented on #4203
I encountered same issue with centos5 but didnt face this issue with ubuntu

[2020-07-12 04:56] alamintech commented on #3826
I have same problem, can you give me idea where I drop mysql-connector-java-5.1.49.tar this file manually.

Thanks.

[2020-07-13 04:38] GabrielBrascher commented on #4183
@rhtyd @fuchanghao I have never tried such a migration.

I know that the command works fine when migrating from local storage on KVM host A to local storage on KVM host B. Example of the command to migrate from one host to another: `migrate virtualmachinewithvolume virtualmachineid=<VM-uuid> hostid=<target-host-B-uuid>`.

However, I did not test migrating among two KVM hosts and different NFS stor

[2020-07-13 15:22] fuchanghao commented on #4183
I have tried oVirt in a simular way these days.
And oVirt can migrate storage with VM on.(At least works with 2 NFS) And I can migrate storage with Web-UI on oVirt.

[2020-07-13 20:42] gaaray2k opened #4209 "use X-forward-for address instead of the load balancer ip."
When I log into primate an event is recorded saying "user USER logged in from IPADDRESS". this is a problem for users that use a proxy or load balancer because the ip will always be the the ip of the load balancer or proxy. can a system config option be added to use the IP address of the x-forward header so the real ip of the user is shown instead when using a proxy or load balancer?.

[2020-07-13 20:54] #4168 closed

[2020-07-15 04:44] kiwiflyer opened #4210 "ISCSI cleanup thread breaks non-managed storage utilizing ISCSI connectivity"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

KVM plugin

##### CLOUDSTACK VERSION
4.13.1 and 4.14

##### CONFIGURATION
KVM with unmanaged ISCSI

##### OS / ENVIRONMENT

##### SUMMARY
Change was introduced in https://github.com/apache/cloudstack/commit/6baa598033fa3f78b5b0144275de8c1404f67f29
It adds a cleanup process for old iscsi connections. Unfortunately, it doesn't appear to be scope

[2020-07-15 10:21] #4102 closed

[2020-07-15 10:24] rhtyd commented on #4206
@mib1185 thanks for reporting, changing the behaviour again may break some environments and given the change was done many years ago (circa 4.6)  I think we'll address this in docs instead.

[2020-07-15 10:28] #4129 closed

[2020-07-15 10:46] #4127 closed

[2020-07-15 13:19] weizhouapache opened #4211 "VM HA does not work when server is stopped gracefully"
When we stop a server (hypervisor) gracefully, vms on it will NOT be started on other servers even HA is enabled.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2020-07-15 13:19] weizhouapache commented on #4211
@rhtyd @DaanHoogland @PaulAngus @svenvogel have you faced this issue ? is this an expected behavior ?

[2020-07-16 13:44] #3820 closed

[2020-07-17 09:10] ZhefuTu commented on #3843
Hi, I'm trying startup cloudstack-management.service, but failed.
I installed cloudstack-management 4.11 in centos7.
Here are the env:
mysql  Ver 14.14 Distrib 5.7.31, for Linux (x86_64) using  EditLine wrapper
java openjdk version "1.8.0_252"

2020-07-17 04:34:21,829 INFO  [c.c.u.DatabaseUpgradeChecker] (main:null) (logid:) Grabbing lock to check for database upgrade.
2020-07-17 04:34:21,866 ERRO

[2020-07-17 15:27] svenvogel opened #4216 "iSCSI paths will be logged out / path detection failure"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

We found a Bug into the PR #3819. Sometimes hypervisor (Linux, KVM) detect the partitions on the attached disk. This leads to additional paths. Since we only check the path of the disk in the XML of the virtual machine and compare them with th

[2020-07-17 18:25] kiwiflyer commented on #4216
@svenvogel See this issue I logged for a community member a couple of days ago - https://github.com/apache/cloudstack/issues/4210

[2020-07-17 19:05] skattoju4 commented on #4216
i will work on this

[2020-07-17 19:05] skattoju4 commented on #4210
i will work on this

[2020-07-18 00:48] alamintech opened #4217 "How can I use LVM volume storage for my private CloudStack"
How can I use LVM volume storage for my private CloudStack.

Please see my image below
Also please give me any mail address so I have some query for my private server.
many time I got below details for collect mail address, but I am not find out which exact mail address.

![lvm](https://user-images.githubusercontent.com/68062764/87840664-ab37e880-c8c2-11ea-8f68-a6b5d04d256c.JPG)

Thanks.

[2020-07-20 07:47] weizhouapache opened #4218 "Removed kvm host is added back to cloudstack when restart cloudstack-agent on it"
When we remove a KVM host from cloudstack, and restart cloudstack-agent on it, the host is added back to cloudstack.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

basic/advanced networking

##### OS / ENVIRONMENT

KVM

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code

[2020-07-23 07:12] ravening opened #4221 "cpuallocated value shows 0 all the time"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Any type of zone

##### OS / ENVIRONMENT

Any OS

##### SUMMARY

findHostsForMIgration api always returns 0 for cpuallocated field
Also there is inconsistency between memoryallocated field returned by listHosts api and findHostsForMigration api

##### STEPS TO REPRODUCE

[code]

##

[2020-07-23 10:22] DmB991 commented on #3526
@GabrielBrascher Are you deleting(first 100 VMs) and creating new VMs(after 100 VMs exists) at the same time?
I return on 4.11.2, it works perfect for me, except this and #3513 bug. So I recreate VMs(via script) when VM is fallen down.

[2020-07-24 04:01] GabrielBrascher commented on #3526
@DmB991 I did not execute both, VMs creation and deletion, at the same time, I will re-check considering your use case.

[2020-07-27 08:58] rhtyd commented on #4218
@weizhouapache should the remote host purge the agent.properties?

[2020-07-27 14:45] rvalle opened #4223 "wrong bridge interfaces"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

KVM

##### OS / ENVIRONMENT

Ubuntu 18

##### SUMMARY

Our systems are configured with descriptive names for bridges, we have configured the agent accordingly. (private, public,guest).network.device are pointing to the right devices in agent.properties.

However a "cloud0" bridge i

[2020-07-27 18:21] GabrielBrascher commented on #4223
By default, CloudStack configures `cloud0` as the host-only bridge, created when the host is added to a CloudStack zone. This bridge is used internally for SSH access into System VMs. As far as I remember the documentation mentions the process of editing bridges for _management_, _public/guest_, and _storage_ networks (examples on documentation being _cloudbr0_, _cloudbr1_, and _cloudbr2_).

If yo

[2020-07-27 18:23] GabrielBrascher commented on #4223
@rvalle did you configure `private.bridge.name`?
Could you please share agent.proporties bridge/network parameters?

[2020-07-27 19:29] rvalle commented on #4223
ok @GabrielBrascher  let me check...
I have configured
- guest.network.device
- public.network.device
- private.network.device

I have not configured private.bridge.name, you are right, I do remember the documentation mentioning it.

here is my agent.properties
[code]

I have confused cloud0 bridge with cloud0br bridge

[2020-07-27 19:37] GabrielBrascher commented on #4223
I thought that this was the case. All looking good then :-)

[2020-07-28 05:15] #4223 closed

[2020-07-28 08:48] andrijapanicsb opened #4224 "test_vpc_redundant sometimes fails on XCP-ng 7.6-8/8.1"
Happens on XCP-ng 7.6-8/8.1 all the time when blueorangutan is invoked (when repeated manually a few times, sometimes it will pass completely, but usually it will fail).
Does NOT happen (as it seems, haven't seen it) with XS 7.1 (and KVM/VMware)

Pasting below the runinfo.txt related parts - these are making it hard to see if the tests are not robust enough, or if there is some kind of failure on

[2020-07-28 08:51] andrijapanicsb commented on #4224
i.e. listRouters returns 2 VRs, but we expect 1 VR to be returned.
the environment where this was tested is XCP-ng 8.1, but I believe it's that's not relevant (during these tests, after the tests finished, I have not seen any "junk" or stuck VRs on the hypervisor etc)

[2020-07-28 08:51] andrijapanicsb commented on #4224
Same kind of failures, from another PR: https://github.com/blueorangutan/acs-prs/releases/download/trillian/pr4068-t2187-xcpng80.zip

[2020-07-28 18:13] gaaray2k opened #4227 "confused about User Permission"
I am a little confused as to how user accounts work on CS. right now I have an account called A which is domain admin in domain lab.com . if I add another user in account A, it gets the same "domain admin" permission. if I want to create another user with the "user" role, I would have to create another account with the "user" role under the same domain, but the new account would get different reso

[2020-07-28 18:37] ravening commented on #4209
we are using haproxy as a loadbalancer and when transparent mode is enabled, it uses XFF address instead of loadbalancer ip. This will be fixed in https://github.com/apache/cloudstack/pull/4141

[2020-07-28 18:59] gaaray2k opened #4229 "Creating a network offering"
when I create a new network offering I give it a name and fill out all the require fields. I then enable the new offering but the new network offering doesnt show up when creating a new network. am I doing something wrong or is this a known bug?

version: 4.14

[2020-07-29 08:29] DaanHoogland commented on #4211
This doesn't sound familiar @weizhouapache . To recap,
- a hosts is HA enabled? (genuine question , here)
- a vm with a ha enabled offering is created on it.
- the server is powered off. Is by means of an remote (ipmi) action or by logging on to the console and issueing a halt command?

I would not expect this behaviour as a user but it might be a side effect of the host-ha, hence my questions.

[2020-07-29 08:53] DaanHoogland commented on #4217
there is [the users list](mailto:users@cloudstack.apache.org>) for these questions. hope that helps.

[2020-07-29 09:20] DaanHoogland commented on #4229
@gaaray2k I know the feeling bit in my experience this is a user issue. All requirements for a network offering have to be met for it to show in the list of offerings. check the create API call and compare it to the list offerings call that is done during create network procedure.

[2020-07-29 09:47] gaaray2k commented on #4229
Which requirements have to be met?. If I create an offering and choose the options that I want, shouldn't it just work?

[2020-07-29 10:03] DaanHoogland commented on #4229
I don't know, @gaaray2k. Obviously it is not returned by the listNetworkOfferings API. I don't know if that is because of the filtering requested or because of the options on the offering.
as you can see in http://cloudstack.apache.org/api/apidocs-4.14/apis/createNetworkOffering.html and http://cloudstack.apache.org/api/apidocs-4.14/apis/listNetworkOfferings.html there are quite a lot of options t

[2020-07-29 11:57] gaaray2k commented on #4153
it looks like it was fixed in 4.15 but there is another issue. when connecting to the vpn, the v-router is setting a default route pointing to the vpn. this is causing all the traffic to go over the vpn, breaking internet access. it would be best to make so only the 10.1.2.0/24 route is being routed over the tunnel.

[2020-07-29 12:24] andrijapanicsb commented on #4153
@gaaray2k you've already tested this, right? I assume this is different behaviour to how it worked before (the routing thing/issue)?

/cc @DaanHoogland @rhtyd

[2020-07-29 12:28] gaaray2k commented on #4153
I tested it. I can connect to the vpn while I have the vpn site to site connected. so the original issue has been solved. the problem is now that while connected to a remote access vpn all the traffic is pointing to the vpn tunnel so desktops lose internet connectivity. I think it should just be the the cloudstack network subnet pointing to the vpn. I think the config below would fix it.
root@r-20

[2020-07-29 12:32] andrijapanicsb commented on #4153
@gaaray2k your are saying that all of your desktop (client's) internet traffic is now going over VPN?
If not mistaken, that depends on how you configure your route on the Windows client  - i.e. in order to reach the VPC networks (the whole VPC CIDR range) - you have 2 options (from what I can remember when I was actively using this as a "client")
- Tick the "Send/Route all traffic over the remote

[2020-07-29 12:40] gaaray2k commented on #4153
shoot. I forgot about that. it works now. my bad.

[2020-07-29 12:41] gaaray2k commented on #4153
how can I disable the make redundant option when restarting a network or vpc?

[2020-07-29 12:45] andrijapanicsb commented on #4153
Phew, good...

That one is a question for the ML not here :) but - you can't via UI.

Go to table "vpc" or "network" and replace 1 with 0 in the  "redundant" field - then destroy both VRs of the network/VPC - and then restart the network with cleanup (but don't tick the Make redundant checkbox)

Cheers,

[2020-07-29 13:29] gaaray2k commented on #4153
ok. thats a hack. but it would be nice to do it via the UI. also I wanted to disabled all together. I was looking into the webapp to see if I could just remove the form item from the code, but I guest I am not that good.

[2020-07-29 13:54] andrijapanicsb commented on #4153
Ah the "option" to make it redundant? No way, for now.

[2020-07-29 17:19] DaanHoogland commented on #4227
@gaaray2k I think your question makes sense, even when not understanding it completely; you want the resource count to be on domain level, or shared over the domain admin and the regular user account, do you?

[2020-07-29 17:32] andrijapanicsb commented on #4227
@gaaray2k the correct place for QUESTIONS is the mailing list - you'll get better help there.

- USER = just username/password (or API/SECRET key) combination to become an ACCOUNT - i.e. once you log in with your credentials, you "become" an ACCOUNT - and everything you do / all resources created belong to this ACCOUNT.
-
- ACCOUNT = owner of all resources, with optionally limits on a per-account

[2020-07-29 17:38] andrijapanicsb commented on #4229
there networks and networks and networks and networks (isolated, shared, VPC isolated, L2) :)

Which ones are you trying to create - share a screenshot here, after configuring all the offering details (before pressing the OK/create button) (simple ctrl + v will paste an image)

[2020-07-29 18:11] andrijapanicsb commented on #4221
Nice - it always has hosts available for migration... 🤦‍♂️

[2020-07-29 18:53] gaaray2k commented on #4227
The confirmation comes in the account creation. I would have to rename the account after is being created the. Otherwise I will have an account called and a user called acme.

[2020-07-29 22:01] gaaray2k commented on #4227
Correct. Or even if a domain is just for auth, the account creation should be separated from a user creation. It should be I create an account and assign resources to it then I create users to consume those resources and assign roles to those users. right now if I create an account all users under that account would have the same permissions. The whole thing is just confusing in my opinion. it is

[2020-07-30 00:39] gaaray2k commented on #4209
Sorry I don't think I was clear enough. In primate, when a user logs in, an event is log that has the IP of the user in it. The problem is that placing a load balancer in front of the management server, the IP is the load balancer is in the vent instead of the client IP. I asked in the primate project about this and they said that they just take whatever up th backend sends primate. So my question

[2020-07-30 00:54] gaaray2k commented on #4227
This is what I mean. There is no role option when creating a user. The role option is just for accounts. Every user under the same account will have the same roles.

![Screenshot_20200729-205200](https://user-images.githubusercontent.com/67025242/88868202-835b5580-d1dd-11ea-88e4-fe5b6adbdcb3.png)

[2020-07-30 00:57] gaaray2k commented on #4227
![Screenshot_20200729-205551](https://user-images.githubusercontent.com/67025242/88868397-15635e00-d1de-11ea-86ea-50a7e6113694.png)

[2020-07-30 05:21] #3624 closed

[2020-07-30 08:11] andrijapanicsb commented on #4227
user doesn't have a role.
Account does.

As I said - observe user as just a username/password (login credentials) for the same account - multiple users in the same account, when they log in, they all "become" this single account

[2020-07-30 09:48] gaaray2k commented on #4227
Then there is no way to have many users with different roles under the same account sharing resources.

[2020-07-30 12:03] andrijapanicsb commented on #4227
Correct. For resource sharing – you would probably want to use Projects – each resource created IN the Project (by any account joined to the project) will belong to the project (not the account) – and here you can share resources by simply adding more accounts (participants) to the project.

From: gaaray2k <notifications@github.com>
Sent: Thursday, July 30, 2020 11:49 AM
To: apache/cloudstack <clo

[2020-07-30 17:05] jl0x61 opened #4233 "Fail to create VMs from template"
##### ISSUE TYPE

 * Bug Report
##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

basic network. local storage. secondary storage is NFS.

##### OS / ENVIRONMENT

ubuntu 18.04 LTS

##### SUMMARY

I was **unable to create VM from template** but I was **able to create VM from ISO**. Ths ISO is Ubuntu 18.04 LTS. I created a template from the installed VM.
I created

[2020-07-30 18:27] gaaray2k commented on #4227
here is another situation.

from the root domain, I created a domain called lab.com which have user walvarez (domain admin). I logged in as walvarez and created another domain called test.com. my userstanding is that lab.com would be a reseller and test.com would be a customer of lab.com. the problem is that when I try to create an account for test.com, the domain test.com doesnt show up in the li

[2020-07-31 01:44] div8cn opened #4234 "Static NAT with multiple public interfaces uses wrong outgoing IP"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

advanced networking
multiple public interfaces

##### OS / ENVIRONMENT

CentOS7 +KVM +Bridge

##### SUMMARY

When a VR has public IPs on multiple interfaces, a static NAT rule which is not on the first public interface will have outgoing traffic originating from the Source NAT IP

[2020-07-31 07:20] andrijapanicsb commented on #4227
You can’t add a user-role in an empty domain, until you add the domain-admin , afaik.

Further more, for the reseller model, I would suggest one domain/domain-admin account should be one reseller, then regular user-role accounts inside this same domain would be it’s customers. This way reseler (domain admin account) can manage its customer resoruces (user-role account create resoruces).

For anoth

[2020-07-31 09:24] gaaray2k commented on #4227
How can I add a domain admin if the domain doesn't show up in the list?

[2020-07-31 11:45] andrijapanicsb opened #4237 "Test scale_vm_vm needs fixing for XenServer/XCP-ng"
Running Marvin test test_scale_vm (test_01_scale_vm) on any version of XenServer/XCP-ng fails due to:

`2020-07-24 21:17:10,550 ERROR [c.c.v.VirtualMachineManagerImpl] (Work-Job-Executor-137:ctx-a555852b job-1829/job-1830 ctx-ac21684e) (logid:59af6655) Unable to scale vm due to Catch exception com.cloud.utils.exception.CloudRuntimeException when scaling VM:i-160-204-VM due to com.cloud.utils.excep

[2020-07-31 11:47] andrijapanicsb commented on #4237
cc @DaanHoogland

(reminds of the similar issue in VMware where the calculated target RAM size was 0, so a divide by 0 failed etc...)

[2020-08-01 14:30] gaaray2k commented on #4168
is there a setting I need to enable for the agents to failover to a new mgmt server in case of a failure? right now this isnt happening.  I shutdown the mgmt server where the agents were connected and they all went to disconnected state. I waited about 10 mins but they didnt reconnect to another server.

[2020-08-01 14:54] gaaray2k opened #4238 "uefi vm creation fail"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
VM creation fails when creting a vm with uefi bios

##### STEPS TO REPRODUCE
create an instance with a uefi bios

##### EXPECTED RESULTS
vm is created sucessfully

##### ACTUAL RESULTS
2020-06-23 11:44:19,025 ERROR [kvm.resource.LibvirtComputin

[2020-08-01 15:07] gaaray2k commented on #4238
from https://cwiki.apache.org/confluence/display/CLOUDSTACK/Enable+UEFI+booting+for+Instance it says:

In case of newly configuring KVM Host , Cloud Admin [Customer admin] will have to prepare and add uefi.properties after successful completion of agent.

is this a file I need to create manually?

[2020-08-02 02:06] jl0x61 commented on #4233
It truns out that I do not choose the zone(default zone) when creating VM... I can successfully create VM if i choose the zone.

[2020-08-02 02:06] #4233 closed

[2020-08-03 07:47] DaanHoogland commented on #4238
@gaaray2k I have never tested UEFI with any thing but vmware and I thought on KVM firmware emulation does not apply as all properties are set in the spec xml that qemu uses. However reading that page it says an extra package needs to be installed on KVM to support UEFI.

Did you do that?
As i don't know of any other users atm I think you are on your own. Try addressing the author of the feature.

[2020-08-03 12:15] weizhouapache commented on #4168
the sessions are not shared between mgt servers.
you have to enable sticky sessions in your haproxy config

[2020-08-03 12:32] gaaray2k commented on #4168
I am not using haproxy. I am using the management server internal load balancer. Haproxy for agent connections are not necessary. The problem is that when a MGMT server fails, the agents connecting to that server don't detect the failure and stay "connected" to the failed server.

[2020-08-03 12:34] gaaray2k opened #4240 "Agents failover"
is there a setting I need to enable for the agents to failover to a new mgmt server in case of a failure? right now this isnt happening. I shutdown the mgmt server where the agents were connected and they all went to disconnected state. I waited about 10 mins but they didnt reconnect to another server.

The only fix is to restart the agent.

[2020-08-03 15:16] weizhouapache commented on #4168
@gaaray2k ok. you mentioned "LB: haproxy" in description, maybe it changed.

ps: it is suggested to use 3 or more management servers  for HA.

[2020-08-03 16:31] gaaray2k commented on #4168
I have there MGMT servers. The problem is if one fails the agents aren't reconnecting on their own to the other 2. I have to restart the agents for them to reconnect

[2020-08-03 18:11] stack1313 commented on #4146
Hi, any update to fix this ? I have the same problem. I tested all prebuilt community Kubernetes ISO version and no success. And impossible to download k8s config when the cluster is not deployed. I have the error "Setup is in progress for Kubernetes cluster ID".

[2020-08-03 22:04] sm97 opened #4241 "Unexpected exception while executing org.apache.cloudstack.api.command.user.kubernetes.cluster.CreateKubernetesClusterCmd"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced networking

##### OS / ENVIRONMENT

CentOS7 on MS, XCP-NG 8.2 on hypervisors

##### SUMMARY

Cannot create kubernetes cluster from classic/primate UIs. It fails to create master/worker VMs. Other Linux/Winsows VMs are created by MS without issues on the same hypervisor.
I'

[2020-08-04 05:59] #4107 closed

[2020-08-04 05:59] #4113 closed

[2020-08-04 05:59] #4133 closed

[2020-08-04 05:59] rhtyd commented on #4241
cc @shwstppr

[2020-08-04 06:01] rhtyd commented on #4240
@gaaray2k see http://docs.cloudstack.apache.org/en/latest/adminguide/hosts.html#server-address-usage
Which were your env/versions of CloudStack/KVM?

[2020-08-04 06:01] rhtyd commented on #4237
cc @shwstppr

[2020-08-04 06:02] rhtyd commented on #4224
@weizhouapache did you find the root-cause fix for this?

[2020-08-04 06:08] rhtyd commented on #4192
@andrijapanicsb is this still a blocker?

[2020-08-04 06:09] rhtyd commented on #4018
Is this still a blocker or was a fix merged @andrijapanicsb @nvazquez ?

[2020-08-04 07:47] andrijapanicsb commented on #4192
Nope @rhtyd this one can be closed - I've opened 1 or 2 new ones, more minor, as the redudant_vpc test is consistently failing on XCP 7.6 and 8.0 (sometimes works fine/no errors when run manually from the Marvin box) - but the same doesn't fail (haven't seen it fail) with XS 7,1

[2020-08-04 07:47] #4192 closed

[2020-08-04 11:16] gaaray2k commented on #4240
I am using 4.14 with kvm.

[2020-08-04 11:22] shwstppr commented on #4241
@sm97 Couple of things,

- Have you tried it with a different hypervisor? XCP-NG 8.2 support is not present in 4.14 and not even in master. Did you add all OS mappings? Though at this point I'm not sure if that's all we will need for XCP-ng 8.2.
- Does the deployment of VMs outside CKS plugin work fine with CoreOS template?

[2020-08-04 14:27] Spaceman1984 opened #4242 "Unable to login with latest master 2020/08/04"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Using Google Chrome Browser: Version 84.0.4147.105 (Official Build) (64-bit)

##### SUMMARY

Unable to log in

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2020-08-04 14:41] nvazquez commented on #4018
Fixed on PR #4188, closing this issue

[2020-08-04 14:41] #4018 closed

[2020-08-04 14:48] sm97 commented on #4241
@shwstppr Thanks for prompt reply,
* No, I have no extra server to test different hypervisor. Test stand is in my plans, but not nearest one :( I know that XCP-NG 8.2 is not listed in supported ACS configurations, but it does works well for me for regular usage.
* I have tested CoreOS template outside of CKS plugin and it runs well. But CKS just fails to create new VMs. That's the root cuase of my

[2020-08-04 15:13] shwstppr commented on #4241
@sm97 It is failing at https://github.com/apache/cloudstack/blob/6f96b3b2b391a9b7d085f76bcafa3989d9832b4e/server/src/main/java/com/cloud/vm/UserVmManagerImpl.java#L3764

Hypervisor must be coming as null here. Will check code for more. Till then, ca you please check/answer,
- While adding XCP-ng 8.2 hosts did you add guest OS mappings for XCP-ng 8.2.0 version?
- Please share cloudmonkey response f

[2020-08-04 17:53] sm97 commented on #4241
[code]

Sorry, I do not understand how I can check this?

[2020-08-04 18:28] DaanHoogland commented on #4237
It rings no bell @andrijapanicsb . also ram being 0 w/should not lead to devide by zero as deviding something by the amount of ram makes no sense to me. Any more hints? @rhtyd are you familiar with the issue?

[2020-08-05 04:05] div8cn opened #4244 "Attach iso failed for kvm UEFI"
##### ISSUE TYPE

 * Bug Report
##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OS CentOS 7.6
Compiled against library: libvirt 4.5.0
Using library: libvirt 4.5.0
Using API: QEMU 4.5.0
Running hypervisor: QEMU 2.12.0

OVMF-20180508-6.gitee3198e672e2.el7.noarch
##### SUMMARY

When VM is running in UEFI Secure Boot mode, the controller of

[2020-08-05 04:44] Pearl1594 commented on #4242
@Spaceman1984 I am unable to reproduce the issue. This issue may however crop up if you have cookies of another session. There was a PR merged into master that handles purging of (multiple session key) cookies (https://github.com/apache/cloudstack/pull/4176). In case there exists session Key cookies of another session - try clearing out your cache once, and then test if this issue crops up again.

[2020-08-05 05:19] div8cn opened #4245 "VM cannot run normally in kvm UEFI LEGACY mode"
##### ISSUE TYPE

 * Bug Report
##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Hypervisor:  CentOS7.6
Compiled against library: libvirt 4.5.0
Using library: libvirt 4.5.0
Using API: QEMU 4.5.0
Running hypervisor: QEMU 2.12.0

OVMF: OVMF-20180508-6.gitee3198e672e2.el7.noarch

##### SUMMARY

Under KVM Hypervisor
In UEFI LEGACY mode, the V

[2020-08-05 06:51] Spaceman1984 commented on #4242
Hi @Pearl1594 , seems like this is an issue that occurs when running an older version before going to latest master, I was able to log in using a guest session on chrome. Where do I find the sessionkey and path?

[2020-08-05 06:59] Pearl1594 commented on #4242
@Spaceman1984 In your browser's dev tools, goto storage -> cookies. There you'd see the sessionkey; clicking on it, will fetch you details of the respective cookie.

[2020-08-05 07:18] Spaceman1984 commented on #4242
![Cookies](https://user-images.githubusercontent.com/49917670/89383278-82a25200-d6fc-11ea-9e1d-c263c0ce36d8.png)

[2020-08-05 07:18] Spaceman1984 commented on #4242
@Pearl1594 seems like these cookies will expire tomorrow

[2020-08-05 07:26] Spaceman1984 commented on #4242
![Cookies-Guest](https://user-images.githubusercontent.com/49917670/89383838-7e2a6900-d6fd-11ea-8f88-67c32902990e.png)

The cookies from the guest session doesn't include a sessionkey for /client, maybe the different path on the new version is causing the issue.

[2020-08-05 08:41] rhtyd commented on #4242
@Spaceman1984 on latest branch/master what you're working on if you clear application cache (see clear storage on the Application tab) - are you able to log in? Are you using old UI or Primate for testing UI?

[2020-08-05 08:41] rhtyd commented on #3934
@dpassante I tested 4.14/master I'm not able to see this. In UI as root admin you can re-order the zones and the order is honoured.

[2020-08-05 08:42] rhtyd commented on #4024
@andrijapanicsb does this cause a blocker for CentOS7/8 etc? cc @DaanHoogland

[2020-08-05 08:43] rhtyd commented on #4169
@div8cn turns out we cannot check if the URL/server has a valid SSL certificate from javascript without using any external tool/service; it's therefore advised to use this feature use SSL enabled env. Alternatively, we can explore a fix in future that allows uploading on http:// URL for envs where SSL is not enabled by default.

[2020-08-05 08:47] rhtyd commented on #4204
@shwstppr pl send a doc PR on this to cloudstack-documentation website

[2020-08-05 08:59] andrijapanicsb commented on #4024
As we are not testing 2.10+ qemu (qemu-kvm-ev), we haven't seen any failures - but in general it could affect host-HA and similar actions (I wrote there "NFS v4 not affected" - so I guess not many people would be using NEW qemu with and OLD NFS...

[2020-08-05 09:26] Spaceman1984 commented on #4242
@rhtyd  I'm using the old UI. If I clear the cache, the immediate problem is gone. but that is a workaround that doesn't address the issue.

Just by looking at the pictures I uploaded, I can see an extra sessionkey with a different path. Possibly the problem here is that a new session key is added but the old incorrect sessionkey is being checked for authentication?

[2020-08-05 09:27] DaanHoogland commented on #4245
@div8cn do you have resources to work on this?
should we set a milestone yet?

[2020-08-05 09:28] Spaceman1984 commented on #4242
@rhtyd This is an edge case with a workaround, maybe we can close this one?

[2020-08-05 09:36] #4221 closed

[2020-08-05 09:39] DaanHoogland commented on #4244
same question @div8cn do you have resources for this?
And also does this work properly with BIOS or is the problem specific to UEFI?

[2020-08-05 10:30] div8cn commented on #4244
This is a problem only under UEFI.

This is CDROM XML under ueif

<disk type='file' device='cdrom'>
<driver name='qemu' type='raw'/>
<source file='/mnt/2b9b3aaa-10ab-3fcb-987e-e8e154d4e573/232-2-843370ef-844e-329f-a901-b71462e196f0.iso'/>
<backingStore/>
<target dev='sdc' bus='**sata**'/>
<readonly/>
<alias name='sata0-0-2'/>
<address type='drive' controller='0' bus='0' target='0' unit='2'/>
</dis

[2020-08-05 10:34] div8cn commented on #4245
I have resources to provide testing
@DaanHoogland

[2020-08-05 10:48] DaanHoogland commented on #4244
i guess
so do you have resource to work on this i.e. is the milestone 4.15 or 4.16?

[2020-08-05 10:50] DaanHoogland commented on #4245
ok, we might have to postpone to 4.16 than as development work will be required i guess

[2020-08-05 10:50] div8cn commented on #4244
yes  bus=ide if bios

I can do relevant tests, 4.15 or 4.16

[2020-08-05 10:51] rhtyd commented on #4183
With @Spaceman1984 cc @DaanHoogland @borisstoyanov - triaging error against 4.14.0.0 and Darrin will explore a fix. Thanks.

[2020-08-05 10:54] andrijapanicsb commented on #4183
To the best of my knowlegde, this has never worked with KVM in general, except in a 2 cases:

- what @GabrielBrascher shared, and is a special case from local storage to local storage
- from Ceph/NFS to SolidFire specifically

For both to happen, the qemu must support live storage migration, which means using Ubuntu hosts (they do support it), or CentOS 7 with qemu-kvm-ev packages from the oVirt r

[2020-08-05 11:09] shwstppr commented on #4241
@sm97 4.14 didn't have XCP-ng 8.1+ support officially. I couldn't see 8.2 released on XCP-ng site. With guest os mappings I meant something like, https://github.com/apache/cloudstack/pull/4068/commits/b9edc955ed0a83fbb3bbc5a060cffe87d448dab0#diff-1ce878cd8ce12c2ca2fbe9c3639af33eR28-R32

I've tried to reproduce this locally but couldn't see NPE, will try to dig further.
Template seems okay. Can you

[2020-08-05 11:23] DaanHoogland commented on #4244
I don't think i can spare dev resource for this @div8cn so I won't put a milestone on it for now.

[2020-08-05 11:28] DaanHoogland commented on #4183
ok on no objections I'll remove the 4.15 milestone on this (given that @Spaceman1984 is dealing with a better error reporting than NPE, in some cases)

[2020-08-05 11:34] Pearl1594 commented on #4242
@Spaceman1984  If we are moving from an old to the newer code base with the fix in place, there would be a need to clear any session keys left behind that was not cleaned earlier during the logout process. Further on, you will not see the issue as the PR mentioned earlier will handle purging them.

[2020-08-05 12:04] echoidcf opened #4246 "plugPublicNic forgot to sort the nic devices before plug a new public network"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

multiple public networks

##### OS / ENVIRONMENT

##### SUMMARY

in this file
`/plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java`

[code]
Whenever a new public nic in VR is needed, plugPublicNic is called.
and plugPublicNic get nic i

[2020-08-05 12:13] echoidcf opened #4247 "getPublicNetworkNamePrefix return UNSAFE public network name"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

multiple public network like
vlan 11, vlan 110, vlan 1100
vmware

##### OS / ENVIRONMENT

##### SUMMARY

in this file
cloudstack/plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java

<pre>
                String publicNeworkName = Hyperv

[2020-08-05 12:19] DaanHoogland commented on #4246
@echoidcf I formatted your description somewhat, but am not entirely clear on the issue yet. sounds seriour can you try to edit your description to be conclusive for anyone picking this up, please?

[2020-08-05 12:24] DaanHoogland commented on #4247
sounds like you have figured the code @echoidcf . will you submit a PR for this?

[2020-08-05 13:11] DaanHoogland commented on #4234
this would be a regression if it is indeed the same as

- #3168 as that was merged in https://github.com/apache/cloudstack/commit/2f268fbb52203cae96d0cff57c189600abab1390 which is in 4.13.1 amongst others
- #2476 is  also similar and was fixed in https://github.com/apache/cloudstack/commit/c0440e8124666fe7c642d8875870b7c09b65ce42

still looking for more related pr/issues

[2020-08-05 13:15] div8cn commented on #4234
We use this PR to solve this problem [#4236](https://github.com/apache/cloudstack/pull/4236)

[2020-08-05 13:49] Spaceman1984 commented on #4242
Ok @Pearl1594,  sounds like this is a duplicate issue then, closing.

[2020-08-05 13:49] #4242 closed

[2020-08-05 15:42] andrijapanicsb commented on #4199
Can you try a clean 4.14 install and ssl setup by following this https://www.shapeblue.com/securing-cloudstack-4-11-with-https-tls/ - just the later part (skip the securing system VMs)

[2020-08-05 17:11] sm97 commented on #4241
@shwstppr

I changed max_guests_limit to 100 for hypervisor_version ='default' only:
https://gist.github.com/sm97/966037be4c3366cfb24c8c63822e92ec

I don't see any records for 8.1.0. But I see CoreOS records for 'default' version of XenServer. Is it Ok?
https://gist.github.com/sm97/98f4bb3e5be877aa060a2c903c7073a9

It seems that correct template is used. This is nfs mount from MS host:
[code]

Sur

[2020-08-06 13:07] GabrielBrascher commented on #4211
@weizhouapache adding to @DaanHoogland's questions:
- what is the primary storage used on the tests?

[2020-08-07 06:22] echoidcf commented on #4246
Thank you. I edit the post and add some image, should be better now.

[2020-08-07 06:23] echoidcf commented on #4247
What is a PR? Sorry, I am just newbie.

[2020-08-07 07:34] rhtyd commented on #4247
@echoidcf a pull request, sending code contribution to this repository

[2020-08-07 07:35] rhtyd commented on #4246
Thanks @echoidcf
Ping @Spaceman1984 @DaanHoogland or @Pearl1594 @shwstppr - can you have a look at this, we already have example code?

[2020-08-07 07:35] rhtyd commented on #4247
Ping @Spaceman1984 @DaanHoogland or @Pearl1594 @shwstppr - can you have a look at this, we already have example code?

[2020-08-07 07:42] Pearl1594 commented on #4247
@rhtyd I can look into it

[2020-08-07 08:40] Spaceman1984 commented on #4246
@rhtyd I'll take a look

[2020-08-07 20:21] GabrielBrascher opened #4252 "Admin has no permission to execute API commands"
##### ISSUE TYPE

 * Bug Report
##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

After upgrading a staging environment to the newest 4.15, I am failing to access UI or run API commands with API commands resulting in 401 (Unauthorized).

Note that the environment that I am testing was already on master/4.15, but generated with commits from June.  I am not sure if this

[2020-08-08 13:33] #4252 closed

[2020-08-10 07:32] rhtyd commented on #4247
@Pearl1594 instead of the fix you've proposed can you fix the usage of `getNicDeviceIndex` to find exact or most matching portgroup instead of startswith(), i.e. the search should be exact instead of wildcard based which may pick a portgroup ending with 111 (VLAN ID 111) instead of 11 (VLAN ID 11).

[2020-08-10 07:33] rhtyd commented on #4246
@Spaceman1984 please liase with @Pearl1594 as to who may be picking this up, thanks.

[2020-08-10 09:41] sm97 commented on #4241
@shwstppr Do I need to supply additional info?

[2020-08-10 09:44] shwstppr commented on #4241
@sm97 sorry got occupied with some stuff last week. WIll get back to you on this later today.

[2020-08-11 05:41] echoidcf commented on #4247
Sounds cool, but I don't know much about java. I can read, but coding is another thing ^^.

[2020-08-11 09:26] PaulAngus commented on #4146
@stack1313 where did your coreos template come from?

[2020-08-11 09:38] Spaceman1984 commented on #4246
@rhtyd, I'm on this one

[2020-08-11 21:09] shwstppr commented on #4241
@sm97 can you please try deploying k8s cluster after setting `vm.instancename.flag` to false.
Issue here doesn't seem to be with CKS itself, the code in UserVmManagerImpl.java seems to be checking the wrong variable for hypervisor type at line 3764
https://github.com/apache/cloudstack/blob/6f96b3b2b391a9b7d085f76bcafa3989d9832b4e/server/src/main/java/com/cloud/vm/UserVmManagerImpl.java#L3764
I'll

[2020-08-11 23:25] andrijapanicsb commented on #3138
it seems that Cisco ASA does not support multiple connections per CHILD_SA, so a comma separated list of right subnets would not work, and a separate CHILD_SA for each connection (right subnet) is needed, as in the begining of the this thread - this PR looks good https://github.com/apache/cloudstack/pull/4137

[2020-08-12 08:05] rhtyd opened #4261 "Fix failing smoke tests for VMware"
Please review and check if we've valid regressions on master, we're seeing new intermittent test failures:

test_07_reboot_ssvm | Failure | 25.34 | test_ssvm.py
test_02_enableHumanReadableLogs | Failure | 65.72 | test_human_readable_logs.py

Both are intermittent minor issues

`reboot_ssvm fails` with error that NFS storage is not mounted
`enableHumanReadableLogs` fails due to config. mismatch cou

[2020-08-12 08:07] rhtyd commented on #4261
With @Pearl1594 cc @Spaceman1984

[2020-08-12 08:16] #2908 closed

[2020-08-12 08:17] rhtyd commented on #4146
@shwstppr can you triage this? Thanks.

[2020-08-12 08:23] rhtyd commented on #3255
Doc PR with workaround proposed for 4.15 release https://github.com/apache/cloudstack-documentation/pull/146

[2020-08-12 08:24] rhtyd commented on #3711
Per https://github.com/apache/cloudstack/pull/4005 fixed it

[2020-08-12 08:24] #3711 closed

[2020-08-12 08:25] rhtyd commented on #3583
@nvazquez we've a boot into bios mode feature now, closing based on that.

[2020-08-12 08:25] #3583 closed

[2020-08-12 08:27] rhtyd commented on #3416
Fixed recently https://github.com/apache/cloudstack/pull/4225

[2020-08-12 08:27] #3416 closed

[2020-08-12 08:28] rhtyd commented on #2539
Checked not reproducible @mdesaive can you test against Primate and re-open if you can reproduce against latest master or Primate. Thanks.

[2020-08-12 08:28] #2539 closed

[2020-08-12 08:29] rhtyd commented on #2708
@jms345 are you able to reproduce this with latest master or 4.14.0.0?

[2020-08-12 08:31] rhtyd commented on #3017
@nvazquez is this still an issue, in old console proxy or  new novnc?

[2020-08-12 08:32] rhtyd commented on #3029
@svenvogel this is not supported in Primate; instead in Primate we list all kinds of routers now including project ones. Since this is related to old UI where any new enhancements can be avoided, I'll close this but request if there's a use-case you're welcome to contribute changes to Primate instead. Thanks.

[2020-08-12 08:32] #3029 closed

[2020-08-12 08:34] rhtyd commented on #3056
cc @weizhouapache do you have plans (or maybe via #4141 ) to support SSL offloading via nginx/haproxy?

[2020-08-12 08:34] rhtyd commented on #3065
I think we added support for direct download agnostic of storage cc @nvazquez @shwstppr ? Is this still an issue then?

[2020-08-12 08:35] rhtyd commented on #3068
I think these are largely addressed (pre-filling UI form and masked password) in Primate.

[2020-08-12 08:36] rhtyd commented on #3068
We don't do this yet though `Upon submission add a warning message that the changes will take place after management restart` cc @davidjumani

[2020-08-12 08:36] andrijapanicsb commented on #3065
We don't support Ceph atm, the framework is storage-agnostics, but the implementation for Ceph/SolidFire is not done.

[2020-08-12 08:37] rhtyd commented on #3092
We do have official org account here: https://hub.docker.com/u/apache
This dupes https://github.com/apache/cloudstack/issues/3083

[2020-08-12 08:37] #3092 closed

[2020-08-12 08:39] rhtyd commented on #3068
Moved here https://github.com/apache/cloudstack-primate/issues/577

[2020-08-12 08:39] #3068 closed

[2020-08-12 08:41] rhtyd commented on #3118
I think in latest master, .img is associated with KVM/qcow2 but needs testing.

[2020-08-12 08:41] rhtyd commented on #3121
I think we've addressed this in Primate cc @davidjumani - can you comment?

[2020-08-12 08:41] sm97 commented on #4241
@shwstppr Setting vm.instancename.flag to false did the trick :)
Thank you!

[2020-08-12 08:42] rhtyd commented on #3138
@mlimalotic @andrijapanicsb @onitake @Slair1 can this be closed? The 4.15 systemvmtemplate will ship latest strongswan.

[2020-08-12 08:45] rhtyd commented on #3270
@onitake can you review and close this issue? Thanks.

[2020-08-12 08:45] rhtyd commented on #3286
I think @weizhouapache or @ravening fixed this, will close.

[2020-08-12 08:45] #3286 closed

[2020-08-12 08:46] rhtyd commented on #3343
Fixed in https://github.com/apache/cloudstack/pull/3894

[2020-08-12 08:46] #3343 closed

[2020-08-12 08:49] rhtyd commented on #3397
Looks like fixed in https://github.com/apache/cloudstack/commit/9abb703a41a48fc16bc8153451b3c403d4522454
Please reopen if against latest master this is still reproducible

[2020-08-12 08:49] rhtyd commented on #3404
I think @shwstppr explored this recently, we may propose enhancement/feature after 4.15

[2020-08-12 08:50] rhtyd commented on #3408
@harikrishna-patnala @Pearl1594 can you comment on this?

[2020-08-12 08:50] rhtyd commented on #3408
Moving out of 4.15 milestone, as this may require some vmware resource-wide refactoring changes

[2020-08-12 08:51] rhtyd commented on #3482
@weizhouapache @ustcweizhou can you check and advise if we can close this? Thanks.

[2020-08-12 08:51] rhtyd commented on #3493
@NuxRo @server24 is this still an issue with 4.14 or latest master?

[2020-08-12 08:53] rhtyd commented on #3523
I'm unable to reproduce this with 4.14.0.0 and latest ceph

[2020-08-12 08:54] rhtyd commented on #3555
This has been fixed in Primate

[2020-08-12 08:54] #3555 closed

[2020-08-12 08:55] rhtyd commented on #3559
@nvazquez cc @andrijapanicsb  @DaanHoogland was this issue fixed recently?

[2020-08-12 08:57] rhtyd commented on #3581
Fixed in https://github.com/apache/cloudstack/pull/3617

[2020-08-12 08:57] #3581 closed

[2020-08-12 08:59] rhtyd commented on #3628
@tarmof can you re-open if this is still applicable, 4.12 is now a very old release; pl try upgrading to 4.14. Thanks.

[2020-08-12 08:59] #3628 closed

[2020-08-12 08:59] rhtyd commented on #3629
@gngusen sorry I missed this issue, can you test against latest 4.14 release or master?

[2020-08-12 09:01] rhtyd commented on #3637
This is not a bug, we cannot force a VM to be associated to a domain directly. We need to deploy to an account that belongs to a domain to force VMs deployed in a domain (i.e. owned by an account in that domain). Closing on this remark.

[2020-08-12 09:01] #3637 closed

[2020-08-12 09:02] rhtyd commented on #3684
This is allowed in Primate, I'm not for old UI. Closing on this remark and request that we should we Primate from hereon. Thanks.

[2020-08-12 09:02] #3684 closed

[2020-08-12 09:02] rhtyd commented on #3685
cc @DaanHoogland any remarks?

[2020-08-12 09:02] rhtyd commented on #3686
@davidjumani @DaanHoogland can you check against latest master/primate?

[2020-08-12 09:03] rhtyd commented on #3687
cc @DaanHoogland @davidjumani any remarks?

[2020-08-12 09:04] rhtyd commented on #3690
@DaanHoogland can you review and close this as things are addressed in depth in #4250

[2020-08-12 09:04] ravening commented on #3286
Yes this is fixed

[2020-08-12 09:06] rhtyd commented on #3692
@shindere this is addressed I think in both old UI and Primate. In Primate after you log in, you can go to your own user by clicking on top-right menu -> Profile there you can easily see your APIkey and secret key. If you've further idea please log UI related issues here: https://github.com/apache/cloudstack-primate/issues

[2020-08-12 09:06] #3692 closed

[2020-08-12 09:06] rhtyd commented on #3693
@DaanHoogland is this still valid or can be closed?

[2020-08-12 09:08] rhtyd commented on #3719
@borisstoyanov do still see this with latest master?

[2020-08-12 09:09] rhtyd commented on #3722
Per https://github.com/apache/cloudstack/pull/3795 fixed it closing

[2020-08-12 09:09] #3722 closed

[2020-08-12 09:10] rhtyd commented on #3752
cc @davidjumani @DaanHoogland can you review/verify this? Thanks.

[2020-08-12 09:12] rhtyd commented on #3770
I've tested this case with Primate and 4.14+master recently, did not reproduce this. Closing on the remark that it was not reproducible with Primate, pl log issue here https://github.com/apache/cloudstack-primate if reproducible. Thanks.

[2020-08-12 09:12] #3770 closed

[2020-08-12 09:12] rhtyd commented on #3784
@DaanHoogland are you able to reproduce it still on master?

[2020-08-12 09:13] rhtyd commented on #3792
Was this issue fixed recently @sureshanaparti ?

[2020-08-12 09:13] rhtyd commented on #3802
@shoaibjdev can you test latest master with Primate?

[2020-08-12 09:14] rhtyd commented on #3815
Was this recently fixed @andrijapanicsb @DaanHoogland @Spaceman1984 ? Thanks.

[2020-08-12 09:15] #3858 closed

[2020-08-12 09:15] rhtyd commented on #3889
@Doni7722 is this still an issue with 4.14 or master?

[2020-08-12 09:15] rhtyd commented on #3895
@andrijapanicsb cc @DaanHoogland is this still a bug on 4.14/master?

[2020-08-12 09:16] rhtyd commented on #3896
@DaanHoogland was this addressed, can this be closed then? Thanks

[2020-08-12 09:16] rhtyd commented on #3934
Tested latest master, could not see the issue.

[2020-08-12 09:17] rhtyd commented on #4011
Was this fixed @nvazquez ?

[2020-08-12 09:18] rhtyd commented on #4026
NPE was fixed - https://github.com/apache/cloudstack/blob/master/plugins/storage/volume/solidfire/src/main/java/org/apache/cloudstack/storage/datastore/provider/SolidFireHostListener.java#L75

[2020-08-12 09:18] #4026 closed

[2020-08-12 09:18] rhtyd commented on #4027
This has been addressed in 4.14/master using Java11

[2020-08-12 09:18] #4027 closed

[2020-08-12 09:22] rhtyd commented on #4118
Closing based on the last comment

[2020-08-12 09:22] #4118 closed

[2020-08-12 09:24] rhtyd commented on #4159
Ping @wido reminder - as we're getting closer to work towards 4.15, can you help upload the latest rados-java release to maven? Thanks.

[2020-08-12 09:26] rhtyd commented on #4189
Addressed in https://github.com/apache/cloudstack/pull/4068/files#diff-a24703d95ef24543c23939815013558a

[2020-08-12 09:26] #4189 closed

[2020-08-12 09:28] rhtyd commented on #4217
Closing as this is a not a bug report but question that must be asked on the users ML. Thanks.

[2020-08-12 09:28] #4217 closed

[2020-08-12 09:30] rhtyd commented on #4237
Nope I'm not that's why I pinged @shwstppr

[2020-08-12 09:41] stack1313 commented on #4146
Hi,

I think I found the problem on my installation. The issue comes from the networking offering/existing isolated network.

On cluster creation wizard, first time I decided to deploy on an existing isolated network, with this configuration I have the issue. To fix this I created a **new network offering** with a **new isolated network.** and after that the deployment work without issue. The prob

[2020-08-12 09:59] Spaceman1984 commented on #4246
@echoidcf I need to know how to get it into this state^^ (restarting the host didn't change the order).
I have found the piece of code you mentioned inside prepareNetworkElementCommand() which is called when a VR is started.
I'm not sure how to get plugPublicNic() called, is there a specific action you take to have addVif be set to true?

[code]

From the code it seems as if plugPublicNic() is cal

[2020-08-12 10:01] Spaceman1984 commented on #4261
@rhtyd I'll take a look

[2020-08-12 10:07] andrijapanicsb commented on #3138
@rhtyd in general yes, but there is a PR that additionally enhances and let one choose if they want separate connections per shild SA/ike v1, v2, or just ike - https://github.com/apache/cloudstack/pull/4137

[2020-08-12 10:24] Spaceman1984 commented on #4261
Seems like an environment issue for test_vm_life_cycle.py.
`MigrationCommand failed due to Exception: java.lang.RuntimeException\\nMessage: The target host does not support the virtual machine\'s current hardware requirements.`
@rhtyd Should I proceed with manual testing?

[2020-08-12 10:30] rhtyd commented on #4261
@Spaceman1984 good idea, I think you can setup a Vmware 6.5 or 6.7 env with two host and try to excute the two failing tests manually (manually execute marvin tests or manually perform the migrate VM and reboot SSVM operations). Please also check if  the ESXi hosts are on two different underlying hosts with different processors (i.e. one on Intel and another on AMD which could be an issue).

[2020-08-12 11:24] davidjumani commented on #3686
This has been added in primate
![Screenshot from 2020-08-12 16-53-33](https://user-images.githubusercontent.com/8244774/90009811-62eec900-dcbc-11ea-8a4e-f0b9eea3110a.png)

[2020-08-12 12:20] davidjumani commented on #3121
@rhtyd Nope, just the default page, but in some places, we've added the option to search. Have to look into this

[2020-08-12 13:28] Spaceman1984 commented on #4261
I have tested manually
Intel to AMD = Fail
Intel to Intel = Pass
Definitely an env issue.

[2020-08-12 18:18] weizhouapache commented on #4211
@GabrielBrascher we use nfs as zone-wide storage pool.

[2020-08-12 18:21] weizhouapache commented on #4211
@DaanHoogland
1. do you mean OOBM based ha ? no, we do not use it.
2. all vms are ha-enabled.

if kvm cloudstack-agent is stopped, there is no thread in cloudstack to determine its actual host state.

[2020-08-13 05:55] Pearl1594 commented on #3408
This issue will still exist, as during the vm export operation, the we do not consider the expiry time while exporting a VM. Hence, deletion of worker VM in case of job expiry will still be hindered.

[2020-08-13 06:17] davidjumani commented on #3687
@borisroman This would require a backend change as right now only admins can create ldap accounts

[2020-08-13 09:09] rvalle opened #4263 "system.vm.public.ip.reservation.mode.strictness not honored during initial Cluster creation"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

ACS 4.14, Ubuntu 18, KVM, Advanced Networking, Local Primary Storage.

##### OS / ENVIRONMENT

##### SUMMARY

I did configure ip reservation strictness set to true, but forgot to create an IP range for system vms.
I create a new cluster, and it starts, System VMs are generated with

[2020-08-13 09:10] rvalle commented on #4263
is it possible that modifying system.vm.public.ip.reservation.mode.strictness=true requires a platform restart?

[2020-08-13 09:15] rvalle commented on #4263
OK, after manually setting it on the UI I can see that the setting requires the cluster to restart.

[2020-08-13 09:15] #4263 closed

[2020-08-13 09:43] Doni7722 commented on #3889
@rhtyd I could not reproduce it under 4.14

[2020-08-13 10:02] rhtyd commented on #4261
Thanks @Spaceman1984 verified. The same issue is causing xenserver-71 deployment/test issues.

[2020-08-13 10:23] #4241 closed

[2020-08-13 10:45] rhtyd commented on #4237
cc @Spaceman1984 can you look into this after the cluster/deploying planning investigation, thnx

[2020-08-13 10:46] rhtyd commented on #4247
PR merged https://github.com/apache/cloudstack/pull/4254 - the fix will be in 4.15

[2020-08-13 10:46] #4247 closed

[2020-08-13 10:47] rhtyd commented on #4246
cc @Pearl1594 can you review @Spaceman1984 's comment and create a PR

[2020-08-14 07:29] rhtyd commented on #3815
cc @Spaceman1984

[2020-08-14 07:29] rhtyd commented on #3159
cc @Spaceman1984

[2020-08-14 07:29] rhtyd commented on #3526
cc @Spaceman1984

[2020-08-14 07:34] shwstppr commented on #4237
@rhtyd @DaanHoogland @Spaceman1984
Dynamic scaling for running VM is failing here,
https://github.com/apache/cloudstack/blob/master/plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/CitrixResourceBase.java#L4606

I checked with xcp-ng and tried to change compute offering for a Macchinina VM (memory 512mb to 768mb).
`memory-static-min` and  `memory-static-max` for

[2020-08-14 08:10] Spaceman1984 commented on #3815
I'll take a look @rhtyd

[2020-08-14 09:40] rhtyd commented on #4261
@Spaceman1984 @Pearl1594
`reboot_ssvm fails` with error that NFS storage is not mounted
`enableHumanReadableLogs` fails due to config. mismatch could be timeout/run related

[2020-08-14 09:46] rhtyd commented on #4237
@shwstppr can you discuss this with @andrijapanicsb if it's a hypervisor limitation to scale for a running VM then there's hardly anything we can do

[2020-08-14 09:53] Spaceman1984 commented on #4261
Possibly, the test waits 1 minute for a capacity log, not sure if the same happens with vmware, I have to test.

[2020-08-14 10:27] andrijapanicsb commented on #4237
static min/max is set in a silly way when a VM is created - and that is done by ACS as far as I can remember.
Static min needs to be set to i.e. 1MB or 16 MB or some very low value that we will never reach, and same goes for the static max value. Beside that, the template should be marked as Dynamically Scallable, otherwise it won't work.

i.e. the"dynamic values" (min/max) can be changed in the r

[2020-08-14 13:27] rhtyd opened #4265 "CKS smoke test failures on master"
Often, especially on Vmware and XenServer envs, the CKS smoke tests fail, for example:

test_02_deploy_kubernetes_ha_cluster | Error | 97.64 | test_kubernetes_clusters.py
test_04_deploy_and_upgrade_kubernetes_cluster | Error | 86.86 | test_kubernetes_clusters.py
test_05_deploy_and_upgrade_kubernetes_ha_cluster | Error | 0.04 | test_kubernetes_clusters.py
test_06_deploy_and_invalid_upgrade_kubernet

[2020-08-15 13:30] GabrielBrascher commented on #4125
Does Dows anyone know if this command is deprecated? API request `scaleVirtualMachine` worked fine and does pretty much the same as `changeServiceForVirtualMachine`.

Any thoughts? @rhtyd @andrijapanicsb @wido @svenvogel @kiwiflyer @DaanHoogland and others.

[2020-08-15 13:37] GabrielBrascher opened #4267 "List VMs in Projects when listing all VMs"
##### ISSUE TYPE
 * Enhancement Request

##### COMPONENT NAME
[code]

##### SUMMARY
CloudStack does not list VMs that are in a project unless the `listVirtualMachines` API request has the specific project ID set on `projectid` parameter. I don`t see why we do not provide any way of listing **all** VMs.

Looking at the documentation of [listVirtualMachines](https://cloudstack.apache.org/api/apidocs

[2020-08-15 17:38] rhtyd commented on #4267
@GabrielBrascher there is a way by calling listall=true and projectid=-1 can you try that?

[2020-08-15 17:48] GabrielBrascher commented on #4267
I had no idea of this trick. It works indeed!
@rhtyd thanks for the hint :slightly_smiling_face: :+1:

Do you know if this is documented somewhere? It would be nice to have this documented somewhere.

[2020-08-15 21:05] #4267 closed

[2020-08-17 10:47] rhtyd commented on #4261
Closing both issues env related, handled.

[2020-08-17 10:47] #4261 closed

[2020-08-17 13:08] DaanHoogland commented on #3687
I have my doubts. domain level ldap binding would only work for autosync'd ldap accounts/users. I am not sure it is usefull to manually add users to those. on root level giving domain admins access would also not be right. Not saying that there is no usecase, just that I don't see it yet.

[2020-08-17 13:17] DaanHoogland commented on #3889
@Doni7722 please compare
https://github.com/apache/cloudstack/issues/3264
searching for "snapshot fail" gives 560 closed PRs alone so I couldn't tell which one to backport.
As a workaround you may try to first restart or migrate the VM and then try again.

[2020-08-18 02:52] echoidcf commented on #4246
When associate a new IP and this IP belongs to a new public network,
[code]
will return -1 and addVif is true, then plugPublicNic() is called.

[2020-08-18 06:40] wido commented on #3897
Ping @GabrielBrascher

This is what we ran into as well

[2020-08-18 09:14] rvalle opened #4270 "conserve-mode for Public IPs in VPCs."
##### ISSUE TYPE

 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

KVM, Advanced Networking, Vlan isolation

##### OS / ENVIRONMENT

Ubuntu 18.04

##### SUMMARY

VPC's are great, but the usage of public IPs makes its adoption non-viable for us.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2020-08-18 22:48] Doni7722 commented on #3889
@DaanHoogland in #3264 was nothing changes as the issue was closed. I searched a little as well but had no success.

[2020-08-19 07:29] shwstppr opened #4273 "Multiple L2 networks with same VLAN cannot be created even with Bypass VLAN id/range overlap checked"
Till 4.13 ACS allowed creating multiple L2 networks with the same VLAN ID when Bypass VLAN id/range overlap is checked in the UI. But this behaviour is changed with 4.14 which throws an error,
![Screenshot from 2020-08-19 12-47-02](https://user-images.githubusercontent.com/153340/90604233-28d07a80-e21a-11ea-9e53-c10d7750186f.png)

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

####

[2020-08-19 07:41] rhtyd commented on #4273
cc @Spaceman1984 can you look at this next, thanks

[2020-08-19 07:47] shwstppr commented on #4273
Some issue here,
https://github.com/apache/cloudstack/blob/4.14/engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java#L2531-L2533

https://github.com/apache/cloudstack/blob/4.13/engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/NetworkOrchestrator.java#L2483-L2485

[2020-08-19 08:04] rhtyd commented on #4273
Thanks I'll raise a PR I know what happened there @shwstppr

[2020-08-19 09:10] rhtyd commented on #4082
@Spaceman1984 does it apply to 4.14 or master? If not, can we close it?

[2020-08-19 09:11] rhtyd commented on #3559
cc @Spaceman1984 can you discuss with any of @borisstoyanov @andrijapanicsb @DaanHoogland and @nvazquez

[2020-08-19 09:13] rhtyd commented on #3526
cc @Spaceman1984 can you check and see if we need to (quick) fix this?

[2020-08-19 09:16] rhtyd commented on #3392
cc @Spaceman1984 - good to have

[2020-08-19 09:27] rhtyd commented on #2861
Fixed in https://github.com/apache/cloudstack/pull/4180

[2020-08-19 09:27] #2861 closed

[2020-08-20 00:35] dhslove commented on #4199
@andrijapanicsb
I tested on my cloudstack 4.14 environments.
As @VincentHermes  reported, if the SSL certificate was a single certificate, then SSL is set. However, in the case of multiple certificates, SSL configuration fails.

[2020-08-20 05:47] Spaceman1984 commented on #4246
@echoidcf These are the steps I took to try to reproduce this error and was unsuccessful:

* Place a breakpoint in code on the first line inside plugPublicNic() method.
* Deploy a vmware zone.
* Wait for the system VMs to come up, connect and the built-in template to download and install.
* Deploy a new instance using the built-in template.
* Wait for the instance to get deployed.

* Create a new

[2020-08-20 07:46] wido commented on #4159
@rhtyd The bindings are here online: http://ceph.o.auroraobjects.eu/rados-java/rados-java-0.6.0.tar.gz

Can you or @GabrielBrascher help me get this into Maven central?

[2020-08-20 10:26] Spaceman1984 commented on #4082
I will test with 4.14 and latest master.

[2020-08-20 11:55] rhtyd commented on #4159
Thanks @wido - sorry but I'm not sure (or have authorisation) to upload jar bundles, if there's an issue I can add it to https://github.com/rhtyd/cloudstack-nonoss

[2020-08-20 12:01] rhtyd commented on #4199
I'll take it up, I think on master I also found that SSL did not work for one of our use-cases (wildcard cert).

[2020-08-20 15:48] GabrielBrascher commented on #3526
@DmB991 @rhtyd @Spaceman1984 I gave another shot trying to see any loose point but I still failed to reproduce it.

Tests were done via CloudMonkey:

1. destroy +100 VMs, and
2. deploy another +100 VMs at the same time

Additionally, the piece of code that was failing with `failed to get free memory` is not on codebase anymore. `LibvirtStartCommandWrapper` class has been refactored at PR #2766 by

[2020-08-20 15:51] alitheg opened #4277 "Use database name other than "cloud""
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I'd love to have control over the name of the DB, as I'm using a database hosted in another cloud provider and I'm unable to allow a newly-created user access to the "mysql" database.

It's possible to bypass the creation SQL and

[2020-08-20 15:53] alitheg commented on #4277
In fact, the whole system fails when the database isn't called "cloud". Serves me right for raising an issue before I'd finished.

[2020-08-23 06:53] PaulAngus opened #4280 "cloudstack-common no longer installed with cloudstack-agent and cloudstack-management"
##### ISSUE TYPE

 * Bug Report
 ##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

NA

##### OS / ENVIRONMENT

Ubuntu
CentOS

##### SUMMARY

Previously cloudstack-common was automatically installed with the main packages.
Requiring extra steps is a blocker to 'easy' install.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[2020-08-24 08:59] PaulAngus commented on #4146
This sounds like it is more of a documentation bug then.

[2020-08-24 09:13] shwstppr commented on #4146
@PaulAngus I think the original issue reported here is different from what @stack1313 is reporting. Maybe @ravening can confirm

[2020-08-24 09:15] ravening commented on #4146
I will test what stack1313 mentioned and update the result.

[2020-08-24 11:22] humito36 opened #4281 "Problem with L2TP remote VPN"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME
L2TP VPN

##### CLOUDSTACK VERSION

4.14

##### CONFIGURATION
VPC network system vm version: 4.14.0

##### OS / ENVIRONMENT
Mac OS, Windows 10.

##### SUMMARY
I have got problem with remote VPN feature in VPC. Probably script generate bad config file at VPC VM:
/etc/ipsec.d/ipsec.any.secrets

PUBLIC IP %any : PSK "PRESHAREDKEY"
When i edit it t

[2020-08-24 18:17] RodrigoDLopez commented on #4211
hi @weizhouapache,
My environment is similar to yours, apart from the storage pool that I use cluster-wide, on this environment I could see HA working on cloudstack version `4.13.1.1` with an NFS cluster-wide storage pool.

On 4.13.1.1 version I could see my VMs migrate to a suitable HOST after I force shut down the HOST where those VMs were, but with gracefully shut down I couldn't see the HA wor

[2020-08-25 09:25] echoidcf commented on #4246
@Spaceman1984
I think there is some misunderstanding here.
How to call plugPublicNic() is not the concern here, and it is not the problem.
The problem is something wrong happened AFTER the plugPublicNic is called, not how to call it.

If you want to trigger plugPublicNic(), you may try process below
1. add at least TWO public networks in cloudstack
2. associate new IP to VR UNTIL it begin to use I

[2020-08-25 09:49] rhtyd commented on #4273
Fixed in PR https://github.com/apache/cloudstack/pull/4274, tested by @Spaceman1984 and I

[2020-08-25 09:49] #4273 closed

[2020-08-25 09:49] #3815 closed

[2020-08-25 11:26] rhtyd commented on #4216
Fixed in https://github.com/apache/cloudstack/pull/4219

[2020-08-25 11:26] #4216 closed

[2020-08-25 11:27] rhtyd commented on #4210
Fixed in https://github.com/apache/cloudstack/pull/4219

[2020-08-25 11:27] #4210 closed

[2020-08-26 03:26] echoidcf opened #4285 "Set 53/111 LoadBalancer rule may kill haproxy and cause loadbalancer down completely."
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

VR with network service offering which having DNS(dnsmasq daemon) and LB(haproxy daemon) services.

##### OS / ENVIRONMENT

##### SUMMARY

Because dnsmasq daemon is using tcp53 port, haproxy can not use that port again.
Set a loadbalancer rule for public port 53 will result in erro

[2020-08-26 07:25] rhtyd commented on #4285
I think the fix would be to disallow users to from creating rule for port 53 if network offers DNS

[2020-08-26 07:34] echoidcf commented on #4285
Same port with 111, opened by rpcbind.

[2020-08-26 20:41] felipegabriel opened #4286 "Management network on VLAN"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

advanced networking

##### OS / ENVIRONMENT

##### SUMMARY

https://github.com/apache/cloudstack/blob/1d05fead49f5c856257a741b07122f5633d2e359/plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/wrapper/xenbase/CitrixSetupCommandWrapper.java

[2020-08-26 21:56] GabrielBrascher commented on #4159
@rhtyd @wido the artifacts for rados-java v0.6.0 are available at https://search.maven.org/artifact/com.ceph/rados

[2020-08-26 21:57] GabrielBrascher commented on #4159
@rhtyd I took the liberty and created PR #4287 updating the versions.

[2020-08-27 07:45] rvalle commented on #4199
I am also seeing this issue on a clean 4.14

furthermore I am also testing my keystore on a vanilla distribution of jetty  9.4 and it does work.

SSL on system VMs does work OK too.

It is something specific to the Jetty SSL connector in the manager.

[2020-08-27 07:49] rhtyd commented on #4199
Yes @rvalle I've reproduced this with a bunch of keystore combinations with the latest jetty 9.x and JDK11, it does not happen with older releases that used JDK8 such as 4.13. I've tested the following combinations:
- with a single self-signed cert
- with a cert and chain of intermediate and root-ca cert
- keystore created in two formats (the jks and PKCS12, I'm exploring this now)

[2020-08-27 07:54] rvalle commented on #4199
@rhtyd I downloaded a vanilla jetty 9 and it works
With certificate, key, intermediate certificate and root ca.

[2020-08-27 08:03] rvalle commented on #4199
Here is the working configuration, in case you find it useful:

- jetty-9.4.31.v20200723
- openjdk version "11.0.8" 2020-07-14

the keystore created like this:

[code]

Which is basically the same thing that jetty documentation says but in ansible commands

I got stuck in the vanilla jetty configuration becuase I had to set the keystore password at 3 different places and I have to enable 2 differe

[2020-08-27 08:14] rvalle commented on #4199
@rhtyd while you fix this I am trying to find out if there is a workaround for 4.14
I am going to start by downloading vanilla jetty-9.4.26.v20200117 and testing the same configuration I have
Then check if this is due to any setting that can be added....

[2020-08-27 08:21] rvalle commented on #4199
yes, it does work with jetty-9.4.26.v20200117, the same packaged with the manager.
So, it must be an instantiation issue, hopefully a configuration issue that can be fixed with a system property...

[2020-08-27 10:09] rhtyd commented on #4246
@echoidcf can you share details on which specific version of CloudStack you're using?

[2020-08-27 10:23] rhtyd commented on #3526
Can you review @DmB991 and close if you're unable to hit this with latest 4.14 or master?

[2020-08-27 10:24] rhtyd commented on #4082
Closing on @Spaceman1984 's remarks

[2020-08-27 10:24] #4082 closed

[2020-08-27 10:56] #4159 closed

[2020-08-27 12:15] rvalle commented on #4199
thanks @rhtyd

Unfortunately, it does not look like an easy workaround is possible on 4.14 , is it?

I can see that you marked the PR for 4.14.1

[2020-08-27 16:23] andrijapanicsb opened #4290 "VMs in "Error" state are not expunged from vSphere when deleted with Expunge from ACS"
Testing master (PR #4250) - and with vSphere 6.7, I've noticed that VMs which are in Error state (failed to deploy due to some internal logic failure - not Vsphere failure...):
- when the VM is deleted with Expunge option - the VM is NOT deleted on vSphere
- I've verified that if VM is Running/Stopped - then it get's properly deleted from vSphere.

So seems just the VMs which failed to be deployed

[2020-08-27 22:45] andrijapanicsb opened #4292 "VMware: template VMs not removed during storage GC/cleanup"
Current master (testing specifically PR #4250), vSphere 6.7 (but I believe not important, as the same has been observed in earlier VMware versions)

Issue: when all VMs from a specific template are deleted from a particular Primary Storage (Datastore), the template should be also removed from the Primary Storage after the storage GC kicks in - but this never happens, and template-VMs (with UUID-li

[2020-08-27 22:45] andrijapanicsb commented on #4290
Not strictly a blocker, but I wanted to draw some attention here, as the garbage is left on vSphere.
See the other garbage-related VMware issue here: https://github.com/apache/cloudstack/issues/4292

[2020-08-28 06:06] Dajeong-Park opened #4293 "Encrypt keystore password in cloudstack properties file"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

Encrypt keystore password in cloudstack properties file

##### CLOUDSTACK VERSION

4.13
4.14

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

If you enter the "https.keystore.password" value in the server.properties file as an encrypted value through the jasypt-1.9.2.jar file of the cloudstack-common library, as in how to

[2020-08-28 06:41] rhtyd commented on #4199
@rvalle unfortunately this requires a code specific fix (fixed in https://github.com/apache/cloudstack/commit/0501575efaf98f00727a0074dd8dcc6e2c545d30 towards 4.14/master branches). You may cherry-pick the commit and build it on top of 4.14.0.0; or wait when we've 4.14.1.0/4.15.0.0 releases. As a workaround you can setup a nginx SSL-offloading server and reverse proxy to your CloudStack mgmt serve

[2020-08-28 06:43] #4199 closed

[2020-08-28 07:02] rhtyd commented on #4280
Ping @davidjumani - any comments?

[2020-08-28 07:06] rhtyd commented on #4292
With @Spaceman1984 to attempt

[2020-08-28 07:07] rhtyd commented on #4290
With @Spaceman1984 to attempt

[2020-08-28 07:07] rhtyd commented on #4290
@andrijapanicsb you can still draw attention by giving a lower severity like critical or major

[2020-08-28 07:12] davidjumani commented on #4280
@rhtyd I checked and it is listed as a dependency. Installed cloudstack-management & cloudstack-agent on a local VM on ubuntu and centos and cloudstack-common was installed too!

[2020-08-28 07:24] rvalle commented on #4199
@rhtyd yes, I am using haproxy while waiting for 4.14.1.0, also experimenting with single entrypoint for svms/manager.

can wait :)

[2020-08-28 08:03] rhtyd commented on #4280
@davidjumani did you try Ubuntu 16.04 and 18.04? I think it works OK on 20.04.

[2020-08-28 09:33] rhtyd commented on #4286
cc @shwstppr @davidjumani - request for comments

[2020-08-28 09:33] rhtyd commented on #4285
cc @Spaceman1984

[2020-08-28 09:33] rhtyd commented on #4281
@humito36 are you able to reproduce it if you restart VPC with cleanup?

[2020-08-28 09:34] humito36 commented on #4281
Yes The problem persists i tried few times

Pozdrawiam,

Tomasz Humiczewski
Członek Zarządu

tomasz.humiczewski@blackice.com.pl
kom: +48 533 599 910
tel. +48 12 634 99 90

BlackIce Networks Sp. z o. o., ul. Marcika 2, 30-443, Kraków
NIP: 676 245 98 98, REGON: 122709468 KRS: 0000439317 Sąd Rejonowy dla Krakowa – Śródmieścia w Krakowie Wydział XI Gospodarczy
This e-mail message may contain confident

[2020-08-28 09:34] rhtyd commented on #4270
I've not checked but it may be possible that it works via API? (for the default SNAT IP of the VPC VR)

[2020-08-28 09:35] rhtyd commented on #4265
Has a PR, closing.

[2020-08-28 09:35] #4265 closed

[2020-08-28 09:36] echoidcf commented on #4246
Cloudstack 4.7 (but all version should be affected)
Vmware/vcenter 6.5

The problem is we don't know the exact procedure to make VCenter change the device order like I showed. Maybe a upgrade or   a restart or a failover or something like that. But it do happened (in our production environment about 8k VRs looks like this ).
And cloudstack can simply use
[code]
to prevent the problem without side

[2020-08-28 09:36] rhtyd commented on #4240
@gaaray2k have you tried specifying comma separate list of hosts in the `host` global setting and then restart the agents, repeat the failure case?

[2020-08-28 09:49] rvalle commented on #4270
@rhtyd I don't understand, what do you think could be achieved via API?

[2020-08-28 10:01] gaaray2k commented on #4240
I did

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Rohit Yadav <notifications@github.com>
Sent: Friday, August 28, 2020 5:36:38 AM
To: apache/cloudstack <cloudstack@noreply.github.com>
Cc: gaaray2k <william_alvarez@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [apache/cloudstack] Agents failover (#4240)

@gaaray2k<https://github.com/gaaray2k

[2020-08-28 10:38] #4059 closed

[2020-08-28 16:01] alamintech commented on #3852
Please help me same error form my. this is my kvm centos 7.7. cloudstack agent not start.
![image](https://user-images.githubusercontent.com/68062764/91588484-0ce77a00-e97a-11ea-8f8d-cb8944cbbdd6.png)

**Thanks.**

[2020-08-29 10:00] rhtyd commented on #3852
@alamintech try to remove and add the host agains, check in the agent.properties file is there any public nic defined. For example, in my local setup I see:
[code]

[2020-08-29 16:04] alamintech commented on #3852
@rhtyd  Thanks for your reply!
Now fix, I am using MS version is 4.14 and kvm agent is 4.13. so kvm agent and libvirt is ok, now.
If I am use this any problem ?

when I am create instance so I am arise new problem Error "unable to start a vm due to insufficient capacity cloudstack"

Please help me..
Thanks again.

[2020-08-29 21:00] rvalle opened #4295 "Api Authentication Error"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

KVM

##### OS / ENVIRONMENT

Ubuntu 18.04

##### SUMMARY

The API is rejecting calls made from CloudMonkey when they include a particular value/parameter.

The particular case found is using cloudmonkey to upload certificates. The API will return Autentication Error when the parame

[2020-08-30 06:02] rvalle commented on #4295
as a workaround for my particular call I just realized that for uploading the certificates the * can be removed from the domainsuffix and uploaded as ".svm.vdc.test" and they will work as expected, even for securing the console with consoleproxy.url.domain = *.svm.vdc.test.

[2020-08-30 11:21] rhtyd commented on #3852
You're using 4.13 agent with 4.14 mgmt server. Your setup is incorrect, you must use the same software version for all components.

[2020-08-30 12:02] alamintech commented on #3852
ok I am trying again.

[2020-08-31 02:39] Chewhern opened #4296 "Question: Is it possible to create single or multiple iaas cloud on just a single physical server"
But after reading this, "When you deploy CloudStack, the hypervisor host must not have any VMs already running” , does it means that the management virtual server and the "host" can not be in a physical server? What does it means actually? Or can both the management server and "host" put in a single physical server?

[2020-08-31 05:44] #4296 closed

[2020-08-31 13:58] DmB991 commented on #3526
ok, I can't test on latest 4.14 or master, so I close this one.

[2020-08-31 13:58] #3526 closed

[2020-08-31 15:09] andrijapanicsb opened #4299 "Can't unmanage VMware instance"
4.15 (master) - more specifically from PR #4250, VMware 6.7 u3

Can't un-manage an instance (attached to one Isolated and one L2 network)

`2020-08-31 14:57:51,113 ERROR [c.c.v.UserVmManagerImpl] (API-Job-Executor-40:ctx-0aafd0a6 job-836 ctx-4e8394bb) (logid:6161a6f9) Could not unmanage VM 20ec0335-f10b-443e-92ef-9ec5bef3d3be
java.lang.NullPointerException
        at com.cloud.vm.UserVmManagerImpl

[2020-08-31 15:10] andrijapanicsb commented on #4299
cc @Spaceman1984

[2020-09-01 06:53] davidjumani commented on #4280
@rhtyd It worked with 18.04 as well as 20.04, but failed on 16.04 as `python3-distutils` was not found. Can decide whether to support 16.04 based on the discussion going on in the mailing list

[2020-09-01 08:10] rhtyd commented on #4295
@rvalle does it work for you if you use the GUI? In cmk, could it be the quote issue - in your example I see `domainsuffix='*.svm.vdc.test"` which must be written as `domainsuffix="*.svm.vdc.test"` or `domainsuffix=*.svm.vdc.test`. You may debug what is sent to the management server by running `set debug true` in cmk and then run the API.

[2020-09-01 08:11] rhtyd commented on #4299
@harikrishna-patnala cc @nvazquez can you look into this, if the issue was seen in PR #4250 it could be PR specific regression.

[2020-09-01 10:23] #3159 closed

[2020-09-01 12:18] rvalle commented on #4295
@rhtyd
It does work on the GUI.
It is not a quote issue.

You can literally try this command:

[code]
do not worry about the fact that the certificate is not complete. The call will work, but only after you delete the * form the domainsuffix.

Can you reproduce it?

[2020-09-02 08:05] rhtyd commented on #4280
@davidjumani can you kick a test against latest master with Ubuntu 16.04 as mgmt server and kvm host and identify what fails, and what workaround we can establish (with trillian, i.e. installation of workaround pkgs etc)

[2020-09-02 08:09] Spaceman1984 commented on #4290
I was able to verify that the vm will be left on vmware if it fails to start due to a broken template. The vm status on cloudstack would be error. If you try to delete the vm from the cloudstack ui, it will be removed from cloudstack, but in vsphere the vm will remain. I have not created a fix for this as I can't spend more time on this right now.

[2020-09-02 22:03] fmcwebs opened #4302 "Cloudstack 4.14 and Ceph with Erasure Coding"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
UI-Backend

##### CLOUDSTACK VERSION
4.14.0

##### CONFIGURATION
Cloudstack and Ceph object storage configuration.

##### OS / ENVIRONMENT

##### SUMMARY

About this, we have an erasure code pool at ceph, so we can create an image and then we must specify where the metadata and data pool is located. When we add the erasure code pool as

[2020-09-04 07:31] alamintech commented on #3852
@rhtyd **Many many thanks.**

version 4.14 all is ok using ceph storage primary and secondary is nfs.

Now two question for you.
1. How can I use open vm console using LAN ip without WAN interface?
2. How can I use secondary storage as ceph pool?

**Thanks.**

[2020-09-04 08:27] wido commented on #3852
@alamintech Ceph can not be used as Secondary Storage.

[2020-09-04 09:39] alamintech commented on #3852
ok, you know Q. 1 ans. Please help me.
Thanks.

[2020-09-04 11:49] davidjumani commented on #4280
@rhtyd Trying a workaround by using `python3-distutils-extra` instead via #4305
Builds and installs in 16.04, Going to run tests and check whether it's all good

[2020-09-07 19:08] Lucasgranet opened #4308 ""Data-server." is not resolved by the VR - Cloud-init cannot get user-data on RHEL8-Like"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
VSphere and Xcp-Ng templates

##### OS / ENVIRONMENT
Impact RHEL8/C8

##### SUMMARY

- When a VM tries to resolve "data-server." (DNS entry that must point to the VR IP), it failed.
On RHEL-8-like, cloud-init cannot get anymore the VR IP from the DHCP lease (via the attribute "dhcp-ser

[2020-09-08 08:51] rvalle opened #4310 "SystemVMs Publics IPs offered to accounts despite global settings"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

KVM, Local Storage, Advanced Networking

##### OS / ENVIRONMENT

Ubuntu 18.04

##### SUMMARY

We want to configure ACS so that Accounts are assigned certain Public IPs that they can manage themselves.
On the other hand we have reserved special Public IPs "for system vms"

With the

[2020-09-09 07:58] tungntvn23 opened #4314 "Failed to attach binaries ISO for VM when create kubernetes cluster"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME
API, Kubernetes Service

##### CLOUDSTACK VERSION
Cloudstack 4.14.0.0

##### CONFIGURATION
Advanged Networking, Vmware vSphere

##### OS / ENVIRONMENT
* Vmware vSphere 6.5
* CentOS 7

##### SUMMARY
After upgrade from 4.13 to 4.14 and enable kubernetest feature then i cannot create kubernetes cluster.

##### STEPS TO REPRODUCE
- Login to UI.
- K

[2020-09-09 08:09] tungntvn23 commented on #4314
Attach management log

[code]

[2020-09-10 13:00] andrijapanicsb commented on #4308
Shouldn't this be a bug for cloud-init project?

[2020-09-10 13:00] andrijapanicsb opened #4318 "Can't set the "allow.user.create.projects" to false - backend error"
Current master:

![image](https://user-images.githubusercontent.com/45762285/92732159-579fc380-f376-11ea-89f8-b66a46240d97.png)

[2020-09-10 13:01] andrijapanicsb commented on #4318
ping @Spaceman1984 if you have time/will - please take a look. thx

[2020-09-10 20:29] Lucasgranet commented on #4308
Hello,

Pull request #4319

[2020-09-11 19:06] Yann-Kaelig opened #4322 "Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.22.2:test (default-test) on project cloud-plugin-ca-rootca"
#### ISSUE TYPE
 * Other

##### COMPONENT NAME
BUILD FAILURE

##### CLOUDSTACK VERSION
4.14.0.0

##### OS / ENVIRONMENT
Debian 10:

maven  3.6.0-1
libmaven-parent-java 31-2
libmaven-resolver-java 1.3.1-1
libmaven-shared-utils-java 3.6.0-1
libmaven3-core-java 3.6.0-1

openjdk-11-jdk:amd64 11.0.8+10-1
openjdk-11-jdk-headless:amd64 11.0.8+10-1
openjdk-11-jre:amd64 11.0.8+10-1
openjdk-11-jre-headless:

[2020-09-12 12:37] Yann-Kaelig commented on #4322
Hi.

I finally found the fix here: https://github.com/apache/cloudstack/pull/4226

Thx

[2020-09-14 08:54] rhtyd commented on #4322
Thanks @Yann-Kaelig can you close the issue then. This was an issue with change in the openjdk release.

[2020-09-14 10:09] #4322 closed

[2020-09-14 10:33] rhtyd opened #4324 "Cannot login after upgrading from 4.14.0.0 to master/4.15-snapshot"
Using old/legacy UI I was unable to login due to duplicate sessionkey issue:

The request for initial login:
![Screenshot from 2020-09-14 15-23-07](https://user-images.githubusercontent.com/95203/93075610-afef0200-f6a3-11ea-8363-a15e592b7a7a.png)

The request made after login is OK but fails due to multiple sessionkey cookies passed (with likely different paths):
![Screenshot from 2020-09-14 15-23

[2020-09-14 10:42] Yann-Kaelig opened #4325 "Missing package uuid-runtime"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
 * PACKAGING

##### CLOUDSTACK VERSION
 * 4.15.0.0-SNAPSHOT

##### OS / ENVIRONMENT
 * Debian 10 ( minimal installation )

##### SUMMARY
By following the ['Quick Installation Guide: System Template Setup'](http://docs.cloudstack.apache.org/en/latest/quickinstallationguide/qig.html#system-template-setup),  the result is incorrect.

#####

[2020-09-14 10:57] rhtyd commented on #4324
Closing this, will follow on the PR.

[2020-09-14 10:57] #4324 closed

[2020-09-14 11:16] Yann-Kaelig commented on #4325
Unless I'm mistaken or the Quick Installation guide is only valid for CentOS. I found that 'uuid-runtime' is part of **cloudstack-agent_4.15.0.0-SNAPSHOT_all.deb**

However at no time is it said during the **setup of the management server** that the installation of this package is necessary.
Would it be possible to clarify this?

Thx

[2020-09-14 11:19] rhtyd commented on #4325
@Yann-Kaelig the packaging is only supported for CentOS and Ubuntu, and not explicitly tested on Debian. Please refer to http://docs.cloudstack.apache.org/en/latest/releasenotes/compat.html for compatibility

[2020-09-14 11:25] Yann-Kaelig commented on #4325
Hi rhtyd.

Thanks for this clarification. In this case, is there any documentation specific to Ubuntu?
I don't see any reference to this operating system in the quick installation guide documentation.

Thx

[2020-09-14 11:29] rhtyd commented on #4325
@Yann-Kaelig please see my reply again. There's no QIG for Ubuntu as far as I know in the official docs.

[2020-09-14 11:39] #4325 closed

[2020-09-14 19:26] weizhouapache commented on #4325
it would be to better to add uuid-runtime to dependencies of cloudstack management in debian/control

[2020-09-15 07:48] rvalle commented on #4270
after having worked a bit with VPCs I can see what @andrijapanicsb meant in the mailing list with architectural constraints to supporting the same IP public address for many different tasks.

New IPs are acquired for different tiers x tasks. They way that IPs are used in VPCs is either consistent with IPV6 or Private Addressing, but not public IP4.

For us public IPV4 efficient use is a hard requi

[2020-09-15 07:53] #4318 closed

[2020-09-15 07:54] rhtyd commented on #4318
Fixed in PR https://github.com/apache/cloudstack/pull/4320

[2020-09-15 10:24] rhtyd commented on #4280
@davidjumani have you tested your workaround?

[2020-09-15 11:37] davidjumani commented on #4280
@rhtyd Tested locally with a few smoke tests since the lab had issues. Will try again

[2020-09-16 10:12] Yann-Kaelig opened #4330 "Failed to execute goal org.codehaus.mojo:exec-maven-plugin:1.2.1:exec (compile) on project cloud-apidoc"
#3068 ### ISSUE TYPE
* Other

##### COMPONENT NAME
* BUILD

##### CLOUDSTACK VERSION
* 4.15.0.0-SNAPSHOT

##### OS / ENVIRONMENT
* CentOS 8

##### SUMMARY
cloud-apidoc failed to build because the script build-apidoc.sh calls the executable python which is not available on CentOS 8.

##### STEPS TO REPRODUCE

1. Install CentOS 8 Minimal and the requirement for building/packaging.
2. Run package.sh

[2020-09-16 10:43] rhtyd commented on #4280
With @davidjumani cc @Spaceman1984

[2020-09-16 12:54] Yann-Kaelig commented on #4330
Ok, It's my fault. First try on CentOS, I have to configure python with:
`alternatives --set python /usr/bin/python2`

[2020-09-16 12:54] #4330 closed

[2020-09-16 14:15] alamintech commented on #3852
all working is fine.
I see primary storage is two think one is my ceph storage and one is my host kvm location is
**/var/lib/libvirt/images**
![image](https://user-images.githubusercontent.com/68062764/93348945-aeb30600-f858-11ea-81fd-92833d65a055.png)

And another question.. I see all time local storage is double. It is my problem or not. I am not understand.
Please help me.
Thanks.

[2020-09-17 05:39] shwstppr commented on #4314
@tungntvn23 Can you please try deploying cluster with Root disk controller=pvscsi and NIC adapter type=Vmxnet3 for CoreOS template? We have had some issue with ISOs and CoreOS VM
https://github.com/apache/cloudstack-documentation/pull/151

[2020-09-18 01:07] dony71 opened #4332 "cannot delete registered template ?"
I follow this instruction https://rohityadav.cloud/blog/cloudstack-rpi4-kvm/
Everything works OK but after add template, cannot delete
event log show delete successful, but template still there

https://imgur.com/a/MbL4Uc8

https://imgur.com/eQVPCBB

[2020-09-18 01:22] dony71 commented on #4332
I notice also below error in mgmt log, not sure it;s related or not
[code]

[2020-09-18 01:46] dony71 commented on #4332
I try upload vm image locally, but unsuccessful
mgmt log shows
[code]

[2020-09-18 08:45] DaanHoogland commented on #3255
@rhtyd that doc pr is merged do we close this or keep it open for follow up work?

[2020-09-18 09:42] PaulAngus commented on #4206
Change of behaviour only occurs if default is changed. If the setting is changed that is because the wants different behaviour.

[2020-09-18 11:05] DaanHoogland commented on #3685
@rhtyd @borisstoyanov I remember working on a similar issue for marcus or ilya. Can you revalidate @borisstoyanov can you check on latest and add some details?

[2020-09-18 11:07] DaanHoogland commented on #3690
mostly done, will open a new issue if anything remains

[2020-09-18 11:07] #3690 closed

[2020-09-18 11:20] DaanHoogland commented on #3693
no @rhtyd , it is still very valid. It is also limited to simulator tests and should be expanded to all tests. I will expand on this the coming weeks (given 4.15 is not asking more attention)

[2020-09-18 11:24] DaanHoogland commented on #3752
@rhtyd @weizhouapache @borisstoyanov sounds like a valid feature request. @weizhouapache what db changes would we need? I see only a test for domain access to the mentioned domain as a requirement. What am i missing?

[2020-09-18 11:47] DaanHoogland commented on #4125
@GabrielBrascher I *think* it should work as `scaleVirtualMachine` would only work if the offering allows it, would it?

[2020-09-18 11:56] DaanHoogland commented on #3895
ping @andrijapanicsb , can we close on comment, or do we need to test again?

[2020-09-18 11:57] #3896 closed

[2020-09-18 12:06] davidjumani commented on #3686
Fixed in https://github.com/apache/cloudstack/pull/4164

[2020-09-18 12:06] #3686 closed

[2020-09-18 12:43] DaanHoogland commented on #4011
ping @nvazquez , can you comment?

[2020-09-18 12:51] DaanHoogland commented on #3889
@Doni7722 it was closed as not-a-bug, and you could not reproduce in a newer version... can we close this one?

[2020-09-18 12:57] DaanHoogland commented on #4293
@Dajeong-Park marking it for future now, if you have a PR you are welcome to submit it.

[2020-09-18 13:04] Doni7722 commented on #3889
@DaanHoogland I guess so - if I see smth similar under 4.14 I'll open a new one.

[2020-09-18 13:40] #3889 closed

[2020-09-18 14:08] DaanHoogland commented on #4295
`cmk upload customcertificate id=1 name='RootCertificate' certificate='-----BEGIN CERTIFICATE-----' domainsuffix='*.svm.vdc.test"`

should be

`cmk upload customcertificate id=1 name='RootCertificate' certificate='-----BEGIN CERTIFICATE-----' domainsuffix='*.svm.vdc.test'`

Note the final quote. I think that is what @rhtyd pointed out. Did you check that?

[2020-09-18 14:31] DaanHoogland commented on #4302
@GabrielBrascher @wido can you comment? is this a change in ceph that needs ACS support?

[2020-09-18 16:47] rvalle commented on #4295
Sorry, I copied the example badly, have a look:

First attment, with asterisk:

[code]

Second without:

[code]

did you reproduce it?

[2020-09-18 23:07] dony71 commented on #4332
resolved by reinstalling and reconfigure cloudstack-management

[2020-09-18 23:07] #4332 closed

[2020-09-19 01:22] dony71 opened #4334 "Unable to start console proxy vm for standby capacity"
I follow installation at https://rohityadav.cloud/blog/cloudstack-rpi4-kvm/
Everything working except consoleproxy stop and cannot be restart
management-server.log shows
[code]
v-2473-VM.log shows
[code]
usage.log shows
[code]

[2020-09-19 10:42] rvalle commented on #4295
I don't know if related or not, but i am seeing other strange authentication errors:

[code]

Note how in the same play previous task is authenticated OK and next tasks does not. I did re-run and both passed OK.

[2020-09-21 08:49] weizhouapache commented on #3895
I tested with 4.14.1.0-SNAPSHOT. this issue still exist
(1) indirect.agent.lb.algorithm to roundrobin, in agent.properties
host=10.135.122.60,10.135.122.68,10.135.122.69@roundrobin
(2) put host to maintenance
(3 remove the host and re-add it
host=10.135.122.60,10.135.122.68,10.135.122.69

[2020-09-21 09:25] Spaceman1984 commented on #4292
I'm taking a look at this

[2020-09-21 09:30] DaanHoogland commented on #4280
@Spaceman1984 I can't seem to assign to you, but consider yourself assigned please

[2020-09-21 10:10] DaanHoogland commented on #4334
this seems to be a DB connection problem, @dony71 . Can you check?

[2020-09-21 10:12] Spaceman1984 commented on #4290
I am no longer able to get the Vms into an error state by passing garbage parameters on the reported branch, this issue seems to have been resolved.

[2020-09-21 10:35] DaanHoogland commented on #4295
@rvalle , I think i can't reproduce3:
[code]

[2020-09-21 10:45] rhtyd commented on #3895
cc @nvazquez can you comment?
@Spaceman1984 can you look into this next? Thnx

[2020-09-21 11:44] rhtyd commented on #4290
@andrijapanicsb can you test #4307 and if you're able to reproduce it, please ask @nvazquez / @harikrishna-patnala to fix this, tnx

[2020-09-21 11:50] rhtyd commented on #4292
cc #4307 now

[2020-09-21 14:19] weizhouapache commented on #3895
@rhtyd @Spaceman1984 create a pr for this issue #4335

[2020-09-21 15:51] rvalle commented on #4295
@DaanHoogland what!!???

how is that possible? Which version of ACS are you using? I am on 4.14.0

[2020-09-21 17:13] dony71 commented on #4334
M> this seems to be a DB connection problem, @dony71 . Can you check?

Will you clarify more what do you mean with DB connection problem?
Mysql is stored in same host where management installed
Also system vm up and running without any issue
proxy vm should be the same system vm image, right ?

[2020-09-21 19:56] weizhouapache commented on #3056
@rhtyd  SSL offloading is supported in PR #4141

[2020-09-21 22:53] dony71 commented on #4334
below /var/log/cloud/cloud.out inside system vm
[code]

[2020-09-22 02:43] nvazquez commented on #3895
Thanks @weizhouapache, I have reviewed your PR and looks good

[2020-09-22 07:37] #4308 closed

[2020-09-22 07:52] rhtyd commented on #4246
I did static code analysis and see no harm in including the change as long as regression tests pass. I'll raise a PR

[2020-09-22 08:15] DaanHoogland commented on #4295
@rvalle let me double check. it might have been a 4.15 prequel I tested it on, in which case it is solved in master.

[2020-09-22 12:16] andrijapanicsb opened #4337 "Memory leak in master"
In Master, we have memory leak in the management server

![image](https://user-images.githubusercontent.com/45762285/93880723-31ffac00-fcde-11ea-8435-371bc39a3d57.png)

Eventually, mgmt server will consume all free ram and cause server to swap etc.

[2020-09-22 12:24] rhtyd commented on #4337
@andrijapanicsb what are the steps of reproduction? What do we need to do or what did you did (what operations) when you observed this? To check memory leak did you check the `free -m` or are you getting confused with the top/htop output for virtual/resident/shared memory?

[2020-09-22 13:33] weizhouapache commented on #3752
@DaanHoogland maybe a global config domain.admin.allow.details, like user.vm.blacklisted.details that we have ?

[2020-09-23 05:16] davidjumani commented on #3752
@DaanHoogland @weizhouapache  Created a draft PR to allow domain admins to change domain and account level settings. Think it would be better to allow domain admins to change all domain / account settings rather than just a few. Can add a global config to allow them to change the settings at all

[2020-09-23 07:42] weizhouapache commented on #3752
@davidjumani it would be good to have allow list or deny list.

[2020-09-23 07:54] rhtyd commented on #4290
@andrijapanicsb I'm closing this as it's not reproducible

[2020-09-23 07:54] #4290 closed

[2020-09-23 08:42] davidjumani commented on #3752
@weizhouapache I'll make the changes with an allow list. Would it be better to have a single list or an individual one for domain and account level settings ?

[2020-09-23 08:55] davidjumani commented on #4280
@PaulAngus @shwstppr No issues while installing on u16, but created https://github.com/apache/cloudstack/pull/4305 to ensure that the dependencies are met (Smoke tests ran on u16 u18 u20)

[2020-09-23 09:30] ravening commented on #3752
@davidjumani @weizhouapache  will this pr conflict with https://github.com/apache/cloudstack/pull/4215 ?
Currently all the account settings are not visible under domain. The above pr adds a global setting so that it makes account settings visible under domain level

[2020-09-23 09:35] davidjumani commented on #3752
@ravening  This shouldn't since this allows domain admins to modify domain / account settings

[2020-09-23 10:01] rhtyd commented on #4280
Copy @davidjumani I see cloudstack-agent/cloudstack-common installs OK with PR #4305 closing on this  remark

[2020-09-23 10:01] #4280 closed

[2020-09-23 10:06] andrijapanicsb commented on #4337
install the env and let it do something (perhaps sping a few VRs) - I did use this env actively though.
"ps aux" and read the 6th column, or HTOP from time to time and observer the RAM consumed by the process..
...
or wait for few days, then try a simple yum install which will fail (assuming no swap mounted) with no memory error (this is what happened initially to me, so I've investigated)

[2020-09-23 10:08] andrijapanicsb commented on #4292
this is true for every ACS release in past few years
deploy a VM from a new template, notice the template-VM created (UUID-like name).
destroy all VMs from that template
reduce the storage cleanup period (global settings to i..e. 60sec) and restart mgmt
once it runs, nothing is removed from the primarty storage, though records ARE removed from the template_spool_ref

[2020-09-23 10:53] rhtyd commented on #4337
@andrijapanicsb I'm trying to understand how you determine the memory size/leak exists and other env details (like hypervisor etc.) The details are missing in this issue.

`htop` shows three memory columns, I think you may be getting confused by the threads here. I'll however test latest master against visual VM and deploy some VMs with different networks on KVM.

[2020-09-23 18:29] DaanHoogland commented on #4295
@rvalle sorry it took so long. I checked but it works in 4.14 for me. I did a c&p of my text again and it worked again.

[2020-09-23 18:46] #3895 closed

[2020-09-23 21:46] andrijapanicsb commented on #4337
I see this in master with VMware 6.7

In my test env (like all Trillian test env), mgmt server has 4GB (no swap), and at some point I could not use yum due to not free memory - I've also seen in this env OOM killer kicking in and killing the mgmt server - this has not happene ever (to me) in any Trillian-deployed env - so I've used  "ps aux | grep ......" to log the PS output to a file - see below

[2020-09-23 23:03] dony71 commented on #4334
close this issue since DNS related issue

[2020-09-23 23:03] #4334 closed

[2020-09-23 23:05] dony71 opened #4342 "cloudstack-usage kept restarting"
I follow installation at https://rohityadav.cloud/blog/cloudstack-rpi4-kvm/
I found cloudstack-usage kept restarting
Anybody help me to point out what could be the issue?
/var/log/cloudstack/usage/usage.log
[code]

[2020-09-24 05:29] #4246 closed

[2020-09-24 06:39] rhtyd commented on #4342
@dony71 this is known issue, cloudstack-usage does not work on raspberypi4.
Closing this as this dupes https://github.com/apache/cloudstack/issues/4067

[2020-09-24 06:39] #4342 closed

[2020-09-24 06:39] rhtyd commented on #4067
Same issue https://github.com/apache/cloudstack/issues/4342 was reported by @dony71

[2020-09-24 06:44] rhtyd commented on #4310
@rvalle in your env did you run out of public IPs for users/networks?

[2020-09-24 06:44] rhtyd commented on #4310
cc @nvazquez

[2020-09-24 06:46] rhtyd commented on #4299
@harikrishna-patnala @nvazquez @shwstppr ping - update?

[2020-09-24 06:58] rhtyd commented on #4198
@Pearl1594 may update her findings, we compared FlatCar vs Alpine vs Debian and it may make sense to reuse a Debian based template that's common for systemvm, and CKS host.

[2020-09-24 06:59] rhtyd commented on #4170
Closing this, official packages are x86_64 only

[2020-09-24 06:59] #4170 closed

[2020-09-24 07:07] #3040 closed

[2020-09-24 07:29] rhtyd commented on #4011
Checked UriUtils.java, img is supported for qcow2 format

[2020-09-24 07:29] #4011 closed

[2020-09-24 07:52] rvalle commented on #4295
@DaanHoogland I will rebuild my environment again and retest.

Big mystery to me.

I can reproduce this bug each time. I am on Ubuntu 18.04, perhaps the issue is related to JVM patch level?

I will investigate further and see what I can find out.

[2020-09-24 07:57] rvalle commented on #4310
@rhtyd the Public IPs marked as for System VMs are offered for user consumption (web UI) from the beginning.

I mean, after a fresh installation when non of the public IPs have been consumed.

I am assuming that it has been implemented that System VMs will use (optionally strictly)  vlan_ip_ranges flagged for SystemVMs, but it has not been implemented that those IPs are not to be used other accoun

[2020-09-24 11:06] nvazquez commented on #4299
@rhtyd we've moved to PR #4307, I'll check on this PR

[2020-09-24 11:18] borisstoyanov opened #4343 "java.lang.ArithmeticException: / by zero - when scaling VR"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

with VMWARE 6.5

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

[2020-09-24 11:20] harikrishna-patnala opened #4344 "Changing disk controller type is not working for root disk or data disk"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Changed the controller from IDE to SCSI from VM settings tab on stopped VM and then started the VM.
Now cloudstack shows scsi but vmware shows IDE.
CloudStack deliberately fetching the controller details from already existing disks and sets th

[2020-09-24 11:49] rhtyd commented on #4343
ping @shwstppr - do you remember if that's fixed?

[2020-09-24 11:49] rhtyd commented on #4299
Sure thanks @nvazquez; @andrijapanicsb pl avoid raising bugs that may be PR specific as issues on master

[2020-09-24 13:05] andrijapanicsb commented on #4299
I don't understand how I am supposed to know that those are PR specific, considering that the failure has zero things to do with the PR I was testing...

[2020-09-25 04:15] tungntvn23 commented on #4314
@shwstppr thank you, but issue happen randomly. Sometime it's OK but sometime not OK.

[2020-09-25 06:15] resmo commented on #3934
I see this with in 4.13.1

# vmsnapshot test revert snapshot failed

note the zone that chates from basic to advance from first test to second test.
[code]

but seems not to happen always, another test run passes.
[code]

[2020-09-25 08:46] borisstoyanov opened #4346 "SQLIntegrityConstraintViolationException: Duplicate entry 's-190-VM-PremiumSecondaryStorageResource' for key 'guid'"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

VMware

##### OS / ENVIRONMENT

NA

##### SUMMARY

When a host goes down a system vm that is being on it is marked as stopped, then when the host is up again the agent on the SSVM tries to connect back, but there's already a new SSVM.

##### STEPS TO REPRODUCE

[code]

[code]

[2020-09-25 09:38] shwstppr commented on #4314
@tungntvn23 I'll have a look. Is it possible for you to test out a particular PR?

[2020-09-25 09:53] Cloud-Mak opened #4347 "CS simulator docker hub image issues"
Hi all,
Getting below error while I tried running ACS GUI from CS simulator docker hub image in docker

[code]
While checking the docker container logs, I could see lines indicating connection and authentication issues while connecting to DB. Detailed logs are in the link below.
https://gist.githubusercontent.com/Cloud-Mak/a09766d752f0688885b2416e4a9925c8/raw/bb418c87394e267f4b867bde8697b760c59248

[2020-09-25 11:04] shwstppr commented on #4343
no idea @rhtyd. I'll check

[2020-09-25 12:49] shwstppr commented on #4343
@rhtyd I've checked and was able to reproduce the issue on latest master as well. I've created a draft PR for fixes. Adding fix 4.14 is okay or do we need it for any previous release as well? cc @borisstoyanov

[2020-09-25 14:14] rhtyd commented on #4343
4.14+ is okay

[2020-09-25 15:29] nvazquez commented on #4299
@andrijapanicsb unmanaging working fine on few tests I've done on #4307, could have been an issue with the previous PR, are you able to still reproduce it?

[2020-09-25 15:42] ravening commented on #4347
Can you mention the steps which you followed to run the docker image?
First you need to start the simulator docker container. Then run the marvin docker to setup zone. Then you will be able to access the ui.

I have run this several times and not encountered this issue so far

[2020-09-25 15:45] ravening commented on #4310
@rvalle I remember encountering same issue. We had domain setting as -1 for public ip field. Can you set it to 0 and try again?

[2020-09-25 15:47] ravening commented on #4240
@gaaray2k if the `host` field in `/etc/cloudstack/agent/agent.properties` contains a command separated list of mgt server IP then if one mgt server goes down then all agents will connect to next mgt server depending on algorithm. We have this is production and no issues so far

[2020-09-25 16:21] andrijapanicsb commented on #4337
[root@ref-trl-1479-v-M7-andrija-panic-mgmt1 ~]# systemctl status cloudstack-management
● cloudstack-management.service - CloudStack Management Server
   Loaded: loaded (/usr/lib/systemd/system/cloudstack-management.service; enabled; vendor preset: disabled)
   Active: failed (Result: exit-code) since Fri 2020-09-25 16:18:43 UTC; 1min 4s ago
  Process: 47504 ExecStart=/usr/bin/java $JAVA_DEBUG $JAV

[2020-09-25 16:27] Cloud-Mak commented on #4347
Hello Rakesh,

I am following steps mentioned in description of image on Docker hub - https://hub.docker.com/r/cloudstack/simulator
From descrition - it looks like just using **doker run** is all you need to setup. Anywho, I even tried to run marvin DC setup step. Getting errors there as well. Check below logs and step.
[code]
Am I overlooking anything?

I am on docker 19.0.3 and can see cloudstac

[2020-09-25 23:53] dony71 opened #4349 "cloudstack-management stop after a while running"
I follow installation at https://rohityadav.cloud/blog/cloudstack-rpi4-kvm/
SystemVM and ProxyVM seems to run OK at the beginning, however after a while I cannot access host anymore which cloudstack-management running on.
/var/log/cloudstack/management/management-server.log show ERROR below
[code]
Could someone explain what could be wrong?

[2020-09-27 05:00] levindecaro opened #4350 "modifyvxlan.sh expect /var/run/cloud directory for LOCK, but directory require manual creation"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

advanced networking, vxlan

##### OS / ENVIRONMENT

centos 7.8.2003

##### SUMMARY

Error when create guest instance, agent log show

Sep 27 12:38:59 compute-12 java: WARN  [resource.wrapper.LibvirtPlugNicCommandWrapper] (agentRequest-Handler-3:) (logid:32fe0cb1)  Plug Nic failed d

[2020-09-28 09:09] hstan77 opened #4351 "ACS Advance with Security Group, IPTable not write to Host"
##### ISSUE TYPE

 * Bug Report

##### Advance Security Security Group

Configure Security Group Advance in AdvanceZone

##### CLOUDSTACK VERSION - 4.14
Cloudstack 4.14

##### CONFIGURATION

Advance Networking, with Security Group,  on KVM

##### OS / ENVIRONMENT

CentOS Linux release 7.8.2003 (Core)

##### SUMMARY

##### STEPS TO REPRODUCE

Create Zone with Advance  with Security Group, KVM Hyper

[2020-09-28 09:47] crystech commented on #4146
Same issue on the error  during cluster creation. To complete the cluster creation
1. Once the nodes are up
2. curl -k https://public_ip_of_the_node:6443/version
3. This will trigger download of the Cert and hence allowed ACS to complete the cluster creation since it is able to access the API endpoint now.

New here so are there any fix for current setup at the moment ?

Management logs return the

[2020-09-28 09:56] weizhouapache commented on #4351
@hstan77 any log in /var/log/cloudstack/agent/security_group.log ?

[2020-09-28 10:27] rvalle commented on #3934
@resmo @rhtyd

The result that @resmo expect, or ansible modules expect, would require zones to be sorted by the expression (sortkey,id), as you know when sortkey has the same value, id is used... etc.

So I have been looking at the code to check what the actual implemented order criteria is:

looks to me like the method is here: https://github.com/apache/cloudstack/blob/82b6971258a2f63360dbd0cb40

[2020-09-28 10:53] weizhouapache commented on #3934
@rvalle agrees. It should be a regression issue caused by #3242
sort_key are all 0 in cloud.data_center table.

[2020-09-28 13:45] ravening commented on #4349
Looking at the log message, I can see that it cant connect to db. check if mgt can connect to db or not

[2020-09-28 14:00] hstan77 commented on #4351
In folder /var/log/cloudstack/agent, only have
agent.log    resizevolume.log  setup.log

there is no file security_group.log

[2020-09-28 14:07] ravening commented on #4347
I usually run the following commands

Start the simulator
[code]

Start the marvin
[code]

Deploy zone using marvin
[code]

if the above command fails then I usually get the ip of the `simulator` container and that in `mgtSvr` `dbSvr` section in `/marvin/dev/advanced.cfg` and run again

[2020-09-28 14:41] rvalle commented on #4310
@ravening you mean the public ip limits?

```Public IP Limits -1```

But this domain has IPs assigned to it, perhaps I can just use the actual amount as limit? ... that did not work.

But if I set the limit for the domain as 0, can I acquire IPs from this domain?

[2020-09-28 14:45] rvalle commented on #4310
Perhaps a workaround would be to modify the system IPs with this call:
[code]

But that would be a workaround, wouldn't it? as these IPs should not be offered to Accounts...

[2020-09-28 14:50] rvalle commented on #4270
I wonder if the Open Shortest Path First (OSPF) protocol as described in the [ShapeBlue Blog](https://www.shapeblue.com/inter-vpc-connectivity-in-cloudstack/)

Would work between a VPC-VR and an Isolated-VR

Isolated networks are IP efficient. That would allow for using a designated isolated network as kind of DMZ for for VPC tier.

[2020-09-28 16:45] dony71 commented on #4349
how to check?

[2020-09-29 07:15] rhtyd commented on #3554
Fixed in https://github.com/apache/cloudstack/pull/4338

[2020-09-29 07:15] #3554 closed

[2020-09-29 12:33] Cloud-Mak commented on #4347
@ravening
Just cross checking.
1. So basically you're running two seperate containers simulator and marvin.

2. Marvin container is being linked to simulator contianer while its getting created. (not able to understand the need to link two...doesn't docker have networking out of box?)

3. Finally initiatlizing the python script using "your command" from host OS.

4. (if above fails) Edit the mgtSv

[2020-09-29 12:44] Cloud-Mak commented on #4347
Installed the ping on Marvin to see if I can reach simulator by its name and IP.

root@4034e81431d0:/tmp/MarvinLogs# ping simulator
PING 8096 (172.17.0.3) 56(84) bytes of data.
64 bytes from 8096 (172.17.0.3): icmp_seq=1 ttl=64 time=0.131 ms
64 bytes from 8096 (172.17.0.3): icmp_seq=2 ttl=64 time=0.076 ms
^C
--- 8096 ping statistics ---
2 packets transmitted, 2 received, 0% packet loss, time 1031m

[2020-09-29 14:16] hstan77 commented on #4351
Just update my finding here.

The same issue is no issue on Ubuntu 18, and only happen to CentOS 7

[2020-09-29 15:04] GabrielBrascher opened #4355 "JsonSyntaxException when creating API command response"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]

##### SUMMARY

Issues when API command response is generated. Exception at the log and API command result. The command works fine, but to whom using the API it seems to have failed.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[c

[2020-09-29 15:35] GabrielBrascher opened #4356 "Revert snapshot only if volume is not attached to a running VM"
##### ISSUE TYPE

 * Bug Report
 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

Snapshotting and reverting snapshots on KVM + Ceph work fine; however, it is allowed to revert to the snapshot while the VM is running. To avoid issues during the revert of a snapshot we need to make sure the VM is stopped.

If the Volume is attached to a VM and th

[2020-09-29 15:45] wido commented on #4356
I tested and verified this with:

- CloudStack 4.13.1
- Ceph Octopus (15)

The revert worked, but as the VM was running it didn't have any effect.

After stopping and reverting again it worked as expected.

[2020-09-29 16:50] hstan77 opened #4357 "To be able to Reserve IP and not allocate to VM"
##### ISSUE TYPE

 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Some IP address that assigned to VM, but that IP that having issue of Spamming, Blacklist etc, and after the VM being changed to new IP, the issued-ip will return to the IP Pool and future re-assign to other VM.
The system not able to

[2020-09-30 06:53] AlexanderKgr commented on #3196
I am still facing this.
I am using cloudstack 4.14 with xcp-ng 8.1
I have an instance of ubuntu server 18.04. Take snapshot without memory and revert it, i have a message that fails
looking at logs i have

2020-09-30 08:59:57,139 ERROR [o.a.c.s.v.DefaultVMSnapshotStrategy] (Work-Job-Executor-82:ctx-877a4923 job-2981/job-2982 ctx-ffa7b074) (logid:c780de19) Creating VM snapshot: i-2-233-VM_VS_202009

[2020-09-30 10:59] rhtyd commented on #4337
@nvazquez can you advise if it's related to PR #4307, or an env issue or if you can propose a fix? Thanks

[2020-09-30 13:46] alexandremattioli opened #4358 "ACS unable to set VLAN to Trunk on Distributed Virtual Switches"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME
Networking

##### CLOUDSTACK VERSION
4.14

##### CONFIGURATION
Advanced networking, Distributed Virtual Switches on VMWare 6.7

##### SUMMARY
ACS unable to set VLAN to Trunk on Distributed Virtual Switches

##### STEPS TO REPRODUCE

1- Create physical network with Distributed Virtual Switches
2- Create guest network on the physical switch with

[2020-10-01 01:28] GabrielBrascher commented on #4337
Good catch, @andrijapanicsb.
Just for the record, I haven't seen a memory leak on the master. However, I have always been testing _master_ with KVM nodes + mgmt on Ubuntu 18.04.

Do you know if this happens on master + XenServer as well?

[2020-10-01 06:34] andrijapanicsb commented on #4337
Haven't seen it elsewhere, only on VMware - but this needs reproduction by someone else - I will be reprorting back as I'm actively testing a few VMware stuff.

[2020-10-01 06:39] RomanGz opened #4368 "Raw root volumes being identified as qcow2 & fail to start"
##### ISSUE TYPE

 * Other
##### COMPONENT NAME
KVM
[code]

##### CLOUDSTACK VERSION
4.14
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
18.04

##### SUMMARY
Upgraded from 4.9
Have various instances with raw root images that fail to start
Restarting these instances, CS passes the `format=qcow2` to qemu, when it should be `format=raw`.
qemu returns: `Image is not in qcow2 format`
If I manually

[2020-10-01 10:13] rhtyd commented on #4355
@GabrielBrascher are you working on a fix? or can we triage that to someone else? thanks

[2020-10-01 10:40] GabrielBrascher commented on #4355
@rhtyd just started to look at this. Do you have any idea of what is causing it? Have anyone seen this as well?

[2020-10-01 11:01] rhtyd commented on #4355
cc @borisstoyanov @andrijapanicsb @vladimirpetrov @DaanHoogland @shwstppr @harikrishna-patnala @nvazquez

[2020-10-01 18:23] phanthaihuan commented on #4022
I have the same problem with you and still looking for way to handle this.

[2020-10-01 21:03] ravening commented on #4347
I will run this in my setup and share you the result..

BTW, if you want ready made cloudstack with advanced zone already installed, you can refer to Dockerfile present in https://github.com/ravening/Cloudstack-Docker

[2020-10-02 05:43] Spaceman1984 commented on #4022
@phanthaihuan have a look at this page, it could help with finding the problem:
https://cwiki.apache.org/confluence/display/CLOUDSTACK/SSVM%2C+templates%2C+Secondary+storage+troubleshooting

[2020-10-02 20:17] smgray315uk commented on #4022
Hi
To resolve the issue we actually went the re-installation route as this was
a POC. Looking back now at the issue it was really to do with downloading
and updating the core systemvm template correctly and ensuring that this
was available on the secondary storage.

Hope this help.

On Thu, 1 Oct 2020 at 19:23 Huan Phan <notifications@github.com> wrote:

[2020-10-05 08:45] DaanHoogland commented on #4355
@rhtyd @GabrielBrascher it looks like the double quote (") at the end of the password value is missing. probably a bug in the password filtering code. (just a quick assessment, sorry if i just kicked in an open door)

[2020-10-05 09:00] davidjumani commented on #4349
[code]
Just replace the values with the ones in the `db.properties` file

[2020-10-05 09:27] Spaceman1984 commented on #4292
I found the code where the problem is in VmwareResource.java.
[code]
Volumes will never be deleted by looking at this. (`if (vmMo != null && vmMo.isTemplate()) {`)

The specific line of code was added with this issue https://issues.apache.org/jira/browse/CLOUDSTACK-8405
I will have to run through this issue to fix it correctly I think the logic for deciding whether to delete a volume or template s

[2020-10-05 10:28] sureshanaparti commented on #4292
@Spaceman1984 `vmMo`'s objects can be never be a volume, it is either a VM or Template.

[2020-10-05 10:55] Spaceman1984 commented on #4292
Ok, @sureshanaparti, it's not volume, it's a VM, but, but not a template and it is failing on that line of code. If it is supposed to be a template, then that could be the issue. I will need to do more digging.

[2020-10-05 11:07] PaulAngus commented on #4358
Can you add some detail please.

[2020-10-05 12:24] DaanHoogland opened #4370 "more fine grained categorisation for tests"
as a tester, one would want a more fine grained categorisation than "smoke", "component", "integration" to be able to quickly test a PR against features it touches on.

##### ISSUE TYPE

 * Improvement Request
 * Enhancement Request
 * Feature Idea
 * Other : testing aid

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

whe

[2020-10-05 13:35] davidjumani opened #4371 "Incorrect count returned by findHostsForMigration"
findHostsForMigration returns wrong count

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

##### CLOUDSTACK VERSION
master

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
The right count

[2020-10-05 13:35] DaanHoogland opened #4372 "list roles API returns a wrong count"
##### ISSUE TYPE

 * Bug Report
 * Improvement Request
 * Enhancement Request
 * Feature Idea
 * Documentation Report
 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

deleted roles are counted in the total for listRoles.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code

[2020-10-05 14:01] DaanHoogland commented on #4371
#relates to #4372

[2020-10-05 17:17] GabrielBrascher commented on #4355
@rhtyd I discovered what caused this issue and how to reproduce.

It happens only with Hosts that have an OutOfBand driver (e.g. IPMI or Redfish) enabled.

The host password is passed on the response as _first letter +  "****"_. For instance, a password "password" then it is set as "p****" on the response object. More details at [OutOfBandManagementResponse.java#L98](https://github.com/apache/clou

[2020-10-05 17:41] GabrielBrascher commented on #4355
@DaanHoogland you are right. I have a hunch of the cause but I still need to debug it.

_For some odd reason, GitHub sometimes does not update issues/PR messages to me, after I answered and refreshed the page then your answer appeared to me._

[2020-10-05 18:38] alexandremattioli commented on #4358
Details were there but not showing, some issue with formatting, fixed now.

[2020-10-06 11:33] GabrielBrascher commented on #4355
Connected via remote debug on the JVM I was able to check the workflow. The password for Out of band response is obfuscated at _OutOfBandManagementResponse.java#L98_; then, the workflow will make that password as input to  _obfuscatePassword_ .

_constructor at OutOfBandManagementResponse.java#L98_
https://github.com/apache/cloudstack/blob/1d05fead49f5c856257a741b07122f5633d2e359/api/src/main/java

[2020-10-06 12:08] DaanHoogland commented on #4310
@nvazquez do you recognise this? can we fix this (in 4.14)?

[2020-10-06 12:20] DaanHoogland commented on #4270
@rvalle normal networks have a flag called "conserve-mode". This is what causes only one ip to be assigned. I am not sure it was ever attempted to implement for VPC. It does not exist at this moment but would be the feature you want. Your VPC-VR <-> VPN <-> Isolated-VR sounds doable as well. I would like to not know of a difference between the two VRs if I could, though.

[2020-10-06 12:24] DaanHoogland commented on #4356
Atre you saying "not a bug", @wido ?

[2020-10-06 12:26] DaanHoogland commented on #4368
@RomanGz have you had this working with older versions?

[2020-10-06 12:31] andrijapanicsb commented on #4368
there was a lot of mess in 4.5-->4.8 when it comes to the type/extension as in the DB
CloudStack always creates QCOW2 (AFAIK) on NFS/filesystem storage, so TBH I'm not sure how you ended up with RAW images on your storage? Can you advise please?
Anyway, whatever is your format on storage, that should be reflected in the DB (volumes table) - but keep in mind that having RAW (instead of the QCOW2) m

[2020-10-06 12:34] wido commented on #4356
Well, technically you can do this revert, but it won't have any effect. In order to guarantee data consistency you would need to Stop the VM before doing so.

[2020-10-06 12:41] DaanHoogland commented on #4355
:D or three: return '"password": "<obfuscated>"' for any input :)
No real pref but one consideration: obfuscatePassword may be used in other places and all other results of the bug are not known yet. I think option 1 is your safest bet. maybe in combination with three 👯

[2020-10-06 12:51] DaanHoogland commented on #4356
so still the question remains, do we silently failing consider a bug or well behaved handling of an exception? i.e. how should this be handled?
1. including the stop when a revert is requested
2. throw an error when the vm is running
3. silently ignore the request

[2020-10-06 12:51] DaanHoogland commented on #4356
3. meaning this issue being closed as "not a bug"

[2020-10-06 13:09] wido commented on #4356
I would say Option 2: Throw an error when the VM is running

[2020-10-06 13:22] DaanHoogland commented on #4356
as you guys can test this will you implement a PR @GabrielBrascher @wido ?

[2020-10-06 13:24] wido commented on #4356
Yes. @GabrielBrascher is working on a PR. This issue is here to track it and close once the PR is merged.

[2020-10-06 15:57] RomanGz commented on #4368
Yes. It worked before through versions 4.2, 4.4, 4.9.

We only use local storage pools.
I’m not entirely sure how we ended up with raw images, but I’m sure some of them have been running as far back as 4.2, or even older perhaps.

We have another 4.9 install running. I’m going to go through it to see if I can make sense of the raw situation.

[2020-10-06 17:18] RomanGz commented on #4368
So looks like everything created under 4.4 and earlier is raw. DB format says it's QCOW2, but as I mentioned, changing that field has no effect on actually running the instance - it still launches it with format=qcow2. Should the volumes.format field not determine how the VM is launched?

[2020-10-06 20:28] andrijapanicsb commented on #4368
Once the volume is created, there is no more changes to it. The type will, however, be used in some code to determine how to do some actions (say, snapshot or similar volume-managing-actions).

My advice would be to se if you are having any issues with the current state - if not, great.

If you do have issues with RAW, then, you can test converting RAW to QCOW2 - both inside DB and the actual volu

[2020-10-06 23:01] RomanGz commented on #4368
The first thing I tried was converting it to qcow as a test, and that of course works - But I would have to convert over 200 instances.

The only issue with RAW is that CS configures it with format=qcow2 when generating the instance config. I'm guessing it assumes KVM=qcow2. We don't care about the loss of features with raw as we don't utilize any of them.

Is the final qemu config/arguments gener

[2020-10-06 23:26] GabrielBrascher commented on #4355
@DaanHoogland @rhtyd I've created PR #4387. The PR has 2 commits, the first contains the fix; the second commit deletes commented lines on the test class and adds JUnit tests for _obfuscatePassword_.

[2020-10-07 10:35] meysamfarazmand opened #4390 "Cpu and Memory Overprovisioning calculation"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

cpu.overprovisioning.factor=6
mem.overprovisioning.factor=1.1
VMware Tools on All VMs

##### OS / ENVIRONMENT

CentOS 6

##### SUMMARY

My cloudstack deployment has 1000 VMs. i had configured cpu.overprovisioning.factor=3.5 until i faced 95% of cpu allocation and decided to change

[2020-10-07 19:55] rvalle commented on #4270
@DaanHoogland

I have been trying different setups: I think the OSPF only works with VPC to VPC connectivity or VPC to VPN. I don't know what the difference between the VR of an VPC and the one of an Isolated Network is, but it just looks like it is not the same or they don't take the same set of configuration options.

I tried the OSPF setup with a VPC and an Isolated network and it did not work.

[2020-10-08 17:51] DaanHoogland commented on #4390
@meysamfarazmand I think your are interpreting the docs correctly. I don't know of a workaround.

[2020-10-09 04:17] hstan77 opened #4391 "Allow multiple localstorage based on VolumeGroup"
##### ISSUE TYPE

 * Feature Idea

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Lack of preference storage type for Cloudstack, or less option for proper storage

Current SharedMountPoint idea can use for VolumGroup and ISCSI, but the system expecting to have Clustered File System for multiple host in the same cluster ,

[2020-10-09 09:02] DaanHoogland commented on #3784
tried on a 2 kvm nested test env with centos7 hosts:
<img width="832" alt="image" src="https://user-images.githubusercontent.com/2486961/95564177-b8c2c180-0a1e-11eb-9aff-f03fbdf8b1de.png">
the host and systemVM show as up and connected but the console is not reachable and on the host `virsh list` does not show any VMs.

[2020-10-09 09:38] tungntvn23 commented on #4314
@shwstppr I setting rootDiskController and NIC but it still failed attach iso but when I disable DRS from VMware cluster so it worked fine.

[2020-10-09 09:46] shwstppr commented on #4314
@tungntvn23 Will have to check how DRS is affecting attaching ISO. If you have time can you please check if attaching ISO working fine for you everytime for a normal CoreOS VM (outside cks cluster) with DRS set to enabled?
Also, ACS 4.16 could see a new template k8s cluster node VMs which should prevent such issue.

[2020-10-09 09:48] tungntvn23 commented on #4314
@shwstppr yes, i try many time to attach iso for normal CoreOS VM with DRS enabled and get result OK.

[2020-10-09 10:04] RomanGz commented on #4368
Mystery solved. Apparently, we had a custom build floating around that forced the build to raw format, as well as change the format in LibvirtVMDef.java to raw if the image format was raw.
Still seems like that's something CS could manage to check on its own. Not a fan of running custom builds - because of this exact situation.

[2020-10-09 17:10] rvalle opened #4393 "Host KVM Installation, Who is responsible for configuration files?"
##### ISSUE TYPE

 * Documentation Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 18.04

##### SUMMARY

According to the documentation it is admins responsibility to configure libvirt and qemu, I have written Ansible playbooks to do so. However, I believe the agent is also configuring them, now ansible and cloudstack agen

[2020-10-11 06:24] rvalle commented on #4393
I am running some tests, it looks like ACS is automatically doing the changes requests in the documentation by itself.
at least that is how it looks on Ubuntu 18.04...

running some tests of my deployment playbooks wihtout configuring libvirt/qemu at all.

[2020-10-11 06:40] weizhouapache commented on #4393
@rvalle cloudstack makes some basic changes on network/libvirt/system when setup cloudstack agent.

services
https://github.com/apache/cloudstack/blob/master/python/lib/cloudutils/syscfg.py#L157-L167
for libvirt
https://github.com/apache/cloudstack/blob/master/python/lib/cloudutils/serviceConfig.py#L559

[2020-10-11 08:21] rvalle commented on #4393
@weizhouapache thanks for pointing out.

I tried to deploy an ACS test cluster from scratch without touching these files:
[code]
And it turns out the cluster is fully functional.

![Screenshot_2020-10-11 CloudStack](https://user-images.githubusercontent.com/412837/95673460-f3f0fc00-0ba8-11eb-8667-7185cad6fbdf.png)

I guess the installation documentation is out of date, at least for Ubuntu, with in

[2020-10-11 23:33] sourpatchkidz8484 opened #4394 "My server"

[2020-10-12 07:41] DaanHoogland commented on #4394
@sourpatchkidz8484 are you going to add a description to this issue?

[2020-10-12 10:00] Spaceman1984 commented on #4285
Should adding port 111 on the load balancer always throw an error? Is there a check that needs to be done or should it be hardcoded?

[2020-10-12 10:08] andrijapanicsb commented on #4285
More proper solution would be to NOT bind those ports on public interfaces (dumb idea anyway) - so that haproxy will not fail to bind those ports later on public interfaces
But the quick one would be to give an error early:

Ideally: "netstat-antup | grep "0.0.0.0" should be used to see all ports that are binded on all intefaces - and make list of all those ports that can NOT be binded by haproxy

[2020-10-12 10:09] rhtyd commented on #4285
@echoidcf I checked port 111 is for rpcbind/NFS, do you think there is any internal use for port 111 at all for VRs?

[2020-10-12 10:10] rhtyd commented on #4285
Agree @andrijapanicsb however there may be a case for port 53 (allow DNS externally, there is a setting for that I think?)

[2020-10-12 10:17] andrijapanicsb commented on #4285
I think that's true @rhtyd , but only valid for Shared networks, or something - I recall the issue we fix for 4.13.1/4.14

In general, the design around those should be considered (i..e even if we give option to expose 53 publicly, we do so only on the default public IP, but with additional public IPs (that are needed for PF/LB anyways) we should allow LB on any port)

Not sure what's the story wi

[2020-10-12 10:24] #4292 closed

[2020-10-12 11:03] Spaceman1984 commented on #4285
I checked on the VR, nothing was listening on port 111.

[2020-10-12 11:33] sourpatchkidz8484 commented on #4394
Sorry was an accidental. But I need help with everything

[2020-10-12 13:52] Spaceman1984 commented on #4285
This is the output running DefaultIsolatedNetworkOffering,

[code]

Would it be a good idea to throw an error if any of these ports are passed as a param to create an lb rule?

[2020-10-12 14:06] Spaceman1984 commented on #4285
I'll check which ports actually prevent haproxy from starting, I think most of them are not breaking the startup.

[2020-10-13 06:30] DK101010 opened #4398 "Use multiple host tags in compute offerings"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Currently it isn't possible to use multiple tags in compute offferings. It will be nice,
when compute offering tags logic works like storage tags

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2020-10-13 06:57] borisstoyanov opened #4400 "Find suitable storage for migration regression"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

VMware

##### SUMMARY

When executing the api agains attached volume we observe that none of the pools is marked suitable, a little investigation was done suspecting the following change:
https://github.com/shapeblue/cloudstack/blob/ovfprops-and-vsphere-adv-together/server/src/main

[2020-10-13 07:11] sureshanaparti commented on #4400
@borisstoyanov the check in the Zone wide pool allocator `if (dskCh.useLocalStorage()) { return null;}` should be ok, as the local storage can never be a zone wide pool and the disk profile want to find suitable local storage pools only, as the flag useLocalStorage is set. "useLocalStorage" is appropriately set to find the local pools, for zone / cluster-wide pool, this is set to false.

[2020-10-13 07:51] rvalle opened #4402 "Egress Broken in VPC Tiers"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 18.04, KVM, Advanced Networking, Local Storage

##### SUMMARY

According to the documentation: "By default, all incoming traffic to the guest networks is blocked and all outgoing traffic from guest networks is allowed, once you add an ACL rule for out

[2020-10-13 08:53] rvalle commented on #4402
Further testing: Traffic is going out from the VPC tiers despite the 9999 deny all rule.
Something here seems fundamentally broken.