[2022-02-06 14:13] rohityadavcloud commented on #5945
I think we use groovy for only ldap tests, @DaanHoogland to confirm

[2022-02-06 14:14] pjfanning opened #5946 "upgrade xstream due to cves"
##### ISSUE TYPE

 * Bug Report

https://mvnrepository.com/artifact/com.thoughtworks.xstream/xstream

[2022-02-06 14:28] pjfanning opened #5948 "upgrade bouncycastle due to cve"
##### ISSUE TYPE

 * Bug Report

https://github.com/pjfanning/cloudstack/security/dependabot/pom.xml/org.bouncycastle:bcprov-jdk15on/open

[2022-02-06 15:37] nvazquez commented on #5932
Hi @kricud, from your images I see you have set BIOS on the VM deployment wizard, this would override the template settings. Have you tried deploying another VM from the same template but specifying UEFI on the VM deployment wizard as well?

[2022-02-06 16:04] kricud commented on #5932
Hi @nvazquez if I’m changing settings in Advanced Mode to UEFI/SECURE it works.
I have no way of telling to all my users that for this template you need to go and change settings in “Advanced Mode” to UEFI/SECURE from BIOS/LEGACY.

In process of creating Instance from template Advanced Mode settings are not impacted from template settings where UEFI/SECURE is defined.

[2022-02-06 16:14] nvazquez commented on #5932
Copy that, thanks @kricud. I agree it would be a good enhancement if the UI automatically detects the boot mode from the template settings

[2022-02-06 18:14] tampler commented on #5778
Yes, works for me. Thanks everybody !

[2022-02-06 18:14] #5778 closed

[2022-02-06 18:33] DaanHoogland commented on #5945
Yes, let's abort groovy altogether, most tests have been implemented in Java now.

[2022-02-06 18:59] pjfanning opened #5950 "upgrade javascript dependencies with security issues"
##### ISSUE TYPE

 * Bug Report

Have a look at the vulnerabilities in https://github.com/pjfanning/cloudstack/security/dependabot associated with package-lock.json

[2022-02-06 19:11] rohityadavcloud commented on #5950
That link gives a 404, maybe it's privately visible only @pjfanning ?

[2022-02-06 19:18] pjfanning commented on #5950
@rohityadavcloud these are the dependencies from that github page.

[code]

[2022-02-06 19:47] pjfanning commented on #5950
It's easy to get github to run dependabot analyses on your own github fork of apache/cloudstack - there is Security tab (between Wiki and Insights)

[2022-02-06 21:18] Damans227 commented on #4825
Hi @harikrishna-patnala and @rohityadavcloud I find this issue fascinating and would like to submit a proposal to pursue it as a GSOC mentee for 2022. I am an open source enthusiast, and have been actively contributing to various cloud related projects such as Kubernetes, AWS, Trino, and Cloud Stack itself.

I started [contributing to cloud stack last year](https://github.com/apache/cloudstack/pul

[2022-02-06 21:29] pjfanning opened #5952 "upgrade jetty due to cves"
##### ISSUE TYPE

 * Bug Report

https://mvnrepository.com/artifact/org.eclipse.jetty/jetty-server

[2022-02-06 22:18] Damans227 commented on #4825
@harikrishna-patnala Ok, I read through the `ConfigKey<T>` Class from `cloud-framework-config ` package and understood how we can use it to declare a configuration parameter in an interface and grab its value using `value()` method.  I have some questions to understand the workflow of the key management further:

1_ Is `cloudstack/api` the package which comprises all the apis where we want to expo

[2022-02-07 00:35] utchoang commented on #4956
@Yashikaone These sections may be subject to optional code.

[2022-02-07 03:09] nvazquez commented on #5932
Hi @davidjumani can you please take a look at this issue? If the template has the UEFI setting then the VM deployment wizard should display it as the initial value of the advanced setting's boot type

[2022-02-07 03:31] nvazquez commented on #5555
Hi @davidjumani can you please explore this issue?

[2022-02-07 03:38] nvazquez commented on #3263
Hi @Pearl1594 can you pleas explore this issue?

[2022-02-07 05:25] Pearl1594 commented on #5936
@tampler I've created https://github.com/apache/cloudstack/pull/5954 to address the NPE, however, I wasn't able to reproduce the MS getting killed. Do you notice any other logs when you mention that the MS is dead that would provide some insight to why it may be happening. Thanks.

[2022-02-07 06:14] sureshanaparti commented on #5943
Fixed in #5944

[2022-02-07 06:14] #5943 closed

[2022-02-07 06:20] rohityadavcloud commented on #5945
@pjfanning let's close this, our use of groovy is limited to some unit tests only. CloudStack in prod doesn't use groovy.

[2022-02-07 06:36] sureshanaparti commented on #5946
Fixed in #5947

[2022-02-07 06:36] #5946 closed

[2022-02-07 06:44] davidjumani commented on #4937
@nvazquez Nothing in this list as there have been no requests to add them or any issues raised

[2022-02-07 07:36] rohityadavcloud commented on #5634
Tracking further in the PR https://github.com/apache/cloudstack/pull/5863

[2022-02-07 07:36] #5634 closed

[2022-02-07 07:59] tampler commented on #5936
@Pearl1594 Thanks for your fix. You can get all logs locally by running my sim build:

[code]
You will see how first two commands succeed, but curl fails with `reset by peer`.
You can see container logs with `docker logs sim`

[2022-02-07 08:03] tampler commented on #5936
Simulator starts UI with `supervisord`. Check how it runs inside the docker

[2022-02-07 08:26] borisstoyanov commented on #5919
@nvazquez @weizhouapache please help me understand, since some time we've moved to noVNC console and afaik the old console is not available any more, and it looks like VMware 7 is not working with the old console. If all of this I understood right, why should we be looking to fix this? Excuse me if I didn't get the issue you describe, but could you share reproductions steps if it's still requiring

[2022-02-07 08:30] harikrishna-patnala commented on #4825
Hi @Damans227, great to see your interest here and the learning you have gone through.
To answer your questions
1. Yes, most of the APIs are here, but there are other places as well like in plugins/
2. Either ways we can do, with the new table or with new columns in existing "configurations" table.

[2022-02-07 08:32] harikrishna-patnala commented on #4825
Hi @khamarshaikh, are you still looking to work on this ?

[2022-02-07 08:45] khamarshaikh commented on #4825
@harikrishna-patnala , Yes I am looking forward to work on this.
I would be proposing a design document for the changes proposed. Is it ok if I can share it here or any specific channel ?

[2022-02-07 10:15] nvazquez commented on #5926
Thanks @Pearl1594 - @davidjumani can you please work on this?

[2022-02-07 10:16] Pearl1594 commented on #5936
@tampler thanks for sharing the details, I performed the same steps with the following image: https://hub.docker.com/r/ustcweizhou/cloudstack-simulator and noticed the NPE but the MS is still running.

[code]

[2022-02-07 10:27] Damans227 commented on #4825
Thanks for replying.

[2022-02-07 10:35] tampler commented on #5936
@Pearl1594 Pls use my image or build your own fresh simulator if you want to debug this. Wei's build is just too old.

Wei's build works for me as well. I had my builds worked just 2w ago, whilst Wei's build is already 3m outdated.

This bug is a very recent functional change. As I said, all worked just 2w ago

[2022-02-07 10:39] Pearl1594 commented on #5936
@tampler my apologies, I much have missed the comment that it worked about 2 weeks ago.. I'll build an image from the latest 4.16 branch and will get back to you. Thanks

[2022-02-07 10:52] Damans227 commented on #4834
@rohityadavcloud @nvazquez  Hi Guys, the GSoC 2022 proposal acceptance begins in April officially. Since, I am interested in working on this issue, can I create and a send a proposal for review now instead instead of waiting till April ?

[2022-02-07 11:13] weizhouapache commented on #5919
@borisstoyanov
Hi Bobby, novnc is default console, but old console is not removed yet
You can try the following 2 steps
(1) update global setting 'novnc.console.default to 'false'
(2) open a vm console

it works on other hypersivors.

[2022-02-07 11:34] rohityadavcloud opened #5957 "Improve default network offering setting for egress policy"
The default isolated network offering has egress policy denied/disabled, however new network offerings have that enabled/allowed. Once a new network offering is created and the new network offering is used to create a network, it is not visible to the user what the default egress policy is for the user on an isolated network. This can create confusion for admins and users.

The following UI improv

[2022-02-07 12:15] Pearl1594 commented on #5936
@tampler I built a new docker image from the 4.16 branch and observed the same behavior as reported before - I noticed the NPE, but MS is up and running
[code]
And I can access the UI:

![image](https://user-images.githubusercontent.com/10495417/152785042-f3bc50cd-a563-4bef-bb35-b4c598303af8.png)

[2022-02-07 12:54] tampler commented on #5936
@Pearl1594 Interesting...

Why is your image 13GB in size :open_mouth:  ?
Wei's and mine are 3.45GB.

Which commands did you use to build it ?
Did you use gcc-10 ?

Your flow seems to be the following.
You build the project locally with `mvn` and observe the right behavior, which @DaanHoogland observed as well.

Then you run somewhere `COPY . /root` in your docker and move the whole thing with a p

[2022-02-07 13:18] Pearl1594 commented on #5936
@tampler the reason for the unusually large size of the image is because it mounts the local path into the container, and in the code directory I have built the systemvm templates, etc.

I have been facing issues with accessing the UI on the image you've shared. I'll try it once again sometime later. Thanks for sharing the info.

[2022-02-07 13:45] borisstoyanov commented on #4834
Hi @Damans227, it's great to hear you have interest! You can start creating a reviewing the proposal and you can get in touch with community, mentor etc. Please be advised that the mentor could help you out, by means of good will, but the application and review of your proposal needs to go through the official process and timeline.

[2022-02-07 14:01] Damans227 commented on #4834
Understood, thanks for replying.

[2022-02-07 20:54] joseflauzino commented on #5935
@DaanHoogland

In that point the purpose is to make the behavior similar to that obtained with PR #5633, which removes the stats of VMs that are no longer running (stopped, expunging, etc.).

Since now the stats of the VMs that are not running will be kept for some time, the proposal is not to show the current stats of these VMs when clicking on the "Metrics" button in the UI, because probably the

[2022-02-07 20:58] joseflauzino commented on #5935
@nvazquez Yes, I'm working on it. But I haven't created the PR yet. As soon as I create it I will point it out here.

[2022-02-08 04:34] davidjumani commented on #5768
With the latest isos, all necessary images are bundled within. CKS also allows private registry login while creating a cluster (which can be used to point to dockerhub) when the `cloud.kubernetes.cluster.experimental.features.enabled` global setting is enabled

[2022-02-08 05:23] davidjumani commented on #5555
If this has to be changed, hiding a column based on the value of a field is quite tricky and very specific as it is in a shared view (ListView).
Alternatively, it can be done in one of the following ways :

1. Show the column only in the metrics view (easy fix)
2. Allow the user to select the columns he wishes to see (could take some effort since this will be a global change but have a good payoff

[2022-02-08 07:18] sureshanaparti commented on #5939
Fixed in #5942

[2022-02-08 07:18] #5939 closed

[2022-02-08 08:00] sureshanaparti commented on #5830
Fixed in #5857

[2022-02-08 08:00] #5830 closed

[2022-02-08 08:05] weizhouapache commented on #5936
@tampler
my testing result is same as @Pearl1594's
there is a NPE in management log but server is running well.

[2022-02-08 08:57] Pearl1594 commented on #5936
@tampler I tried deploying an env with your image, and the logs indicate that the management server is running. However the service isn't running on port 8080, but I was able to reach it via port 8096. I noticed the Dockerfile in the container, it's slightly different from the upstream one..

[code]

following is the output of the same on an image built locally from the 4.16 branch:
[code]

[2022-02-08 09:06] tampler commented on #5936
Hi @Pearl1594 @weizhouapache
Thanks for your feedback. I'll rebuild and retry everything from scratch and brb to you

[2022-02-08 09:31] sureshanaparti commented on #5941
Fixed in #5878

[2022-02-08 09:31] #5941 closed

[2022-02-08 10:29] pjfanning opened #5964 "upgrade axis due to cves"
##### ISSUE TYPE

 * Bug Report

Cloudstack uses axis 1.4 (released 2006) that has multiple CVEs open. Axis2 is the new maven id (org.apache.axis2/axis2)

https://github.com/advisories/GHSA-55w9-c3g2-4rrh

https://github.com/advisories/GHSA-h9gj-rqrw-x4fq

https://github.com/advisories/GHSA-96jq-75wh-2658

https://github.com/advisories/GHSA-r53v-vm87-f72c

[2022-02-08 18:52] rohityadavcloud commented on #5948
Fixed in https://github.com/apache/cloudstack/pull/5949
thanks for the report and PR @pjfanning

[2022-02-08 18:52] #5948 closed

[2022-02-08 19:01] pjfanning opened #5967 "upgrade xerces due to cve"
##### ISSUE TYPE

 * Bug Report
all xerces versions up to recently released v2.12.2 have CVEs - https://mvnrepository.com/artifact/xerces/xercesImpl

[2022-02-08 19:07] pjfanning commented on #5967
closing this in favour of #5943 - I have linked a new PR to that issue

[2022-02-08 19:07] #5967 closed

[2022-02-08 19:08] pjfanning commented on #5943
linked https://github.com/apache/cloudstack/pull/5968 too (still an issue with the xerces upgrade)

[2022-02-08 19:12] pjfanning opened #5969 "may need to upgrade tomcat-embed-core due to possible cve"
##### ISSUE TYPE

 * Bug Report

Dependabot shows this issue - https://github.com/advisories/GHSA-j39c-c8hj-x4j3 with org.apache.tomcat.embed:tomcat-embed-core

This may not relate directly to tomcat-embed-core and might relate specifically to the core tomcat

[2022-02-09 03:59] sureshanaparti commented on #5936
Fixed in #5954

[2022-02-09 03:59] #5936 closed

[2022-02-09 07:36] tampler commented on #5936
@sureshanaparti Hey did I ask you to close this issue?  Why do you think you can close MY issues without my feedback ?

[2022-02-09 07:38] tampler commented on #5936
@weizhouapache @Pearl1594 do you know the guy @sureshanaparti ? Could you pls teach him how to properly work with community issue tracking ?

[2022-02-09 07:44] sureshanaparti commented on #5936
Hi @tampler the NPE issue reported at the SystemVM template registration is fixed in #5954. If you still notice the issue after the fix, please reopen. Thanks.

[2022-02-09 08:12] weizhouapache commented on #5936
@tampler
Hi, Suresh is the release manager of cloudstack 4.16.1.0. He is working hard on the 4.16.1.0 release.
Normally when we merge a PR which fix an issue, we close the original issue for better release tracking.
If you still have the same issue, please feel free to open the issue.

[2022-02-09 08:16] tampler commented on #5936
Okay, thanks everyone for your help. Let's settle this down. I'll make a new build and try things out.
Keep in touch

[2022-02-09 08:47] sureshanaparti commented on #5897
Fixed in #5904. @jack99trade If you still notice this issue after the fix, please reopen. Thanks.

[2022-02-09 08:47] #5897 closed

[2022-02-09 11:30] borisstoyanov commented on #5781
I've tested the fix and it seems to restrict the 'restricted domain admin' to create a normal domain admin, @StepBee can you check if this solves it for you as well.

[2022-02-09 13:38] DaanHoogland opened #5971 "VM Migration should update pod_id to match the new host"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

In attempting to retire a pod it was found that VMs don't update their pod_id during live migration. We evacuated a pod but could not delete it until we manually updated the VM pod_ids.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2022-02-09 13:41] tampler commented on #5936
Now simulator works for me as well. Thanks everyone for engagement :smile:

[2022-02-09 13:47] slavkap commented on #5916
Hi @tsinik-dw, can you please share the management log with this issue?

[2022-02-09 14:36] sureshanaparti commented on #5717
Hi @PeterS-gd Discussed with Wei, and this seems to be env specific issue. The migration doesn't succeed in this case as the destination host in the migration has the interface with the same interface name of source host on which guest network bridge is configured. Good that, you solved this by adding a bond between cloud bridge and physical interface. Created a doc PR here https://github.com/apac

[2022-02-09 16:24] sureshanaparti commented on #5952
Fixed in #5953

[2022-02-09 16:24] #5952 closed

[2022-02-09 16:24] Damans227 commented on #4834
@rohityadavcloud @nvazquez Just an FYI. I have shared a draft design document for this issue and am awaiting your feedback. Thanks!

[2022-02-09 17:02] luganofer opened #5973 "Missing "configuration Limits" option in multilevel domain scheme"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Given a multi-level domain scheme (a domain with one or more subdomains) from the new UI it is impossible to edit the configuration limits of the subdomains, using the admin domain user of the parent domain.
The same applies to the c

[2022-02-09 17:38] nvazquez commented on #5973
Hi @davidjumani can you please check this issue?

[2022-02-09 18:16] nvazquez commented on #5555
I'm +1 with the second one - what do you think @PaulAngus @DaanHoogland @rohityadavcloud?

[2022-02-09 20:48] GabrielBrascher commented on #5555
I agree with @rohityadavcloud regarding the OOBM. If a host has Out-of-band enabled and configured, I see no reason in hiding it for Admins in case HA is not enabled.

I am +1 in the 2nd option raised by @davidjumani but it might be tricky to have it implemented.

[2022-02-10 02:52] levindecaro commented on #5768
@davidjumani I tried this option with specifying those registry info, however it did not create the corresponding secret for the k8s instances, thus the bootstrap still fail without manual injecting the pull secret. Thanks for your help.

[code]

[2022-02-10 04:14] nvazquez commented on #5945
Thanks @rohityadavcloud @DaanHoogland closing it after your remarks

[2022-02-10 04:14] #5945 closed

[2022-02-10 04:39] sureshanaparti commented on #5711
Fixed in #5850. @edikevich Closing this ticket as fix PR got merged. If you still notice this issue after the fix, please reopen. Thanks.

[2022-02-10 04:39] #5711 closed

[2022-02-10 04:54] sureshanaparti commented on #5781
ping @StepBee can you check / confirm the fix.

[2022-02-10 05:44] davidjumani commented on #5932
Added the option to add UEFI as a details setting and infer it from the DeployVM form in https://github.com/apache/cloudstack/pull/5974

[2022-02-10 06:05] StepBee commented on #5781
unfortunately, i am currently in lack of a properly working test environment i could use for testing.
To not cause any delay i would trust @borisstoyanov result

[2022-02-10 06:22] sureshanaparti commented on #5781
Fixed in #5879. @StepBee If you still notice this issue after the fix, please reopen (with the details). Thanks.

[2022-02-10 06:22] #5781 closed

[2022-02-10 06:31] StepBee commented on #5781
Many thanks for your work on this fix, much appreciated.
Yep, will test in my test envrionment once functional again and reopen in case i see issues.

[2022-02-10 06:51] satishglondhe opened #5976 "Kubernetes Auto Scaling not working in version 4.16.0.0"
##### ISSUE TYPE

 * Bug Report
 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced Network

##### OS / ENVIRONMENT

N/A

##### SUMMARY

After successful creation of kubernetes cluster, and selecting autoscaling, specifying min and max size of worker nodes, Autoscaling pod are generated in kube-system, but it doesn't function.
While checking for

[2022-02-10 06:53] sureshanaparti commented on #5976
@davidjumani can you check this issue.

[2022-02-10 07:44] sureshanaparti commented on #5717
ping @PeterS-gd can you update on this please. thanks.

[2022-02-10 07:45] weizhouapache commented on #5717
@sureshanaparti
agree to close this ticket.

[2022-02-10 08:14] DaanHoogland commented on #5717
closing on above remarks, @PeterS-gd please reopen or create a new ticket if it persists and you have new information.

[2022-02-10 08:14] #5717 closed

[2022-02-10 09:13] tsinik-dw commented on #5916
Hi @slavkap, I had to reproduce the error. So, I am trying to attach the volume named _DATA-on-NFS-for-VM-B1_ on the VM named _VM-B1_. The _VM-B1_ has already a ROOT volume on solidfire.
Following is the management log output:

[code]

[2022-02-10 10:08] slavkap commented on #5916
Thanks, @tsinik-dw. According to the logs, the volume is still not created on NFS - it is in an allocated state. CS cannot find a suitable pool for it. Can you share info about the storage pool (you can filter the sensitive data) and disk offerings of the volume from the DB?

[2022-02-10 10:56] nvazquez commented on #5973
Thanks @davidjumani for the quick fix!

[2022-02-10 10:56] #5973 closed

[2022-02-10 12:21] tetra12 opened #5979 "SG API Authorize Ingress/Egress Rule returns an empty response"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced Zone with SG

##### OS / ENVIRONMENT

Ubuntu 21.10
4.16.1.0-Snapshot master

##### SUMMARY

Cloudstack server returns an empty response for both `authorizeSecurityGroupIngress` and `authorizeSecurityGroupEgress` methods. However, the job is done, rules are correctly added

[2022-02-10 13:06] PeterS-gd commented on #5717
Yes, it was not migrating because the interfaces were not named the same. When I created bonds on both hosts that had the same name over the interface, it worked and has continued to work since then. So, yes this problem has been solved and the ticket can be closed.

----------------------------------------
From: "sureshanaparti" ***@***.***>
Sent: 2/10/22 2:46 AM
To: apache/cloudstack ***@***.***

[2022-02-10 13:37] DaanHoogland commented on #5877
fixed in #5910

[2022-02-10 13:37] #5877 closed

[2022-02-10 13:42] DaanHoogland opened #5981 "var naming pattern issue in code"
as shown by the discussion,
https://github.com/apache/cloudstack/pull/5911#discussion_r802717992 , we have some variabled of type boolean name `is`-`<VarName>`. these should actually be called `varName`. This pertains to vars of the primitive `boolean`.

##### ISSUE TYPE

 * Improvement Request
 * Other code cleanup/technical debt addressing

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[2022-02-10 13:43] DaanHoogland commented on #5685
fixed in #5911

[2022-02-10 13:43] #5685 closed

[2022-02-10 18:16] nvazquez commented on #5916
Hi @tsinik-dw can you please try the following workaround? Creating a test VM on the target NFS pool and attach/detach the target disk? After that retry attaching the to the target VM?

[2022-02-10 21:21] alexandru-bagu commented on #5697
I doubt it's the status check that uses the network. My thinking was that if I use shared storage for templates which is required afaik then whenever the SSVM does an operation network bandwidth has to be used. Meaning
1. when downloading the template traffic should look like this: [public net] -download-> [ssvm] -save-> [storage] (ssvm downloads from public net and writes to storage)
2. when down

[2022-02-11 04:49] davidjumani commented on #5976
@satishglondhe Can you delete the autoscaler pod and let it come up again ? It's sometimes unable to find the node by ID such as `Unable to find node 021334d4-073d-4adf-80ee-16036ae29a1c in cluster`, but finds it by name. If the issue still persists, can you recreate the cluster with another name and check ?

[2022-02-11 05:07] davidjumani commented on #5768
@levindecaro Can you try creating the cluster with the URL as `https://index.docker.io/v1/` and the email as your dockerhub account instead of email id ?
It does not necessarily add the secret to kubernetes but creates a `~/.docker/config.json` file which is used to authenticate with dockerhub while pulling images

[2022-02-11 05:21] davidjumani commented on #5768
It appears as though the docker config file is not in the right location and only on worker nodes. I'll create a patch to fix it

[2022-02-11 05:44] sureshanaparti commented on #5979
Hi @tetra12 The API requests _authorizeSecurityGroupIngress_ / _authorizeSecurityGroupEgress_ are async jobs, and would return jobid in the response. The job status/response can be requested using the API  _queryAsyncJobResult_ with that jobid as the parameter, which has the full response struct. I think, in case of Go API, it tracks for the job status in the background and sends the full response

[2022-02-11 06:30] DaanHoogland commented on #5979
I tested both in my local env and they do return an id when the job is done, please see @sureshanaparti's comment above, @tetra12 .

[2022-02-11 07:28] vladimirpetrov commented on #5919
I personally don't see a reason to support the old console anymore @nvazquez @weizhouapache.

[2022-02-11 07:35] weizhouapache commented on #5919
@vladimirpetrov @borisstoyanov @nvazquez
since most of you think we do not need to support old console on vmware 7. let's close this issue.

[2022-02-11 07:35] #5919 closed

[2022-02-11 08:33] levindecaro commented on #5768
@davidjumani @Pearl1594 Thank you for your update, I think there are requiring effort to workout documentation for CKS and troubleshoot guide. Btw, is it possible to capture the provisioning logs to somewhere in ACS console or agent logs..etc. Since it is quite hard to troubleshoot without having to login into each VM, sometime is it not possible without owner's credential.

[2022-02-11 08:47] tsinik-dw commented on #5916
Hi @nvazquez, the proposed workaround has actually worked!
After the volume was attached/detached (and actually created) on a VM on NFS pool then it was attached to the target VM (on managed storage) with no problems.
Thanks!... I'll keep an eye on the related PR :-)

[2022-02-11 13:20] sureshanaparti commented on #5971
Fixed in #5972

[2022-02-11 13:20] #5971 closed

[2022-02-11 14:32] andrijapanicsb opened #5987 "[KVM] Enable CloudStack to use multiple LOCAL storage pools"
##### ISSUE TYPE

 * Improvement Request

Enable CloudStack to use multiple LOCAL storage pools that are (already configure and) available on KVM hosts.

At the moment, only the default /var/lib/libvirt/images/ storage pool is used - and if additional local storage pools are configured via virsh/libvirtd, those are NOT read by the ACS agent and can't be used (even manually adding those additional

[2022-02-11 17:20] weizhouapache commented on #5987
this will be a nice feature !

[2022-02-11 18:28] #5932 closed

[2022-02-12 16:17] satishglondhe commented on #5976
I recreated the cluster with another name, tried deleting the cluster-autoscaler pod, restarted the deployment, but same issue.

Log is
I0211 17:06:40.084817       1 static_autoscaler.go:229] Starting main loop
I0211 17:06:40.085114       1 client.go:169] NewAPIRequest API request URL:http://103.13.114.141:8080/client/api?apiKey=*&command=listKubernetesClusters&id=9964846a-8bf6-4165-a834-c89c95432

[2022-02-12 23:38] nxsbi opened #5989 "Question - How to find out the active users on Cloudstack UI"
##### ISSUE TYPE

 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

CentOS

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2022-02-13 05:36] tsinik-dw commented on #5916
Sure @nvazquez!... I will be happy to test the fix once ready.

[2022-02-13 06:03] leolleeooleo commented on #5500
@rohityadavcloud
Yes, I've tried to set Capacity Bytes.
It did set "Disk Total (actual size can be stored)" and "Disk Total with Overprovisioning Factor (can be allocated)" ,
but "Disk Size Used" is caculated with replica set, that could be over "Disk Total (actual size can be stored)".

For your example,
[code]
So it should be
![image](https://user-images.githubusercontent.com/12134066/153740541-

[2022-02-13 13:50] Hudratronium commented on #5803
Just as a quick thought reading through this:
Maybe the whole topic of "dedication" of ressources, at least on host level, could be "solved" with the usage of the tagging feature for this purposes?
Currently we are using this to determine and find suitable hosts for VM-Deployment. Why not concider "ownership" or something similar as another "characteristic" of the host which can be changed on the

[2022-02-13 14:06] #5916 closed

[2022-02-13 14:09] nvazquez commented on #5916
Thanks @tsinik-dw, the fix has been merged and will be available on the nightly packages starting tomorrow for testing - you can find them on https://download.cloudstack.org/testing/nightly/latest/

[2022-02-13 14:24] nvazquez commented on #5989
Hi @nxsbi you can use the mailing lists for these questions as well. You can use the API to find out the active users or also query the database

From cmk:
[code]

Or DB query:
[code]

[2022-02-13 18:59] nxsbi commented on #5989
Thanks for the reply.  However this will just tell me at the system level how many users I have.

I want to know how many users are actively using the web UI (logged in or running api queries).

[2022-02-14 00:55] nvazquez commented on #5787
@KuasarCloud I'm closing this issue per my comment above, if the issue persists please reopen it

[2022-02-14 00:55] #5787 closed

[2022-02-14 07:43] pam955 opened #5991 "There is no secondary storage VM for secondary storage host SecondaryStorage"
I have got "There is no secondary storage VM for secondary storage host SecondaryStorage" ERROR in cloudstack-management logs,
and I cannot add the ISO images。

![image](https://user-images.githubusercontent.com/55932732/153820875-fc27cc54-d840-4ee1-866f-fbf21fdf7ac2.png)

I'm using cloudstack v4.16.0 version, by KVM as a hypvisior

[2022-02-14 07:43] pam955 commented on #5991
please help me to fix it！

[2022-02-14 07:47] DaanHoogland commented on #5697
makes sense. The checksum will be used on initial download if you supply an excepted checksum. The chacksum of the extracted file will later be used on store to store (e.g. could be cross zone) copying of the template.

[2022-02-14 08:54] Pearl1594 commented on #5991
@pam955 Based on the snippet of the logs shared, it seems that you don't have a secondary storage VM, i.e., in your console go to the systemVMs tabs under Infrastructure and there wouldn't be any systemvm listed. It seems that this is because you have no hypervisor host in a valid State. Please check the host state.

[2022-02-14 10:19] rohityadavcloud commented on #5500
Hi @leolleeooleo I see what you mean now. But in case my the replicate set is 3, so ideally used should be 23 * 3 (=69GB?). But I see what you mean, the stored is the actual usage not considering the replicated objects. Let me share my current stats/screenshots (these maybe old, now I've moved to 3osds, 1tb ssd each) and ask if the total is stored capacity or raw capacity (I think total in cloudst

[2022-02-14 11:27] davidjumani commented on #5976
@satishglondhe Can you describe the autoscaler deployment? And also set the imagePullPolicy to Always and then destroy the pod ?

[2022-02-14 13:06] DaanHoogland commented on #5964
major snag with this is that F5 and juniper-srx use the iControl jar of which the latest version 13.1.0 still uses axis (as oppposed to axis2) and has no newer update.
the rest seems to compile as is (testing needed) I'll create a PR.

[2022-02-15 01:32] utchoang commented on #5926
@davidjumani I will solve this problem for you.

[2022-02-15 02:52] #5925 closed

[2022-02-15 04:02] pam955 commented on #5991
@Pearl1594
Thanks for your comment, I can see Vms  in "running" state in the  systemVMs tabs under Infrastructure。One vms showing "alter" , but I cannot see the details。
![Uploading systemvms.png…]()

[2022-02-15 05:32] pam955 commented on #5991
![image](https://user-images.githubusercontent.com/55932732/153998707-6fb95c35-fe85-4965-9cb0-7b538b2a6355.png)

[2022-02-15 05:59] Pearl1594 commented on #5991
@pam955 You can try destroying the SSVM and let it get re-created, or login to the SSVM (via console/ssh) and restart the cloud service (systemctl restart cloud). To identify why the SSVM has gone into alert state, you can check the logs in the Ssvm at `/var/log/cloud.log`

[2022-02-15 08:17] pam955 commented on #5991
Thank you, the error is disapere after delete the Sys Vms 。

[2022-02-15 08:55] tsinik-dw commented on #5916
Hi @nvazquez,

just tried cloudstack-common-4.17.0.0-SNAPSHOT.202202**15**.el7.x86_64.rpm, cloudstack-management-4.17.0.0-SNAPSHOT.202202**15**.el7.x86_64.rpm and it worked like a charm!

Attached you can find the management log, if necessary.
Thanks for the quick fix :-)

[nv_success_log.txt](https://github.com/apache/cloudstack/files/8067418/nv_success_log.txt)

[2022-02-15 10:45] nvazquez commented on #5916
Excellent, thanks for verifying @tsinik-dw

[2022-02-15 15:05] nvazquez commented on #5924
Hi @tsinik-dw are you attempting a live VM migration? In that case, do you get the hosts from the different cluster listed on the UI or are using the API? If not using the UI, can you check if the target host is listed on the output of the `findSuitableHostsForMigration` API?

[2022-02-16 02:08] nvazquez commented on #5924
Can you also please upload the management server logs for the migration attempt? @tsinik-dw

[2022-02-16 03:17] nvazquez commented on #5924
I suspect the issue is that the underlying API invoked is `migrateVirtualMachineWithVolume` instead of `migrateVirtualMachine` - can you please try using a client such as cloudmonkey the following API attempt?
[code]

[2022-02-16 07:10] tsinik-dw commented on #5924
Hi, @nvazquez, I am setting up a test environment and reporting the results in a while along with the log.

[2022-02-16 07:28] weizhouapache commented on #4357
Hi @hstan77 @aleskxyz
cc @rohityadavcloud @nvazquez

Just want to confirm, what you requested are
(1) support reservation of public IPs (of shared and isolated networks), not private IPs of isolated networks/vpcs.
(2) public IP is reserved for an account, and considered in resource count calculation.
(3) APIs to reserve a public IP, and release a Reserved public IP. when account is removed, the pu

[2022-02-16 07:34] weizhouapache commented on #5467
@luganofer
Do you want to support reserved vlan range for L2 network, in a global setting, zone setting, or physical network (this requires a new column in physical_network_traffic_types, but makes more sense) ?

cc @nvazquez @rohityadavcloud

[2022-02-16 07:38] weizhouapache commented on #4542
@aleskxyz
this looks different from #4357 which requested to reserve public IP.
this means to reserve private IPs in isolated networks/vpc tiers.

cc @nvazquez

[2022-02-16 08:13] DaanHoogland commented on #4542
I don't think necessarily private, but as part of the range of IPs serving on the networkside, which would include the guestIPs, but also in this case an outside IP. Correct me If I'm wrong, but the Physical server having an IP inside the guest network in @aleskxyz ' picture seems irrelevant. It might as well be a google address.

[2022-02-16 08:41] weizhouapache commented on #4542
@DaanHoogland
in @aleskxyz 's diagram, the physical server uses a private IP in same range as guest VMs.
from my understanding, the private IP needs to be reserved and not assigned to any VM.
moreover, the private IP can be used as destination of static nat, port forwarding and LB.
This is totally a different feature as #4357

[2022-02-16 08:54] weizhouapache commented on #5918
@tsinik-dw
I used 4.16 systemvm template for testing. The new root disk size can be recognized by the vm, and the partition growed automatically. see below (new root disk size is 22 GB)

![image](https://user-images.githubusercontent.com/57355700/154228438-d9a0bca7-a7ca-45a4-b95a-760084f0bf50.png)

Please notice, systemvm template has cloud-init installed, growpart and resizefs are configured in /

[2022-02-16 09:17] tsinik-dw commented on #5924
Hi @nvazquez,

I tried a live VM migration from Xen to XCP. The destination host (XCP, Host 9 in log) is presented as expected  in the UI along with the AutoSelect option. I checked the XCP host as destination and tried the migration.
In the log I can see that  _findHostsForMigration_ command is able to identify the XCP host as a possible destination but the migration fails. Management  log attach

[2022-02-16 10:00] edikevich opened #5999 "CSK Kubernetes cluster stuck in "Starting" mode"
##### ISSUE TYPE
 * Bug Report

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
XCP-NG 8.2
Advanced Zone

##### OS / ENVIRONMENT
Oracle Linux 8.4 - Management server, MYSQL 8.0.26
XCP-NG 8.2 - hypervisor

##### SUMMARY
Kubernetes cluster stuck in "Starting" state

##### STEPS TO REPRODUCE

Enable Kubernetes Service plugin in global setting: cloud.kubernetes.service.enabled = true
Add  Kuberne

[2022-02-16 10:14] Pearl1594 commented on #5999
@edikevich can you please share the list of docker images in your node using `docker image ls` & `ctr images ls`. Ideally, the image should be bundled/locally available, and hence there isn't a need to pull it from the registry.

[2022-02-16 10:19] edikevich commented on #5999
@Pearl1594

![image](https://user-images.githubusercontent.com/42668237/154244175-b73c0342-8e6a-4c41-8d96-3bbe6907f401.png)

ctr images ls is empty

[2022-02-16 10:53] weizhouapache commented on #5924
@tsinik-dw
Hi, is global setting `migrate.vm.across.clusters` set to `true` ?

[2022-02-16 10:54] Pearl1594 commented on #5999
Thanks for sharing the details. It's quite odd that it's trying to pull the image when it's locally available. My best guess is that because the kubernetes-dashboard manifest / config has an image pull policy set to always. Can you please try editing the config by doing a: `kubectl edit deployment kubernetes-dashboard -n kubernetes-dashboard` and edit the imagePullPolicy to `IfNotPresent` instead

[2022-02-16 10:54] aleskxyz commented on #4542
@DaanHoogland
@weizhouapache is right. The goal of this request is to use network services for servers outside of CS but in the same subnet of the other vms in CS. because we want the VR to be GW for that server.
Regarding to the IP reservation feature, yes it is a different request but I raise it to notice that we can design ip reservation feature a way that we could extend it later to meet out r

[2022-02-16 11:32] weizhouapache commented on #4542
@aleskxyz
thanks for your confirmation.

CloudStack saves all public IPs in its database (`user_ip_address` table), so it is easier to reserve a public IP, for example set IP state to 'Reserved'.
However it does not have a table for private Ips (`private_ip_address` table saves the info of private gateway). so it is more complex than public IP reservation.

a workaround for feature question is,
(1

[2022-02-16 11:33] tsinik-dw commented on #5924
Hi @weizhouapache,
Yes, the `migrate.vm.across.clusters` is set to `true`.

Just checked (for fun) the migration with this global setting to `false` and got the exact same error message  (:trollface:), if that is of any help.

[2022-02-16 11:37] nvazquez commented on #5924
Thanks @tsinik-dw - can you please check the output of xe vm-list on the host 9 (xcp1.noc-dev.localdomain)? It seems like the VM is not found somehow

[2022-02-16 12:05] tsinik-dw commented on #5924
Hi @nvazquez,

the thing is that host 9 is the destination host (the XCP). So the VM is not present there because the migration didn't took place.

Initially, the VM is on host 4 (XEN) , see xe vm-list on XEN:
[code]

the same command on host 9 (XCP) is
[code]

I also attach the host details from DB, in CSV format [hosts.txt](https://github.com/apache/cloudstack/files/8079675/hosts.txt)

[2022-02-16 12:33] edikevich commented on #5999
When I manually add egress rules in kubernetes cluster network kubernetes-dashboard was up and running. Now I have all running pods:
![image](https://user-images.githubusercontent.com/42668237/154265175-c7a2909a-cec2-44a4-a6e0-023c18cfc51e.png)
But in ACS UI Clustes still in starting state

[2022-02-16 12:49] Pearl1594 commented on #5999
Do you see any such messages in the Management server logs:
`Error while waiting for Kubernetes cluster: <cluster-name> API dashboard service to be available`

Ideally there are 3 things that are checked  -
1. No of nodes are equal to what was initially configured when deploying the cluster (based on the fact that the nodes are up and running, I think this check should have passed)
2. if the kuber

[2022-02-16 13:15] aleskxyz commented on #4542
@weizhouapache You're welcome!
It is a clever idea! But AFAIK there are some situations where VR checks power state of VM to change its configuration. We should take care of that.

[2022-02-16 13:48] edikevich commented on #5999
@Pearl1594

This is log via fresh install new kubernetes cluster:

[job-6410.txt](https://github.com/apache/cloudstack/files/8080306/job-6410.txt)

nodes:
![image](https://user-images.githubusercontent.com/42668237/154277653-677eee35-57bc-4d70-942c-17b081cd1a4d.png)

kubernetes config isn't avaible:
![image](https://user-images.githubusercontent.com/42668237/154277504-6c1cee43-b631-4f37-b6fd-b1aab

[2022-02-16 13:54] Pearl1594 commented on #5999
I see this at the end of the logs you shared:
`Waiting for Kubernetes cluster : kube1 control node VMs to be accessible`

which indicated that the nodes aren't in ready state - by state of the nodes, it isn't the VMs in Running state but rather the output of `kubectl get no` can you check if that is returning the right result.

[2022-02-16 13:56] edikevich commented on #5999
![image](https://user-images.githubusercontent.com/42668237/154279260-f3d2e4a3-d428-4a49-a351-bb7f983ee242.png)

and on previous screenshot

[2022-02-16 14:07] Pearl1594 commented on #5999
my apologies, I missed the screenshot in the previous message. I'll give it a try again, and get back to you.

[2022-02-16 14:13] nvazquez commented on #5924
Thanks @tsinik-dw, I've been investigating and it seems like the `migrateVirtualMachine` API does not support this type of migration and indeed the `migrateVirtualMachineWithVolume` API should be used.

Can you please try passing the `migrateto` parameter to the `migrateVirtualMachineWithVolume` API and send the management server logs?

[code]
Reference: https://cloudstack.apache.org/api/apidocs-4

[2022-02-16 15:25] nvazquez commented on #5527
Hi @havengit I have tried some scenarios on KVM with a cluster of 2 hosts:

Case 1: SUCCESS
Deploy VM1 - select host anti-affinity -> VM running on host 1
Deploy VM2 - select host anti-affinity -> VM running on host 2
Deploy VM3 - select host anti-affinity -> ERROR
<img width="392" alt="Screen Shot 2022-02-16 at 12 09 53" src="https://user-images.githubusercontent.com/5295080/154294709-fedda2aa-da

[2022-02-16 15:41] DaanHoogland commented on #4542
ok @weizhouapache @aleskxyz , so this is not about the configuration of the static nat/Portforwarding/LB at all? In that case it could be in a network detail. This 'feature' has been requested before.

[2022-02-16 15:47] nvazquez commented on #5527
@Pearl1594 @davidjumani @weizhouapache @rohityadavcloud @DaanHoogland @andrijapanicsb this will a proper definition, VM deployments are always failing considering the anti-affinity groups, however if the VMs are stopped/started belonging to the anti-affinity group it is possible to have VMs running on the same host as this issue describes (anti affinity for 3 VMs with 2 hosts). Should stop/start a

[2022-02-16 15:55] DaanHoogland commented on #5527
I think anti affinity groups need to have more attributes. A strict anti-affinity might require cluster spreading or even pod spreading for a VM. In those cases a VM should not be started at all if any VM in the group is already running on each host/cluster/pod. If the anti-affinity is not strict one might argue for instance, "no third VM may be started if any resource (host/cluster/pod) doesn't h

[2022-02-16 16:42] vladimirpetrov commented on #5999
Hi @edikevich, I was able to successfully start a CKS kubernetes cluster (1.22.6) on XCPNG 8.2 with CentOS 7 as management server.

![image](https://user-images.githubusercontent.com/12384665/154313485-8d6f750e-9cb4-460f-a0dc-5b9a8bc6a3f7.png)

[2022-02-16 17:57] weizhouapache commented on #4542
@DaanHoogland
this is not related to network details. the feature requests
(1) reserve a private IP. do not allocate to any vms.
(2) create static nat/port forwarding/load balancer to a reserved private IP.

not sure if it was requested by other users before.
again, this feature looks simple, but it is actually not.
It requires new db table, new APIs and some service layer changes.

in my opinion,

[2022-02-16 18:03] DaanHoogland commented on #4542
I agree taking it out of 4.17 for now. Having a private ip bridged out of cloudstack is not a new user case and the work around you mention works very well. I think we can implement this by creating a network detail to store the required private ips to reserve.  No new table is needed, afaics. Whit is needed is the logic to take these values of the detail into account when signing need NICs in the

[2022-02-16 18:15] weizhouapache commented on #5527
@DaanHoogland
this is how it works  in cloudstack for now.
VMs with same host anti-affinity can not be deployed to the same host. It leads to an issue that user cannot deploy VMs if there are not enough hosts.

we could rename the current "host anti-affinity" to "Strict host anti-affinity" , and create a type like "Loose anti-host affinity". The new type works like guest os preference. VMs are pre

[2022-02-16 18:39] weizhouapache commented on #4542
@DaanHoogland
BUT there is no api to create/update/remove network details

more complicated thing is, virtual machine id is a required parameter when enable static nat, create port forwarding rules.
but the reserved IP does not belong to any virtual machine.

[2022-02-16 18:43] weizhouapache commented on #5527
@nvazquez
I suspect, the root cause of this issue is, affinity group is not checked when start a vm with last host id.

I have fixed a similar issue with guest os preference in #4338,
unfortunately it seems to be broken by #3600 which reverted the change cc @GabrielBrascher .
I have created a PR to fix it #6000

we need more logs to confirm it.  if so, we need to add check for affinity group in `c

[2022-02-16 22:35] soptecsn commented on #5770
Hi Nicolas,

Well, in the issue we propose to select snapshots locations. Now in
cloudstack we can't choose this, ACS save the snapshots in the same
storage the VM is, and sometimes this causes lot of performance and
space problems. So, if we want to prepare an specific infrastructure
servers for snapshots, it will be great to select like "snapshots pools"
so we can separate the snaps from the pro

[2022-02-17 01:52] nvazquez commented on #5918
Thanks @weizhouapache - @tsinik-dw I'll close this issue for now, please re-open if necessary

[2022-02-17 01:52] #5918 closed

[2022-02-17 02:10] nvazquez commented on #5527
Thanks @weizhouapache checking it

[2022-02-17 02:44] #5913 closed

[2022-02-17 02:51] nvazquez commented on #5527
@weizhouapache I tested the fix but still getting all the 3 VMs running even though they belong to an anti-affinity group. Attaching the logs [antiaffinity.log](https://github.com/apache/cloudstack/files/8085179/antiaffinity.log)

[2022-02-17 03:05] nvazquez commented on #5989
Sorry for the delay @nxsbi - I think there is no actual way to retrieve this information. However, you can query the events for user logins and their last login date to have an idea of the active users (however this approach may not be accurate):

[code]

[2022-02-17 06:46] edikevich commented on #5999
Hi @Pearl1594 and @vladimirpetrov

Can someone explain me how ACS get Cluster State?
Now when I created Isolated network and add egress allow rules I can see on control plane that all work good - I have all ready nodes and pods but in UI Cluster State still "Starting".
![image](https://user-images.githubusercontent.com/42668237/154420492-5ecadbd8-4e60-40a0-a6c5-dc10a5d569ca.png)

MB ACS don't get

[2022-02-17 07:03] Pearl1594 commented on #5999
@edikevich The following code snippet : https://github.com/apache/cloudstack/blob/4.15.2.0/plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/actionworkers/KubernetesClusterStartWorker.java#L565-L574 explains the 3 checks that are done before marking the cluster to be ready / puts it in Running state:

1. No of nodes are equal to what was initially configured when d

[2022-02-17 07:18] edikevich commented on #5999
@Pearl1594
In log:

2022-02-16 17:33:23,054 DEBUG [o.a.c.f.j.i.AsyncJobManagerImpl] (API-Job-Executor-6:ctx-05494fe3 job-6410) (logid:cdba81ce) Complete async job-6410, jobStatus: FAILED, resultCode: 530, result: org.apache.cloudstack.api.response.ExceptionResponse/null/{"uuidList":[],"errorcode":"530","errortext":"Failed to setup Kubernetes cluster : kube1 in usable state as unable to access cont

[2022-02-17 07:19] edikevich commented on #5999
On contol-plane:
![image](https://user-images.githubusercontent.com/42668237/154425122-209b7e36-bdd6-417e-894f-39c4a091870c.png)

[2022-02-17 08:13] Pearl1594 commented on #5999
@edikevich can you telnet to the public IP of the CKS cluster via port 2222 from the management server?

[2022-02-17 08:14] DaanHoogland commented on #5989
@nxsbi in #5588 there is an active connections output parameter added. Is this what you are looking for?

[2022-02-17 08:27] tsinik-dw commented on #5924
Hi @nvazquez,

I've got good news!... I tried the command you proposed and the VM named MIGR-VM-SF-2 was successfully migrated from XEN to XCP with the following output on cmk:

[code]

I attach the related management log [nv_interclust_vm_migr_sf_success.txt](https://github.com/apache/cloudstack/files/8086515/nv_interclust_vm_migr_sf_success.txt)

It is also **important** that I was able to migra

[2022-02-17 08:38] tsinik-dw commented on #5918
Hi @weizhouapache, @nvazquez,

cloud-init is the way to go. Thanks!

[2022-02-17 08:47] weizhouapache commented on #5527
@nvazquez
I had a quick check on logs, it seems affinity group check has been processed in DeploymentPlanningManagerImpl, so my suspicion is not correct.

I think the issue is because 3 vms are started in parallel.

the original vm state:
(job_107) VM 1: Stopped, host_id: NULL, last host_id: 2
(job_108) VM 2: Stopped, host_id: NULL, last host_id: 2
(job_109) VM 3: Stopped, host_id: NULL, last host

[2022-02-17 09:16] edikevich commented on #5999
@Pearl1594
YES, problem was in firewall in our company. When we grant access from our management server to public IP pool via 2222 and 6443 ports cluster state is changed to Running.

BUT! Now I have anothe problem - when I deploy large cluster - about 9 worker nodes cluster stuck in Starting state again:( MB we need open some another ports or check something else?

[2022-02-17 10:21] nvazquez commented on #5924
Great news @tsinik-dw! It is the UI missing the `migrateto` parameter in this case, can you please post a screenshot of the migrate dialog you get on the UI? From your logs shared earlier, I the findSuitableHostsForMigration information retrieved is:
[code]

[2022-02-17 10:39] edikevich commented on #5999
@Pearl1594

I am sorry to bother you but I have strange behaviour.
Kubernetes cluster deploy success only if I create Isolated Network with default deny egress policy and add alloy egress rules manually:)

[2022-02-17 10:59] shwstppr commented on #5924
@nvazquez @tsinik-dw on the `migrateto` parameter, support was added in https://github.com/apache/cloudstack/pull/5145 and should be available in 4.17.0

[2022-02-17 11:17] nvazquez commented on #5924
Excellent, thanks @shwstppr - closing this issue

[2022-02-17 11:17] #5924 closed

[2022-02-17 11:20] tsinik-dw commented on #5924
@nvazquez,

This is a screenshot of the migrate dialog on the UI (ACS 4.16.0)

![2022-02-17 13_14_36-Window](https://user-images.githubusercontent.com/87693561/154470819-90b4135c-0139-441e-81b8-ae05380489df.png)

...looking forward to see the https://github.com/apache/cloudstack/pull/5145 UI 😄 which is great!

[2022-02-17 11:23] nvazquez commented on #5924
@tsinik-dw this PR is already merged and should be available on the nightly packages, if you can test it please let us know your results

[2022-02-17 12:55] BenoitLair commented on #5876
If a Netscaler is being added with vpx11, once upgrade is done towards vpx13, default password is forced to change

So when vpx13 password is changed, it need to be changed in ACS Database as there are no Gui for this on ACS for an existing Netscaler device
Then new password has to be encrypted with Jasypt library with two way handshake using the private "key" given on ACS cloudstack installation

[2022-02-17 13:22] Pearl1594 commented on #5999
Thanks for sharing these details. So, when you deploy the k8s cluster, you specify a pre-existing network deployed with an offering that has default egress policy as false or have set `cloud.kubernetes.cluster.network.offering` global setting to a network offering with deny egress policy?

I tried deploying a k8s cluster with an offering with deny policy, and was able to reproduce your issue which

[2022-02-17 14:42] edikevich commented on #5999
@Pearl1594
I made many many tests and now I don't understand how it works)
Some clusters are deployed on DefaultNetworkOfferingforKubernetesService with different Kubernetes ISOs.
Clusters with more than 5 worker nodes cant be deployed on DefaultNetworkOfferingforKubernetesService in my case.
In isolated network it depends on which Kubernetes ISO do you use.
Often via "kubectl get no" I don't see

[2022-02-17 19:59] lijinlongpq opened #6004 "Failed to add host rhel 7"
##### ISSUE TYPE
 Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Add zone with advanced networking

##### OS / ENVIRONMENT

Management Server: Ubuntu 20.04
Agent: Red Hat Enterprise Linux Server release 7.9

##### SUMMARY

Previously I had successfully setup cloudstack 4.15.0 with advanced networking in my lab.

Now I try to setup in our office environm

[2022-02-17 20:00] lijinlongpq commented on #6004
[agent.log](https://github.com/apache/cloudstack/files/8091823/agent.log)
[management-server.log](https://github.com/apache/cloudstack/files/8091824/management-server.log)
![cloudstack-add-host-failed](https://user-images.githubusercontent.com/9441400/154561280-87be1e55-4485-47c5-936c-94b617dcc512.jpg)

[2022-02-18 00:51] #5677 closed

[2022-02-18 01:44] #5934 closed

[2022-02-18 01:51] nvazquez commented on #4482
Hi @wido @GabrielBrascher is there any update on this?

[2022-02-18 02:19] #5926 closed

[2022-02-18 06:29] edikevich commented on #5999
Hi @Pearl1594

Sometimes in 'kubectl get node' I see that kubectl dont detect all nodes. How I can redeploy nodes?

[2022-02-18 06:36] Pearl1594 commented on #5999
@edikevich when you say that it doesn't detect the node, do you mean they are listed but are in an incorrect state, i.e., Not Ready? If so, before retrying to setup the node again, go to the specific nodes and verify:
- if the service setup-kube-system ran successfully.
- if you notice that the script failed, check the daemon logs `/var/log/daemon.log` to see if you notice any logs specific to the

[2022-02-18 06:45] Pearl1594 commented on #5999
And do you see any issues on the 3rd node? And is the CKS cluster in Error state?

[2022-02-18 06:53] satishglondhe commented on #5976
Hi @davidjumani , I have described the autoscaler deployment below. I checked for the policy, it was already set to 'Always', tried deleting the pods many times. Gives the same "failed to get node infos for groups" every time. I checked for the names of instances in Cloud Stack and in cluster, the names match.

`kubectl describe deployment cluster-autoscaler -n kube-system`

Name:

[2022-02-18 07:00] Pearl1594 commented on #5999
Based on the logs you've shared @edikevich , it seems like something went wrong during the` setup-kube-system `script.

[2022-02-18 07:15] GabrielBrascher commented on #4482
@nvazquez not yet, this is still on our "backlog".

[2022-02-18 07:16] edikevich commented on #5999
On anothe system where deploy-kube-system didn't start:

![image](https://user-images.githubusercontent.com/42668237/154635734-feb5eaed-47fb-4f19-97fb-c76958e1bb48.png)

[2022-02-18 07:21] edikevich commented on #5999
ls -la /etc/systemd/system/setup-kube-system.service :
-rwxr-xr-x 1 root root 133 Feb 18 07:11 /etc/systemd/system/setup-kube-system.service

cat /var/log/daemon.log | grep deploy-kube-system :
Feb 18 07:11:21 systemvm cloud-init[1196]: Failed to start deploy-kube-system.service: Unit deploy-kube-system.service not found.

ls -la /etc/systemd/system/deploy-kube-system.service
-rwxr-xr-x 1 root roo

[2022-02-18 07:31] Pearl1594 commented on #5999
Ok, that seems very odd.. it seems like cloud-init created the file a bit later and the runcmd (for starting the deploy-kube-system service) was executed before

[2022-02-18 10:46] weizhouapache commented on #5248
@nvazquez @ngrosc
this is not a bug or new feature.
cloudstack already supports moving vm from an accout to another account or project.

stop the vm and remove all network rules on the vm.
![image](https://user-images.githubusercontent.com/57355700/154667803-d8459440-14d5-4cc5-8af4-93b15e9df1ad.png)

you can move vm to a project
![image](https://user-images.githubusercontent.com/57355700/154665111

[2022-02-18 10:46] weizhouapache commented on #5248
@nvazquez
there is a bug on UI, I will fix it

[2022-02-18 12:09] rohityadavcloud commented on #6004
Hi @lijinlongpq I'm not sure what caused it, it appears the certficate import failed for some reason. We might need to look at those certificate and check if your CA certificate pair is correct in the first place, possible options are (a) re-deploy your env, esp drop current database and re-deploy your env, (b) if previous option is not possible then delete the entries from cloud.configuration tab

[2022-02-18 15:27] nvazquez commented on #5924
Excellent thanks @tsinik-dw!

[2022-02-18 16:39] #5512 closed

[2022-02-18 17:41] nvazquez commented on #5248
@weizhouapache I cannot remove a VM from a project to an account: getting this error:
<img width="400" alt="Screen Shot 2022-02-18 at 14 39 11" src="https://user-images.githubusercontent.com/5295080/154734222-03da248d-498b-46a6-b615-7d26e708b845.png">

Working on a fix

[2022-02-19 03:59] lijinlongpq commented on #6004
Thank you Rohit Yadav, I did re-deploy the env, a new VM. And yes, it's working now.

[2022-02-19 03:59] #6004 closed

[2022-02-20 10:41] leolleeooleo commented on #5500
Hi @rohityadavcloud ,
For example
Ceph Total Disk Capacity: 9 TiB
Replica set: 3
CloudStack Overprovisioning Factor: 2
CloudStack Disk Allocated: 2 TiB
CloudStack Disk Size Used: 1.8 TiB (with Replica is 5.4 TiB)
![image](https://user-images.githubusercontent.com/12134066/154836117-a1259f7d-854f-4e26-b3b2-11f9cc2b8279.png)

1. Why Used 5.4 TB is over then Allocated 2TB?
    It is weird.
2. Does it

[2022-02-21 00:51] #5248 closed

[2022-02-21 00:52] nvazquez commented on #5248
Fixed on PR #6010

[2022-02-21 06:31] davidjumani opened #6011 "GSoC 2022 Idea: View Logs in the UI"
## Background

As of now, when an admin encounters an issue or error in CloudStack, the maximum information they can immediately get is the API failure response which provides a reason for the failure. At times this might not be sufficinet to diagnose the error and would require the admin to investiage the CloudStack logs. This would require the admin or the sysadmin to log into the VM running Clo

[2022-02-21 08:54] #5527 closed

[2022-02-21 09:04] DaanHoogland opened #6013 "regular user has no access to offferings for creating a new volume"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
![image](https://user-images.githubusercontent.com/2486961/154922215-996017aa-173c-4f4d-a2bb-e4a134261022.png)

##### ACTUAL RESULTS

[code]
![image](https://user-images.githubus

[2022-02-21 09:47] weizhouapache commented on #6013
hmm
this looks like a blocker issue

api does not work either
[code]

[2022-02-21 09:48] weizhouapache commented on #6013
@DaanHoogland
this seems to be another regression of #5008

[2022-02-21 10:21] DaanHoogland commented on #6013
I can confirm it works in 4.16.1 RC

[2022-02-21 10:25] harikrishna-patnala commented on #6013
DB query on diskoffering view failed.
com.cloud.utils.exception.CloudRuntimeException: Caught: com.mysql.cj.jdbc.ClientPreparedStatement: SELECT disk_offering_view.id, disk_offering_view.uuid, disk_offering_view.name, disk_offering_view.display_text, disk_offering_view.provisioning_type, disk_offering_view.disk_size, disk_offering_view.tags, disk_offering_view.use_local_storage, disk_offering_view

[2022-02-21 10:49] rohityadavcloud opened #6014 "Configure MTU size for KVM"
Introduce a new global setting that can be used to customize all MTU values the MTU interface (see libvirt XML - https://libvirt.org/formatnetwork.html#elementsConnect).

First of all we implemented a change for each single nic of a vm. We observed that this is not useful because Linux Bridges / OpenvSwitch with Libvirt always configures bridge network interface MTU
to use the lowest MTU of all po

[2022-02-21 11:00] nvazquez commented on #4542
Thanks @DaanHoogland @weizhouapache - moving to the next release

[2022-02-21 11:23] harikrishna-patnala commented on #6013
Created a PR to fix the issue https://github.com/apache/cloudstack/pull/6015, please review

[2022-02-21 11:34] harikrishna-patnala opened #6016 "GSoC 2022: CloudStack Terraform Provider - Add datasources for the existing resources"
## Background
Terraform is an Infrastructure as Code (IaC) software that provides a consistent CLI workflow to manage resources in
many cloud services. Cloudstack Terraform provider integrates with Cloudstack to aid in managing and automating the deployment of resources in cloudstack. We have recently made the first release of CloudStack Terraform Provider v0.4.0 https://github.com/apache/cloudsta

[2022-02-21 12:15] weizhouapache commented on #5467
starting on this feature
(1) add new column `vlan_for_l2` to `physical_network` table.
(2) add/update physical networks with vlan for L2 networks. it contains a vlan id check, and overlap check with `vnet` and shared networks.
(3) service layer changes: pick up vlan id when create a L2 network, and vlan id is released when remove a L2 network.

@nvazquez any opinions ?

[2022-02-21 12:29] DaanHoogland opened #6017 "UI: space does not select/unselect check boxes"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When (for instance?) regestering a template, a series of check-boxes can be (un)set. in 4.15 you can walk through the set with <tab>/<shift>-<tab> and select or unselect any you want <space>. In 4.16 the <space> for (un)selecting does not work

[2022-02-21 13:39] nvazquez commented on #5467
@weizhouapache I mostly agree on 2 and 3, but instead of 1 I propose:

- Add a new boolean parameter to the dedicateGuestVlanRange API (something like this):
<img width="534" alt="Screen Shot 2022-02-21 at 10 37 17" src="https://user-images.githubusercontent.com/5295080/154965828-aa44a1c3-f4e0-41bc-b4ec-7106f899b5f1.png">
- Add a column on the `op_dc_vnet_alloc` to indicate each VLAN on the range

[2022-02-21 14:31] nvazquez commented on #4357
Looks good to me @weizhouapache

[2022-02-21 15:09] nvazquez commented on #5467
As discussed offline with @weizhouapache it will still need proper definition, moving it to the next milestone

[2022-02-21 15:25] #3752 closed

[2022-02-21 15:25] #5494 closed

[2022-02-21 15:28] #5555 closed

[2022-02-21 16:38] mlsorensen commented on #5794
Would this basically be an automated shortcut for removing and adding the host, or is there a benefit of actually moving it, like retaining the host's ID or history?

[2022-02-21 20:38] Damans227 commented on #6016
@harikrishna-patnala @Pearl1594 I am interested in submitting a proposal on this issue for GSOC2022. Taking a quick look at the `cloudstack-terraform-provider` repo, I can see there are 50 cloudstack resources available via terraform:

[code]

As part of this project, how many data sources are we targeting from these 50 resources? And which ones should be done on a priority basis?

cc: @borisstoya

[2022-02-21 20:39] Damans227 commented on #6011
Nice one!

[2022-02-21 22:42] #5957 closed

[2022-02-22 04:27] davidjumani opened #6021 "GSoC 2022 Idea: Add the ability to Safely Shutdown / restart CloudStack"
## Background

Shutting down / Restarting Cloudstack is a necessary step in upgrades, system maintenance, etc. As of now, there is no way to safely shutdown or restart CloudStack. It is directly terminated via systemd. Since this is the case, any asyncronous job or background task is abrubptly terminated and can fail. As of now, CloudStack maintains a list of asynchronous jobs wihtin it's database

[2022-02-22 04:51] davidjumani commented on #5976
Can you edit the deployment and point the container image to `apache/cloudstack-kubernetes-autoscaler:latest`

[2022-02-22 05:34] wido commented on #5500
It is correct that CloudStack does not know how much data is being used inside Ceph.

CloudStack gets its information from libvirt, try running this on one of the hypervisors:

<pre>
virsh pool-list
virsh pool-info <uuid>
</pre>

Ceph reports back:

- Total RAW capacity of Ceph
- Stored bytes on Ceph

CloudStack nor libvirt know if the replication size configured in Ceph is 2x, 3x, 4x, etc. Or it

[2022-02-22 06:12] Pearl1594 commented on #6016
@Damans227 great to see that you are interested. In terms of the datasources, ideal practice is to have a datasource for the supported resources. However, on a priority basis, if we were to select datasources to be supported, we'd include:
[code]

If you are keen on further increasing support of resources - we can also look at adding the following resources:
[code]

[2022-02-22 07:43] DaanHoogland commented on #5794
Added bonus of that

is that the comments/annotations on the host would be retained. I like the idea but fear this will be worked on more than it will be used. In a datacenter a cluster would typically be organised around which hosts sit together in the top, middle or bottom of which rack/pod. a re-clustering would mean physical moving usually and the removing/adding would make more sense. Of cour

[2022-02-22 07:44] #6013 closed

[2022-02-22 09:09] satishglondhe commented on #5976
I changed the image in deployment with the image you mentioned. Same result: Failed to get node infos for groups: Unable to find node in cluster. Following is the deployment.

`kubectl describe deployment cluster-autoscaler -n kube-system`

Name:                   cluster-autoscaler
Namespace:              kube-system
CreationTimestamp:      Tue, 22 Feb 2022 08:55:48 +0000
Labels:

[2022-02-22 09:37] DaanHoogland commented on #6017
@utchoang I learned that this is due to the `v-ctrl-enter="handleSubmit"` that has been added to many dialog. Would you know how to enable `space` for selection on the dialogues, anyhow?

[2022-02-22 09:48] Damans227 commented on #6016
Ok, got it. I will start working on a draft of the design document for this issue. Thanks for your help.

I will let you know if I have any further questions.

[2022-02-22 10:20] slavkap opened #6026 "KVM - Volumes are not disconnected from the host while migrate or stop a VM"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

When you migrate a Virtual machine to another host the volumes are still connected to the old one. Also, the situation is the same when you stop a virtual machine, the volumes are not disconnected.

Affected Storage drivers are - SolidFire, Linstor, StorPool and those using `IscsiAdmStor

[2022-02-22 12:15] Yashikaone commented on #6021
Hello @davidjumani
I'm Yashika Sarkar, an undergraduate student and I would like to work on building a solution to this issue therefore I want to put forth a proposal for this particular issue.
I am new to open source and I am particularly interested in contributing to this organisation for two major reasons, it'd be a great way to learn more about cloud computing and I have had more exposure to J

[2022-02-22 16:44] GabrielBrascher commented on #5794
@nvazquez @andrijapanicsb that's true, it would be focused specifically on KVM. Definitelly not a good idea for VMware and XenServer.

@mlsorensen indeed, it is a shortcut for removing and adding a host from CloudStack.
Also, I don't think it would cause downtime for VMs, as long as they are allocated either on local storage and/or zone-wide shared pools. Host IP addresses, connected pools, and gu

[2022-02-22 17:17] sureshanaparti opened #6030 "GSoC 2022 Idea: Report / Manage the VM jobs in CloudStack."
## Background

CloudStack allows users/operators to perform various operations on the Virtual Machines (VMs). When multiple operations are performed on a VM at the same time, these operations are maintained and sync-ed using the sync queues. Any long running job (eg. volume snapshot) of a VM keeps other jobs in waiting/pending state, and only be picked once the active job is finished. Currently, i

[2022-02-22 20:22] DaanHoogland commented on #5794
Yes, so that would limit changing clusters within a pod, would it? As said and though I like the idea from a logical point of view, I fear it will not be used as much as it would seem at first sight.

If however it is persistently done manually it does justify an API endpoint as manual DB manipulation should be avoided.

[2022-02-22 21:39] GabrielBrascher commented on #5794
Agree, let's not proceed with creating a new API command then.
Eventually, if this becomes a common case, then it would make sense to consider an API endpoint.

[2022-02-23 01:36] utchoang commented on #6017
@DaanHoogland I saw you create a PR to solve it. It is true that the `v-ctrl-enter` event suppressed the checkbox with a `space` event. However, for `switch`, the `space` event is not applied to it, only the `enter` event. I think there should be a similar `@keyup.space` event on `a-switch` to check/uncheck it?

[2022-02-23 08:11] DaanHoogland commented on #6017
tnx @utchoang . what do you think of #6027 ? I did it a bit brute force because I would like to have a bit uniform code. Do you think changing to the `@keyup` events makes sense? and should I revert and only apply to the registration form?

[2022-02-23 08:16] utchoang commented on #6017
@DaanHoogland I think your changes are very good. Just add `@keyup.space` event to `a-switch` to switch/unswitch is fine.

[2022-02-23 09:30] borisstoyanov commented on #6030
Hi @sureshanaparti, thank you for submitting this idea, I like it.

Please indicate if this is large (350hrs) or medium(175 - like last year) project.

[2022-02-23 09:35] borisstoyanov commented on #6021
Hi @davidjumani, great idea! I think it'll contribute to smoother upgrades and maintenance of ACS environments. Can you please indicate if this is large (350hrs) or medium(175 - like last year) project.

Hi @Yashikaone, great that you have interest! I'll be helping out with coordination of the GSoC projects this year, so if you have any questions reach out.
I think the window for proposal submissi

[2022-02-23 09:40] borisstoyanov commented on #6016
Hi @Damans227, great to see you have interest in this project as well. Please work with @harikrishna-patnala and possibly @Pearl1594 to file a submission

@harikrishna-patnala I'd assume this could be a med or large project (175/350hrs), please work with the student and define the scope. We need to know what the size would be.

[2022-02-23 09:43] borisstoyanov commented on #6011
@davidjumani good idea, can you please add more details to the idea. One conflict that could potentially appear is that not always Cloudstack root admins have access to logs or even ssh on the management server, so it could be a point of conflict.

Can you also mark if this is a medium project 175hrrs or large one 350.

[2022-02-23 09:43] NuxRo opened #6033 "GSoC 2022 Idea: Keep track of VM's "last known state" and enforce it after an outage"
Hello,

An infrastructure outage can take out several or all VMs. In the aftermath it's not always possible to know which VMs were supposed to be ON or OFF, especially if HA is not enabled. People keep powered off VMs around all the time for many reasons.

I propose we add a feature where Cloudstack keeps track of the "last known state" of a VM and after an outage either enforce it (ie start the V

[2022-02-23 09:52] borisstoyanov commented on #6033
@NuxRo thanks, great idea. I know some hypervisors like VMware are syncing this state, so I'd assume this would be relevant to others? Can you elaborate a bit on the idea. Can you also put a size on the project medium 175hrs or large 350hrs, you might want to have a developer to do an assessment of the changes required to come up with this part. Also add in the perspective of space, storage, syste

[2022-02-23 10:10] ravening commented on #4357
@hstan77 if you create a dummy vm then those resource will be counted towards the domain resource allocation which is wrong.

[2022-02-23 10:34] borisstoyanov commented on #4825
@harikrishna-patnala can you please indicate if this is medium or large project (175/350hrs)

[2022-02-23 10:59] davidjumani opened #6036 "GSoC 2022 Idea: Make CloudStack aware of Unmanaged Kubernetes Clusters"
## Background

ClouStack Kubernetes Service [CKS] is CloudStack's own managed Kubernetes offering which users can use to deploy and manage Kubernetes Clusters from CloudStack. However, there might be cases in which users may want to deploy their own Virtual Machines and convert them into Kubernetes Nodes to run their own personally managed Kubernetes Clusters outside the scope of CloudStack.
In su

[2022-02-23 11:39] harikrishna-patnala commented on #4825
@borisstoyanov to me it looks like Large project, because students have to understand or do the following (keeping these sections to let students go through this)
1. Know how to run smoke/integration tests
2. Work on idea to link API operation and config key
3. Write a wrapper around configDepot
4. Save values to DB

[2022-02-23 12:30] Yashikaone commented on #6021
Thank you for the information @borisstoyanov I'll reach out to you if I have any question.

[2022-02-23 15:25] Damans227 commented on #6016
@Pearl1594 Hi! In the CloudStack API documentation, I see there are about 72 resources supported. Is this project going to include implementing data sources for all of them, or am I looking at the incorrect list of resources?

Maybe my perspective of looking at work involved in the project is broken, but I feel I could define a clear timeline for implementation if I know the exact number of resour

[2022-02-23 15:55] sureshanaparti commented on #6017
Fixed in #6027 for some forms, closing this issue.

@DaanHoogland @utchoang any further changes to other forms, if required, can be addressed in 4.17.  Please open another issue (with details) for tracking.

[2022-02-23 15:55] #6017 closed

[2022-02-23 17:10] sureshanaparti commented on #6026
Fixed in #6029

[2022-02-23 17:10] #6026 closed

[2022-02-23 18:17] Pearl1594 opened #6038 "SSVM scaling issue"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When active cmds i.e., no of entries in cmd_exec_log table is 0 and the SSVM standby capacity - `secstorage.capacity.standby` is higher than the max sessions an SSVM can handle `secstorage.session.max`, then the no of SSVMs get scaled up. Howe

[2022-02-23 20:19] nvazquez opened #6039 "GSoC 2022 Idea: More granularity on affinity/anti-affinity groups"
Currently, defining an affinity or anti-affinity rule works only at hosts level. I would like to have more detail on the affinity group, extending it at different levels (cluster, pod, zone,..) and also within the same level, being able to add or remove resources from the group.

For hosts and storage pools, administrators can make use of host tags or storage tags to get a similar result. However,

[2022-02-24 05:04] Pearl1594 commented on #6016
@Damans227 you are right, the link you shared provides an entire list of resources and their associated APIs supported in CloudStack. However, for the scope of this project, we will focus on the list of resources already supported in Terraform - i.e., https://registry.terraform.io/providers/cloudstack/cloudstack/latest/docs (Resources Section) - and look at providing datasource support for those.

[2022-02-24 05:12] harikrishna-patnala commented on #6016
Agree with @Pearl1594 let's first start with adding datasources for existing resources and then we can extend if we get time

[2022-02-24 05:38] davidjumani commented on #6021
@Yashikaone Great to see your interest! As Boris has mentioned, the window for submitting proposals is not yet open. However, you can reach out to us if you'd like to get a deeper understanding of CloudStack, the idea or work on a draft proposal until the window opens

[2022-02-24 06:06] davidjumani commented on #6011
@borisstoyanov I agree that they might not have ssh access for obvious security reasons. But IMO, the admin (or at least root admin) has every right to view the logs since they do not disclose any information that the admin does not already know. This is no different than configuring the rsyslog to export the logs to a remote server

[2022-02-24 06:17] davidjumani opened #6040 "GSoC 2022 Idea: CloudStack Terraform Provider - Add support for Kubernetes Clusters"
## Background

Terraform is an Infrastructure as Code (IaC) software that provides a consistent CLI workflow to manage resources in
many cloud services. Cloudstack Terraform provider integrates with Cloudstack to aid in managing and automating the deployment of resources in cloudstack. We have recently made the first release of CloudStack Terraform Provider v0.4.0 https://github.com/apache/cloudst

[2022-02-24 07:19] Pearl1594 commented on #6016
@Damans227 please note that Terraform depends on the CloudStack go SDK to interact with CloudStack. While most API support may be there, there could be a case where the go SDK may need to be extended to support certain operations.

[2022-02-24 07:43] harikrishna-patnala commented on #6040
Following will be the resources and their operations that need to be added to CloudStack Terraform Provider.

1. Kubernetes cluster - CRUD operations, Start/Stop, Scale, Upgrade
2. Kubernetes supported version - CRUD operations

Please check the APIs under "Kubernetes Service" https://cloudstack.apache.org/api/apidocs-4.16/

[2022-02-24 09:16] borisstoyanov commented on #6039
@nvazquez thanks for the idea, can you indicate if it's either large or medium size project (175/350hrs)

[2022-02-24 09:26] Damans227 commented on #6016
Understood, and thanks for the explanation. This is very helpful.

Please excuse my lack of familiarity with using CloudStack via Terraform 🙏

[2022-02-24 09:40] Pearl1594 commented on #6016
That's perfectly fine @Damans227 , do reach out for any queries.

[2022-02-24 10:44] #5794 closed

[2022-02-24 10:46] GabrielBrascher commented on #5794
Closed for now. Thanks for participating in this discussion :)
Please let me know if this issue makes sense or if any of you see interesting things that we could do in this context.

[2022-02-24 12:37] sureshanaparti opened #6043 "GSoC 2022 Idea: Instant Instance Deploy (using VM Definitions)"
## Background

Currently, Deploy Instances/Virtual Machines(VMs) in Cloudstack requires to specify some offerings, template and other settings through the API (check the API here: https://cloudstack.apache.org/api/apidocs-4.16/apis/deployVirtualMachine.html) or the 'Instance Deployment Wizard' in the UI.

## Requirement
Provision to user/operator to quick deploy an instance using a VM definition/p

[2022-02-25 03:36] Damans227 commented on #6016
Hi @Pearl1594 @harikrishna-patnala @borisstoyanov

I have prepared an unofficial draft of the design document for my GSoC proposal. Ptal and provide any feedback or criticism of my approach to solve the problem.

https://docs.google.com/document/d/1FYdYzcN8fFTDfq1NIhbTLU4DeJhc2HpU/edit?usp=sharing&ouid=109681619309347919886&rtpof=true&sd=true

Fyi, I have the document unlocked for adding the comme

[2022-02-25 04:22] Pearl1594 opened #6044 "GSoC 2022 Idea: Edge Zones"
## Background
Over recent years, Edge computing has been gaining popularity as it defines a model that brings compute and storage closer to
where they are consumed by the end-user. By being closer to the end-user a better experience can be provided with reduction on overall latency, lower bandwidth requirements, lower TCO, more flexible hardware/software model, while also ensuring security and rel

[2022-02-25 04:33] harikrishna-patnala commented on #6016
Thanks, @Damans227 for the draft, to me it looks constructive and the right approach. Let's hear from @Pearl1594 too.

[2022-02-25 04:40] Damans227 commented on #6016
Sounds good, thanks!

[2022-02-25 04:42] Pearl1594 commented on #6016
@Damans227 Brilliant work on the draft proposal! I've added a small comment which pertains to maybe considering adding tests for the datasources/resource. Thanks & great work!

[2022-02-25 04:48] Damans227 commented on #6016
Thanks for all your feedback and answering the question in the draft. I've just read your comment and will incorporate the suggestions very shortly. I will keep you posted.

[2022-02-25 05:51] davidjumani commented on #5950
@pjfanning Let's check back on the dependencies when https://github.com/apache/cloudstack/pull/5151 is merged as it involves changing the vue library itself which could potentially fix some of the dependency vulnerabilities

[2022-02-25 06:34] davidjumani commented on #5976
@satishglondhe Does the kubernetes node names match the VM names ? Also can you post a full log cycle. Sometimes it might not detect the node via the uuid but does so by the hostname. You can also try creating an HPA and increasing the load and watch the autoscaler to see if it detects that pods are unschedulable and comes up with a plan to scale up the cluster similar to :
[code]

[2022-02-25 10:26] sureshanaparti commented on #6038
Fixed in #6042

[2022-02-25 10:26] #6038 closed

[2022-02-25 11:15] rohityadavcloud commented on #3110
@nvazquez can you review if this needs any work or can be closed?

[2022-02-25 11:16] rohityadavcloud commented on #3609
@nvazquez can you review if this needs any work or can be closed? cc @sureshanaparti

[2022-02-25 11:16] rohityadavcloud commented on #5093
Closing this as we've have a PR.

[2022-02-25 11:16] #5093 closed

[2022-02-25 13:36] neogismm commented on #4834
Hi folks, I'm interested in this idea and want to contribute to this project in gsoc being an open source beginner.

[2022-02-25 13:36] neogismm commented on #4834
As far as I understand, users have to be authorized/imported beforehand by an admin. If this is the case, I figured that OpenID connect (authentication protocol built on top of Oauth) has a state parameter which can connect partner IdPs (from LDAP or SAML) with OpenID providers such as Google to provide authentication.

[2022-02-25 14:35] neogismm commented on #4834
I also have a few questions:
1. What if someone tries to sign in who is not yet authorized from the admin (new user). Should the new user be granted access at all or set their role as a Read Only User or some different role?
2.  What user data apart from: name, email, profile picture should be collected when the user authorizes access for cloudstack.

[2022-02-25 18:08] Yashikaone commented on #6021
Thank you for the reply @davidjumani

[2022-02-25 19:37] rohityadavcloud commented on #4825
This would be very complex for a student, it's going to require more hard-work than really opportunity to learn/do something interesting for students. Furthermore, I think @sureshanaparti 's PR/feature that groups global settings will make working with global settings easier in future - I think this can parked for a future work @harikrishna-patnala probably not suitable/fun for students.

[2022-02-26 11:11] Yashikaone commented on #6021
How do I reach out to you directly @davidjumani and @borisstoyanov ?

[2022-02-26 12:53] zap51 commented on #5999
I'm facing the similar issue as well. Here's the configuration of the cluster.

![image](https://user-images.githubusercontent.com/45934027/155843563-185b5e67-ce96-41eb-8682-12f15657b568.png)

Gets stuck at "Starting". It's the same even if the control plane is in HA as well as non-HA.

Control Plane readiness is very random. In case of HA Control plane, one of the nodes get ready while others don

[2022-02-28 05:56] davidjumani commented on #6021
@Yashikaone You can send us an email, our email ids can be found on our GitHub profile

[2022-02-28 07:01] satishglondhe commented on #5976
Yes, the Kubernetes nodes' names and the names of VMs in the cloudstack UI match. I tried creating HPA, the metrics server as you mentioned, increased the load, following this article https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/ . I was able to see, hpa creating new pods when load was increased. But, after the resources on the node reached it's limit, the

[2022-02-28 09:47] Yashikaone commented on #6021
Thank you @davidjumani

[2022-02-28 10:35] NuxRo opened #6047 "GSoC 2022 Idea: Autodetect IPs used inside the VM"
With regards to IP info reporting, Cloudstack relies entirely on it's DHCP data bases and so on. When this is not available (L2 networks etc) no IP information is shown for a given VM.

I propose we introduce a mechanism for "IP autodetection" and try to discover the IPs used inside the machines by means of querying the hypervisors. For example with KVM/libvirt we can simply do something like this

[2022-02-28 10:50] harikrishna-patnala commented on #4825
Okay @rohityadavcloud makes sense. I'll take it out from GSoC.

[2022-02-28 12:07] #6036 closed

[2022-02-28 15:11] GabrielBrascher opened #6049 "CloudStack allows deploying VMs on Networks that should not be accessed by VM's owner"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced network with security groups

##### OS / ENVIRONMENT

N/A

##### SUMMARY

VMs can be deployed with Networks that have a domain ID where the VM’s owner / domain should not be able to.

Even with the user not being able to list the UUID, it is still possible to use the API c

[2022-02-28 15:28] PaulAngus commented on #6049
Can you do this by using the UUID as a normal user from an account that should not be able to see this network?

[2022-02-28 15:37] GabrielBrascher commented on #6049
@PaulAngus yes, it can be a normal User calling the API and the VM will be deployed on any network, regardless of the owner/domain of the network.

Normal users are unable to list these networks but they can still deploy VMs there.

[2022-02-28 16:08] weizhouapache commented on #6049
@GabrielBrascher
I have fixed a similar issue but with L2 network in #5784

what type of network do you use ?

[2022-02-28 16:51] GabrielBrascher commented on #6049
Thanks for raising that PR, @weizhouapache.

I have not dug deeper into your PR, so I might be missing another context beyond the lines you presented here.
Please, correct me if I am missing something regarding your PR.

Unfortunately, I don't see how changing from "caller" to "vmOwner" in the `_accountMgr.checkAccess,` does fix this issue.

I've tested both ways:
1. Root admin deploying VM for a

[2022-02-28 18:14] rohityadavcloud commented on #5770
@soptecsn this is no longer an issue after the new secondary storage management feature (https://www.shapeblue.com/cloudstack-feature-deep-dive-secondary-storage-management/). Also advise if you need this issue if the fundamental problem is solved with this new feature?

Can you explain your 2nd requirement above?

[2022-02-28 18:28] weizhouapache commented on #6049
@GabrielBrascher
OK, could you share your cloudstack version, zone type and network type ?

in my PR #5769, there are many changes related to network permissoins, mostly in server/src/main/java/com/cloud/network/NetworkModelImpl.java

However, first of all, we need to get a consensus if this is a critical issue for 4.16.1.0.

[2022-03-01 02:03] Damans227 commented on #6016
Hi @Pearl1594 @harikrishna-patnala I have revised the draft of my design document based on the feedback I've received earlier, and it now looks pretty close to what I am planning to submit as an actual proposal for this project. Ptal when you get a chance, and share your feedback:

https://docs.google.com/document/d/1FYdYzcN8fFTDfq1NIhbTLU4DeJhc2HpU/edit

I highly appreciate your guidance on this

[2022-03-01 05:11] sureshanaparti commented on #6030
Hi @damanBirSingh Thanks for your interest in this idea. You can reach out to us, for any guidance on CloudStack, the idea or the draft proposal.

[2022-03-01 08:27] rohityadavcloud commented on #6049
Since the normal user can't list a network or has knowledge of the UUID then in 99.99% of cases this doesn't sound like a critical issue. This still however is a bug that should be fixed, I think it's upto the 4.16.1 RM @sureshanaparti to decide/triage.

@GabrielBrascher I also wonder if there are other APIs that have similar behaviour where a normal user can't list the resource or has knowledge o

[2022-03-01 09:45] GabrielBrascher commented on #6049
@rohityadavcloud I was thinking the same. It is a good thing to run some tests with other API endpoints as well.

[2022-03-01 12:38] Pearl1594 commented on #6016
Hi @Damans227 I reviewed the proposal - really well written! Just added a small comment on adding some buffer time in the proposed timeline. All in all, a great job! Thanks!

[2022-03-01 13:00] Damans227 commented on #6016
Just saw your comment. It's very insightful, and I completely agree with it. I think adding those items which you have suggested will make the draft comprehensive and even more clear. So, I will work on them and let you know when the draft is updated.

Thanks for all your great feedback so far! 👍🏽

[2022-03-02 11:55] nvazquez commented on #5563
Hi @Damans227 are you currently working on this?

[2022-03-02 12:17] nvazquez commented on #3609
@sureshanaparti is planning to work on it @rohityadavcloud

[2022-03-02 12:19] Damans227 commented on #5563
Not yet. I am waiting on some pointers about where to start and what to look for. If you can suggest something in that regard, I can start working on it.

[2022-03-02 13:17] nvazquez commented on #5915
Hi @tsinik-dw
For case number 1) can you try migrate volume API specifying the target storage pool UUID as a parameter instead of trying through the UI? (this seems like a UI bug)
For case number 2) it is not supported

[2022-03-02 14:34] DaanHoogland opened #6052 "null pointers on simulator - SVMs won't start"
in simulator a constant flow of exception traces moves by in the log:
[code]
from several logs, and
[code]
seems to be due to the invocation change in https://github.com/apache/cloudstack/commit/831f7cff545d391c994ad51abafa2b0c8e095734#diff-83d8d4dd27757aa0ff1364c3d156e2396e79f043073acffdddfeb37b1790a8c7R1257

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[2022-03-03 02:17] Damans227 commented on #6016
Hi @Pearl1594 I have added implementation details for creating a new resource using CloudStack`Zone` as an example. It's titled as, _"Sample implementation steps to create a cloudtsack_zone resource"._ Also, I added a note in the `Proposal Timeline` section highlighting that some effort may go into optimizing existing resources in go-sdk. Ptal, and lemme know your feedback:

https://docs.google.co

[2022-03-03 10:31] nvazquez commented on #5915
Thanks for the logs @tsinik-dw! It seems simply the pool is out of space according to the error thrown:

[code]

[2022-03-03 15:44] nvazquez commented on #5989
Closing for now - please reopen if needed @nxsbi

[2022-03-03 15:44] #5989 closed

[2022-03-03 15:46] nvazquez commented on #5979
Closing this issue, please reopen if needed @tetra12

[2022-03-03 15:46] #5979 closed

[2022-03-03 15:50] #5991 closed

[2022-03-03 16:03] Pearl1594 commented on #6016
Looks good @Damans227 great work!

[2022-03-03 16:08] Damans227 commented on #6016
Many thanks for all your feedback and suggestions. Appreciate it!

[2022-03-03 16:11] NuxRo commented on #6033
2-3 months should be more than enough for this feature, @borisstoyanov

[2022-03-03 16:11] NuxRo commented on #6047
In terms of time, 2-3 months should be more than enough to develop this feature.

[2022-03-04 10:02] davidjumani commented on #5976
@satishglondhe Can you try creating a cluster from the latest v1.22 / 1.23 binaries here
http://download.cloudstack.org/cks/

[2022-03-04 13:11] tsinik-dw commented on #5915
Hi @nvazquez,

This error message is a little weird. After repeating the same test today with a 2GB DATA volume and digging deeper into the logs, I came across the following error found on SMlog of the pool master:
[code]

The SR created on the destination pool was 2,2GB.  It seems that it does not respect the hv_ss_reserve value on disk offering, so with this size, it can not create a snapshot of

[2022-03-04 13:29] pjfanning opened #6058 "upgrade netty due to security issue"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

https://github.com/advisories/GHSA-p979-4mfw-53vg

services/secondary-storage/server/pom.xml

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2022-03-04 18:29] nvazquez commented on #5915
@tsinik-dw thanks, I could validate that on the logs:
[code]

I checked the calculation for the asking size on the SolidFire provider uses the volume size and the volume hv_ss_reserve values from the volumes table. To calculate the asking size, CS adds `volume size * (hv_ss_reserve / 100)` to the volume size in bytes - if in your case hv_ss_reserve = 200 then it would mean that CS will ask for 3 t

[2022-03-04 20:36] rohityadavcloud opened #6060 "DB deploy with mvn fails on osx"
The mvn deploydb command fails with:

[code]
Further, the content of the metadata.ini is:
[code]

Starting jetty fails with:
[code]

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

[2022-03-04 20:37] rohityadavcloud commented on #6060
@Pearl1594 I'll need some advise on how the metadata.ini should be created? Perhaps we're doing something in scripts that assumes the OS is Linux?

[2022-03-04 21:35] weizhouapache commented on #6060
like below ?
[code]

4.16.1.0 is the value of `project.systemvm.template.version` in pom.xml

[2022-03-05 02:26] #6052 closed

[2022-03-05 02:55] #3594 closed

[2022-03-05 09:21] rohityadavcloud commented on #6060
This is output of command shared by Wei:

[code]
It appears the bash script is not platform agnostic.

[2022-03-05 12:08] Pearl1594 commented on #6060
This seems to be an issue with the bash version. The following : "${!templates[@]}" way of referencing keys of a map in bash is supported from version 4 onward

[2022-03-05 18:04] rohityadavcloud commented on #6060
@Pearl1594 output on osx:
[code]

[2022-03-06 13:09] #6049 closed

[2022-03-06 17:20] rohityadavcloud commented on #6060
@Pearl1594 is there a way to make this simpler to work on bash 3.x (for osx), like https://stackoverflow.com/questions/1494178/how-to-define-hash-tables-in-bash ?

[2022-03-07 06:27] satishglondhe commented on #5976
@davidjumani  We tried with the latest k8s versions 1.22, 1.23 you mentioned. No, autoscaling is still not working accordingly. Getting same errors, failed to get node infos. Does this have to do with the hypervisor. We're using xcp-ng 8.2, DBV 0.0.1, ACS version- 4.16.0.0. Also can you mention, what kind of setup you're using, or what is ideal for autoscaling to work in k8s. We can implement the

[2022-03-07 09:30] rohityadavcloud opened #6063 "Disable TLS v1.0, Deprecate TLS v1.1; Use TLS v1.2 at least by default and support TLS v1.3"
The latest advise from RFCs are to disable TLSv1.0 along with SSLv2, v3; deprecate TLSv1.1 and have TLS v1.2 by default, support TLSv1.3 as well:
https://datatracker.ietf.org/doc/html/rfc8446
https://datatracker.ietf.org/doc/html/rfc8996

Given we support legacy hypervisors, we can't do this by default. This should change and be considered in near future as and when XS7.1 along with VMware 6.0, 6.

[2022-03-07 10:21] sahilsaini110 commented on #6011
Hello, @borisstoyanov @davidjumani  I'm Sahil Saini. I'm an open-source enthusiast and an undergraduate student at IIT BHU. Cloud computing and networking are two topics I'm currently researching. I'm new to open source, but I'm looking forward to working with the cloud stack and exploring it further.

**I'd want to work on this issue and submit a proposal for the same. I have recently started exp

[2022-03-07 14:25] borisstoyanov commented on #6011
@sahilsaini110, you can reach me and David on the officual cloudstack slack.

[2022-03-07 14:30] rohityadavcloud opened #6067 "UX is deeply untested for normal user account"
We don't test the UI as normal user account, but as a root admin by default. This has manifested as tech debt or bugs over time. While there might not be any functional bugs in many cases, it leads to poor UX if the UI isn't tested/optimised for normal user accounts.

Steps to reproduce:
- Create and log in as a normal user account
- Deploy resources such as VM, volumes, networks, templates etc.
-

[2022-03-07 15:30] Damans227 commented on #6016
Hi @borisstoyanov My proposal for this project is complete and ready to go.
Do we accept early submissions or should I wait until the contributor applications have officially begun, i.e., April 4th? (Just asking for the sake of being well informed, otherwise I am in no rush).

[2022-03-07 17:13] sahilsaini110 commented on #6011
@borisstoyanov Sorry for bothering you again, but I'm having difficulties finding/joining the cloudstack slack channel. Could you perhaps please send me a link or assist me with this?

[2022-03-07 21:16] pjfanning opened #6068 "upgrade axis due to security issues"
##### ISSUE TYPE

 * Bug Report

There are a number of CVEs related to axis jar. This is one: https://github.com/advisories/GHSA-h9gj-rqrw-x4fq

[2022-03-08 01:46] #5964 closed

[2022-03-08 01:50] nvazquez commented on #6067
Partly covered by the manual testing performed on PR #5151, in progress

[2022-03-08 01:57] Damans227 commented on #6016
Another question, I don't see this issue (and many other cloudstack issues) listed under the GSoC2022 ideas list published by [Apache](https://summerofcode.withgoogle.com/programs/2022/organizations/apache-software-foundation) on the GSoC website:

https://cwiki.apache.org/confluence/display/COMDEV/GSoC+2022+Ideas+list#GSoC2021Ideaslist-CloudStack

Can we still pursue this idea for GSoC2022 ?

[2022-03-08 03:16] nvazquez commented on #6068
Hi @pjfanning we have removed axis on PR #5993 - I'm closing this issue

[2022-03-08 03:16] #6068 closed

[2022-03-08 07:04] davidjumani commented on #6011
Hi @sahilsaini110 Glad to see your interest! As Boris had mentioned, you can reach out to us on slack or send us an email, our email ids can be found on our GitHub profile

[2022-03-08 07:16] tsinik-dw commented on #5915
Hi @nvazquez,

here is the output of the SQL queries:

select * from volumes where id = 132;
[code]
Please note, that this volume is now in `Expunged` state because I tried to delete it after the unsuccessful migration and it didn't worked.

Also, the following disk offering output is currently the following but there have been manual changes to the values is several fields.
select * from disk_off

[2022-03-08 10:55] #6058 closed

[2022-03-08 12:09] rohityadavcloud commented on #6060
Closing this as we've a PR and PR has been tested manually on osx. https://github.com/apache/cloudstack/pull/6069

[2022-03-08 12:09] #6060 closed

[2022-03-08 14:20] borisstoyanov opened #6071 "get uploadparamsfortemplate results in NPE"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

VMWare

##### OS / ENVIRONMENT

##### SUMMARY

When executing the following API call we get an NPE, it was observed the same to be working in previous versions

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2022-03-08 14:20] nvazquez commented on #5915
Thanks @tsinik-dw, unfortunately I cannot test this, but I do see the volume has hv_ss_reserve = 0, that may be the reason why its not reserving more space. Have you tried without specifying the new disk offering on the API method? Do you get the same error? For the sake of testing, can you manually update the hv_ss_reserve value for a test volume and attempt the migration again?

[2022-03-08 16:11] nvazquez commented on #5509
Closing per @Pearl1594's remark - @q346249589 please reopen if necessary

[2022-03-08 16:11] #5509 closed

[2022-03-08 16:16] nvazquez commented on #6071
@Pearl1594 I think we have fixed this issue before, do you recall?

[2022-03-08 16:24] Pearl1594 commented on #6071
Is it this you are referring to - https://github.com/apache/cloudstack/pull/5468? If so, that PR doesn't solve the issue. And I don't recollect any other fix for this. As Daan mentioned, it seems as if hypervisor field wasn't passed - however, it's a required parameter.

[2022-03-08 16:30] nvazquez commented on #6071
I see its been passed `hypervisor=vmware`, I think the issue comes from the deployAsIs value. @borisstoyanov can you try passing `deployasis=false`

[2022-03-08 16:33] nvazquez commented on #6071
Have fixed Vmware template upload on PR https://github.com/apache/cloudstack/pull/4555

[2022-03-08 17:22] #5007 closed

[2022-03-08 17:23] ukedk opened #6073 "Adding cloudstack repository fails under Rocky Linux 8.5"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

Centos 8 Repo

##### CLOUDSTACK VERSION

4.16

##### CONFIGURATION

##### OS / ENVIRONMENT

Rocky Linux 8.5

##### SUMMARY

Following the documentation to add the cloudstack-epo fails:

Failed to download metadata for repo 'cloudstack': Checksum mismatch /var/cache/dnf/cloudstack-972dd32202bee359/repodata/e9d29c06626056b2e09e7712d6477873a470cf

[2022-03-08 19:30] AlexanderKgr opened #6074 "Error Updating from 4.16.0.0 to 4.16.1.0"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Ubuntu Server 18.04
Advanced networking

##### OS / ENVIRONMENT

##### SUMMARY

Followed instructions for update me test lab and have the following issue.

![image](https://user-images.githubusercontent.com/25532758/157310716-22e060a6-a19b-40bb-b3a4-ad1b6b30cbfe.png)

##### STEPS T

[2022-03-08 21:42] nvazquez commented on #6074
Hi @AlexanderKgr have you tried upgrading twice? Or testing a 4.16.1 RC version on this environment? It is failing due to duplicated columns from the schema file for the upgrade: https://github.com/apache/cloudstack/blob/4.16.1.0/engine%2Fschema%2Fsrc%2Fmain%2Fresources%2FMETA-INF%2Fdb%2Fschema-41600to41610.sql#L22

As a workaround you can consider removing the column `secondary_object` from the t

[2022-03-09 01:46] Damans227 commented on #6040
Hi @davidjumani @harikrishna-patnala I hope you are doing well.

I have drafted a design document for this issue, and would appreciate if you could provide me some feedback. I have allowed your email address to access the design document saved as a google doc at the link below:

https://docs.google.com/document/d/16KHE2hy75JGE2bEQIYwjkEk0vHoJa-bC/edit?usp=sharing&ouid=109681619309347919886&rtpof=t

[2022-03-09 04:58] davidjumani commented on #6073
@ukedk Thanks for reporting the issue. The repodata was out of sync and it's been fixed
Can you try clearing the cache and trying again ?

[2022-03-09 05:02] Pearl1594 commented on #6016
@Damans227 the list (https://cwiki.apache.org/confluence/display/COMDEV/GSoC+2022+Ideas+list#GSoC2021Ideaslist-CloudStack) is yet to be updated.

[2022-03-09 05:11] davidjumani commented on #4120
Not sure if this issue is still valid. As of 416, the systemvm template is used for CKS nodes, and should be let to boot as is without any user intervention / requirement. The aim of CKS is to provide Kubernetes as a Service and not let the user worry about things like this

[2022-03-09 05:24] Damans227 commented on #6016
Got it! Thanks for letting me know.

[2022-03-09 05:32] AlexanderKgr commented on #6074
Hi @nvazquez . I haven't tried to upgrade twice, neither i have tried 4.16.1 RC because of lack of time. I have backed up everything and also it is a vm with snapshot.
I will try to remove the column.

[2022-03-09 05:36] AlexanderKgr commented on #6074
error removing column.
![image](https://user-images.githubusercontent.com/25532758/157379326-994d3a50-db12-4040-9c67-676ab399c1b9.png)

[2022-03-09 06:51] davidjumani commented on #5999
Looks like the issue is caused by trying to start the `setup-kube-system` && `deploy-kube-system` services which may not yet have been detected / have the .service files created
Adding a potential fix to rerun the generators in https://github.com/apache/cloudstack/pull/6076
If needed, can add a fix to wait until the .service files have been created

[2022-03-09 10:31] sureshanaparti commented on #6074
@AlexanderKgr Have you upgraded with the packages at "https://download.cloudstack.org/ubuntu/dists/bionic/4.16/pool/" ? The packages there are rebuild  and uploaded again, can you check with latest packages.

[2022-03-09 10:53] AlexanderKgr commented on #6074
i will check it again. thanks for the answer

[2022-03-09 11:19] nvazquez commented on #5999
Hi @edikevich can you please test the fix in #6076?

[2022-03-09 12:36] edikevich commented on #5999
Hi @nvazquez I don't have test environment now. I think this should help. I think it's worth adding a check for creating .service files.

[2022-03-09 13:33] tsinik-dw commented on #5915
Hi @nvazquez,

it worked!...
I made multiple tests and got several error messages which I am going to list at the end of this report.
Please excuse my gigantic post :-) but the information may be helpful.

First,  the steps that led to a successful volume migration.
1. Create Compute Offering (CO 1) without tags
2. Create VM using CO 1
3. Alter CO 1 DB entry  in `disk_offering table` (set min_iops

[2022-03-09 16:24] nvazquez commented on #5915
Great @tsinik-dw - we're working on a fix for the volume hv_ss_reserve value but still not ready - once its produced would ask if you could test it.
Been also checking the failures you shared when setting the newofferingid param, it seems like offering passed is removed?

[2022-03-09 18:21] AlexanderKgr commented on #6074
Look my comment above. It is not possible to remove the column

[2022-03-09 18:46] nvazquez commented on #6074
Yes @AlexanderKgr I have seen that - have also been investigating why your database contains that column if version 4.16.0 does not contain it and was introduced only on 4.16.1.

Found this PR which introduced the constraint that is blocking you from removing the column: https://github.com/apache/cloudstack/pull/5541/files#diff-c3fcc536a9c25282503a8d8f0c07b5320ab9c6ffea9e199bafdba6e306f0aa8bR796.

[2022-03-10 02:51] nvazquez commented on #5950
PR #5151 got merged today - @davidjumani please advise if this issue is still valid after the vue upgrade

[2022-03-10 03:36] Pearl1594 opened #6082 "GSoC Idea 2022 - Bypass Secondary Storage (Direct Download) on VMware &/or XenServer"
## Background
The default way of registering / downloading templates in CloudStack involves caching them on the secondary store and then during VM deployment, the template is copied to the primary store. However, from ACS version 4.11.1 onward, a feature was added for KVM hypervisor to enable direct download to primary store. This massively reduces the usage of secondary store and also quickens th

[2022-03-10 04:52] davidjumani commented on #5999
I've made the changes, will run tests to confirm it works

[2022-03-10 05:54] harikrishna-patnala commented on #6040
Thanks @Damans227, great to see your draft, looks good. I've added a few comments, can you please check and update the document accordingly. Please feel free to comment back if you have any points to discuss.

[2022-03-10 07:19] borisstoyanov opened #6084 "router service offering tags are not honored"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Having both VMware and Xen clusters
custom offering for router with host tag: xen
Have a XenServer/xcp-ng host tagged with tag: xen
system.vm.default.hypervisor = XenServer
router.service.offering = [uuid-of-custom-offering]

##### SUMMARY

When a user has 2 types of hypervisors, a

[2022-03-10 07:54] tsinik-dw commented on #5915
Hi @nvazquez,

I would be happy to test the fix when ready.

Regarding the `The disk offering informed is not valid` error message, it was hard for me to trace the root cause, but I am sure that all the service offerings that are mentioned exist in my setup. Following is the management log of one and the apilog of several such messages during my tests.

[nv_mgmtlog_migr_vol_offering_not_valid.txt]

[2022-03-10 09:05] sureshanaparti commented on #6074
Hi @AlexanderKgr, I've checked the upgrade path, and as @nvazquez pointed the column `secondary_object` doesn't exists in 4.16.0

**DB before upgrade:**
[code]

**Upgrade log =>**
_2022-03-10 08:51:25,906 DEBUG [c.c.u.d.ScriptRunner] (main:null) (logid:) -- Schema upgrade from 4.16.0.0 to 4.16.1.0
2022-03-10 08:51:25,906 DEBUG [c.c.u.d.ScriptRunner] (main:null) (logid:) --;
2022-03-10 08:51:25,907

[2022-03-10 09:37] pjfanning commented on #5950
Thanks for working on #5151 - it does fix a lot of the dependabot highlighted issues. There are still a number of CVEs present though. One example is https://github.com/advisories/GHSA-hgjh-723h-mx2j

Would it be possible to use `npm audit fix` on the latest code to see if there any low-hanging fruit changes that can be made?

[2022-03-10 11:19] nvazquez commented on #6073
Closing the issue as per @davidjumani's comment - if the issue persists please reopen it @ukedk

[2022-03-10 11:19] #6073 closed

[2022-03-10 11:53] nvazquez commented on #5433
Fixed on #6057

[2022-03-10 11:53] #5433 closed

[2022-03-10 12:17] borisstoyanov opened #6087 "UEFI hosts capability not detected after upgrade"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

If a host is added before 4.14 (where boot-into-bios feature was introduced) it seems that the capability of the host is not added after upgead. Cloudstack should be able to determine this via different strategies for different hypervisors.

[

[2022-03-10 12:34] nvazquez commented on #6071
Fixed on #6079

[2022-03-10 12:34] #6071 closed

[2022-03-10 13:00] Damans227 commented on #6040
Thanks for your feedback Harikrishna. Appreciate it.

Your comments are very helpful. I will update the document accordingly and let you know very shortly.

[2022-03-10 13:11] AlexanderKgr commented on #6074
@nvazquez you were right.
i was trying to update a snapshot version of 4.16.
Reverted all my lab to 4.15 and upgraded to 4.16.1 without any issue.
Thanks again for the help

[2022-03-10 15:11] nvazquez opened #6088 "UI: Add zone wizard missing provider for primary storage"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
When adding a primary storage through the Add zone wizard, the different storage providers are not displayed. This ends up on a non-successful zone creation which needs manual addition of the storage pools for different providers

![image

[2022-03-10 16:57] nvazquez opened #6090 "UI: Navigation to back on some cases"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE
From #6086:
![nav-error](https://user-images.githubusercontent.com/153340/157615763-345981c2-05bd-48bf-9d44-bce8bf437211.gif)

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2022-03-10 16:58] nvazquez commented on #6090
Hi @utchoang can you please check this issue?

[2022-03-10 19:11] rohityadavcloud commented on #5563
I'm moving this to 4.18 given that 4.17 is really near and openjdk17 isn't shipped by default in many LTS distros yet. jdk11 continues to be a supported LTS until sep 2023 for active support https://endoflife.date/java

[2022-03-10 19:12] rohityadavcloud commented on #3897
cc @davidjumani does your related PR address this?

[2022-03-10 19:13] Damans227 commented on #5563
Sounds good. Thx!

[2022-03-11 02:48] xuanyuanaosheng commented on #5776
@nvazquez  This issue has been resolved using the method above.  I think this is a bug fomr ceph: https://github.com/rook/rook/issues/7746#issuecomment-825919401

The resolved problem is :
[code]

I will close this issue. Thanks all.

[2022-03-11 02:48] #5776 closed

[2022-03-11 02:54] xuanyuanaosheng commented on #5198
@rohityadavcloud @GabrielBrascher @wido Thanks for your help. I will close this issue.

The related issue is : https://github.com/apache/cloudstack/issues/5462

[2022-03-11 02:54] #5198 closed

[2022-03-11 03:03] nvazquez commented on #5776
Great, thanks @xuanyuanaosheng

[2022-03-11 03:22] Damans227 commented on #6040
@harikrishna-patnala Hi! I have changed the design document as per your comments. So, when you get a chance, please revisit the Purpose and the Sample Implementation section and provide your feedback. Thx!

[2022-03-11 06:06] sidre9k opened #6094 "Cloudstack Kuberentes getting stuck in Starting State"
##### ISSUE TYPE
 * Bug Report

##### CLOUDSTACK VERSION
4.16

##### CONFIGURATION
Advanced networking

##### OS / ENVIRONMENT
CentOS 7.9

##### SUMMARY
Kubernetes Cluster creation gets stuck in Starting state indefinitely

##### STEPS TO REPRODUCE
This issue happens intermittently while creating new kuberentes cluster in cloudstack.

##### EXPECTED RESULTS
Kubernetes Cluster creation should trans

[2022-03-11 08:11] rohityadavcloud opened #6097 "Travis tests are not running"
Check with Travis and ensure following:
- Smoketests should run
- UI tests should run
- Lint checks if any should run

... and that the build MUST fail if any of the above fail.

For example, right now smoketests aren't running - https://app.travis-ci.com/github/apache/cloudstack/builds/247736668

Pl check and fix this for both 4.16 and 4.17/main as applicable.

##### ISSUE TYPE

 * Bug Report

##

[2022-03-11 09:03] div8cn opened #6100 "KVM automatically adds ballooning"
##### ISSUE TYPE

 * Improvement Request

##### SUMMARY

By default ,we cannot get the memory usage of vm through libvirt;

Through analysis, it is found that the reason is that we did not add memballoon correctly in kvm;

When the mem.overprovisioning.factor of the cluster <= 1.0, kvm will generate the following memballoon
<memballoon model='none'/>
When the mem.overprovisioning.factor  of the cl

[2022-03-11 15:41] #6090 closed

[2022-03-12 03:12] nvazquez commented on #3609
Moving to the next milestone as advised by @sureshanaparti

[2022-03-12 08:21] levindecaro opened #6102 "CentOS 4.16 Yum repository is outdated"
##### ISSUE TYPE

 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Yum repository http://download.cloudstack.org/centos/7/4.16/ repodata only contain 4.16.0

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2022-03-12 08:24] levindecaro commented on #5768
Hi @davidjumani  , i just re-tested the CKS on 4.16.1, the URL for docker login should set to https://registry-1.docker.io/ instead of https://index.docker.io/v1/ .

[2022-03-14 02:39] nvazquez commented on #6102
Hi @sureshanaparti can you please check this error?

[2022-03-14 02:48] nvazquez commented on #6097
Hi @rohityadavcloud I see tests running now, a lot of them are still queued

[2022-03-14 03:59] xuanyuanaosheng opened #6105 "How to add SAN Storage as Cloudstack Primary Storage"
##### ISSUE TYPE

 * Other

##### COMPONENT NAME
- Storage

##### CLOUDSTACK VERSION
- CloudStack Version: 4.15.2.0
- Cloudstack Hypervisor:  KVM
- The Storage：HDS_VSP_G200_2N

##### Related Doc

1.  https://docs.cloudstack.apache.org/en/latest/adminguide/storage.html
2.  https://docs.cloudstack.apache.org/en/latest/installguide/configuration.html#add-primary-storage

We have a SAN Storage is : HD

[2022-03-14 04:13] davidjumani commented on #3897
@rohityadavcloud  Nope but I can look into this if its priority for 4.17

[2022-03-14 04:43] davidjumani commented on #5950
Can be fixed by https://github.com/apache/cloudstack/pull/6091

[2022-03-14 06:04] davidjumani opened #6107 "UI Bug Tracker"
This issue tracks open bugs in the UI :

- [ ] As user : Does not refresh dashboard vlues when switching from a project to the default view
- [ ] Launch VM and stay on page does not work
- [ ] Destroy instance expanded menu throws errors in the console
- [ ] Clear notification button remains when a notification is dismissed via the 'x' icon

[2022-03-14 07:09] satishglondhe commented on #5976
Hi @davidjumani, Thank you for helping us through. I created a cluster with k8s versions 1.22.6 and 1.23.3, enabled autoscaling, changed the image to davidjumani/cloudstack-kubernetes-autoscaler:name-dev , deployed metrics server, and then created hpa, increased the load on a deployment, I was able to see the cluster scaled from node size 1 to 2. The pending pods were deployed on this new node. Th

[2022-03-14 08:25] rohityadavcloud commented on #6097
No @nvazquez cc @weizhouapache @Pearl1594 @davidjumani pl look at individual jobs, for example - https://app.travis-ci.com/github/apache/cloudstack/builds/247795805

They're all running in under 20mins but they are not really running Marvin smoketests, from one of those "passing" jobs we see:

[code]

[2022-03-14 08:38] davidjumani commented on #5976
@satishglondhe Looks to be an issue between the UUID on the hypervisor vs CloudStack. I've made some changes to the autoscaler image. Can you destroy the container, pull and try again ?
Thanks

[2022-03-14 08:56] mib1185 opened #6112 "Can't setup OpenSUSE KVM host with linux native bridge"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OpenSUSE 15.2

##### SUMMARY

It is not possible to setup an OpenSUSE KVM host, when linux native bridge is used. The issue is caused here
https://github.com/apache/cloudstack/blob/44c08b5acc598972b4f0af576ffdea4e2447cb41/python/lib/cloudutils/serviceConfig.

[2022-03-14 09:27] DaanHoogland commented on #6102
@levindecaro, I see both 4.16 versions :
[code]

[2022-03-14 10:10] nvazquez commented on #3263
As @Pearl1594's investigation this is no longer an issue

[2022-03-14 10:10] #3263 closed

[2022-03-14 12:08] sureshanaparti commented on #6094
@sidre9k Is it the same issue as https://github.com/apache/cloudstack/issues/5999 ?

[2022-03-14 12:18] #6094 closed

[2022-03-14 12:20] sidre9k commented on #6094
Yes Suresh.Its same issue as described in #5999. I will share management server logs at earliest.

[2022-03-14 12:54] nvazquez commented on #6102
Hi @levindecaro please try `yum clean all` and retry installing, we have fixed the repository

[2022-03-14 12:59] levindecaro commented on #6102
@nvazquez noticed the repo data was updated just now, and it is working. Thank you.

[2022-03-14 12:59] #6102 closed

[2022-03-14 13:09] nvazquez commented on #6102
Thanks @levindecaro

[2022-03-14 14:10] weizhouapache opened #6114 "Smoke test failed on ubuntu 20.04"
see https://github.com/apache/cloudstack/pull/6031#issuecomment-1061431788

<p dir="auto" style="box-sizing: border-box; margin-top: 0px !important; margin-bottom: 16px; color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 14px; font-style: normal; font-varia

[2022-03-14 14:16] weizhouapache opened #6115 "travis tests failed in 4.16/main"
as followup of #6113

3 tests failed in travis tests, see https://github.com/apache/cloudstack/pull/6113/checks?check_run_id=5536689365

26430.5	openjdk11	PATH=$HOME/.local/bin:$PATH	Linux	passed
[ 26430.6](https://app.travis-ci.com/github/apache/cloudstack/jobs/563196176)	openjdk11	PATH=$HOME/.local/bin:$PATH	Linux	errored
[ 26430.7](https://app.travis-ci.com/github/apache/cloudstack/jobs/5631961

[2022-03-14 17:07] #5999 closed

[2022-03-14 17:08] nvazquez commented on #5999
Fixed on PR #6076

[2022-03-14 17:16] nvazquez commented on #6097
Closing it since its been fixed on #6113

[2022-03-14 17:16] #6097 closed

[2022-03-14 18:51] AlexanderKgr commented on #6074
was trying to update my lab cloudstack instance and got another issue.
![image](https://user-images.githubusercontent.com/25532758/158240838-70852206-a6b4-43be-abdd-58f73322c312.png)

please @nvazquez  i need your help.
I have never user cloudstack_usage package

[2022-03-14 19:05] AlexanderKgr commented on #6074
fixed but with strange way.
I reconfigured db and have restored only cloud db . Cloud_usage db was intact as it was created by script

[2022-03-15 10:30] nvazquez commented on #6074
Hi @AlexanderKgr sorry I have just read your comment. I can see the upgrade script for 4.16.0 to 4.16.1 alters that table, but it seems like you were not using the cloud_usage schema before? After creating the cloud_usage database, did you experience the same failure or succeeded? Good you have fixed, the cloud_usage database was needed in this case. Is it good if I close this issue?

[2022-03-15 12:34] borisstoyanov opened #6121 "[vmware]device_id duplicated for multiple data disks after VM import"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2022-03-15 13:07] nvazquez commented on #6039
Sorry forgot to reply @borisstoyanov - it is updated on the PR description: Size of the project: Medium (~175hs)

[2022-03-15 17:23] AlexanderKgr commented on #6074
i having issues with windows vms. don't boot at all. searching for it

[2022-03-16 03:33] nvazquez commented on #5950
PR #6091 merged, @davidjumani can you please advise if there are more dependencies to update after the PR merged?

[2022-03-16 04:11] pjfanning commented on #5950
thanks for looking into this - dependabot is still recommending this - https://github.com/apache/cloudstack/blob/main/ui/package.json#L89 to update to 7.0.0 - due to https://github.com/advisories/GHSA-r8f7-9pfq-mjmv

[2022-03-16 04:12] nvazquez commented on #4834
Hi @neogismm for the first stage we can assume that all users should be able to log in to CloudStack and are authorized. The role could be set as User (existing CloudStack role). About the second question, important fields should be username (which to try registering the user on CloudStack), first name, last name and email. The profile picture could be treated as a nice to have IMO

[2022-03-16 06:39] davidjumani commented on #5950
@utchoang Can you please check if updating this will cause breaking changes? Thanks

[2022-03-16 06:40] davidjumani commented on #5768
Thanks for the update @levindecaro

[2022-03-16 07:23] harikrishna-patnala commented on #6040
Thanks for the changes @Damans227, looks good to me.

[2022-03-16 07:56] rohityadavcloud commented on #5950
2cents - I think build dependencies can warning may be reviewed and ignored as the build depdencies aren't used to serve/run the webapp, we only use them to build a SPA (single page app) which is statically served by embedded Jetty. We don't use node-sass in prod.

[2022-03-16 09:22] weizhouapache commented on #6084
the current logic to start VRs is
(1) find destination of user vm
(2) create VRs in the same cluster as user vm (so same hypervisor)
(3) start VRs

in step 2, the hypervisor type of VRs is set to the hypervisor of user vm (vmware in the example), therefore in stpe 3 it cannot be deployed in hosts with other hypervisors (e.g. in a xenserver cluster).

in my opinion, the results in the description i

[2022-03-16 10:15] Damans227 commented on #6040
Alright, many thanks for your feedback.

[2022-03-16 10:41] #4120 closed

[2022-03-16 18:15] kohrar opened #6127 "SSO fails with error "Expired session, missing signature, or missing apiKey""
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

SAML2 authentication is enabled and configured to Microsoft Azure

##### OS / ENVIRONMENT

Rocky Linux 8.5

##### SUMMARY

CloudStack SSO works the first time on a clean browser session. However, after the user attempts to log out or when the CloudStack session expires, CloudStack

[2022-03-16 18:33] MejdiB opened #6128 "Kubernetes Cluster with the new SystemVM template is not working in a Security Groups environment"
##### ISSUE TYPE
 * Bug Report
 * Improvement

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
Cloudstack 4.16.1 Environment Advanced Zone with Security Groups. There is a shared default Network with a pool of IP addresses available for instances.

##### OS / ENVIRONMENT
RHEL 8.4 is used for cloudstack management servers and hosts.

##### SUMMARY
In ACS v4.15.x, w

[2022-03-17 00:20] kohrar commented on #6127
I looked at the authentication and session data a bit more and I think the issue might be related to the sessionkey being set multiple times in the cookies.

On the first try which succeeds, the cookie that's set has only one session key.
![image](https://user-images.githubusercontent.com/4450716/158712375-f31c85b5-a87e-4ea5-aa6d-7b49f765f2c2.png)

On the second try, after logging out, the cookie

[2022-03-17 04:46] kohrar commented on #6127
The two session cookies have a different path. One has `/client`, and the other has `/client/api`.
![image](https://user-images.githubusercontent.com/4450716/158737132-ae3f134b-3572-484c-b48d-d78c116f9f4f.png)

Please correct me if I'm wrong, but I believe the `/client/api` version is the one that should be in use. It's the version that exists when I sign in directly without SAML2.

If that's true

[2022-03-17 05:05] nvazquez commented on #6084
I think it is a limitation on the use of the setting 'system.vm.default.hypervisor'. Since we have the option to let the administrators decide which hypervisor to use for system VMs then the current logic to start VRs could be adapted as well. IMO the step 1 could be extended to consider the value of this setting when finding a destination for the user VM. What do you think @weizhouapache @borisst

[2022-03-17 05:06] levindecaro opened #6129 "Router health check notification mail shows UUID of router, unable to locate via UI"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Router health check message sent via email show the UUID of the router VM, however, there are no way to filter router instance using UUID via UI.

Example
[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

#####

[2022-03-17 06:00] kohrar commented on #6127
Adding `Path=/client/api` to the sessionkey cookie that gets set in `SAMLUtils` did seem to fix this issue. I'm not sure why this issue only started to appear though, unless something changed recently with handling duplicate session cookie values?

The remaining issue is the Single Sign-On button appears disabled when the user hits the login page after logging out or timing out. It only re-enables

[2022-03-17 06:45] Pearl1594 commented on #6128
You're right @MejdiB , on an Advanced zone with security groups, it doesn't work by default. But as a work-around,I was able to get the cluster up and running by doing the following:
1. Stop the CKS nodes
2. Create necessary security groups allowing the ports (22 , 6443)
3. Use the updateVirtualMachine API (via cmk as it's not supported via UI) to associate the security group(s) to the VMs
4. Star

[2022-03-17 07:36] DaanHoogland commented on #6129
A good feature request @levindecaro . For now use the API (cmk for instance) to search based on UUID.

[2022-03-17 07:59] Pearl1594 commented on #6128
@MejdiB I tried deploying a CKS cluster on a 4.15.2 env with Advanced Zone with security groups and observed the same behavior as on 4.16.

[2022-03-17 08:03] MejdiB commented on #6128
@Pearl1594 Which KCS Version did you used? I have a KCS 1.16 on the Cloud with the CoreOS KVM Template. All Nodes were created by Cloudstack with Security Group "default". We did this several times with KCS v1.16, no errors..

[2022-03-17 08:07] MejdiB commented on #6128
@Pearl1594 As a feature idea, users might select a Security Group (allowing ports 22 and 6443) via the KCS creation view

[2022-03-17 09:25] VincentHermes opened #6131 "Cant change VM Settings with custom constrained offering"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
 * UI / API

##### CLOUDSTACK VERSION
 * 4.16.1

##### CONFIGURATION
 * Advanced Zone
 * SMP Primary
 * NFS Secondary
 * Custom Constrained Offering
 ** 1-32 CPU
 ** 1 - 512GB RAM
 ** 3000MHz CPU

##### OS / ENVIRONMENT
 * Everything Ubuntu 20

##### SUMMARY
Starting with Version 4.16.1 I can no longer change the VM Settings of a VM with a "cust

[2022-03-17 09:30] VincentHermes commented on #6131
Update:
Custom Unconstrained offerings are not usable at all. When creating an instance it does not ask for the cpu speed:
![grafik](https://user-images.githubusercontent.com/58519110/158779478-198e2953-3643-4f87-b484-218426f6f9ad.png)

And then it complains:
![grafik](https://user-images.githubusercontent.com/58519110/158779629-339e3873-5c63-4c80-a6d6-056b41c607d8.png)

And the VM cant be created

[2022-03-17 12:54] levindecaro opened #6133 "CKS instance Info page display all Public IP's PNAT,FW and LB in same account."
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

After provision a CKS instance, navigate to the CKS info page, Firewall,Port Forwarding and Load Balancing are showing all existing rule from all Public IP address within same account.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2022-03-17 17:35] #4357 closed

[2022-03-18 08:56] sidre9k commented on #6094
@sureshanaparti Attaching mgmt servers logs herewith.
`2022-03-10 17:48:58,360 INFO  [c.c.k.c.u.KubernetesClusterUtil] (API-Job-Executor-101:ctx-aed659b4 job-1811 ctx-c5dd498d) (logid:0a27d378) Waiting for Kubernetes cluster : k8s-sid control node VMs to be accessible
2022-03-10 17:49:18,371 INFO  [c.c.k.c.u.KubernetesClusterUtil] (API-Job-Executor-101:ctx-aed659b4 job-1811 ctx-c5dd498d) (logid:0a

[2022-03-18 08:57] sidre9k commented on #6094
@sureshanaparti Attaching MGMT servers logs herewith.
[k8s-sid.log](https://github.com/apache/cloudstack/files/8303033/k8s-sid.log)

[2022-03-18 11:34] davidjumani commented on #6087
Created a fix in #6139

[2022-03-19 03:28] #6131 closed

[2022-03-21 02:15] nvazquez commented on #6114
Fixed on #6116

[2022-03-21 02:15] #6114 closed

[2022-03-21 02:44] #6129 closed

[2022-03-21 02:54] satishglondhe commented on #5976
@davidjumani  the cluster autoscaler is now working as expected. Thank you for helping us through. Just one question, what is the way to replace the default autoscaler image in k8s iso?

[2022-03-21 03:06] nvazquez commented on #6133
Hi @davidjumani can you please check this issue?

[2022-03-21 04:23] nvazquez commented on #3110
@rohityadavcloud @sureshanaparti I have tested on 4.17.0-SNAPSHOT and both APIs are now resizing the ROOT disk on scaling and service offering change if the new offering has a ROOT disk size defined. Since both APIs are now in sync, can close the issue?

[2022-03-21 07:35] davidjumani commented on #6133
@levindecaro Can you check the API call being made when listing the firewall / LB / PF rules in the kubernetes tab ? I'm unable to reproduce the issue

[2022-03-21 07:54] DaanHoogland opened #6141 "vmware hosts reconnect handling"
When in an vmware envirements ESXi hosts have disconnected with the vcenter, they won't be marked as reconnected in ACS after they reconnect to vcenter. The MS needs to be restarted for them to get back to connected state. This issue occurs when there is an underlying infra problem that caused the connectivity between ESXi hosts and the vcenter to be broken.  It would be nice if the MS would *not*

[2022-03-21 08:05] levindecaro commented on #6133
@davidjumani I only have apilog.log on hand at this moment, is it helpful for you? Btw, I re-test few times on that, found this is happening in the middle of status change, like starting the cluster or stopping the cluster, once the state become started/stopped, it will show correct rules.

[2022-03-21 08:34] davidjumani commented on #6133
@levindecaro That helps, thanks. I'll have a look into it

[2022-03-21 08:36] davidjumani commented on #5976
Thanks @satishglondhe I'll update the autoscaler image. To replace the image, either directly modify the iso, or rebuild it
https://github.com/apache/cloudstack/blob/main/scripts/util/create-kubernetes-binaries-iso.sh

[2022-03-21 09:26] DaanHoogland opened #6144 "Static nat hampers prive gateway access"
Having two VPCs connected through their respective private gateways should allow instances from the one to connect to the other (given the proper firewall rules). When a static nat is assigned an instance in one of the VPC will stop that instance from being able to reach the other VPC.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURA

[2022-03-21 09:52] vladimirpetrov opened #6145 "Compute offerings are inaccessible as regular user."
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Default config

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Compute offerings are inaccessible as regular user.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

![image](https://user-images.githubusercontent.com/12384665/159237693-c65

[2022-03-21 10:08] sureshanaparti commented on #3110
@nvazquez I think, we can close this if the behavior is consistent. Check if any doc changes are needed.

[2022-03-21 10:31] GabrielBrascher commented on #3110
Thanks for testing, @nvazquez!

Sorry for getting late to the party, it all looks to be settled already.

I agree that it is important to keep scaling root volumes on the specific cases where Root disk size should be enforced with the VM's offerings (I have been seeing some cases where this is really useful/important), which we can do only via service offering.

[2022-03-21 10:47] nvazquez commented on #3110
Thanks @GabrielBrascher - I have an extra question, would it make sense to remove the `changeServiceForVirtualMachine` API? I have checked it is not invoked on the UI. Perhaps that could be treated on a new issue and can close this one?

[2022-03-21 12:00] weizhouapache commented on #6145
@vladimirpetrov
this issue #6145 seems to be caused by #6045, and has been fixed by #6126 which reverted #6045

[2022-03-21 12:27] #6145 closed

[2022-03-21 12:38] Pearl1594 commented on #6115
I see the following 2 tests failing on quite a few PRs  on main - I'll have a look at them -
- component/test_project_limits: test_04_publicip_per_project | Status : FAILED ===
- component/test_resource_limits:  test_01_publicip_per_domain | Status : FAILED ===

[2022-03-21 12:39] nvazquez commented on #6145
Thanks @weizhouapache for checking

[2022-03-21 14:44] weizhouapache commented on #6127
@kohrar
great. could you create a pull request ?

[2022-03-21 15:18] maikgiessler opened #6148 "Cannot start system vm on XenServer 8.2"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Citrix XenServer/Hypervisor 8.2 CU1

##### SUMMARY

We have updated one of our clusters in Cloudstack to version 8.2 (It was 7.1 before). After the update, we were unable to start any of our system vm's on the updated cluster. We checked the logs and fo

[2022-03-21 17:00] kohrar commented on #6127
Sure thing. I've created a pull request.

I'm still not sure why this issue only started appearing in 4.16.1. I have an older 4.15 version of CloudStack which doesn't exhibit this behavior with the same SSO configuration.

Furthermore, the Single Sign-On button becomes disabled in 4.16 after logging out. The button is disabled when [`idps.length === 0`](https://github.com/apache/cloudstack/blob/ma

[2022-03-21 17:13] kohrar commented on #6127
I started with CloudStack since 4.15 which I think is the first version to use the redesigned UI.

I didn't have this issue in 4.15. In 4.15, after clicking on logout, I get redirected to a login page. Looking at the network calls, I see a call to `/client/api/?command=listIdps&response=json` when I get shown the login page.

In 4.16.1, I don't see this behavior unless I do a full page refresh. I

[2022-03-21 17:22] nvazquez opened #6150 "Cleanup: Remove redundant API to change service offering for VMs"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
As investigated on #3110, PR #5008 had impact on two similar APIs for changing the service offering for a VM, resulting both on resizing the VM's ROOT volume (`scaleVirtualMachine` and `changeServiceForVirtualMachine` APIs)

The propo

[2022-03-21 17:23] nvazquez commented on #3110
Thanks @GabrielBrascher @DaanHoogland and all, I have created a new issue #6150 for cleaning up the redundant API and will close this one

[2022-03-21 17:23] #3110 closed

[2022-03-21 17:32] kohrar commented on #6127
It looks like there's an uncaught promise in Login.vue in the fetchData. I'm not great with JS or Vue. It's possible that the recent upgrade to Vue in #5151 would fix the issue. I'll wait until 4.17 and see if those changes fixes the SSO button issue.

[2022-03-21 18:08] weizhouapache commented on #6127
@kohrar
you can test the new UI on your local machine (no need to install on management server)
see https://github.com/apache/cloudstack/blob/main/ui/README.md#development

just change the .env.local

[2022-03-22 02:01] xuanyuanaosheng commented on #6105
@sureshanaparti   Any update?

[2022-03-22 04:46] davidjumani commented on #5976
Fixed via https://github.com/kubernetes/autoscaler/commit/9cd06c2f85366400cec498536fc172aa587a13a7
Will rebuild the autoscaler and update the isos

[2022-03-22 04:46] #5976 closed

[2022-03-22 11:01] weizhouapache commented on #6084
According to our discussion, this issue should has been fixed by #1839, but reverted by #4304

[2022-03-22 11:13] weizhouapache commented on #6127
@kohrar
could you please test with the UI in latest main branch ?
it looks more like a UI bug.

[2022-03-22 14:58] edikevich opened #6155 "updateAccount don't change "type" column in DB"
##### ISSUE TYPE
 * Bug Report

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
XCP-NG 8.2
Advanced Zone

##### OS / ENVIRONMENT
Oracle Linux 8.4 - Management server, MYSQL 8.0.26
XCP-NG 8.2 - hypervisor

##### SUMMARY
updateAccount via CloudMonkey (also maybe via API) don't change "type" column in DB

##### STEPS TO REPRODUCE
Create new account with User role
Change account role via CloudMon

[2022-03-22 19:53] nvazquez commented on #6148
Hi @maikgiessler your workaround makes sense since CloudStack will look for SR with name: "XenServer Tools", "Citrix Hypervisor Tools" or "XCP-ng Tools". I think the last one should be automatically created in this case, any idea @andrijapanicsb @rohityadavcloud?

[2022-03-23 07:09] davidjumani commented on #6107
@utchoang Can you please look into these ?

[2022-03-23 07:23] sureshanaparti commented on #6105
@xuanyuanaosheng I'm not sure about SAN storage, will check and update you.

[2022-03-23 08:42] weizhouapache commented on #6127
this may be related to #5481  #5855  #5487

[2022-03-23 08:58] VincentHermes commented on #6131
Guys I have seen you added a bugfix for this (https://github.com/apache/cloudstack/pull/6136) into 4.16 branch so is it sufficient to just apt update the mgmt server now? Or am I understanding this wrong.

[2022-03-23 12:25] #6115 closed

[2022-03-23 16:54] nvazquez commented on #6127
Hi @kohrar - as advised by @weizhouapache can you please try the latest UI from the main branch? In case it is fixed then the PR https://github.com/apache/cloudstack/pull/6149 will not be needed

[2022-03-23 16:58] nvazquez commented on #6131
Hi @VincentHermes - sorry it won't be there until the next release. We have pushed it to the 4.16 branch so in case there is a new minor 4.16.2 version then it will contain the fix as well as the next 4.17.0 version. In case you want to test the fix on a testing environment you can get the nightly packages from this URL: https://download.cloudstack.org/testing/nightly/latest/ but please keep in mi

[2022-03-24 02:50] utchoang commented on #6107
@davidjumani I have created a PR. Can you please check the above error again?

[2022-03-24 09:22] rohityadavcloud commented on #4868
It appears David's PR was reverted. @nvazquez pl review with 4.17 team if this is worth fixing for 4.17, or move to next milestone(s).

[2022-03-24 17:35] kohrar commented on #6127
Hi @nvazquez. If I understand the problem properly, the issue addressed by PR #6149 isn't related to the UI issue because the sessionkey cookie is set by the SAML SSO API call after the client is redirected back from the IdP.

@weizhouapache, I built the latest UI from the main branch and I'm still seeing the same behavior with the Single Sign-On button being disabled due to an uncaught promise in

[2022-03-24 18:01] weizhouapache commented on #6127
thanks @kohrar

cc @utchoang @davidjumani @shwstppr
can you have a look at this issue ?

[2022-03-25 01:59] utchoang commented on #6107
@davidjumani
- Backup offerings is not visible from the Service offerings tab: I don't know where the service offering tab is located, can you be more specific?
- Assign VM to a backup offering button is missing: I check and it still shows up, maybe I got it wrong?
![image](https://user-images.githubusercontent.com/13766648/160038705-f0d69ac6-fe45-4243-b0e0-20c4a92f9127.png)

[2022-03-25 06:31] slavkap commented on #6107
Hi, @utchoang, I updated the issues, and in my UI (rebased on latest main), I don't see the Backup offerings
![image](https://user-images.githubusercontent.com/51903378/160066176-4e5d6684-88f5-4128-bece-6e0c0e346213.png)

I have it in my lab with 4.16.1.0
![image](https://user-images.githubusercontent.com/51903378/160066846-9e53326a-2672-4362-aa91-5611196a5c03.png)

And the VMs don't have this but

[2022-03-25 06:51] utchoang commented on #6107
@slavkap I running latest main branch with QA server then still show Backup Offerings. Can you check the permission of the user that is allowed to access `listBackupOfferings`?.
![image](https://user-images.githubusercontent.com/13766648/160068565-703f283b-05af-442f-94d0-2c7c15cb4674.png)
And the button will show with `show: (record) => { return !record.backup offeringid }` condition. I think it o

[2022-03-25 07:16] slavkap commented on #6107
I'm sorry @utchoang! I made some noise for nothing :( There is a configuration option that has to be enabled if you want to use the backup `backup.framework.enabled` (I forgot about it).

Again, sorry about it. Everything works.

[2022-03-25 07:57] levindecaro commented on #6133
@davidjumani  thank you

[13.log](https://github.com/apache/cloudstack/files/8348541/13.log)

[2022-03-25 08:20] levindecaro opened #6163 "Add Support IPAM object to Allow Load Balancer or Port-forward map to floating IP Address"
##### ISSUE TYPE

 * Feature Idea

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When a Guest Network was created, the port forward and load balancer features only allow to be configure with pre-existing VM in same Guest Network. Sometime user will deploy self managed virtual ip address to support their application such

[2022-03-25 13:28] nvazquez commented on #4868
Thanks @rohityadavcloud we have forgotten to reopen this issue after reverting the PR, moving it to the next milestone

[2022-03-25 14:40] #5987 closed

[2022-03-25 14:43] #6112 closed

[2022-03-26 11:04] jack99trade opened #6166 "Upgrade and systemvm template."
##### ISSUE TYPE
 * Upgrade

##### CLOUDSTACK VERSION
upgrade from 4.16.0 to 4.16.1

##### CONFIGURATION
advanced networking

##### OS / ENVIRONMENT
Centos7

##### SUMMARY
I have one management server and 3 zones : zone1 , zone2 and zone3. each zone has a separate secondary(1,2,3) storage and a separate kvm(1,2,3).

before upgrade I uploaded systemvm-kvm-4.16.1 kvm template on each zone.
after upg

[2022-03-26 14:33] jack99trade commented on #6166
imported old database backup and restarted the server and it got fixed. systemvm template was automatically created on all zones.

[2022-03-26 14:33] #6166 closed

[2022-03-26 21:56] rohityadavcloud opened #6167 "Fails to expunge VM post upgrade to 4.16.1.0"
I'm not sure if this is an env issue or something with 4.16.1.0, post upgrade to 4.16.1.0 I created a new VM and then destroyed it. However, I was able to destroy the old systemvms and router without any issue.

On destroy, it fails (both with or without expunge option):

[code]

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

[2022-03-26 22:03] rohityadavcloud commented on #6167
Something went wrong in the upgrade because of which this line with secondary_object didn't work:
https://github.com/apache/cloudstack/blob/main/engine/schema/src/main/resources/META-INF/db/schema-41600to41610.sql#L22

The issue was incorrect unique key, fixing that fixed this issue:

[code]

[2022-03-26 22:03] #6167 closed

[2022-03-28 07:00] xuanyuanaosheng opened #6169 "The secondarystoragevm can not start"
We want to  use **multiple VLANs for VM in one cluster via advanced network mode**. The related cloudstack doc:
-  https://docs.cloudstack.apache.org/en/latest/adminguide/networking.html
-  https://docs.cloudstack.apache.org/en/latest/adminguide/networking_and_traffic.html#configuring-a-shared-guest-network
-  https://github.com/apache/cloudstack/issues/5462

The Related Info:
- The KVM physical m

[2022-03-28 07:33] rohityadavcloud commented on #6169
Hi @xuanyuanaosheng can you share the management server and kvm/agent logs and a short checklist:
- Is primary and secondary storage set up correctly
- Is the zone enabled and hosts Up?
- Was the systemvmtemplate seeded

[2022-03-28 09:21] xuanyuanaosheng commented on #6169
@rohityadavcloud
1.  The primary and secondary storage is OK.
2.   The  zone is enabled and the host is Up.
![image](https://user-images.githubusercontent.com/4197714/160367461-4823403a-e27b-4033-8719-868ad8d3b83d.png)
3.  The systemvmtemplate state is OK.
![image](https://user-images.githubusercontent.com/4197714/160367697-e90ed364-8788-4d2a-8c3f-d7ffb8f3dc1d.png)

[2022-03-28 10:00] rohityadavcloud commented on #6169
cc @Pearl1594 might have more recent know-how.
@xuanyuanaosheng basedon the logs, the cmdline has failed - you may want to use something like virt-manager to check if the VM is booting (to see the console via virt-manager). In addition, pl check if the template is correct. For example, share the md5 checksum of the template on the secondary storage.

[2022-03-28 10:23] xuanyuanaosheng commented on #6169
@rohityadavcloud @Pearl1594
The VM start log is
[code]

[2022-03-28 10:42] Pearl1594 commented on #6169
@xuanyuanaosheng can you please trying using a system offering with more memory than the default one. You can do this, by first creating a system offering for SSVM and then set the uuid of the newly created offering in the following global setting: `secstorage.service.offering`. This global setting change would require you to restart the Management server.

[2022-03-29 03:40] xuanyuanaosheng commented on #6169
I have create the a system offering for SSVM

![image](https://user-images.githubusercontent.com/4197714/160528521-85079b82-f00e-45ea-972d-911cf34b4512.png)

[2022-03-29 10:39] rohityadavcloud commented on #6169
Great to hear @xuanyuanaosheng - the kernel panic on systemvms and routers can happen if your host is dense or overprovisioned. Increasing the memory shouldn't be normally required. Pl do more tests and keep us posted. Thanks.

[2022-03-30 03:01] #5548 closed

[2022-03-30 10:05] #6107 closed

[2022-03-30 12:18] furyflash777 opened #6179 "Cloudstack XCP-NG and OVS GRE plugin"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

advanced networking + OVS

##### OS / ENVIRONMENT

##### SUMMARY

I am trying to use guest network isolation based on open vswitch GRE.
According this guide https://docs.cloudstack.apache.org/en/latest/plugins/ovs-plugin.html

Zone, clusters, hosts, System VMs are created, but duri

[2022-03-30 19:56] wido opened #6180 "RBD/RADOS volume management should be handled by libvirt"
##### ISSUE TYPE
 * Enhancement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### SUMMARY
The CloudStack Agent uses com.ceph.rados.* for many operations as when implementing the RBD storage pool support not all features were supported by Libvirt.

For example: https://github.com/apache/cloudstack/blob/1a304ccf68a75d835cf5e723b56b57155be6ebda/plugins/hypervisors/kvm/src/m

[2022-03-31 08:52] shwstppr opened #6184 "ui: latest ui sends undesired api parameters on form submit"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

With vue3 changes, on submitting form UI sends undesired API parameters. UI element for these parameters are not shown in the form due to appropriate conditions but on form submit they are still sent if they appear once. Such element

[2022-03-31 09:28] xuanyuanaosheng commented on #5462
@weizhouapache @nvazquez  Thanks for your help. The problem has resolved, I will close this issue.

[2022-03-31 09:28] #5462 closed

[2022-03-31 09:42] xuanyuanaosheng commented on #6169
@rohityadavcloud @Pearl1594  I have test a lot, the cloudstack work fine.  I will close this issue.  Thans for yout help.  Cloud you please help to look at https://github.com/apache/cloudstack/issues/6105 this issue ?

Using bond in multi VLAN. The network config is
1.  ifcfg-eno49
[code]

2. ifcfg-eno50
[code]

3. ifcfg-bond0
[code]
4.  ifcfg-cloudbr0
[code]

5. ifcfg-cloudbr1
[code]

[2022-03-31 09:42] #6169 closed

[2022-03-31 10:01] xuanyuanaosheng commented on #6105
@sureshanaparti  I know that the zstack support SAN storage as  zstack storage: https://www.zstack.io/help/en/product_manuals/maintenance_manual/v3/7.6.html
Does the cloustack support this feature ?

[2022-03-31 10:44] miesiu commented on #3196
Issue exist on cloudstack 4.16.1 with xcp-ng 8.2

[2022-03-31 19:49] weizhouapache opened #6191 "list routers issues by domain admin"
API `listRouters` is permitted to domain admin since the implementation of dynamic roles.

the file `engine/schema/src/main/resources/META-INF/db/create-default-role-api-mappings.sql` has the following sql
[code]
There are few issues on UI
(1) domain admin can list virtual routers of isolated networks , but get a 404 error when view the details of routers.
(2) the api response of listrouters does

[2022-04-01 01:34] nvazquez commented on #4834
Hi @khamarshaikh @Damans227 @neogismm - I would like to remind you that the application starts on 4th April and closes 19th April. If you are still interested in this project, please submit your proposal within that timeframe

[2022-04-01 01:38] Damans227 commented on #4834
Thanks for the reminder, @nvazquez I am eagerly waiting for April 4th.

[2022-04-01 07:26] rohityadavcloud commented on #6191
Hi @weizhouapache this sounds like a bug, have you checked git history - if git history confirms that listRouters shouldn'be allowed for domain domain - let's remove this at least from default/in-built roles in an upgrade path in 4.17.0.0. cc @nvazquez @Pearl1594

[2022-04-01 07:50] rohityadavcloud commented on #6191
If the listRouters is an allowed API historically, perhaps it was never meant to be supported in the UI? So, it's worth discussing how we fix the bug or do anything about it in the UI?

[2022-04-01 10:00] xuanyuanaosheng commented on #4391
@hstan77 Any update ? which storage solution do you use?

[2022-04-01 15:47] nvazquez commented on #6127
Hi @kohrar - can you please test this PR: https://github.com/apache/cloudstack/pull/6193 if it solves your issue?

[2022-04-01 16:19] #6128 closed

[2022-04-01 18:02] kohrar commented on #6127
Hi @nvazquez, I tried the PR against the latest commit on the main branch but I'm now getting an exception when loading the login page and the SAML2 login button no longer functions. The 'portal login' login button still works, however.

This is what I'm now seeing when I do a full page refresh on the login page:
![image](https://user-images.githubusercontent.com/4450716/161317197-cdf56445-7283-4c

[2022-04-01 19:04] kohrar commented on #6127
I reverted back to the 4.16.1 tag and applied your PR but it still has the same issue where the listIdps call fails which results in the SSO option being disabled. After reloading the login page again, the SSO option works again and the login button also works, so there's a regression somewhere that's breaking the SSO login button on the latest branch too.

Here is 4.16.1 with PR #6193
![cloudstac

[2022-04-01 20:06] nvazquez commented on #6127
Thanks for testing @kohrar, that exceeds my Vue knowledge but would like some input from @utchoang @davidjumani @Pearl1594

[2022-04-04 05:56] davidjumani commented on #6011
Hi @mehrdadmoradii Good to see your interest in opensource and this project. You can send me an email and we can discuss this further

[2022-04-04 06:19] weizhouapache commented on #6191
@DaanHoogland
different from your opinion, as a root admin I do not expect this informatoin to be visible for domain admin :-)

[2022-04-04 09:11] DaanHoogland commented on #6191
Right, meaning it should be configurable, should it?

[2022-04-04 09:21] utchoang commented on #6127
@kohrar I have created PR https://github.com/apache/cloudstack/pull/6197 to solve the problem of the login button not working and the SSO tab being disabled. Please check if it is working?

[2022-04-04 10:53] nvazquez commented on #5836
Hi @div8cn - PR #3724 addresses this issue and is ready now, could you please test it?

[2022-04-04 11:11] nvazquez commented on #6127
Many thanks @utchoang! @kohrar can you please test both fixes? Would you need us to combine both in a single PR to simplify the testing or can apply both?

[2022-04-04 11:52] sureshanaparti commented on #6030
@damanBirSingh Are you working/planning to submit a proposal for this idea? Let me know if you have any questions or need guidance. Please note, that the Proposal Deadline is 19-Apr-2022 (GSoC 2022 Timelines: https://summerofcode.withgoogle.com/programs/2022). Thanks.

[2022-04-04 12:10] azmidhun opened #6199 "Volume Snapshot | Secondary storage mount issue|"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Cloudstack 4.16.1, XCP-ng 8.2.1
##### OS / ENVIRONMENT

Centos7.9,  XCP-ng 8.2.1

##### SUMMARY

Unable to take VM volume snapshot or Create new VM|| Secondary storage mount issue
##### STEPS TO REPRODUCE

Storage>Volume>Take volume snapshot.
Sometimes create VM's not working.
 I a

[2022-04-04 17:32] Damans227 commented on #6016
@Pearl1594 @harikrishna-patnala @borisstoyanov Hi, I hope everyone doing well. I have successfully submitted my proposal for this project. PTAL, when you get a chance. Thanks!

[2022-04-05 02:31] #6087 closed

[2022-04-05 06:20] Codegass opened #6203 "Bring in the JUnit Assume Feature to `CABackgroundTaskTest`"
##### ISSUE TYPE

 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY
I would like to propose an idea of using Assume feature offered in JUnit 4&5 for some of the test cases in CloudStack. The Assume function is to replace Assertion in precondition checking. As [mentioned in the document](https

[2022-04-05 11:22] wido opened #6205 "Ceph storage pools report raw capacity: Allow capacity disable threshold per pool"
##### ISSUE TYPE
 * Feature Idea

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
- CloudStack with KVM
- Ceph (RBD) Primary Storage

##### OS / ENVIRONMENT
N/A

##### SUMMARY
CloudStack heavily relies on the storage pool support of Libvirt for reporting capacity and allocation.

Libvirt will report the raw capacity of a Ceph cluster, for example:

<pre>
root@hv-1

[2022-04-05 18:31] kohrar commented on #6127
Thanks @utchoang. I checked out your PR #6197 against the latest commit on the main branch as of this writing and it seems to fix the SSO option being disabled on a logout and also the broken login button issue. However, UI doesn't work on some dashboard pages on my 4.16.1 installation and results in exceptions in the developer console. I assume that's just a result of other work in progress on th

[2022-04-05 19:57] nvazquez opened #6209 "Revert volume to snapshot failures"
##### ISSUE TYPE
 * Bug Report
 * Improvement Request
 * Enhancement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
Set `snapshot.backup.to.secondary` to true

##### OS / ENVIRONMENT
Tested KVM on NFS storage

##### SUMMARY
Revert volume to snapshot after migrating a volume to another storage fails with error:

[code]

##### STEPS TO REPRODUCE
[code]

##

[2022-04-05 19:58] nvazquez commented on #6209
@slavkap @weizhouapache this might be related to #5433 and should find a solution for both issues

[2022-04-05 20:30] slavkap commented on #6209
@nvazquez, this can also be hit when migrating a volume to another storage.

[2022-04-06 03:09] nvazquez commented on #6209
Thanks @slavkap I've updated the description

[2022-04-06 03:22] nvazquez commented on #6127
Thanks @kohrar can you please test a combination of PRs #6193 and #6197?

[2022-04-06 03:50] #6155 closed

[2022-04-06 09:03] #6127 closed

[2022-04-06 11:17] joschi36 opened #6212 "Export Virtual Router Health Checks to Prometheus"
##### ISSUE TYPE
 * Enhancement Request

##### COMPONENT NAME
API, VR

##### CLOUDSTACK VERSION

[code]
But after my research, not available in current versions.

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
For monitoring of Virtual Routers, there seems to be no way of having the health check results in Prometheus metrics endpoint.

Currently, we are querying health check re

[2022-04-06 11:36] acs-robot opened #6215 "Dummy Issue"
Dummy

##### ISSUE TYPE

 * Other

[2022-04-06 11:37] #6215 closed

[2022-04-06 11:46] nvazquez commented on #6209
@slavkap @Pearl1594 opening this for discussion: since https://github.com/apache/cloudstack/pull/1740 snapshots on primary storage are cleaned up after migration. Internally a new volume DB record is created after the volume is migrated and the old one is destroyed, along with snapshots and that seems to cause the issue (for the reinstall VM case I think that is also the case).

As an example, bef

[2022-04-06 12:38] Pearl1594 commented on #6209
I think that makes sense @nvazquez @slavkap

[2022-04-06 13:04] synergiator opened #6220 "Parametrize data source table for virtual routetrs to support migration"
In a enterprise migration scenario, you could face a situation to restart hundreds of routers which may cause issues with operation of enterprise service like plannable downtime window, even if you split restart by zones.

The included scripted tool _setup/bindir/cloud-sysvmadm_ sources routers list from the [table cloud.vm_instance](https://github.com/apache/cloudstack/blob/133b195688874ad63a947a

[2022-04-06 18:31] Damans227 commented on #6040
@harikrishna-patnala @davidjumani @borisroman Hi Guys, I hope you are doing well. I have submitted a project proposal for this issue today, PTAL. Thanks!

[2022-04-07 06:30] azmidhun commented on #6199
@all Providing a  NFS version in global setting 'secstorage.nfs.version' resolved the issue.

[2022-04-07 06:30] #6199 closed

[2022-04-07 18:16] kohrar commented on #6127
A did a quick test and I had no additional issues with #6193. I didn't test it originally since I didn't think it was the reason for the broken SAML options or login button issue which #6197 seems to have addressed.

Thanks everyone.

[2022-04-07 18:26] synergiator opened #6231 "Provide project UUID in the user UI if not an admin"
##### ISSUE TYPE
* Enhancement Request

##### COMPONENT NAME
UI

##### CLOUDSTACK VERSION
GA

##### CONFIGURATION
http://qa.cloudstack.cloud:8080

##### SUMMARY
In case a user is not an admin, how will he/she find out in the UI the project ID? maybe display aside the name in the View dropdown.

##### Workaround
Use Developer Tools (F12) in browser to sneak for the UUID in the dropdown either an AP

[2022-04-07 21:40] rwdj opened #6232 "wrong file rights on key file doesn't generate proper error message"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
I haven't configured the networking yet, because I wanted to see the GUI and then I'd shut it all down and get to the nitty gritty of the networking. The database is on the management machine as this is a test.

##### OS / ENVIRONMENT
RHEL 8 using CentOS 8 repo: https://download.clouds

[2022-04-07 21:46] rwdj commented on #6232
As noted, I have seen #3843 and #4027. They didn't help, unfortunately.

[2022-04-08 00:42] #5836 closed

[2022-04-08 09:54] rohityadavcloud commented on #6121
Merged in https://github.com/apache/cloudstack/pull/6123

[2022-04-08 09:54] #6121 closed

[2022-04-08 11:06] nvazquez commented on #6232
Hi @rwdj can you please upload your full management server logs?

[2022-04-08 11:27] nvazquez commented on #6232
Hi @rwdj have tried stopping the service and start? Do you get any relevant information after the management server logs get stuck by executing `service cloudstack-management status`?

[2022-04-08 11:39] rwdj commented on #6232
I'll be away from my machine for around an hour.

[2022-04-08 11:40] rwdj commented on #6232
But yes, I'd restarted the service and it showed it was running fine. But you want the startup log, which will take me a bit to get to.

[2022-04-08 12:41] rwdj commented on #6232
The system log has this to say:
[code]

[2022-04-08 12:48] rwdj commented on #6232
I'm in the middle of gathering the logs including the installation proccess from clean state (going through steps above) to finish.

[2022-04-08 12:57] rwdj commented on #6232
/var/log/cloudstack/management/access.log
[code]
/var/log/cloudstack/management/apilog.log
[code]
/var/log/cloudstack/management/management-server.log
[code]
/var/log/cloudstack/management/setupManagement.log
[code]
systemctl status cloudstack-management
[code]

[2022-04-08 14:19] nvazquez commented on #6232
Thanks @rwdj - I don't see what could be wrong. Right after the last line on the logs then CloudStack should start loading the modules. Attempting to replicate and will update soon

[2022-04-08 16:38] nvazquez commented on #6232
@rwdj I am able to run successfully on CentOS 8.5.2111. Have followed the docs on: http://docs.cloudstack.apache.org/en/latest/installguide/management-server/index.html.

The differences I see from your steps is that I used iptables instead of firewall-cmd and used the `-i <IP>` option on the `cloudstack-setup-databases` script. Can you please retry considering both changes?

[2022-04-08 17:27] rwdj commented on #6232
I completely turned off the firewall for testing and did the following (turning the firewall back on now because, yeah). Same result. But blocked ports shouldn't affect it as it's not doing anything off the machine yet. This is on the same machine. I also tried setting the IP as 127.0.0.1 explicitly as shown.
[code]

[2022-04-08 17:34] nvazquez commented on #6232
Sorry forgot to mention that I also had a difference on the connectors, I didn't have to explicitly install any of them, was installed as a dependency to the cloudstack-management package and is working fine with `mariadb-connector-c-config`:

[code]

[2022-04-08 17:38] rwdj commented on #6232
I have that too: mariadb-connector-c-config-3.1.11-2.el8_3.noarch
And I didn't initially have mysql-connector-java installed until I checked the referenced tickets before submitting this. I assume mysql-connector-python was just someone being overzealous in the referenced tickets, but I installed that at the same time anyways.

[2022-04-08 17:42] rwdj commented on #6232
Probably irrelevant, but I also have cloudstack-mysql-ha-4.16.1.0-1.el8.x86_64 installed now. That was because I ran into this issue and checked the CLASSPATH in /etc/default/cloudstack-management and tried finding packages that might have missing libraries. Alas, I now have it all.

[2022-04-08 17:54] nvazquez commented on #6232
That is not needed, only need the cloudstack-common and cloudstack-management packages. Not sure what could be causing the issue, can you try restarting the mysql service and stop/start the cloudstack-management? If that also doesn't work I would advise if you could consider start again from scratch checking if somehow any step was omitted from: http://docs.cloudstack.apache.org/en/latest/installg

[2022-04-08 18:22] rwdj commented on #6232
No luck.

I rebooted the machine and stopped cloudstack-management. Then I re-read through those instructions and noticed it says to stop firewalld and start iptables. Then I went through my earlier commands (comparing with instructions to check for missed steps), and no luck. Same issue. Same output.

[2022-04-08 18:25] rwdj commented on #6232
I'm okay with highly technical troubleshooting. Installing extra software will need to be discussed, but I can get neck deep in verbose logging just fine. I dearly wish I had meaningful logs here.

[2022-04-08 19:03] nvazquez commented on #6232
Retried from scratch on RHEL8.6, sorry first time tried on CentOS8 instead of RHEL.

cloudstack-management installation:
[code]

I am able to start it properly, not really sure what can be the issue. Unfortunately nothing else can be obtained from those logs, it simply stops logging. Sorry for the silly suggestion but could be worth checking the disk space as well, just in case

[2022-04-08 19:21] rwdj commented on #6232
None of the partitions are over 33%.

I'm aware it's likely something special about the machine, but I'm not able to work with a 100% fresh machine. This machine was recently imaged. If I get it reimaged, it'll likely have the same issue, whatever it is. So, I need to identify the problem if I'm to continue this test.

[2022-04-09 07:05] slavkap opened #6239 "UI - cannot add new secondary storage"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

Unable to add a new secondary storage. The provider and the URL are missing

##### STEPS TO REPRODUCE

[code]

![image](https://user-images.githubusercontent.com/51903378/162560732-daf2362f-77a7-4860-b494-1b812dc6b91c.png)

/client/api/?name=test&url=&zoneid=f31d68a4-8fdc-4eb0-8c5f-20ce5

[2022-04-10 00:31] nvazquez commented on #6239
Thanks @slavkap - I have created the fix #6241

[2022-04-10 00:34] nvazquez commented on #6232
@rohityadavcloud @DaanHoogland any hint on what else to check that could be causing the server to start?

[2022-04-10 01:06] rwdj commented on #6232
I'll note, since I haven't mentioned it yet, that SELinux is permissive as instructed. So it's not SELinux blocking anything.

[2022-04-10 19:36] Damans227 commented on #4834
@nvazquez @rohityadavcloud @borisstoyanov Hi Guys, I hope you are doing well. I have submitted a project proposal for this issue today. PTAL when you get a chance. Thanks!

[2022-04-11 06:25] borisstoyanov commented on #6040
Thanks @Damans227, we'll have @davidjumani and @harikrishna-patnala review your submission and get back to you if needed.

[2022-04-11 06:27] borisstoyanov commented on #6030
@damanBirSingh I'd like to remind you that this week is the last chance to submit your proposal, please take the advantage to do so if you want to secure your GSoC2022 participation.

[2022-04-11 06:28] borisstoyanov commented on #6021
Hi @Yashikaone,

This week is the last chance to submit you proposal for this idea, please take some time and do so if you want to secure your GSoC participation.

[2022-04-11 06:52] DaanHoogland commented on #6232
@rwdj (cc @nvazquez ) I went through the ticket a bit loosely but cannot see anything jumping out that would constitute a clue. I suppose the java process is running as systemctl reports it. I've never seen anything like the described yet.
Maybe try starting the service by hand in a terminal (as opposed to by systemctl) and see if it gives  more output?

[2022-04-11 07:05] borisstoyanov commented on #6011
@mehrdadmoradii @sahilsaini110 This week is the deadline to submit proposals into the GSoC platform, to secure your GSoC participation please submit the proposal by Fri.

[2022-04-11 08:17] borisstoyanov commented on #4834
Thanks @Damans227, we'll have someone to look it up and get back to you if needed.

[2022-04-11 08:29] xuanyuanaosheng commented on #6105
Any update?

[2022-04-11 13:42] #5935 closed

[2022-04-11 14:06] rwdj commented on #6232
I've made it further. /etc/cloudstack/management/key, as generated and not touched by me, was generated as the following:
[code]
A chown to :cloud and chmod to 640 and I'm to a new error. I doubt the new error is related to the current issue: it's database connection related. So, I'll work on that on my own.

I started to check permissions for things I might have missed because the system is confi

[2022-04-11 14:16] rwdj commented on #6232
A quick search tells me this issue doesn't belong in this repo (I don't see the file that creates the key: cloudstack-setup-databases. Where am I headed next with this issue?

[2022-04-11 14:39] nvazquez commented on #6231
Hi @synergiator sorry if I didn't understand properly, but as a user I am able to see a project's UUID by clicking on it (Projects -> click on the project -> See ID at the left) - can you explain further?

[2022-04-11 18:43] synergiator commented on #6231
never mind, need to double check. thx.

[2022-04-11 19:01] rwdj opened #6246 "Cloudstack is not FIPS compliant"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 8 FIPS compliant system

##### SUMMARY

Cloudstack uses multiple instances of non-FIPS-compliant features. This makes it impossible to work with in a FIPS compliant environment.

##### STEPS TO REPRODUCE

On a FIPS compliant system, build as instructed

[2022-04-12 02:01] nvazquez commented on #6133
@Pearl1594 can you please check this issue?

[2022-04-12 05:14] AlexanderKgr opened #6247 "Upgrade - migrate to new host - os"
##### ISSUE TYPE

 * Bug Report
 * Documentation Report
 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced networking

##### OS / ENVIRONMENT

Ubuntu Server

##### SUMMARY

I am running the cloudstack app at a server based on Ubuntu Server 18.04.
I want to migrate to other server and to update to 20.04
Tried two scenarios.

1st scenario.
Create

[2022-04-12 07:19] Pearl1594 commented on #6247
@AlexanderKgr this could be a consequence of the MySQL version -  http://docs.cloudstack.apache.org/en/latest/upgrading/upgrade/mysql.html. After the migration, can you please try running the following query:
`ALTER TABLE nics MODIFY COLUMN update_time timestamp DEFAULT CURRENT_TIMESTAMP;`

[2022-04-12 08:00] jack99trade opened #6249 "Plugins for specific Domain or Accounts."
##### ISSUE TYPE
* Other

##### COMPONENT NAME
Plugins Configuration

##### CLOUDSTACK VERSION
4.16.1.0
##### CONFIGURATION

Is there any parameter I can add in config to show a  plugin for specific Account or Domain .
e.g. ExamplePlugin is shown to Domain-1  users
      ExamplePlugin1 is shown to Domain-2 users

###
{
   plugins: [
      {
         "name": "ExamplePlugin",
         "icon": "appst

[2022-04-12 09:07] DaanHoogland commented on #6232
good find @rwdj, so we should rename this to something like "wrong file rights on key file doesn't generate proper error message"?

[2022-04-12 09:10] DaanHoogland commented on #6249
No there isn't @jack99trade . At the moment features are just shown or hidden on the basis of access rights to APIs and in most cases being a root admin or not.

[2022-04-12 11:14] #5124 closed

[2022-04-12 11:26] rohityadavcloud commented on #6232
Hi @rwdj based on the discussions, I think this may be an env issue. The bug report is alright. If you're still experimenting, can you start with a fresh/clean env again and see if you can reproduce it?

[2022-04-12 12:50] jack99trade commented on #6249
@DaanHoogland  Thanks for info.

[2022-04-12 12:50] #6249 closed

[2022-04-12 12:52] andrijapanicsb commented on #6144
We could argue that this is to the design (all outgoing packets going outside via StaticNat rules), but nevertheless, the more specific routes (Private Gateway routes) should take precedence.

[2022-04-12 14:10] rwdj commented on #6232
I can't because I need to move onto other work, but I can demonstrate the fact the key is produced with bad permissions in this environment is reproducible.
[code]
I can also pick out the exact line that writes it: https://github.com/apache/cloudstack/blob/4.16/setup/bindir/cloud-setup-databases.in#L400
^ With umask 077 and ran by root, I can see why the file would be generated that way.

The caus

[2022-04-12 14:24] rwdj commented on #6246
@weizhouapache, no, #6232 is mostly unrelated.

/etc/cloudstack/management/db.properties isn't missing. Although I noticed those lines in the error as well. But it also doesn't compile.

[code]

It was generated appropriately from:
[code]

[2022-04-12 15:04] rwdj commented on #6232
Generally speaking, I'm less concerned about it now that this tickets exists as a paper trail for people with google-fu. It's not a major thing and only makes things a tiny bit more difficult after you know what's going on. But the fixes are equally simple. I'm just not sure how y'all want to go about this.

[2022-04-12 15:45] jack99trade opened #6251 "User Account disable issue."
##### ISSUE TYPE

 * Other

##### COMPONENT NAME
User Management
##### CLOUDSTACK VERSION
4.16.1.0

##### CONFIGURATION

Cloudstack with Ldap integration (Windows AD)

##### OS / ENVIRONMENT
centos7
##### SUMMARY

whenever user enters bad password couple of times. its AD account is locked for 15 minutes and then its auto unlocked in AD.

on Cloudstack the users is disabled and keeps in disabled st

[2022-04-12 16:22] slavkap opened #6252 "Cannot deploy a VM - IO_URING is not supported with Advanced virtualization"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Basic network

##### OS / ENVIRONMENT

Rocky Linux on CS managements and agents

libvirt/qemu version with Advanced virtualization
Compiled against library: libvirt 7.6.0
Using library: libvirt 7.6.0
Using API: QEMU 7.6.0
Running hypervisor: QEMU 6.0.0

##### SUMMARY

##### STEPS T

[2022-04-12 16:27] nvazquez commented on #6144
Fixed by #6153

[2022-04-12 16:27] #6144 closed

[2022-04-12 17:16] nvazquez commented on #6251
Hi @jack99trade I think that CloudStack behavior cannot be disabled, will need some investigation unless @DaanHoogland @rohityadavcloud @andrijapanicsb could you remember if its possible to disable that?

[2022-04-12 17:17] weizhouapache commented on #6232
@rwdj
good finding.I agree the `umask` caused the issue.
as far as I know, the default `umask` output is `0022` (for root admin). If you run `umask 0022`, then setup database, it should work.
if so, we can update cloudstack document to highlight it.

[2022-04-12 21:20] weizhouapache commented on #6251
@nvazquez @jack99trade
you can update the global setting `incorrect.login.attempts.allowed` to a large value.

@nvazquez
we could make changes to mark the value `0` as disabled in 4.17.0.0.

[2022-04-13 00:04] nvazquez commented on #6251
Many thanks @weizhouapache - I have created the fix #6254

[2022-04-13 08:14] rohityadavcloud commented on #6246
Thanks for reporting @rwdj, can you advise how to setup a FIPS complaint EL8 mgmt/KVM host? That is what additional steps were taken before you deployed CloudStack on it, maybe there's a common document that describe this process?

[2022-04-13 09:34] jack99trade commented on #6251
@weizhouapache  thanks for this. i have updated my incorrect.login.attempts.allowed global value to higher side for now.

[2022-04-13 10:27] weizhouapache commented on #6084
fixed by #6160

[2022-04-13 10:27] #6084 closed

[2022-04-13 11:43] DataProvided opened #6259 "dependency scope setting issues"
##### ISSUE TYPE

 * Other

##### SUMMARY

Hi,

We are developing a tool to check whether the dependencies' scopes in maven are set rightly and reasonably.

Our tools have found some issues in your project about scope setting in maven' pom.xml file.

- in `plugins\user-authenticators\ldap\pom.xml`, `org.zapodot:embedded-ldap-junit` scope should be `test`  instead of `compile`.
- in `utils\pom.xml`

[2022-04-13 12:07] nvazquez commented on #6252
Fixed on #6253

[2022-04-13 12:07] #6252 closed

[2022-04-13 14:57] rwdj commented on #6246
Regarding additional steps, it would be most of the [Red Hat Enterprise Linux 8 Security Technical Implementation Guide](https://www.stigviewer.com/stig/red_hat_enterprise_linux_8/2021-12-03/), but that's _probably_ too much. Checking full STIG compliance for a system takes way too long for this purpose.

The document https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/se

[2022-04-13 15:59] rwdj commented on #6246
Alternatively, here's documentation for an Ubuntu FIPS environment: https://ubuntu.com/security/certifications/docs/fips-enablement

[2022-04-14 04:12] nvazquez commented on #6251
Fixed on #6254

[2022-04-14 04:12] #6251 closed

[2022-04-14 11:52] GabrielBrascher opened #6263 "Cannot scale VM with custom offering"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

- VM has a custom service offering

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2022-04-15 03:32] xuanyuanaosheng commented on #4391
Which clustered filesystem do you recommend?

[2022-04-15 05:58] andrijapanicsb commented on #4391
Nothing is even close to "good enough" for production use.

[2022-04-15 06:53] ccycv opened #6270 "Unable to find the target datastore in datacenter -ACS with VMware"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

The migration for VMs with local storage is not working, tested in 3 different environment with similar setups.  I verified the VMware for cloud.uuid, it is the same uuid as in the cloudstack.

##### STEPS TO REPRODUCE

[code]

[2022-04-15 08:10] neogismm commented on #4834
@rohityadavcloud @nvazquez @borisstoyanov hi mentors, I've submitted my gsoc proposal. I've also emailed the Google docs link. Hope to hear from you soon.
Thanks.

[2022-04-15 14:58] #6263 closed

[2022-04-19 11:31] DaanHoogland commented on #6270
@ccycv from what I can see in your log this is expected behaviour, but I assume you tested this successfully in 4.15?
Maybe you can add the logs relevant to the job starting with the line containing "===START===" that pertains to your migration request, up to the matching "===END===" that gave your error result.

[2022-04-19 13:55] nvazquez commented on #6209
Ping @weizhouapache @DaanHoogland @rohityadavcloud @andrijapanicsb what's your take on the approach to be taken for solving this issue?

[2022-04-19 20:08] nvazquez commented on #6209
Moved to the next milestone

[2022-04-19 20:11] nvazquez commented on #6209
Thanks @weizhouapache - this would need further investigation for different storage and also considering stock qemu and qemu-ev packages on KVM

[2022-04-20 02:58] xuanyuanaosheng commented on #4391
@andrijapanicsb  How to add SAN storage like HP3PAR or HITACHI as cloudstack storage?

[2022-04-20 07:15] andrijapanicsb commented on #4391
Clustered File System is required on top of SAN/LUN (whatever the storage in the background).
None of those clustered file systems is something I would have an easy time recommending.

[2022-04-20 07:42] xuanyuanaosheng commented on #4391
@andrijapanicsb  I have searched all the doc and goole a lot.
1.    https://serverfault.com/questions/734364/add-shared-mountpoint-storage-in-cloudstack
2.    https://www.mail-archive.com/dev@cloudstack.apache.org/msg94600.html

But I still can not find a good way how to add a SAN/LUN storage like HP3PAR or HITACHI on the cloudstack, Could you please give some advices ?

[2022-04-20 09:07] xuanyuanaosheng opened #6291 "Does the cloudstack Primary Storage support the Shared-Block storage service?"
Does the cloudstack Primary Storage support the Shared-Block storage service ?
 - https://www.zstack.io/help/en/product_manuals/maintenance_manual/v3/7.4.html#chapter-7-4-1-Shared-Block

If support, How to use it?

![image](https://user-images.githubusercontent.com/4197714/176598404-08a3511a-2a9a-4dab-ad4e-2981938b04be.png)

[2022-04-20 09:12] xuanyuanaosheng opened #6292 "Does the cloudstack support the SAN Storage?"
Does the cloudstack support the SAN Storage like : https://www.zstack.io/help/en/product_manuals/maintenance_manual/v3/7.6.html

[2022-04-20 13:27] Yashikaone commented on #6021
Hello borisstoyanov
Please excuse my late reply I was busy with my ongoing exams.
I'd like to inform you I have submitted the proposal
Thank you for the reminder

[2022-04-20 14:00] #6191 closed, assigned to nobody

[2022-04-20 14:00] MejdiB opened #6293 "Advanced Zone with SG: Add L2 networks and shared networks with Account/Project Scope"
##### ISSUE TYPE

 * Improvement Request
 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Cloudstack 4.16.1 Environment Advanced Zone with Security Groups. There is a shared default Network with a pool of IP addresses available for instances.

##### OS / ENVIRONMENT

RHEL 8.4 is used for cloudstack management servers and hosts.

##### SUM

[2022-04-20 14:36] matheusfontes commented on #3196
Neither take snapshot nor revert snapshot works on cloustack 4.16.1 with xcp-ng 8.2

[2022-04-20 14:45] matheusfontes opened #6294 "VM snapshot failure without memory"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Xcp-ng 8.2 (Build 2022-02-11)

##### SUMMARY

VM snapshot, take or revert failure without memory
2022-04-19 20:08:31,192 ERROR [c.c.a.ApiAsyncJobDispatcher] (API-Job-Executor-26:ctx-71ff1196 job-202173) (logid:751c997c) Unexpected exception while executing o

[2022-04-20 21:46] hc7244 opened #6295 "Template - Dynamically Scalable toggle button in Edit window doesn't reflect the actual value"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME
UI
[code]

##### CLOUDSTACK VERSION
4.16

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY

If a template shows a Dynamically Scalable value of true, the Dynamically Scalable toggle button is off when you go to the Edit option.

##### STEPS TO REPRODUCE

I used packer to create a new CloudStack template.  In my source,

[2022-04-21 02:13] hstan77 commented on #4391
Hi

You cannot attach it to Cloudstack directly.

But you can attach to a server that have NFS , and add NFS to Cloudstack.

Of if you use loca storage, then attach it directly to HyberVisor as
storage .

On Wed, Apr 20, 2022 at 3:42 PM xuanyuanaosheng ***@***.***>
wrote:

--
Regards,
Hean Seng

[2022-04-21 07:20] Pearl1594 commented on #6295
@hc7244 thanks for reporting . This seems to be fixed in the main branch (4.17) - i.e., when the details show that the template is dynamically Scalable, the edit Template form has the switch in the On position:
![image](https://user-images.githubusercontent.com/10495417/164396989-90d98e87-0085-4be6-b36e-8d1383cae5b7.png)

![image](https://user-images.githubusercontent.com/10495417/164396725-b30538

[2022-04-21 13:06] #6295 closed

[2022-04-22 03:07] CKrieger2020 opened #6298 "Place VM's on the same network as the CloudStack-management server"
##### ISSUE TYPE

 * Other

##### COMPONENT NAME

UI, IP

##### CLOUDSTACK VERSION

4.16.0.0

##### SUMMARY

I am trying to find a method of placing newly deployed VM's on the same network as my management server, but so far it only allows me to create guest VM's behind a NAT with a private IP address. I need to create multiple VM's hosting services that can be routed to an external DNS. My concer

[2022-04-22 08:46] Tragiv opened #6302 "unsupported configuration: VNC password is 22 characters long, only 8 permitted"
##### ISSUE TYPE

 Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

advanced networking

##### OS / ENVIRONMENT

CentOS Stream release 8   KVM  host

##### SUMMARY

enable  zone ,
Agent log error
org.libvirt.LibvirtException: unsupported configuration: VNC password is 22 characters long, only 8 permitted

##### STEPS TO REPRODUCE

[code]

##### EXPECTED R

[2022-04-22 08:56] weizhouapache commented on #6302
@Tragiv
this issue should be fixed in upcoming 4.17.0.0 by #6244

[2022-04-22 09:06] Tragiv commented on #6302
thanks, I know

[2022-04-22 09:06] #6302 closed

[2022-04-22 12:49] weizhouapache commented on #4211
this issue should have been fixed by #5164

for users who do not use NFS, there are two PRs open for review and testing:

[KVM High Availability regardless of storage](https://github.com/apache/cloudstack/pull/4978#) #4978
[KVM HA Enhancements for Ceph RBD Primary Storage](https://github.com/apache/cloudstack/pull/5862#) #5862

[2022-04-24 10:31] xuanyuanaosheng commented on #4391
1. I have test it on NFS, But it has performance issues.
2. I also test the ceph RBD, But I find the cluster will auto restart when the kvm virtual machine has docker installed.  I stll can not find the reason, why this happen.
3.  When using as the local storage, The highly available feature of the cluster will not be available.

So, I'm investigating new solutions, like:
1.  Sharedmountpoint
2.

[2022-04-24 10:37] xuanyuanaosheng commented on #4391
@hstan77 @andrijapanicsb @DaanHoogland

As above all, Now I think using the Sharedmountpoint with glusterfs is a solution, Any idears?

[2022-04-25 02:51] #6067 closed

[2022-04-25 06:04] ccycv commented on #6270
`GET  livemigrate=false&storageid=ce27d8fc-27cf-4754-8a82-e27497c390a7&volumeid=6a456713-a75e-48ba-a7aa-e4291aeb3472&command=migrateVolume&response=json
2022-04-25 05:47:09,405 DEBUG [c.c.a.ApiServer] (qtp515715487-873791:ctx-ee2a2ad0 ctx-a34c2a4a) (logid:87478f01) CIDRs from which account 'Acct[8a0f55f0-1f58-11ec-b6e8-244bfeb8116f-admin] -- Account {"id": 2, "name": "admin", "uuid": "8a0f55f0-1f5

[2022-04-25 06:04] ccycv commented on #6270
`GET  livemigrate=false&storageid=ce27d8fc-27cf-4754-8a82-e27497c390a7&volumeid=6a456713-a75e-48ba-a7aa-e4291aeb3472&command=migrateVolume&response=json
2022-04-25 05:47:09,405 DEBUG [c.c.a.ApiServer] (qtp515715487-873791:ctx-ee2a2ad0 ctx-a34c2a4a) (logid:87478f01) CIDRs from which account 'Acct[8a0f55f0-1f58-11ec-b6e8-244bfeb8116f-admin] -- Account {"id": 2, "name": "admin", "uuid": "8a0f55f0-1f5

[2022-04-26 01:51] #4463 closed

[2022-04-26 21:05] AWrightforge opened #6321 "4.16.1 HA Kubernetes not deploying multiple master nodes"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

KVM, advanced networking zone

##### OS / ENVIRONMENT

ubuntu 20.04

##### SUMMARY

CS passes >2 to the plugin and then right after the first control node is deployed, it starts deploying a worker node.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL

[2022-04-27 05:58] Pearl1594 commented on #6321
@AWrightforge this issue may most likely be caused due to specific services starting in the nodes prior to creation of those specific service files during bootstrapping of the nodes, as explained in https://github.com/apache/cloudstack/issues/5999. This has been addressed in 4.17(main). It would be great if you could verify if your issue is fixed by using the main branch. Thanks

[2022-04-28 07:51] weizhouapache opened #6330 "UI: `cleanup` is not displayed when group restart network"
if there is a vpc tier on the platform, group restart network do not have `cleanup` option.

see screenshot

![image](https://user-images.githubusercontent.com/57355700/165704173-98a366ec-a6a6-47a8-a8af-6c8089c454ce.png)

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPROD

[2022-04-28 12:21] #6330 closed

[2022-04-28 14:07] vladimirpetrov opened #6334 "Cannot deploy VM on a isolated network with no SourceNAT service"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Cannot deploy VM on a isolated network with no SourceNAT service

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2022-05-02 02:49] nvazquez opened #6342 "Upgrade ant-design-vue to version 3.x"
After upgrading to Vue3, have moved to ant-design-vue version 2.x. However it is now recommended to move to version 3.x:

https://www.antdv.com/docs/vue/migration-v3:

`
The 2.x version is a compatible version developed for compatibility with Vue 3. It does not bring many new features, and most of the API changes are only for better compatibility with Vue 3. The 3.x version has greatly improved pe

[2022-05-02 08:08] satishglondhe opened #6344 "User kubeadmin is not getting created except for default project in k8s cluster"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Isolated Networking

##### OS / ENVIRONMENT

N/A

##### SUMMARY

To enable communication between the cluster autoscaler and CloudStack, a separate service user kubeadmin is created in the same account as the cluster owner. This is working fine with the default project, But if we cr

[2022-05-02 10:38] nvazquez commented on #6342
Hi @utchoang since you have done a great work on the Vue3 PR can you please check this one?

[2022-05-02 17:03] mlsorensen opened #6346 "Drop embedded LDAP classes from runtime"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY
LDAP test cases use packages from `org.apache.directory.server` to create an embedded LDAP server for testing. These packages pull in ehcache 2.10.4, which embeds a version of Jetty and Jackson that have critical vulnerabilities. While this LDAP server and classes aren't used in a

[2022-05-03 06:00] DaanHoogland commented on #6346
thanks for the notice @mlsorensen , these were supposed to become an embedded ldap, but as virtual attributes are not well supported in apache DS, that effort failed.

[2022-05-03 11:09] nvazquez commented on #6148
Thanks for the workaround @maikgiessler - I'm closing this issue since Xen 8.2 is not supported: http://docs.cloudstack.apache.org/en/latest/releasenotes/compat.html

[2022-05-03 11:09] #6148 closed

[2022-05-03 12:22] AlexanderKgr opened #6349 "No support for xcp-ng 8.2.1 - many hypervisor capabilities not available"
##### ISSUE TYPE

 * Bug Report
 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced Networking

##### OS / ENVIRONMENT

UbuntuServer20

##### SUMMARY

Since last update on xcp-ng via yum update (8.2.1), Cloudstack management platform does not recognize hypervisor capabilities
Live storage migration is no more available due that capa

[2022-05-03 14:39] saffronjam opened #6350 "The listVPCs rule affects viewing network offerings"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
Roles

##### CLOUDSTACK VERSION
4.16.1.0

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
All hosts run Ubuntu 20.04. Accessing dashboard over Google Chrome 100.0.4896.127

##### SUMMARY
Removing *listVPCs* rule on a Role removes listing network offerings too (no networks offerings displayed in the Create Network form)

##### STEPS TO REPROD

[2022-05-03 17:19] BenoitLair commented on #6349
Hi @AlexanderKgr
There is too a topic in the ACS Mailing list here : [https://lists.apache.org/thread/jompt5z3hdpf2949sqd6gdly4w6frfgx](url)

Xcp-ng 8.2 which is fully supported by Cloudstack
His hypervisor capabilities are available trough `hypervisor_capabilities`

There are description of Xenserver capabilities with a version 8.2.0

However after updating trough official process of xcp-ng, a yu

[2022-05-03 17:26] BenoitLair commented on #6349
There is also some bugs with "Debian 11" vms

Vms running "Debian 11" on 8.2.0 were finding their mapping with ACS trough "Other media"
Now with 8.2.1, features like snapshots are no more working due to error of guest os mapping

I used this fix in order to get it working "Debian 11"

INSERT INTO `cloud`.`guest_os_hypervisor` (`hypervisor_type`, `guest_os_name`, `guest_os_id`, `hypervisor_version`

[2022-05-03 17:53] BenoitLair commented on #6349
@AlexanderKgr from my point of vue, this is not an improvement but a critical bug.

Xcp-NG have not changed of version
Xcp-NG 8.2.1 is in life cycle of Xcp-NG 8.2 LTS as @stormi from @vates said

This is a maintenance release, no new features

[2022-05-03 20:38] rg9975 commented on #5405
Has this been discussed for priority in a release?  These are common GPU chips and having this implemented directly as a supported service offering would be ideal.

[2022-05-04 06:19] #6346 closed

[2022-05-05 02:16] #6350 closed

[2022-05-05 05:00] maikgiessler commented on #6148
In the documentation, XS 8.2 is given as 'expected to work'. Isn't it planned to have official support for XS 8.2 in CS 4.17.0? It would be great if it could be added, because this is a serious issue for all customer having XenServer 8.2 in place.
Thanks!

[2022-05-05 05:28] andrijapanicsb commented on #6148
@maikgiessler Since, XenServer binaries are not publicly available, it was not possible to test it, community only tested XCP-ng 8.1, 8.2.

If you can provide XS 8.2 binaries, we  would be happy to test it?

[2022-05-05 11:22] maikgiessler commented on #6148
Hm, ok. Sure, I could provide the ISO of XS 8.2.1. Would you have me a place where to put it?

[2022-05-05 12:19] nvazquez commented on #6148
Hi @maikgiessler I think Github has a size limit of 100MB per file. Can you try sharing over Google Drive or other providers? We can test it for the next milestone/release. With respect to the documentation, I am updating it with your workaround on this PR: https://github.com/apache/cloudstack-documentation/pull/272

[2022-05-05 18:34] unplugged216 commented on #5370
Since no actual resolve or method to achieve it was provide by OP, here is the documentation used to resolve the issue.

https://cwiki.apache.org/confluence/display/CLOUDSTACK/SSVM%2C+templates%2C+Secondary+storage+troubleshooting

The ultimate issue is a bit more extensive. Following the above alone did not solve my problem. I need to modify the following files to reflect proper IPs before the ag

[2022-05-06 11:38] AlexanderKgr commented on #6349
@nvazquez anyone to check this?

[2022-05-06 13:07] stormi commented on #6349
I'm the release manager for XCP-ng. 8.2.1 is really 8.2. If 8.2 is supported, then 8.2.1 and any 8.2.x is. They are (will be) just maintenance releases.

[2022-05-06 13:15] AlexanderKgr commented on #6349
@nvazquez

[2022-05-06 13:34] nvazquez commented on #6349
Thanks @stormi - that makes sense. I have added the SQL inserts tested by @BenoitLair on PR #6362 - full support can be added later for missing guest OS

[2022-05-06 13:36] stormi commented on #6349
Thanks. As XCP-ng 8.2 is a LTS, it will probably receive more minor numbered updates like 8.2.1 in the future. Main component versions don't change (linux kernel, Xen, XAPI...).

[2022-05-06 13:40] stormi commented on #6349
Oh, by the way: I don't know how you test for the version currently. If you source `/etc/xensource-inventory`, then `PRODUCT_VERSION_TEXT_SHORT` will remains with value `8.2` for all of XCP-ng 8.2's lifetime.

[2022-05-06 13:58] nvazquez commented on #6349
@stormi the version is read from field 'product_version' (or 'platform_version' if the first is empty) of the 'softwareVersion' XCP host field while connecting it to CloudStack. Reading the version from xensource-inventory could be a good refactor for us, avoiding the DB records addition each time a minor version is released