[2018-11-02 01:04] bdonnahue commented on #2996
When I move the router from host A to host B, all the vms on host A loose connectivity to the tier network and the internet. All the vms on host B then get connectivity to the tier network and the internet

[2018-11-02 01:04] bdonnahue commented on #2996
Making the network redundant does not create any more router vms

[2018-11-04 13:16] bwsw opened #2998 "Support dummy ethernet devices as bridge slaves"
##### ISSUE TYPE

 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

CloudStack with KVM agent

##### OS / ENVIRONMENT

##### SUMMARY

CloudStack currently checks for specific device [names](https://github.com/apache/cloudstack/blob/323d381767c9f5c6edf180b4b9ed3d515e4e3c20/plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resou

[2018-11-05 09:35] DennisKonrad commented on #2930
Hi @rhtyd,

so I don't really get where this issue comes from. Some questions:

1. What did we do to get into this problem? How can we avoid this?
2. Can I somehow connect to the management server to see the certitificate? openssl s_client isn't working with java tcp connection...

I did some research in our logfiles and do not fully understand why we have this problem. The following happens:

Sec

[2018-11-05 10:53] DennisKonrad commented on #2820
Hi,

we also obseve the same problem.
It happens for us when uploading a 20GB qcow image.

We tried to upload from http via:
Templates
Storage

both did not work and failed with "Stream closed". There's nothing really interesting in the logs beside that.

[2018-11-05 10:54] DennisKonrad commented on #2820
@rhtyd Is there a workaround for this?

[2018-11-05 11:19] svenvogel opened #3001 "storage upload -> "custom disk offerings" not displayed correctly (ui bug)"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS7

##### SUMMARY

When you try to upload a disk file in "storage->upload" e.g. a qcow2 the ui displays one description in the "custom disk offering" field. it will not display the disk offerings but instead "one" description of that?

##### STEPS TO RE

[2018-11-05 11:19] svenvogel commented on #3001
@mike-tutkowski what do you think?

[2018-11-05 11:34] DennisKonrad commented on #2820
Could this have to do with this hardcored max size defined here:

[DownloadManagerImpl.java](https://github.com/apache/cloudstack/blob/1d05fead49f5c856257a741b07122f5633d2e359/services/secondary-storage/server/src/main/java/org/apache/cloudstack/storage/template/DownloadManagerImpl.java#L712-L714)
`        // TO DO - Define Volume max size as well
        long maxDownloadSizeInBytes =

[2018-11-05 13:38] borisstoyanov commented on #2989
Hi @somejfn, shouldn't the guest type of the network offering be L2, instead of Shared?

[2018-11-05 13:51] DennisKonrad commented on #3001
https://github.com/apache/cloudstack/blob/1d05fead49f5c856257a741b07122f5633d2e359/ui/scripts/storage.js#L509-L552

This should be the relevant section.

[2018-11-05 13:52] somejfn commented on #2989
L2 did not exist in 4.9.3 and unless we have a way to convert them to L2
live on 4.11.2 (I'd like that)....  well the existing network offering
remain a shared one.

We built our provisioning process (our own API extensions) on those shared
networks with no services.  So we will change our code to support the new
L2 networks somehow but at the same time not being retro compatible here is
kind of a

[2018-11-05 14:14] borisstoyanov commented on #2989
Hi @somejfn, I've tried reproducing this on an upgraded env from LTS 4.9.3 to 4.11.2 RC4
Using this offering:
a91d1c0e-49cb-4d49-9537-3399d653f2b5
[code]

I was able to create a network:
[code]

Can you share any other details that could be affecting this?

Otherwise, I think if you're not using any CS network services and all of them are managed externally L2 network is the way forward, but can't

[2018-11-05 14:29] DennisKonrad commented on #2820
Can someone confirm that "HttpTemplateDownloader.java" is used for this?

[2018-11-05 14:41] PaulAngus commented on #2989
I have also tried a clean install and an upgrade from 4.9.3, i can't reproduce this issue.
Have you retried on **RC4** ?

[2018-11-05 14:45] somejfn commented on #2989
Hmm I don't see the difference by the look of it.   The network offering on
4.9.3 was created this way:

    cs createNetworkOffering displaytext="{{ netoffer_name }}"
supportedservices=""
    guestiptype=Shared name="{{ netoffer_name }}" traffictype=GUEST
    SpecifyVlan=true SpecifyIpRanges=true networkrate=-1

Could the network service providers being enabled come into play ?

In my setup I onl

[2018-11-05 14:48] somejfn commented on #2989
I'll upgrade to RC4 right now and see

On Mon, Nov 5, 2018 at 9:41 AM Paul Angus <notifications@github.com> wrote:

[2018-11-05 14:56] somejfn commented on #2989
Same error on RC4

If that matters,  I created a new network offering on 4.11.2 similarly to
the 4.9.3 one with the only difference I enabled user-data via configdrive:

list networkofferings id=5955e06f-ab78-4a03-b2fa-9856f38a6ed8
{
  "count": 1,
  "networkoffering": [
    {
      "availability": "Optional",
      "conservemode": true,
      "details": {
        "ForgedTransmits": "true",

[2018-11-05 16:10] csquire opened #3002 "api: listApis command missing 'tags' field for many responses"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

At some point around 4.9, many API command stopped reporting the `tags` field in their API response fields. For example UserVMResponse and TemplateResponse. I believe this was caused by [this commit](https://github.com/apache/cloudst

[2018-11-05 16:36] PaulAngus commented on #2989
@somejfn i'm not sure how well config drive is supported in shared networks, can you check that it is enabled for the guest networks - infrastructure -> zones -> <ZONE> -> Physical Network Guest -> Network Service Providers

[2018-11-05 16:46] somejfn commented on #2989
Yep I did had to enable it there to get it working while testing with new
L2 networks.

On Mon, Nov 5, 2018 at 11:36 AM Paul Angus <notifications@github.com> wrote:

[2018-11-05 16:54] PaulAngus commented on #2989
so to clarify - does the shared network with no-services deploy in 4.11.2rc4 if you don't use config drive ?
(the 'details' should be blank for KVM - they only apply to vSphere vSwitches).

how exactly did you 'enable' config drive after upgrading?

[2018-11-05 17:05] somejfn commented on #2989
Hi Paul,

I have 2 custom neworkofferings created as shared networks,  one with
config drive (post 4.11.2 upgrade) enabled and the other without (created
under 4.9.3).  Under both cases the network creation fails with that same
error.

[2018-11-05 19:39] DennisKonrad commented on #2820
Ok, the logs we get in the SSVM look like this when trying to upload a template:

![image](https://user-images.githubusercontent.com/33484272/48022200-d56f6400-e13a-11e8-85c5-6b6f23bb1041.png)

Now I'm sure HttpTemplateDownloader is at least involved here.

[2018-11-05 23:58] ccheline opened #3006 "Secondary Storage server fails if multiple Management servers are defined"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Global Setting
Key: host
Value: IP_ADDR1,IP_ADDR2 (eg: 10.0.0.20,10.0.0.21)

##### OS / ENVIRONMENT

##### SUMMARY

When setting the host global setting to multiple addresses (separated by a comma), the secondary storage systemvm alerts and fails to further operate.

##### STEPS TO

[2018-11-06 03:19] div8cn opened #3008 "Runing cloudstack failed in docker"
If docker does not enable IPV6, cloudstack-management will fail after startup；

Server.properties default IPV6, but docker does not start IPV6, so the startup fails
/etc/cloudstack/management/server.properties
bind.interface=::

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7.5
Docker 18.06.1-ce

[2018-11-06 08:29] PaulAngus commented on #2989
@somejfn - could you try something for me.  Could you create your network (without config drive) but **ADD** the Source NAT service,  And then try.  thanks.

[2018-11-06 09:41] DennisKonrad commented on #2820
@DaanHoogland I saw you did some work on this. Do you have an idea what we can do about this?

[2018-11-06 09:49] DaanHoogland commented on #2820
@DennisKonrad It does not ring a bell in terms of code. It does sound like a sequence of characters that is interpreted somewhere in the stack as end of stream. Does the result match the start of the original file or is it corrupted?
And what is the fragment directly after it stops?

HttpTemplateDownloader does the actual downloading on secondary storage. You can add debug statements to it to get

[2018-11-06 13:43] somejfn commented on #2989
Hi Paul,

I created that offering (Source Nat via Virtual Router) but it's not
available/listed when I attempt to create a network.  I guess because the
zone/physical network do not have the virtual router provider enabled ?

On Tue, Nov 6, 2018 at 3:29 AM Paul Angus <notifications@github.com> wrote:

[2018-11-06 13:48] borisstoyanov commented on #2989
@somejfn quick question, have you enabled the offering once you've created it?

[2018-11-06 13:52] somejfn commented on #2989
Yep:

{
  "count": 1,
  "networkoffering": [
    {
      "availability": "Optional",
      "conservemode": true,
      "displaytext": "ExternalTenantTest",
      "egressdefaultpolicy": true,
      "forvpc": false,
      "guestiptype": "Shared",
      "id": "469a1565-b78d-430c-a123-e9c0a72c6fad",
      "isdefault": false,
      "ispersistent": false,
      "name": "ExternalTenantTest",
      "netwo

[2018-11-06 14:07] somejfn commented on #2989
Also unable to make that provider enabled... not sure how to "configure it":

Provider is not ready, cannot Enable the provider, please configure the
provider first

On Tue, Nov 6, 2018 at 8:52 AM Jean-Francois Nadeau <the.jfnadeau@gmail.com>
wrote:

[2018-11-06 14:10] borisstoyanov commented on #2989
yes, I've disabled it and got:
`  "errortext": "Provider VirtualRouter is either not enabled or doesn't support service SourceNat in physical network id=201",`

You can go to Zone-> physical networks -> select the guest public network -> scroll down and select 'Configure' on Network Service Providers -> click on VR and enable it.

There should be api call through cloudmonkey also...

[2018-11-06 14:17] somejfn commented on #2989
This is where I get the error:  Provider is not ready, cannot Enable the
provider, please configure the provider first

On Tue, Nov 6, 2018 at 9:10 AM Boris Stoyanov - a.k.a Bobby <
notifications@github.com> wrote:

[2018-11-06 14:24] somejfn commented on #2989
I'd be happy to share screen with you on a Zoom if you want.  DM me on
slack if you can

On Tue, Nov 6, 2018 at 9:16 AM Jean-Francois Nadeau <the.jfnadeau@gmail.com>
wrote:

[2018-11-06 16:06] bwsw opened #3009 "BUG: Account Resource Count is incorred when removed Service Offerings used"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Basic Networking, Domain ROOT/users, user: user

##### OS / ENVIRONMENT

Ubuntu 16.04 Server

##### SUMMARY

When you use in the account VM with SO removed, its resources are not accounted. Maybe specific only for accounts inside domains, but unsure. Bug found for env with domains.

[2018-11-06 16:10] bwsw commented on #3008
@div8cn do you think it's a bug? Docker is not a supported environment. I find dockerized deployment is very beneficial, but probably, it's a matter of additional Dockerfile placed in the mainstream repo which does configuration correctly and adding tests for CI/CD. Also, it makes sense to add a chapter in the documentation about this.

[2018-11-06 20:21] DennisKonrad commented on #2820
@DaanHoogland For small files it is working. But for files with multiple gb it seems to enter the „copyBytes“ only once. Theres
An empty file created and thats all.

Therefor I suspect the large filesize is the Problem here. Unfortunately it‘s very work intensive for me to Test changes to this piece of code so Im trying to get a strong indication of whats wrong First.

Also my java Programming Ski

[2018-11-06 21:01] nvazquez commented on #2989
Hi @somejfn,

I've been debugging the issue and could find the root cause of the failure. The DirectNetworkGuru could not implement the network as the it compares the expected isolation methods with the ones expected and if they differ it does not implement it. In this case the guru expected "VLAN" as isolation method on the physical network but found "vlan".

The workaround is to update your entr

[2018-11-07 12:01] #2989 closed

[2018-11-07 12:44] div8cn commented on #3008
Cloudstack for docker, in 4.10 and previous versions, can be properly activated.
If this can not be considered as Bug, should we write a docker supporting documentation?

[2018-11-07 12:45] rafaelweingartner commented on #3008
@div8cn that would be something very cool to have

[2018-11-07 12:49] #2929 closed

[2018-11-07 13:35] somejfn commented on #2989
Fix is confirmed. I can create a new network now based on the shared network offering.
thanks for the great support @borisstoyanov @PaulAngus

[2018-11-08 15:20] bdonnahue commented on #2996
Hey can anyone confirm this is a bug? I have tried multiple installs but I would like to have a sanity check from someone else

[2018-11-09 12:19] wido opened #3015 "Hypervisor max guest limit"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
Max Guest Limit

##### SUMMARY
We currently enforce the number of Guests / Instances which can be run on a hypervisor. This is a fixed number not tied to RAM or CPU.

This limit should be removed. If the hypervisor has enough RAM and CPU we should think the HV is capable.

The

[2018-11-09 12:34] rafaelweingartner commented on #3015
I think that for XenServer it might still be needed. However, if a user tries to deploy in XenServer, more VMs than it allows to, an exception is thrown, and the exception handling in ACS would catch it. So, it might also not be needed, because the host would be then put in avoid state, and the VM deployment would be retried somewhere else.

[2018-11-09 13:34] nvazquez opened #3017 "Cannot input backslashes on Console Proxy's french keyboard"
##### ISSUE TYPE
 * Enhancement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Selecting French AZERTY keyboard on console proxy does not allow input backslashes (ALTGR+8)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS

[code]

[2018-11-12 05:52] rhtyd commented on #2906
It depends but yes @izenk supported services could be external, by default these supported services (dhcp and dns) are provided by the VR.

[2018-11-12 05:53] rhtyd commented on #2856
it looks like how you may have setup your env, I could not reproduce. cc-ing for ideas - @PaulAngus @nvazquez @DaanHoogland @borisstoyanov

[2018-11-12 05:54] rhtyd commented on #2583
@bdonnahue there is no strict date however we were aiming for late-oct, mid-nov; but we have had blockers/bugs because of which we're at RC4.

[2018-11-12 08:49] rhtyd commented on #2930
@DennisKonrad alright let me ask some questions:
- Are you using 4.11.1.0 or 4.11.2.0-rcX or latest 4.11 branch?
- Are all of your mgmt server connected to the same mysql server? Or, it is a cross-dc env?
- Did you try my advice to stop all mgmt servers, delete the root private/public/certs global settings and start one mgmt server, wait for it to come online and then start the rest?
- Based on th

[2018-11-12 10:41] DennisKonrad commented on #2930
@rhtyd
- We are building directly from master. At the moment we are using the master as of today.
- All management servers are connected to the same mysql-cluster. Using the same database.
- We did not delete the private/public/certs global settings because we have hosts connected with vms on them. It seems to me your solution suggests basically rebuilding the whole cluster and that's not possible

[2018-11-12 11:03] rhtyd commented on #2930
@DennisKonrad can you at least stop all your mgmt servers and start one by one? It's possible that you had a conflict b/w root ca cert/priv/pub keys, you can temporarily disable auth strictness, then remove the global settings and use provisionCertificate API to re-provision certificate with a new keypair/cert. You're currently using a messed up (sounds like) unstable/master branch and we cannot h

[2018-11-12 11:29] DaanHoogland commented on #3015
tnx @rafaelweingartner , if you say the error handling is good enough to deal with it, we should go for it, it is not for ACS to decide what a hypervisor can, just to deal with it.

[2018-11-13 01:01] rhtyd commented on #3009
PR merged, closing.

[2018-11-13 01:01] #3009 closed

[2018-11-13 18:37] dubauski opened #3025 "VPC Router Corruption when working with large number of networks containing instances with public IP addresses"
[testCloudStack.zip](https://github.com/apache/cloudstack/files/2577548/testCloudStack.zip)

##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
VR

##### CLOUDSTACK VERSION
4.11.1

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
VPC network / Virtual router is in an unstable/corrupted state and requires one or more restarts with "Clean" option

##### STEPS TO REPRODUCE
We are

[2018-11-13 22:03] DennisKonrad commented on #2930
@rhtyd Starting one management up and later adding the second one did not work.

So I tried the following with one of two management server running:

1. set auth strictness = false (restart management afterwards)
2. stop management server (both off now)
3. backup/clear db keys:
     ca.plugin.root.private.key
     ca.plugin.root.public.key
     ca.plugin.root.ca.certificate
4. start first mgmt-ser

[2018-11-14 02:47] rhtyd commented on #2930
@DennisKonrad can you check in the logs if your kvm hosts are trying connect at all? You can try to delete the old keystore file at /etc/cloudstack/agent/cloud.jks and restart agent, then try the provision API.

[2018-11-14 14:46] DagSonsteboSB opened #3027 "VMware hosted VM with ISO attached live migration failure"
##### ISSUE TYPE
 * Bug Report (minor)

##### COMPONENT NAME
* CloudStack management

##### CLOUDSTACK VERSION
* 4.11.1
* 4.11.2-RC5 (hence possibly 4.11.2)

##### CONFIGURATION
* Advanced zone
* VMware vSphere 5.5u3
* CloudStack management versions as above
* VM with ISO attached

##### OS / ENVIRONMENT
* N/A

##### SUMMARY
* Migration of VM with ISO attached fails ungracefully.
* Not clear if th

[2018-11-14 19:23] svenvogel opened #3029 "project - infrastructure - "Select View: Group by Account" (ui problem)"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

 advanced networking

##### OS / ENVIRONMENT

CentOS7

##### SUMMARY

If you are a "admin" user (Role Type: admin) select a created project goto infrastructur -> virtual routers -> select view -> group by account then you get an "account and project id can't be specified together"

[2018-11-14 20:29] bdonnahue commented on #2996
@DaanHoogland will to. I was able to track down who I think is the author who i believe is @frank-zhang with commit https://github.com/apache/cloudstack/commit/276e37115b58fde14602aa7d017cc1aded276ace
I will also see if I can reach out to him

[2018-11-14 20:35] bdonnahue commented on #2583
@rhtyd ok. I will reach out again in a few weeks to see how things are going. Thanks for the help on this!

[2018-11-15 04:02] rhtyd opened #3031 "VMware basic zone VR fails to start and get private IP"
VMware basic zone does not support host-level firewall (SG), but there could be a use-case to have a basic zone setup with no isolation. Currently, the VR for the default basic zone guest network VR fails to start (gets stuck in Starting state for a long time) due to incorrect `eth1` IP/netmask. Screenshot from 4.9 VR:
![screenshot from 2018-11-15 09-24-05](https://user-images.githubusercontent.co

[2018-11-15 04:02] rhtyd commented on #3031
/cc @mike-tutkowski @PaulAngus - not a regression in 4.11

[2018-11-15 10:14] DennisKonrad commented on #2930
Hi @rhtyd,

I have three question left before I can try this on our cluster. To get the hosts to try to connect (your last question) it works to delete/move the cloud.jks. It's not even needed to restart the agent as far as I could tell. After that it worked to reprovision the kvm-host with the "provisionCertificate" api call.

When creating new CA/private/public I can now reprovision the hosts. I

[2018-11-15 14:40] DagSonsteboSB opened #3032 "Impossible to edit domain specific settings in GUI (Safari and Chrome)"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
* CloudStack GUI

##### CLOUDSTACK VERSION
* 4.11.2

##### CONFIGURATION
* LDAP configuration on subdomain

##### OS / ENVIRONMENT
* OS independent
* Fails in: Safari and Chrome
* Does not fail in Firefox

##### SUMMARY
![canteditdomain](https://user-images.githubusercontent.com/12859582/48559825-4dc8e880-e8e4-11e8-9f25-b0ec95f03c6a.png)
* On th

[2018-11-15 15:09] izenk commented on #3032
Can edit in 4.11.1
![screen shot 2018-11-15 at 18 09 36](https://user-images.githubusercontent.com/6417697/48561723-a5298180-e901-11e8-9dee-c8970f79a81d.png)

[2018-11-15 15:12] DagSonsteboSB commented on #3032
Thanks @izenk - have updated this to 4.11.2.

[2018-11-15 15:18] izenk opened #3033 "ERROR when edit Project"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

Error appears when trying to edit Project's "Display Name"

##### STEPS TO REPRODUCE

1) Choose any project and click "Edit"
2) Edit "Display Name" field
3) Click "Apply"

Error appears:
[code]

[2018-11-15 15:56] rhtyd commented on #3032
@DaanHoogland can you comment?

[2018-11-16 12:57] izenk commented on #3033
Error is reproducible if editing is doing under "Project View", if under "Default View" everything is ok.

[2018-11-16 12:59] izenk commented on #3033
Error is reproducible if editing is doing under "Project View", if under "Default View" everything is ok.

[2018-11-16 16:59] bwsw opened #3035 "Add snapshots-related limits returned in capabilties"
##### ISSUE TYPE

 * Feature Idea

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Add VM snapshots and disk snapshots configured limitations in response for `listCapabilties`.

We propose adding snapshots-related capabilities for disk snapshots and VM snapshots because these capabilities limit the use of snapshots and thu

[2018-11-16 20:07] kiwiflyer commented on #2611
So working with a user, it does appear that the original issue outlined by @giorgiomassar8 is different from the one we found. The user in question is running Ubuntu 16.04 and no authentication is being passed to libvirt.

![image](https://user-images.githubusercontent.com/17278194/48644620-c4c7b500-e9a8-11e8-88ed-5285de95526f.png)

This particular installation is a 4.9.3 -> 4.11.1 upgrade.

[2018-11-18 08:35] wido commented on #2611
Are there by any chance slashes (/) in the secret of this RBD pool?

[2018-11-18 12:50] kiwiflyer commented on #2611
Funny you should mention that. There is a single slash and I did notice a
very old open bug report on jira for that issue. This user had upgraded a
prod system, so I had a very limited window to take a look.

On Sun, Nov 18, 2018, 2:35 AM Wido den Hollander <notifications@github.com>
wrote:

[2018-11-18 18:54] wido commented on #2611
Could you check that for me? As I have seen issues with that in the secret information and URL parsing inside Java.

[2018-11-19 08:31] DaanHoogland commented on #3033
Ilia, for UI issues can you add screenshots, please?

[2018-11-19 08:45] DaanHoogland commented on #3035
added comments in the PR. I'd like to see how this is useful in the UI or in a script.

[2018-11-19 08:48] izenk commented on #3033
@DaanHoogland sure
![screen shot 2018-11-19 at 11 47 38](https://user-images.githubusercontent.com/6417697/48695728-f763ee80-ebf0-11e8-9fa9-86082da6e69e.png)

[2018-11-19 17:44] kiwiflyer commented on #2611
The pool secret apparently does not have any slashes. The encrypted version in the DB does, but obviously that shouldn't matter.  I'm trying to work back through the code to see what might have changed between 4.9.x and 4.11.x.
The secret is set correctly in the 4.9.3 release.

[2018-11-20 11:49] rhtyd opened #3039 "VMware 4.11.2.0 system VMs memory consumption grows overtime until heavy swapping occurs"
Memory Consumption on vSphere
vRouter are starting to swap with low memory available.
Increasing memory only causes a longer time period before heavy swapping occurs.

@resmo shared a related issue on dev list: https://github.com/systemd/systemd/issues/8015

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### OS / ENVIRONMENT

Seen only in VMware

[2018-11-20 11:57] izenk commented on #2820
Any news on this?

[2018-11-20 11:59] izenk commented on #2871
Any updates on this?

[2018-11-20 12:36] DennisKonrad commented on #2820
@izenk Kinda,
we found out the copyBytes function itself (standalone java code) is working not just for small but also for huge files (>10GB). but we get the "Stream closed" message when using the upload functionality within cloudstack. I suspect some of the surroundings is causing this but thats just guessing.

Because the code is running within the storage vm it's hard for us to test it. We are

[2018-11-20 13:09] DaanHoogland commented on #2820
top of head guess: file server, network and vm are the suspects, @DennisKonrad. as you hav already pproven the isolated code of course. So my first step would be to prove it against the fileserver (testing the network is unfortunately implied on that path). If it fails go for another (type of) fileserver over the same networkpath. As a side track, invewtigating the iptables and logging on the SSVM

[2018-11-20 16:38] izenk commented on #2906
@rhtyd is documented(I mean dhcp/dns in shared network) anywhere?
Here: [docs](http://docs.cloudstack.apache.org/en/latest/adminguide/networking/advanced_zone_config.html#configuring-a-shared-guest-network) - no. Just mentioned how to create shared network. But my question is how dhcp/dns will be configured and what is the difference with isolated guest network and etc.

[2018-11-20 21:49] wido opened #3040 "Broadcast URI not set to vxlan, but vlan"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
Advanced Networking with KVM and VXLAN

##### OS / ENVIRONMENT
- Ubuntu 18.04
- KVM

##### SUMMARY
Advanced Network zone with VXLAN is created. When creating a guest network and setting the VNI this is set for the network:

- broadcast_uri: vlan://1000
- isolation_uri: vlan://1000

###

[2018-11-21 07:47] rhtyd commented on #3040
@wido I tested with 4.11.2.0 I could n't reproduce the issue, likely a configuration issue on your end. What did you configure for the guest network?
My config from UI:

![screenshot from 2018-11-21 13-15-41](https://user-images.githubusercontent.com/95203/48826254-cbcb3a80-ed8f-11e8-8ce3-aef6472da66e.png)

![screenshot from 2018-11-21 13-15-55](https://user-images.githubusercontent.com/95203/4882

[2018-11-21 10:52] DagSonsteboSB commented on #3027
Test applied was incorrect - the VMware tools ISO can not be used for this test since it is contained on the local ESXi file system.

When attaching an uploaded ISO the migration works OK, hence closing this ticket.

[2018-11-21 10:52] #3027 closed

[2018-11-21 13:43] dhlaluku opened #3041 "Decision making logic of which Secondary storage to be used"
Related to this unresolved issue https://issues.apache.org/jira/browse/CLOUDSTACK-2919
Add proper check for disk space on secondary storage to be used for volume migration across clusters. The current logic does not validate if volume will fit in the destination storage pool, but only checks if whether secondary storage disk utilization has not reached 90%.

##### ISSUE TYPE

 * Improvement Reques

[2018-11-21 16:00] kiwiflyer commented on #2611
So a couple of observations -

I have a 4.11 lab now installed from scratch (not an upgrade) and this issue doesn't exist. I did notice that the pool userInfo is not encrypted in this lab. In the 4.9.x -> 4.11.1 system I was asked to look at, the userInfo was encrypted.

Looking back through commits since around 4.10->4.11, it looks like there were some changes to how some encrypted data was being

[2018-11-21 16:13] wido commented on #3040
@rhtyd The difference I see is that I did not set "VLAN/VNI Range(s)" under the Physical Network.

But it's still odd that if the zone is set to VXLAN that vlan:// isolation is used. That should default to VXLAN.

[2018-11-21 16:17] rhtyd commented on #3040
@wido when you created the shared network did you pass a custom just vid/vni but without the vxlan:// scheme? Try again to create a shared network passing vxlan://id. I think somewhere it must be assuming vlan:// by default when scheme is not passed.

[2018-11-21 16:17] wido commented on #3040
When trying to set the VNI range I get this error:

<pre>Can't add vnet range to the physical network in the zone that supports Advanced network, Security Group enabled: true</pre>

Checking *NetworkServiceImpl.java* I see:

<pre>
        if (vnetRange != null) {
            // Verify zone type
            if (zoneType == NetworkType.Basic || (zoneType == NetworkType.Advanced && zone.isSecurityGro

[2018-11-21 16:19] wido commented on #3040
I just supplied the VNI number without a scheme.

Although I understand you reasoning, if the zone is set to VXLAN, we should default to that?

[2018-11-21 16:29] rhtyd commented on #3040
@wido looks like you hit a presentational bug. I see you are using adv zone with SG, so I'm not sure if you need vxlan/vlan at all or how should such a deployment work unless you've made the default public/private bridge device to carry traffic over a vlan enabled nic. With SG enabled, you already got L3 isolation with host level firewall (ebtables), why would you need vxlans?

[2018-11-21 16:59] kiwiflyer commented on #2611
ok...well it's definitely not decrypting the userInfo before it gets sent to the agent the the upgrade case above.
He's our 4.11 lab with debug enabled.
I restarted libvirtd to remove the storage pool.
I then restarted the cloudstack-agent. the agent then tries to add the storage pool back -
2018-11-21 10:54:18,733 DEBUG [cloud.agent.Agent] (agentRequest-Handler-3:null) (logid:3144d09f) Request:Se

[2018-11-21 17:39] kiwiflyer commented on #2611
In the Ubuntu case above, it looks  like the encrypted db payload in the userInfo field, rather than the decrypted version with colon delimiter that is expected in the code here: https://github.com/apache/cloudstack/blob/4809fe7cb434010adc776a0da40cdf37848cc26e/plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptor.java#L245, so hence NULL gets returned and th

[2018-11-21 17:39] kiwiflyer commented on #2611
Note that my test lab is Centos 7.

[2018-11-21 17:45] kiwiflyer commented on #2611
@wido or @GabrielBrascher , do either of you guys have both an older 4.9/4.10 lab as well as a 4.11 lab on Ubuntu 16.04?

It would be interesting to test trying a manual decrypt on the user_info field from the storage_pool data using a 4.9.x payload, but trying the decrypt using a 4.11 installation.

e.g. java -classpath /usr/share/cloudstack-common/lib/jasypt-1.9.2.jar org.jasypt.intf.cli.JasyptP

[2018-11-21 19:37] wido commented on #3040
| Network  | Broadcast  | IPv4  | IPv6  | Account  |
|---|---|---|---|---|
| Guest Network 1 | vxlan://1000  | 109.72.91.0/26  | 2a00:f10:114:1000::/64  | NULL  |
| Guest Network 2 | vxlan://2000  | 109.72.91.64/26  | 2a00:f10:114:2000::/64  | NULL  |
| Guest Network 3 | vxlan://3000  | 109.72.91.128/26  | 2a00:f10:114:3000::/64  | NULL  |
| Guest Network 4 | vxlan://4000  | 109.72.91.192/26  | 2a

[2018-11-21 20:32] dhlaluku commented on #3041
Throw 'InsufficientCapacityException' when migration fails due to insufficient space in secondary storage

[2018-11-22 07:01] rhtyd commented on #3040
@wido the current network model is not designed and implemented that way wrt KVM. The vlan/vxlan based isolation is for isolated/vpc networks implemented by the VR which does NAT-ing from public network end; and typically a bridge device is created where guest domain/VM's nic (via tap devices) are plugged and any vxlan tunnel end point (vtep) or vlan enable ethernet device is plugged to implement

[2018-11-22 07:07] rhtyd commented on #3040
@wido are you btw exploring something like https://www.exoscale.com/syslog/introducing-private-networks/ https://community.exoscale.com/documentation/compute/private-networks/ ?

[2018-11-22 07:12] svenvogel commented on #3040
@wido can i ask what you plan do use kernel bridge or openvswitch?

[2018-11-22 11:16] ustcweizhou opened #3043 "User can see the setting tab of vms, and change the value of settings"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
API/UI

##### CLOUDSTACK VERSION
4.11.2.0-RC6

##### CONFIGURATION
Advanced zone with security groups

##### OS / ENVIRONMENT
Management server and nodes are all Ubuntu 16.04

##### SUMMARY
The setting tab for vms is visible for all users.
Users can change the value of all settings as well

##### STEPS TO REPRODUCE
go to instances -> Setting tab

[2018-11-22 11:26] ustcweizhou opened #3044 "protocol number support in security group rules"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
API, UI

##### CLOUDSTACK VERSION
4.12.0

##### CONFIGURATION

Advanced zone with security groups

##### OS / ENVIRONMENT

Ubuntu 16.04/KVM

##### SUMMARY

We need to support security group rules with protocol number (for example, GRE-> 47, AH-> 51, ESP->50)
list of protocol number can be found at https://www.iana.org/assignments/protoc

[2018-11-22 11:35] ustcweizhou opened #3045 "Support multiple networks on vm in advanced zone with security groups"
##### ISSUE TYPE

 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

[code]
##### STEPS TO REPRODUCE
While create vm using instance wizard, if multiple shared networks are checked, an error message is displayed: "Can't create a vm with multiple networks one of which is Security Group enab

[2018-11-22 11:36] ustcweizhou commented on #3045
I will create a PR for this

[2018-11-22 13:01] PaulAngus opened #3046 "VM Details shows parameters which should not be shown to the end user"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Any

##### OS / ENVIRONMENT

All

##### SUMMARY

The settings tab for VMs displays VM related settings which should not be exposed to the end user.
These include:

• memoryOvercommitRatio
• cpuOvercommitRatio
• rootdisksize

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2018-11-22 13:17] wido opened #3047 "Direct Download with IPv6 only fails"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
Hypervisors are IPv6-only without a default IPv4 route to the internet.

##### OS / ENVIRONMENT
Ubuntu 18.04
OpenJDK 1.8

[code]

##### SUMMARY
When a hypervisor has no IPv4 default route Direct Download of a template failes.

[code]

[code]

[code]

The hypervisor is IPv6 capable and

[2018-11-22 13:18] wido commented on #3040
@rhtyd Let me respectfully disagree with you there.

With VXLAN this works. I can create a Shared Network with Security Grouping where my Instance obtains a public IPv4/IPv6 address without the VR in the middle. Our own routers handle the gateway.

VLANs are fun, but L2 is not useful in large scale deployments. It creates many problems which are solved by VXLAN. For CloudStack there is also no dif

[2018-11-22 14:09] rhtyd commented on #3047
/cc @nvazquez

[2018-11-22 14:59] wido commented on #3047
[code]

That is set to *True* already in the Agent, so it should use IPv6 as well.

[code]

[code]

The host can reach the URL without any problems, but it is the Agent which seems to prefer IPv4 over IPv6.

[2018-11-22 15:10] wido commented on #3040
@rhtyd VXLAN is not so much a isolation method for us. It's a way to reliably route L3 traffic to our hypervisors.

Using SG we will isolate different Instances, but also provide anti-spoofing and such.

Right now I've got VXLAN+SG working in a shared network. Most of it seems to work.

I think indeed that most of the problems woud be just a few if-statements which need to be removed.

DHCP works

[2018-11-22 15:22] rhtyd commented on #3040
@wido thanks for sharing, I was assuming incorrectly about the use as an isolation method. Your use cases is simply of an overlay network, you may explore bgp usage to make it easier to manage routes.

[2018-11-22 22:24] bwsw opened #3048 "Copy template/iso tags into VM"
##### ISSUE TYPE

 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Add a special attribute to `deployVirtualMachine` which help to copy tags to a virtual machine from originally selected ISO or template. This is beneficial if the tags must be distributed to VMs.

##### STEPS TO REPRODUCE

CloudStack-

[2018-11-22 22:27] bwsw opened #3049 "Account change dynamic role"
##### ISSUE TYPE

 * Feature Idea

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Allow account to change dynamic role.

##### STEPS TO REPRODUCE

Administrators may want to create restricted roles which users get first and next to switch them to extended roles. This feature addresses that.

##### EXPECTED RESULTS

The ad

[2018-11-23 07:54] rhtyd opened #3050 "Sort list of templates in the deploy VM wizard"
The list of templates in the deploy VM wizard is not sorted and comes randomly every time. Fix the list to be sorted (alphabetically)

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

[2018-11-23 10:01] izenk opened #3051 "dozens WARN messages: Commit called when it is not a transaction"
##### ISSUE TYPE

 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### OS / ENVIRONMENT

CentOS 7.4

##### SUMMARY

There are a lot of WARN messages in management server log
[code]

[2018-11-23 10:17] izenk opened #3052 "ERROR during Network offering creation"
##### ISSUE TYPE

* Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

KVM, Advanced Networking without SG

##### OS / ENVIRONMENT

CentOS 7.4

##### SUMMARY

When try to create Network offering Unknown error appears.

[code]

I understand, that probably error appeared because of some Service provider was chosen, which is not configured in the

[2018-11-23 13:07] rhtyd commented on #3052
A similar issue was fixed in 4.11.2, @izenk can you verify against 4.11.2?

[2018-11-23 13:08] rhtyd commented on #3051
Can you test 4.11.2? This was likely fixed in 4.11.2.

[2018-11-23 15:16] wido commented on #3040
@rhtyd No problem!

Things are working right now in my lab. Testing with it right now and I'll come up with a (few) PR(s).

[2018-11-23 15:17] wido commented on #2611
@kiwiflyer All our test and production systems are 4.11 at the moment running on Ubuntu 16.04

They were all upgraded from 4.9 to 4.10 and then to 4.11. In none of the cases we ran in to this.

[2018-11-23 21:02] pdion891 opened #3054 "destroyVirtualMachine support force shutdown of VM"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
API

##### CONFIGURATION
Using detroyVirtualMachine, we should be able to force shutdown VM when needed. Something a VM is crashed on the hypervisor and required a force stop, the destroyVirtualMachine will fail due to stop command timeout.

command example could be:

[code]

[2018-11-24 13:08] svenvogel commented on #3040
@wido do you use advanced network? i saw any files for vxlan and ovs. they are very old. we will try it. what was the prequisite to get it working? the tunnel will automatically added to the bridges?

[2018-11-26 16:28] PaulAngus opened #3056 "Niche feature configuration is always prominent in UI (SSL Offload)"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When adding a load balancing rule a SSL Certificate column is presented to the user, regardless of whether the network offering supports SSL offload,
This feature is only available when using a NetScaler.

![image](https://user-images.githubus

[2018-11-26 18:23] wido opened #3057 "Security Grouping is broken with VXLAN on KVM"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
Advanced Networking with Shared VXLAN networking

##### OS / ENVIRONMENT
- Ubuntu 18.04
- KVM

##### SUMMARY
When deploying a VM with Security Grouping enabled the rules are not properly set on the hypervisor.

##### STEPS TO REPRODUCE
[code]

This causes the proper chains not to be cr

[2018-11-27 00:29] svenvogel commented on #3040
@wido okay sounds good. we will look for the openvswitch if we have our second testlab running. i come back and give information :)

[2018-11-27 09:27] izenk opened #3059 "Public template is not visible"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced Network without SG, KVM, Public Zone

##### OS / ENVIRONMENT

CentOS 7.4

##### SUMMARY

Template is created (inside Project) and marked as Public - despite of this fact, it's not visible to other accounts in other domains.
[Docs](http://docs.cloudstack.apache.org/projects

[2018-11-27 09:29] izenk commented on #3059
In the same time, if I try to create VM in project where public template is **not** visible in "Templates" section, I **can** choose this template in VM creation form..

[2018-11-27 10:48] borisstoyanov opened #3060 "NPE observed in smoketests logs"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

NPE was noticed when observing the marvin smoketests

##### STEPS TO REPRODUCE

[code]

[code]

[2018-11-27 18:39] #2745 closed

[2018-11-28 16:21] rhtyd commented on #3060
@borisstoyanov any specific test?

[2018-11-28 16:22] rhtyd commented on #3043
/cc @PaulAngus

[2018-11-28 16:42] bwsw opened #3064 "CloudStack Simulator 4.12 - SQL exception"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Simulator

##### OS / ENVIRONMENT

##### SUMMARY

Exception in logs

[code]

##### STEPS TO REPRODUCE

Run simulator for 4.12 and monitor logs.

[2018-11-29 07:43] wido commented on #3064
Seeing the same issue on master. Not sure yet what this is.

[2018-11-29 07:46] wido opened #3065 "Direct Download to Ceph Primary storage fails"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
Trying to deploy a direct download template on Ceph / RBD.

##### OS / ENVIRONMENT
- Ubuntu 18.04
- Ceph Luminous 12.2.8

##### SUMMARY
Deployment of the template fails on RBD.

##### STEPS TO REPRODUCE
Try to deploy a Direct Download template on RBD shared storage and you will see it

[2018-11-29 09:47] borisstoyanov commented on #3064
I guess duplicated as #3060 ?

[2018-11-29 09:48] borisstoyanov commented on #3060
no particular test/scenario, this seems like a recurring exception in the logs.

[2018-11-29 10:58] rhtyd commented on #3060
I've reported similar issue for master/4.12 here https://github.com/apache/cloudstack/issues/2935 already

[2018-11-29 14:52] falcon78921 opened #3067 "CloudStack 4.11.1 Agent SSL Errors"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

On a clean installation of Apache CloudStack 4.11.1, ```cloudstack-setup-agent``` doesn't generate the needed SSL information (e.g. ```cloud.jks```) in ```/etc/cloudstack/agent```. Similar to what Rohit says in: http://mail-arc

[2018-11-29 14:55] falcon78921 commented on #3067
I ran the ```cloudstack-setup-agent``` command as ```sudo``` too.

[2018-11-30 11:50] borisstoyanov opened #3068 "Some UI additions to #2919"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

Enhancement of #2919
From the internal review, some additions were raised to the UI of this feature:

1. Upon submission add a warning message that the changes will take place after management restart

2. Pre-fill the UI form with the data user is about to change. This would mak

[2018-12-01 03:55] msinhore opened #3071 "strongswan - error during user VPN connection"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION

* Official ACS 4.11.2.0 systemvm template
* Official packages

##### OS / ENVIRONMENT

* CentOS 7

##### SUMMARY
The mgmt servers has been upgraded from 4.9.3 to 4.11.2.0 following the steps at: http://docs.cloudstack.apache.org/projects/cloudstack-release-notes/en/4.11/upgrade/upgrad

[2018-12-01 04:16] msinhore opened #3072 "Console proxy SSL fails in 4.11.2.0"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
Console Proxy SSL configuration performed in  4.9.3

##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY

When I click to open the console of any VM, it shows in the left browser address bar the message "Connection is not secure". If I disable the protection, it works but without secure h

[2018-12-02 04:21] saliven1970 opened #3073 "VPC network create VM ERROR"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

VPC Network

##### CLOUDSTACK VERSION

4.11.3
4.12

##### CONFIGURATION

Advanced network
VPC network

##### OS / ENVIRONMENT

CentOS 7.4-X64

##### SUMMARY

Using the same host and system environment ( Cento OS 7.4 ) and installing version 4.11.0.0, configuring the VPC network with advanced network features and creating virtual machines under

[2018-12-02 04:36] saliven1970 opened #3074 "Install version 4.11.2.0 on CentoOS 7.5 with a dependency error"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

Packaging

##### CLOUDSTACK VERSION

4.11.1.0
4.11.2.0

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

CentOS7.5

##### SUMMARY

Install version 4.11.2.0 on CentoOS 7.5 with a dependency error:
Error: Dependency detection failed:
Libc.so.6 is needed by cloudstack-common-4.11.2.0-1.el7.centos.x86_64
Libc.so.6 (glibc_2.0) is needed by cloudst

[2018-12-02 04:46] saliven1970 commented on #3074
I downloaded the code 4.11.3-SNAPSHOT from Github and compiled it myself. There will be no dependency errors during the installation,Is it a compiled host environment problem?

[2018-12-02 04:47] saliven1970 commented on #3074
In the same environment, 4.11.0.0 will not have this problem when it is installed

[2018-12-02 04:55] saliven1970 commented on #3074
In the same environment, this dependency problem will also occur when testing the installation of 4.11.1.0.

[2018-12-02 07:06] #3073 closed

[2018-12-02 07:10] saliven1970 commented on #3073
Use  Browser google chrome to create  advanced network,then configuring the VPC network with advanced network features and creating virtual machines under the network can be successful,but Use IE11,something the matter.

[2018-12-03 10:44] onitake commented on #3039
Hi @rhtyd @PaulAngus - thanks for taking on this issue.

If you have any suggestions on more tests we could run, please share.

[2018-12-03 21:16] andrijapanic commented on #2820
I seems to NOT have issues with qcow2 template (~50GB realistic size (du -hs), though image is 100GB).

[2018-12-04 08:31] DaanHoogland commented on #3046
@PaulAngus I am removing UI as tag from this issue as it would be handled in the API

[2018-12-04 09:22] saliven1970 commented on #3074
After confirmation again, this problem appeared on CentOS 7.5, not CentOS 7.4. My system has been upgraded by yum and is already CentOS7.5.

[2018-12-04 10:58] rhtyd commented on #3074
/cc @PaulAngus @borisstoyanov - can you check?

[2018-12-04 10:59] rhtyd commented on #3074
@saliven1970 alright so you got the problem on centos 7.5 and not on 7.4 - please update the issue description. Thanks.

[2018-12-04 11:10] #3002 closed

[2018-12-04 12:01] rhtyd commented on #3067
@falcon78921 this is a known limitation. The certificates needs to be provisioned from the management server, if you want to add the KVM hosts manually. You may set the auth strictness to false in mgmt server (no need to restart mgmt server), then add the KVM host and set the auth strictness back to true, go to the host page and click the button to secure the host (or use provisionCertificate API)

[2018-12-04 12:02] rhtyd commented on #3072
Did you setup ssl certificate and configure global settings for consoleproxy suitably @msinhore ?

[2018-12-04 12:04] rhtyd commented on #3071
@msinhore looks like you may be using old/incorrect systemvmtemplate. Can you try with 4.11.2.0 - http://docs.cloudstack.apache.org/en/4.11.2.0/upgrading/upgrade/upgrade-4.11.html

[2018-12-04 12:04] rhtyd commented on #3068
the PR was for master, setting milestone to 4.12.0.0

[2018-12-04 12:06] rhtyd commented on #3059
@izenk a public template in a project will be restricted to that project only. If you want to share the template to another project or account, you need to manually grant permissions using the following API:
[code]
Perhaps we can add a UI button for the above API.
What you've reported is not a bug, please close the ticket. Thanks.

[2018-12-04 13:33] #3067 closed

[2018-12-04 19:40] skattoju3 commented on #2609
Seem to have missed it .. What is the correct command ?

[2018-12-05 09:26] Danny-jackshen opened #3079 "What about the old VPC after the VPC template is updated"
##### ISSUE TYPE

 * Bug Report
 * Improvement Request
 * Enhancement Request
 * Feature Idea
 * Documentation Report
 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2018-12-05 16:35] wido opened #3081 "Can not create L2 guest network through UI"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
- Advanced Networking
- Ubuntu 18.04

##### SUMMARY
When trying to create a Layer 2 Guest Network through the UI you get a message that it the zoneId is not properly set.

##### STEPS TO REPRODUCE
- Go to Guest Networks
- Click on 'Create L2 Guest Network'
-

[2018-12-05 16:46] wido commented on #3081
<pre>
                                var zones = $.grep(json.listzonesresponse.zone, function(zone) {
                                    return (zone.networktype == 'Advanced' && zone.securitygroupsenabled != true); //Isolated networks can only be created in Advanced SG-disabled zone (but not in Basic zone nor$
                                });
</pre>

In *sharedFunctions.js*

This filters awa

[2018-12-06 08:47] Overv opened #3082 "Why do nodes restart when an NFS mount fails?"
It seems that the CloudStack agent forces a restart of a node when one of the primary storage NFS mounts fails, even if there are no VMs currently using a volume on it. That means that it takes just one NFS hickup to take down an entire cluster. Why was this design decision made and will it be changed at some point?

[2018-12-06 15:45] izenk commented on #3059
@rhtyd
Thanks for info, but I do not agree that this is not a bug. If template is visible only for project it was created in, why I can create vm based on this template?
I cant see in UI template in "Templates" section, but can create vm based in this template, because it's visible in vm creation form.

[2018-12-06 19:34] rhtyd commented on #3082
Good points, we can review if it's possible for the agent to be intelligent about this. I certainly see the point that a host need not be rebooted when failing NFS node is not used by any of the VMs running on it. This was done to avoid data corruption cases, when VM HA kicks in and would start a HA enabled VM on a different host leading of disk corruption and rebooting the host seems the best opt

[2018-12-06 19:35] rhtyd commented on #3081
likely a bug - @nvazquez can you comment?

[2018-12-06 19:37] rhtyd commented on #3079
@Danny-jackshen invalid issue due to missing information, please re-submit a new one with more details and description. I'll close this one.

[2018-12-06 19:37] #3079 closed

[2018-12-06 19:42] rhtyd commented on #2609
The entire developer guide needs fixing, I'll take this as a background task. Closing this as the commands could be found.

[2018-12-06 19:42] #2609 closed

[2018-12-06 19:44] rhtyd commented on #2610
It's currently possible to use marvin's codegenerator against a live running mgmt server's unauthenticated port to generate code. This is from tools/marvin/marvin:
[code]
Closing this one as the current way of code generation is shared. If you've a specific use-case or need, please re-submit a ticket or reopen this one with more details. Thanks.

[2018-12-06 19:44] #2610 closed

[2018-12-06 19:45] rhtyd commented on #2611
@wido @kiwiflyer is this still a bug wrt 4.11.2.0 or next 4.11.3.0/4.12.0.0 ?

[2018-12-06 19:47] skattoju3 commented on #2609
Hey Rohit,

Just ran / running through it.. anyway I can contribute ?  ( not sure how to )

BR/Sid

[2018-12-06 19:48] rhtyd commented on #2620
With the `developer` profile enabled, maven modules for test and tools are added to the build tree which is why it is needed as the rpm/deb create the marvin and integration-test pkgs. See https://github.com/apache/cloudstack/blob/master/pom.xml#L1187

Since the question has been answered, I'll close this. If you need to send any change, please directly submit a PR, thanks.

[2018-12-06 19:48] #2620 closed

[2018-12-06 19:50] rhtyd commented on #2650
Looks like this is fixed in https://github.com/apache/cloudstack/pull/2985, closing this ticket.

[2018-12-06 19:50] #2650 closed

[2018-12-06 19:50] rhtyd commented on #3082
Similar: https://github.com/apache/cloudstack/issues/2657

[2018-12-06 19:52] rhtyd commented on #2679
Unable to reproduce in 4.11.1.0/4.11.2.0, closing.

[2018-12-06 19:52] #2679 closed

[2018-12-06 19:53] rhtyd commented on #2684
Unable to reproduce with 4.11.2.0, kindly re-open with reproduction steps and upgrade to 4.11.2.0.

[2018-12-06 19:53] #2684 closed

[2018-12-06 19:59] rhtyd commented on #2581
The https://hub.docker.com/r/cloudstack/simulator/tags/ is not officially supported/maintained. @Overv kindly have a look at `tools/docker` and build your own image. It's possible it's not maintained and may need bugfixing in which case you can send a PR. Closing on this remark.

[2018-12-06 19:59] #2581 closed

[2018-12-06 20:03] rhtyd commented on #2774
Is this fixed @mike-tutkowski ?

[2018-12-06 20:05] rhtyd commented on #2853
Is this still an issue? 4.11.2.0 is out, can you test @izenk ?

[2018-12-06 20:06] rhtyd commented on #2862
Can you test with 4.11.2.0 @izenk ? This probably can be closed.

[2018-12-06 20:08] rhtyd commented on #2871
Similar to: https://github.com/apache/cloudstack/issues/3059 (same logic of access restriction likely)

[2018-12-06 20:14] rhtyd commented on #2906
Please discuss on the dev/user list @izenk please only use Github issues for reporting issues. For any doc bugs, please report on the https://github.com/apache/cloudstack-documentation repo. Closing on this remark.

[2018-12-06 20:14] #2906 closed

[2018-12-06 20:16] rhtyd commented on #2930
@DennisKonrad
1. Not virtual routers, only ssvm, cpvm and kvm hosts
2. Yes, the APi accepts hostid and reconnect params
3. N/A virtual routers don't need to be touched, VRs don't run any java agent

[2018-12-06 20:30] rhtyd commented on #3006
/cc @borisstoyanov @nvazquez

[2018-12-06 20:31] rhtyd commented on #3008
Try latest, it was fixed https://github.com/apache/cloudstack/blob/master/client/conf/server.properties.in#L20

[2018-12-06 20:31] #3008 closed

[2018-12-06 20:35] rhtyd commented on #3043
Ideally the tab should be always show, but when users try to edit settings and if VM is not stopped it should show an error like it does for reset password button etc

[2018-12-06 20:38] rhtyd commented on #3054
@pdion891 there is a global setting to force shutdown VMs on destroy you can use that.

[2018-12-06 20:40] rhtyd commented on #2609
@skattoju3 fork https://github.com/apache/cloudstack-documentation, create a bugfix branch, make changes and send a pull request.

[2018-12-06 20:54] Overv commented on #2982
@rhtye What is ML?

[2018-12-06 21:04] rhtyd commented on #2982
@Overv sorry for the abbreviation usage, ask on the dev/users mailing lists: http://cloudstack.apache.org/mailing-lists.html

[2018-12-07 06:27] synergiator opened #3083 "Provide recent standalone test instances 4.7 and 4.9 as Docker containers on DockerHub"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### OS / ENVIRONMENT
CentOS

##### SUMMARY
Just to test the API, I need an easy way to have it, also in different versions without going through installation processes.
This request is not meant to support Docker as operational environment!

##### STEPS TO REPRODUCE
Go to DockerHub
Search for

[2018-12-07 07:35] rhtyd commented on #3083
I'm not sure who is owner/manager of the cloudstack dockerhub account and if it's possible for the project or community to manage that. You may use the dockerfile from the codebase to build your own.

@pdion891 @swill @resmo @wido @khos2ow @rafaelweingartner  anybody know?

[2018-12-07 07:50] 1605200517 commented on #3083
I have tried to build 4.7 but get:

`docker build -f Dockerfile.centos6 -t cloudstack/management_centos6 .`

[code]

[2018-12-07 07:56] wido commented on #2611
I have not been able to verify this bug, so I can't tell you.

[2018-12-07 08:40] rhtyd commented on #2735
/cc @nvazquez @borisstoyanov

[2018-12-07 08:52] resmo commented on #2735
Workaround implemented in ansible https://github.com/ansible/ansible/commit/041fcb2435e780d3482febe651311ad7efbfce3b#diff-af64ef403161b2bb70484582040d915aR239

[2018-12-07 09:14] 1605200517 opened #3084 "Missing release 4.7.1.3"
If I go to the API of a CS instance, I see the following:

`<errorresponse cloud-stack-version="4.7.1.3"><errorcode>401</errorcode><errortext>unable to verify user credentials and/or request signature</errortext></errorresponse>`

That is, I conclude that it is release number is here `4.7.1.3`.

However, if I check for these resources:

* [GitHub releases ](https://github.com/apache/cloudstack/rel

[2018-12-07 09:32] 1605200517 commented on #3084
As it came out, the instance is not Cloud Stack but Cloud Platform by Citrix, (a commercial fork?) so they have slightly other version numbers.

i.e. 4.7.1.3 of Cloud Platform means it depends on CS 4.7.1.1.

[2018-12-07 09:32] #3084 closed

[2018-12-07 11:14] izenk commented on #3059
@rhtyd
I read [docs](http://docs.cloudstack.apache.org/projects/cloudstack-administration/en/4.11/templates.html#private-and-public-templates) and it says that "When a user marks a template as “public,” the template becomes available to all users in all accounts in the user’s domain, as well as users in any other domains that have access to the Zone where the template is stored."

[2018-12-07 15:13] rafaelweingartner commented on #3083
I have no idea who owns it. It seems that somebody registered the namespace “cloudstack”. If the PMC has no clues on who owns the namespace there, we can reach Docker hub guys to reset the password and provide access to us.

Still, as far as I know, CloudStack as a community is not providing Docker images. It does not mean that I do not find the idea of providing such images interesting; quite the

[2018-12-07 17:32] DagSonsteboSB opened #3086 "XCP-NG 7.6 system VMs always starting as HVM when PV is expected"
##### ISSUE TYPE
 * Bug Report
 * Enhancement Request

##### COMPONENT NAME
* XCP-ng 7.6.0 under CloudStack 4.11.2

##### CLOUDSTACK VERSION
* CloudStack version 4.11.2

##### CONFIGURATION
n/a

##### OS / ENVIRONMENT
* ACS 4.11.2 management on CentOS7.x
* Niche case where the hypervisor can not provide HVM

##### SUMMARY
* System VMs are incorrectly identified as "no guest OS type"
* The XCP host

[2018-12-07 18:39] 1605200517 commented on #3083
@rafaelweingartner who is PMC?

[2018-12-07 18:51] rafaelweingartner commented on #3083
It is not a person.

PMC=Project Management Comitee.
https://cloudstack.apache.org/who.html

[2018-12-07 19:06] DagSonsteboSB commented on #3086
Solved:
* The issue is the hypervisor version from the host table must match the hypervisor version set in guest_os_hypervisor
* The XCP-ng 7.6.0 will simply show up as "Xenserver" with version "7.6.0" in the hosts table.
* NOTE: this version in the host table is dynamically kept up to date hence you can not override by setting a version of XCP-ng 7.6.0
* A workaround is therefore to update the gu

[2018-12-07 19:12] #3086 closed

[2018-12-07 19:13] DagSonsteboSB commented on #3086
Fixed with correct guest_os_hypervisor table version entries - which should simply be "7.6.0"

[2018-12-07 19:26] DagSonsteboSB opened #3087 "XCP-ng hypervisor version issues"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
*XCP-ng 7.x

##### CLOUDSTACK VERSION
* CloudStack 4.11.x

##### CONFIGURATION
* all

##### OS / ENVIRONMENT
* N/A

##### SUMMARY
* The host table uses the same version for XenServers and XCP-ng hosts
* As a result the guest_os_hypervisor table needs to reflect the same hypervisor version - without distinguishing XCP-ng or Xenserver
* D

[2018-12-07 20:40] khos2ow commented on #3083
I'm a big +1 on making use of Docker in ACS development or even deployment.

The fact that @wido mentioned in ML a while back that [cloudstack/package-docker-deb](https://hub.docker.com/r/cloudstack/package-docker-deb/) belongs (maintained) to him, I would think he has some sort of control or at least can shed some light who has.

[2018-12-07 20:42] khos2ow commented on #3083
and when ownership is resolved I can even donate [khos2ow/cloudstack-rpm-builder](https://hub.docker.com/r/khos2ow/cloudstack-rpm-builder/) and [khos2ow/cloudstack-deb-builder](https://hub.docker.com/r/khos2ow/cloudstack-deb-builder/) to be part of the _official_ images as well.

[2018-12-07 20:55] rhtyd commented on #3083
I think we'll need somebody to maintain official docker images. Just to be clear, a community maintained package needs to be voted and passed in order to be considered an *official* release/artifact. Otherwise, it's just community maintained *stuff* which everybody could use but not officially endorsed by the project.

[2018-12-07 21:10] khos2ow commented on #3083
Exactly, that's why I proposed to move those two github repos and eventually dockerhub repos from `khos2ow` to `apache`/`cloudstack`.

[2018-12-08 07:09] 1605200517 commented on #3083
@rhtyd  here is some evidence for the Docker images ownership from Apache Cloudstack Wiki.
https://cwiki.apache.org/confluence/display/CLOUDSTACK/Dockerfiles
seems like @pdion891 might know more :-)

[2018-12-08 20:21] bwsw opened #3088 "VM restart with 'rebootVirtualMachine' causes SGs broken with KVM"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

KVM Basic Zone, Local Storage, Security Groups

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

When a VM is restarted from UI with restart button (`rebootVirtualMachine`) the VM becomes disabled.

The bug is reproducible 100% times.

##### STEPS TO REPRODUCE

[code]

##### EX

[2018-12-09 07:32] ustcweizhou commented on #3088
reboot vm will not apply any firewall rules change on hypervisers as I remember. Might it be caused by some settings in vm ?

[2018-12-09 17:01] bwsw commented on #3088
To clarify:

VM created:
[code]
VM rebooted:
[code]
The problem is not with network, agent just stops it and doesn't start it back.

[2018-12-09 22:19] bwsw commented on #3088
## Upon creation, before reboot

Network info
[code]

Iptables info
[code]

Ip6 tables info:

[code]

Ebtables info:

[code]

IPSET:
[code]

[2018-12-09 22:29] bwsw commented on #3088
I don't have 4.11.2 in prod now, but will upgrade in next few days.

[2018-12-10 08:26] DennisKonrad opened #3089 "VMs with invalid IDE configuration when using Solidfire as primary storage"
### Description
##### _ISSUE TYPE_
 * Bug Report

##### _COMPONENT NAME_
Domain XML with multiple disks attached using Solidfire primary storage

##### _CLOUDSTACK VERSION_
Master branch

##### _OS / ENVIRONMENT_
Solidfire primary storage

##### _SUMMARY_
Example:
When we select "Windows Server 2016 (64-bit)" as OS Type for an W2K16 cd image the resulting
VMs will not start with multiple disks att

[2018-12-10 12:30] borisstoyanov commented on #2735
I've just confirmed this, looks like we don't have marvin tests coverage, once we get a PR fixing this I'll add tests, thanks @resmo

[2018-12-10 12:48] borisstoyanov commented on #3006
@ccheline couple of questions,

- have you seen this with just the SSVM?
- is the management server running and properly configured to work as a management cluster on all the IPs in the list
- is this a clean install or upgrade?

[2018-12-10 13:20] kiwiflyer commented on #2611
I saw this problem in a ACS mailing list users system after attempting an upgrade from 4.9.3 -> 4.11.1. Unfortunately, the bug was in production, so I only had an extremely limited window to take a look before they restored their previous 4.9.3 version. At the present time, I'm not sure what caused it and I haven't been able to reproduce this in a lab environment.
This definitely wasn't one off si

[2018-12-10 13:23] onitake opened #3090 "Documentation should mention supported load balancer protocols"
##### ISSUE TYPE

 * Documentation Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]
All later versions are also affected.

Versions before 4.6.0 only supported the "tcp" protocol.

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The Cloudstack documentation, and particularly the API documentation, should mention what kind of load balancer protocols are s

[2018-12-10 14:15] kiwiflyer commented on #3089
@DennisKonrad Do you see this if you use either Windows PV or Other PV Virtio-SCSI (64-bit) OS types?

[2018-12-10 14:18] DennisKonrad commented on #3089
@kiwiflyer You are right, if we select "Other PV" it is working. But for the users there's no way to know this. Also it's working when using a NFS storage offering. So for them there's no way to find out why it's not working.

So we would like a working "OS Type" also for Solidfire ;)

[2018-12-10 14:35] onitake commented on #3039
Is the fix going to be something like the one mentioned here https://lists.apache.org/thread.html/cb36b5efe8327c080919086688707650a3ff036c884a2dd87dd6e66d@%3Cdev.cloudstack.apache.org%3E , or is this an unrelated issue?

[2018-12-10 16:50] kiwiflyer commented on #3089
For the most part, the OS types are legacy in the KVM world. Very few of the actual named OS types are setup out of the box for paravirtualized drivers.

A couple of releases back, we started trying to move that drive control into the template registration:
![image](https://user-images.githubusercontent.com/17278194/49747582-55707880-fc69-11e8-8afc-fb272a02f002.png)

[2018-12-10 16:52] kiwiflyer commented on #3089
Also in master (4.12), we've recently added support for Windows HyperV Enlightenment for KVM and that feature is enabled when you use Windows PV.

[2018-12-10 17:01] DennisKonrad commented on #3089
What I dont understand is why its working with NFS but not with Solidfire...

[2018-12-10 23:43] svenvogel commented on #3089
@kiwiflyer you are right if you use templates but if a user add an iso file so cant change the root controller. thats why my college wrote

**"When we select "Windows Server 2016 (64-bit)" as OS Type for an W2K16 cd image the resulting
VMs will not start with multiple disks attached. This is due to the usage of multiple IDE interfaces in the VM description XML."**

thats no normal behaviour. norma

[2018-12-11 03:21] mike-tutkowski commented on #3089
CloudOps should be looking into this soon. Technically, it's probably a problem in the iSCSI adapter plug-in of the KVM agent (so all storage systems that use that plug-in should suffer this issue). Thanks!

[2018-12-11 06:31] synergiator opened #3092 "Propose official CS Docker images for Docker Hub"
To get into the Docker Hub library, a pull request needs to be done for this repo:

https://github.com/docker-library/official-images/tree/master/library

More information:
https://docs.docker.com/docker-hub/official_repos/#how-do-i-know-the-official-repositories-are-secure

[2018-12-11 12:37] onitake commented on #3039
We were able to drive memory usage through the roof with SSH connections, because each session would leak memory. But we also had success with lots of network reconfiguration requests, so I guess both are valid test cases.

[2018-12-11 17:50] bwsw commented on #3088
@rhtyd Cannot reproduce in 4.11.2, the problem is fixed. I close the issue.

[2018-12-11 18:42] rhtyd commented on #3088
looks like you reverted your stand @bwsw, I'll mark this towards 4.11.3.0

[2018-12-11 18:44] bwsw commented on #3088
@rhtyd still trying to make solid proof. Let you know ASAP.

[2018-12-11 19:09] bwsw commented on #3088
Upon VM reload following actions are taken

[code]

After that, the state of iptables as follows:

[code]

[2018-12-11 19:10] bwsw commented on #3088
@rhtyd @wido take a look at the exception in the bottom of the output. VM reboot is broken in 4.10, 4.11. The problem repeated on freshly installed 4.11.2

[2018-12-11 19:12] bwsw commented on #3088
Looks like upon reboot, the code is broken

[code]

[2018-12-11 19:16] bwsw opened #3093 "KVM Agent with Local Storage requests other local storage pools from LibVirt"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

When KVM CloudStack Agent is deployed in cluster which uses local storages only, it tries to fetch from libvirt all known storage pools, not only a local one. This causes exceptions in agent.

##### STEPS TO REPRODUCE

[code]

##

[2018-12-11 19:34] bwsw commented on #3088
@rhtyd
May be quickfix for 4.11.2.1 is possible after the confirmation?

[2018-12-11 20:33] bwsw opened #3094 "Multiple resource limits related exceptions during management server boot"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

When Management server boots it produces plenty of exceptions like following:
[code]

They are related to snapshots amount and secondary storage.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RES

[2018-12-11 23:57] svenvogel commented on #3089
@mike-tutkowski sounds good. Thx

[2018-12-12 03:49] pdion891 commented on #3054
That would make sense,  gona have to test `vm.destroy.forcestop = true`

Thanks @rhtyd !

[2018-12-12 20:11] wido commented on #3088
I see why the if statement fixes it. Is there a PR for this yet?

But this is already fixed in commit d425a409fc070468d73aa3b7fe5ea126823dec1a it seems?

Otherwise @RPDiep might want to take a look at this.

[2018-12-12 23:15] bwsw commented on #3088
@wido The commit, you have mentioned includes the code which fixes that, but what CloudStack branch it has been merged? Doesn't look that 4.11.2 has it.

[2018-12-14 15:40] bwsw commented on #3088
@rhtyd @RPDiep as it is merged to 4.11.3 suppose we can close.

[2018-12-14 15:40] #3088 closed

[2018-12-14 16:31] nathanejohnson opened #3096 "Need to re-add option to disable automatic snapshot backups to secondary"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME
VOLUME / Snapshot
[code]

##### CLOUDSTACK VERSION
4.10
4.11
master
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
This commit:

SHA: 6bb0ca2f854

removed functionality that was added here:

https://github.com/apache/cloudstack/pull/1644

This functionality needs to be added back, where snapshots are optionally not b

[2018-12-16 20:43] rhtyd opened #3097 "CloudStack allows creation of project with empty name"
CloudStack allows creation of project with empty name

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### STEPS TO REPRODUCE

[code]

[2018-12-18 11:07] anuragaw commented on #2527
@resmo , @rhtyd , @DaanHoogland , @dhlaluku - I've pushed a fix for this and a pull request is open for review. Thanks!

[2018-12-19 01:58] dubauski commented on #3025
Any updates from development team?

[2018-12-19 02:13] dubauski opened #3103 "Cloudstack API: concurrent virtual machine requests lead to variety of problems"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
API

##### CLOUDSTACK VERSION
4.9.2.0

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When requesting multiple virtual machines (via deployVirtualMachine REST method) using CloudStack API leads to various failures:
- 431 server response
- duplicate private addresses assigned (intermittently)

##### STEPS TO REPRODUCE
1. Creat

[2018-12-19 02:23] dubauski opened #3104 "Virtual machines stuck in "Starting" state for extended periods of time during provisioning"
ISSUE TYPE
Bug Report

COMPONENT NAME
API

CLOUDSTACK VERSION
4.9.2.0

CONFIGURATION
N/A

OS / ENVIRONMENT
N/A

SUMMARY

When requesting multiple virtual machines some of them stay in "Starting" state for a very long time without switching to "Running state

STEPS TO REPRODUCE
1. Create VPC
2. Create guest network
3. using deployVirtualMachine REST method request a virtual machine to be created in

[2018-12-19 05:31] anuragaw commented on #3059
What is the conclusion on this ticket? @rhtyd / @izenk . I also feel marking something as public should ideally be available as per what @izenk points out. But this is based on a new CloudStack user perception that I am.

[2018-12-19 05:36] anuragaw commented on #3043
@ustcweizhou can you also please include some snapshot of the UI?

[2018-12-19 05:44] dhlaluku commented on #2920
@anuragaw operations such as adding labels and reviewers on the PR are only allowed for committers. We contributors can only request reviewers via comments as you did.

[2018-12-19 11:05] rafaelweingartner commented on #3043
@rhtyd this control should be done in the server side right? It is not just a UI problem, because if the USER uses the configurations API parameter, it seems that right now he/she would be able to change/override the overprovisioning configurations for his/her VMs.

[2018-12-19 11:08] rhtyd commented on #3043
@rafaelweingartner The backend need to honour the `display` field of a detail and perhaps we can add a global setting to say which details (by key/name) are blacklisted.
@anuragaw deploy a latest 4.11 based env, deploy a VM and then stop it, you should see a setting tab in the VM details view.

[2018-12-19 11:11] rafaelweingartner commented on #3043
@rhtyd that works. I also thought about adding a new parameter to that enum you created to indicate if the configuration can be changed/customized/overridden by the final user.

[2018-12-20 13:37] rhtyd commented on #3104
Can you try using 4.11.2.0?

[2018-12-20 13:38] rhtyd commented on #3103
Can you try using 4.11.2.0?

[2018-12-24 12:30] brankomijuskovic opened #3109 "Account removal triggers event of unrelated user (from the different account) removal which has the same ID as account which is being deleted"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced networking, KVM

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When account is deleted, an event is generated which prints attempt of deletion of user which has the same database ID as the account which is being deleted, although the user can be from completelly different ac

[2018-12-24 13:48] rohityadavcloud opened #3110 "Root volume resize performed on scaling service offering"
When service offering of a (stopped) VM is changed using the `scaleVirtualMachine` API, its root disk get resized. In case the primary storage pool don't have enough capacity, the operation will fail. However, `changeServiceForVirtualMachine` API can allow changing offering for a stopped VM and won't try to resize the root disks.

The issue was introduced recently, and exists in 4.11 but not in 4.

[2018-12-24 18:41] rhtyd opened #3111 "Allow extending and shrinking of public IP address range"
Currently, there is not API to update or shrink/expand the public IP range for an advanced zone. Add an API to allow that.

##### ISSUE TYPE

 * Feature Idea

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

[2018-12-28 09:41] #2920 closed

[2018-12-31 08:34] PaulAngus opened #3114 "One can no longer add multiple Public IP ranges, which share the same subnet."
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced networking

##### OS / ENVIRONMENT

N/A

##### SUMMARY

One can no longer add multiple Public IP ranges, which share the same subnet.
Previously one could take a subnet, and split it into multiple ranges and dedicate them to different accounts.
Now each range must be on a

[2018-12-31 19:14] #3097 closed

[2019-01-02 10:27] rhtyd opened #3116 "Hot public NIC add fails on VMware 4.11 VR"
In 4.11, public nic hot-plugging fails with VR when the router.extra.public.nics is configured to a lower value and the number of public nics that need to be added to a VR exceed the global setting. The 4.11 systemvmtemplate installs and uses open-vm-tools which is same as 4.6-4.9 systemvmtemplate. This issue needs reproducing, triaging and fixing if necessary.

The ideal solution would be to get

[2019-01-02 11:51] Overv opened #3117 "SystemVM template installation script does not check if file command exists"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Ubuntu 18.04 LTS minimal

##### SUMMARY

If the `file` utility is not installed then the `cloud-install-sys-tmplt` script does print an error, but does not fail with a non-zero exit code and instead installs a bz2 file as if it were a qcow2 file.

#####

[2019-01-02 13:44] Overv opened #3118 "Installing template from URL is not possible unless it contains a predefined extension in the URL"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

It is not possible to install a template from a URL unless it matches some predefined postfix.

##### STEPS TO REPRODUCE

Try to install a template from the URL https://cloud-images.ubuntu.com/bionic/current/bionic-server-clo

[2019-01-04 18:57] dubauski commented on #3103
@rhtyd
http://docs.cloudstack.apache.org/projects/cloudstack-release-notes/en/4.11.2.0/ link is broken. Did concurrency bugs specifically get addressed in this release?

Is concurrent virtual machine creation supported by CloudStack?

[2019-01-07 02:39] FDU-SE-LAB opened #3119 "Your project apache/cloudstack is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-07 11:24] khmarochos opened #3121 "Paging isn't fully implemented in WebUI"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When one has more that `N` (where `N` equals to `default.page.size`) subdomains, it becomes impossible to see them all in the list of domains, as the paging feature isn't fully implemented in the WebUI frontend application.

##### STEPS TO

[2019-01-07 12:14] DagSonsteboSB commented on #3116
Further information provided, issue found with VM configured with:
* Single guest NIC
* Single private NIC
* 5 x public NIC (all on different VLANs)
* VMware virtual hardware version vmx-10

[2019-01-07 12:40] DaanHoogland commented on #3118
@Overv this limitation is due to some decision in the past making a check on the target for a template based on the extension. A call to the file command would be more correct but would require a pre-download to implement. I wonder if a magic number check can be performed on a stream to abandon download if it fails.

[2019-01-07 12:42] DaanHoogland commented on #3117
really ? a unix system without `file`!?!.

[2019-01-07 12:44] Overv commented on #3117
@dahn I was as surprised as you are, but I guess it's considered a non-essential utility for minimal images.

[2019-01-07 14:36] onitake commented on #3039
@PaulAngus Is it also possible to get just the templates in lieu of full 4.11.2.1 RPMs?
If I try to access your package server through a web browser, I just get a blank page.

[2019-01-07 20:10] Overv commented on #3118
@DaanHoogland An extra parameter that disables the check would also be a solution. The UI could optionally implement this by showing a warning and asking if the user would like to skip/postpone the check.

[2019-01-08 17:06] dubauski commented on #3025
Any updates?

[2019-01-10 12:23] marabesi opened #3123 "Db exception trying to upload SSL certificate"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### SUMMARY

I am developing a feature that integrates with the SSL certificate endpoint, but I couldn't make ir work by the UI interface nor by the API end point.

#2558 might be a related issue.

The following bug occurs in the latest version pull

[2019-01-13 05:46] #2935 closed

[2019-01-13 05:55] rhtyd commented on #3123
Can you try to run the sql using mysql client, likely one of the columns (varchar) needs resizing.

[2019-01-13 05:56] rhtyd commented on #3118
Here's a hack you can try with your url... Pass url?file=.qcow2

[2019-01-13 16:57] rhtyd commented on #3117
That's surprising so I guess the cloudstack-common package should install file on debian/ubuntu systems?

[2019-01-13 16:58] rhtyd commented on #3060
Fixed by https://github.com/apache/cloudstack/pull/3115

[2019-01-13 16:58] #3060 closed

[2019-01-14 08:15] marabesi commented on #3123
Hello @rhtyd you are correct, the column fingerprint was varchar(62) and the data being stored was bigger.

Executing the same SQL directly in the database I got the following:

![screenshot 2019-01-14 at 09 13 13](https://user-images.githubusercontent.com/2129872/51101834-b517f180-17dc-11e9-973d-ce3268338131.png)

SO I just changed the fingerprint type to TEXT type, with the following:

[code]

O

[2019-01-14 08:15] marabesi commented on #3123
The question now is, should the column be changed in the official cloudstack repo?

[2019-01-14 14:07] DagSonsteboSB commented on #3087
To be discussed:
* As per original comment above - design decision needs to be made whether to keep XCP-ng as a version of XenServer or as a a new separate hypervisor alltogether.
* If a separate hypervisor then some analysis is required on how much shared codebase / split codebase this will lead to and the effort involved in managing very  similar code for the two hypervisors.

[2019-01-14 14:21] stormi commented on #3087
As release manager for XCP-ng I can try to give some insight. Most codebase is shared at the moment and we maintain compatibility with XenServer. There may be a need to differentiate both hypervisors in the future, mostly depending on two factors:
- how XenServer will evolve and what parts they are going to close (current tendency: most new features are closed-source)
- new features that will be a

[2019-01-14 14:23] DagSonsteboSB commented on #3087
Thanks for the feedback @stormi - we'll take this into account going forward.

[2019-01-15 08:35] #2527 closed

[2019-01-15 12:05] DennisKonrad commented on #3089
@kiwiflyer Another issue arose with this OS-Type implementation thing.

When using "Other PV" for Windows VMs the qemu driver's are not automatically made available to the VM and installing a W2K16 is not possible due to it not seeing it's disk.

How are you solving this?

[2019-01-15 14:59] DennisKonrad commented on #2820
This issue is solved without us doing something really.

We updated maybe or something and after that it just worked.
I'll mark this as solved.

[2019-01-15 18:35] rafaelweingartner commented on #3123
If you want to target master, it should go in 41120-41200 SQL file

[2019-01-15 19:03] rafaelweingartner commented on #2865
@IngoJochim that is a Great idea. We will try to make it to 5.0.0.
Thanks for the proposal.

[2019-01-15 19:03] rafaelweingartner commented on #3041
Any chance on getting this into 4.12.0? Otherwise, I would move it to 5.0.0

[2019-01-16 20:32] andrijapanicsb commented on #2820
still present in master - just tested...only RAW templates seems affected. (i.e. could download qcow2 template 50GB (du -hs shows 49GB), while after converted same template to RAW format, I again get stream closed error message...

[2019-01-16 21:02] andrijapanicsb commented on #3089
@DennisKonrad @svenvogel I might sound silly - beside this being a potential bug, why would you want to ever use "windows server 2016" as OS type, since only "Windows PV" is the one offering VirtIO hardware/drivers ? Both disk and NIC are extremely slow - a.k.a. almost unusable ?

Using any Windows Server XXX version as the OS Type- should NOT give any virtio drivers/hardware to VM - this is used

[2019-01-16 21:18] andrijapanicsb commented on #3089
I support that @kiwiflyer ! - but both for disk controller and NIC model...(e1000,virtio,vmxnetXX,etc)

@svenvogel you are hitting the libvirt bug, I believe... please don't "mistakenly" expect that "Windows Server 2016 x64" should give you VirtIO drives at all

Here: https://bugzilla.redhat.com/show_bug.cgi?id=1288690

[2019-01-16 21:19] andrijapanicsb commented on #3089
btw, I did reproduce your issue, on 4.11.2, Ubuntu 14,  Libvirt 1.3.1-1ubuntu10.24~cloud0

[2019-01-16 23:14] falcon78921 opened #3137 "Integrating Ceph Status into CloudStack Dashboard"
##### ISSUE TYPE

 * Feature Idea

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

I have an idea for a new CloudStack feature. Being someone who utilizes Ceph greatly in their environment, I thought it would be pretty cool if CloudStack fetched the health status of a Ceph cluster and displayed it in the ACS dashboard (under each instance of Primary Storage (RB

[2019-01-17 02:52] falcon78921 commented on #3137
@kiwiflyer That would be cool! :)

I found the Mimic documentation for the RESTful API plugin: http://docs.ceph.com/docs/mimic/mgr/restful/

From what I see, you can get pretty creative with the endpoints (e.g. checking cluster health, setting OSD states, removing OSDs, etc.) I'll start playing around with this.

[2019-01-17 07:56] #3123 closed

[2019-01-17 17:16] GabrielBrascher commented on #3068
@borisstoyanov and @rhtyd what is the status of this issue? Should we keep it to 4.12.0.0?

[2019-01-17 17:49] falcon78921 commented on #3137
@kiwiflyer The API is pretty easy to work with. All you need to do is enable the RESTful plugin on the ``ceph-mgr``.

``ceph mgr module enable restful``

All API requests are sent over SSL (mandatory). You can generate a self-signed certificate or use your own. In my case, I just generated a self-signed cert with the following command:

``ceph restful create-self-signed-cert``

Then, to generate a

[2019-01-18 19:35] mlimalotic opened #3138 "StrongSwan with several rightsubnet's - ikev1"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced Network
VPC

##### OS / ENVIRONMENT

##### SUMMARY

After upgrading ACS from 4.9.3 (openswan) to 4.11.2 (strongswan), all VPNs with multiple networks have stopped working. Only one of the networks declared in the encryption domain passed traffic.

rightsubnet=192.168.198.0

[2019-01-19 13:52] ustcweizhou commented on #3138
thanks for sharing!

[2019-01-19 17:00] rhtyd opened #3140 "CloudStack management java.security.ciphers has no effect on JVM process"
The `/etc/cloudstack/management/java.security.ciphers` has no effect on the list of disabled TLS algorithms in the management server JVM process. For example, on port 8250 TLS1.0, 1.1 are still allowed/supported protocols. (Tested using `openssl s_client -connect localhost:8250 -tls1`)

However, workaround exists to configure `jdk.tls.disabledAlgorithms` in the global security file: `$JRE_HOME/lib

[2019-01-19 18:50] mike-tutkowski commented on #3089
Technically, the SolidFire plug-in in isn’t where the issue resides: It’s probably in the iSCSI-adapter code in the KVM agent.

________________________________
From: Sven Vogel <notifications@github.com>
Sent: Saturday, January 19, 2019 6:29 AM
To: apache/cloudstack
Cc: Tutkowski, Mike; Mention
Subject: Re: [apache/cloudstack] VMs with invalid IDE configuration when using Solidfire as primary sto

[2019-01-19 19:01] svenvogel commented on #3089
@mike-tutkowski you mean "the cloudstack-agent" or what means "kvm agent"? the only storage i know with this usage is solidfire. there is no other iscsi what i see. :/
![image](https://user-images.githubusercontent.com/5433844/51431126-d76a9e80-1c24-11e9-8655-310f2ba53dbb.png)
![image](https://user-images.githubusercontent.com/5433844/51431130-ec473200-1c24-11e9-86b3-fc67487ce67a.png)

[2019-01-20 05:56] mike-tutkowski commented on #3089
Yes, the KVM agent (cloudstack-agent). It supports managed, iSCSI-based plugins (like SolidFire’s) with the iSCSI adapter that runs inside the KVM agent.

In essence, there is a plug-in for iSCSI and managed storage that runs within the KVM agent. This is probably where the issue resides.

________________________________
From: Sven Vogel <notifications@github.com>
Sent: Saturday, January 19, 2019

[2019-01-20 11:14] andrijapanicsb commented on #3089
I'm, again, of opinion that using any specific "Windows Server xxx"  (meaning NOT "Windows PV") should give all drives as IDE (and network card as e1000) - for compatibly, but maybe I'm mistaken..

But explicitly choosing controller and NIC should be better (just like there is with VMware - you choose explicitly all controllers and NIC model or you can inherit from global settings).

[2019-01-20 12:39] svenvogel commented on #3089
@andrijapanic that is no bug in redhat or qemu. so what i see it is default behaviour of the libvirt code. first of all one ide and the other one needs to be virtio.
[https://bugzilla.redhat.com/show_bug.cgi?id=1437253](url)

[2019-01-21 15:35] pdion891 commented on #3138
We will have a look at this, this is for a single site-to-site VPN withc multiple remote subnets?

[2019-01-21 16:35] wido commented on #3137
The restful API is actually pretty broken in Ceph.

The dashboard in Ceph is already pretty good and keeps getting better and better. Wouldn't it be better that you can configure a URL to the dashboard and from the CloudStack UI you have a link to the Ceph dashboard.

It would be a lot of work to build this into CloudStack and I'm doubting the benefit.

[2019-01-21 17:53] falcon78921 commented on #3137
@wido I agree that the Ceph dashboard is pretty good. I use it with my Luminous cluster. There's also another great Ceph dashboard here: https://github.com/Crapworks/ceph-dash

The only downside to the dashboard in Luminous is the fact that it's simply a "read-only" page, same for the ceph-dash project. With Mimic, however, I'm seeing more maturity with the dashboard: https://ceph.com/community/mi

[2019-01-22 03:25] asender opened #3141 "SSL - LetsEncrypt the Console Proxy"
##### ISSUE TYPE

 * Feature Idea

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

4.11.1+

##### CONFIGURATION

LetsEncrypt the Console Proxy

Many new applications are now integrating letsencrypt. This could replace the old retired realhostip.com DNS resolver . Noone would need to muck around with certs again on the console proxy.

##### SUMMARY

New Global Option For Letsencrypt enable

[2019-01-22 19:53] rhtyd opened #3142 "CPVM sometimes does not work"
In an env with long running VMs and CPVM, when the management server is restarted at some point the CPVM stops working with following error seen in logs: /cc @glennwagner @PaulAngus

[code]

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

[2019-01-22 19:55] rhtyd commented on #3142
@glennwagner on debugging I found that the error came because one of the KVM host's agent was down/disconnected so console could not work. Please check in your env if vcenter/esxi hosts were Up when you found/reproduced that issue. This may happen when you restart management server(s) and they will try to reconnect to vcenters.
Closing as it's not a bug, but host/agent state/connection issue.

[2019-01-22 19:55] #3142 closed

[2019-01-23 07:38] geekza commented on #3104
I think I hit the same bug on 4.9.3.
Does you cloud is usable after this issue. For example can you reboot existing VMs?
I have submitted a bug in jira about this problem:
https://issues.apache.org/jira/browse/CLOUDSTACK-10401

[2019-01-23 07:40] rhtyd commented on #3104
There were a variety of issues fixed in latest 4.11 release. Can you test against 4.11.2.0? @dubauski @geekza

[2019-01-23 07:51] geekza commented on #3104
I'm going to upgrade CS to 4.11.2
But because of this problem I can't register new systemvm templates. So I want to know is it a required step in CS upgrade or I can do it later?

[2019-01-23 10:38] geekza commented on #3104
I have upgraded my CloudStack to 4.11.2.0 but nothing fixed! I see exactly the same behavior.

[2019-01-23 12:39] geekza commented on #3104
@rhtyd @dubauski
I found these items in my database that may prevent CloudStack to work:

MySQL [cloud]> select * from op_ha_work;
+----+-------------+-----------+---------+---------+----------------+---------+---------------------+-------+---------------------+-----------+-------------+---------+
| id | instance_id | type      | vm_type | state   | mgmt_server_id | host_id | created             |

[2019-01-23 15:00] glennwagner commented on #3142
@rhtyd Yesterday I only had one management server running, all the SVM's and hosts were in the Right UP state stll got the access denied

[2019-01-23 15:13] geekza commented on #3104
Finally I have resolved this issue!
I confirm that CloudStack 4.9 and 4.11 is affected by this bug.
I have deleted all records in these tables:

- op_ha_work
- op_lock
- vm_work_job

I don't know what is the best way to figure out which record should be deleted. It will be good if anyone could complete this workaround.

[2019-01-23 15:15] rhtyd commented on #3142
@Glenn can you share the cpvm logs when it happens the next time.

[2019-01-24 13:21] wido commented on #3057
I think that PR #3113 fixed this.

Closing this one.

[2019-01-24 13:21] #3057 closed

[2019-01-24 18:51] andrijapanicsb commented on #2583
Still exists for 4.11.2 with XCP-NG 7.4 - parameter is ignored, and it's always 4 sockets.

[2019-01-24 22:15] falcon78921 commented on #3137
Yeah, you could see this as "re-inventing the wheel". However, if users use both CloudStack and Ceph, you're giving them a more centralized management system versus several third-party integrations. I,  myself, see the value in this. I think this could also attract more users to CloudStack if CloudStack had this packaged in.

If the API is broken, is there another way that CloudStack could talk to

[2019-01-24 22:34] GabrielBrascher commented on #3041
@dhlaluku any update on this one?

[2019-01-25 10:35] wido commented on #3137
I personally just do not think it's a very good thing to do. It will probably be maintained poorly and lacking features which are available in the Ceph dashboard.

I would also not advise to use SSH, you should need to fix a few things in the restful API first.

Overall I don't think it's worth the effort.

[2019-01-25 11:13] rhtyd commented on #3140
In 4.11, until we've a mechanism to enforce this through global settings or discovering any env flag, the fix is to configure this globally in the JRE's java.security file.

[2019-01-25 12:40] richardlawley opened #3144 "Password Reset ignores redundant VR status when saving new password"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced Network, Redundant Virtual Routers

##### OS / ENVIRONMENT

n/a

##### SUMMARY

When you use the password reset feature, the password is always saved to the first running VR, not the master.  The code in VirtualRouterElement.savePassword appears to iterate over the output

[2019-01-25 13:40] dhlaluku commented on #3041
@GabrielBrascher @rafaelweingartner I will pick this up some time next week.

[2019-01-26 04:01] bwsw commented on #3049
PR is merged. Close it.

[2019-01-26 04:01] #3049 closed

[2019-01-28 11:25] fmaximus opened #3148 "UI: Create Network Offering Popup doesn't show fields."
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

##### STEPS TO REPRODUCE

- Go to 'Service Offerings'
- Select 'Network Offerings'
- Click on 'Add Network Offering'

##### ACTUAL RESULTS

![ui-bug](https://user-images.githubusercontent.com/2563216/51833265-40be7180-22f7-11e9-9f51-

[2019-01-28 13:14] DaanHoogland commented on #3081
@wido is this what you are addressing in your #3112 ? I cant help but think these are related.

[2019-01-29 08:59] rhtyd opened #3155 "Provide mechanism to disable TLS versions/algorithms for CloudStack server services"
In CloudStack secure socket-based services exists for agent server (port 8250) and jetty (8443/https). With recent limitation logged in #3140 a global fix is acceptable as a workaround however CloudStack needs to provide the mechanism (viz global settings or a commandline flag via the /etc/default/cloudstack-management) to disable TLS versions such as TLS v1.0, v1.1 etc.

##### ISSUE TYPE

 * Impr

[2019-01-29 15:15] DagSonsteboSB opened #3156 "VMware standard vSwitch port group configuration when ESXi host is added to CloudStack"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
* VMware vSphere / ESXi under CloudStack

##### CLOUDSTACK VERSION
* Any
* Tested in CloudStack 4.9 and 4.11

##### CONFIGURATION
* New ESXi host being added to existing cluster

##### OS / ENVIRONMENT
* Any

##### SUMMARY
* A newly added ESXi host added to an existing ESXi cluster utilising standard vSwitches will come online without a

[2019-01-29 16:34] sureshanaparti commented on #3156
This PR https://github.com/apache/cloudstack/pull/1257 addresses similar issue and is verified. Newly added host in the existing cluster doesn't participate in cluster HA and DRS in VMware. Solution: The port groups of the existing oldest host were added to the newly added host, making the new host compatible for VMware cluster HA and DRS.

I'll resolve conflicts and rebase. What is the planned ta

[2019-01-29 18:03] richardlawley opened #3157 "CentOS 6 Repo not updated for 4.11.2 GA"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

n/a

##### OS / ENVIRONMENT

CentOS 6

##### SUMMARY

The version of CloudStack available from http://download.cloudstack.org/centos/6/4.11/ is 4.11.2-rc5, not the GA version.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Release should be 1.el6
##### ACTUAL RESULTS

[

[2019-01-30 12:06] andrijapanicsb opened #3159 "Not possible to edit/change a VMware VM immediately after it's stopped"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

VMWARE / vShpere code

##### CLOUDSTACK VERSION

4.11.2 (didn't test all previous releases, except I know thing worked differently in 4.6)

##### CONFIGURATION

vSphere hypervisor used.

##### OS / ENVIRONMENT
NA

##### SUMMARY
After VM is stopped via API/GUI, it's not possible to immediately change VM (resize disk, change Service Off

[2019-01-30 13:15] nvazquez commented on #3081
@rhtyd @wido @DaanHoogland sorry for late response, looks like the check has not been updated for L2 networks and is considering only isolated networks. Thanks for reporting the bug @wido. Does PR #3112 solve the issue?

[2019-01-30 17:47] #3148 closed

[2019-01-31 07:19] rhtyd commented on #3157
@richardlawley thanks for reporting. You can consume the rpms from here: http://packages.shapeblue.com/cloudstack/upstream/centos/4.11/
@wido can you fix that, thanks.

[2019-01-31 07:36] rhtyd commented on #3157
cc @PaulAngus - do you have any idea?

[2019-01-31 07:36] rhtyd commented on #3157
Thanks @wido we'll try to sort that out soon.

[2019-01-31 08:31] PaulAngus commented on #3157
i don't know what happened there. we'll get it sorted,

[2019-02-01 13:23] rhtyd commented on #3155
Closing this, it seems due to configuration issue the ciphers file is ignored. A better fix should be on the way soon. https://github.com/apache/cloudstack/issues/3140

[2019-02-01 13:23] #3155 closed

[2019-02-04 09:53] AndreaGHG opened #3164 "Cannot open console: ConsoleProxyServlet NullPointerException"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

CentOS 7.6.1810

##### SUMMARY

I've upgraded CloudStack from version 4.9.3.1 to ver. 4.11.2.0 on CentOS 7.6.1810. I use VMWare as hypervisor with system VM images and CS package from Shape Blue.
From VM console in Console Proxy's VM console I can see v

[2019-02-04 21:27] #3096 closed, assigned to nathanejohnson

[2019-02-05 01:57] #3140 closed

[2019-02-05 10:41] anuragaw commented on #3048
I'd like to work on it @bwsw . Please let me know if that works for you.

[2019-02-06 14:46] ANKerD opened #3167 "Access to online documentation is not public"
##### ISSUE TYPE

 * Documentation Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### OS / ENVIRONMENT

Google Chrome

##### SUMMARY

I was readin about primary storage [here](http://docs.cloudstack.apache.org/projects/cloudstack-administration/en/4.8/storage.html#primary-storage) and tried to open [this link](http://docs.cloudstack.apache.org/en/latest/concepts.html#abo

[2019-02-06 16:07] richardlawley opened #3168 "Static NAT with multiple public interfaces uses wrong outgoing IP"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced Networking, XenServer 6.5, Non-VPC

##### SUMMARY

This is a regression, caused by f60f3ce I believe.  When a VR has public IPs on multiple interfaces, a static NAT rule which is not on the first public interface will have outgoing traffic originating from the Source NAT I

[2019-02-06 16:19] richardlawley commented on #3167
The documentation _is_ public, just that the documentation seems to show permission denied instead of 404 for a broken link.  You're viewing the old archived documentation - if you start from the [main site](http://docs.cloudstack.apache.org/) you'll get the latest documentation.

Latest version of the links you're trying to view: http://docs.cloudstack.apache.org/en/4.11.2.0/adminguide/storage.ht

[2019-02-06 16:53] NuxRo opened #3169 "ConfigDrive and all other Supported Services not available in the UI when L2 network is chosen"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME
UI
[code]

##### CLOUDSTACK VERSION
4.11.2

[code]

##### CONFIGURATION
Advanced networking

##### OS / ENVIRONMENT
CentOS 7 / KVM

##### SUMMARY
Trying to add a Network offering in the UI of the type L2 results in the disappearance of Supported Services section. In this particular case I wanted to check the "ConfigDrive" option.

##### STEPS T

[2019-02-06 16:55] rhtyd commented on #3169
@borisstoyanov @nvazquez @dhlakukucan you comment if we had fixed that already?

[2019-02-06 17:08] ANKerD commented on #3167
Thanks :)

[2019-02-06 17:08] #3167 closed

[2019-02-07 08:16] borisstoyanov commented on #3169
I don't think so @rhtyd

[2019-02-11 11:08] ustcweizhou commented on #3048
@bwsw @anuragaw
I do not understand what's the proposal of this request.
in my opinion, templete/iso tag should be taken into consideration when deploy/start/migrate a vm. for now, it is not working well in cloudstack. we can fix the issues instead of copying the tags into vm attributes.

[2019-02-11 13:36] borisstoyanov opened #3172 "java download client - unable to download/register when there's a trusted ssl connection"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Setup a valid/trusted ssl certificate for the ssvm

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-02-12 08:32] 1605200517 opened #3175 "How to determine the proper sizing of RAM vor VR?"
On CloudStack 4.7, we observe that large CIDR lists (say. several hundreds entries) for VPC access lists used for many ports lead to timeouts during creation of the iptables on the VR.

We observed that this can be tackled through increasing the RAM of the virtual private router.

Before we provide a detailed report if this should a bug, first a question what is the background of this dependency (

[2019-02-12 14:03] richardlawley commented on #3168
There were a couple of other places I could find the mark being used:
* configure.py L961 - `hex(int(public_fwinterface[3:]))`
* CsAddress.py L261 - `self.dnum = hex(int(dev[3:]))`

I'm not entirely sure what these are each for and whether they should all be updated.

[2019-02-13 13:52] JnSchl commented on #3138
Hi, we encounter the same issues mainly with IKEv2. So far, we did not test changing the configuration manually – we migrated the affected networks to L2 networks with dedicated virtual routers which are managed outside of CloudStack. This is not a solution.

Please let us know if we can help somehow.

[2019-02-13 14:18] borisstoyanov opened #3176 "Usage records are not being created for L2 networks"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Created a 3 L2 networks and one isolated and let the usage job took place (deployed VMs in all of them). List usage records shows records for the isolated networks but not for the L2 ones..

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RES

[2019-02-13 15:49] richardlawley opened #3177 "Static NAT causes duplicate firewall rules to be added"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced Networking

##### OS / ENVIRONMENT

n/a

##### SUMMARY

When two static NAT IPs exist on a network, every time a firewall rule is added or removed, duplicate CONNMARK rules are added to mangle/PREROUTING.  Over time and on a busy network, this causes a significant number o

[2019-02-13 17:53] DagSonsteboSB opened #3178 "GUI project pulldown list slowdown on large number of projects"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
* ACS GUI

##### CLOUDSTACK VERSION
* Reproduced on ACS 4.11.2

##### CONFIGURATION
* ACS 4.11.2
* Problem is environment agnostic

##### OS / ENVIRONMENT
* ACS management on CentOS7

##### SUMMARY
* When number of projects is large (thousands) and there's a lot of tags in use (hundreds) then the ACS GUI pulldown menu slows down drastic

[2019-02-14 08:09] JnSchl commented on #3178
Hi, we encounter the same behavior but with less projects (in the small three-digit range). Also non root users are affected by the longer loading times if only their projects are listed.

[2019-02-14 09:29] DennisKonrad opened #3179 "Redundant VRouter guest network on wrong interface"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
Standard cluster deployment regarding this issue. No changes made to sytemvm or the offerings involved.

##### OS / ENVIRONMENT
Seems to work only with OvS bridges.
KVM with OvS
Projects with VPCs

##### SUMMARY
Redundant vRouter Offering doesn't work because guest network is on wrong

[2019-02-14 09:34] svenvogel commented on #3179
@fmaximus can you help to debug this case? you helped already with this pr #2304 by vpc. maybe you can help with redudant vpc. i hope. thx

[2019-02-14 12:50] kioie commented on #3041
@dhlaluku this one?

[2019-02-14 12:50] dhlaluku commented on #3041
@kioe yes

[2019-02-14 14:08] onitake opened #3180 "savepassword.sh crashes router when starting many VMs at once"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

We discovered a serious bug in one of the System VM scripts: /systemvm/debian/opt/cloud/bin/savepassword.sh

The way I understand this script, it is supposed to clear out stored passwords for the password reset API by sending "ack" r

[2019-02-14 14:47] fmaximus commented on #3179
@DennisKonrad Can you post the contents of /etc/cloudstack/ips.json on the VR.

[2019-02-14 17:49] rhtyd commented on #3180
What you've shared is the old password script and old mechanism. For kvm/xenserver/vmware now the password saving is handled by python based codebase: https://github.com/apache/cloudstack/blob/master/systemvm/debian/opt/cloud/bin/configure.py#L59

Here it does not blindly try to curl and save password by using a curl, but only to relevant running passwd_server_ip.py processes and ip/subnets (see c

[2019-02-14 23:40] onitake commented on #3180
That is great news, thanks a lot for the insight, Rohit.

Since we'll be moving to 4.11 soon, the old VR templates will make way for the new one.
I wonder though why the savepassword.sh script is still in the repo, if the password reset feature is now handled entirely by configure.py.

I already know that router configs are now persistent, so even if it crashes, there will no longer be an unconfig

[2019-02-15 07:19] rhtyd commented on #3180
@onitake Many of the shell scripts have been moved to python based codebase, however, they exist as some of the hypervisor plugins such as hyper-v and ovm3 still use them instead of the new codebase. I'm performing some scalability tests against the VR password server on a vmware (5.5u3) based environment for isolated networks, I'll share them soon.

[2019-02-15 08:12] DennisKonrad commented on #3179
@fmaximus Thank you for helping. This is the content of the ips.json:

{
  "eth0": [
    {
      "add": true,
      "broadcast": "169.254.255.255",
      "cidr": "169.254.2.133/16",
      "device": "eth0",
      "gateway": "",
      "netmask": "255.255.0.0",
      "network": "169.254.0.0/16",
      "nic_dev_id": "0",
      "nw_type": "control",
      "one_to_one_nat": false,
      "public_ip": "16

[2019-02-15 09:33] rhtyd opened #3182 "Improve password saving to VR password server without forking processes"
Use python based http request to save password to VR password server. Currently, it's done by a forking mechanism where a curl process does this. The code may also be reviewed and any lock related bottlenecks may be removed.

##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

[2019-02-15 09:58] rhtyd commented on #3180
From ab/benchmarking point of view, the default VR offering has a single core and limited RAM (256MB). It may be increased for the network to remedy networks where high VM start/stop throughputs are necessay so the VR can handle multi-process curl/password-saving workloads.

To simulate 100VM starts with 10Vms requests concurrent, here are the results:
[code]
And in another test with 100 concurren

[2019-02-15 09:59] rhtyd commented on #3180
Closing this issue, as wrt 4.11.2 VR the issue could not be reproduced. However, in 4.11.3+ we can attempt to further improve the password saving mechanism.

[2019-02-15 09:59] #3180 closed

[2019-02-15 10:56] voteforpresident commented on #3178
We are experiencing the same issue on the Cloudstack Version 4.11.2.

[2019-02-15 16:01] ustcweizhou commented on #3178
We had similar issue on listing vms if vms have several tags.
We fixed it by recreating view without resource tag, and get resource tags by a query in server/src/com/cloud/api/query/dao/UserVmJoinDaoImpl.java.
[code]

it would be better to remove resource tags from all views because it leads to too many records in views.

[2019-02-17 23:28] asender commented on #2583
Confirmed this issue with Xenserver 7 and Cloudstack 4.11.3

           nameLabel: Async.VM.start_on
     nameDescription:
   allowedOperations: []
   currentOperations: {}
             created: Mon Feb 18 10:11:51 AEDT 2019
            finished: Mon Feb 18 10:11:51 AEDT 2019
              status: failure
          residentOn: com.xensource.xenapi.Host@904b9a65
            progress: 1.0

[2019-02-18 21:28] svenvogel commented on #3179
@fmaximus Hi Frank, thank you for help. do you need additional informations?

[2019-02-19 08:15] ustcweizhou commented on #3179
@svenvogel Are you using kvm ?

[2019-02-19 08:58] DennisKonrad commented on #3179
@ustcweizhou Yes we do

[2019-02-19 10:16] borisstoyanov commented on #3176
It's not a bug, since we don't have VR we can't track for type 4 and 5 which is bytes send/received. I've double checked and usage records appear for assigned offering with L2 networks

[2019-02-19 10:16] #3176 closed

[2019-02-19 12:10] fmaximus commented on #3179
@DennisKonrad What I can see in the ips.json, is that mac address is missing.
The lookup uses the mac address to find out the device id.

[2019-02-19 13:50] svenvogel commented on #3179
@fmaximus Yes you are right. do you know where in the code is the problem so why redundant router is missing some mac adresses?

[2019-02-20 19:07] kiwiflyer opened #3188 "Destroy instance in the UI incorrectly reports no volumes are attached to this VM"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
UI

[code]

[2019-02-20 19:11] kiwiflyer commented on #3188
Looks like this feature is only meant to show additional volumes, not the root. Closing.

[2019-02-20 19:11] #3188 closed

[2019-02-21 20:44] andrijapanicsb opened #3191 "Copy template between zones fails with md5 mismatch"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

1 region, 2 zones, template registered/exists in zone1

##### OS / ENVIRONMENT

Issue confirmed on both KVM and VMware as Hypervisors

##### SUMMARY

When copying existing template from Zone1 to Zone2 (copyTemplate API call), md5 checksum between source and destination (copied/down

[2019-02-22 06:23] kioie commented on #3164
How is your network configured?

[2019-02-22 08:50] andrijapanicsb opened #3192 "Security Group rules not applied at all for XenServer 6.5 / Advanced Zone"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced Zone with Security Groups enabled, VM deployed inside Shared Network

##### OS / ENVIRONMENT

Hypervisor: XenServer 6.5(sp1)

##### SUMMARY

Security Group rules (iptable rules) not applied at all on XenServer 6.5 / 6.5SP1, in Advanced Zone with SG enabled on 4.11+ (FYI: w

[2019-02-22 16:07] melnik13 opened #3193 "qcow2 images are being corrupted"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
Apache CloudStack with KVM-powered hosts

##### OS / ENVIRONMENT
Hypervisor: KVM (CentOS 7)

##### SUMMARY
Sometimes a qcow2 image could be corrupted by the snapshot deletion procedure. This issue was discussed in the cloudstack-users@ mailing list:
https://mail-archives.apache.org/mod

[2019-02-22 22:53] kiwiflyer commented on #2611
So, @nathanejohnson  and I just started some upgrade testing on some lab environments going from our 4.8 production branch to 4.12 and we may have just run into this same bug. We'll triage it and upgrade everyone early next week.

[2019-02-23 04:32] nathanejohnson commented on #2611
@wido I can second what @kiwiflyer mentioned earlier:  The reason pools aren't being created has to do with the user_info being passed along encrypted, the split doesn't find a semicolon so it skips the secret section of the pool xml.  It looks like the only time it's sent along decrypted is when the pool is initially created..

Obviously I'm missing something, I can't find anything significant th

[2019-02-23 04:51] nathanejohnson commented on #2611
as a followup, I cannot reproduce this in our fresh installed lab, only the one we upgraded.  The userInfo comes across decrypted there.

[2019-02-25 10:07] wido commented on #2611
This seems like a management server thing where it doesn't send the data properly. Because I can't think of a reason why this happens on the Agent/KVM side.

I honestly have no idea.

[2019-02-25 11:01] AndreaGHG commented on #3164
Network type is "advanced" with those network:

public network - 10.100.1.1/24 (tagged 330)
management network - 10.168.1.1-10.168.1.50 (untagged, GW 10.168.1.93)
storage network - 10.168.1.51-10.168.1.70 (untagged, GW 10.168.1.93)
guest networks on vlan 2001-2050

In this PDF you can see the network schema:

[cs-console-proxy.pdf](https://github.com/apache/cloudstack/files/2900186/cs-console-prox

[2019-02-25 15:08] nathanejohnson commented on #2611
I narrowed down the issue to where at some point during the upgrade process the db.properties file had switched from using encryption to not, so the user_info field was stored encrypted in the db but then was being sent without being decrypted on the way to the agent.  I see in the spec file that the db.properties file is listed as config(noreplace) in the red hat spec file, but I think in some si

[2019-02-25 20:46] ustcweizhou commented on #3164
@AndreaGHG
have you configured consoleproxy.url.domain in global settings ?

[2019-02-26 07:56] anuragaw commented on #2742
I'm working on this issue as I had worked on something similar sometime back.

[2019-02-26 07:56] anuragaw commented on #2823
I'm working on this issue and should have a fix for it out to review next week.

[2019-02-26 08:51] AndreaGHG commented on #3164
@ustcweizhou
consoleproxy.url.domain was not configured.

I've resolved both private and public proxy's IPs, setting the public ip's name in consoleproxy.url.domain returns a connection deny when I try to open the console. Setting the private ip's name in consoleproxy.url.domain returns a connection timeout in the console window.

[2019-02-26 09:23] JnSchl commented on #3138
Well unfortunately, it seems that we have more problems with this issue.

As soon as we update the virtual router to 4.11.2.0 multiple subnets stop working (everything worked before). We run XenServer 6.0 with all latest patches. The virtual routers run as HVM - before PV. We upgraded from 4.10.0.0, CS Management Server currently runs on CentOS 7.6.1810.

So far, we did not find a way to get the a

[2019-02-26 10:21] ustcweizhou commented on #3164
@AndreaGHG
could you provide more details ? the value of global setting consoleproxy.url.domain and consoleproxy.sslEnabled  and some screenshots of errors ?

[2019-02-26 11:05] JnSchl commented on #3138
Maybe these links/info can help fixing or identifying this problem:

- [[strongSwan] multiple traffic selectors per child_sa](https://lists.strongswan.org/pipermail/users/2018-October/013048.html)
- [Cisco Bug: CSCue42170 - IKEv2: Support Multi Selector under the same child SA](https://quickview.cloudapps.cisco.com/quickview/bug/CSCue42170)
- [CSCue42170 - IKEv2 Support Multi Selector under the sa

[2019-02-26 13:28] AndreaGHG commented on #3164
I have created 2 DNS records:
cs-proxy1-priv.example.it - 10.168.1.1 (console proxy private IP)
cs-proxy1-pub.example.it - 10.100.1.54 (console proxy public IP)

I have tried to put in consoleproxy.url.domain both records:
- when I use "cs-proxy1-priv.example.it" I get a connection timeout error (ERR_CONNECTION_TIMED_OUT) in the console window. The URL in the frame is: http://cs-proxy1-priv.exampl

[2019-02-26 16:17] ustcweizhou commented on #3164
@AndreaGHG  could you check errors in /var/log/cloud.log in secondarystorage vm ?

[2019-02-26 16:38] AndreaGHG commented on #3164
@ustcweizhou
There are no errors in /var/log/cloud.log on ssvm even when I try to open a console. There is only this info message repeated every minute:

2019-02-26 16:36:07,036 INFO  [storage.resource.NfsSecondaryStorageResource] (agentRequest-Handler-4:null) Determined host rn.example.it corresponds to IP 10.168.1.252

[2019-02-26 20:28] wido opened #3195 "Python 3 compatibility"
A lot of Python code inside CloudStack is still Python 2 and we have just 10 months left before Python 2 is no longer supported: https://pythonclock.org/

Various items need to be looked at and checked for Python 3 compatibility. A list, but probably not complete:

- [x] KVM Security Groups
- [x] Xen Security Groups
- [ ] Virtual Router scripts (addressed in #3730)
- [x] Various setup tools
- [x]

[2019-02-26 21:30] ustcweizhou commented on #3164
@AndreaGHG is there any log in management-server.log ?

When I open a console, I got the following logs
[code]

[2019-02-27 01:18] div8cn opened #3196 "VM snapshot revert failure without memory"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

XenServer 7.1.2 (XenServer 7.1CU2)

##### SUMMARY

VM snapshot revert failure without memory

2019-01-23 00:06:54,226 DEBUG [c.c.v.s.VMSnapshotManagerImpl] (Work-Job-Executor-156:ctx-28f7465a job-2867/job-2869 ctx-a04e0ed9) (logid:a9ef7fe7) Failed to revert

[2019-02-27 09:07] AndreaGHG commented on #3164
@ustcweizhou

This is my management-server.log when try to opening a console:

`2019-02-27 09:08:55,483 DEBUG [c.c.a.t.Request] (qtp510113906-11:null) (logid:) Seq 1-5167036147477515108: Sending  { Cmd , MgmtId: 345052229470, via: 1(cs-esxy3-san.example.it), Ver: v1, Flags: 100011, [{"com.cloud.agent.api.GetVncPortCommand":{"id":46,"name":"i-10-46-VM","wait":0}}] }

2019-02-27 09:08:55,483 DEBUG [

[2019-02-27 14:24] ustcweizhou commented on #3164
@AndreaGHG
it seems java process is not running in cpvm. you can restart it by "/etc/init.d/cloud restart"
logs can be found at /var/log/cloud.log

here is my output
[code]

[2019-02-28 05:43] GabrielBrascher commented on #3192
@andrijapanicsb please review PR #3197. Thanks!

[2019-02-28 09:06] DennisKonrad commented on #3179
@fmaximus @svenvogel
Hi ,
does this mean when the code that's responsible for updating the "ips.json" would also insert the mac address this could fix the problem?

I searched for the ips.json in the code but wasn't able to locate the code responsible for it.
Any hints are much appreciated

[2019-02-28 13:20] ustcweizhou commented on #3179
@DennisKonrad
could you provide more information ?
(1) which cloudstack version ?
(2) Do you use official systemvm template ?

some other comments
(1) eth1 should be public ip, and vpc tier ip will be attached to eth2/eth3, etc
(2) ips are saved into ips.json in systemvm/debian/opt/cloud/bin/merge.py
(3) restart VPC with cleanup might fix your problem.

[2019-02-28 19:20] ToonGeneral commented on #2583
We have this working with:
XS 6.5 and CS 4.8
XS 6.5 and CS 4.11

Given the OP said they had the issue with 6.2, I am wondering if you're just missing something?

To get it working:
- shutdown the VM
- delete the 'platform' row for this VM ID in user_vm_details
- create a cpu.corespersocket for this VM ID in user_vm_details
- boot the VM from CS
- the 'platform' row is rebuilt from XS
- cores will

[2019-03-01 09:44] DennisKonrad commented on #3179
@ustcweizhou
info
(1) we are running more or less the master on the agents and mgmts
     The systemvm template is built from master too but from december 2018
(2) There are no modifications done to the systemvm template

other comments
(1) yes, eth1->public, eth2++ -> guest networks, VRRP->lowest guest nic
**_!! Do you think the problem is, that the public ip is on the wrong interface when using

[2019-03-01 14:55] ustcweizhou commented on #3179
@DennisKonrad
when apply a new configuration in VR, it will create a file in VR and execute the update in VR.
see code in ./core/src/com/cloud/agent/resource/virtualnetwork/VirtualRoutingResource.java below
[code]

json files will be created in server, then scp to VR through 169.254.X.X/port 3922 on VR.
then execute /opt/cloud/bin/update_config.py in VR
json file will be processed in following par

[2019-03-01 16:07] andrijapanicsb commented on #3192
Give me 5min @GabrielBrascher ...

[2019-03-01 16:24] GabrielBrascher commented on #3192
No problem @andrijapanicsb

[2019-03-01 17:38] GabrielBrascher commented on #3192
Are you ok with PR #3197 @andrijapanic?

[2019-03-01 18:15] andrijapanicsb commented on #3192
Nope, not OK (also related to an email on mailing list today/yesterday) :

Migrating a VM from host A to host B, does NOT remove iptable rules on host A (source) and does NOT create iptables rules on host B (destination host)

(after VM migration done)

SOURCE HOST (no more VM running here)

iptables-save | grep i-2-3-VM
:i-2-3-VM - [0:0]
:i-2-3-VM-def - [0:0]
:i-2-3-VM-eg - [0:0]
-A BRIDGE-FIREWA

[2019-03-01 18:21] andrijapanicsb commented on #3192
Might be a related issue: https://github.com/apache/cloudstack/issues/3088

[2019-03-01 18:23] andrijapanicsb commented on #3192
or https://github.com/apache/cloudstack/pull/2990

[2019-03-01 18:32] GabrielBrascher commented on #3192
Just pointing that the issue #3088 and PR #2990 addressed KVM (security_group.py); thus, that PR did not break XenServer (vmops).

@andrijapanicsb I will perform some tests here and debug it. Did you test migrating between XenServer 6.5 hosts?

[2019-03-01 21:17] andrijapanicsb commented on #3192
@GabrielBrascher - that is the only thing I have tested (XenServer 6.5sp1) - didn't do any tests with KVM at all. Thx for looking into this.

[2019-03-01 21:20] GabrielBrascher commented on #3192
Ok @andrijapanicsb, just checking. Thanks for pointing that!

[2019-03-01 22:35] nvazquez commented on #2611
Hi all,

I hit the same issue on 4.11:

[code]
Debugging the error I see this:
![image](https://user-images.githubusercontent.com/5295080/53670302-08dd7d80-3c59-11e9-93df-60ba3c31aa68.png)

[code]

[2019-03-02 13:16] svenvogel commented on #3179
@fmaximus does the info from @ustcweizhou help for a deeper look from you? maybe you have the time.

[2019-03-05 08:32] AndreaGHG commented on #3164
I don't have a "cloud" start script in /etc/init.d/

I've downloaded system image from BluShape site: http://packages.shapeblue.com/systemvmtemplate/4.11/

Now I'm trying to use image from CloudStack , this http://download.cloudstack.org/systemvm/4.11/systemvmtemplate-4.11.2-vmware.ova, but I cannot  replace the installed system image, even if I use "cloud-install-sys-tmplt" script on the manageme

[2019-03-05 08:32] AndreaGHG commented on #3164
@ustcweizhou

I don't have a "cloud" start script in /etc/init.d/

I've downloaded system image from BluShape site: http://packages.shapeblue.com/systemvmtemplate/4.11/

Now I'm trying to use image from CloudStack , this http://download.cloudstack.org/systemvm/4.11/systemvmtemplate-4.11.2-vmware.ova, but I cannot replace the installed system image, even if I use "cloud-install-sys-tmplt" script on

[2019-03-05 09:45] AndreaGHG commented on #3164
I've verified that system images from ShapeBlue and from CloudtStack are the same, I don't understand why there isn't the start script "cloud" in my Console Proxy.

[2019-03-05 12:33] MartinEmrich opened #3200 "Can only login to one of two management servers"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
Two management servers

##### OS / ENVIRONMENT
Older Management Server: CentOS 6
Newer Managment Server: CentOS 7

##### SUMMARY
Cannot log in to one of the management servers.

##### STEPS TO REPRODUCE
Goal is to replace our old MS (4.9.2.0) with a new one.
I migrated the database to

[2019-03-05 12:37] rafaelweingartner commented on #3200
Do you have an HTTP load balancer in front of these management servers?

[2019-03-05 13:12] MartinEmrich commented on #3200
Hello @rafaelweingartner!

No, I have no LB, I just visit either the old server (UI works) or the new one (nothing happens after clicking "Login".

I plan to remove the old server as soon as the new server works correctly.

[2019-03-05 13:16] rafaelweingartner commented on #3200
Can you open your network console in the browser and check what is happening there. It is probably some parameter that is pointing to the old server (configuration). For instance, it will probably work if you use cloudmonkey with keys.

[2019-03-05 13:35] MartinEmrich commented on #3200
In cloudmonkey, I get this error:

[code]

I have two identical profiles (except the API URL). the old server works, the new one gives me the message above.

In the browser console, I get 401 errors from the new server (e.g. http://new-server:8080/client/api?command=listCapabilities&response=json&_=1551792035179)

[2019-03-05 13:36] rafaelweingartner commented on #3200
are you using RBAC?Or that command.properties?

[2019-03-05 13:43] MartinEmrich commented on #3200
Not to my knowledge... The ACS installation of the old server dates back to 4.2.x, where these concepts were not even there AFAIK.

But I found the following sentence in the docs: "The dynamic-roles feature is enabled by default only for all new CloudStack installations since version 4.9.x."

Although my new server connects to the "old" database, it was essentially a fresh installation of 4.9.2.0

[2019-03-05 13:51] MartinEmrich commented on #3200
Yes, indeed!

This article explains the concepts: https://www.shapeblue.com/dynamic-roles-in-cloudstack/

So I started with a "pre-Dynamic-Roles" Cluster, and added a new management node. But the new management node lacked the command.properties file.

After copying this file from the old to the new server to /etc/cloudstack/management/ and restarting the management service, I can log in!

So the

[2019-03-05 14:31] ustcweizhou commented on #3164
@AndreaGHG sorry my mistake, cloud service has been changed to /etc/systemd/system/cloud.service
you can restart it via "systemctl restart cloud"

[2019-03-05 14:50] AndreaGHG commented on #3164
@ustcweizhou
cloud service is running and also if I restart it there is nothing listening on port 80 and 8001.

[2019-03-05 15:16] ustcweizhou commented on #3164
@AndreaGHG any log in /var/log/cloud.log and output of "systemctl status cloud" ?

[2019-03-05 15:32] AndreaGHG commented on #3164
This the output of 'systemctl status cloud':

<pre>
root@v-69-VM:~# systemctl status cloud
‚óè cloud.service - CloudStack Agent service
   Loaded: loaded (/etc/systemd/system/cloud.service; enabled; vendor preset: enabled)
   Active: active (running) since Tue 2019-03-05 15:25:48 UTC; 5s ago
 Main PID: 2140 (bash)
    Tasks: 29 (limit: 4915)
   CGroup: /system.slice/cloud.service
           ‚îú‚îÄ

[2019-03-05 15:58] ustcweizhou commented on #3164
@AndreaGHG
is there log like below in management-server.log ?
[code]

There should be StartConsoleProxyAgentHttpHandlerCommand sent from mgt server to cloud agent in cpvm. However I did not see related logs in your cloud.log

[2019-03-05 16:16] AndreaGHG commented on #3164
This is the managemente-server.log when I try to open an instance console:

<pre>
2019-03-05 17:09:38,224 DEBUG [c.c.a.t.Request] (qtp510113906-14:null) (logid:) Seq 1-5531546242317840041: Sending  { Cmd , MgmtId: 345052229470, via: 1(cs-esxy3-san.hypergrid.it), Ver: v1, Flags: 100011, [{"com.cloud.agent.api.GetVncPortCommand":{"id":46,"name":"i-10-46-VM","wait":0}}] }
2019-03-05 17:09:38,224 DEBU

[2019-03-05 19:20] GabrielBrascher commented on #2611
@nathanejohnson any update on this one?
I am not sure if this issue is a blocker for 4.12, considering that not all contributors were able to reproduce it (@wido was able to upgrade from 4.10 -> 4.11 -> 4.12).

[2019-03-05 20:16] ustcweizhou commented on #3164
@AndreaGHG you need to upload ssl certificate
please refer to http://docs.cloudstack.apache.org/en/4.11.1.0/adminguide/systemvm.html#changing-the-console-proxy-ssl-certificate-and-domain

[2019-03-06 07:19] div8cn opened #3201 "after changing the Instance default nic, no new gateway can be obtained"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

isolation network
l3 share network

##### OS / ENVIRONMENT

##### SUMMARY

Instance has two NICs. After changing the default nic, the instance cannot get the new gateway address (the instance always gets the old one).

Must be restarted by CLOUDSTACK or shut down and restart, in or

[2019-03-06 07:45] ustcweizhou commented on #3201
@div8cn thanks for report. I will create a PR for this issue.

[2019-03-06 08:52] luhaijiao commented on #3201
Thanks weizhou,  you rock !

在2019年03月06 15时45分, "ustcweizhou"<notifications@github.com>写道:

@div8cn thanks for report. I will create a PR for this issue.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-03-06 10:30] AndreaGHG commented on #3164
@ustcweizhou

After installing SSL certificate console proxy works again.
Thank you so much for your support!

[2019-03-06 12:36] GabrielBrascher commented on #3192
Closing this issue as PR #3197 has been merged.

[2019-03-06 12:36] #3192 closed

[2019-03-07 13:56] GabrielBrascher commented on #2611
We are still unable to reproduce this issue. Thus, I am removing this as a Blocker for 4.12.

[2019-03-07 15:15] DagSonsteboSB opened #3202 "Userdata incorrectly encoded"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
* Userdata input in CloudStack 4.11

##### CLOUDSTACK VERSION
* ACS 4.11.2

##### CONFIGURATION
* N/A

##### OS / ENVIRONMENT
* Tested on CentOS7 but is version agnostic.

##### SUMMARY
* Userdata is incorrectly URLencoded *before* base64 encoding

##### STEPS TO REPRODUCE
* Create new VM and pass the following userdata string:
cat ${hostname}-l

[2019-03-07 16:31] nathanejohnson commented on #2611
Sorry for the late reply, i have not had a chance to upgrade our other development cluster but I agree this shouldn't be a blocker.

[2019-03-08 09:01] andrijapanicsb commented on #3200
Did you follow the migration procedure ?

http://docs.cloudstack.apache.org/en/4.11.2.0/adminguide/accounts.html#using-dynamic-roles

[2019-03-08 09:22] konstantinjfk opened #3203 "usage server broken in 4.12.0.0"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME
Usage server
[code]

##### CLOUDSTACK VERSION

version 4.12, downloaded from official repo

##### CONFIGURATION
vanilla install

##### OS / ENVIRONMENT
Centos 7

##### SUMMARY
Usage server not starting jobs and ignore any db.usage settings

[root@ref-trl-1013-k-M7-apanic-mgmt1 usage]# grep -i usage /etc/cloudstack/usage/db.properties | grep inv

[2019-03-08 09:28] DaanHoogland commented on #3202
@DagSonsteboSB It *seems* to me this is due to the textarea for userdata being of ```class disallowSpecialCharacters```.
This class is tied to a validation method that specically filters for '<' and '>'
This would be redundant as the field is translated before passing to the API: ```encodeURIComponent(btoa(userdata))```.
I am not sure (yet) where the translation from '>>' to '\&gt;\&gt;' is done.

[2019-03-08 11:22] andrijapanicsb commented on #3203
Confirmed the issue myself as well.
Changed to DB properties (setting invalid user/pass/ip/port) and immediately restarting usage server did NOT raise an exception, but after leaving it over night, and restarting it again in the morning (usage server), it did detect invalid settings, and logged lines "failing back to default settings of cloud/cloud/localhost/3306 - which happened to be in place in

[2019-03-08 11:36] konstantinjfk commented on #3203
Here is 4.12.0.0 debug and trace log files, as requested

Not so much info here

https://pastebin.com/89XycZgq

Is you can see, I updated usage.stats.job.exec.time every time before usage server start to force job start

There is nothing after line

(main:null) (logid:) UsageServer ready...

in both cases.

in the same time the version 4.11.2 with same approach, when I changed usage.stats.job.exec

[2019-03-08 13:45] MartinEmrich commented on #3200
@andrijapanicsb No, I did not know of Dynamic Roles prior to this issue. As this cluster is operated only by one team, we have no need for any roles except Root Admin ;)

As it works now, I see no need to migrate either... Or will this be an issue in the future?

[2019-03-08 14:05] ustcweizhou commented on #3203
@konstantinjfk /etc/cloudstack/usage/db.properties should be linked to /etc/cloudstack/management/db.properties
[code]

[2019-03-08 14:17] andrijapanicsb commented on #3200
Cool - just confirm if that solves your issues... and then you can close this GitHub issue :)

Thanks

[2019-03-08 14:47] MartinEmrich commented on #3200
Is it really closed?

IMHO the RPM should either include the default command.properties, or the file should be autogenerated on management server start if Dynamic Roles are not used.

It doesn't feel right for me to close the issue at this stage... But as I was able to fix it by copying the file, feel free to close the issue.

[2019-03-08 20:23] GabrielBrascher commented on #3203
The error is happening since when we migrated to systemd service. I will link a PR fixing it as soon as possible.

[2019-03-11 03:43] GabrielBrascher commented on #3203
@konstantinjfk @andrijapanic please review PR #3207.

[2019-03-11 09:46] DagSonsteboSB commented on #3202
Sounds reasonable to me @DaanHoogland, let me know how you get on and we can test.

[2019-03-11 11:44] andrijapanicsb opened #3208 "Error while searching through VM snapshots"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

No special config needed

##### OS / ENVIRONMENT

Not relevant

##### SUMMARY

Can't search through VM snapshots

##### STEPS TO REPRODUCE

"cmk list vmsnapshot listall=true keyword=ldap" or  simply searching through VM snapshots with just a keyword typed in the search field gives

[2019-03-11 12:01] andrijapanicsb commented on #3208
Additionally, per documentation, no parameter is REQUIRED, all are optional, which seems to not be the case.

Additionally, when searching for VM snap via GUI, the "listall=true" is sent two times  - this is also to be fixed.

[2019-03-11 20:24] andrijapanicsb commented on #2862
Any update on this one ? I believe I was observing similar situation...

[2019-03-11 21:13] ustcweizhou commented on #2862
@andrijapanicsb were you using vpc with public ips in multiple ip ranges or private gateway ?

[2019-03-12 17:03] onitake opened #3221 "Proposal: Specify INVOKER security on table views to avoid DB user dependency"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

MySQL 5.5 (later versions have the same issue)

##### SUMMARY

According to https://dev.mysql.com/doc/refman/5.5/en/stored-programs-security.html , views on MySQL are created with SQL SECURITY DEFINER and the creator's user account as DEFINER b

[2019-03-13 09:28] 3guboff opened #3224 "Cannot create (add) template for KVM (QCOW2)"
##### ISSUE TYPE
 * Bug Report
##### COMPONENT NAME
[code]
##### CLOUDSTACK VERSION
[code]
##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
[code]

##### SUMMARY
Cannot upload image for template when:
[code]
##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS
Template uploaded successfully

##### ACTUAL RESULTS
![Screenshot from 2019-03-13 12-26-39](https://user-images.githubusercontent.com/1561

[2019-03-13 10:14] ustcweizhou commented on #3224
cloudstack does not support qcow2 image files with suffix .img
the suffix must be .qcow2

[2019-03-14 08:24] 3guboff commented on #3224
It's some kind of joke? Why so stupid restriction exist in this project?
Example for better understanding stupidity of the situation: I have text file without extension, so I can't open him on my laptop, seriously?

[2019-03-14 08:55] ustcweizhou commented on #3224
@3guboff  You may try to register template with format=RAW instead of QCOW2
It works for me.

[2019-03-14 10:00] 3guboff commented on #3224
@ustcweizhou Not working for me

[2019-03-15 01:24] bdonnahue commented on #2583
Hey, thanks for sharing that info about the workaround while we wait for a better solution.

[2019-03-15 15:07] GabrielBrascher commented on #3203
#3210 fixes this issue and it has been merged. Thanks for reporting this issue. RC5 is available for VOTE under the mail `[VOTE] Apache CloudStack 4.12.0.0 [RC5]`, sent to _users_ and _dev_ CloudStack mailing lists.

Git Branch: 4.12.0.0-RC20190314T1011
https://github.com/apache/cloudstack/tree/4.12.0.0-RC20190314T1011
https://gitbox.apache.org/repos/asf?p=cloudstack.git;a=shortlog;h=refs/heads/4.

[2019-03-15 15:07] #3203 closed

[2019-03-18 11:56] andrijapanicsb commented on #3072
I believe this might be a mis-configuration @msinhore - can you follow up please - or do you feel OK to close it ?

[2019-03-18 12:47] DaanHoogland commented on #3202
The removal of the class was not enough, but I found the code that let's jquery do the automatic en-/decoding. It does this using the methods sanatize and sanatizeReverse from ui/utils.js so I wrote a piece of code that undoes it before passing it on to the API:
[code]
No other characters are encoded as far as I can tell but we might define a reassuring large set to test agains. (@borisstoyanov ?)

[2019-03-18 13:38] andrijapanicsb opened #3229 "Console Proxy sends redundant CTRL and ALT keys to VMware"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

VMware zone

##### OS / ENVIRONMENT

VMware zone

##### SUMMARY

on VMware Zone, hitting CTRL over Console Proxy will send CTRL+ALT + CTRL keys or possible CTRL + ALT + right CTRL + right ALT (as can be seen on Windows with on-screen keyboard)

##### STEPS TO REPRODUCE

use "showke

[2019-03-18 13:39] andrijapanicsb commented on #3229
Seems to be working fine on XenServer (7.0 tested) - I can see with "showkey" only one keycode reported to be pressed/released. Didn't try KVM.

[2019-03-19 20:25] #3072 closed

[2019-03-19 20:26] msinhore commented on #3072
Thanks guys. It was solved.

[2019-03-20 01:18] mschaepers commented on #2583
Hi ToonGeneral,
can you share the commands in the database? I'm not sure if I'm doing the DB Update correct ;)

[2019-03-20 02:02] mschaepers commented on #2583
ok, got it:
select * from user_vm_details where vm_id=<number-vm> \g
delete from user_vm_details where id=<id-of-platform>

set @vmuuid='66bec96f-4694-463e-a920-1d99ef29f23d';
set @vmcores='4'
insert into cloud.user_vm_details (vm_id,`name`, `value`) (select i.id,'cpu.coresPerSocket',@vmcores from cloud.vm_instance i where i.uuid=@vmuuid);

[2019-03-20 12:43] andrijapanicsb commented on #3039
Any progress on this one - anyone else to share experience or a proper fix ?

[2019-03-20 13:19] PaulAngus commented on #3039
This is addressed by https://github.com/apache/cloudstack/pull/3127

[2019-03-20 13:33] andrijapanicsb commented on #3039
Pardon my blind eyes ... ... ...

[2019-03-20 14:06] andrijapanicsb commented on #3138
Any progress around this one ?

[2019-03-20 17:31] onitake opened #3230 "NPE when descriptor has VMware compatibility level 9"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

VMware ESXi 5.5

##### SUMMARY

In CloudStack 4.11.2, it's impossible to start a VM that has an existing VMware descriptor with a compatibility level below 10.

The bug manifests with a NullPointerException in com.cloud.hypervisor.vmware.mo.VirtualMachi

[2019-03-21 10:21] onitake commented on #3230
There is more to this issue: Since CloudStack never upgrades the VM descriptors to the current compatibility level, this exception will happen to all older VMs eventually, unless they are manually upgraded from within ESX.

[2019-03-21 23:56] mschaepers commented on #2583
okay, this seems not to survive a server restart (with shutdown).
After powering on the server is keeps changing back to the original behaviour

[2019-03-22 14:35] DagSonsteboSB commented on #3138
https://wiki.strongswan.org/projects/strongswan/wiki/FAQ#Multiple-subnets-per-SA

[2019-03-22 20:56] msinhore opened #3231 "Intermittent DHCP and L2 network communication issue in instance side"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
* advanced network
* vmware 5.5 hypervisor

##### OS / ENVIRONMENT
* management server OS: CentOS 7
* VMware guest portgroup in promiscuous mode

##### SUMMARY
I got an intermittent issue during the guest instance creation. During the instances boot time, some instances didn't get IP a

[2019-03-23 19:41] PaulAngus commented on #3224
@3guboff  I doubled checked, and the  .img extension should be used for raw images not qcow2 images.

I would suggest that you go to creator of the images and ask them to use the appropriate file extension for their qcow2 images.

I would also counsel that you refrain from hurling insults at them if they try to help you, as it is unlikely to further your cause.

[2019-03-23 19:41] #3224 closed

[2019-03-23 19:43] PaulAngus commented on #3224
.img extension is generally used for raw images
CloudStack's expectation of a .qcow2 extension for a QCOW2 disk image is correct and sensible.

[2019-03-23 20:17] bdonnahue commented on #2583
Confirmed, it does not support reboots

[2019-03-24 20:24] ToonGeneral commented on #2583
Not sure what you guys are doing, but it works fine for us. Survives a reboot through CS fine.

@mschaepers your SQL looks correct, except don't delete * from user_vm_details. You only need to delete the platform value. I don't know if that's what is causing your issue.

I can also confirm this is working using the new UI controls in 4.11. The VM needs to be off and you can then delete the platfor

[2019-03-24 21:26] mschaepers commented on #2583
My original post is missing in the second statement that I delete just platform

After modifying it I do see the new platform value with the correct cores.
But as soon as the machine gets turned off a new platform value (with new ID) get’s written back to SQL.

I will try to check if the results when adding it through the UI. Just wondering if something from the template gets inherited?

_________

[2019-03-24 21:54] mschaepers commented on #2583
I’m using a fork of Cloudstack.
Just to be sure that we are taking about the same, which UI controls you are talking about exactly? Can you share a screenshot?

________________________________

Von: ToonGeneral <notifications@github.com>
Datum: 24. März 2019 um 21:22:24 MEZ
Bis: apache/cloudstack <cloudstack@noreply.github.com>
Cc: Mauricio Schäpers <m.schaepers@vsqloud.de>, Mention <mention@nore

[2019-03-24 23:36] ToonGeneral commented on #2583
sorry @mschaepers just don't get the same symptoms. We reboot instances all the time and they don't lose the setting.

CS 4.11 interface:
![image](https://user-images.githubusercontent.com/2943991/54887658-8fb6fc00-4e8d-11e9-99f4-a7b46220bb92.png)

[2019-03-24 23:36] ToonGeneral commented on #2583
You need to stop the instance, for the Settings tab to appear.

[2019-03-25 07:48] mschaepers commented on #2583
@ToonGeneral thanks, never noticed the setting menu!
![image](https://user-images.githubusercontent.com/22095221/54902053-8f901e00-4ed8-11e9-9e1c-9b5c67849a76.png)

as you can see, this is the "new" platform value which get's written back after shutdown (even if the instance was running with the correct settings, in my case 4 cores per socket).
one difference I'm spotting is that we utilize custom

[2019-03-25 07:57] #3081 closed

[2019-03-25 12:26] onitake commented on #3138
So, it looks like this is currently not possible with CloudStack. Too bad. :disappointed:

We experimented a bit and we discovered another possible bug: CloudStack writes StrongSwan config files into `/etc/strongswan.d/`, but only uses the IP address of the VPN endpoint for the file name. If multiple tunnels are defined for the same IP, only one of them will stick, as the config file gets overwrit

[2019-03-25 16:00] 1605200517 opened #3237 "Allow a global CIDR list source managed by third party"
##### ISSUE TYPE

 * Feature Idea (possibly a plugin?)

##### COMPONENT NAME
possibly VR, API and UI

##### SUMMARY

Imagine that you have your firewall ACL configuration being dependent upon a third party, that is, they would publish at least one a day a list of networks your users need to reuse across many accounts.

That is, this proposed feature would allow:

- introducing a global proxy CIDR

[2019-03-25 16:54] bwsw commented on #3237
@1605200517 why external firewall appliance doesn't fit the purpose. Why you need CS for that?

[2019-03-26 07:25] rhtyd commented on #3178
@ustcweizhou can you send a PR to master?

[2019-03-26 07:33] ustcweizhou commented on #3178
@rhtyd will do

[2019-03-26 07:56] rhtyd commented on #3039
Interesting notes from https://github.com/systemd/systemd/issues/8015#issuecomment-475324192
[code]

[2019-03-26 07:57] rhtyd commented on #3169
I think we have that option in UI on latest master, will check and fix if necessary. (possibly also on latest 4.11 branch)

[2019-03-26 13:30] 1605200517 commented on #3237
@bwsw then I'd still need to sync data between firewall and CS taking also access rights. Having this CS feature, users can manage firewalling of their accounts themselves and being independent from currently used firewall product (which can still then apply additional protection logic).

[2019-03-27 12:17] #3231 closed

[2019-04-01 08:17] rhtyd commented on #3229
Investigation: Based on showkey output on linux (debian and centos guests) with ACS 4.11.2.0, the console proxy indeed sends those keys as pressed, but with an additional ESC key.

In the screenshot, the first set of Ctrl+keys were typed on a virt-manager VNC ( KVM), and next sets were typed via browser based console (cloudstack). This shows that some additional key is being sent as part of the ke

[2019-04-01 14:52] DagSonsteboSB opened #3252 "Load balancer protocols bug"
##### ISSUE TYPE
 * Bug Report
 * Improvement Request

##### COMPONENT NAME
* ACS 4.11 VR load balancer
* ACS 4.11 CreateLoadBalancerRule API call

##### CLOUDSTACK VERSION
* ACS 4.11.x

##### CONFIGURATION
* Advanced zone
* Isolated guest network
* Load balancer rules

##### OS / ENVIRONMENT
* N/A

##### SUMMARY
* Load balancer protocols for UDP and TCP-proxy are not labelled correctly in the GUI

[2019-04-01 15:04] DagSonsteboSB opened #3253 "Load balancer appcookie configuration deprecated in HAproxy"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
* ACS 4.11.x VR load balancing with AppCookie stickiness

##### CLOUDSTACK VERSION
* ACS 4.11.x

##### CONFIGURATION
* Advanced zone, guest isolated network with LB configuration on public IP

##### OS / ENVIRONMENT
* N/A

##### SUMMARY
* AppCookie configuration is deprecated in HAproxy
* https://cbonte.github.io/haproxy-dconv/1.7/confi

[2019-04-01 17:05] andrijapanicsb commented on #3039
^^^ included in #3126 and #3127

[2019-04-02 10:09] shwstppr commented on #2802
@csquire Will removing port checking be an appropriate solution for this or should there be some global settings where admin can set a list of allowed ports?
cc @rhtyd @nvazquez

[2019-04-02 10:12] rhtyd commented on #2802
It should be any port @shwstppr

[2019-04-02 12:37] DagSonsteboSB opened #3255 "SSH MAC algorithm update required"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
* ACS

##### CLOUDSTACK VERSION
* All current versions (4.11, 4.12)

##### CONFIGURATION
* All

##### OS / ENVIRONMENT
* All

##### SUMMARY
* CloudStack is using the trilead-ssh2 library for ssh communications
* This does not have support for the latest MAC algorithms
* Change to different library should be considered

##### STEPS TO RE

[2019-04-03 07:43] shwstppr commented on #3208
@andrijapanic Not able get the above part, rest should be fixed with my PR https://github.com/apache/cloudstack/pull/3257

[2019-04-03 10:26] andrijapanicsb commented on #3208
Ignore that, my bad!

[2019-04-03 21:18] andrijapanicsb commented on #3138
OK, so after thorough testing with remote side being pfsense 2.4.4, with 2 remote/right subnets (local to pfsense), and IKEv1 (ancient) and IKEv2, here are the findings below:

- **default CloudStack 4.11.2 configuration works FINE with IKEv2** (when having 2 remote/right subnets) - zero hacks or anything - works perfectly well (when configured properly on both sides...)
- virtually all HW/SW devi

[2019-04-03 21:35] andrijapanicsb commented on #3138
@pdion891 @ustcweizhou @JnSchl @onitake - can you please take a look.

[2019-04-04 09:23] rhtyd commented on #3138
@andrijapanic I'll get back to you soon, need time to digest and evaluate pros vs cons etc.

[2019-04-04 09:31] 1605200517 commented on #3237
current workaround is to use tags and external cron

[2019-04-04 09:31] #3237 closed

[2019-04-04 09:39] onitake commented on #3138
@dudarra Can you have a look if this helps? Thanks!

[2019-04-04 10:25] dudarra commented on #3138
Yes, will do a test with riverbed and cloudstack! report to follow!

[2019-04-05 11:25] hex-dec opened #3262 "CloudStack system vm Hyper-V error"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME

on new system vm template on debian 9.6 and Hyper-v 2012 r2+
1. path /var/opt/hyperv/ does not exist
hv_kvp_daemon write file to /var/lib/hyperv/.kvp_pool_0
2. .kvp_pool_0 is binary format and (grep -Po 'type=\K[a-zA-Z]*') does not work

For 1. may create symlink or change script in "cloud-early-config"

For 2. may use
 echo $(cat /var

[2019-04-05 13:35] NuxRo opened #3263 "SSVM uses the guest network to mount NFS SS instead of the management network"
Hi,

4.11.2 + KVM, ADV +SG zone.
One management network + one guest network  - no dedicated sstorage network, public IPv4 everywhere.
I am having a hard time mounting the FreeNAS NFS share, turns out the SSVM uses the guest network to access the NFS server (as shown by "ip ro get").
Obviously, I can't add the guest network to the NFS ACL, any client VM would be able to mount the share.

Ideas?

[2019-04-05 14:15] DagSonsteboSB opened #3264 "Volume snapshot listing failing when originating primary pool removed"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
* Volume snapshots in ACS4.11.2

##### CLOUDSTACK VERSION
* ACS 4.11.2

##### CONFIGURATION
* Any incorporating volume snapshots

##### OS / ENVIRONMENT
* N/A

##### SUMMARY
* Volume snapshot present as far as CloudStack and Secondary storage goes
* Original primary storage pool ID has been removed
* listSnapshots will fail with:
Error: (HTTP 53

[2019-04-05 15:59] nvazquez commented on #3264
Error is NullPointerException on `StorageSubsystemSnapshotStrategy`, as the pool is removed, this line returns an empty pool: https://github.com/apache/cloudstack/blob/4.11.2.0/engine/storage/snapshot/src/org/apache/cloudstack/storage/snapshot/StorageSystemSnapshotStrategy.java#L976

[code]

Possible workarounds:
- Remove the entry on `snapshot_store_ref` with store_role = Primary for conflicting

[2019-04-05 16:14] NuxRo opened #3265 "Upload template fails"
I am trying to upload a qcow2.bz2 template from the UI, it fails without any feedback.
In the logs I am seeing this, where this in particular seems key:
"Coudn't find ssvm for url https://10.0.84.254/upload/320001ac-6176-4240-8cdd-c7863435157e"

Indeed, that URL returns 404.

2019-04-05 17:07:59,721 DEBUG [c.c.a.ApiServlet] (qtp788117692-18:ctx-fcaa8183) (logid:0b24442e) ===START===  10.10.192.198

[2019-04-05 16:16] NuxRo commented on #3265
To add insult to injury, now I cannot delete the template entries created as a result.. need to go into the DB. :-)

[2019-04-08 08:46] #2802 closed

[2019-04-08 08:48] #3208 closed

[2019-04-08 08:54] rhtyd commented on #3046
https://github.com/apache/cloudstack/pull/3213

[2019-04-08 10:39] anuragaw commented on #3048
@ustcweizhou - Apologies for the very late reply. I think the goal here is to allow users to optionally call for copying tags from iso/templates into VMs. This can something as below -

`deployVituamMachine ...... copyTemplateOrIsoTags=true` ...the flag can be default to false so that the default behaviour remains as it is currently.

[2019-04-10 11:48] #2994 closed

[2019-04-10 13:01] onitake opened #3270 "System VM health monitoring"
##### ISSUE TYPE

 * Feature Idea

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

In CloudStack 4.11, there seems to be no effective way to monitor the health of virtual routers and other system VMs.
CloudStack does some internal health monitoring, but the result of these health checks is not exposed via the API

[2019-04-10 13:10] onitake commented on #3270
I briefly discussed the feature on the [cloudstack-users mailing list](https://lists.apache.org/thread.html/5eb1ef3ce0bd75c9a5dbf1080b3f13b844758415e71afe669a180b15@%3Cusers.cloudstack.apache.org%3E), but the offered suggestions were too hypervisor-specific and did not meet my expectations on what I want to monitor.

[2019-04-11 10:42] DagSonsteboSB opened #3272 "VR DHCP lease file not persistent"
##### ISSUE TYPE
* Bug Report - BLOCKER
* Improvement request

##### COMPONENT NAME
* VR dnsmasq DHCP

##### CLOUDSTACK VERSION
* ACS 4.11.2
* ACS 4.12 not tested but assumed issues are still present looking at code changes
* Regressions from / previously present in ACS 4.9 / 4.10 / 4.11

##### REFERENCES
1) PR2427 - CLOUDSTACK-10252: Delete dnsmasq leases file on restart /  https://github.com/apa

[2019-04-11 11:00] rhtyd commented on #3272
Interesting discussion https://serverfault.com/questions/723292/dnsmasq-doesnt-automatically-reload-when-entry-is-added-to-etc-hosts

[2019-04-12 11:15] andrijapanicsb commented on #3265
Local upload via Browser, while SSVM has NO SSL configured ?

[2019-04-12 11:19] andrijapanicsb commented on #3265
https://github.com/apache/cloudstack-documentation/pull/37

[2019-04-12 11:24] andrijapanicsb commented on #3263
I saw same thing in 4.11.2 when I used Basic Zone/SG also withOUT defining Storage Network (also using Guest/Public network to access NFS).
Workarround was to define Storage Network (even though in the same IP range as MGMT)...

[2019-04-12 12:03] NuxRo commented on #3263
Thanks for confirming; as a workaround I have moved SS on to an IP in the mgmt network, but.. it is a workaround, it'd be nice to see a fix.

[2019-04-12 12:10] NuxRo commented on #3265
I have added a * cert and enabled SSL for Jetty and CPVM, thought it was enough.
I guess you are referring to secstorage.ssl.cert.domain ?

Besides using *.domain.tld in that field, is there anything else I need to do?

[2019-04-12 12:39] DagSonsteboSB opened #3273 "VR DHCP VPC multihomed VM broken"
##### ISSUE TYPE
* Bug Report - BLOCKER

##### COMPONENT NAME
* VR dnsmasq DHCP

##### CLOUDSTACK VERSION
* ACS 4.11.2
* ACS 4.12 not tested but assumed issues are still present looking at code changes
* Regressions from / previously present in ACS 4.9 / 4.10 / 4.11

##### REFERENCES
1) PR2427 - CLOUDSTACK-10252: Delete dnsmasq leases file on restart /  https://github.com/apache/cloudstack/pull/24

[2019-04-12 15:42] NuxRo opened #3274 "Service offerings too small"
Env: 4.11.2, Xenserver, Ubuntu template from openvm.eu

I just wasted a silly amount of time trying to debug over a high latency connection why passwords (and other cloud-init features) did not work. Turns out the tests were done with the Small service offering which has 512 RAM; the template would run out of memory, thus impeding cloud-init.
Everything worked with the Medium offering.

It's 2019,

[2019-04-16 07:12] pmury opened #3277 "Marvin can't read config file"
##### ISSUE TYPE

 * Bug Report
 * Documentation Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION

https://github.com/pmury/cloudstack/blob/marvin-101/test/integration/Dockerfile.python27

and setup.cfg both adopted, either 1:1 copied from the installation
instructions following the example from
https://cwiki.apache.org/confluence/display/CLOUDSTACK/Marvin+

[2019-04-17 08:57] DennisKonrad commented on #3179
I found some more time looking into this. @ustcweizhou Do you also think the problem originates in
https://github.com/apache/cloudstack/blob/52f68a273aaf0aa6746eaaee4a95a7bf722c53b0/core/src/main/java/com/cloud/agent/resource/virtualnetwork/VirtualRoutingResource.java#L401

[2019-04-17 11:13] ustcweizhou commented on #3277
I run the commands below and it succeed
[code]

# nosetests --version
nosetests version 1.3.7

[2019-04-17 12:23] pdion891 commented on #3138
We need to review on our side, but report look pretty accurate @andrijapanic !

[2019-04-17 12:45] kioie commented on #2842
Seems like this issue should be closed.

[2019-04-17 14:36] DennisKonrad commented on #3179
The root cause seems to be that the interfaces (eth1, eth2, eth3) share the same mac address.
I'm not really sure where this originates. Somehow when the redundant router is created and the nics are added all of them get the same mac.
The "createRedundantAssociateIPCommands" seems to assign the ips to the wrong interface then.

@ustcweizhou Can you give me a hint where in the code new vrouters get

[2019-04-18 12:08] DagSonsteboSB opened #3281 "Block storage addition issues on XCP-ng"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
* createStoragepool API
* iSCSI storage
* issue may also affect FC - TBC
* XCP-ng

##### CLOUDSTACK VERSION
* Tested with ACS 4.11.2

##### CONFIGURATION
* Advanced zone

##### OS / ENVIRONMENT
* Mgmt on CentOS7
* XCP-ng version 7.4

##### SUMMARY
* createStoragepool with the iSCSI / defaultStoraprovider will successfully add iSCSI pools to the

[2019-04-21 18:51] rhtyd opened #3284 "SystemVM template build does not work with latest packer v1.4.0"
I recently found that our systemvmtemplate build system does not work with packer v1.4.0 however, it does work fine with packer v1.2.5.

Till the time we fix that, users/devs - kindly use packer v1.2.5 for building systemvmtemplate.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

[2019-04-23 06:31] kioie commented on #2797
Is there a situation where a pod can have multiple IPs as shown below?
[code]
Also, I'm curious as to why the pod start and end IP details are stored as a string in the description field? cc @DaanHoogland @rhtyd

![Screen Shot 2019-04-23 at 9 29 57 AM](https://user-images.githubusercontent.com/20902920/56559489-77302380-65aa-11e9-8a8a-f9c8cb7b5bf2.png)

[2019-04-23 08:21] geekza opened #3285 "Cross cluster cold migration failed in vmware"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

Management Server
VMWare
[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

2 or more VMWare cluster under a pod
Zone wide primary storage

##### OS / ENVIRONMENT

VMWare vSphere 5.5

##### SUMMARY

CloudStack cannot find the cold migrated VM between cluster so tries to register and gets "The specified key, name, or identifier alre

[2019-04-23 08:29] lynxnot commented on #3272
Centos 6 has the same problems with dhclient, dnsmasq is not installed on Centos 6

[2019-04-23 11:39] rhtyd opened #3286 "S2S VPN check does not different between VRs by their roles"
The S2S VPN connection checking code does not differentiate between routers based on the roles, due to which with a VPC with an internal LB VM, the query to check VPN connection may also reach the internal LB VM instead of just the VPC VR:

https://github.com/apache/cloudstack/blob/4.11.2.0/server/src/com/cloud/network/router/VirtualNetworkApplianceManagerImpl.java#841

The issue seen would be fre

[2019-04-23 13:07] DagSonsteboSB opened #3287 "Secondary storage pool 90pct limit ignored"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
* Secondary storage pool / SSVM

##### CLOUDSTACK VERSION
* Any

##### CONFIGURATION
* Any

##### OS / ENVIRONMENT
* N/A

##### SUMMARY
* Secondary storage pools should in theory not be considered for template / volume / ISO / snapshot upload if percentage utilisation is > 90%
* However if no other pool exist < 90% then the first available secon

[2019-04-24 08:13] borisstoyanov opened #3290 "KVM: if a volume is detached before OS has boot and migrated, admin not able to attach back"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Observed with KVM, should be agnostic of distro and version. We tested on:
[code]

##### SUMMARY

When a user creates a VM without starting it, and then start and detach the volume before the guest OS has booted, post migration the volume cannot be attached

[2019-04-24 08:18] rhtyd commented on #3290
The limitation is known for years, this was the previous issue ticket discussing the limitation: https://issues.apache.org/jira/browse/CLOUDSTACK-2725

It still seems to happen even when KVM host has hotplugging capabilities:
[code]

[2019-04-24 08:19] borisstoyanov opened #3291 "KVM Volume: When detached, user is able to migrate the volume to the same storage"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

KVM on CentOS7

##### SUMMARY

User is able to migrate the volume to the same storage pool where it resides

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-04-24 09:28] rhtyd commented on #3290
With qemu-ev 2.12, we see an error like "qemu-img: Could not open ‘/mnt/3aaac88e-61f6-3ab8-9fb0-79e9e025d097/5411f9c6-8212-4da6-b298-5b52935c0b5c': Failed to get shared "write" lockIs another process using the image?￼￼"

The issue is same as with stock qemu v1.5 on centos7, where disk is detached in CloudStack but still remains in the domain XML, for example:
[code]

Workaround is to stop the VM,

[2019-04-24 11:12] ustcweizhou commented on #3179
@DennisKonrad I tried to reproduce the issue today but failed with cloudstack 4.11.2

[2019-04-24 11:15] DennisKonrad commented on #3179
@ustcweizhou
Are you using KVM with OVS? We are using advanced networking.
Maybe we can pin this down by identifying the difference.

[2019-04-24 13:15] ustcweizhou commented on #3179
@DennisKonrad KVM with linux bridge. We do not use OVS.

[2019-04-25 13:40] DagSonsteboSB opened #3295 "listPublicIPAddresses return not filtered for current network"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
* CloudStack GUI

##### CLOUDSTACK VERSION
* ACS 4.11.2

##### CONFIGURATION
* Advanced zone
* 2 x shared networks in "setup" state

##### OS / ENVIRONMENT
* N/A

##### SUMMARY
* GUI calls listPublicIPAddresses as follows and does not filter for current network when using the "change IP address" function:
command=listPublicIpAddresses&response=j

[2019-04-26 13:23] svenvogel commented on #3178
@ustcweizhou we encounter the same problem. If you find some time maybe you can send a PR to the master.

[2019-04-29 12:43] onitake commented on #3056
Wouldn't it be better to support SSL offloading for the built-in load balancer instead?
HAProxy can do SSL termination, though some work to prepare the configuration and combine certificate and key into one blob may be needed.

[2019-04-29 14:13] fpaillot opened #3305 "SSL SSVM not working when configured to use a URL instead of a domain"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

SSVM

##### CLOUDSTACK VERSION

4.11.2

##### CONFIGURATION

consoleproxy.url.domain	: myurl.mydomain.com
consoleproxy.sslEnabled	: true
secstorage.ssl.cert.domain : myurl.mydomain.com
secstorage.encrypt.copy : true

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Based on : https://www.shapeblue.com/securing-cloudstack-4-11-with-https-tls/, I tri

[2019-04-29 18:07] #2689 closed

[2019-04-30 09:57] anuragaw commented on #3229
Upon investigation it seems to be broken just for VMWare

Seems to be working fine on KVM on latest Master. Investigating further.

[2019-04-30 12:54] ustcweizhou commented on #3178
@svenvogel @rhtyd @DagSonsteboSB
PR has been created for this issue: https://github.com/apache/cloudstack/pull/3306

We have similar issue while listing vms, I will create another pull request when #3306 is merged because it requires db change as well.

[2019-04-30 20:15] PaulAngus commented on #3056
It would certainly be nice.  I'm sure that the community would very much welcome the feature.  But for now the UI promises something that can't be provided most of the time.  And that's not ok...

[2019-05-01 05:22] anuragaw commented on #3229
Also observed that `Cmd` (meta key on Macs) has no effect on VMWare and KVM when CPVM console is launched on MacBook Pro in Chrome.

[2019-05-01 09:29] richardlawley opened #3309 "SRX Plugin Fails to Delete Static NAT Rules"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

SRX Network Zone

##### OS / ENVIRONMENT

n/a

##### SUMMARY

The Juniper SRX plugin fails to delete static NAT rules.  Looking at the output in debug logs, it does the following:
* Find public rule (untrust)
* Delete public rule (untrust)
* Find private rule (trust)  (reports "Did

[2019-05-02 09:09] anuragaw commented on #2823
Permission is denied because when tagging we attempt to check for permissions - which is as follows -
1. Check if the entity is owned by some account id - represented by implemented `OwnedBy` interface.
2. If it's not owned by an account id, it's considered to be owned by System and users cannot tag the resource.

We can possibly extend Projects start tracking by a user and possibly better extend

[2019-05-02 09:48] NuxRo opened #3311 "Issues when multiple management IP addresses are set in the KVM hypervisor (with fix)"
##### ISSUE
 * Bug Report

(fix by Wei down below)

##### COMPONENT NAME
Management
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
Advanced zone with SG

##### OS / ENVIRONMENT
KVM, CentOS7,

##### SUMMARY
When multiple IPs are set on the bridge used for management traffic, the management server/UI can report the "wrong" IP - not the one used when the hypervisor was added - and it ca

[2019-05-02 15:28] DagSonsteboSB opened #3314 "Zone names missing in GUI dashboard in ACS411"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
* CloudStack GUI in ACS411

##### CLOUDSTACK VERSION
* 4.11.x, regression since 4.9

##### CONFIGURATION
* Any

##### OS / ENVIRONMENT
* Any ACS 4.11

##### SUMMARY
* In ACS4.9 the zone name would show up in the main ACS GUI:
![image](https://user-images.githubusercontent.com/12859582/57086910-ed453080-6cf6-11e9-8691-d7d05ca8d138.png)
* In ACS4.

[2019-05-06 14:18] glennwagner opened #3315 "Set an inactive service offering over API"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

ANY

##### OS / ENVIRONMENT

##### SUMMARY
We discovered something in our cloud. It is possible to set up an inactive service offering for a VM over API. This is not possible over UI as the service offer disappears after deleting it. However, over API we are still able to set up th

[2019-05-09 15:37] swill commented on #3089
Reference: @skattoju4 & @syed

[2019-05-09 16:35] svanharmelen opened #3321 "Cannot associate a public IP to a new isolated network (4.12.0.0)"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
I'm running my tests against the simulator container which I configured with an advanced datacenter setup:
`python /root/tools/marvin/marvin/deployDataCenter.py -i /root/setup/dev/advanced.cfg`

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When creating an isolated network and then try to

[2019-05-09 16:35] svanharmelen commented on #3321
@DaanHoogland as discussed previously, here is an issue to track this problem.

[2019-05-09 21:53] DaanHoogland commented on #3321
tnx @svanharmelen I will try to reproduce on master to have a look see

[2019-05-10 06:35] DaanHoogland commented on #3321
tnx @svanharmelen I will try to reproduce on master to have a look see
@GabrielBrascher @wido I know there has been some networking stuff going into 4.12. Would that explain this?

[2019-05-10 06:54] DaanHoogland commented on #3321
@svanharmelen can you add the API you use here (if you don't use the UI), please?

[2019-05-10 07:20] DaanHoogland commented on #3321
i assumed ```associate ipaddress networkid=5edca120-c785-441c-88c3-bad2565f5ebb``` and get the same result indeed.

[2019-05-10 07:29] svanharmelen commented on #3321
Cool, yeah that is indeed the call that I'm trying to make...

[2019-05-10 07:31] DaanHoogland commented on #3321
found https://github.com/apache/cloudstack/blob/master/server/src/main/java/com/cloud/network/IpAddressManagerImpl.java#L1433 that is the root of your regression.
/cc @rhtyd @DagSonsteboSB

[2019-05-10 07:42] svanharmelen commented on #3321
Yep, that seems to be it. Good find 👍

So now the question is if this is actually the desired behavior, or that it was an oversight that this will make it harder (if not impossible) to configure a network properly before using it now?

[2019-05-10 08:10] DaanHoogland commented on #3321
https://github.com/apache/cloudstack/pull/3125 is a fix which has this (for undesired) result. Not sure which way to go with this, yet.

[2019-05-10 11:26] rhtyd commented on #3321
This is a regression, thanks for reporting @svanharmelen we'll attempt to fix it soon for the next major/minor release but that does mean we cannot do anything about 4.12.0.0.

[2019-05-10 11:28] svanharmelen commented on #3321
Ok... And is there a change we can get a 4.12.1.0 or something? As this means both Terraform and Packer will not be able to play nice with 4.12.x.x (https://github.com/hashicorp/packer/issues/7557).

[2019-05-10 14:40] glennwagner opened #3327 "Volume name for failed and successful snapshots"
##### ISSUE TYPE

 * Feature Idea

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

We would like to see additional information such as Volume name, supplied for events related to failed/successful snapshots so that these messages are distinguishable.

e.g. the customer would like to see the Volume name for failed and succe

[2019-05-13 15:10] dudarra commented on #3138
@andrijapanic did the test form our "test-cloud" to "main-cloud" --> Cloudstack 4.11.2 and it worked! Now i will try Riverbed between the two clouds! will report!

[2019-05-14 08:56] DaanHoogland commented on #3321
@svanharmelen i had a look at several solution paths and came across the old persistent flag. Is it feasible for you to use a network offering with the persistent flag on? It will be implemented even without instances.
I realise this may come down to terraform's requirements, but if it is only a test-bed requirement you have, this may work around the issue.

[2019-05-15 04:22] #3314 closed

[2019-05-15 08:06] svanharmelen commented on #3321
@DaanHoogland I will try to test with this today and let you know how it worked out.

[2019-05-15 09:39] DaanHoogland commented on #3321
ok, if this workaround doesn't work, we'll have to tag ipadresses with their intended usage somehow in order to know which are for static and which for (one) for source NATting.

[2019-05-16 12:47] pbankonier opened #3332 "Switch instance to another compute/service offering"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]
##### CLOUDSTACK VERSION
[code]
##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
[code]

##### SUMMARY
Not possible to change a service offering for an instance to a newly created compute offering.
The problem are the changes in https://github.com/apache/cloudstack/pull/3133/files in the ConfigurationManagerImpl.java.
When issystem is pa

[2019-05-16 16:52] nathanejohnson commented on #3332
I will take a look

[2019-05-16 20:33] nathanejohnson commented on #3332
@pbankonier from looking at the code prior to this PR, it looks like this behavior predates it.  Are you using the UI or creating the service offering via API?

[2019-05-16 21:23] svenvogel commented on #3332
@nathanejohnson we use the UI.

[2019-05-17 14:26] nvazquez opened #3334 "Cannot enable static NAT on VM with NICs on multiple VPC tiers in UI"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION
Advanced networking, VPC with multiple tier networks

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When trying to enable static NAT on VM with NICs on multiple VPC tier networks on the 'Public IP addresses' router section, it fails with error: `VM ip <IP> address not belongs to the vm` w

[2019-05-17 22:44] smlshn commented on #3050
I write function to sort any array by given key and
I made required changes to sort the data available on each step by their suitable fields i.e
templates by name
serviceOfferings by cpuspeed
diskOfferings by disksize
affinityGroups by name
sshkeyPairs by name
network:
   - vpcs by name
   - networkOfferings by name

[2019-05-18 03:54] smlshn opened #3337 "the toolbar in Instances page not reset to its initial state after any multiSelectAction completed."
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
the toolbar not reset to its initial state after any multiSelectAction( Take VM Snapshot, Destroy Instance, Stop Instance) completed.

Below image shows the state of toolbar after operation is successful. Actually no instance selected but

[2019-05-20 04:20] anuragaw commented on #3327
I will take a look @glennwagner

[2019-05-20 08:20] PaulAngus commented on #3334
@nvazquez please can you detail where in the UI you are trying to add this IP.

[2019-05-20 09:50] ustcweizhou commented on #3334
patch

[code]

[2019-05-20 12:07] nvazquez commented on #3334
Done @PaulAngus thanks

[2019-05-20 13:49] PaulAngus opened #3339 "Duplicate tags cause DB constraint exceptions"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

##### STEPS TO REPRODUCE

Create a VM
Add a tag via UI (at bottom of the instance detail page) or via API
Add a 2nd tag with THE SAME **Key** value

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]
[code]

[2019-05-20 15:01] pbankonier commented on #3332
@nathanejohnson The problem is from line 2371 in the ConfigurationManagerImpl.java. You changed the condition from 'isCustomizedIops != null' to 'Boolean.TRUE.equals(isCustomizedIops)' and removed the else case where minIops and maxIops gets set to null;
This changes the behavior in case isCustomizedIops is null. Now the minIops and maxIops values get set to 0 instead of null.

[2019-05-20 15:50] PaulAngus opened #3340 "ACS tries to delete a root disk in zone wide primary storage"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

vSphere with zone-wide storage
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Transferred from Jira :
https://issues.apache.org/jira/browse/CLOUDSTACK-9991

A VM is running and the disk is migrated from cluster to zone wide primary storage. The root disk for that VM is now seen in all

[2019-05-20 16:04] Doni7722 opened #3341 "Ability to add custom disk offer to data disk (created from multi-disk template)"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

With CS 4.11.2. we are able to create templates based on Multi-disks OVA file (see https://github.com/apache/cloudstack/pull/2146). If you launch a VM based on this template you need to specify a disk offer per disk you woul

[2019-05-20 18:50] nathanejohnson commented on #3332
@pbankonier the UI sends icsucomizediops=false every time it looks like.  if you look at the previous logic, it still sets miniops and maxiops to 0 in this case.

[2019-05-20 18:51] nathanejohnson commented on #3332
@svenvogel if you use cloudmonkey to create the service offering and omit the iscusomizediops flag, I believe it should do what you want it to.

[2019-05-20 19:31] ustcweizhou commented on #3334
@nvazquez could you please test fix in #3338  ?

[2019-05-20 20:10] svenvogel commented on #3332
@nathanejohnson we dont use really cloudmonkey. you mean logic was not changed?

@syed @mike-tutkowski can you take a look?

@pbankonier what do you think? why it worked before?

[2019-05-21 02:51] nathanejohnson commented on #3332
@svenvogel long-term we should make sure that this works from the UI.  in the short term, I believe a workaround for you might be to use cloudmonkey.  https://cwiki.apache.org/confluence/display/CLOUDSTACK/CloudStack+cloudmonkey+CLI

If you need help setting it up, please feel free to pop into the slack channel or the freenode irc channel.

[2019-05-21 09:30] NuxRo opened #3343 "listVirtualMachines does not show instances belonging to a project"
Relevant email thread https://lists.apache.org/thread.html/6aca3e7b99816eef127ce516e5ef93bddb7a60a53e72762d5af3c050@%3Cdev.cloudstack.apache.org%3E

As a user I have created a project and in it I created a few VMs. These VMs will not show up in "listVirtualMachines" unless the project is specified.

e.g.
[code]

[2019-05-21 09:33] NuxRo commented on #3343
ping @ustcweizhou @PaulAngus

[2019-05-21 16:09] PaulAngus commented on #3343
@ustcweizhou did you say that you guys are planning on changing this behaviour or just that you would also like to see it changed?

[2019-05-21 18:25] ustcweizhou commented on #3343
@PaulAngus We have some changes in 4.7.1 to list all project resources in default view. That's the default behavior in our fork. As you can see, it breaks the backwards compatibility.
We need to make more changes before creating a pull request to mainstream. I will look into it.

[2019-05-22 09:19] PaulAngus commented on #3343
ok, cool.  I'll assign this to you if you don't mind so 'people' can see that it's kinda 'in-hand'.

[2019-05-22 10:29] dudarra commented on #3138
Update on the VPN! We tried with Riverbed - Cloudstack! Riverbed with 3 tiers and Cloudstack with 2. Everything worked from the beginning...

`Cloudstack:
Status of IKE charon daemon (strongSwan 5.5.1, Linux 4.9.0-8-amd64, x86_64):
  uptime: 12 days, since May 09 14:24:31 2019
  malloc: sbrk 2797568, mmap 0, used 756512, free 2041056
  worker threads: 11 of 16 idle, 5/0/0/0 working, job queue: 0/0

[2019-05-22 13:02] andrijapanicsb commented on #3138
@dudarra - do I read this as "it works"?

[2019-05-22 13:27] DaanHoogland commented on #3339
I will create a fix to wrap the error message in a CloudRuntimeException , so it will be handled correctly in an error response.

[2019-05-22 18:47] rhtyd commented on #3343
@NuxRo known limitation, you've to pass projectid=-1 to list them all. This pattern exists for all list apis of various resources like routers, etc.

[2019-05-22 19:00] ustcweizhou commented on #3343
@rhtyd that's very nice. good to know it.
Can we add it cloudstack api document  ?
As far as I know, it exists for all commands extend BaseListProjectAndAccountResourcesCmd.java, right ?

[2019-05-23 05:50] #3202 closed

[2019-05-23 11:13] DaanHoogland commented on #3321
@svanharmelen did you try that workaround?

[2019-05-23 12:18] svanharmelen commented on #3321
Yes I did! And sorry for the late reply... But t doesn't seem to make a difference. I can do some more tests early next week (I hope).

[2019-05-23 12:20] DaanHoogland commented on #3321
np, I hope we get to a solution that serves both use cases.

[2019-05-23 14:32] dudarra commented on #3138
@andrijapanic yes!

[2019-05-23 14:43] rhtyd commented on #3138
As I see it, this is not a bug or issue.
@andrijapanic @DagSonsteboSB can you confirm this?

If this is not an issue can this be closed, or if needed be documented in the doc site?

[2019-05-23 16:14] nhayfield opened #3349 "Validation on Router Advertisement for Firewall Rules"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
Firewall Rules for VMs

[code]

[2019-05-23 16:19] andrijapanicsb commented on #3138
@rhtyd Not an issue - correct. It's a configuration thing to be aware of.

[2019-05-23 18:37] ustcweizhou commented on #3349
good. it is better to change valid range to 0-16

[2019-05-23 19:51] PaulAngus commented on #3169
Looks ok in master

![image](https://user-images.githubusercontent.com/4810220/58281731-bb763580-7d9b-11e9-9082-6194d4ba0e81.png)

[2019-05-23 22:12] onitake commented on #3138
From internal exchanges with @dudarra , I understand that there are a few technical limitations and peculiarities that VPN users should be aware of.
So, it may make sense to improve the documentation, API and/or UI related to VPN configuration.

In particular, the available cipher suites seem to be outdated and not in line with best cryptographic practices. MD5, SHA1? These hashing algorithms are

[2019-05-24 02:33] nvazquez commented on #3334
Thanks @ustcweizhou I'll test it

[2019-05-24 10:14] richardlawley opened #3352 "4.11.2 HA VRs with Second Public NIC do not get constant MAC"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

XenServer 6.5, Advanced Networking

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When an advanced network has multiple public interfaces, the second (and subsequent) interfaces do not have the same MAC address on both VRs.  This means that after a failover, connectivity with the IPs

[2019-05-24 10:15] DaanHoogland commented on #3349
The 15 probably was introduced for type 3. i agree that we should allow 16 (for type 9) but a proper implementation would validate based on type.

[2019-05-24 10:25] gentakojima commented on #2539
This problem still persists. Affects too the Spanish locale (es_ES)

[2019-05-24 10:27] richardlawley opened #3353 "4.11.2 HA VRs with Second Public NIC get different routes between Startup and Failover"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced Networking, HA VRs

##### OS / ENVIRONMENT

XenServer 6.5

##### SUMMARY

When a network has public IPs from multiple ranges and a VM has a Static NAT rule from the second IP range (different range from the Source NAT IP), the outbound IP changes when a VR fails over.  Thi

[2019-05-24 10:32] richardlawley commented on #3352
The additional public NICs do not seem to have a database entry - I was hoping to be able to adjust it as a short-term fix.

[2019-05-24 11:32] ustcweizhou commented on #3353
This is one of the issues that happen on network/vpc with public IPs in mutiple subnets.
We have seen many issues in this scenario from 4.7.  Some have already been fixed. Some issue still exist

[2019-05-24 12:06] richardlawley commented on #3353
These routes also get restored when a new static NAT association is made.

[2019-05-24 12:15] richardlawley commented on #3352
My workaround for now is to send garp messages when transitioning to master (037b1e9) but it would be better if the MAC address was constant, like for eth2.

[2019-05-24 12:18] andrijapanicsb opened #3354 "Upon VM removal, VM records not removed from /etc/hosts"
##### ISSUE TYPE

 * Bug Report
 * Improvement Request
 * Enhancement Request
 * Feature Idea
 * Documentation Report
 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

NA

##### OS / ENVIRONMENT

NA

##### SUMMARY

When VM is deleted and expunged, VM's record is not removed from /etc/hosts file and thus DNSmasq will continue to do DNS resolution for thi

[2019-05-24 16:39] andrijapanicsb commented on #3138
@onitake - since this is a community thing, I would suggest you get involved as much as possible, and therefore I suggest you:
- create a PR for updating documentation, as per the explanations above - it will be very valuable
- create a new Issues (improvement) with enough explanation on WHAT and WHY some ciphers should be changed.

I'll pay a beer in Zurich for whoever updates the docs :)

[2019-05-24 20:02] onitake commented on #3138
All right, fair enough.
'll compare the list of cipher suites that StrongSwan 5.5 supports versus the ones that the are configured in the CloudStack UI.
A PR may have to wait until I get more familiar with the code base.

[2019-05-24 20:48] andrijapanic commented on #3138
I believe that just documenting the current IKEv2 thing would be of great
value (PR to the doc repo - that is very simple)
For the ciphers change/addition - I guess just the issue would be enough,
so we can discuss what options make sense.

thx

On Fri, 24 May 2019 at 22:03, Gregor Riepl <notifications@github.com> wrote:

--

Andrija Panić

[2019-05-24 20:52] onitake commented on #3138
If I read this right, the UI presents the following cipher suites (according to https://github.com/apache/cloudstack/blob/4.11.2.0/ui/scripts/network.js#L5884-L6078 ):
* IKE.encryption, ESP.encryption
  * aes128
  * aes192
  * aes256
  * 3des
* IKE.hash, ESP.hash
  * sha1
  * sha256
  * sha384
  * sha512
  * md5
* IKE.DH, perfect.forward.secrecy
  * modp1536 (group 5)
  * modp2048 (group 14)
  * m

[2019-05-24 20:59] andrijapanicsb commented on #3138
That's correct, yes. Some old ones are kept for compatibility reasons I assume.

[2019-05-25 12:01] richardlawley opened #3357 "ScriptsVersion field in listRouters is not populated"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

##### SUMMARY

The documentation for listRouters shows a scriptsversion field in the response, and although the associated database field is populated, this field isn't populated in the API response.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RES

[2019-05-26 09:16] svanharmelen commented on #3321
@DaanHoogland I tested it again and I think I didn't test it correctly last time, as now it worked as expected when I updated the network offering to be persistent.

So the good thing is that I could now test all the changes and make sure the changes work. The bad thing is that if I release an updated provider using this code, people using 4.12.0.0 will still hit this error.

As workaround I can t

[2019-05-27 12:57] #3315 closed

[2019-05-27 13:32] rhtyd commented on #2842
Closing per https://github.com/apache/cloudstack/pull/2894

[2019-05-27 13:32] #2842 closed

[2019-05-27 13:34] rhtyd commented on #2864
Ignorable issue, this happens when you're trying to access infrastructure while you've selected a project. If you'd use infrastrcuture views without selecting a project but the main/default view you'll not see these errors.

[2019-05-27 13:34] #2864 closed

[2019-05-27 13:38] rhtyd commented on #2930
Hi @DennisKonrad I'm closing the issue as it could not reproduced. If you're able to consistently reproduce the error, please re-open the ticket with details and steps. Thanks.

[2019-05-27 13:38] #2930 closed

[2019-05-27 13:41] rhtyd commented on #3039
Carry on here: https://github.com/apache/cloudstack/pull/3126

[2019-05-27 13:41] #3039 closed

[2019-05-27 13:42] rhtyd commented on #3046
Closed because https://github.com/apache/cloudstack/pull/3213 is merged.

[2019-05-27 13:42] #3046 closed

[2019-05-27 13:44] rhtyd commented on #3051
Probably a non-issue, needs testing on latest master.

[2019-05-27 13:45] rhtyd commented on #3054
This was fixed in https://github.com/apache/cloudstack/pull/2108, closing based on this. @pdion891 kindly re-open if the global setting workaround is not acceptable.

[2019-05-27 13:45] #3054 closed

[2019-05-27 13:46] rhtyd commented on #3065
The direct download feature needs to be supported for ceph cc @nvazquez

[2019-05-27 13:49] rhtyd commented on #3074
Could not reproduce the error, please try with latest CentOS 7.6 x86_64. Note: we only support x86_64 arch, and I'm not sure if installation was attempted on a non-x86_64 system.
Kindly re-open with more details about the system, version etc. if you can reproduce the error.

[2019-05-27 13:49] #3074 closed

[2019-05-27 13:49] rhtyd commented on #3082
Addressed and replied, this is not a bug but a question that is better placed on the users ML. Closing on this remark, thanks.

[2019-05-27 13:49] #3082 closed

[2019-05-27 13:54] rhtyd commented on #3138
Please send a doc PR, thanks. https://github.com/apache/cloudstack-documentation

[2019-05-27 13:56] rhtyd commented on #3157
I do see 4.11.2.0 packages now, http://download.cloudstack.org/centos/6/4.11/
Closing

[2019-05-27 13:56] #3157 closed

[2019-05-27 13:57] rhtyd commented on #3175
It depends on your network requirements, not just the RAM you may need to increase the vCPUs for the router offering as well. Kindly discuss this over users ML http://cloudstack.apache.org/mailing-lists.html

[2019-05-27 13:57] #3175 closed

[2019-05-27 14:01] rhtyd commented on #3195
Is there an argument to say, these may be implemented purely in Java (if possible)? Currently, many of these scripts esp on KVM are forked via the cloudstack-agent and called.
For VR, I played with GRPC and I think it can be secured against the current CA-framework introduced in 4.11; here's a PoC: https://github.com/shapeblue/cloudstack/pull/44
I'll propose more details on dev@ once I can put tog

[2019-05-27 14:03] rhtyd commented on #3200
@MartinEmrich the command.properties way is deprecated now, you can use it but we don't maintain the command.properties file in the codebase now. Doc reference: http://docs.cloudstack.apache.org/projects/cloudstack-administration/en/4.9/accounts.html#using-dynamic-roles

[2019-05-27 14:03] #3200 closed

[2019-05-27 14:04] rhtyd commented on #3229
Handled here: https://github.com/apache/cloudstack/pull/3308

[2019-05-27 14:05] rhtyd commented on #3262
@hex-dec can you describe how you tested your env and which version of CloudStack was used?

[2019-05-27 14:06] nvazquez commented on #3065
@wido @rhtyd currently NFS is supported, needs to be extended for Ceph

[2019-05-27 14:07] rhtyd commented on #3274
Or you can use the Medium offering (1GiB RAM).

We may also introduce a new one such that:
Small: 512MiB
Medium: 1024MiB
Large: 2048MiB

[2019-05-27 14:08] rhtyd commented on #3277
Here's a VM based dev-test env toolkit you can try: https://github.com/rhtyd/monkeybox

I'm able to install marvin, the issue is env related.

[2019-05-27 14:08] #3277 closed

[2019-05-27 15:12] DaanHoogland commented on #3321
@svanharmelen, /me discussing a solution. will keep you informed.

[2019-05-27 16:35] richardlawley commented on #3157
There is indeed a package with the filename 4.11.2, but it does not contain the GA version of 4.11.2, it is RC5 instead.

[code]

[2019-05-27 16:50] rhtyd commented on #3157
Thanks for confirming @richardlawley - repositories are community/3rd party hosted and officially hosted by the project. This means you'll have to reach out to the repository maintainer to get it fixed. cc @wido - can you help fix the issue, thanks.

[2019-05-28 07:47] DennisKonrad commented on #2930
@rhtyd Yes.
I was not able to work on this for quite some time now. I think the issue is gone anyway since we fixed a lot of other things concerning multiple management servers. And at the time I'm either not seeing it or the problem is gone.

[2019-05-28 08:32] #2823 closed

[2019-05-28 08:46] DaanHoogland opened #3360 "details is an ambigue parameter name"
the parameter name 'details' can mean different things in different API calls. These should be aligned and/or renamed. see the discussion in #3331

##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[2019-05-28 09:41] pbankonier commented on #3332
@nathanejohnson @svenvogel @DennisKonrad I close this issue since we resolved it in the PR.

[2019-05-28 14:42] NuxRo commented on #3274
Can we make the small one 1GB, pretty please?
People expect viable offerings, I was also surprised and disappointed that cloud-init fails so badly with low RAM .. but it is what it is..