[2019-11-19 13:33] DaanHoogland commented on #3520
investigating this request/report I noticed that the diskoffering has a one to one relation with the service offering, basically meaning that it is one record and that different tags are a potential conflict. I am not completely clear on how this is intended but the proposed wont work, without data redesign and thus backwards compatibility problems.

[2019-11-19 14:10] DaanHoogland opened #3693 "cleanup test resources"
This is to clean-up tests that create resources and do not clean-up after themselves. The idea is that the entire test-suite should be able to be run in a production environment without harming or messing up. In smoke tests running in Trillian we found the following tests to leave stuff around (the checks fixed in scope of this pr are just for simulator):

- [X] test_accounts #3657 #4473
- [x] tes

[2019-11-19 15:13] DennisKonrad commented on #3179
@weizhouapache I'll setup a test environment to test the ovs part. It will take some days. I'll come back with feedback

[2019-11-20 14:43] PaulAngus commented on #3252
I believe that the issue is here:
https://github.com/apache/cloudstack/blob/master/ui/scripts/network.js#L6846-L6862

![image](https://user-images.githubusercontent.com/4810220/69247933-341b4a80-0ba3-11ea-9c6e-d46d1aa6f115.png)

Enumerating the protocols is introducting a space after '.protocol.', the label cannot then be resolved by the language files.

[code]

[2019-11-20 14:46] DaanHoogland commented on #3686
Indeed @weizhouapache This is an ommision in the UI. Not my prio now, but I will look when I have time.

[2019-11-20 17:44] PaulAngus opened #3697 "Name and Description fields of Projects in UI is too short"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

NA
##### OS / ENVIRONMENT

NA

##### SUMMARY

##### STEPS TO REPRODUCE

Text field is unnecessarily short causing truncation at worst
PC
![image](https://user-images.githubusercontent.com/4810220/69263316-f88d7a00-0bbc-11ea-8b3d-9c01132b7aa6.png)

MAC
![image](https://user-images.g

[2019-11-21 05:31] msinhore opened #3698 "If a zone has two public IPs range in different VLANs, ACS doesn't create a second northbound NIC if needed"
##### ISSUE TYPE
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
- 2 public IPs ranges configured in the same zone using different VLANs.

##### SUMMARY
ACS is configured with 2 public IPs ranges in different VLANs.
If a user creates a network (where the snat IP is from one of the public IP ranges) and request a new public IP address (ACS deliver from the another IP range), this secon

[2019-11-21 06:16] #3602 closed

[2019-11-21 08:28] borisstoyanov opened #3700 "update default user vm template to later version"
##### ISSUE TYPE

 * Improvement Request
 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Currently cloudstack uses CentOS 5.5 as default user VM template, can we update that to latest CentOS 7 or even 8 versions if possible?

[2019-11-21 10:14] DaanHoogland commented on #3625
9988c269b259b84c0b8436bad17f88dbc1d706e7 introduces a check and than returns false, instead of throwing ServerApiException. I suspect this is resulting in the session being dropped instead of the exception message getting to the user as error response.

[2019-11-21 10:25] DaanHoogland commented on #3625
encoutered 9a13227a78acb14d9fd4f9ad5246ce67396cef7a that fixes this.

[2019-11-21 13:59] PaulAngus opened #3702 "Cannot create a VM connected to 2 tiers of a VPC"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Attempting to create a VM with interfaces on two tiers of a VPC fails with the message 'Vm can't be a part of more than 1 VPC network'.  However, creating the VM with one interface on one tier and then adding an interface on the second tier su

[2019-11-22 08:41] cl-k-takahashi opened #3705 "ecdsa and ed25519 support for sshkeys"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### OS / ENVIRONMENT

OS independent

##### SUMMARY

According to `getPublicKeyFromKeyMaterial()@SSHKeysHelper.java`, CloudStack only supports rsa and dss ssh public keys. It is better to accept ecdsa and ed25519.
[code]

##### STEPS TO REPRODUCE

Registering ed25519 ssh public key to CloudS

[2019-11-22 09:28] DaanHoogland commented on #3625
@wido @rhtyd after analysing I think the session is invalidated to rigorously in the mentioned commits. Please consider:

1. if a valid user does a request they are not allowed, an error response must be given and the session maintained
2. if a user makes a request from a disallowed ip, the session must be aborted/invalidated
3. if an unauthenticated user makes a request the session should have no

[2019-11-22 09:31] andrijapanicsb commented on #3700
Not sure we have CentOS8 mapping/guest OS for all hypervisors - but sounds like a very valid proposition (that I had in my head last few days as well). Let me see if I have time to do something around that.

[2019-11-22 10:21] andrijapanicsb opened #3706 "Remove dhcp/dns configuration from VR, when VM is being DETACHED from a network"
As part of the additional cleanup discussed in https://github.com/apache/cloudstack/pull/3627,
we also need to remove all  DHCP/DNS config data (and the active lease) from VR when VM is being DETACHED from a network (any network)

Reason: we need to do the same dhcp/dns config cleanup (that we otherwise do only when VM is being expunged) when we detach network from a VM - since after VM is detache

[2019-11-22 12:07] rhtyd commented on #3625
@DaanHoogland okay here are my thoughts:
1 - looks valid, the handler of the call shoud check the API response for errors and only sign out when it's 401 (unauthorised) and not 404 etc. This I think has been handled in Primate where we direct to a 404 page instead of logging out the user here: https://github.com/apache/cloudstack-primate/blob/master/src/utils/request.js#L50
2 - agree, we would nee

[2019-11-22 12:08] anuragaw opened #3707 "When only one host is available and it is put in maintenance, all VMs on it are Stopped."
When host is put in maintenance, and it is the only host available, all VMs on it are shutdown. This seems intentional code implementation and needs change.

##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTU

[2019-11-22 14:20] onitake opened #3708 "Virtual router timezone always set to UTC instead of local timezone"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Local timezone: CET/CEST

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The Virtual Router has its timezone set to UTC implicitly. While this provides a sane default, it's not necessarily the best choice in every environment.

In particular, when debugging issues, the UTC ti

[2019-11-22 15:37] DennisKonrad commented on #3179
@weizhouapache Just writing a short feedback so you know where I'm at. At the moment it seems the redundant VPC does not deploy with your changes.

After deploying cloudstack management isn't able to connect to the agent running on the first VPC router. (The second one never get's started because the first one fails.) My guess is that the APIPA address is the culprit.

I will setup a systemvm with

[2019-11-22 16:10] DennisKonrad commented on #3179
@weizhouapache After a first look into the router I can say the APIPA is not the problem. There's something else wrong. I will have a look and come back to report

[2019-11-22 16:30] DaanHoogland commented on #3689
Add ldap account is meant for manual ldap accounts only and not for automatic import or auto synced accounts. I think the functional definition of its use needs to be reviewed if we really want this. It would mean we want to rely on LDAP but still want to maintain accounts in ACS. I can understand How you may want this but it does not seem a bug to me.

[2019-11-22 22:37] weizhouapache commented on #3179
@DennisKonrad it is still in progress. The issue you mentioned should be caused by the last commit.
It is difficult to test all scenarios. I will write some test scripts at first.

[2019-11-23 12:35] andrijapanicsb opened #3709 "Issue in GUI when adding instances"
##### ISSUE TYPE

 * Bug Report

When adding an instance via GUI, one of the screens is empty, issues in some JS (visible via browser developer tools)

Video here: https://screencast-o-matic.com/watch/cqX0lwUyZC

![image](https://user-images.githubusercontent.com/45762285/69478730-0d088700-0df6-11ea-923d-bfec2c188744.png)

[2019-11-24 20:48] andrijapanicsb opened #3711 "GUI show job never completing due to JS issues"
##### ISSUE TYPE

 * Bug Report

CloudStack 4.13 (probably also master?)

When i.e. creating a template from a root volume, the job completes fine, but the job results are not parsed properly in the GUI - and the circle is spinning indefinitely

![image](https://user-images.githubusercontent.com/45762285/69501301-08ca8f80-0f04-11ea-89db-2cb435ca566a.png)

[2019-11-25 07:51] borisstoyanov commented on #3700
is this being fixed in #3712 right?

[2019-11-25 07:58] DennisKonrad commented on #3179
@weizhouapache Ok, kindly give me a ping if there's something to test or help.

[2019-11-25 09:51] borisstoyanov opened #3714 "When setting the last host into maintenance in a cluster, all the VMs transition to STOPPED"
##### ISSUE TYPE

 * Bug Report
 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

This is not the best behaviour I believe, when  the last host from a cluster is set to maintenance all the vms are being stopped. This causes immediate downtime without any confirmation. At least the admin should be aske

[2019-11-25 09:52] borisstoyanov commented on #3714
looks like it's being reported already, closing this one.
#3707

[2019-11-25 09:52] #3714 closed

[2019-11-25 10:49] DaanHoogland opened #3716 "creating template from snapshot does not work from snapshot list"
If you go to STORAGE (main section menu on the left), then select VOLUMES from the dropdown list, select a particular volume, than see snapshots, then select a snaphost - then clicking on button WILL work fine and popup window is show as follows:
![image](https://user-images.githubusercontent.com/2486961/69534212-9dbba000-0f79-11ea-9650-647a76efae49.png)

But if you go to STORAGE (main section men

[2019-11-25 12:55] div8cn opened #3717 "Host HA is configre fail"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When the ha.tag tag in the global configuration is not the first tag in the host tag, the host will display HA Enabled=No

HOST HA will fail

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2019-11-25 14:15] andrijapanicsb commented on #3700
yep

[2019-11-25 15:22] MNettesheim commented on #3544
Hi Boris,
Isn't this about the OVF properties page, rather than the settings page.

[2019-11-25 15:23] andrijapanicsb commented on #3509
This happens with qemu-ev from the SIG repo.
That is the reason.

Needs to be fixed.

[2019-11-25 15:43] DaanHoogland commented on #3709
@andrijapanicsb is this broken on master?

[2019-11-25 21:08] andrijapanicsb commented on #3700
@borisstoyanov is using CentOS8 going to break any Marvin tests (Inside CentOS8 - ssh still works, and all  basic network utils available inside, including "old" ifconfig/route etc - I'm talking about #3712 ) -

[2019-11-25 21:25] andrijapanicsb commented on #3709
Good question... I could NOT briefly reproduce it - will update here, since I'm doing lots of testing these days...

[2019-11-26 08:07] borisstoyanov commented on #3544
Hi @MNettesheim,
It's about the settings at template and vm, but we're considering the ovf settings at #3690

[2019-11-26 08:38] weizhouapache commented on #3179
@DennisKonrad I have uploaded a commit to fix the regression issue.
https://github.com/ustcweizhou/cloudstack/commits/4.14.0-vpc-vr-issues
I am writing scripts for automation test.

[2019-11-26 09:51] DennisKonrad commented on #3179
@weizhouapache The first test looks promising. The issue with the agent is gone. Redundant routers are deploying fine now. Also it looks like the VRRP IP is on the right interface. The routers are negotiating BACKUP and Master.

I'll go on and test NAT and features. I'll report back when done.

[2019-11-26 10:55] RoMi1981 opened #3718 "The specified VM already has the maximum number of data disks (6) attached. Please specify another VM. **When VM never runned**"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME

[cloudstack/server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java](https://github.com/apache/cloudstack/blob/master/server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java)
[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Our Setup: KVM HV with primary Ceph storage and secondary NFS storage.

##### OS / ENVIRON

[2019-11-26 12:46] borisstoyanov opened #3719 "VMware: SystemVMs not cleared after forcing them to stop"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Occupy a host with a few VMs and make sure both system vms are there as well

[code]

![Screenshot 2019-11-21 at 13 41 26](https://user-images.githubusercontent.com/13551960/69634706-75a46d80-105b-11ea-963a-3d371a5df3e7.png)

notice how s-29,

[2019-11-26 16:03] DennisKonrad commented on #3179
@weizhouapache I tested multiple things that work fine (for redundant VPC offering):

- [x] NAT is working (one NAT ip)
- [x] Settings seem to go to both routers
- [x] Redundancy heals when one router dies
- [x] Failover of traffic works when one master dies
- [x] Adding multiple Guest Networks works

For things that do not work I have found:

At the moment it's only possible to deploy one VM in a

[2019-11-26 16:20] #3697 closed

[2019-11-26 16:21] rhtyd commented on #3697
Fixed in https://github.com/apache/cloudstack/pull/3703

[2019-11-26 21:56] svenvogel opened #3720 "VM stopped while Migration with Maintenance Mode (KVM)"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

KVM with QEMU 2.12 and libwirtd 5.0.0, i think other other versions are also affected because not always there is the problem.

##### SUMMARY

##### STEPS TO REPRODUCE

1. Set a Host in Maintenance Mode
2. VM Migration is started
2. If a VM cant migrate it w

[2019-11-26 21:57] svenvogel commented on #3720
@ustcweizhou do you have some idea how we can these part 3?

[2019-11-26 23:24] andrijapanicsb commented on #3720
I believe the biggest problem I saw was VM crashing due to qemu bugs/issue (i.e. recently saw this one “qemu-kvm general protection error in libtcmalloc.so.4.4.5”) – can’t speak for other issues, since I don’t recall having them with ACS 4.5/4.8 with Ubuntu 14.04 (qemu 2.0 initially, later upgraded to 2.5)

If not mistaken, there is indeed a behavior that if there is no enough capacities in the cl

[2019-11-27 08:39] weizhouapache commented on #3720
@svenvogel @andrijapanicsb

I think @andrijapanicsb 's suggestion is good.  Suppose we have a new parameter forceMaintenance in the command

(1) if there are vms running on the host.  if there is no any other server in Up status and Enabled state in the cluster
(1.1) if forceMaintenance  = true, stop all vms
(1.2) if forceMaintenance  = false, throw exception, host is put to ErrorInMaintenance or

[2019-11-27 08:41] weizhouapache commented on #3707
let's discuss all issues and solutions in #3720

[2019-11-27 08:46] weizhouapache commented on #3179
@DennisKonrad
thanks for feedback !

InsufficientServerCapacityException might be caused by two reasons
(1) capacity on the platform
(2) some issues when apply network rules in virtual routers. Can you see some Exception in the agent.log on the server where the VR is running ?

[2019-11-27 09:49] svenvogel commented on #3720
@ustcweizhou @andrijapanicsb i think this sounds good.

one question.

@ustcweizhou why we should stop and start them?

additional we encounter the following problem.

1. iso could not be mounted or storage pool on destination host, i dont know why this is a problem, manually mounting was no problem. maybe anyone has information about that?
2. if QEMU or Host Version version are different machine

[2019-11-27 10:03] DennisKonrad commented on #3179
@ustcweizhou You are completely right. There was a ressource issue i failed to see. With that gone multiple VMs deploy just fine.

I will start testing multiple public IPs and address ranges

[2019-11-27 10:17] andrijapanicsb opened #3722 "indirect.agent.lb.algorithm set to roundrobin cause SSVM/CPVM not to start"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

- Advanced zone configuration with 1 zone, 1 pod, 1 management hosts, 1 KVM hosts, Shared storage (NFS)
- “indirect.agent.lb.algorithm” set to “roundrobin”
- “host” value contains comma separated list of both management servers
- Issue Observed in env with XenServer 6.5sp1 but shou

[2019-11-27 10:42] andrijapanicsb commented on #3720
@weizhouapache that sounds OK to me - I assume you handle capacity issues on a per VM basis.

@svenvogel 2.2.1 - if VM can't be live migrated - then stop it and start on another host to avoid permanent downtime - makes sense perfectly (if forceMaint=true)

[2019-11-27 10:47] andrijapanicsb commented on #3720
CC @anuragaw since you were aware of the issue and want to review any code produced...

[2019-11-27 10:58] andrijapanicsb commented on #3720
CC @rhtyd @PaulAngus @nvazquez

[2019-11-27 11:00] weizhouapache commented on #3720
@svenvogel if vm cannot be migrated after 5 times, to continue with the maintenance (because forceMaintenance is true), we need to stop it and start it on another server. make sense ?

yes, it is one root cause of failed migration.

If hosts have different cpu model or qemu version, they should use custom cpu or cpu flags. It is not an issue in my point of view.

[2019-11-27 11:29] andrijapanicsb commented on #3720
Agree on that last point of QEMU or HOST versions - not an issue and has been like that forever (nor I think would be possible since that would change what the OS sees and might crash it).

[2019-11-27 12:41] DaanHoogland commented on #3581
@nvazquez Is this true if the agent happened to have been connected to the disabled MS or is this a generic fault, i.e. it never gets an update?

[2019-11-27 13:41] wqmeng commented on #3509
Hello,
I have reinstall many time with latest  cloudstack 4.13.0, and continue get this error when add the Host.
ERROR [kvm.resource.LibvirtConnection] (Agent-Handler-1:null) (logid:) Connection with libvirtd is broken: invalid connection pointer in virConnectGetVersion .

And the libvirtd works fine.
[code]
[code]

[2019-11-27 13:52] andrijapanicsb commented on #3509
But it still works, Agent I mean.

Can you try with ACS 4.11.2 and see if that error is also present (if you have time)?

[2019-11-27 13:54] weizhouapache commented on #3509
@wqmeng do you use qemu-kvm or qemu-kvm-ev ?

[2019-11-27 14:00] andrijapanicsb commented on #3509
qemu-kvm-ev 2.12.x (latest) is not working with 4.13 and master - SSVMs can not start - but user VMs can start fine.
I also couldn't make it work when downgraded to qemu-kvm-ev 2.10.x

[2019-11-27 14:27] wqmeng commented on #3509
@andrijapanicsb
It should be qemu-kvm,

[root@localhost ~]# qemu-img --version
qemu-img version 1.5.3, Copyright (c) 2004-2008 Fabrice Bellard
usage: qemu-img command [command options]

I install the latest CentOS 7.7, and before install cloudstack 4.13.0, I yum -y upgrade and upgrade all the system. And then install the cloudstack agent from yum after add the repo of http://download.cloudstack.or

[2019-11-27 15:07] andrijapanicsb commented on #3509
Actually... I had that identical error with qemu-kvm-ev - I think I created an issue yesterday here...

[2019-11-27 15:26] svenvogel commented on #3720
@andrijapanicsb @ustcweizhou yes make sense. Agree. now i understand it.

[2019-11-27 16:30] GabrielBrascher commented on #3720
@andrijapanicsb “_forceMaintenance_” is something that could help indeed; in some specific _corner cases_ it would be interesting to have such a workaround.

[2019-11-27 16:49] anuragaw commented on #3720
My 2 cents - adding forceMaintenance is really going to complicate code unnecessarily. Perhaps sticking to the general theory - `If Migrations cannot be completed and host cannot be put to maintenance safely, we put the host to ErrorInMaintenance state`. At the same time we log/throw exception for informing the admins.

Admins can put the VMs off or snapshot or whatever works best - then they can

[2019-11-27 18:37] DavidWMerrill commented on #3654
@msinhore Thanks for sharing. I've tested the work-around (simply modifying a single router in a test environment) in our 4.13 deployment, works well (previously configured site-to-site VPN still works and now one can remote-VPN).

[2019-11-27 22:03] weizhouapache commented on #3720
let's wait @anuragaw 's PR #3425 to be done.

[2019-11-28 08:50] weizhouapache commented on #3179
@DennisKonrad
vpc looks good now. However I found an issue with isolated networks (rvr or non-rvr both)

[2019-11-28 09:22] DaanHoogland commented on #3716
during the latest update of jquery the createTemplate functions for volumes and snapshots were unified into a shared function without fully abstracting out the entities 'volumes' and 'snapshots'
We can duplicate the function as a quick-fix or put effort into the abstraction. I am choosing the first as the current UI is to be phased out.
@andrijapanicsb @rhtyd @rafaelweingartner

[2019-11-28 09:26] andrijapanicsb commented on #3716
sounds good @DaanHoogland

I've also seen (probably NOT related, but to mention...) that when you register the template from URL, previously there was a spinning circle just until the template was added to the DB - then you can actually click on it and see it being downloaded etc. In current master when you register the template, the circle is spinning all the time, until the template is actually

[2019-11-28 09:57] DaanHoogland commented on #3716
actually @andrijapanicsb half an hour extra search gave me a location to add a conditional, testing is probably going to be more effort.
What you are saying seems a different location in the code. i'll keep it in mind. Did you create an issue for that already?

[2019-11-28 11:11] andrijapanicsb commented on #3716
No @DaanHoogland, I was lazy...

[2019-11-28 14:08] weizhouapache commented on #3179
@DennisKonrad
do you use the network offering created by following http://docs.cloudstack.apache.org/en/latest/plugins/ovs-plugin.html ?

[2019-11-28 14:27] DaanHoogland commented on #3252
Did a quick fix replacing spaces but only half fixed it:
<img width="936" alt="image" src="https://user-images.githubusercontent.com/2486961/69813960-90114f00-11f3-11ea-93b1-fa3784953372.png">

maybe the other half is in the actual label missing.

[2019-11-28 14:50] DaanHoogland commented on #3252
right i am; 'tcp.proxy' and 'tcp-proxy' are used interchangably. will create a PR to try and unify

[2019-11-28 15:01] wqmeng commented on #3509
I have also tried the cloudstack 4.14.0 in the github,  and still get this error.
[code]

Should this been configure by some port？Or set TLS or instead use TCP?

Do I miss something?

[2019-11-28 15:06] wqmeng commented on #3509
And in the server side, shows

[code]

But I setup the NIC manually in the agent side.
[code]
[code]

[2019-11-29 09:22] weizhouapache commented on #3683
@andrijapanicsb we have a fix for this issue
I will port it to 4.13 and create a pull request.

[2019-11-29 10:12] andrijapanicsb commented on #3683
thanks (as usual) @weizhouapache !

[2019-11-29 13:42] weizhouapache commented on #3683
@andrijapanicsb
I have created the pull request #3729
could you please test it when you have time ? thanks !

[2019-11-29 14:32] #3716 closed

[2019-12-02 08:48] DennisKonrad commented on #3179
@weizhouapache Hi, no we don't use the ovs plugin. We have OvS in place for the hypervisor bridges.

I'll resume testing today. I would like to test if maybe the make_redundant process offered for non-redundant VPC is working. Also I'll test if custom network offerings are posing problems

[2019-12-02 13:27] DennisKonrad commented on #3179
@weizhouapache The "make redundant" worked fine for me. I also looked if private gateways go to the right interface and as far as I can tell this looks good.

Can you tell me something about the issue with isolated networks so maybe I can replicate the error and give you some feedback?

[2019-12-02 15:08] DaanHoogland commented on #3596
the method
[code]
in UserVmManagerImpl is creating the command for the host and has a filter in case of ```storagePool.isManaged()```. It also needs filters for the cases of ```storagePool.isLocal()``` and ```ScopeType.ZONE.equals(storagePool.getScope())```. I will create a PR for the later in context of this ticket and see if the isLocal case can be cought in there as well.

[2019-12-03 03:20] div8cn opened #3734 "Log output improvement when cluster resources are insufficient"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

During deploy instance, if the CPU utilization rate of the cluster exceeds that of cluster.cpu.allocated.capacity.disabledthhreshold or cluster.memory.allocated.capacity.disabledthhreshold. Output in log

Cannot allocate cluster list [4] for vm creation since their allocated per

[2019-12-03 08:32] borisstoyanov commented on #3720
Guys are you sure you've seen this with QEMU 2.12 (assuming also that would be the QEMU-EV repo)?

In my testing on 3425 I cannot see this with 2.12 qemu-ev, but it's still reproducible with stock qemu-1.5.3

cc: @andrijapanicsb @svenvogel

[2019-12-03 08:35] borisstoyanov commented on #3707
This is different issue than #3720, this is about a STOP initiated from cloudstack intentionally.

[2019-12-03 08:51] andrijapanicsb commented on #3720
With qemu 2.12 you can't get systemVMs running - so I haven't tested, to be honest (tried briefly but gave up)

I have opened an ML thread on these crashes) - user reporting crashed on different versions of ACS and qemu - so a somewhat common thing as it seems.

[2019-12-03 08:58] andrijapanicsb commented on #3720
@svenvogel  - please re-explain the problem by changing the description of the issues. Stopped VMs and crashed VMs are 2 different things. Current behaviour might be to stop VMs when no free resources - but NOT crash them. And this behaviour (stopping VMs when no free resources) is @weizhouapache trying to address. Crashes are not related, afaik.

Crashes I've seen have nothing to do with that beh

[2019-12-03 09:16] weizhouapache commented on #3720
@svenvogel @andrijapanicsb
[code]
(1) has been tracked in #3707
(2) is changed in #3425 but not done.
(3) is fixed by #3727 and #3728. which caused crashed vm in host maintenance on our platforms.

[2019-12-03 09:16] div8cn opened #3735 "deleteTemplate performs forced deletion by default"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

When calling deleteTemplate via API, if no forced parameter is passed, forced=true or forced=false deletion is performed by default. This is inconsistent with the API DOCS display

http://cloudstack.apache.org/api/apidocs-4.13/apis/deleteTemplate.html

[2019-12-03 10:47] DaanHoogland commented on #3191
here are two different checksums:
1.     One for the file to be downloaded to compare against its origin
2.     One for checking internal copying
In the case of downloading a regular image these are the same, but when downloading some sort of archive, the archive will be unpacked on arrival and the result will not match the initial checksum. The checksum can not be updated as it may be used for a

[2019-12-04 09:04] progiss commented on #2583
Hello,
We have the same problem with version 4.13 and KVM hypervisors.
How can we solve this problem because we are trying to create offering services with 45 cores and it affects only 2 cores

[2019-12-04 10:01] DaanHoogland opened #3741 "power sync marks missing VMs as stopped"
Out of band migration can cause VMs to be stopped, that shouldn't be.

##### ISSUE TYPE

 * Bug Report
 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

any configuration that can do live migrations. ping interval can be important.

##### OS / ENVIRONMENT

##### SUMMARY

The issue in the title occurs when an out of band migration takes pla

[2019-12-04 11:10] borisstoyanov opened #3742 "migratewait does not seem to be honored in KVM"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

While observing the logs and running migrations noticed:
job: job-1843/job-1915 initiate migrate command at 2019-12-03 13:14:29,833

later on at 2019-12-03 13:14:54,097 it is being reported that the job is completed this is about 30 seconds.

[2019-12-04 14:11] svenvogel commented on #3179
@weizhouapache If you are ready is it possible to create an PR with the changes? 👍

[2019-12-04 15:30] weizhouapache commented on #3742
@borisstoyanov
I do not know how xenserver plugin handle the migration if times out.
in kvm,there are some other settings which can speed up the migration. see below

[code]

[2019-12-05 02:41] cl-k-takahashi opened #3744 "SSH.PublicKey in user_vm_details overrides public key set by resetSSHKeyForVirtualMachine API."
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When I call resetSSHKeyForVirtualMachine API, CloudStack updates vm metadata containing ssh public key. After, when I start the virtualmachine, it's overridden by the value of SSH.PublicKey in user_vm_details at `addPasswordAndUserdata()@Cloud

[2019-12-05 03:05] cl-k-takahashi commented on #3744
It seems to occur when the password management of the template is enabled and the public key is not RSA.

[2019-12-05 08:24] borisstoyanov commented on #3742
@weizhouapache it's not about speeding up or slowing down a migration, it's about setting up a timeout period, after which the migration needs to be gracefully put down.

[2019-12-05 08:51] weizhouapache commented on #3698
@msinhore
cloudstack will plug a new nic in virtual routers when the ip is in use.
For example, enable static nat, create load balancer rule or port forwarding rule.
If ip is Allocated but not in use, there is no nic for the ip/vlan in virtual routers.

This is not an issue I think.

[2019-12-05 09:00] weizhouapache commented on #3742
@borisstoyanov  I understand
on xenserver, a migration task can be cancelled.
on kvm, it seems difficult (stopping vm on destination host is the only way but not good idea).

[2019-12-05 09:13] weizhouapache commented on #3179
@svenvogel there are still some issues in my testing.
I will create a PR when everything is fully tested.

[2019-12-05 12:24] msinhore commented on #3698
@weizhouapache
When was added a new NIC, it was configured a static NAT too and looking inside the VR, the second NIC wasn't created. Considering this behavior, I presume it is a bug.

[2019-12-06 12:54] #3705 closed

[2019-12-06 12:56] #3744 closed

[2019-12-06 14:51] weizhouapache commented on #3179
@svenvogel @DennisKonrad
I push 3 new commits to the branch.

[2019-12-06 14:56] weizhouapache commented on #3670
There are many commits in master to fix issues with multiple public subnets for isolated network/vpc.
it would be better to upgrade to 4.13

[2019-12-06 14:59] weizhouapache commented on #3698
@msinhore
which hypervisor ?
isolated network or vpc ?
if kvm, linux bridge or openvswitch ?
is vm running ?

[2019-12-06 15:04] msinhore commented on #3698
@weizhouapache
- XenServer 7.2
- VPC
- with VMs running.

[2019-12-06 16:46] andrijapanicsb commented on #3670
I believe this problem was local to 4.9 and @PaulAngus had the idea to close it (there's no internal ticket), so I say this can be closed

[2019-12-07 07:29] meysamfarazmand opened #3749 "Calling scaleVirtualMachine fails due to incorrect power state examination."
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

vCenter 5.5
CloudStack 4.13 on CentOS 6

##### SUMMARY

Calling scaleVirtualMachine fails due to incorrect power state examination.

##### STEPS TO REPRODUCE

1- Shutdown VM.
2- Wait until shutdown has been completed.
3- Immediately downgrade VM with scaleVi

[2019-12-07 07:39] meysamfarazmand commented on #3749
In cloudstack 4.9.3 there is no issue with scaleVirtualMachine.
also an alternate way to scale down a VM is using changeServiceForVirtualMachine api call and it will end up without job failing because it checks VM state by calling getState() function instead of getPowerState().
in addition this bug has been appeared after this commit:
[https://github.com/apache/cloudstack/commit/ec66256149989db1dc

[2019-12-07 22:19] #3518 closed

[2019-12-08 09:18] #3586 closed

[2019-12-08 14:55] aleskxyz opened #3751 "Add iscsi as secondary storage"
It seems iscsi has better performance in comparison to NFS, specially in vmware environment.
So I think it will be a good idea to add support of iscsi to secondary storage.

[2019-12-08 18:07] svenvogel commented on #3751
@geekza1 that would be nice but i think implementation is not easy. since we use managed storage we would recommend it.

[2019-12-08 18:34] andrijapanicsb commented on #3554
Why closing this one @msinhore - this is, in my opinion, a bug - or at leasts an undocumented behaviour.

[2019-12-08 19:43] geekza1 commented on #3751
Could I know what is its name?
Is it compatible with vmware?
If it uses nfs to connect to vmware we may should have the same problem!

[2019-12-09 08:30] borisstoyanov opened #3752 "Domain settings not visible to domain admin"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

This looks it’s by design, but I’m sure there’s a good reason a domain admin to be able to edit settings.

(bobby) SBCM5> > update configuration domainid=0586ce1e-90e9-4e2b-9d2c-dc451b01033d name=ldap.provider value=somthign
🙈 Error:

[2019-12-09 08:35] borisstoyanov opened #3753 "When at sub domain level, click on add ldap account, admin is displayed with error saying LDAP is not configured for root domain"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Seems like a UI error that the form is set to list root domain instead of the sub level, which the admin is currently at
![4964377f-4140-4324-acef-1b93554aeb77](https://user-images.githubusercontent.com/13551960/70420117-9dd69800-1a6f-11ea-82c

[2019-12-09 08:37] DennisKonrad commented on #3179
@weizhouapache I'll build and test it for OvS today. Anything you want me to test?

[2019-12-09 16:54] jtapsl opened #3756 "dnsmasq log files are not compressed within virtual router"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced networking

##### OS / ENVIRONMENT

RHEL 7.x

##### SUMMARY

##### STEPS TO REPRODUCE

Create a virtual router. Wait for dnsmasq.log to exceed 10M and be rotated two or more times. The rotated log files are not compressed.

Contained within cloud-scripts.tgz on systemvm.is

[2019-12-09 17:41] jtapsl opened #3757 "Files in /var/cache/cloud/processed on virtual router are not cleaned up"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced networking

##### OS / ENVIRONMENT

RHEL 7.x

##### SUMMARY

We are running some tests that involve creating and deleting lots of instances using the API. Our virtual router ran out of inodes and had over 100,000 files in the /var/cache/cloud/processed directory. I can't f

[2019-12-10 08:32] wqmeng commented on #3509
Hi,

I think my problem is because by the management traffic is tagged with VLAN_ID, while currently cloudstack do not support management traffic with VLAN_ID, I see that in the Physical Network configuration,  select management, the Broadcast Domain Type can only be Native, it may not change to VLAN.

Maybe we can get the management traffic work with a VLAN tagged traffic?

When I change the mana

[2019-12-10 08:40] andrijapanicsb commented on #3509
That might be the problem, yes.

You can always tag the traffic via the bridge/physical interface itself, and then simply tell ACS to use untagged traffic, while specifying the correct "KVM Traffic Label" which should be the name of your bridge (i.e. cloudbr0 or whatever is the existing name of the bridge) -
_Explanation: when ACS is using "unttagged" traffic, it will simply stick any VNET interfa

[2019-12-10 12:00] weizhouapache commented on #3554
thanks @rhtyd .
what @rhtyd missed is that, if vm has last host_id specified, cloudstack will try to start vm on it at first.
for new vm, it will be deployed to the host as we expect.

[2019-12-10 12:03] weizhouapache commented on #3698
@msinhore
I cannot reproduce the issue on kvm (linux bridge or ovs)
it might be caused by some code in xenserver plugin.

It might be related to issue #3179
I have uploaded some commits to https://github.com/ustcweizhou/cloudstack/commits/4.14.0-vpc-vr-issues
not sure if it fixes your issue

[2019-12-10 12:07] weizhouapache commented on #3752
@borisstoyanov
I agree it would be better to allow domain admin to edit "some" domain settings, same as account on account settings.
We need to figure out that which settings are editable and which are not.
it requires some database changes.

[2019-12-12 05:04] cl-k-takahashi opened #3762 "[DB] cloud.host_pod_ref.description is not 1NF."
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

cloud.host_pod_ref.description may contain multiple tuples. This is not 1NF.
[code]
I propose using separate ip range table like this:
[code]

[2019-12-12 20:05] kovukono opened #3763 "Issue with hairpinning for port forwarding"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When we upgraded from 4.10 to 4.12, we noticed that hairpinning had started failing in VMs that were port-forwarded. We believe that we were able to track the change back to [this PR](https://github.com/apache/cloudstack/pull/2681), specifical

[2019-12-13 02:57] cl-k-takahashi commented on #3762
I'm working on this. I added new line to `spring-engine-schema-core-daos-context.xml` like below:
`<bean id="podIpRangeMapDaoImpl" class="com.cloud.dc.dao.PodIpRangeMapDaoImpl" />`
But `UnsatisfiedDependencyException` is raised during test. Any ideas?

[2019-12-13 08:32] DaanHoogland commented on #3753
the error is valid but the request should not be made for ROOT but for the "current" domain associated with the origin of the request.

[2019-12-17 07:32] borisstoyanov opened #3770 "UI: JOB does not complete when you create a template from snapshot"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

NA

##### OS / ENVIRONMENT

NA

##### SUMMARY

When creating a template from volume snapshot, the UI displays the job as still running but you can see that the template is in ready state.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code

[2019-12-17 08:17] DaanHoogland commented on #3770
I think this is a more generic issue where jobs finish but the notification drop-down still shows them as running. The completion event or message does not reliably come through, it seems. I have reproduced it with 4.1 and master, in the scenario of creating template from snapshot but not reliably, and i remember it happening on other longer going jobs as well, like starting or stopping networks a

[2019-12-17 10:18] bwsw commented on #3751
Why one needs that if one can use Ceph RBD or S3 (Minio) or even Gluster with minor hacks? I don't think block device is an easy way to use as a SS, because it's necessary to add certain kind of addressation inside (actual filesystem) and DLM.

[2019-12-19 09:30] DaanHoogland opened #3777 "lots of code in comment needs removing"
## Types of changes

- [ ] Breaking change (fix or feature that would cause existing functionality to change)
- [ ] New feature (non-breaking change which adds functionality)
- [ ] Bug fix (non-breaking change which fixes an issue)
- [ ] Enhancement (improves an existing feature and functionality)
- [x] Cleanup (Code refactoring and cleanup, that may add test cases)

##### COMPONENT NAME

[code]

[2019-12-20 09:38] andrijapanicsb opened #3779 "[VMware / PVLAN] Port groups seem never cleaned up on ESXi when networks are deleted and thus block reusing the same VLANs ("
* Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]
Explanation of the problem with the steps to reproduce it:

1. create a Shared network with i.e. VLAN 900, use it, delete it (spin a VM in the network, delete the VM, delete the network) - and the port group created on ESXi host stays (as it seems) forever and is never removed (at least not inside the time frame expected/

[2019-12-20 10:00] kioie commented on #3735
Hi @div8cn the apidocs just suggests that the parameter is not really required for the command to run.
Default action is forced=true.

[2019-12-20 10:11] kioie commented on #3692
Sounds like something I'd be willing to be a part of. Maybe you can share some of the things you'd like added to improve accessibility and overall experience

[2019-12-20 10:21] shindere commented on #3692
Thanks a lot for your interest!

Actually I think there's really a lot to do and I don't really know
where to start.

Just in case: will you come to FOSDEM? That may be a place for a real
meeting and then we can experiment together, that would be easier and
give you a good intuition of the problem, I think.

[2019-12-20 12:57] DaanHoogland commented on #3565
fixed by merge of 4.13 in master (#3781 )

[2019-12-20 13:44] kioie commented on #3757
What would trigger a cleanup and what would be the frequency?

[2019-12-20 13:51] kioie commented on #3692
Not sure if I'll be at FOSDEM, but we can always setup a call and come up with a list of things we can do,  then we can share with the community as a starting point.

[2019-12-20 15:43] #3093 closed

[2019-12-20 15:43] #3252 closed

[2019-12-20 15:43] #3596 closed

[2019-12-20 15:43] #3683 closed

[2019-12-20 15:43] #3702 closed

[2019-12-20 16:27] NuxRo opened #3783 "Create volume or template from snapshot is broken"
Hi,

I'm on 4.13 KVM + local storage, trying to create a volume or a template from a snapshot.
Cloudmonkey says:
[code]

management-server.log says:

[code]

[2019-12-20 19:59] shindere commented on #3692
EK (2019/12/20 05:51 -0800):

Sure, that's a good idea, thanks!

Perhaps let's see first whether you can make it to FOSDEM and fall back
to setting up a call if you can't?

[2019-12-23 10:15] DaanHoogland opened #3784 "systemVM stuck in starting state"
When a host running system VM's ( SSVM/ Console Proxy / VR ) undergoes a planned or un-planned reboot, after the reboot, the system VM's get stuck in "Starting" state and do not start up properly causing new VM deployment issues.
The behaviour was tested on version 4.13.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS

[2019-12-24 06:31] kioie commented on #3692
Sure thing. Thanks.

[2019-12-24 08:44] utchoang opened #3785 "The listProjectInvitations requests "keyword" parameter not to work."
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY
When calling listProjectInvitations, the requests "keyword" parameter seems not to work. I tried with different value and it always returns the same result. This is API DOCS
http://cloudstack.apache.org/api/apidocs-4.13/apis/listProjectInvitations.html

[2019-12-24 11:02] shwstppr commented on #3783
@NuxRo will it be possible for you to test the fix in the reference PR

[2019-12-26 13:36] andrijapanicsb commented on #3757
Good one.

[2019-12-26 13:37] andrijapanicsb commented on #3784
@DaanHoogland is this related to local storage, or in general?

[2019-12-26 13:41] andrijapanicsb commented on #3698
This works fine in 4.13 per my memory (from a few days ago). Can you test @msinhore ?

[2019-12-26 13:56] andrijapanicsb opened #3787 "Public/Guest IP address of Shared Network VR is not persistent when VR is destroyed/recreated"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Shared network with a running VR.

##### OS / ENVIRONMENT

NA

##### SUMMARY

When a Shared Network VR is manually destroyed and then created automatically again (when starting an existing/new VM) - the public IP of the VR will NOT be the one from the “placeholder” DB records but a

[2019-12-26 21:24] andrijapanicsb opened #3788 "dnsmasq.leases file is missing on the new VR after network restart"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

**PROBLEM:**
After the new VR is created as part of the network restart with cleanup, the new VR will have missing or empty "/var/lib/misc/dnsmasq.leases" file

This will cause that the VM after 15 days of running (50% from the currently hardcoded 30d lease duration) will try to renew it's DHCP lease b

[2019-12-27 12:41] shoaibjdev commented on #3509
It seems CloudStack agent module is still broken, have tried 4.11.x.x, 4.12.x.x and 4.13.x.x
It fails during addition of Host from the UI.

**OS**: RHEL 7.7 (Maipo)
**OS Repo:** rhel-7-server-rpms/7Server/x86_64
**qemu-kvm**: 1.5.3
**libvirt**: 4.5.0

Tried multiple times with clean Red Hat latest OS installation, subscribed and updated repos still fails at addition of Agent Host with errors below

[2019-12-27 18:22] andrijapanicsb commented on #3509
@shoaibjdev you need to post logs, but there is nothing broken per my experience in 4.11+ people are running huge installations. Perhaps it's some environmental issue - that message you shared "invalid connection pointer in virConnectGetVersion" I've seen as well, but my agents were working fine (can't advise why it's there)
Please post agent logs during the time of the setup (on pastebin.com or s

[2019-12-30 08:34] joschi36 opened #3789 "TCP load balancer ability to set custom connect/client/server timeout"
##### ISSUE TYPE

 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

* Virtual Routers
* VMware

##### SUMMARY

Our Problem is that the default TCP timeouts aren't working for some of our usecases.

###### First Idea
The idea is to add three custom timeout parameter to the `createLoadBalancer` method.
* `timeout connect`
* `timeout client`

[2019-12-30 11:45] shoaibjdev commented on #3509
@andrijapanicsb Please find the logs below
https://we.tl/t-wjmJjUQSQT

**NOTE**: I was not able to upload on pastebin or similar services due to size limitation. So i used wetransfer which retains the file upto 1 week

[2019-12-30 16:17] andrijapanicsb commented on #3509
@shoaibjdev you have added host with IP 192.168.0.20, but once your host was connecting to the mgmt server, it was connecting from 192.168.0.25 IP address ???

2019-12-30 14:28:47,100 DEBUG [o.a.c.c.p.RootCACustomTrustManager] (pool-7-thread-1:null) (logid:) Client/agent connection from ip=192.168.0.25 has been validated and trusted.
...
  Alternative Names:[[7, 192.168.0.20], [7, fe80:0:0:0:20c:2

[2019-12-30 16:17] andrijapanicsb commented on #3509
(and you've tested using ACS 4.13, not 4.12) - topic closed.

[2019-12-31 11:53] andrijapanicsb commented on #3631
CLosing since fixed in #3640

[2019-12-31 11:53] #3631 closed

[2019-12-31 11:57] andrijapanicsb commented on #2740
I don't think we'll have time for a proper fix - there is a broader discussion on PR #3609 , lot's of things need to change. I'm closing this one in favour ofthe newer PR #3609

[2019-12-31 11:57] #2740 closed

[2019-12-31 13:01] andrijapanicsb commented on #3628
@tarmof any update on this one, still an issue or should we close it?

[2019-12-31 15:26] tarmof commented on #3628
I do not have solution, I will try in January

Happy New Year!
BR
Tarmo

On Tue, Dec 31, 2019 at 3:01 PM Andrija Panic <notifications@github.com>
wrote:

[2020-01-02 09:21] DaanHoogland commented on #3784
@andrijapanicsb I'd have to test, i don't know.

[2020-01-02 11:37] wqmeng opened #3792 "Register iso template get "Stream closed" error. Can not register self build iso template."
##### ISSUE TYPE

 * Bug Report
##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

 Advanced networking

##### OS / ENVIRONMENT

CentOS 7.7

##### SUMMARY

I have create a iso base on the windows system iso setup image, the new iso file had build with VirtIO windows drive which added by DISM.exe command.
When I register the new virtio.iso template file to cloudsta

[2020-01-02 11:39] wqmeng commented on #3792
The virtio drive which I added to iso.
https://gist.github.com/wqmeng/7d24bd5e4d7d963b9dad4a4179cfed69

[2020-01-02 15:11] wqmeng commented on #3792
The iso file size is 3.1G.

[root@nfs2 ~]# wget http://xxx.com/iso/virtio/en_windows_server_2008_r2_with_sp1_vl_build_x64_dvd_617403_virtio.iso
--2020-01-02 03:02:59--  http://xxx.com/iso/virtio/en_windows_server_2008_r2_with_sp1_vl_build_x64_dvd_617403_virtio.iso
Resolving xxx.com (xxx.com)... xxx.65.26
Connecting to xxx.com (xxx.com)|xxx.65.26|:80... connected.
HTTP request sent, awaiting respon

[2020-01-03 09:55] NuxRo commented on #3783
Thanks @shwstppr, I'll try this ASAP.

[2020-01-03 10:51] DaanHoogland commented on #3590
merged on 4.13 branch. @GabrielBrascher @rhtyd please reopen if the fixes/reverts aren't good enough.

[2020-01-03 10:51] #3590 closed

[2020-01-03 13:05] DaanHoogland commented on #3706
merged in 4.13 and fwd-merged

[2020-01-03 13:05] #3706 closed

[2020-01-03 13:25] DaanHoogland commented on #3585
cherry-picked as 7e64945b8846d00c1d938084a83af3979b826cf1

[2020-01-03 13:25] #3585 closed

[2020-01-03 14:35] andrijapanicsb commented on #3593
is this one still valid @borisstoyanov @anuragaw ?

[2020-01-03 14:43] andrijapanicsb commented on #3116
Sounds like a quite bit of work, moving to 4.15 milestone

[2020-01-03 14:57] andrijapanicsb commented on #3341
I don't think we'll have time for this one, moving it to 4.15 milestone

[2020-01-03 15:04] andrijapanicsb commented on #3455
@rhtyd linking this one with #3601 if you feel we have the bandwidth, otherwise let's move this one for 4.15?

[2020-01-03 15:09] andrijapanicsb commented on #3065
Do we have some work in progress around improving direct downloads @nvazquez - I recall we discussed this at some point for various storage types (Ceph and SolidFire included)?

[2020-01-03 15:14] andrijapanicsb commented on #3426
related to #3601

[2020-01-03 15:16] andrijapanicsb commented on #3044
@ustcweizhou any update here, or should we move it to 4.15 milestone?

[2020-01-03 15:27] DaanHoogland commented on #3047
@nvazquez did #3374 solve this? (can we close this?)

[2020-01-03 15:29] DaanHoogland commented on #3068
looks like a feature so 4.14 and not 4.13.1,  @borisstoyanov @andrijapanicsb Can you have a slavic mob meeting about this one?

[2020-01-03 15:30] wido commented on #3047
No, this is not resolved and still on the todo.

It's on the internal todo of PCextreme as well.

[2020-01-03 15:36] DaanHoogland commented on #3110
@rhtyd can you expand on this? is it still an issue? what is the scenario and required outcome? should `scaleVirtualMachine` or `changeServiceForVirtualMachine` change?
I don't think we can expect @mike-tutkowski to work on it soon, so probably move a future milestone...

[2020-01-03 15:38] DaanHoogland commented on #3118
new features go on .0s

[2020-01-03 15:43] DaanHoogland commented on #3047
ok @wido will it make the next releases, you think?

[2020-01-03 15:45] DaanHoogland commented on #3443
should be fixed by 7e64945b8846d00c1d938084a83af3979b826cf1

[2020-01-03 15:45] #3443 closed

[2020-01-03 15:52] DaanHoogland commented on #3404
@rhtyd, i think this was implemented for vmware (i worked on it) is there a more generic solution envisioned?
if not this should go to a future milestone.

[2020-01-03 16:14] DaanHoogland commented on #3481
@borisstoyanov can you confirm that #3241 solved thois issue? does it need backporting?

[2020-01-03 16:20] DaanHoogland commented on #3156
removing the milestone as the mentioned PR is on a newer one and not being actively pursued.

[2020-01-03 16:31] DaanHoogland commented on #3179
there is a lot of text here. Do we have plans for 4.13 @weizhouapache @DennisKonrad @svenvogel ?

[2020-01-03 16:47] #3565 closed

[2020-01-03 17:08] #3625 closed

[2020-01-03 17:53] mike-tutkowski commented on #3110
@syed Would you be able to have someone from CloudOps take a look at this?

[2020-01-03 17:54] mike-tutkowski commented on #3110
@khos2ow Perhaps you can investigate this?

[2020-01-03 21:16] andrijapanicsb commented on #3583
@nvazquez did we do some in-house work on this one - what's the idea, going to be in 4.14 or shall I move this to 4.15 milestone?

[2020-01-03 21:18] andrijapanicsb commented on #3121
@shwstppr is this something you could pick up?

[2020-01-03 21:21] andrijapanicsb commented on #2996
@bdonnahue is this something you can pick up (havae you pinged folds on the mailin lists) - or should we move it to 4.15 milestone, or perhaps close completely (although it seems like a bug, I'm not sure if anyone uses GRE these days)?

[2020-01-03 21:25] andrijapanicsb commented on #3118
Moving to 4.15 milestone, since not critical and there is a workaround for edge case usage.

[2020-01-03 22:06] andrijapanicsb commented on #2797
Fixes for this issue are being done in PR #3292  - I'll close the issue here and let's continue the discussion in the PR.

[2020-01-03 22:06] #2797 closed

[2020-01-04 14:31] andrijapanicsb commented on #3709
Seems not present on master (any more) - closing.

[2020-01-04 14:31] #3709 closed

[2020-01-04 14:54] andrijapanicsb commented on #3698
I couldn't reproduce this on master:
ACS 4.14 (master)
XS 7.1

![image](https://user-images.githubusercontent.com/45762285/71767230-47dbff80-2f0a-11ea-8ba3-abfbb9f8f0dc.png)

![image](https://user-images.githubusercontent.com/45762285/71767210-2ed34e80-2f0a-11ea-9f34-e858f95834f8.png)

@msinhore let me know if it's possible to test master or 4.13 - otherwise, I would close this issue as not applic

[2020-01-04 15:01] andrijapanicsb commented on #3031
@rhtyd do we have time for this one - or should we move it to 4.15 milestone?

[2020-01-04 15:06] andrijapanicsb commented on #3262
ping @hex-dec - any update on this one?

[2020-01-05 14:35] DaanHoogland commented on #3031
@andrijapanicsb basic zones are being phased out in favour of shared networks (with security groups) So I think postponng means canceling in this case.

[2020-01-05 17:40] msinhore commented on #3698
@andrijapanicsb
I am closing this issue,  as you applied the needed tests and it isn't reproduced anymore.

[2020-01-05 17:40] #3698 closed

[2020-01-05 18:05] andrijapanicsb commented on #3031
whatever we decide, I'm fine with it.

[2020-01-06 02:48] bdonnahue commented on #2996
@andrijapanicsb IIRC no one on the list was familiar with the GRE component. I don't think the issue should be closed. Either the feature needs to be fixed or removed with documentation being updated. I don't think moving the milestone makes sense if no one plans to work on it. I have not yet had time to pick this up and do the research.

[2020-01-06 03:41] nvazquez commented on #3065
Yes @andrijapanicsb but the improvement will not include managed storage atm. This will need to be moved to the next release/milestone

[2020-01-06 07:35] andrijapanicsb commented on #2996
Are you saying to let it go, if it doesn't make into 4.14 @bdonnahue?

[2020-01-06 08:19] DaanHoogland commented on #3031
i think we can lower priority but not close yet. @rhtyd ?

[2020-01-06 08:37] wido commented on #3047
Not sure yet. We will try.

[2020-01-06 11:05] weizhouapache commented on #3179
@DaanHoogland what's the plan for 4.13.1 and 4.14 ?
sorry I came back from holiday today and missed some discussion.

[2020-01-06 13:21] weizhouapache commented on #3044
@andrijapanicsb  PR #3736 has been created for this issue.

[2020-01-07 08:16] DaanHoogland commented on #3741
merged in 4.13.1+

[2020-01-07 08:16] #3741 closed

[2020-01-07 12:45] NuxRo commented on #3783
@shwstppr Thanks for the patch, I build new RPM and upgraded cloudstack-management.
I can now create volumes and templates from snapshotid.

One note though, this works from cloudmonkey, but still not from the web UI. Any thoughts on why that might be?

[2020-01-07 13:05] #3667 closed

[2020-01-07 13:08] rhtyd commented on #3654
Debian 10 systemvmtemplate PR here: https://github.com/apache/cloudstack/pull/3797

[2020-01-07 16:08] bdonnahue commented on #2996
@andrijapanicsb I do not think this should be part of the 4.14 milestone. I also do not think the issue should be closed.

[2020-01-08 09:48] shwstppr commented on #3783
@NuxRo can you please share logs or screenshot of the error you are getting with web UI

[2020-01-08 11:58] NuxRo commented on #3783
Here's a log containing (among others, sorry for verbosity) the output when create volume from snapshot fails.
http://tmp.nux.ro/acsuifail.log

Nothing happens in the logs when I try to create a template from the snapshot, it's like the button has no action linked to it.

[2020-01-08 13:50] DaanHoogland commented on #3544
merged in 4.13 and master

[2020-01-08 13:50] #3544 closed

[2020-01-08 14:03] DaanHoogland commented on #3647
@borisstoyanov as no one else reported this, is this an incident or a consistent error?

Note: i saw no/missing schema-xxxtoyyy.sql files for the upgrade in any version branch

[2020-01-08 14:51] DaanHoogland commented on #3783
@NuxRo sounds like a known bug addressed in #3767/#3723. can you check? issue #3716

[2020-01-08 14:56] NuxRo commented on #3783
Definitely a case of #3716 for the template from snapshot issue, thanks.

[2020-01-08 16:17] weizhouapache commented on #3044
this issue is fixed via #3736

[2020-01-08 16:17] #3044 closed

[2020-01-08 16:27] DaanHoogland commented on #3783
@NuxRo, can you give @shwstppr a review on/spin of his patch?

[2020-01-09 04:23] shwstppr commented on #3121
@andrijapanicsb will try to have a look at it during weekend or next week

[2020-01-09 08:43] borisstoyanov commented on #3647
Since it does not have the proper name of systemvm-temaplate-[hypervisor]-4.11.3 in it, but just SystemVMTemplate-[hypervisor]. Cloudstack DB upgrade from 4.11.3 to 4.13 fails as it cannot find the 4.11.3 name. It's consistent

[2020-01-09 08:44] borisstoyanov commented on #3593
seems to be fixed but will close when PR is merged #3350

[2020-01-09 08:46] borisstoyanov commented on #3481
Looks like it was merged in 4.13.1 and it was a new feature of 4.13 as far as I remember.

[2020-01-09 10:33] anuragaw commented on #3593
I've fixed this as part of the PR #3350 and @borisstoyanov has verified. We can close this issue as the PR is open.

[2020-01-09 16:50] DaanHoogland commented on #3481
looks like all code is on 4.13 head as well, @borisstoyanov . can you confirm we can close this?

[2020-01-10 08:02] borisstoyanov commented on #3481
thanks @DaanHoogland

[2020-01-10 08:02] #3481 closed

[2020-01-10 10:33] DaanHoogland commented on #3593
@anuragaw I'll add a "Fixes" tag in the PR so this will auto close. but let's not close issues untill they are merged, because an abandoned/closed PR will hide the fact that the issue was there at all.

[2020-01-10 10:43] DaanHoogland commented on #2774
this fix has been in since 4.11. I am assuming this was not closed by mistake. we'll open anew if it turns out to be still present.

[2020-01-10 10:43] #2774 closed

[2020-01-10 11:32] andrijapanicsb commented on #2820
Still present in master - RAW templates don't work - can tested by downloading the raw image from here: http://staging.yadav.xyz/openvm/cloudstack/macchinina/x86_64/macchinina.img

[2020-01-10 15:06] DaanHoogland commented on #3029
@svenvogel @pbankonier @rhtyd @bwsw I'm moving this to 4.15 as there is no clear consent on how it should work in the ticket. please amend/escalate/push back

[2020-01-10 15:10] DaanHoogland commented on #3033
may have been fixed (accidentally?) in another PR. I tried a 4.13 environment and editting the display name of a project work as expected.

[2020-01-10 15:10] #3033 closed

[2020-01-10 15:14] DaanHoogland commented on #2735
@resmo @rhtyd @borisstoyanov removing this from the milestone as there is no activity on this for over a year. also there is no decision made on how it should work, other than the always favorit backwards compatible.

[2020-01-10 15:47] ravening opened #3801 "updateIpaddress api for free IP address throws DB exception"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OS doesnt matter. It can be either zones with securitygroup enabled or disabled

##### SUMMARY

Updating the free IP address in a network throws DB exception as accountid is -1

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL R

[2020-01-10 15:53] DaanHoogland commented on #3801
@ravening what are you updating? it seems you are not changing any fields in your update call.

[2020-01-10 16:09] ravening commented on #3801
@DaanHoogland Im trying to update the fordisplay field of the ip address. The api is failing while inserting record into event table

[code]

From logs

[code]

[2020-01-10 17:31] div8cn commented on #3792
We have the same problem in 4.11.3

[2020-01-11 09:51] shoaibjdev commented on #2996
**@andrijapanicsb** If GRE is not used widely, please advise what's the recommended SDN tunnel to be used with Open vSwitch for Advanced network on ACS. We managed to setup ACS 4.12 completely and VPCs are up, KVM VMs are also added and running but they are not assigned any IPs through OVS DHCP and appears like the tunnels are not being generated for the vm ports when using GRE.
We came across thi

[2020-01-11 09:54] shoaibjdev commented on #3509
**@andrijapanicsb** Thank you for the advise, in fact it was environmental issue with the switch, and have been corrected. We managed to setup ACS 4.12 and it works great.
This error should be ignored "invalid connection pointer in virConnectGetVersion", doesn't impact ACS setup.

[2020-01-12 14:42] svenvogel commented on #3179
@ustcweizhou Hi ... back from holiday. i dont know whats tested. there are things from your side they needs to be tested so that we come ready to a PR?

[2020-01-12 20:05] shoaibjdev opened #3802 "OVS Provider not visible under Network Service Providers for guest network"
##### ISSUE TYPE

 * **Bug Report** OVS Provider not visible under Network Service Providers for guest network

 * Improvement Request
 * Enhancement Request
 * Feature Idea
 * Documentation Report
 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

4.12
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

RHEL 7.6

##### SUMMARY

Create a Zone with Management + Storage network with

[2020-01-13 08:31] weizhouapache commented on #3802
@shoaibjdev
I have a setup with GRE. Ovs is enabled by default.

[code]

[2020-01-13 08:36] shoaibjdev commented on #3802
**@weizhouapache** I can confirm from database, it's there but if you verify from ACS UI, it's not in the list of Network Providers for the Zone's physical network.

Kindly share screenshot of UI  if it's visible on your end.

[2020-01-13 08:41] shoaibjdev commented on #3802
Also the reason I raised it as GRE doesn't seem to work, and as it doesn't appear under UI so I doubt if there is something broken.

If you have only 1 KVM node and it's the node where **Virtual Router** is running, then instances will get IP from the VNI specified during setup.
But if you add 2nd KVM node, no matter what you do, it will never get an IP from Virtual Router.
If now I migrate virtua

[2020-01-13 08:50] DaanHoogland commented on #3801
ah, your description didn't show the ` fordisplay=true` part. What I suspect is happening (you might want to check) is that the fordisplay is not propagated to the even and the event becomes a key violation. Maybe I'm off track, @ravening and maybe worth looking into though. ;)

[2020-01-13 09:03] weizhouapache commented on #3802
I confirm ovs is not visible in the list of network provider on UI.

[2020-01-13 09:33] weizhouapache commented on #3802
@shoaibjdev do you use default network offering or new offering created by following instruction http://docs.cloudstack.apache.org/projects/archived-cloudstack-getting-started/en/latest/networking/ovs-plugin.html#network-offerings ?

[2020-01-13 09:50] shoaibjdev commented on #3802
**@weizhouapache** - Really appreciate your help and assistance on this. We have created the custom offering and tried with it as well, but Virtual routers didn't came up. So we went with default network offering.

Would you be kind enough, to direct us in the right direction as per best practices in production what is in general is adopted by customers running ACS in production as of today?

Our

[2020-01-13 10:13] svenvogel commented on #3802
@shoaibjdev we use OVS. we dont got GRE run. maybe its broken. i dont know.

[2020-01-13 10:29] shoaibjdev commented on #3802
**@svenvogel** Thanks for the confirmation. Could you please advise how did you manage to handle to handle the traffic across hypervisor hosts, if not GRE?

[2020-01-13 10:52] weizhouapache commented on #3802
@shoaibjdev are there some error logs in /var/log/cloudstack/agent/ovstunnel.log similar as following ?

[code]

[2020-01-13 19:52] andrijapanicsb commented on #3455
We are not doing debian10 for this releases systemvm template so moving this to 4.15 milestone

[2020-01-13 19:56] andrijapanicsb commented on #3426
We are aiming to do debian 10 systemvm in 4.15

[2020-01-13 20:04] andrijapanicsb commented on #3195
guys, any update on this one? I don't see it coming to 4.14 due to a needed effort?

[2020-01-13 20:09] andrijapanicsb commented on #3588
Fixed by #3755

[2020-01-13 20:09] #3588 closed

[2020-01-13 20:14] andrijapanicsb commented on #3624
Moving this one to 4.15, I don't see it happening in 4.14 due to lack of time.

[2020-01-13 20:22] #3670 closed

[2020-01-13 20:24] andrijapanicsb commented on #3654
Based on the latest info I have, we don't have time for proper Debian10 systemVM template testing and have agreed to move it for 4.15 - thus this ticket is also moved.

What other noticed, "libc" package gets upgraded together with StrongSwan - so users should pay attention on possible risk (theoretically none, but...)

[2020-01-13 22:39] #3655 closed

[2020-01-13 22:55] andrijapanicsb commented on #3068
Not sure if we'll have the time for this one, moving to 4.15, unless @shwstppr or someone can pick it up

[2020-01-13 23:51] andrijapanicsb commented on #3788
The problem of VMs not being able to renew it’s IP address (that his issues casuses) is solved (in 4.13.1 / 4.14) by increasing the dhcp lease time to ~infinity (~98 years) - so currently running VMs will not try to renew the lease for < 50 years. This PR #3662

[2020-01-14 08:25] rhtyd opened #3810 "Provided IP during VM deployment may not work in UI"
When a VM is deployed by the UI wizard with a provided IP address, it seems to be not honoured and assigned to the VM. However, the same is honoured when explicitly passed to the API using cloudmonkey. The issue could be UI related.

##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

[2020-01-14 08:36] andrijapanicsb commented on #3810
Not an issue:

![image](https://user-images.githubusercontent.com/45762285/72327409-53b98580-36b1-11ea-8ffc-84e455f83f64.png)

[2020-01-14 08:36] #3810 closed

[2020-01-14 08:48] andrijapanicsb commented on #3810
Same on 4.13:

![image](https://user-images.githubusercontent.com/45762285/72328296-f8889280-36b2-11ea-8df8-67febca4c5f4.png)

[2020-01-14 08:56] rhtyd commented on #3195
Given the time it won't be possible to completely do it and test within 4.14, let's do it against 4.15.

[2020-01-14 08:59] rhtyd commented on #3426
Yes, let's aim to do this after 4.14 RC1 is cut.

[2020-01-14 09:03] wido commented on #3195
@GabrielBrascher Has done work on this and he can comment on how far he got.

[2020-01-14 09:07] wido commented on #3624
Work is in progress here. @GabrielBrascher has been writing a lot of code: https://github.com/PCextreme/cloudstack/commits/redfish-oob-driver

[2020-01-14 11:35] andrijapanicsb commented on #3646
@PaulAngus @rhtyd @weizhouapache @shwstppr can we progress this one for the 4.14 - I originally planned this one for 4.13.1 but I'm afraid it will not be fixed before the 4.14 -  so we want to avoid it being fixed in 4.13.1 and still broken in 4.14

[2020-01-15 10:38] #3593 closed

[2020-01-15 19:45] GabrielBrascher commented on #3195
@rhtyd @andrijapanicsb I am testing and re-working with this PR right now. However, considering the tight schedule, it might be better to keep such changes to the next release indeed.

[2020-01-15 20:15] andrijapanicsb commented on #3633
ping @anuragaw @DaanHoogland - hopefully, a quick one - still present in current master

[2020-01-16 14:39] andrijapanicsb opened #3815 "Rolling restart doesn't work for a single network of a VPC"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

NA, single Isolated net, Shared net, and single VPC with at least 1 network in the VPC

##### OS / ENVIRONMENT

NA

##### SUMMARY

When "network.rolling.restart" is set to "true - when restarting a Shared or a single (non-VPC) Isolated network (or a whole VPC) with "cleanup" - the

[2020-01-16 14:51] andrijapanicsb opened #3816 ""restart required : yes" is never set to "no" after network/VPC restart"
##### ISSUE TYPE

 * Improvement request
(perhaps a bug?)

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION/SUMMARY/ETC

When a network is showing as "Restart required: yes" in the GUI (field "restart_required"="1" in cloud.networks table) - there is no way to "fix" this (set it back to "no")

Confirmed by manually setting "1" in the DB for multiple Shared, non-V

[2020-01-16 14:58] DaanHoogland commented on #3159
don't think this is being addressed so moving to 4.15

[2020-01-16 15:05] DaanHoogland commented on #3032
have to install chrome, in safari the edit box appears after tinkering with the clumn widths. it doesn't feel natural.prbably some css wizardry to do?!

[2020-01-16 15:15] DaanHoogland commented on #3032
chrome is worse, when tinkering with the column widths the edit button doesn't appear and the value almost disappears as well.

[2020-01-16 15:24] DaanHoogland commented on #3364
as the real admin is the one and there an be only one, i would expect this behaviour. No idea if this is true but i wouldn't expect a second 'local' root user to see all networks in the UI either. (#testingneeded)

[2020-01-16 15:25] DaanHoogland commented on #3408
@andrijapanicsb would this be part of the garbage collection epic?

[2020-01-16 15:45] andrijapanicsb commented on #3408
not related afaik... but a valid one.

[2020-01-16 15:47] andrijapanicsb commented on #3364
root admin is a root admin, irrelevant how he was authenticated (IMO) - so both root admins should see everything...

[2020-01-16 20:31] DaanHoogland commented on #3364
should, maybe, not going into that. works that way is my question, i.e. is this behaviour ldap specific? sounds a bit weird knowing the implementation but worth finding out.

[2020-01-17 06:15] PPisz commented on #3364
This is the specifics of CloudStack UI, not ldap. We tested it on an external CloudStack-UI and everything works as expected (via API). Unfortunately, CloudStack-UI is intended for ordinary users, not for administrators. Primate is not ready for production use. Please fix this error :-)

[2020-01-17 08:42] prashant2594 opened #3817 "cloudstack 4.13v unable to start management server"
@rhtyd
@wido

##### ISSUE TYPE

 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

cloudstack 4.13v , hypervisor : KVM

##### OS / ENVIRONMENT

centos7

##### SUMMARY

I'm trying to setup cloudstack 4.13v, till two days back everything was working fine, but from last night,, when I formatted and re-tried to install cloudstack management  using the cmd :

[2020-01-17 13:19] svenvogel commented on #3179
@weizhouapache ping 😄

[2020-01-17 14:11] DaanHoogland commented on #3364
the js isAdmin() only returns true for admin never for another root-admin. please amend if you feel this should change @PPisz .

[2020-01-17 15:13] wido commented on #3817
Seems like you are missing a generic Python dependency:

<pre>dns.resolver</pre>

<pre>
wido@wido-laptop:~$ python
Python 2.7.17 (default, Nov  7 2019, 10:07:09)
[GCC 7.4.0] on linux2
Type "help", "copyright", "credits" or "license" for more information.

wido@wido-laptop:~$
</pre>

You need to fix that.

[2020-01-17 15:41] somejfn opened #3820 "All agents goes into Alert state if more then 50 KVM hosts in zone on every time MS restarts"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
[code]

##### STEPS TO REPRODUCE
[code]

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS

[code]

Thoughts  ?

[code]

[2020-01-17 16:17] weizhouapache commented on #3820
@somejfn do you restart cloudstack-agent on a server, wait until it is done, then continue on next server ? or restart cloudstack-agent in backend without waiting for the result ?

[2020-01-17 16:21] somejfn commented on #3820
The agent restart were triggered using a loop over ssh call "systemctl restart cloudstack-agent"....  so they are restarted one by one at a few seconds interval.

[2020-01-17 16:39] weizhouapache commented on #3820
@somejfn we had similar issue when restart cloudstack-agent in backend, but do not have issue when we change to restart cloudstack-agent one by one (we use NFS).
this issue seems to be difficult to be reproduced.
my suggestion is, adding "sleep X" behind "systemctl restart cloudstack-agent".

[2020-01-17 16:56] somejfn commented on #3820
Since I don't have that issue on 4.11.2 with 225 KVM hosts (but also with NFS primary storage), I still think there is either a regression in 4.11.3 or there's something with the fact the KVMInvestigator is not used in the context only managed storage is used.

Looking at the load on the controller... it is CPU idle 99% after the restarts so some contention or bug is happening in MS

[2020-01-18 09:28] weizhouapache commented on #3820
@somejfn this seems to be different from our issue.

ps: you can get more debugging logs in agent.log by changing log level from INFO to DEBUG in /etc/cloudstack/agent/log4j-cloud.xml

[2020-01-18 09:30] weizhouapache commented on #3179
@svenvogel I will create a PR next week.
I did not fully test it. Hope it will be good :-D

[2020-01-18 12:51] svenvogel commented on #3179
@weizhouapache i think so 😁 we will test it again its maybe easier but what i saw was very good!

[2020-01-20 06:52] PPisz commented on #3364
Yes, it should be changed. jsAdmin should return true for all root admins.

[2020-01-20 08:29] DennisKonrad commented on #3179
@weizhouapache Hi, sorry for the long delay. The last time I tested this I couldn't find any problems. The two setups I tested (KVM with Linux Bridge and KVM with OVS) looked very good

[2020-01-20 10:06] bwsw opened #3823 "New Feature: KVM Agent Hooks"
##### ISSUE TYPE

 * Feature Idea

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

Allow Agent to launch external program to mangle XML before VM launch. Workflow like

1. agent builds initial XML
2. if external transformer script is provided, agent passes XML to transform it.
3. agent receives back transformed XML
4. agent launches XML

Purpose:
- pass raw devices l

[2020-01-20 11:55] PaulAngus commented on #3823
Hi @bwsw  - I believe this is what you're looking for:
https://github.com/apache/cloudstack/pull/3510

[2020-01-20 12:51] svenvogel opened #3824 "clarify the usage of vlanipranges"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

i dont know if its a bug but we encounter the following problem.

if you create a physical network and and add 2 vlanipranges aka public addresses.

e.g.

first network (ROOT)
we have one network range "forsystemvms: true" and its assigned to

[2020-01-20 14:24] svenvogel commented on #3824
@andrijapanicsb do you have an idea?

[2020-01-20 15:31] andrijapanicsb commented on #3824
Sounds like a bug to me (haven't reproduced). If you had another range for general usage (i.e. not assigned to any specific domain), then I would expect to start using those IPs,  but definitely not the ones which is reserved for system VMs.

[2020-01-21 08:53] svenvogel commented on #3824
@andrijapanicsb ok. hmm bad.

@weizhouapache do you know about the problem, maybe in your environment?

[2020-01-21 08:56] bwsw commented on #3823
@PaulAngus thanks for reply, but it's not what I mean. I really cry about this PR - it's huge pain for cloud admins of public cloud... It introduces user-driven VM alternations and very bad for troubleshooting.

I'm speaking about provider-driven XML alternation based on some kind of dynamic logic when VM is launched. E.g. when VM of SO_X is launched it searches for a spare GPU on host and it's in

[2020-01-21 15:08] DaanHoogland commented on #3179
@DennisKonrad i read in your text above we can close this?

[2020-01-21 15:25] DennisKonrad commented on #3179
@DaanHoogland I would like to wait for the PR of wei to be tested and merged. If the community accepts it then we can close the issue.

[2020-01-21 17:59] Slair1 opened #3826 "Unsafe Field Accessor with newer mysql-connector-java package"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS7

##### SUMMARY

Looks like the new version (8.0.x) is stricter with conversions from Long to BigIntfor example.  Auto Increment fields in the database are of type BigInt, but in code we are using Long.  This generates the errors similar to the follow

[2020-01-21 18:28] Slair1 commented on #3826
Not sure if the correct fix is to update the code to use something more compatible with BigInt or not...  But here is a band-aid, here is what our `mysql-community-connectors.repo` looks like now:

[code]

[2020-01-21 18:39] andrijapanicsb commented on #3826
The alternative (what we are using in Trillian) is to use mysql-connector-java from the Base CentOS 7 repo (still version 5.x) and mysql-connector-python from the Epel repo (an ancient version 1.1.6 verrsion) - i.e. forget/remove the repo.mysql.com repo.

[2020-01-21 18:44] Slair1 commented on #3826
We tried 8.0.16 through 8.0.19 and it had the same error.

For some reason when we try 8.0.11 through 8.0.15, we have some other issue (shown below) but did not have time to troubleshoot that.

"Failed to load DB driver com.mysql.jdbc.Driver"

[2020-01-21 19:43] Ionica commented on #3826
I had the same issue after update our CentOS 7 OS. Please see all the details for reproducing the issue here: https://lists.apache.org/thread.html/r8413e39ac991dd7f65a30f691e520c48c1c9c496fd9b5a1badbfbbea%40%3Cusers.cloudstack.apache.org%3E

[2020-01-21 20:09] weizhouapache commented on #3824
@svenvogel do you mean the ip ranges for systemvms should not be used by other domain/account ?

We do not dedicate vlan and ip ranges for systemvms.

In old versions, if other account has used all dedicated ips (to domain or account) , and use.system.public.ips is true in account setting, IPs in public pool will be fetched when he acquires more IPs.

[2020-01-21 21:40] weizhouapache opened #3827 "UI: cannot assign VMs in Internal LB in VPC"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
UI

##### CLOUDSTACK VERSION
4.14

##### CONFIGURATION

Advanced zone

##### OS / ENVIRONMENT

##### SUMMARY

cannot assign VMs in Internal LB in VPC
##### STEPS TO REPRODUCE
create a VPC
create a VPC tier with Internal LB
create a vm in the VPC tier
create a internal lb in the vpc tier
click the "Assign VMs" tab in detail page of internal lb
ch

[2020-01-22 02:55] #3785 closed

[2020-01-22 06:05] rhtyd commented on #3826
@Slair1 cc @andrijapanicsb @DaanHoogland @PaulAngus this has been fixed in the JDK11 branch that will include mysql-connector java dependency (no distro provided dependency needed now) and fixes the Long conversion issue:
https://github.com/apache/cloudstack/pull/3601

[2020-01-22 10:12] svenvogel commented on #3824
@weizhouapache yes i think so. for my understanding it should not use the systemvm ips in the other domain public ip assignment. i detected if DOMAINX is out of addresses it uses the ROOT ips which are only for systemvm. i think this should not happen.

[2020-01-22 13:10] weizhouapache commented on #3824
@svenvogel agrees. so what you said should be a bug

[2020-01-22 19:19] richardlawley opened #3829 "Unable to schedule async job - dangling vm_work_job rows"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

AsyncJobManager contains code to expunge async job records after a configurable time (24h default).  Some async jobs have corresponding vm_work_job entries, which are created using the generated key of async_job.  The expunge code on

[2020-01-23 03:07] donnydavis commented on #3179
This is still an issue for me. Non redundant routers work fine, redundant routers do not.

[2020-01-23 05:39] #3817 closed

[2020-01-23 06:16] prashant2594 opened #3830 "Cloudstack 4.13 HA Issue"
@rhtyd
@wido
##### ISSUE TYPE

 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Centos 7

##### SUMMARY

- I've installed coludstack 4.13 on ceph OSD nodes, and also added ceph as primary storage in cloudstack as RBD pool. Till here it works smoothly.

- Problem starts in HA phase, when I test HA, it fails.

- VM doesn't migrate

[2020-01-23 08:10] wido commented on #3830
This is expected and you need to configure Host Out of Band through IPMI to make this work.

Without IPMI there is no way a Hypervisor can be fenced of safely and thus allowing for a safe start of the VMs somewhere else.

[2020-01-23 08:23] prashant2594 commented on #3830
I've configured Out of Band Management as well, pardon me as i forgot to mention about Out of Band Management. @wido
But HA works fine with NFS storage,
![Screenshot from 2020-01-23 13-50-48](https://user-images.githubusercontent.com/44703864/72967518-8701c000-3de7-11ea-8cb1-da7a65397c8c.png)

[2020-01-23 09:25] rhtyd opened #3831 "The metrics view API response is not super-set of resources response keys"
The API responses for metrics views APIs, such as listZonesMetrics don't have all the same keys in the API response as the listZones. If this gets fixed in 4.14, Primate can leverage one API to do both metrics and resource view listings. Would be great if this is fixed in 4.13.1.0/4.14.0.0 milestone.

Illustration, output of listZonesMetrics:
[code]

Output of listZones:
[code]

The `networktype`

[2020-01-23 09:30] rhtyd commented on #3831
This must be a quick issue/fix somewhere, have asked @Pearl1594 to have a look. cc @andrijapanicsb @DaanHoogland

[2020-01-23 13:20] DaanHoogland commented on #3827
did you confirm this against 4.13,yet @weizhouapache ?

[2020-01-23 14:02] weizhouapache commented on #3827
@DaanHoogland I will double check

[2020-01-23 14:33] weizhouapache commented on #3827
@DaanHoogland I tested on 4.14

If I revert commit 2e2b6700a5a17aed2a97577c8bcec9941c30112d (#3161), it works.

[2020-01-24 08:41] weizhouapache commented on #3827
@DaanHoogland @pbankonier
I have created a PR #3832 for this issue. Please review.

[2020-01-24 08:56] rhtyd opened #3833 "Listing management server by ID fails API"
Listing a management server by ID (uuid) fails:
[code]

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

[2020-01-24 09:04] rhtyd commented on #3833
Asked @davidjumani to have a look at it.

[2020-01-24 10:17] DaanHoogland commented on #3787
merged 4.13 and master

[2020-01-24 10:17] #3787 closed

[2020-01-24 13:52] pdion891 commented on #3826
validated on CentOS 7  for cloudstack 4.10 and 4.12,

[code]

Rollback to mysql-connector-java-5.1.47 worked fine.

[2020-01-25 07:25] bwsw opened #3837 "CS 4.11.2 SSVM MTU is not respected"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY

CS Global Vars have:
`secstorage.vm.mtu.size 9000`

SSVM has:
[code]

##### EXPECTED RESULTS

[code]

Management server log shows that the parameter is transferred to the agent:

[code]

##### ACTUAL RESULTS

[code]

[2020-01-26 03:37] bwsw opened #3838 "CS 4.11.2+ SSVM bug when scanning templates"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Several months ago I found that SSVM occasionally loses all the templates (we have a lot of them) causing massive redownloading which takes a lot of time. Today I started the investigation and found following logs on SSVM (DEBUG enabled):

[2020-01-26 05:00] bwsw commented on #3838
I implemented a workaround in:

`/usr/local/cloud/systemvm/scripts/storage/secondary/listvmtmplt.sh`

[code]

and build the cache manually on the SSVM from outside (on the storage with the same script in CRON). So, looks like when `listvmtmplt.sh` is run for a long it's killed...

[2020-01-26 05:02] bwsw commented on #3838
Also, I suppose some kind of caching is a good way to go, it helps to decrease SSVM boot time and makes templates available ASAP.

[2020-01-27 01:44] bwsw commented on #3838
I found how the bug can be traced:

1st: let's look at [execute](https://github.com/apache/cloudstack/blob/master/utils/src/main/java/com/cloud/utils/script/Script.java#L210) which launches template lister.

It first launches process and next launches executor task which gathers output with a timeout.

2nd: let's look at [TimedOutLogger](https://github.com/apache/cloudstack/blob/master/utils/src/m

[2020-01-27 08:21] weizhouapache commented on #3838
@bwsw I have read what you found. Do you have other logs to prove it ?
for example, StartupCommand/StartupSecondaryStorageCommand  or listvmtmplt.sh in /var/log/cloud.log ? timestamp is very important for troubleshooting.

When agent in ssvm is stopped, it sent a ListTemplateAnswer with empty templates to management server, it is root cause why templates are redownloaded.  We have a change move vo

[2020-01-27 08:39] bwsw commented on #3838
@weizhouapache As I fixed (workaround) the problem yesterday, I don't have a chance to debug it any longer. But I suppose that If you are able to add `sleep 60` in front of `listvmtmplt.sh` before it returns anything, you will get the result I have.

[2020-01-27 15:43] weizhouapache commented on #3838
@bwsw I am able to reproduce the issue

steps below
1. add "sleep 60" in /usr/local/cloud/systemvm/scripts/storage/secondary/listvmtmplt.sh, for example
[code]

2. change log level in SSVM
[code]

3. restart cloud service in SSVM, by "systemctl restart cloud", and monitor /var/log/cloud.log

4. When you see the following logs (sleep 60),restart cloud service again.
[code]

5. you will see the logs

[2020-01-27 15:46] weizhouapache commented on #3838
@bwsw

my proposal is
[code]

I got the following errors in /var/log/cloud.log, which looks ok (there is not ListTemplatesAnswer sent to mgt server).
[code]

[2020-01-27 15:49] CobbyJ commented on #3817
Getting the exact same issues. followed the install exactly - why cant it just work?

[2020-01-27 15:52] CobbyJ opened #3841 "Management Server"
Followed the exact install on the latest CentOS 7 fresh install and when i run "cloudstack-setup-management" i get the following errors

`[root@cloudstack dnspython]# cloudstack-setup-management
Traceback (most recent call last):
  File "/usr/bin/cloudstack-setup-management", line 24, in <module>
    from cloudutils.serviceConfigServer import cloudManagementConfig
  File "/usr/lib64/python2.7/site

[2020-01-27 16:18] weizhouapache commented on #3817
@CobbyJ workaround
[code]

[2020-01-27 16:22] CobbyJ commented on #3841
Got it working by these commands

curl "https://bootstrap.pypa.io/get-pip.py" -o "get-pip.py"
python get-pip.py
pip install dnspython

Then run

cloudstack-setup-management

[2020-01-27 16:22] crestrepo121 opened #3842 "Rolling back the transaction: Time = 12 Name - Unexpected exception Problem with getting the ec attribute"
##### ISSUE TYPE

 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

We have had a stable CloudStack operating for over 18 months. Unfortunately after a loss of power we cannot restart the CS Managers properly.

We have multiple copies of the configuration DB and we believe that none of those is corrupt.

Our initia

[2020-01-27 16:24] CobbyJ opened #3843 "HTTP ERROR 503 - Service Unavailable"
More and more issues.... not a very good experience so far of even getting the management server working.

It is set to the correct IP in the properties but and started the service and so on but still getting this error

HTTP ERROR 503

Problem accessing /client/. Reason:

    Service Unavailable

[2020-01-27 16:40] weizhouapache commented on #3843
@CobbyJ cloudstack version ?

[2020-01-27 16:50] CobbyJ commented on #3843
Latest 4.13 also tried previous versions.

[2020-01-27 20:26] weizhouapache commented on #3843
@CobbyJ any errors in /var/log/cloudstack/management/management-server.log ?

grep -i -E 'error|exception' /var/log/cloudstack/management/management-server.log

[2020-01-27 20:29] weizhouapache commented on #3179
@DennisKonrad @svenvogel @DaanHoogland
I am testing my changes. If everything goes fine I will create pr tomorrow.

[2020-01-27 20:52] #3842 closed

[2020-01-27 20:54] crestrepo121 commented on #3842
We were able to solve this situation - not related to CloudStack which continues to work fine for us.

Situation was related to the way we were importing the Database after restoring our CS Managers.

Thank you

[2020-01-27 21:35] svenvogel commented on #3179
@weizhouapache that sounds great. Big thanks! 👍

[2020-01-28 02:40] bwsw commented on #3838
@weizhouapache It loooks like another sort of workaround! I don't get why it's better. Instead of fixing bug, we try to handle script exit code outside. But exit code can be produced by:
1. wrong script behaviour (your proposal is OK)
2. by [process.destroy()](https://github.com/apache/cloudstack/blob/master/utils/src/main/java/com/cloud/utils/script/OutputInterpreter.java#L73) from wrong implemen

[2020-01-28 03:19] bwsw commented on #3838
@weizhouapache

I cannot reproduce locally on my notebook. Looks like the problem even more complex:

[code]

[2020-01-28 03:47] bwsw commented on #3838
@weizhouapache so, your assumption is that script.java implementation is OK, but when restart happens, script is being killed and that's why sends wrong response to management server which causes the download for all the templates?

[2020-01-28 04:59] rhtyd commented on #3837
@bwsw please upgrade to 4.11.3.0 - https://github.com/apache/cloudstack/pull/3370

[2020-01-28 04:59] #3837 closed

[2020-01-28 05:25] prashant2594 commented on #3817
@CobbyJ

[2020-01-28 05:57] #3409 closed

[2020-01-28 06:16] rhtyd commented on #3826
Thanks for confirming the workaround @pdion891. I'll close this as it's not a blocker if the distro provided mysql java dependency is not upgraded to 8.x, further #3601 fixes this against jdk11.

[2020-01-28 06:16] #3826 closed

[2020-01-28 06:18] rhtyd commented on #3613
This will require large changes, moved to 4.15

[2020-01-28 06:20] rhtyd commented on #3032
Fixed in Primate, btw.

[2020-01-28 06:24] rhtyd commented on #3505
@nvazquez can you comment?

[2020-01-28 06:25] rhtyd commented on #3539
As per https://github.com/apache/cloudstack/pull/2476 this was fixed in 4.11.3.0

[2020-01-28 06:25] #3539 closed

[2020-01-28 06:26] rhtyd commented on #3550
This looks like is closed, please confirm and close @div8cn @andrijapanicsb @nvazquez

[2020-01-28 07:18] andrijapanicsb commented on #3550
Closed and fixed in master and 4.13.1.

[2020-01-28 07:18] #3550 closed

[2020-01-28 09:46] weizhouapache commented on #3838
@bwsw yes, the empty ListTemplateAnswer is the cause of template redownloading.
instead of restarting cloud service in ssvm, this issue can also be triggered by restarting management server (ssvm will reconnect to management server and send ListTemplateAnswer /ListVolumeAnswer to management server).

[2020-01-28 09:52] CobbyJ commented on #3843
`[root@cloudstack ~]# grep -i -E 'error|exception' /var/log/cloudstack/management/management-server.log
2020-01-27 16:11:13,532 DEBUG [c.c.u.d.ScriptRunner] (main:null) (logid:) CREATE TABLE `cloud`.`s3` (   `id` bigint unsigned NOT NULL AUTO_INCREMENT COMMENT 'id',   `uuid` varchar(40),   `access_key` varchar(20) NOT NULL COMMENT ' The S3 access key',   `secret_key` varchar(40) NOT NULL COMMENT '

[2020-01-28 09:56] weizhouapache commented on #3843
@CobbyJ it seems you have the same issue as #3842

please read this comment: https://github.com/apache/cloudstack/issues/3842#issuecomment-578947796

[2020-01-28 10:09] CobbyJ commented on #3843
I am currently installing the latest CentOS 8.1.1911. to see if it will work on that, i followed the instructions exactly and imported the database exact to the commands provided.

[2020-01-28 10:23] weizhouapache commented on #3843
@CobbyJ it is not related to the os of management server.
If you import the database from existing sql, you have to drop the default databases before importing.
[code]

[2020-01-28 10:28] bwsw commented on #3838
@weizhouapache Great, many thanks. This issue started to make my life very difficult last time.

[2020-01-28 10:57] nvazquez commented on #3505
Hi @luhaijiao, sorry for the delay I must have missed your last message. We don't have a fix for this issue as still couldn't reproduce the error. Will update when reproduced with an ETA/expected fix version.

[2020-01-28 11:00] nvazquez commented on #3539
Hi @rhtyd, can you confirm the fix is not in 4.11.2 but on 4.11.3? Asking as the fix says milestone 4.11.1

[2020-01-28 11:20] weizhouapache commented on #3539
@nvazquez this issue should have been fixed in 4.11.1, however you reported the issue existed in 4.11.2

[2020-01-28 11:55] CobbyJ commented on #3843
Driving me insane now...... exact same issue

Reinstalled CentOS 7 - Followed the guide exactly and again needed to do the pip install which i dont know why its not in the original install or in the documentation which is pretty bad.

Again same 503, think i will give up at this point and find a system that works, it should not be this difficult to install a simple management gui. this is insane i

[2020-01-28 14:13] weizhouapache commented on #3815
restart a vpc tier will not recreate vpc vrs, but remove the guest nics on VRs and re-add guest nic.

I do not think it is a good idea to restart a single vpc tier. we should disable it.

[2020-01-28 15:57] CobbyJ commented on #3843
@weizhouapache

Im happy to put on a temporary public ip and PM you the login details if you would like?

Im very sure i havent missed anything.

[2020-01-28 20:07] weizhouapache commented on #3843
@CobbyJ yes, you can send to me by email : weizhou<at>apache.org

[2020-01-28 20:31] CobbyJ commented on #3843
thank you. will configure with a public IP and send tomorrow

[2020-01-28 22:24] kovukono opened #3849 "Cloudstack 4.12 VRs with VPNs fail to reboot"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

A site-to-site or remote access VPN must be enabled on the VR.

##### OS / ENVIRONMENT

Xenserver hypervisor

##### SUMMARY

When creating the VR, Cloudstack is providing two metadata sets to the hypervisor, one with only the eth0 device, and then one with eth0 and eth1. When a VR

[2020-01-29 09:54] #3032 closed

[2020-01-29 12:36] div8cn commented on #3830
During HA detection, heartbeat detection of the primary storage is required.

Currently ACS + KVM only supports HA for NFS primary storage.

So, HA does not support RBD primary storage

[2020-01-29 13:03] #3830 closed

[2020-01-29 13:16] DaanHoogland commented on #3110
@khos2ow @mike-tutkowski @syed moving this to 4.15 soon (and yes that is a thread)

[2020-01-29 13:18] DaanHoogland commented on #3196
@div8cn there seems to be no related activity. Is someone looking into this? I will move it out of this milestone if there is no interest to solve this.

[2020-01-29 13:25] DaanHoogland commented on #3290
@borisstoyanov @rhtyd this is a bit questionable scenario:
...
2. Start the VM
3. Before the VM has booted, detach the disk
...
It seems to me not something that should be allowed on any system. how are we attacking this issue, if at all?

[2020-01-29 13:27] DaanHoogland commented on #3264
@shwstppr did you abandon this? any intermediate results?

[2020-01-29 13:32] DaanHoogland commented on #3520
@rhtyd @GabrielBrascher @shwstppr @PaulAngus @andrijapanicsb, please see my remark above. I have a mind of removing this from milestones. It is a DB designe issue and will have other design consequences.
/cc @weizhouapache @wido @theworld

[2020-01-29 13:38] prashant2594 opened #3852 "Cloudstack 4.13v unable to 2nd Zone"
@wido
##### ISSUE TYPE

 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Centos7, KVM, NFS

##### SUMMARY

I've two cloudstack setups, when I try to add 2nd zone, going with Advance zone setup,
Everything goes in flow till adding host, when it reaches adding host, it starts failing, simultaneously cloudstack-agent.service fails

[2020-01-29 13:40] div8cn commented on #3196
This problem has been fixed in 4.13.0

[2020-01-29 13:41] #3196 closed

[2020-01-29 13:44] DaanHoogland commented on #3402
possible fix out so putting back to 4.13.1 for now

[2020-01-29 14:12] #2713 closed

[2020-01-29 14:14] DaanHoogland commented on #2708
@jms345 have you ran into this on newer versions as well? Any work done on this?

[2020-01-29 14:19] DaanHoogland commented on #2770
@khos2ow still involved? thoughts?

[2020-01-29 14:22] DaanHoogland commented on #2657
long time no activity, closing. please reopen @melnik13 if you think i'm at err

[2020-01-29 14:22] #2657 closed

[2020-01-29 14:26] DaanHoogland commented on #2872
no milestones and no related PRs is this resolved or being worked on?

[2020-01-29 14:35] DaanHoogland commented on #3015
@wido any work related to this that youknow of?

[2020-01-29 14:39] DaanHoogland commented on #3141
any plans for this @asender ?

[2020-01-29 14:48] DaanHoogland commented on #3270
@onitake are you familiar with the health check feature being implemented? #3575 it seems it implements yourrequirement, correct?

[2020-01-29 14:52] DaanHoogland commented on #3284
@rhtyd you have an update?

[2020-01-29 15:04] DaanHoogland commented on #3482
@weizhouapache @rhtyd did this make it in already? (can we close?)

[2020-01-29 15:05] DaanHoogland commented on #3543
ping @shwstppr is this active?

[2020-01-29 16:18] weizhouapache commented on #3849
@kovukono does this issue happen each time when you reboot VR ?
I cannot reproduce in 4.13 (kvm, not xen)

[2020-01-29 17:42] onitake commented on #3270
@DaanHoogland That implementation looks pretty cool. Let me comment there.

[2020-01-29 19:21] kovukono commented on #3849
@weizhouapache This happens every time you reboot a VR that has a VPN. We spun up an instance of 4.13 in our lab and were able to determine that it indeed doesn't appear to be happening in 4.13.

[2020-01-30 05:18] shwstppr commented on #3543
@DaanHoogland will check and update today

[2020-01-30 05:20] shwstppr commented on #3264
@DaanHoogland was not able to reproduce this earlier. Let me try again today

[2020-01-30 05:43] #3831 closed

[2020-01-30 05:43] #3833 closed

[2020-01-30 05:45] rhtyd commented on #3264
@shwstppr if nothing else, you can still follow the code where NPE was seen and make code around that __defensive__.

[2020-01-30 07:52] rhtyd opened #3853 "SystemVM agent seen in Disconnected or Alert state on XenServer"
On slow/resource-constraint XenServer environments, when SSVM/CPVM starts TLS certificates are provisioned via the default root CA provider which sometimes may fail the initial setup or fail due to not enough system entropy. Due to this the agent will then fail to connect and maybe stuck in Disconnected/Alert state and this would be seen:

![Screenshot from 2020-01-30 13-20-05](https://user-images

[2020-01-30 08:01] weizhouapache commented on #3763
@kovukono I have two questions
(1) Is the port allowed in ACL list which vpc tier uses ?
(2) Can you reproduce this issue in 4.13 ?

[2020-01-30 08:32] DaanHoogland commented on #3853
@rhtyd this sounds like it is not jdk specific. Have we never seen this in jdk8?

[2020-01-30 09:14] rhtyd commented on #3853
You're right @DaanHoogland but it could be a combination of things why this is sometimes reproducible, but no concrete facts to blame jdk11 yet. One workaround fix I've done in #3601 is to stop the cloudstack agent before the key/crt is setup and start it after it is imported to the keystore; that would cause some CPU contention to be reduced.

[2020-01-30 16:15] kovukono commented on #3763
@weizhouapache
1) The ACL list I'm using for the network/VPC tier is the stock default_allow.
2) This issue was able to be reproduced in 4.13.

[2020-01-30 16:53] rhtyd commented on #3284
I had created this PR https://github.com/apache/cloudstack/pull/3797 against packer 1.4.5, so this can be closed.

[2020-01-30 16:53] #3284 closed

[2020-01-30 17:30] khos2ow commented on #2770
Unfortunately I've not been involved lately, but for this I don't think there is an easy and straightforward way of enabling PMD again due to the stagering number of problems. It requires a lot of collective effort to fix them which might not make sense.

[2020-01-30 18:51] kovukono commented on #3849
@weizhouapache We've tested this on 4.13 and 4.12, and it's worked successfully on both community releases. This appears to be something that we have in our own codebase, so I'm going to close this ticket.

[2020-01-30 18:51] #3849 closed

[2020-01-30 19:25] weizhouapache commented on #3849
@kovukono ok. glad to hear it.

[2020-01-31 04:37] bluesnail95 opened #3856 "Unable to upgrade the database"
I install cloudstack according to offical quick installation guide.

http://docs.cloudstack.apache.org/en/latest/quickinstallationguide/qig.html#mysql-connector-installation

but I meet this error:

com.cloud.utils.exception.CloudRuntimeException:Unbale to upgrade the database

com.cloud.utils.exception.CloudRuntimeException:Problem with getting the ec attribute

java.lang.IllegalArgumentException

[2020-01-31 07:37] weizhouapache commented on #3856
@bluesnail95 you need to downgrade mysql-connector-java from 8.0.19 to 5.X
This duplicates #3826

[2020-01-31 08:13] weizhouapache commented on #3763
@kovukono thanks
I can reproduce the issue in 4.13 as well.

[2020-01-31 08:48] #3191 closed

[2020-01-31 08:50] vvaleriev commented on #3843
Hi,
I'm trying to install new installation of cloudstack and after I following steps in documentation I see the same problem. I running server with CentOS 7 and try to install Cloudstack 4.13. After I execute cloudstack-setup-management I see this:
[root@cls-control ~]# cloudstack-setup-management
Starting to configure CloudStack Management Server:
Configure Firewall ...        [OK]
Configure Clou

[2020-01-31 09:11] weizhouapache commented on #3843
@vvaleriev
you need to downgrade mysql-connector-java from 8.0.X to 5.1.X

[2020-01-31 09:11] #3856 closed

[2020-01-31 09:12] weizhouapache commented on #3843
#3826
#3856

[2020-01-31 09:32] vvaleriev commented on #3843
@weizhouapache thanks. It's works!

[2020-01-31 09:49] rhtyd commented on #3647
@borisstoyanov can you check https://github.com/apache/cloudstack-documentation/pull/87, and advise what else needs to be done. I think the issue can be closed now.

[2020-01-31 09:55] rhtyd commented on #3290
This is a rare corner case, normally we would not need to detach a disk from a VM we just started.

[2020-01-31 09:58] #2783 closed

[2020-01-31 09:58] #3827 closed

[2020-01-31 09:58] #3783 closed

[2020-01-31 10:02] #3843 closed

[2020-01-31 10:07] DaanHoogland commented on #3290
I would say we shouldn't allow detach of a disk from a VM in state "Starting", @rhtyd

[2020-01-31 10:12] weizhouapache commented on #3290
@DaanHoogland I think so
If it is not disallowed, we should disallow it.

[2020-01-31 10:32] rhtyd commented on #3763
@weizhouapache added the 4.13.1 milestone, can you help work on a fix for it? Thanks.

[2020-01-31 10:35] rhtyd commented on #3816
https://github.com/apache/cloudstack/pull/3803

[2020-01-31 10:37] weizhouapache commented on #3763
@rhtyd I have found the root cause. I am testing the fix now.

[2020-01-31 10:46] DaanHoogland commented on #3290
ok, should be a simple fix in the orchestration layer, I will try and find the time.

[2020-01-31 10:55] rhtyd commented on #3290
@weizhouapache @DaanHoogland no, the problem is when the VM starts CloudStack immediate changes the state to Running. The problem is when CloudStack has updated state to Running, but the OS is yet to fully boot (stuck between say grub and starting OS).

[2020-01-31 12:00] borisstoyanov commented on #3647
I think this one was fixed right away by @andrijapanicsb he updated documentation.

[2020-01-31 13:01] andrijapanicsb commented on #3647
Correct, there is explicit note in upgrade doc with warning to register 4.11.3 template even if user is having one from before.

closing this one.

[2020-01-31 13:01] #3647 closed

[2020-01-31 13:13] DaanHoogland commented on #3290
can we detect that?

[2020-01-31 19:11] nvazquez opened #3858 "findHostsForMigration API returns an empty/incomplete host list"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Tested in environment with multiple Vmware hosts, but there should be no restrictions

##### SUMMARY
Invoking the 'findHostsForMigration' API returns an empty list or incomplete list of hosts.

There are some cases in big environments in which the UI or API

[2020-02-03 08:18] weizhouapache opened #3859 "test_privategw_acl.py failed in some Trillian tests"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced zone

##### OS / ENVIRONMENT

##### SUMMARY

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2020-02-03 12:31] DaanHoogland commented on #3290
as this is a corner case, and probably a old issue, I'm moving this to 4.15 for now.
@rhtyd , @weizhouapache , @borisstoyanov ?

[2020-02-03 12:32] DaanHoogland commented on #3520
moving to future...

[2020-02-03 14:16] nvazquez opened #3860 "UI: Resize ROOT volume does not invoke resizeVolume API"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The API invokation to resizeVolume API does not happen as the UI breaks due to an error (seen with developer tools enabled):

![image](https://user-images.githubusercontent.com/5295080/73660153-656dc780-4676-11ea-9c73-e1e1366a7175.png)

##

[2020-02-04 12:55] GabrielBrascher commented on #3646
Updating the current status of the issue (see fix at PR #3649).

The code was not changed in the meantime; however, the delay was due to a lack of time and resources (from my side and the reviewers). Yesterday I was able to deploy a XenServer cluster and run some tests and assert that the PR fixes this issue for XenServer + NFS as well.

[2020-02-04 15:06] andrijapanicsb commented on #3816
Not completely addressed - when you restart VPC with cleanup, it does NOT mark the field as 0 in DB, thus all VPC networks still show as requiring a restart. Thus reopening the issue.

[2020-02-04 19:24] skattoju4 commented on #3843
hi @weizhouapache, curious to know how you figured this out ? didn't find it obvious after looking at the logs..

[2020-02-04 20:27] weizhouapache commented on #3843
@skattoju4 the workaround is provided in #3826

[2020-02-05 06:59] Spaceman1984 commented on #3633
I'll take a look

[2020-02-05 09:58] hextht opened #3866 "New installation of v 4.13 on Centos 7 completes successfully, but the svms end up in a non-healthy state."
##### ISSUE TYPE

 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Basic networking. I am configuring cloudstack with the configuration wizard.

##### OS / ENVIRONMENT

Centos 7
I am using mysql-connector-java-5.1.25-3.el7  instead of the last version, because the installation fails with mysql-java-connector v.8.0.19-1.

##### SUMMARY

I am following t

[2020-02-06 06:08] rhtyd commented on #3860
@Spaceman1984 can you have a look at this as well?

[2020-02-06 06:09] rhtyd commented on #3264
Ping @shwstppr @DaanHoogland @andrijapanicsb

[2020-02-06 08:01] Spaceman1984 commented on #3860
Sure @rhtyd

[2020-02-06 10:39] svouland opened #3868 "Nested Virtualisation for hyper-v on kvm"
##### ISSUE TYPE

 Bug Report

##### COMPONENT NAME

Nested Virtualisation

##### CLOUDSTACK VERSION

4.13

##### CONFIGURATION

advanced networking

##### OS / ENVIRONMENT

4 nodes, CentOs 7, KVM

##### SUMMARY

I looking for activate the nested virtualisation for VM on Windows with Hyper-V
I find in the cloudstack documentation how to activate the nested. It's working when i try with a VM on lin

[2020-02-06 19:24] DaanHoogland commented on #3402
merged on 4.13

[2020-02-06 19:24] #3402 closed

[2020-02-06 19:26] #3763 closed

[2020-02-07 05:34] #3633 closed

[2020-02-07 05:37] rhtyd commented on #3817
Fixed in https://github.com/apache/cloudstack/pull/3854

[2020-02-07 05:37] rhtyd commented on #3841
Fixed in https://github.com/apache/cloudstack/pull/3854

[2020-02-07 05:37] #3841 closed

[2020-02-07 05:39] #3838 closed

[2020-02-07 11:10] shwstppr commented on #3264
@rhtyd @DaanHoogland tried to reproduce with 4.13 but couldn't

- Created snapshot, noticed two entries in snapshot_store_ref
[code]
- Deleted volume as without deleting/migrating was not being able to delete originating primary storage
- Deleted primary storage, primary storage entry gets removed from snapshot_store_ref
[code]
- List snapshots worked fine,

[code]
Should I try with 4.11?

[2020-02-07 11:58] rhtyd commented on #3264
@shwstppr that's fine, no need. Can you however do a manual static code analysis and add defensive checks that avoid/handle potential NPEs:
[code]

[2020-02-07 12:08] DaanHoogland commented on #3646
@andrijapanicsb I don't care for 4.14 coming before or after 4.13.1 we are going to forward merge this from 4.13 anyway.

[2020-02-07 14:29] Spaceman1984 opened #3874 "UI: Unable to resize root volume without resizing volume first"
##### ISSUE TYPE

 * Bug Report
##### COMPONENT NAME

[code]
##### CLOUDSTACK VERSION

[code]
##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Error when resizing root volume
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2020-02-07 17:35] andrijapanicsb commented on #3264
@shwstppr @rhtyd   The issue is still present and reproducible on both 4.11.2 and master - just tested.

1. create snap of a volume
2. notice on WHICH primary storage the volume (not the snap) is located (i.e. PRI2)
3. go to DB and set the removed date on "removed" column/field in storage_pool table
4. list snapshots via CMK and observer the issue:

**Before "deleting" storage:**

{
  "count": 1,

[2020-02-07 18:14] andrijapanicsb commented on #3264
Alright, a bit more digging tells me this is NOT a bug - but a consequence of bad DB hacking
As follows:

Tested on 4.11.2 (and master)

- this exception happens when the pool is marked as removed (has "removed" date set) AND when there is at least one reference in the snapshots_store_ref table that says a "snapshot exists on this primary storage". Similar error would probably be raised if there a

[2020-02-07 18:16] andrijapanicsb commented on #3264
Closing this one.

[2020-02-07 18:16] #3264 closed

[2020-02-07 21:06] weizhouapache commented on #3859
https://github.com/apache/cloudstack/pull/3871#issuecomment-583599818

[2020-02-09 21:05] weizhouapache opened #3875 "systemvm: Agent state is always Up"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

This is regression issue of #3870

the agent state of systemvm should NOT be the state of host, but the state of cloud service in systemvms.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2020-02-09 21:07] weizhouapache commented on #3875
@DaanHoogland @rhtyd
here is a bug report.
Unfortunately I cannot find the systemvm information in `host` table.
Must be something wrong in 4.14.

[2020-02-09 21:32] rhtyd commented on #3875
Probably I used the hostvo the systemvm was on, instead of hostvo of the ssvm/cpvm.

[2020-02-09 21:47] weizhouapache commented on #3875
should be caused by it.

update: when cloud service is running well, I can see the records in `host` table for systemvms.

[2020-02-10 05:27] rhtyd commented on #3875
Submitted PR #3876 please review Wei.

[2020-02-10 13:33] rhtyd commented on #3875
PR merged to 4.13 and fwd-merged to master https://github.com/apache/cloudstack/pull/3876

[2020-02-10 13:33] #3875 closed

[2020-02-10 14:49] Spaceman1984 commented on #3784
Tested with NFS, no error - Will test with local storage.

[2020-02-11 07:28] rhtyd commented on #3784
Not seen recently.

[2020-02-11 08:10] choleowsky opened #3878 "Volume metrics doesn't update after volume migration"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced network
Qemu-KVM hypervisor
NFS shared storage
##### OS / ENVIRONMENT

Ubuntu 16.04 / 18.04

##### SUMMARY

Error in CloudRuntimeException: Can't find volume:
##### STEPS TO REPRODUCE

* Install fresh cloudstack 4.11.2.0 whith Qemu-KVM hosts, NFS primary storage server and

[2020-02-11 08:23] choleowsky commented on #3878
I found a wrkaround that seems to indicate where the problem lies.

From what I have seen, the LibvirtStoragePool.getPhysicalDisk procedure goes to look for the files of the migrated volumes with the value of the "path" column of the "volumes" table.
When a volume is migrated from one storage to another, the "path" field is changed but the LibvirtStoragePool.getPhysicalDisk procedure seems to go l

[2020-02-11 09:13] Spaceman1984 commented on #3784
Tested with local storage, unable to reproduce.

[2020-02-11 09:25] andrijapanicsb commented on #3784
Did you try/test this by powering off (in parent lab) the hypervisor where the SSVM/CPVM are running (KVM, local storage)?

[2020-02-11 09:28] Spaceman1984 commented on #3784
I tested with restarting my Centos 7 KVM Hypervisor, 2 Different zones, 1 with local storage, one with NFS.

[2020-02-11 14:23] weizhouapache commented on #3859
https://github.com/apache/cloudstack/pull/3601#issuecomment-584493660

[2020-02-12 13:02] rvalle opened #3883 "4.13 Fresh Install fails: Cannot Upgrade Database"
##### ISSUE TYPE

 * Bug Report
##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Centos 7, KVM, following Quick Installation Guide

##### SUMMARY

Everything installs OK, on first run CloudStack Manager fails.

##### STEPS TO REPRODUCE

[code]
The latest guide is [here](http://docs.cloudstack.apache.org/en/4.13.0.0/quickinstallationguide/

[2020-02-12 13:05] rvalle commented on #3883
I have googled around and found old threads that point to the java mysql connector version.
For reference the one installed on my centos-7 is:
[code]
In the Mysql repostories installed pas per quick guide there is no other alternative present.

[2020-02-12 13:22] rhtyd commented on #3883
@rvalle the workaround is to remove this and replace it with a version 5.x connector. This is fixed in #3601 towards master/4.14.

[2020-02-12 13:23] rvalle commented on #3883
@rhtyd and were can one get the connector from? it is not in the repo any idea?

[2020-02-12 13:24] rhtyd commented on #3883
@rvalle you can search alternate repo, epel, or install manually from https://centos.pkgs.org/7/centos-x86_64/mysql-connector-java-5.1.25-3.el7.noarch.rpm.html or rpmfind

[2020-02-12 13:28] #3883 closed

[2020-02-12 14:05] rvalle commented on #3883
@rhtyd thanks

[2020-02-12 21:07] weizhouapache commented on #3878
@choleowsky

this is a regression issue by #3181

@skattoju3 can you please have a look ? for NFS, we should check by path not uuid.

[2020-02-13 06:02] rhtyd commented on #3859
Failure seen in latest master smoketests - https://github.com/apache/cloudstack/pull/3850#issuecomment-585511968

@weizhouapache I see this issue, are you working on it?

[2020-02-13 06:03] #3829 closed

[2020-02-13 06:03] #3860 closed

[2020-02-13 07:58] rvalle opened #3885 "Programatic Credential Configuration for Admin"
##### ISSUE TYPE

 * Feature Idea
 * Documentation Report

This might be either a feature idea or an existing feature not documented.

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Centos 7 / KVM / Quick Installation Setup

##### SUMMARY

I have automated the deployment of Cloudstack with Ansible following the Quick Installation Guide.

[2020-02-13 07:59] rvalle commented on #3885
Is there something I missed in the documentation?
Is there any workaround for setting the admin credentials in an non-interactive way?

[2020-02-13 08:24] weizhouapache commented on #3859
@rhtyd yes
found the root cause: https://github.com/apache/cloudstack/blob/master/server/src/main/java/com/cloud/network/NetworkServiceImpl.java#L4472

private gateway in two VPCs use the same isolated network, if they have same vlan and cidr.

[2020-02-13 08:25] weizhouapache commented on #3885
@rvalle you can use cloudmonkey CLI

[2020-02-13 09:08] rvalle commented on #3885
thanks @weizhouapache, I wonder how it works

I have reviewed the cloudmonkey documentation and it seems possible to use username/password to configure it.

Does it mean that it is possible to use cloudstack api with username/password as an alternative to authentication keys?

Is that using basic auth headers instead of adding api keys and signature? Or using credentials in the place of API keys?

[2020-02-13 09:56] borisstoyanov commented on #3874
PR was merged, closing this one

[2020-02-13 09:56] #3874 closed

[2020-02-13 10:07] rvalle commented on #3885
I have reviewed the cloudmonkey code, and it seems to log in in order to gain a session key.
It looks to me like there is not an easy shortcut to have username/password authentication on the api, and will go with this suggestion.
I also found a now disabled by default functionality that created an un-autenticated endpoing.

For now, I will just go with @weizhouapache recomendation and use this cli

[2020-02-13 10:12] weizhouapache commented on #3885
@rvalle
if apikey and secretkey is set in cloudmonkey config, they will be used.
if they are not set, username/password/domain will be used.

some useful api

get user keys:  `cloudmonkey get userkeys id=<user id>`
reset user apikey/secretkey: `cloudmonkey register userkeys id=<user id>`
reset user password: `cloudmonkey update user id=<user id> password=<new password>`

[2020-02-13 10:17] rvalle commented on #3885
@weizhouapache thanks a lot!
I also found out that cloudmonkey is an apache project too.

For a minute I thought it was a third party tool.
Since this tool clearly fills the gap I will close this feature Idea.

[2020-02-13 10:17] #3885 closed

[2020-02-13 14:37] rhtyd commented on #3859
Okay @weizhouapache do we need to fix that in the test data config, test or in CloudStack java code?

[2020-02-17 10:23] Doni7722 opened #3889 "VM Snapshot will fail if last_host_id points to a removed host"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Hypervisor used is VMware ESXi but may happen on other Hypervisor types too

##### OS / ENVIRONMENT

N/A

##### SUMMARY

If a stopped VM is on a Host which will be removed the last_host_id will still point to the removed host. If you now try to create a VM Snaphost (may other actio

[2020-02-17 11:26] rhtyd opened #3890 "With pagesize=10 the count returned in the API response is wrong"
Deploy 11 VMs, keep pagesize as 10; the `count` returned in the API is not 11 but 10.

APIs affected:
[code]

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

[2020-02-17 11:26] rhtyd commented on #3890
This will affect pagination on Primate.

[2020-02-17 12:23] borisstoyanov opened #3891 "Upgrade script - vpc_offering_details add 'if not exist'"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The upgrade fails with the following exception
[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2020-02-17 13:06] rhtyd commented on #3891
I did a quick check, @borisstoyanov but this table did not exist in 4.11.3; but it is in 4.13 version (in `engine/schema/src/main/resources/META-INF/db/schema-41200to41300.sql:CREATE TABLE `vpc_offering_details` ...`)

[2020-02-17 15:37] rhtyd commented on #3890
@Pearl1594 @davidjumani let's triage, do you think these are quick fixes?

[2020-02-18 04:22] rhtyd commented on #3859
@weizhouapache are you send a fix? Thanks.

[2020-02-18 07:44] weizhouapache commented on #3859
@rhtyd we need to fix it in java code. it is not simple.

[2020-02-18 07:57] rhtyd opened #3893 "VR Health check errors seen in logs"
Saw this on latest master env, this may need checking -

[code]
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

[2020-02-18 08:34] rhtyd commented on #3859
I think it is expected that vlan shouldn't be same? @weizhouapache  - should we fix this in the test or test's config instead?

[2020-02-18 08:42] rhtyd commented on #3893
Needs investigating if this causes any side-effects - @DaanHoogland @andrijapanicsb

[2020-02-18 09:13] weizhouapache commented on #3859
@rhtyd exactly. however in smoke test it creates two VPCs  and private gateway with same vlan for each VPC, then test the connectivity between them. hence we have to add a new parameter bypassvlanoverlapcheck to private gateway so that the test can still go on.

[2020-02-18 21:25] andrijapanicsb commented on #3770
This was fixed by some commit, not sure which.

[2020-02-18 21:30] andrijapanicsb commented on #3891
Not an issue, but I would say an exectation that you can run upgrade again after the previous one failed.
For DB consistency reasons, I vote this problem be closed (and voted -1 on the related PR)

[2020-02-18 21:33] andrijapanicsb commented on #3893
Sounds like FR36 related code... I didn't observe this during testing...

[2020-02-18 21:38] andrijapanicsb commented on #3891
Please see my comment on the PR #3892 .
Closing as non-issue.

[2020-02-18 21:38] #3891 closed

[2020-02-19 07:43] #3878 closed

[2020-02-19 12:59] andrijapanicsb opened #3895 "Algorithm not set in agent.properties, when adding a new KVM hosts"
CloudStack agent, software load balancing logic

### how it works / supposed to work
When having the global setting as follows (IP values are an example, to show 2 IP addresses for 2 mgmt hosts)... :
- host=10.2.2.144,10.2.2.118
- indirect.agent.lb.algorithm=roundrobin (or static)
- indirect.agent.lb.check.interval = xxx (different then zero)

... the behaviour we are achieving here is that the li

[2020-02-19 13:11] DaanHoogland opened #3896 "merge propagation code of host parameters to the agents"
propagating agent.properties from MS to agents from the MS has some boiler plate as commented by @nvazquez . we can put some effort in to unify the code used as  specified in https://github.com/apache/cloudstack/pull/3491#pullrequestreview-361091060

##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[2020-02-19 14:02] #3045 closed

[2020-02-19 14:09] weizhouapache commented on #3895
@andrijapanicsb I notice #3491 has been merged into 4.14 by Daan.
Could you please test with latest master ?

[2020-02-19 16:01] andrijapanicsb commented on #3895
will do, but don't think we touched the issue due to specific of how it works. thx

[2020-02-19 19:18] andrijapanicsb commented on #3893
Tested on (15-commits old) master and works fine.
@rhtyd any specifics of the evn where you tested this?

[2020-02-20 05:48] rhtyd commented on #3646
@andrijapanicsb @DaanHoogland let's triage/assign or move to future milestone if the issue cannot be validated/fixed for 4.13.1/4.14 ?

[2020-02-20 05:49] rhtyd commented on #3893
@andrijapanicsb yes, latest master.

[2020-02-20 05:50] rhtyd commented on #3859
@andrijapanicsb @DaanHoogland ^^ let's triage/assign this, could @Spaceman1984 pick this up?

[2020-02-20 05:59] rohityadavcloud opened #3897 "Review all list APIs and make then honour listall parameter"
There are many list APIs that should ideally honour the `listall` parameter and when set to true should return all the items a caller/account is authorised to see. Due to a historic use of projectid=-1, most APIs do return all project only resources.

With PR https://github.com/apache/cloudstack/pull/3894 the behaviour has been addressed for some APIs such as listRouters etc where all resources ar

[2020-02-20 08:14] andrijapanicsb commented on #3646
As it is a blocker, I don't see how we can move it to next milestone (discussed on ML to confirm it's a blocker). And I disagree with that as a possibility at all, and we need a huge production issue fixed - perhaps more people should engage beside Gabriel alone.

[2020-02-20 08:29] Spaceman1984 commented on #3859
I can take a look.

[2020-02-20 08:32] weizhouapache commented on #3859
@rhtyd @Spaceman1984 I will create a PR today

[2020-02-20 08:36] Spaceman1984 commented on #3859
ok, Thanks @weizhouapache

[2020-02-20 08:49] rhtyd commented on #3859
Great, thanks @weizhouapache

[2020-02-20 10:00] weizhouapache commented on #3343
probably fixed by #3894

[2020-02-21 08:49] DaanHoogland opened #3906 "scale_vm test fails on xen"
this report is consistant on xen and doesn't occur on other hypervisors:
test_01_scale_vm | Failure | 26.81 | test_scale_vm.py

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2020-02-21 08:50] rhtyd commented on #3906
It's because this feature requires licensed version of xenserver7+, on xcp-ng the test passes.

[2020-02-21 09:00] DaanHoogland commented on #3906
ok, so the fix is not to run it on xenserver but on xcp-ng, thanks.

[2020-02-22 14:57] DaanHoogland commented on #3890
@rhtyd I do not really agree with this being a blocker. It is a blocket to primate only. It has been in for ever since we are an apache project, and probably longer. I understand the urge but it shouldn't block any release. Any reason it should?

[2020-02-23 11:27] rhtyd commented on #3890
Yes because while it only blocks Primate not the release, but most users would use UI and if we're saying there is a new UI we want to ship to users, any blockers for the new UI should be blocker for the release(s). We already have a PR on this and changes are limited to API layer.

Let's at least try to keep it in, until branch is frozen; we can discuss at that stage if its blocker status needs t

[2020-02-23 21:21] #3859 closed

[2020-02-24 00:17] rvalle opened #3909 "Cannot Add Host, wrong manager IP passed"
My Manager server is connected to several networks, when adding a host, I can see in the logs that the wrong IP address is been used in the setup agent command
[code]
How does the management server determine its own IP?

I have also configured the global management network CIDR with **management.network.cidr** , yet the IP been passed to the host is the wrong one.

[2020-02-24 05:32] #3852 closed

[2020-02-24 07:50] DaanHoogland commented on #3909
@rvalle,

The address is it the same that you configured in the global setting 'host'?

And does it resolve to the same address on the hypervisor and the management server?
Are any other options added to the command?

[2020-02-24 09:15] rvalle commented on #3909
Yes! I can see the setting now.
thanks!

[2020-02-26 15:24] rhtyd commented on #3890
Fixed in https://github.com/apache/cloudstack/pull/3894

[2020-02-26 15:24] #3890 closed

[2020-02-27 08:45] rhtyd commented on #3858
The pagination issue I think was fixed in #3894 cc @nvazquez @Spaceman1984

[2020-02-27 14:09] Spaceman1984 commented on #3858
Tested in 4.13, not an issue

[2020-02-28 09:01] rhtyd commented on #3893
I think I saw this with simulator and with KVM.

[2020-02-28 14:11] cyxu2 opened #3920 "Vulnerable dependencies in your project.(CVEs)"
Hi, I noticed that your project are using vulnerable libraries which are related to some CVEs. To prevent potential risk it may cause, I suggest a library update. See below for more details:
* **Vulnerable Library Version:** io.netty : netty-all : 4.0.33.Final
  **CVE ID:** [CVE-2016-4970](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-4970)
  **Import Path:** services/secondary-storage/s

[2020-02-29 18:58] DaanHoogland commented on #3179
msolution merged with PR #3847

[2020-02-29 18:58] #3179 closed

[2020-03-02 09:42] rhtyd commented on #3031
I guess nobody reported this as this was perhaps broken (at least since 4.7, definitely 4.9/4.11?) and nobody uses VMware with basic zone. @DaanHoogland if it's broken indeed let's try and fix in next major release, I don't think it's a blocker if nobody has reported it.

[2020-03-02 10:55] PaulAngus commented on #3031
I 100% disagree.

because we do not know if someone using VMware with basic zones, and because we assume that anyone who does must have upgraded recently to find it broken, does not mean that it is not used.

Also basic zones are the default type, someone new to CloudStack may try vmware with a basic zone, find that it doesn't work at all and abandon it.

[2020-03-02 11:02] rhtyd commented on #3031
@PaulAngus that's a valid argument making it hard to not disagree with you :)

Let's try the first thing to try and reproduce this against 4.13.0.0 or latest 4.13 or master/4.14. @PaulAngus @andrijapanicsb @DaanHoogland - does Trillian support basic zone deployment with VMWare or something we would need to test manually?

[2020-03-02 12:05] DennisKonrad opened #3923 "cputune shares in domain xml set without CPU cap enabled"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
KVM Domain XML
LibvirtComputingResource

##### CLOUDSTACK VERSION
current master

##### CONFIGURATION
We see VMs with an compute offering that has CPU cap disabled that have CPU shares set in their domain XML.

Also we see that VMs that use very similar offerings that have "offer HA" enabled, do not have set cpu shares in their XML.

##### SUMMA

[2020-03-02 12:07] DennisKonrad commented on #3923
@ustcweizhou @wido Did you maybe encounter an issue like this before?

We saw a lot of CPU steal on VMs and investigated the issue. The culprit is the cputune parameter described above that lead to the stealtime. After using a offering with "offer HA" the cputune is gone and the cpusteal also.

[2020-03-02 13:22] weizhouapache commented on #3923
@DennisKonrad
I have tested the offerings with HA and offering without HA, there is no difference with the vm xml definitions (cputune is defined with both offerings).

[2020-03-02 13:42] DennisKonrad commented on #3923
@weizhouapache That's really weird...

Okay, do you think this should be like this? In my opinion cputune should not be set when cpu cap is disabled. Also it causes huge issues for us when VMs are maxing out on CPU usage. Steal time goes up to 50% with cputune shares

[2020-03-02 13:55] DennisKonrad commented on #3923
@weizhouapache Or maybe do you know a way to not have this cputune set at all? Looking at the code it is my understanding that it should not be set when limit_cpu is false

[2020-03-02 14:03] DaanHoogland commented on #3031
I have started a basic zone in vmware, systemvms are running. Also, unless some work or user is actually blocked, it is not a blocker. Potential problems are only problems if they arise. We cannot support features indefinitely without feedback from actual users.

[2020-03-02 14:05] rhtyd commented on #3031
@DaanHoogland did you try deploying a user VM that would spin up a VR, the issue was seen VR stuck in starting state.

[2020-03-02 14:10] DaanHoogland commented on #3031
the smoke tests are running for an hour now. all fine ;)
<img width="240" alt="image" src="https://user-images.githubusercontent.com/2486961/75683647-d3b6a180-5c97-11ea-87b0-3604156cab80.png">

health checks are failing though, not sure if these are an issue in basic zone. but the router(s?) are up. weird stuff but unrelated:
<img width="953" alt="image" src="https://user-images.githubusercontent.

[2020-03-02 14:25] DaanHoogland commented on #3031
ok, the env won't deploy a VM because network is not available, re-opening.

[2020-03-02 15:23] DennisKonrad commented on #3923
@weizhouapache I checked with
`virsh schedinfo [instance-name]`
what cpu_shares are really set (and double checked through looking into /sys/fs/cgroup/cpu/... )
and most of the VMs just have the default value of 1024.

Most of the values CS generates are way lower and probaly therefor discarded?! Just a few really get the value specified in the domain xml. Is this the same with your VMs?

[2020-03-02 19:55] weizhouapache commented on #3923
@DennisKonrad
  cpu_shares in "virsh schedinfo  <instance name>"
= virsh dumpxml <instance name> | grep shares
= cpu cores * cpu speed / cpu.overprovisioning.factor

[2020-03-03 07:40] rhtyd commented on #3720
Is this fixed/addressed @svenvogel @weizhouapache @andrijapanicsb ?

[2020-03-03 07:41] rhtyd commented on #3408
Is this still an issue requiring a fix for 4.13/4.14 @andrijapanicsb @DaanHoogland ?

[2020-03-03 08:02] DaanHoogland commented on #3408
haven't had an eye on vmware @rhtyd and haven't tested this, but there are some issues open now:
- garbage collection
- basic zones
- migration
so tlc needed.

[2020-03-03 10:01] DennisKonrad commented on #3923
2 Cores * 1000 MHz / 10 = 200

In reality theres 66 set. Did I get you right on the calculation? @weizhouapache

[code]

Schedinfo is already wrong:
[code]

Cgroup (or CFS) shares are set falsely set also (as one would expect):
[code]

[2020-03-03 12:47] DaanHoogland commented on #3031
reinstalled a 4.11.3; systemvm come up but the console proxy does shows consoles for neither cpvm nor ssvm.
registering a template works. (ssvm works, as it is confirmed present on teh backend storage)

[2020-03-03 13:28] DaanHoogland commented on #3031
same symptoms in 4.9.3.1; ip 0.0.0.0 is send for eth1.

[2020-03-03 14:27] DaanHoogland commented on #3031
double checked 4.9 kvm works fine

[2020-03-03 15:55] andrijapanicsb commented on #3031
If this is broken since 4.8 and ZERO people (community users) raised a bug, I would suggest this should be addressed in the next release @rhtyd @PaulAngus @DaanHoogland, not now

[2020-03-03 17:59] andrijapanicsb opened #3926 "VRs listed twice in GUI"
Picture worth a thousand words...Current Master version:

![image](https://user-images.githubusercontent.com/45762285/75804819-f07ad400-5d80-11ea-9205-e1b42dde4a78.png)

[2020-03-03 18:00] rhtyd commented on #3926
@andrijapanicsb can you clear browser cache and try again?

[2020-03-03 18:00] rhtyd commented on #3926
I'll check tomorrow nonetheless

[2020-03-04 09:51] #3926 closed

[2020-03-04 14:28] borisstoyanov opened #3931 "VRs are being displayed twice"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

![Screenshot 2020-03-04 at 15 57 56](https://user-images.githubusercontent.com/13551960/75889113-1497ed00-5e35-11ea-8c80-5f0c61f553f7.png)
![Screenshot 2020-03-04 at 15 57 52](https://user-images.githubusercontent.com/13551960/75889117-15c91a00-5e35-11ea-9f44-97fdadb8b18b.png)

###

[2020-03-04 14:29] borisstoyanov commented on #3931
It'll be good if we can get this in 4.14

[2020-03-04 14:43] rhtyd commented on #3931
Can test against latest master @borisstoyanov, a fix was merged today cc @DaanHoogland @andrijapanicsb

[2020-03-04 14:45] borisstoyanov commented on #3931
nice

[2020-03-04 14:45] DaanHoogland commented on #3931
#3927

[2020-03-04 14:45] #3931 closed

[2020-03-04 17:02] dpassante opened #3934 "Zones are returned in a random order"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

`listZones` returns the zones in a "random" order when it has not been explicitly defined with the new sort key feature.

This impacts the correct functioning of the Ansible Cloudstack modules which use the first zone if no zone para

[2020-03-05 06:54] rhtyd commented on #3031
We can all agree with @PaulAngus 's comment and ideally should be fixing this. Per git history, this regression got introduced some ~4 years ago. How about after the branch freeze, let's see if it's a quick enough fix. Otherwise, I'm okay to address in a near-term minor release or next major.

[2020-03-05 09:43] DennisKonrad commented on #3923
After all the share values are correctly set through libvirt/qemu the steal issue is gone.
Also as there is a default value of shares set anyway it makes absolutely sense to set it regardless of the cpu cap setting.

[2020-03-05 09:43] #3923 closed

[2020-03-05 09:43] weizhouapache commented on #3923
good to know.

[2020-03-05 09:45] weizhouapache commented on #3923
@DennisKonrad could you give more details why controller is not configured and how you fixed it ?

[2020-03-05 10:55] rhtyd opened #3938 "listVolumesMetrics does not return keys per listVolumes"
Few keys are missing from API response and affect what we can show in Primate:

[code]

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

[2020-03-05 12:09] rhtyd commented on #3938
Have asked @Pearl1594 to look into it, as it's related to previous metrics keys/related issue.

[2020-03-05 12:15] borisstoyanov opened #3939 "System offering of router says its local storage but it ends up on different if the pools are disabled"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Have a local storage pool with some other pools as well

##### SUMMARY

Steps:

[code]
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2020-03-05 14:56] dpassante commented on #3934
In fact, the "problem" seems to come from the fact that zones are created with the sort key 0 which has priority by default.

[code]

The sort keys are not unique, we also have the same behavior when we assign the same rank to 2 zones from the API.

Once the sorting has been done, the new zones are returned first.
[code]

[code]

[2020-03-05 17:48] andrijapanicsb opened #3942 "Host reports RAM allocated, when no running VMs"
**Problem**: host reported as being fully RAM allocated when all VMs are stopped on this host.

Reproduce:
Host has 6 VMs running.
Stop all 6 VMs - zero VMs running on this host.
Fetch the latest metrics via Dashboard "Fetch latest" button.
Go to host, click on it, open the Statistics tab - it will show RAM memory as allocated (sum of RAM memory of all VMs) - so no new VMs cant be started on it.

[2020-03-05 18:05] andrijapanicsb commented on #3942
I've observed this in the Rolling Maintenance PR - so need to test Master as well.

[2020-03-05 18:13] andrijapanicsb commented on #3942
@weizhouapache haven't you fixed something similar - so that the stopped VMs doesn't "count" against the capacities?

[2020-03-05 18:15] andrijapanicsb commented on #3942
Confirmed the issue in 4.13

[2020-03-05 18:26] weizhouapache commented on #3942
@andrijapanicsb might the resource be reserved for stopped vm?

[2020-03-05 19:50] weizhouapache commented on #3942
@andrijapanicsb
just tested it, when vm is stopped, the resources (cpu/ram) will be reserved for 1 hour (configurable in global setting).

1. before stopping vm
[code]

2. after stopping vm
[code]

3. the reservation will be released after 1 hour.

![image](https://user-images.githubusercontent.com/57355700/76019939-d678f700-5f22-11ea-88d8-7da0c45d6185.png)

[2020-03-06 08:00] #3893 closed

[2020-03-06 08:36] andrijapanicsb commented on #3942
Thanks @weizhouapache - any idea what's the reason to reserve those in the first place (what's the usefulness of reserving capacities?)

I'm testing the Rolling maintenance with KVM and this affects/cause issues while testing when the cluster is tight on resources (or only a very few available hosts, etc).

[2020-03-06 08:53] DennisKonrad commented on #3923
@weizhouapache The why is due to our way of provisioning the hosts. It does not seem CS related. Could be more documented maybe.

To solve the issue we just configured the cpu controllers in the qemu.conf on the hosts. There's already an example in the config file that you can adapt to your needs:

`cgroup_controllers = [ "cpu", "devices", "memory", "blkio", "cpuset", "cpuacct" ]`

To allow for th

[2020-03-06 09:01] weizhouapache commented on #3923
@DennisKonrad thanks for your info !

it is strange we do not configure cgroup in qemu.conf,  but cpu_shares looks correctly.
I use ubuntu 18.04

[2020-03-06 09:06] DennisKonrad commented on #3923
Maybe it's not the OS but qemu or libvirt version. It looks like it's "right" way to configure it. But it could also be this worked some time before so we didn't notice. And after some update it stopped to write the shares to cgroup. Only speculation though

[2020-03-06 09:59] DennisKonrad commented on #3923
@weizhouapache We are very likely affected by this:
https://bugzilla.redhat.com/show_bug.cgi?id=1789824

[2020-03-06 13:09] svenvogel commented on #3720
@rhtyd we will test this in the next week. i lost this in our track.

[2020-03-06 13:11] svenvogel commented on #3720
@andrijapanicsb changed. yes it stopped the VM thats right.

[2020-03-06 21:10] #3938 closed

[2020-03-07 04:07] luhaijiao commented on #3942
I guess the reservation is to handle the situation that the stopped VM need start again but its capacity has been taken over by new VMs which may cause the start failure and bad user experience.

[2020-03-09 09:41] andrijapanicsb commented on #3942
Thanks @luhaijiao - makes sense for some users, but not in general (in my head at least)  if the VM is stopped, it's stopped - all the VMs should compete for CPU/RAM resources... but I see this is from before 3.x release... thx again both.

[2020-03-09 09:45] andrijapanicsb commented on #3942
@weizhouapache does it sound OK, if we change this setting to 0 as the default value - do you see any consequences?

[2020-03-09 10:49] weizhouapache commented on #3942
@andrijapanicsb even if it is set to 0, the resource is not released immediately.
it will be released by thread HostReservationReleaseChecker which runs every 5 minutes (configured by global setting host.reservation.release.period).

[2020-03-09 11:22] rvalle commented on #3909
Hi @DaanHoogland

After having properly configuring the **host** and **management.network.cidr** I don't get Cloudstack Manager to start.

I am getting the following exceptions when I restart after the changes

[code]
There seem to be some kind of confusion I think the manager is trying to connect to itself before has finished the startup process.

But then it mentions  "another manager".

Any ide

[2020-03-09 12:01] DaanHoogland commented on #3909
please check this `2020-03-09 10:52:10,565 INFO  [c.c.c.ClusterManagerImpl] (main:null) (logid:) Detected that another management node with the same IP 10.71.0.254 is considered as running in DB, however it is not pingable, we will continue cluster initialization with this management server node` it might be remnance from a prior run or the old server might actually still be running.

[2020-03-09 12:47] Spaceman1984 commented on #3159
I'll take a look

[2020-03-09 13:23] rvalle commented on #3909
@DaanHoogland  Yes, I saw it. I actually think that the admin web showed 2 entries for management server even before changing the IP.

Note that I am writing an ansible playbook to install a cloudstack cluster, so, I re-create the whole thing again and again from the scratch.

I don't know who gets to decide how many management servers are there or which one is "me" in the setup process, but seems

[2020-03-09 13:45] DaanHoogland commented on #3909
9090 sounds right
8080 is the web-interface not the service, there are several ports in use and I always (try to) forget which is for what.
Can you try to update the `state` to `Down`?

[2020-03-09 14:20] ravening opened #3950 "Docker build fails in master"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

Should we use Ubuntu:18.04 or latest?
Works fine if I use  `FROM Ubuntu:18.04`

[2020-03-09 15:48] DaanHoogland commented on #3950
@ravening I recently merged #3651 so you might want to try locally reverting that. I tested it for the DB only and that did run. please send in a PR for the `FROM Ubuntu:18.04` if this was not the issue. If it was, I'll revert.

[2020-03-09 16:26] rvalle commented on #3909
I am testing a bit more, I have a lot of instability. not sure why yet.

[2020-03-09 16:36] rvalle opened #3954 "Cloudstack Management Improper shutdown - causes mgmt to not start after reboot of server"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Centos 7, following quick installation guide.

##### SUMMARY

I believe a Cloudstack Management Server shutdown will shutdown mysql and the Cloudstack Manager in no particular order, which results in instability.

##### STEPS TO REPRODUCE

[code]

##### EXPE

[2020-03-09 16:38] rvalle commented on #3954
I am pretty sure the installed Systemd scripts don't observe the order in which components should be shutdown, can anybody confirm?

I will get 2 pastebins with the exceptions during the shutdown and after restart.

[2020-03-09 16:41] rvalle commented on #3954
Exceptions during shutdown: (to be provided)
Exceptions after restart: https://pastebin.com/RWRPCSd1

[2020-03-09 17:06] ravening commented on #3950
@DaanHoogland I already have the changes mentioned in #3651 in my local branch and its still failing.
Below are the logs I found in the working docker image from 4.13
[code]

But I dont see that while building image in 4.14 and below is the error I see
[code]

And because of this reason, I get db connection excpetion and the mgt server wont start

[2020-03-09 20:20] weizhouapache commented on #3950
@ravening we do need to use ubuntu 18.04 instead of ubuntu 16.04
there are some difference between mysql version in ubuntu 18.04 and ubuntu 16.04, so extra command/change are needed.

[2020-03-09 21:46] weizhouapache commented on #3950
fixed in #3955

[2020-03-10 09:15] DaanHoogland commented on #3950
@ravening I said try with that *reverted*, maybe it should be applied on 4.13? or Wei's new chenges must go on 4.13 as well?

[2020-03-10 10:10] rvalle commented on #3909
I believe issue #3954 is getting in the way of my testing. Normally I reboot and reapply the roles to create the cluster again (indenpotency test) before concluding the setup of the cluster. I am going to disable it to properly check this.

[2020-03-10 10:43] DaanHoogland commented on #3954
@rvalle can you confirm this with 4.14 as well?

[2020-03-10 11:03] aleskxyz opened #3957 "Root disk size reverts to its template size after rebuild"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

CloudStack 4.13
vSphere 6.5

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

- resize root disk to larger size
- rebuild vm

##### EXPECTED RESULTS

CloudStack resize root disk to larger size after rebuild

##### ACTUAL RESULTS

- root disk size reverts to its orig

[2020-03-10 11:08] ravening commented on #3950
@weizhouapache yes the changes you mentioned works fine.
@DaanHoogland I didnt see this issue in 4.13 as its still using ubuntu 16 and java 8

[2020-03-10 11:30] rvalle commented on #3954
@DaanHoogland should be feasible. are there packages in any centos repo?

[2020-03-10 11:43] DaanHoogland commented on #3957
@aleskxyz what diskoffering did the VM have to begin with?

[2020-03-10 11:52] rvalle commented on #3954
I cannot find 4.14 in the release repo. Is there a nightly build repo? If there is a repo I can run my tests easily. And could also check 4.11 LTS

[2020-03-10 11:59] DaanHoogland commented on #3954
@rvalle 4.14 is not released and would be a snapshot of master. if you can't build yourself there are nightly builds around.

[2020-03-10 12:48] aleskxyz commented on #3957
I have create VM from a template which its root disk is created from a dynamic disk offering.

[2020-03-10 13:12] aleskxyz commented on #3957
More investigation results:

**Scenario 1:**
1. Create a VM with root disk same as template
2. Upgrade root disk
3. Rebuild VM
Result: root disk size reverts to template size

**Scenario 2:**
1. Create a VM with increased root disk size
2. Rebuild VM
Result: root disk size is ok

**Scenario 3:**
1. Create a VM with increased root disk size
2. Upgrade root disk
3. Rebuild VM
Result: root disk size

[2020-03-10 14:13] div8cn opened #3958 "Volume migration across pools sometimes loses volume"
##### ISSUE TYPE

 * Bug Report
##### COMPONENT NAME

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When migrating between volumes across primary storage, if the zone's secondary storage has made the capacity> 90%, migration will fail. It also deletes VOLUME on the source primary storage.

In this case the data is lost ...

[2020-03-10 14:50] aleskxyz commented on #3957
**Workaround:**
It seems that when you increase root disk size at deployment, CloudStack initializes "rootdisksize" as a variable in "details" list with the size of root disk.
When you request for rebuild, CloudStack looks for "rootdisksize" _regardless of its value_, and recreates root disk according to its latest size.
So this scenario is a workaround to this bug:

1. Create a VM with root disk

[2020-03-10 14:56] DaanHoogland commented on #3274
@NuxRo @rhtyd is this still an issue?

[2020-03-10 15:08] DaanHoogland commented on #2801
@csquire @rhtyd @robisonjoel anybody planning to work on this? If we won't fix let's close it

[2020-03-10 15:16] DaanHoogland commented on #3040
@wido is this still an issue and is work on this underway? or can we close?

[2020-03-10 15:32] DaanHoogland commented on #3957
Sounds like this can be done by :

1. Create a VM with root disk same as template
2. (under the hood) Call "updateVirtualMachine" by adding "rootdisksize=0" to "details" list.
3. Upgrade root disk
4. Rebuild VM
   Result: root disk size should be ok

are you planning to fix this @aleskxyz ?

[2020-03-10 15:36] rvalle commented on #3909
@DaanHoogland  yes, confirmed. It was #3954 that got my manager broken before attempting to change the **host** and **management.network.cidr** global values.

Re-tested without peforming any reboot as part of the clustiner installation process and changed this paramenters with no problem. The management server starts, with the new paramenters, there is only one.... all seems OK to me.

[2020-03-10 15:36] #3909 closed

[2020-03-10 15:46] rvalle commented on #3954
@DaanHoogland I am currently migrating/extending an ansible collection of roles to manage my cloud form opennebula to cloudstack. The interesting thing is that I did setup a cloud Continuous Integration infrastructure. On every push a 3 node cloudstack cluster is created and tested .

Let me advance a little bit more on this front and I would be happy to integrate this CI with a Nightly Builds or

[2020-03-10 16:25] aleskxyz commented on #3957
@DaanHoogland
I really want to contribute on CS code but unfortunately I'm not a developer :(

[2020-03-10 17:38] DaanHoogland commented on #3957
ok @aleskxyz , unfortunately that means there is no guarantee it will actually be implemented. I will if i find the time but make no promises

[2020-03-10 17:38] wido commented on #3040
This issue is still relevant. At the moment there has been no work on this I think.

[2020-03-10 22:42] NuxRo commented on #3274
Since we mess up backwards compatibility, I guess this is not an "issue" and will need to be worked around some other way.

[2020-03-10 22:42] #3274 closed

[2020-03-11 00:16] aleskxyz commented on #3957
**Better workaround:**
Based on [this line of code](https://github.com/apache/cloudstack/blob/4.13.0.0/server/src/main/java/com/cloud/vm/UserVmManagerImpl.java#L3841) we can abuse (?!) template details and inject "rootdisksize" in vm details:

![image](https://user-images.githubusercontent.com/39186039/76369575-eaaa6300-632b-11ea-9760-dd115cc2b082.png)

By this workaround everything goes as expect

[2020-03-11 07:38] rvalle commented on #3954
Systemd seems to support 2 approaches,
- The obvious one, to fix the provided Systemd files for CS Manager.
- The second one, is to supplement existing configuration files with additional files that fine tune its behaviour.
The second one is useful in the (unlikely) case we needed to modify mysql unit file or in case we want to patch installation based on versions of CS Manager with this bug.

[2020-03-11 08:25] DaanHoogland commented on #3954
I think the best solution will be somewhere in the middle. @rvalle, are you taking the time to propose a change?

[2020-03-11 08:27] DaanHoogland commented on #3957
@aleskxyz glad it works for you, but now you are tying the rootDiskSize to the template instead of the diskOffering. If this template is never used with a fixed diskOffering 👍 , is it?

[2020-03-11 10:41] rvalle commented on #3954
@DaanHoogland I can certainly put together a PR for option 1, to add the dependency to Mysql the mysql service.

As you tagged the issue I believe it is critical. In particular with a reboot right after installation. By the log files, I believe you are using a Java Persistence framework, and probably it is likely that will have a cache layer.

I still think that it is useful do document the second

[2020-03-11 10:52] rvalle commented on #3954
For option 2, in case you need to supplement your existing system with an additional dependency just:
- create the directory: **/etc/systemd/system/cloudstack-management.service.d**
- create a configuration file, such as **mysq-dep.conf** for that particular dependency in that directory, with the following content:
[code]
- then you need to reload systemd configuration with **systemctl daemon-relo

[2020-03-11 11:01] rvalle commented on #3954
@DaanHoogland the problem with option 1 is that we don't really know if the mysql server is running at the management service host or not.

According to documentation the database server can also run on a separate server.

Perhaps we should use option 2 from cloudstack-setup-databases

[2020-03-11 11:29] DaanHoogland commented on #3954
@rvalle sound good, one doubt is editting the unit dep file with ldap and/or nginx. How will that behave on upgrades? for now ldap is only used readonly so that would not be a big problem.

[2020-03-11 11:31] DaanHoogland commented on #3954
btw, I could read above that you think it should be solved in documentation and not in packaging. Is that correct?

[2020-03-11 12:32] rvalle commented on #3954
@DaanHoogland
when supplementing a service profile it is possible to create a directory under /etc/systemd... (as shown avobe) and under the directory an independent file can be created to map each dependency.

systemd foresees this particular use case where dependencies need to be tuned by the system administrator, independently of the software distribution.

Package distributions will install th

[2020-03-11 13:11] andrijapanicsb commented on #3954
@rvalle I'm trying to reproduce this on the current mater.
In the meantime, what do you mean that the system is broken after the restart? Can you describe that? thx

[2020-03-11 13:15] andrijapanicsb commented on #3954
I guess I answered this question myslef by testing - the mgmt will not boot after the MySQL and thus is down, needs restart of mgmt server to be up again.

Marking this one as blocker against 4.14, but the fix will be implemented un 4.13.1 so we can forwar merge to 4.14/master.

Thanks @rvalle for reporting this, nice blocker :)

[2020-03-11 13:21] rvalle commented on #3954
@andrijapanicsb  I found out about this in issue #3909 a reboot after the initial setup is actually fatal.
you are welcome, happy to contribute when I can.

[2020-03-12 10:48] andrijapanicsb commented on #3942
Ah - that sounds so wrong... thx

[2020-03-13 09:13] andrijapanicsb commented on #3031
@rhtyd @PaulAngus we need this one done before 4.14 is out
Any suggestions?

[2020-03-13 12:16] andrijapanicsb commented on #3942
My attempt to avoid edge case is useless here, as the implementation of those capacity cheks is such that I can't acomplish a "fix" - so closing this Issues and the coresponding PR #3961

[2020-03-13 12:16] #3942 closed

[2020-03-13 16:53] Slair1 commented on #3654
What's the secret to getting virtualbox to boot from the existing qcow2 virtual disk?  We just receive
"FATAL" Could not read from the boot medium! System halted."

Do we need to do some type of convert on the qcow2 file first?

[2020-03-13 18:25] DaanHoogland opened #3966 "fix logs and modularisation leftovers from #3638"
@pavanaravapalli creating this issue, please deal with the comments left there.

##### ISSUE TYPE

 * Improvement Request
 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2020-03-14 09:42] rhtyd commented on #3954
@rvalle on reboot could it be that mysql is shutdown before Cloudstack management server? You can check using systemd, or just add a dependency on mysql service to shutdown after cloudstack mgmt server.

[2020-03-14 10:49] rvalle commented on #3954
@rhtyd yes, that is the case. However, CSM has a long starting time while mysql is quick. In a race condition I think mysql wins. I think corruption takes place on shutdown depending on what the DB was up to.

In my use case I deploy CSM with ansible and then restart. I guess the DB was pretty busy at shutdown time to the point that every single test would fail.

I have been testing the dependenci

[2020-03-16 10:23] bwsw commented on #3823
@svenvogel @DaanHoogland As this PR is merged It would be great if you guys guide me to the documentation area where I can fill in initial documentation for KVM agent hooks. I'm planning to point the design, behavior and hooks example for every hook.

[2020-03-16 12:37] DaanHoogland commented on #3823
https://github.com/apache/cloudstack-documentation is the repo, I have no idea where we should add your documentation. The design can be added to cwiki: https://cwiki.apache.org/confluence/display/CLOUDSTACK/4.14+Design+Documents

[2020-03-16 14:42] DaanHoogland commented on #3823
@bwsw, can you close this issue, if you a satisfied?

[2020-03-16 14:55] DaanHoogland commented on #3954
@rvalle How do you want to proceed this?
I can imagine a wait in the automation scripts could help as well as a dependency in the systemd configuration. That last one however could lead to a system fault as the dependency does not have to exist locally on the host. Have you given this any thought over the weekend?
I am open to any solution if it works with your automation (and doesn't destroy the

[2020-03-16 15:17] DaanHoogland commented on #3954
@rvalle @rhtyd @andrijapanicsb I've read up on systemd a bit;

1. `If unit1 has the directive After=unit2, then if both units are run, unit2 will be executed fully before unit1 starts.`

1. `If unit1 has Wants=unit2 as a dependency, when unit1 is run, unit2 will be run as well. But whether unit2 starts successfully does not affect unit1 running successfully.`

I think we can leverage the two to ma

[2020-03-16 15:33] DaanHoogland commented on #3954
issue with that last solution is that the target to depend on may be different:
it may be mariadb or mysql or mysqld depnding on distribution used.
maybe solve is docs after all :(

[2020-03-16 20:35] ggoodrich-ipp opened #3974 "Cloudstack-usage not working when using mysql-ha"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

mysql-ha
cloudstack-usage

##### OS / ENVIRONMENT

Centos7

##### SUMMARY

Prior PR #2915 causes the cloudstack-usage daemon to not be able to find the mysql-ha jar file. https://github.com/apache/cloudstack/pull/2915

This happens because the /etc/default/cloudstack-usage file poi

[2020-03-16 20:36] ggoodrich-ipp commented on #3974
I am creating a PR for this, and will submit it shortly.

[2020-03-17 03:27] bwsw commented on #3823
@DaanHoogland sure

[2020-03-17 03:27] #3823 closed

[2020-03-17 06:05] AlexanderKgr commented on #3826
which is the procedure to rollback? i am completely new to cloudstack and yesterday installed and faced this issue

[2020-03-17 06:20] AlexanderKgr commented on #3843
which is the procedure to downgrade? i am completely new to cloudstack and yesterday installed and faced this issue

[2020-03-17 08:40] weizhouapache commented on #3843
@AlexanderKgr you can downgrade to specified version using yum if you use CentOS/RHEL, or apt if you use Ubuntu/Debian.

[2020-03-17 09:14] rhtyd commented on #3826
@alexanderbazhenoff it is expected to fail with older versions, this has been fixed for 4.14/master. The next major release 4.14.0.0 will support Java11 and the new mysql java 8.x connector.

[2020-03-17 19:51] Slair1 commented on #3138
FYI, we upgrade from 4.9.3 to 4.11.3 and ran into this issue with BOTH ikev1 and ikev2 site-to-site VPNs.  The other sides were Cisco ASA firewalls.  We also seem to have the problem with Cisco Meraki firewalls connecting to Cloudstack.  It's been a huge pain - manually editing ipsec conf files now to break out the rightsubnets

[2020-03-18 11:34] davidjumani opened #3978 "systemvms do not come up on vmware"
When deploying cloudstack on VMware, systemvms are unable to come up and are continually redeployed. This appears to be due to a null pointer exception.
When it is build on commit `dc225de8115a5f03b7eb8959c7e726943dfb2be8`, it all works fine and the systemvms come up as usual

##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
VmwareResource

##### CLOUDSTACK VERSION
master (4.14)

##### CONFIGU

[2020-03-18 13:02] davidjumani commented on #3978
More logs :
[code]

[2020-03-18 13:04] davidjumani commented on #3978
Possibly has something to do with this ?
https://github.com/apache/cloudstack/commit/d4b537efa7ed27ef88b735a22493808b61529186#diff-b5942d0e7fe160052321adaaafbe2d6bR297

[2020-03-19 14:57] weizhouapache opened #3981 "Cannot build packages with latest master on Ubuntu 18.04"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

-

##### OS / ENVIRONMENT

Ubuntu 18.04

##### SUMMARY

We are not able to build packages with latest master on Ubuntu 18.04
It might be caused by #3610

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2020-03-19 15:18] DaanHoogland commented on #3981
@weizhouapache what points you to that PR you mention? I had a look and it has packages build for debian before merge: https://github.com/apache/cloudstack/pull/3610#issuecomment-597642443
anything we missed?

[2020-03-19 16:41] weizhouapache commented on #3981
@DaanHoogland it is not because of something missed, but the line below

https://github.com/apache/cloudstack/pull/3610/files#diff-d2b2229a977ef7e99780f2207c29b503R144

build succeed if revert this line.

[2020-03-20 08:22] DaanHoogland commented on #3981
@weizhouapache , your link does not point to a line but to the whole diff.

[2020-03-20 08:26] weizhouapache commented on #3981
@DaanHoogland it might because the PR is huge.

https://github.com/shapeblue/cloudstack/blob/f753d030033e9b598b179f4c7a1945cfef73b6c3/debian/rules#L144

[2020-03-20 08:46] DaanHoogland commented on #3981
tnx @weizhouapache , can you try with only the last @ removed from that line?
again, it is strange that the package build would work in the lab but not on your env. It might be as simple as that though ;)

[2020-03-20 08:47] DaanHoogland commented on #3981
ping @nvazquez , please have a look?

[2020-03-20 09:00] weizhouapache commented on #3981
@DaanHoogland I have tried with removing "@" yesterday, did not work
hence I remove whole "-pcloudstack-rolling-maintenance@", it works

[2020-03-20 12:27] nvazquez commented on #3981
@weizhouapache @DaanHoogland taking a look at it, spinning up an ubuntu 18 env to try replicating, let me update you soon

[2020-03-21 06:18] weizhouapache commented on #3897
@rhtyd Should this be fixed before 4.14.0.0 release ?

[2020-03-21 10:35] rhtyd commented on #3897
@weizhouapache I'll need to check if others APIs need to be supported, the changes were done solely to support infrastructure (VR etc) list views in Primate.

[2020-03-22 14:41] deargopinath commented on #3642
I just updated 3 error messages in the file named 'VmImportManagerImpl.java' to replace the word 'matches' with 'match'. The changes are in the branch named 'fix_3642'. I will submit the pull request shortly.

[2020-03-24 08:44] rhtyd opened #3987 "Exception in long running Java11/MySQL8 management server"
For a long-running Java11 management server (based on simulator) running latest master/4.14 with mysql 8.x library the following was seen: http://primate-qa.cloudstack.cloud:8080/client/

[code]

This could hint at an potential long running GC/leak issue or could be solely env issue (in which case could be closed).

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VE

[2020-03-24 08:46] rhtyd commented on #3987
@andrijapanicsb @DaanHoogland cc @borisstoyanov @PaulAngus  marking it as a blocker, do we have any long-running env (running 7-14+ days). Close this if unable to reproduce.

[2020-03-24 08:49] rhtyd commented on #3987
FYI - I checked mysql was still running only mgmt server was not working (unable to login etc) and the exceptions were seen. On restart mgmt server works OK.

[2020-03-24 11:07] weizhouapache commented on #3987
it might be caused by mysql setting
for example wait_timeout

[2020-03-25 06:41] zhao21943266 opened #3990 "Under arm64 host environment VM console does not display properly"
Run cloudstack and agent in arm64 Ubuntu. At present, both the host and SVM are running. View the virtual machine through the console and it cannot be displayed. The prompt "guest has not initialized the display (yet)" is the same as that of opening the console through virt manager;The virtual machine is running normally and can enter the virtual machine through the virsh console f460826a-bb58-49f

[2020-03-25 07:02] Spaceman1984 commented on #3954
@blueorangutan package

[2020-03-25 07:23] rhtyd commented on #3990
@zhao21943266 the custom arm64 systemvmtemplate I had built was based on Debian9 where the console is disabled by default (to save RAM) which is why you don't see it. You may manually enable it to see it for systemvms/VRs, and for the guest VMs the console is enabled for Debian 10 guest template: http://dl.rohityadav.cloud/cloudstack-rpi/template/

Closing on this remark as this is not really a bu

[2020-03-25 07:23] #3990 closed

[2020-03-25 07:26] zhao21943266 commented on #3990
@rhtyd Thank you

[2020-03-25 07:59] zhao21943266 commented on #3990
@rhtyd Hello, I tested that the image console of Debian 10 can display normally. Can you tell me how to manually start the Debian 9 system template console. Thank

[2020-03-25 08:08] harikrishna-patnala commented on #3031
Working on this to fix the issue. I could point out the exact place where nic configuring is being skipped and made the code changes accordingly in PR https://github.com/apache/cloudstack/pull/3977

![Screen Shot 2020-03-25 at 12 25 54 PM](https://user-images.githubusercontent.com/3348673/77514122-40d6e480-6e9c-11ea-82f6-6f16141eb471.png)

With that eth1 on VR is configured with private IP but VR

[2020-03-25 09:56] rhtyd commented on #3990
@zhao21943266 you may google that I've not explored that myself the exact steps. I'll be updating new templates against Debian10 once 4.14 is out.

[2020-03-25 11:22] borisstoyanov commented on #3978
fixed in #3985

[2020-03-25 11:22] #3978 closed

[2020-03-25 15:15] andrijapanicsb commented on #3981
@nvazquez what's the update here?

[2020-03-25 18:11] nvazquez commented on #3981
@andrijapanicsb PR 3984 tested and working as expeected, waiting for review and approval

[2020-03-25 19:02] DaanHoogland commented on #3954
fixed by #3973

[2020-03-25 19:02] #3954 closed

[2020-03-26 11:37] harikrishna-patnala commented on #3031
I figured out the issue and PR is updated with the fix.

[2020-03-27 09:48] DaanHoogland commented on #2820
tested that image in #3993. I'm not sure if that is enough testing though, @izenk @DennisKonrad @andrijapanicsb have an opinion?

[2020-03-27 18:46] #3031 closed

[2020-03-27 18:49] #2820 closed

[2020-03-27 20:51] Slair1 commented on #3852
@prashant2594 we have the same issue - did you find a fix?

[2020-04-01 09:50] Spaceman1984 commented on #3816
@andrijapanicsb, I tested networks and VPC with and without cleanup. I was not able to reproduce the error. Seems like this is no longer an issue and can be closed.

[2020-04-01 10:10] Spaceman1984 commented on #3816
I have tested on 4.13.1 with isolated, shared and L2 networks and a VPC network. In all instances, the restart required flag was reset with and without cleanup. @andrijapanicsb this doesn't seem like an issue anymore.

[2020-04-01 11:05] andrijapanicsb commented on #3816
It can't be gone by its own? See this comment from Wei https://github.com/apache/cloudstack/pull/3803#issuecomment-581936011

Can you trace any commit that would have fixed the thing?

[2020-04-01 11:18] Spaceman1984 commented on #3816
Ok, I didn't test restarting the VPC. My test only included restarting the network in the VPC. I'll look into it.

[2020-04-01 12:50] Spaceman1984 commented on #3816
Restarting the VPC did not restart the network. I'll work on a fix.

[2020-04-03 18:53] andrijapanicsb opened #4011 "Allow .img extension for qcow2 type of template"
##### ISSUE TYPE

 * Bug Report
 * Improvement Request
 * Enhancement Request
 * Feature Idea
 * Documentation Report
 * Other

KVM ".img" extension is used for both qcow2 and raw image types (for reasons to confuse you and nothing else!) and since Canonical (and others, i.e. OpenStack) distributes some linux/cloud qcow2 images with .img extension, it makes sense to allow .img extension for qcow2

[2020-04-03 20:08] andrijapanicsb commented on #3987
@DaanHoogland did you tell me you had spun Trillian env for this one - can't find it?

[2020-04-04 12:09] #3981 closed

[2020-04-04 16:24] tobin-landricombe commented on #3866
Same problem. Not a great introduction to the project.

@hextht Did you get past this?

[2020-04-06 10:12] andrijapanicsb commented on #3987
@DaanHoogland we are NOT running the 8.x library, are we? Not sure our test-env makes any sense...?

[2020-04-06 11:27] rhtyd commented on #3987
Env details:
[code]

@andrijapanicsb @DaanHoogland please triage and decide severity/priority

[2020-04-06 14:32] Spaceman1984 commented on #3866
@hextht the guide is for 4.11, did you change 4.11 to 4.13 when following?

[2020-04-06 14:53] Spaceman1984 commented on #3866
Seems like the System template is also old, should be
`http://download.cloudstack.org/systemvm/4.11/systemvmtemplate-4.11.3-kvm.qcow2.bz2`

[2020-04-06 18:43] andrijapanicsb opened #4018 "Snapshots GC from DB and XenServer Primary Storage garbage"
snapshot housekeeping needs
[ ] refractoring AND
[ ] fixing snapshot_store_ref garbage AND
[ ] XenServer garbage on Prim Stor.

For details please see my comment: https://github.com/apache/cloudstack/pull/3969#issuecomment-609950065

## Problem 1
- When snapshots are deleted and the GC runs, the PRIMARY references (role_type=rpimary) are left in snapshot_store_ref table forever - when we successfu

[2020-04-06 22:59] tobin-landricombe commented on #3866
With these two fixes plus hacking the correct mysql connectors in, my latest attempt is showing System VMs Agent State as "Up".

Still no templates listed so I haven't actually started a VM yet but that can wait until tomorrow.

Thanks, @Spaceman1984

[2020-04-07 09:18] andrijapanicsb commented on #3987
@DaanHoogland I believe we agreed that this one can be unmarked as blocker (not blocker), as we have not hit this in our long-running idle test env - and in busy env it will be even harder to hit this, if it's due to any timeouts and such.

We'll have the much wider testing during the RC1, so I'm marking this one as NOT blocker, and moving it to... 4.15?

[2020-04-07 09:39] DaanHoogland commented on #3987
moved it to 4.15, as discussed with Rohit privately, it might be simulator specific. We must mark it in the release notes that so/what we think about it and hope test proovers give us wisdom.

[2020-04-07 10:05] Spaceman1984 commented on #3866
My pleasure @tobin-landricombe . You should be able to start instances as soon as the default template is done downloading. Templates -> CentOS 5.5(64-bit) no GUI (KVM) -> Zones.

I was able to use mysql-connector-python-8.0.19-1.el7  after running:

[code]

@hextht I think we can close this issue as soon as the documentation is updated for the quick install guide.

[2020-04-07 10:39] smgray315uk opened #4022 "cloudstack - systemvm and secondary storage configuration issue"
##### ISSUE TYPE
systemvm creation issue, which I believe is a result of the recent version upgrade that was complete from v4.11.3 to v4.13.  Although this is a new implementation and there are instances deployed as of yet.
It appears we have an issue with the systemvm or secondary storage configuration although I cannot determine the issue.

##### COMPONENT NAME
systemvm / secondary storage issue

[2020-04-07 19:38] andrijapanicsb opened #4024 "qemu 2.10+: consider adding --force-share flag"
##### ISSUE TYPE

 * Enhancement Request

Investigate a possible usage of "--force-share" parameter when accessing qcow2 files, due to "Qemu 2.10 added the requirement of a --force-share flag to qemu-img info when reading information about a disk that is in use by a guest."

Not sure if this is applicable to qemu itself or just qemu-img (nothing to do here...) - but the way to reproduce the issue

[2020-04-08 10:59] rhtyd commented on #3987
Agree @DaanHoogland @andrijapanicsb

[2020-04-08 13:01] Spaceman1984 commented on #4022
@smgray315uk Did you follow the quick install guide for installation? Currently there is an error in the guide specifying an old repo and system vm template.

[2020-04-08 13:21] smgray315uk commented on #4022
Yes the quick installation guide was followed for the installation. The repo currently in use is: -

[cloudstack]
name=cloudstack
baseurl=http://download.cloudstack.org/centos/$releasever/4.13/
enabled=1
gpgcheck=0

I'll double check to see if this is correct.

The upgrade from v4.11.3 to v4.13 appears to have worked fine. Although to me it looks like we have some issue with the systemvm creation

[2020-04-08 13:33] Spaceman1984 commented on #4022
For a 4.11.3 installation the systemvm template should be `http://download.cloudstack.org/systemvm/4.11/systemvmtemplate-4.11.3-kvm.qcow2.bz2`
The quick start quide has an older system vm template

[2020-04-08 21:58] Slair1 commented on #3193
@melnik13 we've been doing some additional testing.  This seems to work well with the VM being suspended when the snapshot is deleted.  However, when a "VM Snapshot" is deleted, the VM is not suspended.  Perhaps we need to add code for when VM Snapshots are deleted also?  Thoughts?

[2020-04-09 16:42] andrijapanicsb commented on #4018
XenServer removes previous snapshots from the "primary storage" when a new one is created - it does NOT delete it really, but deletes the PRIMARY row in the snap_store_ref table, thus the garbage is left on Primary Store while the reference is deleted from the snap_store_ref - and later GC is not picking it up as the row/reference is not there....  Stupid implementation by all means:

[root@ref-tr

[2020-04-09 18:48] andrijapanicsb commented on #4018
Thinking aloud about the **correct workflow for different hypervisors,** after being busy with the snapshots issues on PR #3969  for 40+h...

### XS

- XS snap issues: although we "try", we don't really delete older snaps than the current/new one when it's created - we should fix this, and then all older snaps are deleted from Primary and so are their references PRIMARY in snap_store_ref. We are c

[2020-04-09 19:36] coreymr commented on #3826
Could you share how I'd revert to using mysql-connector-java-5.1.47?  I'm new to CloudStack and also not too familiar with modifying MySQL settings.

[2020-04-10 07:28] DaanHoogland commented on #3826
hey @coreymr , I always forget, but please google for your setup. you need to use pip (the python package manager) or your OS package manager (like yum or apt-get) for that.
something like
[code]

[2020-04-10 08:45] DaanHoogland opened #4026 "similator NPE in solidfire plugin"
An NPE occurs during deployment of a simulator environment.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

build with -Dsimulator and deploy simulator DB

##### OS / ENVIRONMENT

macos (but should be independent of OS

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

clean log with regular messages of p

[2020-04-10 14:29] coreymr commented on #3883
@rhtyd I'm new to CS and am unsure how to do the suggested fix.  I'm receiving a similar error on a fresh installation of CS 4.13 with MySQL 5.7.  I wish the documentation and caveats were more clear.

[2020-04-10 14:56] coreymr commented on #3866
@tobin-landricombe do you mind detailing your fully functioning build and how you got to it?
OS=
MySQL =
Java Connector =
etc...
I'm a newb to CS and trying to get a fresh installation of CS 4.13 going, but have failed numerous attempts.  I see all these references to using an old version of MySQL, old version of Java Connector, tweak this, change that...I wish the installation and documentation a

[2020-04-10 18:44] tobin-landricombe commented on #3866
CentOS7. Just the minimal.

I'm using qemu/kvm so: `yum install -y qemu-kvm qemu-img libvirt libvirt-python bridge-utils`

Stop firewalld and NetworkManager:
[code]

Update the instructions with Spaceman1984's comments and follow them apart from the mysql bits:
. Install `mysql` as the instructions said.
. Ignore the MySQL connector Installation bit. I think I also edited `/etc/yum.repos.d/mysql-c

[2020-04-12 02:58] cg5labs commented on #3826
Hi, I started a small PoC on Cloudstack two days ago and followed the official Quickstart guide. Tried to install 4.13 and later 4.11.3 and ran into exactly this issue (and the Python module issue with missing dns.resolver module).

The workaround for this issue (exclude mysql-connector-java-* from MySQL community repo config) is straightforward and works. However, the Quickstart Guide and Install

[2020-04-12 08:26] gnanasankar opened #4027 "HTTP ERROR 503 Problem accessing /client/. Reason: Service Unavailable"
HTTP ERROR 503 Problem accessing /client/. Reason:      Service Unavailable

[2020-04-12 09:46] andrijapanicsb commented on #3826
That's why this is a community project and I'm challenging you to get engaged and send a documentation PR on that guide, deal? :handshake:

[2020-04-12 14:07] gnanasankar opened #4028 "There is no secondary storage VM for secondary storage host"
There is no secondary storage VM for secondary storage host

[2020-04-12 15:49] cg5labs commented on #3826
@andrijapanicsb , sounds good. I've found the documentation repo and will send the PR tomorrow! 👍

[2020-04-12 15:52] andrijapanicsb commented on #3826
Cool - I see already an existing PR - see if there is anything to add/remove to it : https://github.com/apache/cloudstack-documentation/pull/93

Thanks

[2020-04-13 13:32] DaanHoogland commented on #4027
this is not a proper issue report @gnanasankar please be very verbose on details of your problem.

[2020-04-13 13:34] DaanHoogland commented on #4028
this does not tell is anything about your issue, @gnanasankar . Please be as verbose as possible. describe OSses used, version of cloudstack, hypervisor type and - version. include any error you observe in the logs...

[2020-04-13 18:37] Slair1 commented on #3193
@melnik13 or may @rhtyd  ?

[2020-04-15 15:14] nvazquez opened #4031 "Template on different domain permissions"
Users from different domain than the template's domain should be excluded. Example; Admin can see ROOT domain users but not add template permission if the template belongs to a subdomain

##### ISSUE TYPE
 * Bug Report
 * Improvement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Not relevant

##### SUMMARY
Users from differe

[2020-04-15 19:46] rvalle commented on #3883
@rhtyd you have more information in the bug report: #3954 hope that helps.

[2020-04-16 13:48] onitake opened #4036 "Remove deprecated cirdrlist parameter from createLoadBalancerRule API"
##### ISSUE TYPE

 * Improvement Request
 * Documentation Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Some networking-related APIs, notably `createLoadBalancerRule,` support a parameter called `cidrlist`. This parameter was (presumably) used to automatically manage firewall rules for load balancer rul

[2020-04-16 15:34] DaanHoogland commented on #4036
removal of parameters will only happen in a move to version 5.x (if and when). we can stop the error from being returned and silently ignore the parameter or we can add an informational field that state how it was handled but removing a parameter while we continue to support 4.x is a no-go, @onitake.

[2020-04-16 19:21] DaanHoogland commented on #4036
well, i'd suggest changing it's description to something like "deprecated, will be ignored", ok?

[2020-04-17 07:21] onitake commented on #4036
I'll open a new PR for that, but can you check #4035 as well, if it makes sense?

[2020-04-17 08:50] DaanHoogland commented on #4036
added a comment on code and one on travis ;)

[2020-04-17 17:02] ibragullam opened #4038 "Error in my Strongswam ipsec vpn tunnel"
PS; Need help to fix Strongswam ipsec vpn tunnel
#  nano /etc/ipsec.conf

config setup
        charondebug="all"
        uniqueids=yes

conn yyy-to-xxx
        authby=secret
        left=10.12.0.8
        leftid=30.71.172.92
        leftsourceip=%config
        leftsubnet=10.12.0.8/32
        right=40.204.128.170
        ike=aes256-sha1-modp1024!
        esp=aes256-sha1!
      pfs=no
        aggre

[2020-04-17 17:10] ibragullam commented on #4038
need help to fix tunnel

[2020-04-17 18:24] GabrielBrascher commented on #3624
**[Update]** On the last couple days we did some progress in this implementation.

Tested Redfish Client and Redfish OOB management driver on nodes with Dell iDRAC8 (thanks to our folks at [Yourhosting](www.yourhosting.nl)). We still going to run a few tests on Supermicro nodes as well as there are a few differences on the API calls from Dell to Supermicro Rest API.

Here follow a few pics.
![redf

[2020-04-17 19:58] kiwiflyer commented on #3624
@wido @GabrielBrascher  - Nice! This is going to be a great feature. //@nathanejohnson @dcarbone @dmabry

[2020-04-20 13:53] DaanHoogland commented on #4038
looks like no error is reported @ibragullam

[2020-04-20 14:44] div8cn opened #4039 "Guest Vlan range will be lost when deploying ZONE"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Add zone through UI,

Set zone information

Device zone network information (manage, guest, public in a physical network, or manage a physical network, guest + public in a physical network)

Set public IP range

Set the guest VLAN range (500-1

[2020-04-20 14:58] ibragullam commented on #4038
Hi there am trying to configure Strongswam Ipsec vpn tunnel in my Google Cloud Ubuntu server VM but am ending up getting errors some of I.Ps are not connected  when i start the vpn on service the ip that came with ports number it ends up showing this message
Security Associations (1 up, 0 connecting):

[2020-04-20 16:53] smgray315uk commented on #4022
ok, so I looked at this and did as you said and updated the systemvm templates, unfortunately this didn't resolve our issue.
This is a POC for us at the moment, so I decided to re-install the system management server from scratch as it looks like the systemvm templates etc are not downloading correct to the secondary storage.
After re-installing I had the same issue. I had a real good look into th

[2020-04-20 16:53] #4022 closed

[2020-04-21 07:53] mkriegs commented on #4039
confirm, this issue happens allsow during my setup of 4.13.1

[2020-04-22 09:04] borisstoyanov commented on #4039
I've just tested that and it seems to be happening when using the UI, with scripted deployment of zone I cannot see it so must be a UI bug. As a workaround we can still edit the ranges in the UI.

[2020-04-22 10:50] rhtyd opened #4041 "Add API parameter to list unique Templates and Isos"
The listTemplates and listIsos APIs return duplicates if more than one zone exists in an environment. This will cause rendering and pagination issues for UI such as Primate. Add a new parameter for these APIs so they would return unique templates/isos and honour pagination.

##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME

[code]

[2020-04-22 18:27] rhtyd commented on #4039
Btw, this works on Primate (or at least for adv zone with VLAN isolation).

[2020-04-22 18:53] andrijapanicsb commented on #3646
Closed via #3969 - see more details in that one.

[2020-04-22 18:53] #3646 closed

[2020-04-23 06:59] Spaceman1984 commented on #4039
I'll take a look

[2020-04-23 08:54] weizhouapache commented on #3958
this seems to be a blocker issue

[2020-04-23 10:45] luhaijiao commented on #3958
This might be a corner case but one of our clients has been hit by this issue.  VM data was expunged.

[2020-04-23 13:44] borisstoyanov commented on #3958
So just to confirm, secondary storage is almost fully occupied and you try to migrate a volume to different storage. I'll try to reproduce with the following steps:

1. Create a volume
2. Make sure capacity of the secondary storage cannot facilitate the volume
3. migrate to volume from primary a to primary b.

Please comment if I got this steps wrong? @div8cn and @luhaijiao

[2020-04-23 19:29] andrijapanicsb commented on #4039
Closed via #4042

[2020-04-23 19:29] #4039 closed

[2020-04-23 19:30] andrijapanicsb commented on #3958
closed via #4043

[2020-04-23 19:30] #3958 closed

[2020-04-27 10:01] rhtyd opened #4044 "At last step of zone deployment wizard, the enable button is not shown"
At the last step of the zone deployment wizard on latest master, the enable zone button is not shown but errors are seen in console:

![Screenshot from 2020-04-27 14-12-06](https://user-images.githubusercontent.com/95203/80359887-2083b680-889c-11ea-8ca4-038b913d5f55.png)

##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

[2020-04-27 15:49] Spaceman1984 opened #4045 "Instance HA fails after storage migration"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

3 HA enabled Hosts
2 Primary storages
Advanced Networking Zone
##### OS / ENVIRONMENT

Tested with KVM on Centos 7

##### SUMMARY

When a Host goes down In a cluster configured for Host HA, it is expected that the host state will transition from up to down and all HA enabled Vms wi

[2020-04-29 12:43] rvalle opened #4050 "Quick Guide Install: Cannot Add host"
##### ISSUE TYPE

 * Bug Report
 * Documentation Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS Linux release 7.8.2003 (Core)

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

Quick install [guide](http://docs.cloudstack.apache.org/projects/archived-cloudstack-installation/en/4.11/qig.html)

##### EXPECTED RESULTS

[code]

[2020-04-29 13:58] rvalle commented on #4050
Ok, I just noticed issue #3509

This seems to be the same thing I am experimenting. And there is a bunch of other users there.

I still have not worked out my problem but the consensus there seems to be that the error message "invalid connection pointer in virConnectGetVersion"... can be discarded

[2020-04-29 14:33] rvalle commented on #4050
I can see that the agent is not capable to connect to libvirt
I can also see that the Agent confiruration has modified my network setup in ways that I did not expect or anticipate, has created a bridge on eth0 despite me having a dedicated interface for the cloud... that does not seem to be in use.

I guess my setup is not just like in the quick install guide, and also cloudstack is fairly intrusi

[2020-04-29 14:33] #4050 closed

[2020-04-30 13:56] borisstoyanov opened #4052 "Remove 'make redundant' option from the restart network pop-up."
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

This should be defined at an offering level, simply having the option to turn a network into redundant shouldn't be available on restart as it's confusing people

##### STEPS TO REPRODUCE

[code]

![Screenshot 2020-04-30 at 14 41 05](https://u

[2020-05-04 07:16] rvalle opened #4054 "Unable to add host: uncapable to identify cause/missing ERROR logs"
##### ISSUE TYPE

 * Bug Report
 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced Networking new zone,pod, cluster and host.

##### OS / ENVIRONMENT

Centos 7.

##### SUMMARY

I am creating an KVM, network advanced zone. The UI reports that the host could not be added, however, by looking at the logs everything seems to be just fi

[2020-05-04 07:28] rvalle commented on #4054
The relevant logs that I see are:

Confirmation the agent was created OK, manager logs:
[code]

Confirmation the agents connects back with the manager, that logs:
[code]
Similar success logs can be found on the agent, that reports connection to the manager:
[code]

Confirmation the agent can talk to libvirt, agent logs manipulation of libvirt objects:
[code]
A further check on virsh finds that obj

[2020-05-04 07:36] rvalle commented on #4054
I suspect a networking issue, due to the long wait, however, without exception or ERROR message I have been already 3 days trying to find out what is wrong.

I attach complete logs files.

[management-server.log.2020-05-03.gz](https://github.com/apache/cloudstack/files/4573299/management-server.log.2020-05-03.gz)
[agent.log.2020-05-03.gz](https://github.com/apache/cloudstack/files/4573301/agent.lo

[2020-05-04 10:26] DaanHoogland commented on #4054
that does not sound nice @rvalle . The automated tests we run internally install advanced zone mostly (blueorangutan outputs you see all around), So yes it is probably environmental, but that doesn't mean we shouldn't improve the diagnostics you are getting.
according to your agent log it is connected to your server: `2020-05-03 16:37:31,616 INFO  [utils.nio.NioClient] (Agent Timer:null) (logid:)

[2020-05-04 10:41] rhtyd opened #4056 "The listKubernetesSupportedVersions API does not honour searching"
The kubernetes ISOs or the listKubernetesSupportedVersions API does not support searching as the keyword parameter is not honoured. Fixing this would enable searching both in UI and API.

Originally opened as Primate bug - https://github.com/apache/cloudstack-primate/issues/280

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

[2020-05-04 10:42] rhtyd commented on #4056
https://github.com/apache/cloudstack-primate/issues/280 closed in favour of this cc @borisstoyanov

[2020-05-04 16:02] rvalle commented on #4054
@DaanHoogland I researched that message and found  issue #3509 here where the team implied that the exception could be ignored.

I quote @andrijapanicsb :

I still think that the message (or its persistent occurrence) might be somehow related.

[2020-05-05 07:04] DaanHoogland commented on #4054
ok @rvalle reading that ticket my next try, after validating the network setup, would be to look at the qemu version.

[2020-05-05 07:55] rvalle commented on #4054
@DaanHoogland  I did not install any particular version, just the default en Centos 7.
Is the distribution tested against a particular Qemu version?

Is there a spec of which qemu version is required?

The QuickInstall guide does not warn about it.

Thanks for the tip, I will review.

[2020-05-05 10:36] rvalle commented on #4054
@DaanHoogland I just reviewed the integration testing infrastructure,
Could we say that systemvm is the "reference" OS setup for both Manager and Hosts?
This VM seems to be base on debian 9, while the quickinstall guide refers to Centos...

[2020-05-05 11:59] rvalle commented on #4054
@DaanHoogland  I can see the following strange connections:

[code]
here the .48 is the manager and .1 is the DNS server. I wonder what is trying to access. Aren't those ports meant to be NFS?

[2020-05-05 13:08] andrijapanicsb commented on #4052
@borisstoyanov did you report this to the Primate project (raised bug there?)

[2020-05-05 13:10] borisstoyanov commented on #4052
No, I've marked the component as UI and Primate, it needs to be tested against both when picket up.

[2020-05-06 07:53] Mahir92 opened #4058 "Usage of Empty TrustManager Methods is insecure"
**Vulnerability Description:** In “plugins/api/vmware-sioc/src/main/java/org/apache/cloudstack/util/vmware/VMwareUtil.java”, inside private static class TrustAllTrustManager implements TrustManager, X509TrustManager, the overridden methods have no body -

`public void checkServerTrusted(X509Certificate[] certs, String authType) throws CertificateException`
`public void checkClientTrusted(X509Certi

[2020-05-06 09:34] ravening opened #4059 "Duplicate logs in syslog"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Any type of setup

##### OS / ENVIRONMENT

Probably on all OS

##### SUMMARY

Currently cloudstack stores the logs till DEBUG level in /var/log/cloudstack/management/management-server.log and also in /var/log/syslog resulting in same log being stored in two locations and t

[2020-05-06 12:35] rvalle commented on #4054
I can now create host. One of the following 3 things unlocked the problem:

- /secondary was nfs-mounted on the host before adding them
- The hosts did not meet the minimum RAM requirement (according to google) of 4GB
- I have disabled the firewall until I get this back working.

[2020-05-06 12:35] #4054 closed

[2020-05-06 17:32] DaanHoogland commented on #4054
It is probably the middle - or last bullet point @rvalle. The secondary storage should not have to be mounted in one go, but instead the specific store share and this will be done by the system. Maybe I misinterpreted your first bullet?

[2020-05-07 16:33] rvalle commented on #4054
@DaanHoogland you are right.

The exception was all alone there, but fairly cryptic:

[code]
The agent seems to calculate its RAM by subtracting a given amount form the physical RAM , as it is common practice when sizing an hypervisor. In my case the reported RAM would become negative.

A good improvement would be that the setup script checked for minimum requirements here:
[code]