[2020-10-13 08:55] DaanHoogland commented on #4394
@sourpatchkidz8484 better use users@cloudstack.apache.org than.

[2020-10-13 09:11] sourpatchkidz8484 commented on #4394
My discord server was open in my computer and you guys where going through a bunch of my shit. At least who else could it have been.

[2020-10-13 09:30] #4372 closed

[2020-10-13 09:32] Spaceman1984 commented on #4299
Tested on master, no issue.

[2020-10-13 10:05] DaanHoogland commented on #4394
Mr. S.C.Laus is your prime suspect

[2020-10-13 13:26] nvazquez commented on #4299
Thanks @Spaceman1984, closing it

[2020-10-13 13:26] #4299 closed

[2020-10-13 19:28] sourpatchkidz8484 commented on #4394
Who is that hey man I need some help I was just trying to learn how to code and they went into my private stuff

[2020-10-14 01:38] hstan77 opened #4403 "Support for Linstor"
##### ISSUE TYPE

 * Feature Idea

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2020-10-14 06:58] Spaceman1984 commented on #4310
Seems like IP addresses are presented but you cannot actually select it.

I have set up a few ranges and dedicated 2 ranges to system VMs and 1 range to an account.

![IpRanges](https://user-images.githubusercontent.com/49917670/95953894-cef3c780-0dfa-11eb-8d6e-c996a20eb581.png)

When I acquire new IP addresses, the ones dedicated to system VMs are in the list, but it throws an error if I select i

[2020-10-14 07:16] rvalle commented on #4310
@Spaceman1984 aha! I actually never tried to pick them... they just fill up my list of actual public IP addresses.

[2020-10-14 07:17] Spaceman1984 commented on #4310
alright @rvalle, I'll work on a fix.

[2020-10-14 07:29] DaanHoogland commented on #4310
@Spaceman1984 will you fix primate (old UI is being phased out)

[2020-10-14 07:31] Spaceman1984 commented on #4310
I'll take a look @DaanHoogland, but I'm not sure if the bug is in the UI at this point, I suspect API.

[2020-10-14 10:35] #4343 closed

[2020-10-14 11:55] rvalle commented on #4402
I am also experiencing issues with ACLs Egress which use multiple CIDRs, although I still could not asses if the issue is with Ansible Modules or ACS. see https://github.com/ngine-io/ansible-collection-cloudstack/issues/41

[2020-10-14 13:32] rvalle commented on #4402
after discussing the multiple CIDRs issue with @resmo we think that it is related to this issue. Rules are also not working when they take multiple CIDRs as parameters.

[2020-10-14 16:49] #4218 closed

[2020-10-14 21:12] andrijapanicsb commented on #4403
Unless a specific cloudstack-user (a.k.a. some company) needs this, there are next-to-zero chances someone will implement such a huge thing "for fun".

Another option is pinging the vendor, and asking them if they want to develop ACS plugin - to broaden their eco-system.

[2020-10-14 21:13] #4368 closed

[2020-10-14 21:14] andrijapanicsb commented on #4390
not an issue, closing - please read the docs.

[2020-10-14 21:14] #4390 closed

[2020-10-14 21:32] andrijapanicsb opened #4406 "Retry logic - ignores tags"
NOT burning issue, as it's hardly reproducible - but a proper code analysis might prove bug (non) existance.

I've seen this in master/PR #4307 (VMware , but probably a general issue) - an issue with storage tags not being honored during VM deployment retry.

By using tags, I've made sure a VM will be deployed on a specific storage pool.

Due to VM failing to start on host X on storage X _(whateve

[2020-10-14 21:33] andrijapanicsb commented on #4406
Might be also a false alarm - but I thought it's worth documenting it, in case someone would like to validate the retry logic in ACS.

[2020-10-14 21:34] andrijapanicsb commented on #4349
see if you DB server is down - this looks like DB server is down (check if it was killed by i.e. the Linux OOM killer, etc)

[2020-10-14 21:36] andrijapanicsb commented on #4349
also @dony71 - as you have not confirmed this as a bug, but just seen it once - and since this is not a support forum  - can you please ask for help on the user@ mailing list.
i.e. open issues here only if youa re sure it's a bug.

Thanks,

[2020-10-14 21:36] #4349 closed

[2020-10-14 21:38] andrijapanicsb commented on #4347
hi guys - may I kindly ask that we use mailing list user@ for support issues - and not GitHub - it will become garbage yard if we continue to do to. Thanks

[2020-10-15 02:27] hstan77 commented on #4403
Add on of addition support to storage will increase popularity of user choose specific software to implement.  And when the popularity of software increase, hardware vendor will more willing to support for the software.

The future trend of Storage of Cloud Ecosystem is more direct to SDS, software define storage,  yet I am seeing Cloudstack SDS support is somehow  less,  Linstor is one of it, and

[2020-10-15 17:29] andrijapanicsb commented on #4403
I'm just sharing how it really works, in practice :)
I can tell you most users use stable, proven, 20y old technologies, like iSCSI, NFS
Some are on Ceph, some on SolidFire
I'm talking about BIG users.

Every addition is most welcome, but that usualy needs to be done by investing many hours (which, let's face it, translates to many $$$ since time=money)

If you have someone at Linstore, let him jo

[2020-10-16 09:02] andrijapanicsb commented on #4402
rules can't take multiple CIDRs as parameter value - please see the UI/API - at least - afaik

The original issue described here should be confirmed by someone else as well - it's a serious one IMO, even would consider it a blocked issue myself if true.

cc @Spaceman1984 @rhtyd

[2020-10-16 11:16] rvalle commented on #4402
@andrijapanicsb I check the API spec and they take a list.

Also, Ansible modules have been built matching the API, taking lists is been tested too.

[2020-10-19 07:39] rhtyd commented on #4337
We couldn't reproduce after 94+hrs:
![Screenshot from 2020-10-19 13-06-02](https://user-images.githubusercontent.com/95203/96415439-3a2f0680-120c-11eb-92e8-7a270a0c3303.png)

The issue was seen from pkgs of a specific PR and not master. With https://github.com/apache/cloudstack/pull/4407 fix ^^, based on this I'll close this issue. Let's reopen and re-investigate if it happens again.

[2020-10-19 07:39] #4337 closed

[2020-10-20 07:01] Spaceman1984 commented on #3559
Creating a snapshot is an asynchronous process,

The expected result is that the files should be cleaned when the process times out. I'm not sure if this is the safest solution.

At the point that the timeout occurs, Cloudstack doesn't make any assumptions that the process will eventually complete. It simply cleans up the DB. A timeout is there to prevent waiting for a process forever.

I think th

[2020-10-20 07:42] Spaceman1984 commented on #3392
@rhtyd what do you mean by "preparing templates"? Is this the process of adding an image template to Cloudstack and then the secondary storage agent does the download?

Would that then mean that a dedicated host should not have the system VMs running on it?

[2020-10-20 08:09] ravening commented on #4146
@shwstppr usually in our production environments, mgt server doesnt have ssh access to any of the VM's. So how do I fix the issue in that case?

[2020-10-20 09:27] andrijapanicsb commented on #3559
We should clean our junk on any failures - simple as that - no excuses...
(i.e. we do cleanup VM if the live migration/storage migration doesn't happen within the timeouts period)

[2020-10-20 10:08] DaanHoogland commented on #4098
fixed by #4097

[2020-10-20 10:08] #4098 closed

[2020-10-20 11:19] #4355 closed

[2020-10-22 07:30] rhtyd commented on #3392
refer prepareTemplate API

[2020-10-22 07:33] rhtyd commented on #4344
cc @PaulAngus @harikrishna-patnala can you revisit this and close this if we're going to not support this. We may also like to remove support for disk controller in VM/template details in UI/API.

[2020-10-22 07:41] andrijapanicsb opened #4419 "Sensitive info when failure on attaching a deleted/recovered volume"
VMware, master

WHen a volume is deleted, then recovered - there is an issue attaching a volume (@weizhouapache didn't you work on a PR for allowing delete/expunge vs. just deletting a volume? perhaps you can advise here?) - sensitive info is sent by the backend and displayed in UI:

![image](https://user-images.githubusercontent.com/45762285/96840368-a39c5880-144a-11eb-9d1e-3f4683cbedd3.png)

The

[2020-10-22 07:43] andrijapanicsb commented on #4419
cc @DaanHoogland - FYI

[2020-10-22 09:02] borisstoyanov opened #4421 "migratevmwithvolume api migrates both disks when you point just one of them"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### OS / ENVIRONMENT

VMware

##### SUMMARY

##### STEPS TO REPRODUCE

[code]
API call:
`(localcloud) SBCM5> > migrate virtualmachinewithvolume virtualmachineid=bb8468ad-53cd-4e32-8ef7-50e05e1003e5 hostid=942c54bf-4252-4562-b24f-98a4a9536769 migrateto[0].volume=e1024f5f-474d-4331-9be6-8992774101e7 mi

[2020-10-22 09:12] shwstppr commented on #4421
@borisstoyanov just confirming, the destination host where VM was migrated had access to storage pool of volume that shouldn't be migrated?

[2020-10-22 10:46] borisstoyanov commented on #4421
Yes, I've reproduced this with hosts/storage on the same cluster, also with cluster vs zone scope storage. Doesn't seem to matter.

[2020-10-23 07:37] RRadziejewski opened #4423 "Adding a cluster"
Hello,

I am trying to add a cluster into my apache cloudstack 4.14
I have v center vSphere Client version 7.0.1.00000

When adding i have following error:

This cluster null belongs to vCenter https. But this zone is associated with VMware DC from vCenter vcenter.cloud.xxx.com Make sure the cluster being added belongs to vCenter vcenter.cloud.xxx.com and VMware DC XXX XXX

[2020-10-23 11:00] rhtyd commented on #4204
Doc PR merged - https://github.com/apache/cloudstack-documentation/pull/165

[2020-10-23 11:00] #4204 closed

[2020-10-23 13:51] mkriegs commented on #4423
AS far i know its not Supported in this version of cs.
There is PR for 4.16. allready. https://github.com/apache/cloudstack/pull/4300
The SDK is Missing in your version and lots of Things chanced in 7.0 agains 6.7.

[2020-10-23 19:34] rhtyd commented on #4423
That's correct, vSphere7 support will be added in future version.

[2020-10-23 19:53] #4095 closed

[2020-10-24 11:08] #4371 closed

[2020-10-27 10:46] ravening commented on #4357
how about acquiring the ip but not assigning to any vm? since its already in allocated state, it wont be considered for future vm assignment

[2020-10-27 12:30] DennisKonrad opened #4431 "Maven noredist build option broken"
Hi,

the following build option used to work but doesn't right now:

mvn install -Dnoredist -P developer,systemvm

Removing the noredist build option makes it work again but I think it should also work with noredist.
I'm suspecting a recent merge for breaking the option:
https://github.com/apache/cloudstack/pull/4307

##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
maven build infrastructure

[2020-10-27 13:46] DaanHoogland commented on #4431
@DennisKonrad did you install the non-redistributable requisites? there was (at least) one from vmware added

[2020-10-28 01:26] div8cn opened #4433 "Failed to create VOLUME from snapshot"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7.7 KVM QEMU 2.12.0,libvirt 4.5.0
Ceph 14.2.10

##### SUMMARY

snapshot.backup.to.secondary=false
kvm.snapshot.enabled=true

When creating a new VOLUME through a VOLUME snapshot,
Only the first snapshot of each VOLUME is successful;
No other snapshots

[2020-10-28 05:21] Utkarsh2524992 commented on #3577
Hey! Did you find any solution to this error?

[2020-10-28 08:51] Spaceman1984 commented on #4402
Tested the original issue -

I created a VPC with 3 tiers - Management, Service and NoACL - The third one had no ACL list specified.

I was able to ping google.com from VMs running on all 3 tiers. ( This is the bug )

Adding a deny rule on 0.0.0.0/0 blocked outgoing traffic.

[2020-10-28 09:31] DennisKonrad commented on #4431
Yes I did, it complains about about not beeing able to resolve dependency for vmware-pbm and vmware-vim25 version 6.7. But installing those like shown below doesn't work.

mvn install:install-file -Dfile=pbm_67.jar    -DgroupId=com.cloud.com.vmware -DartifactId=vmware-pbm     -Dversion=6.7   -Dpackaging=jar
mvn install:install-file -Dfile=vim25_67.jar  -DgroupId=com.cloud.com.vmware -DartifactId=v

[2020-10-28 09:58] DaanHoogland commented on #4431
ok, that is not good, however I have seen al lot of colleagues use it and the integration tests work as well, so I still kind of think it is an environmental issue. can you check your ~/.m2/repository/com/cloud dir for the contents?

[2020-10-28 10:05] DennisKonrad commented on #4431
Both folders are there and contain their files. I'll double check for problems in the environment as you state integration tests are working.

[2020-10-28 10:24] rhtyd commented on #3255
@DaanHoogland I've at least added this in the 4.15 release/docs, see - https://github.com/apache/cloudstack-documentation/pull/146/files

[2020-10-28 10:25] rhtyd commented on #3255
@DaanHoogland ...cont -I think we can keep this open for now, I've also written an email to trilead developers to see if they can find time to address this. Longer term we probably want to revisit the whole SshHelper class and move to a new/modern library.

[2020-10-28 11:41] DennisKonrad commented on #4431
Maybe you can give me a hint were to look. Even when installing all of the non oss packages I'm getting this error message:

[ERROR] Failed to execute goal on project cloud-vmware-base: Could not resolve dependencies for project org.apache.cloudstack:cloud-vmware-base:jar:4.15.0.0-SNAPSHOT: The following artifacts could not be resolved: com.cloud.com.vmware:vmware-vim25:jar:6.7, com.cloud.com.vmwa

[2020-10-28 11:48] rvalle commented on #4402
Thanks @Spaceman1984.

[2020-10-28 11:54] andrijapanicsb commented on #4402
Please see docs before confirming an issue @Spaceman1984
http://docs.cloudstack.apache.org/en/latest/adminguide/networking/virtual_private_cloud_config.html?highlight=acl#about-network-acl-lists

Specifically:

`The default Network ACL is used when no ACL is associated. Default behavior is all the incoming traffic is blocked and outgoing traffic is allowed from the tiers...:`

With this in mind ^^

[2020-10-28 13:17] DaanHoogland commented on #4431
@DennisKonrad that message means that there is no local copy and maven is trying to download it. It shouldn't if it finds it in your cache. Can you double check the jar for validity? (and the pom as well, btw)

[2020-10-28 13:42] rvalle commented on #4402
@Spaceman1984 yes, @andrijapanicsb is right.

You can add a single egress rule to your setup, which should imply that the allow all out by default stops. then you can validate.

@andrijapanicsb I cannot comment on previous ACS versions, I joined the party late !

I agree with you in which I do not like the original specification: i.e. after adding one rule the default policy changes. I don't like

[2020-10-28 15:49] nvazquez commented on #4433
I was able to reproduce on NFS storage pool, and the same setting values.

[code]

The `KVMStorageProcessor` is expecting a path but its null.

DB:
![image](https://user-images.githubusercontent.com/5295080/97460956-0050b500-191c-11eb-9bb7-c9449db9cde2.png)

I've created 2 snapshots, both of them have null path but the first worked and second failed

[2020-10-28 17:17] RRadziejewski opened #4434 "Adding kubernetes version failed"
Hello i am running cloudstack 4.14 and trying to create kubernetes version however this is not working

When running command:
/usr/share/cloudstack-common/scripts/util/create-kubernetes-binaries-iso.sh k8s/ 1.16.3 0.7.1 1.12.0 "https://cloud.weave.works/k8s/net?k8s-version=1.12.5" https://raw.githubusercontent.com/kubernetes/dashboard/v2.0.0-beta1/aio/deploy/recommended.yaml

i get error:
/usr/sha

[2020-10-28 18:12] DaanHoogland commented on #4191
addressed in #4193 , closing

[2020-10-28 18:12] #4191 closed

[2020-10-28 18:45] DaanHoogland commented on #2890
@rhtyd closing as this is two years old this weekend and #2890

[2020-10-28 18:45] #2890 closed

[2020-10-28 18:49] DaanHoogland commented on #3471
@kioie, is this still an issue?

[2020-10-28 18:52] DaanHoogland commented on #3552
@borisstoyanov has this slipped between the cracks, or is it no longer an issue? (cc @rhtyd )

[2020-10-28 18:52] DaanHoogland commented on #2885
@bdonnahue are you addressing this? or shall i close the issue?

[2020-10-28 18:53] DaanHoogland commented on #2885
@bdonnahue are you addressing this? or shall i close the issue? or mark it for milestone 5.0?

[2020-10-28 19:05] DaanHoogland commented on #3035
@bwsw is still ongoing?

[2020-10-28 19:14] DaanHoogland commented on #3561
@borisstoyanov @onitake is this issue still needed?

[2020-10-28 19:15] DaanHoogland commented on #3568
@wido , does #3639 solve this issue?

[2020-10-28 19:39] GabrielBrascher commented on #3561
Maybe this issue has something to do with https://github.com/apache/cloudstack/pull/4257?

[2020-10-29 03:58] shwstppr commented on #4434
@RRadziejewski script is not being able to create iso at given location `k8s/`. Please use complete path for the output directory or use `./k8s` if you are running script from parent directory.
For download.cloudstack.org links, it seems you have restricted Internet access in your environment as above link seems to be working fine.

[2020-10-29 07:59] RRadziejewski commented on #4434
Any idea how to allow internec access? i don't know how to do it because i am unable to wget this iso via wget from server terminal.

[2020-10-29 08:10] RRadziejewski commented on #4434
Okey i finally created version but how to add it via api ?  There should be something like add kubernetessupportedversion
but how to use it

[2020-10-29 08:12] rhtyd commented on #3757
Maybe we can live with a weekly or monthly cronjob that checks and clears old files (ls/stat etc. to determine list of files older than week or month).

[2020-10-29 08:15] rhtyd commented on #3548
@Pearl1594 is this still an issue with new secondary storage changes? cc @Spaceman1984

[2020-10-29 08:17] RRadziejewski commented on #4434
<img width="605" alt="chrome_2020-10-29_09-16-33" src="https://user-images.githubusercontent.com/32438378/97542708-85dd6f00-19c7-11eb-9bc4-d73e436b0439.png">

[2020-10-29 08:17] rhtyd commented on #3290
This is a very corner case indeed and can be closed I think. @borisstoyanov do you agree?

[2020-10-29 08:18] RRadziejewski commented on #4434
If i have it locally on my server under /root/k8s/setups.iso how do i add it ?

[2020-10-29 08:22] borisstoyanov commented on #3290
I'm not happy with us simply closing it, it is a corner case, but the least, we can keep it open until there's time to address it. It will also be more visible to community if someone  hits it.

[2020-10-29 08:26] Pearl1594 commented on #3548
@rhtyd I haven't noticed anything odd wrt the install path of sytemvm templates, the install_path in template_store_ref table seemed to be correct.
I think when the systemvm template is registered as root admin - the path is template/tmpl/2/<template_id>/...

[2020-10-29 08:27] RRadziejewski commented on #4434
File:// type urls are currently unsupported

[2020-10-29 08:46] DaanHoogland commented on #3757
How about a trigger to delete from the MS and implementing a clean from there in the internal scheduler or from cron using cloudmonkey.

[2020-10-29 08:51] RRadziejewski commented on #4434
How to use cloudmonkey behind a proxy ??

[2020-10-29 08:55] shwstppr commented on #4434
@RRadziejewski For adding k8s version ISO, you will need to provide http url for your ISO file. If your environment is deployed is a way to prevent access to Internet. You can run Apache webserver locally to register templates and ISOs.

For cloudmonkey proxy support, check https://github.com/apache/cloudstack-cloudmonkey/commit/98fa4934c20a2de8d57d206e8cebe12a9eb338ba

Since the questions and iss

[2020-10-29 08:55] RRadziejewski commented on #4434
I've read about running HTTP_PROXY="x" HTTPS_PROXY="x" ./cmk But still templates iso states connection refused

[2020-10-29 08:58] DaanHoogland commented on #3290
ok, moving to 4.16 and keeping open till fixed (or disproven)

[2020-10-29 09:17] shwstppr commented on #4434
@RRadziejewski Problem is not with cloudmonkey. You should check your SSVM. See if it can ping any external IP. You can get the option for running diagnostic tools in VM view for system VMs (Infrastructure -> System VMs -> SSVM -> Run diagnostics).
http://docs.cloudstack.apache.org/en/latest/adminguide/systemvm.html#secondary-storage-vm

[2020-10-29 10:38] DennisKonrad commented on #4431
@DennisKonrad As I'm installing the dependencies manually before trying to compile there should be a local copy.

I checked and it does install the jar but append ".lastUpdated". I tried different things to counter this but until now to no effect.
Do you now how to fix this?

[2020-10-29 10:41] RRadziejewski commented on #4434
Okay i cannot ping anything external how can i fix it ? What are default credentials to ssvm ?

[2020-10-29 10:41] RRadziejewski commented on #4434
Thank you by the way for help you are really helpfull with getting me into cloudstack

[2020-10-29 10:48] RRadziejewski commented on #4434
So i have logged in to ssvm exported http_proxy and https_proxy i am able to curl http://download.cloudstack.org/cks/setup-1.16.3.iso  but still connection refused on zone

[2020-10-29 10:53] RRadziejewski commented on #4434
(localcloud) 🐱 > add kubernetessupportedversion name=k8s1.16 semanticversion=1.16.3 url=http://download.cloudstack.org/cks/setup-1.16.3.iso mincpunumber=2 minmemory=2048
{
  "kubernetessupportedversion": {
    "id": "c2e39b52-de54-4c61-ae67-3455b7f612bf",
    "isoid": "7530c677-0499-4558-91e7-9cf59ba3227b",
    "isoname": "k8s1.16-Kubernetes-Binaries-ISO",
    "isostate": "Creating",
    "mincpunu

[2020-10-29 11:07] RRadziejewski commented on #4434
How to configure http_proxy for ssvm or management server ? Maybe zone needs some update or network configuration inside zone let's say storage network ? Plesae help

[2020-10-29 11:19] RRadziejewski commented on #4434
i can curl google.com fro mgmt and from ssvm but still connection refused when adding kubernetes version

[2020-10-29 11:43] DaanHoogland commented on #4431
not sure @DaanHoogland ;)
i think you need to clear the `com.cloud` package dir and reinstall all, or at least dirs for the ones with the `.lastUpdated` extensions

[2020-10-29 16:38] wido commented on #3568
Yes @DaanHoogland , it does. I will close this one.

[2020-10-29 16:38] #3568 closed

[2020-10-30 08:07] #4157 closed

[2020-10-30 13:10] DaanHoogland commented on #4431
any resolution yet @DennisKonrad ?

[2020-11-01 19:03] hstan77 commented on #4357
If temporary solution, may be it can, or just assign to another dummy vm.

But that is not a proper way / formal way of doing.

[2020-11-02 08:40] #4310 closed

[2020-11-02 08:40] rhtyd commented on #4421
cc @Spaceman1984

[2020-11-02 08:41] rhtyd commented on #4419
cc @Spaceman1984

[2020-11-02 08:42] rhtyd commented on #4358
@alexandremattioli can you check and close the bug if it was env issue, or provide details/steps on how to reproduce it? Thanks

[2020-11-02 08:43] rhtyd commented on #4146
For the current model of implementation we expect mgmt server to be able to ssh/have access to the cks/k8s nodes; the feature cannot be supported with an agent or other approches which may not require mgmt server to ssh to the nodes. I'm removing the 4.15.0.0 milestone as such an approach may require a lot of rework @ravening - also any design docs on a new approach as well as PRs are welcome.

[2020-11-02 08:45] rhtyd commented on #4206
This will require a bit of work to see what can be supported (in code) and what can be improved/fixed in docs without causing backward compatibility issues. Given the code freeze, I'm it moving to 4.16 milestone.

[2020-11-02 08:47] rhtyd commented on #3505
@luhaijiao can you test against latest 4.14.0.0 or master? Thanks

[2020-11-02 08:50] rhtyd commented on #4433
@nvazquez can you advise steps on fixing this to @Spaceman1984 ? Thanks

[2020-11-02 12:53] div8cn commented on #4433
We have tested the same problem in 4.14.0.0.

Now we have changed the operating architecture:

1. We run keepalived in each management node and generate a VIP
2. All kvm agents connect to VIP

Now the cluster is running well
When the master management node is powered off, KVM AGENT can quickly restore the connection.

[2020-11-02 12:54] rvalle commented on #4310
many thanks @Spaceman1984

[2020-11-02 12:59] Spaceman1984 commented on #4310
It's a pleasure to help @rvalle

[2020-11-03 09:20] Spaceman1984 commented on #4358
Seems like that ID is out of range @alexandremattioli according to https://kb.vmware.com/s/article/2075351

[2020-11-03 09:21] Spaceman1984 commented on #4358
I tested according to your steps and I get the error, but I believe this is a limitation not on Cloudstack.

[2020-11-03 14:28] DennisKonrad commented on #4431
It needed a weird combination of removing the `.lastUpdated` jars and doing an offline build (`-o`) and the `-U` flag to get everything in order again. But now it's working.

Oddly the build just broke without someone touching it. Seems the new dependencies were to much for the installation.
I'll go ahead and close this

[2020-11-03 14:28] #4431 closed

[2020-11-04 08:56] DaanHoogland commented on #2996
moving it back to the milestone @rhtyd @PaulAngus @andrijapanicsb

what I read here is that we should remove the documentation part for GRE. (cc @bdonnahue)

[2020-11-04 09:26] DaanHoogland commented on #3448
@huadream have you issues with this and a workaround? nobody else complains about this, so either no one uses quota or it is failing only for you. As you have pinpointed the issue in code, can you submit a PR for fixing it? or alternatively do you think we can close this issue?

[2020-11-04 09:46] DaanHoogland commented on #4295
Any update @rvalle . is this a bug? is there a milestone to add, or a severity label?
tnx

[2020-11-04 09:51] DaanHoogland commented on #4346
sounds like serious but verymuch an edge case.
I would expect
1. a ssvm to be removed by the system if it isn't functional
1. a new ssvm to be created with a new id
2. an extra ssvm not to be a problem in a running system.

have you relyably reproduced this @borisstoyanov?
and can you confirm this is a new issue in current master/4.15?

[2020-11-04 09:53] DaanHoogland commented on #4350
fixed in #4373
can you confirm @levindecaro ?

[2020-11-04 10:01] DaanHoogland commented on #3934
@resmo @dpassante do you have a fix or work around? it seems to me not a serious issue but please correct me on that.
@rhtyd @shwstppr @davidjumani is sort order still used the same way in primate? should the default be -1 instead of 0 for instance?

[2020-11-04 13:07] resmo commented on #3934
@DaanHoogland well, we have to make the previous optional zone argument a required argument in almost all modules. This will break backwards compatibly, which means we make most likely many users angry.

You can call this ""work around" I call it a bad user experience for a "fix" introduced by cloudstack and which should be fixed by cloudstack and not by its clients or users.

[2020-11-04 13:27] weizhouapache commented on #3934
@resmo this workaround should work for you.

[code]
this change will break the ordering of zones if users set sort_key to a non-zero value and use sort_key to order zones. so I will not sure if we can merge this change into 4.14.1.0 or 4.15.0.0

this issue might exists with template, disk offering, service offering, network offering as well.

[2020-11-04 13:59] resmo commented on #3934
@weizhouapache no, this won't work for me.

I am not referring to one single specific installation. I am speaking of the API clients and ansible integration relying on the API to behave predicable and stable, now and in the future. It is not the first time I fixed regressions of the API in API clients and ansible modules.

As a cloudstack apache member, I won't accept we break the API on purpose a

[2020-11-04 14:05] #3448 closed

[2020-11-05 02:53] dukeware opened #4441 "cpvm not support VMware 7.0 console"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

[2020-11-05 08:08] weizhouapache commented on #3934
@resmo I mean the sql change should fix the issue that "zones are returned in random order' of existing environment.
If you do not have your own fork and use the official release, there is no way to make sql change during process managed by ansible, then you have to wait for next official release, which could have a fix for this issue (either this db change or other api/java change).

[2020-11-05 11:20] rvalle commented on #4295
Hi @DaanHoogland

I am sure it is a bug, I can reproduce it on each installation of my test cloud.
Severity is very low, because it can easily be workarounded.
I still have not looked into tracing the code and trying to understand why it is only happening to me and others cannot reproduce it.
I was thinking on testing it on 4.15, but my environment is not yet there.

I would keep this open because

[2020-11-05 11:26] echoidcf opened #4449 "vr_cfg.sh use lots of memory failed to start if there are many firewall rules."
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Vmware

##### OS / ENVIRONMENT

##### SUMMARY

Script writing style in /opt/cloud/bin/vr_cfg.sh in VR will consume HUGE memory if there are more than 1,000 firewall rules.

When VR is restarted, cloudstack will pass a aggregation of JSON files to VR and use vr_cfg.sh to unpack it a

[2020-11-05 12:17] slavkap opened #4450 "Failed to create Guest Network during basic installation"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]

##### SUMMARY

Using the basic installation wizard it's not possible to create a guest network, because the "isolationmethods" are not provided, and an exception is thrown:

`java.lang.IndexOutOfBoundsException: Index 0 out of bounds for length 0

[2020-11-05 13:20] GabrielBrascher commented on #4450
As far as I know, this method is executed only when the network has been created with a VLAN ID, therefore, an isolation method should be provided (e.g. VLAN or VXLAN).

Did you provide any VLAN ID when creating the network?

For reference, this method was added by PR #4190.

[2020-11-05 13:27] GabrielBrascher commented on #4450
@slavkap can you please provide some details so I can reproduce the same operation in order to debug it? Thanks!

[2020-11-05 13:49] slavkap commented on #4450
Thanks @GabrielBrascher
I'm seting up CS with basic network though the installation wizard, and didn't provide VLAN Id, because you're limited in options when using the wizard

![Screenshot from 2020-11-05 15-38-03](https://user-images.githubusercontent.com/51903378/98248806-1d216400-1f7e-11eb-892f-5376eb98a639.png)
![Screenshot from 2020-11-05 15-39-20](https://user-images.githubusercontent.com/5

[2020-11-05 14:03] GabrielBrascher commented on #4450
Thanks @slavkap, I will take another look at this.

[2020-11-05 16:08] DaanHoogland commented on #4441
@dukeware I suppose you mean cloudstack version 4.14.1? it is not released so did you test this with a build of the 4.14 branch?

[2020-11-05 16:12] DaanHoogland commented on #4441
@dukeware just realised that vmware 7 is not supported by cloudstack yet

[2020-11-05 23:51] boospy commented on #4184
Yes same here.

[2020-11-06 08:08] DaanHoogland commented on #3934
I like @weizhouapache 's id to set sort_key to id for all sortable resources, as a quick solution. I do wonder whether they should be sorted in the system at all. The sql would be half of the work, the runtime insertions will need to be implemented like that as well.

[2020-11-06 08:09] DaanHoogland commented on #4350
verified by reported

[2020-11-06 08:09] #4350 closed

[2020-11-06 08:13] DaanHoogland commented on #4295
tnx @rvalle marking it for 4.16 . if we find a quick fix for you we can move it back to older versions.

[2020-11-06 08:18] DaanHoogland commented on #4449
tnx for the report @echoidcf . Are you making a PR for this?  and do you think this style of coding is present at more locations?

[2020-11-06 08:26] resmo commented on #3934
probably misunderstanding, ansible modules as clients interacting wiht API of cloudstack https://galaxy.ansible.com/ngine_io/cloudstack rely on a stable API. Once a cloudstack user upgrades to a newer cloudstack version, all clients, be it an ansible module or a library or a cloudmonkey cli should still work as before unless we, as a cloudstack devs, make the decision to break the API. That is wha

[2020-11-06 08:28] resmo commented on #3934
also see #2735 for another example of breaking the API

[2020-11-06 08:33] rhtyd commented on #4449
This explains why read line is slow (https://stackoverflow.com/questions/13762625/bash-while-read-loop-extremely-slow-compared-to-cat-why); we can explore - https://stackoverflow.com/questions/4642191/read-line-by-line-in-bash-script

[2020-11-06 08:34] resmo commented on #3934
@weizhouapache if this is fixed in any near future release, I would be happy.

[2020-11-06 09:00] DaanHoogland commented on #4449
@echoidcf I added the PR for you as it is quite simple. Do you have any test results that proof this will help you, as in my understanding the amount of memory consumed in both variations won't differ much.

Also please see #4451 to check if this is the change you are suggesting.

[2020-11-06 09:01] rhtyd commented on #4441
Vmware 7.0 is not supported yet

[2020-11-06 09:18] rhtyd commented on #4358
@Spaceman1984 can you discuss with @alexandremattioli and @PaulAngus and change the tags to new-feature if this is a CloudStack limitations (known/unknown?).

[2020-11-06 09:33] #3756 closed

[2020-11-06 10:38] DaanHoogland commented on #4184
trivial, marking for 4.16

[2020-11-09 07:47] slavkap commented on #4450
I could fix this issue, but I'm not very familiar with this part of CloudStack. Do we have to provide isolation method for basic network? For basic network the vlanId has to be null according to the code, and encodeVlanIdIntoBroadcastUri() will be executed
[code]
or only we need to check that the list is empty when encoding the vlan
`        if(StringUtils.isNotBlank(pNtwk.getIsolationMethods().ge

[2020-11-09 13:54] alexandru-bagu opened #4454 "VPC SourceNat with Port Forwarding"
I am wondering why the VPC network cannot offer both SNAT and PortForwarding. At the moment the VPC offering must be "Non Conserve". A network being "non conserve" means only one service type is allowed to be enabled at any one point. The issue is while Port Forward might be considered a separate service than Source Nat I do not see why a VPC network cannot do both at the same time. I tracked the

[2020-11-09 14:27] Spaceman1984 commented on #4358
I propose we move this to 4.16 and to make this a small new feature.

If you are using a dvSwitch and want to do VLAN trunking, a second range parameter is required. In the UI we will need a checkbox and a start and end ID.

Otherwise, a temporary and imperfect fix would be to just trunk all ids if 4095 is sent.

Would you guys agree? @alexandremattioli @PaulAngus

[2020-11-09 14:32] DaanHoogland commented on #4454
@alexandru-bagu I could only imagine that unpredictable conflicts may arise from binds on forwarded ports choosing ports in use by an outgoing connection, or so. I think you are right and it could work in principle. cc @andrijapanicsb @PaulAngus ?

[2020-11-09 20:38] Lucasgranet opened #4455 "Cannot start ASC 4.15-SNAPSHOT on CentOS 8.2"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Built on a CentOS8.2 (up to date) - Deployed on a CentOS8.2 (up to date)

##### OS / ENVIRONMENT

##### SUMMARY

I cannot start ASC 4.15-SNAPSHOT on a CentOS8.2.

- I have already start ASC 4.15 on C8. I wanted to fetch last updates to start a new cluster but a SSL connection canno

[2020-11-10 15:16] DaanHoogland commented on #4455
@PaulAngus the type labels use dashes and not underscores!

[2020-11-10 15:30] alexandru-bagu commented on #4454
Any service that relies on the source nat ip would create a conflict like the VPN that can be setup with one click.  However that should not restrict it's usage. Unless the system is intended to be idiot-proof the possible conflicts should not prevent other proper uses. At the moment the public ip used for source-nat is somewhat wasted because it can be used for only vpn (or other pre-defined serv

[2020-11-10 15:32] DaanHoogland commented on #4455
ACS doesn't support centos 8.2 yet, @Lucasgranet . I think there is work underway in some pull request.

[2020-11-10 15:56] DaanHoogland commented on #4454
Ad 2: yes, for sure.

[2020-11-11 08:00] weizhouapache opened #4460 "Different format in HostResponse and HostForMigrationResponse"
The value of memoryallocated in the output of listhosts and findhostformigration are different.
[code]

find host for migration
[code]

they should be same.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULT

[2020-11-11 08:11] weizhouapache commented on #4460
this is regression of commit 09de5e0b51d1cd0e1d84eef120ae48358300fdcd

[2020-11-11 11:10] borisstoyanov commented on #4052
with latests master installed from nightly I can still see this
![Screenshot 2020-11-11 at 13 09 39](https://user-images.githubusercontent.com/13551960/98804728-36fbf480-241f-11eb-9230-738f836ff97e.png)

[2020-11-11 11:10] borisstoyanov commented on #4052
this is cloudstack-primate-1.0.0-20201110.x86_64.rpm

[2020-11-11 11:21] borisstoyanov opened #4462 "restore vm does not attach back data disks"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

data disks are left detached

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2020-11-11 11:22] weizhouapache commented on #4052
@rhtyd @borisstoyanov
I think this works fine in old UI, why remove it from Primate ?

[2020-11-11 12:13] DaanHoogland commented on #4462
@borisstoyanov any idea if this is a regression or a 'missing feature'?

[2020-11-11 12:19] borisstoyanov commented on #4136
@rhtyd @davidjumani @andrijapanicsb, I've managed to reproduce this after upgrading to 4.15 master.

[2020-11-11 12:19] borisstoyanov commented on #4136
I had to clear session id from cookies and then it worked.

[2020-11-11 12:53] weizhouapache commented on #4462
@borisstoyanov
I tested with 4.14 and cannot reproduce the issue.
what env do you use ?

[2020-11-11 12:55] DaanHoogland commented on #4136
@borisstoyanov to be clear; You did reproduce this with primate, did you?

[2020-11-11 12:57] DaanHoogland commented on #4462
@weizhouapache that would answer my question, @borisstoyanov reported 4.15 (master)

[2020-11-11 13:35] rhtyd commented on #4136
@borisstoyanov is that login issue in Primate or old UI? Did it work in incognito mode vs your usual browser?

[2020-11-11 13:35] rhtyd commented on #4136
@Pearl1594 can you discuss with Bobby and look into why cookies are not getting cleared/removed? In latest old UI code, we call logout that would destroy all old cookies, before we log in.

[2020-11-11 19:34] GabrielBrascher commented on #4450
@slavkap both options look good, I would go for checking if it is not empty therefore in case of empty the code does not change the execution flow..

Regarding the basic network question; the basic network is particular by not providing any isolation method, it considers simply a range of (public) IPs provided with no isolation at all.

Note that the Basic network shall be deprecated in the medium

[2020-11-11 19:38] hstan77 opened #4463 "IPv6 Subnet Support for AdvanceZone NAT"
##### ISSUE TYPE

 * Feature Idea

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2020-11-11 19:51] slavkap commented on #4450
Thanks @GabrielBrascher! I will do the fix to check if it's not empty. It has to be pushed on branch 4.13? Maybe I have to think about switching to Advance network on my dev. environment

[2020-11-12 03:07] GabrielBrascher commented on #4450
@slavkap pushing it into 4.13 sounds good.

[2020-11-12 08:12] borisstoyanov commented on #4052
@weizhouapache while it is working good in majority of cases, this is something that should be set on a service offering level, it's simply not in the right place.

[2020-11-12 08:40] weizhouapache commented on #4052
@borisstoyanov  what you said is an option to change a network to redundant.

makeredundant is an optional parameter of restartnetwork. it would be better to support it on Primate UI.

[code]

[2020-11-12 08:44] borisstoyanov commented on #4052
yes @weizhouapache, what I mean is not just the UI but this API shouldn't be there at all. Cloudstack uses offering model to set limits on the resources it gives to users. So if a user wants to have a redundant VR he should have such offering, simply changing that with a VR restart is in conflict with this model.

[2020-11-12 08:45] borisstoyanov commented on #4052
![Screenshot 2020-11-12 at 10 44 55](https://user-images.githubusercontent.com/13551960/98916674-1cd01e00-24d4-11eb-8a1d-c1b3471504ec.png)
As you see this seems to be available to users as well which is not really great.

[2020-11-12 09:06] weizhouapache commented on #4052
yeah. however we have used that feature for years.
so if you want to change it, could you add a global setting to enable/disable the feature to keep backwards compatibility ?

[2020-11-12 09:13] borisstoyanov commented on #4052
We've discussed previously that we'll simply remove it from UI for now as first step, but it's still going to be there in cmk. Does this work for you @weizhouapache ?

[2020-11-12 12:10] nlindblo opened #4468 "RabbitMQ event message for VM.CREATE and VM.DESTROY events can't be parsed cleanly."
This issue was already reported 5 years ago in https://issues.apache.org/jira/browse/CLOUDSTACK-8680 , but appears to not have been addressed. RabbitMQ message still comes through as json that is not correctly formatted

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION
Cloudstack 4.14 on Ubuntu 16.04, RabbitMQ 3.8.7

##### OS / ENVIRONMEN

[2020-11-12 12:30] DaanHoogland commented on #4468
ad 1) in the above the escapes of the '"' are lost
ad 2) the string for the url is actually not closed with a '"', which might be the root cause of this issue.

[2020-11-12 12:44] nlindblo commented on #4468
Is there anywhere I can fix the output on the Cloudstack side as a workaround, or do I need to wait for the bug to be fixed and released ?

[2020-11-12 12:48] DaanHoogland commented on #4468
I'm not sure what a fix will be (yet), so cannot tell when it'll be merged. As for fixing the output, that would be extracting the "jobResult" value and fixing it. so checking if it starts with an unterminated string and inserting a double quote at the right spot.

[2020-11-12 12:58] DaanHoogland commented on #4285
@Spaceman1984 , @echoidcf  is this issue addressed fully with above PR?

[2020-11-12 13:05] DaanHoogland commented on #3784
retsting again as it finds no traction, will close and open a new one if it costs any effort to reproduce.

[2020-11-12 13:26] DaanHoogland commented on #4421
@borisstoyanov what is your expectation of the 'non'-migrated disks? should these still be attached? how about cross cluster migrations? is it even allowed to migrate with less than all disks?

[2020-11-12 13:29] DaanHoogland commented on #4346
sounds like could be related to #3784 will test this scenario in the same env (probably just the same test with a longer timeout.

[2020-11-12 13:32] DaanHoogland commented on #4419
@andrijapanicsb why is the path sensitive? to my knowledge authorisation of the user had already been done when this error occurs? is the user not allowed to know where their disks reside?

[2020-11-12 14:34] #4285 closed

[2020-11-12 15:00] DaanHoogland commented on #4234
as stated by @weizhouapache in that PR, it needs more love

[2020-11-12 15:06] andrijapanicsb commented on #4419
@DaanHoogland I'm sure you are not saying that an average joe ("user" role) is allowed to learn your internal IPs (and internal VM name?)

[2020-11-12 15:40] weizhouapache commented on #4052
@borisstoyanov thanks for your explanation. could you give me a link about the discussion ? thanks !

[2020-11-12 15:42] weizhouapache commented on #4234
yes. I am currently testing vpc in 4.14/4.15 and fixed some issues.
I will create pr when all are tested ok.

[2020-11-12 15:46] DaanHoogland commented on #4419
ah, the ip i missed, sure . just don't see harm in the internal name

[2020-11-13 07:06] borisstoyanov commented on #4052
it's just this issue, not sure if there's anything in the primate repo.

[2020-11-13 08:32] borisstoyanov commented on #4462
Sounds to me as a bug to the restore functionality. Further if @weizhouapache cannot reproduce in 4.14 maybe it's a regerssion, since I've tested with latest Master.

[2020-11-13 08:42] DaanHoogland commented on #3784
tested on latest healthcheck build, stopped and started the host that contained cpvm out of bound. no problem found

[2020-11-13 08:42] #3784 closed

[2020-11-13 08:51] DaanHoogland commented on #4346
@borisstoyanov i ran this test but no new ssvm was automatically started and as I registered a template while the ost was down, as soon as it came up the ssvm was functional again and the template got installed.
Can you add details or close , please?

[2020-11-13 17:15] lmhetz commented on #4347
I have a question for ravening, I have been trying to get the advanced zone docker working, and it tells me the repository does not exist.
What is the appropriate mailing list?

[2020-11-16 11:30] nvazquez opened #4470 "[Investigation] Templates/ISOs are not removed but marked as Inactive"
Probably not an issue, but worth investigating the reason why templates/ISOs are not deleted in database (the removed column stays NULL) after deleting a template/ISO. The ticket is raised after some doubts on the reviews of PR #4047

##### ISSUE TYPE
 * Other

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Deleting

[2020-11-16 12:58] DaanHoogland commented on #4158
I haven't taken the trouble of upgrading but on a vmware 6.7 ACS 4.14 env:
[code]
I wonder how an upgrade could have caused this. I don't think the vmware version has any influence.
Can you check your upgraded db scheme against a fresh install?

[2020-11-16 14:05] samzehnder opened #4472 "Configurable hotadd feature in vSphere 6.7"
##### ISSUE TYPE
 * Improvement Request
 * Enhancement Request
 * Feature Idea

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

~~6.14~~ , I suppose 4.14 is meant here, but new features are not implemented on released versions, so this will be 4.15, probably.

##### CONFIGURATION

vSphere 6.7

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Some virtual machines should not be configured with h

[2020-11-16 14:40] DaanHoogland commented on #4472
@PaulAngus @andrijapanicsb care to discuss?

[2020-11-17 04:00] hstan77 opened #4474 "Cloudstack Agent SetMonitorServiceCommand"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advance Network, with SG

##### OS / ENVIRONMENT

Ubuntu 18.04

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2020-11-17 08:22] VincentHermes commented on #4155
Sorry for the long waiting time. I just stumbled over this problem again.

So this is what I did:

Logging in as this account (domain-admin) (limit 16 cpus):
![accountview](https://user-images.githubusercontent.com/58519110/99362722-1f57bc80-28b4-11eb-9c41-434abb96d208.png)

Into this Domain (limit 16 cpus):
![domainview](https://user-images.githubusercontent.com/58519110/99362741-254d9d80-28b4-11

[2020-11-17 09:44] DaanHoogland commented on #4474
@hstan77 can you reproduce this on other hypervisor and cloudstack versions?
can you add your libvirt / qemu versions here?

@weizhouapache @andrijapanicsb sounds familiar?

[2020-11-17 10:36] hstan77 commented on #4474
HI

I am running on Ubuntu 18.04, Cloudstack 4.14 ,
libvirt version: 4.0.0, package: 1ubuntu8.17 (Marc Deslauriers

Yes, Hypervisor is KVM.

[2020-11-17 13:49] alexandru-bagu commented on #4454
What would the guidelines be for creating a pull request for this? Can someone tell me if, at least for the API side, it's enough to modify the function `public boolean canIpUsedForNonConserveService(PublicIp ip, Service service)`? I will assume no and I guess I will become clear during development. Even so, maybe someone can point out possible issues that might arise so that I can test them too?

[2020-11-17 14:18] DaanHoogland commented on #4454
@alexandru-bagu I'm sure I'm going to forget a lot of issues but one thing to keep in mind is that source nat is for all of the VPC. Portforwarding would be for a specific VM on a specific client net, unless you are load-balancing! in which case it is a bit more complicated. a lot of scenarios to test there. (sorry for kicking in open doors).

If you speak of guideline it is that the feature must

[2020-11-17 19:24] weizhouapache commented on #4155
@VincentHermes is global setting `resource.count.running.vms.only` true or false ?

this issue seems to because there is no resource limit check when change vm setting 'cpuNumber'.

if `resource.count.running.vms.only` is `true`, resource limit will be checked when start the vm, so it is not a problem.
if `resource.count.running.vms.only` is `false`, vm will be started without exception.

[2020-11-18 07:34] Spaceman1984 commented on #4421
Taking a look

[2020-11-18 08:02] harikrishna-patnala commented on #4421
@borisroman @DaanHoogland
I think the reason for this behaviour is the Volume is tried to migrate to a storage pool (vvol5-zone) which is at zone level.
I observed the following from and code and also tested
All the volumes will be migrated to target storage pool (even though not all volumes are selected to migrate)
  1. if the target storage pool is with Zone scope
  2. if the target storage pool

[2020-11-18 08:12] Spaceman1984 commented on #4421
Should we close this issue as expected behavior?

[2020-11-18 08:44] borisstoyanov commented on #4421
@harikrishna-patnala this is not acceptable since we end up with inconsistency between VMware and Cloudstack. As you see in vCenter the volumes are on vvol5, but Cloudstack shows one of the volumes on vvol5 and the other on vvlo4.
I'm pretty sure if you try to do something with that volume will result in failure since cloudstack will not find it.

[2020-11-18 08:46] rhtyd commented on #3017
ping @nvazquez is this applicable for old console proxy or the new novnc?

[2020-11-18 08:49] rhtyd commented on #4125
is this merged and can be closed @GabrielBrascher ?

[2020-11-18 08:53] rhtyd commented on #4421
@borisstoyanov do you think the severity should be bumped for this issue?

[2020-11-18 08:57] DaanHoogland commented on #3017
@rhtyd this tickets dates pre-novnc merge (june 2019)

[2020-11-18 09:04] borisstoyanov commented on #4421
yes, thanks @rhtyd

[2020-11-18 09:17] harikrishna-patnala commented on #4421
@borisroman I thought you identified some problem in choosing the storage pools by management server. I've got the issue now being inconsistency with storage pool mapping between CloudStack and vCenter. I'll have a look.

[2020-11-18 09:44] davidjumani commented on #3017
@nvazquez Able to enter '/' while my local keyboard as well as the console keyboard is set to FR
![Screenshot from 2020-11-18 15-12-55](https://user-images.githubusercontent.com/8244774/99513451-aa1de180-29b0-11eb-8fe1-f818d8e939ba.png)

[2020-11-18 11:42] nvazquez commented on #3017
This was applicable for the old console proxy. Thanks @davidjumani, looks like we can close this issue

[2020-11-18 11:42] #3017 closed

[2020-11-18 12:07] #3392 closed

[2020-11-18 13:32] GabrielBrascher commented on #4125
@rhtyd @DaanHoogland I am not sure if this issue should be closed. The problem still exists but we applied workarounds by not using this API command.

My proposal then would be to close this issue and start a discussion (or open a new issue) to verify the need to deprecate the command `changeServiceForVirtualMachnie`.

[2020-11-18 13:46] DaanHoogland commented on #4125
not sure what you are saying, @GabrielBrascher .
1. the mentioned PR does not solve your problem, or the problem is still present in 4.14? Did you check master with #4341 merged?
2. there is an API you think should be deprecated, as opposed to fixed? (/me says fix changeServiceForVirtualMachine or descibe the unexpected behaviour in the API-docs.)

[2020-11-18 14:04] GabrielBrascher commented on #4125
@DaanHoogland this issue is clear about the problem (that still exists).

Both of the merged PRs that are linked to this issue have nothing to do with **fixing** this API command, but instead, they are making sure to not use `changeServiceForVirtualMachnie`. That is why I mentioned (here https://github.com/apache/cloudstack/issues/4125#issuecomment-729679051) that we should either keep this issue

[2020-11-18 14:11] DaanHoogland commented on #4125
ok, best open a mail discuss, I am really against deprecating a API because it is broken for some use, but if we find that it is conceptually wrong, soit.
Let{s keep this open in case someone feels inspired to fix the issue until discussion is closed.

[2020-11-18 14:13] GabrielBrascher commented on #4125
Just to avoid confusion and highlight the point regarding **deprecating**. The problematic command is buggy, with at least two open issues (#3110, and #4125) describing different issues on the same command.

On the other hand, command `scaleVirtualMachine` does everything that `changeServiceForVirtualMachnie` does (and more), with a difference that one actually works and the other is a problem tha

[2020-11-18 16:16] ravening commented on #4468
@nlindblo I am reading the VM.CREATE response using `listEvents` api from an external application and able to parse it fine. Are you directly parsing it from log file?

[2020-11-18 23:09] #4419 closed

[2020-11-18 23:12] rhtyd commented on #4462
@harikrishna-patnala @nvazquez any comments?

[2020-11-18 23:13] rhtyd commented on #4421
@harikrishna-patnala any update on this?

[2020-11-18 23:15] rhtyd commented on #4470
Cc @Spaceman1984 looks like GC issue, have you seen this or can you discuss with @nvazquez and investigate/fix?

[2020-11-18 23:30] nlindblo commented on #4468
No, the issue refers to the message being received from RabbitMQ when configuring CS to publish events to AMQP. I have worked around it for the time being by fixing the json string in code before its parsed by my consumer (Stackstorm Sensor).

[2020-11-19 05:27] harikrishna-patnala commented on #4421
Figured out the issue @rhtyd , testing all the scenarios now with a fix. I'll raise a PR soon

[2020-11-19 07:17] weizhouapache commented on #4462
@borisstoyanov might it be caused by #4307 ?
it has huge changes

[2020-11-19 09:46] Spaceman1984 commented on #4470
I'll take a look @rhtyd

[2020-11-19 11:52] harikrishna-patnala commented on #4462
Seems like a regression to me based on the changes made in destroy VM workflow in VMware. I'll verify and come back with a fix.

[2020-11-19 13:26] nlindblo opened #4481 "createLoadBalancerRule does not allow for tcp and udp"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

createLoadBalancerRule API, UI
[code]

##### CLOUDSTACK VERSION

4.14
[code]

##### CONFIGURATION

Advanced Networking, VPC, Loadbalancer

##### OS / ENVIRONMENT

Ubuntu 16.04

##### SUMMARY
LoadBalancerRule API does not allow for tcp and udp to be selected as protocol. When a rule is created for a port choosing tcp as protocol, an additional

[2020-11-19 14:16] wido commented on #4463
But the VMs will use IPv6 NAT to communicate with the outside world?

[2020-11-19 14:20] wido opened #4482 "Configure NFS version for Primary Storage"
#### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
- Primary Storage
- NFS

##### OS / ENVIRONMENT
- Ubuntu / CentOS

##### SUMMARY
NFS Primary Storage mounts are handled by libvirt.

Currently libvirt defaults to NFS version 3 when mounting while it does support NFS version 4 if provided in the XML definition: https://libvirt.

[2020-11-19 14:50] DaanHoogland commented on #4481
as discussed with @nlindblo on list at users@ [1] this is different as expected or as portforwarding works, while portforwarding is really not more than loadbalancing over a single backend. I can live with calling this a bug or a feature but really think it should be working as the user asks. It cuts across the whole system right into the VR hence I mark it as major but the solution might be just

[2020-11-19 14:58] DaanHoogland commented on #4482
looks great, @wido . plan to put it behind a config option? or in the create primary call? (/me having the impertinence of marking it for 4.16)

[2020-11-19 15:23] wido commented on #4482
See: https://cloudstack.apache.org/api/apidocs-4.14/apis/createStoragePool.html

We provide the URL in this form:

<pre>nfs://my-nfs-server/exports/ps01</pre>

We could change that URL by setting:

<pre>nfs://my-nfs-server/exports/ps01?nfsvers=4</pre>

[2020-11-20 07:41] DaanHoogland commented on #4482
does that mean that it can be upgraded to version 4 by updating the URL, appending the nfsvers argument? (url is no argument for updateStoragePool now: https://cloudstack.apache.org/api/apidocs-4.14/apis/updateStoragePool.html)
or is any other mech envisioned?

[2020-11-20 07:58] sureshanaparti commented on #4400
The override mechanism to list the possible local storage pools is skipping the zone wide pools, and so when migrating a volume attached to a running VM doesn't list zone wide pool as a suitable pool in UI, with _findStoragePoolsForMigration_ API.

To fix this and consider zone wide pools for migration, the condition` if (dskCh.useLocalStorage()) { return null;}` has to be removed from ZoneWideSto

[2020-11-20 08:07] harikrishna-patnala commented on #4400
@sureshanaparti if we remove the local storage condition from ZoneWideStoragePoolAllocator then it implies that any volume on local or cluster scoped or zone wide storage can be migrated to zone wide storage. If those operations are functionally allowed then the fix that you mentioned is fine.

Can you please confirm if volumes on any storage(local, cluster, zone) can be migrated to zone wide stor

[2020-11-20 08:17] DaanHoogland opened #4488 "add cpu percentage and value"
cpu percentage and value as for memory #4478

##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

as in #4478 (for memory), cpu could have percentage and value output for use in UI or scripts

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code

[2020-11-20 08:30] sureshanaparti commented on #4400
@harikrishna-patnala the intention is to list all the storage pools and mark as suitable / unsuitable. If unsuitable pool is selected for migration, the appropriate cmd is sent to hypervisor resource for migration. If succeeds, the offering, etc. applicable details are updated, else keeps the same.

Please take a look at the actual implementation in the PRs: https://github.com/apache/cloudstack/pu

[2020-11-20 08:44] rhtyd commented on #4136
Looks like #4465 is fixed, closing.

[2020-11-20 08:44] #4136 closed

[2020-11-20 10:11] DaanHoogland commented on #4450
fixed in #4464

[2020-11-20 10:11] #4450 closed

[2020-11-20 10:16] DaanHoogland commented on #4460
fixed with #4478

[2020-11-20 10:16] #4460 closed

[2020-11-20 12:28] davidjumani commented on #4488
@DaanHoogland This would mean reverting `cpuallocated` to the original allocated value and adding a new field `cpuallocatedwithoverprovisioning` ?

[2020-11-20 12:38] #4421 closed

[2020-11-20 14:33] wido commented on #4482
I don't think we can do and want to do this for existing primary storages. People could hack the DB and modify it if they really want to.

Otherwise we only support it when adding a new Primary Storage. We just need to parse the URL and store the nfs version in the DB and pass it all the way down to the XML we provide to libvirt.

[2020-11-20 14:34] DaanHoogland commented on #4488
no, it would mean adding two new response parameters as done for memory and leaving the existing as is but deprecated. cc @weizhouapache @rhtyd

[2020-11-20 14:35] DaanHoogland commented on #4482
copy

[2020-11-20 15:30] slavkap commented on #4125
Hi all, I'm not sure exactly how the contribution works - I mean if somebody raise an issue (like this) does he/she should fix it or somebody else could propose a fix outside of the community? I think that I have a solution about the problem, and I've tested on 4.14. I've found that the volumes table isn't updated with the new offerings. So may I I open a PR for this or somebody else is working on

[2020-11-20 15:34] #4147 closed

[2020-11-20 16:22] GabrielBrascher commented on #4125
@slavkap that would be great! If you have a fix,  feel free to open a PR and link this issue to the PR description :slightly_smiling_face:

[2020-11-20 16:55] slavkap commented on #4125
Thanks @GabrielBrascher :)

[2020-11-20 20:50] #3559 closed

[2020-11-20 21:52] weizhouapache commented on #4155
@DaanHoogland it might be a bug. there is no any check when change vm settings.

when change cpuNumber, Memory , resource limit should be checked and resource count should be updated when vm setting is saved to db.

[2020-11-21 03:20] hstan77 commented on #4463
Not IPv6 NAT,  it not suppose to run NAT on ipv6 .

I suggest is , for  Advance zone with NAT,  allow assign /64 ipv6 subnet to  VR,  and  VR. wil be IPv6 Gateway for all the VM inside the Network,   VR will be. the DHCP6 for the /64 subnet allocated to him.

If the VM inside the VR. have allow DHCP6, then it will. IPv6 Ip allocated to it.   This is not NAT,  This will be each VM one IPv6 Address.

[2020-11-21 03:45] hstan77 opened #4492 "Deploy VM from Snapshot"
##### ISSUE TYPE

 * Feature Idea

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

There is no way to deploy a VM from Snapshot,  work around is convert to template and Deploy from template .
This create additional complexity for user to operate the VM.   There is doesn't need keep the Snapshot as Template.

I would sugges

[2020-11-21 10:37] DaanHoogland commented on #4492
@hstan77 how would you propose this is implemented?
- is the snapshot than marked to not be deletable?
- is the call secretly making a template under the hood?
- is the snapshot copied as some other entity type?

can you add some more thoughts?

[2020-11-21 10:43] DaanHoogland commented on #4155
@weizhouapache ok, removing the label again, what I read in your reply that it works as designed. so the question is is it a bug or a missing feature or something tha should be done differently from the users perspective?
Going over quota by a work around could be considered an operator responsibility.

[2020-11-21 10:54] hstan77 commented on #4492
Hi

I am proposing this is by standing at the use point of view, in terms of usability and convenience .

Currently , when a user want to restore the VM from Snapshot  (probably system crash,  or primary storage crash or other reasons) and they have to restore it from secondary storage disk snapshot.  But in order to do this, the only way is to convert the Disk Snapshot to Template then build from

[2020-11-21 11:06] DaanHoogland commented on #4492
@andrijapanicsb @PaulAngus care to comment?

[2020-11-21 11:08] weizhouapache commented on #4155
@DaanHoogland since we provide this feature to users, we should add some checks. Otherwise, it will bring trouble not only to users, but also to admins, if users pass some unexpected value.

similar as global settings,  first,  there should be a check for the type of the value (for example, Integer/Boolean/Float, etc), second, a check for possible value (an invalid value should NOT be accepted). f

[2020-11-22 15:52] weizhouapache commented on #4492
@hstan77 restore volume snapshot for kvm/qcow2 has been implemented by #732
does not it work ?

[2020-11-23 06:43] davidjumani commented on #4488
@DaanHoogland It's always been a percentage, just that it was changed to consider overprovisioning in https://github.com/apache/cloudstack/commit/09de5e0b51d1cd0e1d84eef120ae48358300fdcd So would it make sense to revert it and add a new field `cpuallocatediwthoverprovisioning` for naming consistency ?

[2020-11-23 08:00] DaanHoogland commented on #4488
so what would the resulting field(-names) be, @davidjumani ?
and which ones will in the endd be deprecated?

[2020-11-23 08:49] andrijapanicsb commented on #4492
Deploying a NEW VM from some other VM's snapshots is the subject, right?

(not that my opinion counts...), but I'm against the proposed workflow, as this means we could now do tons of other workflows and complicate things indefinitely - we barely have existing flows working properly and being broken from time to time and many of those are working for just some hypervisors... let's just avoid makin

[2020-11-23 08:49] Spaceman1984 commented on #4470
I'm not sure what the original problem was, I have traced the active/inactive fields to a commit in 2013. In the git log there is speak of some kind of problem that was solved from version 2.1.x to do with the removed column not being correctly used.
[code]

[2020-11-23 08:52] davidjumani commented on #4481
Since CloudStack uses haproxy as a loadbalancer which doesn't support UDP, it would be a good idea to remove the option from the UI as well as have checks in the backend
https://github.com/haproxy/haproxy/issues/62

[2020-11-23 09:00] Spaceman1984 commented on #4470
@rhtyd Like @nvazquez said, there is no issue here, just a question about design choices.

[2020-11-23 09:44] hstan77 commented on #4492
@weizhouapache  I will check the #732 , But so far, did not see in the GUI have this features .

@andrijapanicsb  May be there is additional effort need to do on this additional features,  but i do not agree this will create mess after implemented

Although both  Convert VMSnapshot to Template and  Create VM from Template, and   directly Create VM from Snapshot has the same end result, but from me

[2020-11-23 09:50] davidjumani commented on #4488
I'd suggest reverting `cpuallocated` to not consider overcommit and introducing `cpuallocatediwthoverprovisioning` to follow the naming convention here
https://github.com/apache/cloudstack/blob/4.14/api/src/main/java/org/apache/cloudstack/api/response/HostForMigrationResponse.java#L106
https://github.com/apache/cloudstack/blob/4.14/api/src/main/java/org/apache/cloudstack/api/response/HostForMigrat

[2020-11-23 10:20] weizhouapache commented on #4492
@hstan77 I tested with 4.14.0, it works.

![image](https://user-images.githubusercontent.com/57355700/99950476-deace700-2d7c-11eb-8a6e-8aaa52ba21e5.png)

[2020-11-23 10:34] hstan77 commented on #4492
@weizhouapache Thanks for the info.

[2020-11-23 12:56] davidjumani commented on #4449
From what I can see, vr_cfg.sh reads the command to be executed and not the contents of the json file itself. It's update_config.py which reads the contents of the potentially large file which could be causing the memory issues

[2020-11-23 14:42] PaulAngus commented on #4462
@harikrishna-patnala

I'm not following the logic of what you're trying to achieve here.

If a user deletes a VM which has data disks (without expunging) then the disks get detached - as expected.
Disks are seen as first-class citizens; they can be attached to a VM, but they do not **_belong_** to a VM.

Therefore, at best a warning in the UI that the disks will be detached and will have to be re-

[2020-11-24 04:09] GabrielBrascher opened #4498 "RBD Snapshot fail when snapshot.backup.to.secondary: true"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]
*tested on master, but might be on previous release as well

##### CONFIGURATION

Hypervisor: KVM
Primary Storage: RBD
Secondary Storage: NFS
Global settings: `snapshot.backup.to.secondary: true`

##### SUMMARY

Taking snapshots for RBD volumes fail when when global settings parameter `snapshot.backup.t

[2020-11-24 06:02] davidjumani commented on #4481
Disabled UDP via https://github.com/apache/cloudstack/pull/4501 && https://github.com/apache/cloudstack-primate/pull/871

[2020-11-24 11:13] rhtyd commented on #4358
Let's move to 4.16, this is not blocker/critical unless we hear from reporters

[2020-11-24 12:33] rhtyd commented on #4498
That is fine as backup to secondary storage is not supported @GabrielBrascher ?

[2020-11-24 13:36] GabrielBrascher commented on #4498
@rhtyd ceph snapshot work really well indeed; however, it throws an exception when taking RBD volume snapshots in case of the Zone has `snapshot.backup.to.secondary` set to **true**.

#### Scenario wher it can happen:

For instance, if there is a zone with local storage, NFS, and RBD as primary storage pools it could be interesting to have `snapshot.backup.to.secondary` enabled (at least for the l

[2020-11-24 14:36] PaulAngus commented on #3788
The required fix (repopulating of the leases file) has not yet been implemented, the stated issue has not been resolved.

[2020-11-24 14:59] DaanHoogland commented on #4402
@rvalle closing this one. can you work on the description and title if you want to re-open? thanks

[2020-11-24 14:59] #4402 closed

[2020-11-24 15:17] DaanHoogland commented on #3387
@Doni7722 do you have resources to work on this in terms of design or implementation?

my first €0,02: for an operator (or corporate-departemental cloud) this would be fine to implement in cron.  for a  public cloud - or enterprise cloud user, this looks like a good feature to have and you expect a similar interface to the snapshot and backup scheduling facilities.

[2020-11-24 15:21] DaanHoogland commented on #4240
@gaaray2k can you confirm and close this or provide more details please?

[2020-11-24 15:24] DaanHoogland commented on #3552
either in the (old) ui or in the API. should be not to hard to find.

[2020-11-24 15:28] DaanHoogland commented on #3561
I am sure this has to do with #4257, but that is a quite rude way to solve it, maybe more discussion is needed (here or on the maillist)
I think doing it well, is a lot of work, while doing the #4257 way leave too many holes open. (not 👎 ing that PR here)

[2020-11-24 15:31] DaanHoogland commented on #4146
@shwstppr I think this is now reduced to a documentation issue. Can you check that and the docs, please?

[2020-11-24 15:34] DaanHoogland commented on #4357
@hstan77 when you say not assign to a VM you actually mean not acquiring it in the scope of a network, right? Is the intention to be able to use it later or to keep ACS from being able to assign it ever? so it can only be used outside of ACS untill it is explicitely released.

[2020-11-24 15:39] DaanHoogland commented on #4434
@RRadziejewski I see no cloudstack bug here but only network issues. can you add more details or close this issue? cc @shwstppr

[2020-11-24 15:43] RRadziejewski commented on #4434
You can close this issue however if you would like to install cloudstack behind a proxy i didn't proceed with it :( We've had to turn proxy off, thank you for attention.

[2020-11-24 15:43] #4434 closed

[2020-11-24 15:45] gaaray2k commented on #4240
You can close it

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: dahn <notifications@github.com>
Sent: Tuesday, November 24, 2020 10:22:04 AM
To: apache/cloudstack <cloudstack@noreply.github.com>
Cc: gaaray2k <william_alvarez@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [apache/cloudstack] Agents failover (#4240)

@gaaray2k<https://github.com/

[2020-11-24 16:11] vladimirpetrov opened #4502 "Upgrade from 4.14 to 4.15 fails when using XenServer 7.0/7.1/7.4"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
2 hosts using XenServer 7.0/7.1/7.4

##### OS / ENVIRONMENT
XenServer 7.0(7.1, 7.4), two hypervisor hosts, CentOS 7.6 as management server OS.

##### SUMMARY
After upgrading from 4.14 to 4.15 and destroying the system VMs, they are not able to start again.

##### STEPS TO REPRODUCE
[co

[2020-11-24 19:18] DaanHoogland commented on #3592
@Spaceman1984 can you verify this is an issue in latest master?

[2020-11-24 19:58] GabrielBrascher commented on #4356
I tried to revert a VM snapshot either via UI or API and I could not reproduce this issue on 4.15. it works as expected and the user will get an exception with the following message _"The VM the specified disk is attached to is not in the shutdown state."_

[2020-11-24 19:58] #4356 closed

[2020-11-24 20:05] DaanHoogland commented on #4391
@hstan77 sorry to ask but I don't think I'm clear on what you are asking here. Are you speaking of volumegroups or clustered deistributed filesystems?

[2020-11-24 20:19] DaanHoogland commented on #4351
so when the hypervisor is on centos the iptables commands don't work, right?

[2020-11-24 20:40] DaanHoogland commented on #3685
@borisstoyanov, the idea is that you would delete an account if you no longer want the link. What is the idea of unlinking? what would the value of the account and the users in it if there is no ldap linked?

[2020-11-24 20:41] weizhouapache commented on #4351
@hstan77 do you still have the centos7 environment ?
if yes, can you change log level and reproduce the issue ?
[code]
you should get more debug info in /var/log/cloudstack/agent/agent.log

[2020-11-25 07:34] #4240 closed

[2020-11-25 08:08] DaanHoogland commented on #4470
ok, this means we'll have to look for those find including removed calls and try to make sure the removed column is correctly filled at the correct moment. (future version for now)

[2020-11-25 08:10] DaanHoogland commented on #2583
there is a PR out for 4.14 that fixes this for KVM: #4497

[2020-11-25 08:27] DaanHoogland commented on #3025
@dubauski two related issues have been closed, can you check with a the newest version to see if this issue persists?

[2020-11-25 10:00] #3934 closed

[2020-11-25 14:30] vladimirpetrov commented on #4502
I just tested that the issue is reproducible also with XenServer 7.4.

[2020-11-25 14:42] rhtyd commented on #4502
@vladimirpetrov to confirm regression can you do an upgrade of a XenServer 7.1 env from 4.11 or 4.13 to 4.14 and see how the system behaves? If you get the same issue we can lower the severity and address workaround in upgrade docs.

[2020-11-25 17:07] vladimirpetrov commented on #4462
My tests confirm that PR #4493 fixes this issue.

[2020-11-26 07:07] Spaceman1984 commented on #3592
Not at the moment @DaanHoogland, I will only be available from the 7th of December.

[2020-11-26 12:03] andrijapanicsb commented on #4462
Was this tested to NOT be happening on VMware + 4.14? - so that we can see something is / is not different now in 4.15.

I also do recall that when VM is destroyed that disks are detached - this is an old behaviour for ages.

[2020-11-26 12:21] andrijapanicsb commented on #4462
I guess I can answer my own questions - in 4.14/vmware disk are NOT detached on VM destroy, but they are on expunge.

From the functional point of view, that is LGTM - you are reverting back to the old behaviour, as in 4.14
From the PR4307 (and that is a complex one....) point of view - can you guarantee that this revert doesn't break anything now (is the gain worth the risk - this is the question

[2020-11-26 12:25] harikrishna-patnala commented on #4462
This will not harm or break anything as we are not reverting the detach operations but moving the detach operations from destroy workflow to expunge workflow. I'll kick off test matrix on the PR.

[2020-11-27 07:54] weizhouapache commented on #4351
@DaanHoogland @rhtyd @wido @GabrielBrascher do you have centos7 env to reproduce this issue ?

[2020-11-27 09:08] DaanHoogland commented on #4351
I can give it a shot, but it will be on a nested env, not sure if that is relevant.

[2020-11-27 09:38] DaanHoogland commented on #4351
tip from a couple of colleagues: it looks like Hean Seng (is that you @hstan77 ?) had already given the solution to this: https://lists.apache.org/thread.html/r329758cbcc2a3ddc70bbb133b5629a854ba67f8f942d38a89d37519e%40%3Cusers.cloudstack.apache.org%3E

cc @weizhouapache
I think we can close this. (@hstan77 please reopen if i'm wrong)

[2020-11-27 09:38] #4351 closed

[2020-11-27 09:45] weizhouapache commented on #4351
@DaanHoogland good, so this is fixed by #4124

[2020-11-27 15:19] vladimirpetrov commented on #4502
ACS 4.11 -> 4.14
ACS 4.13 -> 4.14
ACS 4.11 -> 4.15 and
ACS 4.13 -> 4.15 (all with XenServer 7.1) upgrades passed successfully.

[2020-11-27 18:53] andrijapanicsb opened #4504 "storage.template.OVAProcessor running on KVM templates"
##### ISSUE TYPE

 * Bug Report (more like  "annoyance" then a bug, as nothing is broken, as far as I could see)

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

NA

##### OS / ENVIRONMENT

KVM hypervisor, but I'm sure is irrelevant

##### SUMMARY

New KVM zone, default systemVM template 4.11.3 used (in my testing, the URL is different, but it's the same as the

[2020-11-27 19:17] andrijapanicsb commented on #4502
Can you share more logs/info to let others also understand the issue as well.

Also, I see " _CentOS 7.0 on the hosts._" in the description, but you are saying it's the XS setup - do you have mixed hypervisors or why is there " CentOS 7.0 on the hosts." ?

[2020-11-27 20:12] andrijapanicsb commented on #4504
A simpler one

Just registed another KVM template, and observer cloud.log for the same behaviour

[2020-11-27 21:22] weizhouapache commented on #4504
@andrijapanicsb this exists for many years. however as you said, nothing is broken. just some INFO logs

[2020-11-27 21:29] andrijapanicsb commented on #4504
🤦   copy, OK.

[2020-11-30 07:43] hstan77 commented on #4351
Hi

Yes , this issue can close,    I found the issue and shared also,    Need
to install python36-libvirt to Centos, and issue solved .

On Fri, Nov 27, 2020 at 5:46 PM Wei Zhou <notifications@github.com> wrote:

--
Regards,
Hean Seng

[2020-11-30 07:50] hstan77 commented on #4391
Hi Dahn,

I means is the  Local VolumeGroup ,  as alternative of LocalStorage that
file based.

By the way, I can't find a good way of implementing  clustered deistributed
filesystems also .  Now I am trying on the Ceph and NFS .

On Wed, Nov 25, 2020 at 4:05 AM dahn <notifications@github.com> wrote:

--
Regards,
Hean Seng

[2020-11-30 09:40] weizhouapache opened #4508 "Cannot install cloudstack-marvin 4.15.0.0 on Ubuntu 20.04"
see output below

[code]

it is because that there is no python2 pip on ubuntu 20.04 any more.
hence marvin cannot be installed, and integration test cannot be handled.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 20.04

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[

[2020-11-30 10:27] DaanHoogland commented on #4508
@weizhouapache marvin 4.14 can be installed?

[2020-11-30 11:05] weizhouapache commented on #4508
@DaanHoogland nee

[2020-11-30 13:51] DaanHoogland commented on #4508
right, but marvin on a operator machine could have been on 20.04 , right independent of the ACS install.

probably irrelevant, I think python2.7 end of live is likely to be the root cause here?!?
I encountered some instructions to start using `python -m pip` instead of straight `pip` to smoothen transition.
I'll install a ubuntu 20 to do some tinkering.

[2020-11-30 13:54] DaanHoogland commented on #4502
given that all these succeed and 4.14 -> 4.15 fail, there is likely to be something wrong in the upgrade path. Can you share the log of the initial start after upgrade @vladimirpetrov ,
tnx

[2020-11-30 15:59] weizhouapache commented on #4508
@DaanHoogland yes exactly.

python/pip is replaced with python3/pip3 in ubuntu 20.04, issues in installation can be fixed by changes in debian/control and debian/cloudstack-marvin.postinst.

however, even if cloudstack-marvin is installed, there is still no way to use marvin to deploy zones or run nosetests, as our marvin python files support only python2 but there is no pip for python2 on ubuntu

[2020-11-30 16:23] andrijapanicsb commented on #4391
@hstan77 I'm not sure if I'm reading your explanation correctly or not. The existing ShareMountPoint means you would need to attach the same LUN (iSCSI or FC, etc) to all the hosts in the cluster and then format this LUN with a clustered filesystem so that multiple hosts can write to the same shared(mountPoint) storage without causing file system corruption.

How do you see (this is what I don't u

[2020-11-30 16:49] DaanHoogland commented on #4508
right, I am doing that , but in combination with nose to nose2 upgrade in a poc. I'll give a seperation of the efforts a go.

[2020-11-30 16:56] DaanHoogland commented on #4508
btw @weizhouapache I think we can call this a major but not a critical, do you agree?

[2020-11-30 20:29] weizhouapache commented on #4508
@DaanHoogland yes, at least users should be able to install cloudstack-marvin on ubuntu 20.04

[2020-12-01 00:37] inmanturbo opened #4509 "Trouble installing in LXC container"
~~How do I get a management install up and running? Docs lead to dependency hell. I would love to update them, but I would need to know how to install successfully first. Can someone please tell me how to install, any version on any distro? One which has a clear and clean dependency path.~~

So far I've tried `4.14` and `4.11` both  on centos8 and centos7 both with a few different versions of mari

[2020-12-01 08:30] rhtyd commented on #4508
I think most users don't install marvin, this is only for test env to make it easier for a CI such as Trilian to do branch-based tests+marvin. As this is not a critical/blocker issue, let's handle this in 4.15.1.0 or master+.

[2020-12-01 08:31] rhtyd commented on #4502
My suspicion is that 4.14 systemvms (ssvm, cpvm and VRs) don't eject or fail to eject the systemvm.iso file. Can we confirm that @vladimirpetrov ?

[2020-12-01 13:42] wido commented on #4463
So how will you route this to the VR? You will need to run BGP or OSPF in the VR to talk to upper layers in the network. How did you envision this?

[2020-12-02 08:03] saliven1970 opened #4513 "Suggestions on Python processing of cloud.spec file in packaging directory"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
packaging

##### CLOUDSTACK VERSION
4.15

##### CONFIGURATION
N/A otherwise

##### OS / ENVIRONMENT
CentOS-8.2

##### SUMMARY
In the packaging\centos7 and packaging\centos8 directories, there are many problems about Python processing in the cloud.spec file.
1. python2 is used in the current compilation environment, while python3 is used

[2020-12-02 10:13] davidjumani commented on #4481
@nlindblo since HAproxy which is internally used for load balancing does not support udp, an appropriate check has been added. There will only be a conflict in case of tcp rules on the same port.

[2020-12-02 12:42] DaanHoogland commented on #4509
@inmanturbo both versions are very common on centos7 and should work (almost) out of the box. My first thought is, did you preseed the systemvm template?
if you need any help, subscribe to and ask on users@cloudstack.apache.org

[2020-12-02 12:48] DaanHoogland commented on #4502
ah, if you ar right, that would than pertain to higher upgrade paths as well (4.15 -> future), making this slightly more pressing

[2020-12-02 13:01] DaanHoogland commented on #4513
@saliven1970 thanks for the input, we have several locations where transition from python2 to python3 is ongoing see #3195 if you have any experience on the transition in any area such as packaging input is welcome (are you preparing a pr, or do you have code changes to sugest?)
I'll add a ref back to this in that easy querying.

[2020-12-02 13:15] DaanHoogland commented on #4481
@nlindblo per this fix, this is now going to be a feature request (if you still want it) I'm closing this. you can reopen, use an alternative to the internal lb or enter a new feature request (which will probably require atr least some functional research and spec effort)

[2020-12-02 13:15] #4481 closed

[2020-12-02 15:39] weizhouapache opened #4514 "User vm details is readonly on UI but still can be changed via api or cloudmonkey/cmk"
#3244 introduced a global setting to make some details read-only on UI.
however, these details can still be changed by cloudmonkey.

it would be better to improve it.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

login as domain admin or regular user
create a dy

[2020-12-02 16:52] inmanturbo commented on #4509
@DaanHoogland

Thank you very much for your kind and quick response. We have been using other solutions for a growing service and our research indicates Apache Cloudstack will help solve a lot of the issues we have had with them, so I'm very keen to try it.

I was in a rush and ran several times through the quick installation guide without checking the full installation documentation. The common i

[2020-12-02 20:19] inmanturbo commented on #4509
Ah yes, I have been running the script here

http://docs.cloudstack.apache.org/en/latest/quickinstallationguide/qig.html#system-template-setup

with this output:
[code]

[2020-12-03 07:51] weizhouapache commented on #4509
@inmanturbo this is because qemu-img is not found.
the dependency has been added in #3371
if you use older versions, please install qemu-utils (ubuntu) or qemu-img (centos) on management server.

[2020-12-03 09:58] vladimirpetrov commented on #4502
Attaching the log from management server start after upgrade 4.14 -> 4.15.
[management-server.log.2020-11-25.gz](https://github.com/apache/cloudstack/files/5635240/management-server.log.2020-11-25.gz)

[2020-12-03 10:00] vladimirpetrov commented on #4502
The systemvm.iso file is not detected by the host VM after upgrade:

![image](https://user-images.githubusercontent.com/12384665/100994191-03fcda80-355f-11eb-99b8-365923172940.png)

[2020-12-03 10:03] vladimirpetrov commented on #4502
No, it has only two XenServer hosts, CentOS is just the OS of the hosts and it doesn't seem to be relevant to the problem.

[2020-12-03 13:45] rvalle commented on #4270
Thanks @DaanHoogland , I understand this issue is about implementing the "conserve-mode" for VPCs, which is complex.

A first step could be to be able to enable conserve-mode on the individual VPC tiers, and not necessarily on the VPC as a whole.

Then only one IP per tier would be used. Which makes it possible to use VPCs with only one (Internet Routable) Public IP.

Since the definition of Publi

[2020-12-03 15:42] vladimirpetrov commented on #4502
Sorry Andrija, my mistake - I edited the original post to avoid confusion. It's not mixed environment, only 2 Xen hosts.

[2020-12-03 18:52] andrijapanicsb opened #4517 "VPC deployment - failure to retry other host in a cluster after the choosen host not having enough capacities"
ACS 4.14.0.0 (VMware, but irrelevant)

Trying to deploy VPC (VR), the userdispersing heuristic is choosing one of the clusters that have at least one host with available capacities - the chosen cluster has 2 hosts host. After it fails to deploy VR on the first chosen host due to lack of capacities, it completely fails the job, instead of retrying on the other host in that cluster that DOES have ca

[2020-12-04 07:19] DaanHoogland commented on #3569
@wido @GabrielBrascher as I understand this is ongoing but partly done  i'm marking this for 4.16 Hope you agree

[2020-12-04 07:46] DaanHoogland commented on #3584
I don't agree (obviously) with @weizhouapache (not sure if @ustcweizhou is still prefered in use?) but lets give researching it a place in next cycle.
In my personal opinion a stopped VM is nothing more than a set of volumes, and a machine difinition, there is no state to snapshot, but saving the machine definition might make sense.
At least the failure should be graceful with a sensible error or

[2020-12-04 07:55] DaanHoogland commented on #3557
Do we still considder this a cloudstack issue? @joschi36 I see your cloudinit patch was merged. Can we close this?

[2020-12-04 08:32] weizhouapache commented on #3584
@DaanHoogland the actions are different on kvm/xenserver/vmware.
for kvm, it is not possible to create vm snapshot on stopped vm so it is not an issue.

[2020-12-04 11:37] DaanHoogland commented on #3598
I am not sure what the severity is for this @mike-tutkowski @skattoju4 @andrijapanicsb . Is this something we are going to support or should we just add a line in docs somewhere? @mike-tutkowski is there a dev you know busy with this plugin?

[2020-12-04 11:42] DaanHoogland commented on #3603
@div8cn I would expect reinstall to always be based on the original template. I am not sure if it should be supported for ISO based VMs. This actually sounds like a feature request to me. Can you expand a little on your scenario?

[2020-12-04 11:52] DaanHoogland commented on #3609
a middle ground solution could be to start IDs for new guest osses and - mappings at 10000 from now on autoadding them as we go on and leave old mapping at lower IDs. Users should not be bothered indeed but operators should have some control thopugh automation is best. It should be possible for an operator to dissallow an OS by removing its mapping or definition alltogether.
€0,02

[2020-12-04 11:59] DaanHoogland commented on #3513
@DmB991 did you test on latest master?

[2020-12-04 12:01] DaanHoogland commented on #3652
@nvazquez @harikrishna-patnala you did a lot of refactoring on vmware lately, Did you encounter this as well and do you have any opinion on how to improve?

[2020-12-04 12:05] DaanHoogland commented on #3664
@AndreaGHG there are some improvements with respect to status processing in the newer versions. Can you check if your issue is still happening in newer versions? (btw The fixes pertain to DRS out of bounds migrations so I wonder what could happen with DRS turned off)

[2020-12-04 12:07] DaanHoogland commented on #3677
marking this as a feature request.

[2020-12-04 12:18] DaanHoogland commented on #3708
if you expect the MS local time-zone to be on every VR this is a straightforward feature to implement. I don't think this is very useful for most clouds as they span time-zones (even corporate ones do at times) this would make it a per-zone setting.

[2020-12-04 12:35] onitake commented on #3557
It's not a CloudStack issue any more, but there is still a PR open to make the documentation clearer: https://github.com/apache/cloudstack-documentation/pull/132

I think it should be revisited and merged before we close this issue.

[2020-12-04 12:44] DaanHoogland commented on #3708
@onitake are you planning any implementation (for next release)?

[2020-12-04 12:51] weizhouapache commented on #3513
this is related to #3807
you can set allow.duplicate.networkname to false (it is true by default) in global setting.

[2020-12-04 13:09] DaanHoogland commented on #3557
I think it needs a bit of your tlc @onitake ;)

[2020-12-04 14:19] ngrosc opened #4519 "SAML signature is optional"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

SAML authentication activated

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The SAML signature is optional and not mandatory. A user can login into a domain where he's not allowed to.

##### STEPS TO REPRODUCE

Use a tool to intercept the web requests between your browser ant the cl

[2020-12-04 15:06] DaanHoogland commented on #3717
seems related to a multi-tag issue with had. Can you test this with a recent (pre)release version, @div8cn ?

[2020-12-04 15:28] DaanHoogland commented on #3718
@RoMi1981 I am guessing you have diskcontroller type IDE on that VM do you?
@GabrielBrascher Do you know if this linit is hard coded or implicit and taken over from the backend for ceph or some other ceph specific limit?
the line (which is now [3266](https://github.com/apache/cloudstack/blob/master/server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java#L3266)) is a fallback if no proper

[2020-12-04 15:36] kiwiflyer commented on #4519
@DaanHoogland @rhtyd Guys, this looks like a pretty nasty security bug. SAML isn't used by default, but regardless this may be a blocker for 4.15 and 4.14.x.

[2020-12-04 16:36] rhtyd commented on #4519
@kiwiflyer yes let's discuss and understand how the env was setup, I suspect it may related to env configuration.

@ngrosc can you share details of your IDP setup? For example the IDP xml metadata, what IDP server are you using (Shibboleth, keycloak etc). Usually, the SP (CloudStack acts as a service provider in SAML terminology) is not in control of whether the SAML token is encrypted or not, and

[2020-12-04 16:37] rhtyd commented on #4519
cc @PaulAngus @DaanHoogland

[2020-12-04 16:45] rhtyd commented on #4519
I did a quick code investigation, looks like when there is no encryption in place we get the unencrypted username (`uid` usually) parameter from the SAML token: (if I recall correctly this was done only to allow and test unsecure IDP servers)
https://github.com/apache/cloudstack/blob/master/plugins/user-authenticators/saml2/src/main/java/org/apache/cloudstack/api/command/SAML2LoginAPIAuthenticator

[2020-12-04 16:55] rhtyd commented on #4519
I guess we need exact steps of reproduction if encryption and signing are both enabled. In which case, @ngrosc can you email me privately on rohit AT apache.org? Thanks.

I ran a quick test, this server is SAML enabled: http://primate-qa.cloudstack.cloud:8080/client/master

![Screenshot from 2020-12-04 22-21-20](https://user-images.githubusercontent.com/95203/101191111-43224d00-367f-11eb-8c4b-3fce

[2020-12-04 17:21] PaulAngus commented on #4519
Hand-waving the details, it _sounds_ to me like we're saying that it's the IDP that controls whether the token is encrypted.
IF so, I agree with Rohit; This is not a CloudStack issue,  as CloudStack _can_ work with encrypted tokens.
If the IDP is not configured to send encrypted tokens, that's not CloudStack's 'fault'.

[2020-12-04 17:48] skattoju4 commented on #3598
I think this was the issue related to the one opened by Christian from the Fraunhofer institute. He sent us (CloudOps) some logs and we were going to troubleshoot/debug in his environment, however I think priorities changed on their end so this effort was put on hold.

[2020-12-04 18:20] andrijapanicsb commented on #4519
+1 on what Paul and Rohit said.
That sounds the same as "if user uses insecure HTTP instead of HTTPS it's ACS security issue"
Cloud operator is in charge of the configuration of everything, encryption included everywhere.

[2020-12-04 18:37] kiwiflyer commented on #4519
So, agreed that everything should be encrypted. I'm not going to claim in anyway that I'm a SAML expert, but if the username changes, shouldn't we be sending a new AuthnRequest back to the IDP?

[2020-12-04 19:27] GabrielBrascher commented on #3718
I totally agree with @DaanHoogland.

Maybe it is something that we could improve on documentation then(?) ... to be honest I never checked this at the documentation.

Just to be sure that it is not a bug, @RoMi1981 can you please take a look at what is the value set for `max_data_volumes_limit`?

SQL example:
[code]

[2020-12-04 19:35] andrijapanicsb commented on #4517
Identical error during restarting the VPC with the cleanup - new VR to be created failed on the host and we never tried to start it on another host in the cluster - no retry logic...

[2020-12-04 19:51] ngrosc commented on #4519
hi guys

sorry for the late answer.

we're using https, not http. so that should not be the the main issue.

as IDP, we're using keycloack with the following config:

`
{
    "clientId": "iaas.cloudstack",
    "baseUrl": "https://**********/client",
    "surrogateAuthRequired": false,
    "enabled": true,
    "clientAuthenticatorType": "client-secret",
    "redirectUris": [
        "https://******

[2020-12-04 20:28] alexandru-bagu opened #4520 "good information about failing to add xcp-ng 7.6.0 host missing"
Setting up a test environment from master I had issues adding an xcp-ng host failing without any information. Turns out https://github.com/apache/cloudstack/blob/fb1e903532d943bc98a1a8b95d4499013234a917/plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/discoverer/XcpServerDiscoverer.java#L372 is set to output to debug any unknown errors.

The stacktrace:

Notice it says "E

[2020-12-04 23:45] inmanturbo commented on #4509
@weizhouapache Yes thank you I realized that when I went through the script. I was actually missing  /usr/bin/file (!) as well.

Anyway @DaanHoogland as well thank you both this is just a thanks and an update, my issue is resolved. I was trying to install in lxc container for simplicity in lab environment. Putting it on bare metal solved everything. Idk what cause the issue in lxc (aside form the

[2020-12-05 08:53] weizhouapache commented on #4509
@inmanturbo yes, you need to allow mounting of ISO in lxc.
if you use Ubuntu or debian, I can give your some suggestion on lxc settings.

[2020-12-05 09:57] weizhouapache commented on #4517
@andrijapanicsb there is no retry logic in most actions. It is not a big problem in my opinion. cloudstack works like it for 10 years.
what you/we need to figure out is, why VR start failed ? It sounds like an issue with vm/vr allocation, not retry.

[2020-12-05 12:30] rhtyd commented on #4519
@ngrosc in that case can you please close the issue. Thanks.

[2020-12-05 15:28] rhtyd commented on #4520
@alexandru-bagu thanks for sharing. Assuming CloudStack doesnot generate those certificates, this sounds like a XCP-ng issue or something we can document in our docs (in the add host section).

[2020-12-06 01:09] alexandru-bagu commented on #4520
I agree that the certificate issue itself is not CloudStack's problem. The issue however is that unless you have debug flag set you will not know why the host could not be added. The change I am suggesting is related to logging of the error, nothing related to UI or behavior. Because the operation of adding a host is seldom done and it's only by user request, all information for failure should be

[2020-12-06 08:50] DaanHoogland commented on #4509
@inmanturbo I'll close this. If closed you can still add comments to it. If you find that documentation needs improving, add a PR or an issue at https://github.com/apache/cloudstack-documentation

[2020-12-06 08:50] #4509 closed

[2020-12-06 09:00] DaanHoogland commented on #4520
@alexandru-bagu , I took the liberty to rename your issue so it describes the issue with-/from  cloudstack point of view.
log levels are a long going issue with cloudstack and this is a good example of it. The argument people often use is that cloudstack is programmed to run in production with DEBUG on. bit I think we should improve this. Do you have a PR planned for this?

[2020-12-06 17:33] alexandru-bagu commented on #4520
It's just a matter of modifying the line I highlighted  in the OP from `debug` to `error`. I will submit a pull request soon.

[2020-12-07 08:48] andrijapanicsb commented on #4517
@weizhouapache my "issue" is the following:
- CloudStack has chosen a cluster that has enough capacities ("at least one host with enough capacities....) - and it chooses the host which seems to not have the capacity (and the logging is not there, which is weird and bad) - so, not sure how good this can be.

[2020-12-07 10:24] andrijapanicsb commented on #4502
This need be fixed before 4.15 can go out.

[2020-12-07 10:40] weizhouapache commented on #4517
@andrijapanicsb there should be some logs after
[code]

[2020-12-07 13:12] rhtyd commented on #4517
I setup 4.14 + XS71 and did an upgrade test and was unable to reproduce this. I suspect in the upgraded env the old ssvm/cpvm were killed and new ssvm/cpvm got started before the 4.15 systemvm.iso/files/scripts were patched on the XS71 hosts which could explain the race conditions around old 4.14 systemvm.iso.

[2020-12-07 13:15] rhtyd commented on #4502
I setup 4.14 + XS71 and did an upgrade test and was unable to reproduce this. I suspect in the upgraded env the old ssvm/cpvm were killed and new ssvm/cpvm got started before the 4.15 systemvm.iso/files/scripts were patched on the XS71 hosts which could explain the race conditions around old 4.14 systemvm.iso.

[2020-12-07 13:16] rhtyd commented on #4502
Lowered from blocker as we don't consistently reproduce this, let's wait for @vladimirpetrov @andrijapanicsb and others if they can confirm it works or doesn't work. Thanks.

[2020-12-07 13:18] rhtyd commented on #4517
@andrijapanicsb what's the behaviour on 4.13/4.11?

[2020-12-07 13:25] PaulAngus commented on #4502
It’s a blocker even if it happens inconsistently. Until Vladi can confirm that is a non-issue if the operator ensures that all hosts have been updated before recreating system VMs. The potential issue IS still a blocker.

From: Rohit Yadav <notifications@github.com>
Sent: Monday, December 7, 2020 1:17 PM
To: apache/cloudstack <cloudstack@noreply.github.com>
Cc: Paul Angus <paul@angus.uk.com>; Assi

[2020-12-07 15:18] andrijapanicsb commented on #4502
+1 what Paul said.

Andrija Panic
Cloud Architect
ShapeBlue
________________________________
From: Paul Angus <notifications@github.com>
Sent: Monday, December 7, 2020 2:25:50 PM
To: apache/cloudstack <cloudstack@noreply.github.com>
Cc: Andrija Panic <andrija.panic@shapeblue.com>; Mention <mention@noreply.github.com>
Subject: Re: [apache/cloudstack] Upgrade from 4.14 to 4.15 fails when using XenSe

[2020-12-08 08:13] rhtyd commented on #4433
I think the original bug was from a Ceph env @nvazquez

[2020-12-08 09:30] rhtyd commented on #4502
I did an upgrade test and discussion with Vladi, the original issue was due to not waiting enough after an upgrade for the management server to copy all the systemvm.iso/files/scripts to the XS host post-upgrade.

In the latest upgrade env created by Vladi, from 4.14->4.15 with XS71, we couldn't reproduce the issue. However we had to restart the systemvms a few times due to a certificate setup iss

[2020-12-09 11:24] #4520 closed

[2020-12-09 11:43] rhtyd commented on #4502
PR fix https://github.com/apache/cloudstack/pull/4525 pl test and review @vladimirpetrov thanks

[2020-12-09 15:33] vladimirpetrov commented on #4502
The fix worked - well done, @rhtyd !

[2020-12-09 19:13] rhtyd commented on #4502
Fixed in #4525, kicking smoketests on health check PR #4131

[2020-12-09 19:13] #4502 closed

[2020-12-11 11:37] DaanHoogland commented on #3720
this is on hold it seems, any volunteers to specify this and #3707 to sum up the desired outcome ? it seems to me there are a lot of ideas here but no consensus on functionality, @svenvogel @andrijapanicsb @weizhouapache @rhtyd @borisstoyanov @GabrielBrascher @anuragaw .

[2020-12-11 11:39] DaanHoogland commented on #3707
I don't think this is a finished idea yet, reviewing discussions on #3720.  Also it has gone silent.
bhaviour can be defined on the basis of arguments or global settings. work to be done!

[2020-12-11 11:40] DaanHoogland commented on #3749
@meysamfarazmand I think this was fixed in 4.14 can you check?

[2020-12-11 11:42] DaanHoogland commented on #3762
@cl-k-takahashi are you still interested in moving this forward?

[2020-12-11 13:52] DaanHoogland commented on #3753
@borisstoyanov can you recheck in the current (new) UI, so we can if needed address there? tnx

[2020-12-11 13:55] DaanHoogland commented on #3751
@aleskxyz there are improved storage types support for vmware, I don't think for secondary but you might want to look at those (and maybe use direct download if you don't want an nfs store).
@svenvogel is referring to solidfire i think !?!

[2020-12-11 14:10] DaanHoogland commented on #3735
I see a miscommunication in here and am not sure where it lies, @div8cn @kioie . The parameter is not required and if not given it is set to forced=false, but that does not mean the delete is not attempted. the delete is attempted but if impediments are in the way it is not forcefully pursued, is what the APIdoc suggests. One could think of still be in use or some (other) db constraint or disk per

[2020-12-11 14:14] DaanHoogland commented on #3789
@joschi36 Are you still considering this? please add configuration examples of what you want to achieve on the backend(s) with your new parameters, and a matrix of parameter <-> results. I think it might be a good idea but it is a bit vague as you describe it so far.

[2020-12-11 14:24] weizhouapache commented on #3789
@DaanHoogland this should be fixed by #4141

[2020-12-11 14:46] DaanHoogland commented on #3801
@ravening is this still an issue, can you check with the newest release (candidate)?

[2020-12-11 14:48] DaanHoogland commented on #3156
@sureshanaparti That PR you refer is in draft and rather inactive. Can you advice on a way forward, please?

[2020-12-11 15:43] vladimirpetrov opened #4535 "UI allows ISO images, uploaded/registered as not extractable to be downloaded"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The Images > ISOs page ignores the backend flag 'isextractable' and allows user to download an ISO even when it was uploaded with this setting unchecked.

##### STEPS TO REPRODUCE
[code]
![image](https://user-images.githubusercontent.com

[2020-12-11 16:03] DaanHoogland commented on #3789
ah right, can you check the PR, @joschi36 ? if this satisfies your request we'll close this when merged.

[2020-12-11 16:17] DaanHoogland commented on #4535
@vladimirpetrov this seems a primate bug, as we have not merged it in the main tree yet can you submit it there?

[2020-12-12 04:40] #3735 closed

[2020-12-13 21:54] aleskxyz commented on #3751
@bwsw The downside of all the mentioned solutions is vmware doesn't mount them directly. An NFS staging server is required for them.
@DaanHoogland Cloudstack only supports certain type of SS that all of them needs an NFS server. I don't get your point about "direct download". Did you mean that I can use an vmfs storage as my SS by editing entries in database?

[2020-12-14 07:03] rhtyd commented on #3779
@andrijapanicsb could it be possible that this bug has become a feature and some people would expect the portgroups to be there on the host(s)? cc @DaanHoogland @borisstoyanov @vladimirpetrov @alexandremattioli

[2020-12-14 07:05] rhtyd commented on #4474
Fixed in https://github.com/apache/cloudstack/pull/4489

[2020-12-14 07:05] #4474 closed

[2020-12-14 07:09] rhtyd commented on #4245
@DaanHoogland can you triage and advise if this is a bug or config issue, we can ask @Spaceman1984 to look into this

[2020-12-14 08:32] vladimirpetrov commented on #4535
@DaanHoogland I'm not really sure if it's only about the UI - perhaps the backend also should not allow extracting of an image even when UI allows it. It's always a good practice to have checks on both places.

[2020-12-14 08:35] vladimirpetrov commented on #4535
I just tested this on 4.14 and we have the same behavior there - using the legacy UI.

[2020-12-14 08:38] DK101010 opened #4539 "Unmanaged/Ingest bug in vmware context"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

vmware

##### SUMMARY

During the unmanagement process of an vmware vm, I'll get an exception with Unknown Error. But unmanaged process itself works correctly, after this VM is successfully unmanaged.

Also this VM's haven't a vm_destroy event in the databas

[2020-12-14 08:56] DaanHoogland commented on #4539
@shwstppr can you have a look ?

[2020-12-14 08:56] rhtyd commented on #4539
@shwstppr can you review the critical-ity of this?

[2020-12-14 09:02] shwstppr commented on #4539
@DaanHoogland @rhtyd this bug can only be in master as Unmanaging feature was added after 4.14 https://github.com/apache/cloudstack/pull/4103.
@DK101010 can you share some logs, your environment details?

[2020-12-14 09:03] DK101010 commented on #4539
I have created a pull request for this

[2020-12-14 09:05] DK101010 commented on #4539
here is the pr https://github.com/apache/cloudstack/pull/4540

[2020-12-14 09:20] vladimirpetrov opened #4541 "ISO image uploaded with 'Featured' attribute does not show in the"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Even when uploading/registering an ISO image with the 'Featured' option checked, it doesn't show in the 'Featured' tab when adding a new instance.

##### STEPS TO REPRODUCE
[code]
![image](https://user-images.githubusercontent.com/12384665

[2020-12-14 09:25] rhtyd commented on #4535
Thanks @vladimirpetrov - since this is a known historic issue, let's fix in the next minor release or 4.16.0.0

[2020-12-14 09:26] rhtyd commented on #4541
@vladimirpetrov was the test performed as a root admin or normal account?

[2020-12-14 09:35] vladimirpetrov commented on #4541
I was testing as root admin.

[2020-12-14 09:47] andrijapanicsb commented on #3779
The problem is when the network shutdown happens (i.e. on next start of ANY VM in that network - ACS would assign a NEW/DIFFERENT VLAN) - thus the old one is removed in ACS (free to be reused) but ACS doesn't clean the port groups on VMware side.

I can't think of any case where the port group should be left - if the vlan has been "removed" (network shutdown) in ACS - it makes perfect sense that i

[2020-12-14 12:47] DaanHoogland commented on #3751
@aleskxyz please review the release candidate for 4.15. It does support different types of storage on vmware.

[2020-12-14 13:23] DaanHoogland commented on #3779
sounds like we want to be able to do two things:
1. autocleanup when a network is deleted/brought down
1. preserve/reserve a port group for use out of band
I don't want to go into the argument of bug/feature but both use cases seem reasonable so let's say it is a bugfeature and plan a setting that drives this for 4.16 (which is by now pretty full)
btw, I set this to normal complexity but the garba

[2020-12-14 13:58] aleskxyz opened #4542 "Reserve IP address for out of bounds machines"
Ability to define IP address beside of choosing VMs in Static NAT, Port Forward and Load balancer services to provide those services to servers outside of CloudStack.
##### ISSUE TYPE

 * Feature Idea

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced networking

##### OS / ENVIRONMENT

N/A

##### SUMMARY

In some network services we need to specify whic

[2020-12-14 14:19] DaanHoogland commented on #4542
sounds good, but with lots of buts. are you going to invest in tech design @aleskxyz ?

I think I am reversing direction as opposed to what you are proposing but assigning loadbalancer configuration to an out of band (virtual) machine, would require an API served by that machine that cloudstack can use to add/remove hosts for a service.
If indeed you mean the other way around, it sounds like a sim

[2020-12-14 15:21] aleskxyz commented on #4542
@DaanHoogland
I think this diagram can help:
![image](https://user-images.githubusercontent.com/39186039/102099136-36e77e00-3e3d-11eb-93dc-33e0f613781a.png)

[2020-12-14 15:26] DaanHoogland commented on #4542
like i described as the simple change ;)

[2020-12-14 16:16] aleskxyz commented on #4542
@DaanHoogland 👍
As I told before this feature is dependent to #4357
User must reserve the IP before using it in Static NAT, Port Forward and Load balancer. Otherwise he/she should get an error message.
What do you mean about "tech design"?
If you mean writing "Design Document" in https://cwiki.apache.org/confluence/display/CLOUDSTACK/ , I can help.

[2020-12-15 00:33] GabrielBrascher commented on #3720
My 2 cents on this one would be to add a force maintenance parameter or global settings (I would prefer a force parameter though).

Here follows a draft of a proposal for this issue:
1. call maintenance of a host with _force_ parameter
2. normal flow where CloudStack tries to migrate all VMs
3. if not possible to migrate a VM, stop it
4. place the host in maintenance state once all VMs are migrate

[2020-12-15 10:14] DaanHoogland commented on #4542
tnx @aleskxyz If you are not going to implement this it is sufficent to just be very precise here and find consent on it. With our discussion here it seems well scoped.

[2020-12-15 12:21] Spaceman1984 commented on #3592
I have tested 4.13 and master,

I created a few networks and instances.
I attached the instances to multiple networks.
For some instances, I changed the default nic and others I left the default nic as is.
I destroyed and expunged all the instances and in all cases, the DB entries in the nics table were updated and the /var/lib/misc/dnsmasq.leases and hosts files in the router were updated success

[2020-12-15 14:30] GabrielBrascher opened #4545 "Fail to change Service offering from local <> shared storage"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Cluster with local and shared storage pools

##### OS / ENVIRONMENT

##### SUMMARY

Migrated a volume from local to shared storage pool; however, it fails to scale the offering from local to shared.

Error: "Unable to upgrade virtual machine VM [User|i-2-345-VM], cannot switch betw

[2020-12-15 14:34] alexandremattioli commented on #3779
In the case of SVS I'd leave the networks there (the vlans in ESX). There's no PVLAN conflict issue and it speeds up deployment as it can take quite a while to create all the portgroups in all hosts.

[2020-12-15 14:35] alexandremattioli commented on #3779
@rhtyd I've personally used this bug as a feature in the past.

[2020-12-15 14:49] DaanHoogland commented on #3824
@svenvogel i see `"forvirtualnetwork": true` in your range for ROOT domain. It seems to me that you would expevt them to be used. of course this may be a bad choice for flag names. Are you clear yet on how it should have worked?

[2020-12-15 14:56] DaanHoogland commented on #3141
@davidjumani @weizhouapache can you advice how this would impact novnc? it seems not relevant to the type of console but i am not sure.

[2020-12-15 15:09] DaanHoogland commented on #3221
@onitake isn't the proper solution creating a grant for `cloud`@`%`? this seems to me as designed. If you disagree what do you suggest should happen/change in the software?

[2020-12-15 15:14] DaanHoogland commented on #3015
one more remark in hindsight, @wido @rafaelweingartner . trying and failing is a big roundtrip from the deployment planner to the hypervisor. In the case of xen one might still want the ability to set a max if it is known anyway.

[2020-12-15 15:18] DaanHoogland commented on #2711
@wido @GabrielBrascher is this known to you guys?
As described it seems like a simple fix. on the other hand we are phasing out basic networks in favour of shared nets. so we might hold out on this.
@waza-ari are you still involved? do you have code (as you so precisely know where the crux is)?

[2020-12-15 15:23] DaanHoogland commented on #3388
@davidjumani I think the new UI handles this differently. can you check? (I do feel that the non-null default value makes sense btw. )

[2020-12-15 15:25] waza-ari commented on #2711
Hi there, I’m not with my former company anymore, I don’t know what the status of this issue is. I also do not have the code fragment anymore, I barely remember what it was about :)

I pointed a colleague from my former company to this thread though, maybe he knows if the problem still occurs.

[2020-12-15 15:49] DaanHoogland commented on #3592
@Spaceman1984 (cc @rhtyd) I think it is a bug, if the leases file is not updated for new VMs, but not the one reported here. Did you see that behaviour on both 4.13 and master?

[2020-12-15 15:50] andrijapanicsb commented on #3779
AFAIK, this is (unfortunately) not true, as we always reconfigure port groups (without checking if they exist or not) - part of the ensuring things are always in place (same thing as the fact that we tear-down VM's NICs and re-attach them during VM being started).

As I communicated to Daan - if a network "shutdown" happens in CLoudStack - another VLAN will (most probably) be used for that network

[2020-12-15 16:15] DaanHoogland commented on #2770
not sure butif i get the time and energy i'll look again at flogging this dead horse

[2020-12-15 16:16] #3906 closed

[2020-12-15 16:19] DaanHoogland commented on #3939
this is one of those bugs that could be "featured" and be abused so I think a setting for the behaviour is desirable. in this case with old or "expected" behaviour as a reasonable default.

[2020-12-15 16:20] DaanHoogland commented on #3456
@kioie can you recheck with the current master branch, please. Metrics have been somewhat adjusted.

[2020-12-15 16:21] GabrielBrascher commented on #2711
@DaanHoogland (un)fortunately we haven't seen it; I don't have much info to help here. Maybe @kiwiflyer knows something about it?

I would need to set a test environment only focused to reproduce such an issue and then debug it.

[2020-12-15 16:21] DaanHoogland commented on #3083
not much involvement here. Are there any people that feel responsible for the docker containers?

[2020-12-15 16:46] DaanHoogland commented on #2711
ok, @GabrielBrascher , leaving this for now unless @kiwiflyer or @nathanejohnson or @waza-ari 's former colleague comes back.
Also looking at the suggested code it does not seem to be specific to basic or any type of networking as i'd expect the `releaseIpAddress(String ip)` call t get a rangeId as well for any kind of ip being released.

[2020-12-15 16:52] DaanHoogland commented on #3868
@svouland in 4.15 there is an option to enter bios on boot for vmware. in older pressing f2 should work but you must reach the console in time to do that. Directly from the kvm console might be an option. I am not sure if there is functional possibility for kvm to do this programmatically.

[2020-12-15 16:59] andrijapanicsb commented on #4535
@vladimirpetrov Did you test with a regular user account?
Admins can always download even the non-extractable templates....

If you register a public templat/ISO as root admin (non-extractable) - and then if the regular user fails to download it - then there is no bug. If the regular user can still download it - it's a bug.

[2020-12-15 17:06] weizhouapache commented on #3141
@DaanHoogland it provides a default certificate (like old realhostip.com) to systemvms. It is an enhancement . ajax/novnc console will not be impacted.

[2020-12-15 17:10] weizhouapache commented on #3824
@DaanHoogland   it should be fixed if system.vm.public.ip.reservation.mode.strictness is set to true.

[2020-12-15 17:13] alexandremattioli commented on #3779
In my use case we'd pre-create all port groups in all ESX hosts (via PowerCLI), knowing that if the portgroup already existed ACS wouldn't need to recreate and wouldn't destroy them if the network is deleted. Without that the first VM of a new network would take 30-60 minutes to be deployed, with the portgroup in place this went down to 5-10 minutes.  I do agree with the garbage collection, but as

[2020-12-15 17:33] andrijapanicsb commented on #3779
+1 on the global setting, yes.

[2020-12-15 18:14] andrijapanicsb commented on #4541
My 2 cents (after testing on 4.14):

- If the template/iso is not marked as public, it will also not appear in the Featured (despite being marked as "Featured) - it seems this is how it works for a long time now
- Registering (upload from local) ISO as "admin" and marking it as "public" and "featured" - then trying to deploy a VM as a regular user account - works fine - i.e. the ISO is shown in th

[2020-12-15 18:29] andrijapanicsb commented on #4535
Again, my 2 cents after testing with 4.14;
- root admin account can download all templates/ISOs, irrelevant if it's marked as Extractable or not
- If a template is not extractable, regular user accounts can not download it - see images below:

![image](https://user-images.githubusercontent.com/45762285/102255825-e63e5680-3f0a-11eb-9cf9-fcaffd460e8c.png)

(Even more, when the template is marked as

[2020-12-16 02:06] gavinma86 opened #4546 "INSTALL.md misspell"
line 133 # **yum -y instal gcc**

it should be **yum -y install gcc**

[2020-12-16 07:00] resmo commented on #3083
there are test container images for the ansible integration https://quay.io/repository/ansible/cloudstack-test-container?tab=tags https://github.com/ansible/cloudstack-test-container

note that the container will report 503 until it is fully deployed, the api keys to use are served on port `8080/admin.json`

[2020-12-16 07:50] #3824 closed

[2020-12-16 07:52] DaanHoogland commented on #4541
@vladimirpetrov can you reconsider and close if it ^^ makes sense?

[2020-12-16 07:54] DaanHoogland commented on #4535
@vladimirpetrov can you test the user vs admin behaviour and revisit please?

[2020-12-16 07:57] DaanHoogland commented on #4546
@gavinma86 care to submit a PR?

[2020-12-16 07:58] DaanHoogland commented on #3083
tnx @resmo closing

[2020-12-16 07:58] #3083 closed

[2020-12-16 11:11] DK101010 opened #4547 "wrong root disk during the ingest bug"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

vmware env.

##### SUMMARY

VCenter api give a list of disks with a lexicographic order. CS expect that the root disk the first element of this list is. But this is not always the case.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

#####

[2020-12-16 11:15] DK101010 commented on #4547
PR https://github.com/apache/cloudstack/pull/4548

[2020-12-16 11:41] andrijapanicsb commented on #3788
Fixed now by #4529  - looks fine

[2020-12-16 11:41] #3788 closed

[2020-12-16 12:45] iyappan-dcis opened #4549 "Caused by: com.mysql.cj.exceptions.CJException: Variable 'sql_mode' can't be set to the value of 'NO_AUTO_CREATE_USER'"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

Webapp

[code]

##### CLOUDSTACK VERSION

4.14

[code]

[2020-12-16 12:51] rhtyd commented on #4549
@iyappan-dcis you want to wait until 4.15 to use MySQL8 with the latest mysql connector. There's a 4.15RC2 up for voting that you can test, see the dev ML https://markmail.org/message/jtsunp2z7rwl2zm7

[2020-12-16 12:52] rhtyd commented on #4549
sql_mode can be set via db.properties too at /etc/cloudstack/management

[2020-12-16 13:24] iyappan-dcis commented on #4549
@rhtyd Thanks for the update. How to we populate schema on the database, I don't see a command that populates the schema on database?

[2020-12-16 14:22] aleskxyz commented on #4545
@GabrielBrascher
Is it possible to extend this issue to changing disk offering for different tags?
For example I want to migrate a disk from HDD to SSD.

[2020-12-16 14:54] GabrielBrascher commented on #4545
@aleskxyz I think that PR https://github.com/apache/cloudstack/pull/4283 already does what you are looking for.

Initially, PR https://github.com/apache/cloudstack/pull/2636 (Merged) had it implemented but later this was changed; PR #4283  (Open) proposes a code to get that functionality back.

[2020-12-17 06:33] Spaceman1984 commented on #3592
The behaviour is the same for master and 4.13, but I did some more testing and I suspect it is down to config outside of Cloudstack. I have 3 virtual ESXI hosts and the VMs running on the same host as the VR are getting leases, but the ones running on other hosts are not getting leases.

I would have to test using a DVswtich to be sure, but this is what I am suspecting.

[2020-12-17 06:56] Spaceman1984 commented on #4535
I tested the UI  with master and the behavior is different, an admin does not have the download icon for an iso that is not marked as extractable. The question now is - is master or 4.13/4.14 broken?

[2020-12-17 07:35] rhtyd commented on #3592
The leases file is now fully generated on VR cleanup+restart. Closing on Darrin's remark.

[2020-12-17 07:35] #3592 closed

[2020-12-17 07:38] rhtyd commented on #4535
@Spaceman1984 can you test against 4.15 RC2? Thanks.

[2020-12-17 08:51] vladimirpetrov commented on #4535
I did, @rhtyd , the issue is there:

![image](https://user-images.githubusercontent.com/12384665/102465013-cc5d5a80-4055-11eb-93b0-3da46284864e.png)

[2020-12-17 11:02] weizhouapache opened #4550 "Potential security issue with novnc console"
The url in iframe of novnc console can be used without user login.

When open a vm console, and open the source of page, we get the real link of novnc console.
we are able to access the novnc console on other browsers/servers/ via the link, without user login.

This is a potential security issue.

We have two options
(1) add source IP of client to encrypted token, and check the client IP after tok

[2020-12-17 11:02] weizhouapache commented on #4550
@davidjumani
@DaanHoogland
@rhtyd
@PaulAngus
@andrijapanicsb

your opinions ?

[2020-12-17 12:46] rhtyd commented on #4550
@weizhouapache can you check again? I tried to login, open the console and then log out and refresh the console page and it failed the console session as before:
![Screenshot from 2020-12-17 18-15-22](https://user-images.githubusercontent.com/95203/102489737-e7e75600-4093-11eb-9e98-405a65155963.png)

[2020-12-17 12:56] weizhouapache commented on #4550
@rhtyd it is different from what I said.
see the steps to reproduce the issue in description.

[2020-12-17 13:04] rhtyd commented on #4550
I suppose it's not a security issue as long as the user is logged in and has access to the VM.

[2020-12-17 13:05] rhtyd commented on #4550
Can you check, I think it's the same behaviour as old console proxy

[2020-12-17 13:23] weizhouapache commented on #4550
@rhtyd
user can access the vm via URL in the page source,  on other servers, without login.

for example,
you open a vm console
view the source and get link like https://<console proxy public ip>/resource/noVNC/vnc.html?port=8080&token=XXXXXXXX
send the link to your colleague in another country
he will be able to access the vm console via the link (link is valid for 3 minutes).

[2020-12-17 13:27] rhtyd commented on #4550
Yes @weizhouapache but I think the old console also worked like that, if the old console had some auth mechanism that novnc doesn't then we should treat it like a regression, or if the token is not randomised (is static in nature, which I believe it isn't).

Otherwise, if you're sharing the token with a colleague (or the full link) then it's not a security issue which would appear same as sharing

[2020-12-17 14:45] vladimirpetrov commented on #4541
Agree with Andrija here, closing the issue.

[2020-12-17 14:45] #4541 closed

[2020-12-17 17:28] PaulAngus commented on #4550
@weizhouapache
@davidjumani
@DaanHoogland
@rhtyd
@PaulAngus
@andrijapanicsb

lets take this conversation to the security list which is now private@

[2020-12-18 05:05] davidjumani commented on #4550
@weizhouapache Bit late to the party but I tried the same steps and was able to reproduce it on the old console proxy as well. I don't believe it is a bug but could be a potential security issue based on the way the token is handled and authenticated.

[2020-12-18 08:43] davidjumani commented on #3388
From what I've tested on the new UI, timezone conversion doesn't happen and everything is in UTC. Will require creating a fix for it

[2020-12-18 09:35] weizhouapache commented on #4550
@davidjumani @rhtyd @andrijapanicsb @PaulAngus
thanks for your opinion and follow-ups.

here is a update:
I tested novnc console with my colleague on a openstack platform, we observed
(1) it accepts multiple sessions. all sessions are active (cloudstack: only 1 session: new or old #4531)
(2) the url of vm console (eg http://<ip>:6080/vnc_lite.html?path=%3Ftoken%<token uuid>) can be opened on other

[2020-12-18 11:14] rhtyd commented on #4550
Thanks for testing and sharing results @weizhouapache - we always knew ours is better but now we've proof :D

Any improvements are welcome, feel free to add new improvement issues or raise PRs - let's close this since you agree it's not a fundamental security bug. Thanks.

[2020-12-19 12:36] aleskxyz opened #4552 "Unnecessarily VM power status check when resizing ROOT disk volume"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

VMware 6.5
CloudStack 4.14

##### SUMMARY

When trying to resize ROOT volume of a VM in VMware, CloudStack checks for VM status and force user to power it off before ROOT disk resize.
But I can expand ROOT disk without need to power off the VM

[2020-12-20 12:33] mkriegs commented on #4463
Why is no systemvm version with frr installed out there?
So u can usw mp-bgp/ospf/egrp to route and Filter stuff.
Nearly Same setup for your kvmhost @wido ?

[2020-12-21 09:14] DaanHoogland commented on #2770
not on any priority list at the moment, reopen or recreate later

[2020-12-21 09:14] #2770 closed

[2020-12-21 09:16] DaanHoogland commented on #2801
(@rhtyd, ) closing based on the comments above

[2020-12-21 09:16] #2801 closed

[2020-12-21 12:05] wido commented on #4463
Yes, FRR with BGP/OSPFv3 would be great and very welcome!

It's just that somebody needs to write this implementation. This would allow for routing IPv4 and IPv6 public IP-space through the VR and have the VR perform firewalling and all kinds of other things.

I would like to see this in CloudStack as well. We just need somebody to design and implement it.

[2020-12-21 12:12] davidjumani commented on #3388
Created a button in the new UI to toggle between browser timezone and configured one. This way users can choose the timezone they'd like to use. @gildegoma Guess this should make everyone happy!
https://github.com/apache/cloudstack-primate/pull/903

[2020-12-22 09:55] gildegoma commented on #3388
@davidjumani thank you very much ❤️ The Primate enhancement looks pretty nice 👌🏿

[2020-12-23 12:27] davidjumani commented on #3388
@gildegoma @DaanHoogland The Primate PR has been merged, so users can choose between configured & local timezone. So can we close this issue ?

[2020-12-23 14:16] ngrosc opened #4558 "Creating an account has GET-like URL parameters"
##### ISSUE TYPE

 * Bug Report
 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

creating a new account using the web ui has some useless? get-like url parameters. maybe, this was a get request some time ago and then switched to post without cleaning the url part?

##### STEPS TO REPRODUCE

1.  use tcpdu

[2020-12-23 14:24] ngrosc commented on #4519
Hi guys

Meanwhile we were able to secure the connection between our IDP and Cloudstack and are now encrypting the assertions.
But the initial issue still exists.

When someone removes the signature, cloudstack accepts this.
Of course, if someone is able to intercept, decrypt, edit and reencrypt the assertion, we have some other major problems.

But from my point of view, it should be possible to

[2020-12-23 21:46] gildegoma commented on #3388
@davidjumani Yes, for sure! Thank you again for your work on this issue :)

[2020-12-23 21:46] #3388 closed

[2020-12-27 07:48] hstan77 commented on #4463
May be consider OSPF or BGP over. soft router ,  can consider the quagga, frr or exabgp, or bird.

Bird is quite easy for text configuration and reload for taking effect.  Or doing script api integration.

If BGP or OSPF is complicated,  It can be just static route ,  and IPv6 router out there need to have static route too.

[2020-12-27 07:59] hstan77 opened #4560 "IPv6 Implementation"
##### ISSUE TYPE

 * Enhancement Request

##### COMPONENT NAME

After deep consideration , I would like to suggest to split IPv6 configuration out from current configuration page during network creation.

This means, when create network, you can choose either IPv4 network or IPv6 network,.  When create Compute offering you can choose if this offering contain IPv4 or  IPv6 network,   If you can cre

[2020-12-28 09:00] uttruongson1995 commented on #4549
Are you fix this error ? @iyappan-dcis . i got same error

[2020-12-28 09:26] weizhouapache commented on #4549
this is fixed in 4.15/master.

mysql8 is not supported in 4.14

[2020-12-28 12:35] rhtyd commented on #4549
@uttruongson1995 @iyappan-dcis you're welcome to test the on-going 4.15RC3, see the thread - https://markmail.org/message/2hc34ete6se5tci6

[2020-12-28 18:30] weizhouapache commented on #4146
@DaanHoogland where is the doc for this issue ?

[2020-12-28 21:15] joschi36 commented on #3789
Yes this satisfies the request.
Can't wait to see this merged 😃

[2020-12-29 12:09] rhtyd commented on #4146
@weizhouapache I see some documentation here, but I'm not sure if it cover all you're looking for http://docs.cloudstack.apache.org/en/latest/plugins/cloudstack-kubernetes-service.html#kubernetes-clusters (this certainly states the type of networks CKS is supported on)

[2020-12-29 12:51] weizhouapache commented on #4146
@rhtyd thanks.
I tested cloudstack 4.15.0.0 RC3 and this issue still exist in my testing. I followed up the steps on the page you posted.

I tested with official ISO, official coreos template, default network offering for kubernetes cluster.
There is error caused by self-signed certificate. see line https://github.com/apache/cloudstack/blob/master/plugins/integrations/kubernetes-service/src/main/j

[2020-12-29 14:01] mib1185 commented on #3718
Hi,

during setup of cloudstack, table `hypervisor_capabilities` is created by

https://github.com/apache/cloudstack/blob/3a326f7280fefcd809573149ceb05b5fc7d07893/setup/db/create-schema.sql#L1657

with only "default" line for `KVM`

https://github.com/apache/cloudstack/blob/3a326f7280fefcd809573149ceb05b5fc7d07893/setup/db/create-schema.sql#L1681

which results in `max_data_volumes_limit` for "kvm

[2020-12-30 05:59] uttruongson1995 commented on #3843
I got issue below, please help me

[root@abc management]# ls
access.log  apilog.log  management-server.log  setupManagement.log
[root@abc management]# tail -f management-server.log
        at org.apache.cloudstack.ServerDaemon.start(ServerDaemon.java:200)
        at org.apache.cloudstack.ServerDaemon.main(ServerDaemon.java:101)
Caused by: com.cloud.utils.exception.CloudRuntimeException: Unable to

[2020-12-30 07:08] shwstppr commented on #4146
@weizhouapache We tried to reproduces this in our test env(with and without secured management servers) but can't. Can it be due to the way we provision certificates? I'm not sure how to incorporate using the `curl -k` call in the code. We set certificates for the k8s cluster here, https://github.com/apache/cloudstack/blob/master/plugins/integrations/kubernetes-service/src/main/java/com/cloud/kube

[2020-12-30 07:44] weizhouapache commented on #3843
please use mysql5 and mysql-connector-java 5

[2020-12-30 08:57] DaanHoogland commented on #4519
i agree it is an issue but only if a demontrable exploit exists can it be critival, @ngrosc . that said, it should be addressed.

[2020-12-30 09:23] DaanHoogland commented on #3718
@mib1185 , to answer your  last question; any 4.x version is done by installind the 4.0 schema and thenrun all the upgrades. so yes, the statements should be run for fresh installs of newer versions as well.

[2020-12-30 09:25] rhtyd commented on #4146
@weizhouapache do you suspect the code is not ignoring SSL errors/warnings that may be causing that https://github.com/apache/cloudstack/blob/master/plugins/integrations/kubernetes-service/src/main/java/com/cloud/kubernetes/cluster/utils/KubernetesClusterUtil.java#L223 ? However a 403/forbidden error hints that this is not SSL error. Can you investigate further?

[2020-12-31 08:40] rhtyd commented on #4146
@weizhouapache I tested and found that the isolated/network should allow egress (public) internet to work with ISOs from http://download.cloudstack.org/cks - check and see if you're hitting the same. @davidjumani has fixed the issue here https://github.com/apache/cloudstack/pull/4459 but we haven't pushed newer ISOs (which we'll try to update soon).

Commentary/notes:
I followed the docs (http://d

[2020-12-31 08:49] rhtyd commented on #4146
@ravening @weizhouapache cc @shwstppr I've added a line here - https://github.com/apache/cloudstack-documentation/pull/174/files
(with newer CKS ISOs that we'll build, we'll bundle additional dependencies (weavenet etc) so they're not fetching during setup)

[2020-12-31 22:39] nxsbi opened #4563 "In Fresh Install of CS 4.15.RC3 IPV6 for Public IP is not accepted."
##### ISSUE TYPE

 Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION

4.15 RC3

##### CONFIGURATION

Fresh Installation of CloudStack 4.15 RC3, during default setup screens.

##### OS / ENVIRONMENT

CloudStack 4.15 RC3 installed on CentOS 7, MySQL 5.7 CE

##### SUMMARY

UI does not accept IPv6 addresses for Public IP address.

##### STEPS TO REPRODUCE

After performing a fresh inst

[2021-01-04 06:48] DaanHoogland commented on #4563
@nxsbi if I'm not mistaken this is the issue with all released versions at the moment. Did you confirm this with any other version?

[2021-01-04 08:22] DaanHoogland commented on #3629
@gngusen , as this is really old and standard functionality I am closing this. Can you seek help at users@cloudstack.apache.org if this is still an issue for you, please?

[2021-01-04 08:22] #3629 closed

[2021-01-04 08:29] DaanHoogland commented on #3609
@PaulAngus' suggestion has merit, adding the guest os map as json, but that would have to be on a either or basis. It does make the solution more solid but adds complexity to the change.

side note: each os would need a `List<String> recognised_as` for convenience in the hypervisor plugins.
side note2: an export would help administrating during updates and upgrades.

[2021-01-04 09:02] DaanHoogland commented on #3603
@div8cn can you please expand on what you expect to happen as re-install would not be different from a new install, especially in the case of ISOs.

[2021-01-04 09:15] DaanHoogland commented on #3557
@onitake I think this doc part will need to be addressed as we release 4.15

[2021-01-04 09:18] DaanHoogland commented on #3523
@digitalgust can you try with latest and close or comment further?

[2021-01-04 09:21] DaanHoogland commented on #3513
@DmB991 can you confirm with 4.14 or later and close this issue?

[2021-01-04 09:23] DaanHoogland commented on #3493
ping @NuxRo @server24 , is this still an issue?

[2021-01-04 09:25] DaanHoogland commented on #3471
closing this @kioie , feel free to reopen if you encounter the issue again.

[2021-01-04 09:25] #3471 closed

[2021-01-04 09:28] DaanHoogland commented on #3456
@kioie closing this as well, please check with 4.15 and reopen if I shouldn't have.

[2021-01-04 09:28] #3456 closed

[2021-01-04 09:43] DaanHoogland commented on #3399
@pmury just encountered this. Are you planning this for any particular hypervisor or do you have code for this?

[2021-01-04 09:48] DaanHoogland commented on #3270
@onitake closing this, please reopen or create a new issue if you dissagree

[2021-01-04 09:48] #3270 closed

[2021-01-04 09:53] DaanHoogland commented on #3262
@hex-dec is this something you are still working on?

[2021-01-04 10:06] DaanHoogland commented on #2708
@jms345 there seems to be low interest in this issue. How are you dealing with this and is it still an issue?

[2021-01-04 10:11] DaanHoogland commented on #3482
@weizhouapache any update for us?

[2021-01-04 10:25] weizhouapache commented on #3471
this is fixed by #4381

[2021-01-04 10:27] weizhouapache commented on #3482
@DaanHoogland @rhtyd this should be fixed by #3760

[2021-01-04 10:33] DaanHoogland commented on #3482
@div8cn can you check in 4.14?

[2021-01-04 10:34] weizhouapache commented on #4146
@rhtyd thanks a lot Rohit.
I will test it again.

[2021-01-04 10:34] davidjumani opened #4566 "Incorrect `memoryintfreekbs` in listVirtualMachines for KVM"
The `memoryintfreekbs` retuned by listVirtualMachines for KVM is always greater than the total memory allocated for the VM. This is because it returns the RSS of the process running the VM (https://libvirt.org/manpages/virsh.html#dommemstat)
The RSS shows how much memory is allocated to that process and is in RAM. It is returned by `memoryStats` over at https://github.com/apache/cloudstack/blob/ma

[2021-01-04 10:35] davidjumani commented on #4566
Related to https://github.com/apache/cloudstack/issues/3456

[2021-01-04 12:45] onitake commented on #3270
Sorry, yes. This issue can be closed.

[2021-01-04 12:56] DaanHoogland commented on #4566
@PaulAngus @andrijapanicsb or any other functional eyes on this (@weizhouapache, @wido  maybe from your camp), This one raises a question about billing, should an operator be able to see both memory used by the vm and by the containing process for their accounting? what is the best un-ambiguous way to define this?

[2021-01-04 13:33] PaulAngus commented on #4566
This issue jumps between **FREE** memory and **USED** memory - which one are we talking about here?

[2021-01-04 13:53] DaanHoogland commented on #4566
the reported issue is about how free mem is calculated but the real issue is whether used memory as used by the VM-process as opposed to the memory used inside the vm should be attributed to the user or reported in some way at all

[2021-01-04 14:33] PaulAngus commented on #4566
thanks.  can we change the title to match the problem please.  Anyone looking back through commits will be misled.

I don't _think_ that the overhead to run a VM is the end-users problem, I _think_ that if I created a VM with 8GB RAM, I would expect to get charged for 8GB.

[2021-01-04 15:13] wido commented on #4566
@PaulAngus I agree. Overhead is something the operator should take into account. We at PCextreme do that. We take a safety margin on top of all the memory we allocate to VMs and which we then reserve for the Operating System, buffers and overhead.

So yes, the end-user should never be aware of the RSS on the hypervisor.

VMs using Ceph for example have a much higher overhead to due librados and li

[2021-01-04 15:32] andrijapanicsb commented on #4566
agree with Paul and Wido.

[2021-01-04 16:00] davidjumani commented on #4566
I agree as well so I gather that we have a consensus on it. The other issue is that the `memoryintfreekbs` parameter returns the wrong result (the rss instead) and it might not be possible to retrieve the free memory in the VM. What would be a good approach to go about handling it ? @PaulAngus @wido @andrijapanicsb @DaanHoogland

[2021-01-04 16:24] wido commented on #4566
Inside the VM depends on the hypervisor I guess. With KVM for example you have the Qemu Guest Agent which is needed to look inside the VM and get these results.

I don't think we can safely fetch that information from inside the VM.

[2021-01-04 19:39] andrijapanicsb commented on #4566
+1 on what Wido said, as this is public cloud people will be (mostly/soemtimes) running, so it's impossible to ensure specific hypervisor tools are running.
I don't see the value of monitoring the amount of RAM used inside the VM - let me user monitor his own VMs if needed (not the operator) using whatever tools they use.

[2021-01-04 21:00] weizhouapache commented on #4566
Totally agree.

by the way, there is a way to get accurate memory usage: memory ballooning.
see https://libvirt.org/formatdomain.html#memory-balloon-device
[code]

we could add a global setting to enable/disable it.

[2021-01-05 06:55] DaanHoogland commented on #4566
ok, i will not make a point of this but as an enterprise cloud operator I am not at all interested in the memory usage of a vm/user, only in the amount of memory it costs me/the company. I understand public cloud wins here.

[2021-01-05 07:02] davidjumani commented on #4566
So since the field's docs mention that it is the free memory inside the VM, guessing the docs should be changed or set to zero for KVM ? Right now it is greater than the total configured memory and used in the new UI while displaying the VM details

[2021-01-05 07:40] rhtyd commented on #4539
The PR is merged https://github.com/apache/cloudstack/pull/4540 should we close this @DK101010 ?

[2021-01-05 07:41] rhtyd commented on #4234
PR https://github.com/apache/cloudstack/pull/4484 is merged should we close this @div8cn @ustcweizhou ?

[2021-01-05 07:49] DK101010 commented on #4539
Hi Rohit, yes, you can close it.

[2021-01-05 07:50] #4539 closed

[2021-01-05 12:09] GabrielBrascher commented on #4498
Fixed by #4568.

[2021-01-05 12:09] #4498 closed

[2021-01-05 13:37] wido commented on #4566
Personally I'm not really a fan of all the global settings we are introducing in CloudStack. The list gets longer and longer.

That said, virtio ballooning is also something which needs to be supported by the guest. Linux does this, but Windows or BSD won't always do this.

[2021-01-05 13:37] wido commented on #4566
I would set it to 0 for KVM indeed. We can't reliably get this data.

[2021-01-05 13:38] wido commented on #4463
Yes, Quagga or Frr can do this work inside the VR.

The main point is that somebody needs to implement it and test it. That's the main issue.

[2021-01-05 20:33] rafaelweingartner commented on #4400
@harikrishna-patnala and @sureshanaparti exactly that.

[2021-01-06 18:13] mib1185 commented on #3718
@DaanHoogland ok, than this can not be the cause for that issue 🤔

[2021-01-07 05:01] davidjumani commented on #4566
Added a fix to set `memoryintfreekbs` to zero if it is greater than `memorykbs`

[2021-01-07 10:31] weizhouapache commented on #4566
yep. but cloudstack is a open source project.
There are some features which are used by some users but not used by other users. They might use different setting.
It is the certain result if more features and improvements are added.

@wido true. In windows, user have to install virtio driver for memory ballooning. If the driver is installed incorrectly, vm might be frozen after migration.

[2021-01-09 00:09] ManuDIY commented on #4423
Hello everyone.
Can someone help me with the following problem?
I have installed successfully the cloudstack management server v4.14, the pre-compiled version and i cannot add a vsphere 6.7 cluster within cloudstack.
It gives me this error.
![image](https://user-images.githubusercontent.com/37869585/104076726-9f006880-521f-11eb-96ba-ab90b9708947.png)

Thanks in advance for any idea / help,
Regards

[2021-01-09 15:49] mkriegs commented on #4463
yeah its lots of work to do with all the test and stuff.
Somethink like this ?
https://github.com/apache/cloudstack/tree/master/systemvm/debian/opt/cloud/bin

![image](https://user-images.githubusercontent.com/23615999/104095679-81231a00-5298-11eb-98c8-b6514d00e1a3.png)

there are some guys working on Integrate Tungsten Fabric integration so its may not need?!

[2021-01-09 16:23] mkriegs commented on #4463
https://github.com/packethost/packet-networking
or
https://github.com/packethost/network-helpers/blob/master/routers/frr/README.md

[2021-01-11 02:58] #3523 closed

[2021-01-11 10:39] rhtyd commented on #4423
@ManuDIY are you using Ubuntu packages from download.cloudstack.org? To use 4.14 with Vmware you'll need noredist packages that you can get from http://shapeblue.com/packages

[2021-01-11 20:17] AlexanderKgr opened #4578 "Upgrade from 4.14 to 4.15 and new UI does not load"
Upgrade from 4.14 to 4.15 and new UI does not load
I have this screen with the message

![image](https://user-images.githubusercontent.com/25532758/104233585-cb53f900-545a-11eb-888a-fa1bda89dfe6.png)

[2021-01-11 21:03] rhtyd commented on #4578
Thanks for reporting @AlexanderKgr can you share which repository you used?

[2021-01-11 21:03] rhtyd commented on #4578
(it could be failure to bundle the primate UI archive build)

[2021-01-11 21:11] AlexanderKgr commented on #4578
thanks for answering
i used this repository

deb http://download.cloudstack.org/ubuntu bionic 4.15

[2021-01-11 21:23] rhtyd commented on #4578
Can you use http://packages.shapeblue.com/cloudstack/upstream/debian/4.15/

@GabrielBrascher can you rebuild the mgmt server deb pkg by including a build of Primate under the ui directory of src? Ping me if you need any help or assistance.

[2021-01-11 21:37] AlexanderKgr commented on #4578
remove previous cloudstack management and tried to install the file from shapeblue and i have this error

![image](https://user-images.githubusercontent.com/25532758/104241215-fee85080-5465-11eb-8196-a83733eae45a.png)

[2021-01-11 21:46] AlexanderKgr commented on #4578
installed both
cloudstack-common_4.15.0.0_all.deb
cloudstack-management_4.15.0.0_all.deb

and everything works.
i suppose something is wrong with bionic repo. thanks for the help

[2021-01-12 06:15] AlexanderKgr opened #4579 "SSVM issue with 4.15 templates"
ssvm agent state does not change to up.

![image](https://user-images.githubusercontent.com/25532758/104276845-5b6f5e00-54ae-11eb-854c-7b1f4b4cf5d7.png)

Running health check

![image](https://user-images.githubusercontent.com/25532758/104276721-22cf8480-54ae-11eb-8a79-f51c02d2c24e.png)

logs from cloud.log

![image](https://user-images.githubusercontent.com/25532758/104276779-3aa70880-54ae-11eb-8

[2021-01-12 07:41] AlexanderKgr commented on #4579
so...using cloudstack-management from
http://download.cloudstack.org/ubuntu/dists/bionic/4.15/
(which has issue with new ui)

![image](https://user-images.githubusercontent.com/25532758/104284049-16e9bf80-54ba-11eb-9cab-164f42ee9534.png)

using cloudstack-management from

http://packages.shapeblue.com/cloudstack/upstream/debian/4.15/
and i have the above issue

[2021-01-12 07:53] rhtyd commented on #4358
Fixed in https://github.com/apache/cloudstack/pull/4557, this will make into future 4.14.1.0, 4.15.1.0, 4.16.0.0

[2021-01-12 07:53] #4358 closed

[2021-01-12 08:26] rhtyd commented on #4578
@AlexanderKgr can you close the issue, I'll advise @GabrielBrascher steps to rebuild the ubuntu pkgs.

[2021-01-12 08:27] #4578 closed

[2021-01-12 08:28] rhtyd commented on #4579
@AlexanderKgr we don't officially support XCP-ng 8.2 yet with 4.15.0.0 release but I suspect the issue is to wrong patching of systemvm.iso xcpng hosts. The systemvm.iso file contains noredist jars which will include hte missing class. Since you've changed the pkgs you'll need to manually sync/scp the new systemvm.iso file from /usr/share/cloudstack-common/vms/ to the xcp ng hosts's /opt/xensource

[2021-01-12 08:34] AlexanderKgr commented on #4579
thanks for answering.
lost in details. do you have any guide to follow?

[2021-01-12 09:11] AlexanderKgr commented on #4579
thanks followed for instructions and fixed it

[2021-01-12 09:11] #4579 closed

[2021-01-13 18:10] wido commented on #4463
@mkriegs Yes, the management server needs to do the work.

But again, the routing itself, either BGP or OSPF isn't really the problem. The point is the whole orchestration which is way more difficult.

I think that OSPFv3 is the easiest as BGP requires static IP adresses for the VR and OSPFv3 is more dynamic.

The main development work will be in the management server where you need extra models a

[2021-01-14 00:46] rhtyd commented on #4549
This is fixed in 4.15.0.0, and master. Closing on this remark, pl upgrade/use the latest release.

[2021-01-14 00:46] #4549 closed

[2021-01-14 10:55] shwstppr commented on #3341
@nvazquez this should fixed/changed with 4.15.0.0 vsphere advanced capabilities changes?

[2021-01-14 11:02] lizeyun commented on #4050
Have you solve this problem

[2021-01-14 13:49] rvalle commented on #4050
Yes it is now working.

I think my problem was related to firewall. My firewall policy was to close all, and only add the rules specified in the documentation, but it was not enough, or there was conflict between my firewall rules and rules managed by the agent.

are you having this problem too?

[2021-01-15 16:46] olivierlemasle opened #4587 "Register template from URL does not work with HTTPS and SNI"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY
The http(s) client used by the SSVM to download templates does not support SNI (Server Name Indication).

Templates available on webservers using https and SNI (e.g. behind Cloudfront) cannot be downloaded.

##### STEPS TO REPRODUCE

R

[2021-01-16 11:53] AlexanderKgr opened #4589 "Cannot create virtual router when restarting network"
Trying to restart network and vr is deleted after 4.15 installation.
System cannot recreate vr

![image](https://user-images.githubusercontent.com/25532758/104810612-7ae3ef00-57fe-11eb-8ee8-21d1e236da1f.png)

and the logs

![image](https://user-images.githubusercontent.com/25532758/104811128-19be1a80-5802-11eb-82e5-893145ba94c5.png)

any help will be highly appreciated

[2021-01-16 22:05] AthenaXiao opened #4590 "Customized HostnameVerifier bypasses the hostname verification"
##### ISSUE TYPE

 * bug report

##### SUMMARY
We found a security vulnerability. In file [cloudstack/plugins/network-elements/palo-alto/src/main/java/com/cloud/network/utils/HttpClientWrapper.java](https://github.com/apache/cloudstack/blob/0f3f2a09370a18301db28ec3d28efe746b6437c9/plugins/network-elements/palo-alto/src/main/java/com/cloud/network/utils/HttpClientWrapper.java), the customized Hostn

[2021-01-18 11:11] shwstppr commented on #4547
As discussed in #4548, there isn't any foolproof way to find root disk listUnmanagedInstance output or SDK APIs. PR #4591 has been created to add a new param in import API to allow the caller of API to assign a particular disk as ROOT volume.

[2021-01-18 12:04] rhtyd opened #4592 "Replace all screenshots with new UI"
Prev https://github.com/apache/cloudstack-primate/issues/867

The task is to replace all screenshots in documentation and other places with those from the new UI.

[2021-01-18 13:26] DaanHoogland commented on #3341
@Doni7722 can you check with 4.14 if @shwstppr is correct?

[2021-01-18 13:44] stedeux opened #4593 "list hosts"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 8 minimal 8.3.2011

##### SUMMARY

2021-01-18 14:35:17,623 WARN  [c.c.a.d.ParamGenericValidationWorker] (qtp1583159071-19:ctx-aed11ca3 ctx-fec58d78) (logid:33a5535c) Received unknown parameters for command listHostsMetrics. Unknown parameters : listal

[2021-01-18 14:43] Doni7722 commented on #3341
@DaanHoogland the vsphere advanced capabilities change comes with 4.15. I can check it when there is a RC available.

[2021-01-18 14:54] DaanHoogland commented on #4587
seems like a trivial change, I wonder if the `enableSNIExtension=false` was set on purpose.
cc @nvazquez (and maybe @sureshanaparti)?

[2021-01-18 15:01] olivierlemasle commented on #4587
I wonder, too...

As I wrote in PR #4588, `enableSNIExtension=false` was added in commit 1d45b75298e; the commit message includes:

[2021-01-18 16:03] vladimirpetrov opened #4594 "The network documentation contains dangling hyperlinks."
##### ISSUE TYPE
 * Documentation Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The missing file network2.html is linked from the documentation where subject pages should be pointed to.

##### STEPS TO REPRODUCE

The documentation sections about “Configure Guest Traffic in an Advanced Zone”, “Configuring a S

[2021-01-18 20:10] abdelouahabb opened #4595 "Cloudstack 4.15 not comptatible with Virtualbox/Ubuntu 20.04 (focal) ?"
Hi,

I try to make Cloudstack work as a lab in the same machine on VirtualBox with Ubuntu 20.04 using KVM (using those tutorial [link1](https://openstackbasement.com/cloud-stack-install/) and [link2](http://docs.cloudstack.apache.org/en/latest/installguide/management-server/)),

I tried the `focal` keyword to get the latest version

`deb http://download.cloudstack.org/ubuntu focal 4.15`

using `su

[2021-01-18 20:29] RodrigoDLopez opened #4596 "Variable names outside the standard defined by JAVA"
##### ISSUE TYPE

 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

Currently cloudstack uses a lot of legacy code with variable names outside the standard defined by JAVA. With this issue, I would like to express my intention to correct this pattern module by module in a way that facilitates the revisions and possible tests that may be required

[2021-01-19 06:11] weizhouapache commented on #4595
@abdelouahabb
if you want to use a vm in virtualbox as host, you need to enable nested virtualization.
https://docs.oracle.com/en/virtualization/virtualbox/6.0/admin/nested-virt.html

[2021-01-19 08:22] #4589 closed

[2021-01-19 08:58] DaanHoogland commented on #4593
@stedeux I see mention of listHosts and of adding a node. Your steps to reproduce don't show an expected vs an actual result, which makes it hard to see you problem. Can you please expand a little on your issue? thanks

[2021-01-19 09:03] abdelouahabb commented on #4595
It is already enabled, here is the screenshot
![Sans titre](https://user-images.githubusercontent.com/2527234/105011733-9557db80-5a3d-11eb-9e3c-cda48361221d.png)

[2021-01-19 09:11] weizhouapache commented on #4595
@abdelouahabb
it looks there are issues with your cloudstack management server (192.168.1.85).
could you please check the log /var/log/cloudstack/management/management-server.log on 192.168.1.85 ?

[2021-01-19 09:20] stedeux commented on #4593
On multiple test installations I have the hosts page crashing with the 404 error.

On 4.14 the error only occurred on primate UI
On 4.15 the error occurred once, disappeared and returned.

[2021-01-19 09:47] weizhouapache commented on #4593
@stedeux
if you use 4.15.0.0, could you retry after updating global config "add.host.on.service.restart.kvm" to "false" ?

[2021-01-19 09:49] DaanHoogland commented on #3341
sorry, i meant 4.15 indeed. the final RC is GA now.

[2021-01-19 09:50] uttruongson1995 commented on #3843
Hi all,

I'm installing Cloudstack 11.4.3 and Xenverser 7.
I cannot add host XenServer 7 to Cloudstack with output:
Cannot transit agent status with event AgentDisconnected for host 3, mangement server id is 345049306511,Unable to transition to a new state from Creating via AgentDisconnec

Is Cloudstack not support for XenServer 7 yet?
Please help me.

Many thanks.
Harry

[2021-01-19 09:54] DaanHoogland commented on #4594
@vladimirpetrov http://docs.cloudstack.apache.org/en/4.15.0.0/adminguide/networking/elastic_ips.html is there, but I got there through a search, maybe the page is orphaned? What path would you expect to lead there?

[2021-01-19 10:03] vladimirpetrov commented on #4594
@DaanHoogland I tried to reach it through the aforementioned page:

![image](https://user-images.githubusercontent.com/12384665/105018966-41092780-5a4e-11eb-876e-533987b6a94f.png)

and the link is broken:
[http://docs.cloudstack.apache.org/en/4.15.0.0/adminguide/networking2.html#about-elastic-ip](http://docs.cloudstack.apache.org/en/4.15.0.0/adminguide/networking2.html#about-elastic-ip)

[2021-01-19 10:07] DaanHoogland commented on #4596
I don't fully agree with the rigorous removal of `final` but good job @RodrigoDLopez . As for `final`, I'd put it in unless, rather that leave it out until...

[2021-01-19 10:16] DaanHoogland commented on #4594
ok, so that link is broken, `networking2.html#about-elastic-ip` should be `networking/elastic-ips.html`. I'm changing the titel of this issue.

[2021-01-19 10:58] vladimirpetrov commented on #4594
What about other links? Are they on a different place or just missing?

[2021-01-19 12:27] rvalle commented on #4393
@DaanHoogland I am following up with this issue.

@weizhouapache the changes that you mention are they triggered when the host is added?

I think we should include a mention on the documentation that the installation, but I am not sure what to, perhaps:

[2021-01-19 12:35] rvalle commented on #4295
Revisiting this issue, I just installed 4.15 for first time. Very impressed by the new UI.

Testing this issue on fresh install:

[code]

@DaanHoogland , looks like unfortunately is still there. And looks like it is still just me.

Quick question: Is it possible to use the remote JVM debugger if I installed from the packages? Perhaps setting JVM options on the service unit?

[2021-01-19 13:37] DaanHoogland commented on #4295
Yes, @rvalle we do that a lot, there even is a debug line for the options replacing the default. just comment out one and uncomment the other and restart.

[2021-01-19 13:38] DaanHoogland commented on #4594
Need to look, i *think* there is a file per feature, @vladimirpetrov

[2021-01-19 13:51] weizhouapache commented on #4295
@rvalle
the following commands work for me.
[code]

please pay attention to the id (1 -> root certificate, 2 -> certificate)

[2021-01-19 14:33] weizhouapache commented on #4393
@rvalle yes. it is part of cloudstack-setup-agent. more details at
https://github.com/apache/cloudstack/blob/master/python/lib/cloudutils/syscfg.py
https://github.com/apache/cloudstack/blob/master/python/lib/cloudutils/serviceConfig.py

If there are two physical networks, you have to configure cloudbr0 and cloudbr1 manually, as it only configures the cloudbr0.
It does not work for ubuntu 20.04

[2021-01-19 14:34] abdelouahabb commented on #4595
This is weird, the file is empty, and the error file from the systemctrl message dont exist but the service started ?

![Sans titre](https://user-images.githubusercontent.com/2527234/105048367-c818c880-5a6b-11eb-9630-20fdefa9a144.png)

[2021-01-19 14:51] weizhouapache commented on #4595
@abdelouahabb
I suggest you to setup the db again. it seems db is broken.

refer to http://docs.cloudstack.apache.org/en/latest/installguide/management-server/index.html
Set up the database. The following command creates the “cloud” user on the database.
cloudstack-setup-databases cloud:<dbpassword>@localhost --deploy-as=root:<password> -e <encryption_type> -m <management_server_key> -k <database_

[2021-01-19 14:54] rhtyd commented on #3482
Ping @div8cn can you test 4.14.0.0? Per @weizhouapache 's comment the issue has been fixed.

[2021-01-19 15:00] div8cn commented on #3482
ok, I will test on 4.14 AND 4.15 this week and provide test conclusions

[2021-01-19 17:20] abdelouahabb commented on #4595
That worked ! Thank you very much ! it seems I made a mistake by making the command `cloudstack-setup-databases cloud:some_password@some_distant_host`, I will try to make a script that detects this beginner error as the one i made !
Thank you again !

[2021-01-19 20:24] #4595 closed

[2021-01-20 03:05] div8cn commented on #3482
4.14.0.0 global configuration resource.count.running.vms.only It can control whether VM in stopped status performs consumption statistics

The problem has been solved

[2021-01-20 03:06] #3482 closed

[2021-01-20 07:34] rvalle commented on #4295
this seems to be only me, and I have a workaround too. so, will close for now.

[2021-01-20 07:34] #4295 closed

[2021-01-20 08:04] rp- opened #4599 "Unable to start KVM instance after upgrade to 4.15.0"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

basic network, simple test install

##### OS / ENVIRONMENT

Centos 7.9

##### SUMMARY

After the upgrade from 4.14.0, I'm not able anymore to start any instance.
First I tried my old alpine install, then deleted it and created a new instance, booting the alpine iso.
Always leading

[2021-01-20 08:31] weizhouapache commented on #4599
@rp-
the log shows
[code]

it looks like the systemvm template for VR is not ready or removed.
please change global config "router.template.kvm" to a correct value, restart mgt server, and retry.

[2021-01-20 08:45] DaanHoogland commented on #4590
sure this is not a good practise but as you provide no attackvextor/exploit there is nothing we can do with this report @AthenaXiao . thanks

[2021-01-20 08:50] rp- commented on #4599
The `systemvm-kvm-4.15.0` is Active and correctly set in: `router.template.kvm`, but the VR cannot start it seems:

[code]

[2021-01-20 10:31] weizhouapache commented on #4599
@rp-
could you check database to see if the template (id=207) is systemvm-kvm-4.15.0 and what the state is ?

[2021-01-20 11:05] rp- commented on #4599
[code]

[2021-01-20 11:21] shwstppr commented on #4599
@rp- you might have to check template state in image store,
`select * from template_store_ref where template_id=207\G;`
It should have state=Ready and download_state=DOWNLOADED

[2021-01-20 11:23] rp- commented on #4599
:/
[code]

[2021-01-20 11:23] mib1185 opened #4603 "uuids instead of display names are shown in detail view of VM snapshot"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

On details view of an VM snapshot uuids instead of display names for "VM name" and "Zone" are shown

##### STEPS TO REPRODUCE

- create VM snapshot
- open detail view for created snapshot

##### EXPECTED RESULTS

real displayname for "VM name"

[2021-01-20 12:28] shwstppr commented on #4603
@mib1185 listVmSnapshot API was not havin name parameters, I've created a PR to add them

[2021-01-20 12:36] shwstppr commented on #4599
@rp- did you allow CloudStack to download new systemvm template before upgrading the packages? Or do you see any error in management server or ssvm logs for template download?
If your systemvms are still in running state, you may try restarting cloud service inside SSVM to reattempt template download in the secondary store.

[2021-01-20 12:58] weizhouapache commented on #4599
@rp-
apparently template is not downloaded successfully.
please follow @shwstppr 's suggestion.

another option is, register the template again, and click 'Direct Download' if mgt server can connect to download.cloudstack.org.
it does not require SSVM to be up and running.

[2021-01-20 14:20] rp- commented on #4599
Thanks I finally fixed my installation.
The ultimate problem was, that a upgrade+reboot and some network configure script destroyed my `cloudbr0` and so started VM's weren't able to access any outside network. So SSVM could never download the image.
I fixed the network and restarted the cloud-management server and `cloud.service` in the SSVM.

From a user perspective it would be nice if I could se

[2021-01-20 14:20] #4599 closed

[2021-01-21 12:09] AlexanderKgr opened #4606 "List of templates - 500 server error"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### OS / ENVIRONMENT

##### SUMMARY
Until yesterday was working perfectly

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS

![image](https://user-images.githubusercontent.com/25532758/105349249-1b1c8800-5bf2-11eb-914f-626771a6f25a.png)

And the logs from cloudstack

[2021-01-21 12:37] DaanHoogland commented on #4606
@AlexanderKgr these images are not very helpful. Can you add the text version?

You say it stopped working, was this after an upgrade or with the same version?

[2021-01-21 12:42] shwstppr commented on #4606
@AlexanderKgr have you removed any secondary store?

[2021-01-21 12:42] rhtyd commented on #4606
NPE possibly due to null value returned at https://github.com/apache/cloudstack/blob/4.15/server/src/main/java/com/cloud/api/query/dao/TemplateJoinDaoImpl.java#L164
cc @nvazquez @harikrishna-patnala - does this seems like vsphere/deploy-as-is changes?

[2021-01-21 12:48] AlexanderKgr commented on #4606
it was working perfectly for 3-4 days without any issue

[2021-01-21 12:58] AlexanderKgr commented on #4606
no nothing

[2021-01-21 14:36] DaanHoogland commented on #4606
so no upgrade, same install, same templates?

[2021-01-21 15:18] AlexanderKgr commented on #4606
Updated to 4.15 before 3 - 4 days. Hadn't any issue those days. But today this 500 error

[2021-01-21 17:29] weizhouapache commented on #4606
@AlexanderKgr
could you please share the tables below ?
(1) vm_template
(2) template_store_ref
(3) image_store

[2021-01-22 04:31] harikrishna-patnala commented on #4606
Not related to those changes @rhtyd . We can investigate based on the tables requested by @weizhouapache

[2021-01-22 06:13] AlexanderKgr commented on #4606
sorry for the delay
the tables

[tables.zip](https://github.com/apache/cloudstack/files/5853916/tables.zip)

thanks for helping

[2021-01-22 07:36] Pearl1594 commented on #4606
@AlexanderKgr going over the tables shared, it seems like there are some active templates on stores with id's 15 and 16 but these stores have been deleted. Ideally, if there are active templates on a store, removal of the image stores will be prevented. It's because of the presence of these templates that the API fails

[2021-01-22 07:41] harikrishna-patnala commented on #4606
yes I checked the same what @Pearl1594 mentioned.
@AlexanderKgr please check if you have removed those secondary storages manually by some DB changes. If the secondary storage still available revert the DB changes or mark the active templates on those secondary storages as removed. Hope this will fix the your problem

[2021-01-22 07:51] sureshanaparti opened #4607 "[UI] Quick access menu bar missing for VM Snapshots"
[UI] Quick access menu bar missing for VM Snapshots

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Unable to access the quick menu options for VM Snapshots. Check the UI screenshot below =>

<img width="618" alt="VMSnapshots-NoQuickAccessProvided" src="https://user-images.githubuserc

[2021-01-22 08:18] weizhouapache commented on #4606
@harikrishna-patnala agrees. it seems @AlexanderKgr removed db entries manually.
it is not a bug.

[2021-01-22 09:00] #4606 closed

[2021-01-22 09:02] AlexanderKgr commented on #4606
ok found the issue and fixed it. thank you very much.
tried migrating these secondary storages and something might happen with the migration
by the way...is there anywhere a description of the tables or a diagram of the db?

[2021-01-22 11:27] slavkap opened #4610 "[UI] Cannot remove tags on host and primary storage"
If there is only one tag for host/primary storage it's not possible to remove it. The workaround is to replace the tag with a comma ",". In the old UI, this functionality works correctly

API call from old UI is:

API call from new UI the tag value with an empty string was not get:

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### EXPECTED RESU

[2021-01-23 03:35] nxsbi opened #4612 "After Upgrade to 4.15, NoVNC Console not working - HTTP 403, legacy console works"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced Networking, Upgrade from 4.11.1., SSL for Console Proxy enabled (certificates installed and working fine prior to upgrade)

##### OS / ENVIRONMENT

CentOS 7, MySQL 5.5, CS 4.15.0, xcp-ng 7.4
I use SSL Certificate for Console Proxy.

##### SUMMARY

By Default,
`novnc.consol

[2021-01-23 03:46] nxsbi commented on #4612
I Destroyed the Console Proxy System VM. Once new one was Built up, no VNC started working!

Apologies for the false Alarm.

NOTE  - I HAD done a Manual restart of the Console Proxy and the version did show the 4.15 after restart.
It seems a Restart alone may not be enough for an upgrade! I also restarted all Virtual routers, and SSVM, as well as Cloudstack-management service prior to posting this

[2021-01-23 03:46] #4612 closed

[2021-01-24 01:49] AthenaXiao commented on #4590
Thank you so much for replying. We are a security research team at Virginia Tech. We are doing an empirical study about the usefulness of the existing security vulnerability detection tools. The reported one is what we got from certain tools.

We'll so appreciate it if you can give us some information about the following questions. Your feedback is important for us to help improve the state-of-the

[2021-01-24 07:04] AlexanderKgr opened #4613 "Cannot remove Secondary storage after using new feature "migration of secondary storage""
##### ISSUE TYPE
 * Bug Report
##### COMPONENT NAME

API

##### CLOUDSTACK VERSION
[code]

##### SUMMARY

After migration finishes cannot delete secondary storage

##### STEPS TO REPRODUCE

1. Migrate data from image store choosing complete migration policy
![image](https://user-images.githubusercontent.com/25532758/105623414-3d94e800-5e22-11eb-9577-fbddf576bddb.png)

After a couple of minutes

![

[2021-01-24 18:58] DaanHoogland commented on #4590
@AthenaXiao this is a community driven project, people that experience problems try to get solutions merged. Static analysis has been showing us bad coding practices but without shown exploit no action will be taken. Usually it turns out we are talking about dead code or code that is isolated and unexposed. As this is an integration system, a lot of support for external systems gets implemented an

[2021-01-25 06:54] rhtyd commented on #4610
Fixed in https://github.com/apache/cloudstack/pull/4611, can you test latest 4.15 and close @slavkap

[2021-01-25 07:58] DaanHoogland commented on #4613
@AlexanderKgr are there system templates still on that secstor?

[2021-01-25 08:05] AlexanderKgr commented on #4613
yes there are system templates because there are other image stores - secondary storages.
Also there is the secondary storage that i migrated from this that i want to delete

[2021-01-25 08:26] slavkap commented on #4610
thanks, @rhtyd, it works correctly

[2021-01-25 08:26] #4610 closed

[2021-01-25 08:31] DaanHoogland commented on #4613
@AlexanderKgr can you test @Pearl1594 's fix in #4615? it is allowing for deleting a secstor if no private templates are on it, ignoring public (builtin) templates.

[2021-01-25 09:23] AlexanderKgr commented on #4613
will check and report

[2021-01-25 09:55] DaanHoogland commented on #3868
@svouland is this still an issue for you with the latest version?

[2021-01-25 10:05] DaanHoogland commented on #3950
@ravening is this still an issue?

[2021-01-25 14:39] AlexanderKgr commented on #4613
i am quite new to debug of cloudstack. can you help how to implement the fix? searching for the 2 files that have been changed but i cannot find them

[2021-01-26 08:18] DaanHoogland commented on #4613
@AlexanderKgr You'll need to build the PR version and upgrade a test environment to that version to be able to test it.

[2021-01-26 11:45] ravening commented on #3950
@DaanHoogland closing this issue

[2021-01-26 11:45] #3950 closed

[2021-01-27 11:04] DaanHoogland commented on #3866
seems resolved as per the comments above, please re-open if i'm in err.

[2021-01-27 11:04] #3866 closed

[2021-01-27 11:05] DaanHoogland commented on #4028
closing due to lack of info, please re-open with more details if needed.

[2021-01-27 11:05] #4028 closed

[2021-01-27 11:08] DaanHoogland commented on #4031
@nvazquez is this still a valid issue?
(seems minor/simple to me and could go towards 4.16)

[2021-01-27 11:12] DaanHoogland commented on #4036
@onitake do you consider this closed? #4037 is not merged and has a conflict but @4035 is merged.

[2021-01-27 11:14] DaanHoogland commented on #4038
@ibragullam did you find help and get your issue resolved?

[2021-01-27 11:20] DaanHoogland commented on #4590
relates to #4058

[2021-01-27 11:26] DaanHoogland commented on #4120
@shwstppr can you comment on this? And is general (cc @andrijapanicsb (-dont-use-this-one)) is it possible to auto discover whether a vm/template is uefi based?

[2021-01-27 11:37] shwstppr commented on #4594
@vladimirpetrov Opened this PR https://github.com/apache/cloudstack-documentation/pull/184, can you please have a look

[2021-01-27 11:59] shwstppr commented on #4120
@andrijapanicsb @DaanHoogland we can have look at this once #4329 is merged

[2021-01-27 12:33] DaanHoogland commented on #4112
@rhtyd are you talking of just the install time patching or live updates of the systemvm here?
and do you think we need to implement this before the next systemvm update?

[2021-01-27 12:35] DaanHoogland commented on #3691
implemented in vmware advanced capabilities work.

[2021-01-27 12:35] #3691 closed

[2021-01-27 12:45] DaanHoogland commented on #4594
@shwstppr I see uyou don't use `networking/elastic-ips.html` is there a double implementation somehow? i think that should be clean up, then.

[2021-01-28 08:07] levindecaro opened #4628 "Fail to create template from Volumes after upgrade 4.15"
* Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

centos 7.8.2003

##### SUMMARY

Fail to create template from Volumes after upgrade 4.15, 530 errors shown in UI.

SQL insert fail with NULL data.
[code]

Full Error Log
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-01-28 08:17] weizhouapache commented on #4628
`Column 'value' cannot be null`

[2021-01-28 08:52] levindecaro commented on #4628
yes, but it shouldn't be, the problematic VM was created since 4.14.

[2021-01-28 08:56] #4607 closed

[2021-01-28 08:56] #4125 closed

[2021-01-28 09:03] DaanHoogland commented on #4628
@levindecaro can you deduce what kind of value shoud have been in that field, and then fill it as workaround?
if this is indeed due to upgrade issue a default value should have been inserted for this details table.
Having said that the field value in table vm_template_details is nullable in my local db, can you check that?

[2021-01-28 09:06] DaanHoogland commented on #4187
@ccycv can youtest this with 4.15 please?

[2021-01-28 09:09] DaanHoogland commented on #4195
@ravening , @davidjumani did some improvcements in this respect fr 4.15 (I'll link the pull if i get time to find it) can you try with 4.15 please?

[2021-01-28 09:24] levindecaro commented on #4628
the original VM has the following option preset, when i try to create a template from this VM's Volume, it tried to inject kvm.vnc.address and kvm.vnc.port into vm_template_details, however it failed to inject kvm.vnc.address with NULL, so i changed the value field to NULLABLE to workaround this problem, but not sure it is expected behaviour or due to the upgrade.

[code]

[2021-01-28 09:48] ccycv commented on #4187
After the upgrade I will test asap and let you know.

[2021-01-28 10:06] DaanHoogland commented on #4628
double checked and they are supposed to be not nullable. no idea why this is happening, yet.

[2021-01-28 10:42] DaanHoogland commented on #4201
the statemachine `VMSnapshot.s_fsm`, the transition `s_fsm.addTransition(Expunging, Event.OperationSucceeded, Removed)` is never executed for this to happen (or an exception occurs).
`DefaultVMSnapshotStrategy.processAnswer(final VMSnapshotVO vmSnapshot, UserVm userVm, final Answer as, Long hostId)` is were is probably should happen.

[2021-01-28 12:25] DaanHoogland commented on #4203
@gaaray2k is the VM based on a tamplate that contains (the right version of) cloud_init?
This is not a known issue but please add some explanation of the screenshots in your description. also please recheck with the latest versions to see if it still a problem.

[2021-01-28 12:26] DaanHoogland commented on #4229
@gaaray2k did you solve your issue? (as in can we close this?)

[2021-01-28 12:33] DaanHoogland commented on #4238
@gaaray2k can you test this with 4.15, please?

[2021-01-28 23:27] stedeux commented on #4593
Ok it's work

[2021-01-28 23:28] stedeux commented on #4593
thank

[2021-01-28 23:28] #4593 closed

[2021-01-29 09:03] DaanHoogland commented on #4209
@gaaray2k did you get any progres on this or is it still an issue/feature request?

[2021-01-29 09:05] DaanHoogland commented on #4227
@gaaray2k this question is stale as well, Are you still on it?

[2021-01-29 09:31] DaanHoogland commented on #4024
@andrijapanicsb -dont-use-this-one is this covored by the -u patch by @GutoVeronezi - #4567 ?

[2021-01-29 10:02] DaanHoogland commented on #3742
@weizhouapache are you saying we connot solve this because of the lack of an API on KVM for stopping an ongoing job?

[2021-01-29 10:07] DaanHoogland commented on #3792
@div8cn @wqmeng , can you try this in 4.15?

[2021-01-29 10:12] DaanHoogland commented on #3802
@shoaibjdev are you still working on this issue? As suggested implicitly, can you try a cli tool like cloudmonkey to find the provider and does that work?

[2021-01-29 10:14] DaanHoogland commented on #4093
@soreana are you still planning for this?

[2021-01-29 10:26] weizhouapache commented on #3742
@DaanHoogland
I checked this again.
actually there is a method in libvirt-java to abort domain job.
https://libvirt.org/sources/java/javadoc/org/libvirt/Domain.html#abortJob()

[2021-01-29 10:41] DaanHoogland commented on #3719
I can confirm this still happens in 4.15. I wonder if it is on purpose as we are talking about the last host in the zone, might it be thought to be usefull to keep the images of the svms around?
i think we can call this valid and setting it to 4.14.1 for now (we might need to postpone ...

[2021-01-29 10:48] DaanHoogland commented on #3897
in view of the changes in #3894 it would seem that no further work needs to be done, @rhtyd can you comment?
@wido @weizhouapache did you have anymore issues as a result of this?

[2021-01-29 10:55] soreana commented on #4093
@DaanHoogland Honestly, it took a lot of time to apply the changes you required to merging this pr. I discussed it with my colleagues, and we concluded that it isn't our priority now. We focused on other stuff. It is still in our backlog, and we planned to work on it next quarter.

[2021-01-29 11:08] DaanHoogland commented on #4277
@alitheg if you are planning to do more investigation we can keep this issue open, otherwise we'd close it. care to comment?

[2021-01-29 11:13] alitheg commented on #4277
That's fine - I was only testing the waters of cloudstack and haven't the time to dig into it further. Closing the issue.

[2021-01-29 11:13] #4277 closed

[2021-01-29 11:38] DaanHoogland commented on #4454
@alexandru-bagu are you still planning work on this (for 4.16) or should we archive the issue/mark it as unplanned?

[2021-01-29 11:41] DaanHoogland commented on #3742
ok, so we can plan this for coming versions. I'll put it to 4.16 for now, let's change if needed.

[2021-01-29 11:44] DaanHoogland commented on #4093
tnx for your efforts @soreana , i'm marking it as unplanned for now, feel free to come back at any time of your convenience.

[2021-01-29 11:45] DaanHoogland commented on #4093
btw, i hope they didn't sound unreasonable!?

[2021-01-29 11:45] nvazquez commented on #4344
@harikrishna-patnala @rhtyd this affects 4.14 and starting from 4.15 only to VMs deployed from older templates (not using the deploy-as-is logic)

[2021-01-29 11:47] soreana commented on #4093
No, they are legitimate requirements :D

[2021-01-29 12:25] DaanHoogland commented on #4347
@lmhetz either dev@ or users@cloudstack.apache.org

[2021-01-29 12:25] #4347 closed

[2021-01-29 12:45] DaanHoogland commented on #4492
@hstan77 is the scenario where you first have to create a template and deploy from that good enough to you, and a proper alternative to your request?

[2021-01-29 12:54] DaanHoogland commented on #4286
@shwstppr @davidjumani do you think this is feasible in a near version?
@felipegabriel could you try to make your feature request more prozaic?

[2021-01-29 12:57] DaanHoogland commented on #4504
closing this as it is an architectural feature; for several processing units lists of backend specific code is presented the option to process. This is then assuming only one will respond with the "I can" and be left to dealing with it.

[2021-01-29 12:57] #4504 closed

[2021-01-29 13:01] DaanHoogland commented on #4391
@hstan77 I'm afraid this issue is still not well defined. Do you have an update?

[2021-01-29 13:08] DaanHoogland commented on #4270
@rvalle this seems related to #4454 would you agree?
I'll rename this to "conserve-mode in vpc" as it describes the issue correctly.
btw, are you working on this (either functionally or coding)?

[2021-01-29 13:25] DaanHoogland commented on #3664
@AndreaGHG as 4.15 is out and you didn't reply I'm assuming this can be closed, please re-open if i'm in err

[2021-01-29 13:25] #3664 closed

[2021-01-29 13:30] DaanHoogland commented on #3677
To be clear @borisstoyanov you want the API linkAccountToLdap to take a role instead of an accounttype, am I right? so this account must not existe yet or already have the same role assigned to it for the link to succeed am I right?

[2021-01-29 13:36] DaanHoogland commented on #3689
@andrijapanicsb -dont-use-this-one do you have ideas on use cases for this?

[2021-01-29 13:37] DaanHoogland commented on #3717
@div8cn is this still an issue in 4.15?

[2021-01-29 13:55] hstan77 commented on #4391
Hi

I understand Andrija said . Just I hope there is opton of LVM as
localstorage insteaod of file based.

On Fri, Jan 29, 2021 at 9:01 PM dahn <notifications@github.com> wrote:

--
Regards,
Hean Seng

[2021-01-29 14:00] hstan77 commented on #4492
Yes, this is the alternative is work for me.   But my intention is only to
make the UI more easy for end user where end user can finish the job in one
step instead of two.

On Fri, Jan 29, 2021 at 8:45 PM dahn <notifications@github.com> wrote:

--
Regards,
Hean Seng

[2021-01-29 14:13] DaanHoogland commented on #4391
@hstan77 local is local filesystem based not file based any LGLVM that has a filesystem on it could be used. How filesystems are mounted locally on the hypervisor would not really matter to ACS would it? So i am still wondering what exactly you mean.

[2021-01-29 14:14] GabrielBrascher commented on #3897
@rhtyd @DaanHoogland do you think that PR #4276 should extend its goals to more APIs?

Or is it ok to do it "progressively" with different PRs addressing this issue?

[2021-01-29 14:16] DaanHoogland commented on #4492
ok, but as @andrijapanicsb described, the undelying workflow should still involve a template creation. so this is really a UI feature than;
You are asking to unify the `createTemplateFromSnapshot` and `deployTemplate` steps into one, correct?

[2021-01-29 14:19] DaanHoogland commented on #3897
@GabrielBrascher I don't mind progressively solving this but I have two worries:
1. this issue drags on for the longest while
2. consistant implementation is going to suffer from scattered work, and we and up with a new discussion on how `list`APIs and the `listall` parameter should work

[2021-01-29 15:10] hstan77 commented on #4391
Currently for shared mount point  ,  it need to be run on Clustered
Filesystem, such as GFS2 or ocfs2 ,  OCFS2 is seems support till centos 6
only .   GFS2 has not easy to maintain and seems many issue for
implementing it .

Thats I am asking of possible support LVM base local storage .

On Fri, Jan 29, 2021 at 10:13 PM dahn <notifications@github.com> wrote:

--
Regards,
Hean Seng

[2021-01-29 15:18] hstan77 commented on #4492
into one, correct?
Yes, thats right .

On Fri, Jan 29, 2021 at 10:16 PM dahn <notifications@github.com> wrote:

--
Regards,
Hean Seng

[2021-01-29 15:34] ccycv commented on #4187
I still have the same issue, "failed to get message for exception: File []/vmfs/volumes/5ef5902c-83b77eaa-5143-b4a9fc1bb3ae/i-2-1583-VM/ROOT-1583.vmdk was not found"

1. Stop the VM
2.  Migrate storage
3.  Start VM - here I get the error, vmdk was not found.

[2021-01-29 15:34] ccycv commented on #4187
I still have the same issue, "failed to get message for exception: File []/vmfs/volumes/5ef5902c-83b77eaa-5143-b4a9fc1bb3ae/i-2-1583-VM/ROOT-1583.vmdk was not found"

1. Stop the VM
2. Migrate storage
3. Start VM - here I get the error, vmdk was not found.

[2021-01-29 16:32] DaanHoogland commented on #4492
@shwstppr @davidjumani what do you think?

[2021-01-29 16:33] DaanHoogland commented on #4187
@harikrishna-patnala @nvazquez can you comment?

[2021-01-30 06:31] levindecaro opened #4632 "Problem on selecting "Tier" dropdown and pagination error in "Port forward" UI"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY

Problem 1: empty VPC network list
Problem 2: pagination request error.

##### STEPS TO REPRODUCE

[code]
![requesterror](https://user-images.githubusercontent.com/36956864/106349183-e5208780-6306-11eb-9f67-4f0d62398ac9.png)

![p

[2021-01-30 07:04] rvalle commented on #4270
@DaanHoogland yes, I agree.

I am not coding on this issue.

I am currently using VPCs with the workaround that I explain above.

My coding time is mostly on the ansible-modules. After it I plan to start contributing on ACS codebase, this or other issue.

If you are planning to start working on this I would be willing to help.

[2021-01-30 14:37] alexandru-bagu commented on #4454
I've found workarounds for my requirements so I am not planning on working on this issue.
I tried a few changes but the fact that currently the ip must be associated with a network tier before it can be used makes it hard to implement.

[2021-02-01 08:23] DaanHoogland commented on #4632
@levindecaro did you look in the logs to see what happened?
Did you allow time for the creation of the networks in the VPC virtual router?

If there are any ERRORs in the log of exception traces, can you share these please?

[2021-02-01 08:24] shwstppr commented on #3939
@DaanHoogland do you mean we should add a global setting which will govern the behaviour (to fail deployment or not) when when suitable local storage is found for router? cc @borisstoyanov

[2021-02-01 08:28] DaanHoogland commented on #3939
I think that is *an* implementation but certainly not that it is the most desirable. Other solutions may include a setting on zone level or a setting in the networkoffering that allows for it or not.

[2021-02-01 08:39] rhtyd commented on #4546
Fixed by #4633

[2021-02-01 08:39] #4546 closed

[2021-02-01 08:54] rhtyd commented on #4245
Fixed in #4576

[2021-02-01 08:54] #4245 closed

[2021-02-01 10:11] DaanHoogland commented on #3749
closing this, please reopen if the issue re-occurs @meysamfarazmand

[2021-02-01 10:17] DaanHoogland commented on #3762
as activity is low I'm marking this as unplanned

[2021-02-01 11:30] #3749 closed

[2021-02-01 11:54] DaanHoogland commented on #3801
I see no issue:
[code]

Can you add more info if this is still an issue, @ravening ? (i tested in 5.15)

[2021-02-01 12:32] DaanHoogland commented on #3957
I'm having second thoughts on this @aleskxyz , if you revert, you want to revert, so yuou expect the original configuration. Why else would you?
cc @andrijapanicsb @PaulAngus @alexmattioli

[2021-02-01 12:46] DaanHoogland commented on #3751
@aleskxyz `direct download` means that templates are not downloaded and stored but the remote url is registered and whenever a deploy occurs the template is downloaded to primary if it is not yet available on it. This seems to partially fit your use-case (I don't know if you use backup of snapshots or the likes)

[2021-02-01 12:50] DaanHoogland commented on #4545
@GabrielBrascher by the looks of the line in your description this is very intentional. Do you plane to propose to change it?
And do you want to implement the possibility two way?

[2021-02-01 14:16] DaanHoogland commented on #4519
@rhtyd can you shed a light on why teh signature is ignored (and how to fix)?

[2021-02-01 14:18] DaanHoogland commented on #4560
@wido @GabrielBrascher can you guys comment?

[2021-02-01 14:21] DaanHoogland commented on #3513
assuming this is resolved in latest releases, please reopen if it persists.

[2021-02-01 14:21] #3513 closed

[2021-02-01 14:24] DaanHoogland commented on #3493
closing, please re-open if you encounter this again

[2021-02-01 14:24] #3493 closed

[2021-02-01 14:31] DaanHoogland commented on #3718
@mib1185 , got any further?
did you
[code]
in your installation?

[2021-02-01 14:32] DaanHoogland commented on #4423
@ManuDIY is this still an issue for you?

[2021-02-01 14:40] DaanHoogland commented on #4400
@borisstoyanov can you check in 4.15?
also the link in the summary gives me a 404, can you update the description, please?

[2021-02-01 14:43] DaanHoogland commented on #4393
@rvalle wil you send a PR to the docs repo?

[2021-02-01 14:44] DaanHoogland commented on #3868
@svouland closing, please reopen if it is still an issue

[2021-02-01 14:44] #3868 closed

[2021-02-01 15:01] manusysadmin commented on #4423
Hi @rhtyd, thanks for the tip. i will give it a try.

[2021-02-01 15:03] manusysadmin commented on #4423
yes, it is but i will try to do what @rhtyd just suggested to me.

[2021-02-01 15:31] manusysadmin commented on #4423
yes, it is but i will try to do what @rhtyd just suggested to me.

[2021-02-01 19:10] mib1185 commented on #3718
@DaanHoogland I do not have access to an installation based on KVM.
But I guess, @RoMi1981 could have a look into our KVM environment 🤔

[2021-02-01 21:22] nxsbi opened #4637 "Kubernetes cluster creation Error - Kubernetes cluster kubeconfig not available currently in Isolated Network"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Base install of 4.15.0 (upgraded from 4.11)
Kubernetes Service enabled
CoreOS template
community Kubernetes ISO (tried multiple  from v 1.11.4 to 1.16.3)
Using Advanced Networking
User account uses Isolated Network (not L2 or Shared)
SSL is enabled for CS GUI, and System VMs

#####

[2021-02-01 22:30] nxsbi commented on #4637
Additional Information:
I tried to get Config file via CMK.

I get error "HTTP 530 error code 9999"

![image](https://user-images.githubusercontent.com/71042351/106526185-036abc80-649a-11eb-9d5e-08bd57f9a812.png)

Are there any workarounds to make Kubernetes work?

[2021-02-01 23:43] nxsbi commented on #4637
After further digging... I logged into the master node using SSH via Private Key, downloaded the /etc/kubernetes/kubectl.conf and saved it locally as kube.conf

I ran a few commands. However, the Dashboard is still not visible.

I saw the Issue #4146
It mentions about running -- curl -k on management server I think -- However in my case, management server is on a separate VLAN and the users will n

[2021-02-02 06:51] shwstppr commented on #4547
Fixed with #4591

[2021-02-02 06:51] #4547 closed

[2021-02-02 07:09] rvalle commented on #4393
@DaanHoogland yes, I will do.

[2021-02-02 07:49] DaanHoogland commented on #3718
my bad @mib1185 , I thought you had the problem as well.
@RoMi1981 , could you please try that and report back (or close the issue if all's fine)?

[2021-02-02 09:29] shwstppr commented on #4637
@weizhouapache @ravening can you please comment, this seems the same issue mentioned in #4146
@nxsbi I've tried to reproduce this in my test environment with SSL enabled for GUI but I'm not being able to reproduce. Must be the difference in certificates

The problem seems to be at https://github.com/apache/cloudstack/blob/ff376d8187ec2687fef06c611740e8d4befba6e7/plugins/integrations/kubernetes-ser

[2021-02-02 10:17] RoMi1981 commented on #3718
thanks guys, i will check this and come back to you

[2021-02-02 10:38] rhtyd commented on #4514
Fixed in #4629

[2021-02-02 10:38] #4514 closed

[2021-02-02 13:32] nvazquez commented on #4031
@DaanHoogland I've tested this on 4.15 with the Primate UI and the issue is still present

[2021-02-02 18:50] nxsbi commented on #4637
@shwstppr I asked on the other thread (#4639) - but how do I test this change in my environment?
I am not a developer, so I am not sure..
Please advise

[2021-02-03 07:00] PranaliM commented on #4095
Hi @RodrigoDLopez,
Can you pls. let know that is there any plan to fix this?

[2021-02-03 07:06] shwstppr commented on #4211
@weizhouapache are planning/working on a fix for this?

[2021-02-03 07:52] weizhouapache commented on #4211
@shwstppr yeah. I will create a pr in coming days.

[2021-02-03 08:09] edikevich opened #4645 "Unable to create local link (XCP-NG + CS 4.15 + PreSetup SR)"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Management Server : CentOS 7.9 (also tested on CentOS 8.2, Oracle Linux 8.3)
Hypervisor : 2 x XCP-ng 7.6 (also tested on 8.1, 8.2, in the same pool)
Zone : Advanced without SG PreSetup SR

##### SUMMARY

On a freshly installed CS 4.15 I can't deploy zone with presetup iscsi storage

[2021-02-03 10:24] ravening commented on #4637
@shwstppr Just to confirm the requirements, the mgt server should be able to ssh to vm's?
Im planning to test this again

[2021-02-03 10:32] shwstppr commented on #4637
@ravening yes, management server should be able to SSH to VMs through VR.
Service adds firewall and port forwarding rule for that

[2021-02-03 12:41] RodrigoDLopez commented on #4095
Hello, @PranaliM
We have a fix for this issue, it was merged with this PR #4194 in version 4.15
I believe that users of cloud primate still cannot use this feature because we need to make changes to that project as well. However, my correction includes the standard graphical interface of the ACS.
Any other questions I am available.