[2021-02-03 14:24] #4211 closed

[2021-02-04 03:42] nxsbi commented on #4637
@shwstppr Per your last comment - Management Server needs to be able to SSH to VMs through VR.
 That means Management Server needs to be able to connect to VR (and vice versa).
FYI - I have limited understanding of how that communication needs to happen, and I am trying to learn here, so excuse my silly question...

If the Management server sits on its own VLAN with a single NIC, the VR is on its

[2021-02-04 08:36] weizhouapache commented on #4637
@nxsbi as far as I know, when kubernetes cluster is created, some port forwarding rules are added for vms in the cluster. for example,
VR public IP:2222 -> master
VR public IP:2223 -> node-1
VR public IP:2224 -> node-2

mgt server connects to kubernetes master/nodes via the VR public IP and ports above, not linklocal IP.

[2021-02-04 09:17] rhtyd commented on #3719
Edge case, not critical issue moved to next milestone.

[2021-02-04 09:22] rhtyd commented on #4594
Closing based on https://github.com/apache/cloudstack-documentation/pull/184 @vladimirpetrov pl check, re-open if you see something we've missed.

[2021-02-04 10:21] shwstppr commented on #4637
@nxsbi as correctly mentioned by @weizhouapache Kubernetes service connects cluster's master/nodes via the VR **public IP**. This is one of the requirement right now.
#4639 just tries to fix SSL validation issue while trying to access API server of k8s cluster.
From your logs shared in the PR, it seems management server is not being able to reach master VM through VR's public IP

[2021-02-04 16:17] vladimirpetrov commented on #4594
The last link - "'About Elastic IP” on the page:

[https://acs-www.shapeblue.com/docs/WIP-PROOFING/pr184//adminguide/networking.html#isolated-networks](https://acs-www.shapeblue.com/docs/WIP-PROOFING/pr184//adminguide/networking.html#isolated-networks)

![image](https://user-images.githubusercontent.com/12384665/106921704-edb4fb80-6714-11eb-93e5-4e25088485a1.png)

is still broken, it links to the

[2021-02-04 16:48] nxsbi commented on #4637
@shwstppr But my management server is able to curl -k the public IP. It fails on curl only without -k option.

![image](https://user-images.githubusercontent.com/71042351/106922958-6dfe4100-66c2-11eb-843f-8cb11128d400.png)

So this should be working right? Do I need any other port besides 6443 open? Does it communicate in any other way besides https?

[2021-02-04 16:57] shwstppr commented on #4637
@nxsbi Service uses SSH over ports 2222 to 2222+n. SSH on worker nodes is done only during k8s version upgrade.
Firewall and port forwarding rules must be automatically provisioned by the service in the cluster's network.

[2021-02-04 17:41] nxsbi commented on #4637
@shwstppr That was it!! The Management Server was not able to reach the Virtual router on port 2222 via ssh.
Turned out, the main Hardware firewall (outside of Cloudstack) does not allow inter VLAN communication as a default. That is what was blocking it. I added rule to allow the communication, and was able to create a cluster just now!

Thanks so much

Perhaps we need to add a note in the docume

[2021-02-04 17:46] nxsbi commented on #4637
IF the Management server setup uses a VLAN for its networking, appropriate Firewall rules need to be added to any router/hardware firewall to allow communication from management VLAN to all VLANs used for Public traffic where Kubernetes Cluster could be created.

[2021-02-04 17:46] #4637 closed

[2021-02-05 05:56] PranaliM commented on #4095
Thanks @RodrigoDLopez, this helps.
Do we have a similar option for editing host tags in service offerings ? If not, could we consider adding that?

[2021-02-05 06:25] shwstppr opened #4654 "VM's name and display name in UI"
In new UI, for the VM detail view shows VM's display name while VM's name is shown in the list view. It is fine when VM is deployed from the UI itself but name and display name can have different values when deployed from cmk.

Old UI used to show `name` of the VM in the list view and there was no info tab in detail view,
![Screenshot from 2021-02-05 11-31-12](https://user-images.githubusercontent

[2021-02-05 06:27] shwstppr commented on #4654
@harikrishna-patnala @vladimirpetrov @PaulAngus @weizhouapache @ravening @rhtyd @davidjumani @andrijapanicsb opinion on this?

[2021-02-05 06:37] harikrishna-patnala commented on #4654
@shwstppr In my opinion list view should show "Display Name" of the VM because the displayname itself is meant for that.
so I would like to see display name instead of name. Details tab anyways shows both Display Name and Name

[2021-02-05 07:24] shwstppr commented on #4594
@vladimirpetrov please test https://github.com/apache/cloudstack-documentation/pull/185

[2021-02-05 08:03] vladimirpetrov commented on #4654
I agree with @harikrishna-patnala!

[2021-02-05 08:16] DaanHoogland commented on #4535
why did you close this @andrijapanicsb , i see no comments indicating it isn't a problem anymore

[2021-02-05 08:40] DaanHoogland commented on #4038
@ibragullam I'll be closing this, please re-open if you feel the need but with this type of question you better join the users list users@cloudstack.apache.org.

[2021-02-05 08:40] #4038 closed

[2021-02-05 08:47] DaanHoogland commented on #4195
@ravening can you look if #4374 solves your problem? closing for now, but please reopen if you feel it is still an issue.

[2021-02-05 08:49] DaanHoogland commented on #4203
@gaaray2k closing now, please feel free to re-open or re-submit

[2021-02-05 08:49] #4203 closed

[2021-02-05 08:51] DaanHoogland commented on #4229
@gaaray2k closing, please reopen if needed

[2021-02-05 08:51] #4229 closed

[2021-02-05 08:52] DaanHoogland commented on #4238
@gaaray2k did you find an answer and can you share it?

[2021-02-05 08:53] DaanHoogland commented on #4209
@gaaray2k closing, hope you don't mind.

[2021-02-05 08:53] #4209 closed

[2021-02-05 08:58] DaanHoogland commented on #4227
@gaaray2k above I read that you added a user walvarez as domain admin so I am assuming some messages got crossed and this is answerred.

[2021-02-05 08:58] #4227 closed

[2021-02-05 09:17] PaulAngus commented on #4654
I think that the `display name` is the most obvious thing to show as Hari and Vladi say.

Our problem is that its a UI bug not to show both when creating an instance* so everyone knows what was going on, then the documentation mistakes might not have happened.

_Someone_ will probably get upset if we change it, even though it makes much more sense.

* @shwstppr - We should update the Add Instance

[2021-02-05 09:21] vladimirpetrov commented on #4594
@shwstppr Reviewed - LGTM now!

[2021-02-05 09:24] slavkap commented on #4238
I'm not @gaaray2k but I could tell how I did the setup on one of my hosts. My configuration is according to the steps from PR [#3638 ](https://github.com/apache/cloudstack/pull/3638)

I have installed OVMF and have created uefi.properties with those details
![image](https://user-images.githubusercontent.com/51903378/107012932-5dbd9300-67a2-11eb-94ba-35831b38828d.png)

and in /etc/libvirt/qemu.conf

[2021-02-05 09:37] DaanHoogland commented on #4238
@slavkap , that sounds like the adding of uefi.properties should be part of the agent setup/host connect procedure, should it?
cc @weizhouapache @wido @pavanaravapalli ?

[2021-02-05 09:54] andrijapanicsb commented on #4535
um... I don't recall doing it (probably accidental click)

[2021-02-05 09:55] slavkap commented on #4238
@DaanHoogland , I think that for the end-user it will be ok the uefi.properties file to be included. But I don't have experience in this, because for the last three days I'm "playing" with this feature :) So somebody else has to say which option is better

[2021-02-05 10:08] DaanHoogland commented on #3677
@rafaelweingartner any ideas? or @PaulAngus , maybe?

[2021-02-05 10:10] DaanHoogland commented on #3802
@shoaibjdev I'm closing this issue as it is not active. You can reopenif you wish.

[2021-02-05 10:10] #3802 closed

[2021-02-05 10:20] shwstppr commented on #4594
Closing based on ^^, fixed with https://github.com/apache/cloudstack-documentation/pull/185

[2021-02-05 10:20] #4594 closed

[2021-02-05 11:07] DaanHoogland commented on #3717
ping @div8cn

[2021-02-05 12:13] DaanHoogland commented on #4400
marking 4.16 as #4304 is as well

[2021-02-05 12:15] DaanHoogland commented on #4036
@onitake closing this, please reopen if needed.

[2021-02-05 12:15] #4036 closed

[2021-02-05 12:17] #4423 closed

[2021-02-05 12:17] DaanHoogland commented on #4393
closing this @rvalle

[2021-02-05 12:17] #4393 closed

[2021-02-05 12:19] DaanHoogland commented on #3718
great @RoMi1981, please just close if all right.

[2021-02-05 15:31] ravening commented on #4637
@nxsbi can you let me know which rules you added?

[2021-02-05 17:06] RodrigoDLopez commented on #4095
Hi @PranaliM
I will make this... but we will need help to merge this enchantment.
maybe if you could review and run some tests when I finish my work

[2021-02-05 17:58] PaulAngus commented on #3957
I'd agree with your last summary.  Revert to original deployment should do exactly that. Revert to the original 'configuration'

Obviously the DB and billing should reflect that..

[2021-02-05 19:53] nxsbi commented on #4637
@ravening Let me explain a but further to provide context for anyone that reads this thread in the future --

My network setup uses a hardware firewall and router as the first device to internet connection.
All VLANs used for Management and Public access are defined here, not Guest VLANs

That connects to switches. In the Switches, all VLANs are defined and tagged.
The switches then connect to the

[2021-02-05 22:25] dingelish commented on #4590
occasionally run into this issue. i'll strongly recommend at least "alert" by printing on stderr about the usage of "insecure by default implementations". recently lots of attackers are looking into such "default flaws" in famous/wide adopted frameworks, and then use some tools like "zoomeye" to find vulnerable "default"-configured instances. i'd say as Apache project maintainers/developers, we al

[2021-02-05 22:31] aleskxyz commented on #3957
@DaanHoogland
Reverting to template size or keeping the existing root disk size is not the problem.
As I have mentioned in bug report, we see a inconsistency here. In VMware I see that the disk size is reverted but CS reports that the disk size is not changed.
@PaulAngus

[2021-02-06 07:54] wido opened #4657 "Management server looses MySQL connection: Timeout waiting for idle object"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
This is a standard Management Server with a connection to a MariaDB server

##### OS / ENVIRONMENT
- Ubuntu 16.04.7
- 10.2.34-MariaDB-10.2.34+maria~xenial-log
- CloudStack 4.13.1

Settings in db.properties:

<pre>
db.cloud.url.params=prepStmtCacheSize=517&cachePrepStmts=true&sessionVar

[2021-02-06 08:38] nxsbi opened #4658 "Question: How to Import existing VM to Cloudstack Managed instance?"
##### ISSUE TYPE

 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

XCP-NG 8.0, Cloudstack 4.15

##### OS / ENVIRONMENT

N/A

##### SUMMARY

QUESTION:
How do I Import an Existing VM (which runs in same cluster that cloudstack manages) but not currently managed by Cloudstack - into Cloudstack managed instance?

I have several VMs that existed in our Xen/

[2021-02-06 10:30] DaanHoogland commented on #4590
@dingelish I do agree, and I would like to schedule work on this, that's why I didn't close the issue. The problem is that someone has to pick it up and address it. Not having an exploit lowers the incentive for people to address it, so if you have run into this issue please add it here. A message on stderr is not going to mean much in a multi machine system like this, i think. I do not have good

[2021-02-06 10:42] DaanHoogland commented on #3957
Ok @aleskxyz , that I agree to. the original size should be restored and set in the DB.
So I dissagree with the "EXPECTED RESULT" form your original description; "CloudStack resize root disk to larger size after rebuild", this should read "CloudStack resizes root disk to original size after rebuild".
Being pragmatic we might let the behaviour be hypervisor specific to ease implementation, but in p

[2021-02-06 10:50] DaanHoogland commented on #4657
@wido, max active connections being reached shouldn't kill all connectivity, should it? open connections should still work and when closed new ones should be able to be opened. sound like a serious bug in production.
Did corruptions occur in the DB?

[2021-02-06 10:53] DaanHoogland commented on #4658
@nxsbi this is currently only implemented on vmware. Your workaraound (to create a template from the external VM, register it as a template and deploy from there) is the only way at the moment as far as i know.

[2021-02-07 01:01] abdelouahabb opened #4659 "Agent : SSL Handshake failed while connecting to host on port: 8250"
##### ISSUE TYPE
 * Bug Report
##### COMPONENT NAME
[code]
##### CLOUDSTACK VERSION
[code]

##### SUMMARY

I cant add a `kvm`, it works with `xcp-ng/xen` but not with `kvm` and I get this error :

[code]

[2021-02-07 03:48] luhaijiao opened #4660 "Extremely laggy to access Windows guests via NoVNC console"
##### ISSUE TYPE

 Improvement Request

##### COMPONENT NAME

NoVNC Console

##### CLOUDSTACK VERSION

4.15

##### CONFIGURATION

All

##### OS / ENVIRONMENT

Ubuntu 20.04

##### SUMMARY

With Ubuntu 20.04(KVM)+ACS 4.15,  we noticed

- Access to Windows guests via NoVNC console is extremely laggy, barely to use, even compared to the original VNC console in ACS 4.14 or previous versions.
- Access t

[2021-02-07 08:23] DaanHoogland commented on #4660
@davidjumani @weizhouapache is this a known issue?

[2021-02-07 10:29] PranaliM commented on #4095
sure, @RodrigoDLopez. Thanks.

[2021-02-07 12:45] wido commented on #4657
No, it shouldn't indeed. I also doubt if we are reaching the max connections. Looking at this management server now it has 20 open connections from CloudStack. I doubt if it reaches the 250.

There were/are no known DB corruptions. MariaDB is running just fine. As stated, just restarting the mgmt server is enough to get everything working again.

[2021-02-07 13:20] weizhouapache commented on #4657
@wido what's the value of mysql variable "wait_timeout" ?

we had some issues caused by it in the past (it was 600 in our environment).
[code]

[2021-02-08 02:22] abdelouahabb opened #4661 "Online docs search results takes to the superseded docs"
##### ISSUE TYPE

 * Documentation

##### COMPONENT NAME
[code]

Online docs search results send to the deprecated docs

- Search a keyword
- After results, choose any resultat
- It will take the user to the 4.12 page showing `Warning NOTICE: THIS DOCUMENTATION SITE HAS BEEN SUPERSEDED.`

[2021-02-08 08:18] wido commented on #4657
<pre>
MariaDB [(none)]> show variables like "wait_timeout";
+---------------+-------+
| Variable_name | Value |
+---------------+-------+
| wait_timeout  | 28800 |
+---------------+-------+
1 row in set (0.00 sec)

MariaDB [(none)]>
</pre>

The server which this happened to had this issue now happen twice within 24h.

[2021-02-08 11:16] DaanHoogland commented on #4661
@abdelouahabb would you know why this is and how to solve it (for other users) ?

[2021-02-08 11:35] DaanHoogland commented on #4657
so that is 8 hours of waiting before mysql abandons stale connections, worth a shot (10 minutes is mayby a bit short)
It would explain things if ACS thinks it has only 20 connections and mysql thinks it has 250.

[2021-02-08 13:02] ravening opened #4664 "Unable to create shared networks in master"
I am unable to create shared networks in the latest master branch

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]
![Screenshot 2021-02-08 at 13 58 41](https://user-images.githubusercontent.com/10

[2021-02-08 14:13] weizhouapache commented on #4664
@ravening yes, I confirmed it.
it does not work most of times.

[2021-02-08 14:52] ravening commented on #4664
after some debugging, found out that `this.formSelectedPhysicalNetwork` was null and NPE happens there. Hence the code flow wont go further

[2021-02-08 15:28] weizhouapache commented on #4664
@ravening good. should it be a required field ?

[2021-02-08 15:34] ravening commented on #4664
No.. for some reason this field is null. we just need to call the api to fetch the data again if its null. i have made the change and it works fine. will create a pr

[2021-02-08 19:11] abdelouahabb commented on #4661
From the online documentation there is the `PRE 4.11 DOCUMENTATION` in the navbar, so if we take the example of the Installation Guide, there are two versions :
- the old one who sends to `http://docs.cloudstack.apache.org/projects/archived-cloudstack-installation`
- the other one (latest) stays in the latest docs `http://docs.cloudstack.apache.org/en/latest/installguide/`

So from here, the searc

[2021-02-09 00:01] div8cn commented on #3717
I reproduced this bug in 4.15.0.0 + Ubuntu + KVM + CEPH

global.ha.tag=HCMHA
hosttags="aabb,ccdd,HCMHA"

the listhostsresponse:

{
listhostsresponse: {
count: 1,
host: [
{
id: "ebbdfa50-0d36-4155-9561-ec02e337b807",
name: "nodeb",
state: "Up",
disconnected: "2021-02-03T23:00:13+0800",
type: "Routing",
ipaddress: "10.228.18.129",
zoneid: "0dfcc491-25c0-4527-ab99-bf9c5916ad50",
zonename: "DEV2.4",
p

[2021-02-09 00:20] abdelouahabb commented on #4659
Still nothing, even modifying the `root ssh access`

[code]

Same error

[2021-02-09 08:38] saliven1970 opened #4669 "In Centos-8，Build Fail"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS-8.2

##### SUMMARY

In CentOS-8, python should be used instead of python2

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-02-09 09:02] saliven1970 commented on #4669
tools/apidoc/build-apidoc.sh: line 83: python: command not found,must be python2

[2021-02-09 09:08] shwstppr commented on #4669
@saliven1970 were you able to build after replacing that line to python2?
I guess it would still fail with other components especially marvin.
As a workaround you can add a symlink for python2 while building,
`ln -sf /usr/bin/python2 /usr/bin/python`

[2021-02-09 09:14] saliven1970 commented on #4669
Well, that's a good idea. Anyway, it will be upgraded to python3 in the future

[2021-02-09 09:17] #4669 closed

[2021-02-09 12:15] DaanHoogland opened #4673 "removing a linking ldap account leaves an ldap-trustmap"
This is an issue bacause remove account does not interact with the ldap plugin. when creating a linked account this trustmap is created en when linking against the same ldap group again it is deleted and re-created. But when creating a lot of new test groups these remain in place as they are never re-used.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[c

[2021-02-09 18:23] efansoftware commented on #4578
Same issue exists in packaging from source for CentOS7
[cd packaging; ./package.sh -d centos7]
After upgraded to 4.15 (from 4.13) by using these rpms, same first ui as Alexander posted screenshot.
The new UI does not load.

@rhtyd , could you please share the build steps to include the Primate? It will help much even it is draft. Thanks! [I searched through 4.15 documentation but did not get a clu

[2021-02-10 07:56] rvalle commented on #4393
@DaanHoogland sorry for the delay, I was implementing the new inventory plugin for ansible modules.

Can you point me where the documentation source is?

[2021-02-10 07:56] rvalle commented on #4393
OK I see is a different project...

[2021-02-10 08:13] DaanHoogland commented on #4659
@abdelouahabb this is working for loads of people all over the world. I suggest you ask for help on users@cloudstack.apache.org
By the looks of your log, the problem is not with ssh but with the certificates or the jdk encryption policies available to your host or management server.

[2021-02-10 08:14] rvalle commented on #4393
better late than never... it surprises me to be the #1 pull request,
@DaanHoogland is this supposed to be how you address doc changes?

[2021-02-10 08:16] DaanHoogland commented on #4393
@rvalle you created a pull request to your own fork of the repo.

[2021-02-10 08:23] DaanHoogland commented on #4661
Can you add screenshots and hyperlinks to the problamatic location, please.
at http://docs.cloudstack.apache.org/en/latest/index.html there is no `PRE 4.11` :
![image](https://user-images.githubusercontent.com/2486961/107483555-291e5280-6b79-11eb-8da0-d4c89d161c3d.png)

where are you looking?

[2021-02-10 10:00] shwstppr opened #4674 "vmware: vm operations fail after ROOT volume migration"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Hypervisor: VMware, 2x VMware 6.7.3 ESXi hosts
Advanced networking
2x NFS primary stores
One NFS based datastorecluster primary store

##### OS / ENVIRONMENT

CentOS 7 management server

##### SUMMARY

When ROOT volume of a stopped VM is migrated from one primary store to another,

[2021-02-10 10:54] rvalle commented on #4393
thanks! no idea how it happened. first time I edit a file inside github.

[2021-02-10 15:23] ThyLAW opened #4677 "Question: Nested Virtualization"
##### ISSUE TYPE

 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

4.15
[code]

##### CONFIGURATION

Followed the quick installation guide
##### OS / ENVIRONMENT

CentOS 7.9, installed as VM on hyper-v Windows Server 2016. Followed the quick installation guide on the documentation

##### SUMMARY

I created this ApacheCS installation on a virtual machine. I have it working and othe

[2021-02-10 15:38] abdelouahabb commented on #4661
It is already in the sidebar :
![Sans titre](https://user-images.githubusercontent.com/2527234/107532621-60632280-6bbe-11eb-958e-9721a9e74724.png)

[2021-02-10 17:07] abdelouahabb commented on #4659
Checked the policy and it is enable :

` nano $JAVA_HOME/conf/security/java.security` and the value is `crypto.policy=unlimited`

[2021-02-10 19:20] efansoftware opened #4680 "CS-4.15: CentOS: Official New UI Missing in Packaging from Source"
##### ISSUE TYPE

 * Bug Report
May also:
 * Improvement Request
 * Documentation Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

CentOS-7 in my trial

##### SUMMARY

Built packages from 4.15.0.0 source successfully, then use the generated rpms to upgrade an working 4.13.1.0 environment.
[cd packaging; ./package.sh -d centos

[2021-02-10 19:29] shwstppr commented on #4680
@efansoftware New UI has been added in 4.15 branch for packaging with https://github.com/apache/cloudstack/pull/4605
It will be available in 4.15.1 as cloudstack-ui package

[2021-02-10 20:10] weizhouapache commented on #4677
@ThyLAW if you use a virtual machine as cloudstack kvm host, nested virtualization must be enabled.
however, it seems not supported by hyperv.
https://docs.microsoft.com/en-us/system-center/vmm/vm-nested-virtualization?view=sc-vmm-2019

[2021-02-10 20:14] weizhouapache commented on #4659
@abdelouahabb
can you try the following step on node ?
(1)  rm /etc/cloudstack/agent/cloud.*
(2) systemctl restart cloudstack-agent
if it does not work, remove host from cloudstack, and re-add it.

[2021-02-10 22:57] #4677 closed

[2021-02-11 00:29] abdelouahabb commented on #4659
It dident work,
I even deleted the certificates and installed new ones :+1:

[code]

And here is my network configuration :

[code]

Is it a bug with Ubuntu 20.04 ?
[code]

[code]

[2021-02-11 08:41] weizhouapache commented on #4659
@abdelouahabb is there error log on management server ?

[2021-02-11 09:47] harikrishna-patnala opened #4682 "[UI] while creating any system offering, API always called with System VM Type as domain router"
While creating any system offering of type SSVM or CPVM or domain router from UI, the underlying API called is always with
"systemvmtype" as domainrotuer.
Following is the screenshot of system offering creation with System VM type "Secondary Storage VM"
![image](https://user-images.githubusercontent.com/3348673/107620510-ce6d1f80-6c7a-11eb-903d-6bfeaf1deda8.png)

Here is the system offering create

[2021-02-11 11:37] slavkap commented on #4244
Hi all, if nobody is working on this, I have a fix for attaching/detaching an ISO and deploying a VM from an ISO (because there's also a problem with this option). I'm still testing it, and when I'm ready, I could open a PR with the fix.

[2021-02-11 13:53] DaanHoogland commented on #4661
@abdelouahabb sorry I can't reproduce your description:

    Search a keyword
    After results, choose any resultat
    It will take the user to the 4.12 page showing Warning NOTICE: THIS DOCUMENTATION SITE HAS BEEN SUPERSEDED.

so trying to reproduce:
- i went to the docs
- and typed network,
- choose the first entry: http://docs.cloudstack.apache.org/en/latest/adminguide/networking/basic_zone_c

[2021-02-11 17:05] abdelouahabb commented on #4659
The content of the folder belong to the user `cloud`

[code]
I made an operation so I can record the log : login, adding primary storage (error), secondary storage (success), adding new host (error)
` sudo tail -f /var/log/cloudstack/management/management-server.log > error.txt`

[code]

[2021-02-11 17:09] abdelouahabb commented on #4661
Because it gives duplicate results, one from the latest docs, the other one from the archived :
![Sans titre](https://user-images.githubusercontent.com/2527234/107671593-4a279600-6c94-11eb-820d-a8804d107c38.png)

[2021-02-12 08:53] shwstppr commented on #4682
@harikrishna-patnala please check if PR #4683 fixes the problem

[2021-02-12 09:19] DaanHoogland commented on #4658
@nxsbi do you want to turn this into a feature request? and do you want to be involved in the work around it?

[2021-02-12 09:21] DaanHoogland commented on #4657
@GabrielBrascher any plans for pr/prospect on this (i.e. can we put milestone 4.15.1.0 on this)?

[2021-02-12 09:33] DaanHoogland commented on #4661
yes, it does. This is intentional. What is it that you would want to see different?

[2021-02-12 09:46] DaanHoogland commented on #4659
ok @abdelouahabb , I think you have a problem on your host (using the host certificate) I added to milestone 4.15.1, but I think it is a problem with the host installation. Please add some information from the agent if you can.

[2021-02-12 11:03] weizhouapache commented on #4657
@wido can you check the global variables ?
`show global variables like "wait_timeout";`

[2021-02-12 11:53] GabrielBrascher commented on #4657
@DaanHoogland unfortunately I don't have any due date to a patch on this one. So far we are in debugging process and we see it happening on 4.13.1.0; it might not even happen when we upgrade to 4.15.

What we know so far is that the MySQL connections are not growing much, we have 1/3 or less of maximum connections. Thus, a leak would probably be on the Java side.

@weizhouapache here follows some

[2021-02-12 13:10] weizhouapache commented on #4657
@GabrielBrascher yes,
60 is ok if database is small.
But when db is getting bigger and bigger, you should increase the value.

refer to https://mariadb.com/docs/reference/es/system-variables/wait_timeout/
we use 28800

[2021-02-12 13:25] GabrielBrascher commented on #4657
Thanks for the help @weizhouapache.

I think that `max_connections` was set to `28800` and then later to `60` but the errors kept coming either way: https://github.com/apache/cloudstack/issues/4657#issuecomment-774961189. I will re-check that; hope to find the root cause or a MySQL setup that handles it.

[2021-02-12 14:37] weizhouapache commented on #4657
@GabrielBrascher do you mean `wait_timeout` ?

You should change the global value (from 60 to 28800).

[2021-02-12 17:29] Mahir92 opened #4689 "Update to enable TLS >=1.2 as default secure protocols"
in file https://github.com/apache/cloudstack/blob/0f3f2a09370a18301db28ec3d28efe746b6437c9/plugins/network-elements/bigswitch/src/main/java/com/cloud/network/bigswitch/TrustingProtocolSocketFactory.java, line 71, the SSL protocol is used in statement:  SSLContext sc = SSLContext.getInstance("SSL");

Impact:

An SSL DDoS attack targets the SSL handshake protocol either by sending worthless data to

[2021-02-12 20:15] wido commented on #4657
We'll look into that and report back

[2021-02-13 02:50] abdelouahabb commented on #4661
Maybe if there is a big difference between the LTS and the normal release, it would be good to have two results, but i think having two results seems ambiguous ?

[2021-02-13 03:13] abdelouahabb commented on #4659
Thank you,
Here is the log, this keeps looping over and over

[code]

And I have even replaced the openjdk with the oracle java

[code]

[2021-02-13 03:19] gokula-krishna-dev commented on #4669
I tried this work around and it is still failing. Any alternative solution?

[2021-02-13 10:27] DaanHoogland commented on #4661
we changed the documentation method at 4.11 that's why. It is marked as `from archived` so I don't see a problem. as 4.11 is quite old we might considder phasing it out, but on the other hand I know of companies still at 4.7 and 4.9.

[2021-02-13 20:23] nxsbi commented on #4658
I am not a developer, so I cannot help with coding, but I can definitely help with testing if that helps.
It would be a nice feature to have incase someone who is currently on XCP/Xen wants to move to managed Cloudstack instance.

How can I help?

[2021-02-15 03:27] abdelouahabb commented on #4659
I tried doing it manually (as i think understanding the security concept in CloudStack) :

`sudo /usr/share/cloudstack-common/scripts/util/keystore-setup /etc/cloudstack/management/server.properties ./cloud.jks dummyPassword007 365 ./cloud.csr`

`sudo /usr/share/cloudstack-common/scripts/util/keystore-cert-import /etc/cloudstack/management/server.properties ./cloud.jks mode:agent ./a "/C=DZ /ST=ak

[2021-02-15 08:00] borisstoyanov opened #4692 "When on Zone level storage, Cluster level pool are not being offered to a volume with find suitable pools api"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

When a volume is sitting on Zone level, it’s not being offered pools to migrate to with find storagepoolsformigration api.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-02-15 08:26] DaanHoogland commented on #4689
@Mahir92 , I'm guessing you came to this with static analysis. It could be made to be more helpfull by providing an exploit. There is close to no-one taking the trouble to analyse your findings without them. The issue makes sense btw. it's just that it is not inviting to the community to go and chase something that may not be exposed ever even if in principle yu are pointing out a valid issue. As

[2021-02-15 08:36] DaanHoogland commented on #4658
...

Testing will help in the end, and how about making a more extensive functional description? investigate the vmware version [design](https://cwiki.apache.org/confluence/display/CLOUDSTACK/VM+Ingestion) or [documents](http://docs.cloudstack.apache.org/en/latest/adminguide/virtual_machines/unmanage_vms.html) of this functionality and describe how this is the same and where it differs. You can do

[2021-02-15 08:44] shwstppr commented on #4692
Looking into this

[2021-02-15 17:48] mahirkabir opened #4694 "Usage of "AES/CBC/PKCS5Padding" is insecure"
In file https://github.com/apache/cloudstack/blob/0f3f2a09370a18301db28ec3d28efe746b6437c9/services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyPasswordBasedEncryptor.java (at Line 61), insecure "AES/CBC/PKCS5Padding" was used for encryption.

Security Impact:

Cipher Block Chaining (CBC) with PKCS#5 padding (or PKCS#7) is susceptible to padding oracle attacks

Useful Res

[2021-02-15 21:40] abdelouahabb commented on #4659
Update : after disabling the security check `ca.plugin.root.auth.strictness false` in global settings, it seems there is a bug with `libvirt`

Here is the new updated issue from the agent :

[code]

[code]
Content of the configuration file of libvirtd:
[code]

[code]

[2021-02-16 09:29] rhtyd opened #4695 "Build UI without minifying"
Investigate if there's a way to build the UI without minifying the source code so users can customise/edit the UI without building UI from code similar to the legacy UI (i.e. keep the source in the same folder/path structure). This may require removing webpack configs that minify/compile the UI codebase.

##### ISSUE TYPE
 * Enhancement Request

##### COMPONENT NAME

[code]

[2021-02-16 10:01] rohityadavcloud opened #4696 "GSoC 2021 Idea: Add virt-v2v support in CloudStack for VM import to KVM"
## Background

There are many existing users who have deployed their infrastructure on XenServer or VMware but the migration to an IaaS platform such as CloudStack requires a lot of work.

Such a feature will allow the Apache CloudStack project to onboard and facilitate users who have an existing VM based infra on VMware/XenServer by using tools such as virt-v2v which can help automate shutdown (c

[2021-02-16 10:32] rhtyd commented on #4695
Hi @utchoang cc @svenvogel - since you've experience with the UI build system (npm/webpack), can you explore if this is possible as an investigation exercise (feel free to raise PoC PRs). Some users have complained they would prefer the UI be to editable like the legacy UI without requiring them to build from source.

[2021-02-16 10:55] rhtyd commented on #4695
cc @Pearl1594 @davidjumani @shwstppr @weizhouapache @wido @GabrielBrascher @ravening

[2021-02-16 14:18] DaanHoogland commented on #4694
Do you have an exploit or a mitigation, @Mahir92 ?

[2021-02-16 14:30] DaanHoogland commented on #4696
@rhtyd this would be for milestone 4.17, right?

[2021-02-16 14:32] rhtyd commented on #4696
@DaanHoogland leave blank for now

[2021-02-17 06:58] shwstppr commented on #4492
@DaanHoogland will have a look with poc in new ui

[2021-02-17 07:10] utchoang commented on #4695
@rhytd Is it to my understanding that the user does not want to edit/customize the UI using `config.json` but want to do it directly on the Interface right?

[2021-02-17 09:51] ccycv opened #4697 "Guest IPs range not visible in UI"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]

##### SUMMARY

Guest IPs are not visible in UI 4.15, with no possibility to delete, add.

Select Zone> Physical Network > Guest

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-02-17 10:32] rhtyd commented on #4695
Hi @utchoang you're right, some users are expecting that the new UI would be editable like the legacy UI (making changes that are not supported via config.json, for example hiding some parts of the UI or adding new translations etc). Since the UI is minified/bundled now, this is not possible. What I'm asking is if we can investigate that (build UI without bundling/minification, if possible keep th

[2021-02-17 16:17] DaanHoogland commented on #4697
see [primate issue 909](https://github.com/apache/cloudstack-primate/issues/909)

[2021-02-18 00:32] ThyLAW opened #4700 "Uefi.properties doesn't Exist / connection w/ libvirtd broken"
##### ISSUE TYPE

 * Bug Report
*help
 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

NAT network from host give IP 192.168.236.2 gate way .1 255.255.255.0 . cloudbr0 given ip eth0 no statically assigned ip.

##### OS / ENVIRONMENT

Hyperv Gen 2 VM
CentOS 7.9
KVM
Agent, management server, and storage all on same VM
Latest version of agent/cloudstack/e

[2021-02-18 09:01] utchoang commented on #4695
Hi @rhtyd
Regarding this correction, in my opinion there should be a few problems:
1. Need a table containing config UI to get and store config information from client to server.
2. Need 2 API get and save config UI
3. Regarding images (logo, banner image, 404 error, 403 error, 500 error), do users need to edit it directly on the UI? Because if any, then need the API for the upload.

[2021-02-18 09:05] shwstppr commented on #4695
@utchoang with users Rohit probably means cloud admins. Use-case is to make it possible for cloud admin change source files directly in their installations just like old UI. cc @rhtyd

[2021-02-18 09:23] utchoang commented on #4695
![image](https://user-images.githubusercontent.com/13766648/108334914-f9b8b700-7204-11eb-8bfc-707dfe30953f.png)
@shwstppr cc @rhtyd At old UI, I can't find the UI settings area. Can you show me?

[2021-02-18 09:34] shwstppr commented on #4695
@utchoang With changing source files directly in installations I mean when we install cloudstack-management package all UI source files are installed at /usr/share/cloudstack-management/webapp. So, as admin and having access to the server I can directly change these files and changes will reflect for user.
![Screenshot from 2021-02-18 14-58-21](https://user-images.githubusercontent.com/153340/1083

[2021-02-18 09:35] shwstppr commented on #4695
In new UI this is much harder or probably impossible to do this right now

[2021-02-18 09:43] utchoang commented on #4695
![image](https://user-images.githubusercontent.com/13766648/108337397-a5630680-7207-11eb-9487-ce6d3c4630d8.png)
On the new UI, the Admin cloud can directly edit and save the UI. My problem is to save the changes on the client to the server as a file or database. I have 2 suggestion:
(1) Need table for save all data config UI from client
(2) Or a API for override `config.json` file on directory

[2021-02-18 10:05] shwstppr commented on #4680
This is not a bug, packaging code already contains cloudstack-ui package.
For 4.15.0, primate UI has to be built separately.
@efansoftware can you please check and close or comment.

[2021-02-18 17:32] efansoftware commented on #4680
Addressed in #4605

[2021-02-18 17:32] #4680 closed

[2021-02-18 19:09] ThyLAW commented on #4659
I'm getting nearly the same issues as you. I was also experiencing the SSL problem, and disabled it in global configs. I then got the "unable to find private nics" and manually configured that in my agent.properties. I now am just getting
 "error: conection with libvirtd is broken : invalid connection pointer in virConnectGetVersion" as well as the UEFI.properties error.
And on libvirtd status I a

[2021-02-18 20:15] abdelouahabb commented on #4659
@ThyLAW I am getting the same issue too with libvirt, what is your setup ? virtualizing it on bare metal or on top of another hypervisor ?
@DaanHoogland any update ?

[2021-02-18 21:25] ThyLAW commented on #4659
On top of a hypervisor .Hyper-v gen 2  This is how I set it up.
[New.Apache.Documentatino.docx](https://github.com/apache/cloudstack/files/6005970/New.Apache.Documentatino.docx)

[2021-02-18 21:36] abdelouahabb commented on #4659
Everything seems right, if you `virsh pool-list` you should see the `id` you put for the disk

[2021-02-18 22:03] weizhouapache commented on #4659
@abdelouahabb
the libvirtd.conf above is incorrect.

here is the content of libvirtd.conf on a server in my testing env.

[code]

[2021-02-18 22:13] abdelouahabb commented on #4659
This is the same ? the group `libvirtd` dont exist in my machine :
[code]

[2021-02-18 22:26] weizhouapache commented on #4659
@abdelouahabb you use centos ? you need to use 'libvirt' instead of 'libvirtd.
The other lines should be same.  the following lines should be uncommented.
[code]

[2021-02-18 22:33] abdelouahabb commented on #4659
I am on Ubuntu, I [disabled the security](https://libvirt.org/daemons.html) for the debug reason and getting the same issue

[2021-02-18 22:37] weizhouapache commented on #4659
###

@abdelouahabb which ubuntu version ? 20.04 ?

[2021-02-18 22:40] abdelouahabb commented on #4659
Yes, I think there is an issue with this release ?
[code]

[2021-02-18 22:47] weizhouapache commented on #4659
@abdelouahabb no.
I have a testing environment with ubuntu 20.04 as hypervisors. they work fine.

[2021-02-18 23:07] abdelouahabb commented on #4659
Maybe because I am using it ontop of VirtualBox (on Windows 7)

[code]

[2021-02-19 09:46] rhtyd opened #4711 "UI test failures seen in 4.15"
On npm run test:unit, following failures were seen on the 4.15 branch:

[code]

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

[2021-02-19 10:00] DaanHoogland commented on #4449
@echoidcf your suggested code was merged and will be released with 4.15.1. I'm closing this. Please reopen and comment further if this doesn't solve the issue. We have no idea what is needed beyond this.

[2021-02-19 10:00] #4449 closed

[2021-02-19 10:03] DaanHoogland commented on #4508
@weizhouapache I have 4543 open for python3 (it still has about 14/86 failures in smoketests but at least marvin install. Can you test that on Ubuntu (targetted for 4.16)

[2021-02-19 10:04] rhtyd commented on #4711
Errors on master cc @shwstppr

[code]

[2021-02-19 10:08] DaanHoogland commented on #3652
marking this as minor as no-one really complains about it, or is giving it any attention.

[2021-02-19 10:13] DaanHoogland commented on #4697
@utchoang can you comment on this? (was it planned? Is there a reason for leaving it out? is it complex?)

[2021-02-19 10:42] DaanHoogland commented on #4700
discussion at #4238

[2021-02-19 10:45] DaanHoogland commented on #4661
closing this @abdelouahabb . if you feel action is still needed please reopen and comment or create a new issue with specifics.

[2021-02-19 10:45] #4661 closed

[2021-02-19 16:34] rhtyd commented on #4578
@efansoftware yes, read the readme (install the dependencies first) and then see https://github.com/apache/cloudstack/tree/master/ui#production

[2021-02-19 23:47] abdelouahabb opened #4715 "Cloudstack management asks for rpm command on debian distribution"
- Fresh reinstall on 18.04.5 LTS (Bionic Beaver),
- Cloudstack 4.15
- Cloudstack repo : deb http://packages.shapeblue.com/cloudstack/upstream/debian/4.15 /
- My first initialization
- Step : Adding host
[code]

[2021-02-20 01:36] abdelouahabb commented on #4659
Update : Worked Ubuntu 18.04.5  by making `ca.plugin.root.auth.strictness false`, it seems Ubuntu-server (no GUI) 20.04 is messy

[2021-02-20 07:20] weizhouapache commented on #4659
@abdelouahabb
I have seen these logs in #4715
[code]

it seems some misconfiguration with sudo.

[2021-02-20 19:50] Mahir92 commented on #4689
hi @DaanHoogland , thanks for giving your feedback. It was really helpful. We will see if we can provide an exploit of the vulnerability.

Thanks again.

[2021-02-21 03:01] abdelouahabb commented on #4659
That was from the same machine too, I use Virtualbox on Windows 7

[2021-02-21 04:08] ThyLAW commented on #4659
Unfortunately I still have the issues even when disabling ca.plugin.root.auth.strictness on Centos7. Any other advice?

[2021-02-21 05:00] nxsbi commented on #3792
I am running into this exact issue on 4.15 -

Stream Closed when trying to add template via internal URL. Template size is 22 GB. I am able to use wget to get the file on SSVM as well management server.
The download fails within 1-2 seconds when trying to register template.

INSIDE the SSVM log:
[code]

In the Cloudstack management server log:
[code]

[2021-02-21 15:41] DaanHoogland commented on #4659
@ThyLAW check if there are any remnant certificates on the host and whether empty the certs table. hope that helps.

[2021-02-21 15:46] DaanHoogland commented on #3792
this would seem to be a configuration in your network, at first glance @nxsbi . can you check your network topology. In this case Cloudstack is just reporting what it encounters: stream closed.

[2021-02-22 01:09] utchoang commented on #4697
@DaanHoogland I see @davidjumani fixed it in PR but it seems to be frozen. I will use @davidjumani's fix and switch to Cloudstack.

[2021-02-22 08:04] rhtyd commented on #4715
@abdelouahabb is your KVM host centos7 based?

[2021-02-22 08:12] rhtyd commented on #4695
@utchoang this is good but not what I'm asking for - we want the UI code to be customisable so not just css (limited to colours or text). For example, I want to hide the logout button and say fix the docHelp links - currently this is only possible by changing source code and building it - not by directly editing the installed UI at /usr/share/cloudstack-management/webapps on the management server.

[2021-02-22 11:58] harikrishna-patnala opened #4720 "[UI] Need separate configurations for setting URL for general help and context sensitive help"
Currently CloudStack has "docBase" in config.json file where one can change the base URL for all sections. Changing the "docBase" to a new URL will effect all sections which may not be a convenient setting.

For example, changing the "docBase" URL from "http://docs.cloudstack.apache.org/en/latest/" to "http://dochelp.custom.url/" this change effect the general help section here (below image) which

[2021-02-22 14:28] ThyLAW commented on #4700
The UEFI apparently doesn't matter, I don't care about the secureboot. The connection between the agent and libvirtd is what is causing this to crash. Error similar to #4659 , #4050, #3509 . Nothing seems to be able to fix it. Restarting agent, management, and libvirtd gives me:
`/
elper] (main:null) (logid:) Default Builder inited.
.Agent] (Agent-Handler-2:) (logid:) Reconnecting to host:localhos

[2021-02-22 15:33] DaanHoogland commented on #4700
yes, there are some other tickets related to this but afaicsn it is not a duplicate (i might be wrong).

check yout host to see if anything is listening on that port @ThyLAW . I undestand you try to get a hyperconverged env up. check if there is nothing listeniong on the ports you need.

[2021-02-22 15:57] ThyLAW commented on #4700
I get the following:
netstat -tulnp | grep (8250, 9090, 8080)

tcp6 0 0 ::8250 :::* LISTEN 220183/java

netstat -tulnp | grep (8787, 8096, 3922)
*nothing*
netstat -tulnp | grep 22
tcp6 0 0 ::22 :::* LISTEN    1148/sshd

Java should mean CS right?

[2021-02-22 16:11] DaanHoogland commented on #4700
CS means java, not per se the other way around I think 220183 is the pid.

[2021-02-22 16:19] abdelouahabb commented on #4715
@rhtyd no, this is Ubuntu 18.04.5 ontop of VirtualBox under Windows 7 (as the paravirtualization enabled)

[2021-02-22 16:34] abdelouahabb commented on #4715
[code]

[2021-02-22 21:44] ThyLAW commented on #4700
So I just verified that it is Cloudstack running on those ports. To test to see if Libvirtd even worked, I created a virtual machine and ran it and it seemed fine, meaning that libvirtd is working and I am able to use nested virtualization. This has now been narrowed down to some properties of libvirtd, properties of cloudstack agent, or the connection between them.

Here is the most recent error

[2021-02-23 05:05] shwstppr commented on #4603
Closed with #4604
@mib1185 please re-open if the issue still persists

[2021-02-23 05:05] #4603 closed

[2021-02-23 09:15] DaanHoogland commented on #4700
this one is a known issue but shouldn't hamper you, I've seen it in working envs.
[code]

this one is not good, but i'm not sure if it is related
[code]

and later, this looks like the agent tries to identify itself as a known agent with id 0. I think the initialisation of the agent went wrong
[code]
here it seems the unknown agent tried to do business as usual.
[code]

I think your best way forwa

[2021-02-23 10:40] rhtyd commented on #4715
@abdelouahabb what you report may look like an error but it isn't a failure [1], it checks if the KVM machine is UEFI enabled and looks like whoever added that didn't add a suitable support for Ubuntu. If host addition is failing due to keystore setup, chances are the host does not have kvm or hardware acceleration. I'm not sure if VirtualBox now supported nested VMs with hardware acceleration (vm

[2021-02-23 10:45] rhtyd commented on #4659
@ThyLAW @abdelouahabb is sudo and haveged installed on your system? Also note CloudStack required full virtualisation on KVM (PV may not work or at least not tested, usually you can use VMware workstation/fusion than VirtualBox on Windows/Mac and KVM on Linux, i.e. on your laptop/desktop). For Ubuntu-based quick install guide, you can refer to https://rohityadav.cloud/blog/cloudstack-kvm/ (change

[2021-02-23 11:02] #4682 closed

[2021-02-23 17:33] abdelouahabb commented on #4715
- For `haveged` isent useful if it will be added to the docs ?
- For Virtualbox, on Windows the GUI dont give access to enable it, I have to use the commandline :+1:
[code]
Where `CloudStack` is the name of the Virtual Machine, once enabled :

[code]

[2021-02-24 05:23] sureshanaparti opened #4723 "listPublicIpAddresses API lists the (unallocated) reserved public IPs of other account, and resulting in UI to show other account's public IPs while acquire new IPs in the network"
listPublicIpAddresses API lists the (unallocated ) reserved public IPs of other account (when allocatedonly=false and account is passed in the API), and it is resulting in UI to show other account's public IPs while acquire new IPs in the network.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUM

[2021-02-24 06:45] Spaceman1984 commented on #4346
I tried powering off the host from ESXI and shutting down the host within VSphere, I was not able to reproduce the behavior.

[2021-02-24 09:04] rhtyd opened #4724 "Unable to add permission to a role in modern UI"
Log in as an admin -> go to roles -> select a role -> click on rules, it does not show you option to add new permissions (API):
![Screenshot from 2021-02-24 14-32-27](https://user-images.githubusercontent.com/95203/108976170-43921900-76ad-11eb-864b-3ecb58d8a439.png)

Reproducible with 4.15 branch and on http://qa.cloudstack.cloud:8080/client

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[2021-02-24 09:06] rhtyd commented on #4724
Legacy UI for reference:
![Screenshot from 2021-02-24 14-36-21](https://user-images.githubusercontent.com/95203/108976627-ba2f1680-76ad-11eb-9028-41054dba1e2a.png)

[2021-02-24 09:12] #4711 closed

[2021-02-24 10:58] rhtyd commented on #4613
Fixed in https://github.com/apache/cloudstack/pull/4615

[2021-02-24 10:58] #4613 closed

[2021-02-24 11:05] DaanHoogland commented on #4723
@sureshanaparti if the UI shows that the API must return those as well, which seems the real issue, did you check that?

[2021-02-24 11:14] rhtyd commented on #4715
@abdelouahabb `haveged` is not necessary generally unless you're using an unsupported deployment or slow servers (VirtualBox env are generally slow compared to real hardware) where you want entropy.

We've established that the rpm command not found is not an error, you can ignore that log and won't cause the host to be not added, do you actually get an exception in the logs (the debug level would

[2021-02-24 12:00] rhtyd opened #4726 "Check and fix all UI issue from the archived primate repository"
Triage and address open issues from https://github.com/apache/cloudstack-primate/issues
And ask authors to port their PRs (if not done already) https://github.com/apache/cloudstack-primate/pulls

##### ISSUE TYPE

 * Task

##### COMPONENT NAME

[code]

[2021-02-25 01:17] ThyLAW commented on #4700
I rolled the machine back to preconfiguration. I am now able to get access to port 8250 via "nc - v 192.168.236.2 8250" which was refused on the other version. I went in and generated uuid's, changed nic names, etc set it up how it should be. It was giving me the SSL Handshake error referenced in #4659 . I went and disabled the ca.auth setting in global settings and rebooted management and elimina

[2021-02-25 09:44] DaanHoogland commented on #4700
thanks for the update @ThyLAW , I hope you fare well on this. Not many of us are using hyperv and it would be great if you can introduce some wisdom on that.

[2021-02-25 10:00] andrijapanicsb opened #4729 "XenServer, management server sends pool UUID instead of the PATH, as the SR name"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Original Cloudplatform 4.7.1 with XenServer with preSetup storage (iscis) - all this is less relevant, see down

##### OS / ENVIRONMENT

NA

##### SUMMARY

After upgrading ACP 4.7.1 to ACS 4.14.0.0, preSetup storage type can not be mounted on XS servers, as ACS DB is sending UUID (

[2021-02-25 10:15] DaanHoogland commented on #4729
@rhtyd @shwstppr , not sure if this should go in a point release. Looks like an extra version of the XS Resource(Base) it might be needed. cc @andrijapanicsb

[2021-02-25 16:28] rhtyd commented on #4724
Fixed in #4728

[2021-02-25 16:28] #4724 closed

[2021-02-25 16:31] rhtyd commented on #4697
Fixed in https://github.com/apache/cloudstack/pull/4716

[2021-02-25 16:31] #4697 closed

[2021-02-26 06:40] #4400 closed

[2021-02-26 06:40] #4692 closed

[2021-02-26 08:57] rhtyd commented on #4695
Any update on this @hoangnm92 cc @svenvogel ? Is it even possible, or should we add documentation on advanced customisation describing  how users should make such changes via code and then UI?

[2021-02-26 09:22] utchoang commented on #4695
In my opinion to solve this problem, it is necessary to change the src according to the input parameters from the `config.json` file (similar to customizing the UI theme before).
User will change the parameters on `config.json` and it will be applied to the UI without rebuilding.
The problem is that we need to list which objects and components to customize (for example: button, language, ...)
What

[2021-02-26 11:23] rhtyd opened #4731 "UI: Create help doc mapping via config.json"
The helpdoc base URL is configurable via the config.json but not the query/sub-path which is configured in the config/ js files. A solution to make that customisable without makeing src code changes is to simply provide a translation logic/option in the config.json where users can simply specify the old path and new path as follows and the router handler/logic updated these overide mappings agains

[2021-02-26 11:26] rhtyd opened #4732 "UI: allow users to override CSS via a single css file"
Investigate if it's possible to create a static css (single) file that can be used to override any/all CSS changes throughout the UI. Like the config.json, this can be loaded/applied after the UI loads. The firsts step is to investigate the feasibility and next to implement with a PR.

##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

[2021-02-26 11:27] rhtyd commented on #4732
Hi @utchoang since you've worked on the config.json and several UI customisation support, can you help explore this? cc @svenvogel @shwstppr

[2021-02-26 13:16] rhtyd commented on #4695
Makes sense @utchoang I'll close this issue. Instead let's see if we can work on #4732, and #4731.

[2021-02-26 13:16] #4695 closed

[2021-02-26 14:39] ThyLAW commented on #4659
Hello,  virtualization works on Hyper-V by running a powershell script to enable it. I have tested it by creating a new virtual machine using virt-manager. I am going to go through your installation guide to see if that works. If not, I am going to try VMware though I don't think it is the hypervisor that is causing issues.

[2021-02-28 16:43] chriscc12345 opened #4733 "Error 404 - Hosts"
![image](https://user-images.githubusercontent.com/60073902/109426119-7eb98280-79f4-11eb-8347-70b1ea75e5ca.png)

![image](https://user-images.githubusercontent.com/60073902/109426146-ae688a80-79f4-11eb-9593-6aed20bf806f.png)

After fresh install, this happens when I want to view hosts

[2021-03-01 03:05] abdelouahabb commented on #4733
Try `/legacy` in case of `404` or something related to html

[2021-03-01 04:01] abdelouahabb opened #4734 "Cant upload ISO Using TrueNas with NFS"
- I created a pool from `TrueNas 12U2` then shared the `nfs` advanced settings with `root, nogroup`
- On Cloudstack `(Ubuntu 18.04.5)` I did :
`sudo mount -t nfs 192.168.56.3:/mnt/server /mnt/secondary/`
`sudo /usr/share/cloudstack-common/scripts/storage/secondary/cloud-install-sys-tmplt -m /mnt/secondary -f systemvmtemplate-4.15.0-kvm.qcow2.bz2 -h kvm -F`
and it worked
[code]
But if I try to uplo

[2021-03-01 07:13] rhtyd commented on #4734
@abdelouahabb does your env have SSL/TLS cert enabled for ssvm?

[2021-03-01 07:14] rhtyd commented on #4733
@chriscc12345 are you trying to search? Can you check your mgmt server logs for any exception or error, as well as Chrome dev tools for the HTTP request sent and error seen.

[2021-03-01 08:48] weizhouapache commented on #4733
@chriscc12345
did this happen when you tried to access a resource which does not exist or has been removed ?

[2021-03-01 11:22] sureshanaparti commented on #4723
yes @DaanHoogland , API is ignoring account when listing unallocated IPs (allocatedonly=false)

[2021-03-01 11:23] sureshanaparti commented on #4723
yes @DaanHoogland , API is ignoring account when listing unallocated IPs (allocatedonly=false)

[2021-03-01 11:32] weizhouapache commented on #4723
@sureshanaparti this might be fixed by #4675

@ravening could you confirm ?

[2021-03-01 11:59] abdelouahabb commented on #4734
@rhtyd no, security is disabled as I got issues in my installation, can I upload the ISO without encryption ?

[2021-03-01 12:09] ravening commented on #4723
Yes that pr fixes the issue

[2021-03-01 12:27] sureshanaparti commented on #4723
thanks for the confirmation @ravening

[2021-03-01 18:44] chriscc12345 commented on #4733
![chrome_apache](https://user-images.githubusercontent.com/60073902/109543449-f52ab300-7ace-11eb-8884-19e7a53228ab.PNG)

[2021-03-01 18:51] chriscc12345 commented on #4733
No not at all, just after clean install
![zone_create](https://user-images.githubusercontent.com/60073902/109544142-e1338100-7acf-11eb-9941-5441ded152a4.PNG)

[2021-03-01 18:57] chriscc12345 commented on #4733
It lloks like its reying to create the 2 systems VM's but they also fail

![image](https://user-images.githubusercontent.com/60073902/109544770-a251fb00-7ad0-11eb-8fac-6b4f6ae2eb96.png)

[2021-03-01 18:59] chriscc12345 commented on #4733
[MNGMNT_LOG.txt](https://github.com/apache/cloudstack/files/6063847/MNGMNT_LOG.txt)

[2021-03-01 20:16] mib1185 commented on #4733
@DK101010 Sounds well known 🤔

[2021-03-01 20:16] mkriegs commented on #4733
Hey, i can confirm the bug appears for me aswell.
Something with the API Call of the GUI, one of the Parameter is wrong. Try API call with monkey. But i cant remember.

During the zone deployment the Interface mapping with the brigdes not working aswell. We use cloudbr0 - 2 and use different VLAN ranges. After deploy the mgmt provides to First Host only cloudbr0 and bindes ranges to wrong Interfac

[2021-03-01 20:43] chriscc12345 commented on #4733
Manage to get systems vms going
![image](https://user-images.githubusercontent.com/60073902/109556474-8dc92f00-7adf-11eb-9f78-576513d1ec43.png)

[2021-03-01 20:46] chriscc12345 commented on #4733
[MNGMNT_LOG2.txt](https://github.com/apache/cloudstack/files/6064366/MNGMNT_LOG2.txt)

[2021-03-02 05:04] saliven1970 commented on #4513
Marvin and tests and SystemVM scripts have all been migrated to python3,this issus  can be closed

[2021-03-02 05:04] #4513 closed

[2021-03-02 07:12] rhtyd commented on #4146
Cert check/SSL issue fixed in https://github.com/apache/cloudstack/pull/4639
Please re-open if we something else was missed (docs?)

[2021-03-02 07:12] #4146 closed

[2021-03-02 07:12] rhtyd commented on #4637
Cert check/SSL issue fixed in https://github.com/apache/cloudstack/pull/4639
Please re-open if we something else was missed (docs?)

[2021-03-02 07:56] DaanHoogland commented on #4513
@saliven1970 I'm not sure I followed all your suggestions, and also component tests are not all passing yet, but the larger part is done.

[2021-03-02 09:45] DK101010 commented on #4733
Hi @chriscc12345,
I had a similar problem. In my case switch my system locals to german and replace all decimal separators to comma instead of dot. the result was an exception in backend and a 431 in the frontend.

Perhaps it helps

[2021-03-02 17:27] tajisoft commented on #4734
I got same error. I'm using QNAP NAS. I will share the screenshots in the near future.

[2021-03-02 23:09] abdelouahabb commented on #4734
![Sans titre](https://user-images.githubusercontent.com/2527234/109727454-aa836680-7bb4-11eb-8cfa-3546c96fab2a.png)
it seems there is no control of second storage existence before validating it, I tried with a non-existent IP and it was added witout errors

[2021-03-03 03:09] sangpengembara1979 opened #4742 "Kubernetes Service: Scaling out after 24 hours from Cluster creation will fail because the Kubeadm Init Token TTL is only 24 hours."
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

plugins/integrations/kubernetes-service/src/main/resources/conf/k8s-master.yml
kubeadm init --token {{ k8s_master.cluster.token }} {{ k8s_master.cluster.initargs }}

##### OS / ENVIRONMENT

##### SUMMARY

Scaling out after 24 hours from Kubernetes Cluster creation will fail because

[2021-03-03 06:11] utchoang commented on #4632
@DaanHoogland @rhtyd @shwstppr According to the old UI, if the VPC network does not have Internal LB, is the PortForwarding tab displayed? As you can see, if the VPC network does not have an Internal LB then when adding the VM in PortForwading the tab list tier will be empty.

[2021-03-03 06:25] utchoang commented on #4632
According to the old UI, if the VPC network does not contain the `DefaultIsolatedNetworkOfferingForVpcNetworks` and the `DefaultIsolatedNetworkOfferingForVpcNetworksNoLB` settings, is the PortForwading tab displayed? As I see the Tier list it will be empty.
![image](https://user-images.githubusercontent.com/13766648/109762746-afcbca00-7c23-11eb-8dee-8edcfc87e42b.png)
![image](https://user-images.g

[2021-03-03 08:03] rhtyd commented on #4723
@shwstppr can you test if PR #4675 fixes the issue for this bug?

[2021-03-03 08:14] shwstppr commented on #4731
Addressed this in #4745
For consistency key used for mappings `docHelpMappings` cc @rhtyd

[2021-03-04 11:20] ravening opened #4749 "Unable to upload ssl certificate in project view"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

If i try to upload an ssl certificate in project view, the UI is passing projectid along with account name and domainid and hence uploading a ssl certificate fails

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL

[2021-03-04 16:57] sebbASF opened #4752 "Bug: incorrect link to issue tracker"
It's not that easy to find a link to the issue tracker, but there is one under:

Community | Get Involved
which leads to
http://cloudstack.apache.org/contribute.html
which has the text:
"If you just want to report a bug, that's easily done in our Jira bug tracking tool."

However I am told that the project now uses GitHub issues instead.

The Developers page
http://cloudstack.apache.org/developers

[2021-03-04 17:01] rhtyd commented on #4752
Thanks for the issue @sebbASF we need to rewrite the developers and contribute pages that are outdated. cc @apache/cloudstack-committers

[2021-03-04 17:02] sebbASF opened #4753 "Bug in download page verification instructions"
The download page
http://cloudstack.apache.org/downloads.html
has a verification section
This gives an example for gpg verify:
```% gpg --verify apache-cloudstack-X.X.X-src.tar.bz2.asc```

Whilst this works, it is not good practice.
When using gpg verify one should specify a second param, see:
https://www.apache.org/info/verification.html#specify_both

[2021-03-05 02:44] Hudratronium opened #4754 "Add a host using systemd / libvirt > 5.6 will stop libvirt and cloudstack-agent"
##### ISSUE TYPE

 * Bug Report
  * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Host to add: CentOS8

##### OS / ENVIRONMENT

CentOS8 / Hypervisor KVM / libvirt 6.0.0

##### SUMMARY
When adding a Host to a cluster, during the process a "configuration" of the libvirtd takes place.

`management server log:
2021-03-05 01:38:37,166 DEBUG [c

[2021-03-05 05:31] rhtyd commented on #4754
Is CentOS8 libvirtd configuration different from Ubuntu 20.04's? cc @weizhouapache @shwstppr

[2021-03-05 06:08] shwstppr commented on #4754
@rhtyd yes, masking socket was not needed at the time for CentOS8 with libvirt version 4.5

[2021-03-05 08:13] weizhouapache opened #4757 "issues with live migration on centos (was: Trillian test failures)"
@DaanHoogland @rhtyd
this needs research.

Test | Result | Time (s) | Test File
-- | -- | -- | --
test_01_migrate_VM_and_root_volume | Error | 63.19 | test_vm_life_cycle.py
test_02_migrate_VM_with_two_data_disks | Error | 48.09 | test_vm_life_cycle.py

https://github.com/apache/cloudstack/pull/4736#issuecomment-789312916

management logs
[code]

##### ISSUE TYPE

 * Bug Report
 * Improvement Reque

[2021-03-05 10:43] DaanHoogland commented on #4204
@rhtyd I saw a deployment failing based on this. I than tried 1.8.18-17 but this also failed. Next I removed all explicit setting of IPMiTools and it is running now, will update this comment with results.

[2021-03-05 11:48] andrijapanicsb commented on #4729
Current code puts the XS SR name (when doing preSetup storage) into the "UUID" field in DB...

[2021-03-05 11:55] rhtyd commented on #4204
cc @shwstppr ^^

[2021-03-05 13:22] chriscc12345 commented on #4733
any update yet

[2021-03-05 14:20] DaanHoogland commented on #4749
as you refer to that PR and say it doesn't solve it, have you determined the problem to be in the API, @ravening ?

[2021-03-05 14:22] ravening commented on #4749
@DaanHoogland problem is, the UI is sending account, domain is and projectid which is the issue.. so want to know how this can be solved

[2021-03-05 14:27] DaanHoogland commented on #4733
@chriscc12345 no news but I think the UI problem is a minor bug and concequential:
[code]
the systemvms can't be started and that is your main issue. Have you seeded the systemtemplates?

[2021-03-05 14:30] DaanHoogland commented on #4749
yes, I skimmed through apache/cloudstack-primate#893 but you wrote "that may not solve the issue", why?

[2021-03-05 14:34] DaanHoogland commented on #4204
update: @Pearl1594 created an setup with ipmitool-1.8.18-12.el8_1.x86_64.rpm
 and I tried with the explicit update of ipmitool removed. Both seem to start.

[2021-03-05 14:39] DaanHoogland commented on #4757
@weizhouapache the centos7 templates for kvm do not support life migration on ubuntu it should work fine. in #4727 I added an explicit test for host os in the test. this one is 13000 lines so not a pleasure to walkthrough, so
[`874a142` (#4727)](https://github.com/apache/cloudstack/pull/4727/commits/874a142f5047155c0eb194e2e501eb88a981095b) should do it in future trillian runs.
Also I'm looking in

[2021-03-05 14:49] DaanHoogland commented on #4752
created apache/cloudstack-www#79

[2021-03-05 14:58] DaanHoogland commented on #4734
@abdelouahabb the message says there is no secondary storage VM to do the work, are there any messages indicating starting the ssvm failed and why?

[2021-03-05 16:04] DaanHoogland commented on #4757
So the real issue is life migration on centos, @weizhouapache , not the tests.

[2021-03-05 17:10] weizhouapache commented on #4757
@DaanHoogland yeah, I think so.

[2021-03-05 21:29] Hudratronium commented on #4754
So just for my understanding (and further contribiution for the offical docs):
Basically the cloudstack-agent takes care of the libvirtd configuration during the "onboarding" to an cluster? (Taking a look into /python/lib/cloudutils/serviceConfig.py basically the whole config for the hostst seems to be there :-) )
Would be nice to know and quiet interesting to integrate it in to the install guides

[2021-03-06 04:18] abdelouahabb commented on #4734
I reinstalled another fresh installation Ubuntu 18.04.5
It takes forever, I think it doesent work well with VirtualBox on Windows 7 ?
![Sans titre](https://user-images.githubusercontent.com/2527234/110194900-5dfd8c80-7e3b-11eb-8de3-b2dfae05d817.png)

[2021-03-06 06:06] davidjumani commented on #4654
@shwstppr I don't have any preferences but can tweak the UI to show both the name and display name on the info card so everyone is happy

[2021-03-06 06:07] davidjumani commented on #4660
Haven't faced it, @vladimirpetrov have you encountered this ?

[2021-03-06 06:32] vladimirpetrov commented on #4660
I haven't noticed such problem but will test and report back.

[2021-03-06 06:37] vladimirpetrov commented on #4660
@luhaijiao what browser version are you using? Have you tried with different browsers and OS-es?

[2021-03-06 09:10] rhtyd commented on #4757
I think it's because of stock CentO7 libvirtd that does not support it, I think with qemu-kvm-ev this may work (like Ubuntu) [1]

[1] https://wiki.centos.org/SpecialInterestGroup/Virtualization

[2021-03-06 09:53] rhtyd commented on #4742
Fixed by https://github.com/apache/cloudstack/pull/4747

[2021-03-06 09:53] #4742 closed

[2021-03-06 09:55] rhtyd commented on #4734
@abdelouahabb I'm not aware these days anybody using Virtualbox for KVM hosts, for testing purposes you may try use HyperV, VMware workstations on Windows to run nested KVM VMs with vmx/svm enabled.

[2021-03-06 09:58] rhtyd commented on #4733
@chriscc12345 can you share details of your environment, is this a test/virtualised environment where you're running nested KVM hosts? Instead of the new UI, you can also access the legacy UI (use <host|ip>:8080/client/legacy in browser)

[2021-03-06 09:59] rhtyd commented on #4720
Replaced by - https://github.com/apache/cloudstack/issues/4731 (a mapping proposed)

[2021-03-06 09:59] #4720 closed

[2021-03-06 10:01] rhtyd commented on #4689
Thanks @Mahir92 but the specific class/plugin in question may not be used/updated, for those reasons and lack of testing environment we would not make update that (some legacy systems don't support newer TLS versions). I'll close on this remark, unless you disagree or can help with a fix and testing it.

[2021-03-06 10:01] #4689 closed

[2021-03-06 10:05] rhtyd commented on #4659
@abdelouahabb since you've disabled auth strictness you may want to do the same on your libvirtd, set the listen_tls = 0 and listen_tcp = 1 and try again.

Since the original issue of agent SSL failure was fixed with the global setting workaround, I'll close the ticket. Please open new ticket for unrelated failures. I think you're using a nested env in VirtualBox and the env lack entropy, otherwis

[2021-03-06 10:05] #4659 closed

[2021-03-06 10:07] rhtyd commented on #4657
Ping @wido @GabrielBrascher any update?

[2021-03-06 10:07] rhtyd commented on #4654
+1

[2021-03-06 10:07] rhtyd commented on #4632
Fixed in https://github.com/apache/cloudstack/pull/4746

[2021-03-06 10:07] #4632 closed

[2021-03-06 10:08] rhtyd commented on #4592
Traked on documentation repo, closing this.

[2021-03-06 10:08] #4592 closed

[2021-03-06 10:10] rhtyd commented on #4563
Did it work with legacy UI, cc @GabrielBrascher @utchoang ?

[2021-03-06 10:10] rhtyd commented on #4550
Fixed by https://github.com/apache/cloudstack/pull/4531

[2021-03-06 10:10] #4550 closed

[2021-03-06 10:11] rhtyd commented on #4535
@vladimirpetrov can you check if in the modern UI we don't show the button to download now?

[2021-03-06 10:13] rhtyd commented on #4519
Needs investigation, I don't remember if it does or does not. However, if the assertions are not encrypted - I suppose that's issue of the overall IDP setup.

[2021-03-06 10:13] rhtyd commented on #4508
Is it fixed now @weizhouapache, or maybe @DaanHoogland in your py3/marvin3 PR we can fix it? (just to make it installable that's all, make it run/pass would be more work)

[2021-03-06 10:14] rhtyd commented on #4488
Fixed in https://github.com/apache/cloudstack/pull/4499

[2021-03-06 10:14] #4488 closed

[2021-03-06 10:16] rhtyd commented on #4596
@RodrigoDLopez we've our checkstyle plugin for this. For all new code I agree your suggestions can be reviewed and enforced. I don't however agree with all the suggestions.

[2021-03-06 10:19] rhtyd commented on #4455
@Lucasgranet can you check against 4.15.0.0 release and CentOS8 now?

[2021-03-06 10:21] rhtyd commented on #4346
Closing on the remark that it was not reproducible, let's reopen revisit if it happens with more recent 4.15/master codebase. cc @borisstoyanov

[2021-03-06 10:21] #4346 closed

[2021-03-06 10:24] rhtyd commented on #4234
No response from issue author, closing on remark that @weizhouapache found and fixed the issue.
@div8cn pl test and reopen issue if you can reproduce this with 4.14.1.0, 4.15/master branches.

[2021-03-06 10:24] #4234 closed

[2021-03-06 10:24] chriscc12345 commented on #4733
Hi I am running this in a test environment, I can confirm in legacy view that the host does show. as well as the system vm's, and I have enabled the nested cpu support in Hyper V.
![legacy _host](https://user-images.githubusercontent.com/60073902/110203382-9ec6c700-7e76-11eb-810b-963b95c10c92.PNG)
![legacy_vm](https://user-images.githubusercontent.com/60073902/110203385-9ff7f400-7e76-11eb-8259-d69

[2021-03-06 10:27] rhtyd commented on #3792
@wqmeng @nxsbi can you try this again with latest 4.15.0.0/4.14.1.0 and in a stable network?

[2021-03-06 10:31] rhtyd commented on #4052
This was a recently added UI feature, available via API though. We can hide it in UI as users from 4.9/4.11/4.13 can cause additional/unanticipated VR resource consumption for IaaS hosting/providers.

[2021-03-06 10:32] #4052 closed

[2021-03-06 10:35] rhtyd commented on #4733
@chriscc12345 can you try disabling the `ca.plugin.root.auth.strictness` global setting to false, destroy or restart your systemvms? And then see if the agent come online?

[2021-03-06 10:38] rhtyd opened #4760 "Stabilise 4.15 branch: Fix intermittent Travis+Trillian tests failures"
Some travis tests in job 2,3 (see pattern on travis) fail intermittently making it time consuming to run them manually again for PRs. Can we survey and see why they fail intermittently (an issue with the tests themselves or in CloudStack something that is not determinsitic/thread bound). cc @DaanHoogland

[2021-03-06 10:45] ngrosc commented on #4519
Hi Rohit

I completely agree with you. If the assertion is encrypted or not is an IDP
"issue".

But if a signature is present or not, has to be enforced on client side
(cloudstack). Because even when the IDP adds a signature, a man in the
middle can remove it and fake data.
Of course, in case of encrypted assertions only if he has the private key
of the IDP, and then you definitely have other issu

[2021-03-06 11:04] abdelouahabb commented on #4734
I will try it on VMware so we can put this as notice in a tutorial/docs so new comers dont test it on Virtualbox to avoid any kind of issues and suggest another hypervisor

[2021-03-06 13:47] mkriegs commented on #4733
@rhtyd is the 404 allready solved in some ptr for 4.15.1 or 4.16?

[2021-03-07 13:52] RodrigoDLopez commented on #4596
Can you please tell me why we need to use FINAL keyword in every variable? as far as I know, we just need to use it in variables that we dont wanna change its value during the execution.

[code]

In addition, the indiscriminate use of FINAL makes it difficult to create unit tests

I would appreciate it immensely if you could technically explain to me why we use FINAL in this (incorrect) way throug

[2021-03-07 14:46] rhtyd commented on #4733
@mkriegs @chriscc12345 we're unable to reproduce this issue with latest 4.15/master branches, I think it's due to some env/setup issue. To help investigate, can you check if you're able to see the list of hosts via the legacy UI (in 4.15.0.0 release, assuming that's what you're testing) and also try executing these API as the root admin - `listHosts` and `listHostsMetrics` (see https://github.com/

[2021-03-07 14:48] rhtyd commented on #4733
Screenshots from my 4.15.0.0 based env:

![Screenshot from 2021-03-07 20-17-24](https://user-images.githubusercontent.com/95203/110243865-3d8c1a00-7f82-11eb-86a2-62100704d135.png)
![Screenshot from 2021-03-07 20-17-30](https://user-images.githubusercontent.com/95203/110243866-3f55dd80-7f82-11eb-8daa-f03ad93559b7.png)
![Screenshot from 2021-03-07 20-17-37](https://user-images.githubusercontent.com/

[2021-03-08 02:12] utchoang commented on #4563
@rhtyd cc @GabrielBrascher I checked for legacy UI the Ipv6 doesn't work. So does this need to be fixed?
![image](https://user-images.githubusercontent.com/13766648/110265537-58947380-7fee-11eb-9289-c9e815616f13.png)

[2021-03-08 08:41] DaanHoogland commented on #4757
I'm not sure about the milestone, but I don't think this was introduced after 4.15

[2021-03-08 09:13] weizhouapache commented on #4757
@DaanHoogland @rhtyd
as Rohit said, this might not be caused by cloudstack changes, but by some recent changes in centos7 template/qemu/libvirt.
no idea if it is good idea to skip the testings.

[2021-03-08 09:19] ravening commented on #4749
@DaanHoogland if I remove account/domainid from ui then as admin, I cant upload ssl for other domains

[2021-03-08 09:26] div8cn opened #4770 "listNics api response parameter type is incorrect"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When VM mounts two different types of networks at the same time and queries through listnics,

The following data returned is abnormal. (actually, they are totally different, one is L3 share network, the other is isolated network.)

networknam

[2021-03-08 09:50] DaanHoogland commented on #4596
The above states that we must use `final` if we don't want variables to change. And though the `only` might imply that we must *not* use it otherwise, this is false. It is a soicial issue/dethat fensive programming to use final so that people have to make a conscious decision that change is allowed.

which indeed would be a reason to make vars not final at times.

as said above; social/defensive.

[2021-03-08 10:50] DaanHoogland commented on #4749
I just tested that PR and it works for project-view cert upload. Let's merge and go from there

[2021-03-08 12:31] Pearl1594 commented on #4757
@rhtyd Live migration on centos8 seems to work fine. However, there is an issue noticed during live migration of VMs with data disks (test_02_migrate_VM_with_two_data_disks) that aren't created from snapshots (i.e., don't have a template id) - this has been addressed with - https://github.com/apache/cloudstack/pull/4771 cc @DaanHoogland @weizhouapache

[2021-03-08 12:45] GabrielBrascher commented on #4657
The MySQL variables have been updated recently and we are monitoring to see how it behaves.
Soon we should be able to update here @rhtyd.

[2021-03-08 22:08] vladimirpetrov commented on #4660
I deployed Windows 10 VM using 2 cores, 2 GHz and 4 GB virtual resources. Tested with latest Chrome and Firefox on Ubuntu 20.04 and Windows 10 Pro - it's pretty usable, there is a small lag of course - something like a regular VNC connection but nothing severe.

[2021-03-09 08:06] div8cn commented on #4660
Test environment

Windows 10
Google Chrome: 88.0.4324.190

-------------------------------------

CloudStack environment
CloudStack 4.15.0.0

compute node:
Ubuntu 20.04.01 (kernel Linux nodec 5.4.0-66-generic #74-Ubuntu SMP Wed Jan)

libvirt guest vm xml
-------------------------------------
<domain type='kvm' id='66'>
  <name>i-2-46-VM</name>
  <uuid>96c7ec70-f07b-436c-b774-732e2dfb0fa8</uuid>

[2021-03-09 08:07] div8cn commented on #4660
Test environment

Windows 10
Google Chrome: 88.0.4324.190

-------------------------------------

CloudStack environment
CloudStack 4.15.0.0

compute node:
Ubuntu 20.04.01 (kernel Linux nodec 5.4.0-66-generic #74-Ubuntu SMP Wed Jan)

libvirt guest vm xml

`<domain type='kvm' id='66'>
  <name>i-2-46-VM</name>
  <uuid>96c7ec70-f07b-436c-b774-732e2dfb0fa8</uuid>
  <description>Windows PV</description

[2021-03-09 08:11] div8cn commented on #4660
I compared cloudstack console, novnc and VNC view

There is no difference between VNC view and novnc
However, the delay of cloudstack console is very serious

It is shown in the following aspects
When moving the mouse, I feel that the mouse is very heavy and difficult to move

[2021-03-09 08:29] shwstppr commented on #4754
@Hudratronium yes, cloudstack-agent makes required changes to libvirt config when you add a host using UI/API. On the host cloudstack-agent is called with required parameters. Similar to,
`cloudstack-setup-agent  -m 10.10.3.203 -z 1 -p 1 -c 1 -g bd24ab4a-4311-357e-8e9e-dab829448772 -a -s  --pubNic=cloudbr1 --prvNic=cloudbr0 --guestNic=cloudbr1 --hypervisor=kvm`
Python scripts in cloudutils contain

[2021-03-09 11:00] rhtyd commented on #4660
@div8cn when you say cloudstack console, you mean the old/legacy console or the new novnc console. The CPVM essentially proxies the console between the hypervisor and browser, which may be cause of that latency. Is the user/browser away from the CPVM/infrastructure.

[2021-03-09 12:07] div8cn commented on #4660
1. Console refers to cloudstack new console (novnc)
2. The test computer and cloudstack SSVM belong to the same layer-3 routing and different VLANs

[2021-03-09 13:18] div8cn opened #4778 "Listhostsmetric cpuallocated >100%"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When listhostsmetric calculates cpualocated and cpualocatedghz, it does not set the cpu.overprovisioning.factor The coefficient is included, resulting in cpualocated > 100%

capabilities: "hvm,snapshot"
clusterid: "2c95571e-5cf9-4ff8-b09a-750a

[2021-03-09 13:29] div8cn commented on #4660
The test computer and cloudstack CPVM belong to the same layer-3 routing and different VLANs,  Local to CPVM network delay < 5ms

I deployed a Ubuntu 20.04 guest OS
The test effect is also very bad
It's like VMware VM doesn't have a console experience with vmtools installed

[2021-03-09 18:57] KuasarCo commented on #4563
thanks @GabrielBrascher, do we have any plan to implement it in Advanced Networking with VPC for public IPv6, we ran out of IPv4.

[2021-03-09 19:49] GabrielBrascher commented on #4563
@KuasarCo I am sure that it would be awesome to have such a feature; unfortunately, I am not aware of anyone implementing it at this moment.

[2021-03-09 23:12] abdelouahabb opened #4781 "cloudstack-setup-databases takes more than 5 minutes to complete"
I tried a fresh `ubuntu server 20.04.2` with `virt-manager 2.2.1` and `cloudstack 4.15.0` downloaded from `deb http://packages.shapeblue.com/cloudstack/upstream/debian/4.15 /`
[code]
I have an issue with database :
My network
[code]
When I run the command :
```root@alien:~# time cloudstack-setup-databases cloud:cloud@localhost --deploy-as=root:mypassword -i 192.168.122.10```
Takes forver at `Apply

[2021-03-10 00:23] Hudratronium commented on #4754
Thanks @shwstppr !
Will see how to put this piece of information into the docs. Even if you will have some things to check / do manually afterwards it will speed things up alot.

[2021-03-10 07:21] weizhouapache commented on #4781
@abdelouahabb

go to /etc/java-11-openjdk/security/java.security and change the following line
[code]

[2021-03-10 09:11] shwstppr commented on #4201
@rhtyd @DaanHoogland are there any known reproduction steps?

[2021-03-10 09:21] rhtyd commented on #4781
@abdelouahabb I think you're using a nested env which is slow and lacks entropy, installing/using haveged and the urandom workaround that Wei has proposed will speed things.

[2021-03-10 09:21] rhtyd commented on #4732
@utchoang @svenvogel - can you comment if this is even feasible?

[2021-03-10 09:21] rhtyd commented on #4778
cc @davidjumani I think you've started some fix around host metrics change?

[2021-03-10 09:40] utchoang commented on #4732
@rhtyd Hi Rohit, In my opinion, it is not possible for a user to overwrite a CSS file from the `public` folder. As you can see, before in https://github.com/apache/cloudstack-primate/issues/359 to customizing UI (color, background, text,...), it was necessary to edit the object in `src/style/ var.less`. Then rely on variables from `config.json` to change color, text,...

[2021-03-10 11:05] shwstppr commented on #3717
@div8cn @weizhouapache I checked the behaviour in the code and currently we set only `hahost` parameter in the API response to `true` when a matching tag is specified in global config `ha.tag`.
Currently, API was failing to report the correct value when multiple tags are being set for a host. I've raised a PR to fix that. https://github.com/apache/cloudstack/pull/4789

[2021-03-10 11:09] shwstppr commented on #4517
looking into this

[2021-03-10 20:54] abdelouahabb commented on #4781
@weizhouapache same thing !
@rhtyd same result, and I have the `/usr/sbin/haveged` installed,
Tried on Windows with both virtualbox and vmware and never had this result, it was fast, the issue is not only about being slow but this is like the configuration is not being read like it dont exist even if it is there and filled with all the parameters ?
I hope someone else verifies using `virt-manager

[2021-03-10 21:42] Hudratronium opened #4791 "Management Server GUI: "Add Zone wizard" doesn't offer "basic networking""
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Management-Server on CentOS8

##### SUMMARY

When creating a new zone via the inital setup after management server installation or when adding an additonal zone afterwards, the wizard won't allow choosing "basic networking". The entry is fixed set to "Advanc

[2021-03-10 22:03] weizhouapache commented on #4781
@abdelouahabb I used ubuntu 20.04 as mgt server some days ago.
I had the same issue and it was fixed by the change I mentioned above.
ps: If you use openjdk14 as default, you need to change the java.security for openjdk14, not the file I mentioned.

@abdelouahabb if you have created the db, you should not execute the sql again.

[2021-03-10 23:05] abdelouahabb commented on #4781
@weizhouapache
I reinstalled openjdk 14 and same lag, for the mysql, I tried to get deeper logs about the fact it is too slow, I enabled the warnings and here is some of warnings I get, maybe this is due to `mysql  Ver 8.0.23-0ubuntu0.20.04.1 for Linux on x86_64 ((Ubuntu))` which is the default and not the `version 5` which was long ago default with ubuntu ?
[code]

[2021-03-11 03:26] abdelouahabb commented on #4781
Confirmed, dont work in nested virtualization using virt-manager even if the system allows it, reinstalled a new clean ubuntu-server 18.04.5 , same bug I got with ubuntu 20.04, except I got the sql performances better than mysql 8 (which is used below with mariadb to mimic old  mysql 5.7)
maybe kvm ambiguity like what happens in windows with virtualbox because of hyper-v enabled ?
[code]

[2021-03-11 04:06] abdelouahabb commented on #4781
To make it work , I dident explicitly add the host (dont know why) :
instead of :
[code]
I just run
[code]

[code]

[2021-03-11 07:29] rhtyd commented on #4791
@Hudratronium yes, this is expected, we want to deprecate basic zone over time. All feature you need from a basic zone are available from advanced zone. Pl create a advanced zone and create a shared network for your use-case; or you may use the legacy UI (or APIs) to deploy a basic zone.

[2021-03-11 07:38] rhtyd commented on #4754
Fixed in https://github.com/apache/cloudstack/pull/4756 for 4.15.1

[2021-03-11 07:38] #4754 closed

[2021-03-11 07:44] 0maki0 opened #4792 "Is it a specification that completed jobs cannot be acquired by "listAsyncjobs"?"
##### ISSUE TYPE

 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

I have a question about “listAsyncjobs”.

1. Is it a CloudStack specification that completed jobs cannot be acquired with the listAsyncjobs command?
　・If startdate is specified, is “listAsyncjobs” returning asynchronous jobs remaining after the specified time?
　・Is it correct to have “removed

[2021-03-11 08:05] rhtyd commented on #4770
Fixed #4772

[2021-03-11 08:05] #4770 closed

[2021-03-11 08:06] rhtyd commented on #4760
See https://travis-ci.com/github/apache/cloudstack/branches

[2021-03-11 08:07] rhtyd commented on #4749
Fixed in https://github.com/apache/cloudstack/pull/4761

[2021-03-11 08:07] #4749 closed

[2021-03-11 08:08] rhtyd commented on #4732
Thanks @utchoang I'll close this then.

[2021-03-11 08:08] #4732 closed

[2021-03-11 08:08] rhtyd commented on #4731
Addressed this in #4745

[2021-03-11 08:08] #4731 closed

[2021-03-11 08:14] rhtyd commented on #4715
Given the original issue doesn't cause the command failure (the log is debug, the exception/error is ignored by CloudStack). I'm closing this.

[2021-03-11 08:14] #4715 closed

[2021-03-11 08:16] rhtyd commented on #4660
@div8cn sorry I didn't understand your statement, are you seeing laggy novnc console with Ubuntu 20.04 Desktop as well? And are you saying this is caused by VMs with openvmtools/vmware-tools installed?

[2021-03-11 08:17] rhtyd commented on #4660
cc @luhaijiao ^^ ?

[2021-03-11 08:28] Hudratronium commented on #4791
@rhtyd
Thanks for this information and imho completely understandable. Will try to share this bit of information via the offical guides.

[2021-03-11 08:31] rhtyd commented on #4791
Thanks, closing on your remark.

[2021-03-11 08:31] #4791 closed

[2021-03-11 08:34] rhtyd commented on #4792
Yes, we don't return resources/objects that are marked with a removed date in the DB (this is usually for all list APIs). There's no way to get completed jobs with this API, however, you can use `queryAsyncJobResult` get the result of a completed job if you know the job ID.

Pl use the users mailing list to ask questions: http://cloudstack.apache.org/mailing-lists.html

Thanks.

[2021-03-11 08:34] #4792 closed

[2021-03-11 08:38] rhtyd commented on #4781
For 4.15, we recommend sticking to JRE11; newer JREs may not be supported (however as we see in your test it worked).
@abdelouahabb can you close the issue, thanks.

[2021-03-11 08:39] rhtyd commented on #4753
Unrelated to release milestone, I've removed 4.15.1.0. Website http://github.com/apache/cloudstack-www needs to be fixed.

[2021-03-11 08:41] rhtyd commented on #4654
Fixed in https://github.com/apache/cloudstack/pull/4787 for 4.15

[2021-03-11 08:41] #4654 closed

[2021-03-11 09:28] DaanHoogland commented on #4201
@shwstppr not reliably, that I know of. I happens regularly though. usually after a full smoke test run, there will be some remnant VMs in expunging state.

[2021-03-11 10:30] weizhouapache commented on #4781
@abdelouahabb
I tested with ubuntu 20.04 lxc container which is running on a ubuntu 20.04 vm, it took 20 seconds to setup the db.
[code]

os info
[code]

[2021-03-11 11:14] abdelouahabb commented on #4781
@rhtyd sure, i will make further investigation about why it is slow on my machine, thank you !
@weizhouapache how about ubuntu no GUI + on virt manager ?
I will make further investigations on this, thank you very much

[2021-03-11 11:14] #4781 closed

[2021-03-11 11:35] DaanHoogland commented on #4760
I don't see per job stats there, just the the overview.

[2021-03-11 12:02] luhaijiao commented on #4660
Sorry for confusion, guys.
First of all,  all our testing is based on intranet environment, CPVM and users are in the same location.
The significant novnc console lag happens to Windows Server VMs, e.g. Windows Server 2012/2016,  Windows 10 is not tested yet.
Same lag happens to Ubuntu Desktop too.
However,   novnc console looks good with most Linux VMs.

The performance gap is like one VM with VM

[2021-03-11 12:03] luhaijiao commented on #4660
Anyone tested the novnc console of Windows Server VM ?    just would  like to isolate if it's a pure environment issue of our own.

[2021-03-11 12:14] shwstppr commented on #4778
@div8cn In `listHosts` API response, we get two different values cpuallocated with and without operprovisioning applied.
[code]
I've created PR #4795 to enable this in listHostsMetrics response as well. Should this be done for memory allocated as well?
@rhtyd @DaanHoogland @weizhouapache thoughts?

[2021-03-11 12:27] weizhouapache commented on #4660
@luhaijiao could you record the screenshots of cloudstack novnc console and cloudstack vnc console (novnc.console.default=false) of same vm ?

[2021-03-11 12:58] edward-stpierre opened #4797 "Snapshot removal from secondary storage with Ceph primary v4.15"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME
Snapshot cleanup
[code]

##### CLOUDSTACK VERSION

4.15

[code]

##### CONFIGURATION
KVM with Ceph primary storage / NFS secondary storage
snapshot.backup.to.secondary set to true

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The snapshot clean-up job does not try and remove snapshot from secondary storage, was working on version 4.13

##### STEPS

[2021-03-11 13:10] borisstoyanov opened #4798 "GSoC 2021 Idea - UX improvements in the UI"
## Background

Surely our new UI is great, but some users might find it interesting to navigate with shortcuts and kayboard only

## Proposed Tasks

This could be interesting to any UI/UX engineer, not required huge domain knowledge which usually turns down candidates.

1. Being able to navigate without mouse and use shortkey – for example when on the dashboard when the user presses T, he could be

[2021-03-11 14:28] nvazquez opened #4799 "New marvin tests service"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Currently it is possible to execute integration/smoke/component tests for CloudStack through an external Python executor using marvin and nosetests. The test runner can be invoked on a CloudStack management server or in a dedicate

[2021-03-11 20:27] weizhouapache commented on #4757
#4698 has been merged into master/4.16, but  recent trillian test still fail

https://github.com/apache/cloudstack/pull/4577#issuecomment-796206333

[2021-03-12 04:57] davidjumani commented on #4778
+1 for getting listHosts as a subset of listHostsMetrics

[2021-03-12 07:08] rhtyd commented on #4799
@nvazquez can you use the structure/format as in https://github.com/apache/cloudstack/issues/4696

[2021-03-12 07:09] rhtyd commented on #4798
@borisstoyanov can you use the structure/format as in https://github.com/apache/cloudstack/issues/4696

[2021-03-12 08:33] DaanHoogland commented on #4757
I've added a PR to skip the tests on centos #4801, of course that does not solve the underlying problem but we can not implement features on hypervisors that do not support them.

[2021-03-12 08:55] #4752 closed

[2021-03-12 08:55] #4753 closed

[2021-03-12 09:48] DaanHoogland commented on #4778
agree, just make sure you don't change the semantics or format of any key causing backwards incompatibilities (unless the current filling of a value is obviously a bug, but even than,...)

[2021-03-12 10:18] weizhouapache commented on #4799
@nvazquez good.
I do not know if administrators are interested in it, but it will help cloudstack developers a lot !

[2021-03-12 10:39] weizhouapache commented on #4696
@rhtyd
fyi, we used libguestfs/guestfish and rsync to convert openvz containers to kvm vm in the past.
https://www.youtube.com/watch?v=mmWs9H7dnNA

[2021-03-12 10:44] DaanHoogland commented on #4799
Nota Bene: a lot of tests leave garbage around, I've done a lot of cleanup during python3 migration of marvin tests, but it is far from clean now.

[2021-03-12 10:52] sebbASF commented on #4752
AFAICT the web page has not been updated

[2021-03-12 12:56] weizhouapache opened #4803 "GSoC 2021 Idea: Add SPICE console for vms on KVM"
## Background

CloudStack provides ajax vnc view and novnc console to access vm. It would be good to have spice console for vms on kvm/xenserver.

## Proposed Tasks

- Get started on basic CloudStack codebase and development (building and running CloudStack)
- Setup KVM based CloudStack dev/test environment
- Setup Xenserver based CloudStack dev/test environment
- Test websockify-based SPICE conso

[2021-03-12 16:51] ThyLAW commented on #4700
(First off sorry for posting on these forums w/ this issue, I didn't know the mail client existed)
Update in case someone eventually sees this:

I got it working, however I completely scrapped Hyper-V. The workaround for nested virtualization I believed had worked, but I  don't think the NAT network was setup correctly (as shown in my documentation) as I could ping the management server from an ex

[2021-03-12 16:51] #4700 closed

[2021-03-12 17:37] aleskxyz opened #4808 "CloudStack uses 1st cdrom of VM to mount ConfigDrive ISO"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

ESXi 6.5
CentOS7

##### SUMMARY

This bug report actually has 2 root cause that solving each of them can solve the bug.

1. Based on [design document](https://cwiki.apache.org/confluence/display/CLOUDSTACK/Using+ConfigDrive+for+Metadata%2C+Userdata+and+

[2021-03-12 18:37] aleskxyz opened #4809 "Missing password.txt in ConfigDrive in multihomed VM"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

advanced networking

##### OS / ENVIRONMENT

CentOS7
ESXi 6.5

##### SUMMARY

When attach a VM to 2 networks which one of them uses VirtualRouter as userdata provider and other uses ConfigDrive, after password reset, you can't find password.txt file in ConfigDrive ISO

##### STEPS

[2021-03-13 01:34] abdelouahabb commented on #4734
@rhtyd
Both system VM are on, but cant accept uploading the iso to create a new machine
[code]

[2021-03-13 01:48] abdelouahabb opened #4810 "Cant run instance"
[code]

Everything was installed, secondary storage works (same machine), uploaded the template as in the tutorial `/usr/share/cloudstack-common/scripts/storage/secondary/cloud-install-sys-tmplt -m /export/secondary -f systemvmtemplate-4.15.0-kvm.qcow2.bz2 -h kvm -F`

But cant make it run
![one](https://user-images.githubusercontent.com/2527234/111014919-6d825580-83a6-11eb-972c-be8f2e321834.png)
!

[2021-03-13 05:03] aleskxyz commented on #4810
Here is not the right place for asking help or questions. You can use mailing lists for this purpose.
Please subscribe to users mailing list and ask you questions there:
https://cloudstack.apache.org/mailing-lists.html

Anyway, I think the root cause of problem is that you don't define a range for usable VLANs for your guest network.
`com.cloud.exception.InsufficientVirtualNetworkCapacityException

[2021-03-13 12:33] abdelouahabb commented on #4810
Thank you for the help,
This is not a question, this is something that doesn't work for something put as default values, the issue i faced personally is the lack starting points as someone who comes to cloudstack, i posted issues because i out what is on docs "but dont work",

As you suggested those values, then the issue is either the interface must force the user to put the vlan values (required

[2021-03-13 13:07] #4810 closed

[2021-03-13 16:37] DaanHoogland commented on #4752
@sebbASF did you clear cache? I can see the changes on https://cloudstack.apache.org/downloads.html

[2021-03-13 16:40] DaanHoogland commented on #4752
sorry, looking at the wrong issue, you are right, the download verification issues were updated but the jira link wasn't. I'll look into it.

[2021-03-14 00:32] abdelouahabb commented on #4734
After investigation, uploading ISO dont work, even using template dont work, it only worked using HTTP protocole :
Shared the iso via HTTP, and worked perfectly, uploading manually is always rejected,
@rhtyd i mark it solved, maybe it has an issue because it is nested ?

[2021-03-14 00:32] #4734 closed

[2021-03-15 03:40] davidjumani commented on #4558
@ngrosc @DaanHoogland I've created a fix in the new UI, let me know if this needs to be addressed in the old UI as well

[2021-03-15 04:21] davidjumani opened #4813 "GSoC 2021 Idea: Support Multiple SSH Keys for VMs"
## Background

As of now, ACS supports only a single SSH key to be added / reset on a VM.
This proposes the support of multiple SSH Keys

## Proposed Tasks

- Understand basic ACS
- Understand basic cloud-init
- Setup a basic ACS Environment
- Modify the existing API or add a new one
- Change the service layer and DB to allow multiple SSH Keys
- Tweak the VR if needed

## Proposed Mentor

David Ju

[2021-03-15 04:24] Pearl1594 opened #4814 "GSoC 2021 Idea: Synchronization of network devices on newly added hosts for Persistent Networks"
##### Background

Cloudstack offers Persistent Networks which gets provisioned at the time of creation without having to deploy a VM in the network (http://docs.cloudstack.apache.org/en/latest/adminguide/networking/persistent_networks.html). However, in case new hosts are added or disabled hosts re-enabled or moved from maintenance mode to enabled state, the network devices do not get provisioned

[2021-03-15 07:29] borisstoyanov commented on #4798
Thanks @rhtyd, updated.

[2021-03-15 08:34] weizhouapache commented on #4813
@davidjumani good idea 💯
it is in our backlog for many years

[2021-03-15 08:58] DaanHoogland opened #4817 "deleteDomain without force=true succeeds when it should fail"
During upgrading marvin test to python3 in #4727, it became clear that test_deleteDomain from the test suite test_accounts fails. It creates a set of accounts with some resources in a domain and than tries to delete it. An exception is expected but isn't thrown. the delete succeeds as if force=true

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##

[2021-03-15 08:59] DaanHoogland commented on #4752
created apache/cloudstack-www#80

[2021-03-15 09:20] sureshanaparti opened #4818 "GSoC 2021 Idea: Clone a Virtual Machine (with all the data disks)"
## Background

There is no straight way to clone / create a copy of the VM (with all the data disks) in CloudStack. Operator/Admin requires a series of steps/API cmds to be followed to achieve that in CloudStack, and also it takes considerable time (to wait and check each cmd response before proceeding to next step). Some hypervisors (Eg. VMware) already supports clone VM operation, and CloudStack

[2021-03-15 09:42] weizhouapache commented on #4818
@sureshanaparti cooool.
This is also in our backlog for many years :-D

[2021-03-15 09:52] weizhouapache commented on #4809
@aleskxyz vm password is only sent to the Virtual Router of first network, not all networks.

[2021-03-15 10:58] DaanHoogland commented on #4700
Thanks @ThyLAW any changes ***Quick Installation Guide*** to propose?

[2021-03-15 12:06] DaanHoogland commented on #4752
@sebbASF , should be good now. I didn't expect there to be intermediate files in the git repo. not sure I understand the publication proces.

[2021-03-15 12:21] sebbASF commented on #4752
Thanks, looks good now

[2021-03-15 14:20] DaanHoogland commented on #4817
due to python with-contruct (mis-)use

[2021-03-15 14:20] #4817 closed

[2021-03-15 14:25] aleskxyz commented on #4809
@weizhouapache
Thanks for you comment.
I can confirm that when I use L2 network as the default network, I can find password.txt file in the iso.
I don't know why it should be expected behavior that only one of virtual routers provides the password. Maybe it is due to this fact that lifecycle management of password is handled by virtual router it self, not the CS management. I mean that when the VM

[2021-03-15 15:07] DaanHoogland commented on #4558
I think the old UI was removed in master so, no. would not make sense.

[2021-03-15 15:12] DaanHoogland commented on #4808
@aleskxyz is this a regression compared to 4.14.0, that you know?
have you tried this on master?

[2021-03-15 15:54] ThyLAW commented on #4734
I am getting a similar issue as you w/ VMWare on top of Windows Server 2016. My secondary storage was set up fine and there are no known errors. Downloading from a URL works and it get stored and used properly unlike when I attempt to upload the ISO directly from my computer. Attempting to upload the ISO manually I once got a network error but the system logs did not enlighten me with anything. Le

[2021-03-15 17:24] weizhouapache commented on #4809
@aleskxyz
most cloudstack users use the following scripts (or similar)
https://github.com/apache/cloudstack/blob/master/setup/bindir/cloud-set-guest-password.in
https://github.com/apache/cloudstack/blob/master/setup/bindir/cloud-set-guest-password-configdrive.in

the vm password is processed like
(1) save vm password in VR
(2) when vm starts, it gets dhcp ip from dhcp server (VR), then sends reque

[2021-03-16 06:46] harikrishna-patnala opened #4825 "GSoC 2022 Idea: Mapping existing configuration parameters to the APIs"
## Background:
Cloudstack has global settings in which there are around 672 configuration parameters. Using these parameters one can adjust the values according to the need of the environment. For example "allow.duplicate.networkname" default value of this parameter is true, which means networks can be created with same name in an account. If the value is set to false then duplicate network names

[2021-03-16 07:40] utchoang commented on #4726
1. https://github.com/apache/cloudstack-primate/issues/158
   - [x] https://github.com/apache/cloudstack/pull/4762 - When opening a dialog, the first element should be active (with the cursor ready for typing). This avoids extra clicks.
   - [x] https://github.com/apache/cloudstack/pull/4763 - Some dialogs do not have 'Cancel' buttons - for example 'Assign Instance to Another Account'. The 'x' ico

[2021-03-16 08:15] aleskxyz commented on #4808
@DaanHoogland
I see this bug in 4.14.0 too.
I didn't test it on master.

[2021-03-16 08:23] aleskxyz commented on #4809
Thanks @weizhouapache
Did you use these scripts with cloud-init?
One of the reasons that I open this issue was simplifying password management with cloud-init.
If you have any experience with it, please leave your comment in the related question in mailing-list:
https://lists.apache.org/thread.html/r57b74dcd13d656ee0351bdf93bf3ee0ca307ce972c701821d3245706%40%3Cusers.cloudstack.apache.org%3E

[2021-03-16 09:01] weizhouapache commented on #4809
@aleskxyz
I have not subscribed to the users mailing list.  see my answer below

(1) we use cloud-init to set up cloud server, but we do not use it to manage/update password and ssh keys. we use a script similar as the scripts in my previous comment. the script will be executed when an interface is up.

(2) I guess the reason of ssh key is not applied is that, you use `- ssh`, not `- [ ssh, always

[2021-03-16 09:02] div8cn opened #4827 "vm created by ISO cannot resize the root disk size"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

VM created by ISO cannot resize the root disk size.
Error:
Failed to resize Root volume. The service offering of this Volume has been configured with a root disk size; on such case a Root Volume can only be resized when changing to another Ser

[2021-03-16 09:56] shwstppr commented on #4645
@edikevich did you face this issue only with an iscsi presetup SR and not with a NFS presetup SR? I tried with ACS 4.15, xcp-ng8.1 and a NFS presetup SR as primary store and zone worked fine.
@rhtyd @andrijapanicsb anything specific you guys can think of which can cause this?

[2021-03-16 10:06] edikevich commented on #4645
Hi. Yes, I have issue only with iSCSI presetup SR

[2021-03-16 11:02] aleskxyz commented on #4809
Thank you @weizhouapache
I will test it and write a document about it.
Regards

[2021-03-16 11:02] #4809 closed

[2021-03-17 10:43] rohityadavcloud opened #4834 "GSoC 2022 Idea: CloudStack OAuth2 Plugin"
## Background

Apache CloudStack currently support native, LDAP and SAML based authentication. The proposed idea is to write a new OAuth2 plugin which is UI-first and can perform Single-Sign-On (SSO) with 3-party identity providers such as Google, Facebook, Github etc and allows admins to manage the users/accounts.

![Screenshot from 2021-03-17 16-14-34](https://user-images.githubusercontent.com/9

[2021-03-17 12:03] rhtyd commented on #4827
@Pearl1594 can you check if your PR/fix addresses the case of ISO?

[2021-03-17 12:58] Pearl1594 commented on #4827
@rhtyd I've added a fix to allow resizing of Root volume of a VM deployed from an ISO - https://github.com/apache/cloudstack/pull/4829/commits/1c3fc3c57621f003aaefbabae73d8f43fa0ee523.

[2021-03-17 13:35] sureshanaparti opened #4835 "Add Role and Import Role Dialog UI doesn't show info / tooltip for the parameters"
Add Role and Import Role Dialog UI doesn't show info / tooltip for the parameters

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The following roles dialog doesn't show info / tooltip for the parameters

- Add Role

<img width="540" alt="AddRole" src="https://user-images.githubusercontent

[2021-03-17 14:23] DaanHoogland opened #4837 "start- and enddate parameters don't honour time in listUsageRecords"
The API ListUsageRecords does not honour time in its input parameters for startdate and enddate

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

the below examples produce the same result
[code]
and
[code]
produce no result

##### EXPECTED RESULTS

[code]

##### AC

[2021-03-17 14:27] div8cn commented on #4827
I verified the commit https://github.com/apache/cloudstack/commit/1c3fc3c57621f003aaefbabae73d8f43fa0ee523

It solved the problem.

thank @Pearl1594  @rhtyd

[2021-03-17 17:11] nvazquez opened #4838 "VMware: VM operations fail after inter-cluster storage migration"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
- Advanced networking
- Vmware 6,5 datacenter
   - 2 clusters
   - 1 host per cluster
- 2 NFS cluster-wide storage pools (1 per cluster)

##### OS / ENVIRONMENT

##### SUMMARY
After performing a storage migration of a VM from one cluster to another, it is not possible to start a VM

##

[2021-03-18 07:09] shwstppr commented on #4723
tested `listpublicipaddresses` API and Acquire New IP UI with #4675. IPs assigned to different account were not listed.
And not able assign ip from another account.
[code]

[2021-03-18 07:38] shwstppr commented on #4838
@nvazquez were you able to check the behaviour with master and 4.14. I think 4.14 might be having a similar problem and this should be fixed in master with #4385

[2021-03-18 07:52] rhtyd commented on #3557
Doc PR was merged, closing this based on https://github.com/apache/cloudstack-documentation/pull/132
Please reopen @onitake if necessary, thanks.

[2021-03-18 07:52] #3557 closed

[2021-03-18 07:57] rhtyd commented on #4835
Fixed in https://github.com/apache/cloudstack/pull/4836

[2021-03-18 07:57] #4835 closed

[2021-03-18 07:58] rhtyd commented on #4827
@Pearl1594 is that commit part of your PR or already merged?

[2021-03-18 07:58] rhtyd commented on #4726
Thanks for the update @utchoang

[2021-03-18 07:59] rhtyd commented on #4508
@weizhouapache any update? Thanks.

[2021-03-18 08:00] Pearl1594 commented on #4827
It's part of PR https://github.com/apache/cloudstack/pull/4829 - which hasn't yet been merged. Would you prefer me raising a separate PR to fix this? @rhtyd

[2021-03-18 08:10] weizhouapache commented on #4508
@rhtyd, I will test it when @DaanHoogland finish #4727

[2021-03-18 08:57] rhtyd commented on #3609
cc @harikrishna-patnala

[2021-03-18 09:05] shwstppr commented on #4797
ping @GabrielBrascher @wido, can you please have a look

[2021-03-18 09:13] shwstppr commented on #4628
ping @nvazquez , please have a look

[2021-03-18 10:22] rhtyd commented on #4508
@weizhouapache do you want to move milestone for this issue to 4.16? As #4727 is for master/4.16 and not 4.15.1.

[2021-03-18 10:51] shwstppr commented on #4838
@nvazquez I'm able to reproduce this on 4.14.1 as well,
[code]

Checking on master. Should happen there :crossed_fingers:

[2021-03-18 10:54] #4024 closed

[2021-03-18 10:55] DaanHoogland commented on #4808
ok, @aleskxyz tnx for reporting

[2021-03-18 11:19] weizhouapache commented on #4508
@rhtyd yes, done

[2021-03-18 12:31] shwstppr commented on #4838
@nvazquez working fine on the master. I'm not able to reproduce there,

**Storage pools**
[code]
**VM**
[code]
**Host details to find cluster**
[code]
**Stop VM**
[code]
**Storage migration**
[code]
**Start migrated VM**
[code]

[2021-03-19 03:14] nvazquez commented on #4838
Thanks @shwstppr! Closing it

[2021-03-19 07:48] rhtyd commented on #4837
@DaanHoogland can you test if it works as per API docs, the parameter passed should be something like: `startdate=2015-01-01 11:00:00`. API doc says:
[code]

[2021-03-19 07:49] rhtyd commented on #4837
The passed parameter is `startdate=2021-03-17T14:00:00` which according to the docs should be `startdate="2021-03-17 14:00:00"`

[2021-03-19 08:38] mib1185 commented on #4838
Hi @nvazquez
why will this issue not going to be fixed in 4.15.1. after all, even it is classified as BLOCKER and a fix is already available?

[2021-03-19 08:59] DaanHoogland commented on #4837
Yes @rhtyd I tried that, as you can see in my examples.

[2021-03-19 09:16] DaanHoogland commented on #4733
@chriscc12345 can you give more information? for instance an more detailed content of you javascript console log, or a log from the server while you are trying the failing API from cloudmonkey for instance?

[2021-03-19 10:00] sledzikowy commented on #4589
Hi, I'm having same issue here. I guess that's configuration problem, how did you solve it?

[2021-03-19 10:23] wido opened #4844 "UI should show IPv6 addresses of Instance"
##### ISSUE TYPE
 * Enhancement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### SUMMARY
The new UI does not show IPv6 addresses of VMs and/or NICs.

##### ACTUAL RESULTS
I have taken a few screenshots from the new UI on a deployment which has IPv6 enabled Virtual Machines with VXLAN in a Shared Network.

<img width="2556" alt="Screenshot 2021-03-19 at 11 17 54" src="ht

[2021-03-19 10:26] mhoffmann21 commented on #4733
@mkriegs @rhtyd
I can confirm the 404 exception for the Host tab.
It only occurs with the new UI. Unfortunately, because of this, I can only add hosts through the old UI. Since the legacy UI is maybe removedin the near future, this some kind of critical for me.

The acutal request seems to be (regarding the management log):
` -- GET  listall=true&type=routing&page=1&pagesize=20&command=listHostsMe

[2021-03-19 13:18] Pearl1594 commented on #4645
@edikevich  I wasn't able to reproduce the issue. I have the following SR on the host
![image](https://user-images.githubusercontent.com/10495417/111783987-dc006f80-88e0-11eb-8a2c-99793e443e17.png)

Following were the details added for primary store during zone deployment
![image](https://user-images.githubusercontent.com/10495417/111784161-10742b80-88e1-11eb-9744-52688397b098.png)

And I was able

[2021-03-19 15:30] edikevich commented on #4645
Hi. I will try again on next week. I will let you know If I have a problem.

[2021-03-19 15:44] DaanHoogland commented on #4733
@mhoffmann21 the WARN , you can ignore. it is not harmfull, did you see any other messages in the log, after this?
I have not heard of a workaround yet and only a few people seem to get this , indicating that there is some specific configuration that triggers this.
could you for instance try issuing listHostMetrics through cloudmonkey? and capture the logging.

[2021-03-19 17:19] GutoVeronezi commented on #3609
@rhtyd There is a PR (https://github.com/apache/cloudstack/pull/4699) that I think would solve this situation.
It was created a procedure that will add `guest_os + hypervisor` mapping;
- To each new map, call the procedure;
- If the map already exists (validating name and category), it will skip it;
- The procedure respects the `AUTO_INCREMENT` columns;
- After generate the `guest_os.id`, it will

[2021-03-20 03:12] GraceXiaoYa opened #4849 "Use broken cipher algorithm DES for encryption"
##### ISSUE TYPE
 * Security Vulnerability

##### Description:
We found a security vulnerability in file [cloudstack/services/console-proxy/server/src/main/java/com/cloud/consoleproxy/vnc/NoVncClient.java](https://github.com/apache/cloudstack/blob/0f3f2a09370a18301db28ec3d28efe746b6437c9/services/console-proxy/server/src/main/java/com/cloud/consoleproxy/vnc/NoVncClient.java). The broken cipher DES

[2021-03-22 06:19] rhtyd commented on #4849
cc @shwstppr @DaanHoogland

[2021-03-22 06:35] davidjumani commented on #4849
The password is encrypted via DES, added to a ConsoleProxyClientParam object which is in turn encrypted via AES
https://github.com/apache/cloudstack/blob/master/services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxyClientBase.java#L423
https://github.com/apache/cloudstack/blob/master/server/src/main/java/com/cloud/servlet/ConsoleProxyPasswordBasedEncryptor.java#L88

[2021-03-22 06:41] davidjumani commented on #4849
The password is sent to the Host via DES as that is the standard auth mechanism. Will check whether it can be changed to AES

[2021-03-22 09:31] DaanHoogland commented on #4849
is this about communication between the webclient and the target or between the console proxy and the target, @davidjumani . This is another static analysis report without exploit, publicly submitted :(
we'll have to do assesment.

[2021-03-22 09:53] weizhouapache commented on #4849
@DaanHoogland it is about the token in vm console URL. it is ecrypted/decrypted using a single 'key'.
it would be better to use a key/iv pair.

@davidjumani you may find some code for CBC encryption/decryption in my closed pr for novnc console:
https://github.com/apache/cloudstack/pull/3296/files  (search for keyword 'CBC').

[2021-03-22 10:12] davidjumani commented on #4849
@DaanHoogland @weizhouapache The token passed between the MS and the CPVM via the URL is encrypted via AES. The VM VNC password sent from the CPVM to the Host is encrypted via DES as is the standard for the RFB protocol

[2021-03-22 10:23] weizhouapache commented on #4849
@davidjumani yes. IMHO, the novnc password encryption is not an issue as it is sent from CPVM to host, which are internal communication.

[2021-03-22 13:24] DaanHoogland commented on #4849
ok, let's await a proper exploit for two weeks or close after that.

[2021-03-23 01:00] GabrielBrascher opened #4853 "API command listPublicIpAddresses lists IPs only with forvirtualnetwork=true"
##### ISSUE TYPE

 * Bug Report
 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

- **Zone Network type:** Advanced network with Security Groups enabled
- **Network isolation:** VXLAN
- **Virtualization:** KVM

##### SUMMARY

The API command [listPublicIpAddresses](https://cloudstack.apache.org/api/apidocs-4.15/apis/listPublicIpAddresses.h

[2021-03-23 05:59] weizhouapache commented on #4853
@GabrielBrascher this should be fixed by #4675 and #4676

[2021-03-23 14:51] mhoffmann21 commented on #4733
@DaanHoogland hey, sorry for the late answer.
There are no other messages in the log after the click on the host tab and the described WARN message...yeah of course the typical messages which occur on a regular basis, but nothing new for me.

I tried to make the API call (listHosts) and got a valid JSON answer back, which lists all of my hosts.
If I try to make the listHostMetrics call, I get: `(H

[2021-03-23 15:07] DaanHoogland commented on #4733
@mhoffmann21 just a hunch but that looks like a localisation issue: 1,5 in dutch or german vs 1.5 in english???

[2021-03-23 15:14] mhoffmann21 commented on #4733
@DaanHoogland 1,5 like in dutch or german.

[2021-03-23 15:38] MoeRT09 opened #4858 "Unable to establish noVNC connection to VM console"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Clean Chrome browser installation.

##### SUMMARY

There seems to be some kind of timing issue, when trying to establish a console connection to a VM using noVNC. Sometimes it does not try to connect. This behavior is really inconsistent between differe

[2021-03-23 16:09] weizhouapache commented on #4858
@MoeRT09 this should be fixed by #4833

[2021-03-23 16:23] MoeRT09 commented on #4858
@weizhouapache you are right. Appending the `autoconnect=true` parameter to the URL of the iframe fixes it.

[2021-03-23 16:32] weizhouapache commented on #4858
good to know !

[2021-03-23 19:54] MoeRT09 commented on #4733
@DaanHoogland It is definitely related to the system locale. Changing it to en_US.UTF-8 fixes this issue. So probably the problem is caused by the number format.

On Ubuntu you can achieve changing the system language by issuing `dpkg-reconfigure locales` and following the prompts.
This needs to be done for all managers in the cluster (or you will get inconsistent results).

[2021-03-23 21:46] DaanHoogland commented on #4733
@mhoffmann21 both dutch and german use comma for decimal separation and english uses point. This is the issue as confirmed by @MoeRT09/ I'm not sure if this should be solved by setting the server or client locale though. It'll be a good workaround nonetheless.
cc @rhtyd @davidjumani @shwstppr @utchoang I'm not sure but this sounds like a doable ui fix. Do you agree?

[2021-03-24 07:28] rhtyd commented on #4858
@MoeRT09 since it's fixed by #4833 - can you review and close the issue. (The fix will be in 4.15.1)

[2021-03-24 07:34] mhoffmann21 commented on #4733
@DaanHoogland to clear a thing: @MoeRT09/ and I work together on the same system. :)
So yes, the proposed solution works fine as described.

[2021-03-24 10:11] MoeRT09 commented on #4858
@rhtyd Is it possible to find the updated relevant package somewhere, so i can drop it in for testing?

[2021-03-24 11:24] rhtyd commented on #3957
On reset, I would expect the VM to return to the originally deployed state, which in case the root disk size was different than template size (originally resized while deployment) then the reset VM root disk size should be resized.

[2021-03-24 11:33] rhtyd commented on #4031
Fixed in https://github.com/apache/cloudstack/pull/4744 tested by David and Pearl

[2021-03-24 11:33] #4031 closed

[2021-03-24 11:55] rhtyd commented on #3505
@div8cn @luhaijiao any update on this?

[2021-03-24 11:57] rhtyd commented on #4201
@shwstppr - create a VM snapshot, delete the snapshot when it's in expunging state, (a) try to restart mgmt server, (b) don't restart mgtm server but see if the GC thread kicks in to purge the VM snapshot.

[2021-03-24 12:00] rhtyd commented on #4645
@edikevich looking forward to you test results. I've removed the critical severity as we're unable to reproduce the fix, we however found and fixed a UI issue as @Pearl1594 advised above.

[2021-03-24 13:00] edikevich commented on #4645
Hi. My test environment is now busy. If you want you can close this issue and if I have problem I will reopen it.

[2021-03-24 17:09] PaulAngus opened #4863 "Basic Networking needs to be restored - Advanced networks with security groups is not the same."
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-03-24 17:43] DaanHoogland commented on #4733
tnx @mhoffmann21 can you clarify if you consider this a proper way of installing or as a temporary workaround that needs fixing and close or update the description as appropriate?

[2021-03-24 17:47] #4645 closed

[2021-03-24 17:48] MoeRT09 commented on #4733
In my opinion this should be fixed and only seen as a workaround. At least it should be clearly mentioned in the documentation.

[2021-03-24 17:51] DaanHoogland commented on #4733
Ok, please @MoeRT09 please add as much data on the error config and the workaround as possible so a any volunteer knows what and how to fix.

[2021-03-24 18:56] MoeRT09 commented on #4733
The error always was triggered by the UI requesting the API endpoint `https://<host>/client/api/?listall=true&type=routing&page=1&pagesize=20&command=listHostsMetrics&response=json`, with the response mentioned [here](https://github.com/apache/cloudstack/issues/4733#issuecomment-804967083).

The request should return something like this:
[code]

As we never saw it working with a non english locale

[2021-03-24 19:01] DaanHoogland commented on #4733
@MoeRT09 is what is the locale and on what machine, please? I know locale is the problem but is it server side (and which) or client side (and which).

cc @utchoang @davidjumani can one of you assess if I'm asking the right question here?

[2021-03-24 19:04] MoeRT09 commented on #4733
I just edited the comment. Our Cloudstack manager hosts were configured with german locale (`de_DE.UTF-8`). The KVM hosts themselves are also configured with German locale, but the problem was solved by changing only the manager to `en_US.UTF-8`.

[2021-03-24 21:31] aleskxyz opened #4865 "No "data-server" DNS record for VPC router"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

advanced networking

##### OS / ENVIRONMENT

N/A

##### SUMMARY

No "data-server" DNS record for VPC router

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-03-24 21:42] GabrielBrascher commented on #4853
@weizhouapache PRs #4675 and #4676 are interesting. I will be reviewing them.

The idea of this issue was regarding the use of the parameter `forvirtualnetwork`. On advanced networking with SG, it is not possible to list IPs unless `forvirtualnetwork=true`.

My question/suggestion is related to make Admins able to list all IPs when `listall=true`, even if `forvirtualnetwork` is not provided.

[2021-03-25 03:20] GabrielBrascher commented on #4797
Thanks for opening this issue @edward-stpierre. I reproduced the same issue and I plan to take a deeper look at it.

[2021-03-25 06:04] shwstppr commented on #4628
This needs investigation for the reason for null value being saved for `kvm.vnc.address` in VM details table. I'm unable to find the reason myself. It could be due to historic reasons due to specific code in earlier ACS versions.

[2021-03-25 06:46] weizhouapache commented on #4853
@GabrielBrascher I understand your concern. however it works like it since 10+ years ago... it is not a good idea to change it.
it will break backwards compatibility.

[2021-03-25 07:32] weizhouapache commented on #4865
@aleskxyz
in VR of shared/isolated network, there is a record in /etc/hosts like
`192.168.10.1    r-10-VM data-server`

however, this does not work in vpc, as there might be multiple guest nics.

[2021-03-25 09:11] davidjumani opened #4868 "isrecursive not honoured for listAccounts, maybe others as well"
##### ISSUE TYPE

 * Bug Report

##### CLOUDSTACK VERSION

4.14 + (maybe even lower versions)

##### SUMMARY

isrecursive is not honoured when passed along with listall=true for listAccounts as a root admin
It is also not honoured when allow.user.view.all.domain.accounts is true

https://github.com/apache/cloudstack/blob/master/server/src/main/java/com/cloud/api/query/QueryManagerImpl.java#L2198-L

[2021-03-25 09:19] DaanHoogland commented on #4868
so basically teh defined functionalities of `listall` and `isrecursive` overlap and `listall` prefails. iniutitively I'd say `isrecursive` should prefail, so FWIW I agree.

[2021-03-25 10:06] apurv-1 commented on #4798
Hey @borisstoyanov, I would like to work on this. I can write a GSoC proposal for this. I did some really great projects on Reactjs and a few in Vuejs too. You can check out [Resillience](https://resillience.in/) the frontend is based on Reactjs. This was the most challenging project I did recently. Made the entire project including backend.

[2021-03-25 11:56] aleskxyz commented on #4865
@weizhouapache
I think we can use the "localise-queries" feature of dnsmasq. So I have created a PR about it. (#4873 )

[2021-03-25 16:02] skattoju4 opened #4874 "CLOUDSTACK-9341 volume import and export when using swift as secondary storage"
##### ISSUE TYPE

 * Bug Report
 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

CloudStack 4.12, XenServer and Swift as Secondary Storage.

##### OS / ENVIRONMENT

N/A

##### SUMMARY

*Uploading a volume fails when using swift as secondary storage.
The error returned is: org.apache.cloudstack.storage.to.VolumeObjectTO cannot be cast to o

[2021-03-26 06:51] staySober opened #4876 "why new ui just have advanced network and not have the basic network zone option?"
##### ISSUE TYPE

 * Improvement Request
##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

![avatar](https://user-images.githubusercontent.com/20500978/112594030-449c9e80-8e43-11eb-94c3-25906ab33dad.png)

##### EXPECTED RESULTS

[code]
![avatar](https://user-images.githubusercontent.com/20500978/112

[2021-03-26 07:20] shwstppr commented on #4876
@staySober Duplicate issue https://github.com/apache/cloudstack/issues/4863?

[2021-03-26 09:02] Spaceman1984 commented on #4837
I tested the behaviour of this API regarding passing time as a parameter,

I set the global variable usage.stats.job.aggregation.range to 60 and was able to query records with 1-hour increments.

There doesn't seem to be an issue here.

If you didn't change the global variable, you wouldn't have that kind of granularity. The default is 24 hours.

[2021-03-26 11:45] shwstppr commented on #4798
@apurv-1To start with you can check the UI code here, https://github.com/apache/cloudstack/tree/master/ui, you can try to build the UI and play with it in a simulator env.
This might help https://github.com/shapeblue/hackerbook
If not already you may join CloudStack mailing lists to get more idea about it.

[2021-03-26 11:58] shwstppr commented on #4798
@apurv-1 ^^

[2021-03-26 13:07] apurv-1 commented on #4798
Sure, Thanks @shwstppr

[2021-03-26 16:12] mkriegs opened #4877 "UI Physical Network Setup in Zone Wizzard fails"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CONFIGURATION

advanced networking setup over GUI

##### OS / ENVIRONMENT

Ubuntu 20.04
Centos 8
on KVM and Management Server

##### SUMMARY

If u do setup of our zone from gui it leads into fail config of the physical Network interfaces. U can change the settings afterwards but  people are new to Cloudstack fall into trap.

####

[2021-03-27 18:03] ThyLAW commented on #4734
Found that documentation states you are unable to upload iso/template without HTTPS connection which means utilizing SSL certificates. I am not utilizing SSL so that may be my issue.

[2021-03-28 18:32] GabrielBrascher opened #4880 "Remove IRC references"
##### SUMMARY

In 2019 there was a discussion on ML [[1]](https://lists.apache.org/thread.html/296def97c549e0b75bc14d0382ae412245cef6088e576acbcb007cc8%40%3Cdev.cloudstack.apache.org%3E) about dropping IRC as there is no movement there; the discussion reached a consensus regarding removing the IRC references.

Nowadays we mainly communicate via mailing list and Github issues/PRs. Additionally, the

[2021-03-29 07:30] borisstoyanov commented on #4798
Hi @apurv-1, great to hear you have interest! I've replied your email with instructions how to proceed.

[2021-03-29 08:02] DaanHoogland commented on #4874
@skattoju3 can you add any stacktraces you see in the logs, and possibly from the cloud.log in the ssvm?

[2021-03-29 08:49] rhtyd commented on #4838
We closed this as compared to 4.14 this wasn't found out as a regression. However, our colleague @andrijapanicsb did some testing and confirmed it as a regression compared to 4.11.3. Re-opening this on Andrija's remark. We'll track this against 4.15.1.

[2021-03-29 08:56] mhoffmann21 commented on #4877
I can confirm that on my setup. Furthermore, there is a possible issue with the defined VLANs. If you specify VLANs, like shown in the pictures, those VLANs are not really considered in the later configuration. I've done the whole setup with the wizard and had to specify the traffic types again and also the VLANs for guest traffic and storage. Otherwise it did not work properly.

[2021-03-29 09:00] DK101010 commented on #4733
Hi, in my case, the error occurs in HostDaoImpl.java in line 165.
DecimalFormat decimalFormat = new DecimalFormat("#.##"); This object use the jvm locals to decide which separator should be used. the jvm locals depends on the sytem/user locals

During my search I switch my system locals to english but the error continue occurs. After this I checked jvm settings (java -XshowSettings -version | grep

[2021-03-29 10:43] #4206 closed

[2021-03-29 11:30] shatoboar commented on #4814
Hi, I would really like to work on this project! Is there any further information or any tips to better understand the project?

[2021-03-29 12:48] apurv-1 commented on #4798
Yeah Sure, Thankyou @borisstoyanov :)

[2021-03-29 18:19] ravening commented on #4799
One thing that comes to my mind is to use the frontail package which displays the tail -f output of a file on UI.

Also since it can be run on dedicated server, it's better to separate out this service from Cloudstack MGT server.

I would say do below steps

Have a separate service which exposes REST API's to get list of test, executing all test and individual test and so on. Once API is executed,

[2021-03-29 20:10] GabrielBrascher commented on #4880
Currently, there are the following PRs addressing this issue:

1. README: #4879
2. CloudStack website: https://github.com/apache/cloudstack-www/pull/81
3. CloudStack documentation:https://github.com/apache/cloudstack-documentation/pull/204

[2021-03-29 21:38] abhi005 commented on #4844
Hey @DaanHoogland I would like to work on this issue. As this is one of the mandatory requirements for my course work, will make sure that it gets completed.

[2021-03-30 05:46] sureshanaparti commented on #4799
this service should also facilitate parallel execution of independent tests (in the same Cloudstack env) whenever possible. If this service is separated from MGMT server (as said above), how about getting and executing tests (at the same time) of multiple Cloudstack environments.

[2021-03-30 07:42] Pearl1594 commented on #4814
@shatoboar I've sent a mail with details that would be helpful to understand the project and the requirements. All the best! :) Feel free to reach out if you have any queries.

[2021-03-30 08:54] rhtyd commented on #4566
Fixed in https://github.com/apache/cloudstack/pull/4571

[2021-03-30 08:54] #4566 closed

[2021-03-30 08:55] rhtyd commented on #4628
Ping @nvazquez

[2021-03-30 08:55] rhtyd commented on #4660
Ping @luhaijiao any update? Is this still an issue we should be tracking for 4.15.1 or is it an environment issue?

[2021-03-30 08:58] rhtyd commented on #4733
@utchoang @davidjumani can you try to reproduce this by changing the CloudStack management server locale to non-English (say German) and see how it affects the host metrics response and if the UI break when the metrics have ',' instead of '.' for example instead of some value as `100.123` you get `100,123`. The change may require backend change.

[2021-03-30 09:00] rhtyd commented on #4797
Thanks @GabrielBrascher are you planning to raise a PR?

[2021-03-30 09:01] rhtyd commented on #4808
It's not a blocker, but an issue with the proposed design. @aleskxyz are you facing any operation issue due to this? We've tested cloud-init based template in our labs where it works.

[2021-03-30 09:01] rhtyd commented on #4827
Fixed in https://github.com/apache/cloudstack/pull/4829

[2021-03-30 09:01] #4827 closed

[2021-03-30 09:02] rhtyd commented on #4837
@DaanHoogland can you check again and close, or provide reproduction steps (advise Darrin)? Thanks.

[2021-03-30 09:03] rhtyd commented on #4849
Based on what I understand this is how VNC works (as per David's comments), unless the attacker is part of the data plane it shouldn't affect CloudStack (i.e. not a security bug).

[2021-03-30 09:07] rhtyd commented on #4858
@MoeRT09 I think we don't have nightly(publicly hosted) packages, can you try to build the packages yourself? Or wait until we do a 4.15.1.0 RC1 (sometimes in April).

I'm closing based on the discussions that the original issue has been fixed in https://github.com/apache/cloudstack/pull/4833

[2021-03-30 09:07] #4858 closed

[2021-03-30 09:09] rhtyd commented on #4863
Users of 4.15.1 needing basic zone deployment can use the legacy UI, the blocker would make sense for 4.16.0.0 where the legacy UI has been removed. @PaulAngus can you start a discussion thread on dev@?

@utchoang can you look into if the basic zone option can be enabled in the new UI? (I remember it being working just the option is disabled) If it's only that we can include it for 4.15.1.0.

[2021-03-30 09:18] DaanHoogland commented on #4877
@mhoffmann21  @mkriegs , I changed the title to be more precise about the issue, hope you don't mind.

[2021-03-30 09:19] DaanHoogland commented on #4877
@mkriegs can you add texts to teh steps editting traffic labels? it seems now that you are changing the same label three times.

[2021-03-30 09:27] PaulAngus commented on #4863
Users would be completely unaware of the difference until it was too late; The 'knowledgeable person and knowledgeable tester(s)' who made the change were unaware of the difference.

Users would assume that THE UI would be correct for something so fundamental.  This would send all users down the wrong path for any initial or new zones and therefore needs to be fixed in 14.5.1 as well as 4.16

n.b.

[2021-03-30 09:40] DaanHoogland commented on #4844
@abhi005 , I see @rhtyd has assigned this to @utchoang in the meanwhile so be sure to communicate the best solution amongst yourselves.

[2021-03-30 11:13] aleskxyz commented on #4808
@rhtyd
As I describe in bug description, this bug prevents attaching iso to VM.

[2021-03-30 14:14] nvazquez commented on #4628
Hi @levindecaro can you please explain if the VM is on a host in maintenance? The only reason for CloudStack to attemp inserting the 'kvm.vnc.address' detail is to preserve the VM console accessible after attempting a maintenance on the host. If it is trying to insert a NULL value this could indicate that host did not provide a VNC address for that VM

[2021-03-30 16:39] abhi005 commented on #4844
Cool, So just to be sure requirement is to show only IPv6 on view page and not both. correct? @DaanHoogland @rhtyd

[2021-03-30 17:57] wido commented on #4844
I would say that we should display the IPv6 address of a NIC/Instance on any page where we also show the IPv4 address.

[2021-03-30 18:00] abhi005 commented on #4844
Ok thanks for the clarification, I have started with the local setup and will start making changes asap.

[2021-03-31 00:59] utchoang commented on #4863
Hi, @rhtyd  cc @PaulAngus, I checked the Base area has been removed. I'll add it back and add options to show/hide based on config.json. Thanks.

[2021-03-31 01:53] luhaijiao commented on #4660
Ok,  we will try to record and compare the performance between 'traditional ' vnc  and newly implemented novnc console.

[2021-03-31 07:22] DK101010 commented on #4733
Sorry, prescribed.... I means the error occurs in HostJoinDaoImpl.java. Line 177.

[2021-03-31 08:58] bickrombishsass commented on #4813
Hello. I have made an Azure student account and trying to understand the functioning and other relevant things that will be needed for this project.
I am looking forward to writing a project proposal.

[2021-03-31 09:16] wido opened #4883 "KVM: Add io driver option to libvirt XML for io_uring support"
##### ISSUE TYPE
 * Feature Idea

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### SUMMARY
[code]

Source:
- https://www.phoronix.com/scan.php?page=news_item&px=KVM-IO-uring-Passthrough-LF2020
- https://archive.fosdem.org/2020/schedule/event/vai_io_uring_in_qemu/

By using io_uring with Qemu we can see a massive I/O performance improvement within Virtual Machines running from Lo

[2021-03-31 14:22] davidjumani commented on #4813
Hi @bickrombishsass I've sent you a mail that'll help you get started. Feel free to ping me if you need anything else

[2021-04-01 00:39] skattoju4 commented on #4874
hey daan, i've added the stack trace from the management server. It fails before getting to the ssvm...

[2021-04-01 06:49] #4880 closed

[2021-04-01 07:04] rhtyd commented on #3717
Fixed in https://github.com/apache/cloudstack/pull/4789

[2021-04-01 07:04] #3717 closed

[2021-04-01 07:09] rhtyd commented on #4723
Fixed in https://github.com/apache/cloudstack/pull/4675

[2021-04-01 07:09] #4723 closed

[2021-04-01 07:24] rhtyd commented on #3505
Closing as it's not reproducible on 4.15/master and no further activity/issues were reported.

[2021-04-01 07:24] #3505 closed

[2021-04-01 07:27] rhtyd commented on #4660
Thanks @luhaijiao pl keep us updated.

[2021-04-01 07:28] rhtyd commented on #4726
@utchoang are all the issues fixed/raised, can this ticket be closed?

[2021-04-01 07:33] rhtyd commented on #4849
Closing this due to limitation of how VNC works it can't be fixed at client/proxy level @GraceXiaoYa - pl reopen if you can demonstrate/share an exploit from public network/plane/CloudStack.

[2021-04-01 07:33] #4849 closed

[2021-04-01 07:34] rhtyd commented on #4853
@GabrielBrascher @weizhouapache - what's the consensus, close this issue in favour of the two already raised PR that fix the issue without breaking backward compatibility?

[2021-04-01 07:41] utchoang commented on #4726
Currently, there is still the PR (https://github.com/apache/cloudstack-primate/pull/898) to consider. I will update it now.

[2021-04-01 08:02] utchoang commented on #4726
[x] https://github.com/apache/cloudstack/pull/4885 - Multiple Management Server support

[2021-04-01 08:06] mkriegs commented on #4877
don't worry @DaanHoogland
I edit the post, do not hesitate if something is not clear to you.

[2021-04-01 08:45] sureshanaparti opened #4887 "Inclusivity: Rename default git branch name from 'master' to 'main', and replace offensive words/terms as appropriate"
## Background

The default git branch name 'master' was replaced with 'main' on GitHub [2][3] and in the wider Git community [4]. For those that have missed the broader discussion in society, the term 'master' is offensive to some people [1]. This is widely considered insensitive if not illegal, hence the proposed change.

[1] https://www.theserverside.com/feature/Why-GitHub-renamed-its-master-bra

[2021-04-01 09:02] rhtyd commented on #4863
Fixed in https://github.com/apache/cloudstack/pull/4882

[2021-04-01 09:02] #4863 closed

[2021-04-01 09:02] rhtyd commented on #4876
Fixed in https://github.com/apache/cloudstack/pull/4882

[2021-04-01 09:02] #4876 closed

[2021-04-01 10:24] ravening commented on #4868
@davidjumani @DaanHoogland this issue exists for several api's if you call the api from the child domain

I have seen the same issue for listing service offering and disk offering as well. I have created a pr for it

Create the following domain relationship

ROOT -> test1 -> test11

Now login as test1 and create a service offering for test11 domain.
If you login as test11, you wont see it

[2021-04-01 19:10] GabrielBrascher commented on #4853
I will close the issue for now then, the main concern is with the UI bug as well.

Maybe I can think of a way to improve the API description as well or propose changes that would not break compatibility.

[2021-04-01 19:10] #4853 closed

[2021-04-02 09:53] DaanHoogland commented on #4837
Let's remove this from the milestone. I don't think it is important enough to now spend a lot of time on.

[2021-04-02 10:38] DaanHoogland commented on #4844
No @abhi005 I think both should be shown if available.

[2021-04-02 10:48] DaanHoogland commented on #4883
looks like a minor change @wido , but will qemu/libvirt trip over the additional attribute if it is not yet supported, I.E. do we need an operator the set a switch and be intelligent about it? and can we query this per host (in case of a slow transition of a big env)?

[2021-04-02 11:05] DaanHoogland commented on #4874
tnx @skattoju3 , looks like a simple case of mistaken identity, the code assumes only templates are being uploaded and never volumes.
Can you verify that uploading a template works, please?

[2021-04-02 12:49] DaanHoogland commented on #4868
@ravening that sounds more like a problem with access than recursion, wouldn't you say so?

[2021-04-02 12:52] wido commented on #4883
It is very small indeed. @GabrielBrascher already started to work on this. Based on the Qemu and Libvirt version this is added or not.

In this case we can query this per host.

[2021-04-02 12:55] ravening commented on #4868
Not with recursion but how the code works

[2021-04-02 13:10] DaanHoogland commented on #4868
yes, well, domains have a concept of recursion but accounts do not. In the zone/pod/cluster/host there is another form of what could be called recursion. What you name above seems like a bug to me, but in general it is hard to define recursion consistently in cloudstack behaviour when it comes to these constructs.

Do you agree with how @davidjumani proposes to implement this?
And do you have othe

[2021-04-02 14:10] bickrombishsass commented on #4813
Hello. I have written a draft proposal. Should I post it on the GSoC page for you to check?
also. Do you have any specific format for the proposal?

[2021-04-02 14:33] GabrielBrascher commented on #4883
@DaanHoogland to give some taste of the draft here follows the first commit https://github.com/PCextreme/cloudstack/commit/c7c3dd3dd9b8869f45c5bd9c17af83d230ac7886
:warning:warning: work-in-progress :slightly_smiling_face:

As @wido mentioned, we can check the libvirt/qemu versions via the cloudstack-agent service that is running on the KVM node.

[code]

[2021-04-02 16:10] slavkap commented on #4757
@DaanHoogland, is this[ #2983 ](https://github.com/apache/cloudstack/pull/2983) could help? In the PR, Nicolas explains the same problem on CentOS7. I have tested the migration of VM with volumes on my dev. with CentOS7 and qemu-kvm-ev-2.12.0-44.1.el7_8.1.x86_64 and it works

[2021-04-02 18:29] abhi005 commented on #4844
I think showing both of them would be confusing for user and not very asthetic from UI point of view. Otherwise we can tweak UI little bit, to accomodate both the options.

[2021-04-04 03:47] LeBW commented on #4834
Hello, I'm a master's student at Fudan University, China. I'm interested in this project and I'd like to apply it for GSoC 2021. Is there any guidance or suggestions for me? Thank you!

[2021-04-04 04:13] damanBirSingh commented on #4818
Hello, I am an ME student from Bits Pilani, Goa, India. I would love to contribute to an open source project like cloudstack. It would be a great help if anyone could guide me how to proceed with this project. I am currently trying to build it, facing some issue with tests failing.
Thanks & Regards,
Daman

[2021-04-04 07:42] rhtyd commented on #4877
@utchoang can you check the zone deployment wizard against this issue, thanks. cc @davidjumani

[2021-04-04 23:01] srisgajare opened #4891 "Issue while running the simulator docker image"
##### ISSUE TYPE

 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

After cloning the repo, building the docker image from scratch and running it, the UI doesn't show up and throws the following error:
"You're in developer mode, please build and run UI using npm."

##### STEPS TO REPRODUCE

[code]

#####

[2021-04-05 06:44] rhtyd commented on #4834
Hi @LeBW thanks for your interest.

I would advise that you read the community GSoC guidelines (https://community.apache.org/gsoc.html), join the dev mailing list (http://cloudstack.apache.org/mailing-lists.html) to discuss your GSoC idea/proposal/application, and start drafting your application (for example https://google.github.io/gsocguides/student/proposal-example-1). With your proposed mentor

[2021-04-05 06:45] rhtyd commented on #4818
Hi @damanBirSingh thanks for your interest.

I would advise that you read the community GSoC guidelines (https://community.apache.org/gsoc.html), join the dev mailing list (http://cloudstack.apache.org/mailing-lists.html) to discuss your GSoC idea/proposal/application, and start drafting your application (for example https://google.github.io/gsocguides/student/proposal-example-1). With your propos

[2021-04-05 06:46] rhtyd commented on #4798
Hi @apurv-1 thanks for your interest.

I would advise that you read the community GSoC guidelines (https://community.apache.org/gsoc.html), join the dev mailing list (http://cloudstack.apache.org/mailing-lists.html) to discuss your GSoC idea/proposal/application, and start drafting your application (for example https://google.github.io/gsocguides/student/proposal-example-1). With your proposed men

[2021-04-05 06:48] rhtyd commented on #4813
Hi @bickrombishsass thanks for your interest.

I would advise that you read the community GSoC guidelines (https://community.apache.org/gsoc.html), join the dev mailing list (http://cloudstack.apache.org/mailing-lists.html) to discuss your GSoC idea/proposal/application, and start drafting your application (for example https://google.github.io/gsocguides/student/proposal-example-1). With your prop

[2021-04-05 07:09] rhtyd commented on #4587
Ping @olivierlemasle are you working on the PR #4588 ?

[2021-04-05 07:11] rhtyd commented on #4726
@utchoang thanks, the PRs that introduce new features can be raised against master; PRs fixing any bug or introducing (minor) enhanacement can be considered for 4.15 branch. If all the PRs have been raised, can I close this issue?

[2021-04-05 08:01] utchoang commented on #4726
@rhtyd Yes, it is possible to close it

[2021-04-05 08:14] damanBirSingh commented on #4818
Thank you for the quick reply, I would get started with the hackerbook course right away and start a draft for my proposal.

[2021-04-05 08:58] rhtyd commented on #4729
Fixed in https://github.com/apache/cloudstack/pull/4816

[2021-04-05 08:58] #4729 closed

[2021-04-05 09:51] #4726 closed

[2021-04-05 12:38] bickrombishsass commented on #4813
Hello mentors.
I have submitted the draft proposal.
@rhtyd @davidjumani

[2021-04-06 06:35] rhtyd commented on #4733
Ping @utchoang @davidjumani

[2021-04-06 07:03] utchoang commented on #4733
@rhtyd cc @davidjumani I changed the local language to German and the test failed to get the same error. I think this error from the backend instead of the UI.

[2021-04-06 07:14] rhtyd commented on #4733
Thanks for testing @utchoang, we'll discuss this and raise a PR then

[2021-04-06 07:21] rhtyd commented on #4664
Fixed in https://github.com/apache/cloudstack/pull/4666

[2021-04-06 07:21] #4664 closed

[2021-04-06 07:25] #4628 closed

[2021-04-06 07:32] shwstppr opened #4897 "Eliminate *_details table inconsistency"
Different details tables in cloud database have different structure. While some (specifically) allow inserting details with NULL value others do not. This creates issues when data needs to be copied from one to another, similar to #4628

[code]
To prevent such issues structure of these details table should be consistent and shouldn't accept details with NULL values.
Discussed in #4794

##### ISSUE

[2021-04-06 08:20] DaanHoogland commented on #4883
looks good so far, but my question about application architecture is only now getting clear to myself: will the knowledge be in the orchestrations layer, or will it be purely a provisioning (agent side) matter? I.E. do we want the opreator to be able to "sell" this to the users?
thanks guys

[2021-04-06 08:23] DaanHoogland commented on #4757
@slavkap is that qemu version stock or does the operator need to use external repos? and what libvirt version do you use for that.

[2021-04-06 08:25] DaanHoogland commented on #4844
You could be right @abhi005, I'm not a UI expert (other than for making angry fruit salads). As an operator I want to be able to show both though.
what do you think @wido, @utchoang, @rhtyd ?

[2021-04-06 08:28] davidjumani commented on #4868
I think that this is a deeper issue that could be across several elements. Need to look into whether this should be fixed. I personally think so and can raise a PR for the same but would like to get a wider feedback

[2021-04-06 08:39] slavkap commented on #4757
@DaanHoogland, it's sort of stock but does not come as default. In the PR's link above, Nicolas provides the steps to install it. I've followed these:
`yum install centos-release-qemu-ev`
`yum install qemu-kvm-ev`
libvirt version - 4.5.0

[2021-04-06 08:59] wido commented on #4883
This will be in the agent side (provisioning). It will be turned on if supported. This then makes sure the VM gets more I/O performance.

[2021-04-06 09:00] wido commented on #4844
We should always display IPv6 when it's available. It's a different IP-stack and it has to be shown.

The user then chooses if he/she uses the v4 or the v6 address for it's application.

[2021-04-06 09:29] rhtyd commented on #4757
@andrijapanicsb @DaanHoogland @weizhouapache @wido @borisstoyanov @vladimirpetrov - should we be installing qemu-kvm-ev (enterprise version) than the default/stock version in our testing and advise the same in our docs? Looks like a lot of features are missing in the stock version and the ev releases are widely used by many CloudStack users

[2021-04-06 09:30] rhtyd commented on #4244
Fixed by https://github.com/apache/cloudstack/pull/4773

[2021-04-06 09:30] #4244 closed

[2021-04-06 09:31] rhtyd commented on #4244
@div8cn can you test the fix from #4773 and re-open if you're able to reproduce the issue again cc @slavkap @DaanHoogland

[2021-04-06 10:00] DaanHoogland commented on #4883
ok, so no sellable item, just cloud wide support if available on host or not. thanks.

[2021-04-06 10:00] andrijapanicsb commented on #4757
"QEMU command 'migrate': this feature or command is not currently supported"

is the a long standing issue, where it worked in centos6, then feature revoked in centos7, even _yum install centos-release-qemu-ev; yum install qemu-kvm-ev_ - will NOT work, only when you use the qemu-kvm-ev from the oVirt repo - only that one comes with support for the live storage migration (and yes, Ubuntu works by d

[2021-04-06 10:11] DaanHoogland commented on #4757
@andrijapanicsb the python3 version of the marvin tests are not merged yet, We are seeing these failures in python2.
I don't know what caused the failure to become visible but it is just that. They became visible without upgrading python.

[2021-04-06 10:13] andrijapanicsb commented on #4757
interesting - ok, my take on that would be to go to some older PR (few months back, when everything was fine) - download the marvin KVM tests results and observe those 2 tests and see if they were run at all, or failed, or whatever was happening...

[2021-04-06 12:06] rhtyd commented on #4877
https://github.com/apache/cloudstack/pull/4892

[2021-04-06 12:06] #4877 closed

[2021-04-06 12:08] rhtyd commented on #4844
Ping @utchoang @abhi005 @GabrielBrascher are you working on this?

[2021-04-07 01:02] utchoang commented on #4844
I think @abhi005 is working with this issue? cc @rhtyd

[2021-04-07 05:54] rhtyd commented on #3255
Fixed by https://github.com/apache/cloudstack/pull/4099

[2021-04-07 05:54] #3255 closed

[2021-04-07 12:37] davidjumani commented on #4757
After going Sherlock on this, discovered that the vm_lifecycle test was initially overridden by a custom one during the smoke tests, so the test_01_migrate_VM_and_root_volume && test_02_migrate_VM_with_two_data_disks tests were never run. After the overwrite was removed, the tests in the current repo were run and the problem surfaced
I'm for keeping the default packages and not installing any cust

[2021-04-07 13:05] andrijapanicsb commented on #4757
agree with that, revert to the "old" behaviour and let it go"

[2021-04-08 01:04] utchoang commented on #4844
@abhi005 are you woking on this?

[2021-04-08 02:08] nvazquez commented on #4834
@LeBW hi, thanks for participating! Let us know if you need help with your application

[2021-04-08 10:27] rhtyd commented on #4673
@DaanHoogland changing milestone to 4.15.1 as the PR is here for the bugfix

[2021-04-08 19:06] Hudratronium commented on #4700
@ThyLAW
As i am in kind of the same situation, i would like to know if you had the chance to work on publication of your results for solving some of the issues you've mentioned?

[2021-04-08 21:14] ThyLAW commented on #4700
Hello Hudratronium,

I did not fix my issues with HyperV, I could not get it to work. I instead did a complete reinstall utilizing VMware and have succeeded. I had to reach out to my employer to allow me to share my documentation online. For further use than just reading it, please contact me. Also please contact me if there is anything you think should be added, fixed, or removed.

 Please note t

[2021-04-08 21:34] Hudratronium commented on #4700
@ThyLAW
Thank you very much. Will take a closer look into it !

[2021-04-08 21:36] ThyLAW commented on #4700
No problem! Just fyi gonna host this on my github now so link will change to that.

[2021-04-09 04:00] damanBirSingh commented on #4825
Hello,
I am an ME student from Bits Pilani, Goa, India. I would love to contribute to an open source project like Cloudstack.  I am currently going through the Cloudstack/Hackerbook and would start to draft a proposal asap. Furthermore, I also got a reply from @harikrishna-patnala with some resources to follow and will definitely go through those. Please let me know if there is anything else I sho

[2021-04-09 06:02] GabrielBrascher commented on #4545
@DaanHoogland I think that the validation was intentional indeed, but it does not consider that it is possible to migrate Volumes between local <> shared storage pools.

The conditional checks the previous offering, which works really well if the volume has not been migrated; however, if the volume has been moved to a storage pool with different scope (e.g. HOST or Cluster) than the offering (e.g.

[2021-04-09 07:29] rhtyd commented on #4757
@andrijapanicsb we can ignore CentOS6, which has reached EOL, in the current release/context of CloudStack.

Given the limitations should we be promoting using Ubuntu now where things work out of the box (and say update the QIG guide?) and many CloudStack users notably Leaseweb, PCExtreme are already major users of Ubuntu/KVM with CloudStack? cc @wido @GabrielBrascher @weizhouapache

I've started

[2021-04-09 07:40] rhtyd commented on #4797
Ping @GabrielBrascher - any update on this?

[2021-04-09 07:47] harikrishna-patnala commented on #4825
Hi @damanBirSingh,
It's great to hear from you and your interest on this project. I'm happy to mentor and work with you.
Like we already discussed please go through the links provided and start drafting the application as the end date is reaching soon.

You might have already done the following, if not please do it.
I would advise that you read the community GSoC guidelines (https://community.apac

[2021-04-09 07:51] #4517 closed

[2021-04-09 08:33] Pearl1594 commented on #4808
@aleskxyz attaching configdrive ISO to the 2nd drive would involve considerable design changes on vmware end which is something we can target for the next major release - 4.16. As an immediate fix to mitigate this issue, we can work on facilitating a force unmount of the attached configdrive iso - i.e., enable ACS to answer the ESXi question.

[2021-04-09 08:52] DaanHoogland commented on #4865
closing as #4873 is merged

[2021-04-09 08:52] #4865 closed

[2021-04-09 09:26] staySober commented on #4876
thanks a lot

[2021-04-09 09:31] wido commented on #4757
I have no opinion about CentOS as we indeed use Ubuntu on all our servers.

[2021-04-09 09:41] DaanHoogland commented on #4093
@soreana should/can we mark this for 4.16?

[2021-04-09 09:44] soreana commented on #4093
@DaanHoogland When do you planned for 4.16 release?

[2021-04-09 09:56] DaanHoogland commented on #4093
this summer somewhere.

[2021-04-09 10:09] soreana commented on #4093
I asked our PO. We made a story to work on that. :)

[2021-04-09 10:19] harikrishna-patnala opened #4902 "Destroy VM should detach the volumes from VM and recover VM should not try to attach the volumes again"
This is an improvement ticket in which volumes of a VM which are not intended to be deleted (when VM is tried to destroy) are going to be detached from VM during destroy VM operation.

CloudStack volumes are first-class citizens, they do not belong to a VM. Therefore data disks must be detached from the destroyed VM and either be expunged (if that is what the user requested) or be left detached an

[2021-04-09 15:07] skattoju4 commented on #4874
Yes template upload works, however download progress is not reported...

[2021-04-09 15:12] andrijapanicsb commented on #4757
For the purpose of this issue, just ask @davidjumani to revert the change (done by whoever...) that made these test suddenly run, instead of being skipped, as they had been for lastbfew years.

[2021-04-09 17:05] abhi005 commented on #4844
@utchoang yes, already started.

[2021-04-10 05:20] bickrombishsass commented on #4813
@rhtyd @davidjumani pls let me know if more changes needed on the proposal.

[2021-04-10 05:50] JushwanthGV commented on #4814
Hi,
I'm interested in this project, and I'm new to open source I would like to include this project for gsoc.
Can anyone help me with how to start?
I would like to know all the requirements needed for this project so that i can be ready for this project.
I would like some tips and some more insights abt this project.

[2021-04-10 06:20] Pearl1594 commented on #4814
Hi @JushwanthGV , thanks for your interest!
To start off, you can work on drafting your application / project proposal and may use https://google.github.io/gsocguides/student/proposal-example-1 as a guideline. And reach out if you need further details. Please also go through the GSoC guidelines - https://community.apache.org/gsoc.html - if you haven't already.

[2021-04-10 07:43] rhtyd commented on #4757
@wido I think there are two things, (1) about how we run tests on PRs (the default test is CentOS7+kvm) and (2) if we should make our QIG (currently CentOS based) to also be Ubuntu based.
Closing this as the PR https://github.com/apache/cloudstack/pull/4801 fixes the issue by skipping tests that we know won't work, also per original commit 0fbf5006b87b6c5bc6188e3e1dd226a98c3bb453

[2021-04-10 07:43] #4757 closed

[2021-04-10 07:44] rhtyd commented on #4757
I'll continue discussion on qemu-kvm-ev on dev/user ML and issue of QIG to be also based on Ubuntu.

[2021-04-10 07:56] rhtyd commented on #4673
Fixed in https://github.com/apache/cloudstack/pull/4899

[2021-04-10 07:56] #4673 closed

[2021-04-10 07:59] rhtyd commented on #4838
Fixed in https://github.com/apache/cloudstack/pull/4895

[2021-04-10 07:59] #4838 closed

[2021-04-10 08:00] rhtyd commented on #4201
Closing issue, have a PR - https://github.com/apache/cloudstack/pull/4898

[2021-04-10 08:00] #4201 closed

[2021-04-10 08:03] rhtyd commented on #3957
Fixed in https://github.com/apache/cloudstack/pull/4638

[2021-04-10 08:03] #3957 closed

[2021-04-11 17:24] wido commented on #4902
I agree 100% with this as @PaulAngus also mentioned in other threads.

Datadisks are not part of a VM, they are just attached to it. Upon destruction they should be detached and left alone.

[2021-04-12 02:40] rhtyd commented on #4201
Fixed in https://github.com/apache/cloudstack/pull/4898

[2021-04-12 03:57] div8cn opened #4906 "Duplicate jar packages are installed under ubuntu"
##### ISSUE TYPE

 * Bug Report
##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OS： ubuntu 20.04
deb:  cloudstack-agent_4.15.0.0~focal_all.deb

##### SUMMARY

After installing cloudstack-agent_4.15.0.0~focal_all.deb under UBUNTU 20.04, two "same" (same as md5) jar packages are found under /usr/share/cloudstack-agent/lib.

/usr/share/clou

[2021-04-12 06:43] apurv-1 commented on #4798
Hello @rhtyd, I'm on the mailing list, I'll soon start a discussion regarding UX improvements on the mailing list.
Sorry, it's too late but I've drafted the proposal. Can you please review it?

[2021-04-12 08:01] DaanHoogland opened #4908 "login fails with certain username formats"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

when configured the same, user d.h@bla.cc *can* login, but user dh@blob.cc *cannot* login. Note the dot in the username or not.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-04-12 10:31] DaanHoogland opened #4911 "solidfire primary capacity is reset to zero bytes"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

zone wide storage

##### OS / ENVIRONMENT

##### SUMMARY

a 4.11.3 environment with solidfire zone wide primary storage is upgraded to 4.15.0. After the upgrade the capacity of the storage is set to 0 bytes. After adjusting it it will be reset within a few minutes to 0 bytes again.

[2021-04-12 10:52] rhtyd commented on #4911
Hi @mike-tutkowski - do you have any guidance for us?

[2021-04-12 12:15] nvazquez commented on #4834
Hi @LeBW if you are still interested in this project please submit your application by tomorrow

[2021-04-12 15:10] GabrielBrascher commented on #4545
Update: working to fix this issue via PR #4915

[2021-04-12 16:56] LeBW commented on #4834
I'm sorry for the late reply. I have drafted my proposal and sent it to your email. Hope to receive your suggestions :).

Thanks!

[2021-04-12 17:13] rhtyd commented on #4906
cc @wido @weizhouapache @GabrielBrascher

[2021-04-12 17:13] rhtyd commented on #4887
+1

[2021-04-12 17:50] mike-tutkowski commented on #4911
Hi @rhtyd: In the log lines above, it looks like the capacity was already at 0 by the time the createCapacityEntry method (which is where those log lines come from) is invoked.

I don't currently have a CloudStack environment up and running. Would you (or someone else) be able to re-set the capacity to the desired value, wait for it to be set back to 0, and then update this ticket with the log fil

[2021-04-12 18:20] rhtyd commented on #4760
Closing this, largely passes except for two cases which are intermittent or have PRs to address them.
https://github.com/apache/cloudstack/pull/4710

[2021-04-12 18:20] #4760 closed

[2021-04-12 18:28] rhtyd commented on #4908
Fixed in https://github.com/apache/cloudstack/pull/4910

[2021-04-12 18:28] #4908 closed

[2021-04-13 00:11] nvazquez commented on #4834
Thanks @LeBW, I have recieved your draft proposal over email and added some comments. Please address them and submit your application through the GSOC portal https://summerofcode.withgoogle.com/ by Tuesday 13th 18:00 UTC (which is the deadline). My timezone is UTC-3, will be online if you need more assistance or ping @rhtyd who's timezone is closest to yours if I'm still not available

[2021-04-13 06:04] DaanHoogland commented on #4911
I found this telling bit: probably why further calculation is stopped and 0 is passed to `createCapacityEntry`

[code]

[2021-04-13 06:13] mike-tutkowski commented on #4911
I'm not really sure what this createCapacityEntry is exactly supposed to be doing, but does it apply for managed storage?

[2021-04-13 06:15] DaanHoogland commented on #4902
I agree with you and @PaulAngus, @wido. From a conceptual/cloudstack paradigm point of view.
Some users of appliances might disagree though, and argue that a data disk installed by an appliance is an integral part of it. It seems to me we should think about that use-case as well. I'm not sure how common it is though and whether it matters to any ACS users.
just a heads-up. I agree with implementin

[2021-04-13 08:21] wido commented on #4906
Are we sure this isn't a symlink?

@div8cn Can you post the output of:

<pre>
ls -al /usr/share/cloudstack-agent/lib
</pre>

[2021-04-13 08:35] div8cn commented on #4906
`root@TC-APP01CE:~# ls -al /usr/share/cloudstack-agent/lib/ |grep agent
-rwxr-xr-x 1 root root   92829 Jan 12 23:16 cloud-agent-4.15.0.0.jar
-rwxr-xr-x 1 root root    6666 Jan 12 23:16 cloud-framework-agent-lb-4.15.0.0.jar
-rwxr-xr-x 1 root root   92829 Jan 12 23:16 cloudstack-agent.jar
root@TC-APP01CE:~#
`

[2021-04-13 11:09] rhtyd commented on #4911
cc @swill @skattoju4 - can you have a look at advise?

[2021-04-13 11:37] rhtyd commented on #4911
@DaanHoogland when you say 'adjusting' it, was the storage pool capacity value manually updated using the API http://cloudstack.apache.org/api/apidocs-4.15/apis/updateStoragePool.html ?

Looking into the codebase, it looks if the capacity value is getting reset to 0, it's triggered via a thread, most likely on pool connect/add (when the mgmt server starts or kvm host connects I think) or likely by

[2021-04-13 12:11] rhtyd commented on #4911
I found some changes in code from 4.11.1 to 4.15, the logic in stat collector may end up updating for storage plugin it shouldn't which don't implement the total/used value to be returned. Proposed PR https://github.com/apache/cloudstack/pull/4918/files

[2021-04-13 12:37] #4733 closed

[2021-04-13 12:38] rhtyd commented on #4733
Fixed in https://github.com/apache/cloudstack/pull/4900
@chriscc12345 can you test pull request https://github.com/apache/cloudstack/pull/4900 in your environment? @utchoang has tested in his local env. Thanks.

[2021-04-13 13:01] DaanHoogland commented on #4911
@rhtyd it was updated both with the API and directly in the DB.

[2021-04-13 13:04] DaanHoogland commented on #4911
if a message from the host saying "Wrong format for iScsi path: f7bf6389-cb9a-4360-8116-2f2ed85b6220. It should be formatted as '/targetIQN/LUN'." is the issue, will than not the new value always be 0 and this fix still do the resetting? Retorical question, we can only let this be tested by a user using KVM with the solidfire plugin.

[2021-04-13 13:04] DaanHoogland commented on #4911
btw, i marked this as CRITICAL , but we might call it a blocker as well for those users.

[2021-04-13 14:10] skattoju4 commented on #4911
@rhtyd will take a look. In the past storage capacity was computed with getStorageBytes which summed up the size of volumes templates and snapshots from the db. The capacity was set manually to a high value since the actual capacity was somewhat dynamic depending on the storage usage.

[2021-04-13 17:08] mike-tutkowski commented on #4911
Like what @skattoju4 mentioned: It used to be that you would just manually set the capacity bytes for managed storage.

The idea is that you might have a large SAN (like a SolidFire SAN), which does all sorts of fancy things like compressing and de-duplicating data - in addition to thin provisioning. That being the case, whatever the physical storage capacity is of this kind of a SAN, you might ge

[2021-04-13 20:41] GabrielBrascher commented on #4797
@rhtyd so far it still on the backlog. I hope to get some attention at this soon.

[2021-04-13 20:41] mike-tutkowski commented on #4911
Like what @skattoju4 mentioned: It used to be that you would just manually set the capacity bytes for managed storage.

The idea is that you might have a large SAN (like a SolidFire SAN), which does all sorts of fancy things like compressing and de-duplicating data - in addition to thin provisioning. That being the case, whatever the physical storage capacity is of this kind of a SAN, you might ge

[2021-04-13 20:43] mike-tutkowski commented on #4911
I don't know how I managed to close this. There was something weird going on in the UI and I thought I was exiting out of a comment...not closing the ticket. How can we re-open this?

[2021-04-13 20:44] mike-tutkowski commented on #4911
Sorry...I didn't mean to close this ticket. There was something weird going on in the UI. I thought I was cancelling a comment I was typing, but it ended up closing the ticket. I've re-opened the ticket now.

[2021-04-14 06:38] staySober opened #4919 "cloudstack4.15 new UI , security group egressrule and ingressrule mistake"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]
![image](https://user-images.githubusercontent.com/20500978/114664249-01d93280-9d2e-11eb-9729-e6191dc0bd57.png)
![image](https://user-images.githubusercontent.com/20500978/114664411-3d73fc80-9d2e-11eb-90ee-dc52

[2021-04-14 08:27] staySober commented on #4919
in addition to this , this page add egressrule and ingressrule It doesn't seem to work, however i add the ingressrule, it always add egressrule. It  look like this page is not finish development.
thanks a lot

[2021-04-14 09:25] utchoang commented on #4919
Hi @staySober, I understood the problem. It arises due to a language error, I will fix it for now. Thanks.

[2021-04-15 02:27] staySober commented on #4919
thanks @utchoang

[2021-04-15 07:19] rhtyd commented on #4902
+1 let's fix in the next major release. For consistency sake with other hypervisors, https://github.com/apache/cloudstack/pull/4493 can be merged to retain backward compatibility.

[2021-04-15 07:21] rhtyd commented on #4462
Fixed https://github.com/apache/cloudstack/pull/4493

[2021-04-15 07:21] #4462 closed

[2021-04-15 07:21] rhtyd commented on #4462
New improvement issue https://github.com/apache/cloudstack/issues/4902

[2021-04-15 07:31] rhtyd commented on #4919
Fixed in https://github.com/apache/cloudstack/pull/4920

[2021-04-15 07:31] #4919 closed

[2021-04-15 08:46] staySober opened #4921 "cloudstack management server error, /client/api 404"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

![image](https://user-images.githubusercontent.com/20500978/114839661-9adc7c00-9e08-11eb-8f2f-8c06840d58d3.png)

[code]
![image](ht

[2021-04-15 09:29] rhtyd commented on #4921
Hi @staySober thanks for reporting - can you share:
- if you're able to access the legacy UI at `<hostname/domain/ip>:8080/client/legacy`?
- - Can you see any activity other than what you've pasted on the management server logs at `/var/log/cloudstack/management/management-server.log`? Can you share those logs with us?
- Is that a fresh/new installation or an upgraded environment?
- Is there a loa

[2021-04-15 09:30] rhtyd commented on #4921
cc @shwstppr @Pearl1594 @Spaceman1984 @DaanHoogland

[2021-04-15 09:41] staySober commented on #4921
Is that a new installation， It operated normally for several days
on the legacy UI,  It seems to have the same mistake
![image](https://user-images.githubusercontent.com/20500978/114847986-d9763480-9e10-11eb-8ef9-b1d17c76fc36.png)

when I execute 'service cloudstack-management restart ' I just saw two logs again
![image](https://user-images.githubusercontent.com/20500978/114848167-00cd0180-9e11-11

[2021-04-15 09:45] rhtyd commented on #4921
Can you share the Java JRE version and the mysql jar that maybe in class path. I saw some error around that. From logs it seems your management server is stuck.

[2021-04-15 09:49] staySober commented on #4921
sure，thank for you help me

jdk version : openjdk 11.0.10
![image](https://user-images.githubusercontent.com/20500978/114849605-7f766e80-9e12-11eb-837a-986d3a67b0b3.png)

mysql version 5.6.51
![image](https://user-images.githubusercontent.com/20500978/114849718-9d43d380-9e12-11eb-995b-11c05a767412.png)

mysql-connector-java 8.0.19
![image](https://user-images.githubusercontent.com/20500978/1148498

[2021-04-15 10:40] rhtyd commented on #4441
Fixed in https://github.com/apache/cloudstack/pull/4300

[2021-04-15 10:40] #4441 closed

[2021-04-15 13:32] derhecht opened #4925 "cloudstack-setup-databases fails on complex database key"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
not relevant I think

##### OS / ENVIRONMENT
not relevant I think

##### SUMMARY
I run
cloudstack-setup-databases cloud:<dbpassword>@localhost --deploy-as=root:<password> -e <encryption_type> -m <management_server_key> -k <database_key> -i <management_server_ip>
with e.g. the following

[2021-04-16 02:50] staySober commented on #4921
i get the info from jstack as follows

[code]

[2021-04-16 03:49] staySober commented on #4921
I try fix it to reinstall cloudstack-management

1. backup databases
2. uninstall cloudstack-managment
3.  reinstall cloudstack-management
4.  execute cloudstack-setup-databases
5. cloudstack-setup-management
6.  Restore data from a backup to databases
7.  service cloudstack-management restart

but now, the server is  HTTP ERROR 503 Service Unavailable
before I execute step 6,  the server is avail

[2021-04-16 07:01] rhtyd commented on #3939
cc @Spaceman1984 any update on this?

[2021-04-16 07:02] rhtyd commented on #4797
Alright @GabrielBrascher if you're unable to work on it, let's move to next milestone

[2021-04-16 07:12] Spaceman1984 commented on #3939
I have ruled out the list routers api and I am investigating the creation process.

[2021-04-16 08:14] rhtyd commented on #4906
I tested and confirmed issue as well, thanks @div8cn
[code]

[2021-04-16 08:19] rhtyd commented on #4906
@div8cn can you help test https://github.com/apache/cloudstack/pull/4927

[2021-04-16 09:48] Spaceman1984 commented on #3939
I have found the place in the code where the service offering is selected for a VR.

RouterDeploymentDefinition.java
[code]

Line 393 seems strange to me, I don't know how the service offering would be stored on the network offering - but it seems like this would be a way to select a specific service offering.

In my testing serviceOfferingId = null, meaning the default service offering is used, w

[2021-04-16 09:58] rhtyd commented on #4844
Ping @abhi005 @utchoang - any progress on this? I'll leave with @GabrielBrascher @wido for tracking.

[2021-04-16 10:10] Spaceman1984 commented on #3939
@borisstoyanov it seems like if you want a specific system offering you have to set it in the network offering table in the db. Cloudstack will use the default if not set and then use whatever storage pool is available.

To make the deployment fail I can limit the storage allocators to local storage only if the variable is set to true and the VM is a system VM. Would that be desirable?

[2021-04-16 10:21] mhoffmann21 opened #4928 "Unable to add an additional manager"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION

Two management servers and several kvm hosts, aggregated to one cluster.
Advanced networking is used, since there is no other option. Networking works fine.

The cloudstack ist configured so that both management servers are populated to the host ('host' global configuration parameter)

[2021-04-16 11:06] rhtyd commented on #4921
It says error while decryption - your management server `key` (in db.properties and in key file at /etc/cloudstack/management/) file is wrong or invalid - please check @staySober - if this is a new/test environment, can you re-deploying from scratch.

[2021-04-16 14:12] wido opened #4930 "UI should not allow root disk size customization if Service Offering has a fixed size"
##### ISSUE TYPE
 * Enhancement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
Service Offering with a fixed root disk size

<pre>
(2019)  > list serviceofferings filter=rootdisksize,name,id id=4250629b-5754-495c-be84-16c2cdfe481f
{
  "count": 1,
  "serviceoffering": [
    {
      "id": "4250629b-5754-495c-be84-16c2cdfe481f",
      "name": "HA 1G (Root 3

[2021-04-16 15:10] benmcguire79 opened #4931 "Multiple Public Subnets Single Shared Network ( Metadata Error )"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced Networking with SG
One defaultGuestNetwork ( 2 x subnets setup using legacy interface.
Example:   188.165.185.64/28     51.255.101.128/26

The first subnet /28 was added when the guestnetwork was created. We can manually add an IP from the /26 subnet ( using the legacy int

[2021-04-17 10:00] staySober commented on #4921
Ok.  I fix it and my Database backup restore successfully. But I still don't  understand why the manager can block when I restart the server.  I guess the mistake may be due to I changed the manager configuration wrongly.
Anyway.  Thank you for helping me

[2021-04-18 11:13] r9host opened #4932 "New UI does not allow entering CPU speed when creating new instance"
In the new UI came with 4.15, when create a new instance using a custom compute offering, it does not show CPU speed field to enter. As a result, when click on Launch button, it gives an error that cpu speed value is missing.

[2021-04-18 11:22] apurv-1 commented on #4891
Hello @srisgajare, can share some screenshots and show where exactly you're facing the issue?

[2021-04-19 08:21] DaanHoogland commented on #4931
can you add 'real' rfc1918 examples? from this we can not really see where you wnet wrong, @benmcguire79. I'm not saying you are wrong. I've seen a similar issue recently and it might even duplicate that one. .

[2021-04-19 08:26] ggsyu opened #4935 "Host does not have enough reserved CPU available, cannot allocate to this host"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

API

##### CLOUDSTACK VERSION

4.15

##### OS / ENVIRONMENT

Centos7 system based on arm64 architecture

##### SUMMARY

Host does not have enough reserved CPU available, cannot allocate to this host
Hosts's actual total CPU: 128000 and CPU after applying overprovisioning: 128000

systemvmtemplate:
https://download.cloudstack.org/rpi4/systemvmt

[2021-04-19 08:51] DaanHoogland commented on #4935
@ggsyu , you are really not giving enough information about;
1. how you installed
1. what you did
1. which template you are installing
unfortunately `InsufficientServerCapacityException` is a very generic exception.
nice to see arm arch be used btw.

[2021-04-19 09:19] leolleeooleo opened #4936 "Migrate Volume disk offering change when Replace disk offering does not selected"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
http://docs.cloudstack.apache.org/en/4.14.0.0/adminguide/storage.html#id2

##### OS / ENVIRONMENT
CentOS 7.9 (2009)

##### SUMMARY
Error while migrating VM, (error: Unsafe migration: Migration may lead to data corruption if disks use cache != none)
Because VM's root disk offering chang

[2021-04-19 09:34] ggsyu commented on #4935
centos arm64 system，rpmbuild cloudstack
yum localinstall -y cloudstack*.rpm

[2021-04-19 09:54] benmcguire79 commented on #4931
Hi Dan

I have updated the initial report with the actual IPs. In addition here is the full cloud-init.log from the test VM. As stated, ssh keys with but password does not.

https://mega.nz/file/ArwlTY7Q#I0a7C30mXhf7YfSpAjG3IwmXX8VtRAfEN5LVzRcwPCk
Also here are the screenshots if they help.

![Screenshot 2021-04-19 at 10 43 43](https://user-images.githubusercontent.com/19871799/115217665-a4fac500-

[2021-04-19 09:59] benmcguire79 commented on #4931
from the screenshots above it appears the CentOS7 vm is trying to use the first address of the subnet ( 51.255.101.131 ) which Im unsure why it chooses that 131 address and not 129 which is the first usable IP in the subnet.

BUT, the cloudinit log says it is trying to use the 188.165.185.100 which is the VR. Im assuming it is becuase of the DNS entry in the VR for data-server.

Read from http://1

[2021-04-19 10:15] benmcguire79 commented on #4931
Just tested with Ubuntu 16.04 and it tries 51.255.101.129 which still fails.Unsure why the first one ( CentOS 7 ) uses 51.255.101.131 and Ubuntu tries 51.255.101.129 ???

![Screenshot 2021-04-19 at 11 14 29](https://user-images.githubusercontent.com/19871799/115220466-7af6d200-a100-11eb-93a9-f818c6c6669f.png)

[2021-04-19 11:14] davidjumani opened #4937 "Bug: Missing features in the new UI"
The new UI lacks the following features :
- Global Server Load Balancing Support (added warning in the doc notes)
- AutoScale (added warning in the doc notes)
- S3 as a secondary store (should be implemented)
- Override default traffic label for VMware with nexus / dvswitch when adding a cluster
- Cloudian - Support is added but does not show up as a plugin

[2021-04-19 12:18] Pearl1594 commented on #4932
@r9host I created a custom Unconstrained compute offering. During deployment of a VM, on choosing the custom compute offering I do see an input field for specifying the CPU Speed
![image](https://user-images.githubusercontent.com/10495417/115208416-29f3d780-a11a-11eb-9d9a-85f1432da3c5.png)
Please let us know if there's anything different to be done to reproduce the issue

[2021-04-20 01:12] ggsyu commented on #4935
centos arm64系统，rpmbuild cloudstack
yum localinstall -y cloudstack * .rpm

[2021-04-20 05:54] ggsyu commented on #4935
2021-04-20 13:45:07,019 DEBUG [c.c.d.DeploymentPlanningManagerImpl] (Work-Job-Executor-136:ctx-f4569da1 job-1728/job-66347 ctx-ce4e7acb) (logid:edd1fb7d) No suitable hosts found under this Cluster: 2
2021-04-20 13:45:07,021 DEBUG [c.c.d.DeploymentPlanningManagerImpl] (Work-Job-Executor-136:ctx-f4569da1 job-1728/job-66347 ctx-ce4e7acb) (logid:edd1fb7d) Could not find suitable Deployment Destination

[2021-04-20 11:17] rhtyd commented on #4906
Fixed in https://github.com/apache/cloudstack/pull/4927

[2021-04-20 11:17] #4906 closed

[2021-04-20 11:47] rhtyd commented on #4930
Fixed in https://github.com/apache/cloudstack/pull/4933

[2021-04-20 11:47] #4930 closed

[2021-04-20 18:48] andrijapanicsb opened #4939 "UI: Missing "Scale VM" on Running VM - when VM is marked as Dynamically Scalable"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

When template is marked as Dynamically scalable, VM deployed from this template, also inherits (by copy) this setting and is marked as Dynamically scalable (and global and zone-level setting enable.dynamic.scale.vm=true) -  but when VM is running, there is no button to scale the VM (it's there if the V

[2021-04-21 04:25] leolleeooleo commented on #3523
CLOUDSTACK VERSION 4.15
CentOS 7.9
ceph version 15.2.10

I'm try to add ceph as a primary storage.
Neither UI or API Failed to add data store: Failed to create storage pool as it is not accessible to hosts.

logs are:
[code]

[code]

what I was done:
1. add port number ":6789" after RADOS Monitor IP address. (https://github.com/apache/cloudstack/pull/4565)
2. regenerate ceph secret key until it do

[2021-04-21 07:18] rhtyd commented on #4911
Fixed in https://github.com/apache/cloudstack/pull/4918

[2021-04-21 07:18] #4911 closed

[2021-04-21 07:26] rhtyd commented on #4921
Thanks for confirming it was env/config issue, I'm closing the ticket on your remark @staySober - the manager was blocked because it couldn't decrypt some DB content which it logged as well.

[2021-04-21 07:26] #4921 closed

[2021-04-21 07:27] rhtyd commented on #4925
@derhecht which Linux distro and version is that? cc @davidjumani @shwstppr

[2021-04-21 07:27] rhtyd commented on #4928
cc @Spaceman1984

[2021-04-21 07:30] rhtyd commented on #4939
@utchoang can you investigate this against the legacy UI? (and if the button should be shown) Thanks. cc @davidjumani @shwstppr @Pearl1594 @Spaceman1984

[2021-04-21 07:31] derhecht commented on #4925
CentOS 7

[2021-04-21 08:20] leolleeooleo opened #4940 "noVNC unable to connect console while WEB browser language not English"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### OS / ENVIRONMENT
CentOS 7.9

##### SUMMARY
noVNC unable to connect console while WEB browser language not English

##### STEPS TO REPRODUCE
Here I found 2 ways to make noVNC works fine

1. Set English to first language in the WEB browser (Chrome).
[code]

2. Force noVNC language in English

[2021-04-21 08:22] rhtyd commented on #4940
@leolleeooleo I think this has been fixed in latest 4.15 branch, can you test latest 4.15 branch? cc @davidjumani @weizhouapache

[2021-04-21 08:28] leolleeooleo commented on #4940
Got it.
https://github.com/apache/cloudstack/pull/4833

[2021-04-21 10:49] shwstppr opened #4941 "vmware: configdrive ISO not attached to VM deployed with deployasis template"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When a VM is deployed with a **deployasis** template for L2 network with config drive, the configdrive ISO is not attached to the VM.
For VM with older/non-deployasis templates, configdrive ISO is found attached.

##### STEPS TO REPRODUCE

[2021-04-21 10:51] benmcguire79 commented on #4931
HI.

Is there any update on this. It would be great to get this fix included in the 4.15.1 release as it is now impossible to use multiple subnets in a shared network and have the password server working.

[2021-04-22 04:34] utchoang commented on #4939
@rhtyd @andrijapanicsb I checked with legacy UI then for hypervisor KVM it is not allowed to display the Scale VM button. Does this case have to show it for Dynamically scalable?
![image](https://user-images.githubusercontent.com/13766648/115655759-22bd0b80-a35e-11eb-8f3b-efcaf64aac07.png)

[2021-04-22 04:46] Pearl1594 commented on #4939
KVM doesn't seem to support scaling of a running VM. Fails when you attempt scaling via cmk:
[code]

[2021-04-22 07:55] rhtyd commented on #3523
@leolleeooleo this issue is closed - can you resubmit a new one? Looks like you've two issues, one related to DB (are you using v8.x mysql dependency or both 5.x and 8.x mysql java connector jars in the classpath). Based on the last comments, looks like you've found a workaround - can you test the latest 4.15 branch?

[2021-04-22 08:02] rhtyd commented on #4941
@nvazquez can you have a look at this? Related to deploy-as-is/vmware.

[2021-04-22 08:04] rhtyd commented on #4937
@davidjumani I think last two may be implemented, I'm not sure about the first two. Can you start a discussion thread on dev and users ML - to seek opinion from users, esp. if anyone is using those features with the legacy UI.

[2021-04-22 08:20] NuxRo opened #4943 "data-server breaks VM root password in multi-subnet flat network"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Basiz zone with multiple subnets/CIDR

##### OS / ENVIRONMENT

VMware 6.5 (limited access to environment, not "mine")

##### SUMMARY

The VM password feature of cloud-init Cloudstack datasource attempts retrieval of the password from "data-server" host if it resolves.
What happens

[2021-04-22 08:55] rhtyd commented on #4943
@NuxRo Basic zone with SG is not supported with VMware as you cannot implement host-based firewall (security groups). Only flat basic zone without SG is feasible with Vmware. Can you check with your user's env?

[2021-04-22 08:56] rhtyd commented on #4943
... meanwhile we'll see if we can replicate the issue with just basic zone (without SG) + vmware (and shared network + VMware on adv zone).

[2021-04-22 08:59] rhtyd commented on #4939
@andrijapanicsb pl check and close

[2021-04-22 08:59] #4940 closed

[2021-04-22 09:14] Spaceman1984 commented on #3939
I believe this is a non-issue as the behaviour of the VR is consistent with deploying any other VM in Cloudstack.

[2021-04-22 09:14] NuxRo commented on #4943
That is indeed true, sorry to mislead you, this is a flat network indeed, but the problems remains regardless.
I'll update the issue.

[2021-04-22 09:21] rhtyd commented on #4928
cc @weizhouapache - do you remember doing any testing around multi-management setup with Ubuntu 20.40 when we recently added support in Ubuntu 20.04 cc @shwstppr @davidjumani

[2021-04-22 09:21] rhtyd commented on #4925
@derhecht is this a containerised env, do you have `/bin/sh` as per the error in screenshot?

[2021-04-22 09:36] rhtyd commented on #4844
Ping @abhi005 @utchoang

[2021-04-22 09:53] weizhouapache commented on #4928
@mhoffmann21 what command did you execute ?
arguments of `cloudstack-setup-management` on additional mgt servers is different from first mgt server.

[2021-04-22 10:00] rhtyd commented on #4931
I'm tentatively assigning the 4.15.1.0 milestone (doesn't guarantee a fix will make into the release) for investigation.
cc @wido @GabrielBrascher @weizhouapache have you seen something in your SG-based environments?

[2021-04-22 10:01] rhtyd commented on #4470
Looks liked fixed in https://github.com/apache/cloudstack/pull/4748
@nvazquez can you check?

[2021-04-22 10:01] rhtyd commented on #3364
ping @PPisz cc @Spaceman1984 @shwstppr @Pearl1594

[2021-04-22 10:02] rhtyd commented on #3364
cc @svenvogel @utchoang can you test in the new UI?

[2021-04-22 10:03] andrijapanicsb commented on #4939
OK, I'm an idiot - I did a test on KVM, my apologies - on VMware env the button is there.

Sorry for wasting everyone's time 👎

[2021-04-22 10:03] #4939 closed

[2021-04-22 10:13] wido commented on #4931
We have a strict one-subnet-per-network policy on our advanced zones. Each VXLAN network has one IPv4 and one IPv6 subnet.

In the past we have seen too many issues with multiple subnets per network and therefor we chose to not implement this anymore.

[2021-04-22 10:18] benmcguire79 commented on #4931
Thank you @rhtyd @wido I guess we will await 4.15.1.0 and see if any changes inthat makes any difference. Should the issue still persist I guess we will go with @wido and use one subnet per network....a pain but if there's no other way :)  I was thinking it maybe a simialr issue to https://github.com/apache/cloudstack/issues/4865

[2021-04-22 10:19] weizhouapache commented on #4931
@rhtyd @wido
We have multiple subnets many years ago (cloudstack 2.2.14 ?), when we upgraded to a major version, we created separated shared network for each subnet. for now each shared network have only 1 subnet on our productions (same as pcextreme).

[2021-04-22 10:50] utchoang commented on #4844
@abhi005 Have you done it yet, If yes then can you put PR for us to consider?

[2021-04-22 11:35] derhecht commented on #4925
yes, I have /bin/sh in my default Cent OS 7 installation

[2021-04-22 11:35] derhecht commented on #4925
I just changed the key and setup script works like a charm

[2021-04-22 13:31] nvazquez commented on #4941
@rhtyd we've discussed this issue with @Pearl1594 and she'll provide a fix

[2021-04-22 13:57] mhoffmann21 commented on #4928
@weizhouapache thx for answering. I followed the documentation.
On the first management node, I executed the `cloudstack-setup-databases` command, with the credentials for the database and user,  the `--deploy-as` argument and at the end the management IP of the node itself.

As the documentation states, this is followed by the `cloudstack-setup-management` command. There are no arguments in the d

[2021-04-22 15:58] Spaceman1984 commented on #4928
I am able to reproduce this error, I get the same behaviour after adding the second management server.

[2021-04-22 16:11] Spaceman1984 commented on #4925
How do you mean @derhecht? Is this issue resolved then?

[2021-04-22 16:41] derhecht commented on #4925
no it is not resolved.
when i use a key within "&" (obviously) the script fails.
if not, script run successfully.

so, the content of the (secret) key affects the script called which should not.

[2021-04-22 17:31] rhtyd commented on #4925
@derhecht can you try the key string with ampersand with single quotes? The double quotes will cause the string to be evaluated, essentially it's a bash/shell thing than CloudStack issue.

[2021-04-22 17:35] nvazquez commented on #4470
Tested - fixed confirmed. Thanks @Pearl1594 @rhtyd

[2021-04-22 17:35] #4470 closed

[2021-04-23 07:03] weizhouapache commented on #4928
@mhoffmann21 @Spaceman1984
Is package `net-tools` installed on your management servers ?
if not, could you install it and retry ?

[2021-04-23 07:06] rhtyd commented on #3364
@PPisz I reviewed the ticket again, per your comment there are two accounts:
[code]

Since resources are owned by account, they are treated different entities/owners even if they may have the same user (physical person) who has LDAP access to both accounts. If my understanding is correct, this is by design and not a CloudStack bug.

[2021-04-23 07:07] rhtyd commented on #3364
@PPisz pl check and close the ticket, or help explain for further investigation. Thanks.

[2021-04-23 07:08] mhoffmann21 commented on #4928
@weizhouapache @Spaceman1984 I installed `net-tools` on both management servers and it seems to work now. Nice!
Thx.

What's the matter with the package? Is it possible to add this step to the documentation within the "Additional Management Server" part? That would be nice. :)

[2021-04-23 07:11] rhtyd commented on #4928
@mhoffmann21 I think we can add that as a debian depedency for the cloudstack-management pkg.

@Spaceman1984 can you propose a PR to add net-tools as dependency on cloudstack-management and test, thanks.

[2021-04-23 07:21] Spaceman1984 commented on #4928
Sure @rhtyd

[2021-04-23 07:34] rhtyd commented on #3939
cc @vladimirpetrov - what do you think based on Darrin's comment - should we close it?