[2021-10-08 06:14] sureshanaparti opened #5558 "The storage type and offering for the volume(s) remain the same, after migrating VM with volumes (in VMware) and doesn't match with the underlying storage pool."
[VMware] The storage type and offering for the volume(s) remain the same, after migrating VM with volumes (from Local to Shared storage or vice versa, in VMware) and doesn't match with the underlying storage pool.

##### ISSUE TYPE

 * Bug Report
 * Improvement Request

##### COMPONENT NAME

Volume

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Tested with CS + VMware 6.7 + Local Storage

[2021-10-08 06:24] sureshanaparti commented on #5407
Closing the issue, as the associated fix PR is merged.

[2021-10-08 06:24] #5407 closed

[2021-10-08 07:00] DaanHoogland commented on #4238
sounds like a bug to me. @nvazquez @GabrielBrascher @GutoVeronezi ?

[2021-10-08 09:08] DaanHoogland commented on #3221
@onitake I'll close this as it requires no further work. please reopne if you think closing is inappropriate.

[2021-10-08 09:37] DaanHoogland commented on #3652
@nvazquez do you dare to merge 5353 in before 4.16?

[2021-10-08 09:44] DaanHoogland commented on #3700
@borisroman @andrijapanicsb does it make sense to let the operator/user decide on the default usertemplate by prioviding a url and guestos type at install time? or through an API?

[2021-10-08 09:50] DaanHoogland commented on #3718
@RoMi1981 I'm closing the issue. please reopen if you feel this is wrong.

[2021-10-08 11:23] nvazquez commented on #3652
No @DaanHoogland, the PR has been recently fixed as there were many smoke tests failures so will need further review and tests

[2021-10-08 11:50] Hudratronium opened #5559 "Muliple alerts of monitoring service for the same check result"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

- Advanced networking
- custome offering for redundant VPC without services dns / dhcp / userdata

##### OS / ENVIRONMENT

- Ubuntu server 20.04

##### SUMMARY

multiple alerts are sended (up to 90 in my setup) each single time the monitoring service detects a missing service. All

[2021-10-08 14:48] KuasarCloud commented on #5553
@weizhouapache: find the info requested

The previous configuration was overwritten

* /var/log/cloudstack/agent/agent.log

2021-10-08 09:44:07,124 WARN  [resource.virtualnetwork.VirtualRoutingResource] (agentRequest-Handler-1:null) (logid:139f6f30) Expected 6 answers while executing IpAssocVpcCommand but received 2
2021-10-08 09:44:08,121 WARN  [resource.virtualnetwork.VirtualRoutingResource] (ag

[2021-10-10 00:22] #5558 closed

[2021-10-10 06:45] weizhouapache commented on #5553
@KuasarCloud
I think you are facing a corner case, please upload your logs for investigation.

[2021-10-10 22:35] Doni7722 commented on #3341
Hi @rhtyd & @DaanHoogland sorry for the (very) late response... I had a look at the deploy-as-is feature and I can tell you that it works!

However I would still like to discuss the current "solution" of this new features as it does not cover all issues:
1. with the deploy-as-is feature CloudStack does not respect the kind of the disks but creates all disks inside the OVA as root disks (root-123-0

[2021-10-11 07:49] rhtyd commented on #5548
@kohrar yes that might work, or even changing the default random string generator to generate first character as an alphabet than number.

[2021-10-11 09:25] andrijapanicsb commented on #3700
I don't think so @DaanHoogland  - the more "freedom" you give to the user, the more issues you might face.
We need to see what is the "newest" guest OS, supported by the OLDEST hypervisor we officially support in ACS - we can't use a newer OS than that (and we should not be using older, like the current one).
Remeber - this template is barely to validate/test basic ACS functionality and if the dep

[2021-10-11 09:27] andrijapanicsb commented on #3116
+1

[2021-10-11 10:11] rohityadavcloud opened #5563 "OpenJDK17 + new dependency migration"
OpenJDK 17 is the new LTS, CloudStack currently uses JDK11 whose support ends in about 2 yrs time.
https://endoflife.date/java

This is not an urgent task, nonetheless we need to upgrade JDK/JRE support to 17 in future; at least by end of 2022; along with major upgrade to some necessary dependencies to their latest major versions such as bouncycastle, spring, jetty, mysql-connector as well.

#####

[2021-10-11 10:48] rhtyd opened #5564 "Upgrade to 4.16.0.0-snapshot fails with MySQL 5.7 on Ubuntu 18.04"
I was trying to upgrade qa.cloudstack.cloud from 4.15.2.0 to 4.16.0.0-snapshot and hit this:

[code]

ALTER TABLE `cloud`.`ssh_keypairs` MODIFY COLUMN `uuid` varchar(40) NOT NULL UNIQUE;

##### ISSUE TYPE

 * Bug Report
 *
##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

[2021-10-11 11:24] weizhouapache opened #5566 "Failed to create kubernetes cluster on vmware"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

advanced zone

##### OS / ENVIRONMENT

vmware7
vmware 6.7

##### SUMMARY

Got exception when create kubernetes cluster on vmware7 and vmware 6.7
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

failed with exception

[code]

[2021-10-11 11:24] weizhouapache commented on #5566
@Pearl1594
can you please have look at this issue ?

cc @nvazquez

[2021-10-11 12:09] weizhouapache opened #5567 "Unable to specify IP on additional networks when deploy a vm"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

advanced zonee

##### OS / ENVIRONMENT

N/A

##### SUMMARY

see title

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]
![image](https://user-images.githubusercontent.com/57355700/136787549-d98dea15-13e0-4c7b-b409-5427282bdc51.

[2021-10-11 14:04] #5566 closed, assigned to nobody

[2021-10-11 16:56] KuasarCloud commented on #5553
Can I send them to an email or something? I don't want my internal config on public access.

[2021-10-11 17:26] weizhouapache commented on #5553
@KuasarCloud my email is weizhou<at>apache.org

[2021-10-12 06:27] weizhouapache opened #5570 "UI: "Token" and "Project Invitations" are shown if project.invite.required is false"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

see title

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]
![image](https://user-images.githubusercontent.com/57355700/136902694-952bd806-eefb-48f6-a0b5-69f38e39d21d.png)

PS: capabiliti

[2021-10-12 08:53] #5570 closed, assigned to nobody

[2021-10-12 09:08] Doni7722 commented on #3341
@DaanHoogland concerning point 1 - not sure if that's no problem as for example I'm also not able to re-install a VM. The message says that re-installing a VM from the template will only change the root disk but will not touch data disks. However in this case we have mulitple root disks. After trying to re-install the VM it just run into an error and the VM cannot be started.
Point 4: It was a Cen

[2021-10-12 20:46] weizhouapache commented on #5553
@KuasarCloud could you please send again to `weizhouapache AT gmail.com` ?

[2021-10-13 18:37] KuasarCloud opened #5576 "No vpcid on request from UI when creating a network on the "Guest network" menu"
ISSUE TYPE

Bug Report

COMPONENT NAME

User Interface (UI)

CLOUDSTACK VERSION

4.15.1.0

SUMMARY

When using the left menu "Guest network" to create a new VPC tier (DefaultIsolatedNetworkOfferingForVPCNetworks) generates error as no vpcid is passed to the API

STEPS TO REPRODUCE

- On UI Go to "Network/Guest network" Menu
- Clic on "Add Network"
- Fill the fields
- Select "DefaultIsolatedNetwork

[2021-10-14 04:51] rhtyd commented on #5553
@weizhouapache are you working on a fix, or should we document that LB is limited/supported for only 1 tier. cc @nvazquez @sureshanaparti

[2021-10-14 08:50] #5576 closed, assigned to nobody

[2021-10-14 08:59] yadvr opened #5578 "Read-only column of Secondary storage list view is misleading"
The read-only param key is false but it shows as following in the UI:
![Screenshot from 2021-10-14 14-28-01](https://user-images.githubusercontent.com/95203/137285456-e543ed4e-b2dd-4be5-8047-408320006773.png)

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

[2021-10-14 09:11] rhtyd commented on #5578
Ah great, closing then.

[2021-10-14 09:11] #5578 closed, assigned to Pearl1594, utchoang

[2021-10-14 09:36] weizhouapache commented on #5553
@rhtyd
it might be a limitation on netscaler.
if LB provider is VpcVirtualRouter,  I think we can support it on UI (it is already supported by api or cloudmonkey), I do not see any reason it is not supported.
if LB provider is netscaler, it will be same as before (multiple vpc tiers with LB is not supported). we do not change it

make sense ?

[2021-10-14 09:49] rhtyd commented on #5553
@weizhouapache that's not what I meant - if anyone can determine that this worked in an older version of ACS but doesn't work for 4.15/4.16/main - then it's a regression or bug; otherwise, it isn't a regression or a bug but a limitation which may be addressed in a future version of ACS.

[2021-10-15 08:36] edikevich opened #5581 "Can't specify cluster for VR with storage tags"
##### ISSUE TYPE
 * Bug Report

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
XCP-NG 8.2
Advanced Zone

##### OS / ENVIRONMENT
Oracle Linux 7.9 - Management server
XCP-NG 8.2 - hypervisor
2 Clusters with different SAN 1 Pod

##### SUMMARY
Can't specify cluster for VR with storage tags.
When create new System Offering For Software Router and use storage tags VRs ignore it and start on cluste

[2021-10-17 01:25] #5553 closed

[2021-10-19 02:41] nxsbi commented on #4612
Writing this as an update as I wen through a Console SSL certificate update on CloudStack 4.15. In general do the steps listed at http://docs.cloudstack.apache.org/en/latest/adminguide/systemvm.html#changing-the-console-proxy-ssl-certificate-and-domain. Once you get the certificate issued, in my case, when I downloaded the certificate, it downloaded 3 files.
One was named same as my domain - this

[2021-10-19 12:07] dredknight opened #5587 "Usage server is not collecting data"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Usage server is active since 04.2021 but from the database it can be seen in cloud_usage table that there is data only for the period between 2021-04-22 23:59:59 and 2021-05-19 23:59:59  and nothing since.

/var/log/cloudstack/usage.

[2021-10-19 12:24] weizhouapache commented on #5587
@dredknight
could you please check database if account id=29 is removed ?

[2021-10-19 14:51] #5587 closed, assigned to nobody

[2021-10-19 18:45] adrianopaterlini opened #5589 "VPC effective public source ip address changes"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION
Advanced Zone

##### OS / ENVIRONMENT
ACS - Centos 8
Hypervisor - VMware 7.0.1.0

##### SUMMARY
When one network that belongs to a VPC goes down (shutdown), effective public src ip address changes (source-nat) to a different allocated ip address. Workaround: Reboot Virtual Router.

#

[2021-10-19 20:28] weizhouapache commented on #5589
might be fixed by #5532

[2021-10-20 07:48] shunyong opened #5590 "DB Exception on: com.mysql.cj.jdbc.ClientPreparedStatement"
##### ISSUE TYPE

 Bug Report

##### CLOUDSTACK VERSION

[code]

##### OS / ENVIRONMENT

[code]

#####SUMMARY
DB Exception on: com.mysql.cj.jdbc.ClientPreparedStatement: SELECT template_store_ref.id, template_store_ref.store_id, template_store_ref.template_id, template_store_ref.store_role, template_store_ref.created, template_store_ref.last_updated, template_store_ref.download_pct, template_store

[2021-10-20 08:08] borisstoyanov opened #5591 "UI - As User - Register/Upload a Template/ISO - Form should not have the Featured field available"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

'Featured' checkbox shouldn't be available to User role. Either selecting it or not entity gets registered with Featured:false, so it is just a display issue.

[2021-10-20 08:37] borisstoyanov opened #5592 "UI - as User - Project Limits is visible"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

In the old UI, a user was not able to see the limits per project although this data is available in the API:
[code]
Due to feature parity with this I suggest we introduce this change in the new ui as well, open for discussion.

[2021-10-20 12:26] adrianopaterlini opened #5595 "IdP list on Single Sign-On Login Page"
##### ISSUE TYPE
 *  Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION
SAML is enabled

##### OS / ENVIRONMENT
ACS - Centos 7.9

##### SUMMARY
Login page Single Sign-On tab shows IdPs in non alphabetical order and it's not possible to type (search). Note: This was legacy UI behaviour.

##### STEPS TO REPRODUCE
1. Configure SAML with multiple I

[2021-10-20 12:38] borisstoyanov opened #5596 "UI - As User - Broadcast URI column available to user, but blank"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

As User, at the networks page the table contains Broadcast URI field, but the user does not have access to the values through API. It would be good if the UI would crop the columns when that are not available/have values. Open for discussions.

[2021-10-21 07:41] rhtyd commented on #5596
Since this is good to have, not exposing any data - moved to 4.16.1.0. Generally it's a good idea that except root-admin users aren't aware of their vlans, I'm not sure about other isolation methods. Maybe for some non-VLAN isolation method, exposing broadcase URI makes sense. This can be checked what we set/return in API at the backend, and if we don't for any case then simply hide/remove the col

[2021-10-21 11:24] halloesnithx opened #5600 "UI to switch between pages does not work while adding VM to Port Forwarding rule."
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

4.15.2
[code]

##### CONFIGURATION

Advanced Networking

##### OS / ENVIRONMENT

Centos 7.9 with KVM host

##### SUMMARY

This is a extremly minor issue that I am facing. UI to switch between pages does not work while adding VM to Port Forwarding rule while th
![cloudstack](https://user-images.githubuserconten

[2021-10-21 13:20] sureshanaparti opened #5603 "[UI] Auto-complete not working for OS type when Creating a template from volume snapshot, and on template selection in Reinstall VM"
[UI] Auto-complete not working for OS type when creating a template from volume snapshot, and on template selection in Reinstall VM.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Auto-complete is not working when OS type parameter is selected from the list, while creating templ

[2021-10-21 13:29] Opposite-clock opened #5604 "Cloudstack 4.15.1 unable to adding host"
##### ISSUE TYPEt
 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OS / ENVIRONMENT
Centos7, KVM, NFS

##### SUMMARY

As  adding host, ,No response from the MS Server.  Here is ms log.
![企业微信截图_16348220452669](https://user-images.githubusercontent.com/53133870/138285011-e8eaed4f-6e2f-45ed-82e4-4c9b06b3af9d.png)
Here is agent‘s

[2021-10-21 14:05] sureshanaparti opened #5605 "Port forwarding rule creation from UI, allows multiple VM selection and lists all selected VM IPs."
Port forwarding rule creation from UI, allows multiple VM selection and lists all selected VM IPs.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced network

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Port forwarding rule creation from UI, allows multiple VM selection and lists all selected VM IPs, and when any other VM

[2021-10-21 15:15] #5592 closed, assigned to nobody

[2021-10-21 15:34] nvazquez opened #5606 "List projects API displaying limits for users"
For users, the API response of the `listProjects` API includes the project limits even though the UI does not display the project limits.

##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
Projects

##### OS / ENVIRONMENT
N/A

##### SUMMARY
We may want to remove the project limits for users on the list projects API response.

[2021-10-21 15:36] nvazquez commented on #5592
@Pearl1594 @weizhouapache I have created the issue: https://github.com/apache/cloudstack/issues/5606

[2021-10-22 05:42] #5590 closed, assigned to nobody

[2021-10-22 05:47] #5603 closed, assigned to nobody

[2021-10-22 11:35] MejdiB opened #5610 "UI: Adding LDAP documentation report and Removing LDAP Exception"
##### ISSUE TYPE
 * Bug Report
 * Documentation Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
A Cloudstack 4.15.2 environemnt is used and a separately installed LDAP server.

##### SUMMARY
- On the Cloudstack documentation, it seems like the only way to add an LDAP configuration can be done with cloudmonkey, what about using the UI?
- On the UI, after ad

[2021-10-22 11:49] sureshanaparti opened #5611 "[UI] Duplicate 'OK' / 'Cancel' buttons in most of the Network Service Providers forms"
[UI] Duplicate confirmation ('OK') and cancellation ('Cancel') buttons in most of the Network Service Providers forms.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Duplicate confirmation ('OK') and cancellation ('Cancel') buttons seen in the UI forms of most of the Network Ser

[2021-10-22 11:56] #5605 closed, assigned to Pearl1594, utchoang

[2021-10-22 11:59] #5600 closed, assigned to utchoang

[2021-10-22 13:02] #5611 closed, assigned to nobody

[2021-10-22 13:41] vladimirpetrov opened #5613 "The 'Add primary storage' dialog has a duplicated 'Provider' drop-down selector"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The 'Add primary storage' dialog has a duplicated 'Provider' drop-down selector.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]
![image](https://user-images.githubusercontent.com/12384

[2021-10-22 15:33] weizhouapache opened #5615 "Restart a vpc tier with cleanup should not cleanup the whole VPC"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

advanced networking

##### OS / ENVIRONMENT

kvm

##### SUMMARY

ideally restart a vpc network will remove the guest nic and replug it in VPC VR.
but actually VPC VR is destroyed and a new VPC VR is created.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### A

[2021-10-22 19:59] GabrielBrascher opened #5616 "Assign VM to other user changes the VM IPv6 address"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

- KVM
- Advanced Networking
- Security groups enabled
- Shared network with IPv6 address

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When assigning a VM to another user the VM's IPv6 address changed, even when staying in the same network. This leads to undesirable changes for the

[2021-10-23 04:18] #5613 closed, assigned to nobody

[2021-10-24 11:51] rohityadavcloud opened #5617 "Possible upgrade issue when rules exist"
Upgrade to 4.16 may fail if someone has added rules for annotation APIs for user role:

[code]

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

[2021-10-24 14:57] adrianopaterlini opened #5618 "Switching between domains with SAML user"
##### ISSUE TYPE
 *  Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION
SAML is enabled

##### OS / ENVIRONMENT
Using online environment http://primate-qa.cloudstack.cloud:8080/client/

##### SUMMARY
When a SAML user exists in more than one account, it is possible to switch from one domain to another, but the lateral menu is loaded based only on the fir

[2021-10-25 08:47] PaulAngus opened #5622 "Add Footer text option for login screen"
##### ISSUE TYPE

 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

NA

##### OS / ENVIRONMENT

NA
##### SUMMARY

The ability to add text (usually help related) on the login screen would be very useful.
By adding a Login Screen Footer Text (HTML) option would for instance point users where to get login help.
Or show a usage policy.

#####

[2021-10-25 13:00] PaulAngus opened #5623 "Console Access requires updateVirtualMachine API privileges"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

A role which does not allow the updateVirtualMachine API

##### OS / ENVIRONMENT

##### SUMMARY

The console proxy icon is only available when the user has updateVirtualMachine API permission.

https://github.com/apache/cloudstack/blob/75b335e9394c1f593cde9c3dab208eb628789637/ui/sr

[2021-10-26 08:20] weizhouapache opened #5627 "Regular user can create isolated networks without Source Nat"
According to code, Regular user can create Guest Isolated Source Nat enabled network only

https://github.com/apache/cloudstack/blob/4.16.0.0-RC20211025T0851/server/src/main/java/com/cloud/network/NetworkServiceImpl.java#L1363-L1369

[code]

However regular user can still create Isolated networks without source nat.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK V

[2021-10-26 14:50] msinhore opened #5631 "Instance isn't detroyed by root and domain admin after be destroyed by a regular user account"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

- Create a domain
- In the same domain, create a  domain admin account and a regular user account

##### OS / ENVIRONMENT

Management server and mysql in the same CentOS 7 OS

##### SUMMARY

When a domain admin or root admin account try to destroy an instance, with purge option, de

[2021-10-26 18:01] aditya-dixit1 opened #5632 "API Destination in CloudFormation template not supported"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
API

##### CLOUDSTACK VERSION
0.12.19.1

##### CONFIGURATION
Docker-compose.yml:

`version: "3.8"

services:
  localstack:
    container_name: "${LOCALSTACK_DOCKER_NAME-localstack_main}"
    image: localstack/localstack
    network_mode: bridge
    ports:
      - "127.0.0.1:53:53"                # only required for Pro
      - "127.0.0.1:53:53/u

[2021-10-27 10:28] #5632 closed, assigned to nobody

[2021-10-27 13:22] rohityadavcloud opened #5634 "Due to Letsencrypt CA cert change, many https:// template url may not work with 4.16 systemvmtemplate"
The ca-certificates and ca-certificates-java pkg in systemvmtemplate for 4.16.1 may need to be updated (checked doesn't seem there's new release for Debian bullseye/11).

Due to Letsencrypt CA cert change, many https:// template url may not work with 4.16 systemvmtemplate
Alternatively, the cert may need to be manually installed/bundled when creating the systemvmtemplate.

##### ISSUE TYPE

 * Bug

[2021-10-28 14:19] DaanHoogland opened #5636 "in basic zone the security group choosen during deployVM is not honoured"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

basic zone

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

in basic zone, create a secondary security group. On deploying a VM choose this new security group. after deploy check the vm's security groups tab

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RES

[2021-10-28 20:21] #5616 closed, assigned to GabrielBrascher

[2021-10-29 03:33] div8cn opened #5637 "[ui] restorevm does not show password"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

cloudstack: 4.15.2.0
Compiled against library: libvirt 6.0.0
Using library: libvirt 6.0.0
Using API: QEMU 6.0.0
Running hypervisor: QEMU 4.2.1

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-10-29 08:39] weizhouapache opened #5639 "[UI] feature request: deploy vm with param from previous page"
Examples:

Select a network -> "View Instances" -> "Add Instance' , the network is selected by default.
Select a Template -> "View Instances" -> "Add Instance' , the template is selected by default.

##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

[2021-10-29 10:45] weizhouapache opened #5640 "NPE while deploy vm on a IPv6-only shared network"
Got a NPE
[code]

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

advanced zone

##### OS / ENVIRONMENT

Mgmt server: Ubuntu 20.04
Hypervisor: Ubuntu 20.04

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-10-29 13:22] shwstppr opened #5641 "cks: cluster deployment fails for an upgraded env with auto-registered system vm template"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

4.14.1 to 4.16RC2 env
Advanced zone
3x ESXi 6.7 hosts
3x primary storages

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Error while deploying CKS cluster

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

Deployment fails with error:
[code]

[2021-10-29 16:57] #5637 closed, assigned to nobody

[2021-10-30 12:13] PaulAngus commented on #5622
As one can use inline HTML to format the footer text in the main UI through the config.json file. ie

`  "footer": "<span style='color:red'><b>IMPORTANT TEXT</b></span></br>Other text",`

Then I'd think that doing the same on the login page would give as much flexibility as anyone would need. so only one 'placeholder' would do it.

People might not realize that this can be done in the main UI.  I'

[2021-10-30 19:17] PaulAngus commented on #5623
@rhtyd - I can see that @davidjumani raised the same point as I have just made, and it looks like it was ignored.

This element of the 'security fix' actually makes the VM less secure because a user has to be granted permission to make wide-ranging changes to the VM,  just so they can access the console of a VM that they use.

[2021-11-01 10:10] DaanHoogland commented on #5622
no , i didn't. thanks @PaulAngus

[2021-11-01 19:37] SadiJr commented on #5623
@rhtyd - Sorry for the delay in answer.

I agree with @PaulAngus, don't make much sense to me block the console access only to users with permission to updateVirtualMachine API. If the users can list the VMs, why not allow they to access the console?

[2021-11-02 03:24] div8cn opened #5651 "Repeated deletion to add the same network to the vm error"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-11-02 04:49] rohityadavcloud opened #5652 "On logout purge async job list in UI"
Create a long runningasync job from UI and then log out, upon logout errors are thrown as async jobs can't run anymore. The task is to clear and remove async job uuid list when a user logs out.

##### ISSUE TYPE

 * Bug Report
 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[2021-11-02 08:52] weizhouapache commented on #5651
@nvazquez @DaanHoogland
this sounds like a blocker issue.

[2021-11-02 09:17] DaanHoogland commented on #5651
sounds so @weizhouapache ,

1. is this new? and
2. is there a workaround?

ad 1. I had a quick look at the stacktrace and the code and can't find a change related but it might well be new, I don't see it yet.
ad 2. a workaround would involve editing a worker table which is even worse that 'just' touching the database so I'd say let's keep clear of that and try to fix.

[2021-11-02 09:21] weizhouapache commented on #5651
seems to be caused by #5541

constraint key `vm_work_job_step_and_objects` is defined in #5541

[2021-11-02 09:53] DaanHoogland commented on #5651
that PR was added in 4.16 so that would mean it is not the cause of the failure in 4.15 @weizhouapache .

[2021-11-02 10:31] weizhouapache commented on #5651
@DaanHoogland I think this issue does not exist in 4.15.
@div8cn can you please confirm ?

[2021-11-02 10:32] DaanHoogland commented on #5651
@div8cn @weizhouapache I just confirmed it doesn't exist in 4.15 , just in 4.16

[2021-11-02 11:49] #5641 closed

[2021-11-02 12:00] DaanHoogland opened #5654 "migrateSecondaryStorageData returns success on failure"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

when migrating data away from a secondary storage success is reported even when not all templates, snapshots and volumes have been migrated away.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-11-02 12:06] DaanHoogland opened #5655 "migrateSecondaryStorageData uses virtual size instead of size on disk"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

when migrating data from one image store to another the calulation for enough capacity uses the virtual size of the template instead of the footprint on disk to see if migration is possible.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RE

[2021-11-02 12:13] DaanHoogland opened #5656 "migrateSecondaryStorageData won't mark templates as destroyed in template_store_ref"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-11-02 22:03] msinhore commented on #5631
Tried with 4.16 and the purge works. I'm going to close this issue since it was fixed in 4.16.

[2021-11-02 22:04] #5631 closed

[2021-11-03 03:01] div8cn commented on #5651
Sorry, I manually merged this PR into 4.15, so I tested this BUG
This problem does not exist in 4.15, thank you

@weizhouapache @DaanHoogland

[2021-11-03 07:18] poonam-agarwal28 opened #5660 "CEPH Deployments for large VM images failing due to high image conversion time and job timeout"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-11-03 07:34] slavkap commented on #5512
@weizhouapache, it will be great if this limitation is removed. There is the same case when we migrate a volume to a different storage pool, which I guess according to the comments is needed only for VMware

[2021-11-03 14:38] weizhouapache opened #5662 "Usage: Duplicated VMSnapshot usage record"
When list usagerecords with type=25 (vm snapshot), got duplicated usage record

[code]

in /var/log/cloudstack/usage/usage.log, it also shows usage records are created twice.

[code]

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

CloudStack usage server generated duplicated usag

[2021-11-03 14:41] weizhouapache commented on #5662
this issue seems to be caused by

https://github.com/apache/cloudstack/blob/4.16.0.0-RC20211025T0851/usage/src/main/java/com/cloud/usage/parser/VMSnapshotUsageParser.java#L98-L119

[2021-11-03 14:42] weizhouapache commented on #5662
By the way, what's the difference between  (1) vm snapshot and (2) vm snapshot on primary ?

[2021-11-04 14:50] #5651 closed

[2021-11-05 09:06] weizhouapache opened #5666 "Usage: Internal DB reference in description of VM snapshot on primary"
see cmk results below

[code]

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-11-05 09:06] weizhouapache commented on #5666
If possible, please also check the description of all other usage types !

[2021-11-05 13:24] rhtyd commented on #3990
@zhao21943266 4.16 RC3 pkgs are here if you want to help test: http://download.cloudstack.org/arm64/4.16/

[2021-11-05 13:24] rhtyd commented on #4935
@ggsyu can you try testing using 4.16 RC3 pkgs here: http://download.cloudstack.org/arm64/4.16/

[2021-11-05 18:31] weizhouapache opened #5667 "KVM: No network throttling on additional VM NICs"
When create a vm with 1 NIC. it has network bandwidth setting.

[code]

however, when add vm to another network, the new NIC does not have bandwidth setting.

[code]

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

advanced zone

##### OS / ENVIRONMENT

KVM

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2021-11-08 09:05] weizhouapache opened #5669 "VMware: Migrate VR with additional Public IPs failed"
Steps to reproduce the issue

(1) create 2 public Ip ranges
(2) create an isolated network, and a vm
(3) acquire a public IP in new ip range (not same as Source NAT), create port forwarding rules to the vm. VR will have two public NICs (source NAT IP, and new public IP).
[code]

(4) choose a destination host, remove the port group `cloud.public.670.200.1-vSwitch1` on it (this normally happens on v

[2021-11-08 21:11] tetra12 commented on #5497
Having the same issue on Ubuntu 20.04.3
setup
[code]
I simply don't have that path at all!
[code]

[2021-11-10 12:02] msinhore opened #5676 "Domain Admin can't configure Limits for a regular User Account in the same domain"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When a domain admin try to set limits for a regular user account in the same domain level, the tab Configure Limits is not shown.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-11-10 12:42] weizhouapache commented on #5676
@msinhore
thanks for creating the issue.
I would regard it as a feature request than bug report.

[2021-11-10 12:51] msinhore commented on #5676
@weizhouapache
In previous relases it was working. I think something broke in 4.16.

[2021-11-11 07:21] rp- opened #5677 "Better error while adding a new host"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION
Any

##### OS / ENVIRONMENT
N/A

##### SUMMARY
If adding a new host fails, it will just show "Unable to add host", even checking the management server logs don't give a better info
on why adding the host failed.

##### STEPS TO REPRODUCE
Setup a managment server and e.g. ad

[2021-11-11 10:17] fengdoudm opened #5678 "Can not copy template between two Basic zones with the cloudstack4.15.1"
**Version: cloudstack4.15.1
System: Centos7.9**

There were two basic zones named 'stage' and 'qa.
The network for 'stage': 172.16.116.0/24
The network for 'qa': 172.16.126.0/24
I can not copy template from 'stage' to 'qa'
There was some error with '**HTTP Server returned 403 (expected 200 OK)**'
I have no idea to solve it, the following were some information.

![image](https://user-images.githubu

[2021-11-11 10:50] weizhouapache commented on #5676
@msinhore got it. if so, it is a bug.

[2021-11-12 09:32] fengdoudm commented on #5678
I found there was a IP limit .
![image](https://user-images.githubusercontent.com/8956444/141444461-f0b36513-18ac-47f0-b21f-e06595e95348.png)

[2021-11-13 19:18] ngrosc opened #5685 "duplicate entry in guest_os when upgrading from 4.14 to 4.15"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

- existing entry in guest_os with id 305
- upgrading vom 4.14.1 to 4.15.2

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When upgrading from 4.14.1 to 4.15.2 and from whatever reason a entry with id 305 in guest os exist, the db schema upgrading script fails

##### STEPS TO REPRODUCE

[2021-11-15 08:17] ngrosc opened #5686 "Improvement: Filesystem permission check"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT
Cloudstack running on linux systems

##### SUMMARY
Check filesystem permission before upgrading systemvms

##### STEPS TO REPRODUCE

Currently, when issuing the cloudstack-sysvmadm script for upgrading the systemvms (or doing it manually), the pro

[2021-11-15 10:28] rhtyd commented on #5623
I'm fine with whatever the consensus is :)

@PaulAngus - this was originally your issue, during primate SIG a lot of things were discussed over call which I used to collect and log. As I recall your idea was to consider the update API instead of start/stop API such that any role that can update a VM via should be allowed to see the console to make changes in a VM. Before David's fix (https://githu

[2021-11-16 11:32] edikevich opened #5688 "Can't create multiple port forwarding rules at once"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
XCP-NG 8.2
Advanced Zone

##### OS / ENVIRONMENT
Oracle Linux 8.4 - Management server, MYSQL 8.0.26
XCP-NG 8.2 - hypervisor

##### SUMMARY
Can't add multiple port forwarding rules at once for 1 VM

##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[cod

[2021-11-16 12:16] weizhouapache commented on #5688
@edikevich
do you use vpc or isolated network ?
can you share some error logs ?

[2021-11-16 12:42] edikevich commented on #5688
Hi.
Have same problem with VPC and Isolated networks. After I add first rule I can't push "OK" button when create second rule.
I don't have any errors in management server logs.

[2021-11-16 12:52] weizhouapache commented on #5688
@edikevich
I see, thanks. It seems to be a UI bug.
If you refresh the page, you should be able to add port forwarding rule.

[2021-11-16 12:57] edikevich commented on #5688
Thx. Yes I found how to avoid it but when U create  more than 5 rules is realy annoyed:(

[2021-11-17 04:51] Pearl1594 opened #5691 "UI: Issue with Add Network to VM"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When adding a NIC to a VM fails and a user re-attempts to add a NIC, the form appears to have the previously selected network. However, on submitting the form, the first network from the list of available networks is automatically selected, ra

[2021-11-17 15:57] edikevich opened #5694 "Can't change Setting on VM with Custom Unconstrained Compute Offering"
##### ISSUE TYPE
 * Bug Report

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
XCP-NG 8.2
Advanced Zone

##### OS / ENVIRONMENT
Oracle Linux 8.4 - Management server, MYSQL 8.0.26
XCP-NG 8.2 - hypervisor

##### SUMMARY
Can't change Setting on VM with Custom Unconstrained Compute Offering

##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]
![image](https

[2021-11-17 15:59] edikevich commented on #5694
ERROR log:

2021-11-17 18:57:56,757 ERROR [c.c.a.ApiServer] (qtp239372207-24325:ctx-db2e8cf1 ctx-ecd4e31b) (logid:69235cf3) unhandled exception executing api command: [Ljava.lang.String;@2fa01244
com.cloud.utils.exception.CloudRuntimeException: Failed to update VM, due to: Invalid cpu speed value, specify a value between 1 and 2147483647
        at org.apache.cloudstack.api.command.user.vm.UpdateV

[2021-11-17 16:13] edikevich opened #5695 "cpu.corespersocket don't work"
##### ISSUE TYPE
 * Bug Report

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
XCP-NG 8.2
Advanced Zone

##### OS / ENVIRONMENT
Oracle Linux 8.4 - Management server, MYSQL 8.0.26
XCP-NG 8.2 - hypervisor

##### SUMMARY
cpu.corespersocket don't work

##### STEPS TO REPRODUCE
[code]
![image](https://user-images.githubusercontent.com/42668237/142237236-2432acb9-3b4a-4d75-b570-fe2a409fb236.png)

[2021-11-17 17:54] adrianopaterlini commented on #5589
We tested backporting 4.15.2 with PR #5532. Its working fine.

[2021-11-17 17:54] #5589 closed

[2021-11-18 00:22] alexandru-bagu opened #5696 "Uploaded volumes use the first custom disk offering"
In a multi-zone setup where the zones are configured to use different storage types (shared vs local) the uploaded volume will not have assigned the first Custom disk offering available without considering zone.

Even if the zones in the setup use the same kind of storage only the disk offerings available for the selected zone in the upload form should be considered.

In my case my first zone is u

[2021-11-18 00:42] alexandru-bagu opened #5697 "Storage bandwidth is wasted during template uploads/imports"
At the moment when a template is being imported (via url or upload) there is a phase called "Installing template" or something similar. From what I noticed this phase calculates a hash and saves it to the database by reading the downloaded file over the storage network.
During this phase the template is not usable and I believe that should not be the case. I understand that the hash has a purpose

[2021-11-18 07:14] edikevich opened #5698 "Hide shrink disk option on XCP-NG/Xenserver"
##### ISSUE TYPE
 * Bug Report?

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
XCP-NG 8.2
Advanced Zone
PreSetup iscsi storage

##### OS / ENVIRONMENT
Oracle Linux 8.4 - Management server, MYSQL 8.0.26
XCP-NG 8.2 - hypervisor

##### SUMMARY
Shrink disk don't work on XCP-NG/Xenserver. Maybe better to hide this option?

##### STEPS TO REPRODUCE
[code]

##### EXPEC

[2021-11-18 08:12] rhtyd commented on #5691
Fixed in https://github.com/apache/cloudstack/pull/5693

[2021-11-18 08:12] #5691 closed

[2021-11-18 08:16] rhtyd commented on #5669
Fixed by https://github.com/apache/cloudstack/pull/5670

[2021-11-18 08:16] #5669 closed

[2021-11-18 08:24] rhtyd commented on #5640
Partially fixed in https://github.com/apache/cloudstack/pull/5648

[2021-11-18 08:36] #4798 closed

[2021-11-18 18:51] alexandru-bagu commented on #3853
This is still happening every once in a while when creating system vms (console or storage). Hypervisor Xcp-ng 8.20, CS 4.16.0.

[2021-11-19 07:06] rhtyd commented on #3853
Hi @alexandru-bagu is this a test env running in a nested env (for ex. running xcp/xenserver as VMs on some other hypervisor?). You can try tuning (increasing) the ping.interval and ping.timeout	global settings.

[2021-11-19 14:41] alexandru-bagu commented on #3853
Not a test environment, it's my company's live environment, nothing nested. As for the ping interval/timeout I don't believe that will help because what usually happens is it tries for 100 times to connect to the agent (in management logs I see something like "attempt x of 100 to connect failed" as well as the logs you presented in the initial post). After the 100 attempts fail (takes up to 10 min

[2021-11-23 04:51] lijinlongpq opened #5705 "UI: 4.16 cannot set correct traffic label"
I installed cloudstack on Ubuntu 20.04 from DEB package repository. Tried to add a new zone, but somehow failed to set traffic label correctly with both basic network and advanced network.

In my env, I got two networks, cloudbr0 & cloudbr1. When I set management network with label cloudbr0. The Guest network been setted with label cloudbr0 too. Same way, I set Guest network with lable cloudbr1, t

[2021-11-23 06:27] utchoang commented on #5705
@lijinlongpq Do you mean that when you did set a label for a network with name "cloudbr0" and then done with the next network, it shows "cloudbr0" in the input label for it right?

[2021-11-23 08:10] shwstppr opened #5706 "vmware: on dynamic scaling a VM incorrect CPU reservation is set"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

4.16.0 Advanced zone; single VMware cluster with 2x ESXi 6.5 hosts

##### OS / ENVIRONMENT

Any

##### SUMMARY

Incorrect value of CPU reservation is set when a VM is dynamically scaled for a new offering.
This creates issue on subsequent VM scaling with vCenter giving error like,

[2021-11-23 08:33] edikevich opened #5707 "Can't paste any value in Get Diagnostics Data"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
XCP-NG 8.2
Advanced Zone

##### OS / ENVIRONMENT
Oracle Linux 8.4 - Management server, MYSQL 8.0.26
XCP-NG 8.2 - hypervisor

##### SUMMARY
Can't paste any value in Get Diagnostics Data:
![image](https://user-images.githubusercontent.com/42668237/142991251-8e365f79-efc9-4781-9d5d-38097f

[2021-11-23 08:44] edikevich opened #5709 "Error message after delete domain"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
XCP-NG 8.2
Advanced Zone

##### OS / ENVIRONMENT
Oracle Linux 8.4 - Management server, MYSQL 8.0.26
XCP-NG 8.2 - hypervisor

##### SUMMARY
Error message after delete domain but it was deleted:

![image](https://user-images.githubusercontent.com/42668237/142993177-e1815200-4859-4106-860

[2021-11-23 10:20] edikevich opened #5711 "Error while create VPN user for another account"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
XCP-NG 8.2
Advanced Zone

##### OS / ENVIRONMENT
Oracle Linux 8.4 - Management server, MYSQL 8.0.26
XCP-NG 8.2 - hypervisor

##### SUMMARY
Error while create VPN user for another account:

![image](https://user-images.githubusercontent.com/42668237/143004325-5c0213a4-3f57-4bd3-b6db-a74

[2021-11-23 12:45] correajl opened #5712 "Problem enabling LDAPS."
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Using many domains.
Trying to use LDAP server with TLS.
All certificates generated and tested.
Keystore configured and tested.

##### OS / ENVIRONMENT

Ubuntu Server 20.04.3 LTS.
KVM.
cloudstack-management                4.15.2.0~focal

##### SUMMARY

Need to communicate management

[2021-11-24 02:53] lijinlongpq commented on #5705
@utchoang Not only confusing, the fact is when I set a label with name "cloudbr0", the next network it shows "cloudbr0". And If I edit the second one with name "cloudbr1". Then I go back to check, the first one also shows name "cloudbr1". It looks like overwrite the first network setting which is not correct.

[2021-11-24 08:09] edikevich opened #5715 "Can't chose VM for static NAT because only one page in VM chose dialog is presented."
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
XCP-NG 8.2
Advanced Zone

##### OS / ENVIRONMENT
Oracle Linux 8.4 - Management server, MYSQL 8.0.26
XCP-NG 8.2 - hypervisor

##### SUMMARY
Can't chose VM for static NAT because only one page in VM chose dialog is presented. I think this problem is actual for other VM chose dialog.

###

[2021-11-24 11:33] #3116 closed

[2021-11-24 11:40] rohityadavcloud opened #5716 "Isolated Network VR with Vmxnet3 fails deployment when router.extra.public.nics is not 0"
With 4.16.0.0 release, if a VMware environment uses Vmxnet3 as the router nic controller then the isolated network VR deployment fails when router.extra.public.nics is not 0. However, VPC VR works in either case.

The workaround with 4.16.0.0 is to either use (a) E1000 nic controller, or (b) use Vmxnet3 controller with the router.extra.public.nics set to 0 if the IaaS env has all public IP ranges

[2021-11-24 11:41] rhtyd commented on #3116
Related: https://github.com/apache/cloudstack/issues/5716, closing this.

[2021-11-24 20:03] PeterS-gd opened #5717 "Libvirt exception on live migrate"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced Networking

##### OS / ENVIRONMENT

Ubuntu 20.04, KVM hypervisor

##### SUMMARY

I am unable to live migrate any of my VMs.
This issue seems relevant (https://issues.apache.org/jira/browse/CLOUDSTACK-7743), but there is no solution listed.

Original email thread: https://l

[2021-11-25 06:20] edikevich opened #5718 "Can't create S3 Secondary Storage in created zone"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
XCP-NG 8.2
Advanced Zone

##### OS / ENVIRONMENT
Oracle Linux 8.4 - Management server, MYSQL 8.0.26
XCP-NG 8.2 - hypervisor

##### SUMMARY
Can't create S3 Secondary Storage after create zone. While U create zone S3 SS is presented
![image](https://user-images.githubusercontent.com/4266

[2021-11-25 21:30] alexandru-bagu opened #5719 "Cannot scale VM with deleted template"
CS version 4.16.0

Error occurs here:
[code]

[2021-11-26 05:36] sureshanaparti commented on #5719
Hi @alexandru-bagu Are you able to delete the template when a VM exists / using that template?

[2021-11-26 06:08] harikrishna-patnala commented on #5719
There is force delete option for templates @sureshanaparti. This looks like a genuine issue I could reproduce it.

[2021-11-26 14:08] kricud opened #5724 "Regular domain admin account cannot change nicAdapter “Request Failed (431)”"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Regular domain admin account cannot change nicAdapter “Request Failed (431)” in new UI in OLD it works.
![acs_nic](https://user-images.githubusercontent.com/30048481/143592942-5635862e-7976-4aef-88fb-a6e8afb80cd6.png)

##### STEPS TO REPRODUCE

[2021-11-27 06:23] slavkap commented on #5461
@DaanHoogland, I think it's a bug. After reinstalling a VM, CS creates new volumes, and the old ones in DB are marked as destroyed but still exist on the hypervisor side. I've tested this on 4.16 (I think it's the same on 4.15), hypervisor KVM.

+--------------------------------------+-------------+---------+---------+
| uuid                                 | instance_id | state   | pool_id |
+---

[2021-11-29 08:41] edikevich opened #5727 "Tags are displayed incorrectly or aren't displayed at all"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
XCP-NG 8.2
Advanced Zone

##### OS / ENVIRONMENT
Oracle Linux 8.4 - Management server, MYSQL 8.0.26
XCP-NG 8.2 - hypervisor

##### SUMMARY
Storage tags are displayed incorrectly:
![image](https://user-images.githubusercontent.com/42668237/143834351-270ff46d-024c-4136-8dcb-7d5934c3959c.

[2021-11-29 11:02] rohityadavcloud opened #5728 "Support VMware7 minor release"
Support VMware 7.0u2, 7.0u3 in CloudStack. Currently with 4.15 onwards only Vmware 7.0u1 is supported.

##### ISSUE TYPE
 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

[2021-11-29 11:03] rhtyd commented on #5728
Note: it seems VMware ESXi 7.0u3 has some issues and was called off, but vCenter 7.0u3 is available out there.

[2021-11-29 11:51] weizhouapache commented on #5717
I have discussed with @PeterS-gd
the issue is caused by different dev name attached by cloudbr0 on hosts (enp3s0f0 on source host, enp3s0f1 on destination host but it also has enp3s0f0)
this is a very rare use case
it can be improved with low priority

[2021-11-30 07:24] edikevich opened #5731 "Can't sort Templates or ISOs."
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
XCP-NG 8.2
Advanced Zone

##### OS / ENVIRONMENT
Oracle Linux 8.4 - Management server, MYSQL 8.0.26
XCP-NG 8.2 - hypervisor

##### SUMMARY
Can't sort Templates or ISOs.
In Templates section buttons are presented but when you try to click them nothing happends.

In ISOs section buttons

[2021-11-30 11:10] msinhore opened #5732 "When the 2nd physical network are addded during the Zone Creation, the button next doesn't work"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Management server: CentOS 7
Browser used: Firefox

##### OS / ENVIRONMENT

##### SUMMARY

During the Zone Creation, when more than one physical network is added, isn't possible to continue.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[co

[2021-11-30 11:20] msinhore opened #5733 "Isn't possible to configure different traffic label on the same physical network when creating a new zone"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Management server: CentOS 7
Browser used: Firefox

##### SUMMARY

During the Zone Creation, isn't possible to set different traffic labels.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-12-01 00:53] utchoang commented on #5733
@msinhore I think this issue is similar to issue https://github.com/apache/cloudstack/issues/5705 and will be fixed in PR https://github.com/apache/cloudstack/pull/5714

[2021-12-01 05:20] #5719 closed

[2021-12-01 06:37] msinhore commented on #5733
@utchoang ok, I will close this issue as it was reported in #5714

[2021-12-01 06:37] #5733 closed

[2021-12-01 06:38] msinhore commented on #5733
@utchoang ok, I closed this issue as it was reported in #5714

[2021-12-01 09:03] DaanHoogland commented on #5596
we will have to decide to show or not show. In a mixed environment, i.e. with multiple isolation methods, we will end up with a mix of networks, some requiring the user to see the broadcast uri and other forbidding it.
I suggest a setting allowing the operator to control it @rhtyd ?

[2021-12-01 09:47] weizhouapache commented on #5596
The URI should not be visible for non-root users.

[2021-12-01 10:23] PaulAngus opened #5739 "Option to retry failed VM instance deployments"
##### ISSUE TYPE

 * Feature Idea

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

NA

##### OS / ENVIRONMENT

NA

##### SUMMARY

When a user deployment fails, user ends up with an instance with has a status of `Error`

![image](https://user-images.githubusercontent.com/4810220/144216638-99ea0b7e-90d0-4d30-ab10-8f4b17ca33cd.png)

They will usually then report i

[2021-12-01 11:01] DaanHoogland commented on #5666
I checked the code, the only other place where Id is used Uuid is mentioned as well. I supose this was on purpose and anm leaving it as is.

[2021-12-02 08:32] DaanHoogland commented on #5739
If all data from the deployment is still available (and I imagine it is) this should be possible. Not sure if the ui can re-compile the request or if the back-end needs another API for this.

[2021-12-02 09:21] xuanyuanaosheng opened #5741 "Can not create ceph primary storage?"
##### ISSUE TYPE
 * Bug Report

The doc is using:
1.  http://docs.ceph.org.cn/rbd/rbd-cloudstack/
2.  https://www.shapeblue.com/ceph-and-cloudstack-part-2/#top
3.  https://docs.ceph.com/en/latest/rbd/rbd-cloudstack/
4.   https://www.slideshare.net/ShapeBlue/ceph-with-cloudstack
5.   The related issue: https://github.com/apache/cloudstack/issues/3523
6.   https://github.com/apache/cloudstack/issues

[2021-12-02 09:33] weizhouapache opened #5742 "Exception while reboot VM with forced=true by normal user"
Got an exception

Reboot Instance
(L2) Parameter hostid can only be specified by a Root Admin, permission denied

[code]

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-12-02 09:39] weizhouapache opened #5743 "Exception while update vm with 'HA Enabled' checked"
steps to reproduce the issue

(1) create a vm from default compute offering 'Small Instance'
(2) stop vm
(3) update vm, check 'HA Enabled'

Got an exception:
[code]

two options
(1) fix it on UI
(2) remove the restriction in API

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS T

[2021-12-03 09:55] xuanyuanaosheng commented on #2611
Any date ? https://github.com/apache/cloudstack/issues/5741

[2021-12-03 10:05] wido commented on #5741
6789 as port number, do the MONs run on that port?

New monitors might only bind on 3300

[2021-12-03 10:21] xuanyuanaosheng commented on #5741
@wido  I will use the 3300 port to do some test. thanks

[2021-12-03 10:34] xuanyuanaosheng commented on #5741
@wido   I have test on port 3300

**The ERROR message is  Failed to create RBD storage pool: org.libvirt.LibvirtException: failed to connect to the RADOS monitor on: 10.29.44.1:3300,: No such file or directory**

and the details is :
[code]

[2021-12-03 11:01] DaanHoogland commented on #5636
solved in #5746

[2021-12-03 11:01] #5636 closed

[2021-12-03 11:08] nvazquez opened #5747 "[Vmware][Deploy-as-is] DB exception when the template/appliance has empty default values"
Cannot deploy VM from a template when:
- 'Read Settings from OVA' = true
- The template has one or more properties without a default value (null values)

Example (missing the `ovf:value` property):
[code]

Leads to:
![image](https://user-images.githubusercontent.com/5295080/144592239-4174efd3-3a01-4e23-ac62-98336f5ca0df.png)

##### ISSUE TYPE
 * Enhancement Request

##### COMPONENT NAME
[code]

##

[2021-12-03 11:45] weizhouapache commented on #5741
@xuanyuanaosheng
the error message asked `Does the pool 'cloudstack' exist?`, can you check it ?

[2021-12-03 11:51] nvazquez commented on #4897
@shwstppr @DaanHoogland @andrijapanicsb adding to my previous comment: have found a case in which the details table for deploy-as-is details NULL value was needed. Please see: https://github.com/apache/cloudstack/issues/5747 - have posted a PR to revert only that table: https://github.com/apache/cloudstack/pull/5748

[2021-12-03 12:51] sureshanaparti commented on #4897
@nvazquez may be not good idea to keep the detail NULL again and this will break the *_details table consistency. Instead consider the 'deploy-as-is' detail as null when it doesn't exist, or use empty value instead of null.

[2021-12-04 03:00] xuanyuanaosheng commented on #5741
@weizhouapache  I use the command on the kvm node:
[code]

I think `the pool 'cloudstack'` is existed.

[2021-12-05 04:10] s-seitz opened #5749 "UI compromises DIN EN ISO/IEC 27001 by trying to fetch images from gravatar.com"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
UI
[code]

##### CLOUDSTACK VERSION
4.16
[code]

##### CONFIGURATION
any

##### OS / ENVIRONMENT
any

##### SUMMARY
The UI tries to get a gravatar Image for each username in listUsers, which potentially compromises the audit trail of CS Installations in DIN EN ISO/IEC 27001-required environments.

##### STEPS TO REPRODUCE
Login into CS,

[2021-12-06 05:53] xuanyuanaosheng commented on #5741
@weizhouapache  @wido  Could you please give some advice?

[2021-12-06 08:28] weizhouapache commented on #5741
@xuanyuanaosheng
have you seen @leolleeooleo 's comment (https://github.com/apache/cloudstack/issues/3523#issuecomment-823766493) ?

[2021-12-06 08:37] wido commented on #5741
This seems like something outside CloudStack, double check:

- All Hosts can reach the Ceph cluster nodes
- RBD pool exists
- User has access to the RBD pool
- There is no / (slash) in the secret

[2021-12-06 08:42] xuanyuanaosheng commented on #5741
@wido @weizhouapache
1.   The label.rados.monitor is 10.29.44.1:6789
2.
![Uploading image.png…]()

[2021-12-06 10:02] xuanyuanaosheng opened #5751 "The question about the cloudstack primary storage"
Does cloudstack's cluster support two different types of primary storage like one is NFS, another is RBD?

[2021-12-06 10:25] sureshanaparti commented on #5751
@xuanyuanaosheng yes,  cloudstack's cluster supports different storage types. More details here: http://docs.cloudstack.apache.org/en/latest/adminguide/storage.html#primary-storage

It's better to ask questions in the dev mailing list "dev@cloudstack.apache.org".

[2021-12-06 10:43] xuanyuanaosheng commented on #5751
@sureshanaparti  Thanks for you reply. Could you please take a look at https://github.com/apache/cloudstack/issues/5741

[2021-12-06 11:35] DaanHoogland commented on #5749
seems like a legitimate request to even include in 4.16.1 (@sureshanaparti ?) I think we can make the gravatar pull dependend on a global setting.

[2021-12-07 08:15] weizhouapache commented on #5741
@xuanyuanaosheng

in my opinion, it is not a cloudstack issue.

Could you please try to add ceph storage by libvirt on kvm nodes ?

1. virsh secret-define
2. virsh secret-set-value
3. virsh pool-create

[2021-12-07 09:37] rhtyd commented on #5660
Hi @poonam-agarwal28 thanks for sharing the issue and the benchmarks. Can you share output of:
[code]

Can you also run adn share the benchmark for converting your raw or qcow2 template to rbd with flags `-t none -n`, something like:
[code]

[2021-12-07 11:41] poonam-agarwal28 commented on #5660
@rhtyd  Please note below O/P
[root@VXIMUM1-CHVZR-1 media]# time qemu-img convert -p -n -t none -O raw /media/ISETest12.raw rbd:cloudstack/testimage:mon_host=VXILAB1-CMON.ceph.local:auth_supported=cephx:id=cloudstack:key=AQDicAVfG2lpIhAAYu4bnFtZjy04FrNDqlJueQ==:rbd_default_format=2:client_mount_timeout=30
    (32.02/100%)
    (33.02/100%)
    (100.00/100%)
real    78m42.581s
user    1m48.733s
sys

[2021-12-07 11:45] rhtyd commented on #5660
Thanks for sharing @poonam-agarwal28 can you also share your qemu-img and ceph versions?

[2021-12-07 13:54] gogast commented on #5350
Issue also exists on Debian 11 .

[2021-12-08 02:17] levindecaro opened #5754 "Unable to Boot VM in UEFI mode (KVM)"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

CentOS Linux release 7.9.2009
qemu-kvm-common-ev-2.12.0-44.1.el7_8.1.x86_64
qemu-kvm-ev-2.12.0-44.1.el7_8.1.x86_64
OVMF-20180508-6.gitee3198e672e2.el7.noarch

##### SUMMARY

Cannot boot VM into UEFI mode, always fallback into BIOS mode.

##### STEPS TO

[2021-12-08 03:31] levindecaro commented on #5754
The <os> directives should look like below in order to start VM in UEFI legacy mode.

[code]

[2021-12-08 03:51] xuanyuanaosheng commented on #5741
I find the below error when create storage pool on virt-manager.
![image](https://user-images.githubusercontent.com/4197714/145145103-d8e5e96f-9d2a-4018-83ac-022c3ec32e76.png)

[2021-12-08 09:03] lukasmrtvy opened #5756 "feat: Kubernetes multiple worker groups"
##### ISSUE TYPE

 * Feature Idea
##### COMPONENT NAME

[code]
##### IDEA
Would be superb to implement support for multiple worker groups in Kubernetes component ( major clouds GCP,AWS,Azure and Openstack are supporting it ). Thanks

[2021-12-08 17:44] GutoVeronezi opened #5759 "migrateVolume does not copy the template"
When a volume is copied to another storage pool, if the template does not exist in the destination storage pool yet, it should be copied. The API `migrateVirtualMachineWithVolume` already does it; however, when migrating the volume with `migrateVolume` (VM stopped), the template is not copied, which causes inconsistencies in the database and primary storage systems.

[2021-12-08 19:53] DaanHoogland commented on #5666
merged in #5738

[2021-12-08 19:53] #5666 closed

[2021-12-09 08:23] DaanHoogland commented on #5759
is this what you are fixing in #5758, @GutoVeronezi ? or do you mean that more improvement is needed after that?

[2021-12-09 16:29] GutoVeronezi commented on #5759
@DaanHoogland it will need more improvement after that.

[2021-12-09 21:00] wido commented on #5741
This seems like a client <> server issue with Ceph and does not have anything to do with CloudStack.

<pre>attempt to reclaim global_id 392850 without presenting ticket</pre>

That suggest that you have something misconfigured in Ceph, there have been recent changes around that. Please refer to the Release Notes of Ceph.

Once that is fixed it should also work in CloudStack.

[2021-12-10 02:30] leolleeooleo commented on #5754
I have this issues too.
After I upgrade from 4.15.2

OS / ENVIRONMENT
Rocky Linux release 8.5 (Green Obsidian)

[2021-12-10 07:04] xuanyuanaosheng commented on #5741
@wido @weizhouapache: This is a problem in ceph.
The related issue is:

1.   https://github.com/ceph/ceph-csi/issues/2063
2.   https://github.com/rook/rook/issues/7746
3.   https://docs.ceph.com/en/latest/security/CVE-2021-20288/

To fix this problem:
[code]

[2021-12-10 07:05] xuanyuanaosheng commented on #5741
@wido @weizhouapache  Thanks for you help.  I will close this issue.

[2021-12-10 07:05] #5741 closed

[2021-12-10 07:05] #5751 closed

[2021-12-10 13:30] leolleeooleo commented on #5754
I think it should be fixed in #5692.

[2021-12-10 14:21] DaanHoogland commented on #5754
that pr would address the
`<loader readonly='yes' secure='no' type='pflash'>/usr/share/OVMF/OVMF_CODE.secboot.fd</loader>`,
part, @leolleeooleo . I don't think it adds the
`<nvram template='/usr/share/OVMF/OVMF_VARS.fd'>/var/lib/libvirt/qemu/nvram/8c00e797-c713-4f4e-9a24-12c3436cf06f.fd</nvram>`, which would be needed as well.

Also i'm not sure it will leave the `<smbios mode='sysinfo'/>` out and

[2021-12-10 16:51] #5706 closed

[2021-12-10 21:08] wido opened #5765 "UI: SSH key option should not be presented if not allowed/support"
##### ISSUE TYPE
 * Enhancement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
- UI
- SSH API calls not allowed

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Dynamic role which does not allow for any of the 'SSH' API calls like: https://cloudstack.apache.org/api/apidocs-4.16/apis/listSSHKeyPairs.html

The user is however still prompted for SSH keypairs duri

[2021-12-10 21:22] wido commented on #5660
The bigger templates become the longer it takes for them to be converted. It's the way it currently works that we need to use qemu-img to convert the template.

A template of 300GB is a rather large file and can indeed take a lot of time.

You can increase the job timeout if that helps for you. What would a different suggestion be?

[2021-12-11 00:29] leolleeooleo commented on #5754
In the agent debug log nvram is fine.
I think it just miss something (loader) so libvirt remove it.
The code vnram was missing '\n' at the end.

[2021-12-11 05:24] leolleeooleo commented on #5500
Use `ceph df` that is no need to know erasure coding pools or replica.
https://docs.ceph.com/en/latest/rados/operations/monitoring/#checking-a-cluster-s-usage-stats

[code]

In the POOLS section are not inclusive of the number of replicas, snapshots or clones.

STORED : actual amount of data has stored.
MAX AVAIL : estimated amount of data that can be written.

[code]

[2021-12-11 07:46] leolleeooleo commented on #5754
I rebase #5692 to tag 4.16.0.0, and replace cloud-plugin-hypervisor-kvm-4.16.0.0.jar
UEFI works fine.

My steps:
[code]

[2021-12-11 10:54] levindecaro commented on #5754
@DaanHoogland

Tested  #5692 was fixed for this case. Thank you @leolleeooleo

[2021-12-11 10:54] #5754 closed

[2021-12-12 21:19] tetra12 commented on #5313
Closing as can't reproduce

[2021-12-12 21:19] #5313 closed

[2021-12-12 21:22] tetra12 commented on #5314
Closing as can't reproduce

[2021-12-12 21:22] #5314 closed

[2021-12-13 08:25] poonam-agarwal28 commented on #5660
@rhtyd
[root@VXIMUM1-CHVZR-1 ~]# qemu-img --version
qemu-img version 2.10.0(qemu-kvm-ev-2.10.0-21.el7_5.7.1)
Copyright (c) 2003-2017 Fabrice Bellard and the QEMU Project developers
[root@VXIMUM1-CHVZR-1 ~]# ceph --version
ceph version 10.2.11 (e4b061b47f07f583c92a050d9e84b1813a35671e)
[root@VXIMUM1-CHVZR-1 ~]# virsh version
Compiled against library: libvirt 4.5.0
Using library: libvirt 4.5.0
Using

[2021-12-13 08:27] tampler commented on #3397
I'm having the same issue with the latest 4.15 code. Simulator seems to be totally unmainted on Docker as per [this](https://hub.docker.com/r/cloudstack/simulator).

After building the ACS I had to manually run `ssh-keygen` command to produce a `id_rsa.cloud` key and restart the simulator container. Now, I'm getting a null-pointer exception as below. The full log is here: [sim.log](https://github.

[2021-12-13 08:27] poonam-agarwal28 commented on #5660
The issue already details proposed solutions , instead to directly converting and writing the image to CEPH Pool , if we convert the image locally and then upload to the secondary store using the rbd client the results are much better

[2021-12-13 09:01] levindecaro opened #5768 "kubernetes service require manual pull secret injection"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7.9
KVM

##### SUMMARY

When provision number of k8s in ACS, it will stalled by docker hub pull rate limit policy. The k8s instance installation will fail to complete. To workaround this problem,  it require injecting the pull secret in the m

[2021-12-13 09:21] rhtyd commented on #5660
Thanks for sharing the details @poonam-agarwal28, we'll use your env details to setup a test env.
Meanwhile, it may be faster for you to confirm and share if the `rbd import` command can be executed on any KVM host, even when they're not Ceph hosts (osd or monitors)? If this works on KVM hosts irrespective of them not being a ceph host (mon, osd etc) and if you can share if this requires installat

[2021-12-13 09:40] poonam-agarwal28 commented on #5660
@rhtyd
a)  rbd import ISETest12.raw --dest-pool cloudstack

This is the rbd import command you can use to directly import the converted image into CEPH

b ) The package ceph-common should provide the rbd binary used for executing the command.

ceph-common-10.2.11-0.el7.x86_64 : Ceph Common
Repo        : @ceph-x86-64
Matched from:
Filename    : /usr/bin/rbd

[2021-12-13 11:25] rhtyd commented on #5660
Thanks for confirming the dependency packages @poonam-agarwal28, but my question was to understand if this requires any dependency on the host where it can be performed. For example, can you run the `rbd import` command on any KVM host (irrespective whether it's an OSD/mon host or not), for example if you run this on a non-osd/non-mon KVM host do you need to pass any other parameters (such as cred

[2021-12-13 14:29] soptecsn opened #5770 "Choose storage location for Snapshots"
##### ISSUE TYPE

 * Feature Idea

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

KVM / NFS and QCOW2 VMs

##### OS / ENVIRONMENT

Linux All distros.

##### SUMMARY

We are trying to setup a new cluster with 4.16 and it will be a greate enhancement to select the snapshots location. Now in previous
versions of ACS we have 2 secondary storages and the location o

[2021-12-14 03:48] hooklee2000 opened #5772 "when add BareMetal host, new ui misses 4 parameters: cpu cores, cpu MHz,memory,host mac"
##### ISSUE TYPE
  Bug Report
##### COMPONENT NAME
new UI
[code]

4.15.1, Maybe 4.16.0 also (check  cloudstack/ui/src/views/infra/HostAdd.vue )

[code]

##### OS / ENVIRONMENT
CentOS 7.4

##### SUMMARY
Using the new ui,we can'nt add baremetal host without 4 parameters: cpu cores, cpu MHz,memory,mac.
But the legacy ui can add baremetal host with 4 parameters.

![图片](https://user-images.githubuserco

[2021-12-14 10:57] rhtyd commented on #3397
Hi @tampler yes the docker support is not officially maintained, I think some of my colleagues may have some idea, cc @weizhouapache @DaanHoogland @sureshanaparti

[2021-12-14 11:02] weizhouapache commented on #3397
@tampler
could you please test with 4.16.0.0 ?
issues should have been fixed by #5507

[2021-12-14 12:05] tampler commented on #3397
Hi @weizhouapache @rhtyd

I've pulled Wei's image from [here](https://hub.docker.com/r/ustcweizhou/cloudstack-simulator). I was able to boot it. I'll be looking at it these days.

Wei, could you pls upload it to the official ACS account [here](https://hub.docker.com/r/cloudstack/simulator) And drop obsolete images not to confuse people.

[2021-12-15 07:25] slavkap opened #5775 "KVM: probable problem with storage stats when storage is put on maintenance"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

OS - CentOS7
hypervisor - KVM
mgmt/agent version - 4.16.0.0

##### SUMMARY

When you put the primary storage on Maintenance mode and restart the agent, the storage will be removed from the storage adaptor's map. This causes NullPointerException when collecti

[2021-12-15 10:44] xuanyuanaosheng opened #5776 "Ceph RBD Storage: Failed to attach volume XXXXXXX to VM XXXXXXXXXX"
##### ISSUE TYPE

 * Bug Report

I add the ceph rbd primary storage using :  https://github.com/apache/cloudstack/issues/5741

I create a volumes using Ceph RBD Storage,

![image](https://user-images.githubusercontent.com/4197714/146171064-5109f10a-4db4-4b31-b6fd-b115cc64a290.png)

But Is is failed when I attach this volemes to a running VM.

![image](https://user-images.githubusercontent.com/4197

[2021-12-15 11:21] wido opened #5777 "UI: Rootdisksize is not shown as 'Disk Size' on VM deployment"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
Rootdisk size set to for example 40GB for a disk offering

##### SUMMARY
The rootdisksize for a ServiceOffering is set to 40GB.

During deployment the UI however does not show the rootdisksize in the summary details of the VM.

This means that the user has no idea how large th

[2021-12-15 12:38] tampler opened #5778 "Feat: Add Prometheus and Grafana monitoring support"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Many users need to monitor Cloudstack management server resources, such as Disk, CPU, Bandwidth, Public IPs, etc.
This has already been implemented  [here](https://cwiki.apache.org/confluence/display/CLOUDSTACK/CloudStack+Metrics+Expo

[2021-12-15 13:34] weizhouapache commented on #5778
@tampler
what are missing in your opinion ?
afaik it just works.

[2021-12-15 13:34] DaanHoogland opened #5780 "UI: create network dialog digressed"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When trying to create a new network the dialog is empty:

![image](https://user-images.githubusercontent.com/2486961/146195942-9e2fe809-571a-40ce-be2c-6b583f26a4b7.png)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### A

[2021-12-15 13:50] tampler commented on #5778
hi @weizhouapache

Are there any API methods to enable/disable/update/remote metrics? Are there GUI knobs?
It just works from the SQL cmdline, which is why 99.99% of users NOT aware of it. Correct me if I'm wrong. Any links are highly welcome

[2021-12-15 14:29] weizhouapache commented on #5778
@tampler
no API, no GUI.
you can get all metrics by cli `curl http://127.0.0.1:9595` if prometheus exporter is enabled in global setting.
you can also use the http url in grafana.

[2021-12-15 17:56] StepBee opened #5781 "Dynamic Role Model partly allows users to create users with more rights"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

A new role, for example "Domain Admin Restricted", is created by a Root Admin Account based on existing role "Domain Admin"
Some functionality is restricted of the role "Domain Admin Restricted" with setting "Deny" for some APIs, for

[2021-12-16 04:10] xuanyuanaosheng commented on #5776
@weizhouapache @wido

[2021-12-16 05:58] sureshanaparti commented on #5780
Closing this as the fix PR is merged. @DaanHoogland Reopen the issue if you still notice it. Thanks.

[2021-12-16 05:58] #5780 closed

[2021-12-16 11:21] sureshanaparti commented on #3047
Hi @wido Any work done on this one?

[2021-12-16 11:27] wido commented on #3047
No, not yet.

[2021-12-16 11:33] sureshanaparti commented on #3594
ping @nvazquez @kiwiflyer can you confirm whether this issue is fixed with #4878 or not.

[2021-12-16 11:55] sureshanaparti commented on #4120
@shwstppr Any comments on this issue?

[2021-12-16 12:05] sureshanaparti commented on #4492
@shwstppr Any update on this.

[2021-12-16 12:09] sureshanaparti commented on #4587
ping @olivierlemasle any update on this issue (any work done after PR #4588)?

[2021-12-16 12:18] sureshanaparti commented on #4935
ping @ggsyu Have you verified with 4.16 pkgs?

[2021-12-16 12:55] sureshanaparti commented on #5019
ping @GabrielBrascher @wido any update on this issue?

[2021-12-16 13:25] sureshanaparti commented on #5512
@weizhouapache @slavkap I think, this can be addressed properly after decoupling the service and disk offerings (done in the PR: https://github.com/apache/cloudstack/pull/5008).

[2021-12-16 13:29] sureshanaparti commented on #5531
Hi @slavkap can you work on the changes for this issue?

[2021-12-16 13:39] sureshanaparti commented on #5596
Verified the fix in PR #5745.

@borisstoyanov Closing this issue as the fix PR is merged. Reopen it if you still see this issue. Thanks.

[2021-12-16 13:40] #5596 closed

[2021-12-16 14:04] MejdiB commented on #5315
I am getting the same error, no matter if I enable ssl for secstorage or not. Under Infrastructure --> SSL certificate I have uploaded a certificate for consoleproxy and secstorage vm. Both system vms have a fqdn. The Console Proxy works fine with SSL, but uploading an ISO file is not working.

[2021-12-16 14:09] sureshanaparti commented on #5731
@utchoang can you check this please. thanks.

[2021-12-16 14:11] sureshanaparti commented on #5732
@msinhore Closing this issue as the fix PR is verified / merged.

[2021-12-16 14:41] sureshanaparti commented on #3047
thanks @wido any plan to work on it.

[2021-12-16 15:04] slavkap commented on #5531
Hi @sureshanaparti, if nobody works on a fix, I will try to fix it on time for 4.16.1.0

[2021-12-16 15:55] slavkap commented on #5775
@rp-, @svenvogel, may I ask you if you have time to check if this affects Linstor and SolidFire?

[2021-12-16 16:32] sureshanaparti commented on #5531
ok, thank you @slavkap

[2021-12-17 03:00] utchoang commented on #5731
Through testing, I found the problem is that when getting listTemplates with `showunique: true` it sorts wrong. But when I remove this parameter, the returned data is sorted correctly, but the result is a sequence of duplicate samples. As far as I can see is it coming from the API?
- With `showunique: true`
![image](https://user-images.githubusercontent.com/13766648/146481630-ec075c87-7e46-49d3-8e

[2021-12-17 03:11] utchoang commented on #5731
I think with API `updateTemplate /updateIos` to update sortKey need one more parameter to be able to update for duplicate templates/isos?

[2021-12-18 00:07] KuasarCloud opened #5787 "Management server does not respect max.project.public.ips"
ISSUE TYPE
Bug Report

COMPONENT NAME
PUBLIC IP

CLOUDSTACK VERSION
4.15.2.0

CONFIGURATION

SUMMARY
Configured the parameter with max.project.public.ips = 3 and restart the management server, but the user can acquire as many public ip as he wishes

STEPS TO REPRODUCE
Have advanced zone with and VPC deployed into a project
Restrict the variable in global configuration
Acquire multiples IP beyond t

[2021-12-18 17:07] mlsorensen opened #5788 "Parallel volume migrations on KVM are processed on same host"
### SUMMARY

It seems while attempting multiple volume migrations, the same KVM agent is always selected. This severely limits the scalability of doing bulk migrations as we are limited to serial processing at the CopyCommand and network limitations of a single hypervisor host.

### STEPS TO REPRODUCE

Migrate multiple volumes simultaneously from one cluster to another. Observe which hypervisor is

[2021-12-20 02:39] xuanyuanaosheng commented on #5776
@sureshanaparti  Any idears?

[2021-12-20 04:49] shwstppr commented on #4120
@sureshanaparti will try to explore this later in the week

[2021-12-20 05:30] sureshanaparti commented on #5776
No idea. @wido @NuxRo @weizhouapache Any thoughts / comments on this issue?

[2021-12-20 05:32] sureshanaparti commented on #4120
thank you @shwstppr

[2021-12-20 06:23] sureshanaparti commented on #3110
Agree that these APIs shouldn't touch disks, but if they touch disks, the behavior should be consistent. Better address this after decoupling the service and disk offerings (in the PR #5008, target-ed for 4.17.0). Moving this to 4.17.0.

[2021-12-20 07:07] sureshanaparti commented on #5709
Verified the fix PR and merged. Closing this issue.

[2021-12-20 07:07] #5709 closed

[2021-12-20 12:23] wido commented on #5776
Have you tried to stop/start the VM? Maybe hotplug doesn't work.

[2021-12-20 17:00] GabrielBrascher opened #5793 "CloudStack API does not allow to set domain for templates via "createTemplate" nor "updateTemplate""
##### ISSUE TYPE

 * Feature Idea ?

##### COMPONENT NAME

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

In [registerTemplate](https://cloudstack.apache.org/api/apidocs-4.15/apis/registerTemplate.html) there is the possibility of choosing a domain id; however this is not possible when creating a template via [createTemplate](https://cloudstack.apache.org/api/a

[2021-12-20 17:09] GabrielBrascher opened #5794 "Feature proposal/discussion -- create API command that "migrates" a hosts from a cluster to another"
##### ISSUE TYPE

 * Feature Idea

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

KVM

##### OS / ENVIRONMENT

N/A

##### SUMMARY

CloudStack does not allow to migrate hosts from clusters. This Issue raises the feature idea of migrating hosts between clusters.
In KVM at least this is quite easy to be done. Basically, it can be done by changing the agent.proper

[2021-12-21 04:35] xuanyuanaosheng commented on #5776
@wido  I restart the VM，But It is also report the same errors.

I add another kvm host into the cluster. Now the cluster has two nodes.
- 10.26.246.5  (First added)
- 10.26.246.6  (Later added)

The additon info:

1.  The ceph RBD primary storage scope is CLUSTER mode

The First added node report errors， But the Later added node works fine.

Now the first kvm node (10.26.246.5) has can not connect

[2021-12-21 05:09] sureshanaparti commented on #5777
Hi @GabrielBrascher Are you working on the fix for this issue?

[2021-12-21 10:10] GabrielBrascher commented on #5777
@sureshanapart I have just opened a PR fixing it. Please, check it out at: #5796

[2021-12-21 10:52] shwstppr commented on #5727
@edikevich Tags in the info card of the UI is different from host, storage tags. Please see #5798 fixes the behaviour

[2021-12-21 12:07] sureshanaparti commented on #5777
thanks @GabrielBrascher , will check it.

[2021-12-22 02:46] xuanyuanaosheng commented on #5776
@wido

I use below command to handle this problem.
[code]

[2021-12-22 05:15] sureshanaparti commented on #5775
ping @rp- , @svenvogel can you check and confirm this. thanks.

[2021-12-22 07:21] utchoang commented on #5772
@shwstppr @Pearl1594 As I see in the API description https://cloudstack.apache.org/api/apidocs-4.16/apis/addHost.html, where should these parameters be set?

[2021-12-22 07:33] utchoang commented on #5749
@shwstppr @sureshanaparti cc @davidjumani Currently, I see these avatar objects just get and not used anywhere. So how do you think about removing it?

[2021-12-22 08:32] shwstppr commented on #5772
@utchoang not sure tbh. Checked legacy UI and it passes them as the `addHost` API params. Although the API doesn't have any such params.
[code]

there is a `addBaremetalHost` API in code but even that doesn't have these params

[2021-12-22 09:10] harikrishna-patnala commented on #5772
as far as I remember these values (CPU, memory, cores and mac) are passed in details Parameter. Since there is no hypervisor layer, we have to feed these values while adding the baremetal host.

[2021-12-22 09:32] sureshanaparti commented on #5731
@utchoang With 'showunique: true', API returns unique templates irrespective of zones, and without 'showunique: true', all the templates in the zones are returned. So, if a template is registered for mutiple/all zones, it is present multiple times.
From UI, the templates are always listed with 'showunique: true'.

[2021-12-22 12:00] sureshanaparti commented on #5731
@utchoang Fixed the API response in the PR #5800.

[2021-12-22 12:56] #3652 closed

[2021-12-22 13:45] rp- commented on #5775
sorry, was busy with another task.
But yes I can confirm this also effects(and I can reproduce the NPE) the linstor driver

[2021-12-23 04:22] sureshanaparti commented on #5742
Closing this as the fix PR got merged. @weizhouapache If you still notice this issue, please reopen. Thanks.

[2021-12-23 04:22] #5742 closed

[2021-12-23 04:49] sureshanaparti commented on #5749
@utchoang If these objects are unused, better to remove them (If needed later, can be added at later point of time). Any thoughts / comments  @shwstppr @davidjumani @DaanHoogland @GabrielBrascher @rhtyd

[2021-12-23 06:56] shwstppr commented on #5772
@harikrishna-patnala don't see any `details` param in the API in 4.16

[2021-12-23 07:00] weizhouapache commented on #5742
thanks for fixing it @sureshanaparti

[2021-12-23 08:27] edikevich opened #5803 "User from domain can't deploy VM in pod dedicated to that domain"
##### ISSUE TYPE
 * Bug Report

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
XCP-NG 8.2
Advanced Zone

##### OS / ENVIRONMENT
Oracle Linux 8.4 - Management server, MYSQL 8.0.26
XCP-NG 8.2 - hypervisor

##### SUMMARY
User from domain1 can't deploy VM in dedicated to domain1 pod.

##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2021-12-23 15:47] sotheareth opened #5805 "AgentManager-SSLHandshakeHandler SSL error"
1. I try to build and run apache cloudstack in my local <br/> from https://github.com/apache/cloudstack

2. follow these step until the run jetty step under Build CloudStack <br/>
$ mvn -pl :cloud-client-ui jetty:run            # Run the management server on port 8080
<br/> from https://cwiki.apache.org/confluence/display/CLOUDSTACK/Setting+up+CloudStack+Development+Environment+on+Linux

3. gettin

[2021-12-24 04:29] harikrishna-patnala commented on #5772
Yes I just checked, neither detaills parameter or specific name parameters are not defined in API. I've further checked it looks like it using the "fullUrlParams" from the BaseCmd like this https://github.com/apache/cloudstack/blob/2e9c9417be150384db6f503dff90dbbfeeeae09e/server/src/main/java/com/cloud/resource/ResourceManagerImpl.java#L641

and then use these params to fetch the required details

[2021-12-24 04:43] harikrishna-patnala opened #5807 "UI: Add network offering form not showing "System offering for router" for VPC and provider list is not getting updated on VPC toggle"
I've observed 2 issues
1. When trying to create a VPC network offering, option to select "System offering for router" is missing. In case of normal networking offering it is showing.
2. When VPC toggle button turns on and off, supported providers list is updating dynamically, we had to start a new "Add network offering" form.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CL

[2021-12-24 05:53] sureshanaparti commented on #5807
Hi @utchoang Is it possible for you to check this issue.

[2021-12-24 07:10] harikrishna-patnala opened #5808 "VMware: upload template from local is not importing OVF properties"
##### ISSUE TYPE

 * Bug Report
##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

In the case of VMware, when we register a template from URL and turn on "Read VM settings from OVA" toggle then OVF properties from the template are imported into CloudStack. When we upload the same template from local and turn on "Read VM settings from OVA" toggle then OVF properties are

[2021-12-24 07:15] sureshanaparti commented on #5731
Fixed with #5800. Closing the issue.

[2021-12-24 07:15] #5731 closed

[2021-12-24 07:48] shwstppr commented on #5807
Apologies @utchoang (cc @sureshanaparti ) if you already started work on this. Created a draft PR. Please close it if you can with a better fix. Was getting some issue with making select element update on options change

[2021-12-24 07:54] utchoang commented on #5807
@shwstppr No problem, I haven't started this work either. I will review your PR.

[2021-12-24 10:10] DaanHoogland commented on #5749
If we add them later we abviously would have to guard that with a global setting. Not sure if that has UI repercusions.

[2021-12-24 10:15] DaanHoogland commented on #5803
Is this new? Did you test in 4.15 @edikevich?
@sureshanaparti is this one good for 4.16.1?

[2021-12-24 10:43] sureshanaparti commented on #5749
I think, global setting to keep these is not the right way.

[2021-12-24 10:44] RohitYadavCloud commented on #5749
The gravataar based image was something I had added without thinking this through, now that we've resource icons feature this can be removed. cc @sureshanaparti @DaanHoogland

[2021-12-24 11:38] sureshanaparti commented on #5749
thanks for fixing this @utchoang

[2021-12-24 11:38] #5749 closed

[2021-12-24 16:31] edikevich commented on #5803
Hi. Sorry for delay. I didn't test this feature in 4.15.2 :( I think problem is near Affinity group which is created after dedicate host/cluster/pod. I tried create VM from root Admin then grand this VM to user from domain but not user or root admin can't start VM in dedicated host/cluster/pod :(

[2021-12-27 20:01] sureshanaparti commented on #5765
Closing this issue as the fix PR got merged. @wido Please reopen if you still notice SSH key option when it is not allowed/supported for the user. Thanks.

[2021-12-27 20:01] #5765 closed

[2021-12-28 10:00] DaanHoogland commented on #5712
@correajl if i make a PR on 4.16 to fix this will you be able to test it? I seems like the fix is rather simple (but testing isn't) I'll try to add some unit tests later.

[2021-12-29 02:43] utchoang commented on #5772
@harikrishna-patnala @shwstppr So I will still pass these 4 parameters to the addHost api and it will work right?

[2021-12-29 03:01] harikrishna-patnala commented on #5772
Yes @utchoang, I have not tested recently but that is how I see the code too. I found the below statement from one of the documents, which says these params are required
_"add a host, provide all information required by UI page. Note the 'hostname' is ipmi ip, 'account' is ipmi account, 'password' is ipmi password. Please make sure cpu number/speed, memory size is matching your real host fact, oth

[2021-12-29 07:02] satishglondhe opened #5813 "Load Balancer - Configure Sticky Policy"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

NA

##### SUMMARY

While configuring any type of Sticky Policy for a Load Balancer, the OK button is not working [it doesn't throw any error nor it gets submitted]  therefore not able to create any type of sticky policy.

Also, we tried to execute the same u

[2021-12-29 08:25] rohityadavcloud commented on #5805
@sotheareth are you running KVM agent (cloudstack-agent) on the same host? Can you redeploy your dev-test env, or re-add the host with ssh allowed on root user using password (in sshd_config you've to permit root login by password). Alternatively, you can also explore using mbx: https://github.com/shapeblue/mbx
The specific user-shared network branch may not be ready for testing yet, cc @weizhouap

[2021-12-29 08:39] rohityadavcloud commented on #5500
Hi @leolleeooleo I'm using Ceph v16 (pacific) with ACS 4.16.0.0 and not able to reproduce this, however I update the max pool capacity after adding it: (in this example, max. allocatable capacity of ceph cluster/pool set to 200GB)
[code]
![Screenshot from 2021-12-29 14-07-11](https://user-images.githubusercontent.com/95203/147643063-d39d4078-c8a1-41a0-9e62-28624f7bd8e0.png)

I also set overprovisi

[2021-12-29 09:01] sotheareth commented on #5805
@rohityadavcloud
- I installed cloudstack-agent on the same host and
- already allow sshd_config for root:
   `PermitRootLogin yes and PasswordAuthentication yes`
- I did not try your https://github.com/shapeblue/mbx yet

[2021-12-29 09:07] rohityadavcloud commented on #5805
@sotheareth Assuming you're doing something for testing, you can set the `ca.plugin.root.auth.strictness` global setting to false temporarily (this doesn't require restarting mgmt server) and then go to UI->Infra->Hosts-> select the host -> click the provision certificate button (this will re-initiatlise the host certificates). Then you can change the auth strictness global setting to true again a

[2021-12-29 09:38] sotheareth commented on #5805
@rohityadavcloud
- I'm not sure if run from source code it requires to install cloudstack-agent or is there any cloudstack-agent startup when I run from jetty.
- after I change ca.plugin.root.auth.strictness = false and it works fine
- I can add secondary storage - success
- now I have another issue
I cannot add new host - error said 'Error 530 Unable to add the host'
and I check there is no any r

[2021-12-30 10:40] Prashankalikotayt opened #5817 "You are in developer mode, build and run UI using npm"
I am trying to add some plugin to Cloudstack. I have followed the steps in the developers guide however I do not see any UI after a successful build and run. In the web UI instead of getting the login prompt I see 'You are in developer mode, build and run using npm'.
I am a newbie, Any help is much appreciated.

[2021-12-30 10:43] shwstppr commented on #5817
@Prashankalikotayt Run UI using npm https://github.com/apache/cloudstack/tree/main/ui#development

[2021-12-30 10:46] rohityadavcloud commented on #5350
Fixed in https://github.com/apache/cloudstack/pull/5755

[2021-12-30 10:46] #5350 closed

[2021-12-30 10:50] DaanHoogland commented on #5712
ping @correajl can you test #5816 ?

[2021-12-30 10:51] rohityadavcloud commented on #5622
Fixed in https://github.com/apache/cloudstack/pull/5628

[2021-12-30 10:51] #5622 closed

[2021-12-30 10:52] Prashankalikotayt commented on #5817
I have tried doing this. How ever I see warnings during 'npm install' and finally fails. PFA for the log
[2021-12-30T10_48_01_531Z-debug-0.log](https://github.com/apache/cloudstack/files/7792581/2021-12-30T10_48_01_531Z-debug-0.log)

[2021-12-30 10:53] #5623 closed

[2021-12-30 10:53] GabrielBrascher commented on #5777
Closing this issue as the PR #5796 fixing it got merged.

[2021-12-30 10:53] #5777 closed

[2021-12-30 10:54] rohityadavcloud commented on #5538
Fixed in https://github.com/apache/cloudstack/pull/5549
@slavkap pl check latest 4.16 or the merged PR, re-open if not satisfied.

[2021-12-30 10:54] #5538 closed

[2021-12-30 10:58] rohityadavcloud commented on #5705
Fixed in https://github.com/apache/cloudstack/pull/5714

[2021-12-30 10:58] #5705 closed

[2021-12-30 11:22] #5807 closed

[2021-12-30 12:07] rohityadavcloud commented on #5688
Fixed in https://github.com/apache/cloudstack/pull/5690

[2021-12-30 12:07] #5688 closed

[2021-12-30 12:09] rohityadavcloud commented on #5813
Fixed in https://github.com/apache/cloudstack/pull/5814

[2021-12-30 12:09] #5813 closed

[2021-12-30 12:10] rohityadavcloud commented on #5727
Fixed in https://github.com/apache/cloudstack/pull/5798

[2021-12-30 12:10] #5727 closed

[2021-12-30 12:10] rohityadavcloud commented on #5788
Fixed in https://github.com/apache/cloudstack/pull/5789

[2021-12-30 12:10] #5788 closed

[2021-12-30 12:13] rohityadavcloud commented on #5817
Hi @Prashankalikotayt please use the dev@ ML https://cloudstack.apache.org/mailing-lists.html to ask questions. To get started, you can follow the link shared by @shwstppr and ensure to install and use nodejs 12.x LTS.
[code]
Closing this as this is not a bug report.

[2021-12-30 12:13] #5817 closed

[2021-12-30 12:15] rohityadavcloud commented on #2991
@DaanHoogland can we close this if we move to log4j 2.x in near future or is this still applicable?

[2021-12-30 12:17] rohityadavcloud commented on #4093
I think it may be possible via some log4j config?

[2021-12-30 12:19] rohityadavcloud commented on #5361
We're closer to 22.04 in 4 months, project generally doesn't support and test releases against non-LTS releases of distros. Closing the PR on this remark, thanks.

[2021-12-30 12:19] #5361 closed

[2021-12-30 12:21] rohityadavcloud commented on #5634
cc @Pearl1594 pl check if in 4.16.1 systemvmtemplate, we can get the template to have the latest letsencrypt CA cert as a lot of servers use and host templates on letsencrypt based SSL/TLS certs.

[2021-12-30 12:22] rohityadavcloud commented on #5604
@Opposite-clock did you retry this with 4.15.2 or 4.16.0.0?
I'm closing this due to inactivity, pl reopen if you've more information. Thanks.

[2021-12-30 12:22] #5604 closed

[2021-12-30 15:07] GabrielBrascher commented on #5019
@sureshanaparti @div8cn

I've tested on KVM with different primary storage pools: `Local storage`, `NFS`, and `Ceph`.
I have been able to reproduce this issue but it was not related to the storage pool. The factor that seems to be playing the key role (at least on my tests) here is the OS type.

To show that, here follows an output from _cloudmonkey_:
[code]

@div8cn can you please confirm if that

[2022-01-03 06:52] sureshanaparti commented on #5712
Hi @correajl Can you help in testing the PR #5816. Thanks.

[2022-01-03 08:16] lequocvieet opened #5821 "How to switch from management server :root@cloud-mgmt:~# to nfs server :root@cloud-nfs:~# in the same machine"
##### ISSUE TYPE
*Documentation report
http://docs.cloudstack.apache.org/en/latest/installguide/management-server/index.html#using-a-separage-nfs-server
##### COMPONENT NAME
Prepare separate NFS server
##### CLOUDSTACK VERSION
4.16
##### OS / ENVIRONMENT
Ubuntu 20.04

##### SUMMARY
I am following documentation in preparing NFS server separate but I don't know how to switch from management server t

[2022-01-03 08:52] DaanHoogland commented on #5821
@lequocvieet can you ask this question on the mailing list users@cloudstack.apache.org, please.

[2022-01-03 11:32] correajl commented on #5712
Yes, I'm going to test as soon as possible.

tks

- JLC

On Mon, Jan 3, 2022 at 3:52 AM sureshanaparti ***@***.***>
wrote:

[2022-01-03 15:32] rohityadavcloud commented on #5712
Fixed in https://github.com/apache/cloudstack/pull/5816

[2022-01-03 15:32] #5712 closed

[2022-01-03 15:32] rohityadavcloud commented on #5821
Yes pl ask on the users ML, thanks.

[2022-01-03 15:32] #5821 closed

[2022-01-04 05:51] rohityadavcloud commented on #5634
https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/

[2022-01-04 09:44] sureshanaparti commented on #5772
Fixed in #5812

[2022-01-04 09:44] #5772 closed

[2022-01-04 12:14] Hudratronium opened #5824 ""Disable Static NAT" in VPC results in stuck IP Address"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Redundant VPC
Custome offerings for VPC and NW-Tier

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Disableing "static NAT" for a public IP fails with error "Service UserData is not supported in the network" shown in GUI while using
custome service offerings for VPC as well as tiers.

[2022-01-04 12:26] weizhouapache commented on #5824
@sureshanaparti
I think this is a bug in 4.16. can we add it to  4.16.1.0 milestone ?

[2022-01-04 13:27] Hudratronium commented on #5824
some additional findings from looking into the database:
- table nics: no entry found containing the acquired ip address
- table user_ip_address: entry with rulestate / state "Releasing" for the ip is present. one_to_one_nat = 1 and the dnat_vmip is present.

So far i haven't found any more entries for this ip in the whole database.

[2022-01-04 19:00] nvazquez commented on #5491
@Hudratronium do you get the same error if not specifying a value (empty value) for the global setting `secstorage.nfs.version`? I realized in my setup the global setting has an empty value and the secondary storage is mounted with version 4 by default.

[code]

[2022-01-04 22:20] Hudratronium commented on #5491
@nvazquez
That is quiet some time ago - but yes. I remember that i initially tested it without setting a value in the global configuration - without success. I have to admitt that since that time and "gradeing" down to nfs3 on the storage server i haven't looked into it further.

however - you are checking the mount form inside of your ssvm, correct?

It seems i discribed it a bit confusing:
The h

[2022-01-05 19:45] andrijapanicsb commented on #4657
ping @GabrielBrascher  did you hit this issue again or was it resolved for good?
Can you specify (if you recall) what variables did you change on the MySQL side?

We are seeing this issue with 4.15.1 and Mysql 8.0.27, and with max_connections = 700 and wait_timeout = 43200.
Any reason to think this might be MySQL 8.x bug?

Thx

[2022-01-05 22:55] Damans227 commented on #5563
Hey @rohityadavcloud Let me know if I can help with the migration of OpenJDK to 17. I am guessing we will propose a roadmap or a plan to complete this migration. So if there is something which needs to be validated or some research to be done, let me know and I can spend some time on it.

[2022-01-06 05:28] sureshanaparti commented on #5824
Hi @Hudratronium Have you tried this in 4.15 / 4.15.1?

[2022-01-06 07:52] wido commented on #4657
@andrijapanicsb We ended up setting wait_timeout back to the default (3600) as this was set to 60 by some provisioning scripts unintended.

That solved the issue.

[2022-01-06 08:28] weizhouapache commented on #5461
@slavkap
I think this is not a bug.

when reinstall a vm, the old root disk is changed to 'Destroy' state.
you can recover to a Ready volume, and use it like other volumes.
Otherwise, the 'Destroy' volume will be cleaned up by cloudstack after a period (depends on global setting `storage.cleanup.interval` and `storage.cleanup.delay`)

[2022-01-06 08:43] sureshanaparti commented on #5461
Hi @slavkap I think, as @weizhouapache confirmed, this seems to be the expected behavior. The ROOT volume in 'Destroy' state (with instance_id null) after reinstalling VM, can be either manually expunged or auto cleaned by storage GC. Please re-check and confirm whether this behavior is Ok or if you notice any issues there. Thanks.

[2022-01-06 08:43] slavkap commented on #5461
You're right @weizhouapache, it's not a bug. I forgot to check the global settings.

[2022-01-06 08:46] slavkap commented on #5461
@sureshanaparti, there isn't an issue. I've set a short interval on `storage.cleanup` settings, and the volumes were deleted

[2022-01-06 08:56] sureshanaparti commented on #5461
good, thanks for confirming @slavkap

[2022-01-06 09:00] sureshanaparti commented on #5461
@weizhouapache Do we need to change the description of Volume's 'Destroy' state => Destroy("The volume is destroyed, and can be recovered.") ?

[2022-01-06 09:03] weizhouapache commented on #5461
@sureshanaparti
sure

[2022-01-06 09:05] weizhouapache commented on #5461
@div8cn
I am looking at this issue. it is strange that the volume was expunged sooner after it was destroyed.
did you use vmware and unmanage vmware instance ?
Could you provide some logs ?

[2022-01-06 09:08] GabrielBrascher commented on #3047
@sureshanaparti @nvazquez @wido I opened PR #5826 proposing a fix.
It is as basic as removing the conditional on the `UriUtils.validateUrl` which throws an exception in the case of IPv6.
That code is 10 years old, in "another era" where there was not much IPv6 support.

Nowadays most of the repositories support both IPv4 and IPv6. Including the CloudStack repository, which triggered my main intere

[2022-01-06 09:40] harikrishna-patnala opened #5830 ""storage.max.volume.size" config needs fixing"
There is a global config to control the size of the volume
![image](https://user-images.githubusercontent.com/3348673/148359893-7b71bc92-a8f3-4fb2-9732-6dac4299c181.png)

There are 2 issues with this config
1. This is marked as dynamic, but it is not, we need to restart the management server. This needs to either set the dynamic flag to false or fix the usage of the config.
2. In the case of root

[2022-01-06 11:14] sureshanaparti commented on #5534
Fixed in #5827

[2022-01-06 11:14] #5534 closed

[2022-01-06 11:50] sureshanaparti commented on #5654
Fixed in #5750

[2022-01-06 11:50] #5654 closed

[2022-01-06 11:50] sureshanaparti commented on #5655
Fixed in #5750

[2022-01-06 11:50] #5655 closed

[2022-01-06 11:51] DaanHoogland commented on #5656
this was not reproduced with #5750, which is now merged. closing.

[2022-01-06 11:51] #5656 closed

[2022-01-06 12:13] sureshanaparti commented on #5698
Fixed in #5829

[2022-01-06 12:13] #5698 closed

[2022-01-06 14:52] pipo opened #5834 "documentation instructs users to setup libvirt dangerously insecurely"
##### ISSUE TYPE

 * Documentation Report

##### COMPONENT NAME

[code]

##### SUMMARY

The documentation at https://docs.cloudstack.apache.org/en/latest/installguide/hypervisor/kvm.html#install-and-configure-libvirt
instructs users to setup libvirt with TCP connections with no authentication enabled. This is an extremely dangerous setup. Anyone allowed to access libvirt, which in this case is at

[2022-01-06 14:53] pipo commented on #5834
Libvirt was accidentally made aware of this problem in the following libvirt bug report: https://gitlab.com/libvirt/libvirt/-/issues/264#note_803220900

[2022-01-06 15:09] div8cn commented on #5461
We don't use VMware; KVM + CEPH is used

[2022-01-06 15:18] berrange commented on #5834
To be explicit, we consider a connection to privileged libvirtd to be equivalent to have a root shell. IOW, configuring libvirtd to listen on a TCP socket with no encryption and no authentication is equivalent to replacing SSH with RSH and setting an empty root password.

[2022-01-06 15:20] weizhouapache commented on #5461
@div8cn
can you upload some logs ?
I was not able to reproduce the issue you mentioned.

[2022-01-06 15:52] div8cn opened #5836 "Improve kvm vm snapshot"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

We have achieved
xenserver: volume snapshot and vm snapshot
vmware: volume snapshot and vm snapshot
KVM+NFS: volume snapshot and vm snapshot
kvm +ceph: Only support volume snapshots;

kvm+ceph primary storage, it is a very perfect com

[2022-01-06 22:47] Hudratronium commented on #5824
Hi @sureshanaparti
no i haven't as i actually don't have a environment on 4.15 / 4.15.1 availeable.

[2022-01-07 08:00] weizhouapache opened #5838 "new network offering for VPC tier does not have any supported services"
when I create network offering for vpc tiers, I checked some services (dhcp,dns,sourcenat,staticnat,etc), the offering was created successfully.
however, the offering does not have any supported services. ntwk_offering_service_map does not contain any record.

in API log, supportedservices is empty.

2022-01-07 07:44:34,442 DEBUG [c.c.a.ApiServlet] (qtp1748876332-2873:ctx-66612acb) (logid:6edc4a9d

[2022-01-07 08:01] weizhouapache commented on #5838
@shwstppr
could you please have a look at this issue ?

[2022-01-07 08:06] shwstppr commented on #5838
@weizhouapache will look into it

[2022-01-07 08:12] weizhouapache commented on #5838
`add vpc offering` fails with error `Request Failed (431)
Empty or null value provided for API arg: supportedservices`

[2022-01-07 08:40] weizhouapache commented on #5824
tested with 4.16, I cannot enable static nat

[code]

[2022-01-07 11:36] DaanHoogland commented on #5775
@slavkap is this an old issue or a regression?
I suggest #5841 as a solution but might be missing something. Can you test that?

[2022-01-07 11:40] slavkap commented on #5775
Hey @DaanHoogland, this PR seems to fix the problem. I'll test it, thank you!

[2022-01-07 12:56] GabrielBrascher opened #5842 "UI: Fix Locked "Override Root Disk Size" switch"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Once the lock

##### STEPS TO REPRODUCE

[code]

![image](https://user-images.githubusercontent.com/5025148/148546886-083ab3cd-6d15-47af-b682-b967a94237fb.png)

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]
![image](https:/

[2022-01-07 14:36] DaanHoogland commented on #5842
@GabrielBrascher i think this is fixed in 4.16, can you try?

[2022-01-07 14:46] GabrielBrascher commented on #5842
@DaanHoogland It still failed on a test I did on the main branch (4.17.0-snapshot).
Unless I am missing a specific commit from my recent build package/branch.

I remember I've fixed  an issue regarding the Root disk size not being presented correctly on the VM deployment at #5796
But this is a separate issue that still needs to be addressed.

[2022-01-07 17:07] DaanHoogland commented on #5842
ok, I tested in a 4.16 environment and couldn't reproduce. Of course this can be due to not understanding the scenario;
I added a constrained offering (maybe you can give me the specifics?)
I started the deploy wizard.
I changed to the constrained offering and the custom root size switch remained active.
I could change back to a standard offering as well, but that action seems mute, given the abov

[2022-01-08 03:12] rohityadavcloud commented on #5838
Fixed in https://github.com/apache/cloudstack/pull/5840

[2022-01-08 03:12] #5838 closed

[2022-01-08 03:28] rohityadavcloud commented on #5747
Fixed in https://github.com/apache/cloudstack/pull/5748

[2022-01-08 03:28] #5747 closed

[2022-01-10 07:06] sureshanaparti commented on #5531
Fixed in #5801

[2022-01-10 07:06] #5531 closed

[2022-01-10 09:09] GabrielBrascher commented on #5842
@DaanHoogland the issue appears only if there is at least one offering with the Root disk size set.

When the offering is selected, then the switch button for override the disk size should be blocked. the problem is that the button does not get back into the "unblocked" state once you choose another offering that does not set a root disk size.

Please let me know if I did not make me clear. I can

[2022-01-10 10:11] DaanHoogland commented on #5842
clear @GabrielBrascher I interpreted a offering with a constraint root-size (but not fixed) would already trigger the problem.
thanks

[2022-01-10 10:17] weizhouapache commented on #5461
@div8cn
I need some logs to investigate what triggered the volume expunging.
I suspect it is not caused by the restorevm process.

[2022-01-10 12:32] DaanHoogland commented on #5618
@adrianopaterlini, sorry to not come back sooner. I am now looking into this. You said you tested this in the online env, but I see both rick and sheldon as users in the same account.
I'm afraid I don't understand your user scenario.
- When you said switch domain, did you log of and log into andother domain?
- did the user move to the other account?

[2022-01-10 13:32] sureshanaparti commented on #5718
Fixed in #5726

[2022-01-10 13:32] #5718 closed

[2022-01-10 13:35] sureshanaparti commented on #5842
Fixed in #5843

[2022-01-10 13:35] #5842 closed

[2022-01-10 15:09] DaanHoogland commented on #5556
@Hudratronium I cannot reproduce this in 4.16. Can you try that please?

[2022-01-10 15:17] DaanHoogland commented on #5556
@Hudratronium your stack-trace shows:
[code]

do you have any juniper-contrail elements configured?

[2022-01-10 15:31] DaanHoogland commented on #5803
Hey @edikevich do you mean to say that the issue is
[code]

[2022-01-10 15:52] DaanHoogland commented on #5499
fixed again in #5658 (hope it stays fixed this time)

[2022-01-10 15:52] #5499 closed

[2022-01-10 16:03] edikevich commented on #5803
Hi. Not exactly. When pod is dedicated affinity group is created automatically by CS. Other steps are correct.

[2022-01-10 16:28] Hudratronium commented on #5556
Hi @DaanHoogland
no dont't have anything like juniper-contrail configured.

Seems like it is fixed with the last update. Was able to change the entries as expected.
Thanks for your work. And i will close this issue.

[2022-01-10 20:38] #5556 closed

[2022-01-11 06:50] sureshanaparti commented on #5775
Fixed in #5841

[2022-01-11 06:50] #5775 closed

[2022-01-11 06:53] sureshanaparti commented on #5824
Fixed in #5839

[2022-01-11 06:53] #5824 closed

[2022-01-11 07:33] shwstppr commented on #5724
@kricud are you sure about that this worked in the old UI. The error seen here comes from backend and I checked in 4.15.1.0 as well and the code is same - it doesn't allow non-root admins to update these settings,
https://github.com/apache/cloudstack/blob/4.15.1.0/server/src/main/java/com/cloud/vm/UserVmManagerImpl.java#L2574-L2583

[2022-01-11 09:26] sureshanaparti commented on #5743
Fixed in #5847

[2022-01-11 09:26] #5743 closed

[2022-01-11 10:14] shwstppr commented on #5711
@edikevich Error on adding user seems to be okay when the owner does not have an associated VPN. However, it should not add the account altogether.
I've create a PR (#5850 ) which should fix this behaviour.

[2022-01-11 13:54] kricud commented on #5724
@shwstppr ACS 4.15.2
![E1000ToVMxnet3_error](https://user-images.githubusercontent.com/30048481/148955298-d3fd03a3-cbe3-4afc-8292-56de440ebc0b.JPG)
From top:
First legacy UI
Second new UI

[2022-01-11 15:53] shwstppr commented on #5724
@kricud seems to be working okay in my testing for `nicAdapter` with domain admin on 4.15.2.0
![domain-admin](https://user-images.githubusercontent.com/153340/148975922-2a4b1270-9934-4f46-8ac0-4e0ae188e69f.gif)

[2022-01-11 16:25] sureshanaparti commented on #5724
@kricud @shwstppr Can you check the details set in the global settings: 'user.vm.denied.details' and 'user.vm.readonly.details'.

[2022-01-11 17:01] sureshanaparti commented on #5715
Fixed in #5849

[2022-01-11 17:01] #5715 closed

[2022-01-11 17:54] kricud commented on #5724
@sureshanaparti In global settings I have only user.vm.readonly.ui.details with value dataDiskController, rootDiskController. Don’t have user.vm.denied.details.

@shwstppr User admin has Role “Root Admin” Role Type “Admin” with these permissions it works.
Its not working if you have Account with Role “Domain Admin” Role Type “Domain Admin” and user created under this account cannot change nicAdapt

[2022-01-11 17:59] shwstppr commented on #5724
@kricud in the video I was first logged in as domain admin only. Please see initial few seconds. Later I logged in as root admin to show ACS version

[2022-01-11 18:09] adrianopaterlini commented on #5618
@DaanHoogland

In the case of SAML users, same user can belong to multiple accounts/domains, a combo box is loaded at the top to switch between domains, you don't need to log off.

![sheldon1](https://user-images.githubusercontent.com/15329040/148996418-fa785199-4d3a-4d11-b774-071196642307.png)

For example, if you login using Sheldon (Single Sign On tab), switch to rick account (saml domain), "do

[2022-01-11 18:44] rohityadavcloud commented on #5834
@pipo, while the initial config may not look optimal, by default, when you add host in CloudStack (using root user + password or ssh-public key based auth) libvirtd is reconfigured with TLS certificates from CloudStack's CA framework with listening/ports reconfigured on port 16514 on localhost. When making connection, the cloudstack-agent process talks to libvirtd over TLS/16514 (both for local-kv

[2022-01-12 08:04] sureshanaparti commented on #5640
Fixed in #5810

[2022-01-12 08:04] #5640 closed

[2022-01-12 08:22] sureshanaparti commented on #5707
Fixed in #5853

[2022-01-12 08:22] #5707 closed

[2022-01-12 08:56] berrange commented on #5834
If it is going to be reconfigured with TLS, why is it needed to first configure it with TCP ?  Why not just leave it using the local UNIX socket only until TLS is ready to be configured, rather than introducing this period of time (however short) when the host security is wide open to any malicious entity.

[2022-01-12 09:07] DaanHoogland commented on #5803
@edikevich can you add some error logs and preferably a stack trace. I am trying to reproduce this, but haven't succeeded yet. Mostly due to environment build.

[2022-01-12 09:17] DaanHoogland commented on #5618
I see @adrianopaterlini so the action on the dropdown should do some more work, clear.

[2022-01-12 09:20] kricud commented on #5724
@shwstppr Step by step how to reproduce it.
1. Install Windows Server from ISO
2. Hypervisor is Vmware
3. Install VMware Tools on VM
4. Reboot
5. By default in VMware nic adapter is E1000
6. Shutdown VM
7. Try change nic adapter to VMxnet3, get and get error in new UI
8. Try change nic adapter to VMxnet3 in old UI and its working.
![1](https://user-images.githubusercontent.com/30048481/149099133-5

[2022-01-12 09:35] edikevich commented on #5803
Hi. I don't have any errors in log. I see only that no suitable hosts found.

[2022-01-12 09:43] edikevich commented on #5803
Sorry. Have Error:

2022-01-12 12:42:14,559 INFO  [o.a.c.a.c.u.v.DeployVMCmd] (API-Job-Executor-17:ctx-10e86d4b job-3810 ctx-ed36cebb) (logid:7ebaa05f) com.cloud.exception.InsufficientServerCapacityException: Unable to create a deployment for VM instance {id: "334", name: "i-34-334-VM", uuid: "88d9976d-0b1a-4c78-a201-b6d153cf0e58", type="User"}Scope=interface com.cloud.dc.DataCenter; id=1
2022-01-

[2022-01-12 09:50] DaanHoogland commented on #5803
This message says that there is no deployment plan suitable, but above this message there should be more info on how this was tried, @edikevich . If you grep for 'job-3810' in the log you should get all the info related to the failure. Can you do that and see if there is more relevant info?
What I am looking for is:
Is the lack of host the capacity problem or something else? (most likely storage t

[2022-01-12 10:10] edikevich commented on #5803
2022-01-12 12:42:14,354 INFO  [o.a.c.f.j.i.AsyncJobMonitor] (API-Job-Executor-17:ctx-10e86d4b job-3810) (logid:0d4e47c6) Add job-3810 into job monitoring
2022-01-12 12:42:14,358 DEBUG [o.a.c.f.j.i.AsyncJobManagerImpl] (qtp239372207-1931187:ctx-e0fcca0e ctx-b49fa34b) (logid:ccaa1505) submit async job-3810, details: AsyncJobVO {id:3810, userId: 37, accountId: 34, instanceType: VirtualMachine, instan

[2022-01-12 10:15] utchoang commented on #5618
@DaanHoogland I did the test on QA but didn't see the same error, do you have the same problem as above @shwstppr ?
https://user-images.githubusercontent.com/13766648/149120981-2bae518e-c991-4e9d-af9e-434b00ada720.mp4

[2022-01-12 10:23] DaanHoogland commented on #5803
no, this is what we need to find the culprit in

[2022-01-12 10:31] DaanHoogland commented on #5803
@edikevich , Are you expecting the dedicated POD to be automatically choosen? this line says there is no POD chosen:
[code]
Are there any not-dedicated PODs in your environment? the following line says there are 2 POD that will be avoided.
[code]

the decision to not deploy is at the cluster level:
[code]
It looks like there is a tag on the offering that none of the (1) cluster(s) has so there is

[2022-01-12 10:48] edikevich commented on #5803
I have dedicated pod in my environment
![image](https://user-images.githubusercontent.com/42668237/149126295-f5ce6a66-0924-453f-86b4-c4b2cdde5321.png)

I created offering without tag before and had same result

[2022-01-12 12:54] DaanHoogland commented on #5803
I have recreated this scenario and the user can deploy a vm in the but the admin cannot. I think there is some extra environmental issue @edikevich .
That picture shows no netmask or gateway, can you add those? In my environment (which is a lab environment) , these have the same values as the main pod in the zone. If you have a real datacentre deployment you'd want to take more care about what you

[2022-01-12 12:58] edikevich commented on #5803
All our pods have different CIDRs. But all out hypervisords can see Management server. When I release dedicated Pod I can deploy VMs in this Pod.

[2022-01-12 14:08] DaanHoogland commented on #5803
Ok, than I have no clue left @edikevich . I have recreated it with KVM so it might be a Xen(CPng(8.2)) thing, though I doubt that is the case.

[2022-01-12 14:17] edikevich commented on #5803
Log when Compute Offering don't contains any tags

2022-01-12 17:14:30,364 INFO  [o.a.c.f.j.i.AsyncJobMonitor] (API-Job-Executor-24:ctx-3fefa540 job-3832) (logid:85ae8d9d) Add job-3832 into job monitoring
2022-01-12 17:14:30,368 DEBUG [o.a.c.f.j.i.AsyncJobManagerImpl] (qtp239372207-1939856:ctx-5eab9574 ctx-c6dff037) (logid:c28fe315) submit async job-3832, details: AsyncJobVO {id:3832, userId: 37,

[2022-01-12 14:22] edikevich commented on #5803
Can I ask you? When we dedicated Pod something change in host_pod_ref?

[2022-01-12 14:25] DaanHoogland commented on #5803
I don't think it does.

[2022-01-12 14:28] edikevich commented on #5803
Where in DB I can see dedication?

[2022-01-12 14:36] DaanHoogland commented on #5803
in the above you have
[code]
which basically means it's going to avoid both your pods I have not discovered why.

[2022-01-12 14:37] DaanHoogland commented on #5803
why do you want to see it in the DB? (i'd have to query, but what is the use?)

[2022-01-12 14:39] edikevich commented on #5803
MB I can see some anomaly there:)

[2022-01-12 14:44] edikevich commented on #5803
![image](https://user-images.githubusercontent.com/42668237/149162050-602fd1c9-146b-4771-867f-4d21700764f2.png)

[2022-01-12 14:48] DaanHoogland commented on #5803
ah, in my case it does contain the account id, that might be the culprit

[2022-01-12 14:51] Hudratronium commented on #5834
@rohityadavcloud
Reading through this topic reminded me, that maybe some of the documentation might be a bit "outdated" in regards of the functionality of the installation scripts / scripts running during the add-on process of the hosts?
As far as i experienced in my configurations (Ubunutu 20.04 for Hosts, KVM) i didn't need to configure libvirt anymore prior the installation of the CS Agent / ad

[2022-01-12 14:51] edikevich commented on #5803
But in one domain we can have many accounts

[2022-01-12 14:56] DaanHoogland commented on #5803
yes. i'll try that as well

[2022-01-12 15:10] DaanHoogland commented on #5803
I could still deploy in the pod if it was only dedicated to the domain.

[2022-01-12 15:34] DaanHoogland commented on #5618
@utchoang the point made by @adrianopaterlini is that
1. if you log in as user A then
2.  switch to user B, B having less rights,
3.  you still see the same items in the menu but accessing them gives errors
however
1. if you log in as user B
2. you don't see the menu item which you are allowed to (fine) but
3. if you switch to user A that does have the extra right
4. you still don't see the items

[2022-01-12 16:31] DaanHoogland commented on #5676
@msinhore can you explain what you expect? I tried both 4.15 and 4.14 and cannot see any limit configuration tab on accounts in either.

[2022-01-12 19:22] adrianopaterlini commented on #5618
@utchoang

Following 1-3 steps by @DaanHoogland

https://user-images.githubusercontent.com/15329040/149207567-e459b4f8-5594-423f-b2ea-1713426df4ee.mp4

[2022-01-13 02:18] nvazquez commented on #5550
@DaanHoogland is this still an issue or can be closed?

[2022-01-13 03:02] utchoang commented on #5618
@DaanHoogland cc @rohityadavcloud @shwstppr  I tried to check again, but I see the address returned after the successful login is changed. This makes it impossible for me to test successfully in my environment. Is there any way to change it?
![image](https://user-images.githubusercontent.com/13766648/149257980-b7f56573-3d6a-4cb8-9585-605fb086ead8.png)
![image](https://user-images.githubusercontent

[2022-01-13 06:36] edikevich commented on #5803
What I should check now? Maybe you need some more logs?

[2022-01-13 07:01] sureshanaparti commented on #5694
Fixed in #5828

[2022-01-13 07:01] #5694 closed

[2022-01-13 07:12] edikevich commented on #5803
I found the answer and I think it should not work like this:) When user deploys the VM he must select in advanced mode Affinity Group whith this domain! BUT! I think that Compute Offerings with Deployment planner equal ImplicitDedicationPlanner with strict policy must deploy VM in dedicated resources without this affinity group

[2022-01-13 09:07] DaanHoogland commented on #5550
closing

[2022-01-13 09:07] #5550 closed

[2022-01-13 09:18] DaanHoogland commented on #5618
@utchoang are you asking about the url/redirect? I think you would only need the user/account, would you?

[2022-01-13 09:36] utchoang commented on #5618
@DaanHoogland No, you can see my PR https://github.com/apache/cloudstack/pull/5855 to test the cases then I need the  redirect to the link http://qa.cloudstack.cloud:8080/client/pr/5855 after login successfully but now it is auto redirecting about http://primate-qa.cloudstack.cloud:8080. This caused my changes to not be applied.

[2022-01-13 09:37] DaanHoogland commented on #5618
Ah, i see now why. I'll try and build your PR locally later today. Hope it works like that.

[2022-01-13 09:42] DaanHoogland commented on #5803
Hi @edikevich , I'm not sure if I follow. Are you saying this is not an issue?

[2022-01-13 09:51] edikevich commented on #5803
I don't know:)
If user from domain try do deploy instance with CO with Deployment planner equal ImplicitDedicationPlanner with strict policy and DON'T choose Affinity Group deploy is failed.
If user from domain try do deploy instance with CO with Deployment planner equal FirstFitPlanner and choose Affinity Group deploy is passed.
If user from domain try do deploy instance with CO with Deployment p

[2022-01-13 10:24] shwstppr commented on #5676
@msinhore is this related to this view for editing account resource count?
![Screenshot from 2022-01-13 15-53-35](https://user-images.githubusercontent.com/153340/149312429-dc7f97f3-bb36-4ef6-a20d-715441289157.png)

[2022-01-13 10:38] shwstppr commented on #5676
@msinhore @DaanHoogland created PR #5858 to restore Configure limits tab in the UI for domain-admins. Please see if this fixes the issue.
Need to check if it was explicitly for some reason.

[2022-01-13 11:30] sureshanaparti commented on #5639
Fixed in #5653

[2022-01-13 11:30] #5639 closed

[2022-01-13 12:15] sureshanaparti commented on #5652
Fixed in #5663

[2022-01-13 12:15] #5652 closed

[2022-01-13 12:59] DaanHoogland commented on #5685
@sureshanaparti this is a known issue with the way we register guest osses. I think some work is underway on this but for this particular issue or this minor release the solution is to delete the old entry and re-add it afterwards.

[2022-01-13 13:08] DaanHoogland commented on #5676
fixed in #5858

[2022-01-13 13:08] #5676 closed

[2022-01-13 13:39] DaanHoogland commented on #5803
I finally reproduced the issue @edikevich \o/, looking for a fix.

[2022-01-13 13:53] adrianopaterlini commented on #5618
@utchoang @DaanHoogland

I did some testing and LGTM. It is just slow, but that is something being addressed already (https://github.com/apache/cloudstack/issues/5266)

(I have bypassed saml redirections, by first login in using http://primate-qa.cloudstack.cloud:8080/client/, and just after it manually going to http://primate-qa.cloudstack.cloud:8080/client/pr/5855/)

![pr-5855](https://user-imag

[2022-01-13 13:59] tungntvn23 commented on #4314
@rohityadavcloud this issue occurs with version 4.16.0

[2022-01-13 14:02] DaanHoogland commented on #5618
Good @adrianopaterlini thanks for testing this.

[2022-01-13 14:50] rohityadavcloud commented on #4314
cc @Pearl1594 @sureshanaparti @davidjumani @shwstppr

[2022-01-13 16:56] sureshanaparti commented on #5019
Hi @div8cn Can you confirm on your test results please. Thanks.

[2022-01-13 22:32] KuasarCloud opened #5860 "cloudstack api is not filtering project or account in usagerecord"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME
API UsageRecord

##### CLOUDSTACK VERSION
4.15.2

##### CONFIGURATION
Cloudstack Usage enabled => true

##### SUMMARY
When I try to bring the record usage of a project, nothing is happening. It brings me all records from all projects

##### STEPS TO REPRODUCE
1. Open cloudmonkey and type:

list usagerecords projectid=408271ae-fa1c-44e3-b8d7-50f

[2022-01-14 08:40] weizhouapache commented on #5860
@sureshanaparti  it seems to be a bug in 4.16.0.0

accountid is not set in lines below
https://github.com/apache/cloudstack/blob/4.16.0.0/server/src/main/java/com/cloud/usage/UsageServiceImpl.java#L260-L262

[2022-01-14 10:27] DaanHoogland commented on #5606
As there has been no counter, I'm closing this as undesirable.

[2022-01-14 10:27] #5606 closed

[2022-01-14 10:51] sureshanaparti commented on #5618
Fixed in #5855

[2022-01-14 10:51] #5618 closed

[2022-01-14 10:55] DaanHoogland opened #5864 "only the first POD is queried for clusters during addHost dialog"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2022-01-14 12:24] DaanHoogland commented on #5803
@edikevich I did a deep code dive and think I need to move this to 4.17, if at all we will change this behaviour.

The reason:
1. What if there are two dedicated PODs or even two dedicated resource pools, maybe even at different levels? This is not something that allows for the implicit choice of an affinity group on an explicitly dedicated resource group. We wouldn't know if both are valid or eve

[2022-01-14 13:46] DaanHoogland commented on #5860
In fact @KuasarCloud , if you don't give a domain with accountname you should get an exception/error message about it. Did you?

[2022-01-14 14:08] KuasarCloud commented on #5860
Hi Guys,

Yes I forgot to pass the domain in the example but when I do and the result is the same, I retrieve all usage records from all accountid/projectid.

BR

Ricardo P

From: dahn ***@***.***>
Reply-To: apache/cloudstack ***@***.***>
Date: Friday, 14 January 2022, 8:46 AM
To: apache/cloudstack ***@***.***>
Cc: oAuth ***@***.***>, Mention ***@***.***>
Subject: Re: [apache/cloudstack] cloudstac

[2022-01-14 14:17] DaanHoogland commented on #5860
@KuasarCloud are you able to verify a PR (#5866)? It should at least solve the project part of your problem.

[2022-01-15 15:51] KuasarCloud commented on #5860
I think the fix would work, thanks very much, if you have any release date would be wonderful

Atte,

Ricardo Pertuz

From: dahn ***@***.***>
Reply-To: apache/cloudstack ***@***.***>
Date: Friday, 14 January 2022, 9:17 AM
To: apache/cloudstack ***@***.***>
Cc: oAuth ***@***.***>, Mention ***@***.***>
Subject: Re: [apache/cloudstack] cloudstack api is not filtering project or account in usagerecord

[2022-01-15 18:32] alynio opened #5868 "Unable to start a VM due to insufficient capacity"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
[code]

##### SUMMARY
[code]
##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]
##### ACTUAL RESULTS
[code]

[2022-01-17 10:13] DaanHoogland commented on #5860
Do you mean to say, you cannot test a PR (and have to wait for a release) @KuasarCloud ?

I will test the code before merging but it would be nice if you can help with the test effort. At least to make sure your use-case works.

[2022-01-17 11:00] weizhouapache commented on #5868
@alynio
could you please share the configuration of physical networks ?
from the log, it looks the gues vlan is not configured correctly.
`
Jan 15 19:16:07 kvm.cloud java[49839]: com.cloud.exception.InsufficientVirtualNetworkCapacityException: Unable to allocate vnet as a part of network Ntwk[208|Guest|8] implement Scope=interface com.cloud.dc.DataCenter; id=2
`

ps: it looks you run all services

[2022-01-17 11:37] nvazquez commented on #5491
@Hudratronium sorry for the delay. You are right, I have now checked from a KVM host after attaching an ISO to a VM and also see it mounted as nfs4

[code]

Will check further on other environments

[2022-01-17 11:43] khamarshaikh commented on #4834
@nvazquez , @rohityadavcloud I wanted to check if this feature is still open , if yes I would like to contribute to it.

[2022-01-17 11:57] khamarshaikh commented on #4825
@harikrishna-patnala , is this feature still open ? If yes , i would like to contribute to it.

[2022-01-17 12:15] DaanHoogland commented on #5610
@MejdiB can you test this on latest, and update your ticket description if something is still missing, please?

[2022-01-17 12:44] KuasarCloud commented on #5860
Sorry I didn't understood. Just checked the  PR page and seems like working, I will do the test and come back to you

BR
________________________________
From: dahn ***@***.***>
Sent: Monday, January 17, 2022 5:14:04 AM
To: apache/cloudstack ***@***.***>
Cc: oAuth ***@***.***>; Mention ***@***.***>
Subject: Re: [apache/cloudstack] cloudstack api is not filtering project or account in usagerecord (

[2022-01-17 13:56] DaanHoogland commented on #3734
@div8cn can you check if PR #5762 met your requirements and prozaically describe remaining issues, please?

[2022-01-17 14:28] DaanHoogland commented on #5685
related to #3609

[2022-01-17 17:51] DaanHoogland commented on #5559
@Hudratronium can you give some clues as to which services are provided in the VPC and what the alerts are about.
I created a vpc without dns/dhcp/userdata and am trying to reproduce, but to no avail so far.

[2022-01-17 18:51] Hudratronium commented on #5559
Service Offerings of the VPC:

- Static NAT
- Portforwarding
- VPN
- NetworkACL
- SouceNAT

Checks that failed  (that's why i disabled them manually):
- dhcp check
- dns check

If i remember correctly, this was the case for both routers - as i deployed a redundant VPC.

[2022-01-17 19:57] Hudratronium commented on #5491
@nvazquez
Thanks for all your testing!
Currently i only have a nfs4.1 server availeable - which seems to work as expected. So it seems for me the problem is solved - either via the 4.16 Agent or some updated resourccess form ubuntu.
Maybe for your testing - as i had some issues with this:
When you deploy a 4.1nfs server in your setup is the mount-command still working without specifying a specific

[2022-01-18 05:50] sureshanaparti commented on #5617
Fixed in #5846

[2022-01-18 05:50] #5617 closed

[2022-01-18 09:05] DaanHoogland commented on #5559
@Hudratronium I've now a redundant VPC running with the same services but no alerts. The only difference is that I am running the latest, i.e. 4.16.0. If you have a change to reproduce it in a test environment, please try 4.16. I'll try out a 4.15.2 as well to see if I get any health check failures.

[2022-01-18 09:06] sureshanaparti commented on #5864
Fixed in #5869

[2022-01-18 09:06] #5864 closed

[2022-01-18 09:06] sureshanaparti commented on #5864
thanks @utchoang for fixing this issue.

[2022-01-18 09:23] DaanHoogland commented on #5610
@MejdiB closing this as
Fixed by #5871
please check if all your concerns are met.

[2022-01-18 09:23] #5610 closed

[2022-01-18 09:33] rohityadavcloud commented on #4834
Yes this is still open @khamarshaikh

[2022-01-18 09:34] #4696 closed

[2022-01-18 09:35] rohityadavcloud commented on #4803
@weizhouapache compared to our current noVNC, what are the pros/cons of this feature? (I would imagine people using rdp etc if they want sound etc support)

[2022-01-18 09:36] rohityadavcloud commented on #4825
cc @sureshanaparti you have a global settings re-mapping/categorisation PR, is this related to your PR, or this issue isn't needed anymore as it may be complex for a student project @harikrishna-patnala ?

[2022-01-18 10:21] weizhouapache commented on #4803
@rohityadavcloud
I thought that the SPICE has better performance than noVNC, esp on windows vms. However, as I know after I created this ticket, SPICE console does not have significant performance improvement than NoVNC console.

Let's close this ticket, and reopen if needed.

[2022-01-18 10:21] #4803 closed

[2022-01-18 10:40] sureshanaparti commented on #4825
@rohityadavcloud this is not related to global settings categorisation.

[2022-01-18 10:43] khamarshaikh commented on #4834
@rohityadavcloud , I am interested to work on it, is there any standard process to get the issue assigned ? Also this year GSOC is open for all ( including working professionals) , I would like to begin and start contributing to the community.

[2022-01-18 10:49] harikrishna-patnala commented on #4825
@rohityadavcloud, this is not related to @sureshanaparti 's work and I think this is not a complex one as it requires understanding only how to run marvin tests and a small wrapper around configuration framework.

[2022-01-18 11:43] rohityadavcloud commented on #4834
@borisstoyanov can you suggest/advise potential student @khamarshaikh

[2022-01-18 11:47] Hudratronium commented on #5559
Hi @DaanHoogland
i enabled the healthchecks on my 4.16 environment. Up till now no "false" alerts or anything.
Result for dhcp check: "All 0 VMs are present ind dhcphosts.txt" <- Which seems logial to me as the dhcp service is not deployed. :-D Same result for the dns check.

So up till now this seems working for me under 4.16. Lovely!

[2022-01-18 12:52] DaanHoogland commented on #5559
ok, closing now @Hudratronium . please reopen when you have further issues

[2022-01-18 12:52] #5559 closed

[2022-01-18 13:57] DaanHoogland commented on #5667
@weizhouapache , you probably have some extra requirements as for me both interfaces have throthling data:
[code]

[2022-01-18 16:23] kurushi9000 commented on #5553
@weizhouapache have you tested it with Netcaler ?

[2022-01-18 16:47] BenoitLair opened #5876 "Can't add Netscaler VPX"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
* API
* UI
* NETWORK PROVIDER

##### CLOUDSTACK VERSION
 * 4.16
 * 4.15.x

##### CONFIGURATION
* Advanced zone, physical network with Netscaler service provider in section Network Service Providers

##### OS / ENVIRONMENT
* Citrix VPX 13
* VPX 12
* VPX 11.0

##### SUMMARY
* Error when adding Netscaler VPX to an advanced zone

##### STEPS TO REPR

[2022-01-18 17:21] kurushi9000 commented on #5876
In plugins/network-elements/netscaler/src/main/java/com/cloud/network/resource/NetscalerResource.java

`if (_deviceName.equalsIgnoreCase("NetscalerMPXLoadBalancer") && nsHw.get_hwdescription().contains("MPX") ||
                            _deviceName.equalsIgnoreCase("NetscalerVPXLoadBalancer") && nsHw.get_hwdescription().contains("NetScaler Virtual Appliance")) {
                        return;

[2022-01-18 19:36] weizhouapache commented on #5553
@kurushi9000 no

[2022-01-19 02:21] nvazquez commented on #5491
Great to know @Hudratronium, in my setup the mount command works without specifying a version, however it picks up version 4.2 as the default version and the command succeeds

[code]

Also tried with the specific version 4.1 and also succeeds:

[code]

One additional question: the original issue was reported on 4.15.2, is your NFS server now running properly on the same CloudStack version or have

[2022-01-19 07:24] weizhouapache commented on #5667
@DaanHoogland
yes, you are right.
I checked it just now, the second network is created from a new network offering without network rate.

global settings:
network.throttling.rate = 200
vm.network.throttling.rate = 200

[2022-01-19 07:36] weizhouapache opened #5877 "vmware: disk controller "pvscsi" is not applied on scsiX.virtualDev"
in vmx file, the scsiX.virtualDev is not changed to "pvscsi" when root and data disk controller are set to "pvscsi"

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

By default, the scsiX.virtualDev is "lsilogic".
when I set root and data disk controller to "pvscsi", I expect that the scsiX.

[2022-01-19 08:19] rohityadavcloud commented on #5877
@weizhouapache @sureshanaparti let's check VMwareResourceBase, it might be a historic limitation that under some circumstance controllers are not always added as configured in the template/disk controller properties.

[2022-01-19 08:20] rohityadavcloud commented on #5876
Thanks @kurushi9000 for reporting, the community doesn't have access to netscaler device and the old netscaler plugin isn't maintained for years - you should contact the vendor (Citrix) to help maintain the network plugin or get them to sponsor test infrastructure for the same.

[2022-01-19 08:23] DaanHoogland commented on #5667
ok, @weizhouapache ,
So if i understand correctly, this is still a valid bug but the issue is that: the throttling values are not taken from global settings are not set on the net-offer.
is that correct?

[2022-01-19 10:55] weizhouapache commented on #5667
I was not able to reproduce the issue.
closing this ticket

[2022-01-19 10:55] #5667 closed

[2022-01-19 11:31] Hudratronium commented on #5491
@nvazquez
I upgraded to 4.16 several weeks ago. So i can't say if my original problem is solved under 4.15.2 (sadly).

[2022-01-19 11:38] sureshanaparti commented on #5491
@Hudratronium So, you couldn't reproduce this issue in 4.16.0 (after upgrade)?

[2022-01-19 11:42] Hudratronium commented on #5491
@sureshanaparti
yes - i couldn't reproduce this after the update.

[2022-01-19 11:43] sureshanaparti commented on #5491
thanks for the confirmation @Hudratronium

[2022-01-19 14:10] kurushi9000 commented on #5876
Hello @rohityadavcloud , i tested creating a new account on citrix.com and saw Vpx is free and available for downloading
Perhaps this way, the community could access the appliance ?

[2022-01-19 14:16] DaanHoogland commented on #5781
@StepBee, would this be a reasonable implementation for you:
[code]
I suspect there is other implementation possibilities, so let me know if you see some more bears on the road ;)

[2022-01-19 14:57] StepBee commented on #5781
@DaanHoogland thanks for taking care of this issue and thinking about an easy solution.

Indeed, refusing to create a user based on a role with more rights than the current user would be an easy and, from my perspective, satisfying solution.
Maybe as a bonus there is a chance of not even displaying such roles on the webui when creating a new user?

[2022-01-19 14:57] kurushi9000 commented on #5876
I have tested on VPX 13 freemium
Now i have tested on VPX 11.0 licensed and it returns : "Failed to log in to Netscaler device at a.b.c.d due to Certificates do not conform to algorithm constraints"

[2022-01-19 15:01] alynio commented on #5868
I have made same diagnostics and and find out:
1. connection from systemvm:

2. next

3. next

4. again test

5. check routes

Any idea why it dosn't work correctly?

[2022-01-19 15:10] DaanHoogland commented on #5781
@StepBee , I think that the algorithm for checking such escalation happening is not trivial; There is deny and allow to check for each entry, but also wildcards are allowed. I think for listing roles this would/may be a bit much given we have 600+ API by now.
we could just iterate over all API and do a check for the caller to se if they are allowed, but if the list is more than the default eight r

[2022-01-19 16:10] weizhouapache commented on #5868
is `192.168.0.252` your management server ip ?

please check the firewall rules on mgmt server and v-21-VM.
please upload the result of command `iptables-save` if you need help.

[2022-01-20 01:46] nvazquez commented on #5491
Thanks @Hudratronium closing the issue, please reopen it in case it is hit again

[2022-01-20 01:46] #5491 closed

[2022-01-20 06:48] neogismm commented on #4813
Hello community. I wanted to know if the issue is still open as it's labelled for GSOC 21. I'm looking forward to contribute to ACS as a mentee in GSOC 22.
Thanks.

[2022-01-20 06:51] rohityadavcloud commented on #4813
This is already addressed @neogismm in the last gsoc21. I'll close this, as the PR is open.

[2022-01-20 06:51] #4813 closed

[2022-01-20 06:52] rohityadavcloud commented on #5196
Closing this as we've a PR, and this may cause confusion for student looking for gsoc ideas.

[2022-01-20 06:52] #5196 closed

[2022-01-20 06:53] rohityadavcloud commented on #4818
Closing this as we've a PR, and this may cause confusion for student looking for gsoc ideas.

[2022-01-20 06:53] #4818 closed

[2022-01-20 06:53] rohityadavcloud commented on #4814
Closing this as we've a PR, and this may cause confusion for student looking for gsoc ideas.

[2022-01-20 06:53] #4814 closed

[2022-01-20 07:08] edikevich commented on #5803
HI @DaanHoogland
Can I ask you to look at one thing? Root Admin can't migrate VM between host in dedicated Pod. I think is very useful feature for host maintenance.

[2022-01-20 07:37] sureshanaparti commented on #5877
@rohityadavcloud Correct, pvscsi controller is bypassed to use lsilogic controller when the support for different scsi controller types was introduced. It seems the vmdk property "ddb.adapterType" is not properly set for pvscsi controller, and also it is not supported for virtual hardware version < 7. May be, we have to re-visit it and check whether the limitation still exists or not.

https://git

[2022-01-20 07:40] sureshanaparti commented on #5877
Hi @weizhouapache Have you noticed any logs indicating 'pvscsi' controller is bypassed to use 'lsilogic' controller?

[2022-01-20 07:51] sureshanaparti commented on #5724
Hi @kricud Can you try with API/cmk update virtualmachine. Also, please share the API calls (from browser developer tools) from old and new UI.

[2022-01-20 08:03] sureshanaparti commented on #5461
Hi @div8cn, the volume state description is fixed in #5833, and this behavior is as expected. If you still see any issue, please reopen with details (reproduce steps and logs). Thanks.

[2022-01-20 08:03] #5461 closed

[2022-01-20 08:07] sureshanaparti commented on #5019
Hi @div8cn Any update on the test results.

[2022-01-20 08:09] sureshanaparti commented on #3734
Hi @div8cn please confirm, thanks.

[2022-01-20 08:20] rohityadavcloud commented on #5781
Thanks for reporting this @StepBee - generally, when there's a domain admin account we assume the typical use-case is in an enterprise where the domain admin is privileged in some way. But we should prevent and ensure a role can't create account with roles more than their own role priviledge.

[2022-01-20 08:40] sureshanaparti commented on #5627
Fixed in #5844

[2022-01-20 08:40] #5627 closed

[2022-01-20 08:45] StepBee commented on #5781
@rohityadavcloud i agree.
In my case we have a multi-tenant cloud platform and customers with domain admin privilege for their customer-domain to be able to create users/accounts, but they should not be able to create for example Service Offerings, as our customers are not aware of the required host / storage tags.
Thats why i tried to configure a domain admin for customers, with carefully restric

[2022-01-20 13:51] DaanHoogland commented on #5803
@edikevich I don;t understand, please describe in more detail in a new ticket?

[2022-01-20 14:18] edikevich commented on #5803
@DaanHoogland I think better in this becouse it related to this issue I think.

Dedicate Pod. Pod contains cluster with 3 hosts for example. Root Admin wants to put one host into maintenance mode (hardware or software issue). Root Admin wants migrate all VMs from "broken" host to some specific host.
![image](https://user-images.githubusercontent.com/42668237/150355413-af135433-9dc7-4675-b8a2-508c3

[2022-01-20 15:34] weizhouapache commented on #5877
@sureshanaparti @rohityadavcloud
no, I did not notice such logs.
I have investigated the issue and found that cloudstack does not update existing disk.

https://github.com/apache/cloudstack/blob/4.16.0.0/plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java#L1808-L1817

the workaround is
(1) create a vm, but not start it
(2) update vm settings, set root

[2022-01-20 16:15] DaanHoogland opened #5883 "[UI] async jobs from UI cannot be executed in parallel safely"
When you execute for instance a delete and than another delete, you might end up deleting the worng item. This happens when the first delete completes and teh second is fired a fragment of a second later. The item choosen to delete will default to item 0 after refresh. If another item was intended this is not honoured and the delete is executed regardless.

##### ISSUE TYPE

 * Bug Report

##### C

[2022-01-21 03:25] utchoang commented on #5883
@DaanHoogland I have checked and it looks like the results returned after the API query are mixed compared to the original time. I think the problem comes from ordering in the returned result and not from the UI

[2022-01-21 05:10] khamarshaikh commented on #4834
@borisstoyanov @rohityadavcloud  I am trying to setup the development environment on mac OS , is there any documentation for it ? Currently I see only for CentOS

[2022-01-21 05:16] rohityadavcloud commented on #4834
Try https://github.com/shapeblue/hackerbook @khamarshaikh

[2022-01-21 06:47] DaanHoogland commented on #5883
Sorry, but Ii cannot accept that argument @utchoang. The delete is based on UUID. The user doesn't see that UUID. If the UI decides to delete another item, it is because of a race condition in the UI. It should not be based on a list other than what the user saw when issuing the command.

[2022-01-21 07:00] utchoang commented on #5883
@DaanHoogland Sorry, maybe I'm misunderstanding what you mean. I will test it again following the steps.

[2022-01-21 08:31] utchoang commented on #5883
@DaanHoogland It is true that I misunderstood your problem. This issue can occur for other similar actions that use custom components.

[2022-01-21 13:08] marcinpakula opened #5885 "Destroy instance - difference between list of VMs and inside VM details"
##### ISSUE TYPE

 * Bug Report
 * Improvement Request
 * Enhancement Request
 * Feature Idea
 * Documentation Report
 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]
Destroy instance's options on form - list of VMs:
![1

[2022-01-21 19:06] nvazquez commented on #5695
Hi @edikevich can you try the following steps?

- Stop VM
- Go to Settings -> Edit the existing platform setting and add the following `;cores-per-socket:2`
- Start VM
<img width="961" alt="Screen Shot 2022-01-21 at 16 04 16" src="https://user-images.githubusercontent.com/5295080/150585303-b40663ff-c564-48f2-8bab-f5b6760faa15.png">

After that I could verify the param was set, with the following c

[2022-01-21 19:26] edikevich commented on #5695
Hi @nvazquez
Yes, this is works!

[2022-01-22 01:44] nvazquez commented on #5695
Thanks for verifying @edikevich
@DaanHoogland @sureshanaparti do you think applying the setting ‘cpu.corespersocket’ should behave as the workaround in the ‘plarform’ setting?

[2022-01-23 08:10] kricud commented on #5724
@sureshanaparti From CMK it works

![11](https://user-images.githubusercontent.com/30048481/150669997-1c63a869-b140-4a62-b7d3-2afad979c78b.png)
![22](https://user-images.githubusercontent.com/30048481/150669998-cf14bf0b-65e4-4ca7-910c-6d2739e50838.png)
![33](https://user-images.githubusercontent.com/30048481/150669999-b97fb76c-9a2f-48ec-9014-349a9b9a36b7.png)

[2022-01-24 07:17] utchoang commented on #5885
@marcinpakula Did you test this issue in the 4.16 version?

[2022-01-24 07:39] sureshanaparti commented on #5724
Hi @kricud Noticed the read-only detail '_rootDiskController_' is passed in the updateVirtualMachine API call from your tests, due to which API fails. I tried the same in my env, and couldn't reproduce it.

UI filters the read-only details before calling the API, but in your case the read-only detail '_rootDiskController_ exists in the call. Can you clear the browser cache and retry? Any custom UI

[2022-01-24 07:57] sureshanaparti commented on #5885
Hi @utchoang I checked with the latest 4.16, it seems the 'Data Volumes to be deleted' option is not shown in the Destroy Instance form invoked from the VMs list page. Can you check this. Thanks.

[2022-01-24 08:07] utchoang commented on #5885
@sureshanaparti cc @shwstppr @Pearl1594 In version 4.16, this form serves to multiple destroy the VM. If you need a volume option, you will need to add an option corresponding to each selected VM?
![image](https://user-images.githubusercontent.com/13766648/150744473-f37a48aa-546a-4ff8-9b03-ed46d2808805.png)

[2022-01-24 08:15] shwstppr commented on #5885
@utchoang ideally, it would be nice to have a selection for each VM. Maybe a new column to select list the selected volumes and button to open a new popup for selection in each row.
A simplistic approach can be showing volume selection like before only when a single VM is selected for destroy.
This is just my opinion :)

[2022-01-24 08:30] DaanHoogland commented on #5695
yes , @nvazquez . But would that mean that the value is set twice? once as separate setting and once as a part of `platform`settings? I don't think that is desirable. How would the user control this?
intuitively, i'd expect `platform` to be read-only and always composed of separate parameters. Or alternatively to be synced back and forth to the individual parameters.

[2022-01-24 08:43] DaanHoogland opened #5888 "confusing error message on successful deployment"
password message shows as error:
![image](https://user-images.githubusercontent.com/2486961/150749140-d8e5b67c-0fd3-48f4-be5e-02ba7fcf0125.png)

I am not sure how this changed, but it is a bit confusing to have an initial password being desplayed in an error message after a successful deployment and as success report .

##### ISSUE TYPE

 * Bug Report
 * Improvement Request
 * Enhancement Request

[2022-01-24 08:48] kricud commented on #5724
@sureshanaparti Cache reset is not helping
![11](https://user-images.githubusercontent.com/30048481/150750425-af270e6b-8656-4acb-9fec-8b9ba56926ad.png)
g

[2022-01-24 08:54] shwstppr commented on #5724
@kricud I've created a PR (https://github.com/apache/cloudstack/pull/5887) to fix the issue. It seems UI was not filtering readonly details

[2022-01-24 11:35] sureshanaparti commented on #5888
Fixed in #5889

[2022-01-24 11:35] #5888 closed

[2022-01-24 12:16] sureshanaparti commented on #5695
@nvazquez When the `platform` setting exists,  `cpu.corespersocket` setting is ignored. Will this work if we set _cores-per-socket_ from the  `cpu.corespersocket` setting in the platform irrespective of `platform` setting.

https://github.com/apache/cloudstack/blob/97d6cd50a05e06c532ae970d3a2ab737664f8b5f/plugins/hypervisors/xenserver/src/main/java/com/cloud/hypervisor/xenserver/resource/CitrixRes

[2022-01-24 14:27] weizhouapache opened #5890 "Cannot add extra public nics to VPC VR"
when acquire a public IP in additional public Ip range in VPC, and create port forwarding rule, it failed with following error logs

[code]

(2cd53639-233b-4bc2-b5bd-19751834ab9e is the uuid of Public network with id=200)

- steps to reproduce the issue

(1) create VPC
(2) add additional public ip range
(3) acquire a public IP in new ip range
(4) create port forwarding rule (or enable static nat,

[2022-01-24 14:27] weizhouapache commented on #5890
@sureshanaparti @DaanHoogland
found a regress issue in main (should in 4.16 as well). add it to 4.16

[2022-01-24 15:46] GutoVeronezi opened #5891 "Quota: custom tariffs"
##### ISSUE TYPE
 * Enhancement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
4.16/main

##### SUMMARY

This spec changes the Cloudstack's Quota Plugin to allow operators to customize tariffs based on characteristics of the billed resources.

---

# Table of Contents
- [Problem description](#problem-description)
   - [Current workflows](#problem-description--current-workflows)

[2022-01-24 18:28] #5662 closed

[2022-01-25 07:44] tsinik-dw opened #5894 "Xen/XCP-NG Inter-cluster VM migration"
##### ISSUE TYPE

 * Bug Report
 * Improvement Request
 * Enhancement Request

##### COMPONENT NAME

API

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

ACS 4.15.2
1 Zone
Cluster A: Two Xenserver 7.0 hosts
Cluster B: Two Xenserver 7.0 hosts
Cluster C: Two XCP-NG 8.2 hosts

Each Cluster has each own NFS primary storage

##### OS / ENVIRONMENT

VM-A1, on Cluster A,  has 1 ROOT disk  on NFS P

[2022-01-25 07:51] shwstppr commented on #5894
@tsinik-dw based on the concerning code, this should be fixed in the 4.16.0.0 release. Is it possible for you to test that?

[2022-01-25 08:00] tsinik-dw commented on #5894
@shwstppr Sure, it is possible!  I will test and report back here when ready.

[2022-01-25 13:33] DaanHoogland opened #5895 "Destroying SSVM reported to have failed, while it actually succeeded"
while destroying a system VM (ssvm in this case) it is reported to have failed, while it actually succeeded,

![image](https://user-images.githubusercontent.com/2486961/150986144-11be44ee-6e04-4bb4-a521-720812e9c40b.png)

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPROD

[2022-01-25 16:59] DaanHoogland commented on #5891
interesting work @GutoVeronezi , nice.

[2022-01-25 17:12] jack99trade opened #5897 "Add Network : Network Offering Drop down is not showing "Offering for Isolated networks with no Source Nat service ""
##### ISSUE TYPE
 * Other

##### COMPONENT NAME
UI

##### CLOUDSTACK VERSION
4.16

##### CONFIGURATION
advanced networking

##### OS / ENVIRONMENT
Centos7.9

##### SUMMARY
Not able to get list of Network Offerings (only Source-Nat service offering is displayed ) when I try to create Isolated Guest Network.
I am looking to create Guest isolated Network from "Isolated networks with no Source Nat ser

[2022-01-25 17:13] Yashikaone commented on #4956
Hello, I am Yashika Sarkar and I am new to open source but since ACS projects(2021) interests me I was going through the issues and I came across title **"Optioinal chainging**", I am not sure if it's an error but shouldn't it be optional chaining?
#4956
Thank you.

[2022-01-25 17:20] rohityadavcloud commented on #4956
cc @borisstoyanov

[2022-01-26 06:09] sureshanaparti commented on #5808
Fixed in #5861

[2022-01-26 06:09] #5808 closed

[2022-01-26 07:13] tsinik-dw commented on #5894
@shwstppr I checked the same scenario on ACS 4.16.0 and it worked! This issue can be considered as closed.

[2022-01-26 07:17] sureshanaparti commented on #5894
Thanks for the update @tsinik-dw cc @shwstppr

[2022-01-26 07:17] #5894 closed

[2022-01-26 07:22] weizhouapache commented on #5897
@jack99trade @sureshanaparti
This seems like a bug with UI.
root admin and domain admin should be able to create networks without sourcenat , but normal users cannot (see #5844 )

[2022-01-26 07:30] sureshanaparti commented on #5897
agree @weizhouapache, if normal users can create isolated networks without source nat, then UI has to be updated to show the offerings without source nat (whatever the normal users are permitted).

[2022-01-26 09:20] sureshanaparti commented on #5895
@DaanHoogland some logs here might be helpful to check what is the issue.

[2022-01-26 09:39] DaanHoogland commented on #5895
yes, of course. I was to busy on other things to give this much attention. I don't think it has high severity hence I just left it here as is.

[2022-01-26 10:21] jack99trade commented on #5897
@sureshanaparti  Yeap agree with you.  is it possible for me to enable this locally on my test setup? maybe change some files.  I'm not sure which file to change tho.

[2022-01-26 10:58] sureshanaparti commented on #5897
May be, remove this line from code (then all offerings without source nat are shown) and access the UI.
https://github.com/apache/cloudstack/blob/982eef202ff98e484c4d562277371ca33e7661a2/ui/src/views/network/CreateIsolatedNetworkForm.vue#L347

[2022-01-26 13:11] jack99trade commented on #5897
@sureshanaparti thanks .. will try this

[2022-01-26 20:20] kalina-p commented on #5240
I have a similar problem and I have run out of ideas. Version 4.16

all based on the suse distribution.

I get an error while creating the machine. There is no longer any idea what to do wrong. Please help

Attached the log
[cloudstack-log.txt](https://github.com/apache/cloudstack/files/7945284/cloudstack-log.txt)

[2022-01-27 05:15] slavkap commented on #5240
Hi @kalina-p, can you also share the log from the agent and the versions of qemu/libvirt?

[2022-01-27 05:35] sureshanaparti commented on #5883
Fixed in #5884

[2022-01-27 05:35] #5883 closed

[2022-01-27 05:40] sureshanaparti commented on #5885
Fixed in #5893

[2022-01-27 05:40] #5885 closed

[2022-01-27 08:22] sureshanaparti commented on #5897
@jack99trade @utchoang As per the changes in PR #5844, normal users can only create isolated networks with source nat service, so UI should only show the network offerings with source nat for the normal users.

[2022-01-27 09:30] jack99trade commented on #5897
@sureshanaparti  imho if admin has created a network offering and enabled it for users with irrespective of the services selected , should be enabled for user selection in dropdown while creating guest network,  it is not practical to make everyone Admin.

[2022-01-27 09:38] #3561 closed

[2022-01-27 10:29] onitake commented on #3561
Thanks for fixing! :clap:

[2022-01-27 12:43] sureshanaparti commented on #5897
Hi @jack99trade I'm not sure why it is not allowed for normal users. @weizhouapache Can you confirm the behavior and any reason why the isolated networks without source nat is not allowed for normal users?

[2022-01-27 13:00] weizhouapache commented on #5897
@sureshanaparti @jack99trade
the changes were added more than 10 years ago , even before it was contributed to apache foundation.

https://github.com/apache/cloudstack/commit/7aab227b37ac47e0267894e42da4c4f3df48ddc9#diff-87cb51214e148f240e29cf09d67b62f57e7d897917a88b8ad84ef9988ca23a92R1807

as I understand it is why only isolated network with source nat can be created on UI (and also legacy UI)
to

[2022-01-27 13:08] sureshanaparti commented on #5897
@weizhouapache May be, this has to be discussed with wider audience and take their opinions / feedback.

@GabrielBrascher @rohityadavcloud @DaanHoogland @svenvogel @nvazquez @NuxRo @andrijapanicsb and others, Please post you thoughts on this please. Thanks.

[2022-01-27 13:36] DaanHoogland commented on #5897
I don't see an issue, except maybe lack of functionality for a user. Why would a user want a network without sourcenat? what would they do in it? no access to internet from VMs they create in it...?
I have no issue with allowing it, you might want to have a network with only static nat maybe, but otherwise it would be completely useless.
@weizhouapache maybe the restriction was added before static

[2022-01-27 13:49] kalina-p commented on #5240
Hello

Sure

that is my kvm host:

cs-kvm:~ # libvirtd --version
libvirtd (libvirt) 7.1.0

cs-kvm:~ # lscpu | egrep 'Model name|Thread|CPU\(s\)'
CPU(s):                          10
On-line CPU(s) list:             0-9
Thread(s) per core:              1
Model name:                      Intel(R) Xeon(R) CPU           X5670  @ 2.93GHz

cs-kvm:~ # free -g
              total        used        free

[2022-01-27 15:23] kalina-p commented on #5240
ok, problem solved.
changed in kvm /etc/cloudstack/agent/agent.properties file lines:
from
guest.cpu.mode=custom|host-model|host-passthrough
to
guest.cpu.mode=host-passthrough
and removed
guest.cpu.model=from /usr/share/libvirt/cpu_map.xml and
guest.cpu.features=vmx ept aes smx mmx ht

now worked well.

Many thanks for help me

[2022-01-28 04:21] sureshanaparti commented on #3047
Fixed in #5900

[2022-01-28 04:21] #3047 closed

[2022-01-28 06:43] jack99trade commented on #5897
hi @DaanHoogland ,   There are some scenarios where User just want IP connectivity between machines and all Machines default route is set to Internal Gateway(Firewall Instance with Public IP) and able to use Internet. These all machines are in Cluster and have multiple Nics  , if all use Source Nat based offering then lot of public ips and system vm routers are consumed.  if option is given to use

[2022-01-28 08:54] sureshanaparti opened #5906 "Allow upload volume with custom size"
User should able to specify custom size while uploading a volume.

##### ISSUE TYPE

 * Enhancement Request

##### COMPONENT NAME

[code]

##### SUMMARY

Allow user to specify custom size while uploading, and resize the volume that is uploaded with the custom size (when the size specified is more than the uploaded volume size).

[2022-01-28 09:07] sureshanaparti commented on #5868
Hi @alynio Can you check / share these details please.

[2022-01-28 09:16] sureshanaparti commented on #5895
@DaanHoogland It seems MS couldn't find the host entry for secondary storage VM after expunging, and so it's returned as failed.

[2022-01-28 09:58] weizhouapache commented on #5716
I had some discussion and investigation with @harikrishna-patnala

when router.extra.public.nics is not 0 and vmware.systemvm.nic.device.type is set to "Vmxnet3" , the network VR will have more than 3 nics: 3 (guest, linklocal, source nat) + router.extra.public.nics (for extra public ip ranges). Therefore it will hit the problem which is not fixed by vmware for many years: the nic order inside VR

[2022-01-28 10:01] weizhouapache commented on #5716
Another issue we found in our testing is, cloudstack VR always use E1000 nic controller if systemvm template has deploy_as_is =1. see code below

https://github.com/apache/cloudstack/blob/44c08b5acc598972b4f0af576ffdea4e2447cb41/plugins/hypervisors/vmware/src/main/java/com/cloud/hypervisor/vmware/resource/VmwareResource.java#L2357-L2364

I checked all platforms, the template SystemVM Template (vSp

[2022-01-28 10:48] DaanHoogland commented on #3734
closing this @div8cn , please reopen or create a new one, would you desire more improvements.

[2022-01-28 10:48] #3734 closed

[2022-01-28 11:10] DaanHoogland commented on #5906
@sureshanaparti good feature, but do we scan for the current size first and set that as minimum? and how to hande the error situation?
anyway this is for 4.17, right?

[2022-01-28 11:31] sureshanaparti commented on #5906
@DaanHoogland correct, the volume's current size would be the minimum size.

[2022-01-28 14:24] Yashikaone commented on #4956
@utchoang  Hello, I have come across certain lines of codes where optional chaining may be used .
Please let me know if it is okay to modify them or not
These are the screenshots-
![Screenshot (68)](https://user-images.githubusercontent.com/65132044/151562718-a99f7aed-cc35-43df-812f-73e414385822.png) last line
![Screenshot (69)](https://user-images.githubusercontent.com/65132044/151562961-0ff6d039

[2022-01-31 08:20] rohityadavcloud commented on #5019
Tested this, couldn't reproduce this against 4.16.0:
[code]

[2022-01-31 08:20] rohityadavcloud commented on #5019
@div8cn pl reopen if you still are able to reproduce this. Based on comment and reproduction attempts by Gabriel and me, I'll close this as it doesn't appear an issue now.

[2022-01-31 08:20] #5019 closed

[2022-01-31 08:26] rohityadavcloud commented on #5728
Closing this issue, we've a PR.

[2022-01-31 08:26] #5728 closed

[2022-01-31 10:32] nvazquez commented on #5716
@weizhouapache I have checked the codebase and it seems the auto-upgrade system VM mechanism sets it to true for VMware (https://github.com/apache/cloudstack/blob/main/engine/schema/src/main/java/com/cloud/upgrade/SystemVmTemplateRegistration.java#L484, https://github.com/apache/cloudstack/blob/main/engine/schema/src/main/java/com/cloud/upgrade/SystemVmTemplateRegistration.java#L816 and https://gi

[2022-01-31 10:35] Pearl1594 commented on #5716
@nvazquez @weizhouapache yes, this was identified and has been fixed with #5863. With that PR we no longer enforce the systemVM template to be registered as deploy-as-is (by setting the flag to true in the upgrade path).

[2022-01-31 11:50] sureshanaparti commented on #5724
Fixed in #5887

[2022-01-31 11:50] #5724 closed

[2022-01-31 12:19] sureshanaparti commented on #5897
@jack99trade  As admins are allowed to create network without source nat, for now it would be good to fix the UI to show offerings without source nat for admin only. The users restriction for network without source nat can be addressed at later release (as a improvement if needed, based on the consensus).

[2022-01-31 12:30] sureshanaparti commented on #5615
Fixed in #5873

[2022-01-31 12:30] #5615 closed

[2022-01-31 12:42] Pearl1594 opened #5913 "Support setting boot parameter via template settings"
##### ISSUE TYPE

 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When a template is configured with UEFI setting - UEFI=secure and a VM is deployed with the template, the boot parameters passed via the template settings does not take effect on the first boot. However, powering off the VM and restar

[2022-01-31 13:00] DaanHoogland commented on #5913
@Pearl1594 this warrants a discussion on the functionality; if it is a deploy-as-is template, the contents of the template should be honoured. I.E. it should not be altered during initial instantiation. Altering it after that no longer has anything to do with the template and is ok, afaiac.
We should either forbid altering parameters on a deploy as is template or make very explicit what is going o

[2022-01-31 13:35] sureshanaparti commented on #5890
Fixed in #5896

[2022-01-31 13:35] #5890 closed

[2022-02-01 06:56] tsinik-dw opened #5915 "Xenserver/XCP Volume Migration - Non-managed (NFS) <--> Managed (Solidfire) storage"
##### ISSUE TYPE

 * Bug Report
 * Improvement Request
 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

ACS 4.16.0
1 Zone
Cluster A: Two Xenserver 7.0 hosts
Cluster B: Two XCP-NG 8.2 hosts

Each Cluster has each own NFS primary storage (non-managed storage)
There is a Zone-wide Solidfire Storage (managed storage)

##### OS / ENVIRONMENT

[2022-02-01 07:01] jack99trade commented on #5897
Hi @sureshanaparti  Since Users are already able to create Networks (With and Without Source Nat) using APIs.  Can we allow from GUI as well?  Or is there any Role which we can assign to User in RBAC, which shows them all offerings?

[2022-02-01 07:02] tsinik-dw opened #5916 "Xenserver/XCP-NG Attach Volume on non-managed storage (NFS) on VM with ROOT disk on managed (Solidfire) storage"
##### ISSUE TYPE

 * Bug Report
 * Improvement Request
 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

ACS 4.16.0
1 Zone
Cluster A: Two Xenserver 7.0 hosts
Cluster B: Two XCP-NG 8.2 hosts

Each Cluster has each own NFS primary storage
There is a Zone-wide Solidfire Storage

##### OS / ENVIRONMENT

VM-A1, on Cluster A,  has 1 ROOT disk on

[2022-02-01 07:13] jack99trade commented on #5897
Hi @sureshanaparti Since Users are already able to create Networks (With and Without Source Nat) using APIs. Would it be possible to enable the listing of all networks.  correct me if I am wrong , but if user is able to create the network using API , then if they see the offering listed then they should be able to create from GUI as well right away ?

[2022-02-01 08:49] weizhouapache commented on #5897
@jack99trade @sureshanaparti

Discussed with Suresh, it should not be an issue to allow normal users to create isolated network without source nat.
I will test different account type and network type in 4.16.0.0 and make (java) code changes.

[2022-02-01 09:02] ghost opened #5917 "a"
##### ISSUE TYPE

 * Bug Report
 * Improvement Request
 * Enhancement Request
 * Feature Idea
 * Documentation Report
 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2022-02-01 09:43] DaanHoogland commented on #5917
failed attempt

[2022-02-01 09:43] #5917 closed

[2022-02-01 11:44] tsinik-dw opened #5918 "Xenserver/XCP-NG Create Instance - Override Root Disk Size"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

ACS 4.16.0
1 Zone
Cluster A: Two Xenserver 7.0 hosts
Cluster B: Two XCP-NG 8.2 hosts

Each Cluster has each own NFS primary storage

##### SUMMARY

Override Root Disk Size during Creation of New Instance (based on template) does not work.  (same result on Xe

[2022-02-01 12:31] weizhouapache opened #5919 "Ajax-based VM console does not work on vmware 7"
vmware 7 has been supported in cloudstack since 4.15.1.0
The support was done by #4300 which contains a fix for novnc vm console issue for vmware 7

the old ajax-based vm console does not work.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

vmware 7 as hypervisor

##### SUMMARY

##### STEPS TO REPRODUCE

[2022-02-01 12:32] weizhouapache commented on #5919
@sureshanaparti @nvazquez
just logged this issue here. Maybe it is not necessary to fix it.

[2022-02-01 12:39] sureshanaparti commented on #5919
ok @weizhouapache

[2022-02-01 12:51] weizhouapache commented on #5918
@tsinik-dw
from what you posted, `xvda` has 30GB which looks fine.
the problem is `xvda2` is still 19GB. you need to add scripts or install tools, for example cloud-init, to detect and increase paritition size automatically in startup.

[2022-02-01 17:02] kurushi9000 commented on #5876
@sureshanaparti , this is well working with vpx12 and vpx13
The only issue with VPX is when testing type of Netscaler
I successed to add vpx12 and vpx13 to ACS 4.16 👍
First add add a MIP VPX11.0 (with a developpement licence : [https://www.citrix.com/downloads/netscaler-adc/virtual-appliances/netscaler-vpx-developer-edition.html](url))
After what i deleted the MIP and recreated it on VPX12 freemiu

[2022-02-02 04:32] sureshanaparti commented on #5895
Fixed in #5908

[2022-02-02 04:32] #5895 closed

[2022-02-02 06:53] sureshanaparti commented on #5695
Fixed in #5892

[2022-02-02 06:53] #5695 closed

[2022-02-02 09:20] tsinik-dw commented on #5915
I should also mention that volume migration from non-managed to managed storage was functional in ACS 4.13.1,  following the steps described by Mike Tutkowski in https://youtu.be/lkVMb6elvz4 (On 31:25 the actual migration is performed).

[2022-02-02 10:05] tsinik-dw opened #5924 "Xenserver/XCP-NG Inter-cluster VM migration with ROOT on managed storage"
##### ISSUE TYPE

 * Bug Report
 * Improvement Request
 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

ACS 4.16.0
1 Zone
Cluster A: Two Xenserver 7.0 hosts
Cluster B: Two XCP-NG 8.2 hosts

Each Cluster has each own NFS primary storage
There is a Zone-wide Solidfire Storage (managed storage)

##### OS / ENVIRONMENT

VM-A1, on Cluster A,

[2022-02-02 10:48] Pearl1594 opened #5925 "[VMware]Unable to run CopyCommand in parallel"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Vmware / Centos 7

##### SUMMARY

On VMware, It was observed that when a volume migration command is in progress (whose executeInSequence parameter is always true) is followed by a VM deployment operation, the CopyCommand triggered by the clone volume operat

[2022-02-02 11:06] sureshanaparti commented on #5696
Fixed in #5852

[2022-02-02 11:06] #5696 closed

[2022-02-03 05:20] Pearl1594 opened #5926 "UI: Filter menu UX improvements"
##### ISSUE TYPE

 * Improvement Request
 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

- It would be a good enhancement to be able to resize the filter popup so one can see the full domain, zone or other resource names
- Another good improvement would be to display the list of resources alphabetically

![image](https://user-images.githubuser

[2022-02-03 05:48] Pearl1594 opened #5927 "[UI][VMware][Deploy-as-is] - Drop down does not show all networks"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

In an environment having more than 10 networks, deploying a VM using a template registered with 'Read VM settings from OVA' in VMware set to true, doesn't list all the networks in the drop-down menu, but rather lists the last 1

[2022-02-03 07:50] Pearl1594 opened #5928 "UI - Missing view Accounts button in domain view"
##### ISSUE TYPE

 * Bug

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### SUMMARY

View Accounts Button missing when selecting a domain.
In the old UI there is an option to view accounts when you've selected a domain. In the New UI this option is missing.
This option is however visible when we traverse to the Domain view, from the Accounts list view.

In

[2022-02-03 08:35] weizhouapache commented on #5716
thanks @nvazquez @Pearl1594 for investigating and fixing the issue.

[2022-02-03 18:58] aronwagner23 opened #5930 "4.16.0.0 UI BUG: SSH Key Pair Navigation"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Our region has multiple SSH Key Pairs but in the UI when clicking on any of them it always routes to the same one key.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2022-02-04 00:01] nvazquez commented on #5930
I got the same error, always getting to the last created key, even though the UUID is correctly set in the URL

[2022-02-04 00:02] nvazquez commented on #5925
@Pearl1594 I think the same issue could be hit on other hypervisors as well, provisionally adding it to the 4.17 milestone

[2022-02-04 00:07] nvazquez commented on #5924
Hi @shwstppr, you have worked on inter-cluster migration, is it only supported on Vmware?

[2022-02-04 00:11] nvazquez commented on #5919
@borisstoyanov @vladimirpetrov I think we had a discussion about this when testing the VMware 7.0 support - should this be fixed?

[2022-02-04 00:17] nvazquez commented on #5918
Thanks @weizhouapache, is that the expected behaviour or should be fixed and handled by CloudStack?

[2022-02-04 00:27] nvazquez commented on #5913
I agree with @DaanHoogland, however I think it is a bug as per design boot parameters should not be considered on deploy-as-is VMs IMO. @borisstoyanov @rohityadavcloud @andrijapanicsb what's your input on this?

[2022-02-04 00:29] nvazquez commented on #5906
@sureshanaparti is there any work-in-progress PR for this issue?

[2022-02-04 00:35] nvazquez commented on #5891
Congrats @GutoVeronezi - very detailed and interesting work. I see the PR is in draft, do you think it could be ready for 4.17?

[2022-02-04 00:38] nvazquez commented on #5836
@slavkap can you confirm if the PR #3724 fixes this issue?

[2022-02-04 00:46] nvazquez commented on #5805
Hi @sotheareth - the cloudstack-agent package needs to be installed on your KVM host (assuming you are using KVM). Also, check if the port 8250 is open as it is the port the management server and the host agent connect to

[2022-02-04 00:54] nvazquez commented on #5803
Hi @edikevich @DaanHoogland sorry I tried following up but I'm still not clear - in case there are 2 different issues please create a new ticket for the migration issue. Is the migration issue related to the original issue?

[2022-02-04 01:13] nvazquez commented on #5794
Thanks @GabrielBrascher for the proposal. IMO this would not feasible for Vmware or Xen, they would require to be externally handled by the administrator on the hypervisor side. For example on Vmware, putting the host on maintenance, unmounting the datastores on the host which belong to the 'old' cluster and mounting the datastores from the 'new' cluster, check portgroups, would need to be handled

[2022-02-04 01:14] nvazquez commented on #5793
Hi @GabrielBrascher are you working or planning to work on this?

[2022-02-04 01:17] nvazquez commented on #5787
Hi @KuasarCloud, besides the global setting have you checked the project limits? The default value for 'Max. Public IPs' per project is 20 - can you try configuring the limits under Project -> Project -> Configure Limits -> Max. Public IPs (if not done already) and restart the management server?

[2022-02-04 01:21] nvazquez commented on #5778
Hi @tampler afaik it is working. Can you please confirm if the issue is still valid after @weizhouapache's comment?

[2022-02-04 01:24] nvazquez commented on #5776
Hi @xuanyuanaosheng is this issue still valid or you have found a workaround?

[2022-02-04 01:29] nvazquez commented on #5770
Hi @soptecsn - AFAIK the templates and snapshots are ordered in secondary storage by their internal IDs in subdirectories, and the data is replicated across the different storages. Can you explain what do you mean by random location and describe the proposed changes?

[2022-02-04 01:31] nvazquez commented on #5768
@Pearl1594 @davidjumani any input about this issue?

[2022-02-04 01:33] nvazquez commented on #5759
Hi @GutoVeronezi are you working on this issue or planning to?

[2022-02-04 01:35] nvazquez commented on #5756
Thanks @lukasmrtvy for your proposal cc. @rohityadavcloud @davidjumani @Pearl1594

[2022-02-04 01:40] nvazquez commented on #5739
Thanks @PaulAngus great idea!
@DaanHoogland @PaulAngus IMO it should be back-end handled - once the operation fails, a new work/job must be scheduled after certain configured time with the same parameters as the original job (similar to migration jobs when a host is put into maintenance). Apart from configuring the retry time interval, it could be useful to control the number of retry attempts as

[2022-02-04 02:00] nvazquez commented on #5697
Thanks @alexandru-bagu - the installing template phase is also extracting the downloaded template (for compressed templates) once it has finished downloading it which takes time as well. The data exchanged during the time of installation between the management server and SSVM are commands and answers to simply check if the installation is finished. Unfortunately I don't think this task can be set

[2022-02-04 02:05] nvazquez commented on #5678
Hi @fengdoudm this looks like a configuration issue. Please check the management server logs for more detail on the issue and the connectivity between them

[2022-02-04 02:07] nvazquez commented on #5660
Ping @poonam-agarwal28

[2022-02-04 02:29] nvazquez commented on #5581
Hi @edikevich - have you used the changeServiceForRouter API to change the service offering of your VR? I have tried stopping a VR, changing the offering by the API, start the VR and it succeeded on 4.16.0

[2022-02-04 02:33] nvazquez commented on #5509
Ping @q346249589

[2022-02-04 02:35] nvazquez commented on #5512
@sureshanaparti @slavkap can this limitation be removed now? I see the PR mentioned is already merged

[2022-02-04 02:40] nvazquez commented on #5462
Hi @xuanyuanaosheng @weizhouapache can we close this issue?

[2022-02-04 02:43] nvazquez commented on #5452
Hi @ravening is this issue still valid?

[2022-02-04 02:45] nvazquez commented on #5433
Hi @slavkap @GutoVeronezi - I see there has been recent activity on PR #5297 mentioned in this issue, does it solve this issue?

[2022-02-04 04:23] sureshanaparti commented on #5512
@nvazquez I think so, we have to check / confirm the current behavior in main as the service and disk offerings are decoupled. cc @harikrishna-patnala

[2022-02-04 04:27] sureshanaparti commented on #5906
no wip PR @nvazquez

[2022-02-04 05:16] sureshanaparti commented on #5928
Fixed in #5929

[2022-02-04 05:16] #5928 closed

[2022-02-04 06:36] DaanHoogland commented on #5697
The optimisation you mention could be done, if you wish But I would definately opt for opt-out (maybe to be reversersed by a global setting.
It sounds strange to me that after downloading the network would still be fully occupied by the status query thaat checks the status of the install. That should be minimal.

[2022-02-04 07:07] andrijapanicsb commented on #5794
While I appreciate that the feature might be interesting for KVM, I don't think it's worth the effort since other hypervisors can't be migrated and for KVM a simpe DB changes will do.

[2022-02-04 07:25] andrijapanicsb commented on #5913
with deployasis, everything should be honoured from the template, NOT from the template settings

[2022-02-04 07:32] slavkap commented on #5836
Hi @nvazquez, yes, it follows the described steps, but we freeze the VM instead of suspending it. It should work and for other storages as well

[2022-02-04 07:34] slavkap commented on #5512
@nvazquez, I didn't have the chance to test it, but I will do it and let you know

[2022-02-04 07:37] slavkap commented on #5433
@nvazquez, I think PR #5297 doesn't fix the issue, but better @GutoVeronezi to answer

[2022-02-04 08:15] ravening commented on #5452
@nvazquez no.. I will close this

[2022-02-04 08:15] #5452 closed

[2022-02-04 08:51] kricud opened #5932 "UEFI/SECURE boot is not working with OVA templates"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

ESXi 6.7 and Windows

##### SUMMARY

##### STEPS TO REPRODUCE

**UEFI/SECURE works in general:**
Create new instance with UEFI/SECURE
![image](https://user-images.githubusercontent.com/30048481/152498235-7112ed7e-a24e-4f17-a917-300f85017a11.png)

Works us ex

[2022-02-04 09:16] kricud commented on #5913
IMHO- template settings should be honored.
How I will explain to end users/customers that this template is for BIOS and this one is for UEFI and if you do not do correct selection, it will not boot.
I think it’s a bug that deployment wizard is not obeying settings from template.
If its not "Read VM settings from OVA" with this all settings should come from OVA.

Create #5932 same problem different

[2022-02-04 09:16] shwstppr commented on #5924
@nvazquez I've not tested it myself but I don't remember code conditions that prevent it on other hypervisors. Also, recently in issue https://github.com/apache/cloudstack/issues/5894 it was reported to be working with NFS stores on 4.16 so this could be an issue only with managed storages

[2022-02-04 09:27] weizhouapache opened #5934 "vmware: interface for additional public IP in VR is not unplugged when public IP is released"
step to reproduce the issue

(1) create isolated network
(2) add new public ip range
(3) acquire public ip in new ip range
(4) create port forwarding rule. a new NIC is added to the network VR
(5) releae the public ip.

expected result (this is actual result in kvm/xenserver env):
new NIC is removed in network VR

actual result (in vmware env):
IP is unassigned, but NIC is not removed

related cod

[2022-02-04 09:30] kricud commented on #5913
@andrijapanicsb @DaanHoogland @nvazquez
Compromise could be that if deployment wizards see that template settings contain UEFI/SECURE it changes them to UEFI/SECURE, and if users changes them to BIOS deployment wizard assumes that he knows what he is doing and obeys.

[2022-02-04 09:43] andrijapanicsb commented on #5913
@kricud you are wrong/missing the point:

when "read VM settings from OVA" is ticked/selected - than all the template details come from the OVF (OVA) file - and nothing can be set as template details in ACS (i.e. you can't chose OS type, disk controllers, nic controller, etc, and also can't chose bios vs uefi)

when "read VM setting from OVA" is NOT ticked/selcted - then yes, whatever is configure

[2022-02-04 09:45] andrijapanicsb commented on #5913
But yes, after stopping VM, editing the VM settings (not the template settings), then some/all of those should apply (I know some do not apply, such as disk controller change, etc)

[2022-02-04 10:14] nvazquez commented on #5913
Thanks @kricud @andrijapanicsb - so you are saying it is ok that CloudStack applies VM settings on stopped deploy-as-is VM? In this case, this is not a bug then?

[2022-02-04 10:20] DaanHoogland commented on #5932
@kricud this would be a regression as the initial UEFI support was not written with deploy as is in mind. Do you have no way to deploy the template at this time?

[2022-02-04 11:14] sureshanaparti commented on #5860
Fixed in #5866

[2022-02-04 11:14] #5860 closed

[2022-02-04 11:29] GutoVeronezi commented on #5433
Hi, @nvazquez, PR #5297 does not solve this issue, it refers only to issue #5124. Both regards to the same feature, however, in different contexts (see https://github.com/apache/cloudstack/pull/5297#issuecomment-919366170).

[2022-02-04 11:32] GutoVeronezi commented on #5759
Hi, @nvazquez, I have other priorities at the moment, this issue is not in my plannings for now.

[2022-02-04 11:35] GutoVeronezi commented on #5891
Hi, @nvazquez, thanks!

I think yes. I put it in draft because it is not addressing  `CPU_CLOCK_RATE`, `CPU_NUMBER` and `MEMORY` yet, but as soon as I implement it, I'll turn it to ready.

[2022-02-04 11:42] DaanHoogland commented on #5716
Fixed by #5912

[2022-02-04 11:42] #5716 closed

[2022-02-04 12:08] kricud commented on #5913
If it would be only for admins not users/customers it would be ok to instruct every admin
and force him red manual from cover to cover and shame him if he hasn’t done that.

Not in case of users/customers.

For windows I need two templates one for BIOS and one for UEFI/SECURE.
As BIOS is legacy (this can be argued lets assume that it is) we are dropping support for it.

We have templates only with

[2022-02-04 12:12] joseflauzino opened #5935 "Persistence of VM stats"
##### ISSUE TYPE

 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

This spec changes the way Apache CloudStack collects and stores the VM stats to make the data more consistent and provide historical data.

------

# Table of Contents

1.  [Problem description](#1-problem-description)
    1.1. [Current collecting/storing data workflows and poss

[2022-02-04 12:12] kricud commented on #5932
Workaround is to use “Read VM settings from OVA” it has its limitations in flexibility what can be initial configuration, important part is templet starts/boots and is not creating ticket in helpdesk.

[2022-02-04 12:38] kricud commented on #5913
@andrijapanicsb @nvazquez
In case of deploy-as-is “Root disk controller” and “NIC adapter type” are set from template settings.
Same can be done for BIOS, UEFI/SECURE
![image](https://user-images.githubusercontent.com/30048481/152530213-0da17767-5110-411c-8562-5d54a5536d56.png)

It hasn’t been communicated clearly - reason for this need of setting boot type is that
Windows and also Linux for BIOS

[2022-02-04 12:47] nvazquez commented on #5759
Thanks for clarifying @GutoVeronezi

[2022-02-04 13:00] sureshanaparti commented on #5930
Fixed in #5931

[2022-02-04 13:00] #5930 closed

[2022-02-04 14:13] DaanHoogland commented on #5935
interesting @joseflauzino . The only point I see and issue with is 2.5. Though I don't think metrics for stopped VMs are queried a lot.
You have nothing planned for zone-/pod-/clustermetrics right?

please have a look at #5588 which is almost ready to merge. (some internal QA still going on)

@rohityadavcloud care to review?

[2022-02-04 16:46] tampler opened #5936 "NPE on simulator launch"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

I'm using the latest 4.16 Master and building the simulator image manually

##### OS / ENVIRONMENT

Ubuntu 21.10
OpenJDK 11

##### SUMMARY

[code]

##### STEPS TO REPRODUCE

I'm following the simulator docs [here](https://docs.cloudstack.apache.org/en/4.16.0.0/developersguide/devel

[2022-02-05 14:32] nvazquez commented on #5936
Ping @DaanHoogland @Pearl1594 - it seems like the simulator is failing to start with the auto upgrade feature, any hint on this?

[2022-02-05 14:34] nvazquez commented on #5935
Thanks @joseflauzino - are you currently working on it? Can you point to the PR in that case?

[2022-02-05 14:47] nvazquez commented on #5913
Sorry @kricud - when @andrijapanicsb and I mentioned 'deploy-as-is', we are meaning 'Read VM settings from OVA'. When you select this option, the CloudStack won't let you select any setting and will clone the OVA template without any modification to its controllers or boot type
In the image you shared the option is not selected, which allows to select controller as expected. Are you proposing to a

[2022-02-05 15:42] Pearl1594 commented on #5936
@nvazquez It seems that the issue is happening on addition of the first store, and I believe it is because for a simulator hypervisor there is no systemvm template to register. This needs to be fixed, by probably skipping attempting registration of a template when hypervisor type is simulator.
That said, I wonder why this stops the MS from starting, as despite the exception, we log the error and p

[2022-02-05 15:47] kricud commented on #5913
Thant you @nvazquez for explain I have understood it incorrectly and base on that answered wrong also to @andrijapanicsb and @DaanHoogland

In #5932 I’m showing that if you add UEFI/SECURE to template settings it’s not working.

Adding this selection to template upload menu would make it admin friendly.
Making it work from temple settings also would work and maybe with this it can be assigned to 4

[2022-02-05 16:15] nvazquez commented on #5836
Thanks @slavkap, adding it to the 4.17 milestone tentatively

[2022-02-05 16:27] nvazquez commented on #5686
Thanks @ngrosc - are you working on this improvement?

[2022-02-05 16:33] nvazquez commented on #5563
Thanks @Damans227 @rohityadavcloud should we consider this task for 4.17?

[2022-02-05 16:36] nvazquez commented on #5500
Hi @leolleeooleo is this issue still valid?

[2022-02-05 16:39] Damans227 commented on #5563
@nvazquez Not a problem.

[2022-02-05 16:52] nvazquez commented on #4937
@davidjumani anything from these to include on 4.17?

[2022-02-05 16:52] nvazquez commented on #4935
Ping @ggsyu

[2022-02-05 16:57] nvazquez commented on #4587
Ping @olivierlemasle

[2022-02-05 17:17] nvazquez commented on #3693
Hi @DaanHoogland any plans to work on this on 4.17?

[2022-02-05 17:36] DaanHoogland commented on #3693
Maybe given time I will pick up a few files again, @nvazquez

[2022-02-05 19:49] DaanHoogland commented on #5936
@nvazquez I can look into it, but I only use the simulator locally as `mvn` command. @Pearl1594 let us know if you need more eyes on this.

[2022-02-05 19:53] tampler commented on #5936
Hi @DaanHoogland
Launching sim locally is okay. That's how I use it. You may refer for commands [here](https://github.com/apache/cloudstack/blob/e3f0e3b544bdf2db0c9c832563136c8e81573cc7/tools/docker/Dockerfile#L57)

@Pearl1594 Hi no problem. Let me know If I can help

[2022-02-05 19:59] DaanHoogland commented on #5936
ok @tampler works for me, I use it regularly. have a look at [cwiki](https://cwiki.apache.org/confluence/display/CLOUDSTACK/Simulator+integration)

[2022-02-05 20:03] tampler commented on #5936
Hmmm strange. Can you deploy an advanced zone with SG and open a GUI ?

I'm actually able to deploy zone with status "Success", but nothing works and MS is just dead. Look like a false positive to me

[2022-02-05 20:42] DaanHoogland commented on #5936
Yes, using the deployDatacenter.py tool with the advancedsg configuration. You should start the UI separately with npm, but API access should be there, immediately.

[2022-02-06 13:41] pjfanning opened #5939 "upgrade commons-compress to 1.21"
##### ISSUE TYPE

 * Bug Report

https://mvnrepository.com/artifact/org.apache.commons/commons-compress

commons-compress 1.20 has 4 CVEs

[2022-02-06 13:49] pjfanning opened #5941 "remove use of unsupported log4gv1"
##### ISSUE TYPE

 * Improvement Request

https://github.com/apache/cloudstack/blob/main/pom.xml#L79

Log4jv1 has not been supported in many years and has multiple CVEs open against it. The ASF gets multiple daily queries/requests about log4j and most of them are expecting us to upgrade

* log4jv2 2.17.1 and above is one option
* reload4j is a fork of log4j that is maintained

[2022-02-06 13:53] rohityadavcloud commented on #5941
Thanks for the report, I've raised a PR to fix this issue. https://github.com/apache/cloudstack/pull/5878

[2022-02-06 14:02] pjfanning opened #5943 "upgrade xerces to 2.12.2 due to cve"
##### ISSUE TYPE

 * Bug Report

https://mvnrepository.com/artifact/xerces/xercesImpl -- recent cve

[2022-02-06 14:11] pjfanning opened #5945 "upgrade groovy due to cve"
##### ISSUE TYPE

 * Improvement Request

https://groovy-lang.org/security.html

CVE-2020-17521 appears in groovy version used by cloudstack