[2021-04-23 07:37] rhtyd commented on #4925
cc @Spaceman1984 investigate and see if we can handle/fix something in the script (to handle keys with ampersand)

[2021-04-23 07:37] weizhouapache commented on #4928
@mhoffmann21 that's good to know.

cloudstack gets the mac address of mgmt servers by command "ifconfig -a". however it is not installed by default in ubuntu 20.04 (maybe on some other OSes as well).
https://github.com/apache/cloudstack/blob/master/utils/src/main/java/com/cloud/utils/net/MacAddress.java#L99

@rhtyd would it be better to get mac address by other ways ?

[2021-04-23 07:38] rhtyd commented on #4928
Yes makes sense @weizhouapache we use `ip` or some other way (say use `/proc` sub-system).
@Spaceman1984 can you propose a PR with Wei's suggestion.

[2021-04-23 08:05] mhoffmann21 commented on #4928
Nice to know! Thx for your help. :) Take care.

[2021-04-23 08:11] leolleeooleo commented on #3523
I'm not sure which step I was missed.
I couldn't add CEPH as primary storage at the first time.

Then I regenerate ceph secret key and add it again.
But the files in /etc/libvirt/secrets/ doesn't changed.

After I destroy the pool and undefine the secret which are create by I add CEPH primary storage at the first time.
There is no "Expection" now.

Maybe I forget one step what I have done.
[code]

[2021-04-23 08:31] shwstppr commented on #3939
@Spaceman1984 For user VMs, deployment fail when offering with local storage is used and there are no available, enabled local storage pools,
[code]

MS logs giving exception,
[code]

Considering this I would say VRs should follow the same behaviour. If we have any concerns about behaviour change wrt previous ACS versions maybe we can introduce a global config that can govern this deployment behav

[2021-04-23 08:42] derhecht commented on #4925
not atm as instance is running now - setup has finished - for the first try

[2021-04-23 10:12] Spaceman1984 commented on #4925
I'm on it @rhtyd

[2021-04-23 11:51] DaanHoogland commented on #4936
@leolleeooleo I do not understand your issue. when creating a VM from the UI the disk offering for the root disk is that service offering, only the optional data disk will have a different offering. Can you specify how you created the VM, please?

[2021-04-23 12:07] DaanHoogland commented on #4935
@DaanHoogland your problem is on the agent it seems:
[code]
not on the management server. Can you look in the agent logs to see if anything sticks out there?

[2021-04-23 14:54] vladimirpetrov commented on #4674
LGTM, tested with both standard template and multi-disk one.

[2021-04-23 17:41] leolleeooleo commented on #4936
I test this issue again.
It does not happen with "Migrate Volume".
It is happened by "Scale VM".

Update the steps:
1. Create VM
2. Migrate instance to another host (Works fine)
3. Scale VM to any Compute Offering
4. Start Instance
5. Migrate instance to another host (Error)
Migrating test-migrate
(test-migrate) Exception during migrate: org.libvirt.LibvirtException: Unsafe migration: Migration ma

[2021-04-24 13:25] rhtyd commented on #4674
Fixed in https://github.com/apache/cloudstack/pull/4758

[2021-04-24 13:25] #4674 closed

[2021-04-25 22:00] andrijapanicsb opened #4947 "UI: Domain !structure! not shown when creating accounts"
UI/Primate issue when creating Accounts - usability is scarce:

Domain structure:
![image](https://user-images.githubusercontent.com/45762285/116010946-63e54200-a622-11eb-807b-14f9d411c5d2.png)

How it appears (no structure - impossible to use):

![image](https://user-images.githubusercontent.com/45762285/116010909-36989400-a622-11eb-9e62-f85529a518a3.png)

[2021-04-26 06:44] Spaceman1984 commented on #4928
I had a look at this, seems like it will take some effort to replace ifconfig with ip, I have added net-tools as a dependency in the meantime.

[2021-04-26 07:33] rhtyd commented on #4947
Fixed in https://github.com/apache/cloudstack/pull/4949 @andrijapanicsb please test and close.

[2021-04-26 07:53] rhtyd commented on #4935
@ggsyu we haven't tested CloudStack with a CentOS7 based arm64 env, I however have tested a toy setup/env with rpi4+Ubuntu 20.04 (https://rohityadav.cloud/blog/cloudstack-rpi4-kvm). First please check if KVM (/dev/kvm) is enabled/available on your arm64 host. You may tune the `host.reserved.mem.mb` in the `/etc/cloudstack/agent/agent.properties` of the KVM arm64 host(s) to make more RAM available.

[2021-04-26 07:58] rhtyd commented on #4931
Thanks @weizhouapache @wido. @benmcguire79 can you help test the latest 4.15.1 and report your findings, or are you happy to accept the general prod use-case (i.e. use single subnet per network) and close the issue?

[2021-04-26 08:11] rhtyd commented on #4660
@luhaijiao We've not heard from you since last few weeks, let us know if you've the issue and how can we produce it. Until then I've kept it outside of any milestone. Thanks.

[2021-04-26 08:36] benmcguire79 commented on #4931
Hi @rhtyd . I am happy to test 4.15.1 once it is released as Im patiently waiting for it.  For our use case setting up multiple networks for each subnet is not ideal as we have 20+ subnets and having 20+ networks again is not ideal. I see someone else raised the same issue ( albeit with vmware ) but from what I read it is the same issue ( https://github.com/apache/cloudstack/issues/4943 ) with the

[2021-04-26 09:32] andrijapanicsb commented on #4947
LGTM, nice/quick fix - closing.

[2021-04-26 09:32] #4947 closed

[2021-04-26 11:20] sureshanaparti commented on #4887
CloudStack repos and respective PRs with inclusivity changes:

- https://github.com/apache/cloudstack =>  PR: https://github.com/apache/cloudstack/pull/4922
- https://github.com/apache/cloudstack-documentation =>  PR: https://github.com/apache/cloudstack-documentation/pull/155
- https://github.com/apache/cloudstack-cloudmonkey => PR: https://github.com/apache/cloudstack-cloudmonkey/pull/76
- https

[2021-04-26 15:30] PPisz commented on #3364
@rhtyd

[2021-04-26 15:31] PPisz commented on #3364
I checked it in 4.15 on Primate, no change.
I understand that it was designed this way, I am closing the ticket.

[2021-04-27 04:50] rhtyd commented on #4928
Fixed in https://github.com/apache/cloudstack/pull/4951

[2021-04-27 04:50] #4928 closed

[2021-04-27 04:53] rhtyd commented on #4237
Fixed in https://github.com/apache/cloudstack/pull/4929

[2021-04-27 04:53] #4237 closed

[2021-04-27 08:47] davidjumani opened #4956 "ui: Simplify code"
### Optional chaining
The optional chaining `?.` is a safe way to access nested object properties, even if an intermediate property doesn’t exist.
`(error.response && error.response.headers && error.response.headers['x-description']) || error.message`
using optional chaining it reduces to
`error.response?.headers?.['x-description'] || error.message`

Ref : https://javascript.info/optional-chaining

[2021-04-27 09:35] rhtyd commented on #4936
@leolleeooleo is the issue that the offering of the volume was changed during migration even though it wasn't asked?

[2021-04-27 10:16] rhtyd commented on #4936
cc @shwstppr @Spaceman1984 @Pearl1594 @davidjumani - anyone with bandwidth want to pick this?

[2021-04-27 10:30] rhtyd commented on #4932
@r9host can you test latest 4.15 and close it?

[2021-04-27 11:28] davidjumani commented on #4937
@rhtyd Updated the issue and shot out a mail. Will look at the response and decide how to proceed

[2021-04-27 12:47] Pearl1594 commented on #4936
@leolleeooleo cc @rhtyd It seems like the issue occurs because during scaling the new compute offering chosen has a cache mode set to `writeback`. Migrating a VM with this cache mode is restricted from libvirt / qemu end as mentioned in https://libvirt.org/manpages/virsh.html. Following is the excerpt from the aforementioned site:
[code]
That said, we may want to discuss whether we would want to f

[2021-04-27 13:38] leolleeooleo commented on #4936
The issue I think is that the root disk offering is not service offering when I create VM.

Offering of the volume was changed when I migrated the volume from NFS primary storage to another NFS primary storage.
But I destroy one of my NFS primary storage and create CEPH primary storage last week.
It doesn't change when I migrate the volume from NFS primary storage to CEPH primary storage.

@Pearl1

[2021-04-27 16:18] rhtyd commented on #4844
Fixed in https://github.com/apache/cloudstack/pull/4948

[2021-04-27 16:21] #4844 closed

[2021-04-27 21:52] andrijapanicsb opened #4961 "Adding Firewall rule, returns user to Details tab instead of staying on Firewall tab"
Adding a firewall rule and pressing OK, will add the rule...

![image](https://user-images.githubusercontent.com/45762285/116317247-62974f00-a7b3-11eb-9c9a-df8baf17b043.png)

... but then you will be returned to the Details tab (the first tab), instead of staying on the Firewall tab as in old UI

![image](https://user-images.githubusercontent.com/45762285/116317337-83f83b00-a7b3-11eb-888e-83f1f65a

[2021-04-27 22:03] andrijapanicsb commented on #4961
The same happens if you add Port Forwarding rule, etc - please make sure to test all tabs - this is a simple Isolated network (single Public IP labeled "Source NAT")

[2021-04-27 22:24] andrijapanicsb commented on #4961
The same goes for the Egress rules tab - when added, UI returns to the Details tab.

[2021-04-28 06:45] rhtyd commented on #4961
@andrijapanicsb please test and close; fixed in https://github.com/apache/cloudstack/pull/4962

[2021-04-28 08:11] rhtyd commented on #4931
cc @DaanHoogland

[2021-04-28 08:16] rhtyd commented on #4808
Fixed in https://github.com/apache/cloudstack/pull/4907

[2021-04-28 08:16] #4808 closed

[2021-04-28 08:17] rhtyd commented on #4941
cc @vladimirpetrov

[2021-04-28 08:24] rhtyd commented on #4936
Based on your remarks, it does not look like an issue. Can you confirm and close this @leolleeooleo

[2021-04-28 08:25] rhtyd commented on #4344
ping @Spaceman1984 cc @harikrishna-patnala

[2021-04-28 10:07] andrijapanicsb commented on #4961
LGTM - thx guys.

[2021-04-28 10:07] #4961 closed

[2021-04-28 13:13] olivierlemasle opened #4965 "Backups: Truncated data in DB results in listBackups failure if too many volumes"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
`backup.framework.enabled = true`

B&R framework enabled, with either Veeam or dummy provider (issue reproduced with both providers)

##### OS / ENVIRONMENT
OS: CentOS Linux 7

Database: issue reproduced with:
- mariadb-5.5.68-1.el7.x86_64 (Server version: `5.5.68-MariaDB MariaDB Serve

[2021-04-28 13:33] olivierlemasle commented on #4965
I did some additional tests:
- I updated manually `cloud.vm.instance.backup_volumes` to set a value with a size > 255 characters, and it succeeded.
- I did the same thing with a simple Java program, using the same mysql / java connector, in the same version that what CloudStack uses (mysql-connector-java-8.0.19.jar). It also succeeded...

So it seems CloudStack itself is doing the truncation. Perh

[2021-04-28 17:23] olivierlemasle commented on #4965
Ok, I've found the explicit truncation to the default length [here](https://github.com/apache/cloudstack/blob/1e859a0e2ce8271641a1eaa5665a8297bd119d8c/framework/db/src/main/java/com/cloud/utils/db/GenericDaoBase.java#L1532-L1540).

So the fix should be to pass an explicit `length` [here](https://github.com/apache/cloudstack/blob/1e859a0e2ce8271641a1eaa5665a8297bd119d8c/engine/schema/src/main/java/

[2021-04-28 17:46] olivierlemasle commented on #4965
Created PR #4967 to fix this issue.

However, I'm wondering in which cases it can be a good thing to truncate silently a String too long to fit. Shouldn't it fail instead?

[2021-04-28 18:01] rhtyd commented on #4965
It's probably silently ignored from mysql side. Thanks for the issue and fix @olivierlemasle - are you using/testing Veeam B&R provider in your env?

[2021-04-29 05:03] nvazquez commented on #4937
@davidjumani here are some few suggestions:

- Add LDAP account button
- Link account to LDAP
- Import VMs (Vmware)

Not sure about the current status of the ones you added

[2021-04-29 06:43] #4936 closed

[2021-04-29 06:44] ccycv opened #4968 "VR IPs are assigned to the VMs if I do not mark as used in DB."
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
[code]

##### STEPS TO REPRODUCE
[code]

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-04-29 06:59] Pearl1594 opened #4969 "CentOS 8: Lower version of dependency of libgcrypt prevents addition of hosts"
During deployment of an ACS environment with CentOS 8 as the Management Server and hypervisor hosts, addition of hosts fail as required version of libgcrypt expected by libvirt 6.0 is 1.8.5 but available version of the corresponding library is 1.8.3.

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Management Server: CentOS 8
Hypervisor

[2021-04-29 09:27] andrijapanicsb opened #4972 "SSVM/CPVM Agent stays UP after the systemVM is FORCED STOPPED"
4.15.0.0

Had SSVM and CPVM all (green/connected/up) - forced stopped them. Started them both again - during Starting the Agent is still showing as UP, while in reality the VMs have not yet booted (started) at all:

![image](https://user-images.githubusercontent.com/45762285/116530026-d9306b80-a8dd-11eb-9496-474946a5322b.png)

EDIT 05.05.2021:
Per @davidjumani, this is a backend bug - having the o

[2021-04-29 09:40] olivierlemasle commented on #4965
Actually, there's no MySQL issue there. CloudStack does this truncation here: https://github.com/apache/cloudstack/blob/1e859a0e2ce8271641a1eaa5665a8297bd119d8c/framework/db/src/main/java/com/cloud/utils/db/GenericDaoBase.java#L1535-L1540

For me, the CloudStack data access layer should rather throw an Exception instead of silently truncating data. However, changing that behaviour now might cause

[2021-04-29 09:41] andrijapanicsb opened #4973 "UI: ACL "reason" --> "description" , label improvement"
Adding a new ACL on the ACL list

If others agree, can we rename "reason" which sounds interrogative (and wrong) to "description"?

![image](https://user-images.githubusercontent.com/45762285/116531776-d33b8a00-a8df-11eb-9bb6-44aeea274799.png)

[2021-04-29 10:19] rhtyd commented on #4973
cc @utchoang can you check if it's a translation/key issue - and if anything we can do.

[2021-04-29 10:21] rhtyd commented on #4972
I think we use API to show that - @andrijapanicsb can you repeat the test against the legacy UI (4.15 has legacy UI) - what do you see in the legacy UI?
cc @utchoang @davidjumani can you investigate if there's a default option we use/show in the UI when some key in the API is returned - i.e. investigate if this is a UI bug or backend bug?

Thanks.

[2021-04-29 10:25] andrijapanicsb opened #4974 "UI: Port Forwarding form - ports are NULL-ed after canceling chossing Tier/VM."
When adding a Port Forwarding rule on Public IP of a VPC, enter private/public port, click ADD to chose Tier and the VM - but then click back/close the VM/Tier-choosing pop-up - the private/public ports fields are deleted.

For comparison, when doing the same on Load Balancing - the fields are not NULL-ed, the entered values for ports still stay as filled in previously.

Short video for simplicity

[2021-04-29 12:54] andrijapanicsb opened #4975 "UI: Refresh button on domains, does not refresh domain structure, just the selected domain details"
![image](https://user-images.githubusercontent.com/45762285/116553650-a5177380-a8fa-11eb-9908-7f3a4cf98d62.png)

Created domain marvel

Clicking on the Refresh button (as on the image above), does not show the domain.
I have to click on another menu item (i.e. Infrastructure), then go back to DOMAINS manu itme, expand the ROOT domain, and only then see the new domain added:

![image](https://user-

[2021-04-29 15:41] rhtyd commented on #4975
cc @utchoang can you please check? Thanks

[2021-04-30 05:03] davidjumani commented on #4972
@andrijapanicsb @rhtyd Looks like a backend issue

![Screenshot from 2021-04-30 10-32-34](https://user-images.githubusercontent.com/8244774/116650778-87e8b080-a99f-11eb-884b-3b7710a7ab89.png)

[2021-04-30 05:26] davidjumani commented on #4973
@andrijapanicsb @rhtyd It's set as reason in the API cmd as well https://github.com/apache/cloudstack/blob/master/api/src/main/java/org/apache/cloudstack/api/command/user/network/CreateNetworkACLCmd.java#L90

I'm a +1 for updating in both backend and frontend for consistency, not just the UI

[2021-04-30 06:27] rhtyd commented on #4973
well, we cannot update the backend API key (breaks compatibility) - let's fix the translation key instead. (check if label.reason is used elsewhere)

[2021-04-30 06:28] rhtyd commented on #4965
Fixed in https://github.com/apache/cloudstack/pull/4967

[2021-04-30 06:28] #4965 closed

[2021-04-30 06:30] rhtyd commented on #4545
Fixed in https://github.com/apache/cloudstack/pull/4915

[2021-04-30 06:30] #4545 closed

[2021-04-30 06:37] rhtyd commented on #4941
Fixed in https://github.com/apache/cloudstack/pull/4907

[2021-04-30 06:37] #4941 closed

[2021-04-30 06:45] rhtyd commented on #4969
Fixed in https://github.com/apache/cloudstack/pull/4970

[2021-04-30 06:45] #4969 closed

[2021-04-30 07:14] shwstppr commented on #4973
`label.reason` is used only in `ui/src/views/network/AclListRulesTab.vue`

[2021-04-30 07:16] davidjumani commented on #4973
Will raise a PR to change it then

[2021-04-30 07:47] rhtyd commented on #4973
Fixed in https://github.com/apache/cloudstack/pull/4980

[2021-04-30 07:47] #4973 closed

[2021-04-30 07:48] rhtyd commented on #4975
cc @shwstppr @davidjumani @Spaceman1984 @Pearl1594

[2021-04-30 07:48] rhtyd commented on #4974
cc @shwstppr @davidjumani @Spaceman1984 @Pearl1594

[2021-04-30 08:37] Spaceman1984 commented on #4943
Hi @NuxRo, how do you go about creating multiple CIDRs? I'm not sure I understand what you mean.

[2021-04-30 09:14] ccycv commented on #4943
Please check this, it is a bug, in 4.15 you can add only via API (or through old UI) : https://github.com/apache/cloudstack/issues/4697

[2021-04-30 15:32] olivierlemasle opened #4982 "Incorrect backup usage when VM is removed then re-assign to backup offering"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
Backup framework enabled

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When a VM is removed from a backup offering, then re-assigned to the same backup offering, the usage record generated for the period in which these events occur has an invalid usage value, equal to the sum of the sizes

[2021-04-30 21:50] andrijapanicsb commented on #4972
@davidjumani your latest screenshot doesn't say if this v-67-VM is a brand new one (and I don't see an issue on that screenshot)
or if you have actually reproduced the issue I reported (well, I don't see green dot):
- force stop SSVM/CPVM
- start it - and observe while status is Starting, it's still showing as UP (click refresh a few times, and the status is still Starting / Up)

I will report how

[2021-05-02 11:43] andrijapanicsb opened #4983 "UI: Compute(VR) offering field not automtically shown when creating network with VR as service provider"
4.15.0.0 UI, but same bug still present in one of the latest UI PRs:

When creating a Isolated Network offering, and choosing i.e. DHCP, DNS etc - VR is chosen as default as the Service Provider for those services - but the compute/service offering for VR is NOT automatically shown - it's only shown once you switch from VR to i.e. GloboDNS, then back to VR - see short video for explanation:
http:/

[2021-05-02 11:55] andrijapanicsb opened #4984 "UI: No notifications/confirmation shown after creating a domain"
When creating a new domain (under ROOT domain, but seems same under any other subdomain of the ROOT domain) - there is no confirmation/popup/notifications shown to confirm domain was created successfully

Short 30sec video:

http://somup.com/crhnXsF4fz

[2021-05-02 12:46] andrijapanicsb commented on #4972
Tested 4.15.0.0 on "legacy? UI - there is NO FORCE STOP button, just the regular stop button - and this does change state to Disconnected - so there is no parallel to test in legacy UI. (short demo on legacy UI: http://somup.com/crhnlBF4hR)

i.e. we do NOT have a regression vs te legacy, but this new feature (FORCE stop systemVM) is not behaving "friendly" - or we can argue it is - as force stop i

[2021-05-02 12:56] andrijapanicsb opened #4985 "UI: VPC offering with external LB shown AGAIN when creating a second network"
A VPC can have only a single network tier using the (default) network offering with the public LB (HaProxy inside the VR).

When creating a second network in the same VPC, this offering was NOT available (the one with public LB) in the legacy UI - but it is still offered in the new UI (and it even works, but later will cause issues to users) - see the video for comparison:

http://somup.com/crhnlL

[2021-05-02 12:59] andrijapanicsb commented on #4985
Here's also a screnshot (after a single network has been already created using the offering with public/external LB)

Old UI (doesn't offer the Offering, since there is 1 network already using it)

![image](https://user-images.githubusercontent.com/45762285/116813934-ac3abd80-ab56-11eb-9963-c1d190d58e48.png)

New UI (still offering the Offering, even though 1 network is already using it)

![image]

[2021-05-02 14:59] rhtyd commented on #3364
Thanks @PPisz I need one case to be checked which on behaviour when there are multiple root admins. I'm temporarily opening the ticket. Will close of it turns out to be a non issue.

[2021-05-03 08:00] rhtyd commented on #4985
cc @shwstppr @davidjumani @Spaceman1984 @Pearl1594 @utchoang

[2021-05-03 08:01] rhtyd commented on #4982
Tentatively trained to 4.15.1
cc @shwstppr @davidjumani @Spaceman1984 @Pearl1594

[2021-05-03 08:01] rhtyd commented on #4975
cc @shwstppr @davidjumani @Spaceman1984 @Pearl1594 @utchoang

[2021-05-03 08:01] DaanHoogland commented on #4931
@wei @wido @rhtyd @benmcguire79 I'll create a doc pr to describe the way of working mentioned and do a short test to confirm @benmcguire79 's limitation.

[2021-05-03 08:10] Pearl1594 commented on #4985
looking into it @rhtyd

[2021-05-03 09:44] DaanHoogland commented on #4931
@benmcguire79 this is actually already covoured in the docs. From http://docs.cloudstack.apache.org/en/4.15.0.0/adminguide/networking/security_groups.html?highlight=security%20groups#limitations

[code]

Do you agree this is your use-case? (if so, can you close the issue?)

[2021-05-03 09:50] davidjumani commented on #4972
@andrijapanicsb Sounds like a backend fix. Can you change the title and I can look into creating a fix for it

[2021-05-03 12:48] benmcguire79 commented on #4931
Hi @DaanHoogland

Yes agreed. Probably move to NAT moving forward. Thank you for the input.

[2021-05-03 12:48] #4931 closed

[2021-05-03 17:16] olivierlemasle opened #4990 "Backup usages are still generated after VM deletion"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
Backup framework enabled

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When a VM is assigned to a backup offering, deleting the VM do not stop the generation of backup usages.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-05-04 00:56] utchoang commented on #4975
@andrijapanicsb cc @rhtyd I tried to reproduce the issue locally, but I didn't get the same mistake.
Could you please show me the browser console if possible?
![bandicam 2021-05-04 07-50-48-656](https://user-images.githubusercontent.com/13766648/116950062-26ca2100-acae-11eb-9ef9-fbad48a87c18.gif)

[2021-05-04 05:21] Spaceman1984 commented on #4943
@ccycv I added a new guest IP range using the UI, but I was not able to create any instances that use the IP range. I checked the DB and saw that the 2 IP ranges use different vlan_db_ids - So when the first range was exhausted, I expected the second range to be used, but instead, I got the insufficient capacity error - This is possibly a bug. I tried to reproduce this error on a basic network wit

[2021-05-04 08:17] Spaceman1984 commented on #3364
@rhtyd are you testing the case or should I go ahead?

[2021-05-04 09:42] cbr46 opened #4992 "Unable to create Basic Zone"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

UI

##### CLOUDSTACK VERSION

4.15

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

CentOS 8.3

##### SUMMARY

When trying to add a new zone, only Advanced Zones can be created.
There is no option for creating Basic Zones.
Yet the documention mentions it: http://docs.cloudstack.apache.org/en/latest/installguide/configuration.html#adding-a-zo

[2021-05-04 10:12] rhtyd commented on #4992
@cbr46 pl use the legacy UI for 4.15.0.0 for creating zone, we've fixed this in 4.15.1.0.

[2021-05-04 10:12] #4992 closed

[2021-05-04 10:15] rhtyd commented on #3364
@Spaceman1984 pl test by creating two root admin accounts and compare the UI vs legacy UI.

[2021-05-04 10:17] rhtyd commented on #4344
cc @Spaceman1984 w/ @nvazquez @harikrishna-patnala

[2021-05-04 10:19] rhtyd commented on #4932
Closing, confirmed/tested myself.

[2021-05-04 10:19] #4932 closed

[2021-05-04 14:03] rhtyd commented on #4985
Fixed in https://github.com/apache/cloudstack/pull/4989

[2021-05-04 14:03] #4985 closed

[2021-05-04 14:03] rhtyd commented on #4983
Fixed in https://github.com/apache/cloudstack/pull/4988

[2021-05-04 14:03] #4983 closed

[2021-05-04 14:05] rhtyd commented on #4974
Fixed in https://github.com/apache/cloudstack/pull/4981

[2021-05-04 14:05] #4974 closed

[2021-05-04 14:05] rhtyd commented on #4925
Fixed in https://github.com/apache/cloudstack/pull/4976

[2021-05-04 14:06] rhtyd commented on #4925
@Spaceman1984 pl resubmit the PR against 4.15 branch

[2021-05-04 17:39] rhtyd commented on #4925
Fixed for 4.15 based on backport PR https://github.com/apache/cloudstack/pull/4995

[2021-05-04 17:39] #4925 closed

[2021-05-05 07:11] rhtyd commented on #4984
Fixed in https://github.com/apache/cloudstack/pull/4987

[2021-05-05 07:11] #4984 closed

[2021-05-05 07:25] rhtyd commented on #3138
Improved and fixed by https://github.com/apache/cloudstack/pull/4953

[2021-05-05 07:25] #3138 closed

[2021-05-05 08:20] andrijapanicsb commented on #4972
all yours @davidjumani

thx

[2021-05-05 09:33] andrijapanicsb commented on #4975
@utchoang - my appologies for not completely explaining - the domain "marvel" shown in my example, was created by CloudMOnkey, not via UI - then while the ROOT is already expanded, clicking the refresh button or expand/collapse button did not show it....

I can also confirm UI addition works fine, as per your screenshare.

[2021-05-05 14:58] rhtyd commented on #4975
@andrijapanicsb can you close the ticket if it's a non-issue then?

[2021-05-05 19:47] andrijapanicsb commented on #4975
Unless I'm wrong, it is an issue? Shouldn't the domain created via Cmk appear when hitting the refresh button in UI?

[2021-05-06 00:45] utchoang commented on #4975
@andrijapanicsb It's an issue of where the domain was created from cmd, another client, database,.... I'll take care of it. cc @rhtyd

[2021-05-06 01:33] cafecat6503 opened #4998 "Unable to add ESXi Host"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

Management server

##### CLOUDSTACK VERSION

4.15.0

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT

Management server
- Ubuntu 20.04

Hypervisor
- vCenter 6.7
- ESXI 6.7

##### SUMMARY
When I tried to add an ESXi host, I got an error message "Error 530 Unable to add host" and could not add the host.
This is a screenshot of the error.
![スクリーン

[2021-05-06 06:59] Pearl1594 commented on #4982
@olivierlemasle Over the time-period of 15:00:00 - 15:59:59, since there was a backup taken before removing the offering from the VM and reassigning another backup offering, as per my understanding, in that one hour time frame, the cumulative size  (backup size taken between 3PM to 3:15 and after the disassociation and re-assign of another backup offering) would be the usage. Subsequent backup usa

[2021-05-06 06:59] staySober opened #5000 "No have Virtual Routers , secondary-vm and consoleproxy-vm agent state wrong"
##### ISSUE TYPE

 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]
![image](https://user-images.githubusercontent.com/20500978/117253309-ad7f2980-ae79-11eb-9030-dcaa77fecedb.png)
![image](https://user-images.githubuserco

[2021-05-06 09:25] andrijapanicsb commented on #4975
fixed by #4999

[2021-05-06 09:25] #4975 closed

[2021-05-06 09:36] rhtyd commented on #4968
@ccycv can you suggest exact steps of reproduction, and on which ACS version did you reproduce them?

[2021-05-06 09:36] rhtyd commented on #4998
cc @sureshanaparti @harikrishna-patnala @nvazquez can you triage?

[2021-05-06 09:39] rhtyd commented on #5000
@staySober let me suggest some checks:
- When you deployed the zone, did you specify a VLAN for the public network range?
- Do you have any invalid network configuration that may stop the connections, for example firewall, vpn and mtu settings?
- The IP you're trying to ping to/from, is this on the management network
- If this is on KVM, you can ssh into the KVM host; run tcpdump to see where pack

[2021-05-06 09:45] weizhouapache commented on #5000
@staySober can you upload /var/log/cloud.log in these two systemvms ?
it might be helpful.

[2021-05-06 09:55] staySober commented on #5000
I am sure the firewalled is disable
and I didn't  specify a VLAN for the public network range
and I the IP (10.13.56.254) is the network gateway.
I split up six virtual machines on one physical machine to deploy these applications,
I used to do tests on multiple physical machines, and they were all successful at that time,
Could it be a problem of applying virtual machines to virtual machines on t

[2021-05-06 10:02] weizhouapache commented on #5000
@staySober can you share the output of `brctl show` or `bridge link show` on kvm hosts ?
do you use bridge or vxlan or ovs for isolation ?

[2021-05-06 10:09] staySober commented on #5000
@weizhouapache
![image](https://user-images.githubusercontent.com/20500978/117280809-8d5d6380-ae95-11eb-8d9f-fcd998ef7f3d.png)
![image](https://user-images.githubusercontent.com/20500978/117280834-977f6200-ae95-11eb-89d5-e63e4ce64fe2.png)

I don't use bridge or vxlan or ovs for isolation beacuse I don't know anything about them.

[2021-05-06 10:12] staySober commented on #5000
I found that the automatically created templating system could not ping other machines on the same network segment as the host
for example , kvm client IP(10.13.56.9)  secondarystoragevm IP(10.13.56.22)  manager1 IP(10.13.56.6)
the IP(10.13.56.22) can not ping 10.13.56.9

[2021-05-06 10:20] weizhouapache commented on #5000
what's the output of `ip addr show cloudbr0` and `ip addr show ens192` ?

[2021-05-06 10:23] staySober commented on #5000
KVM host machine info
![image](https://user-images.githubusercontent.com/20500978/117283227-2b522d80-ae98-11eb-8c5d-ba0d54cec5bb.png)
![image](https://user-images.githubusercontent.com/20500978/117283263-3311d200-ae98-11eb-8c80-244f72be701b.png)

[2021-05-06 10:50] rhtyd commented on #4943
@Spaceman1984 I think all we want is a data-server to be resolvable for all sub-nets for cloud-init to work? Can you try this:
- Create a shared network (in adv zone) with some range
- Go to zone -> network -> guest network -> select shared network -> select IP -> add Range
In legacy UI it looks like this:

![Screenshot from 2021-05-06 16-18-56](https://user-images.githubusercontent.com/95203/1172

[2021-05-06 10:51] rhtyd commented on #4943
cc @NuxRo @weizhouapache - any other suggestion/pointers for Darrin?

[2021-05-06 12:12] Spaceman1984 commented on #3364
I tested with multiple root admin accounts, not an issue in 4.14 or 4.15.

I didn't test 4.12. and I didn't specifically test with an LDAP admin user.

[2021-05-06 12:14] weizhouapache commented on #5000
@staySober the host looks good.
are the ips configured correctly in s-2-VM ?

[2021-05-06 12:15] weizhouapache commented on #4943
@rhtyd this use case is rare I think.
I will have a look

[2021-05-06 12:27] staySober commented on #5000
@weizhouapache s-2-VM ip config is self-configured. I think it right. I didn't edit it
I have successfully set up a cluster of physical machines, but not in this virtual machine environment where a single physical machine is partitioned

I guess there is something wrong with the configuration of the virtual machine network created in the virtual machine. I read in other articles that it may be nec

[2021-05-06 12:54] rhtyd commented on #4998
@cafecat6503 based on the logs, it seems your vSphere DC has no hosts:

[code]

Can you if your DC has any host? (url in logs pointing to /home-dc1/cloud-cluster/<my-esxi-hostfqdn>)

You need to add your hosts to the cluster under a DC in vSphere before adding them in cloudstack. Also check the cluster name and DC name. (Do they match what you configured while you deployed the zone, or in the clus

[2021-05-06 13:00] Pearl1594 commented on #4968
@ccycv Could you also share if this happens during the deployment of the first VM in the network i.e., the case when the VR is first deployed before the VM comes up?

[2021-05-06 13:01] rhtyd commented on #5000
@staySober do you actually have a valid network where the L3 configuration (the configured IP ranges and gateway) would work? Do you see anything in `tcpdump` (what's causing packets to be dropped)?

Instead of complicated management server setup with VRRP/virtual-IP, just set them up with specific IPs and for KVM use the software based LB see https://www.shapeblue.com/software-based-agent-lb-for-

[2021-05-06 13:01] weizhouapache commented on #5000
I use/have used nested environment (vms in vm) for long time. There is no network issue.
I suspect it is caused by firewall (iptables rules). if you want to continue on the troubleshooting, please check firewall rules by `iptables-save` and retry after `iptables -F`

you may refer to https://www.redhat.com/sysadmin/keepalived-basics

[2021-05-06 14:20] rhtyd commented on #3364
Thanks Darrin, closing on your remark

[2021-05-06 14:20] #3364 closed

[2021-05-06 15:22] nvazquez commented on #4998
Hi @cafecat6503 let us know if you still can reproduce the issue after the steps mentioned above by @rhtyd

[2021-05-06 16:08] cafecat6503 commented on #4998
こんにちは。
はい、ホストはcloudstackに追加する前にDCに追加されています。
DCの名前もclusterの名前も正しいです。 @rhtyd

[2021-05-06 16:19] rhtyd commented on #4998
@cafecat6503 based on the logs, CloudStack failed to find any hosts in the DC/cluster. Please try again, check the full path. You can confirm the path and list DC/hosts by using `govc` - https://github.com/vmware/govmomi/releases
And then try again to add the hosts to your CloudStack cluster.
(PS. I had to use google translate to understand what you meant - hope I got that right)

[2021-05-06 16:21] weizhouapache commented on #4943
@NuxRo @Spaceman1984
does dhcp work in your testing ?

[2021-05-06 19:35] olivierlemasle commented on #4982
Actually, the bug is to sum the backup sizes over the time frame.

I think that what I've called the **Option 1** (cf above) is the best way to handle backup usages. In that option, the usage value is the duration (in hours) over the time frame. This is **aligned with other storage usage types in CloudStack** (volumes, ISOs, templates, snapshots). For all these usage types, the size of the volume/

[2021-05-07 02:02] staySober commented on #5000
@weizhouapache thanks for your help. actually, My firewall is off. I'm deployed on a Centos7 system. default firewall is firewalld. also I not install iptables. I will continue to check my network configuration thanks

[2021-05-07 05:52] ccycv commented on #4943
Yes, the IP is allocated on the VM.

[2021-05-07 05:55] staySober commented on #5000
@weizhouapache @rhtyd I found the reason, Incorrect network configuration on VMARE EXSI is causing the problem.
The promiscuous mode and MAC address change pseudo transport in the VM Network configuration need to be set to accept
![image](https://user-images.githubusercontent.com/20500978/117404011-c18b5f80-af3b-11eb-9208-bd3b9fc25242.png)
Thank you for your help, I will close the issue

[2021-05-07 05:55] #5000 closed

[2021-05-07 05:55] ccycv commented on #4943
I work with @NuxRo on this, try to replicate in cloudstack with basic network (multiple CIDR), not in an advanced network with shared and multiple CIRD.

[2021-05-07 07:20] weizhouapache commented on #5000
@staySober cool. nice to know it.
it might be much helpful for those who create nested environment over vmware.

[2021-05-07 10:54] rhtyd commented on #4998
Thanks @cafecat6503 closing on your remark. Please try to add hosts using the right path, if you've the same issue again even after passing the right parameter, pl re-open the ticket.

[2021-05-07 10:54] #4998 closed

[2021-05-07 10:58] rhtyd commented on #3939
@Spaceman1984 @borisstoyanov can you discuss and agree next steps (close the ticket, identify and fix the issue?)

[2021-05-07 11:37] rhtyd commented on #5000
Thanks for sharing @staySober

[2021-05-10 06:58] rhtyd commented on #4990
@olivierlemasle in your test did you delete the backup as well?

[2021-05-10 07:00] rhtyd commented on #4982
We may also need to investigate how usage records are generated for any resource where the usage is less than the aggregation interval. In general I agree a new backup record can be created for every offering change.

[2021-05-10 07:11] weizhouapache commented on #4943
@NuxRo @ccycv @Spaceman1984
I can confirm that there are 3 bugs related to this issue.
(1) UI: Cannot deploy vm with specified IP in additional IP range. However, cloudmonkey/cmk works.
(2) DHCP does not work, if there are free IPs in the first IP range.
(3) password and userdata do not work (even if 2 works).

@rhtyd I will work on this.

[2021-05-10 08:38] olivierlemasle commented on #4990
@rhtyd  Yes, I deleted the backups as well (but after the VM deletion),  and the usage service continued to generate new usages (because it only stops when an event `BACKUP.OFFERING.REMOVE` occurs, which will _never_ occur since the VM is deleted).

[2021-05-10 09:03] Spaceman1984 commented on #4943
@weizhouapache I'll let you proceed and unassign myself

[2021-05-10 09:27] davidjumani opened #5007 "Duplicate query string parameters"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

API

##### CLOUDSTACK VERSION
4.15+ (Maybe below)

##### SUMMARY

When duplicate query parameters are passed with the same key but different values, ACS parses only the last occurrence.
Eg: keyword=rick&keyword=basic
It returns values matching basic

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

A possible error thrown for duplicate query

[2021-05-10 09:29] DaanHoogland commented on #5007
The API server is not changed the last few releases so let's get this fixed in the oldest supported LTS branch. (i Think that is 4.14 atm.

[2021-05-10 09:54] Pearl1594 commented on #4982
@olivierlemasle @rhtyd Did some tests on VM instance usage to compare its behavior against the way backup usage currently works and observed the following:
**Note:** The usage aggregation time interval ( `usage.stats.job.aggregation.range`) is set to 5 minutes

#### Case 1: When VM is destroyed before the aggregation time interval:
Usage record is generated for only the time period the VM was pres

[2021-05-10 10:19] olivierlemasle commented on #4982
Yes, I also think we should aggregate the usages over timerange when the VM is re-assigned to the same backup offering, **IF** we sum durations, not sizes (#5005). :+1:
So #5005 (not reviewed yet) should indeed fix the issue.

[2021-05-10 10:41] rhtyd commented on #4990
Okay @olivierlemasle - if usage records are not marked on deletion of backups - that's indeed a bug.

[2021-05-10 10:42] rhtyd commented on #4982
Let's discuss on the mailing list, sounds like a new behaviour/change that may require consensus on dev/users ML.

[2021-05-10 10:47] rhtyd commented on #3939
Based on @Spaceman1984 and @shwstppr 's comment, the issue does not seem to reproduce in 4.15, closing on their and @borisstoyanov 's remarks.

[2021-05-10 10:47] #3939 closed

[2021-05-10 12:20] weizhouapache commented on #4972
When SSVM/CPVM are force-stopped, the agent in systemvms will not inform management server.
It would be good if agent state is changed to Status.Disconnected, Down or Unknown, when systemvms are force-stopped

[2021-05-10 12:37] rhtyd commented on #4797
Ping @GabrielBrascher

[2021-05-10 15:20] rhtyd commented on #4968
@ccycv this does not look like reproducible on 4.15, can you try testing latest 4.15 or share steps to reproduce on 4.15?

[2021-05-11 02:02] GabrielBrascher commented on #4797
@rhtyd unfortunately I have not been able to address this issue in time for next 4.15.

[2021-05-11 03:41] davidjumani commented on #5007
@rhtyd Lists are handled differently. ACS explicitly overrides multiple values and only accepts one https://github.com/apache/cloudstack/blob/master/server/src/main/java/com/cloud/api/ApiServer.java#L568

[2021-05-11 13:58] GabrielBrascher commented on #4883
PR #5012 is out, for now as a draft.

To ilustrate, here follows an example of what `io_uring` can achive according to this presentation done at the KVM Forum 2020:

![image](https://user-images.githubusercontent.com/5025148/117826862-e129cd00-b246-11eb-9405-05a9958392bb.png)

Credits to: https://static.sched.com/hosted_files/osseu2020/c8/KVMForum_2020_io_uring_passthrough_Stefano_Garzarella.pdf

[2021-05-11 14:13] inscil opened #5016 "Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.22.2:test (default-test) on project cloud-utils"
##### ISSUE TYPE

 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### OS / ENVIRONMENT

Debian 10

maven 3.6.0-1
libmaven-parent-java 31-2
libmaven-resolver-java 1.3.1-1
libmaven-shared-utils-java 3.3.0-1
libmaven3-core-java 3.6.0-1

openjdk-11-jdk:amd64 11.0.9+1-1 or 11.0.11+9-1
openjdk-11-jdk-headless:amd64 11.0.9+1-1 or 11.0.11+9-1
openjdk-11-jre:amd64 11.0.9+10-1 or

[2021-05-11 16:39] hooklee2000 opened #5018 "Support a shared mount directory as SecondaryStorage with ShareMountPoint type"
##### ISSUE TYPE

 * Feature Idea

##### CLOUDSTACK VERSION
4.15.0

##### COMPONENT NAME
SecondaryStorage

  The existing ShareMountPoint means you would need to mount a clustered filesystem to all the hosts
in the cluster  so that multiple hosts can write to the same shared(mountPoint) storage without causing
file system corruption.
  In all hosts we use  fuse to mount a distribution filesystem t

[2021-05-12 03:58] div8cn opened #5019 "Listsnapshots.physicalsize has been 0"
The physicalsize field in the listsnapshots interface is always displayed as 0

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-05-12 06:10] ccycv commented on #4968
I have tested in all the ACS versions, I thought this is going to be fixed, the reproduce steps are :

1. Assign new IP CIRD
2. Deploy VMs
3. At any point I can get the used IPs by VR to be assigned on a new VM. if I try to change/assign the IP manually for a VM from cloudstack, I see the VR IP as free, if is not assigned to a VM. Because it is used by VR, it will not work on a VM ( IP conflict ).

[2021-05-12 12:03] rhtyd commented on #5016
@inscil can you try building on Ubuntu? Or building with a `-DskipTests=true`. I think the failure maybe related to env, as Travis and our packing jobs are passing on 4.15 and master branch.

[2021-05-12 12:05] rhtyd commented on #5018
Secondary Storage is mounted in the SSVM by the SSVM agent, so it can't be used as mountable directory. You may however mount it on the hypervisor host. Can you explain your use-case wrt secondary storage?

[2021-05-12 12:06] rhtyd commented on #5019
It's probably a limitation of ceph, as far as I know ceph does not support snapshots @div8cn (because you cannot have snapshots on raw disks unless snapshot is stored externally)
@wido @GabrielBrascher can you check and advise?

[2021-05-12 13:39] hooklee2000 commented on #5018
Thanks, We have a distribution file and block  storage system  such as Ceph which can  mout a directory   in client  hosts.
But We prefer fuse mount mode (which support IO_URING) to s3 mode for better read/write performance reason. We can mount a directory  in the SSVM too.
Current we alse  use  linux kernel  5.11，qemu5.2.0 and libvirt7.2.0 to enable IO_URING on  all  hypervisor hosts , we need  a

[2021-05-12 14:20] inscil commented on #5016
Building on Debian with _-DskipTests=true_ yields the same results - as does trying to build in Ubuntu 20.04 (same versions for .
openjdk and maven). I also tried using openjdk-8, as the documentation [here](https://docs.cloudstack.apache.org/en/4.15.0.0/installguide/building_from_source.html#extracting-source) suggests. This didn't go down well at all.

Admittedly, I am somewhat confused about wh

[2021-05-12 16:31] rhtyd commented on #5016
@inscil pl refer to https://github.com/shapeblue/hackerbook/blob/master/2-dev.md#setting-up-development-environment written/tested against JDK11 and Ubuntu 20.04. If you've further question, pl join the dev@ ML and ask questions there: http://cloudstack.apache.org/mailing-lists.html

[2021-05-12 18:03] wido commented on #5019
Ceph supports snapshots. You can snapshot and clone RBD images from Ceph.

See: https://docs.ceph.com/en/latest/rbd/rbd-snapshot/

[2021-05-13 08:08] Spaceman1984 opened #5021 "Unable to start VMs using additional guest IP ranges"
When creating an instance and your first guest ip range has been exhausted, deployment fails. This happens when the additional guest IP ranges have been created using the new UI. This problem does not exist when creating the IP ranges using the legacy UI.

The problem is that the pod id is missing in the API call in the new UI as per the comment from @weizhouapache in #5013

##### ISSUE TYPE

 * B

[2021-05-13 08:18] Pearl1594 commented on #5021
@Spaceman1984 can you please check / test if https://github.com/apache/cloudstack/pull/5020 fixes the issue you are reporting. Thanks

[2021-05-13 08:23] Spaceman1984 commented on #5021
@Pearl1594 I had a look at your pull request, from the comments I gathered that your change is in a different section of the UI.

[2021-05-13 08:58] shwstppr commented on #5021
@Spaceman1984 It is probably the same thing at different places in the UI.
For showing pods in the same form (Guest networks -> defaultGuestNetwork -> Add IP range), I've created this draft PR.
cc @Pearl1594

[2021-05-13 09:01] Spaceman1984 commented on #5021
Awesome @shwstppr, I think you can mention this issue in your PR, then it will close once your PR is merged in.

[2021-05-13 09:02] rhtyd commented on #4943
Fixed in https://github.com/apache/cloudstack/pull/5013

[2021-05-13 09:02] #4943 closed

[2021-05-14 17:43] rhtyd commented on #5021
Fixed in https://github.com/apache/cloudstack/pull/5022

[2021-05-14 17:43] #5021 closed

[2021-05-14 17:45] rhtyd commented on #4778
Fixed in https://github.com/apache/cloudstack/pull/4795

[2021-05-14 17:45] #4778 closed

[2021-05-14 17:46] rhtyd commented on #3719
Fixed in https://github.com/apache/cloudstack/pull/4644

[2021-05-14 17:46] #3719 closed

[2021-05-14 18:01] rhtyd commented on #5018
@hooklee2000 the specific use-case you've described is not supported, maybe @GabrielBrascher @wido @weizhouapache may give you some guidance.

[2021-05-17 12:03] inscil commented on #5016
@rhtyd Thank you for the link. With it I was able to figure out a way to build the src on Debian 10.

If interesting for anyone, I did the following on a newly installed system:
[code]

To build the src I did:
[code]

The get the management running on a different machine, in addition to the steps described in the documentation I had to install "genisoimage" and link its binary to "mkisofs".

[2021-05-17 12:03] #5016 closed

[2021-05-18 08:35] smallhorsegg opened #5027 "cat not serach vm_info used ipaddress in 4.11"
##### ISSUE TYPE

 * Bug Report
 * Improvement Request
 * Enhancement Request
 * Feature Idea
 * Documentation Report
 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-05-18 10:34] shwstppr commented on #4897
Following details table allow NULL values,
[code]
Should we update/fix all of them? @DaanHoogland @sureshanaparti
cc @rhtyd @nvazquez

[2021-05-19 06:58] shwstppr commented on #4455
@Lucasgranet were you able check 4.15.0.0 release? Are you still facing the same issue?

[2021-05-19 07:22] Spaceman1984 commented on #4433
Unable to reproduce on latest master

[2021-05-19 07:26] Spaceman1984 commented on #4433
I was able to create snapshots from volumes multiple levels deep
![volumes](https://user-images.githubusercontent.com/49917670/118772651-481d3680-b884-11eb-808f-01c5b8e515dd.png)
![Snapshots](https://user-images.githubusercontent.com/49917670/118772659-4a7f9080-b884-11eb-962e-7823f0fadf05.png)

[2021-05-19 07:31] rhtyd commented on #4972
Fixed in #5010
@andrijapanicsb pl reopen after testing if not fixed. Tested by @shwstppr and @weizhouapache on the PR

[2021-05-19 07:31] #4972 closed

[2021-05-19 08:07] #5027 closed

[2021-05-19 09:00] andrijapanicsb commented on #4972
👍

[2021-05-19 09:03] #4344 closed

[2021-05-19 14:43] #4455 closed

[2021-05-19 15:22] Spaceman1984 commented on #4837
I tested with latest master and the API is only returning records for the specified time.
[code]

[2021-05-19 15:31] vladimirpetrov opened #5031 "Invalid parameter ostypeid, not applicable for VMware"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

VMWare

##### SUMMARY
OVA template cannot be uploaded when the 'Read VM settings from OVA' option is disabled.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]
![image](https://user-images.githubusercontent.c

[2021-05-20 06:38] hooklee2000 commented on #4803
I tried latest spice-html5 to connect a vm guest installing windows 7 ( on CentOS7 default qemu 1.5.3,libvirt 4.5.0)，it work well including video,audio without guest qxl driver  .
With qxl driver,  mouse cursor was misposition and some image overlap.

[2021-05-20 08:14] weizhouapache commented on #4803
@hooklee2000
have you tried with more memory and/or video ram ?
see ram, vram, vgaram in https://libvirt.org/formatdomain.html#video-devices

spice-server is great. It looks difficult to integrate it into cloudstack.

[2021-05-20 08:21] hooklee2000 commented on #4803
We tried to increase the video memory (ram, vram, vgaram) from default 16MB to 65MB, the same result.
Maybe spice-html doesn't support qxl.
 I tried spice-web-client which work well but some icon and text mirror vertical.

[2021-05-20 14:20] vladimirpetrov commented on #5031
Fixed by #5033, LGTM.

[2021-05-20 14:26] vladimirpetrov commented on #5031
Reopening the issue until the PR is merged ...

[2021-05-21 09:45] rhtyd commented on #5031
Fixed in https://github.com/apache/cloudstack/pull/5033

[2021-05-21 09:45] #5031 closed

[2021-05-21 14:42] apurv-1 commented on #4891
@srisgajare After running the docker container.
Open another terminal and follow the steps:
1. `git clone https://github.com/apache/cloudstack.git`.
2. `cd cloudstack\ui` (If using windows).
3. then `npm install`.
4.  and finally, `npm serve`.
and also make sure to set `CS_URL=http://localhost:8080/client` on `.env.local file on ui`.
Hopefully, you'll be able to run the management server on http:/

[2021-05-21 16:37] slavkap commented on #4433
Hi all, I was able to reproduce the issue on the latest master also.
Same configuration:
[code]
If the snapshot is created bypassing secondary storage, maybe I'll say something stupid, but there is no implementation to create Volume from the snapshot. In the code, the image store of the source should be an NFS instance (but the snapshot does not exist on secondary)

Also, there is another problem

[2021-05-23 08:57] martin-sweeny commented on #3397
Experiencing this with docker simulator on `latest`

[2021-05-23 16:01] rhtyd opened #5035 "Build failure on Ubuntu 20.04 on 4.15 branch"
Build failure seen on Ubuntu 20.04.2 on latest 4.15 branch:
[code]

Here are my env details:

[code]

[2021-05-23 16:01] rhtyd commented on #5035
Surprisingly doesnot happen on Travis or pkging cc @shwstppr @Pearl1594 @Spaceman1984

[2021-05-23 16:22] sergeByishimo opened #5036 "Console Timing Out"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Management Server and Host are separate computers

Advanced Networking Configuration

##### OS / ENVIRONMENT

Host : Centos8

##### SUMMARY

Inside Console Proxy SSVM, there is NFS Error

[code]

Here are some log files

/var/log/cloud.log

root@v-2-VM:/var/log# cat cloud.log
Sun 2

[2021-05-24 05:44] shwstppr commented on #5035
Working fine on my local dev env,
[code]

[code]

@Pearl1594 @Spaceman1984 Are you also getting the same error @rhtyd ?

[2021-05-24 06:53] Spaceman1984 commented on #5035
No issues on my local either

[code]

[2021-05-24 09:43] Spaceman1984 commented on #4433
@slavkap my tests were with NFS. I was trying to reproduce what @nvazquez wrote.

[2021-05-24 09:52] rhtyd commented on #5035
Thanks @shwstppr @Spaceman1984 for checking, I'll clean up mvn cache and try again.

[2021-05-24 11:05] rhtyd commented on #5035
It turned out my desktop where I was trying to build cloudstack had a full qualified domain set as hostname; so `fakelocalhost.fakelocaldomain` in one of the tests were resolving to the parent domain :facepalm: (not sure why?) and causing the failure. Thanks I'll close this.

[2021-05-24 11:05] #5035 closed

[2021-05-24 12:19] rhtyd commented on #5036
@sergeByishimo please discuss on users ML and close the ticket unless you've specific bug with steps of reproduction, we're trying to help/reply on the users ML.

[2021-05-24 12:20] sergeByishimo commented on #5036
Good thanks!

[2021-05-24 12:20] #5036 closed

[2021-05-25 07:49] slavkap commented on #4433
@Spaceman1984, I did the testing just out of curiosity and did not direct my comment to you, and I didn't mean to argue with you. And yes, it works with NFS because when creating volume from a snapshot, it first makes a backup on secondary.

But with NFS or Ceph, you cannot create a template from a snapshot when the snapshot is created only on primary storage.

[2021-05-25 08:22] DaanHoogland commented on #4797
@GabrielBrascher are you planning it for milestone 4.16 (accidentally added it)

[2021-05-25 08:26] DaanHoogland commented on #4837
ok, closing based on @Spaceman1984's results. When reproduced, we'll re-open.

[2021-05-25 08:26] #4837 closed

[2021-05-25 08:28] Spaceman1984 commented on #4433
All good @slavkap, thanks for the info.

[2021-05-25 08:31] Spaceman1984 commented on #4837
Alright @DaanHoogland.

One thing I think is worth mentioning, in my testing I set the global variable usage.stats.job.aggregation.range to 60.

[2021-05-25 09:29] DaanHoogland commented on #4897
I don't know if there is any <null> requirement for a detail in the system. In cases where details might be copied we will certainly have to allign tables (i.e. template > vm_instance) and I would prefer to be consistent system wide. I could imagine a usecase for null but let's deal when we get there.

[2021-05-25 13:22] sureshanaparti commented on #4897
@shwstppr @DaanHoogland I think, it is better to fix these tables to take non-null values for the keys.
Persisting only key without value (NULL, may be temporarily), can help to track/monitor something (with key existence), but it is not a good thing to do (can keep some status/value to it).

[2021-05-26 17:08] DaanHoogland commented on #4897
@sureshanaparti and others, that was what I was thinking about as well, I don't think this is good programming but it is common practice. I think we should use another mechanism for this, but this is not in scope for this issue.

[2021-05-27 02:38] staySober opened #5041 "Why HA host label.hastate show 'Ineligible'"
##### ISSUE TYPE

 * Other

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

![image](https://user-images.githubusercontent.com/20500978/119757182-2997ea80-bed7-11eb-93da-2fbdf2b029e8.png)

[code]

[2021-05-27 12:20] DaanHoogland commented on #5041
@staySober did you configure a HAProvider? If so can you find any exceptions in the logs of the agent and/or the management server?

[2021-05-27 12:22] staySober commented on #5041
@DaanHoogland yes, I configured the label.haprovider = `kvmhaprovider` .  I will to check the logs

[2021-05-27 13:22] apurv-1 opened #5042 "UI: Introduction to Dark mode with toggle Button on Management Server."
##### ISSUE TYPE

 * Improvement Request
 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

The current new UI looks great and looks clean, but It would be a cherry on the cake if we can add an option to toggle between the Light mode and Dark mode.
I'm sure there are many users/developers who use Management Server UI during Night or in dark envir

[2021-05-27 13:40] rhtyd commented on #5042
We can't support for lower/older CloudStack versions. I think latest Ant Design vue supports a real-dark mode. cc @utchoang - if you want to explore that.

[2021-05-27 13:42] rhtyd commented on #5041
@staySober I think it's already fixed in 4.15.1, can you check using nightly builds: https://download.cloudstack.org/testing/nightly/latest/ and close this.

[2021-05-27 13:43] rhtyd commented on #5041
Example: http://qa.cloudstack.cloud:8080/client/#/host/3a4a15a8-1d67-4913-9afe-d0240d643195 from latest UI build
![Screenshot from 2021-05-27 19-13-17](https://user-images.githubusercontent.com/95203/119836772-9fc03f80-bf1f-11eb-88f1-944bce572a15.png)

[2021-05-27 14:06] apurv-1 commented on #5042
I would also like to contribute and explore this after completion of the tasks via GSoC.

[2021-05-27 21:10] sweetdom69 opened #5044 "/etc/init.d/networking: not found"
##### SUMMARY
I try to setup a kvm host on ubuntu 20.04 but the agent gives me an error execute:/bin/sh: 1: /etc/init.d/networking: not found, its true that its missing since its 20.04

DEBUG:root:execute:uname -r
DEBUG:root:execute:uname -m
DEBUG:root:execute:hostname -f
DEBUG:root:execute:kvm-ok
DEBUG:root:execute:service apparmor status
DEBUG:root:execute:apparmor_status |grep libvirt
DEBUG:roo

[2021-05-28 07:37] staySober commented on #5041
`4.15.1.0Ovm3 SystemVm template not found. Ovm3 hypervisor is not used, so not failing upgrade
2021-05-28 15:23:50,893 DEBUG [c.c.u.d.Upgrade41500to41510] (main:null) (logid:) Updating Hyperv System Vms
2021-05-28 15:23:50,896 ERROR [c.c.u.DatabaseUpgradeChecker] (main:null) (logid:) Unable to upgrade the database
com.cloud.utils.exception.CloudRuntimeException: 4.15.1.0Hyperv SystemVm template no

[2021-05-28 07:43] AlexanderKgr commented on #2583
this is still happening with 4.15.0 and xcp-ng

[2021-05-28 08:04] DaanHoogland commented on #5041
@staySober does the upgrade fail because of this? I don't think this ERROR is FATAL.

Also, is this related to the earlier issue or is this a new one, please?

[2021-05-28 08:05] shwstppr commented on #5044
@sweetdom69 Ubuntu 20.04 support for KVM host is available only for ACS 4.15+

[2021-05-28 08:10] staySober commented on #5041
@DaanHoogland is this not related to the earlier issue. I follow the suggestion of @rhtyd , Try to upgrade from cloudstack4.15 to cloudstack4.15.1 to fix HA state error.But When I finished installing cloudstack4.15.1, I starting cloudstack4.15 management server I get this error. And the server is 503
![image](https://user-images.githubusercontent.com/20500978/119952017-25e78f00-bfcf-11eb-9c4f-25b9

[2021-05-28 08:28] DaanHoogland commented on #5041
ok, than the upgrade went wrong, You should not have to have the systemvm template for a hypervisor type you don't use. We'll need to investigate. But let's take care not to mix up issues.

The message you get does mean that the upgrade procedure considered hyperv to be in use in your system. it iterates through the list of hypervisors and encounters one that is of type Hyperv.

[2021-05-28 08:30] staySober commented on #5041
@DaanHoogland
Okay I'm sorry I'm not very good at expressing myself.
Thanks help me

[2021-05-28 08:34] DaanHoogland commented on #5041
@staySober, let's try to isolate the issue. I think you better restore your DB from before the upgrade and than make sure there is no hypervisor in the system that is of type Hyperv. Best check the DB as well (Hyperv is enum value 4)

[2021-05-28 08:42] staySober commented on #5041
@DaanHoogland
sure, I check the DB.
![image](https://user-images.githubusercontent.com/20500978/119956387-a1e3d600-bfd3-11eb-997c-19c5cd228b1c.png)
There doesn't seem to be an instance of HyperV in my VM instance

 What I am doing now is reinitializing the database for 4.15.1. Then I restored the database from 4.15 to the management node from 4.15.1. Now, service running. But some info was wrong.

[2021-05-28 08:58] DaanHoogland commented on #5041
@staySober It is not the `vm_instance` tabel but the field `hypervisor_type` in the table `host` to look for the the value of `Hyperv`.

If you restored the DB fully the table `version` should no longer contain a record with `version.version` = '4.15.1.0` and the management server will start the upgrade anew.

If there is no `host` entry of `hypervisor_type` 'Hyperv' the upgrade should not be look

[2021-05-28 09:00] staySober commented on #5041
Thank you for your help. I will check this problem according to your tips. If it can be solved successfully, I will close the issue.

[2021-05-28 13:26] shwstppr opened #5046 "vmware: affinity and anti-affinity rules must be followed when VMware cluster DRS is enabled"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced zone with vSphere Datacenter, multiple ESXi 6.7 hosts
DRS enabled on the vSphere cluster

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When the vSphere cluster has DRS enabled, VMs created from CloudStack with anti-affinity rules get migrated to the same host(s) by

[2021-05-28 18:29] GabrielBrascher opened #5047 "Network with SG Disabled still has security group script adding rules on KVM"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Zone deployed with Advanced Network and Security Group enabled.

##### OS / ENVIRONMENT

N/A

##### SUMMARY

We have been seeing the default security group rules being applied to VMs that are using a network **with no SG**. It is expected that when a network has Security Grouping t

[2021-05-28 19:42] weizhouapache commented on #5047
@GabrielBrascher is this a new issue in 4.15 or already exist for many years ?

[2021-05-28 19:55] GabrielBrascher commented on #5047
@weizhouapache this is a new issue in 4.15. The same network/VMs that worked before the upgrade to 4.15.0.0 then started to experience this issue.

If we can have this in 4.15.1 it would be great. I shall be opening a Draft PR soon(ish).

[2021-05-28 20:04] rhtyd commented on #5047
@GabrielBrascher thanks, sooner the better please. I'm happy to help review/test.

[2021-05-28 20:24] GabrielBrascher commented on #5047
I think that PR #5049 should be able to address this issue. Still, I need to test it.

[2021-05-28 20:30] rhtyd commented on #5047
Great thanks @GabrielBrascher I'll kick some smoketests

[2021-05-28 20:54] sweetdom69 commented on #5044
I am sorry to bug you guys but you are right I must have used an older repo on the host machines

[2021-05-28 20:54] #5044 closed

[2021-05-28 22:30] GabrielBrascher commented on #5047
Thanks, @rhtyd!

[2021-05-29 07:03] bragonznx commented on #4054
Hello
Any news on this ?
I still have the same issue and the agent doesn't want to start .... :(
I saw many issue like this one not resolve, does anybody got a clear answer of what could be the issue with :
"Connection with libvirtd is broken: invalid connection pointer in virConnectGetVersion"

[2021-05-29 07:14] bragonznx opened #5051 "Cloudstack agent doesn't want to start in loop"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]

##### SUMMARY
The cloudstack-agent doesn't want to start and crashloop saying :

2021-05-29 07:07:03,384 INFO  [kvm.storage.LibvirtStorageAdaptor] (Agent-Handler-1:null) (logid:) Found existing defined storage pool a2e605c9-b2ac-4dd9-9442-a666debbfc3

[2021-05-29 07:35] bragonznx commented on #4054
I double check all of this
And we have 128Go of memory so no issue on that
We have as well no firewall, so no issue with that !

[2021-05-29 07:37] bragonznx commented on #5051
We have 128Go of memory on the host so no minimum requierment issue.
The hypervisor is fully fonctionnal, I tested it with virsh and I was able to start a VM ! and to destroy it afterward
but the agent still doesn't want to start

[2021-05-29 07:53] weizhouapache commented on #5051
@bragonznx have you added the host on cloudstack ui ?

[2021-05-29 08:06] bragonznx commented on #5051
Hi @weizhouapache
Thanks for helping me with that.
On the manager side I get an error 530 when I want to add this host

Inside the log I get in loop something like that :

2021-05-29 08:01:34,205 DEBUG [c.c.a.t.Request] (AgentConnectTaskPool-3817:ctx-50ed930d) (logid:f2ed1564) Seq 0-0: Processing the first command  { Cmd , MgmtId: -1, via: 0, Ver: v1, Flags: 1, [{"com.cloud.agent.api.StartupRoutin

[2021-05-29 11:35] DaanHoogland commented on #4054
@bragonznx As @rvalle closed the issue yours is probably not the same. Can you open a new ticket and describe the issue in detail, please? (I.E. versions of OSses and ACS components, logs from MS and agent, etc)

[2021-05-29 12:06] bragonznx commented on #4054
I already open a new issue : thanks for the reminder

[2021-05-29 13:53] weizhouapache commented on #5051
@bragonznx
please check /etc/cloudstack/agent/agent.properties on hosts
the value of zone,cluster,pod should be id not uuid

an example below
[code]

[2021-05-29 14:48] bragonznx commented on #5051
Ok thanks
I found the issue, it was double and no documented at all.
My advice is to update the doc
1) the sshd config of the KVM hypervisor need to accepted weak encryption because the manager is using old encryptions method inside the java auth :
add to your KVM host /etc/ssh/sshd_config  :
KexAlgorithms +diffie-hellman-group1-sha1
Ciphers +aes128-cbc
restart ssh

**And you should be able to con

[2021-05-30 05:46] weizhouapache commented on #5051
@bragonznx
agent.properties is changed when you adds the host. you do not need to create or change it manually.

yes, some operations (add host, cancel host maintenance, etc) are done via ssh with user/password login, from management server to hosts.

[2021-05-30 19:46] DaanHoogland commented on #5046
I'm not sure if we can do anything but make this known by documentation, or at best made mutually exclusive features by configuration.

[2021-05-31 08:54] rhtyd commented on #5051
@bragonznx the issue of ssh library has been fixed in 4.15.1 with https://github.com/apache/cloudstack/pull/4099
You won't need the sshd workaround starting 4.15.1. Closing on your remark that you've fixed it with the workaround.

[2021-05-31 08:54] #5051 closed

[2021-05-31 10:23] rhtyd commented on #5047
Fixed by https://github.com/apache/cloudstack/pull/5049

[2021-05-31 10:23] #5047 closed

[2021-05-31 10:36] #4535 closed

[2021-05-31 13:31] rhtyd commented on #4990
Fixed in https://github.com/apache/cloudstack/pull/5017
@olivierlemasle we concluded the fix is not necessary for this bug, which is expected - we should continue billing until all backups are removed. The issue fixed in the PR is (a) remove VM from backup offering when VM is expunged and no backups exist, (b) remove VM from backup offering when there is only 1 backup which is deleted.

[2021-05-31 13:31] #4990 closed

[2021-05-31 14:10] bragonznx opened #5056 "Impossible to configure any RBD primary storage"
##### ISSUE TYPE

 * Bug Report
##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

[code]

[code]
to add a primary storage
[code]
2021-05-31 14:08:15,132 WARN  [c.c.a.AlertManagerImpl] (qtp1644231115-329:ctx-8ba0ed07 ctx-75a8f9db) (logid:b24c8b46) AlertType:: 7 | dataCenterId:: 1 | podId
:: 1 | clusterId:: nul

[2021-05-31 14:26] rhtyd commented on #5056
@bragonznx are you using the legacy UI or the new/default UI? Can you try by putting the port when you add the storage, the issue has been fixed for 4.15.1 - https://github.com/apache/cloudstack/pull/4565
Please test and close, and maybe search for closed issues/pull request before entering a new bug. If you're just testing 4.15, kindly use the nightly builds - http://download.cloudstack.org/testi

[2021-05-31 14:30] bragonznx commented on #5056
@rhtyd I have the same issue with : 192.168.70.204:6789 as address for the monitor !

[2021-05-31 14:39] rhtyd commented on #5056
Thanks for confirming @bragonznx as the issue is already fixed for 4.15.1 milestone, you may either wait for 4.15.1 or test using the nightlies build for 4.15 branch; or use a workaround to specify the port. Closing on your remark.

[2021-05-31 14:40] bragonznx commented on #5056
@rhtyd I just upgrade to the last version with both packages :
dpkg -i cloudstack-common_4.15.1.0-snapshot.20210531~xenial_all.deb cloudstack-management_4.15.1.0-snapshot.20210531~xenial_all.deb
And now i'm not able to login to the WEBUI anymore !!!!

[2021-05-31 14:46] rhtyd commented on #5056
@bragonznx :facepalm: of course, I didn't mean you should upgrade. As the name implies, snapshots or `nightlies` builds are not official builds and daily builds of development branches and should be used for testing purposes on fresh environments.

For the UI, you need to check your management server logs at /var/log/cloudstack/... path for exceptions and errors: /var/log/cloudstack/management/man

[2021-05-31 14:51] bragonznx commented on #5056
Next time perhaps you should be more precise ....
This env isn't in production hopfully, but we definitely need the RBD CEPH support to work !
Last question ....
Do I need to upgrade the agent in 4.15.1 too ? or can I keep them ?

[2021-05-31 15:02] bragonznx commented on #5056
We upgraded and we restart from a fresh DB
And the issue is still present ! we can't add a RBD storage from the WEBUI

[2021-05-31 15:25] rhtyd commented on #5056
@bragonznx well I imagine users would know the nightly build are not official releases (https://en.m.wikipedia.org/wiki/Daily_build) and are meant for testing only. Glad this wasn't your production env.

 As advised earlier, while adding the Ceph pool did you specify the port, for example ceph-pool.example.com:1234 (or whatever is the configured port). Another approach would be to try with the url

[2021-05-31 15:25] rhtyd commented on #5056
@bragonznx yes on your other question, you need to upgrade the agent package as well on all hosts, same as the management server version.

[2021-05-31 16:28] rhtyd commented on #5056
Closing this as Alexandre has confirmed over email that with 4.15.1 snapshot builds after upgrading agents pools are Up.

[2021-05-31 16:28] #5056 closed

[2021-06-01 03:42] havengit opened #5058 "Multiple DHCP records after change guest VM IP address"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

- Advanced Networking
- L3 Network
- Isolated
- Shared

--

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-06-01 05:37] rhtyd commented on #5058
@havengit how did you change the IP address of nic? Or did you add adding secondary IPs to the nic?

[2021-06-01 05:39] rhtyd commented on #5058
cc @Pearl1594 @weizhouapache

[2021-06-01 07:19] weizhouapache commented on #5058
@rhtyd @havengit
I can reproduce the issue. I will work on it

[2021-06-01 07:52] rhtyd commented on #5058
Fantastic thanks @weizhouapache

[2021-06-01 08:23] havengit commented on #5058
no secondary IPs
From UI ,instance  --> nic --> change ip address

[2021-06-01 09:46] staySober commented on #5041
![image](https://user-images.githubusercontent.com/20500978/120303220-349cb180-c301-11eb-893b-dead46a711c3.png)
I rollback cloudstack to 4.15.0 and restore db, but the error was also exist. I don't know what happened.

[2021-06-01 10:29] staySober commented on #5041
And finally I figured out why the error exsit. Because I have a empty cluster  hypervisor_type is hyperv.  But no have any instance. I think is the point to make the mistake.
Thanks a lot everyone

[2021-06-01 10:44] bragonznx opened #5062 "key"
##### ISSUE TYPE

 * Bug Report
 * Improvement Request
 * Enhancement Request
 * Feature Idea
 * Documentation Report
 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-06-01 10:44] #5062 closed

[2021-06-01 10:44] bragonznx commented on #5062
sorry wrong manip

[2021-06-01 15:27] rhtyd commented on #5058
Fixed by #5059

[2021-06-01 15:27] #5058 closed

[2021-06-02 09:47] staySober opened #5065 "new UI 4.15 branch network/guest networks show zone incorrectly"
##### ISSUE TYPE

 * Bug Report
 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### STEPS TO REPRODUCE

![image](https://user-images.githubusercontent.com/20500978/120458639-0636d900-c3ca-11eb-9f0e-de866b326b49.png)
![image](https://user-images.githubusercontent.com/20500978/120458839-354d4a80-c3ca-11eb-96ed-3f1785ff986a.png)
![image](https://user-i

[2021-06-02 09:52] shwstppr commented on #5065
@staySober Your zone is of basic network type, L2 network not allowed there

[2021-06-02 09:55] staySober commented on #5065
@shwstppr oh, guy, thanks. my problem.

[2021-06-02 09:55] #5065 closed

[2021-06-02 11:07] staySober commented on #5041
@rhtyd @DaanHoogland
hi friends，I update cloudstack-management server to 4.15.1. and config ha tag,  the host label.hastate also show `Ineligible`. what's wrong with me? why Host HA function doesn't work
![image](https://user-images.githubusercontent.com/20500978/120469999-9fb7b800-c3d5-11eb-904d-ff971a23e541.png)
![image](https://user-images.githubusercontent.com/20500978/120470019-a5150280-c3d5-

[2021-06-02 12:58] rhtyd commented on #5041
Hi @staySober - can you share your env details (which distro is that?) and have you tried clearing your cache? (try the UI in incognito mode or do Ctrl+Shift+R)

[2021-06-02 15:01] GabrielBrascher opened #5068 "UI: noVNC encountered an error - Cannot set property 'scaleViewpoer' of undefined"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

New UI and noVNC enabled.

##### OS / ENVIRONMENT

N/A

##### SUMMARY

This issue is being hard for me to reproduce, but it happened sometimes.

The issue happens when resizing the console (noVNC) window. Error:

[code]

I could not find anything concrete about what is triggering t

[2021-06-02 15:27] weizhouapache commented on #5068
@GabrielBrascher this should have been fixed by #4833

[2021-06-02 15:32] GabrielBrascher commented on #5068
Ah might be the case. Thanks for the quick response @weizhouapache.

I will test it with the changes from #4833. If it persists I will re-open this issue.

[2021-06-02 15:32] #5068 closed

[2021-06-02 15:36] rhtyd commented on #5068
@GabrielBrascher PS. 4.15.1.0 RC1 is out, please help test that :)

[2021-06-03 02:27] staySober commented on #5041
Sure,  CentOS Linux release 7.9.2009 (Core), cloudstack 4.15.1-SNAPSHOT. cluster hypervisor is KVM.
and I try to cleaned cache but it was seem no changed

![image](https://user-images.githubusercontent.com/20500978/120577009-417ee980-c456-11eb-8ff9-12b29283021b.png)
![image](https://user-images.githubusercontent.com/20500978/120577037-4f346f00-c456-11eb-8216-2796fcefecbe.png)

[2021-06-03 09:02] Spaceman1984 commented on #3111
A good addition. +1

[2021-06-03 10:19] staySober opened #5069 "Host HA consoleproxy vm migration failed"
##### ISSUE TYPE

 * Bug Report
##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### STEPS TO REPRODUCE

[code]
![image](https://user-images.githubusercontent.com/20500978/120627928-bd008b00-c496-11eb-97b8-688fd20e184a.png)
![image](https://user-images.githubusercontent.com/20500978/120628068-db668680-c496-11eb-8514-43241099d686.png)

[code]
![image](https://u

[2021-06-03 10:51] staySober commented on #5069
Zone 1 is ready to launch console proxy
2021-06-03 18:45:25,637 DEBUG [c.c.c.ConsoleProxyManagerImpl] (consoleproxy-1:ctx-601a371f) (logid:eb9c1423) Expand console proxy standby capacity for zone test-zone
2021-06-03 18:45:25,638 INFO  [c.c.c.ConsoleProxyManagerImpl] (consoleproxy-1:ctx-601a371f) (logid:eb9c1423) No stopped console proxy is available, need to allocate a new console proxy
2021-06-0

[2021-06-03 13:45] GabrielBrascher opened #5071 "Error when 'createNetwork' with VXLAN: "VLAN requested but URI is not in the expected format""
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

- Hypervisor: KVM;
- Network: Advanced network;
- Isolation method: VXLAN.

##### OS / ENVIRONMENT

N/A

##### SUMMARY

We are facing some issues when creating new networks on the CloudStack `4.15.0.0` (and they extend to `4.15.1 RC1`, as well as `4.16-SNAPSHOT`); prior to upgradin

[2021-06-03 14:07] rhtyd commented on #5071
@GabrielBrascher can you check if it affects 4.15.1.0RC1 too?

[2021-06-03 14:16] rhtyd commented on #5071
cc @weizhouapache

[2021-06-03 14:35] wido commented on #5071
Afaik it does

[2021-06-03 15:19] weizhouapache commented on #5071
@rhtyd this seems like a critical issue introduced in 4.15 (#4040 as Gabriel said). I have tested 4.14 which works fine.

[2021-06-03 15:29] rhtyd commented on #5071
@GabrielBrascher are you working on a PR to fix the issue?

[2021-06-03 18:12] rhtyd commented on #5069
@staySober can you test in a fresh 4.15.1.0 RC1 (see email on dev@ and user@) env?

[2021-06-03 19:14] GabrielBrascher commented on #4657
It looks like changing the MySQL global variables solved this issue.
Closing this issue for now; I may re-open if it happens again.

[2021-06-03 19:14] #4657 closed

[2021-06-03 20:33] GabrielBrascher commented on #5071
@rhtyd I am sorry for the delay. PR ##5074 is out.
I appreciate any test & review :+1:

[2021-06-04 03:59] staySober commented on #5069
@rhtyd I see the cloudstack 4.15.1-snapshot is update.
but when I try again, the  consoleproxy vm migration successfully.
I will test in a new env again

[2021-06-04 09:19] DaanHoogland commented on #5046
good point @aleskxyz , thanks. This worth some investigation. @shwstppr had you looked into this as well?
So if the zone is a vphere dc, antiaffinity should be ignored by the deployment planner but instead it should be configured on vcenter.
**important**:
[code]
I think it must be possible to call that procedure

in an automated fashing on rule creation and than add and remove VMs from it at will

[2021-06-04 09:34] weizhouapache commented on #5071
@GabrielBrascher
I was trying to reproduce this issue, but the following works for me
(1) create an advanced zone, use VXLAN for guest networks
(2) create an isolated network, create a vm on it.
both succeed. the bridge information on hosts look good also.

could you give more information of your setup ?
it would be better to share more  logs. Thank you.

[2021-06-04 10:27] DaanHoogland commented on #3111
is that you volunteering, @Spaceman1984 ?

[2021-06-04 11:52] andrijapanicsb commented on #4169
I would not trade security for convenience - thus I wild propose this stays as it is - requiring HTTPS end point on SSVM.

[2021-06-04 14:18] GabrielBrascher commented on #5071
@weizhouapache here follows some details:

### Environment
1. CloudStack version: `4.15.0.0` & `4.15.1.0 RC1`
2. Virtualization: KVM
3. Network: Advanced Network with Security Group enabled
4. Isolation: VXLAN

### Cases where I could reproduce the issue
#### 1. Default Guest network is being created while deploying a new Zone via UI wizard:
Command:
[code]
Log:
[code]
#### 2. creating a new netwo

[2021-06-04 14:34] rhtyd commented on #5071
Thanks @GabrielBrascher by networks it wasn't clear if you meant Shared network or isolated network. Does this feature work in 4.14 or before?

[2021-06-04 14:39] GabrielBrascher commented on #5071
@rhtyd ah that's the case indeed, shared networks.

It was working in 4.13.1.0; I did not test in 4.14.

[2021-06-04 15:08] weizhouapache commented on #5071
@GabrielBrascher thanks.
I can reproduce the issue when create shared network with vxlan in advanced zone.
I will test the fix.

[2021-06-05 16:55] rhtyd commented on #5071
Fixed by https://github.com/apache/cloudstack/pull/5074

[2021-06-05 16:55] #5071 closed

[2021-06-07 07:04] weizhouapache opened #5077 "Error while remove vxlan on kvm hosts in ACS 4.16"
When tested cloudstack with vxlan on kvm hosts, got an error when the last vm/vr is stopped on a kvm host.

[code]

The vxlan info are not removed (see `bridge fdb`)

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

kvm

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

#####

[2021-06-07 07:08] weizhouapache commented on #5077
this seems to be caused by pr #4561

https://github.com/apache/cloudstack/blob/master/plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/BridgeVifDriver.java#L379

@Pearl1594  could you please have a look ?

[2021-06-07 10:00] rhtyd commented on #5077
@weizhouapache I've put 4.15.1.0 as milestone, does it affect 4.15 branch too? cc @Pearl1594

[2021-06-07 10:03] Pearl1594 commented on #5077
It affects only 4.16 / master @rhtyd

[2021-06-08 07:37] rhtyd commented on #5069
As per the logs your host/cluster couldn't be selected for cpvm to start and failed, check if they were enabled or had enough cpu/mem resources.

[2021-06-08 07:40] staySober commented on #5069
now, everything is working fine. I will closed it

[2021-06-08 07:40] #5069 closed

[2021-06-08 14:43] sureshanaparti commented on #4887
ASF infra ticket: https://issues.apache.org/jira/browse/INFRA-21978 , to rename the default git branch name from 'master' to 'main'.

[2021-06-08 15:16] mib1185 opened #5086 "Please add UI integration for syncStoragePool api-call"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

For newly added api call `syncStoragePool` from #4871 (which works great 👍 ), a simple "Sync" button in UI to trigger storaepool synchronization for selected primary storage would be very desirable.

##### STEPS TO REPRODUCE

[code]

[2021-06-08 22:45] andrijapanicsb opened #5087 "UI: 4.15.1 RC1 - deploy VM instance UI automatically scrolls down..."
* Bug Report

15sec video
http://somup.com/cr1j35qxiP

Has to be fixed for RC2

[2021-06-09 03:32] rhtyd commented on #5087
@Pearl1594 @shwstppr are you able to reproduce it?

[2021-06-09 03:33] rhtyd commented on #5086
@harikrishna-patnala can you check if it's available, any reason we shouldn't support it in the UI?

[2021-06-09 03:46] Pearl1594 commented on #5087
Yes @rhtyd it is reproducible.

[2021-06-09 03:49] rhtyd commented on #5087
Thanks @Pearl1594 if the fix is straightforward pl go ahead.

[2021-06-09 04:33] levindecaro opened #5088 "Fail to delete volume left after template removed"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7.9
KVM

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-06-09 04:42] rhtyd commented on #5088
@levindecaro how long did you wait for the expunge event to complete? See the expunge.delay and expunge.interval settings.
@shwstppr @Pearl1594 can we reproduce it?

[2021-06-09 05:16] levindecaro commented on #5088
@rhtyd

The expunge.interval  is 86400, I was wait for days before report this issue. Thank you.

[2021-06-09 05:17] shwstppr commented on #5087
@Pearl1594 @rhtyd not sure if changes in #5089 are the best way to fix the focus problem but the issue not reproducible with them.
@utchoang can you please have a look

[2021-06-09 06:40] rhtyd commented on #5087
Fixed by https://github.com/apache/cloudstack/pull/5089 tested with a mobile and ipad/HD screen sizes.

[2021-06-09 06:40] #5087 closed

[2021-06-09 06:40] rhtyd commented on #5087
@andrijapanicsb the issue seems to happen only on smaller screens, pl test the fix and re-open if you're not satisfied. Thanks.

[2021-06-09 08:13] mib1185 opened #5091 "VM operation fail after storage drs in VMware datastore cluster"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

- Hypervisor: VMware, 2x VMware 6.7.0 ESXi hosts
- datastore cluster:

|id|name|uuid|pool_type|port|data_center_id|pod_id|cluster_id|used_bytes|capacity_bytes|host_address|user_info|path|created|removed|update_time|status|storage_provider_name|scope|hypervisor|managed|capacity_iops

[2021-06-09 08:41] andrijapanicsb commented on #5087
@blueorangutan package

[2021-06-09 08:46] andrijapanicsb commented on #5087
thx, will be testing the RPMs (btw, I'm on laptop/external display with fullHD+ of quadHD resolution, so not so small...)

[2021-06-09 09:20] rhtyd commented on #5091
@mib1185 I could be wrong but generally it's not a good idea for storage DRS to be enabled as well as CloudStack (two sets of control planes doing operations). Did this use to work for you in older versions.
cc @harikrishna-patnala @nvazquez @sureshanaparti @andrijapanicsb @borisstoyanov @vladimirpetrov

[2021-06-09 09:30] andrijapanicsb commented on #5087
LGTM as well, thx.

[2021-06-09 09:42] mib1185 commented on #5091
@rhtyd storage DRS is one of the main reason, why to use datastore clusters, those this should work absolutely transparent to CloudStack. In addition - as I know - CloudStack does not control load balancing of data between datastores inside a datastore cluster 🤔 .
This could not work on older version, since support for datastore cluster was introduced with 4.15.

[2021-06-09 09:52] harikrishna-patnala commented on #5091
@mib1185 may I know if this is happening only with ingested VMs or also on VMs deployed directly in CloudStack?

[2021-06-09 10:01] mib1185 commented on #5091
@harikrishna-patnala issue also ocurs with cloudstack deployed instances - tested like follows
- deploy new instance with only root volume
- create and attach new data volume to instance
- migrate new data volume into datastore-cluster, since it was created on another available primary storage
- perform storage DRS on vCenter
- stop instance
- start instance -> fails

[2021-06-09 10:12] andrijapanicsb commented on #5091
@harikrishna-patnala I don't recall we ever supported "STORAGE DRS" vs the regular "DRS" (which just live migrates VMs)

@mib1185 can you test Storage DRS with other "regular" datastore type (i.e. NFS or iSCSI etc) - I'm not aware we support this, but I might be wrong.

cc @rhtyd ^^^

[2021-06-09 10:18] mib1185 commented on #5091
@andrijapanicsb I'm sorry, but we do not have iSCSI nor NFS datastores available on our test lab (_even not in our productive environment_). Nevertheless, I guess it is independent on used child-datastore-technology, since Storage DRS is part of datastore cluster logic on top of the child-datastores. Storage DRS is part of the newly integrated Datastore Cluster support.

[2021-06-09 10:38] andrijapanicsb commented on #5091
@mib1185 NFS is so easy to add (on any Linux box, for testing purposes), but @harikrishna-patnala has just advised that this should work, if I read his reply correctly, so I will back up to my cave now and slowly disappear :)

[2021-06-09 10:50] harikrishna-patnala commented on #5091
@mib1185 how did you simulate DRS on data volume ? I tried to move it manually on vCenter but failed with lock issues since it is attached to the VM
On the other hand, I tried these steps and it is successful to me.
1. Created a VM with only root disk
2. Attached a data disk to VM (data disk on another primary storage)
3. Migrated the data disk to Datastore cluster
4. Simulate storage DRS on data

[2021-06-09 11:06] mib1185 commented on #5091
Simulating storage DRS is very simples as you would only drag&drop the vm from one datastore to the other:

![image](https://user-images.githubusercontent.com/35783820/121342053-91abef00-c921-11eb-8493-0c728c6da25e.png)

There was no manipulating of any db entries done by us.

Yeah, I also noticed that `chain_info` is empty for data volume.
Meanwhile I observed, that `chain_info` got lost after mi

[2021-06-09 11:19] harikrishna-patnala commented on #5091
I suspect the chain_info being empty is the reason for failure, can you please try this. Before applying storage DRS on the data disk, can you detach and attach the data disk to the VM to reflect the chain info and then apply storage DRS. That should work.

By the way, I tried the same, migrating the data disk from nfs primary storage to datastore cluster but chain_info is not empty in my case. I'

[2021-06-09 11:34] mib1185 commented on #5091
Please find attached the log file from management server for migration job execution, where afterwardy `chain_info` got lost:
[MigrateVolumeCmdByAdmin.log](https://github.com/apache/cloudstack/files/6623401/MigrateVolumeCmdByAdmin.log)

[2021-06-09 11:36] andrijapanicsb opened #5092 "UI: 404 after temlate deletion"
##### ISSUE TYPE
 * Bug Report

http://somup.com/cr1QXaqx8j

[2021-06-09 11:42] mib1185 commented on #5091
You are right - after detach and attach the `chain_info` is filled and correct again 👍
But honestly this should not be the solution 🙈

[2021-06-09 11:55] rhtyd commented on #5091
Since this is an edge case for a new feature it shouldn't affect existing users and workloads, and a workaround has been found and tested by @mib1185 so it can't be classified as a blocker, I've however marked it as a critical issue. From one of the comments looks like the issue is not reproducible so I suggest @mib1185 @harikrishna-patnala work out the exact steps of reproduction (maybe @mib1185

[2021-06-09 12:04] Pearl1594 commented on #5092
@andrijapanicsb I am unable to reproduce the issue, can you please clear the cache (dev tools -> Storage) and then try the operation. Thanks

[2021-06-09 12:05] rohityadavcloud opened #5093 "Upgrade to Vue3 library"
Vue3 has been released and looks to be relatively stable, we should explore migrating the UI codebase to Vue3 (https://v3.vuejs.org/guide/migration/introduction.html) and latest AntD library.

[2021-06-09 12:08] mib1185 commented on #5091
@rhtyd  +1 for "cut RC2 early next week"

Nevertheless, I have already tested with a fresh vm (see https://github.com/apache/cloudstack/issues/5091#issuecomment-857562021) with same negativ result ... additionally I have provided the DEBUG log of the migration job here https://github.com/apache/cloudstack/issues/5091#issuecomment-857619680 @harikrishna-patnala maybe you could have a look into this

[2021-06-09 12:09] harikrishna-patnala commented on #5091
@mib1185 Thanks for confirming. As mentioned before I cannot reproduce the case of losing chain_info after migrating the data disk from NFS primary storage to a datastore cluster. I've tested on a fresh 4.15.1 setup with a new data disk created, attached to a VM deployed in CloudStack and migrated to datastore cluster.

Let me know if anything else we need to do to reproduce the issue @mib1185

[2021-06-09 12:09] andrijapanicsb commented on #5092
nah, another package was built on top of older/not updated branch - all good in RC1, sorry

[2021-06-09 12:09] #5092 closed

[2021-06-09 12:14] mib1185 commented on #5091
@harikrishna-patnala Maybe lost `chain_info` data is related to line 32-33 in logfile from https://github.com/apache/cloudstack/issues/5091#issuecomment-857619680 🤔

[code]

[2021-06-09 12:19] rhtyd commented on #5091
@mib1185 just to re-confirm are you indeed testing packages from 4.15.1.0-RC1, from http://download.cloudstack.org/testing/4.15.1.0-RC1 ? What is your source datastore cluster (is it NFS, or something else)?
@harikrishna-patnala can you investigate code for possible cases which could lead to chain_info being set to null?

[2021-06-09 12:20] harikrishna-patnala commented on #5091
No @mib1185 I also see these lines in my testing. In my case chainInfo is there in the volume response
79-37b2-83d7-cb872d359959","chaininfo":"{"diskDeviceBusName":"scsi0:0","diskChain":["[9480106731023fc0a1e342a76a2e7128] i-2-6-VM/i-2-6-VM_7.vmdk"]}","quiescevm":"false","clusterid":"6b1679e3-4c38-

But in your logs it is missing
a43a-338d-a61b-d7fb0abf3556","chaininfo":"","quiescevm":"false","clu

[2021-06-09 12:27] Pearl1594 commented on #5088
If the VM was destroyed (not expunged) and an attempt was made to the delete the volume before the expunge interval has elapsed - then yes, deletion of volume fails with the mentioned error. I believe this would be the expected behavior. I tried the above steps and attempted deleting the Volume of a destroyed VM, while it did throw the exception, it did not transition the volume to destroy state;

[2021-06-09 12:29] mib1185 commented on #5091
@rhtyd we using our own fork based on aaac4b17099ba838a3f7b57400277ca9b23f98f5 (_4.15.1.0-rc1_) with some additional commits/backports - for details I need to ask our developer @DK101010 .

[2021-06-09 12:32] rhtyd commented on #5091
I see @mib1185 can you try the RC1 pkgs instead just to confirm if it's a valid issue to be fixed or something that is caused by your fork? Without being able to reproduce the issue, or information on how to it would be not possible to fix it.

[2021-06-09 12:45] mib1185 commented on #5091
@rhtyd yeah I see, but need to check if we can go with the rc1 packages, since we are using "multiple host tags" (_backport of #4398_) on our test lab. Nevertheless I will ask @DK101010 to have also a look into this issue from developer point of view

[2021-06-09 13:03] mib1185 commented on #5091
UPDATE: `chain_info` got lost on every volume migration, it doesn't matter if from regular datastore to datastore-cluster, or between two regular datastores. Not sure if this is noteworthy, but we are using multiple Tags for our primary storages and therefore also in the used disk-offerings.

[2021-06-09 13:17] mib1185 commented on #5091
@harikrishna-patnala could you please try to reproduce it, but this time with Tags on primary storages and disk-offerings?

[2021-06-09 13:24] levindecaro commented on #5088
@Pearl1594

Thanks for your explanation. I'm trying to reproduce this state status issue and sorted out the user was delete the instance without select "expunge" during deletion. So the instance was deleted and the disk image left by "Destroy" status.

In this scenario,
1. If try to delete it, it report "Request Failed (431) Please specify a volume that is not attached to any VM."
2. If try to rec

[2021-06-09 16:09] Pearl1594 commented on #5088
@levindecaro  Are there any error logs that you see when the volume goes into 'Destroy' state when the VM is destroyed. While I am unable to reproduce the issue following the mentioned steps at my end, the logs may provide some insight as to why that may be happening.
When I attempt to destroy the VM (without expunge) the volumes remains in Ready state and then gets expunged after the expunge inte

[2021-06-09 16:28] shwstppr commented on #5092
@andrijapanicsb @Pearl1594 to reproduce this you have:

1. Go to the template and copy the link
2. Logout from the server
3. Open the copied link, login with redirection
4. Now delete the template

Currently, 404 happens in UI when you log-in and delete something after redirection. I was trying to fix this but couldn't (Vue router not giving depth of routes or previous route).

Sorry if this wasn'

[2021-06-09 18:09] levindecaro commented on #5088
I just got this logs during deletion, but it dont looks meaningful.

[code]

Now I got one is recovered and one is state destroy, both cannot delete

<img width="1020" alt="image" src="https://user-images.githubusercontent.com/36956864/121405871-1f262800-c990-11eb-8d46-9469caa2f2da.png">

<img width="1017" alt="image" src="https://user-images.githubusercontent.com/36956864/121406030-48df4f00-c990-

[2021-06-09 19:10] andrijapanicsb commented on #5092
Well, I don't get the 404 (when normally logged in) with 4.15.1 RC1 version, so I assume there is no issue. 🤷‍♂️

[2021-06-10 04:33] harikrishna-patnala commented on #5091
@mib1185 may I know the datastore names and the chain_info you got after detach and attach workaround?

[2021-06-10 05:46] harikrishna-patnala commented on #5091
I think I found the problem with how we handle migrate answer. I'm working on the fix.

[2021-06-10 06:39] Pearl1594 commented on #5088
The actual issue here seems to be that the volume gets stuck in "destroy" state. @levindecaro Can you please let us know when exactly the volume's state gets set to "destroy". As the actual volume lifecycle is as follows:
1. When VM is destroyed - VM enters "Destroyed" state but volume is still in "Ready" state
2. When VM gets cleaned up i.e., expunged - the volume enters destroy state and then ge

[2021-06-10 07:07] rhtyd commented on #5091
Great thanks for sharing @harikrishna-patnala

[2021-06-10 08:52] mib1185 opened #5096 "ScaleVMCmd for ingested VMware VMs broken by #4829"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

After PR #4829 ingested VMware VMs can no longer be scaled, since ingested vm were linked to `system-default-vm-import-dummy-template.iso` template which is marked as removed (_I guess to be not selectable by user 🤔_)
https://github.com/apache

[2021-06-10 11:58] rhtyd commented on #5096
Can you check this @shwstppr

[2021-06-10 12:08] harikrishna-patnala commented on #5091
Just to update PR#5097 is already raised to fix the issue

[2021-06-10 12:14] rhtyd commented on #5088
@levindecaro are you using Ceph or NFS or something else?
@weizhouapache @wido @GabrielBrascher are you finding this in ceph env?

[2021-06-10 12:18] rhtyd commented on #5096
Maybe fixed by https://github.com/apache/cloudstack/pull/5095 cc @Pearl1594 @shwstppr

[2021-06-10 15:20] weizhouapache commented on #5088
@levindecaro @Pearl1594
I was not able to reproduce the issue either. the volume is "Ready" state at the end of my testing.

[2021-06-10 15:58] aleskxyz opened #5100 "CloudStack doesn't respect rootDiskController in template settings"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

vCenter 6.5

##### SUMMARY

CloudStack tries to deploy VM from template by using osdefault as the value for rootdiskcontroller and doesn't respect rootDiskController in the template settings.

##### STEPS TO REPRODUCE

1. Create a template from root disk

[2021-06-11 10:35] andrijapanicsb commented on #5100
Hi @aleskxyz ,

can you share the screenshot of the Settings tab of your template you created?

While ACS code should not even check for the recommends controller of the OS when there is one explicitly supplied/defined (and I believe it does anyway...yeah, silly) - this seems that there is a bug during that specific action "Unable to retrieve recommended disk controller for guest OS : suse64Guest

[2021-06-11 11:59] aleskxyz commented on #5100
Hi @andrijapanicsb

1. ![image](https://user-images.githubusercontent.com/39186039/121682166-bb802580-ca89-11eb-8435-68c2b308816c.png)
2. No it is not a mixed environment. I'm using ESXi 6.5
3. I can say the reason behind this behavior is unknown (or unsupported/deprecated in this case. When I try to choose the same os from web ui of vCenter I get a warning that this os type is not supported.) gue

[2021-06-11 12:07] sureshanaparti commented on #4887
The default branch has been renamed to 'main' (from 'master'), Created health checks PR: https://github.com/apache/cloudstack/pull/5102

[2021-06-11 12:16] andrijapanicsb commented on #5100
Good, so VMware issue as it seems, right? If so, we can then close this case.

Thanks,

[2021-06-11 12:24] aleskxyz commented on #5100
@andrijapanicsb
Not exactly! I think CloudStack should not check for recommends controller of the OS when it is explicitly defined in template settings. If the OS type is unsupported, CloudStack should raise an appropriate error.

[2021-06-11 12:26] andrijapanicsb commented on #5100
I agreed with that, but I can tell that even though this check is performed, if the specific model is set as a Setting of the template, it will get applied.

Let's leave the issue open, for improvement, but I'm wondering if your specific use case would work even if it would NOT query the recommended controller type - as you said, you can't even deploy a VM with that guest OS in Center directly (if

[2021-06-11 12:53] aleskxyz commented on #5100
@andrijapanicsb
At time of creating this issue I didn't find out the workaround so I thought that the CloudStack totally ignores the template settings.
But now I know that it will consider it if it can find the recommends controller of the OS from ESXi.
This should be vice versa at least.

[2021-06-11 12:55] andrijapanicsb commented on #5100
no problem - the check is, indeed, senseless, since you have the setting.... so should be refractored to NOT do the check if there is an explicit setting in place.

[2021-06-11 14:36] rhtyd commented on #5091
Fixed in https://github.com/apache/cloudstack/pull/5097

[2021-06-11 14:36] #5091 closed

[2021-06-11 14:37] rhtyd commented on #5086
Fixed in https://github.com/apache/cloudstack/pull/5098

[2021-06-11 14:37] #5086 closed

[2021-06-13 06:28] levindecaro commented on #5088
@rhtyd

I restarted ACS management server last night and found the "Destroy" status volumes are successfully purged. Afterwards I patch the "Recover->Ready" state volume to "Destroy" in DB, and found that it do expunged as well after the defined interval. So I do think there maybe stuck thread happening before restart, however, I could not found any logs that indicate this situation. I'd like to c

[2021-06-13 06:28] #5088 closed

[2021-06-14 02:50] rhtyd commented on #5096
@shwstppr @Pearl1594  is this issue tested to be fixed by #5095?

[2021-06-14 04:05] shwstppr commented on #5096
@rhtyd yes, with https://github.com/apache/cloudstack/pull/5095/commits/c3b412ca862ba6e009ec7cb47b9d73b16aea5791

[2021-06-14 07:20] rhtyd commented on #5096
Fixed by https://github.com/apache/cloudstack/pull/5095

[2021-06-14 07:20] #5096 closed

[2021-06-14 10:16] weizhouapache commented on #4931
fixed by #5013

[2021-06-14 18:34] andrijapanicsb opened #5107 "UI: "Read settings from OVA" is shown before Format=OVA is selected."
* Enhancement Request / Bug

Minor enhancement with VMware/OVA format - to actually make sense...

When hypervisor is chosen - the filed "format" is still NOT populated (OK, fine), but there is by default the "Read settings from OVA" slider available - this should also be hidden until the Format=OVA is selected (seems like the correct solution - because in future we might support other formats as

[2021-06-14 18:36] rhtyd commented on #5107
@nvazquez can you explore if it's a quick UI fix?

[2021-06-14 18:37] rhtyd commented on #5100
@nvazquez @harikrishna-patnala cc @Pearl1594 @shwstppr is this something known or already fixed?

[2021-06-15 10:45] andrijapanicsb commented on #5107
Fixed, thanks.

[2021-06-15 10:45] #5107 closed

[2021-06-15 19:19] nvazquez commented on #5100
This is still not fixed for non-deploy-as-is templates, if the template OS is not found the deployment fails and if the OS descriptor is found then the template setting for root disk controller is ignored in favour of the recommended controller by Vmware - moving it for 4.16

[2021-06-15 19:37] nvazquez opened #5111 "[VMware] Unable to start VM from template having multiple controller types"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
Register a multidisk OVA selecting 'Read VM settings from OVA'

[code]

##### OS / ENVIRONMENT
VMware hypervisor

##### SUMMARY
VM deployment fails as the mapping of the disks fails. The order of the disks as described in the OVF file as shown above differs from the order retrieved by

[2021-06-16 10:57] staySober opened #5116 "about provisioning type question"
##### ISSUE TYPE

 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### QUESTION

[code]

[2021-06-16 11:25] ravening opened #5117 "logrotate service is not running every hour"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Logrotate service should run every hour and rotate the files if they exceed the file size according to the config.
For the file /varlog/daemon.log, we have the following config in /etc/logrotate.d/rsyslog

[code]

which means it should rotate

[2021-06-16 12:36] rhtyd commented on #5116
@staySober we've an upcoming PR for 4.16 (https://github.com/apache/cloudstack/pull/4640) that will fix this, docs related to the PR is here - https://github.com/apache/cloudstack-documentation/pull/217/files which will make it clear.

Unless you're reporting a bug, kindly ask questions on the users or dev ML - https://cloudstack.apache.org/mailing-lists.html Thanks.

[2021-06-16 12:36] #5116 closed

[2021-06-16 12:56] staySober commented on #5116
Thanks.  I get it

[2021-06-16 14:11] ravening commented on #5117
Looks like cron is relying of timer service and that has `daily` value instead of `hourly` and hence its not running hourly. Need to change the settings in timer service

[2021-06-17 07:22] div8cn opened #5120 "virtual machine name change does not update DNS"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When the virtual machine host name is updated online, the VR is not updated, causing the internal resolution of the same VR VM to fail

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-06-17 08:13] rhtyd commented on #5120
This is expected @div8cn did you stop and start the VM, and changed the name of the VM using CloudStack UI/API?

[2021-06-17 08:17] div8cn commented on #5120
@rhtyd
I did not stop or restart the virtual machine;
I know that dns will be updated at restart or start;

[2021-06-17 08:27] rhtyd commented on #5120
Okay what you're asking is not a supported feature, so it's not a bug but maybe a new feature you're asking.

[2021-06-17 10:00] weizhouapache commented on #2708
this can be fixed by
https://github.com/apache/cloudstack/pull/4708/files#diff-5762d5f6db9d0479cc84ad9f76d4ba8cf3c6628147c572a160372803d8157f88R88-R96

[2021-06-17 10:16] luhaijiao commented on #5120
yes, it's user experience improvement.  User would expect the new hostname can be reachable by ping  without rebooting the VM.

[2021-06-17 10:19] DaanHoogland opened #5121 "Delete of uploaded volume fails"
cleaning up remnance of component test runs, some resources can't be cleaned. Inthis case uploaded volumes.

As it was a full component test run, I don't know which tests left these behind but it were 6 Volumes in total.

only workaround AFAICS, is to edit in the DB.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / EN

[2021-06-17 11:21] rhtyd commented on #5121
Deja-vu cc @Pearl1594 ?

[2021-06-17 11:36] Pearl1594 commented on #5121
seems like it destroys it on the secondary store (volume_store_ref table) but fails to update the volumes table

[code]

Deleted on secondary storage:
[code]

Fails to update removed field in 'volumes' table:
[code]

[2021-06-17 15:06] GutoVeronezi opened #5124 "KVM disk-only based snapshot of volumes instead of taking VM's full snapshot and extracting disks"
##### ISSUE TYPE
 * Enhancement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
4.16/main

##### CONFIGURATION

##### OS / ENVIRONMENT
KVM, file storage (NFS/Shared mountpoint)

##### SUMMARY

This spec changes the volume snapshot feature in KVM to a disk-only snapshot instead of taking a full snapshot and extracting disk, consequently changing the revert snapshot workflow.

Problem

[2021-06-17 17:49] rhtyd opened #5126 "UI: Quick view option is not available for newly create resources"
It's slightly annoying when a new VM or systemvm/VR is started, the quick view options may not be available:

![Screenshot from 2021-06-17 23-18-05](https://user-images.githubusercontent.com/95203/122448515-73e62600-cfc2-11eb-879a-ccabd27603ee.png)

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

[2021-06-18 01:21] #3290 closed

[2021-06-18 01:22] rhtyd commented on #3290
Fixed by https://github.com/apache/cloudstack/pull/4572

[2021-06-18 04:40] div8cn opened #5127 "UI. Cannot display VM PASSWORD for Reinstall VM"
##### ISSUE TYPE

 * Bug Report
##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

After executing the Reinstall VM operation through the UI, the new password of the VM will not be displayed

Note:
1. The template used by the VM has enabled password
2. There is a new VM password in queryasyncjobresultresponse

##### STEPS TO

[2021-06-18 05:47] utchoang commented on #5126
@rhtyd cc @davidjumani  I tried creating a new zone and checking the system VM but the Quick view still shows up. Can you specify how to reproduce the error?

[2021-06-18 11:57] DaanHoogland commented on #2708
@jms345 can you review @weizhouapache ' s suggestion? And confirm it solves the issue?

[2021-06-18 13:58] DaanHoogland commented on #5127
fixed by #5129

[2021-06-18 13:58] #5127 closed

[2021-06-21 07:13] weizhouapache commented on #5124
@GutoVeronezi good design !

[2021-06-21 20:11] GabrielBrascher commented on #5124
@GutoVeronezi thanks for sharing this design; looks good.
This execution flow should be improved indeed. I can't wait to see the implementation.

[2021-06-22 04:07] div8cn opened #5134 "Opening web console after enable ssl is very slow"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

After ACS enables SSL, the process of opening webconsole(cpvm) is very slow.
After opening the debug mode on chrome, you see
load https://console.**********.com/client/console?cmd=access, it takes 97ms
load https://console.**********.com/resou

[2021-06-22 04:25] davidjumani commented on #5126
@utchoang Try to deploy a zone and open the systemvms tab, at that point when the VM is starting it'll have no quickview, and after refreshing a couple of times the vms will come up but the quickview will still not appear

[2021-06-22 07:03] DaanHoogland commented on #5124
@GutoVeronezi I didn't study your design yet, but it looks nice. Tradition dictates that we do designs like this on the [wiki](https://cwiki.apache.org/confluence/display/CLOUDSTACK/Design) and I (and several others) can give you access. (not saying that we shouldn't change our ways, just saying what our ways are. There is a page per planned release there [e.g. 4.16](https://cwiki.apache.org/confl

[2021-06-22 08:32] div8cn commented on #5134
@rohit

[2021-06-22 10:27] weizhouapache opened #5138 "conntrackd failed in VPC with Redundant VRs (4.15.1.0)"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

advanced network
vlan for isolation

##### OS / ENVIRONMENT

centos7 as hypervisors and mgt servers

##### SUMMARY

conntrackd failed in VPC with Redundant VRs (4.15.1.0)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-06-22 10:31] weizhouapache commented on #5138
@rhtyd found this issue in 4.15.1.0-RC testing.

[2021-06-22 12:59] GutoVeronezi commented on #5124
@DaanHoogland Thanks for the tip.

I can add the design to the wiki if it makes sense, but I would rather keep things in github, as we already manage PRs and issues here. Also, I think that interactions through github are easier and reliable.

[2021-06-22 16:13] DaanHoogland commented on #5124
no problem @GutoVeronezi

[2021-06-24 08:21] weizhouapache opened #5152 "UI: need to notify new vm password when reset vm ssh keypair (4.15)"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

new vm password is not shown on UI when reset vm ssh keypair
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-06-24 08:24] weizhouapache commented on #5152
similar as #5127 which has been fixed by #5129

@Pearl1594 could you please also fix this ui bug ? thanks  :-)

[2021-06-24 14:43] DaanHoogland opened #5155 "last id file is not created on usage server install"
the file `/usr/local/libexec/sanity-check-last-id` is not created, when the usage server is installed. This file is required by the sanity check and must be present when it is enabled.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2021-06-24 14:47] DaanHoogland opened #5156 "/usr/local/libexec/sanity-check-last-id is not updated"
After the sanity check is run the file `/usr/local/libexec/sanity-check-last-id` should be updated to prevent the sanity checkl from always running over old records again.
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[cod

[2021-06-25 06:34] rhtyd commented on #4797
Fixed by https://github.com/apache/cloudstack/pull/5130

[2021-06-25 06:34] #4797 closed

[2021-06-25 07:03] #5077 closed

[2021-06-25 07:43] rhtyd opened #5159 "IP Clearance for Terraform Provider and Go SDK"
This issue tracks for the IP clearance process for accepting the Terraform Provider and Go SDK: https://incubator.apache.org/ip-clearance/ip-clearance-template.html#process

- [x] ACS PMC vote passed on Terraform provider donation/migration to ACS project on 22nd April 2021 (https://markmail.org/message/g4prb25g7wakbifa)
- [x] IP Clearance Officer: ASF member @PaulAngus or ACS VP @GabrielBrascher

[2021-06-25 07:56] ustcweizhou commented on #5159
@rhtyd I am OK with it.

[2021-06-25 08:08] rhtyd commented on #5159
Apologies to all the contributors tagged on this ticket. The Apache CloudStack project has voted and agreed to further lead the development, maintenance and releases of the Terraform provider the Go SDK codebases: https://markmail.org/message/g4prb25g7wakbifa

Following advice from general@ incubator I've started this issue to track IP clearance for the same. The thread can be referred here: https

[2021-06-25 09:26] glenjamin commented on #5159
Could you expand on what this means in practice? What are we agreeing to exactly? What would happen if we didn't agree?

I don't expect I would have any objections, but it's extremely unclear to me from this comment what transfer of what rights would be taking place if I stated agreement.

[2021-06-25 10:06] rhtyd commented on #5159
@glenjamin we are asking if you and the other contributors agree to the Terraform codebase being re-licensed and donated to the Apache CloudStack project under the opensource APLv2 (https://www.apache.org/licenses/LICENSE-2.0). That's all.

TBH I don't know what should happen on any disagreements. In practice, I would see this as a mere formality as Sander the original author and owner of the repo

[2021-06-25 10:15] schans commented on #5159
Happy to help out if I can. I'm already an Apache committer (Jackrabbit) with id "schans" and the ASF already has my ICLA.

I have no objections. Do you want me to mail that formally to the PMC ML? Or is here fine as well?

Thanks
Bart

[2021-06-25 10:17] rhtyd commented on #5159
Thanks @schans I'll leave it to you, here should be fine as an ASF contributor/committer you would have already submitted your ICLA.

[2021-06-25 11:11] schans commented on #5159
Cool. Hereby my office "No objection". Submitted my ICLA in 2011 ;-)

[2021-06-25 11:16] glenjamin commented on #5159
Ah ok. As far as I can tell `go-cloudstack` was already Apache 2 licensed, but sure - no objections from me.

[2021-06-25 12:29] hany commented on #5159
No objections from me.

[2021-06-25 14:36] stack72 commented on #5159
None from me either

[2021-06-25 15:24] grubernaut commented on #5159
"Fine with me"

On Fri, Jun 25, 2021 at 10:36 AM Paul Stack ***@***.***>
wrote:

[2021-06-25 20:11] greut commented on #5159
Fine by meOn Fri, Jun 25, 2021 at 10:08, Rohit Yadav ***@***.***> wrote:
Apologies to all the contributors tagged on this ticket. The Apache CloudStack project has voted and agreed to further lead the development, maintenance and releases of the Terraform provider the Go SDK codebases: https://markmail.org/message/g4prb25g7wakbifa
Following advice from general@ incubator I've started this issue to

[2021-06-26 07:49] benjvi commented on #5159
Fine by me, no objecttions

[2021-06-26 19:09] ceh commented on #5159
Fine with me.

[2021-06-27 07:00] ovear commented on #5159
That's cool, Fine with me.

[2021-06-27 15:16] dcarbone commented on #5159
fine with me.

[2021-06-27 15:49] div8cn opened #5161 "UI: rbd volume snapshot cannot be rolledback"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CloudStack 4.15.0.0
ceph 15.2.11
ubuntu 20.04
##### SUMMARY

Unable to roll back RBD VOLUME snapshot on UI
Use API to complete rbd volume snapshot rollback

snapshot.backup.to.secondary=false
kvm.snapshot.enabled=true

##### STEPS TO REPRODUCE

[code]

#####

[2021-06-28 05:52] rhtyd commented on #5138
@weizhouapache is this fixed or needs to be fixed?

[2021-06-28 07:36] weizhouapache commented on #5138
@rhtyd
it is an issue which needs to be fixed.
it is not critical issue I think.

[2021-06-28 08:21] rhtyd commented on #5161
@div8cn have you tested this on 4.15.1.0 RC2? cc @GabrielBrascher @wido

[2021-06-28 08:33] rhtyd commented on #5152
Fixed in #5153

[2021-06-28 08:33] #5152 closed

[2021-06-29 01:32] div8cn commented on #5161
4.15.1 RC3 also has this problem

[2021-06-29 06:51] rhtyd commented on #5159
Thanks all for your support, no one has objected to the initiative so we'll proceed with the IP clearance process this/next week cc @PaulAngus.

[2021-06-29 13:53] GabrielBrascher commented on #5161
@div8cn by unable you mean that there is not a "button" on the new UI for this?
Or do you mean a failure on the revert via the UI?

[2021-06-29 14:40] div8cn commented on #5161
no rollback button

[2021-06-29 14:49] GabrielBrascher commented on #5161
@div8cn thanks for confirming.

@rhtyd I am having the same issue; the UI button for reverting a snapshot is "missing".

The new UI presents the button only if the snapshot response has `revertable` as `true`. However, I am getting `revertable` as `false` in snapshots. This includes also a snapshot taken on NFS, not just Ceph/RBD.

List Snapshots via API.
[code]

Mysql select on snapshot_store_ref

[2021-06-30 05:42] div8cn opened #5166 "[UI] Cannot use RBD primary storage when adding ZONE"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When adding ZONE and using KVM+RBD primary storage, after executing the addHost interface, the following error (UI) will appear

Creating primary storage
Something went wrong; please correct the following:
TypeError: Cannot read property'value

[2021-06-30 10:34] andrijapanicsb opened #5168 "UI [afaik]: Request header to long when adding Swift as Secondary Storage"
ACS 4.15.0

##### ISSUE TYPE

 * Bug Report

![image](https://user-images.githubusercontent.com/45762285/123946407-758af300-d99f-11eb-9f9d-a7cd52021433.png)

[2021-06-30 10:34] andrijapanicsb commented on #5168
POST should be used instead?

[2021-06-30 10:36] andrijapanicsb opened #5169 "UI: swift sec store marked as readonly, while not really"
ACS 4.15.0

![image](https://user-images.githubusercontent.com/45762285/123946635-b8e56180-d99f-11eb-8f8c-449ecb8fe669.png)

[2021-06-30 12:17] DaanHoogland opened #5172 "UI: async job refreshes to a screen not currently viewed"
After deleting a vm and going into the details view of another VM, the screen is refreshed on another view.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

1. Delete a vm (with expunge and disks)
1. Go into the details view of another VM
1. When deleting the first

[2021-06-30 16:48] DaanHoogland opened #5174 "methods implemented twice in marvin code"
in the marvin python code some methods are implemented twice.
example:
format_volume_to_ext3(ssh_client, device="/dev/sda") in `marvin/lib/util.py` and in `marvin/sandbox/demo/simulator/testcase/libs/utils.py`

more can surely be found.

##### ISSUE TYPE

 * Bug Report
 * Improvement Request
 * Enhancement Request
 * Feature Idea
 * Documentation Report
 * Other

##### COMPONENT NAME

[code]

####

[2021-06-30 18:54] GabrielBrascher opened #5175 "MySQL error when SELECT disk_offering_view / service_offering_view"
##### ISSUE TYPE

 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]
##### SUMMARY

Seems to be related to MySQL only; MariaDB looks to be working fine. After some MySQL configurations to "disable"  `only_full_group_by` then the select works.

This might be more a documentation than a cloudstack issue, but it

[2021-07-01 03:13] utchoang commented on #5168
![image](https://user-images.githubusercontent.com/13766648/124059104-be50b380-da54-11eb-90ab-9db32ae1ee89.png)
@andrijapanicsb
This is not a problem with the method, it could be an error returned from the server-side. Maybe in my case, I received the message "You can only add new image stores from the same provider NFS already added"

[2021-07-01 03:55] Pearl1594 commented on #5168
@utchoang I believe this is because you probably already have an NFS store added. You may have to remove that before adding a store of a different provider.

[2021-07-01 04:31] utchoang commented on #5168
@Pearl1594 I mean @andrijapanicsb's problem is not in GET or POST method (As you can see my image called POST method). So I don't think that's the cause of the "Request long header" message.

[2021-07-01 08:09] DK101010 opened #5177 "Useability to configure traffic types for VMware zone is not good"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
In old UI when configuring the traffic type while creating a new zone of type VMware, the "Edit traffic type" form shows 3 defined fields to be filled out, where in background the traffic-label is build from these 3 fields.

![image](https://

[2021-07-01 10:12] shwstppr commented on #5177
@DK101010 can you please review/test the PR #5178

[2021-07-01 10:23] DK101010 commented on #5177
Hi, @shwstppr this is like I want. Many thanks for the hint ;)

[2021-07-01 10:23] #5177 closed

[2021-07-01 11:22] andrijapanicsb commented on #5168
My bad guys, yes, I also have hit that message like you @utchoang  - in my case I had Swift already added (but UI reported failure), etc.

Can be closed.

[2021-07-01 11:22] #5168 closed

[2021-07-01 14:19] #5121 closed

[2021-07-05 06:21] rhtyd commented on #2708
Fixed in https://github.com/apache/cloudstack/pull/5164

[2021-07-05 06:21] #2708 closed

[2021-07-05 06:23] #5169 closed

[2021-07-05 06:23] rhtyd commented on #5169
Fixed in https://github.com/apache/cloudstack/pull/5176

[2021-07-05 08:21] havengit opened #5179 "VPC Site to Site VPN state"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

CloudStack 4.15.0.0
advanced networking

##### OS / ENVIRONMENT

##### SUMMARY

1.Create the VPN Customer Gateway with incorrect information
2.Create a site to site vpn  connect， vpn state is connected

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

####

[2021-07-05 08:35] vladimirpetrov opened #5180 "Bulk actions: expunge command is ignored when the VMs are already in 'Destroyed' state"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Expunge command is ignored when the VMs are already in 'Destroyed' state while using the bulk actions.

##### STEPS TO REPRODUCE

[code]
![image](https://user-images.githubusercontent.com/12384665/124441764-b2326200-dd84-11eb-8f2d-4d

[2021-07-06 08:10] staySober opened #5185 "”cpu.overprovisioning.factor“ Configuration not in effect"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### STEPS TO REPRODUCE

[code]
![image](https://user-images.githubusercontent.com/20500978/124564815-0405e580-de74-11eb-8c15-82c544bd8bda.png)

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]
![image](https://user-images.githubusercontent.com/20500978/124565383-8ee6e000-de74-11eb-8d5a-67

[2021-07-06 08:56] slavkap commented on #5185
@staySober, I've tested this, and `cpu.overprovisioning.factor` is set correctly. This is just a warning that the configuration wasn't found in `Config.java` because it's deprecated and most of the configurations are moved to ConfigDepot. If it wasn't in ConfigDepot you will get something like this `Did not find configuration cpu.overprovisioning.factor in ConfigDepot too.`
I've changed the value

[2021-07-06 09:05] staySober commented on #5185
@slavkap  but when I deploy a VM, I saw the log as follow
![image](https://user-images.githubusercontent.com/20500978/124573563-3e738080-de7c-11eb-8e9a-71b40c8c1910.png)
I think it's mean My cpu.overprovisioning.factor is value '1', but I set it value to `2`

[2021-07-06 09:50] slavkap commented on #5185
Hmm not sure what steps you've taken. To take effect on old hosts, you have to update the `cpu.overprovisioning.factor` in the cluster's settings. If you changed it from the `Global Settings` tab, it will take effect only on newly created clusters (maybe I'm wrong, but I came to this conclusion after a quick check of the code )

[2021-07-06 09:58] staySober commented on #5185
@slavkap Oh, My problem. I forget check the cluster setting. now It work correctly. Thanks for your help me.

[2021-07-06 09:58] #5185 closed

[2021-07-07 02:21] abdelouahabb opened #5188 "Broken link in the 4.15.1 docs"
Please update the main docs :

`deb http://server.url/cloudstack/repo/binary ./`
`wget -q -O - http://server.url/cloudstack/repo/binary/KEY.gpg | sudo apt-key add -`

Url : http://docs.cloudstack.apache.org/en/4.15.1.0/installguide/building_from_source.html

[2021-07-07 03:39] abdelouahabb opened #5189 "Kubuntu returns Neon which causes error"
In the file `/usr/lib/python3/dist-packages/cloudutils/syscfg.py` there is only Ubuntu, but in Kubuntu, it gives `Neon` if you run

`/usr/bin/lsb_release -i
Distributor ID:	Neon
`

This makes `cloudstack-setup-management` fail,

Cloudstack 4.15.1
Distributor ID:	Neon
Description:	KDE neon User Edition 5.22
Release:	20.04
Codename:	focal
(Kubuntu 20.04)

[2021-07-07 11:24] vladimirpetrov commented on #5180
Fix confirmed, closing the issue.

[2021-07-07 11:24] #5180 closed

[2021-07-08 06:03] xuanyuanaosheng opened #5191 "Can not add KVM host to cloudstack, the cloudstack agent has errors"
##### ISSUE TYPE

 * Other

##### CLOUDSTACK VERSION
- CloudStack 4.15.0.0

##### KVM Host
- system: oracle8

#### Cloudstack agent version
cloudstack-common-4.15.1.0-1.el8.x86_64
cloudstack-agent-4.15.1.0-1.el8.x86_64

####  KVM host network
using bond and Basic Networks in [Configuring the Network Bridges for Basic Networks](http://docs.cloudstack.apache.org/projects/archived-cloudstack-installa

[2021-07-08 06:59] harikrishna-patnala opened #5192 "[UI] Missing custom IOPS fields in deploy instance wizard"
When trying to create a disk using a disk offering having custom IOPS enabled, UI is not showing fields to provide min and max IOPS.

Deploy VM wizard
![DeployVMWizard](https://user-images.githubusercontent.com/3348673/124875729-dab99680-dfe6-11eb-8c2c-583f7889bd83.png)

Create Volume wizard
![createVolume](https://user-images.githubusercontent.com/3348673/124875757-e1e0a480-dfe6-11eb-8f03-1736cc3

[2021-07-08 07:20] xuanyuanaosheng commented on #5191
The cloudstack manager error log:
[code]

[2021-07-08 07:44] weizhouapache commented on #5191
@xuanyuanaosheng
you have added a CentOS 7 host in a cluster, now you are trying to add a oracle8 host, right ?
It is not supported I think.

[2021-07-08 07:45] slavkap commented on #5191
@xuanyuanaosheng, the error means that the OS is Red but it is expected CentOS, you can check [compatibility matrix](http://docs.cloudstack.apache.org/en/latest/releasenotes/compat.html) if can help

[2021-07-08 07:49] shwstppr commented on #5191
@xuanyuanaosheng As @weizhouapache you are trying to add different hosts in the same cluster. You may try adding a new cluster and then adding your host there.

[2021-07-08 09:39] xuanyuanaosheng commented on #5191
As @shwstppr said one cluster can not add different OS host. I add a new cluster, and it works.  @slavkap  Thanks.
@weizhouapache  Thanks for you help.

[2021-07-08 09:39] xuanyuanaosheng commented on #5191
I will close this issue. Thanks for your help.

[2021-07-08 09:39] #5191 closed

[2021-07-09 09:34] #5166 closed

[2021-07-11 16:00] shatoboar opened #5196 "Rebooting a host in a zone, doesn't re-add the persistent network's resources"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Tested on local mbx kvm setup.

##### OS / ENVIRONMENT

Centos 7

##### SUMMARY

Issue is linked to #4814

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-07-12 02:12] xuanyuanaosheng opened #5198 "Does the basice network modle can handle the problem?"
##### ISSUE TYPE

 * Other

We use CloudStack in our company.
I have some question:

1.  we use The Basic Network mode in same cluster, can we use different VLAN for MGMT traffic and Guest Traffic?
     For example: the manager network is  vlan 136 and the guest network is vlan 291.

![image](https://user-images.githubusercontent.com/4197714/125224879-eff13680-e300-11eb-9250-a0519e1d0027.png)

2.

[2021-07-13 06:12] davidjumani commented on #5188
@abdelouahabb This is when the user builds packages from source and signs it with his / her custom key. The key is to be uploaded to a their custom webserver
http://docs.cloudstack.apache.org/en/4.15.1.0/installguide/building_from_source.html#repository-signing

[2021-07-13 06:22] davidjumani commented on #5189
@abdelouahabb Cloudstack could still work since it reads the contents of `/etc/lsb-release` and not run any command to get the OS version

[2021-07-13 06:31] davidjumani commented on #5189
@abdelouahabb As of now, vanilla Ubuntu is supported, feel free to add support for Kubuntu if you'd like

[2021-07-13 06:39] rhtyd commented on #5189
@abdelouahabb Kubuntu is not a supported distribution, please use Ubuntu Server. Refer: http://docs.cloudstack.apache.org/en/latest/releasenotes/compat.html

[2021-07-13 06:40] rhtyd commented on #5188
cc @wido @GabrielBrascher can you check this issue and specific docs URL? Do we need to update that wrt Ubuntu?

[2021-07-13 06:54] DaanHoogland commented on #5179
@havengit have you tried with entering correct information? and is the initial state disconnected then?

[2021-07-13 08:13] DaanHoogland commented on #5198
@GabrielBrascher @wido Do you know the answer to this?

[2021-07-13 08:26] wido commented on #5198
No, this is not possible. Basic networking allows only one VLAN per POD.

You have to define cloudbr0 for this which you can map to any VLAN on your Linux host.

[2021-07-13 09:21] DaanHoogland commented on #5188
I don't see a broken link, please specify

[2021-07-13 09:24] DaanHoogland commented on #5179
ok, so the assumption is it is correct untill a connection fails, could do with some improvement indeed.

[2021-07-13 10:25] hstan77 commented on #4463
Hi All,

i suggested before in on gitshub to do like this, may be can consider it:

Physical Router have IPv6 with /48 prefix

Cloudstack allocates each VR with one /64 prefix , and VR will have
function of DHCP6 to assign to the VM .  Cloudstack VR have a default route
to the /48 IP in Physical Router.

Cloudstack only allocates  the  /64 of /48 that available in Physical
router to VR.  and VR as

[2021-07-13 11:30] mib1185 opened #5202 "Addition to #5194 - update of `broadcast_uri` for all existing pvlan networks is necessary during upgrade to 4.15.x"
##### ISSUE TYPE

 * Bug Report
 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

As descripted in #5194, with #4040 changes were made, how the `broadcast_uri` for private VLAN network is build.
This new approach is the more correct one, but does only apply to newly created networks (_networks created

[2021-07-13 13:33] nvazquez commented on #4956
Hi @davidjumani @utchoang - can you please confirm if PR #5167 which has been merged fixes this issue?

[2021-07-13 13:34] DaanHoogland opened #5203 "strings thrown will be lost in marvin in python3"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-07-13 14:09] nvazquez commented on #4897
I think we should fix the tables to accept non-null values unless there is any known feature/use case that persists a detail key without a value. @shwstppr could you observe any pushback on fixing these tables?

[2021-07-13 14:11] nvazquez commented on #4891
Hi @srisgajare can you confirm if @apurv-1's workaround fixes the issue?

[2021-07-13 16:36] abdelouahabb commented on #5188
this makes a confusion, maybe it should be written `<http://server.url/>` to make it clear that this is a variable and it is used to make a custom repo

[2021-07-13 16:38] abdelouahabb commented on #5189
Kubuntu is just a normal Ubuntu with the main difference is the GUI and the `pkcon update` instead of `apt update` (and yes, for servers, better use headeless tools)

I will try to make a PR to add it

[2021-07-14 01:42] nvazquez commented on #4563
Hi @GabrielBrascher @KuasarCo has it been any progress on this issue?

[2021-07-14 01:45] nvazquez commented on #4558
Closing this issue as it has been fixed by PR #4812

[2021-07-14 01:45] #4558 closed

[2021-07-14 01:49] nvazquez commented on #4508
Hi @weizhouapache, PR #4727 has been merged, can you pleasse verify if it fixes the issue?

[2021-07-14 01:53] xuanyuanaosheng commented on #5198
@wido Thank you for your reply.

The first question: there is only one vlan in the basic zone type.
![image](https://user-images.githubusercontent.com/4197714/125547228-92ae630b-b872-4b8f-b1de-6d99eb56616f.png)

[2021-07-14 02:09] nvazquez commented on #2625
Hi @izenk can you confirm if the issue is fixed in the main branch?

[2021-07-14 02:12] nvazquez commented on #2711
Hi @GabrielBrascher @kiwiflyer @waza-ari @nathanejohnson is this still a valid issue?

[2021-07-14 02:22] nvazquez commented on #3047
Hi @wido is there any work done related to this issue?

[2021-07-14 02:23] nvazquez commented on #3015
Hi @wido is there any work on this issue?

[2021-07-14 02:26] nvazquez commented on #3035
Moving this issue to the next milestone as the PR has been inactive for more than a year

[2021-07-14 02:30] nvazquez commented on #3056
@PaulAngus @weizhouapache is this issue still valid in the new UI?

[2021-07-14 03:35] xuanyuanaosheng commented on #5198
@wido   I can not install _bridge-utils_ in oracle 8, Does this affect the add of agent host ?

[2021-07-14 05:05] davidjumani commented on #4956
@nvazquez This is a code wide change, the PR only fixes it in one place

[2021-07-14 05:41] AlexanderKgr opened #5204 "After update to 4.15.1 all windows vms switch to uefi and they don't boot (xcp-ng 8.2)"
##### ISSUE TYPE

 * Bug Report

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

CS 4.15.1
Hypervisor: xcp-ng 8.2

##### OS / ENVIRONMENT

ubuntu server 18.04

##### SUMMARY

Before update all windows vms were working perfect and they had option as bios on Xen Orchestra.
After update only windows vms are switched to  uefi which causes the vms to stuck on first screen.

##### STEPS TO REPROD

[2021-07-14 05:57] rhtyd commented on #5204
cc @nvazquez @sureshanaparti

[2021-07-14 06:34] GabrielBrascher commented on #2711
@nvazquez I still have not seen nor heard of such an issue. So I am not able to provide any insights regarding this issue.

It seems that @waza-ari did not get back. Maybe we should close this and if someone reproduces it, then we reopen it.

What do you think @DaanHoogland @kiwiflyer @nathanejohnson @waza-ari?

[2021-07-14 07:05] waza-ari commented on #2711
Hi, I honestly can’t tell what is best to do. I pointed my former colleagues to this issue, but some of them have changed the company as well, others apparently didn’t come back to this issue. Without knowing for sure I guess they found some method around it.

I still remember that it was quite easy to reproduce back then and if @DaanHoogland is right and it does not only affect basic networking,

[2021-07-14 07:12] weizhouapache commented on #4508
@nvazquez great. it works.

[2021-07-14 07:12] #4508 closed

[2021-07-14 08:45] wido commented on #3015
There has not been any work on this issue

[2021-07-14 08:45] wido commented on #3047
No, no work yet

[2021-07-14 09:15] weizhouapache commented on #3056
@nvazquez seems not.

![image](https://user-images.githubusercontent.com/57355700/125596771-92a2dc97-f187-4e6f-af67-3a6b1fe3e1d6.png)

[2021-07-14 11:32] nvazquez commented on #5204
Hi @AlexanderKgr as I read you have upgraded from 4.15.0 to 4.15.1, but have also performed a hypervisor upgrade to XCP-ng 8.2? I'm asking as XCP-ng 8.2 has not been supported until version 4.15.1. Also, please check this: https://xcp-ng.org/docs/release-8-2.html#uefi-windows-compatibility

[2021-07-14 14:13] havengit opened #5208 "VR: dnsmasq service start failed"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

ubuntu20.04.4

##### SUMMARY

Create a large number of virtual machines 10+, and the DNSMASQ service in VR will be restarted frequently, resulting in service startup failure

Need to modify parameters in VR ,To support mass creation of virtual machi

[2021-07-14 14:38] GabrielBrascher commented on #5198
@xuanyuanaosheng I think that the main requirement is just in order to have the bridges configured. If you configure bridges without _bridge-utils_ I don't see any problem.

As an example of this, we can notice that the CentOS 7 packaging has the _bridge-utils_ as a requirement (see: [packaging/centos7/cloud.spec](https://github.com/apache/cloudstack/blob/9678c7bd1e0cb6b4fa53b8bbef75d50d8d6812f6/p

[2021-07-14 21:06] AlexanderKgr commented on #5204
I was working with xcp-ng 8.2 before updating to 4.15.1. Windows vms were working with bios option without issue.
After upgrading to 4.15.1 vms trying to boot in uefi mode which causes the issue.
When i manually change from uefi to bios it is booting normally (with xen orchestrao), but when i start vm from cloudstack it is starting with uefi - cannot boot.

I am wondering...xcp-ng 8.2 supports bot

[2021-07-15 02:53] xuanyuanaosheng commented on #5198
@GabrielBrascher  Thank you for your reply.  I know.

[2021-07-15 07:01] rhtyd commented on #5204
@AlexanderKgr does it work for you if you deploy the VM with explicit boot type setting in the advance section of the VM deployment form:
![Screenshot from 2021-07-15 12-30-16](https://user-images.githubusercontent.com/95203/125743641-47030071-9a5f-4468-be61-64cebbd1f031.png)

We can investigate if there was any regression. Any ideas @DaanHoogland @nvazquez @sureshanaparti ?

[2021-07-15 07:01] rhtyd commented on #5208
@luhaijiao can you test with 4.15.1.0?

[2021-07-15 07:08] rhtyd commented on #4563
@nxsbi this is not a bug as Gabriel said, IPv6 public IP ranges for adv zone are not allowed/supported. You can however deploy an adv zone and then add a shared network with ipv6 range. Therefore we'll close this issue. However, I encourage you participate in this discussion on adding support for IPv6 in adv zone - https://markmail.org/message/23ttvzwmzuanlkyg

[2021-07-15 07:08] #4563 closed

[2021-07-15 07:09] rhtyd commented on #4660
Closing this as we've not heard any update, @luhaijiao kindly test against 4.15.1.0 and re-open if you've any advice for us to reproduce and help address this. Thanks.

[2021-07-15 07:09] #4660 closed

[2021-07-15 07:09] rhtyd commented on #5117
Merged in https://github.com/apache/cloudstack/pull/5132

[2021-07-15 07:09] #5117 closed

[2021-07-15 07:10] rhtyd commented on #5126
Merged in https://github.com/apache/cloudstack/pull/5137

[2021-07-15 07:10] #5126 closed

[2021-07-15 07:24] rhtyd commented on #5192
Fixed in https://github.com/apache/cloudstack/pull/5199

[2021-07-15 07:24] #5192 closed

[2021-07-15 07:32] #4883 closed

[2021-07-15 07:33] rhtyd commented on #4883
Merged in https://github.com/apache/cloudstack/pull/5012

[2021-07-15 07:38] DaanHoogland opened #5209 "created field is nt shown for some entities"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When trying to cleanup it is convenient to have the created field shown as is for vpc offering. For network offering it isn't shown. For network and VPC it isn't shown either

##### STEPS TO REPRODUCE

[code]
![image](https://user-ima

[2021-07-15 08:03] AlexanderKgr commented on #5204
these are my options.

![image](https://user-images.githubusercontent.com/25532758/125752086-ecb20aa3-7538-4663-82a4-246406064dde.png)

[2021-07-15 10:11] weizhouapache commented on #5208
@luhaijiao @havengit
creating vms with 1-2s interval should solve the problem, it is a workaround.

[2021-07-15 12:55] weizhouapache commented on #5208
@havengit can you post the resulf of command below in VR ?
[code]

[2021-07-15 12:59] weizhouapache commented on #5208
I did a small testing in VR
[code]
if action is 'reload', it works without issue (tested interval =0.5, 1 or 2)
if action is 'restart', error if interval is 0.5 or 1, no error if interval is 2.

[2021-07-16 01:33] havengit commented on #5208
2021-07-02 02:26:20,942 INFO     Service dnsmasq restart
2021-07-03 02:14:22,327 INFO     Service dnsmasq restart
2021-07-05 10:14:44,116 INFO     Service dnsmasq restart
2021-07-05 10:19:17,779 INFO     Service dnsmasq restart
2021-07-06 05:53:34,067 INFO     Service dnsmasq restart
2021-07-13 03:25:14,428 INFO     Service dnsmasq restart
2021-07-13 03:25:15,239 INFO     Service dnsmasq restart
2

[2021-07-16 01:49] havengit commented on #5208
Somebody mentioned that service reload instead of restart, https://github.com/apache/cloudstack/issues/3613

[2021-07-16 03:40] nvazquez commented on #5204
@davidjumani can you please check if this is a regression in the UI?

[2021-07-16 03:43] nvazquez commented on #3056
Thanks @weizhouapache, closing it

[2021-07-16 03:43] #3056 closed

[2021-07-16 03:53] nvazquez commented on #5203
@DaanHoogland are you working on this issue?

[2021-07-16 03:59] nvazquez commented on #5202
HI @DK101010 would you consider including this as part of your PR #5194?

[2021-07-16 04:12] nvazquez commented on #5174
@DaanHoogland if this cleanup is not pressing would you mind moving it for the next milestone?

[2021-07-16 04:14] nvazquez commented on #5172
@davidjumani can you please check this issue?

[2021-07-16 04:23] nvazquez commented on #5124
Hi @GutoVeronezi have you started any work/PR on this enhacement?

[2021-07-16 04:29] nvazquez commented on #5111
This was found after testing with an experimental VM containing multiple controller types and exported from Vmware as a template, for testing the deploy-as-is feature

[2021-07-16 04:59] davidjumani commented on #5172
This is a code wide issue and might take some time, I'll look into it

[2021-07-16 05:02] rhtyd commented on #5204
It's possible UEFI support was only for kvm/vmware and not xenserver or xcp

[2021-07-16 05:23] davidjumani commented on #5204
@nvazquez The UI only supports boot type / mode for VMware (non deployasis) and KVM since the beginning

[2021-07-16 05:28] davidjumani commented on #5172
Will be easier to fix after https://github.com/apache/cloudstack/pull/4782 is merged

[2021-07-16 06:22] DK101010 commented on #5202
Hi @nvazquez, this issue is needed for my PR in that case of existing community networks lower 4.15.0.0. But it could be necessary to add this as soon as possible to cloudstack because all already existing community networks in cloudstack are wrong. I can not estimate which impact it has for other CS functionality beside the ingest.

[2021-07-16 06:36] AlexanderKgr commented on #5204
xcp-ng 8.2 is capable for both bios and uefi

[2021-07-16 06:43] rhtyd opened #5212 "Check and fix failing UI unit tests"
Check and fix failing UI unit tests on 4.15 and main branches cc @utchoang

[2021-07-16 07:03] DaanHoogland commented on #2711
thanks @waza-ari , I'll close this and we'll re-open or open a new one when needed.

[2021-07-16 07:03] #2711 closed

[2021-07-16 07:23] weizhouapache commented on #5124
@GutoVeronezi is this similas as Storage-based Snapshots for KVM VMs #3724 ?

[2021-07-16 08:43] DaanHoogland commented on #5203
@nvazquez not at the moment, but it is on my backlog

[2021-07-16 08:43] DaanHoogland commented on #5174
no, but i would prefer if *you* push it back ;)

[2021-07-16 08:49] DaanHoogland commented on #5202
@DK101010

are you saying that that PR won't work without a DB upgrade for all URI fields? (bit worried here)

[2021-07-16 08:51] DaanHoogland commented on #5204
@AlexanderKgr , I guess what @rhtyd and @davidjumani are saying is that this is a feature/enhancement request and not a bug.

marking it as such

[2021-07-16 09:55] DK101010 commented on #5202
Hi Daan, sure. The current implementation always expects an "i" in the broadcast uri and throws errors for community networks that are created in CS 4.15.0.0 or above. My PR add an "i" or a "c" depending on the pvlan type and would throws errors for community networks that are created in 4.14. and below.

[2021-07-16 10:01] AlexanderKgr commented on #5204
After 4.15.1 all my windows vms cannot boot. It's it considered as a bug?

[2021-07-16 13:50] DaanHoogland commented on #5202
so we need to enhance #5194 to include a DB upgrade for old community pvlans!

[2021-07-16 13:53] DaanHoogland commented on #5204
those VMs were installed and booting before an upgrade in that env? I that case it is definitely a bug.

[2021-07-16 14:29] AlexanderKgr commented on #5204
Exactly. In 4.15.0 everything was working perfect

[2021-07-16 14:31] nvazquez commented on #5202
@DK101010 my idea is just what @DaanHoogland described. Including a DB upgrade only for older pvlans (created with the older format). New pvlans will have the new format and should work with your PR

[2021-07-16 15:11] GutoVeronezi commented on #5124
Hi @nvazquez, yes, I already started it. Actually I'm on the halfway of the MVP, as soon as it is ready I will open a PR.

[2021-07-16 15:20] GutoVeronezi commented on #5124
@weizhouapache I believe the final goal may be similar, but the approaches are different. [#3724](https://github.com/apache/cloudstack/pull/3724) works with freezing and thaw the VM, while this proposal will work with external  disk-only snapshots (consequently changing all the snapshot workflow).

Maybe in a week or two from now we will be able to discuss with some code 🙂.

[2021-07-16 21:36] s-seitz commented on #4519
Hi,
at least on 4.15.1 cloudstack is unable to find (or decrypt?) saml2.user.attribute if the assertions are encrypted (which is default in keycloak, and also enabled after importing cloudstack's metadata.xml).
I do not know, if this exactly relates to this topic.

[2021-07-17 01:45] nvazquez commented on #5046
Hi @shwstppr is there any work made on this issue?

[2021-07-17 02:01] nvazquez commented on #4982
@Pearl1594 @rhtyd @olivierlemasle tentatively assigning it to 4.16 milestone

[2021-07-17 02:04] nvazquez commented on #4956
Thanks @davidjumani, please advise if/when there are more PRs about this issue. Perhaps we can also track them on the issue description using a task list

[2021-07-17 11:24] tampler commented on #5051
@rhtyd The issue was NOT fixed in 4.15.1

I followed your blog [here](https://rohityadav.cloud/blog/cloudstack-kvm/) to setup CloudStack on Ubuntu 20.04.2
Still getting the `ERROR [kvm.resource.LibvirtConnection] (Agent-Handler-1:) (logid:) Connection with libvirtd is broken: invalid connection pointer in virConnectGetVersion`

My `agent.properties`:
[code]
Setup:
[code]

Any ideas ?

[2021-07-19 01:03] nvazquez commented on #3025
Hi @dubauski can you please confirm if this is still an issue on the main branch?

[2021-07-19 01:35] nvazquez commented on #3552
@borisstoyanov is this still an issue with the new UI?

[2021-07-19 02:20] nvazquez commented on #3121
@shwstppr @davidjumani can you confirm if this is fixed please?

[2021-07-19 07:23] shwstppr commented on #3121
@nvazquez I feel this is still not completely fixed. At many places in UI where we show select element it doesn't allow filtering with keyboard input.
Also, many forms (such as AttachVolume) allow selecting items such as instance, domain using select. An env can have 1000s of instances, domains, templates or other resources and we are trying to list them all at once which might be an issue for som

[2021-07-19 07:29] DaanHoogland commented on #5204
Ok @AlexanderKgr , I misunderstood, so the Xen resource mistakenly considers boot type for Xen templates to be UEFI instead of BIOS, right?

is this only for Windows templates (that you know)?

[2021-07-19 07:31] AlexanderKgr commented on #5204
yes all my linux vms are working with bios option. only windows have the issue.

[2021-07-19 09:26] tampler commented on #5051
Hey @bragonznx

Have you managed to install Cloudstack on Ubuntu 20.04 ? Which install manual have you followed to get that done?

Thanks

[2021-07-19 09:49] bragonznx commented on #5051
Hello Tampler
The manual isn't complete to my view
To be able to install the agent, their is a couple of tricks and tips to do ....

0. Make sure the management network CIDR is configured properly on the cloudstack manager:

Head to configuration → global settings and search for management.network.cidr

management.network.cidr The cidr of management server network Advanced X.X.X.X

Edit the X.X.X.

[2021-07-20 09:07] AlexanderKgr opened #5223 "Update Template Sharing options cannot be disabled"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu Server 18.04.5 LTS

##### SUMMARY

Options on Update Template Sharing can be activated but cannot be deactivated
On legacy ui everything is working as it should.

##### STEPS TO REPRODUCE

[code]

https://user-images.githubusercontent.com/25532758/126294140-ea1d6a87-659f-

[2021-07-20 09:46] DaanHoogland commented on #2583
@AlexanderKgr can you please check if this is still an issue on a recent 4.15 or on main and close if appropriate?

[2021-07-20 09:49] shwstppr commented on #5223
Verifying the behaviour

[2021-07-20 12:57] tampler opened #5226 "Install Fail: db.properties': No such file or directory"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 20.04.2
Linux 5.8.0-59-generic

##### SUMMARY

Installation fails for a non-root user.

CloudStack Management server fails during installation due to TWO errors:

1. mysql-server-8.0 (8.0.25-0ubuntu0.20.04.1) won't create an included folder `/etc/mysq

[2021-07-20 15:50] tampler commented on #5051
Hello @bragonznx

Tried to reset agent.properties and used the CloudMonkey CLI . Still no luck. Any more thoughts?
[code]

[2021-07-20 21:04] #5209 closed

[2021-07-21 01:26] nvazquez commented on #4552
@aleskxyz PR #5186 seems to fix this issue

[2021-07-21 02:02] nvazquez commented on #4187
@weizhouapache can you please check this issue?

[2021-07-21 02:14] nvazquez commented on #4158
Upgrades should not make any difference, @weizhouapache any input about this issue?

[2021-07-21 06:34] borisstoyanov commented on #3552
@nvazquez just checked it, not a valid issue anymore with the new ui, closing.

[2021-07-21 06:34] #3552 closed

[2021-07-21 08:05] DaanHoogland commented on #5226
@tampler why do you install as a non-root user? I think that is your issue.

[2021-07-21 08:38] tampler commented on #5226
Hello. Yes, I'm installing as a sudo user, but NOT a root. The reason is that I can't reset a root password and can't temporarily access the hardware.

I found a possible reason. I have Python 3.8.10 shipped with Ubuntu 20.04.2
I'm getting the following errors during the config stage:
[code]

and all this yields in the following
[code]

[2021-07-21 09:16] weizhouapache commented on #5226
@tampler I think you can ignore these warnings.
can you run "sudo -i" and then install packages ?

[2021-07-21 09:55] weizhouapache commented on #4158
@nvazquez

VR health check error is caused by commit 15eab829c737dc9ec97721b9bab94c271d0a390d
https://github.com/apache/cloudstack/blob/main/server/src/main/java/com/cloud/network/router/VirtualNetworkApplianceManagerImpl.java#L1922-L1932

no idea why the author made the changes.

I think we should use _routerControlHelper.getRouterControlIp
https://github.com/apache/cloudstack/blob/main/server/sr

[2021-07-21 09:56] weizhouapache commented on #4158
@nvazquez password issue should be fixed by #5013

[2021-07-21 10:34] tampler commented on #5226
@ustcweizhou Thanks for your advice ! It saved my day. I was able to seamlessly install and setup CloudStack under the root account.

However, I'm still facing the issue #5051 adding a KVM host and I'd appreciate your help and advice on that topic.

Closing this issue. Thanks everyone for your help !

[2021-07-21 10:34] #5226 closed

[2021-07-21 10:52] tampler commented on #5051
Okay, I fixed an issue. Set cluster, pod, zone id to 1 and restarted libvirtd and cloudstack-agent under the root.
Works for me now! Thanks everybody for your help and advice

[2021-07-21 13:27] kricud opened #5229 "Public IP Addresses return 20 records even if there are more records"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Public IP Addresses return 20 records

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-07-21 13:36] kricud commented on #5229
Response:
![4 15 1_ip](https://user-images.githubusercontent.com/30048481/126497537-7c3779ed-2ea0-4676-8e32-6cd3cf775e14.png)
Must be 21:
![4 15 1_dash](https://user-images.githubusercontent.com/30048481/126497582-4380e063-a96d-4b3f-99ec-bc1b777bc5e1.png)

[2021-07-21 20:33] tampler opened #5230 "Can't remove a failed ISO"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Basic network, one bridge, one zone

##### OS / ENVIRONMENT

Ubuntu 20.04.2
cmk 6.1.0

##### SUMMARY

1. After failing to upload an ISO from the local webserver, CS shows it in the list of ISOs with the status "Ready : false". But I can't remove it from both GUI and cmk

![Screensh

[2021-07-22 08:27] Pearl1594 commented on #5230
@tampler Is your setup/env SSL enabled, if not, uploading an iso from local will fail. With respect to failure in deleting an ISO, I wasn't able to reproduce the issue. Can you check on updating the following global setting configs:` storage.cleanup.delay `and `storage.cleanup.interval` to a low value, does the iso get cleaned up automatically after the configured time has elapsed. That worked for

[2021-07-22 08:51] weizhouapache commented on #5230
@tampler ssl is required in SSVM when upload template/iso form local, see @Pearl1594 's comment above
you may find information on https://www.shapeblue.com/securing-cloudstack-4-11-with-https-tls/

the issue with remove failed ISO should has been fixed by #4626 in cloudstack 4.15.1.0
if you faced the issue in 4.15.1.0 testing (not 4.15.0.0), please share more logs .

[2021-07-22 10:02] tampler opened #5234 "Choose between Public or VPN based IPs for KVM VMs"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 20.04.2
MySql 8.0.25
Cmk 6.1.0
KVM Hypervisor

##### SUMMARY

I wanna assign either Public or Internal (VPN based) IP addresses to my VMs.
If I choose to have a public, VM gets a public IP from a public Pool.
If I choose to have a VPN based (

[2021-07-22 10:21] tampler opened #5235 "Minimum required IP range for a single ZONE"
##### ISSUE TYPE

 * Documentation Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 20.04.2
MySql 8.0.25
cmk 6.1.0

##### SUMMARY

I've created a zone with only one spare external IP for both Management and Guest networks.
When I launch a zone, SystemVM won't start with the following error:
[code]
Questions:

1. What's the

[2021-07-22 10:40] weizhouapache commented on #5235
@tampler what type of zone do you use ?

[2021-07-22 11:03] tampler commented on #5235
I'm using the Basic Zone. I bought 3 ext IPs from my provider.

IP0 - NIC, cloudbr0
IP1 - Management Range [IP1:IP1]
IP2 - Guest Range [IP2:IP2]

With such setup, I'm still unable to launch a single KVM VM due to the "Insufficient address capacity"

[2021-07-22 11:32] tampler commented on #5230
I see the same issue for Management Servers. I got only one management server, but see three with different IDs in the GUI and can't remove any of them as well

![Screenshot from 2021-07-22 14-29-47](https://user-images.githubusercontent.com/2816743/126632606-5793a0af-a34f-458a-bb15-a4e1694b5e9c.png)

Should I open a new bug report for this ?

[2021-07-22 11:44] tampler commented on #5230
@ustcweizhou I'm not sure which logs do you want. Here's an exert from the `/var/logs/cloudstack/management/management-server.log`. See the file attached.

Let me know if you need an output from some specific `cmk` command.
[out.log](https://github.com/apache/cloudstack/files/6861939/out.log)

Thank you for your help

[2021-07-22 11:47] davidjumani commented on #5202
If I'm understanding this correctly, other existing pvlans (in vmware) were created as isolated in cloudstack as that's the only one that was supported at that time. If that's right, updating the isolated pvlans to community ones in the db via an upgrade path is not a good idea. Assuming there are isolated pvlans created in VMware and correctly created as isolated pvlans in cloudstack, a db upgrad

[2021-07-22 12:12] nvazquez commented on #5202
The logic to upgrade older pvlans should be smarter than a DB upgrade. I would propose to proceed with the PR #5194 without any DB upgrade, leaving this ticket open for future fix @davidjumani @DaanHoogland @mib1185

[2021-07-22 12:50] weizhouapache commented on #5230
@tampler it is not a bug I think.
could you share table 'mshost' in database ?
[code]

[2021-07-22 12:52] weizhouapache commented on #5230
@tampler could you please check if SSVM (secondary storage vm) is running and its Agent state is Up ?
Infrastructure -> System VMs -> s-X-VM

[2021-07-22 12:53] tampler commented on #5230
Sure thing, here's the screen:
![Screenshot from 2021-07-22 15-52-40](https://user-images.githubusercontent.com/2816743/126642042-d6f55fda-0a63-4f66-8af7-947787120104.png)

[2021-07-22 12:59] tampler commented on #5230
No, they are NOT. I can't launch any VM and haven't seen SystemVMs working due to #5235

However, I still see those ISOs in GUI and can't remove them. I also tried official Ubuntu [image](https://releases.ubuntu.com/20.04/ubuntu-20.04.2-live-server-amd64.iso). Its still won't get to the `Ready: true` state and can't be removed

[2021-07-22 14:30] weizhouapache commented on #4187
@nvazquez I was not able to create a vmware basic zone with local storage for testing. for vmware basic zone with shared storage, it works in my testing.

@shwstppr I noticed that you have made some improvement for vm migration on vmware in #4385, could you please have a look at this issue ? might it be fixed already?

[2021-07-22 15:55] shwstppr commented on #4187
@weizhouapache will try to have a look.
@ccycv is it possible to test 4.15.1 to reproduce it? Other  than #4385 , VMware migration improvements were also made with #4895 & #4758

[2021-07-22 18:22] DaanHoogland commented on #5202
sorry, That will leave people with disfunctional environments. :-1:

[2021-07-22 21:35] tampler opened #5238 "NFS backed SecondaryStorage is unavailable after Basic Zone setup"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Basic Zone
KVM hypervisor
Single host (management + agent)

NFS export
[code]
I also validated NFS functionality by reading/writing to the shared NFS folders from a different host

##### OS / ENVIRONMENT

Ubuntu 20.04.2
KVM Hypervisor

##### SUMMARY

Related to #4022

After setting

[2021-07-22 21:39] mib1185 commented on #5202
This could be the case for every user, who has updated to 4.15.x, since approache, how `boadcast_uri` is build, was changed already with #4040 and does not depend on #5194.
Therefore, yes to keep #5194 as is, but IMHO fix/update for existing private vlan networks should be implemented asap (_to become part of 4.15.2_) 🤔

[2021-07-23 03:16] davidjumani commented on #5202
Two reasons why I'm against adding anything to the upgrade path :
1. It is a bad assumption that all pvlans created in vmware are community and correspondingly created as isolated in cloudstack. There could be admins who created isolated pvlans in vmware and cloudstack. Changing all isolated pvlans to community will break the correctly working functionality
2. Pvlans are also created on Xen and KV

[2021-07-23 07:20] DaanHoogland commented on #5238
@tampler , the first few lines of your log indicate a problem on your host:
[code]

Selinux involved? Can you look at your host what the agent log says?

the SSVM can't be started on the host due to profile AppArmor not being loaded...?

[2021-07-23 07:38] tampler commented on #5238
Hello @DaanHoogland

1. Nah, SeLinux wasn't installed or enabled. I'm using a fresh Ubuntu 20.04.2 with default settings
2. ufw is inactive

Here's my net config:
[code]
Here's my `agent.properties`:
[code]

3. Yes, getting an exception in `libvirt-apparmor`:
[code]
The full log is below
[ag.log](https://github.com/apache/cloudstack/files/6867218/ag.log)

[2021-07-23 08:01] slavkap commented on #5238
@tampler, the problem now is not with the secondary storage VMs, I guess your host state is not `Up`. According to CS documentation, the Apparmor has to be disabled [Security Policies](https://docs.cloudstack.apache.org/en/latest/installguide/hypervisor/kvm.html#configure-the-security-policies). Can you try with this setup?

[2021-07-23 12:35] tampler commented on #5238
@slavkap

Oooh, thanks a lot for your advice! I indeed somehow missed setting up the AppArmor during installation.
Now SecondaryStorageVM have launched and I see the secondary storage available and is being used in the Dashboard.

Thanks everyone for your help. Closing this issue

[2021-07-23 12:35] #5238 closed

[2021-07-23 15:36] nvazquez commented on #5175
@harikrishna-patnala seems like `vsphere_storage_policy` may be conflicting here, any input?

[2021-07-23 16:16] tampler opened #5240 "Unable to create a deployment for VM"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Basic Zone, single cloudbridge0
system.vm.use.local.storage -> true
NFS backed Primary and Secondary storage

##### OS / ENVIRONMENT

Ubuntu 20.04.2
cmk 6.1.0
Hypervisor - KVM

##### SUMMARY

I was able to setup a Basic Zone, launch SystemVMs and observe host resources.

![Screensh

[2021-07-26 06:30] rhtyd commented on #5159
The repositories are imported under following passing of the IP clearance:
https://lists.apache.org/thread.html/r6600a9ea1a59b9d436a0c13d404b785c4cffd91349e0c79a0028bbc4%40%3Cgeneral.incubator.apache.org%3E
https://lists.apache.org/thread.html/rfec7740e736af0f0ebcc879a65bb66d131d4edd7cbde46daea0df9c5%40%3Cgeneral.incubator.apache.org%3E

Codebase imported at new repos:
https://github.com/apache/cl

[2021-07-26 06:30] #5159 closed

[2021-07-26 06:30] rhtyd commented on #5159
Thanks to all involved for your help, assistance, and patience.

[2021-07-26 06:51] weizhouapache commented on #4187
thanks @shwstppr .

@ccycv could you please test cloudstack 4.15.1 ?

[2021-07-26 07:26] davidjumani commented on #5172
Closing as issue is fixed in #5214

[2021-07-26 07:26] #5172 closed

[2021-07-26 08:07] DaanHoogland commented on #5240
@tampler , it looks like you don't have a cluster with suitable hosts, a few lines above the final failure:
[code]

[2021-07-26 08:39] weizhouapache commented on #5234
@tampler
I do not understand why you run a openvpn server on host.

for IP 10.205.x.x, you can use a shared network.
for IP 185.185.x.x, you can use either an isolated network (recommended) or a shared network.

therefore, it looks basic zone does not meet your requirements. you need to create an advanced zone (or advanced zone with security groups but it does not support isolated networks).

for

[2021-07-26 08:42] weizhouapache commented on #5235
you need add least 2 public ips in cloudstack systemvms (1 for console proxy /cpvm, 1 for secondary storage/ssvm).
you can use internal ip as management ips.

[2021-07-26 11:22] tampler commented on #5240
Great! And what do I do?

Seems like I do have a host, but CS can't use it

[code]

[2021-07-26 12:08] nvazquez commented on #4482
@wido @DaanHoogland there is a global setting to control the NFS version for secondary storage 'secstorage.nfs.version' perhaps it's easier to include a new global setting for primary storage and pass the version on the storage pool parameters down to the XML? cc @weizhouapache

[2021-07-26 12:22] slavkap commented on #5240
@tampler, does the compute offering from which you're trying to deploy a VM has host tag, and no one of your hosts has that tag?

There also another thing from the logs which bothers me and you're trying to deploy a VM on Zone 1:

you can check if a templete is downloaded and ready for a specific zone here:
![image](https://user-images.githubusercontent.com/51903378/126987667-6583a38e-47f2-4eaa-97

[2021-07-26 14:21] slavkap commented on #5240
One more question ... you're trying to start a VM, but what is its status? Is it an `Error`? Can you share the log when you try to deploy a VM?

[2021-07-26 15:20] tampler commented on #5240
Hello @slavkap

1. Yes, I'm pretty sure that I have successfully downloaded the ISO and setting up from it.
2. I tried to add the host and start the VM with and without the matching host tags. The result is the same and not starting

The latest [logs](https://github.com/apache/cloudstack/files/6879328/out.log)

Below are my setup and error screenshots

ISO template
![Screenshot from 2021-07-26 18-

[2021-07-26 15:29] tampler commented on #5240
And this is my agent properties:
[code]

[2021-07-26 15:31] slavkap commented on #5240
Thanks for the info @tampler! What is your primary storage and the storage scope - Zone/Cluster or local storage?

[2021-07-26 16:02] slavkap commented on #5240
@tampler

in this configuration, that is normal

Yes, because the VM is not allocated yet

This has to be the DB id, and the UUID from the UI corresponds to this ID.

Unfortunately, this error could appear in a lot of scenarios, and it's hard to debug. That's why I'm asking for more information, and if it is not a problem to share it
 - You have one NFS primary storage, and what is its scope - Zon

[2021-07-26 16:05] tampler opened #5243 "Discord Channel for CloudStack"
I'm new to CloudStack and already spent a week trying to launch a guest KVM VM with a very basic setup with no luck .

This is very annoying, given the pitch for CloudStack and its development history since 2008.

Currently, I can only ask questions here on github and skim thru pretty complex and ambiguous docs.

I also saw that the core team and some devs communicate with `Mailing Lists`. Like Se

[2021-07-26 16:11] tampler commented on #5240
@slavkap Thanks a lot for your help and bearing with me. You have spent pretty much time already helping me and I appreciate your attention and afford

Since we don't currently have an efficient communication channel, which I'm trying to solve in #5243, would that be a bad idea if I provide you a root access on my server so that you could take a look? It's a fresh test server with no sensible data

[2021-07-26 16:26] slavkap commented on #5240
@tampler, no problem with this! With the access to your test, I'm not sure is it right. Maybe somebody from the community has to tell. Is it possible to provide the information from these API calls?
`list storagepools`
`list serviceofferings id=(The UUID of the service offering with which you are deploying a VM)`
And - Why system.vm.use.local.storage = true? Do you intend to use Local primary stor

[2021-07-26 16:37] tampler commented on #5240
@slavkap here's more info

1. Turned off local storage with `system.vm.use.local.storage = false`
2. Storagepools
[code]

3. Service offering
[code]

[2021-07-26 16:41] slavkap commented on #5240
Ok, so you're using Local primary storage, and you have to enable it again `system.vm.use.local.storage`.
Your service offering is not right for local storage. The `"storagetype": "shared"` has to be '"storagetype": "local"'

[2021-07-26 16:50] slavkap commented on #5240
I forgot to tell you that there is no option to update it with the API. You can change the value through the DB or to create a new compute offering

[2021-07-26 17:20] tampler commented on #5240
@slavkap

Well, I was able to remove that offering and created a new one with the `Local` storage. I also had to turn on the `Local` storage in Zone settings, editing the Zone.

Now I created a modest compute offering with 2x1GHz, 4096MB RAM and 10GB Root Volume.
I'm getting now the `Server Insufficient Capacity` error, which is ridiculous, since I have much more on my server.

Pls check the log a

[2021-07-26 19:39] slavkap commented on #5240
The error msg from the log says that there isn't an IP address for the guest VM. The SQL query is:

FROM user_ip_address  INNER JOIN vlan
ON user_ip_address.vlan_db_id=vlan.id
INNER JOIN pod_vlan_map
ON user_ip_address.vlan_db_id=pod_vlan_map.vlan_db_id
WHERE user_ip_address.data_center_id = 2
AND user_ip_address.allocated IS NULL
AND user_ip_address.removed IS NULL
AND  (vlan.vlan_type = 'DirectA

[2021-07-26 19:45] tampler commented on #5240
Sure, here's the select output
![Screenshot from 2021-07-26 22-44-50](https://user-images.githubusercontent.com/2816743/127049268-ff6bff3c-4a1a-45f0-833c-a199f18b0b08.png)

[2021-07-26 19:52] tampler commented on #5240
@slavkap Yes, looks like I have two zombie SystemVMs, which consumed all my  spare External IPs, allocated to Zone.
How do I remove a SystemVM? Don't see a command in `cmk` nor in GUI

[2021-07-26 19:54] slavkap commented on #5240
I'm really confused :smile:
From the log you're trying to list address on `pod = 1`
`com.cloud.exception.InsufficientAddressCapacityException: Insufficient address capacityScope=interface com.cloud.dc.Pod; id=1`
but from your screen shot you're looking in `pod_vlan_map.pod_id=2`

About the system VMs you can destroy them from the GUI or with cmk `destroy systemvm id=uuid of the sysvm`

[2021-07-26 20:07] tampler commented on #5240
@slavkap Great news! I finally made it work. After (almost) two weeks playing with CloudStack installation, settings and tuning.

Here's what I have now

![Screenshot from 2021-07-26 23-01-43](https://user-images.githubusercontent.com/2816743/127051663-eae4f7f2-5321-452d-8603-d9208865c16b.png)

Key lessons learned:

1. First make sure that two SystemVMs are up & running
2. Make sure you that have

[2021-07-26 20:09] slavkap commented on #5240
That's great, @tampler! :)

[2021-07-26 21:44] kiwiflyer commented on #5243
@tampler We do have a slack channel available. You can signup here - https://docs.google.com/forms/d/1qewV4Ox3SR1WXvfZLi9tyP1HHhvKSqI0_zVK4V4dCvw

The old IRC channel has been retired.

[2021-07-27 00:53] matheusfontes commented on #5204
Same issue here.
All vms using templates that using windows 2016 or 2019 was changed to uefi boot.
As a workaround we need to:
1 - go to instance, on details tab choose Edit and set OS to "Windows 2012 R2"
2 - go to Settings and edit setting platform and replace work qemu-upstream-uefi to qemu-upstream-compat

Do you found another solution?

[2021-07-27 02:40] nvazquez commented on #4552
Closing as PR is merged

[2021-07-27 02:40] #4552 closed

[2021-07-27 02:46] nvazquez commented on #4587
Hi @olivierlemasle is there any work after PR #4588 is closed to address this issue?

[2021-07-27 02:49] nvazquez commented on #4357
Hi @hstan77 is there any update on this?

[2021-07-27 03:34] nvazquez commented on #3404
@shwstppr any update on this?

[2021-07-27 03:37] shwstppr commented on #3404
@nvazquez this has been addressed with #4385. Can be closed unless reported otherwise

[2021-07-27 03:44] #3404 closed

[2021-07-27 03:54] nvazquez commented on #3584
@DaanHoogland @weizhouapache @mihle is there any update on this?

[2021-07-27 04:00] nvazquez commented on #4902
@weizhouapache can you explore a fix for this please?

[2021-07-27 04:04] nvazquez commented on #3753
@borisstoyanov is this still an issue with the new UI?

[2021-07-27 04:08] nvazquez commented on #3693
@DaanHoogland is this still valid?

[2021-07-27 06:04] rhtyd commented on #4519
@s-seitz yes, there is no issue if the SAML IDP enforces encryption.

The issue reporter is essentially asking that assertions/signature be checked even when encryption is not enforced.

[2021-07-27 09:34] rhtyd commented on #5223
Fixed in https://github.com/apache/cloudstack/pull/5224

[2021-07-27 09:34] #5223 closed

[2021-07-27 09:37] rhtyd commented on #5243
@tampler you're free to start a Discord channel or any other online community. The project follows the ASF on its functioning so anything that does not happen on the mailing lists, hasn't happened. As Simon suggests you can join the Slack channel, however, you are encouraged to join the mailing lists and ask questions there as most people in the community would reply on the MLs but may not be onli

[2021-07-27 09:37] #5243 closed

[2021-07-27 11:02] #5229 closed

[2021-07-27 11:18] weizhouapache commented on #4902
@rhtyd @harikrishna-patnala
your opinions ?

[2021-07-27 13:35] weizhouapache commented on #3584
@nvazquez no update from me. it would be better to ask a xenserver expert to look into it.

[2021-07-27 14:57] DaanHoogland commented on #3693
yes it is, there is a lot of antiquated code in the smoke tests still, as they are all fixed/passing it is low priority.

[2021-07-27 14:58] DaanHoogland commented on #3693
also it has been touched since a year ago, so removing the 1year old label

[2021-07-27 17:17] tampler commented on #5235
Hello, @weizhouapache Thanks for your answer.

I set up a basic zone and was able to launch a KVM guest VM with NFS Primary/Secondary + LocalStorage enabled

However, I see 3 Public IPs have been consumed consumed + 2 Managent IPs when all VMs are expunged. I have  two SystemVMs running. How do I check who consumes my 3-rd Public IP?

![dash](https://user-images.githubusercontent.com/2816743/12719

[2021-07-27 17:47] weizhouapache commented on #5235
@tampler the 3rd IP is used by the virtual router of the default network which acts as the dhcp/dns/userdata server.
you can check the "Virtual Router" tab in network details page, or infrastructure -> Virtual Routers.

[2021-07-27 18:02] tampler commented on #5235
Okay, thanks a lot for your explanations. This should be updated in documentation as well.

To summarize

For a Basic Zone setup with a single server (mgmt + host + local db + local storage) and a single guest VM, the minimum required IP number is actually 7, split into two non-overlapping ranges of 5 IPs and 2 IPs

From Range 0 ( 5 IPs ) :

One - for the server NIC itself
Two - for Management Int

[2021-07-27 19:57] weizhouapache commented on #5235
@tampler
it is not necessary to assign public ip to hosts, you can use private ip (see RFC1918)

[2021-07-27 21:52] tampler commented on #5240
Okay, I'm back to main issue from another angle. Again getting the same error as a result of the following sequence

1. Uploaded custom ISO
2. Launched an instance from that ISO
3. Made changes, stopped the instance
4. Went to Volumes -> Instance Volume -> Make a Template from Volume
5. When the template was created from that volume, I shut down the original instance
6. Then trying to create an in

[2021-07-28 00:45] nvazquez commented on #5134
@davidjumani any input/hint on this?

[2021-07-28 05:38] ngrosc opened #5248 "removing instances from a project"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Removing instances from a project seems not to be possible

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-07-28 07:55] ccycv commented on #4187
I just upgraded to 4.15.1 and tested the upgrade, works as expected! great job guys!

[2021-07-28 07:55] #4187 closed

[2021-07-28 09:56] davidjumani commented on #3520
Looks like a commit was added years ago to respect the service offering tags over the disk offering tags https://github.com/apache/cloudstack/commit/b25ee92c348118d084fbc4d6103f3fb81fab0e68

[2021-07-28 10:45] rhtyd commented on #4887
@sureshanaparti I think all PRs are done, issues addressed, should we close this?

[2021-07-28 11:07] nvazquez commented on #5204
@matheusfontes were you running XCP-ng 8.2 on 4.15.0 as well before upgrading? If not, please specify which version

[2021-07-28 11:46] shwstppr commented on #5204
@AlexanderKgr @matheusfontes did you notice any change in the OS version of the VM in XCP-ng center/CLI before and after starting (failed with uefi) the VM?

[2021-07-28 13:37] DaanHoogland commented on #5248
@ngrosc is the account inside the project the same as the one outside?
and if so, isn't this a more generic issue of transferring ownership of VMs?

[2021-07-28 13:41] matheusfontes commented on #5204
We were using cloudstack 4.14 with xcp 7.6. We upgraded to 4.15.1 to install new cluster of xcp 8.2
Everything works perfect but when I try to migrate a windows vm on version 2016, 2019 or windows 10 from old cluster xcp 7.6 to 8.2 cludstack create vm as uefi boot.
On citrix documentation (https://docs.citrix.com/en-us/citrix-hypervisor/vms/windows.html) there is a SO boot matrix compatibility and

[2021-07-28 15:27] tampler opened #5250 "Template: no usable volumes found for VM"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

KVM Hypervisor
Basic Zone
Storage: virtio

##### OS / ENVIRONMENT

Ubuntu 20.04.2

##### SUMMARY

I was trying to create an instance from template and failed with:
[code]
##### STEPS TO REPRODUCE

1. Create a proper instance in VirtManager GUI with QEMU + KVM
2. Use `virtio` 10GB d

[2021-07-28 15:28] tampler commented on #5240
Moved to #5250

[2021-07-28 15:28] #5240 closed

[2021-07-28 15:47] tampler commented on #5234
Hello, @weizhouapache, thanks for your response. I digged more into CS documentation and found that it has own VPN implementation as well as a Static and Dynamic NAT bridges.

So my question boils down to the following:
![setup](https://user-images.githubusercontent.com/2816743/127353289-1b43cc11-3e48-4e84-978b-cd4b608495b7.png)

The question is:
Can I have such setup out-of-box in CloudStack ? I'

[2021-07-28 15:50] tampler commented on #5235
@weizhouapache Can I have a setup with a NAT VPN bridge, which consumes one Public IP + any number VPN backed IPs (e.g. 10.205.x.x) fo guest VMs? See #5234 for more info

[2021-07-28 19:22] weizhouapache commented on #5234
@tampler sure.
you need to create an Advanced zone, and deploy vms on an isolated network in the zone. then you can create multiple physical networks or single physical network (it does not matter), which includes Public/Guest/Management traffic type (Storage is optional).
you can set different traffic label for traffic types, for example in your case, cloudbr0 for Public and cloudbr1 for Guest (t

[2021-07-28 21:04] tampler opened #5251 "Can't add a host in Advanced Zone - Unable to add the host"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

KVM
Advanced Zone
Single server installation (mgmt, host, db, storage)
LocalStorage enabled

##### OS / ENVIRONMENT

Ubuntu 20.04.2

##### SUMMARY

I'm able to add a host X to the Basic Zone
However, I'm getting an error when I try to add the second (Advanced) Zone and add the same

[2021-07-29 05:47] weizhouapache commented on #5251
@tampler was the username 'root' when you added the host ?

[2021-07-29 05:48] weizhouapache commented on #5251
@tampler you can not add same host to multiple zones. it is not an issue.

[2021-07-29 05:48] #5251 closed

[2021-07-29 06:05] weizhouapache commented on #5251
@tampler
by the way, could you subscribe to cloudstack users mailing list and ask question in mailing list ?
https://cloudstack.apache.org/mailing-lists.html

[2021-07-29 07:28] AlexanderKgr commented on #5204
I was using already xcp-ng 8.2 with 4.15.0. after updating 4.15.1 the issue happened. No update to xcp-ng

[2021-07-29 07:35] AlexanderKgr commented on #5204
Nothing changed. Only boot option as uefi. When i manually change boot option to bios everything works

[2021-07-29 08:35] tampler commented on #5251
@weizhouapache
Hello, that's not a question, that's a BUG report. Have you looked into a log attached? There's an exception adding a host in Ubuntu for an Advanced Zone, please re-open my issue

[2021-07-29 08:35] tampler commented on #5251
No, sorry, I can't. Not using mailing lists

[2021-07-29 08:51] slavkap commented on #5251
@tampler, it is failing because of this
`sudo: a terminal is required to read the password; either use the -S option to read from standard input or configure an askpass helper` and I guess you have to allow `sudo` to be used without a password

[2021-07-29 09:17] DaanHoogland commented on #5250
The management server cannot find a suitable pool (primary) to deploy your VM on @tampler . The message is a bit misleading but the stackttrace tells you:
[code]

[2021-07-29 09:26] tampler commented on #5250
@DaanHoogland Okay, and what do I do? I have only a QCOW2 image, which I created on my local machine and can easily run it locally.

Shouldn't volumes be created automatically, when I launch an instance from the QCOW2 template? My instance should use the VM template ROOT system Plus I added an extra volume to it

Note, that CloudStack creates a volume for a new instance automatically, when I use m

[2021-07-29 09:41] slavkap commented on #5250
@tampler, when you deploy a VM from a template CS creates a volume automatically. I saw the log with the error but it doesn't match the steps you have mention:

the error in the log says that you're trying to start a VM, but what happened with the failed deployment has to be in another log

[2021-07-29 10:27] DaanHoogland commented on #5250
@tampler in that stacktrace the first line is `at com.cloud.deploy.DeploymentPlanningManagerImpl.findSuitablePoolsForVolumes(DeploymentPlanningManagerImpl.java:1470)`, the message is thrown because there is no primary storage pool that contains the image, not because there is no image. @slavkap is probably right when she says that the deployment failed.

[2021-07-29 10:50] tampler commented on #5251
@slavkap Wow thanks a lot for your hint. You are my CloudStack Failry now :grinning: :grinning: :grinning: :innocent:
Sure, adding my non-root user to sudoers, who don't need password made the trick

Thanks a lot for your patience and a wise help. I really appreciate
Closing the issue

[2021-07-29 11:12] #3520 closed

[2021-07-29 12:55] kricud opened #5255 "Out-of-band Management visual Power state"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When Out-of-band Management is configured under infrastructure > Hosts > Power State indication circle is not turning green.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
![ipmi_old](https://user-images.githubusercontent.co

[2021-07-29 13:06] matheusfontes commented on #5204
How do you manually change boot option in cloudstack? do you do this by new interface? legacy interface? or direct by hypervisor?

[2021-07-29 13:27] kricud opened #5256 "Resource state insecure missing"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

KVM

##### SUMMARY

When KVM host has expired or not provisioned host security key old interface in host summary Resource state colon is showing status Insecure new interface is showing Enabled. Only way to determinate in new interface that secure key must b

[2021-07-29 15:27] AlexanderKgr commented on #5204
Using advanced options of vm in xen orchestra. First force shutdown, then change the option and boot again. In cs ui there is no such option

[2021-07-29 17:18] tampler commented on #5234
@weizhouapache hello

I've been following the guest traffic docs [here](http://docs.cloudstack.apache.org/en/latest/adminguide/networking_and_traffic.html#). Essentially, I wanna bring up the setup right from the top picture there
![guest-traffic](https://user-images.githubusercontent.com/2816743/127534994-0e268ff3-792c-4329-9a4b-c3baf4b49dfa.png)

I did the following

1. Added an Advanced Zone
2.

[2021-07-29 18:24] weizhouapache commented on #5234
@tampler
as I suggested before, please use private IP (eg 192.168.x.x, see RFC1918) for internal communication (management, hosts and systemvms), and add a private ip range to management network (they will be assigned to systemvms).
each systemvm has a public Ip, a private Ip and a control Ip.
please change your network topology accordingly.

when you add zone via wizard on UI, you need to specify

[2021-07-30 04:59] rhtyd commented on #3609
Thanks @GutoVeronezi I looked at the PR and I think it doesn't fully satisfy the requirements intended with this issue. I've asked my colleagues if they can look into your solution and expand on them since you don't want to expand scope of your work that would include the full set of changes I was looking for.

@harikrishna-patnala/@Spaceman1984 are looking into the full feature who may update sco

[2021-07-30 05:28] rhtyd commented on #4158
@weizhouapache your PR has been merged, do we need to do something else or does your PR fix this issue completely?

[2021-07-30 06:07] weizhouapache commented on #4158
@rhtyd
the two issues are both fixed (1 by #5013, 1 by #5236). closed this issue.

[2021-07-30 06:07] #4158 closed

[2021-07-30 07:04] weizhouapache commented on #5100
@nvazquez
I have created a pr for this issue, see #5258

[2021-07-30 07:16] weizhouapache commented on #4982
@Pearl1594 @rhtyd @nvazquez
I created a draft pr #5259 to fix this issue. since @Pearl1594 had some work in pr #5005 , let's work together for a solution.

[2021-07-30 07:21] Spaceman1984 commented on #3609
That's correct @rhtyd

[2021-07-30 08:20] digitalgust opened #5261 "cpu capacity"
how to change cpu capacity?

 i have a cpu that amd r7 5700u，cloudstack detected 16 * 1.8GHz, but full of  core can boost to 16 * 3.3GHz, can i change it manually？

[2021-07-30 13:29] weizhouapache commented on #4897
@shwstppr do you have any update on this issue ?

[2021-07-30 14:39] tampler commented on #5234
@weizhouapache Hello Wei

This doesn't work for me. Any WORKING example available? Here's what I got for Advanced Zone CIDR: 192.168.1.1/24

![guest](https://user-images.githubusercontent.com/2816743/127669507-9cfa57f7-06bf-4870-bb83-e939822ad90f.png)
![err](https://user-images.githubusercontent.com/2816743/127669533-84b997c6-4e3f-4edb-82f3-6be4c9ead5ea.png)

[2021-07-30 15:52] weizhouapache commented on #5234
@tampler
before you create the zone, you need to have a clear network design of your platform.
public ip range (to connect internet)
private ip range (for systemvms, communicate with management/host)
guest ip range (assign to vms, consider isolated networks and shared networks)
storage ip range (if you does not use local storage)
managemen ip (for mgt server and hosts)

apparently you does not hav

[2021-07-30 16:08] tampler commented on #5234
@weizhouapache Hello Wei

1. I don't have a goal to build a platform now. I'm evaluating CloudStack and wanna see how to run the simplest example network with VPN. I don't need all those details at the moment since I'm running the whole thing on a single test server.

2. As for private IP ranges. Who should assign them? Do I need to allocate 192.168.x.x ranges from my switch or CS can do that with

[2021-07-30 16:31] weizhouapache commented on #5234
@tampler
you can find an example for advanced zone in cloudstack code.
https://github.com/apache/cloudstack/blob/main/tools/devcloud-kvm/devcloud-kvm-advanced.cfg

defauilt guest network ip and vlan
[code]
public ip range
[code]
private ip (startip to endip) and hosts
[code]

[2021-07-30 19:23] shwstppr commented on #4897
@nvazquez sorry for missing your ping. Will have look next week cc @weizhouapache

[2021-07-30 21:25] tampler commented on #5234
@weizhouapache Hey Wei

That actually worked for me! Thanks a lot for your help. I was able to

1. Launch an Advanced Zone
2. Add an Isolated Guest Network
3. Added a Public IP from the 192.168.x.x range
4. Enabled a Remote Access VPN on that public IP
5. Added a host
6. Launched a guest VM on that host

What is still NOT working
1. I can't access console on my guest instance, which I created from

[2021-07-31 09:41] ccycv commented on #4943
I just tested this in 4.15.1 Looks like the issue with "data-server" is persisting.

[2021-08-02 02:08] nvazquez commented on #5202
@mib1185 @davidjumani I agree - however, we had a different opinion from @DaanHoogland, after the latest replies are you still against moving on #5194 as it is now?

[2021-08-02 02:25] nvazquez commented on #4370
@DaanHoogland is this still on hold?

[2021-08-02 02:42] nvazquez commented on #4902
@rhtyd @harikrishna-patnala can you please advise if this is still valid?

[2021-08-02 03:26] nvazquez commented on #5019
@GabrielBrascher @wido is there any update on this issue?

[2021-08-02 03:33] nvazquez commented on #3110
@GabrielBrascher I see some related merged PRs but as I read they do not solve this issue and it is still valid, correct?

[2021-08-02 03:52] nvazquez commented on #4868
@davidjumani reading the description of the parameters:
- listall: If set to false, list only resources belonging to the command's caller; if set to true - list resources that the caller is authorized to see. Default value is false
- isrecursive: defaults to false, but if true, lists all resources from the parent specified by the domainId till leaves.

Seems like these definitions might need a cha

[2021-08-02 04:10] davidjumani commented on #4868
@nvazquez Not just the definitions but the implementations as well

[2021-08-02 04:13] harikrishna-patnala commented on #4902
This is valid based on the earlier discussions on PR #4462 and on this ticket, this is an improvement that we can take it up. We need a volunteer to work on this.

[2021-08-02 04:39] davidjumani commented on #5202
I'm for https://github.com/apache/cloudstack/pull/5194 but against any changes in a db upgrade path to fix existing pvlan uri

[2021-08-02 07:54] DaanHoogland commented on #4370
yes, becoming more actual, but might not be ready for 4.16

[2021-08-02 08:10] DaanHoogland commented on #5202
So the upgrade can check and change only pvlans specific to vmware hosts, can it @davidjumani , or would that give more issues? cc @nvazquez @DK101010

[2021-08-02 08:14] kricud opened #5265 "Mounting ISO with VMware tools fails"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Mounting ISO with VMware tools fails

##### STEPS TO REPRODUCE

![Screenshot 2021-08-02 110620](https://user-images.githubusercontent.com/30048481/127826851-75a7430a-4ca0-4a02-8184-ebb96138d3c8.png)
![Screenshot 2021-08-02 110633](https://user

[2021-08-02 11:40] rohityadavcloud opened #5266 "CloudStack UI login is slow"
The CloudStack UI in 4.15+ uses API auto-discovery to generated dynamic UI views, actions, paths etc. It uses `listApis` to find list of allowed APIs for the user/role which is generated on per user/account basis than per-role basis. Is there a way to make this faster, for example (1) reduce the size of list API response (based on what is actually used/consumed by the UI, for example in the json r

[2021-08-02 13:11] manuthu opened #5267 "v4.15.1.0 New UI - ListApis returns a gateway timeout"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

We recently upgraded our cloudstack environment from v4.13.0.0 to v4.15.1.0.
The error we currently are experiencing is when login. An error is raised `Exception caught while discovering features`
This prevents users from accessing the portal.

On inspecti

[2021-08-02 13:48] kricud opened #5268 "Delete button for firewall Egress rules located in wrong column"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Delete button for firewall Egress rules located in wrong column

##### STEPS TO REPRODUCE

![Screenshot 2021-08-02 164635](https://user-images.githubusercontent.com/30048481/127871863-c7b2fde1-a3ae-432b-beb0-3d703c41d872.png)
[code]

##### EXP

[2021-08-02 14:56] nvazquez commented on #4902
Thanks @harikrishna-patnala

[2021-08-02 14:59] nvazquez commented on #4868
@davidjumani sure, my question was if you could explain what's your idea on the new implementation. Maybe easier to explain the new definitions of both parameter

[2021-08-02 15:00] rhtyd commented on #5267
Hi Mike, I believe this is not a CloudStack issue but issue of an intermediary nginx which is likely used as reverse proxy. You need to check and increase timeout settings for nginx. Can you try testing the mgmt server directly?

[2021-08-02 17:54] nvazquez commented on #5202
I'm also for #5194. If I understand correctly the PR is extending the importing of unmanaged instances to all the pvlan types. IMO that may not mean to upgrade the broadcast URI for previously created pvlans, as those pvlans were created with the pvlan type which was available at that time.

[2021-08-02 19:46] manuthu commented on #5267
Thanks for the response @rhtyd

Looks like the request was timing out at the proxy.
I've increased the timeout [settings](http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_read_timeout) at the proxy and now everything is ok.

[code]

The Api is however really slow - Takes about a min and a half to respond. I see you already raised an issue on the same [here](https://github.com/apache/

[2021-08-02 19:47] #5267 closed

[2021-08-03 04:57] davidjumani commented on #5134
Noticed a similar result. However, the response is sent as soon as the CPVM receives the request, so the delay is possibly in the request reaching the CPVM

[2021-08-03 05:25] shwstppr commented on #5268
@kricud what browser are you seeing this? I'm not able to reproduce this with 4.15.1.0 on Google Chrome and Firefox,
![Screenshot from 2021-08-03 10-54-13](https://user-images.githubusercontent.com/153340/127962435-cc1db6fa-f255-4a06-adbf-1d4785e26267.png)