[2022-05-06 16:04] #6349 closed

[2022-05-07 09:48] elShiaLabeouf opened #6365 "Unable to sign in via SAML in Cloudstack Simulator"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
SAML authentication activated

##### OS / ENVIRONMENT
Environment: development,
Docker + Docker-compose,
"cloudstack-simulator" container running on localhost:5050/,
Ruby on Rails server running on localhost:3000/ as custom IdP implemented via the saml_idp gem.

##### SUMMARY
The user

[2022-05-07 09:55] elShiaLabeouf commented on #6365
The [PR](https://github.com/apache/cloudstack/issues/6365) is ready, please share your thoughts on that!

[2022-05-07 21:32] rohityadavcloud commented on #6365
I think it's happening solely due to two different webservers used in development mode. The mgmt server is on port 8080, UI/npm server on 5050. You can try to find a workaround using saml related global settings (for ex. how it is redirecting traffic). I believe, this is not a production issue you're facing (where the static UI and API is served by Jetty).

[2022-05-08 00:36] elShiaLabeouf commented on #6365
Hi @rohityadavcloud ! Thanks for reaching out on Saturday :)

You're correct, this is not a production issue, I'm using the cloudstack-simulator docker image strictly in development. The image helped me a great deal though - its out-of-box/all-in-one strategy allowed me to quickly set it up in docker-compose and move on to the development itself. Its easiness is really mind-blowing, taking into ac

[2022-05-11 06:38] sureshanaparti opened #6372 "Disk offering change for the volume (from shared to local pool, and vice versa) changes the offering, but the volume remains in the same pool"
The disk offering change (from shared to local pool, and vice versa) for a volume is updated, but the volume is not migrated when Auto migrate is enabled, and updated without any error when Auto migrate is disabled.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### OS / ENVIRONMENT

MS: CentOS 7 + Hypervisor: KVM + Storage: NFS, Local

##### SU

[2022-05-11 06:54] sureshanaparti opened #6373 "Root volume is moved to Allocated state after Reinstall/Restore VM"
Root volume is Allocated state after Reinstall/Restore VM, in Stopped state (Checked with VM deployed in shared and local storage pools).

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### OS / ENVIRONMENT

MS: CentOS 7 + Hypervisor: KVM + Storage: NFS, Local

##### SUMMARY

Reinstall/Restore operation of a Stopped VM (deployed in shared and loc

[2022-05-11 07:03] sureshanaparti opened #6374 "Next available device id is not picked up, while attaching the disk to VM."
The device id is that is available is not picked up when attaching the disk to VM.

##### ISSUE TYPE

 * Bug / Enhancement Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### OS / ENVIRONMENT

MS: CentOS 7 + Hypervisor: KVM

##### SUMMARY

The device id is that is immediately available is not picked up when attaching the disk to VM.

[code]

<img width="723" alt="DisksAtt

[2022-05-11 07:33] weizhouapache commented on #6373
@sureshanaparti
As I remember, the volume is Allocated state when vm is reinstalled. When vm is started, the volume will be allocated to pool and switch to Ready state

[2022-05-11 07:35] Pearl1594 commented on #6373
@sureshanaparti the root volume being in Allocated state when a stopped VM is reinstalled is probably the right behaviour and I have verified the same in older versions of ACS - behviour is consistent. It gets to Ready state on start of the VM. Also, a running VM when reinstalled has it's root volume correctly marked as Ready.

[2022-05-11 07:39] sureshanaparti commented on #6373
The Root Volume is Created and Ready after VM started and VM is booting, seems to be the expected behavior. Thanks @weizhouapache @Pearl1594. Closing this ticket.

[2022-05-11 07:39] #6373 closed

[2022-05-11 08:29] sureshanaparti commented on #6374
Device Ids to 0,1,2,4-33 are are currently allowed. Device id 3 is reserved.

[2022-05-11 08:34] sureshanaparti commented on #6374
Noticed the max data disks in the latest VMware and Xen versions are set to 59 and 253 in hypervisor capabilites. May be, the device Id support has to be updated accordingly. Closing the ticket, as the next available device id is picked, after skipping the reserved ones.

[2022-05-11 08:34] #6374 closed

[2022-05-11 14:23] vdombrovski opened #6381 "Juniper SRX plugin: Improperly parsed untagged VLAN when provisioning a guest network"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

This is a direct follow-up to the following issue: https://issues.apache.org/jira/browse/CLOUDSTACK-9996

Previously addressed by this commit:

https://github.com/apache/cloudstack/commit/a8c09f2a1980757eb7a9da4a178dc27da08df2ed

A s

[2022-05-13 08:04] weizhouapache commented on #6302
This is caused by a libvirt change made in Dec 2021
https://gitlab.com/libvirt/libvirt/-/commit/27c1d06b5bd68bdce55efff0a50a15a30cb2a96b

for users who use 4.15/4.16 and have this issue, please downgrade libvirt.

[2022-05-13 11:21] #6372 closed

[2022-05-14 18:59] rwdj commented on #6246
See this page on automated DISA STIG full compliance (including FIPS): https://ubuntu.com/security/disa-stig

[2022-05-14 22:00] soreana opened #6390 "Updating the rpfilter config value to 'false' in the upgrade path"
As we discussed [here](https://github.com/apache/cloudstack/pull/6380#discussion_r872021311_) we need to update the `network.disable.rpfilter` and `consoleproxy.disable.rpfilter` config values to `false` in the upgrade path (either Upgrade class / schema file) when the value is not 'true'.

Check the following pull request for more information: https://github.com/apache/cloudstack/pull/6380

[2022-05-16 07:39] DaanHoogland commented on #6298
@CKrieger2020 this is certainly a new use case. After a quick read I think you might want to investigate going to IPv6.
Another possible way to go is to deploy in a shared network.

[2022-05-16 09:02] DaanHoogland opened #6391 "Py3 component tests fixes"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

NA

##### OS / ENVIRONMENT

NA

##### SUMMARY

the component tests have been ported to python3 but a lot of them are non functional. In #5442 a start was made but this is going to require more work than should be stuffed in a single PR. Below is a list of the component tes

[2022-05-16 09:07] synergiator commented on #3397
are here any updates? what could be blockers? the fix works!

[2022-05-16 12:21] weizhouapache commented on #3397
@synergiator
I think this has been resolved by #5507 .

[2022-05-16 12:22] #3397 closed

[2022-05-16 12:34] synergiator commented on #3397
@weizhouapache the fix makes possible creating your own container from the upstream codebase and this is great. However, the official images haven't been delivered yet where you'd expect them.

![image](https://user-images.githubusercontent.com/1834666/168592757-eb5c5d2b-2752-4972-880a-0440aad710ee.png)

Side note: the alternate Docker Hub image works, but only the basic DC deployment. Advanced co

[2022-05-17 04:57] AlexanderKgr commented on #6349
not added this
INSERT IGNORE INTO cloud.hypervisor_capabilities(uuid, hypervisor_type,
hypervisor_version, max_guests_limit, max_data_volumes_limit,
max_hosts_per_cluster, storage_motion_supported) values (UUID(), 'XenServer',
'8.2.1', 1000, 253, 64, 1);
this enabling 8.2.1 on cs

[2022-05-18 06:12] Tragiv opened #6395 "VM and VR must be on the same host?"
##### ISSUE TYPE

 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

advanced networking  VPC
##### OS / ENVIRONMENT

##### SUMMARY

There are multiple hosts in a cluster
![image](https://user-images.githubusercontent.com/20454875/168969405-b5384d14-65b8-4fd6-9500-b95be6e9a751.png)
A user created a VPC network in kvmagent3,
![image](https://user-images.g

[2022-05-18 06:39] synergiator opened #6396 "Please release 4.16/4.17 Docker images to the official Docker Hub account!"
So far, there are working builds for 4.16.1/4.17-SNAPSHOT Docker images of the cloud stack simulator.

It would be great to make them available in the official Docker Hub account!

![image](https://user-images.githubusercontent.com/1834666/168970658-f5154245-1954-4a48-8ac4-d1023a5b998b.png)

In the meantime, build for 4.16.0/4.16.1 has been shared by one of the team members:
https://hub.docker.com

[2022-05-18 11:24] rohityadavcloud commented on #6396
Thanks makes sense, we'll need to figure out how to do this and if this requires access from ASF. (we've never needed this as nobody has asked/required this and it would add an overhead to maintain/test/build/publish them)

[2022-05-18 12:06] synergiator commented on #6396
Hi Rohit, indeed I discussed this on the ML last year. I think an easy-access up to date cloudstack simulator could attract more newcomers to the community, but that's just a hypothesis. Good enough there is an online demo, as well.

[2022-05-18 13:40] #6344 closed

[2022-05-19 07:43] weizhouapache commented on #6396
@xlmnxp
I think `mbx` is the tool similar as `microstack`
https://github.com/shapeblue/mbx
You can use it to deploy cloudstack mgmt server and different hypervisors in a server.

[2022-05-21 11:40] leolleeooleo commented on #5500
CloudStack gets its information from libvirt.
So, I think this should fix in libvirt.

[2022-05-21 11:41] #5500 closed

[2022-05-22 12:58] tampler opened #6406 "bug: fail to download a template from https"
##### ISSUE TYPE

 * Bug Report
##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced network with VPC
KVM

##### OS / ENVIRONMENT

Ubuntu 22.04

##### SUMMARY

I'm using a QCOW2 image template. When I install it from a `http` location, all works. When I setup my reverse proxy to use `https` (with support of `tls1.2` and `tls1.3`, I'm getting an error: `Rece

[2022-05-23 10:45] nvazquez commented on #6406
Hi @tampler can you upload the SSVM logs as well?

[2022-05-23 10:49] nvazquez commented on #6406
Also - does this mean you are running the code from main at 25/03? (CloudStack 4.17.0.0-snapshot.20220325). If that is the case please upgrade your packages to use the latest code (or 4.17 RC2 - https://download.cloudstack.org/testing/4.17.0.0-RC2/)

[2022-05-23 11:57] tampler commented on #6406
Hi @nvazquez

Yes, I used a nightly build for 4.17 back then (Mar 25 2022) to setup a test env. Do you want me to try with the latest nightly for 4.17 or 4.16 ? :thinking:

[2022-05-23 12:00] nvazquez commented on #6406
@tampler thanks, latest nightly packages for 4.17 should be fine. You may also need the latest system VM template and recreate your system VMs

[2022-05-23 12:11] nvazquez commented on #6406
Sure - the packages include the system VM templates, that should work

[2022-05-24 09:59] nvazquez commented on #6406
Hi @tampler please confirm if the issue persists after rebuilding with the latest packages

[2022-05-25 05:07] leolleeooleo opened #6411 "secondary-storage: Failed to upload template when image size is larger than Global Settings max.account.secondary.storage"
https://github.com/apache/cloudstack/blob/1ead6c1bac9584c19b4d55b8fb0c3f795aad289a/services/secondary-storage/server/src/main/java/org/apache/cloudstack/storage/resource/NfsSecondaryStorageResource.java#L3280

This shoule consider if Account Secondary Storage limits is `Resource.RESOURCE_UNLIMITED` or greater than `defaultMaxAccountSecondaryStorageInGB`.
And if upload to project shoule use `defaul

[2022-05-25 13:40] weizhouapache commented on #6406
@tampler
have you tested latest 4.17.0.0 RC3 ?

do you use self-signed certificate ?

[2022-05-25 13:49] tampler commented on #6406
Hi @weizhouapache

1. Not yet tested. I'll be using the latest nightly. Sorry for the delay - our test env is being used and I need more time
2. No, I'm using and ext authority and set up ACS behind a reverse proxy

Best,
Boris

[2022-05-26 15:12] elShiaLabeouf commented on #6365
Closing the issue, as it seems that it's not going to be merged.

Solved this by setting nginxes `proxy_cookie_path ~*^/.* /;`

[2022-05-26 15:12] #6365 closed

[2022-05-27 05:59] #6395 closed

[2022-05-30 12:21] vladimirpetrov opened #6419 "KVM: Create snapshot from VM snapshot is not working on 4.17 RC3"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

KVM hypervisor

##### SUMMARY

Create snapshot from VM snapshot is not working for KVM hypervisor. It is working properly on 4.16.1.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2022-05-30 20:54] GutoVeronezi opened #6424 "Refactor: implement the managesnapshot.sh features via Java and remove the script"
Several snapshot functionalities, in KVM, are implemented via the script `scripts/storage/qcow2/managesnapshot.sh`.  From https://github.com/apache/cloudstack/pull/6422#discussion_r884991838 came the idea to improve these processes by ​​implementing the functionalities via Java, adding documentation, unit tests and logs.

##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
KVM

[2022-05-31 10:50] Luis-3M opened #6427 "Broken SAML SSO plugin with malformed URL when authenticating against Google IdP"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
SAML SSO plugin activated.

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Google's IdP URL already contains a query param, thus this line of code will create a malformed redirect URL.
https://github.com/apache/cloudstack/blame/main/plugins/user-authenticators/saml2/src/main/java/org/apache

[2022-05-31 12:43] anrusakov opened #6428 "Fast Instance Group Selection"
**Description**

Add Groups list to "Filter By"
Or
Add Groups list to "Serach"

**Types of changes**

- [ ]  Bug Report
- [ ]  Improvement Request
- [ ]  Enhancement Request
- [x] Feature Idea
- [ ]  Documentation Report
- [ ]  Other

Feature/Enhancement Scale or Bug Severity
Feature/Enhancement Scale
- [ ]  Major
- [x]  Minor

##### SUMMARY

It is very hard to Find VM or VMs on "Inststances" page

[2022-05-31 17:30] #6419 closed

[2022-06-01 14:38] Luis-3M commented on #6427
Hi @rohityadavcloud ,
Relevant fields of our IdP Metadata are the following:

`<md:SingleSignOnService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect" Location="https://accounts.google.com/o/saml2/idp?idpid=XXXXXXX"/>`

`<md:SingleSignOnService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST" Location="https://accounts.google.com/o/saml2/idp?idpid=XXXXXXX"/>`

Cloudstack SAML

[2022-06-02 07:50] borisstoyanov opened #6432 "SAML not working if session is terminated --quick-fix clear cache--"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Have a separate identity provider and SAML configured

##### OS / ENVIRONMENT

NA

##### SUMMARY

When a user logs through a SAML authentication and then logs out, it seems that the given token is not allowing him to go to SAML site again and is being displayed with Cloudstack logi

[2022-06-02 08:59] DaanHoogland opened #6433 "[VMWARE] Execute in sequence reconsidderations"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

use of `vmware.create.full.clone` setting and `vmware.allow.parallel.command.execution`

##### OS / ENVIRONMENT

vmware hypervisors

##### SUMMARY

see https://github.com/apache/cloudstack/pull/6413#discussion_r883682696

The decision if a command is executed in sequece is

[2022-06-02 11:06] ikchakraborty commented on #3598
Hello everyone,

I am from Netapp support team. There is no active development going on for ACS-SF plugin from Netapp but since this seems to be dangling case for quite sometime, thought would drop some input input based on what makes sense to me.

" iSCSI targets " once remove followed by a storage adaptor scan will ideally remove all or any traces of the unsignatured disks previously available t

[2022-06-02 11:22] borisstoyanov commented on #6432
fixed by https://github.com/apache/cloudstack/pull/6193

[2022-06-02 11:22] #6432 closed

[2022-06-02 15:09] slavkap opened #6434 "UI - minor UI issues"
##### ISSUE TYPE
 * Bug Report
 * Improvement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION

[code]

- [x] When creating Primary storage and choosing a storage tag, the drop-down menu doesn't close
- [x] If you add a few tags, they are merged into one and cannot remove one of the listed -> #6438
- [x] If you add a new tag and select it, then try creating another tag and is truncat

[2022-06-03 08:56] DaanHoogland commented on #3598
@ikchakraborty I think we have not got any infrastructure anywhere to support this. cc @andrijapanicsb @rohityadavcloud

[2022-06-03 14:11] tampler commented on #6406
I was unable to install ACS nightly 4.17.0.0 as of Jun 3 2022 on `Ubuntu 22.04`.
`cloudstack-setup-management` fails with this:
[code]

Falling back to `4.16.2.0` to try this out

[2022-06-04 06:36] weizhouapache commented on #6406
@tampler
this error seems to be caused by db configuration.
the cloudstack-management service is running

[2022-06-05 11:57] vaheed commented on #4146
Hello, don't know if my error to relevant to this issue or not.

but I'm using fresh ACS 4.16.1.0
Management and KVM nodes Ubuntu 20.04

when trying to create a k8s cluster
master node and compute node running but cluster still starting forever
`
2022-06-05 04:59:55,946 WARN  [o.a.c.f.j.i.AsyncJobMonitor] (Timer-0:ctx-8669d7f6) (logid:933baacc) Task (job-326) has been pending for 1083 seconds
2022

[2022-06-05 15:23] neogismm commented on #6427
Hi @Luis-3M, can you share the google SAML error code?

[2022-06-05 15:49] vaheed opened #6437 "Kubernetes Service: Docs do not describe Kubernetes API requirements"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced zone without Security Profile

##### OS / ENVIRONMENT

Ubuntu 20.04 OS on KVM hypervisor

##### SUMMARY

Unable to create new Kubernetes cluster
I was able to register K8s from the original ACS repo, I was able to add a new supported Kubernetes version but was unable to cr

[2022-06-06 01:43] utchoang commented on #6434
@slavkap `When creating Primary storage and choosing a storage tag, the drop-down menu doesn't close` -> This is multiple select mode, so the dropdown only closes when you lose focus or click outside.

[2022-06-06 07:47] sureshanaparti opened #6440 "Unable to deploy VM using ISO and custom disk offering"
Deploy VM using ISO,and custom disk offering fails with error "VM Creation failed. Volume size: -1GB is out of allowed range. Max: 1024 Min:1".

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Hypervisor: KVM / VMware, Advance Networking

##### OS / ENVIRONMENT

MS on CentOS 7

##### SUMMARY

Unable to deploy VM using ISO and cu

[2022-06-06 12:07] nvazquez commented on #6440
Removing the blocker tag, since there are 2 workarounds:
- Pass the 'rootdisksize' parameter to the deployVM API
- Use a fixed offering with the expected size

[2022-06-07 05:19] poonam-agarwal28 commented on #5660
@nvazquez  @rohityadavcloud  For rbd import command to run, ceph packages must be installed and the node running the command should be configured as a ceph client ( it should have the admin key with read/write access to connect to the ceph pool ). In my scenario the command was run from one of the OSD nodes

[2022-06-08 09:57] tampler commented on #6406
@weizhouapache got a msg from you few days ago, which for some reason is NOT displayed in the issue history

1. What makes you think so? :thinking:
2. Why do I don't see issues with 4.16.2?

This time I'm setting up a standalone hardened MySQL server with pre-config. I created 2 users on my `mysql` host: `cloud@mgmt` and `root@mgmt`. I can access my MySQL server from the Mgmt server with the follo

[2022-06-08 11:00] weizhouapache commented on #6406
@tampler
I have removed the comment as I think it is wrong.

I have successfully deployed cloudstack 4.17.0.0 with ubuntu 22.04 as mgmt server and hypervisor in our lab.
It looks fine.

[2022-06-08 11:30] nvazquez commented on #6440
Fixed on #6441

[2022-06-08 11:30] #6440 closed

[2022-06-08 12:30] satishglondhe opened #6444 "Incorrect VM Snapshot Id in API response"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

While creating VM Snapshot using APIs working fine but in the response it returns int id instead of UUID which is required to do the further snapshot operations.

##### STEPS TO REPRODUCE

Create VM Snapshot using API *createVMSnapsh

[2022-06-08 15:42] nvazquez commented on #6444
Hi @satishglondhe - the create VM snapshot operation is an asynchronous job, it is retrieving the jobid on the initial response while the job is in progress. The UUID (and other relevant fields) are set once the operation is completed and successful. Have you tried using cloudmonkey (https://github.com/apache/cloudstack-cloudmonkey)? - it handles these cases and queries the in-progress jobs until

[2022-06-08 17:39] zap51 opened #6447 "UI - Unable to create VM from ISO with custom disk offering"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

UI throws the below error when trying to create a VM from the ISO, and only when selecting the "Custom" disk offering.

![image](https://user-images.githubusercontent.com/45934027/172678971-5461778d-a28b-413a-8c3d-45115c6ac509.

[2022-06-08 17:52] zap51 commented on #6437
Hello @vaheed ,
    Looks like your issue is related to https://github.com/apache/cloudstack/issues/5999 and one manual fix could be https://github.com/apache/cloudstack/issues/5999#issuecomment-1052117682. This is however fixed on PR https://github.com/apache/cloudstack/pull/6076 and the latest release of CloudStack 4.17.0.0 has no issues.

For the Kubernetes network requirements, please ensure n

[2022-06-08 18:27] zap51 commented on #6447
@nvazquez The results through the API are below and is successful.

[code]

![image](https://user-images.githubusercontent.com/45934027/172689905-d8221875-5db4-4a45-9b12-b88753ff92cf.png)

[2022-06-08 18:37] nvazquez commented on #6447
@zap51 thanks for confirming it, that is a workaround from the API. Another workaround from the UI is creating a fixed disk offering matching the expected disk size. This UI issue for custom disk offerings will be addressed on 4.17.1

[2022-06-08 18:38] zap51 commented on #6447
@nvazquez Thanks!

[2022-06-08 18:41] #6447 closed

[2022-06-09 04:37] zap51 opened #6448 "High CPU Utilization - Management Server"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

Management Server process is having high CPU utilization.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

Output of `htop`.

![image](https://user-images.githubusercontent.com/45934027/1

[2022-06-09 11:35] tetra12 commented on #5361
UPD: June 8 2022

Trying to install nighties for 4.17.0.0 on Ubuntu 22.04. `mgmt` works fine, but `kvm` fails immediately on start with:
[code]
However, I clearly see that script on the install path but for some reason, agent complains on it.
Should I open a new issues on that ?

[2022-06-09 13:07] PaulAngus commented on #4314
issue still occurring in 4.16.1

Failed to attach binaries ISO for VM : k8s-1215-2-node-181488f782a in the Kubernetes cluster name: k8s-1215-2

iso attaches 1 in 10 times

something is attached to VM
![image](https://user-images.githubusercontent.com/4810220/172854406-519578f6-3c0a-448e-a018-dd1500340575.png)

[2022-06-10 15:41] tetra12 opened #6450 "bug: KVM agent fails to start on Ubuntu 22.04"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

KVM

##### OS / ENVIRONMENT

Ubuntu 22.04
libvirt - 8.0.0
qemu - 6.2.0
openjdk 11.0.15 2022-04-19

##### SUMMARY

KVM agent fails to start immediately after install with the following:
[code]

No logs are written.

The file itself is found on `/usr/share/cloudstack-common/scripts/v

[2022-06-11 05:49] vaheed commented on #6437
Thanks, @zap51, fixed in 4.17 :)

[2022-06-11 05:49] #6437 closed

[2022-06-11 10:03] #6448 closed

[2022-06-13 06:15] rvalle opened #6452 "API: virtualmachine VPC information not returned"
##### ISSUE TYPE

 * Enhancement Request

##### COMPONENT NAME

[code]

##### SUMMARY

Currently, it is possible to list instances filtered by VPC, yet the information returned by the API includes no VPC information. In the case of our Ansible Inventory plugin, this translates into having the ability to "filter" by VPC, but not to group by VPC. Grouping by VPC is very desirable because allows to t

[2022-06-13 06:20] rvalle commented on #6452
I am not sure of the best implementation, currently the virtualmachine information inclues a nic array with ip information and network information such as:

[code]
perhaps when the nic information could also include ```vpcid```,```vpcname``` when the network happens to belong to a VPC.

[2022-06-13 07:54] rohityadavcloud commented on #5660
Thanks @poonam-agarwal28 for explaining.
As I understand this is a special case but not a bug. Functionally it would take more time for the import/provisioning and this doesn't affect the ceph support.

[2022-06-13 10:42] nvazquez commented on #6444
Fixed by #6449

[2022-06-13 10:42] #6444 closed

[2022-06-14 04:48] ash-quinn opened #6453 "Unable to create VPC in latest version through the UI"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION

We currently have a single interface with two vlans, one is native on the trunk, the other is vlan 30. We have gone through the basic configuration of the cluster and everything
##### OS / ENVIRONMENT

AlmaLinux 8.5 on both machines

##### SUMMARY

 When we try to make a VPC it does n

[2022-06-14 04:53] shwstppr commented on #6453
@ash-quinn is your zone security group enabled?

[2022-06-14 06:15] ash-quinn commented on #6453
@shwstppr It is, yes!

[2022-06-14 06:28] dhslove opened #6455 "Bug : SharedMountPoint not working after StorPool plugin support"
After adding support for StorPool in CloudStack version 4.17, Default Primary Storage of SharedMountPoint Type is no longer created. This Bug is related and caused by #6007

This is an issue caused by the StoragePoolType of the StorPoolStorageAdaptor.

Currently, the Pool Type of StorPoolStorageAdaptor is set to SharedMountPoint.
See the following code.

StorPoolStorageAdaptor :
[code]

For this r

[2022-06-14 06:48] harikrishna-patnala commented on #6434
@slavkap regarding the resize data disk UI form, this change is made as part of the new changes that went in 4.17 through PR#5008.

There is a detailed explanation of the feature changes made here https://cwiki.apache.org/confluence/display/CLOUDSTACK/Flexible+service+offerings (point no.4 in Design section)

From UI resize operation takes directly the size value, if the user wants to change the d

[2022-06-14 11:36] shwstppr commented on #6453
@ash-quinn There always been a filter in UI to not list zones with security group,
https://github.com/apache/cloudstack/blob/4.13.0.0/ui/scripts/network.js#L5176
In main, https://github.com/apache/cloudstack/blob/main/ui/src/views/network/CreateVpc.vue#L161

Not sure if it is needed with the latest backend code. Will check and maybe create a PR to fix this

[2022-06-14 11:51] saffronjam opened #6456 "Kubernetes cluster stuck in Stopping state"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
API

##### CLOUDSTACK VERSION
4.17.0  (cloud have occurred on 4.16.1)

##### CONFIGURATION
Single host running management server and database

##### OS / ENVIRONMENT
Ubuntu 20.04

##### SUMMARY
When attempting to delete a Kubernetes cluster, it gets stuck in Stopping state.
![cluster-stuck-in-stopping-state](https://user-images.githubusercontent

[2022-06-14 11:55] shwstppr commented on #6453
@ash-quinn checked the docs and code it seems isolated networks and VPCs aren't meant for zones with security groups as they only support shared network model.
Maybe this should be made a bit more clearer in the docs

[2022-06-14 11:57] pierrelefevre commented on #6450
Ran into the same issue! Don't have a solution, but a thought: are you using the focal repo (20.04) on 22.04?
I guess it should be jammy but http://download.cloudstack.org/ubuntu doesn't contain it yet.

[2022-06-14 12:06] slavkap commented on #6455
@dhslove, unfortunately, a few storage pools are using one Storage adaptor, and the method you mentioned shouldn't rely only on the `StoragePoolType`. I've missed that this could cause any issues, for which I'm sorry. We will work on a fix for 4.17.1.0.
Till then, as a workaround that comes to my mind, you could delete the jars files of the StorPool plug-in for the management/agents.
[code]
and re

[2022-06-14 12:11] nvazquez commented on #6455
Thanks @slavkap - @dhslove can you please confirm if this workaround solves the issue for you?

[2022-06-14 12:13] Pearl1594 commented on #6456
@saffronjam is the Kubernetes binaries iso for the corresponding Kubernetes version available? Based on the NPE it appears that the iso for the Kubernetes version in question isn't available.

[2022-06-14 12:22] dhslove commented on #6455
@slavkap Thank you for your comment.

I've already read your README file and solved it as you say.

For other users, I expect this bug to be resolved in the next patch.

Thank you for your hard work.

[2022-06-14 12:52] NuxRo commented on #6424
Hate to stand in the way of progress, but I believe part of the reason Cloudstack has shell scripts in various places, particularly in dealing with libvirt is because historically the java bindings have lagged behind in functionality etc.

With my Ops hat on, are we sure the shell script bits we want to replace with java are now properly supported in all the major distro, especially the older ones

[2022-06-14 12:53] dhslove commented on #6455
@nvazquez Of course. I would be happy to do so if I can help you with your workaround.

[2022-06-14 14:23] wido commented on #6424
No, I actually think we should implement this in the Java bindings where possible, but ofcourse, caution is needed.

The reason things were implemented in shell scripts is because people didn't bother in implementing it in libvirt-java and thus just took the easier route.

Using the API calls of Libvirt is safer, has better Exception handling and such.

Where possible, use that :-)

[2022-06-14 21:43] kohrar opened #6459 "UI breaks with SAML authentication"
Greetings CloudStack devs. Congrats on your 4.17.0.0 release. I ran into a minor UI bug which I'll explain below.

##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
Basic CloudStack with SAML/SSO authentication enabled

##### OS / ENVIRONMENT
N/A  (Rocky Linux 8.5)

##### SUMMARY
When logging in via SAML, after the SAML server redirec

[2022-06-15 05:26] ngrosc commented on #6459
Same here. It is not limited to instances but also to other items like volumes, networks.

[2022-06-15 05:55] rohityadavcloud commented on #6459
cc @nvazquez

[2022-06-15 06:21] rohityadavcloud commented on #6455
@dhslove do upgraded env continue to work, for. ex if you had a sharemountpoint based storage prior to the upgrade does it continue to work post upgrade to 4.17.0.0. (I understand the original bug report is adding new sharedmountpoint).

@nvazquez I think if the workaround solves the issue then we should document that part of the release notes (update the docs website) and send an email to both de

[2022-06-15 07:16] slavkap commented on #6455
@rohityadavcloud, I checked the code, and the method `getStorageAdaptor` is used in almost every case. Before StorPool, if you use SharedMountPoint, it's not added to `_storageMapper` because there isn't a specific adaptor for it, and it uses the libvirt storage adapter. It should get in here:
[code]
I'm working to change our storage pool type to StorPool in a way that will not affect current clie

[2022-06-15 07:55] saffronjam commented on #6456
Thanks for the quick reply.

I think that was the case.

I resolved it by marking the entries in the database as removed.

You can close this issue :)

[2022-06-15 21:59] Luis-3M commented on #6427
Hi @neogismm,
Apologies for the late response.

Successful request
![saml_success](https://user-images.githubusercontent.com/26753403/173936642-7357d970-117f-46aa-bee8-5fac8876a8f7.png)

Unsuccessful request (due to a broken redirect URL)
![saml_failure](https://user-images.githubusercontent.com/26753403/173936665-b28e5c85-86ad-4116-8f27-a45d52e64db0.png)

We should append the SAML request query p

[2022-06-16 03:50] nvazquez commented on #6459
Hi @utchoang, can you please check this issue?

[2022-06-16 03:51] #6456 closed

[2022-06-16 12:41] vladimirpetrov opened #6463 "Cannot add CEPH as a primary storage on RH8-based linux distributions"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

CEPH Storage
Vesion 15.2.16 (d46a73d6d0a67a79558054a3a5a72cb561724974) octopus (stable)

##### OS / ENVIRONMENT

Rocky linux 8, AlmaLinux 8 (as both management and host OS)

##### SUMMARY

When you try to add a CEPH storage on a RedHat 8 based linux distribution, the following erro

[2022-06-16 13:14] ErezZarate opened #6464 "Cloud built"

[2022-06-16 13:36] slavkap commented on #6463
Hi @vladimirpetrov, I was able to create primary storage with Ceph.
The OS of the mgmt/agents is:
Operating System: Rocky Linux 8.5 (Green Obsidian)
Ceph version is:
ceph version 13.2.10 (564bdc4ae87418a232fc901524470e1a0f76d641) mimic (stable)

[2022-06-16 14:07] NuxRo opened #6465 "Veeam v11.0.1.1261 doesn't work with Cloudstack"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

When testing Veeam v11.0.1.1261,  the restoration of the executed backup jobs, they are not listed by CloudStack, either in the UI or via cloudmonkey.

##### LOGS
[code]

[2022-06-16 17:08] kohrar opened #6466 "UI - Cannot mass upgrade virtual routers from virtual router list"
##### ISSUE TYPE
 * Bug Report
##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When trying to upgrade a virtual router from the virtual routers list, an exception is thrown in the browser console and no action is performed.

##### STEPS TO REPRODUCE
I upgraded to 4.17.0.0 with old virtual routers still on version 4.15

[2022-06-17 03:05] nvazquez commented on #6459
Thanks for the fix @utchoang! @kohrar can you please test the PR #6462?

[2022-06-17 03:58] nxsbi opened #6469 "How To - Offsite Backup of VHD files"
##### ISSUE TYPE

 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

xcp-ng 7.4

##### OS / ENVIRONMENT

N/A

##### SUMMARY

This is not an issue per say, but a question. What is the best way to backup VHD files to an offsite backup for DR?  We are using xcp-ng 7.4 and Cloudstack 4.15. We do not have a second data center. I am thinking to map a NFS drive

[2022-06-17 04:02] nxsbi commented on #6469
PS  - Note that the VM cannot be shutdown. So rsync will run while VM is running.

[2022-06-17 09:34] hooklee2000 opened #6470 "Compiling UI less files raised errors"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

UI

##### CLOUDSTACK VERSION
4.17.0.0

##### OS / ENVIRONMENT
CentOS 8
 node -v
v12.22.11

##### SUMMARY
We built all rpms successful but UI less   raised errors.
btw, we found Apache CloudStack apidocs need python2,  we prefer python3.

##### STEPS TO REPRODUCE
packaging/package.sh -d centos8

##### EXPECTED RESULTS
compile less successful.

[2022-06-17 10:30] kricud opened #6471 "Cloudstack agent for KVM"
##### ISSUE TYPE

 * Bug Report
##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 18.04.6 LTS

##### SUMMARY

/usr/share/cloudstack-common/scripts/util/keystore-setup
This script is not excluding fe80 / link-local address and cloudstack agent certificate contains 300+ fe80 san names in it.

From:
ip address | grep inet | awk '{print

[2022-06-17 21:03] kohrar commented on #6459
Awesome! Thanks @utchoang for the quick fix. Using your PR, the issue is now fixed.

[2022-06-20 00:32] utchoang commented on #6470
@hooklee2000 cc @rohityadavcloud @nvazquez This PR https://github.com/apache/cloudstack/pull/6142 was created to solve this problem but it is pending merging.

[2022-06-20 03:13] hooklee2000 commented on #6470
Thanks! It works!  Btw as UglifyJS we prefer  to Terser.

[2022-06-20 03:13] #6470 closed

[2022-06-20 07:27] #6088 closed

[2022-06-20 07:29] rohityadavcloud commented on #6088
@nvazquez would this be useful for 4.17.1.0 cc @utchoang @shwstppr ?

[2022-06-20 07:30] #6459 closed

[2022-06-20 07:30] #6466 closed

[2022-06-20 07:49] slavkap commented on #6434
Thanks, @utchoang, @harikrishna-patnala, for the explanations!
@harikrishna-patnala, I wasn't aware of this change. Thanks for the link!
I'm closing the issue - everything is fixed, thanks!

[2022-06-20 07:49] #6434 closed

[2022-06-20 12:14] nvazquez commented on #6452
Fixed on #6461

[2022-06-20 12:14] #6452 closed

[2022-06-20 13:10] rvalle commented on #6452
woow @nvazquez didn't expect this enhancement implemented so quickly!
thanks!

[2022-06-20 16:20] nvazquez commented on #6452
Thanks @rvalle and @Pearl1594 for the quick fix. You can find it already on the 4.17 branch and also on main branch while 4.17.1/4.18 are not released

[2022-06-21 06:44] ccycv opened #6479 "No input filed for IP address in UI when adding new Zone."
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

![Screenshot 2022-06-21 093205](https://user-images.githubusercontent.com/23322009/174733484-c8c1c6fc-4432-4215-b6e1-e3ed78743e92.p

[2022-06-21 07:15] ccycv commented on #6479
Update : Same issue in Firefox.

[2022-06-21 07:28] utchoang commented on #6479
@ccycv I tried with branch 4.17 but it works fine. Can you show me an image/video of the steps you performed the error? (If possible, show me the console in the browser's dev tool)

[2022-06-21 07:29] slavkap commented on #6479
@ccycv, is this an Advanced or Basic network configuration?

[2022-06-21 07:31] ccycv commented on #6479
I tested only in Advanced

[2022-06-21 07:33] utchoang commented on #6479
@ccycv can you show me the console in the browser's dev tool? (like this picture)
![image](https://user-images.githubusercontent.com/13766648/174742483-fef62a7c-6788-42b0-9c7d-b2e6f971fea6.png)

[2022-06-21 07:59] ccycv commented on #6479
I do not see anything, only 1 failed load resources but this one was from the start.

![image](https://user-images.githubusercontent.com/23322009/174747692-7a2e010e-af0d-4fe7-bf56-0ec117f8139b.png)

[2022-06-21 08:47] utchoang commented on #6479
@ccycv According to your screenshot, I don't know why it's not showing, can you get the latest code from 4.17 and check if it has a different change?

[2022-06-21 08:49] ccycv commented on #6479
This is a fresh install with the packages from shapeblue. I also reinstalled and tested from a different PC/different network, same issue.

[2022-06-21 08:58] utchoang commented on #6479
@ccycv can you try the Cloudstack http://qa.cloudstack.cloud:8080/client/ with your browser and confirm again? I think this from the browser.

[2022-06-21 09:10] ccycv commented on #6479
![image](https://user-images.githubusercontent.com/23322009/174761792-f512d169-f2fe-4433-b4ee-9cab1ff00a55.png)

Not working even via your link. How can be this from my Browser? I tested in Chrome 102.0.5005.115 (Official Build) (64-bit), Firefox 101.0.1 (64-bit )and also used a different PC with Firefox 101.0.1 (64-bit) which in a different network..

I use advanced networking with Local Storage

[2022-06-21 09:18] utchoang commented on #6479
@ccycv This is on my chrome (same version as you). I think this may be due to vue-i18n's warning "Detected HTML". I'll create a PR to hidden it and you can test it and see if that works.
![image](https://user-images.githubusercontent.com/13766648/174763907-11086b62-81bf-4e2b-8c63-f5e555910ec8.png)

[2022-06-21 09:47] utchoang commented on #6479
@ccycv I have created a PR https://github.com/apache/cloudstack/pull/6480 containing the content I talk above, you can check it again with the URL: http://qa.cloudstack.cloud:8080/client/pr/6480 and confirm if it works?

[2022-06-21 09:49] ccycv commented on #6479
With this occasion I found a new bug, I also have upgraded setup to 4.16.1 from a previous version, where I already have the zone added. I wanted to try the same thing to see if I have the same issue, looks like here I have a different one.

When I insert the vSwitch name and hit ok, the vSwitch name is not saved.
![image](https://user-images.githubusercontent.com/23322009/174769230-63a5a905-10ea-

[2022-06-21 09:57] ccycv commented on #6479
No, it is not working. I also tested in a incognito tab.

![image](https://user-images.githubusercontent.com/23322009/174772766-a6581d05-c16d-4680-9130-176af10418ac.png)

[2022-06-21 15:07] ccycv commented on #6479
Is there a way to fix on my side? I have installed from shapeblue repo.

[2022-06-21 16:30] nvazquez commented on #6479
Hi @ccycv I have tested the shapeblue packages but cannot hit this issue, tried on Chrome and Safari. Are you using the shapeblue ubuntu packages? Also, are you saying the vswitch issue is also present on 4.16.1?

[2022-06-21 16:41] ccycv commented on #6479
the above issue with "vSwitch labels" is in 4.16.1

I'm using the shapehost packages my setups:

4.16.1 is an old setup, where I have already few zone added from previous versions>
4.17.0 Is a new setup, no zones...

I think these issues occurs only when you create zones with VMware, in my case with advanced networking and local storage. ( 2x physical networks )

[2022-06-21 17:27] nvazquez commented on #6479
Thanks for the explanation @ccycv - I'm able to hit the issue only when selecting Vmware as hypervisor on the zone wizard, could not hit it previously as I was testing with KVM. I will also test PR #6480 to be included on 4.17.1.

For now can you consider using the API to create the zone as the first step and then continue adding elements through the UI? For example on cloudmonkey:
[code]

This wi

[2022-06-21 18:53] nxsbi opened #6482 "VHD files left over in Primary Storage"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY

We need to decommission a Primary Storage due to end of life of hardware. I have setup new Primary Storage, and though UI moved all disks to new storage (one by one). After everything is moved over, we still have a bunch of VHD file

[2022-06-22 05:56] ccycv commented on #6479
Now I can not continue from this step:

![image](https://user-images.githubusercontent.com/23322009/174953742-bd341f53-f43a-40fb-8dbf-486a08fb648b.png)

After I click on Next, nothing happens and I'm not able to click anymore, not even to edit or previous, already tested from 2 browsers.

[2022-06-22 06:54] utchoang commented on #6479
@ccycv can you try again to see does it working?

[2022-06-22 08:55] ccycv commented on #6479
Now, I have labels added to all and I get this :

![174770390-a26887a9-0a75-4283-b288-448847c0e06c](https://user-images.githubusercontent.com/23322009/174987671-e9203aea-39ed-4408-9035-76e8960e11c6.png)

If I leave just 1 Physical network, I'm able to click next and finish the setup...

![image](https://user-images.githubusercontent.com/23322009/174987150-bd9abc27-57d6-440b-8926-f15814b546a5.png)

[2022-06-22 09:15] ccycv commented on #6479
A new UI issue:

I add the Cluster name, in my case, "MUB-001" after I hit ok I see the error and the Cluster name filed changed to host/dc/cluster..
![image](https://user-images.githubusercontent.com/23322009/174990826-70f48b42-63b2-492b-bdbb-e62c3d166a04.png)

 if I hit another OK, I see added again and again..

![image](https://user-images.githubusercontent.com/23322009/174991817-445ee111-df1f-

[2022-06-22 09:21] harikrishna-patnala commented on #6406
Ping @tampler, are you still seeing this issue?

[2022-06-22 09:41] utchoang commented on #6479
@ccycv can you check it again?

[2022-06-22 09:45] ccycv commented on #6479
Sorry, I forgot to mention that the above error is on my new setup 4.17

Did you asked me to check again for the error with labels or the last one from 4.17?

[2022-06-22 09:51] utchoang commented on #6479
@ccycv No, please check my fixed at PR https://github.com/apache/cloudstack/pull/6480

[2022-06-22 10:02] ccycv commented on #6479
The issue is fixed. I can add 2 Physical networks and finish the setup.

[2022-06-22 12:11] ccycv commented on #6479
I decided to stay with 4.16.1 for now,. In 4.16.1 I know the only way to add the cluster is via cloudmonkey and I must specify the full path in URL, otherwise I get the error "Unable to add the external cluster". (not sure if this is why I was not able to add in 4.17)

add cluster zoneid=b4444207-8bb1-4319-afc5-663e194deabf hypervisor=VMware clustertype=ExternalManaged podid=76da9fdd-e8ea-4959-b33

[2022-06-22 13:36] tenvecera opened #6485 "Kubernetes nodes with affinity group"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

If I understand correctly, I'm unable to specify affinity group for newly spawned kubernetes nodes. Api (`listkubernetescluster`) lists affinity group incorrectly (empty array). My feature request is possibility to setup default affinity group for newly spawned VM's or provide w

[2022-06-23 07:23] FStelzer opened #6490 "ConfigDrive Exception after 4.17 upgrade (unable to start/migrate VMs)"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
Network offering: L2 Network, Specify VLAN, Enabled ConfigDrive

##### OS / ENVIRONMENT
Rocky Linux 8

##### SUMMARY
Unable to migrate or start any VMs using the network offering with the config drive.
This always results in the following exception:

2022-06-23 07:10:48,056 ERROR [c.c.

[2022-06-23 08:29] shwstppr commented on #6479
@ccycv is it possible to share management server logs for the add cluster error on 4.17?

[2022-06-23 09:07] ccycv commented on #6479
I only have the error from 4.16.1. I reinstalled because I had to finish this setup.

"`clustername=MUB-001&clustertype=ExternalManaged&command=addClus
ter&hypervisor=VMware&podid=76da9fdd-e8ea-4959-b333-dc2c15506441&response=json&sessionkey=khGQCjV9v6BYC8AnRiXDgwY3k2A&url=http%3A%2F%2Fvscsp06.test.host%2F&username=administrator%40vsphere.l
ocal&zoneid=b4444207-8bb1-4319-afc5-663e194deabf
2022-06-

[2022-06-23 09:58] DaanHoogland commented on #6482
@nxsbi did you try calling the [deleteStoragePool API](https://cloudstack.apache.org/api/apidocs-4.17/apis/deleteStoragePool.html) ?

[2022-06-23 22:35] bugoff opened #6492 "can't start vm when reattaching root volume"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

when you migrate a root disk to a new vm which already has a root disk, it is migrated as a datadisk, when you migrate the disk back to the original vm, you are not able to start the instance because there is no root disk found.

##### STEPS T

[2022-06-24 03:34] itgyn opened #6494 "An error occurred when creating and mounting a 3T disk. The device 0 is invalid"
##### ISSUE TYPE

 * Bug Report
 * Improvement Request
 * Enhancement Request
 * Feature Idea
 * Documentation Report
 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2022-06-24 05:59] slavkap commented on #6490
@FStelzer, did you upgrade the system VMs (e.g. virtual router, secondary storage VM and the console proxy)? Can you try to recreate them if you didn't after the upgrade

[2022-06-24 07:34] shwstppr commented on #6494
@itgyn can you please share more details such as hypervisor, error from management and agent (if applicable) logs, etc

[2022-06-24 07:40] itgyn commented on #6494
Mount disks larger than 3T on cloudstack. Vmware6.7 error message for Virtualization: failed to create volume: Java lang.runtimeexception: invalid configuration for device '0'.

[2022-06-24 07:48] FStelzer commented on #6490
@slavkap thanks, that did it. I read about the live patching in the upgrade guide and didn't think it necessary. The mgmt server exception made me suspect a code bug.

Thanks for your help.

[2022-06-24 07:53] shwstppr commented on #6492
Thanks @bugoff for reporting the issue. I'm able to reproduce this with 4.17 and main.
But you can workaround this using API and providing `deviceid=0` while calling `attachVolume` API for reattaching volume to the original VM. I tested this with a VMware env,

[code]
Attach and detach volume to/from another VM
[code]

VM is now a datadisk
[code]
Attach volume to the original VM while passing devi

[2022-06-24 08:00] #6490 closed

[2022-06-24 08:08] bugoff commented on #6492
Hi,
thanks for the update, it wasn't clear to me when i set the deviceid to 0 it would change it to a ROOT disk.

[2022-06-24 08:40] shwstppr commented on #6492
@bugoff did it solved the issue for you?
Maybe we need to make the documentation more clearer for this behaviour

[2022-06-24 08:42] weizhouapache commented on #6490
@FStelzer
has the issue been solved ?

[2022-06-24 08:59] FStelzer commented on #6490
@weizhouapache yes, thanks. the recreate of the system VMs was all that was needed

[2022-06-24 12:53] bugoff commented on #6492
hi @shwstppr i tested this and i can confirm this works. Thanks for the help.

I think it would definitely help if the docs are bit clearer about this.

[2022-06-24 16:58] senft144 opened #6497 "SystemVM(ConsoleProxy / Secstorage )not starting Services after upgrade from 4.16.1"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 20.04 KVM

##### SUMMARY

New Service VMs are deployed and accessable vie SSH over host, but service (ConsoleProxy / Secstorage ) are not starting.
/usr/local/cloud/ is completly empty which is why the systemd cloud.service is not starting.

##### STEP

[2022-06-24 21:14] mrog opened #6498 "Documentation needs instructions for adding a host using an SSH key"
##### ISSUE TYPE

 * Documentation Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

A feature was added in version 4.16 that allows the use of an SSH key instead of a password when adding a host.  See https://github.com/apache/cloudstack/pull/5684.  (Note that the SSH key path in the pull request descripti

[2022-06-24 21:26] mrog opened #6499 "When creating a new zone, the host password field should not be required when an SSH key is being used"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Applies to both basic networking and advanced networking

##### OS / ENVIRONMENT

N/A

##### SUMMARY

A feature was added in version 4.16 that allows the use of an SSH key instead of a password when adding a host. See https://github.com/apache/cloudstack/pull/5684.

This i

[2022-06-24 21:26] mrog commented on #6499
This is related to https://github.com/apache/cloudstack/issues/6498.

[2022-06-24 21:26] mrog commented on #6498
This is related to https://github.com/apache/cloudstack/issues/6499.

[2022-06-25 17:38] nxsbi commented on #6482
Thanks @DaanHoogland
I did not do that, but I placed the Storage Pool in Maintenance Mode (from GUI)
That actually moved a few remaining VHD that were in use by Cloudstack (SSVM and couple of virtual router)
In 4.15 there is no GUI option to move the storage of system VM or routers to another storage - it just gets randomly assigned.

So once it was in maintenance mode, I was able to move all othe

[2022-06-25 17:38] #6482 closed

[2022-06-25 17:46] nxsbi commented on #6469
Still looking for advice here... Any suggestions are welcome

[2022-06-26 11:16] kenneth0595 opened #6500 "Vxlan/vni and VM instances can not be created"
**ISSUE TYPE**

 - Bug Report

**COMPONENT NAME**

 - VXLAN/VNI and VM Instance

**CLOUDSTACK VERSION**

 - 4.17.0

**OS / ENVIRONMENT**

 - CentOS 7.9 KVM

**SUMMARY**
It has operated well with vxlan/vni for last 3 months, but I can not deploy vm instance after upgrading it to 4.17.0.
I can not see vxlan/vni identifier in the vpc section and zone guest physical network.

**STEPS TO REPRODUCE**
I

[2022-06-26 21:40] madodig opened #6501 "UI - Minor UI Issue - Failed "Resize volume" action is listed in notification list with a "Successfully resized volume" title"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

If the instance disk size is fixed per the disk offering and one tries to resize the volume, the action fails. Pop-up notification shows the actual result and the cause of the failure, but in the notifications list it is titled as "Successfully resized volume".

##### STEPS TO REPRODUCE

[2022-06-27 04:08] Pearl1594 commented on #6497
@senft144 has the cloudstack-agent package for ACS 4.17 been installed on the KVM hosts, based on the logs, it seems like it isn't updated.

[2022-06-27 07:17] senft144 commented on #6497
All Host were Updated to 4.17 and rebooted.
[code]
But i noticed one odd thing. The systevmtemplate seem to be still for 4.16.1
[code]

[2022-06-27 07:22] Pearl1594 commented on #6497
Is the 4.17 systemvm template registered i.e., do you see it in the templates view in the UI? And what are the values of `router.template.kvm` & `minreq.sysvmtemplate.version` global setting post upgrade

[2022-06-27 08:37] senft144 commented on #6497
i've been so paranoid, ive deleted the whole secondary-storage and uploaded the new template via the `/usr/share/cloudstack-common/scripts/storage/secondary/cloud-install-sys-tmplt -m /export/secondary -u http://download.cloudstack.org/systemvm/4.17/systemvmtemplate-4.17.0-kvm.qcow2.bz2 -h kvm -F`
![Screenshot 2022-06-27 103034](https://user-images.githubusercontent.com/108145510/175895576-97e9f7d

[2022-06-27 08:42] Pearl1594 commented on #6497
Just to confirm, the router VMs on restart with cleanup come up with the 4.17 template?
Do you see any exceptions /errors in the Management server logs?

[2022-06-27 12:11] harikrishna-patnala commented on #6294
@matheusfontes I could not reproduce the issue. The reason for your issue could be the missing entries for guest os in guest_os_hypervisor table. Please add that in your setup and try it once.

[2022-06-28 05:10] Pearl1594 commented on #6497
In an upgraded env, the systemvm template name should ideally be systemvm-kvm-4.17.0 for router.template.kvm  and the minreq.sysvmtemplate.version should be 4.17.0. Can you please try restart the cloudstack-agent service on the KVM hosts and retry SystemVM creation..

[2022-06-28 05:22] shwstppr commented on #6501
Fixed with #6502
@madodig please reopen if you still face the issue

[2022-06-28 05:22] #6501 closed

[2022-06-28 07:57] senft144 commented on #6497
I'm sorry, in an act of stupidity and devestation, i've decided to newly deploy the hole thing with version 4.17.
But my guess would also be, that the process of upgrading the database didn't work out.
As an conclusion of this case, beeing able to manually delete the systemVM-templates would be great and maybe an manuell Database-Upgrade ?!

[2022-06-28 11:59] Pearl1594 commented on #6497
You could just re-register the systemVM template - as a user template and then update/edit the template to system type , and also update the name such that it matches the global setting: `router.template.kvm`. Once this is done, you can re-create the systemVMs. Hopefully this works

[2022-06-28 15:04] vladimirpetrov opened #6514 "cks: k8s version not changed after upgrade"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

CKS plugin enabled

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Kubernetes cluster version is not updated after upgrade.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]
![image](https://user-images.githubusercontent.com/12384665/17621

[2022-06-29 14:52] #6497 closed

[2022-06-29 14:52] senft144 commented on #6497
Cant reproduce, Whole Cluster was deployed from scratch

[2022-06-29 18:51] nvazquez commented on #5445
Hi @SadiJr the root cause of the issue seems to still be present on 4.16.1 https://github.com/apache/cloudstack/issues/6465. Do you have a PR for the format-list changes? I could only find the logs improvement PR (#5455)

[2022-06-30 04:27] jaspercloud opened #6515 "package.sh error"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

##### CLOUDSTACK VERSION

cloudstack-4.18.0.0

##### CONFIGURATION

##### OS / ENVIRONMENT

export JAVA_HOME=/data/jdk-11.0.15
export M2=/data/apache-maven-3.0.5
export PATH=$JAVA_HOME/bin:$M2/bin:$PATH

##### SUMMARY

[root@dev-server packaging]# ./package.sh --distribution centos7
Packaging CloudStack...
version 4.18.0.0-SNAPSHOT
Preparing to p

[2022-06-30 04:50] Pearl1594 commented on #6515
@jaspercloud can you verify the version of mvn:
1. check if mvn is installed, run: `which mvn`
[code]
2. check the version: `mvn -version`

[code]

[2022-06-30 05:38] Firxiao opened #6516 "Launch template with UEFI boot type doesn't work at first time"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION
[code]

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2022-06-30 06:11] rohityadavcloud commented on #6453
Addressed in documentation with https://github.com/apache/cloudstack-documentation/pull/278

[2022-06-30 06:11] #6453 closed

[2022-06-30 06:13] rohityadavcloud commented on #6411
Fixed by https://github.com/apache/cloudstack/pull/6496

[2022-06-30 06:13] #6411 closed

[2022-06-30 06:16] rohityadavcloud commented on #6294
@matheusfontes it's possible on your hypervisor host setup/installation the guest os wasn't properly set in it. Is it a new host or newly upgraded host? If so, can you retry installation and try again?

[2022-06-30 06:24] rohityadavcloud commented on #6515
@jaspercloud you can use these container images we use with BO/trillian to build packages - https://hub.docker.com/u/shapeblue or as Pearl suggested, ensure you've all the dependencies installed and using the right base distro to build pkgs (for ex. building rpm packages on Ubuntu may not work)

[2022-06-30 06:25] rohityadavcloud commented on #6516
@Firxiao can you try 4.17.0.0? cc @shwstppr

[2022-06-30 06:31] rohityadavcloud commented on #6390
Fixed in https://github.com/apache/cloudstack/pull/6477

[2022-06-30 06:31] #6390 closed

[2022-06-30 06:32] rohityadavcloud commented on #6455
Ping Hi @slavkap are you working on a bugfix PR for this, for 4.17.1.0?

[2022-06-30 06:35] slavkap commented on #6455
Hi @rohityadavcloud, yes, I'm working on a fix for 4.17.1.0. I need some time for more extensive testing

[2022-06-30 06:36] rohityadavcloud commented on #6406
Hi @tampler we've reviewed and tested this issue and found to be a non-issue. Can you try with the most recently ACS release 4.17.0.0 deb packages repo such as http://packages.shapeblue.com/cloudstack/upstream/debian/4.17/ and try again? If you're able to reproduce this, pl re-open this issue. Thanks for submitting the bug report.

[2022-06-30 06:36] #6406 closed

[2022-06-30 06:40] weizhouapache commented on #6515
@jaspercloud
it looks you installed maven3 from a package (because the PATH is /data/apache-maven-3.0.5)
please install maven3 by `yum` and retry.

[2022-06-30 06:40] rohityadavcloud commented on #4874
cc @shwstppr @pdion891

[2022-06-30 06:42] jaspercloud opened #6517 "rdp debug"
(https://github.com/apache/cloudstack/blob/main/services/console-proxy/rdpconsole/src/test/doc/rdp.pfx)
windows10 is supported？

import windows10
CertUtil: -importPFX fail: 0x8007000d (WIN32: 13 ERROR_INVALID_DATA)

[2022-06-30 06:43] rohityadavcloud commented on #5950
Addressed in https://github.com/apache/cloudstack/pull/6142 pl re-open if there's something we've missed. Thanks for the bug report @pjfanning

[2022-06-30 06:43] #5950 closed

[2022-06-30 06:44] rohityadavcloud commented on #5915
cc @pdion891 requires your input as it's related to xs/solidfire cc @shwstppr

[2022-06-30 06:45] rohityadavcloud commented on #3720
is this still an issue @GabrielBrascher @svenvogel and others?

[2022-06-30 06:46] harikrishna-patnala commented on #6492
Verified the scenarios and I agree with @shwstppr. To give some information about the device ID 0, added some information in the Device ID section in attach Volume form. https://github.com/apache/cloudstack/pull/6518

[2022-06-30 06:54] rohityadavcloud commented on #4587
Ping @olivierlemasle can you test this with latest 4.17.0.0?

[2022-06-30 06:55] #4587 closed

[2022-06-30 06:55] rohityadavcloud commented on #4937
cc @shwstppr s3/swift support lacking in UI cc @pdion891

[2022-06-30 06:56] rohityadavcloud commented on #5155
@nvazquez is the last-id even useful, needed?

[2022-06-30 07:20] rohityadavcloud commented on #6498
cc @weizhouapache was this added?

[2022-06-30 07:22] rohityadavcloud commented on #6499
cc @utchoang can you have a look at this, probably requires a new form?

[2022-06-30 07:46] Pearl1594 commented on #6516
@Firxiao this has been fixed in 4.17.0 - https://github.com/apache/cloudstack/pull/5990

[2022-06-30 09:09] tampler commented on #6406
Hello everyone and thanks for helping on this.

We cannot currently upgrade the ACS version and test the issue on the latest 4.17. I'll get back to this as soon as we upgrade

[2022-06-30 09:25] weizhouapache commented on #6498
@rohityadavcloud cloudstack doc is not updated.

I see @harikrishna-patnala has self-assigned this.
@harikrishna-patnala if you have any question, please let me know.

[2022-06-30 09:26] rohityadavcloud commented on #6455
Thanks for updating @slavkap

[2022-06-30 09:29] rohityadavcloud commented on #6516
Thanks for checking @Pearl1594, @Firxiao I'm closing this as fixed in #5990. Please try 4.17.0.0 and re-open if you're still able to reproduce this issue in 4.17.0.0. Thanks for your bug-report.

[2022-06-30 09:29] #6516 closed

[2022-06-30 09:29] rohityadavcloud commented on #5976
@davidjumani did you rebuild and update/upload the isos?

[2022-06-30 11:06] GabrielBrascher commented on #3720
@rohityadavcloud @svenvogel should be fixed by PR https://github.com/apache/cloudstack/pull/4212 which gives autonomy for admins to choose a strategy for such VMs, via global settings name `host.maintenance.local.storage.strategy`.

With that PR Admins can choose (wisely and knowing eventual risks on each option) between?
1. error in maintenance when there are local storage VMs
2. stop local stora

[2022-06-30 18:43] harikrishna-patnala commented on #4314
@PaulAngus any idea what is that attached to VM under CD/DVD Media ?

[2022-07-01 05:13] rohityadavcloud commented on #6270
Fixed in https://github.com/apache/cloudstack/pull/6483

[2022-07-01 05:13] #6270 closed

[2022-07-01 05:20] rohityadavcloud commented on #6291
Hi @xuanyuanaosheng no there is no support for shared-blockstorage in CloudStack. Please may discuss your ideas on dev@ or users@ mailing list https://cloudstack.apache.org/mailing-lists.html

[2022-07-01 05:20] #6291 closed

[2022-07-01 05:21] #6231 closed

[2022-07-01 05:21] rohityadavcloud commented on #6231
Appears a non-issue, thanks for reporting @synergiator pl re-open if you're able to reproduce the issue.

[2022-07-01 05:22] #4112 closed

[2022-07-01 05:23] rohityadavcloud commented on #6205
Fixed in https://github.com/apache/cloudstack/pull/6218

[2022-07-01 05:23] #6205 closed

[2022-07-01 05:24] rohityadavcloud commented on #6381
We don't have any SRX infra in the community CI/CD systems to verify/fix this, any pull request is welcome @vdombrovski

[2022-07-01 05:25] rohityadavcloud commented on #6424
@GutoVeronezi are you working on this?

[2022-07-01 05:26] rohityadavcloud commented on #6463
@vladimirpetrov maybe a setup issue cc @weizhouapache @sureshanaparti ?

[2022-07-01 05:26] rohityadavcloud commented on #6464
Sorry issue has no description, pl re-open with the description or log a new issue. Thanks @ErezZarate

[2022-07-01 05:26] #6464 closed

[2022-07-01 05:28] rohityadavcloud commented on #6469
Thanks for the questions @nxsbi I think it depends on the setup, you can use a backup solution (something like Veeam) or something bare-bone like scripts that say are run by cronjob that rsync your backups vhd files. Can you ask this on users or dev mailing list where you might get more reach to the community - https://cloudstack.apache.org/mailing-lists.html

(closing as this is not an issue)

[2022-07-01 05:28] #6469 closed

[2022-07-01 05:29] rohityadavcloud commented on #6492
Is this fixed with https://github.com/apache/cloudstack/pull/6518 @harikrishna-patnala ?

[2022-07-01 05:30] rohityadavcloud commented on #6517
Hi @jaspercloud sorry I couldn't understand the issue. If the question is whether CloudStack supports windows10 guest VMs - then yes.

[2022-07-01 05:31] harikrishna-patnala commented on #6492
Yes @rohityadavcloud

[2022-07-01 05:33] harikrishna-patnala commented on #6492
While reattaching the root volume to the VM, then device id 0 has to be used. We have added that information in the Device ID details section in the PR #6518

[2022-07-01 05:33] #6492 closed

[2022-07-01 05:45] rohityadavcloud commented on #6485
cc @Pearl1594 @davidjumani @shwstppr to triage

[2022-07-01 05:46] rohityadavcloud commented on #6471
@harikrishna-patnala pl discuss with @nvazquez or @Pearl1594  if needed, this is related to how certificates are generated for agent.

[2022-07-01 05:47] rohityadavcloud commented on #6321
It appears this is fixed in 4.17.0.0 release. Thanks for the bug-report @AWrightforge kindly test 4.17.0.0 and re-open if you're still able to reproduce this.

[2022-07-01 05:47] #6321 closed

[2022-07-01 06:51] xuanyuanaosheng commented on #6291
@rohityadavcloud  OK, Thanks

[2022-07-01 16:23] leolleeooleo commented on #6411
#6496 does not fix if non-default (Account Secondary Storage limits and Project Secondary Storage limits) is set greater than max.account.secondary.storage or max.project.secondary.storage.
![image](https://user-images.githubusercontent.com/12134066/176932457-b3817bf6-3bd0-4c6a-ad9c-01f2d467a711.png)
![image](https://user-images.githubusercontent.com/12134066/176932500-ff685339-db9a-4831-85f4-afd1

[2022-07-01 17:02] tampler opened #6520 "SAML: request header fields are too large against a commercial IdP"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 21.10
KVM

##### SUMMARY

May be related to #6427

When I try to authenticate against a commercial `SAML IdP`, I'm getting the following error in my browser console:
`Status Code: 431 Request Header Fields Too Large`.

This error occurs when IdP redir

[2022-07-02 00:01] #6500 closed

[2022-07-04 05:14] harikrishna-patnala commented on #6498
@weizhouapache "Add host" form is facilated to provide either using password or ssh keys but not the "Add Zone" Wizard.

@utchoang has already created PR for this https://github.com/apache/cloudstack/pull/6525. I'll update the document accordingly.

[2022-07-04 10:06] DaanHoogland commented on #5155
@nvazquez , though @rohityadavcloud makes a valid point, this seems a simple fix (crating the id file on starting) why is this moved to `unplanned`? Is there a conflict with other functionality?

[2022-07-05 06:41] vladimirpetrov commented on #6463
I don't believe it is a setup issue because the same Ceph storage worked perfectly with CentOS 7. Please note that my Ceph version is newer than the one @slavkap tested - 15.2.16.

[2022-07-05 08:58] efansoftware commented on #5976
@davidjumani @rohityadavcloud, should this ticket be reopened to clear the release version question? Thanks!

[2022-07-05 09:05] shwstppr commented on #5976
@efansoftware did you try readding k8s version with latest ISOs from https://download.cloudstack.org/cks/?
I can see all the ISOs there were updated on 22 March 2022 when @davidjumani closed this issue so I assume they were updated.

[2022-07-05 11:41] jdalais commented on #6499
<img width="725" alt="image" src="https://user-images.githubusercontent.com/21107174/177319500-2b4eeaf0-6c72-42a8-8d2f-47225c0bfbe6.png">

Am getting stuck on the above screen while trying to create zone; is that related?

[2022-07-05 13:06] harikrishna-patnala commented on #6471
Hi @kricud, I've tried to fix this as part of the PR https://github.com/apache/cloudstack/pull/6530.

Can you please help me verify it.

[2022-07-05 15:58] harikrishna-patnala commented on #6499
I don't think it is related to this issue @jdalais, please check the developer tools for any errors or management server logs for anything suspicious.

[2022-07-05 17:07] rohityadavcloud opened #6533 "Allow users to specify nicController for KVM VMs"
Like other VM instance properties, add a new property nicController both in template and instance properties to allow users/admins to specify the nic controller of a VM for KVM.

##### ISSUE TYPE

 * Feature Idea

##### COMPONENT NAME

[code]

[2022-07-05 18:09] mlsorensen commented on #6455
Glad to see this is being worked on @slavkap, thanks! I ran into this just today.

Yes, this `@StorageAdaptorInfo(storagePoolType=StoragePoolType.SharedMountPoint)` is used to select which adaptor should be called to implement agent volume requests. As such StorPool probably needs to register their own type instead of trying to be the implementation for SharedMountPoint.

[2022-07-06 00:26] utchoang commented on #6499
@jdalais Your issue is similar to https://github.com/apache/cloudstack/issues/6479 and has been fixed at PR https://github.com/apache/cloudstack/pull/6480

[2022-07-06 03:50] rohityadavcloud commented on #6471
Fixed in https://github.com/apache/cloudstack/pull/6530

[2022-07-06 03:50] #6471 closed

[2022-07-06 03:56] rohityadavcloud commented on #6428
Fixed in https://github.com/apache/cloudstack/pull/6495

[2022-07-06 03:56] #6428 closed

[2022-07-06 03:58] rohityadavcloud commented on #6427
Fixed in https://github.com/apache/cloudstack/pull/6457

[2022-07-06 03:58] #6427 closed

[2022-07-06 04:01] rohityadavcloud commented on #6498
Fixed in https://github.com/apache/cloudstack-documentation/pull/280

[2022-07-06 04:01] #6498 closed

[2022-07-06 06:59] rohityadavcloud commented on #6499
Fixed in https://github.com/apache/cloudstack/pull/6525

[2022-07-06 06:59] #6499 closed

[2022-07-06 07:05] rohityadavcloud commented on #6514
Fixed in https://github.com/apache/cloudstack/pull/6513

[2022-07-06 07:05] #6514 closed

[2022-07-06 18:10] nvazquez commented on #6455
Hi @mlsorensen yes, unfortunately this error has not been detected earlier. In the meantime, the error can be mitigated by removing the storpool jar from the KVM hosts and the management servers, and restarting the CloudStack services - https://blogs.apache.org/cloudstack/entry/advisory-apache-cloudstack-advisory-on

[2022-07-06 18:56] nxsbi opened #6534 "CS 4.17 Zone icon does not render in Add Instance page (section 1)"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

NA

##### OS / ENVIRONMENT

CentOS7 with 4.17
##### SUMMARY

I uploaded a new image for Zone - it shows correctly in most places. But on the Create VM page, it appears as blank with render size of 0:0

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL R

[2022-07-06 19:01] nxsbi commented on #6298
@CKrieger2020 - have you tried to create a new Network or create a L2 network (assuming your CS instance is on a separate L2 network than what is available in CS for users to choose from)
In my home lab I have been able to create instance using L2 which talks to my other computers on the home network.

[2022-07-07 05:37] rohityadavcloud commented on #6533
@Pearl1594 has advised nicAdapter vm/template property can be used, and works from API but not UI.

[2022-07-07 05:54] harikrishna-patnala commented on #6494
Hi @itgyn, I've tried to create and attach a 3TB disk to a VM and is successful. Can you please try it again with a new VM and check if the issue is consistent across all VMs and disks.
Can you also check if this is something related to this article https://kb.vmware.com/s/article/77134. I've tried both with 6.7u3 and 7.0 versions, it worked fine.

[2022-07-07 06:17] itgyn commented on #6494
Thank you very much. My version of wmware is a little low. Mine is 6.5

[2022-07-07 06:26] harikrishna-patnala commented on #6494
Is this reproducible with other VMs?

[2022-07-07 06:34] itgyn commented on #6494
Yes, it's OK to expand the data disk by 3T, but as long as the disk is attached to the virtual machine for the first time, it will report that device 0 is invalid

[2022-07-07 07:28] harikrishna-patnala commented on #6494
I've tried with 6.5 version too and it worked fine. Can you try with some other setup or upgrade your Vmware version and check once.
I'm assuming you have already checked what I've asked,
1. You could reproduce the issue with any VM.
2. You are observing only with 3TB disks, lower size disks are attaching fine.

Please check various combinations of tests please provide some pinpointers to the issu

[2022-07-07 07:31] itgyn commented on #6494
Do you operate through cloudstack?

[2022-07-07 07:34] harikrishna-patnala commented on #6494
Yes, creating VM, disks, attach, detach operations I'm trying from CloudStack.
Aren't you trying these from CloudStack ?

[2022-07-07 07:34] rohityadavcloud commented on #6494
Hi @itgyn yes, we're the contributors (committers and PMCs) of the project. Could you check if this relates to your issue https://github.com/apache/cloudstack/issues/6492

We're assuming this is a data disk that you've created and attached, @harikrishna-patnala did you try the same (i.e. create 3T datadisk and attach to a VM?).

[2022-07-07 07:36] itgyn commented on #6494
Thank you very much. Let me verify it here

[2022-07-07 08:18] harikrishna-patnala commented on #6150
Agree @nvazquez we can remove the API "changeServiceForVirtualMachine" since "scaleVirtualMachine" handles both stopped and running VM to change the offering.

@DaanHoogland @sureshanaparti a quick suggestion is needed here please. Can I proceed with completely removing the API or using deprecate annotations? My only concern with deprecate annotation is I did not see any proper notification on dep

[2022-07-07 08:47] DaanHoogland commented on #6150
@harikrishna-patnala for an API we can only annotate it and not prevent any usage of it. We should wait with removing it untill 5.0 if at all it comes. If `scaleVirtualMachine` allows for changing the service offering than we can mark `changeServiceForVirtualMachine` for removal and maybe cripple its functionality. We have more clients than the UI hwoever, so let's not remove it just yet (cmk, ter

[2022-07-07 09:03] GabrielBrascher commented on #6150
Agree with removing it. But also agree with @DaanHoogland. Removing it would cause API backwards compatibility and therefore requires a 5.0 (which would be fine for me).

For a 4.X.Y we can deprecate it adding an annotation and also spreading the words via release notes, documentation etc.

[2022-07-07 09:07] #6533 closed

[2022-07-07 10:25] harikrishna-patnala commented on #6150
Thanks guys, I've raised a PR, please review.

[2022-07-08 08:23] #6479 closed

[2022-07-08 14:30] rohityadavcloud commented on #6534
Fixed in https://github.com/apache/cloudstack/pull/6543

[2022-07-08 14:30] #6534 closed

[2022-07-09 15:51] rohityadavcloud commented on #6232
Fixed in https://github.com/apache/cloudstack/pull/6542

[2022-07-09 15:51] #6232 closed

[2022-07-09 16:23] rohityadavcloud commented on #6150
Fixed in https://github.com/apache/cloudstack/pull/6540

[2022-07-09 16:23] #6150 closed

[2022-07-11 03:05] harikrishna-patnala commented on #6141
cc @DaanHoogland @sureshanaparti @nvazquez

I've tried multiple cases to disconnect the host from vCenter and tried to connect back. Every time I've observed the direct agent map being updated accordingly and hosts are back to UP state.

Not during this testing, but I've observed this issue happening in some environments but not sure about the reason

Do you think this is something related to mult

[2022-07-11 07:40] rohityadavcloud opened #6544 "Guest network permissions not working with projects"
When networks are shared with projects, in the project view (both UI and API) those networks aren't listed and therefore couldn't be used to deploy VM.

The feature isn't working as per https://docs.cloudstack.apache.org/en/4.17.0.0/adminguide/networking_and_traffic.html#guest-network-permissions

Please test and add support for allowing sharing of following types of networks with other accounts a

[2022-07-11 07:56] harikrishna-patnala commented on #6141
One other observation is the API "reconnectHost" is not actually trying to reconnect. It does only disconnection of the host. Later when direct agent thread tries to get the host status, then it tries to connect. So it could be a reason that global settings which controls the host pings and direct agent thread are not triggered on time and host remains in disconnected state.

[2022-07-12 08:14] ccycv commented on #6479
Update:

   Related to adding a cluster. I tried to add new zone to the same setup, ofc, I had the same issue via UI and then I tried to add via cloudmonkey but without success, here is why;

   `022-07-12 08:01:07,483 INFO  [c.c.h.v.VmwareServerDiscoverer] (qtp515715487-18:ctx-1158479d ctx-d5973879) (logid:d407e9a3) Discover host. dc: 2, pod: 2, cluster: 36, uri host: vscsp06.test.host
2022-07-12

[2022-07-13 19:48] mrog opened #6551 "Log files grow very large"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The CloudStack management and agent log files grow unbounded.  Under heavy use, they can quickly consume all available disk space.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[cod

[2022-07-15 07:24] DaanHoogland commented on #6551
@mrog are you making a PR for this?

[2022-07-15 07:42] DaanHoogland commented on #3195
as there are no plans for doing this in 4.18 I'm moving this to 'unplanned'.

[2022-07-15 08:07] #6433 closed

[2022-07-18 12:29] harikrishna-patnala opened #6554 "Support Veeam version v11.0.1.1261 for backup and recovery"
##### ISSUE TYPE

 * Improvement Request
##### COMPONENT NAME

[code]

##### SUMMARY

Veeam plugin is already supported and the documentation is available here http://docs.cloudstack.apache.org/en/latest/adminguide/veeam_plugin.html

Since the version v11.0.1.1261 the powershell commands has changed and few commands are no more valid.

Examples:
1. "PowerShell Add-PSSnapin VeeamPSSnapin" This comm

[2022-07-19 06:36] harikrishna-patnala commented on #4184
There are some changes that went in the PR https://github.com/apache/cloudstack/pull/5297 where it updated the log message and tried to take the snapshot in a different way.

https://github.com/shapeblue/cloudstack/blob/81b7e6e750a581375612b78fbf04ce94da573839/plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStorageProcessor.java#L1576

So I think it will solve this issue

[2022-07-19 11:57] rohityadavcloud commented on #4184
Let me close this after checking this on a uefi systems (4.17 on rpi4)

[2022-07-20 06:00] #5266 closed

[2022-07-20 06:04] rohityadavcloud commented on #6209
Merged in https://github.com/apache/cloudstack/pull/6527

[2022-07-20 06:04] #6209 closed

[2022-07-20 06:40] eliran-natan commented on #6342
Is it possible to upgrade to from Vue 2 to Vue 3 while still using Antd 1.7.8?
Thanks!

[2022-07-20 06:58] utchoang commented on #6342
@eliran-natan No, because Antd 1.7 only works with Vue 2. When I migrate from Vue 2 -> 3, I have to upgrade the Antd version from 1->2 (refer to https://github.com/apache/cloudstack/pull/5151)

[2022-07-20 07:09] eliran-natan commented on #6342
Thank you! So this means that Antd version 2 would work with Vue2? (So we could do the upgrade step by step: first upgrade antd while still working with Vue2, and later on upgrade to Vue3).
Will it be the same for antd version 3? :)

[2022-07-20 07:17] utchoang commented on #6342
@eliran-natan If you want to use Antd version 2, you must use Vue 3. You can refer to https://2x.antdv.com/docs/vue/migration-v2

[2022-07-20 08:02] eliran-natan commented on #6342
@utchoang, so this means that there cannot be a step-by-step upgrade.
We have to move to Vue3 and to Antd2 on the same go...do you agree? :)
- To update to Vue 3 I must have antd2
- To update to antd2 I must have Vue3

[2022-07-20 08:13] rohityadavcloud commented on #6259
Fixed in https://github.com/apache/cloudstack/pull/6557

[2022-07-20 08:13] #6259 closed

[2022-07-20 08:17] rohityadavcloud commented on #4184
Couldn't completely check but closing on remarks above

[2022-07-20 08:17] #4184 closed

[2022-07-20 09:04] ahmadamirahmadi007 opened #6559 "Install CloudStack From Source"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
Source Code
##### CLOUDSTACK VERSION
4.17 main branch

##### CONFIGURATION
N/A otherwise

##### OS / ENVIRONMENT
Ubuntu 18.04
Apache Maven 3.6.0
Java version: 11.0.15,
nodejs v16.16.0
##### SUMMARY
I Compiled CloudStack From Source But At The Compile Stage i encountered  With an ERROR mentioned in the follow screenshot. Whats The Mean  cannot fi

[2022-07-20 10:50] rohityadavcloud commented on #6559
Thanks for reporting @ahmadamirahmadi007 I rechecked to find my commit shared above had no effected, I had to cherry-pick them again on 4.17/main branches - I caused this while merging 4.17.0.1 to 4.17 branch somehow the commits got missing (had no effect on fwd-merging which is perhaps because I used the -X ours flag :( )

[2022-07-20 10:50] #6559 closed

[2022-07-20 17:02] #6063 closed

[2022-07-21 21:22] mrog commented on #6551
I just made a PR.  https://github.com/apache/cloudstack/pull/6563

[2022-07-22 17:57] kohrar commented on #6520
Can you check what headers your browser's sending by looking at the request it's making? Is there a specific size that it begins to fail at?

I've had similar issues with SSO with another application which was caused by the following two things.
1. The application was setting many large cookies. Does your browser just have a lot of cookie data that it's sending for each request?
2. The reverse pro

[2022-07-24 18:11] lijinlongpq opened #6565 "failed to create vm from ISO on v 4.17.0"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Management server on Ubuntu 20.04

##### SUMMARY

Previously I was able to create VM using ISOs. After upgrade to latest version which is 4.17.0.0 there is error prompt up when creating VM using ISO. The error is :
Request failed. (431)
VM Creation fail

[2022-07-25 07:29] harikrishna-patnala commented on #6551
Closing this issue as the PR raised for this is also closed.

[2022-07-25 07:29] #6551 closed

[2022-07-25 10:34] ahmadamirahmadi007 opened #6566 "Problem WithCloudstack Installation Wizard"
##### ISSUE TYPE
 * Bug Report
##### COMPONENT NAME
UI
##### CLOUDSTACK VERSION
build 4.17 from main branch

##### CONFIGURATION
 N/A otherwise

##### OS / ENVIRONMENT
Ubuntu 20.04 LTS
Apache Maven 3.6.0
Java version: 11.0.15,
nodejs v16.16.0
Compute Nodes: Vmware Esxi

##### SUMMARY
i built cloudstack from source correctly with follow command. but in installation wizard in cloudstack UI, i encoun

[2022-07-25 10:58] nvazquez commented on #6566
Hi @ahmadamirahmadi007 you can get the noredist dependencies from: https://github.com/shapeblue/cloudstack-nonoss and place them into your deps/ directory and installing them

[2022-07-25 11:01] nvazquez commented on #6566
After that, please consider this issue: https://github.com/apache/cloudstack/issues/6479 - it has been fixed and will be available from 4.17.1 onwards. For a zone creation can you consider an API client like cloudmonkey, for example: `create zone name=<NAME> dns1=<DNS1> internaldns1=<DNS2> networktype=Advanced localstorageenabled=true ... `?

[2022-07-25 11:10] nvazquez commented on #6565
Hi @lijinlongpq this is a duplicate of the issue: https://github.com/apache/cloudstack/issues/6447 - it will be fixed on 4.17.1.

For 4.17.0 there are some workarounds, can you please consider some of these?
- Using the API and specifying the rootdiskparameter as well. An example on cloudmonkey: `deploy virtualmachine networkids=<NETWORKID> templateid=<ISOID> serviceofferingid=<OFFERINGID> diskoff

[2022-07-25 18:40] garavitov opened #6568 "Create a zone wizard freeze after vCenter information screen"
ISSUE TYPE
Bug Report
COMPONENT NAME
UI

CLOUDSTACK VERSION
build 4.17.0.1

CONFIGURATION
Create Zone Wizard

OS / ENVIRONMENT
Ubuntu 20.04 LTS
Compute Nodes: Vmware Esxi

SUMMARY
Successfully installed the Apache CloudStack 4.17.0.1 from repository with no issues.
Can't configure a zone with VMware Hypervisor, the wizard freeze without error after the vCenter information screen with no errors and

[2022-07-25 20:02] bugoff opened #6569 "SSH Key pairs links should use the unique ID instead of the name"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I added my ssh key pair on multiple accounts / domains. They have the same name which causes the ui to only pick te first.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]
![Screenshot 2022-07-25

[2022-07-26 00:35] utchoang commented on #6568
Same with issue https://github.com/apache/cloudstack/issues/6479 and has fixed in https://github.com/apache/cloudstack/pull/6480

[2022-07-26 00:40] utchoang commented on #6569
As far as I know, the return result of `listSSHKeyPairs` has 2 types: with `id` and without `id`. This makes the conversion to only `id` impossible. What do you think? @shwstppr cc @rohityadavcloud @Pearl1594
![image](https://user-images.githubusercontent.com/13766648/180897866-21b7269a-c2a1-4cd1-a5ed-4a159836d171.png)

[2022-07-26 03:56] harikrishna-patnala commented on #6294
@matheusfontes I'm closing this issue as I could not reproduce it. Please feel free to reopen if you still face the issue.

[2022-07-26 03:56] #6294 closed

[2022-07-26 03:57] harikrishna-patnala commented on #6494
@itgyn I'm closing this issue as I could not reproduce it. Please feel free to reopen if you still face the issue with CloudStack.

[2022-07-26 03:57] #6494 closed

[2022-07-26 05:31] shwstppr commented on #6569
UUID for SSHKeyPair was added only in 4.16.0. https://github.com/apache/cloudstack/pull/5103/files#diff-57c8dd809042b11cd4a14741e2f797e968f23a9cc7bf7b875864397f32d68582R32-R35
Keypairs added earlier than that do not have UUID. This is why they are listed using the name.
@utchoang we may do something like the following but this would solve it only for keypair list. This won't work infocard as resou

[2022-07-26 06:23] shwstppr commented on #6568
@garavitov if possible you may test the latest nightly build from https://download.cloudstack.org/testing/nightly/. Issue should occur in that

[2022-07-26 06:45] #6565 closed

[2022-07-26 07:16] ahmadamirahmadi007 commented on #6566
i replaced all the files but unfortunately i have problem with the juniper plugin during the build. it is exactly previous error about juniper SRX.
[INFO] Apache CloudStack Plugin - Juniper SRX ............. FAILURE [  9.812 s]
[INFO] Apache CloudStack VMware Base ...................... SKIPPED
[INFO] Apache CloudStack Plugin - Hypervisor VMware ....... SKIPPED
[INFO] Apache CloudStack Plugin - AP

[2022-07-26 10:23] nvazquez commented on #6566
@ahmadamirahmadi007 after placing the files on the deps/ directory have you run the `install-non-sh.sh` script? This would install the missing dependency into your maven repository. Can you please retry building after running this script?

[2022-07-26 11:23] jobinpt opened #6570 "Zone 1 has no host available which is enabled and in Up state"
I tried to upgrade from 4.15.x to 4.17.x and got database table error.
After downgrading back to 4.15.x and restoring old database  and now I get error as below and I am unable to access the UI interface . Please advise how to fix

2022-07-26 14:16:26,400 DEBUG [c.c.c.ConsoleProxyManagerImpl] (consoleproxy-1:ctx-9d4232ac) (logid:3b7b34ad) Zone 1 has no host available which is enabled and in Up sta

[2022-07-26 11:36] shwstppr commented on #6570
@jobinpt These are not enough details to solve your issue. The logs mentioned are the debug logs and are showing because the management server is not finding any usable hypervisor host in Zone 1.
You mention that the management UI is not working can you please share any error for that?
Also, you may check if you can list hosts using API directly, you may use cmk. Check the host's state. Try reconn

[2022-07-26 12:06] jobinpt commented on #6570
I don't see any error or exceptions in management server log

2022-07-26 15:01:19,589 DEBUG [o.a.c.f.c.i.ConfigDepotImpl] (main:null) (logid:) Retrieving keys from ExtensionRegistry
2022-07-26 15:01:19,594 DEBUG [o.a.c.s.l.r.ExtensionRegistry] (main:null) (logid:) Registering extension [VpcVirtualRouter] in [Remote Access V P N Service Provider Registry]
2022-07-26 15:01:19,596 DEBUG [o.a.c.f.c.i.

[2022-07-26 14:08] #6568 closed

[2022-07-26 22:05] luwei1970 opened #6572 "Update localized Chinese language pack"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2022-07-27 05:23] ahmadamirahmadi007 commented on #6566
build was done with -Dnoredist parameter but i still have problems in Creating cluster stage with Error Unknown API command: addVmwareDc.
what can i do?

[2022-07-27 12:17] fermosan opened #6575 "Missing IPV6 Firewall in UI User view"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

IPV6 Isolated Networkers (DUAL STACK)

##### OS / ENVIRONMENT

##### SUMMARY
Under Network -> Guest Networks -> any IPV4+IPV6 (Dualstack) networker the tab IPv6 Firewall is missing for anyone but the Administrator.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

[2022-07-27 12:28] fermosan opened #6576 "Account (and possible domain) configure limits reset value on click away"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When editing the Configure limits any mouse click on any other field will reset the changed value of the previous field to what it was before.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

Field value

[2022-07-27 12:48] nvazquez commented on #6566
@ahmadamirahmadi007 you can add the `-Dnoredist` to your jetty run command

[2022-07-27 16:00] weizhouapache commented on #6575
@nvazquez
this looks like a bug. the owner and domain admin should be able to manage the ipv6 firewalls as well.

[2022-07-27 16:07] shwstppr commented on #6575
@nvazquez @weizhouapache @fermosan I guess this was a regression with https://github.com/apache/cloudstack/commit/40dabb6ee746495fce9ffc80055337674046b230 and was fixed with https://github.com/apache/cloudstack/commit/d45d257b9a31b5825d87a4f40412c54a3d1ed64c

@fermosan is it possible for you to test this with the lates nightly packages? https://download.cloudstack.org/testing/nightly/latest/

[2022-07-27 16:53] shwstppr commented on #6575
Apologies @nvazquez @weizhouapache @fermosan. Ignore my previous comment.
I tested and found that the issue is due to IPv6 API access for default roles. I've created a PR to fix it, will test that and update.

[2022-07-27 17:41] shwstppr commented on #6566
@ahmadamirahmadi007 this may help https://github.com/shapeblue/hackerbook/blob/main/2-dev.md#building-cloudstack

[2022-07-28 12:05] nvazquez commented on #6576
Fixed on #6578

[2022-07-28 12:07] nvazquez commented on #6515
@jaspercloud I'm closing this issue as it seems resolved, in case the issue persists please reopen it

[2022-07-28 12:07] #6515 closed

[2022-07-28 15:16] ahmadamirahmadi007 commented on #6566
what's the diffrence between installing cloudstack via debian packages created from "mvn clean install -P systemvm,developer -Dnoredist" and mvn -pl :cloud-client-ui jetty:run. Both are the same result for me about Unknow API

[2022-07-28 22:39] nvazquez commented on #6566
Hi @ahmadamirahmadi007 the problem is that even though you built using noredist then you have not started the server with it. Please execute: `mvn -pl :cloud-client-ui jetty:run -Dnoredist`, this should include the Vmware packages after build using `mvn clean install -P systemvm,developer -Dnoredist`

[2022-07-29 07:59] klausheck opened #6584 "Unable to find IPv6 address for zone ID: %d, physical network ID: %d, VLAN: %s"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

4.17

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 20.04

##### SUMMARY

When instantiating a Dual-Stack Network, the following error occurs:

Unable to start a VM [3f772370-2cf1-4ce0-96ff-a51f36d376b8] due to
[Unable to create a deployment for VM instance {id: "108", name: "i-2-108-VM",
uuid: "

[2022-07-29 08:11] weizhouapache opened #6585 "UI bug: Fail to deploy vm if override disk offering is dynamic"
This impacts 4.17 and main branch.

steps to reproduce the issue

- open deploy vm wizard
- click 'Override root disk offering'
- choose a 'Custom' disk offeirng
- input 'Root disk size (GB)' in the 'Override root disk offering' section (e.g. 10GB)
- deploy vm.

expected result: deploy vm with root disk size = 10GB
actual result: error:  "VM Creation failed. Volume size: -1GB is out of allowed ran

[2022-07-29 08:16] weizhouapache commented on #6584
@klausheck
Can you check if the IPv6 prefix and public IPv6 cidr (you should have added) on the correct physical network ?

[2022-07-29 08:17] shwstppr commented on #6584
@klausheck thanks for reporting the issue.
If I understand correctly, you have public and guest traffic handled by different physical networks and the network with id 202 is for the guest traffic?
I'll investigate this.

[2022-07-29 09:58] klausheck commented on #6584
Traffic type Guest is placed on physical network named "cloudbr2". There, I added the IPv6 prefix XXXX:XXXX:1111:1120::/60. The guest network gets the IPv6 CIDR XXXX:XXXX:1111:1127::/64 and has the physical_network_id 202.

Traffic type Public is placed on physical network named "cloudbr3". There, I added the IP Range:
Gateway: XXXX:XXXX:1111:1112::1
CIDR: XXXX:XXXX:1111:1112::/64
VLAN/VNI: vlan:/

[2022-07-29 10:49] shwstppr commented on #6584
@klausheck and what is your public IPv4 range look like?

[2022-07-29 11:14] klausheck commented on #6584
Traffic type Guest: vlan://2114 | 10.99.103.0/24

Traffic type Public:
Gateway: XXX.XXX.238.225
CIDR: XXX.XXX.238.224/27
VLAN/VNI: vlan://99
Start IP: XXX.XXX.238.237
End IP: XXX.XXX.238.250

Without IPv6 everything works perfectly, so I suppose that everything is correct with the IPv4 configs. I guess there is just a small bug, such that the IPv6 network info is searched for in the wrong physical

[2022-07-29 12:15] #6585 closed

[2022-07-29 12:20] shwstppr commented on #6220
@synergiator can you please check the PR https://github.com/apache/cloudstack/pull/6574 and if possible test the script

[2022-07-29 12:51] weizhouapache commented on #6585
thanks @shwstppr

[2022-07-30 01:13] KuasarCloud opened #6590 "Permission Denied on Domain Controller For Internal LB"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
API, UI

##### CLOUDSTACK VERSION
ACS 4.15.2.0

##### CONFIGURATION
Advanced Network with VPC

##### OS / ENVIRONMENT
Hypervisor KVM

##### SUMMARY
When using a domain controller user in ACS  to deploy CreateLoadBalancer I am receiving a “531 Unable to use network with id= 498611f9-xxx-4030-aa10-e7d7ad062d1a, permission denied”

##### LOGS
Apilo

[2022-07-31 04:32] ahmadamirahmadi007 opened #6593 "Problem With Separating Traffic Type for vmware host in Cloudstack UI"
##### ISSUE TYPE
 * Bug Report
##### COMPONENT NAME
API OR UI
##### CLOUDSTACK VERSION
CloudStack 4.17.0.1-snapshot.20220730
4.18
##### CONFIGURATION

Vmware Compute Host
3 Standard VirtualSwitch In vCenter
-----------------
vSwitch0 : Storage And Management
vSwitch1 : Public
vSwitch2 : Guest
advanced network without security group

##### OS / ENVIRONMENT
Ubuntu 20.04 LTS

##### SUMMARY
i have pro

[2022-07-31 11:16] shwstppr commented on #6544
Fixed with [b62f59a](https://github.com/apache/cloudstack/commit/b62f59ac956f9d8188fe1678d6d20d0b56dd2c93)

[2022-07-31 11:16] #6544 closed

[2022-07-31 11:25] shwstppr commented on #6575
Fixed with [9a264c1](https://github.com/apache/cloudstack/commit/9a264c1369be538d3206170db3ad85c1a7ed5e6a)

[2022-07-31 11:25] #6575 closed

[2022-08-01 06:52] harikrishna-patnala opened #6595 "VMware VM snapshot failure in case of storage pool type datastore cluster"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

VM snapshot is failing on some VMs for which disks are created in a storage pool of type “Datastore Cluster“ in VMware.
The issue is happening in a specific case as mentioned below in the reproduction steps.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL

[2022-08-01 10:24] DaanHoogland commented on #6572
@luwei1970 are you having the knowledge of Mandarin  to do this?

[2022-08-01 10:53] #6566 closed

[2022-08-02 08:05] shwstppr commented on #6572
@luwei1970 can you please recreate your PR https://github.com/apache/cloudstack/pull/6573 using correct remote

[2022-08-02 08:08] ahmadamirahmadi007 commented on #6593
i can't even choose vss or vds in physical network section in cloudstack UI.
![physical net](https://user-images.githubusercontent.com/104001728/182325231-0835c444-0c64-467b-8151-1f4929ede773.png)

[2022-08-02 08:40] ahmadamirahmadi007 opened #6599 "Assign VM To Backup Offering Failed"
##### ISSUE TYPE

 * Bug Report
##### COMPONENT NAME
UI
##### CLOUDSTACK VERSION
CloudStack 4.17.0.1-snapshot.20220730
##### CONFIGURATION
veeam 10.0.1.4854

##### SUMMARY
i can not assign vm to backup offering.
##### STEPS TO REPRODUCE
Error Log
https://gist.github.com/ahmadamirahmadi007/feffda868d51de7e295fcf72ccf6249b
##### EXPECTED RESULTS
assign vm to backup offering
##### ACTUAL RESULTS

aft

[2022-08-02 12:19] ahmadamirahmadi007 opened #6601 "apache apidocs FAILURE in Build From Source"
##### ISSUE TYPE

 * Other
##### COMPONENT NAME
Source Code
##### CLOUDSTACK VERSION
CloudStack 4.17.0.1
##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 20.04
java 11
maven 3.6.3 and 3.8
##### SUMMARY
how can i handle follow error in build cloudstack from source

##### STEPS TO REPRODUCE
mvn -e clean install -Dnoredist -P developer,systemvm
Log Link:
https://gist.github.com/ahmadamirahmadi007/1

[2022-08-02 14:13] slavkap opened #6602 "[UI] Notification error is shown and cannot be closed"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

When you press the Roles tab, a notification error is shown and cannot be closed
![image](https://user-images.githubusercontent.com/51903378/182392944-a71af765-dee5-4aac-8077-c6877f33de4f.png)

##### STEPS TO REPRODUCE
[code]

[2022-08-02 16:10] nvazquez commented on #6601
Hi @ahmadamirahmadi007 can you try building only the apidocs module and send the full output of it by adding `-pl tools/apidocs` to the build command?

[2022-08-02 18:46] gg4126 opened #6604 "Destroying VMs also deleting the associated VM Snapshots"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

advanced networking

##### OS / ENVIRONMENT

RHEL 7.9

##### SUMMARY

The VM Snapshots and VM “Backup & Recovery” are two different things; Currently CloudStack supports the VM backup & recovery by means of third party Veeam Plugin which requires paid subscription. We noti

[2022-08-02 22:01] nvazquez commented on #6601
@ahmadamirahmadi007 I'm not able to reproduce it, since you are using the noredist profile can you check the deps directory are matching the ones on https://github.com/shapeblue/cloudstack-nonoss and run the install script?

[2022-08-03 02:51] utchoang commented on #6602
@slavkap I try step by step with localhost and QA. But I can't see the error like the title. Am I wrong somewhere? :(
![bandicam 2022-08-03 09-49-26-052](https://user-images.githubusercontent.com/13766648/182513684-7b94ae5a-e1d4-4be8-b80c-87f7cccbcf61.gif)

[2022-08-03 05:33] ahmadamirahmadi007 commented on #6601
instead of apidocs there is apidoc in my /tools Directory. i tested Both commands below But The result was the same.
root@build:~/lab/cloudstack# mvn -e clean install -Dnoredist -pl tools/apidoc
[INFO] Error stacktraces are turned on.
[INFO] Scanning for projects...
[ERROR] [ERROR] Could not find the selected project in the reactor: tools/apidoc @
[ERROR] Could not find the selected project in the

[2022-08-03 06:47] shwstppr commented on #6601
@ahmadamirahmadi007 I'm unable to reproduce this as well. Can you please try building apidoc module while providing profiles,

[code]

[2022-08-03 07:34] slavkap commented on #6602
@utchoang, maybe I didn't describe it well

![output](https://user-images.githubusercontent.com/51903378/182550625-6e18edb0-5827-4f1b-918f-9f79f5df0aff.gif)

[2022-08-03 10:44] rohityadavcloud opened #6608 "CloudStack DB upgrade failure causes upgrade mess"
If CloudStack is being upgraded and a DB issue is hit (say table is already altered, forgot to have systemvmtemplate in the deb/rpm build etc), then the whole transaction isn't reverted maybe partially. This causes changes to persist, changes such as new tables being added, existing tables/views altered. As an operator, I would prefer CloudStack to revert its DB changes when an DB upgrade path iss

[2022-08-04 03:44] Yashikaone opened #6611 "A model of readyforshutdown api"
##### ISSUE TYPE

 * Bug Report
 * Improvement Request
 * Enhancement Request
 * Feature Idea
 * Documentation Report
 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2022-08-04 09:09] ahmadamirahmadi007 commented on #6601
result of  mvn clean install -Dnoredist -P developer,systemvm -pl :cloud-apidoc :
![apidoc](https://user-images.githubusercontent.com/104001728/182809531-6c559cd0-d5bd-4cbd-b849-ab37e6e3ea4b.png)

[2022-08-04 09:40] DaanHoogland commented on #6601
@ahmadamirahmadi007 what does `python --version` say?

[2022-08-04 09:51] shwstppr commented on #6593
@ahmadamirahmadi007 In case of different physical networks, server was failing to add your cluster while facing problem with wrong vlan,
[code]

This seems to be a bug in the UI which adds the wrong hypervisor traffic label. I've created PR #6612 to fix it.
Currently traffic label for your different physical networs will read like,
`vSwitch0,null,vmwaresvs`
Though they should be like the following

[2022-08-04 12:05] nvazquez opened #6613 "Improvement on administrator alerts"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
Use the default values for the configurations:
- capacity.check.period : 300000
- alert.purge.delay : 0
- alert.purge.interval : 86400
- Define notification thresholds for cluster capacity: (for example cluster.storage.capacity.notificationthreshold : 0.75 )

##### OS / ENVIRO

[2022-08-04 13:14] xuanyuanaosheng opened #6614 "can not create VM In this situation"
##### ISSUE TYPE

 * Bug Report

##### CLOUDSTACK VERSION
1.  CloudStack:4.15.2.0
2.  ceph version:15.2.16
3.  cloudstack agent os version: Oracle Linux Server 8.3

The cloudstack env is **using the Ceph RBD and  local storage as cloudstack cluster primary storage.**

![image](https://user-images.githubusercontent.com/4197714/182854368-7455cfc0-39e2-44a9-a71b-5fd8cff51d9c.png)

The cloudstack agen

[2022-08-04 14:16] slavkap commented on #6614
@xuanyuanaosheng, can you confirm that you're trying to deploy a VM with a direct download template? If so, this is not supported for Ceph storage.
[enhancment request](https://github.com/apache/cloudstack/issues/3065)
[info for Direct download feature](https://www.shapeblue.com/cloudstack-feature-first-look-direct-download-agnostic-of-the-storage-provider/)

[2022-08-04 18:00] GutoVeronezi commented on #5891
As explained the issue description, we choose [J2V8] to be our JS engine based on its relevance, performance and implementation; However, we faced a dependency on a GCC version higher or equal to 4.9. CentOS7, by default, is shipped with GCC 4.8, therefore, to build the packages we would need to build a newer GCC version and install it. In order to avoid this barrier, we searched for another JS en

[2022-08-04 19:29] ahmadamirahmadi007 commented on #6601
![pythonver](https://user-images.githubusercontent.com/104001728/182936727-5d3d8d77-7537-4c02-b5aa-611b4a5859d3.png)

[2022-08-05 05:13] shwstppr commented on #6593
Fixed with #6612
Please reopen if you face this again after the fix

[2022-08-05 05:13] #6593 closed

[2022-08-05 10:04] DaanHoogland commented on #6601
no python? only python2 and python3?

[2022-08-05 10:42] nvazquez commented on #6601
Hi @ahmadamirahmadi007 can you create a python alias for python3?

[2022-08-05 11:52] rohityadavcloud commented on #6614
That's correct @xuanyuanaosheng direct download templates are only supported for NFS and local storage I think cc @nvazquez

[2022-08-05 11:54] rohityadavcloud commented on #6601
@ahmadamirahmadi007 which distro/platform are you on? You can create a symlink or alias for python3. The failure is because it can't find `python`.

[2022-08-05 11:59] rohityadavcloud commented on #6570
@jobinpt can you share more details with us:
- for ex. during the upgrade, did the sytemvmtemplates got upgraded/registered?
- share details of your env, for ex. hypervisor host/version, storage etc.
- was this an in-place upgrade of the mgmt server or moved the mgmt server? in case of KVM, were the KVM hosts upgraded (for ex. cloudstack-agent pkg was upgraded and the agent was restarted)
- Can yo

[2022-08-05 12:00] rohityadavcloud commented on #6569
@shwstppr should we raise a PR? For example, when name is missing use uuid in the list, and allow users to update/rename their keys?

[2022-08-05 17:11] nvazquez opened #6615 "VR reply packets - interface mismatch"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
Advanced networking with at least 2 public ranges
Network with one source NAT IP on one range, enable static NAT IP from the other public range

##### OS / ENVIRONMENT
Tested with Vmware 6.7

##### SUMMARY
The outgoing traffic for VMs goes from one VR interface when the request is init

[2022-08-05 17:21] nvazquez commented on #6614
Yes, direct download is not supported for Ceph. @xuanyuanaosheng I'm closing this issue, thanks @slavkap @rohityadavcloud

[2022-08-05 17:21] #6614 closed

[2022-08-08 05:34] shwstppr commented on #6611
@Yashikaone are you trying to propose a new feature here? It is not clear from the title, description.

[2022-08-08 05:37] shwstppr commented on #6604
@gg4126 this would require some major changes as currently VM snapshots are not backed up on to secondary storage and live in the same dir as the VM  (atleast on VMware which I checked). For now using B&R plugin would be a better option

[2022-08-08 05:42] shwstppr commented on #6485
@tenvecera would having a new parameter to specify affinity group in `createKubernetesCluster` API and corresponding option in UI make sense for you or looking for something more? cc @Pearl1594 @davidjumani

[2022-08-08 05:48] shwstppr commented on #6569
@rohityadavcloud it won't be simple. It is not the name that is missing. SSH keypairs added before 4.16 don't have UUIDs and many API responses have the parameter `keypair` which returns the **name** of the keypair. As I mentioned, we can fix it in keypair list view in UI but when a keypair is navigated from the info card of another resource it may still use the name.

[2022-08-08 08:49] DaanHoogland commented on #6615
@weizhouapache did we fix this, or is this a different issue?

[2022-08-08 10:45] nvazquez commented on #6615
@DaanHoogland is not fixed, I was able to reproduce it on 4.17.0

[2022-08-08 23:20] boubouX opened #6617 "Linstor option (Protocol) not available on KVM cluster during cluster-wide primary storage creation"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

[code]

##### STEPS TO REPRODUCE

<-- Paste example playbooks or commands between quotes below -->
[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2022-08-09 01:20] threedliteguy commented on #6396
I tried the above docker image but it still requires an external NFS server, it seems. So when I get to the step of adding primary and secondary storage I do not have the root pwd or an NFS mount to point to to continue to be able to test uploading an iso and launching an instance of it.  A docker run script with port mappings (e.g. 5050) and persistence directory mapping parms would also be helpf

[2022-08-09 06:35] shwstppr commented on #6617
@boubouX can you please share the screenshot of the options you are getting in the UI. I checked with a 4.16.1 env and UI always show the following for a KVM cluster,

![Screenshot from 2022-08-09 12-04-50](https://user-images.githubusercontent.com/153340/183580824-b134398f-8e97-4b01-9f70-8f376572e2be.png)

[2022-08-09 06:50] RagingAdmin opened #6618 "Veeam for Red Hat Hypervisor"
Since Red Hat is now compatible with Veeam. Is there a plugin available?

Veeam API is doing all the work, does the plugin need to be with vmware only. Other hyervisors can be added.

[2022-08-09 08:01] shwstppr commented on #6569
@bugoff issue you face should be fixed by #6616 if the keys were added after 4.16.0
Please reopen if you still face the issue

[2022-08-09 08:01] #6569 closed

[2022-08-09 10:48] rohityadavcloud commented on #6618
Yes, subject to feasibility support for the RedHat/EL/KVM can be @RagingAdmin. Marking your issue as a feature request.

[2022-08-09 11:06] rohityadavcloud commented on #6590
Fixed in https://github.com/apache/cloudstack/pull/6591

[2022-08-09 11:06] #6590 closed

[2022-08-09 11:16] rohityadavcloud commented on #4314
Closing this based on inactivity and we aren't able to reproduce this, pl test latest 4.16 or 4.17 and re-open if you can share steps of reproduction cc @tungntvn23 @PaulAngus

[2022-08-09 13:03] boubouX commented on #6617
My Primary Storage screenshot

<img width="563" alt="Screen Shot 2022-08-09 at 8 59 48 AM" src="https://user-images.githubusercontent.com/44043283/183653353-4f288ba7-37e9-4dbd-ab2d-966e4965c6c7.png">

[2022-08-09 13:17] boubouX commented on #6617
Done

Antoine Boucher
***@***.*** ***@***.***>
[m] 226-505-9734

Confidentiality Warning: This message and any attachments are intended only for the use of the intended recipient(s), are confidential, and may be privileged. If you are not the intended recipient, you are hereby notified that any review, retransmission, conversion to hard copy, copying, circulation or other use of this message and a

[2022-08-09 13:32] tungntvn23 commented on #4314
Hi @rohityadavcloud ,

Issue still happen.
My step:

1. Login to UI.
2. Kubernetes service tab to click Add Kubernetes Cluster.
3. Fill all information.
4. Click OK

Error message:
`Failed to attach binaries ISO for VM : cluster01-node-18282cc1dbf in the Kubernetes cluster name: cluster01`

[2022-08-09 13:39] rohityadavcloud commented on #4314
@tungntvn23 can you share your CloudStack version, hypervisor and storage you're using and CKS/kubernetes iso/version? cc @shwstppr @davidjumani

[2022-08-09 13:42] vdombrovski opened #6620 "Created tags are not deleted whenever a public IP is disassociated"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Created tags are not deleted when the user releases an public IP address. If the public IP is then assigned to another user, it will still contain all the previous tags. This interferes with automation tools that expect a clean resou

[2022-08-09 17:17] tenvecera commented on #6485
@shwstppr Hi Abhishek, thanks for your response.

In fact for me is update API sufficient, but with correspodning option in UI this change should help more than only me.

Is it hard to change it? I can imagine that this is more than "only" adding it to API, but also add into scale and so on. In which version can we expect this change? Right now I've set up statically oversized clusters and I'm loo

[2022-08-09 18:27] Rubueno opened #6621 "Host memory stats are not updated"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

I think this issue present in any version, although I've not looked further than 4.15.

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Host memory stats are not updated frequently, leading to (possible) overcommit issues when live migrating VMs to a host. A manual restart of c

[2022-08-09 18:33] Rubueno commented on #6621
I have proposed a patch in https://github.com/apache/cloudstack/pull/6622

[2022-08-10 09:12] shwstppr commented on #6455
@dhslove thanks for testing the PR
Fixed with #6552

[2022-08-10 09:12] #6455 closed

[2022-08-10 09:12] vdombrovski opened #6623 "Can't delete any resource tags when multiple accounts have tagged a resource"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

This is somewhat related to my previously created issue https://github.com/apache/cloudstack/issues/6620

Resource tags are always attached to an account. This means that an account can only delete its own tags. However, the permissi

[2022-08-10 09:31] shwstppr commented on #4314
@tungntvn23 From your original logs what I understand is that ISO is failing to get attached because ACS is not being able to find VM on the given host to execute AttachIsoCommand. This must be because VM has been moved to a different host due to DRS.
I can check and try to add an improvement for ACS to search on other hosts while attaching ISO if it is not on the original host. But if the fix wor

[2022-08-10 09:36] xuanyuanaosheng opened #6624 "The Cloudstack Multi VLAN, But one of the Virtual Routers can not work"
##### ISSUE TYPE

 * Bug Report

##### CLOUDSTACK VERSION
1.  CloudStack:4.15.2.0
2.  ceph version:15.2.16
3.  cloudstack agent os version: Oracle Linux Server 8.3

The cloudstack env is **using the Ceph RBD and  local storage as cloudstack cluster primary storage.**

The cloudstack cluster TEST work node is  eno49 and eno50 to bond0.
[code]

The details config:

1.  ifcfg-eno49
[code]

2. ifcfg-e

[2022-08-10 11:55] shwstppr commented on #6617
@boubouX this seems a bug in 4.16.1 UI as it doesn't seem to be updating protocols when cluster is changed. For you it seems to be listing protocols for Xen cluster which must be the first in the list.
https://github.com/apache/cloudstack/blob/4.16.1.0/ui/src/views/infra/AddPrimaryStorage.vue#L427-L428
I've checked and it is fixed in 4.17.0 with Vue3 PR changes https://github.com/apache/cloudstack

[2022-08-10 12:10] boubouX commented on #6617
Thank you Abhishek

Our first cluster is indeed a Xen cluster.  We are planning to upgrade to 4.17 within the next month.

[2022-08-10 12:50] cdfgallo opened #6626 "Compute offering "Custom constrained" not working"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

KVM Hypervisor with compute offering type custom unconstrained

##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY

When applying a custom constrained compute offering on a virtual machine on a KVM host it fails to start with error: "internal error: process exited while connecting to

[2022-08-10 13:05] cdfgallo opened #6627 "Error while changing the compute offering on a vm"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY

When change the compute offering on a VM from the UI it fails with error "You cannot pass in a custom disk size to a non-custom disk offering.". This happens with every time you change the compute offering through the cloudstack

[2022-08-10 13:43] RagingAdmin opened #6628 "Harvester HCI Compatibility"
https://harvesterhci.io/

This project is based on openSUSE Leap 15, which is a compatible hyoervisor with KVM.

Can Harvester HCI be compatible with CloudStack ?

[2022-08-10 15:00] damonb123 commented on #6604
I think the issue is the snapshots are deleted on "VM.DESTROY", instead of on "VM.EXPUNGING".
Since the VM can be recovered after being destroyed, but cant be recovered after expunging.
So in the "VM.DESTROYED" event process, the snapshots should not be deleted.

[2022-08-10 15:13] shwstppr commented on #6604
@gg4126 I will test again but in my case snapshot wasn't deleted when VM was destroyed and only deleted when the VM was expunged. I was using VMware as hypervisor. Are you using KVM?

[2022-08-10 15:14] shwstppr commented on #6604
@gg4126 I will test again but in my case snapshot wasn't deleted when VM was destroyed and only deleted when the VM was expunged. I was using VMware as hypervisor. Are you using KVM?

[2022-08-10 15:28] gg4126 commented on #6604
Yes, we saw this behavior on KVM based VMs.

[2022-08-10 15:33] ahmadamirahmadi007 commented on #6601
after create alias for both python3 and python2 and run again i encountered with this error:
python --version
Python 2.7.18
[INFO]
[INFO] --- exec-maven-plugin:1.2.1:exec (compile) @ cloud-apidoc ---
Scanned and found 684 APIs
./build-apidoc.sh: line 83: python: command not found
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] -----------

[2022-08-10 16:00] BartJM opened #6629 "Add a permission for force stopping a vm"
##### ISSUE TYPE

 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

We would like the ability to prevent users to use `forced=true` when calling the `stopVirtualMachine` API.

This is wanted to prevent a scenario where a vm is running twice due to an issued forced stop by a user. This occurs

[2022-08-11 13:33] vladimirpetrov opened #6632 "Upgrade to ACS 4.18 nightly build fails"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced zone

##### OS / ENVIRONMENT

CentOS 7 management and host OSes

##### SUMMARY

After upgrading from 4.17, the management service fails

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2022-08-11 13:36] vladimirpetrov commented on #6632
Here is the management server log
[management-server.log.gz](https://github.com/apache/cloudstack/files/9309078/management-server.log.gz)

[2022-08-11 13:54] vladimirpetrov commented on #6632
Actually, the server starts normally when you start the process, not an actual bug, just a change in my workflow.

[2022-08-11 13:54] #6632 closed

[2022-08-11 21:11] mrog opened #6633 "Affinity group creation sometimes fails due to race condition"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

CentOS 7, but this is likely N/A.

##### SUMMARY

When using the API to create affinity groups, it usually works.  On rare instances, a race condition causes a NullPointerException.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

####

[2022-08-12 04:22] shwstppr commented on #3693
@DaanHoogland do you have any work planned for 4.17.1 or should this be moved to the next milestone?

[2022-08-12 05:16] xuanyuanaosheng opened #6635 "Can not deploy VM using libvirt-8.0.0 ？"
##### ISSUE TYPE

 * Bug Report

##### CLOUDSTACK VERSION
1.  cloudstack-management-4.15.2.0
2.  ceph version:15.2.16
3.  cloudstack agent os version: Oracle Linux Server 8.3
4.  cloudstack-agent-4.15.2.0

The cloudstack env is **using the Ceph RBD and  local storage as cloudstack cluster primary storage.**

The cloudstack cluster TEST work node is  eno49 and eno50 to bond0.
[code]

The libvirt ve

[2022-08-12 05:35] shwstppr commented on #6620
@rohityadavcloud @DaanHoogland @nvazquez @borisstoyanov should we delete tags while disassociating a public IP address?

[2022-08-12 05:37] shwstppr commented on #6635
@xuanyuanaosheng this seems to have got fixed in 4.17.0 https://github.com/apache/cloudstack/pull/6404

[2022-08-12 06:05] shwstppr commented on #6626
@cdfgallo I'm not able to reproduce in my lab. Can you please share logs of the complete deploy VM action?
What value of RAM was VM provided?

[2022-08-12 06:40] vdombrovski commented on #6620
To add to the discussion, public IPs are currently the only shared resource that can be tagged. The issue does not arise for other resource types because those will never change ownership, as in you can't really "release" a VM or a volume for some other account to use it.

As such, the disassociate and/or release calls should logically perform the proper cleanup so that other accounts may use it.

[2022-08-12 07:06] DaanHoogland commented on #3693
moving to the next milestone @shwstppr even if I may do some files. I will attach the PR to a feasible milestone.

[2022-08-12 07:11] DaanHoogland commented on #6601
@ahmadamirahmadi007 , don´t create the alias for python2, only for python3. just `python --version` should report version 3.

[2022-08-12 07:13] DaanHoogland commented on #6628
It can be tried to be added, there will have to be some scripting done for it to work, probably, @RagingAdmin .

[2022-08-12 08:54] rohityadavcloud commented on #6628
@RagingAdmin it depends, if they're using libvirtd etc then it should be compatible. CloudStack already supports openSUSE Leap 15 as KVM host. Why don't you give it a spin and maybe report on users@ (and/or here)?

[2022-08-12 08:56] rohityadavcloud commented on #6635
@xuanyuanaosheng you can either upgrade to latest 4.17 release (4.17.0.1, 4.17.0.0) or use SB customer patches which fixes this libvirt-8 issue, read more - https://www.shapeblue.com/advisory-on-libvirt-8-compatibility-issues-with-cloudstack/

[2022-08-12 08:56] #6635 closed

[2022-08-12 11:42] rohityadavcloud opened #6637 "Use Calico or Cilium in CKS"
Weave project are looking for maintainers, it may be worth exploring what CNI is widely used and standard/stable for CKS use-case.

##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME

[code]

[2022-08-12 11:44] shwstppr commented on #6621
Fixed with #6622

[2022-08-12 11:44] #6621 closed

[2022-08-12 12:44] shwstppr commented on #6633
@mrog how to reproduce this? I tested with 4.17 branch env, trying to create 50 groups simultaneously and it seem to work okay with following script using cmk,
[code]

[2022-08-12 14:59] tungntvn23 commented on #4314
Thank @shwstppr , i will test with ACS 4.17 after the issue is fixed.

[2022-08-12 15:55] cdfgallo commented on #6626
here attached you can find the log of the vm deploy.
[debug.log](https://github.com/apache/cloudstack/files/9324680/debug.log)
I trried as RAM value 1024 or 2048 with same result.

[2022-08-12 17:05] mrog commented on #6633
@shwstppr It might be hard to reproduce.  Creating affinity groups usually works, but one of our developers saw this issue 1 out of 4 tries yesterday.

We have the CloudStack management service and MySQL running on the same machine.  It has 2 CPU cores, and CPU utilization was around 60-65% at the time of the error.  It makes me wonder if the error will only happen if the machine is fairly busy.

[2022-08-12 17:52] mrog commented on #6633
If ApiServer.getBaseAsyncCreateResponse() was able to find jobs that have been removed, that would fix this issue.  But I don't know if it would cause other problems.  Is there a reason why it shouldn't be allowed to find removed jobs?

[2022-08-12 18:08] shwstppr commented on #6633
@mrog that change is already there in 4.17.0
https://github.com/apache/cloudstack/commit/293517ad728
You will have to upgrade or create your own packages for 4.14

[2022-08-12 21:17] shwstppr commented on #6626
@cdfgallo can you try with a template or compute offering which dynamically scalable parameter set to false.
I was able to reproduce this with dynamically scalable enabled for VM with a centos7 host having following config:
[code]
However same thing worked fine with a Ubuntu host with the following config,
[code]

[2022-08-13 13:32] canghai908 commented on #6463
Operating System: Debian 11
Ceph version is:
ceph version [17.2.3](https://docs.ceph.com/en/latest/releases/quincy#v17-2-3-quincy)
CS version - 4.17.0.1
Add primary storage failed
[code]
telent rbd.cloud.priv 6789 is ok
telnet rbd.cloud.priv 3300 is ok
create user
[code]
secret is ok
but Add primary storage failed,chage the ceph version to ceph version 15.2.17 (8a82819d84cf884bd39c17e3236e0632ac14

[2022-08-13 14:21] rohityadavcloud commented on #6463
I'm able to use ceph version 17.2.0 with ACS 4.16.1; @canghai908 can you check/share the logs from both mgmt server(s) and cloudstack-agent logs from the kvm host?

[2022-08-13 15:31] canghai908 commented on #6463
@rohityadavcloud
this is cloudstack-agent logs
[code]
mgmt server log
[code]

[2022-08-15 17:28] selaing opened #6641 "Management network is on a VLAN error when using XenServer/XCP-NG."
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced networking configuration with VLANs used on the management network.

##### OS / ENVIRONMENT

XCP-NG version 8.2 (latest)

##### SUMMARY

When attempting to add an XCP-NG host where the management network is configured to be on a VLAN the host will fail to add with the log

[2022-08-16 06:15] shwstppr commented on #6627
Fixed #6636
Please re-open if the issue still persists

[2022-08-16 06:15] #6627 closed

[2022-08-16 06:34] shwstppr commented on #6617
@boubouX I'm closing this for now. Please reopen if you face the issue in 4.17.0

[2022-08-16 06:34] #6617 closed

[2022-08-16 07:15] shwstppr commented on #6633
@mrog I'm closing this for now as the issue has been fixed in 4.17.0.
Please re-open if it is reproducible there.

[2022-08-16 07:15] #6633 closed

[2022-08-16 07:28] shwstppr commented on #6463
@canghai908 as the error is coming from libvirt can you please check if the ceph monitor is listening on all interfaces? Found something similar, https://listman.redhat.com/archives/libvir-list/2021-May/219715.html

[2022-08-16 10:02] rohityadavcloud commented on #6465
Fixed in https://github.com/apache/cloudstack/pull/6555

[2022-08-16 10:02] #6465 closed

[2022-08-16 10:47] rohityadavcloud commented on #4314
Fixed in https://github.com/apache/cloudstack/pull/6625

[2022-08-16 10:47] #4314 closed

[2022-08-16 12:16] shwstppr commented on #6641
I checked the code and it seems the behaviour has been the same for a long with ACS not allowing host to connect when they are on VLAN management network. I feel this is an improvement request and not sure if we will be able to have it in 4.17.1.
What should be the correct check here? Checking if VLAN is same as the VLAN of ACS public network or the pod range? @DaanHoogland @rohityadavcloud

[2022-08-16 12:20] canghai908 commented on #6463
ceph monitor is listen on all interfaces.
[code]

[2022-08-16 12:39] shwstppr commented on #6141
@DaanHoogland @harikrishna-patnala @nvazquez as this is not reproducible do we need to improve the behaviour in any way?

[2022-08-16 12:40] shwstppr commented on #6014
@rohityadavcloud @Pearl1594 will #6426 address this?

[2022-08-16 14:35] gg4126 opened #6647 "Resume "download template" button under images/Templates/zones"
##### ISSUE TYPE

 * Improvement Request
 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced Networking

##### OS / ENVIRONMENT

RHEL-7.9

##### SUMMARY

While a template is being uploaded/pushed to a specific zone due to network issues the image/template was not fully downloaded onto that zone. Currently the download percentage is

[2022-08-16 15:56] mrog commented on #6633
Thank you!

[2022-08-16 19:11] gg4126 commented on #6647
[
![image](https://user-images.githubusercontent.com/61292595/184962684-887e50d0-e5d4-49e5-87ee-b9893b19825c.png)
](url)

[2022-08-16 19:12] gg4126 commented on #6647
[](url
![template-download-issues](https://user-images.githubusercontent.com/61292595/184962789-1f2b4f2d-f805-4d47-9665-b9509759a454.png)
)

[2022-08-17 01:49] samdejoux1 opened #6648 "Issue when adding VLAN Pool for Guest network"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced networking configuration with VLANs used on the management, guest and public networks. Using VMWare DVS for guest and public traffic. Public traffic vlan has provisioned in vmware correctly, this issue is limited to guest.

##### OS / ENVIRONMENT

VMware ESXi, 6.7.0, 19898

[2022-08-17 06:28] shwstppr commented on #6623
Fixed with #6634

[2022-08-17 06:28] #6623 closed

[2022-08-17 06:31] harikrishna-patnala commented on #6554
@SadiJr let's continue our discussion here (from PR#6555) since that PR is merged and closed.

"@harikrishna-patnala sorry for the delay in answer. I tested in my lab with the Veeam build 11.0.1.1261 P20211211, comparing with the main commit https://github.com/apache/cloudstack/commit/bca60761c502f1fa04c1d462128ef537c0e7ce73, and the error reported in issue https://github.com/apache/cloudstack/iss

[2022-08-17 08:06] shwstppr opened #6649 "ui: tags related options not visible for public IP and maybe some other resources"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

UI for adding, removing resource tags is not visible in the public IP view.
This could be an issue with some other resources as well which support resource tags
![Screenshot from 2022-08-17 13-34-07](https://user-images.githubusercon

[2022-08-17 08:19] #6463 closed

[2022-08-17 09:04] NuxRo commented on #6618
@RagingAdmin @rohityadavcloud the Veeam plugin in question is for RedHat Virtualization aka RHEV (oVirt basically). While this is indeed based on KVM, the plugin is very specific and will not work with anything else, ie generic KVM/libvirt is not supported.

[2022-08-17 10:17] rohityadavcloud commented on #6649
Fixed in https://github.com/apache/cloudstack/pull/6650

[2022-08-17 10:17] #6649 closed

[2022-08-17 10:19] rohityadavcloud commented on #6584
Fixed in https://github.com/apache/cloudstack/pull/6588
@klausheck pl test latest snapshot and re-open if you've any further issues on this bug, thanks for reporting.

[2022-08-17 10:19] #6584 closed

[2022-08-17 11:21] canghai908 commented on #6463
@rohityadavcloud  Thanks，I wil try。

[2022-08-17 11:38] NuxRo opened #6651 "Cloudstack build fails on EL9 due to Python issue"
Hello,

Both 4.17.1 and master (currently 4.18) fail to package/build on EL9 due to a Python error. NB the default Python in EL9 is v3.9, as opposed to 3.6 in EL8.
Please advise.

[code]

[2022-08-17 11:53] slavkap opened #6652 "KVM - Upgrade to main fails if the storage's UUID doesn't follow the UUID format"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY
If the UUID of the primary storage doesn't meet the format of the UUID, the upgrade of CloudStack fails. This probably affects the storage plug-ins: Datera/Nexenta/Cloudbyte/StorPool and Local storage if the UUID is set in the `agent.properties` file. This is caused by change #5382

#####

[2022-08-17 12:00] rohityadavcloud commented on #3141
This is btw possible by using nginx proxy which is used for SSL termination. I've detailed how to do this here - https://markmail.org/message/ukueqxzrrv7g3nte

[2022-08-17 12:02] rohityadavcloud commented on #3262
Stale - thanks for the report, closing this. Pl re-open if you've further updates on latest release.

[2022-08-17 12:02] #3262 closed

[2022-08-17 12:03] rohityadavcloud commented on #3598
cc @shwstppr @pdion891 any update on this, does this work now, maybe closed?

[2022-08-17 12:04] rohityadavcloud commented on #3603
Problem statement - we can't fix the issue, maybe improve the error msg.

[2022-08-17 12:04] rohityadavcloud commented on #3609
Has this been fixed with Suresh's PR now @harikrishna-patnala @shwstppr ?

[2022-08-17 12:10] rohityadavcloud commented on #3762
Thanks for the issue. Closing this due to inactivity, pl re-open if there are any updates.

[2022-08-17 12:10] #3762 closed

[2022-08-17 12:11] rohityadavcloud commented on #3777
Not a specific issue, pl re-open with specifics or open specific issues/tickets.

[2022-08-17 12:13] rohityadavcloud commented on #3720
As per comment on PR, it appears fixed by https://github.com/apache/cloudstack/pull/4534 and https://github.com/apache/cloudstack/pull/4212 is also merged
Pl re-open if we got that wrong, thanks.

[2022-08-17 12:13] #3720 closed

[2022-08-17 12:15] rohityadavcloud commented on #3801
Closing this due to inactivity and no further discussion; the API usage is only allowed for root admins. Pl re-open if there's more information on reproduction.

[2022-08-17 12:15] #3801 closed

[2022-08-17 12:15] rohityadavcloud commented on #3897
cc @shwstppr

[2022-08-17 12:16] rohityadavcloud commented on #3700
We should bring this discussion on dev@, which I see has been tried before. The purpose of the default template is just to cloudstack in a new installation it works. With EL9 around, it may make sense to discuss it again on dev@. I'll start that discussion but close this 2yr+ old ticket.

[2022-08-17 12:16] #3700 closed

[2022-08-17 12:19] rohityadavcloud commented on #4093
I think it's possible to do this as part of a custom systemvm.iso where you can bake-in your deployment specific option. Any further update on this @soreana or we can close the issue?

[2022-08-17 12:19] rohityadavcloud commented on #4169
Closing as we require proper SSL/TLS certificate to be configured to use this feature.

[2022-08-17 12:19] #4169 closed

[2022-08-17 12:20] rohityadavcloud commented on #5315
We're not able to reproduce this, any further updates on this @abdelouahabb @MejdiB @Hudratronium ?

[2022-08-17 12:22] rohityadavcloud commented on #4195
Looks like this https://github.com/apache/cloudstack/pull/5307 fixed it? Pl re-open or ping if that's not the case.

[2022-08-17 12:22] #4195 closed

[2022-08-17 12:23] rohityadavcloud commented on #4238
I think the creation depends on whether the hypervisor supports it; for ex. if the platform is arm64, all VMs are UEFI based only; is this still a bug @gaaray2k ?

[2022-08-17 12:25] lukasmrtvy commented on #3141
@rohityadavcloud this will not work for systemvms deployed to public network, which is advanced setup and 99%, why whould I spend another IP for reverse proxy? honestly dont know why its not possible to deploy systemvms to "private" public network and use reverse proxy... afaik its not possible to create another public network assigned only for systemvm from lets say cloudbr2 bridge...

[2022-08-17 12:26] rohityadavcloud commented on #4370
Closing this - this has been open for 2+yrs; any categorisation effort won't speed up the CI/CD, will create new PRs/issues to track work towards improving CI/CD timings; one idea I want to explore is if it's possible to even run tests in parallel (or certain groups that can run in parallel).

[2022-08-17 12:29] rohityadavcloud commented on #5581
This is not how it works - you can however, change the system service offering for VR @edikevich or for specific network/VPC offering.
Pl re-open to discuss further, thanks for the report.

[2022-08-17 12:29] #5581 closed

[2022-08-17 12:33] rohityadavcloud commented on #5156
Also refer to https://github.com/apache/cloudstack/issues/5155
Increase scope to creation of this on install/running the usage server.

[2022-08-17 12:33] rohityadavcloud commented on #5155
Related/dupes - https://github.com/apache/cloudstack/issues/5156

[2022-08-17 12:33] #5155 closed

[2022-08-17 12:34] rohityadavcloud commented on #4956
Looks like these have been fixed, if not pl re-reopen @davidjumani

[2022-08-17 12:34] #4956 closed

[2022-08-17 12:36] rohityadavcloud commented on #4935
Closing this due to inactivity, I think the issue may not happen in latest 4.16/4.17 releases. Thanks for the report @ggsyu pl re-open if you reproduce this with latest releases.

[2022-08-17 12:36] #4935 closed

[2022-08-17 12:37] rohityadavcloud commented on #4834
Closing the issue tracking, it seem there's a JIRA ticket too.
I see activity on PR https://github.com/apache/cloudstack/pull/6524

[2022-08-17 12:37] #4834 closed

[2022-08-17 12:38] rohityadavcloud commented on #4825
Closing this, we have a PR to streamline global settings access in API/UI https://github.com/apache/cloudstack/pull/5797

[2022-08-17 12:38] #4825 closed

[2022-08-17 12:38] rohityadavcloud commented on #4799
Closing this, we'll explore the ideas as other tickets. I don't see this as a student project. Thanks for sharing @nvazquez

[2022-08-17 12:38] #4799 closed

[2022-08-17 12:41] rohityadavcloud commented on #4658
@nxsbi we've the new ingestion feature you can try for VMware;
https://www.shapeblue.com/new-feature-first-look-vm-ingestion/
https://www.youtube.com/watch?v=EfAXyAF1wwM

Further there's the unmanage instance feature:
https://www.shapeblue.com/cloudstack-feature-first-look-enable-unmanaging-of-guest-instances/

For other hypervisors, the only way is to do a cold import, shortly - shutdown the VM,

[2022-08-17 12:41] #4658 closed

[2022-08-17 12:44] rohityadavcloud commented on #4596
Thanks Rodrigo, but for over a year, this has no activity - closing this.

We've soo much code to refactor and fix. I would suggest we actively monitor and review to ensure new code follows the coding convention https://cwiki.apache.org/confluence/display/CLOUDSTACK/Coding+conventions. This wiki may need to be updated as well. I suggest the next thing would be to either and update the wiki and dis

[2022-08-17 12:44] #4596 closed

[2022-08-17 12:46] rohityadavcloud commented on #4560
Since last two years, we've had some rounds of ipv6 implementation and now cloudstack supports ipv6 with static routing shipped with v4.17 https://cwiki.apache.org/confluence/display/CLOUDSTACK/IPv6+Support+in+Isolated+Network+and+VPC+with+Static+Routing

https://github.com/apache/cloudstack/pulls?q=is%3Apr+ipv6+is%3Aclosed

Pl re-open or create new ticket to track new requests, thanks.

[2022-08-17 12:46] #4560 closed

[2022-08-17 12:51] rohityadavcloud commented on #5697
The registerTemplate API has a `checksum` arg for this - could this facilitate this? However, when this is provided we would want the downloaded template file from url (or uploaded) to pass this checksum, either way we may not be able to skip the checksum calculation on the template

[2022-08-17 12:53] rohityadavcloud commented on #5768
Looks like it works for you, if no pl reopen the issue @levindecaro

[2022-08-17 12:53] #5768 closed

[2022-08-17 12:54] rohityadavcloud commented on #5770
One thing we can do is to allow users to select Zone as the snapshot location (for ex. take snapshot from Zone A but store/backup on Zone B)

[2022-08-17 12:55] rohityadavcloud commented on #5805
@sotheareth were you able to get help? If not can you join our dev mailing list and continue there -
https://cloudstack.apache.org/mailing-lists.html

Or additional resources:
https://github.com/shapeblue/hackerbook/blob/main/2-dev.md

[2022-08-17 12:57] rohityadavcloud commented on #5834
@pipo thanks for the report, we can certainly improve the QIG docs; however, by default when KVM hosts are added, they libvirtd is secured by CloudStack CA certs; https://docs.cloudstack.apache.org/en/latest/adminguide/hosts.html#security

[2022-08-17 13:01] rohityadavcloud commented on #6292
Hi @xuanyuanaosheng can you discuss/ask on the dev and users mailing list if you're not getting attention on Github issues as not all developers/users check Github often. https://cloudstack.apache.org/mailing-lists.html

[2022-08-17 13:01] #6292 closed

[2022-08-17 13:03] rohityadavcloud commented on #6342
We've already migrated to vue3, so it's about moving to andv2 now.

[2022-08-17 13:04] rohityadavcloud commented on #6298
It's possible to do this by deploying VMs on a L2 network whose vlan is `vlan://untagged` essentially you'll be on the same network as your host/mgmt network.

[2022-08-17 13:05] rohityadavcloud commented on #6298
@CKrieger2020 can you check the above suggestion and re-open the issue to discuss more.
To discuss further questions, you can raise them on the users@ and/or dev@ ML https://cloudstack.apache.org/mailing-lists.html

[2022-08-17 13:05] #6298 closed

[2022-08-17 13:06] rohityadavcloud commented on #6212
Possible to add new metrics https://github.com/apache/cloudstack/pull/4438

[2022-08-17 13:07] rohityadavcloud commented on #6203
@Codegass could you propose a PR, or discuss further on dev@ mailing list https://cloudstack.apache.org/mailing-lists.html

[2022-08-17 13:10] rohityadavcloud commented on #6396
@weizhouapache did you explore something to this end, may be we can add a Github action to automate this? (to push for main branch and every 4.xx release/tag?)

[2022-08-17 13:13] rohityadavcloud commented on #6570
Thanks @jobinpt I think this was advised private support, pl re-open otherwise. Thanks.

[2022-08-17 13:14] rohityadavcloud commented on #6572
As others advised, @luwei1970 pl submit a new PR - we rely on contributors for language translations.

[2022-08-17 13:18] rohityadavcloud commented on #6572
@luwei1970 I looked at your old PR - looks like you're having issues with opening the Github PR, I've submitted your change on your behalf to assist you - can you review this https://github.com/apache/cloudstack/pull/6653
I'll close this issue instead

[2022-08-17 13:18] #6572 closed

[2022-08-17 13:21] rohityadavcloud commented on #6601
@ahmadamirahmadi007 I think the issue is env specific, pl discuss them on dev ML which more devs read/reply on https://cloudstack.apache.org/mailing-lists.html Github issues are generally triaged/accessed by release managers and some dev/contributors.

You can fix the issue by either creating a symlink or fixing the alias, on OSX I do this:
[code]

[2022-08-17 13:21] #6601 closed

[2022-08-17 13:26] rohityadavcloud commented on #6648
@samdejoux1 what VLAN pool/range was added (for ex. can you share the API request or parameter you passed in the API or UI)?

[2022-08-17 13:27] rohityadavcloud commented on #6647
I think if you're uploading an ISO or template and something goes wrong with SSVM and mgmt server, it might loose track of it and you'll need to redo the upload (there's a timeout after which the upload will be marked as fail).

[2022-08-17 13:28] rohityadavcloud commented on #6629
Sounds like yet another global setting to tune the behaviour and something in the UI to detect this.

[2022-08-17 13:35] nvazquez commented on #6652
@rohityadavcloud @shwstppr it looks like the original issue https://github.com/apache/cloudstack/pull/5382 can be restricted to Vmware only, a quick fix would be extending the SQL query to consider Vmware results only. I've created the PR: https://github.com/apache/cloudstack/pull/6654 on top of 4.17.0.1, would this need a 4.17.0.2 tag?

[2022-08-17 13:39] rohityadavcloud commented on #6652
nope - we can only attempt to fix this in 4.17.1.0 or 4.18.0.0 - users who can't upgrade need to build their own from the PR or wait for the next official release

[2022-08-17 13:41] rohityadavcloud commented on #3141
The email thread I've shared in fact saves you an IP address; you can deploy parts of the pod IP range in a private RFC1918 range (not public IP) and have the mgmt server and console proxy (maybe ssvm too) be LB'd by something like nginx in my example to do SSL termination.

[2022-08-17 13:59] lukasmrtvy commented on #3141
But Systemvms will have always ( in advanced mode ) IPs assigned from the Public network and private IPs from the Management network, its not possible to change this behavior. One can only assign a dedicated range for Systemvms from Public and Management network, but thats all..

I dont understand from Your email, in mentioned email list how to do it exactly.

Thanks

[2022-08-17 15:45] pavanaravapalli commented on #4238
In case of KVM+ OVMF combination, we need to consider machine profile 'Q35' supported on host  for VM secure booting.

[2022-08-17 15:52] DaanHoogland commented on #4370
this is valid as long as we use integration tests and really not yet implemented to satisfaction

[2022-08-17 15:55] DaanHoogland commented on #3777
this is an ongoing issue and will remain valid untill specifics become easy to mention.

[2022-08-17 16:29] DaanHoogland commented on #6641
I agree this is not a bug, @shwstppr . There is an explicit guard against using vlan for managemenet network. It might be that we can remove the guard after extensive testing, but it was intented. I have no idea why the guard was initially implemented, so I would not know what to look out for. I think we can considder if anyone wants to submit a PR that removes it.

[2022-08-17 16:33] DaanHoogland commented on #6141
@shwstppr we can try to improve what @harikrishna-patnala sugests:

As we don´t know what triggers the behaviour, trying to improve behaviour is going to be an open ended effort. Let's not try to do this perfect in the first go.

[2022-08-17 16:39] rohityadavcloud commented on #6014
This issue has been raised in response of closing an old PR https://github.com/apache/cloudstack/pull/3186 @DaanHoogland - logistics of the why/how of the implementation is not scope of this issue

[2022-08-17 16:46] rohityadavcloud commented on #3141
My email/suggestion was to use RFC1918 networks for both public and management networks, of course this won't work for your use-case. You can use the traditional approach to setup/upload certificates (until something like this feature is fully automated).

[2022-08-17 19:13] gg4126 commented on #6647
Thanks Rohit for your response! the alternate solution works, and we are good with it for now, but please consider having this button to resume the download if it is possible.

[2022-08-17 20:16] Hudratronium commented on #5315
@rohityadavcloud Can't give any news on this, as we didn't needed to build up a complete new environment since then.
Just a wild guess as i don't know the test environment:
Did you check that the "*.realhostip.com" - certificate is not somewhere defined in the browser certificate store as an trusted certificate or exception?
Basically the mentioned workaround was / is  exactly this:
- Browse the p

[2022-08-17 22:27] Hudratronium commented on #4238
Would this work for CS in a mixed environment (meaning UEFI capable and not capable hosts )?
Up till now my understanding of the design reference ( https://cwiki.apache.org/confluence/display/CLOUDSTACK/Enable+UEFI+booting+for+Instance ) is that UEFI is optional. Meaning even if a plattform (host) supports UEFI, the current standard for deployments still is BIOS (especially regarding the SystemVMs

[2022-08-17 22:37] samdejoux1 commented on #6648
Hi @rohityadavcloud please see the command used to create the vlans below:

dedicateguestvlanrange physicalnetworkid=203 vlanrange=1100-1150 account=admin domain=ROOT domainid=76546040-05d7-11ed-970b-005056a12013

Many thanks,

[2022-08-17 22:43] samdejoux1 commented on #6648
After receiving the out of bounds error, the VLANs are still added to the DB, however they are not 'available' for use when building an instance.

<img width="1399" alt="image" src="https://user-images.githubusercontent.com/108116575/185256430-1753eb20-1f0e-4d02-b273-e22eabe4fedd.png">

[2022-08-18 05:52] shwstppr commented on #6648
@samdejoux1 I'm unable to reproduce `Index 0 out of bounds for length 0` error on 4.17. with a similar setup,
[code]

Can you please share output of `list physicalnetworks id=203`

[2022-08-18 06:37] samdejoux1 commented on #6648
Thanks @shwstppr, please see the output of the list physical networks command below:

[code]

[2022-08-18 06:38] shwstppr commented on #6641
Moving this to next milestone for now

[2022-08-18 06:40] shwstppr commented on #5759
Moving this to next milestone

[2022-08-18 07:41] shwstppr commented on #6648
Thanks for sharing the physical network details @samdejoux1
The issue you see is due to the absence of VLAN range for the physical network. Right now I'm not sure what is the correct behaviour.
@weizhouapache @NuxRo @rohityadavcloud @DaanHoogland should it allow dedicating guest vlan range when the concerned physical network doesn't have any VLAN range itself?
For each VLAN in the rage for physica

[2022-08-18 08:06] shwstppr commented on #6626
@DaanHoogland @GutoVeronezi cc @rohityadavcloud @weizhouapache @nvazquez @harikrishna-patnala VM deployment with following qemu-libvirt config on CentOS7, for a dynamically scalable VM with custom offerings,
[code]

Should this be documented or do we need to add a check in KVM hypervisor code for qemu version? Didn't find any existing documentation for it.

[2022-08-18 08:58] DaanHoogland commented on #6014
ok, remark still stands

[2022-08-18 09:18] DaanHoogland commented on #6648
whether we should disallow or auto-create a vlan-range seems like a user decision to me @shwstppr . good work tracking this.

[2022-08-18 09:21] DaanHoogland commented on #6626
it is very operator friendly if we do an software check for version on each feature but this will not be very maintainable. I vote documentation.

[2022-08-18 09:40] cfergeau commented on #5834
https://docs.cloudstack.apache.org/en/latest/installguide/hypervisor/kvm.html#install-and-configure-libvirt and https://docs.cloudstack.apache.org/en/latest/adminguide/hosts.html#securing-process seem to be contradicting each other?
The former mentions plain text migration, and accessing libvirt over tcp / port 16509 while the latter says:

[2022-08-18 10:04] Hudratronium commented on #5834
@cfergeau
you stumbled over a "general" problem imho - that the documentation is kind of outdated in several parts. Especially in the areas of "installation guides". From my experience i didn't need to change any libvrit configuration files at all after installing the CS Agent. Same goes for the configuration of AppArmor and SELinux.
Some of the mentioned steps are performed now while installing t

[2022-08-18 12:38] shwstppr commented on #6626
I've created doc PR to address this, https://github.com/apache/cloudstack-documentation/pull/283

@cdfgallo can you please try deploying VM with template and offering that do not have dynamic scaling enabled

[2022-08-18 13:32] cdfgallo commented on #6626
@shwstppr sorry but if I apply a fixed compute offering how can it scale dinamically?

[2022-08-18 13:42] DaanHoogland commented on #6626
@cdfgallo , I think the message is that you can not if
[code]
but if for instance
[code]
you can.
You´ll have to check your cobination.

[2022-08-18 14:03] davidjumani commented on #4868
This is a niche case and not frequently encountered. Can reopen when required

[2022-08-18 14:03] #4868 closed

[2022-08-18 19:16] StepBee opened #6657 "Create Kubernetes Cluster fails when using Service Offering with more than one host tags"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

KVM based hypervisor

##### SUMMARY

Creating a Kubernetes Cluster fails with error message "Creating Kubernetes cluster failed due to insufficient capacity" when the Service Offering has more than one host tag, comma separated.

##### STEPS TO REPRODUC

[2022-08-19 09:09] shwstppr commented on #6657
@StepBee thank you for reporting this issue. I've created a PR #6658 to fix this. Will it be possible for you to test a snapshot (https://download.cloudstack.org/testing/nightly/latest/) once it is merged?

[2022-08-19 11:12] shwstppr commented on #6626
@cdfgallo please refer http://docs.cloudstack.apache.org/en/latest/adminguide/virtual_machines.html#cpu-and-memory-scaling-for-running-vms
When you create a compute offering there is an option to enable/disable dynamic scaling. Similar option is there when you register a template.
The QEMU error is not seen when you use a fixed offering because for that `minRam`, `maxRam` attributes are the same w

[2022-08-19 12:58] shwstppr commented on #6652
Fixed with #6654
@slavkap if possible, please test latest night and re-open if needed

[2022-08-19 12:58] #6652 closed

[2022-08-19 13:01] shwstppr commented on #6620
Fixed with #6642
@vdombrovski you may test new nightly https://download.cloudstack.org/testing/nightly/ (tomorrow's build should have the fix) and re-open if needed

[2022-08-19 13:01] #6620 closed

[2022-08-19 13:07] Codegass opened #6659 "Introducing Hamcrest API to simplify assertion in `ImplicitPlannerTest.checkStrictModeWithCurrentAccountVmsPresent`"
##### ISSUE TYPE
* Improvement Request
##### COMPONENT NAME
unit-test
##### OS / ENVIRONMENT
N/A
##### SUMMARY
When I am running the test for [`checkStrictModeWithCurrentAccountVmsPresen`t](https://github.com/Codegass/cloudstack/blob/71056191f2bdad4be1a7eaf9bb73a7dcee3516f2/plugins/deployment-planners/implicit-dedication/src/test/java/org/apache/cloudstack/implicitplanner/ImplicitPlannerTest.java#

[2022-08-19 13:08] Codegass commented on #6203
Thank you for the reply! I will soon propose a PR this weekend.

[2022-08-19 13:20] Codegass opened #6660 "Simplify Test Case `ApplicationLoadBalancerTest.searchForNonExistingLoadBalancer`"
##### ISSUE TYPE
* Improvement Request
##### COMPONENT NAME
unit-test
##### OS / ENVIRONMENT
N/A
##### SUMMARY
The test case [searchForNonExistingLoadBalancer](https://github.com/apache/cloudstack/blob/ddb11b1b966cc2b3443ef4d2eeb55c1d64ff3fb9/server/src/test/java/org/apache/cloudstack/network/lb/ApplicationLoadBalancerTest.java#L189-L205) checks that when retrieving a non-existing lb, an InvalidPa

[2022-08-19 16:38] cdfgallo commented on #6626
@shwstppr if I apply a compute offring without dynamic scaling enabled the dynamic scale option is grayed out in the UI

[2022-08-19 20:39] StepBee commented on #6657
@shwstppr thanks for picking up and fixing this issue, much appreciated.
Yes, i think i will be able to test the fix once merged to the nightly snapshot in our test environment.

[2022-08-22 08:11] shwstppr commented on #6626
@cdfgallo I didn't understand your comment.
Currently, dynamic scaling option cannot be used with a custom compute offering and the following qemu/kvm config,
[code]
Dynamic scaling and offering type are two different things here.
When your offering has dynamic scaling enabled and the corresponding template is also dynamic scaling enabled, the user can deploy a dynamic scaling enabled VM. A VM whi

[2022-08-22 09:11] shwstppr commented on #6657
Fixed by #6658

@StepBee PR is merged now. New(tomorrow) nightly https://download.cloudstack.org/testing/nightly/latest/ should contain the fix. Please reopen if you still face the issue.

[2022-08-22 12:36] shwstppr opened #6663 "Source nat IP for an active VPC can be disassociated"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Source NAT IP of a VPC can be disassociated while its VR is stilt in the running state. This causes MAC address-IP address conflict when the same IP is assigned to a new network/VPC.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED

[2022-08-22 13:14] #6611 closed

[2022-08-22 19:03] Codegass opened #6665 "Refactor testCRUDAcl to improve the test experience"
##### ISSUE TYPE
* Improvement Request
##### COMPONENT NAME
unit-test
##### OS / ENVIRONMENT
N/A
##### SUMMARY
The case [ testCRUDAcl](https://github.com/apache/cloudstack/blob/6125886f3d0b64ff3d0a743d00bf414774e7e2e3/plugins/network-elements/nicira-nvp/src/test/java/com/cloud/network/nicira/NiciraNvpApiIT.java#L107) in the project is testing `api.findAcl()`  function multiple times with 2 differe

[2022-08-22 19:05] Codegass opened #6666 "Assert Missing in Test Case testCreateSuccess"
##### ISSUE TYPE
 * Improvement Request
##### COMPONENT NAME
unit-test
##### OS / ENVIRONMENT
N/A
##### SUMMARY
I noticed that [ testCreateSuccess ](https://github.com/apache/cloudstack/blob/6d11e2faa99a27bcb3b124f30a87748c91871514/api/src/test/java/org/apache/cloudstack/api/command/test/ScaleVMCmdTest.java#L66) does not contain assert statements. This is confusing to me since I do not know whethe

[2022-08-23 07:13] DaanHoogland commented on #6665
@Codegass are you planning to do this yourself? any milestone to add?

[2022-08-23 07:15] DaanHoogland commented on #6666
@Codegass I think you can leave this. if the creation is not successful it would have thrown an exception. On the other hand, this is one that is tested implicitely a lot of times as well.

[2022-08-23 10:57] shwstppr opened #6667 "ui: icon/button on dashboard project selector not"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Icon/button in dashboard project selector is not working

On 4.16.1
[project-icon-working.webm](https://user-images.githubusercontent.com/153340/186141234-da3549dd-c456-424d-b4c9-f3ec7b833558.webm)

On 4.17.0
[project-icon-fail.webm]

[2022-08-23 11:01] rohityadavcloud commented on #6667
I think there was some discussions somewhere to remove the project icon.

[2022-08-23 11:58] shwstppr commented on #6667
It seems the behaviour changed due to vue3 changes. Would make sense to remove the custom suffix icon for the `select` icon.

[2022-08-23 15:32] top-secrett opened #6669 "Compile from source code error"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Oracle Linux 8
Apache Maven 3.5.4
java openjdk 11.0.16

##### SUMMARY

I build CloudStack from sources. And I got described errors. I have to use cloudstack 4.16.0.0 or 4.16.1.0 for my own reason

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[co

[2022-08-23 15:36] rohityadavcloud commented on #6669
@top-secrett what's the output of:

[code]

If `python` is missing pl add an alias or symlink to python3.

And have you setup the build dependencies per https://github.com/shapeblue/hackerbook/blob/main/2-dev.md#setting-up-development-environment ?

[2022-08-23 15:37] top-secrett commented on #6669
@rohityadavcloud I did it
[root@cloudstack-4.16.1.0]# python --version
Python 3.6.8
[root@oracle cloudstack-4.16.1.0]# python3 --version
Python 3.6.8

[2022-08-23 15:59] rohityadavcloud commented on #6669
Are you able to build 4.17 or main branch @top-secrett? The error suggests something to do with dns resolution or repo access.

[2022-08-23 19:41] top-secrett commented on #6669
It seems like a problem with dependeses on RHEL8 based distros.
I biult it from source on CentOS7.
Thank you for help

[2022-08-23 19:41] #6669 closed

[2022-08-24 03:38] itsmdev opened #6670 "Work with MySQL group replication"
Error log:
[code]
seem caused by `op_lock` and `op_nwgrp_work` use `MEMORY` engine:

[code]

any solution?

in `./engine/schema/src/main/resources/META-INF/db/schema-490to4910.sql`:, engine will be set to innodb：
[code]

So, can I use InnoDB from the start？

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

4.16.1.0

[code]

##### CONFIGURATION

##### OS / EN

[2022-08-24 07:53] shwstppr commented on #6663
Fixed with #6664

[2022-08-24 07:53] #6663 closed

[2022-08-24 16:23] atmaniak opened #6672 "After removing SAML auth, user should be able to login via password directly"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
User should be able to login on cloudstack web UI
When SSO is disable the field "source" on user table is SAML2DISABLED
When SSO has never been activated (and user is able to login v

[2022-08-24 16:27] rohityadavcloud commented on #6672
This is done so if some security issue happens, SSO authorised SAML account/users don't become active for normal auth access. Consider/think this like an ldap account, you can't change the source or change their auth mechanism too (I think cc @DaanHoogland to confirm). I think maybe only the root admin can do something like that.

[2022-08-25 06:43] DaanHoogland commented on #6672
I will have to investigate, but both premisses seem reasonable from a functional point of view:
- a user that gets saml enabled looses its status as direct login user, or
- a user has an underlaying account that remains available for normal login while its enabled for sso.
The source of a user is however only one and cannot be changed by normal interaction with the system. That part is correct. I

[2022-08-25 13:40] chenhao-work opened #6673 "Refactor `TestHttp.testHttpclient` to avoid the Exception Suppression"
##### ISSUE TYPE
* Improvement Request
##### COMPONENT NAME
unit-test
##### OS / ENVIRONMENT
N/A
##### SUMMARY
When I am running the test for [testHttpclient](https://github.com/apache/cloudstack/blob/ad0ae8397460c243e34d4017639d19a379c9e995/engine/storage/integration-test/src/test/java/org/apache/cloudstack/storage/test/TestHttp.java#L44) I noticed that the test case is using the Try-Catch block

[2022-08-25 13:58] rohityadavcloud commented on #6673
@chenhao-work thanks for the issue - are you going to work on them? You can directly raise pull requests for your ideas, no need to open issues if you've any pull requests in coming.

[2022-08-25 13:58] rohityadavcloud commented on #6666
@Codegass  thanks for the issue - are you going to work on them? You can directly raise pull requests for your ideas, no need to open issues if you've any pull requests in coming.

[2022-08-25 13:58] rohityadavcloud commented on #6665
@Codegass  thanks for the issue - are you going to work on them? You can directly raise pull requests for your ideas, no need to open issues if you've any pull requests in coming.

[2022-08-25 16:46] shwstppr commented on #6667
Fixed with #6671

[2022-08-25 16:46] #6667 closed

[2022-08-25 17:01] shwstppr commented on #6648
Fixed with #6655

[2022-08-25 17:01] #6648 closed

[2022-08-26 01:42] Codegass commented on #6666
@rohityadavcloud Thank you for the reply! I used to think submitting the PR directly is too strong and may disturbing the community. After read you reply, I realized that PR is a capable option for this kind of suggestions.

I will try to submit the PR this week.

[2022-08-26 01:43] Codegass commented on #6665
@rohityadavcloud Thank you for the reply! I used to think submitting the PR directly is too strong and may disturbing the community. After read you reply, I realized that PR is a capable option for this kind of suggestions.

I will try to submit the PR this week.

[2022-08-26 02:42] chenhao-work opened #6674 "Refactor `QemuImgTest.testCreateAndInfo()` to avoid the "Eager Test""
##### ISSUE TYPE
* Improvement Request
##### COMPONENT NAME
unit-test
##### OS / ENVIRONMENT
N/A
##### SUMMARY
I noticed that all the test cases in the the [`QemuImgTest`](https://github.com/apache/cloudstack/blob/f23a4db6d2658781519c8820b03a2ad153df1024/plugins/hypervisors/kvm/src/test/java/org/apache/cloudstack/utils/qemu/QemuImgTest.java) are having `qemu.create()` with one another function as

[2022-08-26 02:44] chenhao-work commented on #6673
thanks for the reply! I will submit the PR ASAP! I have tried some initial PR drafts but the some of the local tests didn't passed so I haven't submitted it yet.

[2022-08-26 05:05] shwstppr commented on #6626
Closing this as we added in the documentation for dynamic scaling behaviour on KVM, https://github.com/apache/cloudstack-documentation/pull/283

[2022-08-26 05:05] #6626 closed

[2022-08-26 10:20] MejdiB commented on #5315
@rohityadavcloud After a fresh ACS 4.16.1 installation we uploaded the certificates again for SSVM and CPVM. Local upload of volumes and ISOs is now working.

[2022-08-26 11:00] rohityadavcloud commented on #5315
Thanks @MejdiB let's close this as env issue since you're not able to reproduce the issue now and it's working as expected.

[2022-08-26 11:00] #5315 closed

[2022-08-26 15:24] DaanHoogland commented on #6674
@chenhao-work go ahead, as you say this won't affect production code and if the cleanup is good it is a nice enhancement to the QA of cloudstack. One concern is that if one test uses the functionality of the other as a prerequisite, and the order of execution is not controlled, the possibility that the create() fails in the info() test is still there. it would be better if the create can be mocked

[2022-08-29 03:41] xuanyuanaosheng commented on #6624
I reinstall it，it works fine.  I will close this issue.

[2022-08-29 03:41] #6624 closed

[2022-08-29 07:29] rohityadavcloud commented on #6670
@itsmdev thanks for reporting, I think they all should be INNODB unless there is any reason not to. Can you check latest main or 4.17 branch incase this is already fixed those cc @nvazquez if you remember we fixed them?

[2022-08-29 07:32] rohityadavcloud commented on #6651
Releases/EOL reference (from https://www.python.org/downloads/):
<img width="812" alt="Screenshot 2022-08-29 at 9 32 26 AM" src="https://user-images.githubusercontent.com/95203/187148053-554ac429-f4c1-4bfe-b871-573686049d01.png">

[2022-08-29 10:45] Hudratronium opened #6677 "Mulitple Bugs in GUI for newly introduced features in 4.17.0 / 4.17.0.1 after upgrading from 4.16.1"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Magement Server running Ubuntu 20.04
Browsers used: Firefox 103.2 / Chrome 104

##### SUMMARY

Varius GUI Bugs after upgradeing Managementserver from 4.16.1.
Findings till now:

- Wizzard for creating compute offerings

<img width="436" alt="offering_gui" sr

[2022-08-29 10:48] Hudratronium opened #6678 "Custom "disk offerings"with "custom disk size" not working after upgrade from 4.16.1"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 20.04

##### SUMMARY

After upgarding to 4.17.0.1 from 4.16.1 my cutome disk offerings with "custom disk size" option aren't working anymore.
Errormessage:
<img width="301" alt="custome_offering" src="https://user-images.githubusercontent.com/79725167

[2022-08-29 10:52] s-seitz opened #6679 "Unable to change Compute Offering, if the identical Disk Offering is linked to it"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 20.04.5 LTS, obviously not relevant

##### SUMMARY

If different Compute offerings have the identical Disk offering linked to, it is impossible to change ("Scale") the particular offerings for a VM.
Instead following error is raised: "Volume [UUID] alr

[2022-08-29 11:25] Hudratronium opened #6680 "Agent unable to retrieve CPU Speed of host after upgrading to 4.17.0.1"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Host OS:     Ubuntu 20.04.5 LTS
Hypervisor: KVM

##### SUMMARY

After upgradeing existing agents from 4.16.1 to 4.17.0.1 the retrieval of the CPU Speed fails. Nevertheless the Agents reports CPU Speeds which seem to be the actual running speed of the cores,

[2022-08-29 12:09] s-seitz commented on #6680
cpu speed is first gathered via a tiny script, before looking for ```base_frequency```.

Just make sure, ```lscpu | grep -i 'Model name' | head -n 1 | egrep -o '[[:digit:]].[[:digit:]]+GHz' | sed 's/GHz//g'``` works on your kvm-nodes.
Most likely, you forgot to install lscpu?

[2022-08-29 12:51] Hudratronium commented on #6680
lscpu is working as expected on the hosts.
The part of the script you provides is executed, giving no result. And no error.

But from my little knoledge this script will not give you any "Speeds" as you only "grep" the Model name and pipe the "model name" / the line with the modelname for further usage.

[2022-08-29 13:12] s-seitz commented on #6680
I can confirm it works. At my site it provides a float value of "2.27". As a wild guess: lscpu is heavily localized, so depending on your system's locale, it might not have "Model name" in it's output.
I'ld try ```LC_ALL=C lscpu | grep -i 'Model name' | head -n 1 | egrep -o '[[:digit:]].[[:digit:]]+GHz' | sed 's/GHz//g'```. If this provides you a reasonable Value for your CPU frequency, I'ld recom

[2022-08-29 13:40] Hudratronium commented on #6680
lscpu alone is giving me the whole output which is expected, as well as the 'model name'.

System's locale is locale is `en_GB.UTF-8` . So nothing spcial by any means.... And currently we don't have any requirement for CS to use a special locale Version. If that's **needed** we shall edit the docs soon!

Tried this `LC_ALL=C lscpu | grep -i 'Model name' | head -n 1 | egrep -o '[[:digit:]].[[:digit

[2022-08-29 13:45] s-seitz commented on #6680
Ah, I've only seen Xeon's here (which provide their nominal speed in the Model name). So, if there's a frequency reported at your site, it's gathered from libvirt/virsh, the 3rd. and last  input for cloudstack-agent's frequency discovery.
Maybe, this provides the current, and not the nominal speed?
Sorry, I couldn't be of much help.

[2022-08-29 13:49] Hudratronium commented on #6680
Thanks for your support anyway.
Seems like this is the case.... Strange thing after a 'mere' update to encounter though.

[2022-08-29 14:17] DaanHoogland commented on #6651
@rohityadavcloud , i suspect this issue is due to
[code]
I tried to downgrade to npm 6.14.17 on a ol9 box, but haven´t managed that yet. I suspect the version of `node` will be a problem as well. In the end the problem is a line in node-gyp `import sys; print "%s.%s.%s" % sys.version_info[:3];`, however the `node-gyp` version mentioned, 7.1.2. and that contains `'import sys; print("%s.%s.%s" % sys

[2022-08-29 16:46] rohityadavcloud commented on #6651
Couldn't we build EL9 pkgs on EL8 container?

[2022-08-30 06:22] shwstppr commented on #6677
@Hudratronium these missing label texts seem to be related to the browser cache. I tested the upgrade and was facing the same but it goes away once you empty cache and hard reload. You may also test the same with an incognito tab

Before:
![Screenshot from 2022-08-30 11-41-15](https://user-images.githubusercontent.com/153340/187364542-fc68c1b8-bd55-4d94-87d0-bd1039d45a3e.png)

After:
![Screenshot

[2022-08-30 06:22] DaanHoogland commented on #6651
I think that would be (almost) the same as installing the el8 packages on el9/ol9. I'll tinker around with that idea. In the end I think we really need to update our dependencies.

[2022-08-30 06:28] shwstppr commented on #6678
@Hudratronium this has been fixed with https://github.com/apache/cloudstack/pull/6586.
You may use API to deploy such VMs with 4.17.0.1 packages. You may also try latest nightly packages, https://download.cloudstack.org/testing/nightly/latest/

[2022-08-30 07:09] wido commented on #4185
No, as they are really different MySQL connectors for Python. So that will not work.

[2022-08-30 07:23] Hudratronium commented on #6677
Thank you for your help - that helped me a lot!

[2022-08-30 07:23] #6677 closed

[2022-08-30 07:31] shwstppr commented on #6680
@Hudratronium what is the output of the following commands on your server?
`lscpu | grep -i 'Model name' | head -n 1 | egrep -o '[[:digit:]].[[:digit:]]+GHz' | sed 's/GHz//g'`
`cat /sys/devices/system/cpu/cpu0/cpufreq/base_frequency`

[2022-08-30 07:46] Hudratronium commented on #6678
Thanks for this info.
I am just looking but do we have already a planned releasewindow for 4.17.1?
As this disables a "customer" faceing function, a remark on this in the releasenotes for 4.17.0 / 4.17.0.1 might be usefull...

[2022-08-30 07:48] shwstppr commented on #6680
@Hudratronium Is it just about the error in the agent logs or are you seeing any change in the behaviour?
Current code tries to find the max CPU speed using the following methods, in the same order:
1. Using lscpu - output of the command - `lscpu | grep -i 'Model name' | head -n 1 | egrep -o '[[:digit:]].[[:digit:]]+GHz' | sed 's/GHz//g'`
2. Using cpu frequency file - content of file `/sys/devices

[2022-08-30 07:49] shwstppr commented on #6678
@Hudratronium https://markmail.org/message/jjbxfv6tlx6s2tj2

[2022-08-30 07:56] shwstppr commented on #6679
@s-seitz Thank you for reporting the issue. I've created PR #6688 to fix it cc @harikrishna-patnala

[2022-08-30 09:39] Hudratronium commented on #6680
@shwstppr
The behaviour has changed as since the upgrade the reported values "changed" to the current cpu speeds. That hasn't been the case in our installation from 4.15. onwards - including the upgrades / restarts of hosts - thats why i was so suprised. That leaded to a situation that
1. Service Offerings haven't been working anymore (couldn't find useable hosts as the cpu speed was way to low)
2

[2022-08-30 10:12] Hudratronium commented on #6678
Thanks - for me this is solved looking forward to the release of 4.17.1

[2022-08-30 10:12] #6678 closed

[2022-08-30 12:48] shwstppr commented on #6680
@Hudratronium I checked the diff between 4.16.1 and 4.17.0 again and it seems the 2nd method(finding CPU frequency from file) used has changed. Earlier code used to check file `/sys/devices/system/cpu/cpu0/cpufreq/cpuinfo_max_freq` but now it checks `/sys/devices/system/cpu/cpu0/cpufreq/base_frequency`. Maybe that caused the difference for you.
Can you check if `/sys/devices/system/cpu/cpu0/cpufre

[2022-08-30 13:18] Hudratronium commented on #6680
@shwstppr
Okay i guess what has happend....

According to [https://www.kernel.org/doc/html/v5.9/admin-guide/pm/cpufreq.html](url) there is no value `base_frequency`.
The value for 'base_frequency' is only availeable on systems with Intel CPUs using the 'intel_pstate' driver [https://www.kernel.org/doc/html/v5.9/admin-guide/pm/intel_pstate.html](url).

Meaning that the check 1 as well as 2 won't wo

[2022-08-31 10:30] shwstppr commented on #6595
Fixed with #6643

[2022-08-31 10:30] #6595 closed

[2022-08-31 13:20] kriegsmanj opened #6695 "CloudStack metadata in kvm domain xml"
##### ISSUE TYPE

 * Feature Idea

##### COMPONENT NAME

[code]

##### CONFIGURATION

Enable/Disable via Global Settings to (not) include metadata

##### OS / ENVIRONMENT

KVM

##### SUMMARY

Metadata to be recorded in the libvirt domain XML configuration to provide information about the CloudStack instance.

Provide information that can be useful to administrators troubleshooting hosts

The host

[2022-09-01 03:01] itsmdev commented on #6670
@rohityadavcloud
https://github.com/apache/cloudstack/blob/c58118148e1a579efc1d59dba27f54463222c843/setup/db/create-schema.sql#L401
https://github.com/apache/cloudstack/blob/c58118148e1a579efc1d59dba27f54463222c843/setup/db/create-schema.sql#L1796

[2022-09-01 07:04] shwstppr commented on #6679
Fixed with #6688

[2022-09-01 07:04] #6679 closed

[2022-09-01 08:42] shwstppr commented on #6680
@Hudratronium can you please share complete output of `lscpu` so maybe we can check if it can use some other regex like CPU MHz or CPU max MHz from below,
[code]

Also, output of:
`virsh nodeinfo`
`virsh sysinfo`
`virsh capabilities`

[2022-09-01 16:10] Hudratronium commented on #6680
@shwstppr

Will try to give as much inforamtion as possible:

lscpu
[code]

virsh nodeinfo
[code]

virsh sysinfo
[code]

virsh capabilities
[code]

The problem in this case might be, that the availeable output seems to connected to the used module for the cpu. As mentioned above lscpu using the `intel_pstate` module will give different sets of results. Currently, as i am using a standard Ubuntu Se

[2022-09-02 07:15] weizhouapache commented on #6680
thanks @Hudratronium

it looks we could get correct value by `lscpu` or `virsh capabilities`

CPU max MHz:                     2650.0000

      <counter name='tsc' frequency='2645030000'/>

[2022-09-02 07:30] shwstppr commented on #6680
@weizhouapache `virsh capabilities` seem a better option as with my system I get `CPU max MHz:                     4100.0000` from lscpu while virsh capabilities return the correct value,
[code]

[2022-09-02 08:41] weizhouapache commented on #6680
@shwstppr
good finding !

[2022-09-03 12:57] azmidhun opened #6697 "VM.CREATE Completion Action/Async event not Logged"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

VM creation from ISO

##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY

Initiated VM creation, VM status went to stopped, Message Not received in Async Message queue

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2022-09-03 17:53] Hudratronium opened #6698 "Dedication of public IP ranges broken after upgrade to 4.17.0.1"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

1 Zone, Advanced networking, 3 domains

##### OS / ENVIRONMENT

All running Ubuntu 20.04.5
Database mysql 8

##### SUMMARY

Existing configuration (working running CS 4.16.1)
<img width="250" alt="System_Root" src="https://user-images.githubusercontent.com/79725167/188282078-7a44bf

[2022-09-05 07:13] shwstppr commented on #6698
@Hudratronium I'm not able to reproduce this on 4.17 branch. I added a new public range and set `system.vm.public.ip.reservation.mode.strictness` to `true`. New system vms came up fine in the new range

[code]

[2022-09-05 08:07] Hudratronium commented on #6698
@shwstppr
Here the whole log with comments on database actions from my system. Out of interest: new created CS4.17 setup or upgraded from 4.16 / 4.15 / .... ?

Cann you maybe take a look into your db and lookig if you can find in `domain_vlan_map` a entry for referencing the vlan which is enabled for use with systemVMs and the domain you are actually using ?

[code]

[2022-09-05 08:11] shwstppr commented on #6698
@Hudratronium mine was a new env. Maybe will check with upgrade

[2022-09-05 09:11] Hudratronium commented on #6698
@shwstppr

at least it occurs to me that in my current setup the missing entry in the `cloud.domain_vlan_map` seems to be the crucial thing missing.
I can create a new dedicated range for the domain but it isn't represented in the `cloud.domain_vlan_map` table. Which seems to be crucial in the overall "search" for a fitting IP-Range. I don't know why this isn't updated / the existing configuration

[2022-09-05 10:38] shwstppr commented on #6698
@Hudratronium can you please share logs/API call for adding the new ip range. Also, the cmk output of `list vlanipranges`
I don't think there should be an entry in `cloud.domain_vlan_map` when the range is reserved for system vms. Entry in this table is added only when the following code conditions are met for the range
[code]
So the range is dedicated to a domain only when it is not marked for sy

[2022-09-05 11:25] s-seitz opened #6700 "IPv6 issues w/ VR in Shared Network / Advanced Zone"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced Netwoking Zone configured with some Shared Networks on RFC 1918 IPv4- plus public /64 IPv6-Segments.

##### OS / ENVIRONMENT

Ubuntu 20.04.5 LTS, Cloudstack components: 4.17.0.1-shapeblue0

##### SUMMARY

The particular networks are externally preconfigured (Vlan/VID, IPv4

[2022-09-05 12:22] weizhouapache commented on #6700
@s-seitz thanks for reporting this issue.

@shwstppr this looks like a critical issue for 4.17.1.0

[2022-09-05 15:52] cdfgallo opened #6701 "No permission to migrate volume, only root admin can migrate a volume"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY

When a non-root user try to change the compute offering on a VM he faces the error: " No permission to migrate volume, only root admin can migrate a volume ".

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##

[2022-09-05 16:24] Hudratronium opened #6702 "Router displaying error "Failed to start Conntrack Deamon""
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

- Hypervisor: KVM
- Advanced networking in use
- The VR is part of a HA-Setup for  a redundant VPC with following services availeable (custome service offering for VPC)
  - SourceNat
  - StaticNat
  - VPN
  - NetworkACL
  - PortForwarding

##### OS / ENVIRONMENT

N/A

##### SUMMARY

[2022-09-05 16:35] Hudratronium opened #6703 "Introduce a "session timeout" counter in GUI"
##### ISSUE TYPE

 * Feature Idea

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

I would like to have a "counter" in the UI showing the time until the current session is closed and the user needs to authenticate again. In addition a button to "refresh" the session / restart the session time-out would be quite c

[2022-09-06 11:15] shwstppr commented on #6680
Fixed with #6696

[2022-09-06 11:15] #6680 closed

[2022-09-06 12:07] DaanHoogland commented on #6702
@Hudratronium upgraded from where (via what) to 4.17.0.1?

[2022-09-06 12:08] shwstppr commented on #6701
@cdfgallo Thanks for reporting the issue.
The behaviour here needs to be discussed. My view, https://github.com/apache/cloudstack/pull/6704#issuecomment-1238056686
cc @harikrishna-patnala @NuxRo @alexandremattioli

[2022-09-06 12:15] harikrishna-patnala commented on #6701
I agree with your comment @shwstppr, usually migrate operations are not given to users, if at all user hits these kind of issues, they may need to contact admin. Others please chime in.

[2022-09-06 13:05] Hudratronium commented on #6698
@shwstppr
Just to be shure:
And with `system.vm.public.reservation.mode.strictness` = "true" **and** `use.system.public.ips` = "false" the deployment worked for you?
Have you more then the Root Domain deployed in your zone?

As i said i am just curious as this configuration has been working until i upgraded twards 4.17.0.1. Might be that something went wrong during the upgrade of the Management-Se

[2022-09-06 13:17] Hudratronium commented on #6702
@DaanHoogland
Sorry i missed to click 'save'.... instead i closed the window. I updated the inital comment. If further information are needed please let me know.

[2022-09-06 13:42] cdfgallo commented on #6701
I agree on the migration part, but a normal user should be allowed to change the compute offering on a VM if this doesn't lead to a volume migration.

[2022-09-06 14:50] wido opened #6709 "Docker build for UI fails"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### OS / ENVIRONMENT
Building the UI Docker container

##### SUMMARY
Trying to build the Docker container for the UI fails with NodeJS builds failing.

##### STEPS TO REPRODUCE
Try to build the UI Docker container
[code]

##### ACTUAL RESULTS
[code]

[2022-09-06 16:59] wido commented on #6709
I did not touch the Dockerfile. This is how it is in the Git repo.

[2022-09-06 17:41] wido commented on #6709
I can confirm that changing the Dockerfile to build with node:14 works

[2022-09-06 20:07] weizhouapache commented on #6709
Great
@wido  can you create a pull request ?

[2022-09-07 07:29] DaanHoogland commented on #6703
@Hudratronium are you planning a PR for this?

[2022-09-07 07:33] DaanHoogland commented on #6702
@Hudratronium I will replay this in a lab environment. Any extra's that might be particular to the failure? Hypervisor type, network type? (assuming kvm/isolated for now)

[2022-09-07 08:13] shwstppr commented on #6700
Fixed with #6706

[2022-09-07 08:14] #6700 closed

[2022-09-07 09:05] Hudratronium commented on #6702
@DaanHoogland
Thanks for your effort - sometimes it is a bit hard to get a grip on what infos might be needed for this things.... sorry for that.
Regarding your questions:

- Hypervisor: KVM
- Advanced networking in use
- The VR is part of a HA-Setup for  a redundant VPC with following services availeable (custome service offering for VPC)
  - SourceNat
  - StaticNat
  - VPN
  - NetworkACL
  - Por

[2022-09-07 09:18] Hudratronium commented on #6703
@DaanHoogland
Sadly i am not that capable of programming myself, that's why i sadly won't be able to contribute this ... sorry for that.

[2022-09-07 10:11] wido commented on #6709
As you can see that's done. As I expect this PR to merge I'm closing this issue.

[2022-09-07 10:11] #6709 closed

[2022-09-07 10:14] DaanHoogland commented on #6702
@Hudratronium I created a 4.16.1 env and a VPC with an offering of your specs. The message you descibe shows immediatly without any upgrade. The upgrade probably has nothing to do with the messages you see.

Is there any hampered functionality in the router?

[2022-09-07 10:17] DaanHoogland commented on #6703
that's ok, but realise that these enhancements are usually user driven. No one has any obligation to implement them. For my part I have questions on the desirability of the feature. Maybe in a dev environment or for an operator. I would at least want to be able to disable it by default.

[2022-09-07 11:47] Hudratronium commented on #6703
@DaanHoogland
Of course no obligation - that wasn't what i was expecting requesting this.
I will have a look if i can find some ressources here internally to contribute... would be about time to do so.

Making such a setting a "opt-in" for a user would be imho a good idea, making this completely optional. But i guess this would require a little bit more work ;-D

[2022-09-07 11:49] gitsan13 commented on #6703
I would like to add the session timeout counter feature in this project to fix the issue and also enhance my learning in UI.

[2022-09-07 12:14] gitsan13 commented on #6647
I would like to contribute to this enhancement. Can you guide me through the process?

[2022-09-07 12:18] gitsan13 commented on #6618
Hi, I would like to contribute to this issue. I am currently undergoing this course of cloud computing and working on this issue will clearly enhance my learning. Can you please guide me through the steps?

[2022-09-07 12:22] Hudratronium commented on #6702
@DaanHoogland
Interesting, will have to clearify that interally since when this is present....

Nevertheless currently we haven't experienced any hampered functionality .
Healthchecks are running fine, no alerts or things we have seen in the logs.

[2022-09-07 12:25] gitsan13 commented on #6613
I would like to add this enhancement feature to this project. Kindly guide me through the process as I am a fresher in this field.

[2022-09-07 12:58] gg4126 commented on #6647
@gitsan13,
Thanks for your interest on this enhancement, please get in touch with @rohityadavcloud - he can guide you thru...thanks!

[2022-09-07 15:18] NuxRo opened #6714 "Prometheus exporter - interpret ::1 as 0:0:0:0:0:0:0:1"
Hi,

If I configure the Prometheus exporter to allow requests from ::1 (ipv6 localhost, short form) it doesn't actually honour requests.

In the logs you can see entries such as:
```Prometheus exporter received client request from: 0:0:0:0:0:0:0:1```

Indeed, once you add 0:0:0:0:0:0:0:1 (ipv6 localhost, medium form) it starts working.

It's a minor issue, but nice to get sorted as most people are

[2022-09-08 03:30] utchoang commented on #6709
@rohityadavcloud I tried building Cloudstack on node versions 16 and 18 but release errors from 2 node-sass dependencies and sass-loader. It is necessary to upgrade node-sass and sass-loader for each version node respectively. Particularly with node 18 version, does not support node-sass (https://www.npmjs.com/package/node-sass), so it cannot build successfully.

[2022-09-08 08:18] Rubueno opened #6715 "ControlNetworkGuru does not take into account custom CIDR when assigning System VM link local IP address"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
In database:
[code]
On agent:
[code]

##### SUMMARY
When having set a `control.cidr` different from the norm (`168.254.0.0/16`) and the database table `op_dc_link_local_ip_address_alloc` is already populated with all the addresses in the default CIDR, then allocating an IP to a System

[2022-09-08 08:26] aarushisoni commented on #6702
I want to contribute to this issue . Is this issue still open ? I am first time contributor . Please guide me through this process.

[2022-09-08 08:44] aarushisoni commented on #6701
Hi my name is Aarushi Soni . I want to contribute to this issue . Is this issue still open ? I am first time contributor . Please guide me through this process.

[2022-09-08 08:45] aarushisoni commented on #6695
Hi my name is Aarushi Soni . I want to contribute to this issue and enhance my knowledge
 Please guide me through this process.

[2022-09-08 08:45] aarushisoni commented on #3609
Hi my name is Aarushi Soni . I want to contribute to this issue . Is this issue still open ?
Please guide me through this process.

[2022-09-08 08:46] aarushisoni commented on #3598
Hi my name is Aarushi Soni . I want to contribute to this issue . Please guide me through this process.

[2022-09-08 12:08] bkrajendra opened #6716 "com.cloud.utils.exception.CloudRuntimeException: Failed to setup keystore on the KVM host:"
##### ISSUE TYPE

[code]

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
I already had the host set up with an earlier version of the cloud stack.
I had some issues with that setup, hence I decided to create new setup.
I installed a fresh management server 4.17 on separate server.
When I am trying add the ho

[2022-09-08 12:29] rohityadavcloud commented on #6716
@bkrajendra have you allowed ssh server on the KVM host to login as root user and password (password based auth)? You can also disable ca framework all together by setting the auth strictness global setting to false and try adding the host again (or restart the cloudstack-agent if it was setup already).

[2022-09-08 19:40] matheusfontes opened #6717 "Usage charging deleted volumes"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

centos 7

##### SUMMARY

Usage never set volume as deleted and when volume is resized, it is charge twice (or more)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2022-09-08 22:58] shawniverson opened #6718 "conntrackd Syslog on filling up var"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
VR

##### CLOUDSTACK VERSION
latest

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
KVM

##### SUMMARY
We have large customers with a lot of VR traffic traversing the VRs.  Logrotate cannot keep up and /var fills up to 100%, causing the VR to exhibit problems when attempting to start/restart instances in the VPC and/or traffic stops flowing.  C

[2022-09-08 23:06] shawniverson opened #6719 "Unable to modify systemvm.iso to disable Syslog = on in opt/cloud/templates/conntrackd.conf.tmpl on hosts"
##### ISSUE TYPE
 * Other

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
[code]
##### SUMMARY
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2022-09-09 00:40] shawniverson commented on #6719
Permissions and ownership must be preserved on both the iso contents and the contents of the tgz.

[2022-09-09 00:40] #6719 closed

[2022-09-09 03:57] bkrajendra commented on #6716
@rohityadavcloud
I tried following things:
1. set ca.plugin.root.auth.strictness=false restarted management server, restarted agent - still same error
2. uninstalled agent on host, removed /etc/cloudstack/agent folder - now I got properties not found error and after that again same error related to failed to setup keystore.
Should clean install the host and try again?

[2022-09-09 06:15] hooklee2000 opened #6720 "UI fix Theme text color not bind navTextColorPick"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME
UI Theme
[code]

##### CLOUDSTACK VERSION
4.17.0.0 and 4.17 branch

[code]

##### CONFIGURATION
UI

##### OS / ENVIRONMENT
CentOS 8

##### SUMMARY
UI choose Theme , text color not bind correctly to navTextColorPick.
click "reset to default" button, will display last choosed color.

### SOLUTION
[code]
![图片](https://user-images.githubusercontent

[2022-09-09 07:33] jack99trade opened #6722 "Topology Viewer (network)"
##### ISSUE TYPE
 * Other

##### COMPONENT NAME
UI

##### CLOUDSTACK VERSION
4.16

##### CONFIGURATION
advanced networking with multiple Zones

##### OS / ENVIRONMENT
Centos 7 and KVM.

##### SUMMARY

Hi , I was trying to look for a feature which could show me the Network Topology. just like they show in Openstack.
![B04280_01_07](https://user-images.githubusercontent.com/98413115/189307950-8254f1

[2022-09-09 08:25] Hudratronium commented on #6716
@bkrajendra
I am correct that your user for adding the host has this config in sudoers?
`cloudstack ALL=NOPASSWD: /usr/bin/cloudstack-setup-agent`

Just out of curiosity:
What's happening when you connect via ssh to the host while using the 'cloudstack' user and run
`sudo /usr/share/cloudstack-common/scripts/util/keystore-setup`

[2022-09-09 11:01] StepBee opened #6723 "Kubernetes Clusters cannot be deployed in VPCs"
##### ISSUE TYPE

 * Bug Report
 * Improvement Request
 * Documentation Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced Networking

##### OS / ENVIRONMENT

Ubuntu based hosts using KVM Hypervisor

##### SUMMARY

According to the documentation [Cloudstack Kubernetes Service](https://docs.cloudstack.apache.org/en/latest/plugins/cloudstack-kuberne

[2022-09-09 19:49] mrog opened #6724 "Broken database connections don't get replaced"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

CloudStack 4.16 and MySQL 8.0.28, running on different servers

##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY

Something caused the database connection to be unusable.  The root cause is unknown.  The bug is that CloudStack detected the bad database connection and did nothing to

[2022-09-09 19:53] mrog commented on #6724
https://github.com/apache/cloudstack/pull/6725

[2022-09-09 20:07] mrog opened #6726 "INSTALL.md is incomplete and/or outdated"
##### ISSUE TYPE

 * Documentation Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY

I tried to follow the steps in INSTALL.md to build CloudStack on CentOS 7.  The instructions aren't working.  They seem to be missing some steps, and I wonder if some of the dependency version numbers are outdated (e.g. Mav

[2022-09-10 03:32] bkrajendra commented on #6716
@Hudratronium
After trying a lot and everything I gave up, and decided to go with an officially supported distro - Centos 7x minimal
Host adding worked out of box without any issue, I am stuck with systemVMs are in starting state from last 12 hours, not sure how much time I should wait.

## About what you said: (in case of Ubuntu 20.04)
I am using the root user for all operations. I don't have clo