[2022-09-10 06:26] ravitejasssihl commented on #6163
Hi @nvazquez @levindecaro , I'm interested and want to contribute to this issue. It'll be helpfull if you assign me this issue.
Thank You

[2022-09-10 06:30] ravitejasssihl commented on #6100
Hi @nvazquez @div8cn ,Am intrested in contributing to solve this issue,can you please assign me this,It would be helpful.
Thank you

[2022-09-11 11:41] ahmadamirahmadi007 opened #6727 "Problem With Creating Isolated Network"
##### ISSUE TYPE
 * Bug Report
##### COMPONENT NAME

##### CLOUDSTACK VERSION
CloudStack 4.17.0.1-snapshot.20220904

##### CONFIGURATION
Advance Network
2 physical Network Interface
Vmware Hypervisor : 1vSwitch0 and 1vds

##### OS / ENVIRONMENT
##### SUMMARY
i installed cloudstack from nightly version and in wizard stage i set guest vlan range but after the installation was complete i realized tha

[2022-09-12 06:43] DaanHoogland commented on #6724
We can merge forward. Maybe this will lead to some conflicts that requires your expertise though.
Thanks for the fix @mrog

[2022-09-12 06:45] weizhouapache commented on #6727
@ahmadamirahmadi007
it looks not like a bug.

the "VLAN/VNI" is empty for the guest physical network.
please click "Physical Network 2", then click "Update physical network" icon on the top right corner and input  vlan range ( for example 1100-1200, make sure you have configured vlan correctly on your upsteam router) .

[2022-09-12 09:18] ahmadamirahmadi007 commented on #6727
i know. i also had to manually insert it after the wizard process. while in stable version after configuring VLAN in wizard that is automatically set

[2022-09-12 09:41] rohityadavcloud commented on #6722
Sounds like a good feature idea @jack99trade /cc @Pearl1594

[2022-09-12 10:16] shwstppr commented on #6727
@ahmadamirahmadi007 In which stable version this behaviour was different?
I think the new UI always allowed updating VLAN for a particular traffic type in the zone wizard
![Screenshot from 2022-09-12 15-40-56](https://user-images.githubusercontent.com/153340/189629780-586d94dd-9a77-49d2-9e26-c14f39778ad2.png)
Removing this from 4.17.1.0 milestone from now

[2022-09-12 10:18] Jehan-h20220012 commented on #6695
I want to contribute to solve this issue, please let me contribute as it would help in my acedamics and your problem will be solved.

[2022-09-12 11:51] Pearl1594 commented on #6722
@jack99trade We've also been evaluating various libraries to implement such a network visualizer, some libraries that we are looking at include: d3, goJS, v-network-graph.

[2022-09-12 12:55] vdombrovski opened #6731 "UI: Login failed after session timeout"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

After a session timeout, the user is returned to the login screen. Whatever credentials are entered, the login will always fail with "Login failed", until the page is reloaded.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULT

[2022-09-12 13:02] jack99trade commented on #6722
@rohityadavcloud  yeah it would be really nice to have this.
@Pearl1594  thanks for input, I am not a programmer but I will try to understand these libraries. if anything is required from my side to help then do let me, I have multiple test network environment setup in my lab like servers, network devices, Firewalls, routers , switches etc. in various Zones and Affinity groups and can test the fea

[2022-09-12 13:46] DaanHoogland commented on #6717
@matheusfontes , in your scenario 1:
[code]
the volume is supposed to be continually charged for, if it is only removed from the VM. Do you mean it is deleted and expunged and than still charged for?

Scenario 2 seems obviously wrong, I'll look into that.

[2022-09-12 14:36] bkrajendra opened #6732 "InsufficientServerCapacityException: Unable to create a deployment for VM instance ..Scope=interface com.cloud.dc.DataCenter; id=1"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

System VM are not able to start.
I have added NFS as secondary storage.
I have also added NFS on primary and its working fine
But secondary storage is not detected on the dashboard.
NFS is set up on the management server.
I hav

[2022-09-12 14:46] matheusfontes commented on #6717
@DaanHoogland volumes expunged are always beeing charged.
I saw some queries in database that I think they are wrong.
When usage job is started and it's looking for a VOLUME.DELETE event it tries to search this volume in usage_volume table with that query:
SELECT usage_volume.id, usage_volume.zone_id, usage_volume.account_id, usage_volume.domain_id, usage_volume.volume_id, usage_volume.disk_offeri

[2022-09-12 15:09] DaanHoogland commented on #6731
@vdombrovski I tried with latest from 4.17 branch and I can log on immediately after timeout, without cache clean, reload or anything.
Can you try latest?

[2022-09-12 15:25] DaanHoogland commented on #6732
@bkrajendra , can you mount the storages on your hypervisor?

[2022-09-12 19:14] whitetiger264 opened #6734 "ERROR 1045 (28000): Access denied for user"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
* Server

##### CLOUDSTACK VERSION
* 4.17.0.1

##### OS / ENVIRONMENT
* AlmaLinux 8

##### SUMMARY
I have installed a new CloudStack instance on a clean AlmaLinux 8 server. I have followed the documentation thoroughly and my instance is currently running, partially. However, I cannot connect to the database.

##### STEPS TO REPRODUCE

[code]

Th

[2022-09-12 23:04] hooklee2000 commented on #6734
In short, “sql error 1045 sqlstate 28000” may occur due to insufficient database privileges, wrong username or password.
Check your mysql has cloud user and  cloud database with root user.
see https://bobcares.com/blog/sql-error-1045-sqlstate-28000/

[2022-09-13 01:42] bkrajendra commented on #6732
@DaanHoogland  Yes, as I said I created a test mount on the hypervisor host and I am able to do it.
Even primary storage is visible in the storage pool, but not sure why secondary storage is not coming on the storage pool list.

[2022-09-13 03:11] nvazquez commented on #6698
Thanks @Hudratronium - I will book some time to try replicating it for an upgraded environment

[2022-09-13 04:09] bkrajendra commented on #6732
secondary storage shows in the mount on the management server.
[code]
my nfs server is on the management server.
still I am getting ```InsufficientServerCapacityException: Unable to create a deployment for VM instance```
Its destroying and creating VMs... currently showing ```[v-2221-VM]```

Whats wrong here?

[2022-09-13 05:32] bkrajendra commented on #6732
list capacity shows:

[code]

[2022-09-13 07:28] whitetiger264 commented on #6734
I am an idiot.

I ended up dropping all cloud users and databases and re-ran the command. I had to change

`cloudstack-setup-databases cloud:PASSWORD@localhost --deploy-as=root:PASSWORD`

To

`cloudstack-setup-databases cloud:PASSWORD@localhost --deploy-as=root:`PASSWORD``

And it worked.

[2022-09-13 07:28] #6734 closed

[2022-09-13 07:52] DaanHoogland commented on #6732
so you can mount the export on the local machine i.e. the management server, _and_ on the hypervisor host. but the secondary storage VM does not come up. the VM with a name like s-###-VM (not v-###-VM).
I suppose you did but just for completeness, did you check your network configuration, any routers between the two machines.
Can you show the export line for the NFS share?
You did seed the seconda

[2022-09-13 08:43] shwstppr commented on #6724
Fixed with #6725

[2022-09-13 08:43] #6724 closed

[2022-09-13 11:58] bkrajendra commented on #6732
@DaanHoogland
There is a Router between two machines. Management server+NFS is on a different host inside VM. but in the same subnet.
Export line of nfs share:
[code]

I used UI to download the template. I registered it through UI and it got downloaded after I create secondary storage.
I can see the template folder created inside the secondary store export.

Issue is SystemVMs are not getting star

[2022-09-13 14:20] DaanHoogland commented on #6732
@bkrajendra , unfortunately `InsufficientServerCapacityException` is a very generic error.
Are there any more log messages for `job-2796`or `ctx-b66fed52` before what you shared? I can not tell the issue from what i see. But i'm sure it is some environmental thing, we run dozens of automated installs of main and 4.17 for test puroses.

[2022-09-13 21:04] matheusfontes commented on #6717
Apparently these 2 lines in UsageManagerImpl.java solves the usage volumes problem.
But I think there is a problem with firewall rules and lb usage also.

--- ./usage/src/main/java/com/cloud/usage/UsageManagerImpl.java	2022-07-15 09:48:40.000000000 -0300
+++ ../../cloudstack-4.17.0.1/./usage/src/main/java/com/cloud/usage/UsageManagerImpl.java	2022-09-13 17:09:36.371193594 -0300
@@ -1458,7 +1458,7

[2022-09-14 02:19] bkrajendra commented on #6732
@DaanHoogland
I deleted systemvm template and tried to seed them manually on the management server with:
[code]
While doing this I discovered there is no space left in the management server / (root). hence it was not able to download it.

For a workaround, I created a soft link on another drive (/store0 = 200GB) and worked.
Now my SystemVMs are up.
Its secondary storage VM shows in an alert state.

[2022-09-14 02:34] bkrajendra commented on #6732
find the diagnostic logs on systemVMs:
console proxy VM
[code]
Secondary storage VM

[code]

[2022-09-14 03:25] bkrajendra commented on #6732
restarting the secondary storage VM removed the alert and now I can see the secondary storage properly represented in Dashboard.
I am testing ISO registration/download. It's working fine and the download has started.
I hope eventually I'll be able to start my VM instance today.

This is the 4th time I am deploying CloudStack. Every time I learned new things and faced different issues.
Thank you, t

[2022-09-14 06:46] borisstoyanov opened #6736 "OVA downloads into an error"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

VMWare 6.7
OVA: PI-VA-3.10.0.0.205.ova
https://software.cisco.com/download/home/286329246/type/284272932/release/3.10.0

##### OS / ENVIRONMENT

##### SUMMARY

When downloading the OVA appliance results in error: "did not find a guest os with type rhel7_64guest"

##### STEPS TO REP

[2022-09-14 07:11] DaanHoogland commented on #6717
Can you submit a PR with those lines @matheusfontes ?

[2022-09-14 07:24] shwstppr commented on #6720
Fixed with #6271

[2022-09-14 07:24] #6720 closed

[2022-09-14 08:29] DaanHoogland commented on #6717
never mind @matheusfontes , found a few secs to do it:  #6737

[2022-09-14 09:27] bragonznx commented on #6731
Hi
I can confirm Vladimir behavior, I have the same issue
+1

[2022-09-14 13:21] Lueton commented on #6716
same issue here, not matter if via cloudstack, ssh or local

[2022-09-14 14:04] DaanHoogland commented on #3609
@aarushisoni please have a look at https://github.com/shapeblue/hackerbook to get acquaited with the project.
Once you're comfortable just submit a pr referencing any issue if applicable.

[2022-09-14 14:26] DaanHoogland commented on #6163
@ravitejasssihl have a look through https://github.com/shapeblue/hackerbook
when comfortable just submit a PR referencing the applicable issue

[2022-09-14 14:29] DaanHoogland commented on #6695
@Jehan-h20220012 please go through https://github.com/shapeblue/hackerbook and
when comfortable submit a PR referencing the issue you mean to solve

[2022-09-14 15:32] Jehan-h20220012 commented on #6695
Thank You!
I request you to officially assign this issue to me on GITHUB as I need to show this to my Instructor before working on the issue.
I hope you will do the needful.

[2022-09-14 15:33] mlsorensen opened #6739 "VM deletion can fail on volume access revocation if VM's last host is removed"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
PowerFlex, Datera storage

##### OS / ENVIRONMENT

##### SUMMARY
If a VM is stopped, then the last host it was running on is removed from cloudstack, the VM can fail to delete. This is because deletion attempts to revoke host access to the VM's volumes and various storage plugins will

[2022-09-14 16:17] rohityadavcloud commented on #6716
@bkrajendra @Hudratronium @Lueton  was Ubuntu minimal server installed? We don't support that, we want the standard Ubuntu server installed, where some of the utilities are preinstalled. (you can refer to my install notes on Ubuntu 20.04 here which works for me https://rohityadav.cloud/blog/cloudstack-kvm/)

In case you still hit issues, let me know. I'm happy to update/edit the QIG and notes on m

[2022-09-14 21:35] Hudratronium commented on #6716
We were using Ubuntu Server 20.04.0 - which should be completely supported as far as i am aware.

[2022-09-15 02:36] utchoang commented on #6731
Hi. I tried with the latest 4.17 but no error like above. Can you give me a picture or video of the steps to make the above error?

[2022-09-15 05:52] sharmadhiraj86 commented on #6739
Hey, I want to work on this issue, can you assign this issue to me please? @rohityadavcloud @mlsorensen

[2022-09-15 08:41] shwstppr commented on #6731
@utchoang not sure if the same issue but I was able to reproduce something similar. But this was seen only on installed env and I was not able to reproduce when UI is run locally with `npm run serve`.
[UI Login Failure.webm](https://user-images.githubusercontent.com/153340/190357591-65daab46-bcca-4005-99a4-aa36577d61e9.webm)
Could be related to #5633

[2022-09-15 09:59] utchoang commented on #6731
@shwstppr Your problem I'm not sure is the same as @AA's. But in your case, for the main branch, there is an error from `Console.vue`, which causes error and does not initialize sourceToken (image below).
![image](https://user-images.githubusercontent.com/13766648/190375330-fb980356-f3fc-4907-a26a-d4f94db6df16.png)

[2022-09-15 10:03] azmidhun opened #6740 "API: VM Created from deleted compute offering"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Compute offerings
##### OS / ENVIRONMENT

CentOS7

##### SUMMARY

VM can be created from a deleted offering via API

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2022-09-15 10:45] shwstppr commented on #6731
@utchoang I was using an env from 4.17 branch. Will try to check and see if I can provide something useful

[2022-09-15 10:52] jack99trade commented on #6722
@Pearl1594  Hi I am trying to do this via d3.js , can you let me know about right  way for data input source. right now i am trying to parse the json i got using api call but kinda stuck there.

[2022-09-15 11:21] nvazquez commented on #6736
@borisstoyanov is this template registered as deploy-as-is?

[2022-09-15 11:27] weizhouapache commented on #6716
@Hudratronium
yes, ubuntu 20.04 is offically fully supported in cloudstack.

Questions

- was the host added in other cloudstack platform before ?
- Did you clean the host before you add it to the new platform ?

[2022-09-15 11:34] Pearl1594 commented on #6722
@jack99trade so the data input structure would depend on the specific d3 library that's being used I believe. For example, if you are using a network graph ( [https://d3-graph-gallery.com/network.html](https://d3-graph-gallery.com/network.html )) then we could structure it as follows:
[code]

But if you want to view it in a hierarchical manner then the data is structured differently  something lik

[2022-09-15 19:31] mlsorensen commented on #6739
@sharmadhiraj86 that would be great. I don't have access to assign.

Looking at the SolidFire implementation, they seem to not be affected.  I have a PowerFlex fix already that I've tested.

I do think it might be worth looking at everywhere that we call revokeAccess and figure out if we really do want to even call revoke if the host is null, but at a minimum making sure the managed storage plugin

[2022-09-15 20:06] correajl opened #6743 "CPU speed in compute offering is not a MHz speed when using KVM and libvirt."
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
2 management servers, 2 databases, advanced network, everything working fine.

##### OS / ENVIRONMENT
Ubuntu Server 22.04 LTS, KVM, libvirt 8.0.0-1ubuntu7.1, cgroup2.

##### SUMMARY

The value "CPU (in MHz)" used by Compute Offerings has nothing to do with the CPU speed when u

[2022-09-15 20:27] correajl opened #6744 "Problem with operating systems that use cgroup v2 related to cpu speed."
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
2 management servers, 2 databases, advanced network, everything working fine.

##### OS / ENVIRONMENT
Ubuntu Server 22.04 LTS, KVM, libvirt 8.0.0-1ubuntu7.1, cgroup2.

##### SUMMARY
The value of "CPU (in MHz)" used in some compute offering definitions is mapped to 'shares' el

[2022-09-16 05:13] jack99trade commented on #6722
Hi @Pearl1594 , I am unbale to convert my data in format of Nodes and Links,  Programmatically like below:-
{ "nodes": [
  { "id": 1, "name": "Net1" },
  { "id": 2, "name": "VM1" }
],
"links": [
  { "source": 1, "target": 2 } ---> which would connect Net1 to VM1
]}

So this is what i have done so far :-

A. downloaded the JSON using API  =  /client/api/?command=listVirtualMachinesMetrics&response=

[2022-09-16 08:40] Lueton commented on #6716
I gave it another try with @rohityadavcloud guide. It still doesnt work yet but i discovered that the error message `com.cloud.utils.exception.CloudRuntimeException: Failed to setup keystore on the KVM host` only occours if i use a non-root user when adding a new host to the cluster. If i use root this message will not be in the logs.

However this might not be the main error. I can also see in th

[2022-09-16 09:09] weizhouapache commented on #6716
@Lueton
if you add the host using user/password, this error can be ignored.

[2022-09-16 10:30] Lueton commented on #6716
@weizhouapache thats good to know, i was very confused!

this is my `/agent/setup.log` after trying to add this machine as a new host, maybe you can identify the issue.
[code]

[2022-09-16 11:34] vdombrovski commented on #6731
Did some more testing; Here is a way to reproduce one of the possible issues:

1. Open 2 tabs inside your browser and go to login page on both
2. Log into ACS with your user on one tab
3. Try to log into ACS with the same (or any user) from another tab
4. Your page will display 'Login failed', and in the console you will be getting "Uncaught (in promise) r {message: undefined}"

Tried on 4.17.0.1,

[2022-09-16 11:45] vdombrovski opened #6745 "API: list network offerings doesn't work with multiple domains"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

##### STEPS TO REPRODUCE

Make sure you have 2 domains (called here X and Y)

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2022-09-16 11:59] shwstppr commented on #6745
@vdombrovski Have you enabled the newly created offfering? And there is no `type` parameter for `listNetworkOfferings` API

[2022-09-16 12:39] rohityadavcloud commented on #6731
@shwstppr sounds like a blocker/critical issue?
@vdombrovski does it help if you clean your site data (I use Chrome -> developer tools -> Application tab -> clear site data)?

[2022-09-16 13:10] vdombrovski commented on #6745
Yes, the offering is enabled. And please replace `type` by `guestiptype`, small typo when creating a ticket (not that it is that relevant to the issue).

[2022-09-16 13:15] vdombrovski commented on #6745
Here, maybe a more detailed example will help. Obviously this also affects functionality inside the UI on the add network page; it won't let you choose a network offering whenever you select a "domain" scope because it can't list networkofferings that belong to multiple domains.

[code]

[2022-09-16 13:19] shwstppr commented on #6731
@rohityadavcloud I guess not a blocker because login starts working (atleast in my tests) once refresh the page in browser.

[2022-09-16 13:21] shwstppr commented on #6745
@vdombrovski thanks. I was able to reproduce it. Will create a fix soon

[2022-09-16 15:15] mlsorensen commented on #6744
Thanks for the report - I think you're right that we need to do something here about the values potentially going out of range.

To the second point - a VM with 10 shares and a VM with 80 shares: I think the problem lies in that we have to keep the values intact on the service offerings in order to make the allocation math work. In your scenario the allocator would only think it has allocated 90MH

[2022-09-16 15:38] mlsorensen opened #6746 "Fix potential leaking of volume maps"
##### ISSUE TYPE
 * Enhancement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### SUMMARY
Unmapping volumes from a hypervisor host upon VM stop or migration is done on a best-effort basis. The VM is already stopped, or already migrated, we try to unmap, but if something goes wrong there is really no recourse or retry and a warning is logged.  This leaves a potential of l

[2022-09-17 10:06] Hudratronium commented on #6744
I currently can't see how this might happen as the shares aren't the only factor for the allocation decision. Each of the compute offerings will at least block 1 core.
So after deploying theoretical 100 machines using the 1Core / 1Mhz offering, the host is "full". Therefore one might check the global settings for `cpu.overprovisiong.factor`.
The mapping of `CPU (in MHz)` works quiet well.
Which is

[2022-09-17 13:10] jack99trade commented on #6722
Hi @Pearl1594  with manual data input I am able to create :-

{
  "nodes": [
    { "name": "DEVICE-A" },
    { "name": "DEVICE-B" },
    { "name": "DEVICE-C" },
    { "name": "NET-A" },
    { "name": "NET-B" },
    { "name": "NET-C" }
  ],

  "links": [
    { "source": "DEVICE-A", "target": "NET-A" },
    { "source": "DEVICE-A", "target": "NET-B" },
    { "source": "DEVICE-B", "target": "NET-A" },

[2022-09-18 10:57] samapraku opened #6747 "listNetworkOfferings api does not handle phyiscal network tags correctly"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced Network

##### OS / ENVIRONMENT

Ubuntu 20.04

##### SUMMARY

listNetworkOfferings api endpoint does not handle physical network tags correctly.

When creating a new Shared Guest network and a Physical network is selected, which has tags, the network offerings list in the

[2022-09-18 14:52] #6722 closed

[2022-09-18 15:13] hooklee2000 commented on #6651
Why not discard all python code, using java or golang to rewrite ? In my opnion, the performance and dependency of Python is so terrible.

[2022-09-19 02:52] utchoang commented on #6731
I tried following steps like @vdombrovski but didn't notice the problem. Maybe I'm doing it wrong or maybe it's a browser bug (I did it on Chrome Version 105.0.5195.102). @shwstppr can you make the same error :(
![check_error_login](https://user-images.githubusercontent.com/13766648/190942540-8d366ff8-4e10-4fc3-8e6c-d5dee9f4c849.gif)

[2022-09-19 06:12] Pearl1594 commented on #6747
@samapraku Can you please confirm if for the given physical network, (Zone -> Specific Zone -> Physical Network (sub Tab) -> Specific Physical Network -> Network Service Providers (sub Tab) ) are the necessary service providers enabled i.e, Virtual Router,etc? If not, can you enable the virtualrouterelement (via cmk, using ` configure virtualrouterelement` cmd and you can get the id of the virtual

[2022-09-19 06:43] samapraku commented on #6747
@Pearl1594 These are already enabled under Network service providers

BaremetalPxeProvider, InternalLbVm, VirtualRouter, and VpcVirtualRouter

[2022-09-19 06:48] Pearl1594 commented on #6747
Thanks for confirming. Do the network offerings have the same tags as set for the physical network?

[2022-09-19 06:50] samapraku commented on #6747
Yes. Even when the same tags are set, the api still returns empty. If you look at the code snippet I added to the report, you will notice that that the if condition is redundant since both if and else blocks are doing the same thing

[2022-09-19 14:12] Hudratronium commented on #6743
Hmmm... from a technical viewpoint i would say that you are right, as this value won't change the actual CPU frequency at all.
Nevertheless when using / creating offerings which support the `CPU cap` functionality, you will create a configuration which matches the behaviour of a CPU running on the given frequency from an overall performance point of view.
From my understanding this is what is repr

[2022-09-19 17:59] mlsorensen commented on #6744
[code]
Thanks for your reply @Hudratronium. Shares themselves aren't used for allocation decisions as they're a KVM implementation detail. However, setting 1MHz as your CPU speed in the offering as an effort to manipulate the resulting shares means that an 8 core VM is only going to subtract 8MHz of capacity from your multi-Ghz host.

Unless something has changed,  CloudStack will not block 1 phys

[2022-09-19 21:36] Hudratronium commented on #6744
You are completely right - looking at a trace-log i have to admitt that I missed the step where the "definition" of cpu switched from cores & speed to the actual used product of cores * frequency for allocation purposes.

Not that i think this will ever happen, but at least you will need to use 200MHz otherwise the value would be to low to be accepted as a 'shares' value :-D

[2022-09-20 07:14] shwstppr commented on #6731
@utchoang will check. I was able to reproduce similar console error with an installed env. Though same error is not seen in dev run using `npm run serve`

[2022-09-20 08:55] rohityadavcloud commented on #6731
Could you try an installed version of 4.17.0.1 and also 4.17.1.0 @shwstppr ?

[2022-09-20 09:23] rohityadavcloud commented on #6141
As we can't reproduce this, I propose we close this and revisit in future as/if and when we've more information.

[2022-09-20 09:23] #6141 closed

[2022-09-20 13:56] artem-sidorenko opened #6752 "LDAP mapping leftover when subdomain is deleted"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

LDAP mapping is left in the DB when subdomain is removed

##### STEPS TO REPRODUCE

- Setup LDAP
- Create a subdomain
- Link some group or OU to the subdomain
- Remove subdomain
- check the table ldap_trust_map - mapping is still there

Simila

[2022-09-20 14:08] borisstoyanov opened #6753 "Starting a running VM prompts resource limitation error - Error message improvement"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

4.17
[code]

##### CONFIGURATION

In a project

##### OS / ENVIRONMENT

##### SUMMARY

When starting an already running VM it prompts a resource limitation error, which is misleading

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2022-09-21 06:19] rohityadavcloud opened #6754 "Root admin not allowed to deploy in a VPC belonging to account in a non-ROOT domain"
Root admin not allowed to deploy in a VPC belonging to account in a non-ROOT domain.

Steps to reproduce:
- Create a domain D1 under ROOT domain
- Create an account T1 in D1
- Login as T1 user, create a VPC, a VPC tier, and deploy a VM on it
- Logout, Login as a root admin
- Deploy a VM in the VPC tier (it won't show the tier in UI, nor allow in API) (however, root admin was found to be able to cr

[2022-09-21 08:01] DaanHoogland commented on #6740
@azmidhun you are right this is the case, A workaround to make sure the offering is no longer used you need to set the field `removed` on it. There is no APIU to this at the moment. that would be a good improvement. The issue with that is that no exisitng VM may be using it or problems will arise when actions on those VMs are taken. So take care if you use my workaround.

[2022-09-21 13:22] matheusfontes commented on #6717
@DaanHoogland now I have sure that the problem is bigger than only resized/deleted volumes.
usage is charging a deleted vrouters networks transfer, deleted firewall rules and load balance.
I need to open other issue? Everyone are experiencing these charges problems?
The problem started on 4.16, so I think everyone that uses usage to billing clients are billing them wrong and this is need a urgent

[2022-09-21 13:36] DaanHoogland commented on #6717
@matheusfontes  I think that if these are fixed by separate changes they are seperate issues. If we piut the fix in one patch we can just rename the issue.

[2022-09-21 15:17] msinhore opened #6756 "Fail to deploy a new KVM Instance when ACS has VMware and KVM hypervisor clusters"
##### ISSUE TYPE

[code]

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
ACS running with VMware and KVM hypervisors in different clusters and same pod

##### OS / ENVIRONMENT
mgmt server: Rocky Linux 8
database server: Rocky Linux 8 (running together mgmt server)
VMware: 7.0.3.0
KVM: Rocky Linux 8

##### SUMMARY
When deploying a new KVM Instance using UI, it fai

[2022-09-22 06:03] rohityadavcloud opened #6757 "Warning statement for SetMonitorServiceCommand command sent to VR due to additional answers received"
Unnecessary warning statement was seen for SetMonitorServiceCommand command sent to VR (for health checks), as 3 answer sent but one expected:

2022-09-21 12:39:34,773 WARN  [resource.virtualnetwork.VirtualRoutingResource] (agentRequest-Handler-4:null) (logid:d5969a8f) <b>Expected 1 answers while executing SetMonitorServiceCommand but received 3</b>
2022-09-21 12:39:34,775 DEBUG [cloud.agent.Agent

[2022-09-22 06:42] DaanHoogland commented on #6757
@rohityadavcloud I think a warning is in place here, why do you think this is a bug?

[2022-09-22 06:55] rohityadavcloud commented on #6757
The bug is perhaps why 3 things are returned and not just one. (what's with the `"null - success: ","null - success: "]`)

[2022-09-22 07:25] DaanHoogland commented on #6757
any reproduction scheme/situation in which you ran into this?

[2022-09-22 07:27] DaanHoogland commented on #6717
@matheusfontes did you test #6737 ? and do you know were to look for additional issues?

[2022-09-22 08:18] rohityadavcloud commented on #6757
Nope, just deploy an advn zone env with VMs on VPC and isolated networks and track this command. (This is a minor low-hanging fruit issue, perhaps something in the script parsing the output is taking the unnecessary results and throwing back as `null - success`)

[2022-09-22 10:01] blueorangutan commented on #6753
Packaging result: :heavy_multiplication_x: el7 :heavy_multiplication_x: el8 :heavy_multiplication_x: debian :heavy_multiplication_x: suse15. LL-JID 145

[2022-09-22 10:18] rohityadavcloud commented on #6753
Something went wrong, BO is reporting pkg fail on an issue? cc @davidjumani @Pearl1594 @DaanHoogland

[2022-09-22 10:21] Pearl1594 commented on #6753
seems like it was manually triggered from the backend - and the wrong PR ID was provided ..

[2022-09-22 12:43] DaanHoogland commented on #6736
@borisstoyanov @nvazquez I created a fix which will allow the upload and registration.
now the following problem occurs:
![image](https://user-images.githubusercontent.com/2486961/191750022-763802fe-4862-4f48-b005-b5a0272f979d.png)
the compute offering is expected but will not give any selection posibilities.
is this some how expected, or can it be a problem with the template?

[2022-09-22 12:45] DaanHoogland commented on #6736
also the license agreement section is not containing a license agreement:
![image](https://user-images.githubusercontent.com/2486961/191750579-1cd607e9-12ef-4a79-b2fd-bf14a2832b5c.png)

[2022-09-23 07:58] borisstoyanov commented on #6736
I think you don't have a matching offering @DaanHoogland, check out the specs of the OVA at CISCO page, I think it requires some massive RAM etc..

[2022-09-23 09:24] DaanHoogland commented on #6736
yes, but than I would expect that as a message, couldn´t I? I'll adjust the test and rerun but doubt this is the only issue.

[2022-09-23 09:45] DaanHoogland commented on #6736
ok, @borisstoyanov I cannot reproduce the weir state above anymore, the template is in deployable state with the PR #6758 can you test it?

[2022-09-23 10:16] rohityadavcloud opened #6760 "Upgrade paths shouldn't consider the last digit"
This is probably the 2nd time this has happened. As per our community discussion, the last digit in a version is for security/patch releases and it shouldn't require any upgrade path etc.

From a.b.c.d, the upgrade path logic shouldn't consider `.d`.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

[2022-09-23 10:17] rohityadavcloud commented on #6760
One solution is to consider any a.b.c.x to use same upgrade map/list for a.b.c.0 (assuming it exists).

[2022-09-23 11:40] weizhouapache commented on #6760
can we also consider the upgrade from a lower version but released later to a high version ?

for example, upgrade from 4.17.2.0 to 4.18.0.0 (assume 4.17.2.0 is released after 4.18.0.0) ?

[2022-09-23 11:49] DaanHoogland commented on #6760
not sure if that is feasible given the implementation byt certainly worth having a look @weizhouapache

[2022-09-23 12:14] DaanHoogland commented on #6717
@matheusfontes I'm not a heavy user of the usage server or billing in general. I will need your help in closing this issue please.
can you test and approve of #6737 and advice on any other issues there may be, please?

[2022-09-23 15:05] hooklee2000 commented on #6760
@weizhouapache  Maybe  we can add a field  such as “next_upgrade_class” in version table of mysql.
later version  4.17.2.0 known 4.18.0.0 then fill  the field as "com.cloud.upgrade.dao.Upgrade41700to41800".
When upgrade from 4.17.2.0 to 4.18.0.0 (assume 4.17.2.0 is released after 4.18.0.0) ,  firstly get the field's value then new Instance the class and execute.

[2022-09-24 09:33] yuanbosoft opened #6761 "VR： how can i recreate a new virtual route in cloudstack 4.11.2"
##### ISSUE TYPE

 * Bug Report
 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

After drop virtual route ,all vms can not start , i regret!!!
 how can i recreate a new virtual route in cloudstack 4.11.2, basic network.

##### OS / ENVIRONMENT

centos7.4

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESU

[2022-09-24 12:55] weizhouapache commented on #6761
@yuanbosoft
you can restart the network or vpc with cleanup
it will create new virtual routers

[2022-09-24 13:10] yuanbosoft commented on #6761
when I restart the the defaultGuestNetwork:
1.the cloudstack web page will pop up:
Resource [DataCenter:1] is unreachable: Can't find all necessary running routers!

2.The cloudstact-management log with pop up:
udstack.api.command.user.network.RestartNetworkCmd, cmdInfo: {"makeredundant":"false","cleanup":"true","response":"json","ctxUserId":"2","httpmethod":"GET","ctxStartEventId":"1609","id":"be

[2022-09-24 13:37] yuanbosoft commented on #6761
pop up error as shown below:
![isuue](https://user-images.githubusercontent.com/7006125/192101036-c7107941-6437-43a4-bea5-864b793731cc.png)

[2022-09-24 14:04] yuanbosoft commented on #6761
cloudstack-sysvmadm -dlocalhost -u cloud -p...

mysql: [Warning] Using a password on the command line interface can be insecure.
mysql: [Warning] Using a password on the command line interface can be insecure.

Stopping and starting 1 secondary storage vm(s)...
Done stopping and starting secondary storage vm(s)

Stopping and starting 1 console proxy vm(s)...
Done stopping and starting console prox

[2022-09-24 16:39] weizhouapache commented on #6761
@yuanbosoft
4.11.2 is quite old and EOL
I would suggest you to upgrade to latest versions (4.17.0.1 or 4.16.1.1)

[2022-09-24 17:16] rohityadavcloud commented on #6761
@yuanbosoft try if you can restart the network or deploy a VM which in turn will deploy the VR.

[2022-09-25 21:05] maxadamo opened #6763 "error creating DB schema on management node: ERROR 1173 (42000) at line 2201: This table type requires a primary key"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
cloudstack-management: cloudstack-setup-databases

##### CLOUDSTACK VERSION
4.17

##### CONFIGURATION
 it's a new setup

##### OS / ENVIRONMENT
Ubuntu 22.04
MariaDB 10.9 + Galera

##### SUMMARY

I run the command below:
[code]

##### ACTUAL RESULTS

and I get the following error:

[code]

and there is no primary key specification here:  [create-

[2022-09-25 21:52] maxadamo commented on #6763
it happens with other files, but it was caused by a setting, which is proposed for galera

[2022-09-25 21:52] maxadamo commented on #6763
I'm closing it

[2022-09-25 21:52] #6763 closed

[2022-09-26 01:22] yuanbosoft commented on #6761
Oops,I had already tried  restart the network and deploy a VM ,then the cloudstack-management.log pop up

"Unexpected exception while executing org.apache.cloudstack.api.command.user.network.RestartNetworkCmd
com.cloud.exception.ResourceUnavailableException: Resource [DataCenter:1] is unreachable: Can't find all necessary running routers!"

[2022-09-26 04:39] slavkap commented on #6761
@yuanbosoft, can you share the log when you try to deploy a new VM?

[2022-09-26 08:28] rohityadavcloud opened #6764 "ZipFile instances can kill management server with OutOfMemory crash"
This couldn't be confirmed or reproduced but is based on a high-level heap dump analysis from an env. Pl check wherein the code do we use ZipFile java/utils instances and are we properly closing them (using try-with-resource) or keeping some kind of mechanism so that these instances don't just always grow but get GC'd. In case this can't be produced or not such usage can be found/investigated, let

[2022-09-26 09:27] rohityadavcloud commented on #6764
One followup for this could be to introduce a section on JVM tuning on https://docs.cloudstack.apache.org/en/latest/adminguide/tuning.html (for ex. how to tune/increase the max. java heap for JVM cloudstack-management etc processes)

[2022-09-26 10:18] DaanHoogland commented on #6753
my bad @rohityadavcloud I was doing to many things at once.

@borisstoyanov I tried your scenario above but got the output:
[code]
which seems right to me. Is there some extra condition that you forgot to mention?

[2022-09-26 10:47] borisstoyanov commented on #6753
not sure if I do @DaanHoogland, that's all I was reported.

[2022-09-26 11:26] weizhouapache commented on #6761
@yuanbosoft
what's the state of the current running vm ?
can you destroy it and restart the network ?

[2022-09-26 12:11] DaanHoogland commented on #6613
@gitsan13 have you looked at the hackerbook? (https://github.com/shapeblue/hackerbook) When you feel comfortable just submit a PR and we'll go from there.

[2022-09-26 12:12] DaanHoogland commented on #6100
@ravitejasssihl get comfortable with the code base (for instance going through https://github.com/shapeblue/hackerbook) and when you feel comfortable submit a PR.

[2022-09-26 12:18] weizhouapache commented on #6100
@DaanHoogland
a PR has addressed it: https://github.com/apache/cloudstack/pull/6358

[2022-09-26 12:30] satishglondhe opened #6765 "Using API's created instances gives error Permission denied (publickey) under the VPC network"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced Networking - VPC

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Not able to access the VM using the SSH keypair attached at the time of instance creation with VPC network using API's. If we reinstall such instance then it starts working.  Also if we do this with the Cloud St

[2022-09-26 12:41] DaanHoogland commented on #6765
@satishglondhe is it the ssh registering or the create new instance that is to be done by the API for this to fail, or both?
And what do you mean by
5. Attach this instance to the VPC network
is it created in another network first and then added to the vpc?
tnx

[2022-09-26 13:10] vdombrovski commented on #6627
The issue still persists it seems, can we reopen this please?

Referencing this file: https://github.com/shapeblue/cloudstack/blob/e00ced7a7d4d45d8bfa455599385238ebedf72f3/ui/src/views/compute/ScaleVM.vue

There seems to be a condition where **updateComputeOffering** triggers before **@update-disk-size="updateFieldValue"** which sets the rootdisksize once again. It would seem much better to handle

[2022-09-26 13:11] satishglondhe commented on #6765
_is it the ssh registering or the create new instance that is to be done by the API for this to fail, or both?_
Both is working, SSH registered using API and passed its name in deployVirtualMachine APIs keypair/ keypairs param. Then we can see the keypair attached to instance in details page at Cloud Stack UI level. But not able to access.

_And what do you mean by
5. Attach this instance to the V

[2022-09-26 13:19] slavkap commented on #6761
@yuanbosoft, can you share what is the output of:
`SELECT * FROM cloud.ntwk_service_map where service="SourceNat" and provider="VirtualRouter" and network_id=204;`
and
`SELECT redundant FROM cloud.networks where id=204;`

[2022-09-26 15:03] damonb123 opened #6766 "Template Names Limited to 32 Characters: vm_template.name size is 255"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
TemplateManagerImpl.java

##### CLOUDSTACK VERSION
4.16.0, 4.17.0

##### SUMMARY
* File: ./server/src/main/java/com/cloud/template/TemplateManagerImpl.java:1751
* Method: public VMTemplateVO createPrivateTemplateRecord(CreateTemplateCmd cmd, Account templateOwner)
* Issue:
The template name is limited to 32 characters despite the field

[2022-09-27 01:19] yuanbosoft commented on #6761
1.All about 20 vms are stoped；
2.I have already destroyed console vm and second vm yet, console  and second vms are all restart ,but VR not recreate automaticly

[2022-09-27 01:22] yuanbosoft commented on #6761
mysql> show databases;
+--------------------+
| Database           |
+--------------------+
| information_schema |
| cloud              |
| cloud_usage        |
| mysql              |
| performance_schema |
| sys                |
+--------------------+
6 rows in set (0.01 sec)

mysql> SELECT * FROM cloud.ntwk_service_map where service="SourceNat" and provider="VirtualRouter" and network_id=204;
Em

[2022-09-27 01:22] yuanbosoft commented on #6761
mysql> show databases;
+--------------------+
| Database           |
+--------------------+
| information_schema |
| cloud              |
| cloud_usage        |
| mysql              |
| performance_schema |
| sys                |
+--------------------+
6 rows in set (0.01 sec)

mysql> SELECT * FROM cloud.ntwk_service_map where service="SourceNat" and provider="VirtualRouter" and network_id=204;
Em

[2022-09-27 01:24] yuanbosoft commented on #6761
mysql> SELECT * FROM cloud.networks where id=204;
+-----+---------------------+--------------------------------------+---------------------+--------------+-----------------------+-----------------+---------+------+------+---------------------+---------------------+----------------+---------------------------+-------+---------+-----------+------------+------+------+-----------+------------+--------

[2022-09-27 01:25] yuanbosoft commented on #6761
mysql> SELECT * FROM cloud.ntwk_service_map where network_id=204;
+----+------------+----------+---------------+---------------------+
| id | network_id | service  | provider      | created             |
+----+------------+----------+---------------+---------------------+
|  1 |        204 | Dhcp     | VirtualRouter | 2020-07-13 07:20:16 |
|  2 |        204 | UserData | VirtualRouter | 2020-07-13

[2022-09-27 05:23] slavkap commented on #6761
@yuanbosoft, I don't have any experinece with the redundant routers, probably @weizhouapache could help here. But according to the code if the redundant option is enabled for the network you should have network service `SourceNat` for the VirtualRouter provider. Or vice versa if the redundant option is disblaed (set to 0) you don't need the service `SourceNat`. In your case it fails because you do

[2022-09-27 06:39] rohityadavcloud commented on #6753
The user from whose env led this ticket has asked me to close this ticket:

_This incident could be solved for us by turning the related VM off, so i do not see anymore problems here. There was no intention from our side to raise a bug-report here, so please don't hesitate to close the issue on github._

[2022-09-27 06:39] #6753 closed

[2022-09-27 08:45] yuanbosoft commented on #6761
How can I disable the redundant routers via command or web UI?

[2022-09-27 08:46] DaanHoogland commented on #6754
@rohityadavcloud can you clarify:
Is the root admin able to deploy in the tier they created and not in the other?
Also (maybe as a point of discussion) do we feel that ROOT/admin should always be allowed to deploy (or do anything) in a subdomain? This one is a bit of a security discussion I´d say.

[2022-09-27 08:49] rohityadavcloud commented on #6754
Root admin in my test wasn't able to deploy VM in any of the tiers, even the (new vpc) tiers created by the root-admin for someone else's account. @DaanHoogland it may be worth checking this behaviour against an older version (4.11, 4.9 etc?) to establish if this is a historic limitation or a regression in newer releases.

[2022-09-27 09:08] DaanHoogland commented on #6746
@mlsorensen apart from migration where an old an a new instance might need access to a shared volume, can we think of any other situation in which volumes may be shared amongst instances (maybe shared virtual memory)?
I like your last proposal, but what if there is a problem with guaranteeing exclusivity? (if possible). We might also need a flag that says to claim or be lenient. Or is that not sen

[2022-09-27 09:52] DaanHoogland commented on #6744
@Hudratronium @mlsorensen @correajl Guys, most of this discussion has gone over my head, but it sounds like a good thing to solve before 4.18. Is there any plan by anybody to implement this?

[2022-09-27 11:02] slavkap commented on #6761
I couldn't find another API call than the [updateNetwork](https://cloudstack.apache.org/api/apidocs-4.11/apis/updateNetwork.html) with which you can change the network offering (for which the redundant option is disabled). Or with an update of the DB
`update cloud.networks set redundant=0 where id=204;`

[2022-09-27 11:56] yuanbosoft commented on #6761
Dear，many tkx,
After exeucted above update sql, all vms launched ,many thanks again .

[2022-09-27 12:35] rohityadavcloud opened #6770 "Zone deployed via UI wizard, the VLAN range is missing for physical network"
Deploy an adv zone (with KVM) in a fresh env using the zone deployment UI wizard; the VLAN range is not set for some reason in the zone. When we go to UI-> zone -> phy network tab (the range is missing) -> go further in it and edit to update the vlan range and save - then it works.

[2022-09-27 12:37] DaanHoogland commented on #6761
@yuanbosoft as per your last remark I am closing this. please reopen or create a new ticket if you think this in err.

[2022-09-27 12:37] #6761 closed

[2022-09-27 14:12] Rubueno opened #6773 "AutoSelect live migration fails with local storage"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When live migrating an instance and choosing "AutoSelect" it is not possible to live migrate an instance with local storage, while when selecting the destination host, it is possible to live migrate an instance with local storage.

##### S

[2022-09-27 14:20] thierry-martinez opened #6774 "Max size for custom disk offering is checked for disk creation but not for resizing"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME
server

##### CLOUDSTACK VERSION

All versions

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The maximum size for custom disk offering is checked for disk creation but not for resizing.
Users cannot create volumes larger than `CustomDiskOfferingMaxSize` but can resize their volumes afterwards to larger sizes up to the allo

[2022-09-27 21:54] damonb123 commented on #6766
Thank you for such a quick response.

[2022-09-27 21:58] damonb123 opened #6777 "CreateTagsCmd.java returns wrong EventType"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### SUMMARY
Create tags overrides getEnvtype() returns the wrong event type.

[code]

Unless I am misunderstanding, it should be:

[code]

[2022-09-27 22:14] damonb123 opened #6778 "If Kafka is turned on internal subs dont work"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### SUMMARY
When kafka events are turned on, subscriptions internal to CloudStack can no longer receive events.
There appears to be code that is trying to use the events existing in the CloudStack code, but would stop working once kafka emitting is enabled.

This issue is to start a dialog about this f

[2022-09-28 06:36] DaanHoogland commented on #6766
np @damonb123 , will you be able to test the PR?

[2022-09-28 11:34] ccycv opened #6780 "Failed to update VM, due to: Invalid cpu speed value, specify a value between 1 and 2147483647 - UI bug"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Ubuntu 20.04, CentOS 7.9

##### SUMMARY
[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2022-09-28 11:35] ccycv commented on #6780
![image](https://user-images.githubusercontent.com/23322009/192769039-cdaca118-91c1-4641-b1f6-e4bc4af78dd9.png)

[2022-09-28 12:50] DaanHoogland commented on #6778
thanks for the report and the workaround @damonb123 Can you give a use case that would fail? Would for instance usage stop working?

[2022-09-28 13:41] damonb123 commented on #6777
Thanks, for update.  I use the kafka events to perform task when certain tags are added.  My work around is capturing the UPLOAD.RESOURCE.ICON event.

[2022-09-28 13:50] DaanHoogland commented on #6764
there is a section already but it actually still speaks of tomcat. I'll see about updating that.

[2022-09-28 14:07] DaanHoogland commented on #6780
right, so you have an offering that allows for that?

[2022-09-28 16:24] ccycv commented on #6780
Yes, if I deploy with such offering or set the CPU speed at deploy.

[2022-09-28 20:24] Hudratronium commented on #6744
Sadly i am lacking the programming skills to work on this...
Nevertheless - since CS now officially supports Ubuntu 22.04 this could get important.

[2022-09-29 05:40] rohityadavcloud commented on #6777
Fixed in https://github.com/apache/cloudstack/pull/6779

[2022-09-29 05:40] #6777 closed

[2022-09-29 07:54] DaanHoogland commented on #6780
ok, i'll give it some more try

[2022-09-29 09:07] #6717 closed

[2022-09-29 13:48] DaanHoogland commented on #6780
@ccycv can you please specify the offering here (or the cli you used. I can not reproduce this so far.

[2022-09-29 13:49] DaanHoogland commented on #6764
@rohityadavcloud do you think https://github.com/apache/cloudstack-documentation/pull/288 is enough to close this?

[2022-09-29 15:02] #6615 closed

[2022-09-29 15:07] DaanHoogland commented on #6773
@Rubueno what method are you using to migrate
Also, can you test with 4.17? I cannot migrate without choosing a target there.

[2022-09-29 17:13] Rubueno commented on #6773
In this case I was using the UI to migrate. I cannot test with 4.17 yet due to internal release/update policies.

[2022-09-29 19:34] shwstppr commented on #6773
@Rubueno I don't think this is a bug but rather more of an enhancement. Currently, `migrateVirtualMachineWithVolume` doesn't support live VM migration without providing `hostid`. Therefore, to support this we need to,
- In the backend, refactor `migrateVirtualMachineWithVolume` API to support autoselect flag similar to `migrateVirtualMachine`
- In UI when `Auto-assign` is selected, it needs to lis

[2022-09-29 19:36] Rubueno commented on #6773
I can agree marking this as an enhancement instead, although I would see it as a bug when the autoselect option is presented in the UI in cases when it is not supported.

[2022-09-29 21:54] kohrar commented on #6731
I'd like to report the same issue on 4.17.0.1 and I can reproduce it reliably (I think).

I'm able to log in and log out as expected. However, if I navigate to the profile page (this seems to trigger it reliably), then log out, I'm unable to log in again unless I do a full page reload. When this does happen, the login page will show a notification stating "Unauthorized / Session expired, authoriza

[2022-09-29 22:15] kohrar commented on #6731
I think there's something in the UI code that's requesting for `listResourceIcon` _after_ the logout occurs in some instances which triggers this issue.

After navigating to the profile page and logging out, I see that the browser sent the following request, only to get a 401 Unauthorized reply, which then causes an unhandled JS exception which then breaks the UI.

[code]

JS Console shows:
[code]

[2022-09-29 23:27] kohrar opened #6786 "UI: Instances list not filterable by hostid"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
Standard install

##### OS / ENVIRONMENT
N/A

##### SUMMARY
On the 'Hosts' page, clicking on 'View Instances' brings the user to a table of instances (VMs). However, this table is not filtered by the host appropriately even though the URL includes a `hostid=xxxx`. Instead, the table sh

[2022-09-29 23:55] kohrar opened #6787 "UI: Public IP Tab - Pagination dropdown unusable"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
Standard install

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The pagination dropdown on the physical network traffic type tab page is being hidden due to the overflow-y being set to scroll. As a result, the selections are being hidden inside a div rather than appearing in front.

See th

[2022-09-30 06:08] 1450793561 opened #6789 "4.17.1.0 registor iso image Connection refused (Connection refused)"
4.17.1.0 版本注册iso镜像 转态总是连接失败Connection refused (Connection refused)

也将这个配置修改secstorage.allowed.internal.sites为0.0.0.0/32都不好使，求指点

[2022-09-30 08:18] #6766 closed

[2022-09-30 09:47] DaanHoogland commented on #6787
@kohrar using firefox the dropdown open dropping up. so it is usable. Do you see a change to try another browser (to exclude environmental issues)?

[2022-09-30 09:59] DaanHoogland commented on #6789
![image](https://user-images.githubusercontent.com/2486961/193245842-43ebf695-f1c4-47e1-a88e-eff564365744.png)

[2022-09-30 10:22] weizhouapache commented on #6789
@1450793561
the problem might be caused by secstorage.allowed.internal.sites
to confirm it, can you log into secondary storage vm (SSVM) and share the result of command `route -n` ?

[2022-09-30 10:36] nvazquez commented on #6789
Hi @1450793561 can you please update the title and description to English?

[2022-09-30 10:43] DaanHoogland commented on #6789
@1450793561 after getting some explanation from @weizhouapache about the chinese, I think your problem is the cidr 0.0.0.0/32. Can you try with 0.0.0.0/0? that should work better.

[2022-09-30 15:00] Hudratronium commented on #6698
@nvazquez
Did you found some time to look into this? As we are planning our schedule for the next CS Upgrades, i just wanted to be shure to provide valid information if needed.

[2022-10-01 08:12] levindecaro opened #6794 "Cannot start cloudstack-agent after upgrade from 4.16.1 to 4.17.1"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

kvm
SharedMountPoint (CephFS)

##### OS / ENVIRONMENT

CentOS Linux release 7.9.2009 (Core) 3.10.0-1160.45.1.el7.x86_64
libvirt-4.5.0-36.el7_9.5.x86_64
qemu-kvm-ev-2.12.0-44.1.el7_8.1.x86_64
qemu-img-ev-2.12.0-44.1.el7_8.1.x86_64
qemu-kvm-common-ev-2.12.0-44.1.el7_8.1.x86_64
libvir

[2022-10-01 08:19] levindecaro opened #6795 "UI: admin cannot take volume snapshot on user VM"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

kvm
SharedMountPoint (CephFS)

##### OS / ENVIRONMENT

CentOS Linux release 7.9.2009 (Core) 3.10.0-1160.45.1.el7.x86_64
libvirt-4.5.0-36.el7_9.5.x86_64
qemu-kvm-ev-2.12.0-44.1.el7_8.1.x86_64
qemu-img-ev-2.12.0-44.1.el7_8.1.x86_64
qemu-kvm-common-ev-2.12.0-44.1.el7_8.1.x86_64
libvir

[2022-10-01 08:32] levindecaro opened #6796 "config.json wrongly set to 640 after upgrade to 4.17.1"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

kvm
SharedMountPoint (CephFS)

##### OS / ENVIRONMENT

CentOS Linux release 7.9.2009 (Core) 3.10.0-1160.45.1.el7.x86_64
libvirt-4.5.0-36.el7_9.5.x86_64
qemu-kvm-ev-2.12.0-44.1.el7_8.1.x86_64
qemu-img-ev-2.12.0-44.1.el7_8.1.x86_64
qemu-kvm-common-ev-2.12.0-44.1.el7_8.1.x86_64
libvir

[2022-10-02 15:11] DaanHoogland commented on #6794
The problem seems to be that a `StorageAdaptor` is being attempted to be created which doesn´t have a default constructor, by the looks of the stacktrace.

[2022-10-02 15:22] DaanHoogland commented on #6795
@levindecaro , does it work with the API, i.e. is this a UI bug only?

[2022-10-03 08:52] weizhouapache commented on #6794
@DaanHoogland I think it might not be caused by java code. because @levindecaro has fixed the issue without any code changes
maybe a packaging or installation or permission issue ?

[2022-10-03 09:01] weizhouapache opened #6798 "Force-stop VM succeed but VM is still running on host if cloudstack-agent is stopped"
Steps to reproduce the issue

on KVM

- create a vm and start it
- stop cloudstack-agent
- force-stop the VM
- VM is stopped but it is still running on kvm host

This seems incorrect to me. but devs/users may have different opinion.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

kvm

##### SUMMARY

####

[2022-10-03 12:37] DaanHoogland commented on #6798
@weizhouapache I did merge some kvm related commits. did you verify this on 4.17?

[2022-10-03 15:55] weizhouapache commented on #6798
@DaanHoogland
I got the same result on a 4.17.1.0 env

[2022-10-03 17:19] DaanHoogland commented on #6794
Yes, but the stored configuration had to be thrown away.
As there is a workaround I wouldn't regard it critical. Not for smaller environments anyway.

[2022-10-03 17:20] DaanHoogland commented on #6798
Ok, not a regression, but still a major bug.

[2022-10-03 21:02] Rubueno commented on #6798
Just my 2 cents: does stopVirtualMachine with force=true not always behave this way? The caller must know the VM is stopped before calling it: https://cloudstack.apache.org/api/apidocs-4.17/apis/stopVirtualMachine.html

[2022-10-03 22:26] Hudratronium commented on #6798
Guess the 'interesting' part is, that there is no further feedback what actually happend while calling the function. In the end that could lead to some nasty situations...
As a 'user' i would expect that, like @weizhouapache descriped it, the VM will be stopped on the host by any means and / or verified that it is stopped. If this isn't possible, cause the agent isn't up or not reachable, i would

[2022-10-03 22:27] Rubueno commented on #6798
Indeed. My team has opened https://github.com/apache/cloudstack/issues/6629 to prevent regular users from using this parameter.

[2022-10-04 09:10] levindecaro opened #6804 "Error when deleting former 4.16.1 volume snapshot from 4.17.1"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

kvm
SharedMountPoint (CephFS)
snapshot.backup.to.secondary=true
kvm.snapshot.enabled=true
kvm.vmstoragesnapshot.enabled=true

##### OS / ENVIRONMENT

CentOS Linux release 7.9.2009 (Core) 3.10.0-1160.45.1.el7.x86_64
libvirt-4.5.0-36.el7_9.5.x86_64
qemu-kvm-ev-2.12.0-44.1.el7_8.1.x86

[2022-10-04 09:15] levindecaro opened #6805 "confused SharedMountPoint with StorPool information in log files"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

kvm
SharedMountPoint (CephFS)

##### OS / ENVIRONMENT

CentOS Linux release 7.9.2009 (Core) 3.10.0-1160.45.1.el7.x86_64
libvirt-4.5.0-36.el7_9.5.x86_64
qemu-kvm-ev-2.12.0-44.1.el7_8.1.x86_64
qemu-img-ev-2.12.0-44.1.el7_8.1.x86_64
qemu-kvm-common-ev-2.12.0-44.1.el7_8.1.x86_

[2022-10-04 09:29] levindecaro commented on #6795
API appear ok, likely UI bug.

(?) 🐱 > create snapshot volumeid=030b678b-96b2-4e56-b4c9-4c434e282abf asyncbackup=true
{
  "snapshot": {
    "account": "levin.ng",
    "created": "2022-10-04T17:28:22+0800",
    "domain": "varmeego",
    "domainid": "ab262bfb-f415-41c7-98a9-196a3f4da096",
    "hasannotations": false,
    "id": "f93c0ca4-be81-46a9-9f44-58dd6ed364e1",
    "intervaltype": "MANUAL",

[2022-10-04 09:49] rohityadavcloud commented on #6805
cc @slavkap can you help us triage/investigate this? Thanks.

[2022-10-04 10:19] levindecaro commented on #6804
Snapshot created with 4.17.1 do not have above trouble.

[code]

[2022-10-04 12:17] slavkap commented on #6805
yes, @rohityadavcloud, I did some investigation.

Actually, we do not mix anymore with the SharedMoutPoint.

@levindecaro, the `disconnectPhysicalDiskByPath` is invoked for all StorageAdaptors till one returns true:

[code]
![image](https://user-images.githubusercontent.com/51903378/193807044-dd873236-77ed-4fb9-969d-c8c3dee72dc8.png)

Which is not the best option instead of providing the correct S

[2022-10-04 13:19] slavkap commented on #6804
@levindecaro, can you share everything with `logid:7aeebf72` from the agent.log. There should be more detailed information

[2022-10-04 15:30] levindecaro commented on #6804
@slavkap

Thanks for your investigation, the snapshot path apparently wrong with leading by the parent image name

[code]

[2022-10-04 15:51] levindecaro commented on #6805
@slavkap
Thanks for your explanation, I agree more verbose logging help for troubleshooting, for this case, it was leading myself to dig into source code for an error which is not relate to my current infrastructure. Since upgrade 4.17.1, I'd hard time to verify every component functionality, especially on kvm snapshot change.

[2022-10-04 19:12] slavkap commented on #6804
@levindecaro it's strange that from the last log, the primary storage type on the first line is Filesystem ... then it's SharedMountPoint on the second one.
Can you check if you have that snapshot on the CephFS pool? I think the snapshots created before the upgrade aren't on primary storage (because after backup to secondary for some of the pools, CS deletes the snapshot from the primary storage).

[2022-10-05 04:43] levindecaro commented on #6804
@slavkap , yes it is the case, when "snapshot.backup.to.secondary=true" the snapshot will be removed right the way after copy complete. The snapshot file already removed by CS from since 4.16.1 (checked from cephfs pool snapshot), and CS tries to delete the snapshot in primary storage which already removed.

[2022-10-05 04:50] slavkap commented on #6804
@levindecaro, thanks for confirming! I think @GutoVeronezi could help more here

[2022-10-05 10:57] StepBee opened #6807 "Custom Constrained Service Offering vs Qemu - CPU topology doesn't match maximum vcpu count"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

We are running a Cloudstack platform based on Ubuntu hosts and KVM.
We have set the guest CPU model to host-mode
guest.cpu.mode=host-model

Phyiscal host CPU config
[code]

##### OS / ENVIRONMENT

Ubuntu 20.04.4
Cloudstack Version 4.17.0.1
QEMU emulator version 4.2.1 (Debian 1:4.2-

[2022-10-05 19:21] pdion891 commented on #6148
Because xentool iso is not exposed by xenserver anymore, either have to create the SR from cloudstack scripts running on xenserver or change how to present systemvm.iso to VMs under XenServer.

One way of fixing the issue seams to be using following command on a xenserver cluster:

[code]

"xe pbd-list sr-uuid=<new SR UUID>" should return a PBD for each host and have currently-attached to true.

T

[2022-10-06 14:52] levindecaro commented on #6804
@GutoVeronezi

Which logs besides the agent.log? I only found these lines between 15:20 to 15:29.
[code]

Other than the above log, it has the following lines in /var/log/messages and agent.log, however i think it is not essential.
[code]

If it is not sufficient, i could turn on debug level to reproduce again, but please kindly advise specific area to capture.

Thank you

[2022-10-06 16:07] GutoVeronezi commented on #6804
@levindecaro, disk snapshots before 4.17 were stored inside the disk (they were internal snapshots). Could you run `qemu-img snapshot -l <path-to-disk>` to we check the disk internal snapshots?

[2022-10-06 16:53] kohrar commented on #6795
The problem seems to be that the UI code doesn't include `listall=true` in the `listVolumes` API call so it's not getting any volumes. When I click on 'take VM volume snapshot', this is the HTTP request that gets generated:

[code]

Running the same command via `cmk` shows the same behavior, where the result is empty unless `listall=true` is included.
[code]

[2022-10-07 06:07] levindecaro commented on #6804
The image snapshot list of the one reported error shown empty output, because all snapshot are deleted from UI already.
[code]

Another volume snapshot taken in 4.16.1 output shown as below.  These tag are referencing "VM Snapshot"
[code]

![image](https://user-images.githubusercontent.com/36956864/194477934-9b666c78-17ac-49b3-8608-3638bc28df9f.png)

![image](https://user-images.githubusercontent.

[2022-10-07 08:48] rohityadavcloud commented on #6701
@cdfgallo does it work for you if you try changing the offering of the VM but untick the automatic migration option that says "Auto migrate volume to another storage pool if required":

<img width="1173" alt="Screenshot 2022-10-07 at 2 18 14 PM" src="https://user-images.githubusercontent.com/95203/194513111-d1e8c067-2d5d-4b45-a2a5-d65c71e86ebb.png">

[2022-10-07 12:22] lbegault opened #6810 "Ip address truncated when creating a instance"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
User interface

[code]

[code]

##### STEPS TO REPRODUCE
At vm creation, trying to set the ip 10.200.1.254 for a vm.
[code]

##### EXPECTED RESULTS
Vm should be created with 10.200.1.254 ip.

[code]

##### ACTUAL RESULTS
Vm is created with ip 10.200.1.2

[code]

[2022-10-07 13:23] cdfgallo commented on #6701
@rohityadavcloud nope, unfortunately this does not work too. Still receive same error from the UI.

[2022-10-07 15:06] mik-allen commented on #6701
This is a major bug for our company and is preventing us from upgrading to 4.17.1. If we were to upgrade from 4.16.1, we would be inundated with customer support requests to do what should be a basic operation- increase or decrease CPU/RAM.

@rohityadavcloud, I can also confirm that unticking 'auto migrate' does not help. Logging in as a root admin is the only way to scale successfully in our lab

[2022-10-08 01:50] rohityadavcloud commented on #6739
Closing this as main reported issue fir powerflex has been fixed.

[2022-10-08 01:50] #6739 closed

[2022-10-08 05:21] 1450793561 commented on #6789
update parameter 'secstorage.allowed.internal.sites' is being  0.0.0.0/0 that not well

[2022-10-08 06:51] #6731 closed

[2022-10-08 06:51] #6787 closed

[2022-10-08 08:12] 1450793561 commented on #6789
The global configuration has been changed to 0.0.0.0/16. The iso image is registered or the connection is [rejected]
![企业微信截图_20221008161019](https://user-images.githubusercontent.com/31468018/194697462-e6d7591d-e908-4a13-b104-a66c356d3991.png)

[2022-10-08 08:36] 1450793561 opened #6813 "How to configure a management server cluster?"
How to configure a management server cluster?What configuration items need to be modified?

I modified the following configuration to open the current node port 8080 no page

[code]

[2022-10-08 09:15] 1450793561 opened #6814 "Clean up mounted NFS mount points used in current session"
After the service restarts, an Error message is displayed in the log .The page won't open

2022-10-08 17:11:31,623 DEBUG [C.c.U.c.dencryptionutil] (main:null) (logid:) Error while decrypting: true
2022-10-08 17:11:31,625 INFO [o.a.c.s.NfsMountManager] (main:null) (logid:) Clean up mounted NFS mount points used in current session"

[2022-10-08 11:59] weizhouapache commented on #6813
@1450793561
the file can be generated by command `cloudstack-setup-databases` on management server.
see http://docs.cloudstack.apache.org/en/latest/installguide/management-server/#install-the-database-on-the-management-server-node

[2022-10-09 01:51] 1450793561 commented on #6813
Do you mean that the following initialization command should be executed on the standby server?

cloudstack-setup-databases cloud:@localhost [ --deploy-as=root: | --schema-only ] -e -m -k -i

[2022-10-09 01:51] 1450793561 commented on #6813
@weizhouapache
Do you mean that the following initialization command should be executed on the standby server?

cloudstack-setup-databases cloud:@localhost [ --deploy-as=root: | --schema-only ] -e -m -k -i

[2022-10-09 08:10] SakshiT25 commented on #5686
Hi, I'm interested in working on this issue Kindly guide me for the further steps.

[2022-10-09 08:11] SakshiT25 commented on #4874
Hi, I'm interested in working on this issue. Kindly guide me for the further steps.

[2022-10-09 08:12] SakshiT25 commented on #6798
Hi, I'm interested in working on this issue. Kindly guide me for the further steps.

[2022-10-09 08:23] 1450793561 opened #6815 "Failed to upload the ssl certificate. Procedure，version 4.17.1"
upload the ssl certificate 530 error，

![微信图片_20221009162026](https://user-images.githubusercontent.com/31468018/194745958-d6194e55-aa55-4e66-8ec7-b898b7ce7aad.png)

log info following
![微信图片_20221009162326](https://user-images.githubusercontent.com/31468018/194746032-1e70684d-daf2-4c65-877f-73f324079d8b.png)

[2022-10-09 08:27] weizhouapache commented on #6813
@1450793561
if you run the command without ` --deploy-as=root:`, it will just generate the db.properties on the server.
database will not be touched.

this is very useful for extra management servers.

[2022-10-09 09:52] #6673 closed

[2022-10-09 18:10] nvazquez commented on #6814
Hi @1450793561 can you share the full management server logs after restarting the service?

[2022-10-09 18:13] nvazquez commented on #6815
Hi @1450793561 can you try the same operation via API using cloudmonkey for example?

[2022-10-10 07:25] weizhouapache commented on #6815
@1450793561
it looks you uploaded a ssl certificate for a user. ( it looks like an issue anyway)

if you want to upload ssl ceritificares for SSVM and CPVM, please navigate to Infrastrcture -> Summary -> SSL Certificates, a dialog will pop up like below
![image](https://user-images.githubusercontent.com/57355700/194816202-086081f0-b3c0-422f-b73b-cd38fa6621f9.png)

[2022-10-10 11:14] austinuMyaccount opened #6816 "How to configer advanced zones with version 4.13.1"
##### ISSUE TYPE

 * Documentation Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

advanced networking

##### OS / ENVIRONMENT

vmware CentOS 7

##### SUMMARY

##### STEPS TO REPRODUCE

how to create a useful  advanced zone ,that mean to be how to design an advanced networking.

[code]

##### EXPECTED RESULTS

~~
for example, physical machine has an sta

[2022-10-10 15:33] s-seitz commented on #6810
As a wild guess, I don't think, the IP is getting truncated. I'ld assume, you defined 10.200.1/24, so .1 is picked as default gateway and .2 is the first free IP picked for the first VM.

[2022-10-10 19:40] DaanHoogland commented on #6789
@1450793561 the cidr 0.0.0.0/16 would mean all adresses starting with 0.0... this is not a sensible cidr for this setting. Use 0.0.0.0/0 or when you have such a cidr for  them it would look like a.b.c.d/32 or f.g.h.0/24

[2022-10-11 05:40] 1450793561 commented on #6815
@weizhouapache thanks，i find this， Infrastrcture -> Summary -> SSL Certificates

[2022-10-11 06:18] 1450793561 commented on #6815
@weizhouapache in 4.17 version，to register an iso image, do I have to upload ssl ceritificares for SSVM and CPVM?

[2022-10-11 06:22] weizhouapache commented on #6815
@1450793561
if you register template or iso from a URL, ssl certificate is not required.

if you upload template or iso from local machine, ssl certificate is required. you need to configure other settings as well.
please refer to https://www.shapeblue.com/securing-cloudstack-4-11-with-https-tls/

[2022-10-11 06:40] austinuMyaccount opened #6818 "How to configer advanced zones with cloudstack version 4.13.1, vmware 16"
##### ISSUE TYPE

 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

advanced networking

##### OS / ENVIRONMENT

vmware 16 CentOS 7

##### SUMMARY

how to create a useful advanced zone ,that mean to be how to design an advanced networking.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2022-10-11 06:41] 1450793561 commented on #6813
thanks,is over done.

[2022-10-11 06:41] austinuMyaccount commented on #6816
i sure it's follow the issue template

[2022-10-11 06:42] austinuMyaccount commented on #6816
i sure it's follow the issue template!

[2022-10-11 06:49] #6813 closed

[2022-10-11 06:51] 1450793561 commented on #6815
Now I'm just uploading iso from the url with the error message below.
"Connection refused (Connection refused)"
"secstorage.allowed.internal.sites" this parameter has been modified 10.10.0.0/16,but still this mistake
![微信图片_20221011145037](https://user-images.githubusercontent.com/31468018/195016435-a0e7c8f3-3c24-4aa7-980a-662d34755903.png)

[2022-10-11 06:54] weizhouapache commented on #6815
@1450793561
two questions
1. is your webserver in the network 10.10.0.0/16 ?
2. Have you restarted mgmt server and SSVM after your change ?

[2022-10-11 08:12] DaanHoogland commented on #6805
and is only extra logging needed, or should/can we make the dismount more intelligent?
BTW this is true for more storage/network/hypervisorguru operations.

[2022-10-11 08:50] DaanHoogland opened #6819 "Config.java contains a lot of ConfigKeys that are no longer referred to"
##### ISSUE TYPE

 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2022-10-11 09:34] levindecaro opened #6820 "Unknown parameters : projectid during scale up VM by project admin/user in 4.17.1"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

kvm
SharedMountPoint (CephFS)

##### OS / ENVIRONMENT

CentOS Linux release 7.9.2009 (Core) 3.10.0-1160.45.1.el7.x86_64
libvirt-4.5.0-36.el7_9.5.x86_64
qemu-kvm-ev-2.12.0-44.1.el7_8.1.x86_64
qemu-img-ev-2.12.0-44.1.el7_8.1.x86_64
qemu-kvm-common-ev-2.12.0-44.1.el7_8.1.x86_64
libvir

[2022-10-11 09:42] 1450793561 commented on #6814
@nvazquez

I have restarted the manager server several times, but occasionally this error will be reported. When I restart the Manager server again, no error will be reported.
Does this error have something to do with my use of independent nfs server? Please check the official document to see that this should be uninstalled before adding zone

-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --

[2022-10-11 09:52] slavkap commented on #6805
@DaanHoogland, yes, I will prepare a PR that removes the logging to a StorPool's file when CS invokes our functionality, and it's not related to a StorPool storage

[2022-10-11 09:57] 1450793561 commented on #6815
@weizhouapache
In version 4.15, after modify the parameter "secstorage. Charges of.internal. Sites," from the url registration iso is no problem.

 In version 4.17, after modify the parameter "secstorage. Charges of.internal. Sites," from the url registration iso has the problem

[2022-10-11 10:12] nvazquez commented on #6814
Thanks @1450793561 the problem in this case comes from `2022-10-11 17:30:33,439 ERROR [c.c.c.ClusterManagerImpl] (main:null) (logid:) Detected that another management node with the same IP 10.10.10.5 is already running, please check your cluster configuration`, can you please share the output of `select * from mshost`? It seems like there are duplicate entries affecting the startup

[2022-10-11 10:13] zap51 opened #6821 "Unable to list all Public IP Addresses from account with ROOT ADMIN role"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
##### SUMMARY

We have several zones with Public IP Addresses.
Listing all Public IP Addresses on both WebUI and API produces

[code]

On WebUI

![image](https://user-images.githubusercontent.com/45934027/195062345-60a83c37-2d0d-4f95-b855-d4d1

[2022-10-11 10:19] rohityadavcloud commented on #6701
Thanks @mik-allen for reporting, I'm able to consistently reproduce this as normal user account in a KVM env (I think this is hypervisor agnostic):

1. Deploy a VM using a small offering and stop it.

2. Scale the VM with the option to auto-migrate:
<img width="1116" alt="Screenshot 2022-10-11 at 3 45 10 PM" src="https://user-images.githubusercontent.com/95203/195064697-4aab16ea-46b6-44b1-bc97-c86

[2022-10-11 10:26] rohityadavcloud commented on #6821
@zap51 does it fix if you add `-Djava.util.Arrays.useLegacyMergeSort=true` in the JAVA_OPTS on /etc/default/cloudstack-management and restart mgmt server?

[2022-10-11 10:38] weizhouapache commented on #6820
this looks same as #6701

[2022-10-11 10:40] weizhouapache commented on #6815
@1450793561
that's a bit strange.
can you answer my previous questions ?

[2022-10-11 11:13] levindecaro commented on #6804
@DaanHoogland

At this moment, the impact of this issue in my environment can be discarded, since it just delete something dosen't exist. The user can proceed the deletion by 2nd retry.

However, I will observe this problem will be more serious for same upgrade path when "snapshot.backup.to.secondary=false". ACS likely can't delete the invalid path volume snapshot and left the primarystorage incon

[2022-10-11 11:23] zap51 commented on #6821
@rohityadavcloud Thanks, I'd updated this on one of the our management servers, I'm now able to list Public IP Addresses. But, as soon as I toggle "Projects" button on WebUI, it throws "undefined" when navigated to 4th page with pagesize 20.

![image](https://user-images.githubusercontent.com/45934027/195076838-b22d8fda-8480-4bda-a2f2-e5cf37b6364a.png)

Similarly, on the API with Projects, throws

[2022-10-11 11:29] weizhouapache commented on #6821
any error in management servef log ?

[2022-10-11 11:43] zap51 commented on #6821
Here's the log on `/var/log/cloudstack/management/management-server.log`

[code]

And at `/var/log/cloudstack/management/apilog.log`

```INFO  [a.c.c.a.ApiServlet] (qtp169663597-333:ctx-6acb5316 ctx-7c4e6ad3 ctx-0c473dd9) (logid:00d64382) (userId=1352 accountId=1922 sessionId=null) <--redacted--> -- GET apiKey=XXX&command=listPublicIpAddresses&listall=true&projectid=-1&response=json&signature=mRUs

[2022-10-11 11:46] nvazquez commented on #6816
@austinuMyaccount I'm closing this one in favour of #6818

[2022-10-11 11:46] #6816 closed

[2022-10-11 11:55] DaanHoogland commented on #5686
@SakshiT25 if you feel confident just create a PR and mention this issue with a line like
[code]
If you want to learn about the project first, go through https://github.com/shapeblue/hackerbook
I can assign the issue to you if you say so.

[2022-10-11 11:56] DaanHoogland commented on #4874
@SakshiT25 please see my reply in https://github.com/apache/cloudstack/issues/5686#issuecomment-1274565162

[2022-10-11 12:01] DaanHoogland commented on #6798
@Rubueno your request makes sense, and maybe this option should be named `forceMark`, `markDeleted` or just `mark`. It is forcing the marking as deleted in the DB and doesn´t force anything on the backend.

[2022-10-11 12:58] GutoVeronezi commented on #6804
@levindecaro @DaanHoogland

When taking a snapshot with ACS prior to 4.17, it would set the snapshot path as `disk.getPath() + File.separator + snapshotName`. Then, when deleting the snapshot, ACS would use the `disk path` and the `snapshot name` to call the script `managesnapshot` (which calls `$qemu_img snapshot -l $disk |tail -n +3|awk '{print $1}'|xargs -I {} $qemu_img snapshot -d {} $disk >&2

[2022-10-11 17:20] nvazquez commented on #6804
Hi guys, just 2 cents on this issue - I could also reproduce it using NFS storage and qemu-kvm packages instead of qemu-kvm-ev after upgrading from 4.16.1.1:

First attempt:
[code]

Second attempt:
[code]

[2022-10-12 03:49] 1450793561 commented on #6815
@nvazquez
It's weird, me to

1.firsh question is yes
2.sercord question is yes，restarted mgmt server after my change

[2022-10-12 05:19] zap51 commented on #6821
@weizhouapache

Here's the output of the query. Some information is redacted FYI.

[code]

Thanks

[2022-10-12 05:44] 1450793561 opened #6823 "public.ip.addresses of guestnetwork conflicts with an existing address"
The address assigned to the guestnetwork conflicts with an existing address.
following pic

![微信图片_20221012133940](https://user-images.githubusercontent.com/31468018/195259720-15fa2701-a51a-47f8-b32e-328126264f1c.png)

[2022-10-12 05:55] weizhouapache commented on #6823
What do these ips have conflict with ?

Anyway, these ips are added by you , when you create the zone.

[2022-10-12 06:06] 1450793561 commented on #6823
@weizhouapache
These ip addresses conflict with other existing server ip addresses. Before cloudstack is built, there are many servers, such as 10.10.10.98 in the screenshot. I can ping this address, but guestnetwork still considers this address to be assignable

I know that when creating a zone, you need to fill in the guest network range. I fill in 10.10.10.10-10.10.10.200

 In other words, when

[2022-10-12 07:45] weizhouapache commented on #6823
@1450793561

right. when you create the zone, you should make sure that the ips do not have conflict

- host ips
- pod start/end ips (used by cloudstack system vms)
- public ips
- guest network ips

[2022-10-12 07:54] weizhouapache commented on #6821
the two ips are used by vpcs (ids are 248, 230) as source nat IP in a deleted project (id=299). it should not happen.

if the vpcs have been removed as well, a workaround is, update the ip to free state by manual db changes (please backup your database/table).

update user_ip_address set account_id=NULL,domain_id=NULL,source_nat=0,allocated=NULL,one_to_one_nat=0,vm_id=NULL,state='Free',vpc_id=NULL

[2022-10-12 08:55] #6764 closed

[2022-10-12 11:16] weizhouapache commented on #6821
@zap51
in this case, you should not execute the queries I mentioned in previous comment.

you can try to restore the project and account to normal state.

update projects set removed=NULL where id=299;
update account set removed=NULL where id=1265;

[2022-10-12 12:01] Jehan-h20220012 commented on #6695
Hello @DaanHoogland I want to get in touch with someone regarding this issue, can you please share any contact if possible?

[2022-10-12 12:13] soreana commented on #6695
@Jehan-h20220012 You can contact me or @kriegsmanj

[2022-10-12 12:23] aarushisoni commented on #6702
I have a doubt regarding this issue . I am doing it for my college open
source project . I studies this link material that you provided can you
please guide me how to setup environment to solve this issue .

On Thu, Sep 8, 2022 at 2:00 PM Abhishek Kumar ***@***.***>
wrote:

[2022-10-12 12:53] rohityadavcloud commented on #6702
Hi @aarushisoni unfortunately we can't offer a tutorial or mentoring programme for you. You can learn on your own [0] using the hackerbook self-study material which has chapters on how to get started with CloudStack and setup build/test environment; join the dev mailing list [1] and contribute to the project [2][3]. It may be worth picking one specific task, rather a large group to issues/tasks to

[2022-10-12 12:54] rohityadavcloud commented on #6702
@Hudratronium this could be a non-issue and ignorable, do you have redundant routers on your VPC?

[2022-10-12 18:24] zap51 commented on #6821
Thanks,
    I tried the set of queries. Now I see I'm able to get into the details of the domain, however not visible on the WebUI though. I'm trying to clean up the entire domain and releasing all resources under it, but no success. I also see that the account has `cleanup_needed=1`

[code]

Please suggest to remove all the resources under these domain and hopefully the account.

Thanks

[2022-10-12 20:49] kohrar commented on #6795
@nvazquez Thanks for the PR. I've tested it and the volumes now show up in the dropdown as expected.

[2022-10-12 21:26] Hudratronium commented on #6702
@rohityadavcloud
Yes, it's  redundant setup. Both routers displaying the same message.

[2022-10-12 22:58] aarushisoni commented on #6702
Hi is there any slack group for discussion?
I have windows is it compulsory to have ubuntu?

On Wed, Oct 12, 2022 at 6:23 PM Rohit Yadav ***@***.***>
wrote:

[2022-10-13 03:18] 1450793561 commented on #6823
What you said above is clear, but now my question is whether the scope of guest network can include existing ip?

Please see the screenshot below. The ip address assigned to the virtual machine is 10.10.10.68, but 10.10.10.68 already exists on this network segment

![微信图片_20221013111408](https://user-images.githubusercontent.com/31468018/195491080-ae5522a1-6f30-49ef-8b9b-e4e540303522.png)

![微信图片_

[2022-10-13 06:14] weizhouapache commented on #6823
@1450793561
is the vm on the network ? if yes, this s expected behavior.

when you create a vm on a Shared network, management server will choose an IP in the network Ip range and assign IP to the VM.

[2022-10-13 06:35] 1450793561 commented on #6814
@nvazquez

![微信图片_20221013143226](https://user-images.githubusercontent.com/31468018/195519720-cf6fa521-8c14-4906-9c78-ee5b3ad5e3bc.png)

![微信图片_20221013143234](https://user-images.githubusercontent.com/31468018/195519787-ab768e0b-9df9-410b-9a3c-27518ebd8437.png)

[2022-10-13 06:57] DaanHoogland commented on #6795
fixed by #6824

[2022-10-13 06:57] #6795 closed

[2022-10-13 06:59] 1450793561 commented on #6823
@weizhouapache
For example, the ip address of manager server is 10.10.10.68, and the range of guest network configured during zone createion is 10.10.10.50-10.10.10.100. Is it possible that I assigned ip 10.10.10.68 when I created the vm

[2022-10-13 07:04] rohityadavcloud commented on #6702
@Hudratronium if those are redundant VPC VRs - it's expected and ignorable message if you don't have any VPC tiers that are implemented (i.e. VMs on the tiers or no tiers added).

[2022-10-13 07:51] 1450793561 commented on #6823
ip conflicts are not checked

[2022-10-13 07:54] weizhouapache commented on #6823
@1450793561
if the vmip is specified when you create the vm, mgmt server will check if the vmip is available and assign to vm if ip is free.
if vmip is not specified, mgmt server will choose a random IP.

mgmt server checks the vlan and guest IP ranges, but does not check if the guest IPs have conflict with IPs for other use (management server, hosts, etc).

you should have a better network plan.

[2022-10-13 08:39] 1450793561 commented on #6823
### if vmip is not specified, mgmt server will choose a random IP

[2022-10-13 08:40] gitsan13 commented on #6703
thank you @DaanHoogland for extending help. Can you guide me please through the process?
What all resources are going to be required in making the required changes?

[2022-10-13 08:46] 1450793561 commented on #6823
### The above is just an example to say that manager server is 10.10.10.68.may be zhe ip 10.10.10.68 is another service that is already running,In this case, the ip that's assigned to the vm could also be this, right?

[2022-10-13 08:57] xuanyuanaosheng opened #6826 "The System VMs Agent state is not Up after upgrade to CloudStack 4.17.1.0"
#### ISSUE TYPE

 * Other

#### COMPONENT NAME
* System VMs

##### CLOUDSTACK VERSION
* CloudStack 4.17.1.0

##### OS / ENVIRONMENT
[code]

##### SUMMARY
The System VMs Agent state is not Up after upgrade from 4.15.2.0 to CloudStack 4.17.1.0

##### STEPS TO REPRODUCE
we using the doc as below:
[upgrade the cloudstack ](http://docs.cloudstack.apache.org/en/latest/upgrading/upgrade/upgrade-4.15.html

[2022-10-13 09:23] 1450793561 commented on #6789
@weizhouapache

in version 4.15.2.0,changed the parameter 'secstorage.allowed.internal.sites' be 0.0.0.0/0,register iso You'll see the download progress immediately
![微信图片_20221013171925](https://user-images.githubusercontent.com/31468018/195557318-61ed5b07-6203-4432-bdb9-0fac58b05b9a.png)

[2022-10-13 09:24] weizhouapache commented on #6823
of course. if you add network with 10.10.10.50-10.10.10.100, the ip 10.10.10.68 might be assigned to a vm.
if you add another network with same vlan and ip range to cloudstack, it will fail. cloudstack has the check.
if you use an Ip in guest ip range for other use, it is out of cloudstack's control. this should be avoided.
once again, you should have a better network plan.

[2022-10-13 09:25] DaanHoogland commented on #6703
@gitsan13 I can give you some pointers. If you are asking for the resources required you are not very familiar with cloudstack so you would probably first want to go through the hackerbook : https://github.com/shapeblue/hackerbook
in hardware terms a beefy laptop for development on the simulator should do.

[2022-10-13 09:34] weizhouapache commented on #6789
@1450793561
if you can open the console of Secondary Storage VM of 4.17.1.0, can you share the screenshots of following commands ?

# wget http://xxxxxx.iso
# ip route

[2022-10-13 10:51] rohityadavcloud commented on #6820
cc @shwstppr @harikrishna-patnala

[2022-10-13 10:52] nvazquez commented on #6814
@1450793561 looks like the state column is Down for the mshost record, that may cause the issue. Do you see the state flipping between Up and Down on each service restart?

[2022-10-13 10:56] Jehan-h20220012 commented on #6695
Please connect on linkedin @soreana

[2022-10-13 10:58] Hudratronium commented on #6702
@rohityadavcloud
The VPC has several Tiers as well as a bunch of VMs running 'inside'.

[2022-10-13 11:00] Jehan-h20220012 commented on #6695
I am a little naive with working with libvirt domain XML, so regarding this feature enhancement can any of you please guide and tell me about the golbal settings where I have to Enable/Disable the metadata and also do I need to clone entire thing in my system for the same?
@kriegsmanj @soreana

[2022-10-13 16:02] DaanHoogland commented on #6754
@rohityadavcloud , I finally got around testing this on 4.14 and admin is not allowed to deploy on the user's VPC. I also created a second root admin account which also couldn´t deploy to the users vpc.

Do you want to convert this to a feature request?

[2022-10-13 17:57] rohityadavcloud commented on #6754
Thanks @DaanHoogland - sounds like this has been a historic limitation then and not a bug. Adding enhancement label to the issue. I think if it's a quick fix then let's do it, as while admin may not be (now) allowed to deploy VM, they're otherwise allowed to do many more operations (incl. acl configuration, stop/start/destroy VMs etc.)

[2022-10-14 01:56] #6815 closed

[2022-10-14 03:23] nxsbi opened #6827 "Zero size recurring snapshots piling up after server is shutdown"
Snapshot taking process should follow the following logic:

1. If there are zero snapshots but there is a recurring schedule set, then it should still take the first snapshot for completion sake (regardless of whether Volume is detached or attached to a VM which is running or stopped).
2. If there are existing snapshots, and the VM was up after the last snapshot, then take a snapshot (regardless o

[2022-10-14 06:40] #6823 closed

[2022-10-14 07:19] weizhouapache commented on #6815
@1450793561
I notice you have closed the issue. is the issue fixed ?

[2022-10-14 07:23] soreana commented on #6695
I couldn't find you on LinkedIn :-)
Can you please send me a request to connect? https://www.linkedin.com/in/sina-kashipazha/

[2022-10-14 07:27] Jehan-h20220012 commented on #6695
@soreana Sure!

[2022-10-14 08:30] fermosan opened #6828 "Console Proxy - No authorization to connect"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced Networking
No SSL

##### OS / ENVIRONMENT

UBUNTU 22.04 / KVM

##### SUMMARY

running a clean install on current 4.18 tree looks like something is not working in consoleproxy.
(noVNC and classic as well)

An identical 4.17 environment works fine.

##### STEPS TO REPRODUCE

[2022-10-14 08:31] fermosan commented on #6828
@nvazquez
As @weizhouapache  mentioned in Dev Mailing list maybe related to: @6577

[2022-10-14 08:34] 1450793561 commented on #6789
@weizhouapache

It's really strange, I just tried to register iso successfully, the same operation steps

[2022-10-14 09:23] DaanHoogland commented on #6826
@xuanyuanaosheng ,
first one question; you mention you used the upgrade guide from 4.15.x, but your rpm output above show only 4.17.0.1 and 4.17.1.0. Which upgrade did you perform?
Then about the issue. If all features function ok, I don´t think the state display is a problem. You can destroy and systemvm that doesn´t show a good status and wait for a new one to come up again. That should remove t

[2022-10-14 09:50] DaanHoogland commented on #6827
@nxsbi , this sounds like a valid enhancement request. as I understand it you want:
a snapshot schedule to start by checking if the volume is attached to a vm that runs. If not abandon.

[2022-10-14 11:00] nvazquez commented on #6828
Hi @fermosan can you share the `/var/log/cloud.log` file from your CPVM?

[2022-10-14 11:07] fermosan commented on #6828
[cloud.log](https://github.com/apache/cloudstack/files/9785441/cloud.log)

@nvazquez There you are

[2022-10-14 11:19] nvazquez commented on #6828
Thanks @fermosan, quick question in case you have not regenerated your system VMs can you please do (at least for CPVM in this case)? I see from the stack trace that it may not be using the latest code

[2022-10-14 13:45] nvazquez commented on #6828
@fermosan I think the code running on your CPVM does not contain the latest changes. I have checked the following in your logs:

[code]

Both lines 528 and 562 point to closing brackets on the latest main branch code:
https://github.com/apache/cloudstack/blob/main/services/console-proxy/server/src/main/java/com/cloud/consoleproxy/ConsoleProxy.java#L528

https://github.com/apache/cloudstack/blob/ma

[2022-10-14 19:40] nxsbi commented on #6827
@DaanHoogland  - Thanks for the quick reply -- In general, yes, but adding detail to how I see it should work:

Snapshot taking process should follow the following logic:

1. If there are zero snapshots but there is a recurring schedule set, then it should still take the first snapshot for completion sake (regardless if server is up or down or the Volume is detached).
2. If there are existing snap

[2022-10-15 15:02] DaanHoogland commented on #6827
@nxsbi you must mean the VM by server, right? I think it is to much administration to record which host and when the VM was running on.
Your request seems mostly solid otherwise. I'll redact the `server` to `VM` and add it to the description above.
There is one case missing though: what if there is a volume with snapshots that is not attached to a VM? One can not determine in this case to which VM

[2022-10-15 15:10] nxsbi commented on #6827
@DaanHoogland  - By Server/VM I mean the Instance.

Your question about what if the volume is detached - there is now way to know when it was detached or if vm was running -- I think in that case, there should be snapshot taken as per schedule. In this case since it cannot be guaranteed whether there was a change or not, then take snapshot - this could result in zero snapshot size. I don't know if

[2022-10-15 20:03] fermosan commented on #6828
@nvazquez  Hello. Branch is rebased with main (as you can see in https://github.com/apache/cloudstack/pull/6550
Existing VMs deleted.
Commit hash for main i am using: [289a43f]
Still consoles do not fire up with the same issue.

[2022-10-16 04:07] nvazquez commented on #6828
Thanks @fermosan I think the issue is the agent.zip and cloud-scripts.tgz files are not up to date, these files replace the previous systemvm.iso. Those are located on the KVM hosts at `/usr/share/cloudstack-common/vms/`. Can you regenerate them by building cloudstack with the `-P systemvm` option? The new files will be located on `<CS_DIR>/systemvm/dist` and would need to be copied to the KVM hos

[2022-10-16 08:25] fermosan commented on #6828
@nvazquez You nailed it. Consoles are working again. Thanks so much. I am closing this.

[2022-10-16 08:25] #6828 closed

[2022-10-16 16:55] Jehan-h20220012 commented on #6695
@soreana I have sent you message since two days, please reply me!
Looking forward for your responce.

[2022-10-17 07:01] zap51 commented on #6821
@weizhouapache Please suggest a method to clean up the resources under this account. Thank you!

[2022-10-17 07:08] weizhouapache commented on #6821
@zap51
I do not the exact state of your project, network, etc.
do you need the project ? if not, just update the `removed` field in the table above, cloudstack will try to clean the project in backend.

update account set removed=now() where id=1265;

[2022-10-17 08:03] #5891 closed

[2022-10-17 10:15] DaanHoogland opened #6830 "travis job 9 start showing intermetted failures recently"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2022-10-17 10:30] xuanyuanaosheng opened #6831 "Please display System VMs's Template version like Virtual routers"
##### ISSUE TYPE

 * Improvement Request

![image](https://user-images.githubusercontent.com/4197714/196155321-839a2793-8b00-4311-b1ca-fd9651eeee35.png)

[2022-10-17 10:32] weizhouapache commented on #6830
I noticed this issue few years ago.
sometimes travis works, sometimes not with error
[code]

I have no idea why the test is executed twice. The second time we got the exception.

[2022-10-17 20:55] nvazquez commented on #6828
Great news, thanks @fermosan

[2022-10-18 02:57] xuanyuanaosheng commented on #6826
@DaanHoogland
we upgrade CloudStack from version 4.15.2.0 to  4.17.1.0 .

@slavkap
The status of the secondary storage of the problematic cluster:
The second storage is using nfs:
![image](https://user-images.githubusercontent.com/4197714/196322766-4edcdd79-9d69-4a9f-888c-5913a943f6a8.png)

[code]

And the directory of the storage system virtual machine is empty:
![image](https://user-images.githu

[2022-10-18 07:45] weizhouapache commented on #6826
@xuanyuanaosheng
can you share the content of `/etc/cloudstack-release` in systemvm ?

When you upgrade cloudstack-management using official packages, a new systemvm template will be registered automatically.
Please check if there is a new systemvm template for 4.17.1.0 and it has been downloaded to all secondary storages.

[2022-10-18 08:26] xuanyuanaosheng commented on #6826
@DaanHoogland @weizhouapache @slavkap
The systemvm version is 4.16.1.
[code]
![image](https://user-images.githubusercontent.com/4197714/196375787-0a03557b-f9f4-49f2-949e-9a3f3ce73418.png)

I have do as below steps in cloudstack management node:
1.  download: systemvmtemplate-4.17.0-kvm.qcow2.bz2
2.  mount second storage node to management node:
[code]
3.  /usr/share/cloudstack-common/scripts/stora

[2022-10-18 08:32] weizhouapache opened #6834 "VR reply packets - interface mismatch (VPC load balancer)"
This is similar as #6615 but different

Steps to reproduce the issue

- Advanced networking with at least 2 public ranges
- Create a VPC, VPC tier and a VM
- Acquire a public IP in different public range as VPC Source NAT IP
- Create Load balancer rule and add the VM to the load balancer rule (port 22)

ssh to the VM using public IP from another server (for example mgmt server)

The request and re

[2022-10-18 15:50] whitetiger264 opened #6836 "Volume Snapshots Failing After 3600 Seconds"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
* Storage & KVM

##### CLOUDSTACK VERSION
* 4.17.0.1

##### CONFIGURATION
- 1 X Management Server that hosts /primary & /secondary storage.
- 1 X KVM Server.
- Advanced Network - Default Security Group.

##### OS / ENVIRONMENT
Both Management & KVM run Almalinux 8

##### SUMMARY
- Making manual or recurring volume snapshots fails and times out a

[2022-10-18 17:20] nvazquez commented on #6836
This might need to increase the timeout for the create snapshot command, but needs investigation on which is the correct configuration value to increase, initially 'wait' was proposed but had no effect

[2022-10-18 17:24] weizhouapache commented on #6836
@whitetiger264
as we have discussed, it looks "qemu-img convert" takes too long time, which exceeds 3600 seconds (1 hour).
There is no way to speed it up, as far as I know, unless you use faster cpu/memory and disk.

I think the only way to avoid the issue, is to increase the timeout.

I have suggested you to change `backup.snapshot.wait`, which you replied it does not work for you.
However it wor

[2022-10-18 17:32] whitetiger264 commented on #6836
@weizhouapache Sorry, I think there was a misunderstanding, the default value for `backup.snapshot.wait` is currently set to 21600 seconds, which is 6 hours. I do not think making it anymore would help with the timeout time as it continues to end at 3600 seconds, regardless.

[2022-10-18 18:24] whitetiger264 commented on #6836
What also puzzles me, is that there is one VM that works perfectly fine. The rest of my other VMs fails when making a volume snapshot while online.

For some reason **ONLY** this VM works fine:

[code]
[code]

Here we can see it was successful:

- https://tinyurl.com/2ksrvbaf

But for ALL other VMs I have, they seem to all fail but this one. And they are all from the same template, same CPU, same

[2022-10-18 18:33] whitetiger264 commented on #6836
Here's the `agent.log` for the successful volume snapshot for this one VM:

[code]

[2022-10-18 20:12] weizhouapache commented on #6836
@whitetiger264
From agent.log , it looks everything is ok . The wait in CopyCommand is 21600, and the script timeout is also 21600. If you check the snap directory on secondary storage, you may find the snapshots in snapshots/2/35

[code]

I agree with @nvazquez that the timeout 3600 is twice of `wait` in global configuration. I notice you have increased it from 1800 to 3600. Please restart clouds

[2022-10-18 21:41] Jehan-h20220012 commented on #6695
@DaanHoogland @soreana @kriegsmanj
I have few doubts about on by what way should I make the Enable/Disable toggle so that I can make the pull request.

[2022-10-19 06:34] whitetiger264 commented on #6836
@weizhouapache

I have already increased `wait` from 1800 to 3600 and restarted cloudstack-management service and when I ran the volume snapshot, it still fails and times out at 3600 seconds,  regardless. So the `wait` setting made no difference, unfortunately.

[2022-10-19 06:41] slavkap commented on #6836
Hello everyone,

@whitetiger264, can you share everything from the agent.log that contains `logid:917cdd39` from 2022-10-17? The snapshot copy

took a lot of time, and the CS mgmt timeout 2 minutes before the CS agent finished the coping

[2022-10-19 06:55] whitetiger264 commented on #6836
Hi @slavkap here you go:

[code]

This is from two different attempts on  2022-10-17.

[2022-10-19 07:14] whitetiger264 commented on #6836
I just realised now why only that one VM is working as expected and the rest are failing. There's no current activity on that VM happening and its volume site seems to be 5.9 MB as shown here:

[code]

[code]

I also want to add that my KVM server and Cloudstack Management server are connected via a public network, there's no LAN backlink between the two servers. So its transferred over the "inter

[2022-10-19 07:39] DaanHoogland commented on #6695
@Jehan-h20220012 you are looking to add a global setting. These are added to a service by adding a `ConfigKey<>`. In this case the place to add it would probably be the `KVMGuru`. Look in `VmwareGuru` for examples. Don´t forget to implement `getConfigComponentName()` and `getConfigKeys()`.

[2022-10-19 07:41] Jehan-h20220012 commented on #6695
@DaanHoogland Thank you so much for your response, I will definately look into it and revert you back.

[2022-10-19 09:51] whitetiger264 commented on #6836
I cleaned out the snapshot database tables, restarted MySQL, restarted cloudstack-management and tested a new volume snapshot today, and it still failed :(.

- https://tinyurl.com/2yug8exy

Here's a full 1-hour log from `agent.log` and `management-server.log` for this attempt:

`agent.log`: Too long to add here, please download from WeTransfer

- https://we.tl/t-W1ta0AQiCZ

`management-server.log`

[2022-10-19 10:25] slavkap commented on #6836
@whitetiger264, unfortunately, upgrading will not fix the issue. I've tested with CS 4.18.0.0-SNAPSHOT with a volume around 6G, and the copy took 16mins.

I'm not sure why the snapshot is created on the primary at first `/mnt/81ffca3a-9775-375d-a1c0-9504c0ec3d89/635fd5b5-bf14-4cf4-979c-be8a649d5189` and then copied again to primary in snapshots directory `/mnt/81ffca3a-9775-375d-a1c0-9504c0ec3d89/

[2022-10-19 10:32] whitetiger264 commented on #6836
@slavkap this is how I have my primary and secondary configured in CS Management:

- Primary: https://tinyurl.com/226u8kdn
- Secondary: https://tinyurl.com/25o8d839

We were helped by a tech with the initial setup and I couldn't understand why we have `/mnt/primary` and `/var/lib/libvirt/images` as primary. I always thought only /mnt/primary` was necessary. Could this maybe be the reason?

[2022-10-19 10:46] whitetiger264 commented on #6836
@slavkap Also, just so you are aware this ONLY Happens with volume snapshots, if I do a VM snapshot, it works 100% fine.

[2022-10-19 10:53] slavkap commented on #6836
@whitetiger264, the issue should not be related to the fact that you have two primary storage.
The VM snapshot is different from the volume snapshot. The VM snapshots are internal, and the volume snapshots are now created externally (you can see them on your filesystem)

[2022-10-19 10:56] whitetiger264 commented on #6836
@slavkap thank you, that makes some sense. We plan to implement Veeam backups but if volume snaps are failing, this will be a problem and at the moment we have zero backups, should the KVM crash for whatever reason. So this is kind of a major bug.

[2022-10-19 12:27] weizhouapache commented on #6836
@slavkap
this is a new way to create volume snapshot, introduced by #5297

@GutoVeronezi
can you please have a look at this issue ?

@whitetiger264
can you share your OS version, libvirt/QEMU version, and VM OS version ?

[2022-10-19 12:37] whitetiger264 commented on #6836
@weizhouapache sure here you go:

- Cloudstack Management Server: AlmaLinux release 8.6 (Sky Tiger)
- KVM Server: AlmaLinux release 8.6 (Sky Tiger)
- QEMU: QEMU emulator version 6.2.0 (qemu-kvm-6.2.0-11.module_el8.6.0+3259+f1e4044a.5)
- libvirt:
[code]
- VM OS Tested: Ubuntu 20.4 LTS & Multiple AlmaLinux v8.6 VMs failing.

[2022-10-19 12:41] DK101010 opened #6837 "system vms agent initialization goes wrong (main branch)"
For a couple of days, I tried to setup my dev environment and used for that the main branch. During the system vm initialization. I got a couple of errors.

**Environment:**
- VMware
- official system vm template 4.17

**Errors: **
- agent.zip, cloud-scripts.tgz, patch-sysvms.sh in /usr/share/cloudstack-common/vms are not there but Cloudstack need it (Development).
- id_rsa.cloud is created but Cl

[2022-10-19 12:47] slavkap commented on #6836
Thanks, @weizhouapache. I know about the PR, but there were a few changes after my review, and I didn't pay attention to the copy source and target directories. Also, I didn't do it with big volumes when I tested it.

[2022-10-19 14:14] nvazquez commented on #6836
To avoid the bottleneck on the file copy should we consider introducing a global setting for keeping internal or external snapshots? In this way we could have a way to avoid the file copy, what do you think? @slavkap @weizhouapache

[2022-10-19 16:20] DaanHoogland commented on #6834
@weizhouapache I tested with 4.17.1.0:
![image](https://user-images.githubusercontent.com/2486961/196748022-e12e93a1-192f-4acc-bcd0-4ccf452b9847.png)

[2022-10-19 17:03] weizhouapache commented on #6834
@DaanHoogland
did you ssh from the VR to the VM ?

[2022-10-19 19:13] DaanHoogland commented on #6834
no, from home to the vm

[2022-10-20 08:46] xuanyuanaosheng commented on #6826
@DaanHoogland @weizhouapache @slavkap Any idears?

[2022-10-20 09:56] weizhouapache commented on #6826
@xuanyuanaosheng
the script downloads the template to secondary storage and overwrite the last systemvm template.
but the references of the template on primary storage pools are not updated, which are save in `template_spool_ref` table
as a workaround, you can remove the records from `template_spool_ref` table (delete from template_spool_ref where template_id=xxxxxx). Please backup your database b

[2022-10-20 13:17] GutoVeronezi commented on #6836
Hello, @whitetiger264

KVM disk snapshots in ACS are divided in two processes: take the snapshot, and backup the snapshot to the secondary storage.

In ACS 4.17.0.0, a new way of taking disk snapshots for KVM was introduced (you can read the full specification in #5124). In this new process, a delta is created for the disk, the base file is copied to the snapshot directory in the primary storage `

[2022-10-20 13:23] whitetiger264 commented on #6836
Hi @GutoVeronezi

Thank you for the detailed explanation this makes sense. Yes, the MS and the KVM host are connected via the public network. The MS host is the primary & secondary storage and is connected via NFS at `/mnt/primary` & `/mnt/secondary`

On the KVM host, the uplink port set by the ISP is 1Gbps, however, on the MS server, the uplink port is 100 Mbps. However, keep in mind they are wit

[2022-10-20 14:28] GutoVeronezi commented on #6836
Thanks, @whitetiger264.

Could we make a test? **In the KVM host**, can we manually copy the disk `635fd5b5-bf14-4cf4-979c-be8a649d5189` (15G) to the snapshot directory and monitor the transference? We would manage this by executing the command `pv` (you may need install it):

[code]

Example in my lab:
![image](https://user-images.githubusercontent.com/38945620/196971679-3258e127-7f4e-4fa0-bebf-b

[2022-10-20 14:35] whitetiger264 commented on #6836
Hi @GutoVeronezi it's running as we speak:

![Desktop-screenshot](https://user-images.githubusercontent.com/16236376/196978490-e0ab790b-6c5d-4f4f-9ad2-1f502666f8ed.png)

Will provide an update once done.

[2022-10-20 14:52] nvazquez commented on #6836
Thanks @GutoVeronezi so in this case would be suitable to increase the 'wait' configuration to around 3-4hs? In the general case, this could be a problem for big volumes depending on the bandwidth. Is it feasible to let administrators switch between taking the full VM snapshot and the new process which does the copy?

[2022-10-20 16:57] slavkap commented on #6836
hi @GutoVeronezi, here're my results on the manual copy with the `pv` command

[code]

and manual snapshot with CS

in my case, the Files.copy() invokes [sun.nio.fs.UnixCopyFile.transfer(int, int, long)](https://github.com/AdoptOpenJDK/openjdk-jdk11/blob/master/src/java.base/unix/native/libnio/fs/UnixCopyFile.c#L53)

[2022-10-20 19:39] whitetiger264 commented on #6836
@weizhouapache as requested:

- Update `wait` in the global settings to 21600:

![Global-settings-CloudStack](https://user-images.githubusercontent.com/16236376/197038195-be22a587-26f8-4981-b7a2-6521ff3037eb.png)

- Restart mgmt server:

![Desktop-screenshot](https://user-images.githubusercontent.com/16236

- Take volume snapshot:

![Events-CloudStack](https://user-images.githubusercontent.com/162

[2022-10-20 20:23] GutoVeronezi commented on #6836
Thanks for the feedback, @whitetiger264.

Given your network setup, and considering some oscillation, it is expected transference of GBs to take a long time. However, as seen in @slavkap tests (https://github.com/apache/cloudstack/issues/6836#issuecomment-1285873500), `Files.copy` executed by ACS takes longer to transfer the data (in your case, around twice more). Therefore, we also have the `File

[2022-10-20 20:36] whitetiger264 commented on #6836
@GutoVeronezi

You're correct, my `job.cancel.threshold.minutes` is set to `60` minutes. I have increased it now to `120` minutes and restarted mgmnt server and started a new volume snapshot, I will provide an update once it's done.

In the meantime your commend "Given your network setup...", can you perhaps provide me with a recommended network setting as well as bandwidth? So that we can make th

[2022-10-20 22:29] whitetiger264 commented on #6836
So finally some good news, after updating `job.cancel.threshold.minutes` to `120` minutes, the volume snap completed successfully:

![Events-CloudStack](https://user-images.githubusercontent.com/16236376/197070842-06b55b74-0bc3-4b5e-b9f3-299c16ff8036.png)

However, it took 1 Hour and 42 Minutes, this is terrible. Does that mean I need to get more than 1 Gbps port speed on both KVM & MGMNT servers?

[2022-10-21 07:25] weizhouapache commented on #6836
@whitetiger264
good to know it !

You need a faster LAN port for internal traffic on your servers. 1Gbps is minimum and easy to get.

[2022-10-21 07:33] whitetiger264 commented on #6836
@weizhouapache

Alright, I will speak with the ISP in getting us a backlink port so that I can run NFS via LAN network. Sadly, however, I ran a few more volume snapshots and they timed out at 2 hours and failed again. I have now updated `job.cancel.threshold.minutes` to `420` = 7 hours based on this calculation from comment working on a 100GB base size: [#6836 Comment](https://github.com/apache/cl

[2022-10-21 09:33] levindecaro commented on #6836
@whitetiger264

I'm running into this issue for few weeks on random recurring snapshot fail, but manual snapshot are no problem, my average snapshot size are >200GB, same case increased whatever timeout value, it seems not honoured. Eg: I have a snapshot run at 3:00am, suppose finish by 5:30am.  My `wait`,`job.cancel.threshold.minutes` are set to `21600` sec. The job will report failure about 90mi

[2022-10-21 09:37] whitetiger264 commented on #6836
Hi @levindecaro

Thank you, I have noticed this too and found that the snap was still stored in the primary storage with the error in ACS. And after rebooting ACS, it would go from "Error" to "BackedUp". But I figured it was corrupted as it was completed partially.

[2022-10-21 09:40] whitetiger264 commented on #6836
Just a side question, what happens if a scheduled volume snapshot is executed and the client decides to reboot his VM? Would the job resume automatically again or hang?

[2022-10-21 09:43] weizhouapache commented on #6836
@levindecaro there are some other global configurations which might be related to the snapshotting.
can you increase `backup.snapshot.wait` and `copy.volume.wait` and retry ?

[2022-10-21 12:31] #6736 closed

[2022-10-21 12:32] StepBee commented on #6807
An update after further testing - i think the issue came with the update to Cloudstack Version 4.17.0.1

I found out i can create a VM with a custom offering and 2 vCPU
`virsh dumpxml <vmid>` shows:
`  <vcpu placement='static' current='2'>16</vcpu>
  <cputune>
    <shares>800</shares>
  </cputune>`

While the VM is running, i can scale the VM with the custom service offering to 4 vCPU, reboot the

[2022-10-21 12:41] DaanHoogland commented on #6807
@StepBee thanks for the report. I know some handling of the xml. I don´t know by head which these are though.
to sum up, and correct me if i am wrong:
- a vm created before 4.17.0.1 can be stopped but won´t start again in 4.17.01.
- a vm created in 4.17.0.1 stops and starts fine.
- ...

[2022-10-21 12:53] StepBee commented on #6807
@DaanHoogland i still could be totally wrong with my assumptions and i am missing something different, but thats the difference i see at the moment.

I didn't dare the stop the other VM, which is running on 8 vCPU and try to start the VM again - as it's a production VM.

Your summary is not quite correct.

- It looks like before 4.17.0.1 we could create VMs with custom constrained service offering

[2022-10-21 14:46] levindecaro commented on #6836
@weizhouapache

I had both aligned to 21600, tried already. I'm still testing one by one on each timeout, hopefully can sort out which param has effect for it. will there are some timer task clean up the snapshot job by garbage collection regardless the job timeout itself?

[2022-10-22 13:10] canghai908 opened #6842 "Virtual Routers system vm is no starting"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
Virtual Routers vm is no starting

##### CLOUDSTACK VERSION
OS:centos 7.9
cloudstack:4.17.0

##### CONFIGURATION

##### OS / ENVIRONMENT
CEPH 15.6
cloudstack:4.17.0
libvirt-4.5.0-36.el7_9.5.x86_64

##### SUMMARY
![image](https://user-images.githubusercontent.com/1450994/197340546-01534baf-9c16-4781-8738-39d32d26f65d.png)

##### STEPS TO REPRODUC

[2022-10-22 15:13] zap51 commented on #6821
@weizhouapache Had tried the above, but the resources are not released till now. Please suggest.

`cleanup_needed` is still `1` in the database.

Thanks

[2022-10-22 19:07] StepBee commented on #6807
I did additional tests with a Custom unconstrained service offering.

Custom Unconstrained Service Offering
- VM with 2 vCPU deploys and starts
- VM with 4 vCPUs fails with the issue mentioned above

Again i compared the XMLs (i was able to get the 4 vCPU XML by scaling a running 2 vCPU VM to 4 vCPU and not restarting the VM via cloudstack)

`virtsh dumpxml` of 2 vCPU Custom Unconstrained Service

[2022-10-22 19:22] StepBee commented on #6807
In addition i compared again a custom offering vs a fixed offering and maybe discovered the main difference at a different spot.

`virsh dumpxml` Custom constrained/unconstrained offering 4 vCPUs (`not` working):
[code]

and a little more down the same xml:

[code]

Compared with
`virsh dumpxml` fixed offering 4 vCPU (**working**):
[code]

and a little more down the same xml:

[code]

Notice how t

[2022-10-23 09:13] weizhouapache commented on #6842
@canghai908
are the systemvms running on same ceph storage pool ?

[2022-10-23 09:15] weizhouapache commented on #6821
@zap51
what resources need to be cleaned ?

[2022-10-23 09:18] zap51 commented on #6821
@weizhouapache
The VPC that is holding 1 public IP address.

[2022-10-23 10:58] weizhouapache commented on #6821
that's the only resource to be cleaned ? if yes, you can run the sql I mentioned before
`update user_ip_address set account_id=NULL,domain_id=NULL,source_nat=0,allocated=NULL,one_to_one_nat=0,vm_id=NULL,state='Free',vpc_id=NULL,network_id=NULL,dnat_vmip=NULL where id=xxx; `

[2022-10-23 15:10] zap51 commented on #6821
@weizhouapache @rohityadavcloud Thank you for your support. I've done the VR, VPC and VPC Isolated Network cleanup and able to list all Public IP Address without any issues. I'm closing this issue now.

[2022-10-23 15:10] #6821 closed

[2022-10-24 00:41] canghai908 commented on #6842
yes， the systemvms running on same ceph storage pool。

Wei Zhou ***@***.***> 于2022年10月23日周日 17:13写道：

[2022-10-24 06:49] weizhouapache commented on #6842
@canghai908
- check if cloudstack-agent and management have all been upgrade to same version (4.17.0)
- create a new network and check again ?

[2022-10-24 07:06] canghai908 commented on #6842
@weizhouapache cloudstack-agent and management are  same version (4.17.0).Now I update  cloudstack agent and management  to 4.17.1.0 the virtual routers system is work ok,but my some vm is hang like this.I don't know if it's cloudstack's problem or ceph's problem in the morning。

[2022-10-24 07:26] DaanHoogland commented on #6807
@StepBee , I think you are right, but I do not know how and where to fix this in cloudstack, yet. Thanks for the extensive investigation. It seems strange that a `topology` element would only be created for fixed offerings. If so this is the bug for sure.

[2022-10-24 07:44] xuanyuanaosheng commented on #6826
@DaanHoogland @weizhouapache @slavkap

The Second storage config is `nfs://10.26.246.10/image`
[code]

The path is `afd37f36-3775-49b7-bd1e-1af1c52cfe1c`

and the mysql `template_spool_ref` related to primary storage is `c3098158-93e3-40b1-a3e4-882c0f2a47b5` and `dea9fed0-a166-45f3-b4d9-39edc1744ff6`

I delete the record using:
[code]
 I delete record in `template_spool_ref`  and delete the system

[2022-10-24 08:17] weizhouapache commented on #6826
@xuanyuanaosheng
can you check if the vm_template_id of the vm_instance is 3 ?

select vm_template_id from vm_instance where id=27372;

[2022-10-24 08:43] xuanyuanaosheng commented on #6826
@weizhouapache The sql result is
![image](https://user-images.githubusercontent.com/4197714/197485472-dc7bd4b5-668a-43ef-a8e0-aac242123678.png)

[2022-10-24 08:48] weizhouapache commented on #6826
and more ?

select pool_id from volumes where instance_id=27372;
select * from template_spool_ref where template_id=3 and pool_id in (select pool_id from volumes where instance_id=27372);

[2022-10-24 08:55] xuanyuanaosheng commented on #6826
@weizhouapache

![image](https://user-images.githubusercontent.com/4197714/197487826-26b57acb-e445-48d3-b841-649e5102accb.png)

The result is empty:
![image](https://user-images.githubusercontent.com/4197714/197487987-d9f8d00f-f0ce-4273-b7ac-72cf0856177f.png)

[2022-10-24 09:05] canghai908 commented on #6842
@weizhouapache My problem solved！The problem is due to ceph's locks。look this article
 https://www.cnblogs.com/zphj1987/p/14155644.html

[2022-10-24 09:17] xuanyuanaosheng commented on #6826
@weizhouapache I restart the cloudstack-agent server and find some new info:

please search `afd37f36-3775-49b7-bd1e-1af1c52cfe1c` and `s-27557-VM`

![image](https://user-images.githubusercontent.com/4197714/197490658-e53b7057-9adf-49ab-89ac-b04ad0b179ff.png)

[management-server.log](https://github.com/apache/cloudstack/files/9850420/management-server.log)

[2022-10-24 09:21] DaanHoogland commented on #6834
@weizhouapache , reproduced and possible fix created.

[2022-10-24 09:31] weizhouapache commented on #6826
the file name on secondary storage is `c3098158-93e3-40b1-a3e4-882c0f2a47b5.qcow2` in database, but actual file name is `afd37f36-3775-49b7-bd1e-1af1c52cfe1c.qcow2`

select * from template_store_ref where template_id=3;

you may need to update `install_path` in the table.

[2022-10-24 09:35] xuanyuanaosheng commented on #6826
@weizhouapache
![image](https://user-images.githubusercontent.com/4197714/197496191-247f0b60-3034-4ed1-96b8-e2b31284c864.png)

[2022-10-24 09:55] xuanyuanaosheng commented on #6826
@DaanHoogland @weizhouapache @slavkap
It has worked as expected.
![image](https://user-images.githubusercontent.com/4197714/197499811-b3af8849-c06c-4dd4-977e-9cdd3a420333.png)

Thank you, and I will close this issue.

I think a new featue: Cloud you please add a button to update the system vm template manually ?

[2022-10-24 10:19] weizhouapache commented on #6826
@xuanyuanaosheng
I think the cloudstack release note has descibred how to register the new systemvm template.
(cloud-install-sys-tmplt is not recommended for existing platforms).
from 4.17, the systemvm templates have been bundled with the cloudstack-management package so users do not need to register new systemvm template. If needed, new systemvm template can still be registered
- register templa

[2022-10-24 10:22] weizhouapache commented on #6842
@canghai908 good !
thanks for update and sharing

for your question, maybe @wido can help.

[2022-10-24 12:44] wido commented on #6842
We should not want to disable exclusive-locking as this is an important feature of Ceph to prevent data corruption.

Who is holding the lock @canghai908 ? Why is another client locking this image on Ceph?

[2022-10-24 13:06] canghai908 commented on #6842
@wido the vm images on ceph.The image is locke by cloudstack computer node
![image](https://user-images.githubusercontent.com/1450994/197531433-2db42140-af4f-4209-be21-9291485c947b.png)
The reason for the lockup is due to network issues and unexpected restart of the vm hypervisor machine.
I rm the image lock
![image](https://user-images.githubusercontent.com/1450994/197532147-3a4b6160-f4bc-4385-8b

[2022-10-24 13:28] DaanHoogland commented on #6757
investigating:

- an empty vpc does not yield this error.
- an isolated network with only 1 vm doe not trigger the superfluent answers either…
- starting a vm in the tier of the vpc does not trigger it.

[2022-10-24 13:46] DaanHoogland commented on #6807
BTW and FYI your link above didn´t work. I hgad to manually copy it to a new browser tab ;|

[2022-10-24 14:00] soreana commented on #6701
@rohityadavcloud @weizhouapache @shwstppr @harikrishna-patnala
Any update on this? Is it in progress?
I'm willing to contribute if you need help.

[2022-10-24 15:59] ahmadamirahmadi007 opened #6847 "Create Template For Mikrotik With Cloud-Init Password Enable Feture"
##### ISSUE TYPE

 * Question
 * Feature Idea

##### COMPONENT NAME
Create Template With CloudStack And Cloud-init
##### CLOUDSTACK VERSION

CloudStack 4.17.1.0

##### CONFIGURATION

##### OS / ENVIRONMENT
ACS Distro" ubuntu 20
##### SUMMARY
I'm going to create a Mikrotik template in Cloudstack and I want to use CloudInit to set the parameters I need.
I did this via a script to configure the hostn

[2022-10-24 16:41] whitetiger264 commented on #6836
Hi Guys

Just another update, it seems the bottleneck was caused by my MGMNT server, which had a 100 Mbps bandwidth port. I have since upgraded it to 1 Gbps and now using the same `PV` test as mentioned in a comment [#6836](https://github.com/apache/cloudstack/issues/6836#issuecomment-1285646116), my transfer speeds increased from 7 MiB to 70 MiB and now that test that took about 30 minutes, now c

[2022-10-24 18:34] StepBee commented on #6807
@DaanHoogland thanks for the correction.

I tested the agent.properties setting, unfortunately without any change in results.
What makes it even harder to analyze, that i don't have this issue on our staging environment - i perfectly see the cpu topology in the xml on newly created VMs with custom service offering there and can run vms based on custom offerings and >2 vCPUs.

Production and stagin

[2022-10-24 19:19] StepBee commented on #6807
Just found the cause:
enable.dynamic.scale.vm = true

In our staging environment, this setting is set to "false".
I remember we activated this setting somewhere around the time when we did the update.

Whats **working**:
[code]
or
[code]
or
[code]
or
`using a VM template with disabled dynamic scaling`

Whats **not working**
[code]

So enabled dynamical scaling (in global settings AND service offer

[2022-10-25 03:11] xuanyuanaosheng commented on #6826
@weizhouapache  OK, Thanks

[2022-10-25 03:12] #6826 closed

[2022-10-25 07:03] DaanHoogland commented on #6847
@ahmadamirahmadi007 the password is sent to the password server for the VM. That would be running in the VR for it's network. It is than exposed to the VM via a service. It is not stored in the DB. after it is returned through the API, CloudStack forgets all about it.

[2022-10-25 07:25] DaanHoogland commented on #6807
@StepBee , first i am assuming you have the same qemu/libvirt versions in test and production. Which are those?
Not that I think it is in that. Given your description it sounds like a bug to me. I have no idea yet, what it is. It sound like the template being dynamic scaling enabled makes for some processing being skipped.

[2022-10-25 07:57] StepBee commented on #6807
@DaanHoogland just to avoid confusions, the issue with enabled dynamic scaling is the same for production and testing.

During the process of troubleshooting, i just discovered that i didn't see the issue in my test environment, because dynamic scaling was disabled there.

We are using
Ubuntu 20.04.4
Cloudstack Version 4.17.0.1
QEMU emulator version 4.2.1 (Debian 1:4.2-3ubuntu6.23)

[2022-10-25 08:20] ahmadamirahmadi007 commented on #6847
tnx

[2022-10-25 08:20] #6847 closed

[2022-10-25 08:32] DaanHoogland commented on #6798
@SakshiT25 are you picking this up?

[2022-10-25 08:43] weizhouapache commented on #6847
@ahmadamirahmadi007
fyi, you can put this script https://github.com/apache/cloudstack/blob/main/setup/bindir/cloud-set-guest-sshkey-password-userdata-configdrive.in in your template and make it auto-start.
It can get the VM password and VM userdata which are stored in CloudStack VR or ConfigDrive ISO.

[2022-10-25 08:46] weizhouapache commented on #6786
I confirm this issue exists in 4.18 as well

[2022-10-25 08:52] weizhouapache opened #6848 "VM memory usage is 99.9x% on XenServer/XCP-ng"
The VM memory usage is always 99.9x% on XenServer or XCP-ng

![image](https://user-images.githubusercontent.com/57355700/197729083-4337019c-4722-43f4-a8bc-531aa4d3ca4c.png)

The actual VM usage is not

![image](https://user-images.githubusercontent.com/57355700/197729355-9bf10c71-ab14-44ef-8491-88e283049c04.png)

Tested with
- XenServer 8.1
- XCP-ng 8.2
- CentOS 7 vm
- CentOS 8 vm

##### ISSUE TYP

[2022-10-25 08:53] weizhouapache commented on #6848
anyone has the same issue ?

[2022-10-25 09:10] weizhouapache opened #6849 "Load balancer counters are reset to 0 if there are load balancer changes"
CloudStack uses haproxy in VR to implement the load balancer feature. If there are any load balancer changes (add/remove VMs, add/remove rules, etc), the haproxy configuration will be regenerated and haproxy service in VR will be reloaded.

We've found an issue that counters are reset to 0 after haproxy reload, which is incorrect because the existing connections are remain alive.

Before haproxy r

[2022-10-25 09:13] weizhouapache commented on #6849
A possible solution for this
https://discourse.haproxy.org/t/stats-are-reset-to-0-after-haproxy-reload/8051/9

However, cloudstack VR 4.17.1.0/4.18.0 uses haproxy 2.2.9, which is too old.

[2022-10-25 09:44] wido commented on #6842
Was the VM running on that compute node before? Did it crash?

the exclusive lock should timeout after a couple of minutes after which you can start the VM on a different host.

[2022-10-25 11:20] edikevich commented on #6848
@weizhouapache Hi. I had same issue at previous job. We had XCP-NG 8.2. All VMs had 99% memory usage. VM were with and with out xen-tools

[2022-10-25 11:31] weizhouapache commented on #6848
@edikevich thanks for your reply.

Have you checked the value on XCP-ng Center or XenCenter ? I'd like to know it is an issue with cloudstack or xenserver/xcp-ng.

[2022-10-25 11:37] edikevich commented on #6848
@weizhouapache Sorry not now. I changed job) BUT! I remember that the values in XCP-ng Center ​​were correct.
I think this is CS issue.

[2022-10-25 14:22] wido commented on #6842
How long did you wait? And was the other node really down?

Because the exclusive lock should be handed over to another node if the old one goes down. If that doesn't happen Ceph blocks because there is a potential data corruption risk.

[2022-10-25 15:46] canghai908 commented on #6842
@wido

wait for 12 hours。other node really down by unexpected。

[2022-10-26 05:44] shwstppr commented on #6786
Problem is not with UI, `listVirtualMachinesMetrics` API (for some reason deprecated now) used for listing VMs in the VM view doesn't support podid, hostid, storageid, etc parameters cc @weizhouapache

[2022-10-26 06:16] shwstppr commented on #6786
Problem is not with the UI but with the `listVirtualMachinesMetrics` API. Currently, it does not support some of the params (hostid, podid, storageid, etc) as it extends DeployVMsCmd class. cc @weizhouapache

I've created a draft PR to fix this https://github.com/apache/cloudstack/pull/6851

[2022-10-26 10:07] 1450793561 commented on #6814
@nvazquez Up and Down  Where to see?

[2022-10-26 10:27] weizhouapache commented on #6814
@1450793561
the `state` column in `mshost` table

can you share the result of "ip a" on management server ?

[2022-10-27 02:18] levindecaro commented on #6796
@DaanHoogland

Thanks for your update, I'd try to reproduce that today but no luck. Last time, i got 403 on config.json when it is 0640, after set to 0644, it work immediately.

[2022-10-27 06:45] DaanHoogland commented on #6796
@levindecaro what user(-id) is running the server? and of what groups is it a member?

[2022-10-27 08:49] DaanHoogland commented on #6807
@StepBee , i finally got around trying this in a nested lab env:
[code]
I am on a 4.17.0.0 with ubuntu 20, I'll try to tinker the versions a little to get to reproduce your issue , but so far no cigar.

[2022-10-27 11:19] StepBee commented on #6807
@DaanHoogland thanks for your efforts.

To be sure, in my setups i am using

agent.properties
`guest.cpu.mode=host-model`

The issue only occurs if dynamic scaling is really enabled meaning you can actually scale a VM while it's running - the settings i am referring to are:
- enable.dynamic.scale.vm = true is set in global settings or
- enable.dynamic.scale.vm = true is set in zone settings
- the

[2022-10-27 12:20] DaanHoogland opened #6855 "UI/API: make display elements optional"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Whenever there is a `name` and a `displayName` or a `name` and a `displayText` or `name` and `description` and both are required, please make the `display` field optional and let the default be the contents of the `name`

- [x] create

[2022-10-27 12:54] DaanHoogland commented on #6807
this part I forgot but after doing so I could still deploy and scale a VM (note that my virtual hosts only support 3 cpu (lab restrictions)

id did a `systemctl restart cloudstack-agent` after adding the `guest.cpu.mode=host-model` to the properties file and am now going to do a full reboot to see if that in some way matters

I.E. no successful reproduction of your issue yet

[2022-10-27 13:16] DaanHoogland commented on #6807
reboots didn´t help either

[2022-10-27 13:50] StepBee commented on #6807
@DaanHoogland sorry for the confusion - i was under the impression the issue starts >2 vCPUs.
Following your tests i tested exactly 3 vCPU again and the issue does indeed not appear.

I tested with exactly 4 vCPU and the issue happens.

Therefore, i have to correct the conditions -  the issue appears with >3 vCPU, so starting from 4 vCPU

[2022-10-27 14:05] StepBee commented on #6807
@DaanHoogland i did more tests and the results will very likely help to track down the exact issue in the code
3 vCPUs -> ok
4 vCPUs -> failed
5 vCPUs -> ok
6 vCPUs - failed
7 vCPUs -> ok

I think it's some math operation which is wrong, maybe around this line:
[https://github.com/apache/cloudstack/blob/13d22c2f542b3570b190bf2eb2acfffae99ef528/plugins/hypervisors/kvm/src/main/java/com/cloud/hyperv

[2022-10-27 16:09] DaanHoogland commented on #6807
ah, that is a good addition. I am working to get more capacity in my virtual lab. I'll update over the weekend?

[2022-10-27 16:28] DaanHoogland commented on #6807
I am some closer to reproducing: I have now 8 and my vm with 6 cpu does not have a topology element, but it does run with no problems.

[2022-10-28 03:55] 1450793561 opened #6856 "Failed to update ip address on vm NIC. Refer to server logs for details"
An error occurred when changing the vm ip address,Is there any error message in the log

Is there any error message in the log
----------------------------------------------------------
[code]

![微信图片_20221028115118](https://user-images.githubusercontent.com/31468018/198498462-46ee8170-e42b-4085-b792-9e2ada584b67.jpg)
![微信图片_20221028115126](https://user-images.githubusercontent.com/31468018/198498

[2022-10-28 04:09] xuanyuanaosheng opened #6857 "Please add refresh button and add zone button"
##### ISSUE TYPE

 * Improvement Request

![image](https://user-images.githubusercontent.com/4197714/198498100-5660064f-fd12-4165-b17e-836fd60a1a77.png)

![image](https://user-images.githubusercontent.com/4197714/198500504-bb2e7a8b-5cdb-4deb-ab18-d072ad7c40bf.png)

##### COMPONENT NAME
* Image (Template)

[2022-10-28 08:23] wido commented on #6842
That is odd, the exclusive lock should timeout and be handed over to the other client.

If that doesn't work something is wrong, but disabling exclusive locks should not be done.

That said, this seems like a Ceph issue and not a CloudStack issue.

[2022-10-28 09:13] DaanHoogland commented on #6807
@Stepbee, does the hardware have more than 4 cpu? This could be a problem, and I can´t find any message about it in this issue. (maybe a bit silly)

[2022-10-28 09:38] StepBee commented on #6807
@DaanHoogland great you could already reach 50% of reproducing, appreciate your efforts.

I can reproduce the issue (topology is missing AND VM does not start) on all different servers i have available in test and production:

[code]

[code]

[code]

If i understood correct you are able to reproduce the issue, that for even numbers the topology element is missing and for odd numbers it's existing,

[2022-10-28 09:47] DaanHoogland commented on #6856
@1450793561 the message is that you don't have enough address capacity:
[code]

this seems strange given your description/screenshots, but the underlying message is
[code]

At least the messaage isn´t clear and something can be improved there, but it seems also there is something wrong with the ip address allocation in your system. Does the user have access rights to the addresses listed? Is the u

[2022-10-28 10:04] DaanHoogland commented on #6857
As for your second point @xuanyuanaosheng , there should be a copy button if you have the rights for that. It would copy the template to another zone.
The first point seems a good addition.

[2022-10-28 10:11] levindecaro commented on #6796
it is `cloud` uid:995, gid:993

[2022-10-28 10:16] DaanHoogland commented on #6807
it reports 4.2 (not 4.2.1) but it is stock ubuntu 20.04.
my gues now is that the `Socket(s):` being 2 could stop it from running correctly.
I have seen the `topology` element being created with 3 and not with 4 cpus requested. but as said my topology is still different:
[code]
note that I have only virtual (vmware/cloudstack) based hypervisors.

[2022-10-28 10:17] DaanHoogland commented on #6796
should work (if the group with gid 993 is cloud!)

[2022-10-28 11:06] StepBee commented on #6807
Which would make sense, seeing 8 sockets in your test setup probably qemu does not require the additional topology information as it can simply assume each vcpu can be a different socket.

[2022-10-28 13:07] canghai908 commented on #6842
@wido Thank you!I will check the ceph cluster.

[2022-10-28 13:57] DaanHoogland commented on #6807
finally got a proper reproduction: 8 cores devided over two sockets and the VM won't start!

[2022-10-29 04:00] 1450793561 commented on #6856
I want to configure static ip and my own dns. How do I configure it?in DefaultSharedNetworkOfferingWithSGService

[2022-10-30 18:46] DaanHoogland commented on #6856
I am not sure what you want @1450793561 , can you please describe your use case in more detail? (the VR being re-created would indeed reprogram it, but a reboot shouldn´t) the DNSses are properties of the zone/datacenter.

[2022-10-31 02:03] 1450793561 commented on #6856
@DaanHoogland

ok,The ip change above has been solved. Now it's a new problem.

I want to change the /etc/resolv.conf file from 10.10.10.162 to 10.10.10.79(dns). After the system restarts, the file is changed to 10.10.10.162. 10.10.10.162 This ip address looks like it belongs to a virtual router.How do I configure it?in DefaultSharedNetworkOfferingWithSGService

The content of the file before the

[2022-10-31 02:03] 1450793561 commented on #6856
@DaanHoogland

ok,The ip change above has been solved. Now it's a new problem.

I want to change the /etc/resolv.conf file from 10.10.10.162 to 10.10.10.79(dns). After the system restarts, the file is changed to 10.10.10.162. 10.10.10.162 This ip address looks like it belongs to a virtual router.How do I configure it?in DefaultSharedNetworkOfferingWithSGService

The content of the file before the

[2022-10-31 06:19] DaanHoogland commented on #6856
@1450793561 please don´t try to solve multiple problems in on issue ticket.

You are trying to change a global configuration in a VR. It will always be overwritten on any config change in the network. Sounds like you're trying to use a feature that doesn´t exist. The best option you have is to have a configuration system constantly check and update the router. Or, of course, implement it as a new

[2022-10-31 07:59] vdombrovski opened #6859 "Exported metrics have a domain instead of the full path"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Irrelevant

##### SUMMARY

Prometheus metrics are grouped by domain, however the domain name provided isn't the full path. This leads to some duplicate labels whenever your domain names aren't unique

##### STEPS TO REPRODUCE

1. Create a domain /ROOT/CUSTOM

[2022-10-31 09:50] vdombrovski commented on #6810
Hello,

I am able to reproduce Luc's behavior. I think it is due to the fact the IP field gets reset preemptively before the VM is deployed.

To reproduce:

1. (Working case): deploy a VM without specifying (touching the IP address field). Your payload only has the networkid field:

[code]

2. (Non working case): deploy a VM and specify any IP address, or enter an IP address then empty the field.

[2022-10-31 11:25] nvazquez commented on #6716
Hi @Lueton could you have any progress on this error? Have checked the output of `journalctl -xe`?

[2022-10-31 11:30] Lueton commented on #6716
Hi! Unfortunately not. I have really tried everything I could think of. The only thing I noticed is that libvirt always crashes on the client and restarts when trying to connect it to the management host. But I could not get more information. I have also looked at all the logs that make sense to me. I'm not a Linux or cloud pro either so this may not be a bug but a lack of knowledge on my side.

[2022-10-31 14:13] #6834 closed

[2022-10-31 16:25] StepBee commented on #6807
@DaanHoogland thats great to read!
Finally it looks like we found the exact environment parameters and condition for the issue to happen.

[2022-10-31 19:34] nvazquez commented on #6716
@Lueton can you try to remove the host from CloudStack if it is on the database, retry adding it from the UI and share the management server logs?

[2022-11-01 09:52] xuanyuanaosheng commented on #6857
@DaanHoogland  OK，Thanks

[2022-11-01 09:55] DaanHoogland commented on #6810
I'll mark this as not a bug, biven the feedback.

[2022-11-01 13:45] DaanHoogland commented on #6807
yes, @StepBee good start indeed. I don´t know when I'll have time to address it, but it is on my list for sure. I wish I could say it was fixed.

[2022-11-01 14:54] DaanHoogland commented on #6857
np @xuanyuanaosheng Let's change the title to `add refresh button to zone tab in template details view`, ok?
As a workaround, I can only think of leave the template view and re-select the template-zone-tab. (life is ugly and beautiful at the same time;)

[2022-11-01 16:58] StepBee commented on #6807
@DaanHoogland no worries, i highly appreciate your efforts on this.

As a workaround i disabled dynamic scaling in our environments, which was not heavily used so far.
I will try to think through the math operation i was linking as well.

If i can help with any addition information or tests, i will be happy to support.

[2022-11-01 17:57] nxsbi opened #6861 "VM Password reset - Unable to set Password Complexity requirement for Special Characters"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

##### SUMMARY

Unable to Set Password Complexity requirement to include special characters

##### STEPS TO REPRODUCE

Our organization wants to enforce password requirements upon password resets on the VM. The default password requirement is 6 character

[2022-11-02 07:04] 1450793561 opened #6865 "A running vm cannot dynamically scale cpu and memory. It can be expanded when stopped"
#### Questrion:

log detail

[code]

![微信图片_20221102150406](https://user-images.githubusercontent.com/31468018/199422235-1f0a256a-23d9-4877-a980-b5c7064d1660.png)

[2022-11-02 08:20] shwstppr commented on #6627
@vdombrovski can you please share complete reproduction steps

[2022-11-02 10:41] kalik1 opened #6866 "Error Detaching Volume on GlusterFS Primary Storage"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]

##### SUMMARY

Can't detach volumes created on GlusterFS primary storage from VM. Tested on two different cloudstack installations. Everything works fine with other primary storage types. The volume can be detached and removed if the VM status is stop

[2022-11-02 15:10] damonb123 opened #6867 "World Writable Mounts Need Sticky Bit"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
component:api

##### CLOUDSTACK VERSION
[code]

##### OS / ENVIRONMENT
Ubuntu
Rocky Linux 8

##### SUMMARY
In java code, NFS mounts are not consistently set to 1777 to prevent world writable issues.

References to correct setting
[code]

#### Change 777 to 1777

#### ./services/secondary-storage/server/src/main/java/org/apache/cloudstack/storage

[2022-11-03 03:10] 1450793561 commented on #6814
@weizhouapache

the  mshost  not see chanage
the result of "ip a"

[code]

[2022-11-03 07:19] DaanHoogland commented on #6867
@damonb123 have you seen issues with mounts not being writeable due to this? Can you describe the use cases of failures?

[2022-11-03 08:56] DaanHoogland commented on #6794
@levindecaro is there any way you could reproduce this and test a solution against it? i.e. #6797
I want to move this forward but have a lack of clue atm

[2022-11-03 12:57] DaanHoogland commented on #6701
@soreana are you working on this?

[2022-11-03 12:59] soreana commented on #6701
@DaanHoogland Not yet. I was waiting for the @shwstppr @harikrishna-patnala reply.

[2022-11-03 13:00] DaanHoogland commented on #6701
I know @harikrishna-patnala is busy on https://github.com/apache/cloudstack/pull/6704 so I think he is in the lead right now.

[2022-11-03 13:04] soreana commented on #6701
@DaanHoogland Cool 👍
I will keep an eye on the https://github.com/apache/cloudstack/pull/6704 then :)

[2022-11-04 03:21] #6856 closed

[2022-11-04 03:23] 1450793561 commented on #6789
Reinstall it again and modify global configuration secstorage. Charges. Internal sites' be 0.0.0.0/0 succeeded

[2022-11-04 10:34] weizhouapache commented on #6814
@1450793561
is your management server running well now ?

[2022-11-04 20:41] #6659 closed

[2022-11-05 00:51] remipcomaite opened #6871 "Guest Network - Dedicated VXLAN Range"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
Advanced Networking

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I can't add a dedicated VXLAN range

##### STEPS TO REPRODUCE
 * Edit the guest physical network from the UI interface
 * Add a dedicated VLAN/VNI range

![image](https://user-images.githubusercontent.com/114096594/20009359

[2022-11-07 02:21] 1450793561 commented on #6814
@weizhouapache Now it is normal. After 3 times of restart, this error will not be reported

[2022-11-07 02:34] 1450793561 opened #6872 "Failed to update ip address on vm NIC. Refer to server logs for details version 4.17.1"
@weizhouapache

##### ISSUE TYPE
* Bug Report
##### COMPONENT NAME
* API, UI
##### CLOUDSTACK VERSION
* 4.17.1
##### CONFIGURATION
* basic network

##### SUMMARY
Change the ip address of the vm.
An error occurs when changing the ip address in version 4.17.1

![微信图片_20221107103156](https://user-images.githubusercontent.com/31468018/200214607-5dc53a73-c3bd-4e74-8836-0b2256035bdf.png)

![微信图片_2022110

[2022-11-07 02:36] 1450793561 commented on #6872
There are too few error messages

[2022-11-07 02:40] 1450793561 commented on #6872
org.apache.cloudstack.api.response.ExceptionResponse/null/{"uuidList":[],"errorcode":530,"errortext":"Failed to update ip address on vm NIC. Refer to server logs for details."}

[2022-11-07 02:41] 1450793561 commented on #6872
Where do I start to look？

[2022-11-07 08:44] DaanHoogland commented on #6861
@nxsbi at the moment this is not possible. This is a new feature. You'll have to implement this if you need it. You can also alter the password generator for your need it.

[2022-11-07 08:46] DaanHoogland commented on #6866
@kalik1 , I know of no ACS installation using GlusterFS . Can you add more details if you need help. Alternatively send a mail to the users mail list.

[2022-11-07 08:48] DaanHoogland commented on #6865
yes @1450793561 , this is a known limitation. I thought we had made sure the button was greyed or even omitted when the VM is running. What version did you encounter this with?

[2022-11-07 08:52] DaanHoogland commented on #6871
thanks @remipcomaite , not sure if this is possible with the API. Could you try that? If so it is a UI feature to implement.

[2022-11-07 09:09] DaanHoogland commented on #6872
@1450793561 , at `2022-11-07 10:29:26,066` the error message says that you don´t have any ip space to allocate from: `Allocating ip to guest nic 7dd07546-f16f-43c6-aa3f-155dfc54651b failed, for insufficient address capacity`.

[2022-11-07 09:22] 1450793561 commented on #6872
@DaanHoogland
There are still many unallocated ip addresses. How can I report that the ip capacity is insufficient?

look see fellow pic

![微信图片_20221107172014](https://user-images.githubusercontent.com/31468018/200273474-240ff034-9e6a-4c5f-8e9b-cba134d7d437.jpg)

[2022-11-07 09:33] 1450793561 commented on #6872
Don't know what the difference is?

-----------------------
Select the ip range added from this area to modify successfully.
![1111](https://user-images.githubusercontent.com/31468018/200275531-f31d6e5a-6a8f-482a-ae65-27d0b6b64a8a.png)

If you select the ip range to be added from this area, an error occurs
![2222](https://user-images.githubusercontent.com/31468018/200276143-439ffcb0-882b-4f76-ba91

[2022-11-07 09:38] DaanHoogland commented on #6872
ok, that is at least unclear. You are right that probably an error message with the real reason is missing.

As for those pics, In the first one you are adding an IP range to the underlying physical network for the zon.
I the second, you are adding a range to a guest network, which must already be available in the zone, for routing to happen.

I see you have debug level logging so I don´t understa

[2022-11-07 09:45] weizhouapache commented on #6872
@1450793561
if you update the nic ip address without specifying the new Ip address, does it work ?

[2022-11-07 09:54] 1450793561 commented on #6872
@DaanHoogland
The log level is not clear. If it is not set after the installation, it is the default.

In this case, I just tested and changed the ip several times, all of which were successful

[2022-11-07 09:55] 1450793561 commented on #6872
@weizhouapache
If no ip address is specified, click OK

![3333](https://user-images.githubusercontent.com/31468018/200280967-ae38cce2-af69-4a4f-9d1f-c6675b5e7ace.png)

[2022-11-07 10:49] DaanHoogland commented on #6789
@1450793561 can we close this?

[2022-11-07 15:14] andrijapanicsb opened #6873 "VPC VR can't be started on VMware due to missing routes"
##### ISSUE TYPE

 * Bug Report
##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

mgmt server is in Pod1/subnet1,
hypervisor (and thus VR's control NIC) is in Pod2/subnet2 - thus there is a routing process between mgmt and VR's NIC IP

##### OS / ENVIRONMENT

Probably affects only VMware, but has not been tested with XS/KVM (should not be a problem, but needs che

[2022-11-07 16:22] weizhouapache commented on #6873
it looks the route for mgmt cidr (10.0.32.0/20) is missing.
the problem is, where can we find the gateway of mgmt cidr (e.g. 10.0.32.1) ? cannot find it in cmdline.

xenserver/kvm should not be impacted, as they use link local ip.

[2022-11-07 17:29] nxsbi commented on #6861
Can you point me to where the code for this is? I would like to see if this is something I have skills to do…

[2022-11-07 19:33] weizhouapache commented on #6861
@nxsbi
check `generateRandomPassword` in https://github.com/apache/cloudstack/blob/main/utils/src/main/java/com/cloud/utils/PasswordGenerator.java

it will be a small change I think

[2022-11-07 23:06] H-LK commented on #6873
A critical export was moved from bootstrap.sh to init.sh

When the VPC is setup it asked in Line 64 for the hypvervisor
https://github.com/apache/cloudstack/blob/296035d9a57caa62260a666da726ec45b6801c4b/systemvm/debian/opt/cloud/bin/setup/vpcrouter.sh#L64
The vpcrouter.sh gets called by the bootstrap.sh. In Version <= 4.16 it gets exported there and is available for vpcrouter.sh https://github.com

[2022-11-08 02:14] 1450793561 commented on #6865
@DaanHoogland
**CloudStack 4.17.1.0**

[2022-11-08 05:23] #6842 closed

[2022-11-08 07:35] weizhouapache commented on #6873
@H-LK
thanks for the findings.

prior to 4.17, the route is added in vpcrouter.sh which is called by cloud-early-config service.
since 4.17, two steps are added before cloud-early-config
- init.sh (called by cloud-preinit service)
- patch (transfer new files/scripts from host or management server to VRs via `scp` command)

The `scp` in `patch` step does not work, because the route is not added (`c

[2022-11-08 11:41] rohityadavcloud commented on #6701
any update on this @shwstppr @harikrishna-patnala @DaanHoogland ?

[2022-11-08 12:50] sanjeev98kumar commented on #6861
Will this be a good first issue to start with? I am looking for my first PR.

[2022-11-08 12:52] sanjeev98kumar commented on #6819
How do I check ConfigKeys that are no longer referred? I am looking for an issue for academic contribution. Will this be a good first issue?

[2022-11-08 12:54] sanjeev98kumar commented on #6855
I am looking for an issue for academic contribution. Will this be a good first issue?

[2022-11-08 14:18] DaanHoogland commented on #6865
@1450793561 I don´t know if it is on someones schedule, so i'm afraid not.

[2022-11-08 14:24] DaanHoogland commented on #6861
yes, it would @sanjeev98kumar , do you want me to assign it to you?

[2022-11-08 14:28] sanjeev98kumar commented on #6861
Yes

On Tue, Nov 8, 2022, 7:54 PM dahn ***@***.***> wrote:

--
The information contained in this electronic communication is intended
solely for the individual(s) or entity to which it is addressed. It may
contain proprietary, confidential and/or legally privileged information.
Any review, retransmission, dissemination, printing, copying or other use
of, or taking any action in reliance on the con

[2022-11-08 14:29] DaanHoogland commented on #6861
@nxsbi @sanjeev98kumar the related code is in PasswordGenerator. If you follow the flow from `ResetVMPasswordCmd`, it calls `_mgr.generateRandomPassword()` and will lead you to `PasswordGenerator.generateRandomPassword(passwordLength);`. In that method a pattern could be read from a global setting to be used.
Let me know if you need more info.

[2022-11-08 14:31] DaanHoogland commented on #6819
It will be a good first contribution. You can best use a capable IDE and query for calls to the keys in the mentioned class `Config.java`. An alternative is using find/grep from a command line.

[2022-11-08 14:33] DaanHoogland commented on #6855
It is not a very difficult one, but does require some knowledge and understanding of both the system and the UI.

[2022-11-08 15:12] Jehan-h20220012 commented on #6695
`public static final ConfigKey<Boolean> KvmEnableMetadata = new ConfigKey<Boolean>(Boolean.class, "kvm.enable.metadata", "Advanced", "false",  "When set to true this will enable libvirt exporter and include metadata", true, ConfigKey.Scope.Global, null);`
`@Override public String getConfigComponentName() {
        return KVMGuru.class.getSimpleName();
    }`
`@Override public ConfigKey<?>[] getCon

[2022-11-08 16:49] csquire opened #6878 "NullPointerException tagging a VM"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When attempting to tag a VM, we're getting a NullPointerException in `TaggedResourceManagerImpl`. This NPE is happening in `informStoragePoolForVmTags` when the volume does not have a Pool ID associated with it. This issue is blocking our

[2022-11-08 16:50] sanjeev98kumar commented on #6819
Could you please assign it to me?This task has 30℅ component for my subject
and I need to send ss showing it has been assigned to me.Thanks

On Tue, Nov 8, 2022, 8:02 PM dahn ***@***.***> wrote:

--
The information contained in this electronic communication is intended
solely for the individual(s) or entity to which it is addressed. It may
contain proprietary, confidential and/or legally privilege

[2022-11-08 16:53] Jehan-h20220012 commented on #6695
Thank You @DaanHoogland
Yes I want to adjust libvirt command.
Also where to place that metadata.

[2022-11-08 20:31] damonb123 opened #6880 "Global settings improvements and protect against non-acknowledged changes"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### SUMMARY
This request is for improvements for the "Global settings" screen.
1. As any user with correct privileges, Protect against "reset" button press without acknowledgement.
- On the "Global settings" screen there is no guard on the reset button.
- Clicking the reset button should prompt

[2022-11-09 02:00] 1450793561 commented on #6865
yeh,ok

[2022-11-09 04:27] sanjeev98kumar commented on #6819
@DaanHoogland Please assign me this issue.

[2022-11-09 04:38] sanjeev98kumar commented on #6861
@DaanHoogland please assign #6819 issue and unassign this issue #6861

[2022-11-09 06:13] shwstppr opened #6885 "Public templates from other domains inaccessible"
##### ISSUE TYPE

 * Bug Report
##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Public templates registered in one domain are not accessible for users of other domain (for listing template details, deploying vm). Smae operation works okay in 4.16.1 env

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[c

[2022-11-09 07:38] rohityadavcloud opened #6886 "listVirtualMachinesMetrics doesn't filter VMs by Host ID"
listVirtualMachinesMetrics with listall=true and hostid param returns all the VMs and doesn't return VMs by provided host ID. However, listVirtualMachines works.

Found via UI in env with more than 1 host. As root admin go to Infra -> hosts -> select a host -> see instances on this host.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

[2022-11-09 12:12] s-seitz opened #6888 "Slow mysql query encountered when browsing the Network Tab"
When using a broader IP Range (e.g multiple /16), a particular query is getting slow:

[code]

##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
API, Mysql Backend
-->

##### CLOUDSTACK VERSION
4.17.1.0

##### CONFIGURATION
Advanced Networking, VLAN isolation

##### OS / ENVIRONMENT
Ubuntu 22.04 LTS

##### SUMMARY
When using a broader IP Range (e.g multiple /16), a particular query is

[2022-11-09 13:12] DaanHoogland commented on #6695
I don´t know @Jehan-h20220012 . Actually  I don´t know what you mean. You will have to compile the metadata, package it in the command to the hypervisor data and, in the command handler, add it to the VM definition. I'm not sure if this is what you are asking, but you'll have to do some digging to where to adjust the code.

[2022-11-09 13:21] sanjeev98kumar commented on #6819
@DaanHoogland  Please assign me this issue as soon as possible.

[2022-11-09 13:32] Jehan-h20220012 commented on #6695
Okay I will look into it.
I will ask these things on slack once I get connected over there. It right now shows some apache.org domain required so I am looking into it how to request for the slack. Please share a link if possible so that I can directly request through it.

[2022-11-09 21:40] mlsorensen commented on #6746
We don't currently support multi-mount, but in the case of VM template images these could be attached to multiple hosts.  These are handled by separate methods though - VM volume workflows should be pretty solid as far as knowing if the volume should not be mapped anywhere (e.g. a stopped VM should not have its volumes mapped anywhere).

[2022-11-11 09:37] shwstppr opened #6894 "vmware: snapshot operation failure with VMs on datastorecluster"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced zone with VMware hypervisor having datastore-cluster storage

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Snapshot operations fails for VMs that have volumes on datastore cluster.
Seen with VMs that have correct DB records wrt vCenter

##### STEPS TO REPRODUCE

[code]

###

[2022-11-14 08:27] Jehan-h20220012 commented on #6695
@DaanHoogland please provide a slack link, I am not getting access with the earlier one you sent

[2022-11-14 09:30] DaanHoogland commented on #6695
@Jehan-h20220012 please add the email address to your profile or here, so I can send you an invite.

[2022-11-14 11:06] Jehan-h20220012 commented on #6695
h20220012@goa.bits-pilani.ac.in

[2022-11-14 19:20] damonb123 commented on #6867
The lack of the sticky bit is a security issue, and shows up as a security violation.  Not having sticky bit will allow users other than the owner to delete them.

[2022-11-15 11:01] Rubueno opened #6901 "K8s cluster admin credentials plaintext in database"
##### ISSUE TYPE
 * Security

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The k8s cluster admin credentials are stored plaintext in the database. This is a security risk.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2022-11-16 09:08] harikrishna-patnala opened #6903 "Remote VPN is not working if site-to-site VPN exists"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

When is site to site VPN already exists then remote VPN does not work.

There was an old issue https://github.com/apache/cloudstack/issues/3654 already but even with newer strongswan libraries this was not working as expected.

This was discussed here https://wiki.strongswan.org/issues/2

[2022-11-16 17:23] aron-ac opened #6904 "Feature Request: KVM Multiqueue virtio-net"
##### ISSUE TYPE

 * Feature Idea

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Adding multiqueue virtio-net as an option for KVM based Cloudstack environments

##### OS / ENVIRONMENT

n/a

##### SUMMARY

https://www.linux-kvm.org/page/Multiqueue

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2022-11-17 14:39] GutoVeronezi commented on #6903
@harikrishna-patnala

PR #5375, introduced in version 4.15.2.0, removed parameter `%any` of VPNs client-to-site (C2S) IPSec secrets:
- previous structure:
  `<IP> %any : PSK "<PSK>"`
- structure after the change:
  `<IP> : PSK "<PSK>"`

Because of that, when a VPN site-so-site (S2S) is created in parallel to a VPN C2S in the same network, the C2S will not handle any IP (`%any`) anymore and, as the

[2022-11-18 06:20] weizhouapache commented on #6873
That is strange. Can you test it again ?

[2022-11-18 06:55] hooklee2000 commented on #6873
system vm

[2022-11-18 08:08] hooklee2000 commented on #6873
we also tested main branch  pulled on 2022-11-17, it had the same problem. How ever, Using virsh list  it had not vrvm, it only  had cpvm and  ssvm.
4.18-vm-autoscaling had vrvm,but vrvm had cpvm java process.

[2022-11-18 11:01] weizhouapache commented on #6873
@hooklee2000 did you test with a fresh installation or upgrade existing environment ?

[2022-11-18 13:52] hooklee2000 commented on #6873
I tested all with a fresh installation.

[2022-11-21 07:34] rohityadavcloud commented on #6885
Was there any historic reason, or was this working in older say 4.9-4.15 versions?

[2022-11-21 07:53] shwstppr commented on #6885
@rohityadavcloud I've not checked 4.9-4.15 but the operation was working in 4.16.1 and not working in 4.17.0 or above

[2022-11-21 08:04] rohityadavcloud commented on #6885
Thanks @shwstppr (I missed the it works on 4.16.1) that's clearly a regression for 4.17.0 :)

[2022-11-21 09:37] vdombrovski commented on #6859
Looks like changing domain.getName() into domain.getPath() should be sufficient to get the proper domain names:

https://github.com/apache/cloudstack/blob/4e2f461b3154c35c92dff71442cffacf240a903e/plugins/integrations/prometheus/src/main/java/org/apache/cloudstack/metrics/PrometheusExporterImpl.java#L371

[2022-11-21 10:11] xuanyuanaosheng opened #6913 "Support for Internal LB In shared networks in advanced zone."
##### ISSUE TYPE
 * Feature

##### COMPONENT NAME
* Internal LB

##### CLOUDSTACK VERSION
*  CloudStack 4.17.1.0

##### CONFIGURATION
The cloudstack env is **using the Ceph RBD and  local storage as cloudstack cluster primary storage** and using shared networks in advanced zone which is in https://github.com/apache/cloudstack/issues/5462

The cloudstack cluster TEST work node is  eno49 and eno50 t

[2022-11-21 11:30] MejdiB opened #6914 "Hosts marked unavailable due to different CPU frequencies using host capabilities"
##### ISSUE TYPE

 * Bug Report
 * Improvement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
Cloudstack 4.17.1 Environment Advanced Zone with Security Groups. One Computing Cluster consists of AMD EPYC CPUs based on Rome Architecture

##### OS / ENVIRONMENT
RHEL 8 is used for cloudstack management servers and hosts.

##### SUMMARY
With version 4.17, Clo

[2022-11-21 11:41] weizhouapache commented on #6914
@MejdiB what's the cpu speed of the vm ? 2800 ?

[2022-11-21 11:47] MejdiB commented on #6914
@weizhouapache Yes, since ACS 4.15.1 we worked with a Compute Offering with 2800 MHz.

[2022-11-21 12:33] weizhouapache commented on #6914
@MejdiB
as a workaround, can you add `host.cpu.manual.speed.mhz=2800` in the agent.properties and restart cloudstack-agent ?

[2022-11-21 13:25] MejdiB commented on #6914
@weizhouapache It worked indeed, the hosts are marked as available again. I have migraated one VM to a host and it also worked. Thanks for the workaround!

[2022-11-21 20:51] weizhouapache commented on #6873
@hooklee2000
can you file a new github issue for this ?

[2022-11-22 01:50] hooklee2000 opened #6915 "Failed to start kvm VRVM correctly"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME
 VR

##### CLOUDSTACK VERSION
main,4.18-vm-autoscaling

##### CONFIGURATION
advanced networking,

##### OS / ENVIRONMENT
CentOS7

##### SUMMARY
  We tested current [4.18-vm-autoscaling](https://github.com/apache/cloudstack/tree/4.18-vm-autoscaling) branch 4.18.0.0-SNAPSHOT  on 2022-11-17. Using kvm systemtemplate4.17.0 which modified cloudstack

[2022-11-22 01:59] hooklee2000 commented on #6873
#6915

[2022-11-23 11:40] rohityadavcloud commented on #6886
cc @rahulbcn27

[2022-11-23 12:54] shwstppr commented on #6886
@rohityadavcloud is this same as https://github.com/apache/cloudstack/issues/6756?

[2022-11-23 13:31] rohityadavcloud commented on #6886
Not entirely sure @shwstppr - this is about the list API response; list API not filtering based on provided API param

[2022-11-23 14:51] jkacou commented on #6637
Actually cilium is way more interesting and extensible as a CNI
To have both will be nice, but if I have to choose it will be cilium clearly
BTW do we have any plan about this one please ?

[2022-11-24 03:10] xuanyuanaosheng opened #6920 "The cloudstack version 4.17.1.0 Second storage only has S3"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME
- UI
- Second Storage

##### CLOUDSTACK VERSION

cloudstack version 4.17.1.0

##### SUMMARY
The second storage can only has s3

##### EXPECTED RESULTS
![image](https://user-images.githubusercontent.com/4197714/203682965-cedad215-dfb9-4dd0-bf4f-b38f99dd0f6e.png)

##### ACTUAL RESULTS
![image](https://user-images.githubusercontent.com/4197714/203

[2022-11-24 03:33] hooklee2000 commented on #6920
We used kvm, it worded well. Which provider ( kvm, vmware,xen...) did you choose?

[2022-11-24 06:08] xuanyuanaosheng commented on #6920
@hooklee2000   We also use kvm.

[2022-11-24 09:40] rohityadavcloud commented on #6886
Closing as addressed by @shwstppr in his PR https://github.com/apache/cloudstack/pull/6851

[2022-11-24 09:40] #6886 closed

[2022-11-25 15:23] alexandremattioli opened #6923 "Adding new ESX cluster allows for operator to enter data in immutable fields"
##### ISSUE TYPE

 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### OS / ENVIRONMENT

ESX

##### SUMMARY
A Cloudstack Zone is associated to a single vCenter, ACS holds the details for vCenter IP, username and password in its database.
When adding a new cluster to a pod the dialog allows for an end user to enter the following non mandatory fields:
vCenter

[2022-11-25 16:50] sanjeev98kumar commented on #6819
@DaanHoogland what all confgkeys should i delete?

[2022-11-28 08:21] xuanyuanaosheng commented on #6920
@hooklee2000

I reset the environment using
## cloudstack 测试环境重置步骤：
[code]

[2022-11-28 09:32] soreana commented on #6836
@whitetiger264 Thanks for sharing the work around.
Can we close this issue?

[2022-11-28 14:45] DaanHoogland commented on #6904
@aron-ac , I think we will need more of a plan than just adding this kernel featureas an option. what would you think this would functionally look like? an agent property a switch in the host properties, ... etc.
I don´t want to discourage you, you are making a valid request but this is on a volunteer basis and I want to prevent your request from just sinking into memory/oblivian.

[2022-11-28 15:06] #6660 closed

[2022-11-28 15:06] rohityadavcloud commented on #6888
Is this critical/blocker issue @DaanHoogland ?

[2022-11-28 15:09] DaanHoogland commented on #6915
@weizhouapache can you have a look?

[2022-11-28 15:13] #6203 closed

[2022-11-28 15:27] aron-ac commented on #6904
@DaanHoogland we made this work by writing a groovy script and we used it as a hook to set mq during vm creation. The script basically injected the mq config line into the libvirt XML. I would suggest as a feature we make this available as a checkbox in the UI during VM creation and part of data sources available in TF and the API etc.

[2022-11-28 15:55] DaanHoogland commented on #6886
@rohityadavcloud #6851 is not merged yet. should this be closed?

[2022-11-28 17:34] DaanHoogland commented on #6819
@sanjeev98kumar , you should check which ones are not referred anywhere in the code and delete those. Also the relevant entries in the config table should be removed.

[2022-11-28 18:25] DaanHoogland commented on #6888
@rohityadavcloud , for anybody using /16 nets it is a blocker and I don´t know a workaround. I would say it is critical. Any reason it would not be?

[2022-11-28 18:26] DaanHoogland commented on #6859
no, not as far I I can see. we can skip it if there isn´t a simple fix.

[2022-11-29 08:41] troke12 commented on #6716
seems like i have same issue with this, i tried to uninstalling the agent and make sure all user can access the root but still cannot store the key, does the agent possibility are not compatible with the OS? i was using Ubuntu 22.04

[2022-11-29 08:46] borisstoyanov opened #6926 "DeployVM UI Form: it passes default hypervisor as part of the call"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Zone with multiple hypervisors

##### SUMMARY

When trying to deploy a VM with hypervisor != default zone hypervisor, UI still passes the default one and fails the API call.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESU

[2022-11-29 08:57] DaanHoogland commented on #6732
@bkrajendra I'm closing this. please reopen or create a new issue if you feel the need

[2022-11-29 08:57] #6732 closed

[2022-11-29 09:13] sanjeev98kumar commented on #6819
please give me an example.
 and  from where i can get code?

[2022-11-29 09:14] DaanHoogland commented on #6670
according to https://github.com/apache/cloudstack/blob/4.17/engine/schema/src/main/resources/META-INF/db/schema-490to4910.sql#L30-L31 this has long been changed and will be automatically be updated on every installation after 4.9

[2022-11-29 11:08] rohityadavcloud commented on #6848
Closing this as the PR is merged, thanks @weizhouapache (re-open if there's something else pending).

[2022-11-29 11:08] #6848 closed

[2022-11-29 16:09] vladimirpetrov commented on #6701
LGTM based on manual testing.

[2022-11-30 07:15] rohityadavcloud commented on #6878
Fixed in https://github.com/apache/cloudstack/pull/6879

[2022-11-30 07:15] #6878 closed

[2022-11-30 07:29] rohityadavcloud commented on #6701
Fixed in https://github.com/apache/cloudstack/pull/6704

[2022-11-30 07:29] #6701 closed

[2022-11-30 09:54] Arceoavs opened #6929 "Kubernetes Firewall rules error in Guest Network"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

- Kubernetes Cluster v1.23 deployed via the Cloudstack kubernetes service in a guest network. Non-HA, Cluster running successfully.
- Advanced Network with Security Groups.

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When setting firewall rules via the Cloudstack UI for the kubern

[2022-11-30 12:59] rohityadavcloud commented on #6894
Fixed in https://github.com/apache/cloudstack/pull/6907

[2022-11-30 12:59] #6903 closed

[2022-11-30 15:16] rohityadavcloud commented on #6929
cc @davidjumani @shwstppr

[2022-11-30 15:21] alexandremattioli opened #6931 "List Instances in Host lists all instances"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When selecting to show all instances for a certain host, all instances are listed

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]