[2021-08-03 05:52] kricud commented on #5268
I can repeat this on Chrome Version 92.0.4515.107 (Official Build) (64-bit), Firefox Version 90.0.2 (64-bit) and Edge Version 92.0.902.62 (Official build) (64-bit).

@shwstppr you will reproduce problem by creating rule as in screenshot below:

![Screenshot 2021-08-03 084919](https://user-images.githubusercontent.com/30048481/127964691-5512584c-a102-4f29-bab9-72a5fa159645.png)

[2021-08-03 06:12] kricud commented on #5268
@shwstppr tested in production without any customizations raw 4.15.1.0 still can repeat it.

![Screenshot 2021-08-03 091103](https://user-images.githubusercontent.com/30048481/127966673-ba13c8bd-59c2-4e65-b3f7-38014212f5ca.png)

[2021-08-03 06:45] shwstppr commented on #5268
@kricud create PR #5269  to fix the issue. Please test if possible

[2021-08-03 06:52] davidjumani commented on #3118
Tested, able to download .img on latest main and boot a VM from it

[2021-08-03 06:56] davidjumani commented on #4868
@nvazquez My idea is :
- listall : Returns all resources the user can access. As of now when set to true, it fetches resources recursively even if isrecursive is set to false. Change it to respect isrecursive
- isrecursive : Leave it as is

[2021-08-03 06:59] kricud commented on #5268
@shwstppr vacation time don’t have capability to build it. +2 weeks to test it. Fix #5269 LGTM.
Close it and I will test it from nightly and reopen if something.

[2021-08-03 07:14] weizhouapache commented on #3118
@davidjumani yeah. img is supported since #4013
shall we support other suffix or no suffix ? it will be a bit complicated @nvazquez @davidjumani

[2021-08-03 07:41] weizhouapache commented on #5266
some part of code to check access on commands can be optimized.

for example, it is not necessary to get Account and Role/RoleType in the checkAccess on each command.
we can load it only once and use it in all checkAccess on commands.

[code]
https://github.com/apache/cloudstack/blob/main/plugins/acl/dynamic-role-based/src/main/java/org/apache/cloudstack/acl/DynamicRoleBasedAPIAccessChecker.java#L

[2021-08-03 08:16] andrijapanicsb commented on #3118
no, for XXX sake, no - unless we parse few first bit (which I believe we do?) and can surely know which file type it is and throw and early error (if, say .IMG (qcow2 really) is used for i.e. VMware)

K.I.S.S. if possible.

[2021-08-03 09:10] kricud opened #5271 "Dynamically Scalable and HA Enabled misbehaving on VMware"
##### ISSUE TYPE

 * Bug Report
##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

vCenter Version 6.5.0 Build 16275158

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]
![Screenshot 2021-08-03 120143](https://user-images.githubusercontent.com/30048481/127988852-25876a8a-b474-432d-ada7-1abaead64241.png)
![Screenshot 2021-08-03 120206](https:

[2021-08-03 14:27] nvazquez commented on #3118
Thanks @davidjumani @weizhouapache @andrijapanicsb, closing this after your remarks

[2021-08-03 14:27] #3118 closed

[2021-08-03 14:34] ngrosc commented on #5248
Hi Daan

No, they are different. But as you said, it is a sort of ownership transfer..

If this is not possible without hacks, we can export and re-import the vm.. But it would be nice, if the ownership could be changed somehow..

[2021-08-03 14:59] DaanHoogland commented on #5266
good call @weizhouapache , we'll just have to make sure it is still functional for individual API calls as well. Not sure how much speed gain it will yield, but at least something.

[2021-08-03 15:02] DaanHoogland commented on #5271
@harikrishna-patnala @Spaceman1984 didn't one of you add a PR to fix this recently? I thought it was on 4.15.

[2021-08-03 16:07] DaanHoogland commented on #5248
@ngrosc  there was a plan to implement transfer of ownership (https://cwiki.apache.org/confluence/display/CLOUDSTACK/Change+VM+ownership), but I don;t think it ever got anywhere. Another workaround would be to take a snapshot of the VM and to create a template from the snapshot and start a VM from that in the other account. Of course yours may work as well, but only if you are using Vmware as hype

[2021-08-04 02:25] nvazquez commented on #5111
@sureshanaparti please update after your investigation

[2021-08-04 06:41] DK101010 commented on #5202
@nvazquez when you merge this PR, The ingest will no longer work for all community networks with an older format.

@DaanHoogland How do you want check which pvlan's are community and  which isolated? I checked the network table and I couldn't see any infos to decide it.

[2021-08-04 07:48] harikrishna-patnala commented on #5271
@DaanHoogland there is a PR https://github.com/apache/cloudstack/pull/4630/ for 4.16. This will fix scenario 2 mentioned in "steps to reproduce"

Regarding Scenario 1, this is a UI issue.
I tried it on master also, I could reproduce it. API being fired after submitting UI form disables HA option on VM. (HA was marked enabled on VM and UI form).

http://localhost:5050/client/api/?id=8f77ac4d-743f-4

[2021-08-04 07:52] DaanHoogland commented on #5202
@DK101010 the important question to me is: are there any installations conceivable that would have a pvlan with a 'c' in the broadcast URI that will after upgrade be expected to have an 'i' in the URI. If so we have a backwards compatibility issue on our hand and we need to deal with that.
so
What is the functional reason for the difference?
if this is vital we'll need to deal during upgrade
If no

[2021-08-04 08:08] davidjumani commented on #5134
I've recreated the env, console loads just as fast as it would with SSL disabled
@div8cn Can you destroy and recreate the console proxy VM, and also check if it's a network related issue

[2021-08-04 08:28] kricud commented on #5271
@harikrishna-patnala Can this PR #4630 be part of 4.15.2? I commit that I will test it in and out.

[2021-08-04 13:15] DK101010 opened #5277 "replace import url for less.js with local lib"
Our Browser they have access to Cloudstack runs in a isolated environment with restricted access to the internet . Therefore runs Cloudstack into a timeout while it tries to loading less.min.js and the result is that it takes a very long time for the login page to load.

Lib: https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js

I want to replace this lib with a local version but I hav

[2021-08-04 16:25] DaanHoogland commented on #5271
@kricud thanks for volunteering, but that PR is based on main and needs to be rebased on the 4.15 branch, if at all a 4.15.2 will be created. Iwill automagically end up on main as well. cc @DK101010 .

[2021-08-04 16:39] kricud commented on #5271
@DaanHoogland than you for answer. I discussed this with colleges who is with ACS much longer than me and mentioned “Dynamically Scalable” behavior has been here for long time.
Millstone 4.16.0 for me is ok.

@DK101010 What I could not understand from PR #4630 it will be new switch/button or same “Dynamically Scalable” will have additional functionality for Vmware?

I took a look in production DB

[2021-08-05 03:58] nvazquez commented on #3548
@Pearl1594 does your work on the system VM template improvements fix this issue?

[2021-08-05 04:17] Pearl1594 commented on #3548
@nvazquez I haven't really testing in a multi-zone env - at this point, it hasn't been addressed. However, I can test/verify if this is still persistent and try to fix it.

[2021-08-05 04:26] nvazquez commented on #4183
@fuchanghao can you post the error you get from the management server logs and/or the KVM agent?

[2021-08-05 04:36] nvazquez commented on #4472
The proposed idea looks feasible to me for non-deploy-as-is VMs, @rhtyd @DaanHoogland @andrijapanicsb what do you think about depoy-as-is VMs?

[2021-08-05 05:39] Pearl1594 opened #5279 "UI: Data not refreshed on job completion"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Performing operations like disabling of hosts, host removal, offering deletion, etc, does not refresh the page i.e., change in state / the effect of the operation isn't observed until one manually refreshes the page

##### STEPS TO REPRODUCE

[2021-08-05 06:41] sureshanaparti commented on #5204
@matheusfontes @AlexanderKgr these VM level boot params are not set for the VM created in Xen/XCP from CloudStack, and so the VM would boot with the hypervisor's default firmware for the guest OS.

[2021-08-05 06:51] DK101010 commented on #5202
@DaanHoogland japp, I'm also the wrong person to answer this question.

But we are use this bugfix incl. uri update since 3 weeks in our prod VMware env. without problems.

Perhaps it helps to estimate the impact.

[2021-08-05 07:00] DaanHoogland commented on #4472
wouldn't do @nvazquez , we will have to alter a (no longer) deploy-as-is template. I have slight moral objections to that. For other templates it seems like a maintenance issue.

[2021-08-05 09:13] andrijapanicsb commented on #4183
Read my last comment - only CEPH/NFS --> SolidFire worked
localstorage: Also VM with ROOT volume only, can be migrated to another host (with local storage)

Other cases (NFS to NFS, or NFS to local, or NFS to Ceph etc, etc, etc) - were never implemented, but there is a framework for this in case someone has time/will/$$$ to do it.

[2021-08-05 09:21] harikrishna-patnala commented on #4472
@samzehnder, we already have dynamicallyScalable property of the VM which can be used to on and off hotplug on VM. There is a PR https://github.com/apache/cloudstack/pull/4630 which addresses this specifically for VMware. Or am I missing anything here !

[2021-08-05 09:38] DaanHoogland opened #5280 "delete template from zone stopped working"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

![image](https://user-images.githubusercontent.com/2486961/128328297-e7ba89e5-e86e-41ca-b837-ad165485bce2.png)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-08-05 09:47] andrijapanicsb commented on #5234
in order to access the console of ANY VM, you are really accessing the "Public" IP of the CPVM - and if that communication is not possible, you won't be able to access console... (CPVM is connected to Pod/management network to proxy VNC traffic from hypervisor/VM, to  your browser - and this is exposed/proxied (with auth/token) on the "public" interface of the CPVM)

So your browser needs to be ab

[2021-08-05 09:50] DaanHoogland opened #5281 "fix multi action bar in overviews"
when doing a bulk operation on a page with lots of entries, the bar with the action buttons moves out of view. It would be very convenient to fix it so it is still visible when selecting item 200.

##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##

[2021-08-05 11:14] nvazquez commented on #4183
@andrijapanicsb I had, but you were missing one case. Please check this PR: https://github.com/apache/cloudstack/pull/2983 working under special circumstances for CentOS7 as explained in the PR description, it was originally working on CentOS 6

[2021-08-05 11:22] andrijapanicsb commented on #4183
um, apologies, was not aware of that!... ok, going back to cave now...

[2021-08-05 12:38] nvazquez commented on #5255
Closing as this is fixed by PR #5278

[2021-08-05 12:38] #5255 closed

[2021-08-05 14:36] DaanHoogland opened #5284 "deleting a networkoffering succeeds with exception"
when going into a network offering, that is disabled or unused, deleting it leads to a 403 page.

![image](https://user-images.githubusercontent.com/2486961/128368088-a0b16225-5eec-4044-836c-ab3dee92fc57.png)

![image](https://user-images.githubusercontent.com/2486961/128368214-ffcc5ec0-94b0-4730-952c-d294290822a1.png)

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTAC

[2021-08-05 20:10] andrijapanicsb opened #5286 "UI: fields for IP in New Form Wizard are too narrow"
ACS 4.15.1

New zone wizard - IPs can't fit/show correctly in the IP address fields - fields are too "short"

![image](https://user-images.githubusercontent.com/45762285/128414403-7443b392-77db-441b-9f62-24146dc4f2b1.png)

[2021-08-06 07:12] #5280 closed

[2021-08-06 14:20] #5284 closed

[2021-08-06 14:22] nvazquez commented on #5279
@davidjumani can you please work on this?

[2021-08-06 14:50] nvazquez commented on #5268
Closing as PR #5269 is merged

[2021-08-06 14:50] #5268 closed

[2021-08-06 15:36] nvazquez commented on #5261
Hi @digitalgust, which hypervisor is your host running? The CPU capacity is obtained from the hosts and persisted on the `host` table in the database. You can set an overcommit factor for CPU under 'Configuration -> Global Settings -> cpu.overprovisioning.factor'

[2021-08-06 15:44] nvazquez commented on #5250
Hi @tampler, as @slavkap pointed out the logs you have shared belong to a `startVirtualMachine` API:
[code]

Can you please repeat the deployment of a new VM from the template and share the logs for the `deployVirtualMachine` API?

[2021-08-06 16:21] nvazquez commented on #5248
@ngrosc @DaanHoogland if you don't mind I'm marking this as an improvement/new feature rather than a bug as by design the owner of the resources within a project is the project itself and not the accounts that belong to the project. It will be interesting to discuss how the unassigning resource from a project should work

[2021-08-06 18:24] nvazquez commented on #5230
@tampler to fix this you will need your SSVM deployed, looks like an issue in your setup is causing the system VMs to fail

[2021-08-06 18:28] nvazquez commented on #5212
Closing this as the following PRs have been merged:
- 4.15: https://github.com/apache/cloudstack/pull/5219
- main: https://github.com/apache/cloudstack/pull/5262

[2021-08-06 18:28] #5212 closed

[2021-08-06 19:29] shwstppr commented on #5279
@Pearl1594 can you please check latest main now. I feel this should be fixed now with #5285 cc @nvazquez
![actioncheck](https://user-images.githubusercontent.com/153340/128562079-665c22da-58f8-4d4d-939a-7fb5cbee3e82.gif)

[2021-08-07 02:36] nvazquez commented on #5189
Hi @abdelouahabb please advise when you have created the PR to fix this

[2021-08-07 03:11] nvazquez commented on #5188
@abdelouahabb I have created a documentation PR to address this issue, please review: https://github.com/apache/cloudstack-documentation/pull/235 cc. @DaanHoogland @rhtyd

[2021-08-07 03:17] nvazquez commented on #5161
@GabrielBrascher could you work on this issue?

[2021-08-07 03:42] nvazquez commented on #5100
@aleskxyz the PR #5258 fixes the issue, however we've noticed the guest OS you have mentioned on the 'Steps to reproduce' is unsupported with VMware version 6.5. Even VM deployments fail with the error:

[code]

Were you able to create VMs from templates with that guest OS?

[2021-08-07 03:46] nvazquez commented on #5093
Hi @utchoang I've noticed you are working on this issue. Do you think it can be completed in the 4.16 milestone?

[2021-08-07 03:56] nvazquez commented on #4897
Thanks @shwstppr your PR looks good. I'm not aware of any case in which a detail key with a null value is added

[2021-08-07 05:41] aleskxyz commented on #5100
@nvazquez
The '' is not
It seems that 'suse64Guest' is a deprecated guest os type for vmware but is still exist in documents:
[vim.vm.GuestOsDescriptor.GuestOsIdentifier](https://code.vmware.com/apis/196/vsphere/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html)
I could create a VM with that os type in vCenter 6.5 directly but I get a warning (not error) that this os type is not supported.

[2021-08-07 10:15] kricud opened #5290 "Compute Offering and Disk Size is not showing entries"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When creating new instance Compute Offering and Disk Size is not showing entries.

##### STEPS TO REPRODUCE

[code]
![Screenshot 2021-08-07 130418](https://user-images.githubusercontent.com/30048481/128596785-35498576-be07-45f3-9fdf-8a16bea4e3

[2021-08-08 13:13] tampler commented on #5230
Seems like a Zone setup issue. Can't reproduce, closing for now

[2021-08-08 13:13] #5230 closed

[2021-08-08 13:28] tampler opened #5291 "Null Pointer Exception while list hosts"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Single server setup, KVM, Advanced Network, LocalStorage enabled for Zone

##### OS / ENVIRONMENT

Ubuntu 20.04.2
Kernel: 5.13.7

##### SUMMARY

I was able to set up an Advanced Zone. Launched SystemVMs and tried to add a host. CloudStack Agent service is running, but when I try to

[2021-08-08 14:03] tampler commented on #5291
I also checked the SQL entries in the 'Host' table. See below
![host](https://user-images.githubusercontent.com/2816743/128634678-a30d6343-5652-4a3e-9764-23c8d3ec5a3f.png)

[2021-08-09 01:33] utchoang commented on #5093
@nvazquez It won't complete in the 4.16 milestone because it needs to change the source code a lot. Currently, I think it's only 60-70% complete. Thanks.

[2021-08-09 04:37] digitalgust commented on #5261
thank you, i changed the database and vn can migrate to the host

[2021-08-09 04:43] davidjumani commented on #5279
Tested, fixed with #5285 . @Pearl1594 Can you check and update / close

[2021-08-09 04:59] Pearl1594 commented on #5279
Thanks, Seems to be fixed. Closing the issue.

[2021-08-09 04:59] #5279 closed

[2021-08-09 07:27] davidjumani commented on #5281
Guess you mean something like this ?

![Screenshot from 2021-08-09 12-56-46](https://user-images.githubusercontent.com/8244774/128672284-720c4c9f-e940-42ee-9c78-0df67d9f36cd.png)

[2021-08-09 07:32] DaanHoogland commented on #5281
seems good, would have to see ot scrolled down.

[2021-08-09 07:55] kricud opened #5293 "VPC Add network help information as separate icon"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

VPC Add network help information as separate icon, not integrated into fields.
![Screenshot 2021-08-09 105217](https://user-images.githubusercontent.com/30048481/128674828-cfa48d18-6b3e-469d-b5c6-1af7fee38019.png)
Users on regular occ

[2021-08-09 08:29] DK101010 commented on #5271
@kricud It is the same Dynamically Scalable switch with additional functionality.

[2021-08-09 08:39] kricud opened #5294 "Hosts details page showing incorrect data for Hypervisor Version"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

VMware and KVM

##### OS / ENVIRONMENT

ESXi 6.5, KVM Ubuntu 18.04

##### SUMMARY

Hosts details page showing incorrect data for Hypervisor Version.
When you press on host for brief moment it is showing correct data and then switches to Hypervisor Version 4.15.1.0
and empty Host Ta

[2021-08-09 09:01] rhtyd commented on #5138
Fixed by https://github.com/apache/cloudstack/pull/5275

[2021-08-09 09:01] #5138 closed

[2021-08-09 09:01] davidjumani commented on #5294
@kricud Could you clear the cache / local storage and try again ?

[2021-08-09 09:01] rhtyd commented on #5161
@utchoang can you check if we show the revert button in UI for snapshots, if there's any check for rbd/ceph/kvm?

[2021-08-09 09:04] rhtyd commented on #5188
Docs PR merged https://github.com/apache/cloudstack-documentation/pull/235

[2021-08-09 09:04] #5188 closed

[2021-08-09 09:04] rhtyd commented on #5134
Ping @div8cn any more updates, hints?

[2021-08-09 09:06] rhtyd commented on #5042
Thanks @apurv-1 looks like the improvement request has been handled in https://github.com/apache/cloudstack/pull/5052 please help review/test it on the PR.

[2021-08-09 09:06] rhtyd commented on #5256
FIxed in https://github.com/apache/cloudstack/pull/5292

[2021-08-09 09:06] #5256 closed

[2021-08-09 09:08] rhtyd commented on #5286
Fixed in https://github.com/apache/cloudstack/pull/5287

[2021-08-09 09:08] #5286 closed

[2021-08-09 09:08] rhtyd commented on #5265
Fixed in https://github.com/apache/cloudstack/pull/5270

[2021-08-09 09:08] #5265 closed

[2021-08-09 09:09] kricud commented on #5294
@davidjumani It has been done empty cache hard reload and other browsers/computers same problem.
We are investigating if its not related to #5175 we have some strange problems, and they are mostly happening
in production when you have lots of data in ACS.

[2021-08-09 09:17] rhtyd commented on #2625
PR claiming to fix this issue has been merged https://github.com/apache/cloudstack/pull/4573
@izenk please test and re-open if not satisfied, thanks.

[2021-08-09 09:17] #2625 closed

[2021-08-09 09:19] rhtyd commented on #2583
A PR claiming to fix this issue https://github.com/apache/cloudstack/pull/4497 has been merged.
@AlexanderKgr @DagSonsteboSB please test 4.15.1/4.14.1 and re-open this if not satisfied, thanks.

[2021-08-09 09:19] #2583 closed

[2021-08-09 09:22] rhtyd commented on #3015
We need the docs to be updated on per hypervisor basis for example;
VMware and XenServer - specifies in the docs no. of max hosts in a cluster in release notes (version-specific)
KVM - likely no concept of pool or cluster, so pratically as many no. of processes you can run on Linux

cc @nvazquez

[2021-08-09 09:24] rhtyd commented on #3110
@nvazquez I'm not keeping a track of this, maybe someone in the RM/release team verify and close this?

[2021-08-09 09:25] rhtyd commented on #3111
@nvazquez maybe someone can be assigned to continue PR3997 to completion?

[2021-08-09 09:27] kricud commented on #5294
Did tests with: 'STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' to 'sql_mode' not helping same problems.

[2021-08-09 09:27] rhtyd commented on #3144
@davidjumani @weizhouapache can you check if this is still applicable? cc @nvazquez - sorry changing the milestone until we determine if it's a bug, there is an old PR https://github.com/apache/cloudstack/pull/1965 that can be used as a reference to fix the issue.

[2021-08-09 09:28] rhtyd commented on #3156
Ping @sureshanaparti is this still relevant and should you fix it, I see your PR https://github.com/apache/cloudstack/pull/1257

[2021-08-09 09:28] rhtyd commented on #3156
@nvazquez @sureshanaparti  please discuss and change milestone if we don't want to include it in 4.16 scope

[2021-08-09 09:30] rhtyd commented on #3195
@DaanHoogland can you review that's remaining and being targetted for 4.16; I suppose except for component tests and VR scripts all are 100% complete? Even component tests are all migrated to py3? cc @nvazquez @sureshanaparti

[2021-08-09 09:31] rhtyd commented on #3341
@Doni7722 can you test latest 4.15.1? We've moved to a new deploy-as-is feature which is more streamlined with vSphere.

[2021-08-09 09:33] rhtyd commented on #3455
cc @Pearl1594

[2021-08-09 09:33] rhtyd commented on #3548
Thanks @Pearl1594 looking forward to that.

[2021-08-09 09:34] rhtyd commented on #3561
cc @harikrishna-patnala @sureshanaparti - could it work now with the PR being referenced and your work?

[2021-08-09 09:34] rhtyd commented on #3569
@wido @GabrielBrascher anybody working on this?

[2021-08-09 09:35] rhtyd commented on #3598
ping @skattoju cc @swill @syed @pdion891 - any update on this?

[2021-08-09 09:36] rhtyd commented on #3598
(moved this back to unplanned unless we hear any devs picking this up)

[2021-08-09 09:36] rhtyd commented on #3603
This is expected I think.

[2021-08-09 09:37] utchoang commented on #5161
@rhtyd @GabrielBrascher  In new UI, revert button is only visible when `state === 'BackedUp' && revertable === true`. So in this case, when will the revert button be displayed?

[2021-08-09 09:40] rhtyd commented on #3693
Maybe review/close or update this issue @DaanHoogland ?

[2021-08-09 09:40] Pearl1594 commented on #3455
This was addressed as part of https://github.com/apache/cloudstack/pull/3900 -which is now part #4329.

[2021-08-09 09:42] rhtyd commented on #3613
It may be worth discussing and move it out if the scope/changes are huge. cc @nvazquez @weizhouapache

[2021-08-09 09:44] rhtyd commented on #4067
Closing this, not applicable for usage servers on x86

[2021-08-09 09:44] #4067 closed

[2021-08-09 09:48] rhtyd commented on #4183
@GabrielBrascher does your PR/blocker fixes this issue?

[2021-08-09 09:49] rhtyd commented on #4183
Oh wait nevermind, is that the qemu-kvm vs qemu-kvm-ev limitation on El7?

[2021-08-09 09:50] rhtyd commented on #4184
Note - this happened only on RaspberryPi4/aarch64, however VM snapshots work on x86/Ubuntu etc.

[2021-08-09 09:51] rhtyd commented on #4281
@humito36 can you test latest 4.15.1?

[2021-08-09 09:52] rhtyd commented on #4314
@tungntvn23 can you try 4.15.1?

[2021-08-09 09:53] rhtyd commented on #4370
Moving it to unplanned based on @DaanHoogland 's comment.

[2021-08-09 09:55] apurv-1 commented on #5042
Yeah sure, will test and update you soon on this!

[2021-08-09 10:01] rhtyd commented on #4560
IPv6 discussion started here: https://markmail.org/message/23ttvzwmzuanlkyg

[2021-08-09 10:03] rhtyd commented on #4887
Closing this, I reviewed looks like all tasks mentioned in the issue are complete.

[2021-08-09 10:03] #4887 closed

[2021-08-09 10:05] rhtyd commented on #4937
@davidjumani please discuss with @nvazquez @weizhouapache @sureshanaparti if there are anything we should target for 4.16

[2021-08-09 10:06] rhtyd commented on #4982
@weizhouapache I'm not following this, please discuss with @Pearl1594 @shwstppr and the rest of the RM/release team. Thanks.

[2021-08-09 10:07] rhtyd commented on #5046
None I checked, it may be scheduled to be fixed @nvazquez

[2021-08-09 10:08] rhtyd commented on #5093
Thanks @utchoang can you give us update on this issue or the PR - what is the scope of change expected? I hope you're not ending up rewriting a whole lot of UI :)

[2021-08-09 10:12] rhtyd commented on #5161
Thanks for sharing @utchoang as per @GabrielBrascher 's comment looks like we need to check the 'revertable' setting - can you confirm against the legacy UI from 4.15/4.14 and raise a PR.
@GabrielBrascher @div8cn any comments? Are you for example seeing the option in old UI?

[2021-08-09 10:15] rhtyd commented on #5198
@xuanyuanaosheng I've not checked all the details you've shared, but you may want to test with an advanced zone and create a shared network in it for more flexibility for VLAN configuration/management. Security groups may also be used/tested.

[2021-08-09 10:18] rhtyd commented on #5290
@kricud are you able to see the list in the legacy 4.15 UI?

[2021-08-09 10:19] rhtyd commented on #5291
@tampler have you disabled local storage on the hosts, is it enabled for your zone?

Log reference seen:
[code]

[2021-08-09 10:20] rhtyd commented on #5294
@kricud can you share the output of listHosts and listHostsMetrics for the specific host ID? (you may remove sensitive data and replace with placeholders `xxxxyyyyzzz`)?

[2021-08-09 10:25] kricud commented on #5290
@rhtyd in legacy ui it works as expected
![Screenshot 2021-08-09 132312](https://user-images.githubusercontent.com/30048481/128692609-84f62589-7354-4b08-a522-33b27c82c0a3.png)

[2021-08-09 11:01] davidjumani commented on #5204
From what I gather, xcp-ng decides the boot mode based on the VM type. Explicitly passing BIOS from CloudStack will restrict the capabilities of xcp-ng. I think it will be a good idea to add a note in the documentation mentioning that migrating VMs between xcp / xen versions can cause this issue and how to change the boot mode if it happens.
Once that's done, can look into supporting BIOS as well

[2021-08-09 11:30] kricud commented on #5294
@rhtyd output of listHosts and listHostsMetrics below:

[code]

[2021-08-09 12:34] GabrielBrascher commented on #5161
From what I have been debugging it is related to the Snapshot response not placing the snapshots in RBD as revertable.
I will take a deeper look at this but it does not look like a UI issue but instead an API response issue.

[2021-08-09 13:49] tampler commented on #5291
@rhtyd  Hello Rohit

I'm not sure if that was a case. I'm evaluating CloudStack now and set everything on a single server. YES, I'm using local storage on my ZONE and locally

I was blocked by this issue and fixed it by dropping and restoring MYSQL databases. Do you want me to try to reproduce this with some corner case test?

Things started to work after database reset, but this may be an issue f

[2021-08-09 19:22] nvazquez commented on #5291
Hi @tampler I've tested with the latest 4.15 branch and cannot reproduce your issue, can you please verify with these packages? https://download.cloudstack.org/testing/nightly/2021-08-09/debian/4.15/

[2021-08-09 19:25] nvazquez commented on #5291
Can you also provide the output of your `storage_pool_host_ref` table? Seems like the NPE is caused by a missing entry on this table

[2021-08-10 01:15] utchoang commented on #5161
@rhtyd Through research in branch 4.14, the new UI revert button display condition is the same. I think the problem here is from the API?
https://github.com/apache/cloudstack/blob/4.14/ui/scripts/storage.js#L3199

[2021-08-10 02:53] utchoang commented on #5093
@rhtyd Upon investigation and implementation, I note a few points that are worth considering:
1. The support to migrate from v2 to v3 of Vue3 is not sufficient (https://v3.vuejs.org/guide/migration/migration-build.html#upgrade-workflow)
2. The source code of ant-design-vue 2x is completely different from that of 1x although the UI still stays the same, which can be seen from form, slots, and event

[2021-08-10 04:13] nvazquez commented on #4183
Yes @rhtyd - the workaround mentioned above was tested fine when the feature was introduced

[2021-08-10 04:16] nvazquez commented on #5261
@digitalgust thanks, I'm closing this issue

[2021-08-10 04:16] #5261 closed

[2021-08-10 04:55] nvazquez commented on #5100
@aleskxyz thanks, I have tried through CloudStack and couldn't deploy any VM selecting that guest OS. I think the original problem raised in this issue is handled by the PR, if needed please raise a new issue for the specific guest OS problem

[2021-08-10 05:05] nvazquez commented on #5046
@sureshanaparti can you explore and advise about the proposed procedure https://docs.vmware.com/en/VMware-vSphere/6.5/com.vmware.vsphere.resmgmt.doc/GUID-7297C302-378F-4AF2-9BD6-6EDB1E0A850A.html ?

[2021-08-10 05:39] nvazquez commented on #3685
@DaanHoogland @borisstoyanov any update on this?

[2021-08-10 06:51] davidjumani commented on #5271
Created #5299 to fix scenario 1

[2021-08-10 07:02] davidjumani commented on #5294
In the UI, the agent version is shown as a tag below the host name
![Screenshot from 2021-08-10 12-26-25](https://user-images.githubusercontent.com/8244774/128822499-1f054d0a-bfba-4b9f-a137-87578fa70e43.png)

The hypervisor version defaults to the OS version if `hypervisorversion` is not found in the response which imo is correct since the user would like to see the agent version (below the name)

[2021-08-10 07:18] kricud commented on #5294
@davidjumani problem is not on/for VM but physical host Infrastructure > Hosts

[2021-08-10 07:21] davidjumani commented on #5294
@kricud Yes, I'm talking about the hosts themselves, but in the response you posted, I don't see `hypervisorversion` in the response

[2021-08-10 07:25] kricud commented on #5294
@davidjumani Open any host Infrastructure > Hosts
![Screenshot 2021-08-10 102052](https://user-images.githubusercontent.com/30048481/128825297-cadf1cd9-6935-4493-b570-704051155542.png)
![Screenshot 2021-08-10 102119](https://user-images.githubusercontent.com/30048481/128825308-2b52d891-d7d0-416a-adee-fbacf4f79638.png)
Press edit > ok
![Screenshot 2021-08-10 102150](https://user-images.githubuserco

[2021-08-10 07:30] kricud commented on #5294
In Legacy UI it works.
![Screenshot 2021-08-10 102938](https://user-images.githubusercontent.com/30048481/128826380-182cee48-0774-4251-b502-b4339190aff6.png)

[2021-08-10 09:15] spazicus opened #5300 "'Hosts' in the webui not working"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced Networking

##### OS / ENVIRONMENT

Ubuntu Server 20.04.2, MySQL Ver 8.0.26-0ubuntu0.20.04.2, KVM

##### SUMMARY

Hardware, setup with 4.15, then upgraded to 4.15.1
http://ipaddress:8080/client/#/host        = 'Hosts' tab in the webui BROKEN with error
http://ipaddress:808

[2021-08-10 09:22] spazicus commented on #5300
![Screenshot from 2021-08-10 10-19-36](https://user-images.githubusercontent.com/88711740/128842375-6cb34665-582a-485e-b6d4-895515c0bfc9.png)

[2021-08-10 10:10] DaanHoogland commented on #3195
yes, component tests are migrated and #5082 is open for fixing (some of) them. The VR is not done and there are some obscure tests in test/integration/testpaths and some in test/integration/plugins
nothing else that I know of.

[2021-08-10 10:32] shwstppr commented on #5300
Hi @spazicus, can you please share your management server logs for `listHostsMetrics` API call or when you navigate to Hosts in new UI

[2021-08-10 10:53] spazicus commented on #5300
Hi shwstppr, here you go:

# grep "listHostsMetrics" management-server.log

2021-08-10 11:51:34,893 DEBUG [c.c.a.ApiServlet] (qtp1074389766-515:ctx-c96a3bee) (logid:2115c74a) ===START===  10.xx.0.xx -- GET  listall=true&type=routing&page=1&pagesize=20&command=listHostsMetrics&response=json
2021-08-10 11:51:34,904 WARN  [c.c.a.d.ParamGenericValidationWorker] (qtp1074389766-515:ctx-c96a3bee ctx-6afb

[2021-08-10 11:19] shwstppr commented on #5300
@spazicus we will have to look complete logs between `(logid:2115c74a) ===START===` and `(logid:2115c74a) ===END===` to check for probably a `java.lang.NumberFormatException: For input string: " "`

[2021-08-10 11:29] spazicus commented on #5300
This is the full output:

2021-08-10 11:51:34,893 DEBUG [c.c.a.ApiServlet] (qtp1074389766-515:ctx-c96a3bee) (logid:2115c74a) ===START===  10.58.0.88 -- GET  listall=true&type=routing&page=1&pagesize=20&command=listHostsMetrics&response=jso
n
2021-08-10 11:51:34,900 DEBUG [c.c.a.ApiServer] (qtp1074389766-515:ctx-c96a3bee ctx-6afb5dfc) (logid:2115c74a) CIDRs from which account 'Acct[e2983402-9a35-11

[2021-08-10 11:50] tampler commented on #5291
@nvazquez Hello! Unfortunately, I've dropped those databases and restored from an initial backup. That said, I can't provide any extra debug info, unless you provide me a specific test.

Perhaps, it's better to close this issue for now since I can't debug it anymore

[2021-08-10 12:18] GabrielBrascher commented on #3569
@rhtyd right now there are no PRs on the way.

PRs #3571 and #4177 worked in some parts to tackle the problem raised in this issue; however, there is still room for some code cleanup and enhancements in the IPv6 codebase.

This is not a top priority issue (bug fix nor enhancements) but still would be nice to have it tackled in the future.
For now, I think that we can postpone and remove the 4.16 m

[2021-08-10 12:24] shwstppr commented on #5294
@kricud In your production env where you are seeing this, can you please check the browser console and see if there is still an API (listHosts) call running when it shows the host version as hypervisorversion.
I've made some changes in UI code #5301 to not show host version as its hypervisorversion

[2021-08-10 12:31] shwstppr commented on #5300
@spazicus are you able to get output for `listHostsMetrics` API command using cloudmonkey?

[2021-08-10 13:12] tampler commented on #5234
@weizhouapache Hello Wei
Which cmk command should I use to obtain my current networking config, similar to [this one](https://github.com/apache/cloudstack/blob/main/tools/devcloud-kvm/devcloud-kvm-advanced.cfg)

[2021-08-10 13:18] shwstppr commented on #5234
@tampler you will have to use multiple APIs to setup zone with that config. Easier would be to use UI.
For API you may refer this python script, it may give some hints https://github.com/apache/cloudstack/blob/main/tools/marvin/marvin/deployDataCenter.py

[2021-08-10 13:28] kricud commented on #5294
@shwstppr screenshot if I have understood it correctly
![Screenshot 2021-08-10 162642](https://user-images.githubusercontent.com/30048481/128875367-7b66eb57-1934-4879-be37-388cb666fe22.png)

[2021-08-10 13:45] shwstppr commented on #5294
@kricud that seems fine API call was successful though ID of host is different this time from the one for which you shared cmk output. Tbh, I'm not sure why it won't show host version correctly for you.
Current code logic first tries to find `hypervisorversion` in API response. If not found then it tries to show `details["Host.OS.Version"]`. If not found then it shows `version` from API response.

[2021-08-10 13:51] tampler commented on #5234
@shwstppr Thanks a lot ! Will take a look into that

[2021-08-10 14:22] spazicus commented on #5300
Can you post the command I should enter into cloudmonkey please...

[2021-08-10 15:21] tampler commented on #5234
Anybody knows how to set up an ext access to SystemVMs and Guest VMs? I set up an Advanced Zone and was able to ssh to my SystemVMs thru a local link (169.254.x.x) from the host. How do I do that from a remote host? Thanks
![network0](https://user-images.githubusercontent.com/2816743/128893857-744c223f-c3bd-4676-920f-b537c26feda5.png)

[2021-08-10 16:52] spazicus commented on #5300
Here you go matey:

(localcloud) mycloudmonkey> > sync
Discovered 614 APIs
(localcloud) mycloudmonkey> > list hostsmetrics
🙈 Error: (HTTP 431, error code 9999) For input string: "∞"
(localcloud) mycloudmonkey> >

[2021-08-10 16:59] nvazquez commented on #5271
Automatically closed after PR for scenario 1 was merged, reopening

[2021-08-10 17:17] nvazquez commented on #5300
Thanks @spazicus, can you share the output of this SQL? `select * from host_view`? I'm interested to see if the character is visible on the output of the hosts view which is later parsed as the API response

[2021-08-10 17:34] spazicus commented on #5300
Hi, I entered:

mysql -u root -p

use cloud;
select * from host_view

... nothing was returned

[2021-08-10 17:54] kricud commented on #5294
@shwstppr This behavior is happening for all host KVM and Vmware and only in production.
Maybe remote session to show how its behaving with developers tad in browser would help?
![Screenshot 2021-08-10 205200](https://user-images.githubusercontent.com/30048481/128910224-a07329c3-9bf4-42fb-b433-881fb7c37588.png)

[2021-08-10 18:17] tampler commented on #5300
Had a similar issue with a Null Pointer Exception in #5291

[2021-08-10 19:59] spazicus commented on #5300
Hi tampler, yes looks to be the same issue. Hopefully we can get to the bottom of it before... dropping the db

Thanks for the info!

[2021-08-10 20:34] tampler opened #5302 "Basic Zone - change init sequence"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Single Server deployment
Basic Zone
LocalStorage enabled

##### OS / ENVIRONMENT

Ubuntu 20.04.2

##### SUMMARY

Creation of a Basic Zone after a clean CloudStack setup fails with the error: `TypeError: h.prefillContent.secondaryStorageProvider is undefined`

The host can'

[2021-08-10 21:43] spazicus commented on #5300
So to re-cap, whenever you click the hosts link (in my webui):

Whatever call the /legacy webui makes to the db, works fine

Whatever call the new webui makes to the db, FAILS...

[2021-08-11 06:43] sureshanaparti commented on #5046
@nvazquez vSphere cluster supports multiple VM Rules to keep VMs together (affinity) and separate VMs (anti-affinity), so each affinity / anti-affinity group from CloudStack can be created / mapped to a VM rule in vSphere cluster (with name as the  affinity / anti-affinity group name in CloudStack). The VM(s) created from CloudStack can be added to /  removed from the VM rule in that vSphere clust

[2021-08-11 08:30] DaanHoogland commented on #3685
no update, what is the use of a unlinked domain or account? it would be filled with autoimported/autosynced users from ldap. Why would you want to keep those?

[2021-08-11 08:32] davidjumani commented on #3144
Issue still exists, will create a PR based on #1965 to fix it

[2021-08-11 08:37] DaanHoogland commented on #3569
those two issues are closed @GabrielBrascher @rhtyd let's close this? (cleanup should be a focus on any PR, safe maybe urgent fixes)

feel free to reopen if you disagree.

[2021-08-11 08:37] #3569 closed

[2021-08-11 08:47] davidjumani commented on #3144
Issue is fixed, the password & ssh key get sent to both the master and backup VR

[2021-08-11 11:09] nvazquez commented on #5134
@div8cn I'm closing the issue now, please reopen if needed

[2021-08-11 11:09] #5134 closed

[2021-08-11 11:16] nvazquez commented on #4868
+1 for me, @DaanHoogland @rhtyd any input?

[2021-08-11 11:19] davidjumani commented on #5290
@kricud can you check the browser console logs ?

[2021-08-11 11:22] shwstppr commented on #5294
@kricud we can remote session but this seems an issue with UI and will need upgrading UI package or installing new UI packages to a subdir in `/usr/share/cloudstack-management/webapp` for testing the fix. Will that be an option for you?

[2021-08-11 12:48] nvazquez commented on #3144
No problem @rhtyd - thanks @davidjumani I'll close after your remark

[2021-08-11 12:48] #3144 closed

[2021-08-11 14:10] CobbyJ commented on #3826
I am having the same issues again, can someone give clear instructions how to fix.

I really dont understand why cloudstack have so many issues...

[2021-08-11 14:30] DaanHoogland commented on #4868
I agree that what @davidjumani describes is the intuitive way, but it might cause a regression like behaviour of user scripts so we need to document very well if we change this. (and possibly provide automated migration, though it seems not more than adding the `isrecursive=true` in scripts at first sight)

[2021-08-11 14:51] nvazquez commented on #5046
Thanks @sureshanaparti - not including this one on the 4.16 milestone after your remark

[2021-08-11 16:15] kricud commented on #5294
@shwstppr Not with production we have had bad experience. Let’s close it and with next 4.15.2 update I will test if #5301 solve problem. Still no luck reproducing it in lab and preprod.

[2021-08-11 16:53] kricud commented on #5290
@davidjumani don’t see anything suspicious in console logs.

The way how to reproduce this case can be done as following: Create 4 domains ROOT/dom1, ROOT/dom1/subdom1, ROOT/dom1/subdom2 and ROOT/dom1/subdom3. Create 11 compute offerings and assignee them to ROOT/dom1/subdom1 another 11 and assign them to ROOT/dom1/subdom2 another 11 assign them to ROOT/dom1. (order of creation is important) Creat

[2021-08-11 17:45] nvazquez commented on #3685
In my opinion unlinking a domain or account should remove access to CloudStack from LDAP accounts, what about removing those accounts' information from DB?

[2021-08-11 18:07] nvazquez commented on #4433
My tests have failed on NFS but could be related to an environmental issue as @Spaceman1984 could not reproduce. @slavkap thanks for testing on Ceph, could you work on this issue or planning to work on it?

[2021-08-11 18:11] GabrielBrascher commented on #4482
@nvazquez this could be an option indeed

[2021-08-11 18:15] #5042 closed

[2021-08-12 05:05] davidjumani commented on #4937
If anything is to be added, I think the following should be
- Override default traffic label for VMware with nexus / dvswitch when adding a cluster when vmware.use.dvswitch set to true
- S3 as a secondary store (exists in the create zone wizard, but not in add secondary store vue)

However since there have been no requests, I don't see any urgency in adding them

[2021-08-12 05:26] davidjumani commented on #5290
@kricud Was able to reproduce it. It appears to be a backend issue. Will look into adding a fix

[2021-08-12 05:51] DaanHoogland commented on #3685
isn't removing the account/domain good enough? what is the added value of unlink?

[2021-08-12 07:02] borisstoyanov commented on #3685
if the account was created before it was linked then it should remain without the possibility to authenticate to LDAP server but native only auth.

[2021-08-12 07:12] DaanHoogland commented on #3685
You are asking for a new feature @borisstoyanov , I can understand what you want but it was not designed to be unlinked. I would even not be sure how it would work if you'd like an existing account to ldap.
Come to think of it these are two distinct features;
- linkage live cycle for domains
- linkage life cycle for accounts
these are not tightly coupled.

[2021-08-12 08:01] slavkap commented on #4433
@nvazquez, yes, I could work on a fix if nobody wants to or didn't start working on it. But to mention that I don't have much experience with Ceph, and maybe I will have some questions about it.

[2021-08-12 08:36] AlexanderKgr opened #5306 "Override Root Disk Size button does not work"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Override Root Disk Size button does not work

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-08-12 10:29] Pearl1594 commented on #4868
If I could add a point here - as per my understanding, `isrecursive` is a parameter used in conjunction with domainid, where as when invoking a list api with `listall` it should list everything, irrespective of the value of `isrecursive`(which is what it does currently). In my opinion, the current behavior isn't actually wrong/buggy.

[2021-08-12 13:20] nvazquez commented on #4433
@slavkap no problem, just checking if there was some work on it already to see if it will be included on the milestone or not

[2021-08-12 13:29] GutoVeronezi opened #5308 "VMWare host do not receive commands to cleanup nics"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
In the class `VirtualMachineManagerImpl.java`, the `nicExpungeCommands` is instantied here:
https://github.com/apache/cloudstack/blob/2a4c2c250696a154ccf8a7c8fff8604d893e9258/engine/orchestration/src/main/java/com/cloud/vm/VirtualMachineMa

[2021-08-12 13:30] GutoVeronezi commented on #5308
@nvazquez could you explain more?

[2021-08-12 13:48] nvazquez commented on #4433
@slavkap assigned you on this as discussed offline, many thanks

[2021-08-12 13:54] nvazquez commented on #5308
Thanks @GutoVeronezi. As I understand this is a leftover only for Vmware nics connected to lswtich. In this case, is needed to send `UnregisterNicCommand` to Vmware hosts to complete the cleanup

[2021-08-12 14:48] nvazquez commented on #5306
@AlexanderKgr which hypervisor are you using to test? Does it happen also for the default centos template?

[2021-08-12 15:44] tampler opened #5309 "Agent Fails to start - Duplicate StorageAdaptor type PowerFlex"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 20.04.2

##### SUMMARY

The freshly built and installed CS agent won't start due to the error: Duplicate StorageAdaptor type PowerFlex . See the [log](https://github.com/apache/cloudstack/files/6976748/agent.log)

##### STEPS TO REPRODUCE

[code]

###

[2021-08-13 05:30] Pearl1594 commented on #5306
@AlexanderKgr cc @nvazquez  this has been fixed by https://github.com/apache/cloudstack/pull/5199/commits/8872b53556e0b15d48051a4fcc35e3c393caa55e?diff=split&w=1#diff-8008c55fcf5cea1128c96959a8e0602e2a6585d439666dc2f7556dc59e106de7L110-R110

[2021-08-13 05:34] sureshanaparti commented on #5111
@nvazquez Fixed the ordering of the disks. PR here: #5311

[2021-08-13 09:19] sureshanaparti commented on #5309
@tampler I noticed, the adaptor type is added to storage mapper explicitly and also it is populated through the reflection. But, I didn't get this issue while testing. Anyways, will remove the duplicate. Thanks.

[2021-08-13 09:30] sureshanaparti commented on #5309
This is the code ref: https://github.com/apache/cloudstack/blob/28e70c0a2a709c10edeba01e04d9eb606cf4c1f8/plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/KVMStoragePoolManager.java#L100-L119

[2021-08-13 09:34] sureshanaparti commented on #5309
@tampler Check the libvirt / pool access, may be that seems to be the issue from your log.

[code]

[2021-08-13 09:39] sureshanaparti commented on #5309
The log level ERROR is misleading there, I'll update it to WARN. Thanks.

[2021-08-13 10:45] nvazquez commented on #3156
As discussed offline @sureshanaparti will rebase the existing PR and test it

[2021-08-13 11:13] tampler commented on #5291
Hello, @nvazquez

I see this issue is still there in 4.16.0-Snapshot, which I built from today's master. I'm getting the following:
[code]
![host_npe](https://user-images.githubusercontent.com/2816743/129348962-8d57296e-5266-42ff-9ca5-0cfe9f429d50.png)

[2021-08-13 14:54] nvazquez commented on #5271
PR #4630 merged, closing

[2021-08-13 14:54] #5271 closed

[2021-08-13 15:31] tetra12 opened #5313 "Can't remove an empty Zone - zombie storage volumes"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Basic Zone
KVM
LocalStorage for Guest/SystemVMs were enabled Globally and during Basic Zone setup

##### OS / ENVIRONMENT

Ubuntu 20.04.2

##### SUMMARY

Created a Basic Zone. Then decided to completely remove it, but that won't work due to:
[code]
I'd expect to be able to remove a

[2021-08-14 00:37] #4897 closed

[2021-08-14 12:50] AlexanderKgr commented on #5306
i am using xcp-ng 8.2 and it is also happening with the default centos template

[2021-08-14 14:59] tetra12 opened #5314 "Compressed Templates - fail to upload a bz2 file"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Basic Zone
KVM

##### OS / ENVIRONMENT

Ubuntu 20.04

##### SUMMARY

I wanna upload a compressed *.qcow2.bz2 template from my local http server.
[code]
But when I try to upload it thru a web GUI, I'm getting the following:
`"status": "Failed to install: Template content is unsuppor

[2021-08-15 10:45] rhtyd commented on #5314
@tetra12 are you trying the browser based upload or registering the http url? If it is browser based upload can you try to uploading a tar.bz2 or use qemu-img to compact the qcow2 and upload it?

[2021-08-16 02:07] abdelouahabb opened #5315 "secondarystoragevm dont trigger when something (ISO or Template) is uploaded"
Cloudstack 4.15.1

I try to upload an ISO to create a VM,
But there is a problem, it seems SSVM dont get triggered as there is nothing happening, result, nothing is uploaded, but from the interface, everything went fine !

![Screenshot_20210816_025414](https://user-images.githubusercontent.com/2527234/129501866-411b74b7-ec9c-4e74-ae52-508a17ba6874.png)

Here is the error :

![iso](https://user-ima

[2021-08-16 02:41] nvazquez commented on #5100
PR #5258 merged, closing this issue

[2021-08-16 02:41] #5100 closed

[2021-08-16 02:44] nvazquez commented on #5204
@davidjumani looks good, can you please create a documentation PR?

[2021-08-16 03:19] nvazquez commented on #5291
@weizhouapache can you please check if this is a regression?

[2021-08-16 03:23] nvazquez commented on #5175
@harikrishna-patnala any ideas?

[2021-08-16 03:27] nvazquez commented on #3548
Thanks @Pearl1594 please advise after your tests

[2021-08-16 03:29] nvazquez commented on #4982
As @Pearl1594 advised on https://github.com/apache/cloudstack/pull/5005#issuecomment-896470785 moving forward with PR #5259 to fix this issue

[2021-08-16 03:57] nvazquez commented on #5313
@tetra12 looks like there are still some volumes not removed in DB for the zone, can you please try to disable the zone first and remove system VMs (if any)? As your zone is enabled it will try to recreate system VMs and its volumes

[2021-08-16 07:16] weizhouapache commented on #5179
the initial state could be "Connecting" (does not exist now) instead of "Connected"
https://github.com/apache/cloudstack/blob/main/server/src/main/java/com/cloud/network/vpn/Site2SiteVpnManagerImpl.java#L350

[2021-08-16 07:55] borisstoyanov opened #5316 "paged listServiceOffering response returns duplicated records in different pages"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

Create a large number of offerings, in my case about 250. list the offerings and divide the response into 3 pages of 100
While comparing the records from page1 and 2 I was able to find an id on the both pages. Checkout the attached file.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED

[2021-08-16 09:03] weizhouapache commented on #5308
for vmware, finalizeExpungeNics is executed before finalizeExpunge. it is not an issue imho.

[2021-08-16 09:10] weizhouapache commented on #5291
@tampler
could you provide the `storage_pool` table in database ?

[2021-08-16 09:17] weizhouapache commented on #5315
@abdelouahabb
have you uploaded SSL certificates for systemvms ?
refer to https://www.shapeblue.com/securing-cloudstack-4-11-with-https-tls/

[2021-08-16 10:00] shwstppr commented on #5316
I am able to reproduce this with a Simulator env for both compute and disk offerings. Not sure if the problem happens with other resources as well.
I created 1000 compute and disk offerings. Tried listing pages for disk offering with `pagesize=500`. It resulted in many duplicates. Logs for disk offerings:
[diskoffering.log](https://github.com/apache/cloudstack/files/6991419/diskoffering.log)

Whil

[2021-08-16 11:55] nvazquez commented on #5316
Thanks for testing @shwstppr, I checked the code for listDiskOfferings and the `QueryManager` is simply obtaining data from the DAO layer using a search criteria and a filter based on the start index and the page size value. Perhaps the filter can be replaced by this method: `StringUtils.applyPagination`?

[2021-08-16 12:57] weizhouapache commented on #5291
same as what @nvazquez have tested, I cannot reproduce the issue.

there are DB records below.
[code]

[2021-08-16 13:14] weizhouapache commented on #5316
@shwstppr @borisstoyanov
is it similar as #3934 which has been fixed by #4494 ?

try
[code]

[2021-08-16 13:40] abdelouahabb commented on #5315
Why this is not disabled by default, and in all tutorials there is nothing about this important notice ?

The first thing anyone will do, is to upload an iso or an old virtual disk, and because there is no certificate (and all tutorials dont talk about this), he will be stuck ?

[2021-08-16 13:41] shwstppr commented on #5316
@weizhouapache @nvazquez
By default value for `sort_key` field remains `0`. Maybe @borisstoyanov can confirm but this issue is seen with older versions as well 4.9 probably.
I've created a PR to use `id` field as secondary sort criteria which fixes the issue in my tests.

[2021-08-16 13:44] weizhouapache commented on #5316
@shwstppr sounds like a better idea.

[2021-08-16 15:06] pdion891 commented on #3613
Reloading dnsmasq when creating a new vm would probably work, but when you introduce a new network tier in a VPC, you will probably have to restart dnsmasq so it introduce the new network interface of the VR in dnsmasq configuration.

[2021-08-16 15:08] #4398 closed

[2021-08-16 18:05] weizhouapache commented on #3613
@pdion891
yes, this is why I keep the following lines in CsDhcp.py in #5319

[code]

[2021-08-16 20:16] vladimirpetrov opened #5322 "Wrong error message when moving a system VM to another host"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced zone

##### OS / ENVIRONMENT

CentOS 7 KVM environment with 2 hosts (both management server and hosts)

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

The system VM is moved but the UI is repoting that the request has

[2021-08-17 03:11] abdelouahabb commented on #5315
Update,
Followed the tutorial [This one uses the new interface](http://docs.cloudstack.apache.org/en/latest/adminguide/systemvm.html?highlight=ssl#using-a-ssl-certificate-for-the-console-proxy) and dident work, From [Here, I cant use a self signe certificate (need to buy one ?)](https://cwiki.apache.org/confluence/display/CLOUDSTACK/Procedure+to+Replace+realhostip.com+with+Your+Own+Domain+Name) ,

[2021-08-17 06:16] davidjumani commented on #5306
Verified, this has been fixed

[2021-08-17 06:40] davidjumani commented on #5204
Added a note https://github.com/apache/cloudstack-documentation/pull/237

[2021-08-17 07:09] davidjumani commented on #4868
@Pearl1594 If that is the case, isn't passing a `domainid` along with `isrecursive` as true the same as passing `domainid` with `listall` as true ? In that case is `isrecursive` redundant ?
Also a user might want to list all accounts only in his / her domain without the need to explicitly pass the domainid. In that case it will return all users in subdomains as well.
I believe that this could be m

[2021-08-17 07:24] #5322 closed

[2021-08-17 07:25] andrijapanicsb commented on #4433
Keeping volume snaps on primary storage works ONLY for CEPH (and accidentally for XenServer), last time I tested (in 4.14) - the code needs more robustness, and it's better to check with @GabrielBrascher or @wido what is the expected "acs storage" feature set when keeping the volume snap on Primary Storage (i.e. not copying it to Secondary Storage, which is the default setup for volume snaps)

[2021-08-17 07:56] davidjumani commented on #5293
Added a fix

[2021-08-17 08:51] tsinik-dw commented on #5204
I can also confirm the problem of Windows VMs switching to UEFI boot mode.
We are using XenServer 7.0 hypervisors (among others) orchestrated by ACS v4.13.1 in our production environment. We were planning to upgrade our cloud orchestrator to ACS v4.15.1 and move from XenServer 7.0 to XCP-NG 8.2.
During a PoC lab, we encountered the aforementioned problem. The upgrade of ACS to 4.15.1 went smoothly

[2021-08-17 09:04] davidjumani commented on #5202
@DK101010 Looking at the code history I see your point. The broadcast URI is stored incorrectly in the DB, although the network functions as a community PVLAN and can potentially cause issues for PVLANs created between 4.14 and 4.15. I'm +1 for a smart fix

[2021-08-17 09:45] shwstppr commented on #5204
My proposal on this is to allow ACS to specify boot mode for the VM using UI and API (using `details`) and in the Xen orchestration classes use BIOS as default boot mode unless VM explicitly specifies it.
However, I don't think the issue is caused by ACS 4.15.1 upgrade alone. Something must have changed in the XCP-ng 8.2 LTSR itself and it is just that ACS doesn't provide any option to specify boo

[2021-08-17 10:03] weizhouapache commented on #3757
since cloudstack 4.15.0.0, there is no parition /var any more. see #4104
VR health check was introduced to cloudstack 4.14.0.0 in #3575, which contains the check for disk space (disk_space_check.py).

Therefore I think we do not need to fix this issue.
what's your opinion ? @rhtyd @nvazquez

[2021-08-17 10:09] DaanHoogland commented on #3693
@rhtyd @nvazquez this will be open for a long time unless it's getting priority, which it won't as it concerned data and entities being left around in test environments when running smoke tests. I've updated the list and am addressing some for component tests and will address any further I encounter during other work.
Maybe there should be a milestone "ongoing" or something?

[2021-08-17 10:43] tsinik-dw commented on #5204
@shwstppr I think your approach to solving the problem is a clever one! Being able to specify the boot mode within UI and API will be beneficial for cloud administrators. Most important, declaring BIOS as the default boot mode will immediately overcome this issue .
I am pretty sure, too, that the problem lies in XCP-NG 8.2 boot mode handling, and Cloudstack should come to the rescue.
As stated ear

[2021-08-17 10:54] rhtyd commented on #3757
@weizhouapache You're right there is no explicit /var partition, however the disk space may still get filled over time. Perhaps a cronjob that cleans the directory weekly/monthly basis would be enough @weizhouapache @nvazquez ? (In a new VR design I'm trying to investigate this may not present a problem in future)

[2021-08-17 11:11] shwstppr commented on #5300
@spazicus are you sure there are no entries in `cloud.host_view`?
Because there if `listHosts` API is returning hosts then they must be there in `host_view`.
Can you please check again with `SELECT * FROM cloud.host_view WHERE type='Routing'\G;`

[2021-08-17 11:28] weizhouapache commented on #3757
@rhtyd I agree to add a cronjob to cleanup disk
there are already some logroate configs to manage log files in /var/log in systemvm/debian/etc/logrotate.d/.
we have fixed some issues with logrorate in pr #4439, #4872, #4869, #1915, #1329 etc

it looks we only need to clean up /var/cache/cloud/processed , maybe only when disk space usage exceeds threshold like 80% ?.

[2021-08-17 11:43] davidjumani commented on #5179
Added a nice little fix to set the initial state as connecting as @weizhouapache suggested #5327

![Screenshot from 2021-08-17 15-38-27](https://user-images.githubusercontent.com/8244774/129719822-a7e5a3e9-35d1-453f-a000-26b70174c147.png)

[2021-08-17 13:38] weizhouapache commented on #5300
@spazicus what database do you use ?

[2021-08-17 14:25] weizhouapache commented on #5315
@abdelouahabb as far as I know, you need to enable ssl to support uploading template/iso from local.

[2021-08-17 15:42] spazicus commented on #5300
Hi, we are using mysql

Here is the output as requested:

`mysql> use cloud;
Reading table information for completion of table and column names
You can turn off this feature to get a quicker startup with -A

Database changed
mysql> SELECT * FROM cloud.host_view WHERE type='Routing'\G;
*************************** 1. row ***************************
                      id: 1
                    uui

[2021-08-17 17:55] shwstppr commented on #5300
@spazicus error seems to be because of `0` value for `cpus` and `spee` for host with **id: 12**. Can you please check why it is having zero there. It is showing in `Alert` state. See if it can be removed if not using.

I've backported a change from @Spaceman1984 #4900 in 4.15 branch to prevent the listHostsMetrics failure.

[2021-08-17 19:36] spazicus commented on #5300
Thanks shwstppr! I am out of the office now till 31/08, but I will try and get a colleague to remove host id:12 and report back...

[2021-08-17 21:36] gerolamo-ov opened #5330 "MS does not recreate SSVM after upgrade"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

advanced networking, kvm

##### OS / ENVIRONMENT

ubuntu 20.04

##### SUMMARY

After upgrading from 4.9 to 4.15.1, everything appeared to be ok until the last step in which we have to upgrade systemVMs and virtual routers.
Stopping and restarting SSVM and Console proxy VM worked (w

[2021-08-18 01:13] abdelouahabb commented on #5315
So does it means, it cant be used in closed network with a self signed certificate or using an IP instead of DNS ?

[2021-08-18 03:26] nvazquez commented on #5306
Thanks @Pearl1594 @davidjumani, confirming the commit has been included in this PR https://github.com/apache/cloudstack/pull/5199 and fixes the issue

[2021-08-18 03:26] #5306 closed

[2021-08-18 03:30] nvazquez commented on #5309
@sureshanaparti please advise when there is a PR to handle that log level change, thanks

[2021-08-18 07:53] rhtyd commented on #5330
Did you register the systemvm template for the specific version and wait till it was in ready state before your upgrade? Can you share management server logs?

Usually you need to read through the ms and kvm agent logs as to why ssvm is not being launched. Usual suspects are a corrupt or missing systemvm template or template not in ready state, storage issue (capacity, mounting issue or path/permi

[2021-08-18 08:58] weizhouapache commented on #4902
@harikrishna-patnala @DaanHoogland @nvazquez

I am looking at this issue.

here are my opinions (based on previous discussions)
(1) destroy vm, selected data disks will be destroyed (and cleaned by cloudstack after some days), other data disks will be detached.
(2) destroy vm with expunge, selected data disks will be deleted, other data disks will be detached.
(3) expunge vm. all data disks will b

[2021-08-18 09:33] gerolamo-ov commented on #5330
Hi,
according to this Wido's blog post:
https://blog.widodh.nl/2013/04/cloudstack-zone-x-is-is-not-ready-to-launch-console-proxy-yet/

Brief: there is a configuration in DB, not visible in UI: “secondary.storage.vm”

In our environment this was setted as pseudo random string.
Setting this value to "true" in database and restarting the MS, resolved the issue.

What is “secondary.storage.vm” intende

[2021-08-18 09:40] shwstppr commented on #5330
@gerolamo-ov from DB:
[code]
Intention of this config can be seen from its description. I'm not sure why it is a hidden config. Although ACS do have some other hidden(not available in UI) configs as well and maybe the reason for them to be hidden is their very specific use-case.

[2021-08-18 10:49] PaulAngus commented on #4902
As mentioned by Wido and myself, data disks are considered first-class citizens.  Therefore the first step when destroying a VM which has data disks attached, is to detach them.  Obviously it is perfectly valid for the user to destroy them as well, either via an argument in the initial API command, as a separate API command, or via an option in the UI which calls the appropriate API(s).

Therefore

[2021-08-18 11:20] rhtyd commented on #5179
Fixed in https://github.com/apache/cloudstack/pull/5327

[2021-08-18 11:20] #5179 closed

[2021-08-18 11:22] #5316 closed

[2021-08-18 11:23] rhtyd commented on #5302
Fixed in https://github.com/apache/cloudstack/pull/5303

[2021-08-18 11:23] #5302 closed

[2021-08-18 11:37] rhtyd commented on #5204
+1 let's see if we can implement boot mode property in form of VM and template `details`, that way users can specify the boot mode type without going using xe/xcp-ng manually (I however don't think it's a cloudstack bug if it's originating from XenServer/Xcp-ng's side)

[2021-08-18 11:43] weizhouapache commented on #4902
@PaulAngus great, thanks for your comment. agree with you.
we already support destroy/recover data disks (#3688), so the change will be simple.

@DaanHoogland could you please advice on how to proceed with volumes on vmware ?

[2021-08-18 11:43] nvazquez commented on #5204
Thanks @shwstppr for the proposed fix, as discussed offline please work on this issue

[2021-08-18 11:55] AlexanderKgr commented on #5204
i think this option was available on legacy ui.

[2021-08-18 12:00] sureshanaparti opened #5332 "[UI] Unable to add ESX/ESXi host from UI, Username / Password inputs are missing on Add Host dialog."
Unable to add ESX/ESXi host from UI, Username / Password inputs are missing on Add Host dialog.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### OS / ENVIRONMENT

CloudStack, with VMware hypervisor

##### SUMMARY

Unable to add ESX/ESXi host from UI.

![ACS_AddHost_VMware](https://user-images.githubusercontent.com/12028987/129894297-25791d6f-9

[2021-08-18 12:36] rhtyd opened #5334 "Vmware: Snapshot are not removed from the primary storage after backup to secondary storage"
Vmware: Snapshot are not removed from the primary storage after backup to secondary storage

Steps to reproduce:
- Create a VM and take its root disk's volume snapshot
- Monitor the snapshot operation in ACS and vSphere client
- Notice that worker VM is removed but its vmdk file is left in the worker VM's directory on primary storage

In code, we observe that between 4.15.0 and 4.15.1 there are ch

[2021-08-18 13:30] sureshanaparti commented on #3156
@nvazquez rebased, and tested the changes in the PR #1257

[2021-08-18 13:40] fengdoudm opened #5336 "Public IP for system VM is unreachable"
Everything is well when i add advenced zone on the **CloudStack 4.15.1.0**, but public IP for system VM is unreachable.
Everything is well when i add advenced zone on the **CloudStack 4.13.1.0**, public IP for system VM is reachable.
I tried many times, still can't fix it.  Can everyone  help me, thanks.

I will redeploy the **CloudStack 4.15.1.0** tomorrow.

[2021-08-18 13:46] weizhouapache commented on #5336
@fengdoudm could you check if you register correct systemvm template ?
https://download.cloudstack.org/systemvm/

[2021-08-19 04:12] nvazquez commented on #4902
Agree with @PaulAngus
@weizhouapache @PaulAngus @DaanHoogland I think Vmware 'as-is' VMs are not a problem, as the volumes cloned from the template are marked as ROOT volumes. Then all the additional data disks added by the user can be treated the same as regular (non-as-is) VM data disks

[2021-08-19 04:30] #5300 closed

[2021-08-19 04:30] nvazquez commented on #5300
Closing as PR is merged

[2021-08-19 08:49] kricud opened #5338 "default.ui.page.size changed to 200 not working"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]
![Screenshot 2021-08-19 114515](https://user-images.githubusercontent.com/30048481/130038266-9dfcf5f2-5842-4232-b739-d66098ae2e55.png)
![Screenshot

[2021-08-19 09:41] weizhouapache commented on #3455
cool. thanks @Pearl1594

[2021-08-19 09:47] weizhouapache commented on #3025
@dubauski could you test with 4.15.1.0 ?
#4484 fixed some vpc issues.

[2021-08-19 10:31] rhtyd commented on #5338
@kricud I think this is per UI/login session - the UI does not save this setting or query backend to know the default page size. Should we save in browser cache (browser local storage) cc @davidjumani @utchoang

[2021-08-19 10:32] rhtyd commented on #3455
Let's close this if this is already moved/merged in #4329 @weizhouapache ?

[2021-08-19 10:36] davidjumani commented on #5338
Will look into it as part of https://github.com/apache/cloudstack/pull/5276

[2021-08-19 10:57] vladimirpetrov opened #5340 "Unnecessary button 'Take VM volume snapshot' on a destroyed (but not expunged) VM"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

There is an unnecessary button 'Take VM volume snapshot' on a destroyed (but not expunged) VM.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

![image](https://user-images.githubuserco

[2021-08-19 11:15] weizhouapache commented on #3455
@rhtyd closing now.

[2021-08-19 11:15] #3455 closed

[2021-08-19 11:18] kricud commented on #5338
@rhtyd My plan was to change this value to 500 and have it as workaround for #5290 at expense of ACS CPU/RAM/IOPS.
Its not doing what I expected from its description/appearance.

[2021-08-19 11:43] nvazquez commented on #5293
Fixed by PR #5326

[2021-08-19 11:43] #5293 closed

[2021-08-19 12:21] rhtyd commented on #5336
@fengdoudm did you add a VLAN on the public IP range, or other config? Please check or share details of your zone deployment.

[2021-08-19 14:26] vladimirpetrov opened #5343 "After adding a new project, the list is not automatically refreshed"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

After adding a new project, the list is not automatically refreshed

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

![image](https://user-images.githubusercontent.com/12384665/13008588

[2021-08-19 16:27] vladimirpetrov opened #5344 "Add storage name to delete primary/secondary storage dialog"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The storage name is missing in the delete primary/secondary storage dialog and it's not really clear which one you're deleting.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-08-19 21:21] GabrielBrascher commented on #5161
@utchoang @div8cn @nvazquez @rhtyd I've done some tests with one of the recent commits in the main and it looks to be working fine to revert RBD/Ceph snapshots with KVM.

The button is displayed in the UI and the CephStrategy is called as expected.

[2021-08-20 01:46] utchoang commented on #5343
@vladimirpetrov I have tested with version `4.15` and `main` but can't reproduce the error, can you reproduce the step by step error?

[2021-08-20 04:26] davidjumani commented on #4063
Can add a check for the min ram requirements

[2021-08-20 06:09] vladimirpetrov commented on #5343
Actually, you are right, @utchoang! I did a full browser refresh and now it's working properly. My bad - it must have been some old code leftovers. Closing this issue.

[2021-08-20 06:09] #5343 closed

[2021-08-20 06:42] kricud opened #5347 "Cannot delete volume in Destroy state not attached to Instance"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Can’t delete volume in Destroy state not attached to Instance

##### STEPS TO REPRODUCE

[code]
![Screenshot 2021-08-20 093523](https://user-images.githubusercontent.com/30048481/130191067-99198fb2-fcb3-44da-81b9-a208623d269b.png)
![Screenshot

[2021-08-20 06:47] weizhouapache commented on #5347
@kricud
are the volumes attached to vms which have been expunged ?

[2021-08-20 06:58] DK101010 commented on #5202
Hi @davidjumani not quite sure what do you mean with smart fix. I have currently no clue to find out which pvlans are isolated in which not. Therefore I think a database upgrade is not enough.

[2021-08-20 06:59] weizhouapache commented on #5347
linked to #4902

[2021-08-20 07:00] kricud commented on #5347
@weizhouapache no
There as some dinosaurs in list from 2014/15
![Screenshot 2021-08-20 095808](https://user-images.githubusercontent.com/30048481/130193293-2b20c094-a29d-4470-a643-2033c9b0ac3c.png)

[2021-08-20 07:15] weizhouapache commented on #5347
@kricud
this looks like not normal states.
are you able to find some logs when the vms (for example id=30613) were destroyed ?

we can fix the bug in future release.
if you can make sure that vms are expunged and want to delete the volumes for now , you can update the `instance_id` to NULL in `volumes` table in database for these volumes. then you should be able to delete the volumes.

[2021-08-20 07:49] DaanHoogland commented on #4902
Agree with everybody, or at least @PaulAngus , @weizhouapache  and @nvazquez in their discussion above. @nvazquez you trigger a bit of a 'bear on the road'; if multiple `ROOT` disks are defined for a VM , will delete and recover work as expected for such a VM? (let alone if this is `deployAsIs` or not, because we will have that discussion as well, later.

[2021-08-20 08:29] rhtyd commented on #3025
@weizhouapache out of curiousity, did you try reproducing this?

[2021-08-20 09:11] weizhouapache commented on #3025
@rhtyd
no.

I wrote 4 component tests in pr #4484 which cover many cases and verify their expected results. The cases are more complicated than what @dubauski described.

test/integration/component/test_multiple_subnets_in_isolated_network.py
test/integration/component/test_multiple_subnets_in_isolated_network_rvr.py
test/integration/component/test_multiple_subnets_in_vpc.py
test/integration/compo

[2021-08-20 10:14] rhtyd commented on #5235
@tampler the minimum public IP range to get CloudStack up and running depends on the type of the zone, and your use-cases/workloads. Only you can answer that. For a typical adv zone on KVM without SG, you'd need at least the following public IPs:
1xSSVM
1xCPVM
1xVR (at least one isolated network)
1xmanagment server (For management server it's optional and depends if you want public accessibility)

[2021-08-20 10:18] rhtyd commented on #5234
@tampler trying to access your user-VMs by their private IPs via OpenVPN on KVM host itself where VMs are running is breaking network isolation (assuming you're using VLANs and it is an advanced zone) and is not recommended. You may look into firewall/portforwarding, or use VPN of the isolated network or the VPC. Based on what you've described you probably want a shared network without VLAN (so ev

[2021-08-20 11:40] rhtyd commented on #3757
Fixed by https://github.com/apache/cloudstack/pull/5331

[2021-08-20 11:40] #3757 closed

[2021-08-20 11:41] shwstppr commented on #5204
@AlexanderKgr don't think the values form UI were honored by ACS Xen orchestration code. Don't see anything there.

Hi guys, any idea how to check if a Xen/XCP-ng host has UEFI supported? cc @nvazquez @rhtyd @davidjumani

[2021-08-20 11:48] rhtyd commented on #5204
@shwstppr the dom0 is linux so you check if `/sys/firmware/efi` exists
https://askubuntu.com/questions/162564/how-can-i-tell-if-my-system-was-booted-as-efi-uefi-or-bios

[2021-08-20 12:09] tcp-dw commented on #5204
@shwstppr I think that the only way to do it is to check the destination hypervisor's version. Citrix Hypervisor 8.0 and XCP-ng 8.0 firstly supported UEFI as experimental feature. In Citrix Hypervisor v8.2 and XCP-ng v8.2 it is just fully supported for first time. So, I think that by checking that you have Xen v8.2 (either Citrix Hypervisor 8.2 or XCP-ng 8.2) you can be sure that UEFI is supported

[2021-08-20 12:23] tetra12 opened #5350 "Drop Agent dependency on qemu-kvm for Ubuntu"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Built the latest qemu version from source

##### OS / ENVIRONMENT

Ubuntu 20.04 and newer

##### SUMMARY

CS Agent requires `qemu-kvm` installation. However, newer versions of `qemu` have dropped dependency on `qemu-kvm` in favor of `qemu-system-x86`.

If I build and insta

[2021-08-20 12:57] weizhouapache commented on #5350
@rhtyd @DaanHoogland
do we support non-stock qemu version on hypervisors ?
do we support non-LTS ubuntu versions as hypervisors ? qemu-kvm is not installed in ubuntu 21.04

[2021-08-20 13:01] tetra12 commented on #5350
That's what ppl say about `qemu-kvm` [here](https://linux.debian.user.narkive.com/yv4308hI/qemu-kvm-won-t-install-on-bullseye-installs-qemu-system-x86-instead)

[2021-08-20 13:14] slavkap commented on #5347
@weizhouapache, if this could help you I was able to reproduce the issue. Probably there are different scenarios, but here is mine:
I've tried on a zone with one KVM hypervisor

steps to reproduce:
- deploy VM
- stop the VM
- stop the hypervisor
- the VR is still running in UI and before the health check destroy the VM with `expunge=true`

I took the most important thing out of the log:

[2021-08-20 13:33] weizhouapache commented on #5347
@slavkap nice, thanks for your info !

[2021-08-20 13:42] DaanHoogland commented on #5350
@weizhouapache @tetra12 I'm not sure how we can insert this altered dependency but for sure we'll need a separate packaging for newer distributions. If we feel it serves a purpose we should support it, but it will cost us a lot of extra effort to maintain.
Can we use a replace.property to insert the string 'qemu-kvm-x86' in the package?

[2021-08-20 13:43] vladimirpetrov opened #5352 "Strange error message when deleting account"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When an account is deleted (assuming you have enough rights), there is one proper message that it has been deleted and another one 'Unable to find account by id X', which should not be there. Note - the account is successfully delete

[2021-08-20 14:06] weizhouapache commented on #5347
@slavkap @kricud
I am able to reproduce the issue, following the steps provided by @slavkap

(I did not shutdown the host, but stop all cloudstack-agent instead).

[2021-08-20 14:24] weizhouapache commented on #5350
Even if we remove the dependency so cloudstack-agent can be installed, we do not know if it works with the new qemu 5.2, nobody have tested it.
@tetra12 I suggest you to remove your self-build qemu 5.2 and install qemu from official apt repository on ubuntu 20.04, it works fine.

[2021-08-20 14:41] slavkap commented on #5347
that's great, @weizhouapache :)

[2021-08-21 12:46] nvazquez commented on #3110
These are my test results using the main branch (4.16.0-SNAPSHOT) on KVM environment:

- `scaleVirtualMachine` API always performs ROOT disk resize (despite global setting 'enable.dynamic.scale.vm' value or template/service offering dynamic scalable option checked)
- `changeServiceForVirtualMachine` does not perform ROOT disk resize even if the global setting, template and service offering values

[2021-08-23 01:11] nvazquez commented on #5161
Thanks @GabrielBrascher, does it need backporting to the 4.15 branch?

[2021-08-23 06:24] kricud commented on #5347
I’m confirming that all volume in Destroy state are from kvm.
I’m confident that all ACS servers and agents on all hosts where running when I did testing of this problem.
I will use suggestion from @weizhouapache deal with it.

[2021-08-23 07:43] davidjumani commented on #3584
Just tested it on the latest 4.15 on Xen 7.1
- Created a VM
- Stopped it
- Create VM snapshot
- Success !!

[2021-08-23 08:17] rhtyd commented on #5350
On 20.04 I don't see any issue @tetra12, were you testing a recent version of Ubuntu? I would prefer a platform-agnostic depdency otherwise we'll have to keep separate packaging configs for Ubuntu/aarch64 (for ex. RaspberryPi/arm64 platforms).

[2021-08-23 09:28] weizhouapache commented on #5350
@rhtyd
it looks he built qemu 5.2 from source, which does not have qemu-kvm package any more.

ps:
official qemu version in ubuntu 20.04 is  4.2, which works fine in cloudstack)
official qemu version n ubuntu 21.04 is  5.2, which does not contain qemu-kvm package. it is not LTS.

[2021-08-23 09:52] fengdoudm commented on #5336
Systemvm template is systemvmtemplate-4.15.1-kvm.qcow2.bz2 in the CloudStack 4.15.1.0

[2021-08-23 09:58] fengdoudm commented on #5336
The following were some information for system VM and public network.
![image](https://user-images.githubusercontent.com/8956444/130427932-93d3e04f-ad1d-4c15-b083-c05ca3551452.png)
![image](https://user-images.githubusercontent.com/8956444/130428117-7eed8dd0-efea-4e76-af43-9664f2f5a2d6.png)

[2021-08-23 11:29] rhtyd commented on #3110
@nvazquez I'll leave the judgement to you since its behaviour has changed across releases - discuss and gather consensus on how we should proceed forward? My opinion is follow what is expected by most users (trying to upgrade it and using this in UI/API). If this is redundant API - we may want to review which API should the UI/users use?

[2021-08-24 04:17] nvazquez commented on #4472
Closing this as has been fixed by #4630

[2021-08-24 04:17] #4472 closed

[2021-08-24 04:28] #3584 closed

[2021-08-24 04:35] nvazquez commented on #4314
Closing this issue as no longer reproduceable cc. @davidjumani

[2021-08-24 04:49] Pearl1594 commented on #3548
@rhtyd @nvazquez I don't think this is an issue as when the` cloud-install-sysvm-tmplt `script is used for seeding the template, it assumes that the template is owned by system account (account_id = 1) therefore on addition of the new zone, the path is properly updated.

Following is the observation made:

#### Seeded template :
[code]

#### Image store:
[code]

#### template_store_ref details cor

[2021-08-24 04:57] davidjumani commented on #5338
Added https://github.com/apache/cloudstack/pull/5276/commits/3858e15e407fe8d89e1a910a807446e7e3ab3912 to honour it

[2021-08-24 05:46] nvazquez commented on #4224
@DaanHoogland can you advise after your work on marvin tests?

[2021-08-24 07:14] rhtyd commented on #5340
Merged in https://github.com/apache/cloudstack/pull/5345

[2021-08-24 07:14] #5340 closed

[2021-08-24 07:15] #5332 closed

[2021-08-24 07:15] rhtyd commented on #5332
Fixed in https://github.com/apache/cloudstack/pull/5337

[2021-08-24 07:28] rhtyd commented on #5344
Fixed in https://github.com/apache/cloudstack/pull/5359

[2021-08-24 07:28] #5344 closed

[2021-08-24 07:29] tetra12 opened #5361 "Support Ubuntu 21.04"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Support CloudStack Management and Hypervisor build for Ubuntu 21.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-08-24 09:18] rvalle opened #5363 "ldap-maven-plugin artifact missing from maven central"
##### ISSUE TYPE

 * Other: Configuration Management, I guess.

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

We have detected a missing Maven artifact while building ACS Ansible test container. The test container docker build downloads ACS and builds its simulator.

see https://github.com/ansible/cloudstack-test-contain

[2021-08-24 11:03] nvazquez commented on #3561
As discussed offline, this will be handled by PR #5008, will need verification

[2021-08-24 12:46] GabrielBrascher commented on #5361
I would rather wait to support an LTS release. Ubuntu 21.04 is not LTS.
The next LTS will be the 22.04 according to ["The Ubuntu lifecycle and release cadence"](https://ubuntu.com/about/release-cycle).

[2021-08-24 13:16] tetra12 commented on #5361
Hello @GabrielBrascher

What you say makes sense from the support point of view. However, I'd follow official Ubuntu cadence in the following form:

1. Drop support for end-of-life packages, e.g Ubuntu 14 and 16. So that ACS supports only Ubuntu 18 and higher. I would recommend following the support cadence as in OpenNebula [here](https://docs.opennebula.io/6.0/installation_and_configuration/front

[2021-08-24 13:28] GabrielBrascher commented on #5361
I understand your point. But from our side, it adds quite a lot of complexity to the releasing cycle (more OS versions to be considered when testing release candidates, as well as more packages to be built/managed). Additionally, users might be encouraged to use an Ubuntu release that, in theory, is not stable and soon will be dropped.

You can have updated packages from Libvirt/Qemu added into Ub

[2021-08-24 13:33] tetra12 commented on #5361
Yeah, makes sense... Let other core members consider this point.

BTW, I'm using qemu version 6.1-rc4 and libvirt 7.7.0 :smile:

[2021-08-24 14:43] ravening opened #5365 "Incorrect iptable rules for SNAT"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced network

##### OS / ENVIRONMENT

##### SUMMARY

I have created vpc with several networks in it. I asociated snat to a vm in one of the network. when i try to access the vm with snat from a vm in different network in the same vpc, the source ip is changed. The source ip sho

[2021-08-24 14:44] ravening commented on #5365
@weizhouapache @rhtyd do you guys kno what could have changed this? which script configure these rules?
is it vpc_snat.sh or configure.py or ipassoc.py?

[2021-08-24 14:58] weizhouapache commented on #5365
not sure if it is an issue.

@ravening you can change processStaticNatRule in configure.py

[2021-08-25 01:23] harikrishna-patnala commented on #3561
Yes @nvazquez @rhtyd, there are options to either update the disk offering or migrate the volume to a different storage pool using APIs. so this can be verified as part PR#5008

[2021-08-25 01:23] nvazquez commented on #4302
Hi @GabrielBrascher @wido any input on this issue?

[2021-08-25 01:35] #5291 closed

[2021-08-25 01:47] #5208 closed

[2021-08-25 02:01] nvazquez commented on #5202
I think the fix would include checking the pvlans on the hypervisor side and compare the pvlan type matches the type on the DB entry for broadcast_uri. In case there is a mismatch, the broadcast_uri must be updated. @rhtyd can you discuss with @davidjumani and work on a way forward for the upgrade fix?

[2021-08-25 03:17] nvazquez commented on #3966
@DaanHoogland @pavanaravapalli not following on this issue, can you please advise what is missing or if has been fixed by other PR?

[2021-08-25 03:23] nvazquez commented on #3742
@weizhouapache can you check if this is still valid and work around the abort job method you mentioned?

[2021-08-25 03:39] #4183 closed

[2021-08-25 03:45] nvazquez commented on #3652
@DaanHoogland PR #5353 improves that specific class, think it is good or needs further logging improvement?

[2021-08-25 06:40] davidjumani commented on #5202
Agree with @nvazquez

[2021-08-25 08:26] rhtyd commented on #5202
Agree with your suggestion @nvazquez, @davidjumani since you've worked in that area - please consider Nicolas's advice and work forward for the upgrade fix.

[2021-08-25 10:19] ravening commented on #5365
@weizhouapache yes looks like an issue. I have 5 tiers with cidr `10.10.10.*` `10.10.20.*` `10.10.30.*` `10.10.40.*` and `10.10.50.*`

for all tiers the `--to-source` is configured as 10.10.50.254 which is wrong

this is the iptable output

[code]

[2021-08-25 10:46] tetra12 opened #5370 "Can't upload ISO - secondary storage not found"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

KVM
Advanced Zone
Local Storage
NO SSL/TLS

##### OS / ENVIRONMENT

Ubuntu 21.04

##### SUMMARY

Issue similar to #4734

Can't upload an ISO template - getting `Request Failed (530) There is no secondary storage VM for downloading template to image store adv-secondary-1`

Meanwhile

[2021-08-25 11:23] tampler commented on #5235
Okay thanks everyone for your comments. This will do for now

[2021-08-25 11:23] #5235 closed

[2021-08-25 12:09] harikrishna-patnala opened #5372 "Creating snapshot of volume attached to stopped VM which is migrated to other cluster, is not working"
Creating a snapshot of volume attached to a stopped VM (VM is just migrated to a different cluster) is failing with the below error.

2021-08-25 09:33:36,270 ERROR [o.a.c.s.v.VolumeServiceImpl] (Work-Job-Executor-10:ctx-9f22db0f job-445/job-446 ctx-05260d9e) (logid:89f585a1) Take snapshot: 63 failed
com.cloud.utils.exception.CloudRuntimeException: backup snapshot exception: Exception: java.lang.Ex

[2021-08-25 14:10] fengdoudm commented on #5336
1. Add zone
![image](https://user-images.githubusercontent.com/8956444/130803681-37a319ae-29ed-426a-9913-13cb364de105.png)

2. Set up zone name
![image](https://user-images.githubusercontent.com/8956444/130803906-c0a04847-c341-4564-856d-59528611a246.png)

3. Set up physical network
![image](https://user-images.githubusercontent.com/8956444/130804196-6eba6a30-6e24-4f27-94ec-e9bf1974a55e.png)

4. Co

[2021-08-25 14:12] ravening commented on #5365
@weizhouapache this is what I found in the log

[code]

so whichever ip address it finds **first** in the databag then that ip will be used as gateway for all tiers

In this case, the ip 10.10.50.254 was found first in the databag and hence that is used as gateway for all tiers according to below code.

[code]

[2021-08-25 16:18] ravening commented on #5372
One question. How can I migrate vm to another cluster when its stopped? You can migrate only the disk to another storage pool right?

[2021-08-26 15:11] edikevich opened #5378 "Affinity Groups don't work"
##### ISSUE TYPE
 * Bug Report

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
XCP-NG 8.2
Advanced Zone

##### OS / ENVIRONMENT
Oracle Linux 7.9 - Management server
XCP-NG 8.2 - hypervisor

##### SUMMARY
Affinity Groups don't work. VMs ignore affinity and anti-affinity rules and migrate to any cluster's hosts.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESU

[2021-08-27 08:12] ravening opened #5381 "Unable to migrate volume of large size to another pool"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Unable to migrate volume of large size(4TB) from one storage pool to another

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-08-27 12:54] #5381 closed, assigned to nobody

[2021-08-27 17:32] #5378 closed, assigned to nobody

[2021-08-28 12:04] #3779 closed

[2021-08-28 12:10] #5347 closed

[2021-08-28 18:51] spazicus commented on #5300
That HAS fixed the issue, thanks all

[2021-08-30 07:40] ravening commented on #4195
@DaanHoogland that fix doesnt solve the issue. Can you please reopen the issue again as its being tracked by another pr?

[2021-08-30 08:13] DaanHoogland commented on #4195
strange, it is yours. but here you go.

[2021-08-30 08:14] DaanHoogland commented on #4195
@ravening , can you link the PR with the "Linked pull requests" item on the right, please?

[2021-08-30 08:17] ravening commented on #4195
@DaanHoogland since you closed it, I wont have permission to reopen it. I dont have the permission to link the pr also but here is the pr https://github.com/apache/cloudstack/pull/5307

[2021-08-30 14:10] vladimirpetrov opened #5389 "VM machine state transition from 'Starting' to 'Running' is not auto-updated in the Instances screen"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

VM machine state transition from 'Starting' to 'Running' is not auto-updated in the Instances screen

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]
![image](https://user-images.githubu

[2021-08-30 22:38] tetra12 commented on #5370
Hello @GabrielBrascher
According to your advice, I made the following adjustments:

Host setup

cloudbr0 - 185.185.X.Y
cloudbr1 - 192.168.100.2

In the Physical Network Setup:

Public, Guest -> cloudbr0
Management, Storage -> cloudbr1

In the Global Settings:

management.network.cidr = 192.168.100.2/24

Still no luck. The REAL problem is that I'm getting an exception inside the SSVM since it conne

[2021-08-30 23:03] tetra12 commented on #5350
@rhtyd @weizhouapache

I need to customize QEMU and built a master from sources, which is 6.1.0-RC4 now.

`qemu-kvm` package was the wrapper over `qemu-kvm-x86` in older 4.x QEMU, which is shipped with Ubuntu 20.04.
QEMU provides it, not OS. It has been removed starting from 5.x and Ubuntu 21.04, which ships 5.2, also doesn't ship `qemu-kvm`

[2021-08-30 23:20] #5281 closed

[2021-08-31 01:27] #5372 closed

[2021-08-31 06:28] weizhouapache commented on #5350
@tetra12

can you try the following change in debian/control ?

https://github.com/apache/cloudstack/blob/main/debian/control#L25

    qemu-kvm (>= 2.5) | qemu-system-x86 (>=5.2)

[2021-08-31 06:50] kricud opened #5391 "Scale VM custom compute offering not working"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]
![Screenshot 2021-08-31 094315](https://user-images.githubusercontent.com/30048481/131455496-f78aad6b-bcbb-44c5-8c36-670faad35339.png)
![Screenshot 2021-08-31 094333](https://user-images.githubusercontent.com/3

[2021-08-31 07:09] rhtyd commented on #5363
Linked PR merged

[2021-08-31 07:09] #5363 closed

[2021-08-31 07:13] rhtyd commented on #5161
Ping @GabrielBrascher @utchoang any update?

[2021-08-31 07:17] rhtyd commented on #4433
Fixed in https://github.com/apache/cloudstack/pull/5349

[2021-08-31 07:17] #4433 closed

[2021-08-31 07:41] utchoang commented on #5161
@rhtyd cc @GabrielBrascher I don't know how to solve this, because in my opinion, compared to the old UI, it still seems to work properly.

[2021-08-31 08:04] utchoang commented on #5389
@vladimirpetrov I tried with `4.15` and `main` branches but it works fine. Can you please try again and post the error generation step by step?
![image](https://user-images.githubusercontent.com/13766648/131465884-ff07a704-09b5-483c-9f74-22e257e7c72c.png)

[2021-08-31 08:28] rhtyd commented on #5161
@GabrielBrascher can you advise if this is something fixed in main but not 4.15 branch, or is this not valid anymore - can we close this issue?

[2021-08-31 09:05] rhtyd commented on #3025
Copy @weizhouapache moving to next milestone - pl discuss with @nvazquez and close the issue if it's not reproducible now.

[2021-08-31 09:06] rhtyd commented on #4587
Ping @olivierlemasle - any update on this? Should we close this, or attempt to introduce a global setting on top of your previous PR to toggle behaviour?

[2021-08-31 09:06] rhtyd commented on #4868
Moving this to next milestone.

[2021-08-31 09:07] rhtyd commented on #5019
Ping @GabrielBrascher @wido

[2021-08-31 09:08] PPisz commented on #5300
I have cpu and speed set correctly, but the error persists:

For input string: "24,74"

2021-08-31 11:07:26,291 WARN  [c.c.a.d.ParamGenericValidationWorker] (qtp2012330741-1559:ctx-714744a9 ctx-43627369) (logid:062f6c61) Received unknown parameters for command listHostsMetrics. Unknown parameters : listall

mysql> use cloud;
Reading table information for completion of table and column names
You ca

[2021-08-31 09:09] rhtyd commented on #5338
@davidjumani if you want to work on this for 4.15 - can you send a 4.15 specific PR with a specific scope (just UI only)?

[2021-08-31 09:10] rhtyd commented on #5352
Fixed in https://github.com/apache/cloudstack/pull/5360

[2021-08-31 09:10] #5352 closed

[2021-08-31 10:25] shwstppr commented on #5300
@PPisz Is it possible for you to try latest 4.15 branch build or the latest nightly packages?
your issue could be similar to https://github.com/apache/cloudstack/issues/4733

[2021-08-31 10:41] rhtyd commented on #5161
cc @davidjumani

[2021-08-31 10:43] rhtyd commented on #5204
Closing based on PR merged.

[2021-08-31 10:43] #5204 closed

[2021-08-31 11:01] shwstppr commented on #5204
@tcp-dw sorry forgot to reply earlier. Thanks for your suggestion. I used that approach in my fix.

[2021-08-31 11:23] GabrielBrascher commented on #5161
@nvazquez @rhtyd I was not able to detect any change or recently merged PR that would affect RBD rollback on UI nor on API. Still not sure why my tests differ now than the older tests.

[2021-09-01 04:45] davidjumani commented on #5338
Separated it into a different PR #5394

[2021-09-01 06:47] rhtyd commented on #5389
Fixed in https://github.com/apache/cloudstack/pull/5393

[2021-09-01 06:50] rhtyd commented on #5161
@GabrielBrascher can you just confirm if you tested main or 4.15 branch?

[2021-09-01 14:08] coreymr commented on #4612
nxsbi - I'm running into an issue where noVNC is using the hypervisor host IP to launch the console instead of FQDN.  You said you are using SSL as well.  Is your cert a wildcard cert for domain name and/or IP address?

I'm on ACS 4.15.1 and VMware 7.

[2021-09-01 17:05] rhtyd commented on #4612
cc @davidjumani

[2021-09-01 17:08] nvazquez commented on #5391
Thanks @utchoang, closing as PR is merged

[2021-09-01 17:08] #5391 closed

[2021-09-01 17:52] nxsbi commented on #4612
I use a wildcard certificate *.consoleproxy.yoursite.com
You need to also make sure your Global Setting "consoleproxy.url.domain" parameter shows the exact same domain consoleproxysecure.yoursite.com - where the consoleproxy.yoursite.com is a publicly available domain. I had to add an A record on my domain to forward the console proxy external IP to resolve to that name.

Once you have added the c

[2021-09-01 18:00] coreymr commented on #4612
Yes - all that is how I have it configured.  Console actually worked with VMware 6.7, but after upgrade to VMware 7 that is when the issue came up.  My issue is that the console proxy is passing the IP as the "host" parameter instead of FQDN.

2021-09-01 16:55:22,163 INFO  [cloud.consoleproxy.ConsoleProxyNoVncClient] (Thread-130:null) Connect to VNC over websocket URL: wss://<hypervisor IP>:443/ti

[2021-09-02 05:35] rhtyd commented on #3408
Closing as the linked PR has been merged.

[2021-09-02 05:35] #3408 closed

[2021-09-02 05:39] rhtyd commented on #5175
Ping @harikrishna-patnala @nvazquez

[2021-09-02 08:28] rhtyd commented on #4281
Fixed by referenced PR.

[2021-09-02 08:28] #4281 closed

[2021-09-02 08:30] rhtyd commented on #5365
Fixed by https://github.com/apache/cloudstack/pull/5376

[2021-09-02 08:30] #5365 closed

[2021-09-02 08:35] rhtyd commented on #5161
@utchoang @shwstppr can you check if the revert snapshot button is shown with same logic in main as in 4.15 and follows the same logic as old UI?

[2021-09-02 13:48] nvazquez commented on #5175
@harikrishna-patnala please provide your input after your investigation, thanks

[2021-09-02 14:38] weizhouapache commented on #5175
@nvazquez
I think it is not a bug in cloudstack. cloudstack has already set sql_mode in utils/conf/db.properties
[code]

to fix the issue , users have to change the mysql setting in mysql.conf , or  change mysql global setting by queries if mysql cannot be restarted.

here is an example

[code]

[2021-09-03 00:46] nvazquez commented on #5334
Closing as PR is merged

[2021-09-03 00:46] #5334 closed

[2021-09-03 02:56] nvazquez commented on #5290
Closing as PR 5307 is merged

[2021-09-03 02:56] #5290 closed

[2021-09-03 03:02] harikrishna-patnala commented on #5175
Thanks @weizhouapache .
I've created doc PR as a short note to change the SQL mode.
Let me know if this is fine https://github.com/apache/cloudstack-documentation/pull/239

[2021-09-03 07:01] weizhouapache commented on #3613
fixed by #5319

[2021-09-03 07:01] #3613 closed

[2021-09-03 08:00] rhtyd commented on #4982
Fixed by linked PR

[2021-09-03 08:00] #4982 closed

[2021-09-03 08:05] rhtyd commented on #5161
I see same logic on main as in 4.15, https://github.com/apache/cloudstack/blob/4.15/ui/src/config/section/storage.js#L306
I'm moving this to 4.16 to be tested and closed. cc @nvazquez

[2021-09-03 09:06] weizhouapache commented on #3025
@nvazquez
could you please prioritize it ?

[2021-09-03 10:10] MejdiB opened #5405 "Add NVidia V100/A100 GPU assignment to CloudStack guests"
##### ISSUE TYPE

 * Enhancement Request

##### COMPONENT NAME

##### CLOUDSTACK VERSION

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Currently, support for Nvidia A100 GPU is not available in Cloudstack. Under Service Offerings -> New Service Offering, I can only define the "old" GRID K1 and K2 cards as GPU ressources. GUI and underlying functionality support for A100 and/or V100 c

[2021-09-03 10:53] rhtyd commented on #5338
Fixed in https://github.com/apache/cloudstack/pull/5394

[2021-09-03 10:53] #5338 closed

[2021-09-03 10:55] rhtyd commented on #5175
Closing this as we've the doc PR now https://github.com/apache/cloudstack-documentation/pull/239

[2021-09-03 10:55] #5175 closed

[2021-09-03 13:01] mib1185 commented on #5277
The `https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js` is default loaded by [`antd-theme-webpack-plugin` ](https://www.npmjs.com/package/antd-theme-webpack-plugin/v/1.3.9)
It is possible to use an url or path as option `lessUrl` (should be added in [`ui/theme.config.js`](https://github.com/apache/cloudstack/blob/379454caae76279329c52aa6ae3eea389741d935/ui/theme.config.js)).

So eas

[2021-09-03 20:28] GabrielBrascher opened #5407 "KVM: Fail to migrate VM with local root disk and datadisk attached"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

- KVM
- Root disk on Local storage
- DataDisk allocated on any shared storage (tested on NFS, RBD)

##### OS / ENVIRONMENT

##### SUMMARY

When migrating a VM with root disk in local storage + datadisk (always shared) it fails.
There are two ways of performing such a migration via

[2021-09-03 20:52] shwstppr commented on #5407
@GabrielBrascher are these scenarios working fine on 4.15?

[2021-09-03 20:57] GabrielBrascher commented on #5407
@shwstppr I am testing and debugging it in 4.16. But, as far as I know, 4.15 (and 4.14) also present issues in such migrations.

[2021-09-06 10:09] xuanyuanaosheng opened #5409 "How to configure the OpenVswitch using Single network card on Centos 8 Or Oracle 8?"
##### ISSUE TYPE

 * Bug Report

##### OS / ENVIRONMENT

1.  OS Version:  Red Hat Enterprise Linux release 8.4 (Ootpa)
3.  cloudstack version: cloudstack-agent-4.15.1.0-1.el8.x86_64
4.  libvirt:  6.0.0-35

The network-scripts:
[code]

The net-tools
`net-tools-2.0-0.52.20160912git.el8.x86_64`

The openvswitch version:

[code]

The cloudstack work node is using KVM + openvswitch (http://docs.cloudst

[2021-09-06 14:02] rhtyd commented on #5409
Hi @xuanyuanaosheng I'm not sure if your config if wrong, have you tested this against CentOS7 or Oracle Linux 7? cc @nvazquez @weizhouapache

[2021-09-06 17:15] nxsbi commented on #4612
not sure if you resolved this already, but double check Global Setting "consoleproxy.url.domain" - it must read the domain and not IP. Destroy and rebuild the System VMs (both storage and console).
Few other things to check,
- verify that the certificate is correctly loaded. Google search for that error message points to potential certificate issues.
- verify via ping from internet that your conso

[2021-09-06 21:01] GabrielBrascher commented on #5407
@shwstppr I have created PR #5410 addressing this issue. Can you please check it? Thanks!

[2021-09-07 04:31] nvazquez commented on #5111
Closing as the PR was merged

[2021-09-07 04:31] #5111 closed

[2021-09-07 06:02] xuanyuanaosheng commented on #5409
@rhtyd  I have not tested on Oracle Linux 7, I will do some test.

[2021-09-07 08:11] weizhouapache commented on #5409
@xuanyuanaosheng
since you use fake bridges, can you add `OVS_OPTIONS="cloudbr <vlantag>` in ifcfg-mgmt0 , ifcfg-cloudbr0 and ifcfg-cloudbr1 ?

[2021-09-07 10:50] kricud opened #5412 "Cannot select constrained or unconstrained offering on powered on VM"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

VMware

##### SUMMARY

##### STEPS TO REPRODUCE

[code]
![Screenshot 2021-09-07 134933](https://user-images.githubusercontent.com/30048481/132332643-200b6ed3-2414-4586-8c10-fd5c8c4fe751.png)

![Screenshot 2021-09-07 134814](https://user-images.githubusercont

[2021-09-07 12:24] shwstppr commented on #5412
Ignore the scale API output in my previous response. Forgot I've already stopped the VM.
Old UI had same behaviour as well,
![Screenshot from 2021-09-07 17-53-33](https://user-images.githubusercontent.com/153340/132343990-e3cffbb5-c7f9-4bda-98d6-7a7240945bd5.png)

[2021-09-07 12:43] #5277 closed

[2021-09-07 13:04] kricud commented on #5412
In ACS version 4.11.3 custom commute is/was working as option for turned on VM.
If you entered values lower than existing configuration error was thrown.

As you can only increase not decrease cpu and ram.

[2021-09-07 14:30] nvazquez commented on #3111
PR #5411 continuing work from PR 3997

[2021-09-07 14:53] nvazquez commented on #3195
Thanks @DaanHoogland - PR 5082 is merged but there are still some component tests to migrate?
@GabrielBrascher are you still working on this PR for VR code? https://github.com/apache/cloudstack/pull/4807

[2021-09-07 14:59] nvazquez commented on #3548
Thanks @Pearl1594, closing after your remarks

[2021-09-07 14:59] #3548 closed

[2021-09-07 16:55] coreymr opened #5413 "Console Proxy & VMware 7 websocket issue"
##### ISSUE TYPE

 * Bug Report
 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Running ACS 4.15.1 with VMware vCenter 7 and ESXi 7 hosts.

##### OS / ENVIRONMENT

##### SUMMARY

When launching web console of a VM Instance, the window times out with "Failed to connect to server".
Initial web page launches to https://<ACS_Management_FQDN>

[2021-09-07 17:54] nvazquez commented on #3693
Thanks @DaanHoogland, I've added the 'work in-progress' tag and moved it for next milestone

[2021-09-08 01:29] #5330 closed

[2021-09-08 04:07] harikrishna-patnala opened #5415 "Unable to register OVA template when properties are prepend with "ovf:" in the ovf file"
When trying to register an OVA format template in VMware, template installation is failing.
The reason for that is a couple of properties inside the ovf file are prepended with "ovf:" Eg. Property, File, Item, Disk, etc.

The corresponding error in the cloud.log of SSVM is
2021-09-08 02:13:48,611 ERROR [storage.template.DownloadManagerImpl] (pool-1-thread-1:null) Template process exception
com.clo

[2021-09-08 04:40] #5309 closed

[2021-09-08 04:42] #5203 closed

[2021-09-08 05:01] #3974 closed

[2021-09-08 05:05] rhtyd commented on #3025
Closing this based on @weizhouapache 's comment. @dubauski pl reopen if you're able to reproduce this with latest 4.15.

[2021-09-08 05:05] #3025 closed

[2021-09-08 05:18] rhtyd commented on #3609
Moving this to next minor milestone, possibly to major in future.

[2021-09-08 05:19] rhtyd commented on #4198
Closing this, we've the PR https://github.com/apache/cloudstack/pull/4329

[2021-09-08 05:19] #4198 closed

[2021-09-08 06:50] weizhouapache commented on #5413
@nvazquez @davidjumani
have a quick check, it looks the certitificate is handled in #4300 by @rhtyd

[code]

I cannot reproduce the issue in my testing env (vmware 7).
[code]

[2021-09-08 08:01] shwstppr commented on #3015
@wido @rhtyd @nvazquez I've created a PR to skip guest limit check for KVM in code.
Do you guys suggest we also skip check for Xenserver?
We also have a default limit for maximum data volumes for a VM (used 6), should we make any changes there as well?
https://github.com/apache/cloudstack/blob/main/server/src/main/java/com/cloud/storage/VolumeApiServiceImpl.java#L3446-L3450

[2021-09-08 08:45] ngrosc opened #5418 "Hide SSO Provider URL"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

SSO active

##### OS / ENVIRONMENT

N/A

##### SUMMARY

As soon as SSO is active, the IDP URL is visible in the selector as item. it would be nice, to get an alias for it to mask it and also for a cleaner display

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[

[2021-09-08 15:30] weizhouapache commented on #5413
@coreymr
It is good to hear that #5419 solved the issue. however it is just a workaround (the change will be gone if you destroy CPVM).

do you use host fqdn in vmware vcenter ? if yes, can you change to to host IP and retry ?
can you share the results of command `hostname` and `hostname -f`, and content of `/etc/hosts` ?

[2021-09-08 17:16] wido commented on #3015
I don't work with Xenserver, so I can't comment on that.

I don't see any reason why 6 should be the limit. I always thought the limit was 10.

https://rwmj.wordpress.com/2017/04/25/how-many-disks-can-you-add-to-a-virtual-linux-machine/

That seems to imply that with KVM you can add 256 disks if you want.

[2021-09-09 05:27] shwstppr commented on #3015
For KVM, it may always end up 32 as the default version for KVM in hypervisor_capabilities table is set to 32,
[code]

[2021-09-09 06:22] wido commented on #3015
I personally don't see any reason why somebody would go over 32 disks attached to a single VM. For now I think we can maintain that limit.

[2021-09-09 07:12] weizhouapache commented on #5409
@xuanyuanaosheng
have you solved the issue ?

can you post the result of following commands ?

    ip addr show cloudbr
    ip addr show mgmt0
    ifup cloudbr
    ifup mgmt0

[2021-09-09 08:58] sureshanaparti commented on #2735
@resmo The pod can hold multiple ranges of management network IPs, and so the parameters: "startip, endip, vlanid, forsystemvms" were updated to List (from String) and the relation between them is maintained with the list index. I've moved all these response parameters to ipranges, a new parameter that hold the list of IP ranges (and the relation is properly maintained). Please check the changes a

[2021-09-09 09:31] xuanyuanaosheng opened #5426 "How to configure the OpenVswitch using bond on Centos 7 or Oracle 7?"
##### ISSUE TYPE
 * Enhancement Request
 * Documentation Report

##### OS / ENVIRONMENT

1.  OS Version:  Red Hat Enterprise Linux Server release 7.9 (Maipo)
2.  Linux **********(hostname)  5.4.17-2102.204.4.4.el7uek.x86_64 #2 SMP Tue Aug 17 20:25:28 PDT 2021 x86_64 x86_64 x86_64 GNU/Linux
3.  cloudstack version: cloudstack-agent-4.15.1.0-1.el8.x86_64
4.  openvswitch-2.12.0-1.el7.x86_64

The cloud

[2021-09-09 09:42] weizhouapache commented on #5426
@xuanyuanaosheng
similar as I asked in #5409 , can you share the result of some commands

    ip a
    ifup cloudbr
    ifup mgmt0

[2021-09-09 11:03] fengdoudm commented on #5336
Because I can not access console from my pc

--
发自我的网易邮箱手机智能版

在 2021-08-27 16:26:58，dahn ***@***.***> 写道：

@fengdoudm could you check if you register correct systemvm template ?
https://download.cloudstack.org/systemvm/
Systemvm template is systemvmtemplate-4.15.1-kvm.qcow2.bz2 in the CloudStack 4.15.1.0

Here's a weird question, the system VM can connet to my PC, but my PC can't connect to the s

[2021-09-09 11:36] weizhouapache commented on #5336
@fengdoudm
I think it is because the public ip (172.16.116.132) and private ip (172.16.116.145) are in same subnet.
it is not suggested.

you need to change the route table in cpvm manually.

[2021-09-09 19:44] weizhouapache commented on #2996
@DaanHoogland
OVS/GRE is the native SDN solution in cloudstack, although it is not maintained and maybe nobody is using it, I think it is not good to remove it from cloudstack.
If nobody objects, I can work on some issues with GRE, eg #2996, #2885, #3802, #2863, #2886
cc @nvazquez @davidjumani @rhtyd

[2021-09-10 07:46] weizhouapache commented on #3025
tested several times, all succeeeeeed.
we can conclude this issue has been fixed in 4.16.0.0.
cc @nvazquez @rhtyd

to test it, I made following changes
(1) installed openjdk7 and tested using it (openjdk11 does not work).
(2) hardcoded service offering to use 1 * 1000 cpu, 512MB ram and shared storage (the jar uses 'ALM local system - 2 x 2 GHz CPU, 8 GB RAM')
(3) increased vlan range (the test re

[2021-09-10 08:18] weizhouapache commented on #5409
@xuanyuanaosheng
I think the problem is that the interfaces (cloudbr, mgmt0) are not brought up automatically.
you probably need to create a script and systemd service to bring up the interfaces when vm starts.

[2021-09-10 08:27] fengdoudm commented on #5336
got It,I will try to change the private ip.thank you very much.

--
发自我的网易邮箱手机智能版

在 2021-09-09 19:36:11，"Wei Zhou" ***@***.***> 写道：

@fengdoudm
I think it is because the public ip (172.16.116.132) and private ip (172.16.116.145) are in same subnet.
it is not suggested.

you need to change the route table in cpvm manually.

—
You are receiving this because you were mentioned.
Reply to this email d

[2021-09-10 13:08] slavkap opened #5433 "KVM problem with volume snapshots kept only on the primary storage (non-managed storages)"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

When `snapshot.backup.to.secondary` is set to `false` the snapshots are kept only on the primary storage. When you take more than one snapshot of a volume and delete this volume the snapshots are still active in the UI/DB but deleted from the storage. The problem with different primary s

[2021-09-10 16:20] nvazquez commented on #2996
@weizhouapache I think the intention was to update the documentation for configuring OVS as it is outdated as it mentions it must use GRE isolation, but agree on not removing it from CloudStack - simply update the OVS documentation section

[2021-09-10 19:32] weizhouapache commented on #2996
@nvazquez it also makes sense.

I will have a quick look at the issues. from my experience, it is not difficult to fix them.

[2021-09-11 12:38] rhtyd opened #5436 "Ability to see/manage Security Groups in UI"
We might have a bug or regression, if zone has security groups enabled the UI doesn't show the SG tab under networks. However, we're able to deploy VMs against existing SGs. This needs testing/checking at least against 4.16/main.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

[2021-09-11 12:38] rhtyd commented on #5436
cc @nvazquez @sureshanaparti @utchoang @weizhouapache

[2021-09-11 12:39] rhtyd commented on #5418
In the configured xml, this can be fixed with the appropriate name - pl check, test if a file based idp Metadata can be used with custom name.

[2021-09-13 04:56] davidjumani commented on #2996
@nvazquez @weizhouapache Have already added a note in the documentation about ovs https://github.com/apache/cloudstack-documentation/pull/133/files

[2021-09-13 06:41] weizhouapache commented on #5436
@rhtyd
it looks ok in my testing (4.16/main).
![Screenshot from 2021-09-13 08-40-30](https://user-images.githubusercontent.com/57355700/133035781-bfef13aa-9921-4a22-a65f-b32795cf86dc.png)

[2021-09-13 07:12] slavkap commented on #5433
@rhtyd, I think there is a need to discuss how to proceed with this fix. Maybe @GabrielBrascher, @wido, and @rp- have to tell what has to be done with snapshots kept only on primary storage. Is it the right option to delete the snapshots when a volume is deleted?

[2021-09-13 08:05] rhtyd commented on #5436
My bad, I think I got the wrong Trillian env. In an env with SG enabled for a zone, the tab was seen/shown.

[2021-09-13 08:05] #5436 closed

[2021-09-13 08:25] rhtyd opened #5440 "Dashboard/project UI issues as user account role"
All issues reproduced under user-account role (not admin!):

1. Deploy 2 Vms, volumes in a user account
2. Create a project under a user account -> the project tab doesn't refresh; next try to add an account (say admin) -> the account tab doesn't refreshes. Finally deploy 1 VM, volumes in that account.
3. Go to project dashboard, you'll see 1 VM; now switch to default view -> you'll see dashboard

[2021-09-13 08:26] rhtyd commented on #5440
cc @Pearl1594 @shwstppr @davidjumani @nvazquez @sureshanaparti @weizhouapache

[2021-09-13 09:53] xuanyuanaosheng commented on #5426
The command output:
[code]

The output is null

![image](https://user-images.githubusercontent.com/4197714/133063496-3a4e2c84-e3c7-4b56-af5f-811c25fdd3a3.png)

The servce looks worked.   But It is failed on Oracle 8.

[2021-09-13 10:09] weizhouapache commented on #5426
@xuanyuanaosheng is this the configuration on centos7 ? does it work ?

[2021-09-13 10:19] xuanyuanaosheng commented on #5426
@weizhouapache Yes, It works,But I know it will failed when restart. Now I test this configuration on oracle8.

[2021-09-13 10:34] xuanyuanaosheng opened #5443 "How to configure the OpenVswitch using bond on Centos 8 or Oracle 8?"
##### ISSUE TYPE
 * Enhancement Request
 * Documentation Report

##### OS / ENVIRONMENT

1.  OS Version:  Red Hat Enterprise Linux Server release 8.4 (Ootpa)
2.  openvswitch-2.12.0-1.1.el8.x86_64

The uname -a command is

![image](https://user-images.githubusercontent.com/4197714/133073980-15737a67-9b65-4fd5-9d0f-a18dca94435f.png)

The cloudstack work node is using KVM + openvswitch (http://docs.c

[2021-09-13 10:53] NuxRo opened #5444 "Primate: remove blank spaces around item values"
Hello,

Currently field names such as "Display Name", "ID" and so on are not surrounded by any blank spaces, however their values are surrounded by 1 blank space on each side.

When double clicking to select and copying the values, such as IDs etc, it becomes quite annoying having to spend time on removing them manually when pasting in other programs (say cloudmonkey).

Can this be adjusted to exc

[2021-09-13 11:15] xuanyuanaosheng commented on #5409
I reinstall the system.

[2021-09-13 14:10] weizhouapache commented on #5426
@xuanyuanaosheng
since the configuration worked on oracle 7, can we close this issue ?

[2021-09-13 14:15] weizhouapache commented on #5409
@xuanyuanaosheng
have you made it work without bond in centos 8 ?

I saw your issue in #5443.If this works (no bonding), #5443 might be a compatibility issue between NetworkManager and OVS/bond support.

[2021-09-13 14:50] #3121 closed, assigned to davidjumani

[2021-09-13 15:16] SadiJr opened #5445 "[Veeam Plugin] Can't list Backups"
##### ISSUE TYPE
 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### OS / ENVIRONMENT

- Windows Server 2019 Datacenter (1809);
- Veeam B&R v11 (build 11.0.0.837), Enterprise license;
- OpenSSH 7.7p1;
- PowerShell 5.1.17763.2090;

##### SUMMARY

We are validating the use of VMWare hypervisor with Veeam Backup. We followed the step-by-step in the ACS docume

[2021-09-13 17:42] rhtyd commented on #5445
@SadiJr can you test 4.15.1 or 4.15.2RC2?

[2021-09-13 17:44] rhtyd commented on #5445
@SadiJr on reading the docs your Veeam version isn't supported yet. See:
http://docs.cloudstack.apache.org/en/latest/adminguide/veeam_plugin.html

[2021-09-14 03:31] nvazquez commented on #5444
@NuxRo I tried on Chrome and the values do not have space, however I see a space at the end of the values using Firefox, in which browser did you see that behaviour?

Chrome:
![Screenshot from 2021-09-14 00-25-47](https://user-images.githubusercontent.com/5295080/133190075-563d3b47-2463-4683-9c71-a05b75b7ad2a.png)

Firefox:
![Screenshot from 2021-09-14 00-28-16](https://user-images.githubuserconte

[2021-09-14 03:45] nvazquez commented on #5440
@davidjumani @utchoang I could reproduce the issues, simply clicking Compute -> Instances as a user and then Projects makes the projects list to not being refreshed, however I can see the notification at the top. Any idea on this issues?

[2021-09-14 03:47] xuanyuanaosheng commented on #5443
The openvswitch config will become the below when I restart the network.
![Uploading image.png…]()

[2021-09-14 03:54] nvazquez commented on #5433
Thanks @slavkap - looping @andrijapanicsb @sureshanaparti as well for feedback/discussion

[2021-09-14 03:59] nvazquez commented on #5418
Thanks @rhtyd - @ngrosc does it fix the issue?

[2021-09-14 04:37] Pearl1594 commented on #5440
@rhtyd @nvazquez regarding step #2 i.e., On creation of a project - the project tab doesn't auto-refresh, I was able to reproduce the issue, but on clearing the cache - surprisingly things worked as it should i.e., Project tab auto refreshes on creation of a new project

[2021-09-14 05:14] weizhouapache commented on #5443
@xuanyuanaosheng
you need to add line below in ifcfg-mgmt0
[code]

[2021-09-14 05:20] xuanyuanaosheng commented on #5443
1.   I restart using the kernel : Linux XXXX (hostname) 5.4.17-2011.7.4.el8uek.x86_64 #2 SMP Fri Oct 2 14:39:04 PDT 2020 x86_64 x86_64 x86_64 GNU/Linux
2.    systemctl stop NetworkManager (The NetworkManager service need to be closed, otherwise it will fail.)
3.    I use network to manager the network
[code]

4.   The  ifcfg-bond0 configuration is
[code]

[2021-09-14 05:23] #5336 closed

[2021-09-14 05:28] rp- commented on #5433
For me(or Linstors POV) it make no sense (and doesn't work) to have snapshots without the volume.
So deleting would be fine for me, also in Linstor you can't delete a volume as long as it has snapshots.

[2021-09-14 05:37] nvazquez commented on #5308
@weizhouapache there is a corner please in which finalizaExpungeNics returns a list of commands but these commands are never sent to the hypervisor, please check #5449,

[2021-09-14 05:59] xuanyuanaosheng commented on #5426
@weizhouapache   It just like a magic.

[2021-09-14 06:05] xuanyuanaosheng commented on #5409
1.   https://github.com/apache/cloudstack/issues/5426
2.   https://github.com/apache/cloudstack/issues/5443

[2021-09-14 06:07] #5443 closed

[2021-09-14 06:07] #5426 closed

[2021-09-14 06:08] #5409 closed

[2021-09-14 06:10] xuanyuanaosheng commented on #5443
https://github.com/apache/cloudstack/issues/5426
https://github.com/apache/cloudstack/issues/5409

[2021-09-14 06:12] #3015 closed

[2021-09-14 06:39] rhtyd commented on #5433
@slavkap thanks, I suggest that you start a discussion thread on dev@ ML as a lot of people don't check/read Github comments (I'm guilty of that too).

[2021-09-14 06:45] rhtyd commented on #5189
Hi @abdelouahabb community can't commit to supporting and testing non-LTS and non-mainstream distros. But we'll be happy to accept any PRs of somebody wants to maintain support for their favourite distro. Feel free to raise a PR and discuss on dev@ML.

Closing on this remark.

[2021-09-14 06:45] #5189 closed

[2021-09-14 06:57] rhtyd commented on #3689
It has a closable label, can it be closed @DaanHoogland @borisstoyanov @andrijapanicsb?

[2021-09-14 07:00] rhtyd commented on #4224
Ping @DaanHoogland are you working on this, in recent runs I don't see this failure against xenserver. Though in general the vpc smoketests intermittently fail across all three hypervisors.

[2021-09-14 07:00] rhtyd commented on #4468
Ping @sureshanaparti are you looking into it?

[2021-09-14 07:03] slavkap commented on #5433
Thanks all! I'll open a discussion on the ML

[2021-09-14 07:20] ngrosc commented on #5418
Hi Guys

Just tested it, and it's working like a charm.

Thanks Rohit for the hint!

Best Regards
Christian

Am Di., 14. Sept. 2021 um 05:59 Uhr schrieb Nicolas Vazquez <
***@***.***>:

[2021-09-14 07:32] andrijapanicsb commented on #3689
Not a bug, per current design

[2021-09-14 07:34] andrijapanicsb commented on #5433
I will just say, that this feature (to keep snaps on primary and NOT copy them on secondary) is developed for Ceph only, and doesn't work nor was tested to work on other storage solutions. Things needs to be properly implemented/from scratch for other storage types.

[2021-09-14 07:49] slavkap commented on #5433
@andrijapanicsb, I agree with you, but this works for StorPool and will work with the PR that I've mentioned above. I think that the problem also affects the Linstor driver without the option for bypassing secondary storage and maybe Nexenta driver (but not sure how they handle the deletion of the volume after checking their code).

[2021-09-14 08:06] slavkap commented on #5433
Also, I think this part of the code (which is partly wrong) is not in the right place. My opinion is that the drivers should care about what happens with snapshots, not CS.

[2021-09-14 08:40] NuxRo commented on #5444
@nvazquez you'd think mentioning the browser and version would be important.. Firefox 91 on Fedora.

I've now just tried Chromium and it doesn't prepend/append any spaces, however it does append a "new line", so something is definitely afoot here.

[2021-09-14 10:37] #5444 closed

[2021-09-14 10:37] rhtyd commented on #5444
@NuxRo please get/test latest main, issue fixed in https://github.com/apache/cloudstack/pull/5450

[2021-09-14 11:26] rhtyd commented on #5418
@ngrosc Great, let's close this on your remark

[2021-09-14 11:26] #5418 closed

[2021-09-15 03:26] #5120 closed

[2021-09-15 05:20] #5440 closed

[2021-09-15 08:02] ravening opened #5452 "Console proxy timeouts when there are multiple subnets"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced networking
Multiple subnets for management cidr (172.30.34.* and 172.30.36.*)

##### OS / ENVIRONMENT

Ubuntu 16 hosts

##### SUMMARY

The console for a vm timeouts when there are multiple subnets configured.
If we try to access the console of the vm which is running on th

[2021-09-15 08:03] ravening commented on #5452
@weizhouapache @rhtyd have you guys faces this issue?

[2021-09-15 08:08] weizhouapache commented on #5452
@ravening is it related to your pr https://github.com/apache/cloudstack/pull/4678 ?

[2021-09-15 08:14] ravening commented on #5452
@weizhouapache no... because that pr adds the cidr to the route but not the specific ip address.
if you see the route -n output, we can see that only specific ip routes are added when we access the console

[2021-09-15 08:16] DaanHoogland commented on #4224
@rhtyd I'm not actively researching this but it is a concern. I'll remove my name for now but will keep an eye on.

[2021-09-15 08:45] ravening commented on #5452
@weizhouapache so the console works for initial 30 seconds and then freezes.
the static route is added by python scripts or the java code? I added some logs under `CsRoute.py` `cs/CsStaticRoutes.py` but didnt see that in `/var/log/cloud.log`

[2021-09-15 09:04] NuxRo commented on #5415
@nvazquez  LGTM :+1:

[2021-09-15 09:07] weizhouapache commented on #5452
@ravening
it is added by java

[code]

[2021-09-15 09:11] weizhouapache commented on #5452
@ravening
I think you could consult networking engineers how to solve this issue in switch configurations

[2021-09-15 09:13] ravening commented on #5452
@weizhouapache we checked the code you mentioned yesterday but that was not modified from long time. so the same issue should have been in 4.7 also

[2021-09-15 09:16] #2735 closed

[2021-09-15 09:26] rhtyd commented on #5161
@GabrielBrascher can you confirm and close this if it's no longer an issue for main/4.16?

[2021-09-15 09:28] rhtyd commented on #4891
This is not an issue @srisgajare you're supposed to run the UI separately as developer. How are you building the docker image, one solution is to also build the UI using npm and copy and replace the src as Apurv mentioned above.

[2021-09-15 10:33] sureshanaparti commented on #4468
yes @rhtyd , raised the PR.

The nested data structures for “cmdInfo” and “jobResult” can be  parsed properly. The string value at the beginning of “jobResult” (example: "org.apache.cloudstack.api.response.UserVmResponse/virtualmachine/“) is moved to jobResult under parameters class and object. (in case of example mentioned => class : org.apache.cloudstack.api.response.UserVmResponse and object: v

[2021-09-15 12:13] GabrielBrascher commented on #3195
@nvazquez I need to roll a couple more tests.
Let's have it in the next release, for 4.16 it might be risky to have it.
Thanks!

[2021-09-15 12:39] DaanHoogland commented on #3195
not to migrate but to fix. component tests have been neglected way too long.

[2021-09-15 15:38] #3742 closed

[2021-09-15 15:56] SadiJr commented on #5445
@rhtyd Sorry for the delay in the answer.

I tested both 4.15.1 and 4.15.2RC2. Same error in both. About version 11 not being supported, I had read the documentation previously and noticed that tests were done on version 9.5, but I was hopeful that version would work without problems.

I did some more testing and apparently using Format-List (https://docs.microsoft.com/en-us/powershell/scripting/s

[2021-09-16 04:46] nvazquez commented on #5202
@rhtyd we have discussed some options to address this and found a potential issue on mixed environments with KVM and Vmware that can cause failures on the upgrade. Also, the discrepancy on DB can be solved by creating a new network with the correct type (previously all the pvlans contained the were isolated in DB as it was the only supported type) or may need manual update on DB only when its not

[2021-09-16 05:20] #4403 closed

[2021-09-16 05:48] rhtyd commented on #5452
Never seen/heard it @ravening

[2021-09-16 07:12] weizhouapache commented on #5452
@ravening
the issue might exist with legacy vnc console and new novnc console introduced in 4.14

[code]
You did not see the issue because you did not use legacy vnc console but use a different novnc implementation.

I suggest you to fix it by network configuration changes.

[2021-09-16 08:49] davidjumani commented on #5202
+1

[2021-09-16 19:16] #5415 closed

[2021-09-16 20:18] #5412 closed

[2021-09-17 01:45] div8cn opened #5461 "volume db update is incorrect"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

This is the VOLUME state definition

Expunging("The volume is being expunging"),
Expunged("The volume has been expunged"),
Destroy("The volume is destroyed, and can't be recovered."),
Destroying("The volume is destroying, and can't be recovere

[2021-09-17 01:52] div8cn commented on #5461
At the same time, I found that VOLUME has two states in the DB after being deleted

1. removed!=null, state=Expunged, pool_id !=null
2. removed!=null, state=Destroy, pool_id=null

![image](https://user-images.githubusercontent.com/35140268/133711079-92e3093f-1ba7-4ca3-863c-a500d5e35870.png)

[2021-09-17 02:00] xuanyuanaosheng opened #5462 "Solution for multiple VLANs using cloudstack ?"
##### ISSUE TYPE
 * Solution

We're using CloudStack + KVM to build up our private virtulization environment, and we have **_the requirement that to use multiple VLANs for VM in one cluster via basic network mode_**.

1.    We have tried using bridge in KVM host but it could only support all VMs in 1 VLAN, and we'd like to know is that possible if using openvswitch in KVM host to support multiple

[2021-09-17 04:51] #4063 closed

[2021-09-17 05:01] #4468 closed

[2021-09-17 06:21] weizhouapache commented on #5462
@xuanyuanaosheng

In basic zone, you can add multiple ip ranges to the network. This may not meet your requirement because all ip ranges use same vlan.

shared networks in advanced zone will solve your problem.

[2021-09-17 08:26] xuanyuanaosheng commented on #5462
@weizhouapache  Thanks for your reply.

[2021-09-17 08:56] DaanHoogland commented on #5461
I don;t think there is a problem, even when there is more states signifying the same condition. Expunged means it is gone and can't be recovered. the statemachine could do with a cleanup but isn't broken.

[2021-09-17 09:20] tampler commented on #5234
Thanks everyone for the discussion. Here's the bottom line response to my initial question

1. If you use a `shared` network, all VMs will be accessible by Public IPs
2. If you use VPC or a simple `isolated` network, all VMs will be accessible thru the Virtual Router IP (its public interface). Firewall and port forwarding should be set properly
3. It's not recommended to mix Publicly and Privately

[2021-09-17 09:20] #5234 closed

[2021-09-17 09:23] tampler commented on #5250
This error was a result of SSVM misconfiguration. Before deploying VMs, make sure to have `ssvm-check.sh` running without errorrs

[2021-09-17 09:23] #5250 closed

[2021-09-17 09:29] tetra12 commented on #5370
Fixed after properly configuring SSVM

[2021-09-17 09:29] #5370 closed

[2021-09-17 15:12] AlexanderKgr commented on #5204
issue is still there. old vms does not boot at all after update to 4.15.2.0
this is a windows server 16
![image](https://user-images.githubusercontent.com/25532758/133806463-c55cfaf7-6eb0-4b2a-96f2-362b354dee8f.png)

also there is no option to change the bios or uefi at old instances

[2021-09-17 15:13] tetra12 commented on #5350
@weizhouapache

If you do that change, ACS would fail to install on Ubuntu 18 and 20. Leaving that empty is a generic workaround, that will push users to install correct deps on the host before installing ACS

[2021-09-17 15:44] AlexanderKgr commented on #5204
on 1st boot vm works perfect. when i shut down it and restart it i have this error

![image](https://user-images.githubusercontent.com/25532758/133816479-6d026445-a867-472f-8af0-e5f153a888a1.png)

have changed something from settings

![image](https://user-images.githubusercontent.com/25532758/133816605-ab6f1d4d-5b5a-42ad-853c-4d21ea056e16.png)

[2021-09-17 15:58] weizhouapache commented on #5350
@tetra12
`qemu-kvm (>= 2.5) | qemu-system-x86 (>= 5.2)` means it is ok if one of  `qemu-kvm (>= 2.5)` and `qemu-system-x86 (>= 5.2)` is installed.

[2021-09-17 16:24] #5308 closed

[2021-09-17 16:35] shwstppr commented on #5204
@AlexanderKgr you have `UEFI` detail set in your VM. Is that on purpose. You can stop the VM, remove the UEFI detail and then start the VM. This should make VM start in BIOS boot type.

For changing, boottype and bootmode for an existing VM. VM should be in the `Stopped` state.
- For UEFI, you can add a detail for the VM. Key=`UEFI`, Value=`SECURE` or `LEGACY`
- For BIOS, you can delete the detail

[2021-09-17 16:38] shwstppr commented on #5204
@AlexanderKgr also, rebooting the VM with `rebootVirtualMachine` or with Reboot action in UI won't work. You will have to stop-start the VM.

[2021-09-17 16:45] AlexanderKgr commented on #5204
I made a new vm from a old template with 4.15.1 and it was windows with uefi option.
Selected at advanced details uefi and legacy.
Booted without issues. Shutdown it down from cs ui.
Tried to start it after some minutes and i have the above issue
Tried all combinations of vm settings key uefi and value secure or legacy and none worked

[2021-09-17 16:48] AlexanderKgr commented on #5204
On first boot everything is working. I haven't tried to reboot it. Shut down wait some minutes and then boot. Error appears

[2021-09-17 17:36] tsinik-dw commented on #5204
Cloudstack 4.15.2  is now capable to handle Xenserver/XCP-NG versions that support UEFI, but if the template was made with 4.15.1 I guess that the key/value pair related to boottype couldn't be declared to VM details.
@AlexanderKgr Did you try to create a windows template with UEFI option using the 4.15.2?

[2021-09-17 17:47] AlexanderKgr commented on #5204
No i haven't tried to make new templates. With 4.15.1 i had to create again new templates because all windows vms were booting with uefi. Now all my existent windows vms are not booting.

When i create a new vm with template from 4.15.1 it will boot without issue. But when i shut it down and booted again i have error.

[2021-09-18 09:30] AlexanderKgr commented on #5204
for uefi and existing vm does not work. please check it.

[2021-09-18 09:34] AlexanderKgr commented on #5204
this is a uefi vm working with 4.15.1.0

![image](https://user-images.githubusercontent.com/25532758/133884263-18a0e39f-4e3b-43bc-89c9-0ae764c5be29.png)
i have these options, and it does not boot.

also from logs i have this error
![image](https://user-images.githubusercontent.com/25532758/133884295-9d5167a7-4777-45fe-82b5-f866764321c9.png)

i understood that with key UEFI and value SECURE OR LEGA

[2021-09-18 09:50] AlexanderKgr commented on #5204
made today a new instance with iso from the scratch. Everything worked.
When i shutdown the instance and tried to boot it, without even touching the settings...
Again the same issue!

![image](https://user-images.githubusercontent.com/25532758/133884716-4798186a-b5e4-4f63-a9ba-6df64eb89a2b.png)

and from the logs

![image](https://user-images.githubusercontent.com/25532758/133884723-171961aa-fd00-

[2021-09-18 11:56] AlexanderKgr opened #5466 "After installing 4.15.2.0 instances with uefi cannot boot for second time (xcp-ng 8.2)"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION

Ubuntu server 18 with cloudstack 4.15.2.0
Hypervisor xcp-ng 8.2 with september security patch
Advanced networking

##### SUMMARY

Continuing from this issue
https://github.com/apache/cloudstack/issues/5204
Which is closed and this problem happening

After installation of 4.15.2.0, w

[2021-09-19 21:06] luganofer opened #5467 "L2 Guest Networks: exclusive VLAN range"
##### ISSUE TYPE

 * Improvement Request
##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Enviroment with adcanced networking

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Currently, in an advanced network environment, L2 networks can only be specified a VLAN id by a root admin user (which makes a lot of sense).
L2 type networks can be created by users only if th

[2021-09-20 05:26] #3111 closed

[2021-09-20 05:43] rhtyd commented on #5466
@AlexanderKgr thanks for reporting, would have been nicer if we could test 4.15.2 RC1/RC2.

Let's try to get it right for 4.16 then, cc @shwstppr - can you work on a fix for 4.16?

[2021-09-20 05:49] AlexanderKgr commented on #5466
i will try to revert to 4.15.1. i have a db backup. luckily i have not upgraded my production site. next time i will try rc versions

[2021-09-20 06:57] rhtyd commented on #5466
Great to hear that @AlexanderKgr, just a tip - after your issue is fixed by a pull request you can help us test the fix in your test environments using snapshot/nightly builds from http://download.cloudstack.org/testing/nightly (however, note this doesn't honour DB upgrade paths), and definitely help us test release candidates (RCs) and vote in future.

[2021-09-20 07:36] AlexanderKgr commented on #5466
i will help with the test.
I have issue restoring db. have drop cloud db, run the initialization script, stopped management server and restore db with the dump i have before upgrade... management server boots as new...any help?

[2021-09-20 08:38] shwstppr commented on #5466
@AlexanderKgr once the PR #5469 gets merged you may test the next nightly

[2021-09-20 11:36] AlexanderKgr commented on #5466
build failed!

[2021-09-20 13:05] Pearl1594 opened #5475 "UI: Issue during logging out of UI as domain admin / user"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Noticed issue on Simulator and KVM based env

##### SUMMARY

On logging in as a domain admin/user, and then logging out, we see an increasing number of requests being sent to the MS, leading to the browser becoming unresponsive. Clearing the cache / opening

[2021-09-20 15:20] #5475 closed

[2021-09-20 15:58] #4293 closed

[2021-09-21 02:01] adrianopaterlini opened #5477 "Problem adding SAML user as Domain Admin"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION
SAML is enabled.

##### OS / ENVIRONMENT
Using online environment http://primate-qa.cloudstack.cloud:8080/client/master/

##### SUMMARY
When logged as a Domain Admin, it is not possible to add a SAML user, since the identity provider list is not loaded in the new UI.

##### STEPS TO

[2021-09-21 02:05] adrianopaterlini opened #5478 "Problem adding SAML user into a existing Account"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION
SAML is enabled.

##### OS / ENVIRONMENT
Using online environment http://primate-qa.cloudstack.cloud:8080/client/master/

##### SUMMARY
Logged as ROOT Admin, adding an adicional SAML user to an existing Account does not work properly when the new UI is used.

##### STEPS TO REPRODUCE

[2021-09-21 04:01] wx930910 opened #5479 "Refactor GroupByExtension to improve test logic"
##### ISSUE TYPE

 * Improvement Request

##### SUMMARY

I noticed that there is a test class [GroupByExtension](https://github.com/apache/cloudstack/blob/bf6266188c89a5487383f216333ae10e878d2c10/framework/db/src/test/java/com/cloud/utils/db/GroupByTest.java#L103) extends production class [GroupBy](https://github.com/apache/cloudstack/blob/bf6266188c89a5487383f216333ae10e878d2c10/framework/db/src/

[2021-09-21 07:28] rhtyd commented on #3110
Ping @nvazquez what's the update/progress on this, thanks.

[2021-09-21 07:28] weizhouapache commented on #4902
fixed via #5356

[2021-09-21 07:28] #4902 closed

[2021-09-21 07:28] rhtyd commented on #3561
@harikrishna-patnala cc @nvazquez can you check if I've correctly moved this to 4.17 milestone; or is somebody working on this?

[2021-09-21 07:30] rhtyd commented on #3752
@nvazquez @sureshanaparti @davidjumani @shwstppr @Pearl1594 @DaanHoogland @weizhouapache - any update on this, who's assigned/working on this? Thanks.

[2021-09-21 07:32] rhtyd commented on #3753
Tested on qa.cloudstack.cloud, unable to reproduce this in modern UI. Closing this.

[2021-09-21 07:32] #3753 closed

[2021-09-21 07:32] Pearl1594 commented on #3752
There already seems to be a PR in its favor: https://github.com/apache/cloudstack/pull/4339 @rhtyd

[2021-09-21 07:33] rhtyd commented on #3789
Moving this to 4.17 as PR is moved to 4.17 milestone

[2021-09-21 07:33] rhtyd commented on #4093
Removing 4.16 milestone as PR has no milestone; let's move this back if the milestone tagging changes.

[2021-09-21 07:34] rhtyd commented on #4224
@nvazquez @sureshanaparti @davidjumani @shwstppr @Pearl1594 @DaanHoogland @weizhouapache - any update on this, who's assigned/working on this? Thanks.

[2021-09-21 07:34] rhtyd commented on #4357
@nvazquez @sureshanaparti @davidjumani @shwstppr @Pearl1594 @DaanHoogland @weizhouapache - any update on this, who's assigned/working on this? Thanks.

[2021-09-21 07:35] rhtyd commented on #4406
@nvazquez @sureshanaparti @davidjumani @shwstppr @Pearl1594 @DaanHoogland @weizhouapache - any update on this, who's assigned/working on this? Thanks.

[2021-09-21 07:35] rhtyd commented on #4482
@GabrielBrascher @wido @nvazquez @sureshanaparti @davidjumani @shwstppr @Pearl1594 @DaanHoogland @weizhouapache - any update on this, who's assigned/working on this? Or should we change milestone? Thanks.

[2021-09-21 07:36] rhtyd commented on #4891
@nvazquez @sureshanaparti @davidjumani @shwstppr @Pearl1594 @DaanHoogland @weizhouapache - any update on this, who's assigned/working on this? This however, may not be a high-priority task - but let's discuss and conclude on a resolution, thanks.

[2021-09-21 07:41] rhtyd commented on #5019
@GabrielBrascher @nvazquez @sureshanaparti @davidjumani @shwstppr @Pearl1594 @DaanHoogland @weizhouapache - any update on this, who's assigned/working on this? Thanks.

[2021-09-21 07:42] rhtyd commented on #5161
@GabrielBrascher @utchoang @svenvogel @nvazquez @sureshanaparti @davidjumani @shwstppr @Pearl1594 @DaanHoogland @weizhouapache - any update on this, who's assigned/working on this? Thanks.

[2021-09-21 07:43] rhtyd commented on #5202
@davidjumani have we agreed that you'll work on a doc PR instead? Thanks

[2021-09-21 07:44] rhtyd commented on #5433
Assigned to @GutoVeronezi who has submitted a PR on the same

[2021-09-21 07:57] utchoang commented on #5161
Same logic revert button from main and 4.15 branch. I don't think this issue from UI. @GabrielBrascher Can you confirm where this error is coming from?

[2021-09-21 08:01] soreana commented on #4093
@rhtyd good  :+1:
Sorry for late, we got a lot of issues recently, I can't find a room to work on this pr. Maybe next week 🤞

[2021-09-21 08:12] rhtyd commented on #3752
Thanks @Pearl1594, assigned to @davidjumani as he has submitted a PR.

[2021-09-21 08:37] harikrishna-patnala opened #5484 "Resize volume fails after DRS migrates volume in datastore cluster"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

In VMware datastore cluster, if DRS triggers a volume migration and if the volume path has changed then the subsequent resize volume operation in CloudStack fails because the update volume path is not there with CloudStack.

Workaround is to s

[2021-09-21 09:11] DaanHoogland commented on #5479
@blueorangutan package

[2021-09-21 11:38] weizhouapache commented on #4224
@rhtyd @nvazquez I will work on this.

[2021-09-21 12:02] #5477 closed

[2021-09-21 12:02] #5478 closed

[2021-09-21 12:59] nvazquez commented on #5161
Closing this issue as per @GabrielBrascher's comment https://github.com/apache/cloudstack/issues/5161#issuecomment-902256567 after testing on main branch

[2021-09-21 12:59] #5161 closed

[2021-09-21 14:10] nvazquez commented on #5466
@AlexanderKgr the PR is still in progress, we'll let you know once it is merged so you can test the nightly build

[2021-09-21 18:15] nvazquez opened #5489 "UI: Instances list view format after adding comments"
Minor UI issue: The comments icon on the instance list view makes the VM state text exceed the column width if there is a VM with a default name that has a comment

Before adding a comment on a VM with default name:
![AAAbefore](https://user-images.githubusercontent.com/5295080/134224933-6f3529f7-1e37-450f-a406-5ee573e90287.png)

After adding a comment;
![AAAAfter](https://user-images.githubuserco

[2021-09-21 18:47] nvazquez commented on #4406
@weizhouapache please advise if this needs fixing after your checks

[2021-09-21 19:57] nvazquez commented on #3561
Its fine @rhtyd as PR #5008 has been moved to the 4.17 milestone and will address this issue

[2021-09-22 00:36] Hudratronium opened #5491 "Mounting NFS 4 shares of secondary storage fails on CS Hosts"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced Network
Sepparated storage network

##### OS / ENVIRONMENT

- Completly new environment
- Ubuntu 20.04 LTS for Hosts
- NFS Server supporting NFS 4.1 / 4.0
- Global Setting "secstorage.nfs.version" set to 4 or 4.1

##### SUMMARY

Deploying a new instance fails due to error

[2021-09-22 06:17] davidjumani commented on #5202
Yes, will create a PR soon and update

[2021-09-22 06:31] PPisz commented on #5405
Very good idea.
- The installation of NVIDIA software on the KVM side should be on the Administrator side.
- GPU Offering should allow you to define NVIDIA vGPU profile, (this information can be easily retrieved from the appropriate path) e.g .:

nvidia-355 - CUDA - num_heads=4, frl_config=60, framebuffer=1024M, max_resolution=5120x2880, max_instance=32
nvidia-356 - CUDA - num_heads=4, frl_config=

[2021-09-22 07:04] PPisz opened #5493 "Account and projectId can't be specified together"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

New UI

##### CLOUDSTACK VERSION

4.15.1
4.15.2

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 8 / KVM

##### SUMMARY

I have a project, a user in a project, VM. When the VM is turned off and I try to edit settings of VM, I get this message:

Request Failed (431)
Account and projectId can't be specified together

The changes to the setti

[2021-09-22 07:47] weizhouapache opened #5494 "Normal users with granted permission on listconfigurations/updateconfiguration are able to list and update global configurations"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

as titile

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-09-22 08:34] shwstppr commented on #5493
@davidjumani does #5485 fix this in main?

[2021-09-22 09:09] davidjumani commented on #5493
@shwstppr Yes it should

[2021-09-22 09:22] leolleeooleo opened #5497 "CPU frequency detection not maximum on Rocky 8"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
CentOS 8/Rocky 8

##### SUMMARY
CPU capability detection error.
Because cloudstack-agent detected CPU is running at low frequency,
Not the CPU Maximum frequency.
When start VM will show "Cannot deploy the VM to specified host 21; host has cpu capabi

[2021-09-22 10:22] mdesaive commented on #5484
Hi Harikrishna,

thank you for addressing this bug and creating this ticket.

Only for my understanding and to make sure we address the problem properly:

You had been aware that there are inconsistencies to be expected with the path and chaininfo field after storage VMotion.

There was a bug starting VMs with volumes with such inconsistencies. (https://github.com/apache/cloudstack/issues/5091) Th

[2021-09-22 10:24] mdesaive commented on #5484
And concerning your question about when the problem occurs:

Both for manual storage VMotion and DRS VMotion VMWare changes the volume name from the UUID type to some string consisting of VM name and count, which breaks consistency with the CloudStack database.

[2021-09-22 10:32] mdesaive commented on #5484
The bug occurs in the following situation:

If a volume is created by CloudStack and not ingested from VMWare the path is formed as an UUID. VMWare is actually working with a determined value formed of the VM name and a suffix for counting as volume name.

With a live storage migration on VMWare level this volume name is changed from the UUID type to the VM name type and the CloudStack database is

[2021-09-22 11:34] harikrishna-patnala opened #5498 "Single volume snapshot operation exports all volumes of the VM to the secondary storage"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When a VM has multiple volumes and snapshot or recurring snapshot is taken for one volume. All volumes are exported to secondary storage.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-09-22 11:42] weizhouapache commented on #5494
I have discussed with @Pearl1594
It seems many apis have similar issue (not sure if it is a real issue).
some APIs have `authorized = {RoleType.Admin` in APICommand annotation, but many old APIs do not have it.

[2021-09-22 11:58] GutoVeronezi commented on #5433
@rhtyd @slavkap actually PR #5297 does not solve this issue, it refers only to issue #5124. Both regards to the same feature, however, in different contexts.

(see https://github.com/apache/cloudstack/pull/5297#issuecomment-919366170)

[2021-09-22 14:16] div8cn opened #5499 "Failed to add NIC to VM concurrently"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Add multiple ShareNetwork to VM at the same time, only the first job can execute successfully;

All subsequent addition of nic job shows that the execution is successful, but it is not actually added to the VM NICS

##### STEPS TO REPRODUCE

[

[2021-09-22 14:34] #5489 closed

[2021-09-22 14:49] nvazquez commented on #5493
Tested main, fixed by #5485

[2021-09-22 14:49] #5493 closed

[2021-09-22 15:02] #5479 closed

[2021-09-22 18:46] #5413 closed

[2021-09-22 19:23] rhtyd commented on #5467
@luganofer CloudStack already supports feature to dedicate VLAN range to an account by root admin, have you tried that? (goto zone, phy net...)

[2021-09-22 19:24] rhtyd commented on #5491
cc @nvazquez @sureshanaparti pl triage

[2021-09-22 19:25] rhtyd commented on #5494
cc @nvazquez @sureshanaparti pl triage

[2021-09-22 19:25] rhtyd commented on #5497
cc @nvazquez @sureshanaparti pl triage, @davidjumani

[2021-09-23 03:16] leolleeooleo opened #5500 "CEPH Primary Storage capacity calculate"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
CEPH Primary Storage

##### OS / ENVIRONMENT
N/A

##### SUMMARY
CEPH Storage has Replica Size as 3.
Disk Total and Disk Size Used need Divide by CEPH Replica Size.

##### STEPS TO REPRODUCE
![image](https://user-images.githubusercontent.com/12134066/134449013-6a2bf610-8ea2-465

[2021-09-23 03:45] nvazquez commented on #4482
Moved to the 4.17 milestone

[2021-09-23 04:38] nvazquez commented on #5491
I've checked the `LibvirtStoragePoolDef` class needs to be extended by setting the `protocol` filed on the `source` element to the specified version, not honoured for KVM (https://libvirt.org/formatstorage.html#StoragePoolSource)

[2021-09-23 05:01] nvazquez commented on #5019
Moved to the 4.16.1 milestone

[2021-09-23 05:04] nvazquez commented on #3110
@sureshanaparti please update on this issue, thanks

[2021-09-23 06:09] davidjumani commented on #5497
This could be OS related, in the env I've tested, the CPU Mhz matches the CPU Max frequency
[code]

[2021-09-23 06:55] davidjumani commented on #5494
I can add a fix to restrict users as well, as part of https://github.com/apache/cloudstack/pull/4339

[2021-09-23 08:35] weizhouapache commented on #4224
@nvazquez @andrijapanicsb

I run the test on xcp82 environment 10 times, all are successful. I think this can be closed.

[2021-09-23 08:37] andrijapanicsb commented on #4224
Ok, let's close it until next failures.

[2021-09-23 08:37] #4224 closed

[2021-09-23 08:44] leolleeooleo commented on #5497
The file /proc/cpuinfo in CentOS 7 was Max frequency,
CentOS 8 and Rocky 8 are not always Max frequency, depend on idle or busy.

I get the log from here
https://github.com/apache/cloudstack/blob/4.15.2.0/plugins/hypervisors/kvm/src/main/java/org/apache/cloudstack/utils/linux/KVMHostInfo.java#L85
[code]

And I had try (CentOS 7, CentOS 8, Rocky 8 are same)
and this only on Dell PowerEdge R410 and

[2021-09-23 08:56] leolleeooleo commented on #5497
On CentOS 7
[code]

On Rocky 8
[code]

[2021-09-23 09:08] davidjumani commented on #5497
When it is unable to find the `cpuinfo_max_freq` file, it falls back on the data reported by libvirt.
It looks like a non cloudstack issue since it only faces the problem on specific hardware and OS
As a workaround we can look into a different way of fetching the max cpu in the agent

[2021-09-23 09:16] leolleeooleo commented on #5497
Here are I can get the maximum frequency
[code]

[code]

[2021-09-23 10:14] sureshanaparti commented on #3110
History/Background of volume resize with respect to _scaleVirtualMachine_ and _changeServiceForVirtualMachine_ APIs =>

- Pre 4.11: Volume resize is not allowed through the service offering change in scaleVirtualMachine/changeServiceForVirtualMachine APIs.
- Resize volume allowed for stopped VM through scaleVirtualMachine API (in 4.11.0) [PR: https://github.com/apache/cloudstack/pull/2298].
- Resi

[2021-09-23 10:21] mdesaive commented on #5484
We seemed to have found a valid temporary workaround for us:

After a volume was attached, we perform a volume live migration with CloudStack.
After this had succeeded the volume path in VMWare and the path and chaininfo entries in the CloudStack database are consistently changed to the VMWare naming scheme and afterwards no longer changed through storage migrations triggered from VMWare.

[2021-09-23 10:34] harikrishna-patnala commented on #5484
Thanks for the details Melanie. To answer your question, yes fix is during volume resize API call MS check if it has the right data, if not, updates the DB accordingly.

Yes the workaround you mentioned is also fine, you can also stop start the VM or detach and attach the disk to get the proper data into CS.

[2021-09-23 11:02] mdesaive commented on #5484
What will happen, when I trigger a volume live migration with inconsistent data in the CS database for path or chaininfo?

[2021-09-23 11:17] kricud commented on #5491
@Hudratronium How you are handling “no_root_squash” with nfsv4
What are user and group on nfsv4 mount? “ls -la”
If you force it globally “secstorage.nfs.version” how you are handling “/etc/idmapd.conf” for nfsv4 on secondarystoragevm? Can you show “ls -la” on mount from secondarystoragevm?

Outcome for permissions is root:root or nobady:nobady ?

[2021-09-23 12:47] leolleeooleo commented on #5497
Maybe I found the problem is.

Dell Server BIOS has Power Management Profile setting.
It is set to Active Power Controller (Dell designed, BIOS controlled processor frequency scaling).
I'll try to set it to OS Control (Operating system controlled processor frequency scaling).

[2021-09-24 05:01] harikrishna-patnala commented on #5484
MS tries to fetch volume details with old data if not it fetches proper data from vCenter and updates CS during migration operation itself. The same thing we will do it for resize operation

[2021-09-24 07:32] weizhouapache opened #5508 "Cannot scale vm in cloudstack simulator"
Even the disk if not resized.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Simulator

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-09-24 08:04] q346249589 opened #5509 "Uploading the ISO file failed"
##### ISSUE TYPE

 * bug report
##### CLOUDSTACK VERSION

version 4.15.2

##### OS / ENVIRONMENT

CentOS.7

##### SUMMARY

  Use URLS and local file uploads，Same error

##### STEPS TO REPRODUCE

com.cloud.utils.exception.CloudRuntimeException: Unable to find image store to download template null
	at com.cloud.template.HypervisorTemplateAdapter.createTemplateWithinZone(HypervisorTemplateAdapter.jav

[2021-09-24 08:04] leolleeooleo commented on #5497
While I set Power Management Profile to OS Control, it can get maximum frequency.
[code]

And lscpu could not get maximum frequency while Power Management Profile is set to Active Power Controller.
[code]

[2021-09-24 08:47] davidjumani commented on #5497
Thanks for the update @eolleeooleo @nvazquez  I'll add a note about the power management profile in the docs

[2021-09-24 11:47] #4891 closed

[2021-09-24 13:37] Hudratronium commented on #5491
@kricud
tbh i don't get your question regarding the NFSv4 / no_root_squash. I would say this is more a problem of the used nfs-server / client then the cloudstack agent.
I provide the option in my /etc/exports for the shares.

user:group are root:root

Sadly i can't take a look into the setup as i have some problems with libvirt currently, preventing my system VMs to start.
But i got your point.
I

[2021-09-24 14:02] kricud commented on #5491
@Hudratronium loot of assumptions on what you have.
Remove global setting “secstorage.nfs.version” leave it blank.
On KVM host newest possible version will be used supported by server nfs4.1.
Confirm that KVM host and NFS host have same domain name if no in /etc/idmapd.conf fix domain name on ACS/KVM so that your NFS mounts with root:root permissions.
(NFSv4 works differently than NFSv3 more in li

[2021-09-24 14:45] weizhouapache opened #5512 "Improvement request: scale vm with new service offering, despite of storage tags"
Currently we can only scale vm to new service offering which have all the tags of current service offering.

It would be good to have an option to support vm upgrade to new service offering which do not have all the tags.

##### ISSUE TYPE

 * Bug Report
 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SU

[2021-09-24 14:46] weizhouapache commented on #5499
@div8cn
could you please share some logs of the async jobs ?

[2021-09-24 15:06] Hudratronium commented on #5491
@kricud
totally true - if you have further sources for getting into this topic i am more then willing to read into it (working principals of ssvm).
Thanks for your advice for setting everything up with nfs3

The reasoning isn't as much to use a specific nfs version across ACS specific components (ssvm / agent / management-server) more the reduction of the needed open ports in firewalls / nfs-serve

[2021-09-24 15:26] kricud commented on #5491
Regarding ssvm http://docs.cloudstack.apache.org/en/latest/adminguide/systemvm.html#secondary-storage-vm

According to what I know there is no nice/persistent way to set nfsv4 idmap domain for ssvm.
Best corse of action now is to use nfsv3 on ssvm. All rest if configured properly will work with nfsv4 and you will get all benefits.
You don’t need to change anything in ACS nfs clients on host/acs-co

[2021-09-24 16:12] AlexanderKgr commented on #5466
Merged?

[2021-09-25 23:43] Hudratronium commented on #5315
The "trick" is to download an existing templete from the ssvm
take a look at the following link - there the needed steps are descriped as well the actual "cause".

https://github.com/apache/cloudstack/issues/4169

[2021-09-26 04:12] nvazquez commented on #3110
@sureshanaparti let's move this to the next milestone for better analysis since we are close to cutting the RC

[2021-09-26 05:42] xuanyuanaosheng commented on #5462
@weizhouapache Could you please give some advices to us about **_multiple VLANs for VM in one cluster and join our AD servers outside Cloudstack platform via advanced zone ?_**

[2021-09-27 01:10] abdelouahabb commented on #5315
But this will be perfect if it is a simple choice to enable/disable tls ?

[2021-09-27 05:05] div8cn commented on #5499
Unsuccessful async job:

2021-09-27 12:59:15,886 DEBUG [o.a.c.f.j.i.AsyncJobManagerImpl] (API-Job-Executor-19:ctx-b45a5c74 job-4248) (logid:5682607c) Executing AsyncJobVO {id:4248, userId: 2, accountId: 2, instanceType: None, instanceId: null, cmd: org.apache.cloudstack.api.command.admin.vm.AddNicToVMCmdByAdmin, cmdInfo: {"virtualmachineid":"81a09e35-28f0-40e6-a13c-0be44a08062d","response":"json",

[2021-09-27 05:22] div8cn commented on #5499
Successfully added nic job log:

root@mgr1-dom0:~# cat /var/log/cloud-manager/cloudstack/management/management-server.log |grep -v queryA |grep eeb1aac2
2021-09-27 13:19:42,715 DEBUG [o.a.c.f.j.i.AsyncJobManagerImpl] (API-Job-Executor-32:ctx-08594388 job-4308) (logid:eeb1aac2) Executing AsyncJobVO {id:4308, userId: 2, accountId: 2, instanceType: None, instanceId: null, cmd: org.apache.cloudstack.a

[2021-09-27 05:23] div8cn commented on #5499
Unsuccessful async job:

root@mgr1-dom0:~# cat /var/log/cloud-manager/cloudstack/management/management-server.log |grep -v queryA |grep 69688a36
2021-09-27 13:19:40,876 DEBUG [o.a.c.f.j.i.AsyncJobManagerImpl] (API-Job-Executor-31:ctx-8c906118 job-4305) (logid:69688a36) Executing AsyncJobVO {id:4305, userId: 2, accountId: 2, instanceType: None, instanceId: null, cmd: org.apache.cloudstack.api.comma

[2021-09-27 06:02] sureshanaparti opened #5514 "Migrate volume across different PowerFlex storage clusters, ignores the disk copy failure (in KVM)"
Migrate volume across different PowerFlex storage clusters, ignores the disk copy failure (in KVM)

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

CloudStack + KVM + (atleast) Two Storage pools from different PowerFlex storage clusters

##### OS / ENVIRONMENT

##### SUMMARY

Migrate volume across different PowerFlex storage clu

[2021-09-27 07:23] weizhouapache commented on #5462
@xuanyuanaosheng
please read this page in cloudstack doc: https://docs.cloudstack.apache.org/en/latest/adminguide/networking.html

[2021-09-27 07:33] weizhouapache commented on #5499
@div8cn
can you filter logs by keyword `job-4305` ?

[2021-09-27 07:57] div8cn commented on #5499
root@mgr1-dom0:~# cat /var/log/cloud-manager/cloudstack/management/management-server.log |grep job-4305
2021-09-27 13:19:40,871 INFO  [o.a.c.f.j.i.AsyncJobMonitor] (API-Job-Executor-31:ctx-8c906118 job-4305) (logid:1c4369ad) Add job-4305 into job monitoring
2021-09-27 13:19:40,876 DEBUG [o.a.c.f.j.i.AsyncJobManagerImpl] (API-Job-Executor-31:ctx-8c906118 job-4305) (logid:69688a36) Executing AsyncJo

[2021-09-27 09:08] rhtyd commented on #4155
Looks like the PR has been merged https://github.com/apache/cloudstack/pull/5428, closing this.

[2021-09-27 09:08] #4155 closed

[2021-09-27 09:36] weizhouapache commented on #5499
@nvazquez @sureshanaparti
I tried to reproduce the issue once, but failed.
anyone else want to have a look ?

[2021-09-27 10:48] #5466 closed

[2021-09-27 10:56] rhtyd commented on #5466
@AlexanderKgr the PR has been merged now - wait for the build/testing folder with today's date (2021-09-27) or later at https://download.cloudstack.org/testing/nightly/

[2021-09-27 11:18] Hudratronium commented on #5315
I guess this is going into the "convenience vs security" discussion. I can see your point - i've had the same trouble. But i can also understand why it is realized.
Other thing would be to integrate a "new" certificate. But well, someone would need to sponsor this i guess.
It would be a feature mainly used in non-productive environments - so for testing and validation purposes.
Support your opinio

[2021-09-27 12:20] sureshanaparti opened #5516 "[KVM] Specify the source disk format if necessary, when converting a disk to another disk format (while creating a volume/template/snapshot)"
[KVM] Specify the source disk format if necessary, when converting a disk (using 'qemu-img convert') to another disk format (while creating a volume/template/snapshot).

##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

CloudStack + KVM

##### OS / ENVIRONMENT

##### SUMMARY

Currently, the 'qemu-img convert' auto detects

[2021-09-27 13:45] nvazquez commented on #5499
@div8cn how are you testing the APIs to ensure they are executed at the same time? Are you able to reproduce the issue again?

[2021-09-27 14:18] ccycv commented on #4931
I still have the same issue, even in 4.15.2, it will not work with basic network ( or advanced with guest  ) with multiple subnets.

This issue is persistent to the VMs with cloud-init:

Ubuntu 16 - OK
Ubuntu 18 - OK
Ubuntu 20 - OK
CentOS7 - Not working
CentOS8 - Not working
Debian8 -  Not working
Debian9   - OK
Debian10 - OK

It is simple to reproduce, add multiple CIDR to the same guest router,

[2021-09-27 15:07] weizhouapache commented on #4931
@ccycv it seems to be a bug in cloudstack. can you create file an issue ?

[2021-09-27 15:22] div8cn commented on #5499
I use java to directly access cloudstack api

[2021-09-28 01:42] xuanyuanaosheng commented on #5462
@weizhouapache  方便的话，加个微信可以么？

[2021-09-28 02:17] div8cn commented on #5499
This is not entirely at the same time, because the use of for causes a delay in the middle of it <1s

[2021-09-28 06:19] Pearl1594 commented on #5509
@q346249589 Is there atleast one usable secondary store present in the zone ? - by usable I mean, it has Read-Write permission.

[2021-09-28 07:08] ccycv opened #5518 "data-server IP provided to the cloud-init if not from the same subnet"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

* VR

##### CLOUDSTACK VERSION

* Tested in 4.14.x, 4.15.0, 4,15.1, 4,15.2

##### CONFIGURATION

  CloudStack with VMware 6.5 with Basic or Advanced Networks.

##### OS / ENVIRONMENT

* CentOS 7, ESXI 6.5

##### SUMMARY
A wrong data-server IP is provided to the cloud-init.

This issue persist for shared networks (Guest traffic) with multiple s

[2021-09-28 09:44] DaanHoogland commented on #5499
@div8cn I'll try and reproduced, but I discussed with @weizhouapache and his reproduction method seems solid. Can you share the code that does the API calls, to help us reproducing your issue?
cc @nvazquez

[2021-09-28 09:46] DaanHoogland commented on #5499
In addition @div8cn , can you share other env details, like hypervisors/network/storage, please?

[2021-09-28 10:33] rhtyd opened #5519 "Users can't archive or delete their events"
(Non-admin) Users can't group select their events, and not able to archive or delete the events pertaining to their accounts. This is possible from legacy UI.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

![Screenshot from 2021-09-28 16-04-36](https://user-images.githubusercontent.com/95203/135071456-8acff7f3-b5c8-4b64-86af-160bfbc42c10.png)

![S

[2021-09-28 12:15] nvazquez commented on #5433
Moved to the 4.17 milestone since we are close to the RC cut date and the PR still needs lot of effort on testing as the changes may introduce potential regressions if not tested properly

[2021-09-28 12:45] #5519 closed

[2021-09-28 12:59] div8cn commented on #5499
hypervisors: kvm (ubuntu 20.04 ,libvirt 6.0)
network:  L3 ShareNetwork
storage:   CEPH RBD

[2021-09-28 13:26] div8cn commented on #5499
Sorry, I may not be able to separate the API scheduling code and give it to you.

I used CMK to simulate this operation, and it reproduced;

Use SSH to connect to the cloudstack node
Use CMK in the node to add 3 networks to the VM;
These three tasks were completed almost simultaneously;

![1632835553](https://user-images.githubusercontent.com/35140268/135095758-4e50c2bd-70d8-46b2-b718-0db6f60b73b9

[2021-09-28 15:01] weizhouapache commented on #5518
there are 3 issues
(1) /etc/hosts in VR, only has data-server for the first guest IP range
(2) the name server is the guest IP in first range which might be unreachable for IPs in other IP ranges.
(3) `data-server.` might not be resolved in some OS. see https://github.com/canonical/cloud-init/pull/1004

[2021-09-28 15:04] div8cn opened #5523 "KVM host Available memory calculation is incorrect"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Defined in the current code
Available memory = free memory + cache memory (Is Buffers memory missing here)

https://github.com/apache/cloudstack/blob/main/plugins/hypervisors/kvm/src/main/java/org/apache/cloudstack/utils/linux/MemStat.java#L58

[2021-09-28 15:05] nvazquez commented on #5499
@div8cn can you test the latest main branch and see if the issue persists?

[2021-09-28 15:17] #5497 closed

[2021-09-28 15:24] DaanHoogland commented on #5499
I have tested this with a slightly different scenario then you and @weizhouapache , @div8cn , starting them in a loop in the background and also in my case the vm gets nic assigned for each network.
[code]
Maybe there is a network or storage issue adding to the cocktail?

[2021-09-28 15:26] div8cn commented on #5499
I added 3 shared networks to the VM at the same time

VM had a shared network before adding

[2021-09-28 15:29] DaanHoogland commented on #5499
so 4 in total? I also added three shared nets on creation which also went well.
I'll try with a fourth as well

[2021-09-28 15:37] DaanHoogland commented on #5499
you are right @div8cn with four (4) nets, I could reproduce the issue.
cc @nvazquez @weizhouapache

[2021-09-28 15:40] div8cn commented on #5499
Thanks for your verification

[2021-09-28 16:31] rhtyd opened #5524 "Narrow UI auto-generated forms on mobile"
The auto-generated form are too narrow, and some actions don't work. Restart VM button for a test VM that didnt work as normal user account.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

![Screenshot_20210928-202518](https://user-images.githubusercontent.com/95203/135128063-504323ab-3b72-4336-9d5e-e54f2d5f4c1d.jpg)

[2021-09-28 18:15] AlexanderKgr commented on #5466
installed and tried 28-9-21 version and everything works.
thanks for fixing
@rhtyd
@shwstppr

[2021-09-29 02:26] havengit opened #5527 "Anti affinity Groups not work sometimes , Start VM in batches"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CloudStack 4.15.0.0
host  OS version: Ubuntu 20.04

##### SUMMARY

Start virtual machines in batches, anti affinity Groups not work sometimes

##### STEPS TO REPRODUCE

It doesn't happen every time

1.Two host in one cluster
2.add three VM to a anti-affinity

[2021-09-29 04:35] rhtyd commented on #5527
cc @nvazquez

[2021-09-29 04:40] rhtyd commented on #5445
@SadiJr your other PR to improve veeam logs was merged, does that resolve this issue as well?

[2021-09-29 08:23] ravening commented on #4357
@rhtyd @hstan77 we can mark it as `Reserved` in the db.. we can do it either manually or just provide a new api to do it

[2021-09-29 08:43] hstan77 commented on #4357
Hi

Yes, can mark as reserve as status there .

Currently I doing for a work around of this is, create a Dummy VM , and
assign the IP that need reserve to the Dummy VM secondary IP .

On Wed, Sep 29, 2021 at 4:23 PM Rakesh ***@***.***> wrote:

--
Regards,
Hean Seng

[2021-09-29 08:49] DaanHoogland opened #5529 "IPv6 End IP field is double in shared network creation wizard"
![image](https://user-images.githubusercontent.com/2486961/135234979-c1167943-ce0d-4084-86bb-97caef5c2de9.png)

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-09-29 09:17] DaanHoogland commented on #5499
@div8cn @nvazquez @weizhouapache I reproduced this on latest main branch but with a nuance; the success result does not show a nic for the missing network, so the result does indicate that no network was added. It should have been an error result instead, of course. I will investigate more later.

[2021-09-29 09:48] DaanHoogland commented on #5499
note to self: just added 5 nics in parallel , only the fifth was added.

[2021-09-29 10:31] slavkap opened #5531 "Deployment of a VM with a DATADISK on Ceph sets QCOW2 format"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### OS / ENVIRONMENT

CentOS 7
KVM hypervisors

##### SUMMARY

After deploying a VM with a `DATADISK` (both volumes - ROOT/DATADISK  are on Ceph) the `DATADISK` gets `QCOW2` format

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-09-29 10:42] #5202 closed

[2021-09-29 10:45] #5508 closed

[2021-09-29 12:28] SadiJr commented on #5445
@rhtyd I tested it at a local lab, and it worked correctly. But I asked other people to test and, as soon as I get positive feedback, I will close this issue.

[2021-09-29 14:22] weizhouapache opened #5534 "Sensitive error message when list accounts"
When list accounts with id as a normal user, the error message shows

[code]

it is ok for root admins, but for normal users, it is very bad.
By this way, normal users are able to get (1) how many domains and accounts in the system; (2) the name of the accounts.

I believe same issue exists in some other APIs.

##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[2021-09-29 17:47] AlexanderKgr commented on #5466
tried to boot an old instance with uefi and still facing the same error.

![image](https://user-images.githubusercontent.com/25532758/135321626-d492aacf-373b-4952-9fc1-43cbe728cf86.png)

and from the logs of cs

![image](https://user-images.githubusercontent.com/25532758/135321731-8735f411-71fe-4454-93f7-40f6424e40c8.png)

@shwstppr what is wrong with my configuration?
 running on CloudStack 4.15.

[2021-09-29 21:58] AlexanderKgr opened #5535 "After installing 4.15.2.0 instances created from template with uefi cannot boot for second time (xcp-ng 8.2)"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Ubuntu server 18 with cloudstack 4.15.2.0
Hypervisor xcp-ng 8.2 with september security patch
Advanced networking

##### SUMMARY

Continuing from issues
https://github.com/apache/cloudstack/issues/5204
https://github.com/apache/cloudstack/issues/5466

Which are not fully fixed

Whe

[2021-09-29 23:59] Hudratronium opened #5536 "VPC redundant routers healthcheck giving errors for services which aren't part of VPC offering"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

- advanced networking
- custome VPC offering

##### OS / ENVIRONMENT

- Ubuntu Server 20.04. LTS for all servers

##### SUMMARY

I am setting up a redundant VPC from a customized service offering.
The following service provided by the VPC / the virtual routers:
- Portforwarding
- N

[2021-09-30 00:01] Hudratronium commented on #5536
@weizhouapache opend as promissed at the user-mailinglist

[2021-09-30 04:49] #5524 closed

[2021-09-30 04:49] #5529 closed

[2021-09-30 05:08] shwstppr commented on #5535
@AlexanderKgr can you please share following details:

- Output of `cloudstack-sccs` on the management server
- cmk `list virtualmachines id=YOUR_VM_UUID` output for the VM before starting the second time
- After adding `TRACE` log level for `com.cloud.vm` in the `/usr/share/cloudstack-management/conf/log4j.xml` and restarting management server, complete logs for the start VM action (there are som

[2021-09-30 05:58] AlexanderKgr commented on #5535
i will ask you some questions because it is the first time i am doing this.
in my /usr/share/cloudstack-management/conf/log4j.xml i dont have value with category name com.cloud.vm but
![image](https://user-images.githubusercontent.com/25532758/135395493-b13f6ad0-9c38-4186-9ced-2fb642ab9c9f.png)

i suppose it is the same or should i add a new category?

also... what is it cloudstack-sccs?
![image](

[2021-09-30 06:25] shwstppr commented on #5535
@AlexanderKgr
Yes, you can add a new rule for `com.cloud.vm` below the rule for `com.cloud`.
Basically, it will then show TRACE logs only for package com.cloud.vm while continue logging only DEBUG logs for remaining packages of com.cloud.

`cloudstack-sccs` on the management server gives the commit SHA of the cloudstack-management package. Just to be sure that the packages you have installed are t

[2021-09-30 07:00] AlexanderKgr commented on #5535
i have enabled cloudmonkey and i am ready to send you the logs but i cannot run cloudstack -sccs

![image](https://user-images.githubusercontent.com/25532758/135403184-f42bd657-8963-413d-9ce4-a264c3301859.png)

[2021-09-30 07:07] slavkap opened #5538 "UI - notification stacking on error messages"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### SUMMARY

If you have multiple errors messages there is a need to clean them all one by one, which is not user-friendly. Is there an option to move the error messages a little further down from the alert and profile menus and to group or collapse the notications like this?

##### EXPECTED RESULTS
Something like this
![ima

[2021-09-30 07:40] AlexanderKgr commented on #5535
info of the vm before starting
[beforesecondstart.txt](https://github.com/apache/cloudstack/files/7257569/beforesecondstart.txt)
logs
[logs.txt](https://github.com/apache/cloudstack/files/7257582/logs.txt)

and something strange in logs
2021-09-30 07:20:46,524 TRACE [c.c.v.UserVmManagerImpl] (API-Job-Executor-5:ctx-edd8cde9 job-230 ctx-86c1a3bc) (logid:881f1761) Adding boot options (UefiFlag, Boot

[2021-09-30 09:05] rhtyd commented on #5538
More than stacking, I'm wondering why we've repeated errors (same message). How do you reproduce/get this @slavkap ?

[2021-09-30 11:39] slavkap commented on #5538
@rhtyd, this was just an example while testing (I'm not sure I could reproduce the exact error). My point is if it's possible to collapse those notifications and to move them a bit below.
![image](https://user-images.githubusercontent.com/51903378/135448388-6ef7a31f-5e8a-497e-960c-d27e1b032566.png)

[2021-09-30 12:25] shwstppr commented on #5535
@AlexanderKgr nevermind `cloudstack-sccs`. Last highlighted logs indicate that you are having packages with the earlier fix. It should be present in `/usr/bin/cloudstack-sccs`. Not sure if on Ubuntu it is at some other place.

Can you please confirm the reproduction steps:

1. Deploy a VM using a template from UI and select boot options for UEFI there.
2. Stop the VM from stop VM action in UI or s

[2021-09-30 13:19] AlexanderKgr commented on #5535
cloudstack-sccs not available in ubuntu i suppose. Couldn't locate it

Reproduction Steps

1. Deploy a VM using a template from UI and select boot options for UEFI there.
2. Stop the VM from stop VM action in UI
3. Start VM again once stopped from UI action
4. VM fails to boot with this.

I suppose this is the StartCommand

2021-09-30 07:20:59,656 DEBUG [c.c.a.t.Request] (Work-Job-Executor-9:ctx-e

[2021-09-30 13:49] DaanHoogland commented on #5499
@div8cn do you see a chance to review/test #5541?

[2021-09-30 15:44] #5498 closed

[2021-10-01 06:44] shwstppr commented on #5535
@AlexanderKgr Thanks for the confirmation. Though I'm not being able to reproduce this. StartCommand logs that you have given somehow missing `bootType` and `bootMode` properties.
Anyway, I've created a draft PR to use the VM details directly similar to other hypervisor plugins which should address the issue in such cases.
cc @rhtyd

[2021-10-01 14:42] vladimirpetrov opened #5545 "Cannot save empty value in domain settings tab"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

There is no way to delete a domain setting once there is something set.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]
![image](https://user-images.githubusercontent.com/12384665/13563

[2021-10-01 14:53] DaanHoogland commented on #5545
@vladimirpetrov this wil be solved by the reset values #4230 !?

[2021-10-01 15:32] vladimirpetrov commented on #5545
Resetting to a default value is different than setting an empty string @DaanHoogland. Currently this empty string is converted to a null value which is rejected by the backend. But I agree, this PR could be a workaround for this particular case with the LDAP settings.

[2021-10-01 18:20] AlexanderKgr commented on #5535
Inform me when merged to test it

[2021-10-01 18:40] SadiJr commented on #5445
@rhtyd PR #5455 fixed this error, so I am closing this issue.

[2021-10-01 18:40] #5445 closed

[2021-10-02 09:47] rhtyd commented on #5538
cc @utchoang @nvazquez @sureshanaparti

[2021-10-03 09:17] #2885 closed

[2021-10-03 09:17] #2996 closed

[2021-10-03 09:34] rhtyd commented on #5535
@AlexanderKgr does it fix if you were to add the bootType and bootMode properties for your VM?

cc @nvazquez @sureshanaparti I've added this to 4.16.0.0 as @shwstppr has proposed a PR and this issue has been bugging since 4.15.1

[2021-10-03 09:41] AlexanderKgr commented on #5535
How i can add this?

[2021-10-03 09:56] rhtyd commented on #5535
Go to existing VM, and in stop stopped state you should be able to add/edit in the VM details or properties tab.

[2021-10-03 19:53] AlexanderKgr commented on #5535
added boottype and boot mode ad vm settings and the same happened

![image](https://user-images.githubusercontent.com/25532758/135769197-df91e200-37d3-4f4d-8e32-f1ab7aa9b026.png)

![image](https://user-images.githubusercontent.com/25532758/135769213-79ef0bf7-2a45-4f8c-b4a4-63d4e945bc89.png)

and the startcommand

2021-10-03 19:46:21,420 DEBUG [c.c.a.t.Request] (Work-Job-Executor-6:ctx-47ef3214 job

[2021-10-03 22:45] #4406 closed

[2021-10-04 01:51] utchoang commented on #5538
@slavkap cc @rhtyd @davidjumani Currently, ant design does not have a feature to support grouping notifications together. In my opinion, it would be more reasonable to have a button that allows users to clear all notifications. What do you think?

[2021-10-04 03:53] davidjumani commented on #5538
@slavkap The reason the failure notification persists is to get the user's attention. Success messages automatically disappear after 5 seconds. @utchoang where are you planning to add a clear all button ?

[2021-10-04 03:56] utchoang commented on #5538
@davidjumani I'm still figuring out where to put the clear button. I think it will be next to the transliteration tool. What do you think?
![image](https://user-images.githubusercontent.com/13766648/135790530-2b21d794-627b-41e8-b61b-53df0a549008.png)

[2021-10-04 05:26] slavkap commented on #5538
@utchoang, the clear all button sounds nice. Next to the translate button is OK, or you could put the button on top of the first error msg. @davidjumani, you are right. Probably it's only me who is distracted to clean such messages while manually testing because they're hiding the buttons.

[2021-10-04 06:09] div8cn commented on #5499
I merged Patch to 4.15.0.0, adding multiple NICs to VM (vm nic total >4) the problem still exists

[2021-10-04 08:16] weizhouapache commented on #5536
@Hudratronium thanks.

@nvazquez @sureshanaparti
could you please prioritize the issue ?

[2021-10-04 08:55] DaanHoogland commented on #5499
hm, too bad, I managed to reproduce and solve the issue. Can you provide more info, please @div8cn ?

[2021-10-04 09:40] #5518 closed

[2021-10-04 09:58] Hudratronium commented on #5536
Might be not related but i would like to give a short update:
I used the same offering as mentioned in the ticketdescribtion - this time a gave custome URL for the network domain.
With this deployment i am not getting notifications of unsuccessful healthchecks for the webserver.service. Also the apache2 errorlog doesn't mention something regarding ssl erros / missing certificates.

however dhcp_ch

[2021-10-04 10:26] Hudratronium commented on #4238
+1

I would really appreciate this, as the managementserver GUI will show this option even if no uefi-capable hosts for instance deployment are availeable.
So from a users point of view, uefi-boot is availeable all of the  time.
Another topic might be to dispaly some more informations in the advanced  - mode menue as, according to [https://cwiki.apache.org/confluence/display/CLOUDSTACK/Enable+UEFI

[2021-10-04 11:39] rhtyd commented on #5535
@AlexanderKgr does it work for newly deployed VMs with the fix, i.e. after you upgrade to the packages and deploy a VM, stop it, are able to start it second time?

[2021-10-04 12:06] AlexanderKgr commented on #5535
It is working with vms created only with iso. Vms created with iso can shutdown and boot without problems.
Vms created with templates created from previous CS versions, can boot only after creation. If i shutdown them and boot them there issue

[2021-10-04 12:11] rhtyd commented on #5535
Thanks @AlexanderKgr
@nvazquez @sureshanaparti @weizhouapache I think our test for the PR should involve creating an existing VM on XenServer/XCP-ng (say 4.15.0 or 4.15.1) and then upgrading to the PR's pkgs (from main/4.16). Abhishek has a prototype PR but I'm not sure if it should work, needs testing, thanks.

[2021-10-04 12:25] slavkap commented on #4238
@Hudratronium, I don't remember. I will test and let you know

[2021-10-04 13:51] nvazquez commented on #5535
Thanks @rhtyd

@borisstoyanov @vladimirpetrov please check Rohit's comment above - there is a PR which might solve this issue: https://github.com/apache/cloudstack/pull/5543

[2021-10-04 15:55] DaanHoogland commented on #5499
@div8cn , this ticket autoclosed as the PR was merged that claimed to solve this issue (and did so for me and Wei. Feel free to reopen or create a new one though, if this does not solve it for you?

[2021-10-04 19:16] kohrar opened #5548 "SAML2 authentication with MS Azure AD intermittently fails with error AADSTS7500529"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION
Enabled SAML plugin and configured it to authenticate against Azure AD.

##### STEPS TO REPRODUCE
SAML authentication fails intermittently depending on the SAML request ID that is generated. Depending on your luck, you might get a random request ID that begins with something between

[2021-10-04 23:58] Hudratronium commented on #4238
That would be really appreaciated.
Currently the docs as well as the wiki are quiet ... empty regarding this whole topic.

[2021-10-04 23:58] #5484 closed

[2021-10-05 07:48] rhtyd commented on #5545
Please triage @nvazquez - if this is a serious regression requiring fixing?

[2021-10-05 07:59] rhtyd commented on #5548
Thanks for reporting @kohrar - the current SAML auth plugin is only tested against Shibboleth and keycloak, I've heard MS AD as well. I quickly checked some forums and https://docs.microsoft.com/en-us/azure/active-directory/develop/single-sign-on-saml-protocol and it seems a limitation of Microsoft's SAML spec/implementation only (not a bug in CloudStack or opensaml library).

[2021-10-05 08:10] DaanHoogland opened #5550 "ctrl modifier in console proxy won't turn off"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

nested environment on vmware
MS: centos7
Hyp: vmware7.0

##### OS / ENVIRONMENT

##### SUMMARY

after starting a command that lasts (i.e. `ping google`), on sending `ctrl-c`, the keyboard is no longer accessible. turning of the ctrl modifier in the browser window does not seem to w

[2021-10-05 08:21] vladimirpetrov commented on #5545
Definitely a regression, we don't have it in 4.15.1 @rhtyd @nvazquez

[2021-10-05 08:54] sureshanaparti commented on #5545
@vladimirpetrov @nvazquez the 'value' column in the domain_details table is altered, and doesn't accept NULL. so, this needs fix.

[2021-10-05 09:27] rhtyd commented on #5545
Thanks for confirming @sureshanaparti you may want to look at all tables/columns which got altered and preemptively explore/fix potential issues like Vladi has discovered wrt 4.16.0.0.

[2021-10-05 09:35] sureshanaparti commented on #5545
Fixed @rhtyd, PR here: #5551

[2021-10-05 12:16] weizhouapache commented on #5536
@Hudratronium @nvazquez
I can reproduce the issue by following steps
(1) create vpc offering without dhcp/dns/userdata, create a vpc
(2) create vpc network offering without dhcp/dns/userdata, create a vpc tier. health check is ok.
(3) create a vm in the new vpc tier, health check failed
* dhcp_check.py failed
* dns_check.py failed
* webserver.service is ok. (apache2 is configured and running, whic

[2021-10-05 15:34] #5523 closed

[2021-10-05 16:42] kohrar commented on #5548
Yes, the limitation is on Microsoft's side where the SAML request ID cannot start with a digit. While this isn't strictly a bug in CloudStack, it also means that Azure AD isn't completely supported with the current implementation. The documentation does suggest prepending the request ID with a string such as 'id'.

Would an appropriate 'fix' be to add an optional prefix as a global setting to Coud

[2021-10-05 16:42] nvazquez commented on #5550
@DaanHoogland I could not reproduce the issue, tested on user VMs setting deploy-as-is on/off and succeded in all scenarios:

![image](https://user-images.githubusercontent.com/5295080/136066113-b614a1a0-4a90-4084-92a7-a13df251d6f2.png)

[2021-10-05 21:49] #5545 closed

[2021-10-05 21:54] KuasarCloud opened #5553 "Several public IP with load balancer rules overwrite each other"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME
VR: LOAD BALANCER RULE

##### CLOUDSTACK VERSION
4.15.1.0

##### CONFIGURATION

##### SUMMARY
When having at least 2 public IPs configured with load balancer rules, the configuration overwrite each other and
only one set of rules on 1 public IP are usable.

##### STEPS TO REPRODUCE
1. Assign 2 public IPs
2. Create 3 rules on IP one
3. Create 1

[2021-10-06 00:32] nvazquez commented on #5536
Thanks @weizhouapache

[2021-10-06 11:32] DaanHoogland commented on #5550
Ok, this is a latency issue in firefox on fedora in gnome on xorg. not a cloudstack issue as far as I can tell, replacing 4.16 milestone for 4.17 and will close if needed later

[2021-10-06 12:17] rhtyd commented on #5548
@kohrar was this done for testing/learning sake or are you trying to integrate CloudStack SAML based SSO with Azure AD? I suppose if this is a requirement, we can look into generating random string IDs that start with an alphabet (a-zA-Z).

[2021-10-06 13:11] weizhouapache commented on #5553
@KuasarCloud could you please give more details ? for example
* cloudstack version
* hypervisor
* vpc or network, and vpc/network offerings
* state of vm, network or vpc.

I cannot reproduce the issue in main. here is the haproxy.cfg

[code]

[2021-10-06 18:17] kohrar commented on #5548
I'm still testing out and assessing CloudStack but I'd like to use CloudStack in our University research environment to allow some of our researchers to spin up VMs as needed. As such, we'd like to leverage our existing SSO infrastructure which is currently hosted on Azure AD.

I've got a build environment set up and modified the code to prepend "id" to the random request ID. I can confirm that wo

[2021-10-07 06:47] slavkap commented on #4238
@Hudratronium, I just tested and live migration without migrating to the different storage pool.
zone-wide NFS storage the migrating is successful
zone-wide StorPool storage the migration is successful

But found that during migration with both cases - `migrateVirtualMachineWithVolume` and `migrateVirtualMachine` the `/var/lib/libvirt/qemu/nvram/[VM-UUID].fd` file is copied to the new host, but st

[2021-10-07 09:43] PaulAngus opened #5555 "Hide the 'Power State' column on host tables when Host HA is not enabled - UI"
##### ISSUE TYPE

 * Feature Idea

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Hide the 'Power State' column on host tables when Host HA is not enabled

The ever-present column of **'big red dot and Disabled'** is not relevant and distracting when Host HA hasn't been enabled.

##### STEPS TO REPRODUCE

[code]

[2021-10-07 10:07] Hudratronium commented on #4238
So then as an update:
migrating UEFI secureboot enabled instances on kvm works:
with NFS:
 -   in stopped state
 -   in running state
 --> Basically fully functional in regards of migration

with StorePool
 --> Basically fully functional in regards of migration

Sadly i am not as much of an developer if i would like, so i currently can't take deep look into the topic with the nvram file.
Maybe the

[2021-10-07 12:27] KuasarCloud commented on #5553
Hi @weizhouapache,

Thanks for your prompt reply, here are some details

* Hyp: KVM
* Cloudstack Version and VR: 4.15.0.1
* VPC: Redundant VPC offering
* Network: DefaultIsolatedNetworkOfferingForVpcNetworks
* state of vm, network or vpc: enabled

These is my current haproxy.conf with 1 IP and 3 listen options (rules)

listen 172_x_x_x-xxxx
        bind 172.x.x.x:xxx
        balance roundrobin

[2021-10-08 00:28] Hudratronium opened #5556 "Editing name / description / CIDR of network fails due to missing dns service in network offering (VPC)"
##### ISSUE TYPE

 * Bug Report
 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

advanced networking
custome vpc offering without dns / dhcp services provided
custome network offering without dns / dhcp services provided

##### OS / ENVIRONMENT

##### SUMMARY

Editing / updating the network name, description and CIDR fails due to missing service dns in

[2021-10-08 02:14] utchoang commented on #5555
@PaulAngus cc @shwstppr @rhtyd @davidjumani  I am wondering if Host Ha is the information of a resource in listHostMetrics? And will hide the Power State column based on this value?
![image](https://user-images.githubusercontent.com/13766648/136487469-123334ed-bf95-426f-ab99-742bc5131312.png)

[2021-10-08 03:33] rhtyd commented on #5555
Actually it should be disabled if oobm is not configured/enabled for any/all hosts, people can still use oobm feature without host HA. Alternatively, give option in config.json to override and say which columns you want to show or hide.