[2018-04-02 20:07] rhtyd opened #2521 "CloudStack should have Github issues: Hey we got Issues now!"
I guess the issue of not having "issues" is fixed now? Should we close it?

[2018-04-02 20:42] rafaelweingartner commented on #2521
please, do the honors..

[2018-04-02 21:59] DaanHoogland commented on #2521
wow, let's step up yet another little gear shift

[2018-04-02 22:28] #2521 closed

[2018-04-03 12:03] DagSonsteboSB opened #2523 "XCP-ng 7.4 support"
# Support for XCP-ng 7.4 in Apache CloudStack

The new community version of XenServer - XCP-ng 7.4 was released 31/March 2018:
https://xcp-ng.github.io/news/2018/03/31/first-xcp-ng-release.html

As this will become an important addition to the CloudStack hypervisor ecosystem support for this will be a great feature. Since this version should be close to feature compatible with XenServer 7.4 the ex

[2018-04-03 14:39] DagSonsteboSB commented on #2523
Assuming the CloudStack via the host.get_all_records method retrieves data from the xapi DB, the host list on the xcp host returns as follows:

[root@ref-trl-420-x-cs411-dsonstebo-xs1 ~]# xe host-list params=API-version-major,API-version-minor,API-version-vendor,edition,software-version,capabilities,allowed-operations hostname=ref-trl-420-x-cs411-dsonstebo-xs1
allowed-operations (SRO)    : VM.migr

[2018-04-03 21:52] resmo opened #2525 "details not in listVirtualMachines response"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

listVirtualMachines does not return `details` as doc says.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

the resource details as below should be included in listVirtualMachines response, as the documentation of the API says o

[2018-04-03 22:19] resmo opened #2527 "listResourceDetails: ID is not UUID, but DB ID"
##### ISSUE TYPE

* Enhancement
* Bug

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The respone of `listResourceDetails` includes an ID of the primary field not the UUID

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2018-04-03 22:26] resmo opened #2528 "listVirtualMachines response ostypeid is foreign DB ID, not UUID"
##### ISSUE TYPE

 * Bug Report
 * Enhancement

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The response of `listVirtualMachines` contains the ostypeid returned as foreignkey ID of the DB, instead of UUID

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2018-04-04 07:29] resmo opened #2529 "listOsTypes respond returns isuserdefined as string"
##### ISSUE TYPE

 * Bug Report
 * Enhancement

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

listOsTypes returns `isuserdefined` as json string, instead of json bool

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2018-04-04 08:34] PaulAngus opened #2530 "KVM hosts fail to connect if there is more than one IP address on the host"
The secure hosts feature appears to detect the IP address that it uses to identify itself.  if there is more than one IP address associated with the host, then it often returns the incorrect IP.

The mgmt log would show:

10.0.0.19 is a unrelated monitoring interface

_I believe_ that the client should identify itself using the IP or hostname which was passed when adding the KVM host to CloudStack

[2018-04-04 08:35] PaulAngus commented on #2530
cc @rhtyd

[2018-04-04 10:15] LYXmoonstars opened #2531 "registered windows10 ISO"
I registered windows10 ISO
, creating an instance, unable to create, indicating that Windows system error has been restarted and unable to enter the system. I think it is not compatible with windows10.
![qq 20180404121647](https://user-images.githubusercontent.com/20179689/38302102-1aeffda6-3834-11e8-8039-1b724d6cbdb5.png)

[2018-04-04 10:23] LYXmoonstars opened #2532 "The system version supported by the instance"
I want to create examples of various systems, but I don't know that cloudstack specifically supports those systems and the version number of the system.

[2018-04-04 10:25] rafaelweingartner commented on #2532
I will close this issue. The issues tab here is not intended to look for answers for doubts. You can try using IRC, Slack, or our mailing lists. Please visit [1].

[1] https://cloudstack.apache.org/mailing-lists.html

[2018-04-04 10:25] #2532 closed

[2018-04-04 10:44] DaanHoogland commented on #2532
@rafaelweingartner , If @LYXmoonstars want to create a list of versions supported, that would be a feature of the eco system wouldn't it? Maybe not for the system itself but for the tests or documentation. If you only want an answer to a question, @LYXmoonstars , this is indeed not the place.

[2018-04-04 10:48] rafaelweingartner commented on #2532
Well, I closed because it felt like a question, and not a report of an issue to improve our documentation.
It was not clear if he was talking about operating system for VMs, or hypervisors' operating systems that are supported by ACS.

There is another issue that @LYXmoonstars just opened, and it was a question. That is why I assumed this one was the same type. The other one I did not close yet, l

[2018-04-04 11:32] resmo commented on #2531
Also important is to select the right disk driver and it only works since > 4.6 AFAIR. Please head to mailing list.

Closing this issue due to more like a question how to run windows VMs in cloudstack/hypervisor.

[2018-04-04 11:32] #2531 closed

[2018-04-04 16:02] mdesaive opened #2533 "Web-UI creates all isolated Nets with IP range 10.1.1.0/24"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

After upgrading to 4.11 we have the issue, that isolated nets created with the web-UI are always created for the IP range 10.1.1.0/24 - no matter what values are filled in the fields "Guest Gateway" and "Guest Netmask".

Creating an isolated n

[2018-04-05 08:37] DaanHoogland commented on #2533
@sgoeminn I fixed the c&p error but @PaulAngus still has a point about documentation. see #2534

[2018-04-05 15:00] ernjvr opened #2537 "Fix Jetty configuration file bugs during Upgrade from 4.x to 4.11"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The `packaging/centos7/cloud.spec` file line 400 moves the `%{_sysconfdir}/sysconfig/%{name}-management` file to `%{_sysconfdir}/default/%{name}-management`.
This is unnecessary because  the file contains the deprecated tomcat config

[2018-04-06 08:52] mdesaive opened #2539 "Admin Dashboard System Capacity broken with German Locale"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

With german locale settings, the graphics in the section "System Capacity" in the Dashboard are displayed incorrectly.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2018-04-06 09:03] mdesaive opened #2540 "problem adding new shared network NIC to VM "A NIC with this MAC address exits for network:""
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

We're unable to create more than one NIC on a shared network through the Web-UI.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2018-04-06 09:05] mdesaive commented on #2540
Stephan investigated the issue and found a temporary patch, which works for us. He gave this information:

After digging into the code, I think I've found the problem, but am too bad in java to provide a sustainable fix.
I've attached a patch which obviously (with own manual tests) fixes that issue by simply commenting out the respective codeblock.
As far as I dug into the code, the third paramete

[2018-04-06 09:08] mdesaive commented on #2540
Duplicates: https://issues.apache.org/jira/browse/CLOUDSTACK-10350

[2018-04-06 09:16] DaanHoogland commented on #2539
@mdesaive I am assuming that the line
echo "LANG="de_DE.UTF-8" > /etc/default/locale to
should read
echo LANG="de_DE.UTF-8" > /etc/default/locale

Did you test any other locales?
thanks

[2018-04-06 09:30] mdesaive opened #2541 "Add "Lets Encrypt CA" Certpath to SSVM Keystore (for cdimage.debian.org)"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The Download of ISO Images from https://cdimage.debian.org/debian-cd/current/amd64/iso-cd/debian-9.4.0-amd64-netinst.iso fails.

    sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.

[2018-04-06 09:30] mdesaive commented on #2541
Duplicates:
https://issues.apache.org/jira/browse/CLOUDSTACK-10351

[2018-04-06 09:41] mdesaive opened #2542 "CloudStack-Usage Broken after Upgrade from 4.9 to 4.11"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Management Server Ubuntu 14.04 with repo:
deb http://packages.shapeblue.com/cloudstack/upstream/debian/4.11 /

##### SUMMARY

After upgrading from CloudStack 4.9 to 4.11 as described in
http://docs.cloudstack.apache.org/projects/cloudstack-release-notes/en/4

[2018-04-06 09:41] mdesaive commented on #2542
Stephan found out, that the update didn't clean old libs from /usr/share/cloudstack-usage/libs. For us cleanup and reinstall fixed that.

[2018-04-06 09:46] s-seitz commented on #2542
Attached is a diff from a working and a non-working (updated) setup. It shows in the non-working setup a lot of jar's from the pre-update are getting loaded.

root@acs-management-1:~# diff -u cloudstack-usage-process-libs-not-working cloudstack-usage-process-libs-working
--- cloudstack-usage-process-libs-not-working	2018-04-04 09:54:15.901380256 +0200
+++ cloudstack-usage-process-libs-working	2018

[2018-04-06 11:04] mdesaive opened #2543 "Textbox "Account and projectId can't be specified together""
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When I view the "Networks" view after selecting a project in the web-UI a textbox with the message "Account and projectId can't be specified together" has to be confirmed.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

####

[2018-04-06 11:07] mdesaive commented on #2543
A screenshot of the textbox:
![textbox-web-ui](https://user-images.githubusercontent.com/17803067/38418136-720ac64e-399b-11e8-9ab8-71a28e40d420.png)

[2018-04-06 11:28] s-seitz commented on #2523
+1 :) We'ld also vote for support for XCP-ng

[2018-04-06 11:30] mdesaive commented on #2523
+1 ;)

[2018-04-06 12:01] s-seitz opened #2544 "Password Reset does not work with Isolated Networks with redundant routers"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced Network, Isolated Network with Redundant Router and DNS, DHCP, Passwort, etc. Feateres all on

##### OS / ENVIRONMENT

##### SUMMARY

When using the cloudstack-set-guest-password skript, the query is done against http://IP-OF-THE-DHCP-SERVER-THAT-SERVED-THE-LEASE:8080

A q

[2018-04-06 12:22] se-bre opened #2545 "dedicatePublicIpRange to domain doesn't work"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION
advanced networking

##### OS / ENVIRONMENT
Ubuntu 16.04 (Management/Hypervisor)
KVM

##### SUMMARY
dedicate a public IP range to a domain doesn't work

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2018-04-06 18:31] falcon78921 opened #2546 "Libvirt-bin has trouble starting if -d is stated in /etc/default/libvirt-bin (libvirtd_opts)"
##### ISSUE TYPE

 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]
I thought I would report this, just in case anyone running Ubuntu 16.04 with ACS 4.9.3 has the same problem.

[2018-04-06 18:50] rafaelweingartner commented on #2539
Tested with en_AU, pt_BR, and de_DE (all UTF-8). for pt_BR and de_DE I got the same results (the issue reported here). For en_AU, everything worked just fine.

[2018-04-06 19:50] eligorio opened #2548 "Upgrade to 4.11 and pre-existent saml2 authentication settings"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Cloudstack 4.5.2 with SAML2 authentication working well on national federation.

##### OS / ENVIRONMENT

Clean install of Cloudstack 4.11 on Ubuntu 16.04.4 LTS pointing to a copy of 4.5.2 cloudstack production database.

##### SUMMARY

After upgrade from 4.5.2 to 4.11 ([parallel bu

[2018-04-07 04:50] mdesaive commented on #2539
Yes. I reported correctly. The bug reproduces like described with the default installation.

My colleague patched the init script to set LANG/LC_ALL=C. ;)

Thanks for your effort!

[2018-04-07 14:27] rhtyd commented on #2546
Thanks @falcon78921 I've found and fixed this in one of the PRs. The issue is caused because daemon-management is done by systemd, and running libvirtd with -d -l causes two copies of libvirtd process to run.

[2018-04-07 14:32] rhtyd commented on #2537
@ernjvr please use something like 'This fixes \#id' to link an issue with a PR. Also, if you already have a fix, you don't need to create an issue for that. Simply open a PR with details like you've posted here. And while opening either a PR or an issue, please fill in the milestone and label details.

[2018-04-07 14:35] rhtyd commented on #2530
I'll have a look at it in few days @PaulAngus. Was the IP of the KVM host used, a management/control IP (i.e. IP belonged to the mgmt/control network cidr)? I've some fixes to the certificate generation in #2505, I'll explore if there is a way to capture multiple/all of the hosts IPs during certificate setup (i.e. the CSR generation).

[2018-04-07 14:36] rhtyd commented on #2523
Thanks for testing and reporting @DagSonsteboSB, I think the fix is to simply add the product string as a support hypervisor version somewhere in CitrixResourceBase or similar class. I can discuss that next week with you/engg.

[2018-04-07 14:41] rhtyd commented on #2548
Hi @eligorio, I've received a similar email privately. The upgrade steps can be amended to not run cloudstack-setup-databases. Instead, shutdown old mgmt server(s), take db backup for cloud, cloud_usage tables, run cloudstack-setup-databases without --deploy-as (i.e. to add a new management server, without deploying a new database), and start new mgmt server. See if can still reproduce the issue.

[2018-04-07 14:51] rhtyd commented on #2541
This is more of a debian issue than CloudStack issue, example:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=809259

We'll refresh a new systemvmtemplate as part of 4.11.1.0 release (that will be compatible with 4.11.0.0 as well) to include update ca-certificates packages. In addition, what we can do is to manually install/setup letsencrypt ca certs in the systemvmtemplate from https://letsenc

[2018-04-07 15:00] rafaelweingartner commented on #2541
@rhtyd do you change the default cacerts in the system VMs template? I faced this problem sometime ago; it was due to the java keystore (cacerts) that did not contain the latest Let's encrypts CA certificates.

[2018-04-07 15:29] rhtyd commented on #2541
@rafaelweingartner another way exists which is to update the keystore file in systemvm.iso.

@mdesaive can you try this on your ssvm and confirm:
[code]

[2018-04-07 15:42] rhtyd commented on #2542
@s-seitz I'm not sure why upgrade did not remove old files, I'll send a fix that removes old jars as part of the upgrade. On CentOS, old jars are erased before new files are installed.

[2018-04-07 15:48] DagSonsteboSB commented on #2523
I would hope so @rhtyd - happy to discuss and further test, lab is still online for this.

[2018-04-08 04:25] mdesaive commented on #2541
@rhtyd Thanks for the commands to update the Java keystore. Worked perfectly! And also big "thank you" for the commit!

Absolutely great, how fast you are reacting to the issues we posted! Great project! Great team!

[2018-04-09 11:51] rhtyd commented on #2542
Fixed in https://github.com/apache/cloudstack/pull/2552

[2018-04-09 11:51] #2542 closed

[2018-04-09 12:17] s-seitz commented on #2541
@rhtyd Thank's for your response on how to hot fix this. But I'ld like to start a discussion if the SSVM wouldn't be better instanciated with recent (or updated) root CA's trusted by the project and/or the respective admins.
Maybe that wget could do an initial first-boot job pointing to a configured or hardwired path on the storage?

[2018-04-09 15:24] rhtyd commented on #2541
@s-seitz We cannot assume that systemvms may have access to public network when they start, so the best solution is to fix this during systemvmtemplate generation and ensure that the agent/java process uses the system keystore file instead of the custom/old one. This creates an issue to regression test custom ssl certificate(s) upload feature in CloudStack on both ssvm and cpvm. I'm busy this week

[2018-04-09 19:02] #2537 closed

[2018-04-09 22:00] eligorio commented on #2548
We reproduced the issue using the recipe of your last comment.

[2018-04-10 09:08] s-seitz commented on #2541
@rhtyd  Great and thank's in advance if you'ld find time before 4.11.1.0. I was not thinking about downloading a truststore from public ressources instead of having it somewhere at a fixed location at the storage the SSVM is connected to.

[2018-04-10 09:10] mdesaive commented on #2533
@DaanHoogland I have another issue for isolated networks created through the web-UI. Can you decide if that is a new ticket, of if it is fixed with this issue?

It is not possible to add a NIC on an isolated network created through the web-UI I. I receive an exception:

com.cloud.utils.exception.CloudRuntimeException: Insufficient capacity when adding NIC to VM[User|i-157-2357-VM]: com.cloud.excep

[2018-04-10 10:06] s-seitz opened #2558 "API uploadSslCert does not work"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced Networking, Cloudstack 4.11.0.0 on Ubuntu 14.04 LTS, MySQL 5.5.59-0ubuntu0.14.04.1

##### OS / ENVIRONMENT

Ubuntu 14.04.5 LTS
##### SUMMARY

Uploading sslcertificates ( https://cloudstack.apache.org/api/apidocs-4.11/apis/uploadSslCert.html ) fails for two reasons.
a) Incl

[2018-04-10 12:07] DaanHoogland commented on #2533
@mdesaive I am not sure if I fully understand this second issue. It seems you are only adding a NIC in the UI and then comparing it with adding a network with cloudmonkey. It may well be related but I can't tell from your description.
My guess is that it is a consequential error, due to the limited address space given to a network created through the UI, especially if a previous network had the sa

[2018-04-11 01:34] falcon78921 commented on #2546
Thanks @rhtyd I'm happy to help! :)

[2018-04-11 11:29] MartinEmrich opened #2561 "cloud-early-config detects unknown hypervisor type "xen-domU""
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
systemVM image 4.11 for XenServer
[code]

##### CLOUDSTACK VERSION
4.11.0 as well as 4.11.1 git from today.
SystemVM: 4.11.0 Sun Jan 14 15:37:28 UTC 2018
[code]

##### CONFIGURATION
XenServer 6.5 SP1

##### OS / ENVIRONMENT
Management Server on CentOS 7.
SystemVMs running as "Debian 9.3" in HVM mode.

##### SUMMARY
Newly created system VMs are n

[2018-04-11 11:55] rhtyd commented on #2561
@MartinEmrich the 4.11.0.0 systemvmtemplate cannot be used with 4.11.1.0-SNAPSHOT. There was a commit from @khos2ow that changed the xenserver pv vs hvm detection, this happens in cloud-early-config script that cannot be simply patched. I'll update 4.11.1.0 systemvmtemplate in next few weeks.

[2018-04-11 12:40] MartinEmrich commented on #2561
@rhtyd Thanks for the hint, a new systemvm image is building, too, right now (No KVM in VirtualBox, so I removed "accelerator":"kvm" from the packer config and it will probably take ages...

[2018-04-11 15:21] MartinEmrich commented on #2561
I built the new systemvm, but I have issues installing it:
During a previous update from 4.9.2.0 to 4.11.0, I installed the new systemvm via UI as "systemvm-xenserver-4.11". This maps to /secondary/templates/tmpl/2/204.
Using `cloud-install-sys-tmplt` installs it into /secondary/templates/1/204.
Newly created system vms use "systemvm-xenserver-4.11" (still the old one), which cannot be deleted. Wh

[2018-04-11 16:25] rhtyd commented on #2561
@MartinEmrich You register a template like you normally do, give it a name and change bunch of global settings, such as `router.template.xenserver` to the new template's name, in the db in the vm_template details set type=SYSTEM. Btw I've the new 4.11 templates here: https://lab.yadav.cloud/systemvmtemplates/4.11/

[2018-04-11 16:28] rafaelweingartner commented on #2561
@rhtyd does it work for SSVM and console proxy?  I was under the impression that this would only change the template for routers.

There is this PR to enable customizing system VMs template here: https://github.com/apache/cloudstack/pull/2275

[2018-04-11 16:30] khos2ow commented on #2561
@rhtyd this specific change doesn't require a new systemvm template and will be deployed on systemvms using `systemvm.iso`.

@MartinEmrich the file `/opt/cloud/bin/setup/cloud-early-config` is the source file and you need to check if it's actually correctly updated in `/etc/init.d/cloud-early-config`.

I'll have to look to see what's going on with `/usr/bin` and `/usr/sbin`.

[2018-04-11 16:34] khos2ow commented on #2561
@MartinEmrich afaik you should never use `cloud-install-sys-tmplt` after the first installation was done, it will mess up ssh key inside systemvm template and result management server cannot _talk_ to system vms.

@rafaelweingartner yes it does, SSVM, CPVM work as is (with the process @rhtyd  mentioned above) and VR gets to use the same new template through `router.template.xenserver` setting.

[2018-04-11 16:36] rafaelweingartner commented on #2561
I am pretty sure it does not.... they get the systemvm.iso injected (if this is the only thing that matter to you), but I think the execution flow is different when it comes on selecting the hypervisor.

[2018-04-11 17:28] rafaelweingartner commented on #2561
@khos2ow ah... that might work because you change the type to system in the database. However, that might not be a sure thing. If you take a look into `com.cloud.consoleproxy.ConsoleProxyManagerImpl.startNew(long)`  and `org.apache.cloudstack.secondarystorage.SecondaryStorageManagerImpl.startNew(long, Role)`. You will see that it does not look into that router parameter.

Those methods simply use

[2018-04-11 17:34] rhtyd commented on #2561
@rafaelweingartner yes, as others has pointed out we use the `router.xxx` to specify the systemvmtemplate name which gets used for all the systemvms (cpvm, ssvm, routers etc)

[2018-04-11 18:48] khos2ow commented on #2561
I've found a rather interesting, potential problem, on this. Hypervisor detection has been changed in bb96564, `virt-what` executed prior to check from `/proc/xen` or in my change at 535e615 to read from `dmesg`.

I just tested executing virt-what on both PV and HVM vms on my environment (Xen 7.1.1 and 7.1.0) and I'm getting conflicting results from `virt-what` (needs more investigation) but I bel

[2018-04-11 21:27] rhtyd commented on #2546
Fixed in #2550

[2018-04-11 21:27] #2546 closed

[2018-04-12 09:07] MartinEmrich commented on #2561
@rhtyd Thanks for the updated systemvm templates, I'd like to try them out.

But @khos2ow pointed out that cloud-install-sys-tmplt is not a good idea. But I cannot download it via UI either, as there's no working SSVM now.
So there's a chicken-and-egg problem...

I did the ugly thing, as this is just a test system: disabled all hosts and the zone, deleted all system VMs, removed all references fro

[2018-04-12 09:44] jorgesumle opened #2565 "Web UI is not responsive"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Web browser

##### SUMMARY

The web UI is not responsive.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2018-04-13 07:26] jorgesumle opened #2569 "Errors in Spanish translation"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

There are some errors in the Spanish translation: "esta" when used as a verb should be written "está", text have two spaces between words, "mio" is incorrect (it should be "mío").

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2018-04-13 08:28] DagSonsteboSB commented on #2569
Jorge - this is an open source project and we rely on native speakers in the CloudStack community to update and correct translations.

If there are errors can you fix them and raise a pull request so this can be improved going forward. The Spanish translation file can be found in:

https://github.com/apache/cloudstack/blob/master/ui/l10n/es.js

[2018-04-16 13:45] jorgesumle opened #2575 "HTML shown to end-user in UI"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Any OS

##### SUMMARY

HTML code (`<br/><br/>`) in the UI

![captura](https://user-images.githubusercontent.com/14212780/38812472-a0f266ee-418c-11e8-8c5d-d7c1541b2dfa.png)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL R

[2018-04-16 16:14] MartinEmrich commented on #2561
I wiped everything and started over: Install 4.9.2.0 with some test VMs, Upgrade to 4.11.0-SNAPSHOT with the systemvm template from @rhtyd. I registered the System VM template as Debian 7, with no checkboxes except "HVM" (the default selection).

After clicking "Update", the new systemVMs this time come up as paravirtualized, but the UI still shows them as 4.6.0 in state "Starting"....

[2018-04-19 08:00] Overv opened #2581 "Latest Docker container is broken"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

No configuration at all, just ran the docker container with the command specified on:

https://hub.docker.com/r/cloudstack/simulator/

##### OS / ENVIRONMENT

Docker 17.12.0-ce running on Ubuntu 16.04.3 LTS

##### SUMMARY

The container stops doing anything after setting up mysqld (

[2018-04-19 12:17] DagSonsteboSB opened #2583 "CPU cores per socket setting not functional"
##### ISSUE TYPE
 * Bug Report
 * Enhancement Request

##### COMPONENT NAME
* Cores per socket setting in user_vm_details / vm_template_details table when using XenServer hypervisor

##### CLOUDSTACK VERSION
* CloudStack version 4.9.2
* Not attempted reproduced in other versions but assumption is issue is still present in 4.11.x

##### CONFIGURATION,  OS / ENVIRONMENT
* CloudStack 4.9.2
* XenServe

[2018-04-20 13:15] borisstoyanov commented on #2561
@MartinEmrich @rhtyd should this be marked for 4.11.1 milestone? You're referring a PR marked for 4.12 a couple of times.

[2018-04-20 13:16] rhtyd commented on #2561
this will be blocker if systemvms don't start/run properly on xenserver, therefore let's aim to fix this in 4.11.1.0

[2018-04-20 13:24] rhtyd commented on #2548
Looks like this is a regression, I'll handle it after next week. I think I know the cause @borisstoyanov. As you can see I've already assigned the issue to myself.

[2018-04-20 16:28] MartinEmrich commented on #2561
@borisstoyanov  that would be awesome, as we're stuck on 4.9 with XenServer <= 6.5 now.

Just trigger me when there's something new to test, maybe I can squeeze in an hour or two to try out new versions...

[2018-04-22 11:36] mdesaive opened #2592 "Unable to add NIC to VM - Insufficient capacity when adding NIC to VM"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Advanced Networking, Cloudstack 4.11.0.0 on Ubuntu 14.04 LTS,
MySQL 5.5.59-0ubuntu0.14.04.1

##### SUMMARY

On one of our two CloudStack instances we have an issue adding NICs to
VMs through the Web-UI after upgrading to 4.11.0.0. On another instance the pro

[2018-04-23 07:44] resmo commented on #2575
enviroment? os?

what OS is this, what browser in which version.

[2018-04-23 15:50] PaulAngus commented on #2592
Hi @mdesaive which version of CloudStack were you upgrading from?

[2018-04-24 13:10] rhtyd commented on #2543
FYI - we had a similar fix for projects view - https://github.com/apache/cloudstack/pull/2464 /cc @DaanHoogland @PaulAngus

[2018-04-24 14:53] AlexanderStock opened #2604 "No volume name and virtualmachine ID in volume usagerecord"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY
If the usagerecords of a volume are queried, the result does not contain the name of the volume or the virtualmachineid of the VM the volume is attached to.
It just contains a description with the internal volumeid.

For

[2018-04-25 12:06] rhtyd commented on #2543
Checked, fixed in https://github.com/apache/cloudstack/pull/2464 @mdesaive you may test the fix using diff from the PR (https://github.com/apache/cloudstack/pull/2464/files)

[2018-04-25 12:06] #2543 closed

[2018-04-25 12:08] rhtyd commented on #2523
PR - https://github.com/apache/cloudstack/issues/2523

[2018-04-27 10:58] #2533 closed

[2018-04-27 13:14] marcaurele opened #2609 "Using the simulator to run tests"
##### ISSUE TYPE
 * Bug Report
 * Documentation Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Trying to run the simulator and to perform the integration tests, the maven command to call Marvin to deploy the DC and run the test is failing: http://docs.cloudstack.apache.org/en/latest/developer_guide.html#using-the-s

[2018-04-27 13:23] dhlaluku opened #2610 "Autogenerate marvin wrapper files for external plugins"
##### ISSUE TYPE

 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The Marvin wrapper files are currently only generated for APIs and internal plugins within CloudStack. We wish to have an automated generic way of generating this wrapper files for external plugins that are not part of CloudStack code

[2018-04-27 15:54] giorgiomassar8 opened #2611 "Ceph RBD primary storage fails connection and renders node unusable"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
Cloudstack agent

##### CLOUDSTACK VERSION
4.11

##### CONFIGURATION
KVM cluster with CEPH backed RDB primary storage

##### OS / ENVIRONMENT
Ubuntu 16.04 / 14.04

##### SUMMARY
On a perfectly working 4.10 node with KVM hypervisor and Ceph RBD primary storage, after upgrading to 4.11, cloudstack agent is unable to connect the BRD pool in libvirt

[2018-04-30 06:47] rhtyd commented on #2609
@marcaurele see Travis related scripts, Travis uses simulator to run test (the wiki/docs may be old and needs to be updated):
https://github.com/apache/cloudstack/tree/master/tools/travis
You can also use a KVM based box (on Linux) to run a local env, run tests etc: https://github.com/rhtyd/monkeybox

[2018-04-30 06:50] rhtyd commented on #2565
The UI assumes 1920x1080 (modern screens). The entire UI include CSS and widgets would need to be re-written in order to support responsiveness, which we'll ensure for the next-gen UI.

[2018-04-30 06:50] #2565 closed

[2018-04-30 06:52] rhtyd commented on #2525
@resmo did you try that as a normal user or root/domain admin?

[2018-04-30 06:53] rhtyd commented on #2575
@jorgesumle Supported browsers for current UI are Chrome/Chromium and Firefox. We usually don't test against other browsers. However, I was able to see this in Chrome.

[2018-04-30 06:58] rhtyd commented on #2581
@pdion891 @swill any ideas who maintains the docker image? Can you help?

[2018-04-30 07:10] marcaurele commented on #2609
Thanks @rhtyd , I'll update the documentation/pom with the correct command too

[2018-04-30 12:15] rhtyd commented on #2530
I've implemented and tested a fix by which during CSR generation, we consider all the IPs available on the host. The alternative subject names are then incorporated in the issued certificate.
@PaulAngus can you test this PR - https://github.com/apache/cloudstack/pull/2616/files

[2018-04-30 16:38] resmo commented on #2525
I used root

[2018-05-01 09:33] rhtyd commented on #2541
Better fix implemented here: https://github.com/apache/cloudstack/pull/2616
The idea is we include Letsencypt cacerts during systemvmtemplate build, and during ssvm/cpvm patching the local keystore imports the global keystore.

[2018-05-01 10:19] rhtyd opened #2617 "Templates from XenServer snapshots fail to deploy VM"
##### SUMMARY

Template created from XenServer snapshots fail to deploy VM. A workaround exists to set `snapshot.delta.max = 0`.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2018-05-01 11:08] rhtyd commented on #2617
Works in 4.11, closing.

[2018-05-01 11:08] #2617 closed

[2018-05-01 14:43] rhtyd commented on #2611
I've marked this as blocker applicable for Ceph users, we'll try to get this fixed. @giorgiomassar8 can you advise any documentation on how to setup a small ceph storagepool to test this against KVM?

[2018-05-01 14:43] rhtyd commented on #2604
@AlexanderStock can you advise if this used to work in previous versions? It is possible that granular usage data may not be available for a resource within an account.

[2018-05-01 14:45] rhtyd commented on #2583
Tentatively marked for 4.11.1.0 milestone, for testing this we'll require a pro version of XenServer. @DagSonsteboSB @PaulAngus do we have a test env to test a fix against?

[2018-05-02 10:15] wido commented on #2611
Can you increase the logging to DEBUG on the Agent and show the XML which the Agent generates to define the storage pool?

The error you are seeing comes from libvirt+librados underneath so I'd need to see the XML it generates.

[2018-05-02 10:31] rhtyd commented on #2530
Marking this closed as addressed in PR.

[2018-05-02 10:31] #2530 closed

[2018-05-02 10:46] rhtyd commented on #2561
I've found the issue and testing the fix as part of https://github.com/apache/cloudstack/pull/2616 /cc @MartinEmrich @khos2ow

[2018-05-02 10:57] rhtyd commented on #2561
Tested and validated the fix. @MartinEmrich you may help with testing the issue using #2616, I'll publish newer 4.11.1 systemvmtemplate later this week. /cc @khos2ow
I'll mark this issue as closed.

[2018-05-02 10:57] #2561 closed

[2018-05-02 11:03] borisstoyanov opened #2618 "Infra->Pods does not show which pod from which zone is, admin needs to name them with the zone name to have this info"
##### ISSUE TYPE

 * Improvement Request
 * Enhancement Request
 * Feature Idea

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Have more than one zone with multiple pods

##### OS / ENVIRONMENT

NA

##### SUMMARY

When opening the Pods in the UI, Cloudstack admin is not able to see which zone a pod is part of, if it's using same naming it could be confusing.

[2018-05-02 11:04] rhtyd commented on #2541
Closing this as this is addressed in new 4.11.1 systemvmtemple from this pr https://github.com/apache/cloudstack/pull/2616

[2018-05-02 11:04] #2541 closed

[2018-05-02 11:48] giorgiomassar8 commented on #2611
I have set debugging on one of the agents and this is what I get:

[code]
In the generated XML there isn't the secret part, perhaps the agent is trying to use another authentication mechanism which this version of libvirt does not support?

This is what I have been using as a workaround, and it works:

[code]

[2018-05-02 11:54] wido commented on #2611
Ok, I see. The operation not supported is odd, but it seems to be missing the cephx part indeed.

At the moment I do not have a 4.11 environment to test this with, but I'll look at the code later.

[2018-05-02 12:57] rhtyd commented on #2548
@eligorio I could reproduce and I've fixed the issue. You may test upgrade+saml2 login using this PR: https://github.com/apache/cloudstack/pull/2616
If you're looking for a rpm repo to test against, I'll share that next week on dev ML. I'll close the PR, thanks.

[2018-05-02 12:57] #2548 closed

[2018-05-02 19:36] khos2ow commented on #2581
I'll take a look.

[2018-05-02 21:10] khos2ow opened #2620 "Why do we package final artifacts with developer profile?"
This technically is not an issue, but I was just got curios why we package our final artifacts (both rpm and deb) with `developer` maven profile. in:

- `debian/rules#L16`
- `packaging/centos63/cloud.spec#L209-223`
- `packaging/centos7/cloud.spec#L192`

It doesn't make sense since these are going to be installed in `prod` or alike, and most probably won't be any `deploydb` and `db.properties.overr

[2018-05-03 11:00] #2528 closed

[2018-05-03 22:59] nathanejohnson commented on #2611
@wido  The issue seems to be that for any KVM host, the disk format is always hard coded to QCOW2 here:

https://github.com/apache/cloudstack/blob/master/engine/orchestration/src/main/java/org/apache/cloudstack/engine/orchestration/VolumeOrchestrator.java#L768

This gets sent along to the agent.  I guess this is a reasonable default for KVM, but obviously for RBD it needs to be RAW, and it won't k

[2018-05-04 07:27] wido commented on #2611
@kiwiflyer Have you seen this one? The Agent is not providing the secret for the RBD storage pool to the libvirt XML definition.

[2018-05-04 13:32] GabrielBrascher commented on #2611
I will see if I can deploy a test environment to reproduce this issue meanwhile.

[2018-05-04 14:43] giorgiomassar8 commented on #2611
@nathanejohnson nope I don't see qcow2/raw mismatch errors here, I do believe the issue is related to the fact that for some reasons, no authentication information is put in the pool's XML sent to libvirt.

[2018-05-04 15:20] izenk opened #2624 "Unknown parameters : projectid"
#### ISSUE TYPE

**Other**

#### COMPONENT NAME

**Management Node**

#### CLOUDSTACK VERSION

**4.11.0.0**

#### CONFIGURATION

* **Advanced Networking**
* **KVM**

#### OS / ENVIRONMENT

**CentOS Linux release 7.4.1708**

#### SUMMARY

During different UI operations (VPC creation, VM management, Forwarding Rules managements and etc.) I can see such WARNINGS:
[code]
#### STEPS TO REPRODUCE

I don

[2018-05-04 15:34] izenk opened #2625 "Could not connect to SMTP host using STARTTLS"
#### ISSUE TYPE

**Other**

#### COMPONENT NAME

**Management Node**

#### CLOUDSTACK VERSION

**4.11.0.0**

#### CONFIGURATION

* **Advanced Networking**
* **KVM**

#### OS / ENVIRONMENT

**CentOS Linux release 7.4.1708**

#### Summary
Goal: integrate CloudStack with external SMTP relay.
SMTP relay is Office365 relay from Office365 subscription.
Parameters to connect: smtp.office365.com:587

In g

[2018-05-04 16:12] nathanejohnson commented on #2611
@giorgiomassar8 here are the logs from when the rbd pool was configured on our host:

    2018-05-02 12:07:01,225 DEBUG [cloud.agent.Agent] (agentRequest-Handler-3:null) (logid:328be924) Request:Seq 1-8891231564336201737:  { Cmd , MgmtId: 14038005752684, via: 1, Ver: v1, Flags: 100011, [{"com.cloud.agent.api.CreateStoragePoolCommand":{"_createDatastore":false,"add":true,"pool":{"id":3,"uuid":"e485

[2018-05-07 06:42] MartinEmrich commented on #2561
@rhtyd Sorry for the delay... Lots of other stuff going on, and had issues with a circuit breaker on my Cloudstack test rig... Building git 4.11 now, I hope to get around to do some testing this week.

[2018-05-08 10:57] PaulAngus opened #2631 "New vmware.ports.per.dvportgroup global setting breaks existing deployments"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

dvSwitch in VMware environment >5.0

##### OS / ENVIRONMENT

##### SUMMARY

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2018-05-08 15:40] rhtyd commented on #2620
@khos2ow there is no need to enable the `developer` profile, and enabling the profile causes no difference to the built rpm, deb files.

[2018-05-08 15:41] rhtyd commented on #2618
Not a problem with 4.11.1, see:
![screenshot from 2018-05-08 21-11-05](https://user-images.githubusercontent.com/95203/39767432-636aa01e-5304-11e8-95aa-861f9da74d32.png)

[2018-05-08 15:41] #2618 closed

[2018-05-09 10:29] rhtyd commented on #2624
These log messages mean that an unsupported API param arg was submitted as part of the API request. These are harmless and ignorable warning. A lot of these warning I could not see in latest 4.11 branch via UI browsing some of the thing you've noted. Closing this bug.

[2018-05-09 10:29] #2624 closed

[2018-05-09 10:33] rhtyd commented on #2625
@izenk depending on your STMP provider's setting if you want SSL enabled transport set `project.smtp.useAuth` to true in global settings, restart mgmt server and try again. I'll close this but feel free to open if the advised solution does not work for you.

[2018-05-09 10:41] rhtyd commented on #2569
@jorgesumle thanks for the issue and the PR. As requested on the PR you sent, we use transifex to do the translations, please use that for changing/fixing translation used in CloudStack. The updated translations are committed to CloudStack and open, even though transifex maybe a private service.
You can look at the following on how you can participate.
https://github.com/apache/cloudstack/blob/mas

[2018-05-09 10:41] #2569 closed

[2018-05-09 10:43] rhtyd commented on #2575
I could reproduce this in latest 4.11 while creating zone.

[2018-05-09 10:51] rhtyd commented on #2592
I could not reproduce this issue on latest 4.11 branch. I did this:
- I added a new isolated network, it went into "Allocated" state
- On an already deployed/running VM, I add a nic on the newly created network to it
- This kicked a new VR for that new network and a nic was successfully added, no errors see.

![screenshot from 2018-05-09 16-20-11](https://user-images.githubusercontent.com/95203/39

[2018-05-09 10:51] #2592 closed

[2018-05-09 10:57] rhtyd commented on #2539
I followed the step to set the locale to `de_DE.UTF-8`, restarted the mgmt server and before log in selected German as language. After login I see this (not sure if this has any error, maybe translation?):
![screenshot from 2018-05-09 16-25-41](https://user-images.githubusercontent.com/95203/39811271-c477ac8e-53a5-11e8-9b56-b240ebdbd3f5.png)

@mdesaive @rafaelweingartner @DaanHoogland what is the

[2018-05-09 11:00] rhtyd commented on #2529
Closing as Fixed in PR #2632

[2018-05-09 11:46] resmo commented on #2529
no need to close it manually, github will close it after PR is merged.

[2018-05-09 11:55] rhtyd commented on #2540
I was able to reproduce this using mentioned steps:
[code]

[2018-05-09 11:58] rhtyd commented on #2545
Since a project can tie users/accounts from different domains, IP range dedicated to an account/domain cannot be used by a project. Can you advise exactly how you were testing this? /cc @PaulAngus

[2018-05-09 11:59] rhtyd commented on #2545
I've removed this from 4.11.1.0 until we can conclude that this is a valid bug.

[2018-05-09 12:35] #2529 closed

[2018-05-09 13:55] rhtyd commented on #2540
@GabrielBrascher can you help fix this, thanks.

[2018-05-09 13:56] rhtyd commented on #2558
@GabrielBrascher can you pick this up as well? Thanks.

[2018-05-09 15:43] GabrielBrascher commented on #2558
Yes @rhtyd, I will take a look at it.

[2018-05-09 19:26] PaulAngus opened #2633 "SSVM cannot reconnect after connection disruption if there is an active event."
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

4.11.0 environment with VMware

##### SUMMARY

If there is an interruption to mgmt server <-> agent communications while an action is taking place (such as the mgmt server restarting when the  ssvm is performing a snapshot) the SSVM will not be able to recon

[2018-05-09 19:33] GabrielBrascher commented on #2540
Yes @rhtyd, I will take a look to fix it.

[2018-05-10 07:47] rhtyd commented on #2633
@PaulAngus This is by design of agent (not specific to any cloudstack version), any pending job in Agent's internal queue will block it from reconnecting until the job finishes. /cc @nvazquez @DaanHoogland - any comments on how to deal with this?

[2018-05-10 09:43] rhtyd commented on #2544
@s-seitz can you share the `cloudstack-set-guest-password` password that you've used?

[2018-05-10 09:44] rhtyd commented on #2544
@s-seitz ignore if this is same as: https://github.com/apache/cloudstack/blob/4.11/setup/bindir/cloud-set-guest-password.in

[2018-05-10 10:50] rhtyd commented on #2544
Addressed fix in https://github.com/apache/cloudstack/pull/2635, closing now. @s-seitz you can test the PR, thanks.

[2018-05-10 10:50] #2544 closed

[2018-05-10 11:07] izenk commented on #2625
project.smtp.useAuth was already enabled
Issue is related to SSL or STARTTLS.
In general there are two cases for secure SMTP connection:
    SSL (First SSL handshake, then SMTP HELO)
    TLS (First SMTP HELO, then STARTLS)

CloudStack by default use SSL and only it. When it should be possible to choose.

[2018-05-10 11:52] DaanHoogland commented on #2633
@rhtyd , as discussed on other media: We can make sure there is
0. make sure reconnect is always attempted
1. an other thread guarding there is always exacly one connection open.
2. have a setting that says 'agent.always.reconnect'
3. have a setting 'agent.job.queue.maximum.size' that makes sure only reconnect attempts are done when less than a certain number of jobs are in the queue.

or any comb

[2018-05-10 12:12] rhtyd commented on #2625
@izenk I tested this against a server where it worked for me, let me re-open this. After enabling the global setting (i.e. set to `true`) was the management server restarted? Please also check iptables rules on the management server blocking egress traffic.

[2018-05-10 17:34] covalle1428 commented on #2540
I have the same problem, I installed a fresh Cloudstack 4.11 and the same thing. Do you know how to fixed?

[2018-05-10 17:51] GabrielBrascher commented on #2540
@covalle1428, removing the conditional as @mdesaive showed is an emergency fix; however, I am analyzing other approaches. I will cite the PR here when created.

[2018-05-10 17:54] covalle1428 commented on #2540
Sorry I don't have the source package I'm stalled from the .rpm normal package, how and where can remove this conditional?

[2018-05-11 08:51] se-bre commented on #2545
hi rohit, hi paul,
we create a domain for each customer.
some customers come with their own public ip range.
so we dedicate those ip ranges to their domain.
the result is, that they build up their own projects and they can use their own public ip range in all their projects in their domain
this was working up to 4.9 (4.10 untested from our side)

when we dedicate a public ip range to a domain now,

[2018-05-11 10:43] rhtyd commented on #2633
After doing several tests, I've submitted a quick fix that does not block agent from reconnection however other failure cases remain the same - https://github.com/apache/cloudstack/pull/2638

A much bigger task would be to fix the agent-mgmt server execution design.

[2018-05-11 11:38] s-seitz commented on #2544
@rhtyd i've cherrypicked #2635 and tested the password reset successfully. Thank You!

[2018-05-11 12:06] s-seitz commented on #2539
@rhtyd  answering on behalf of @mdesaive  , the error is not triggered by selecting another language inside the UI at the login prompt. Instead, it occurs if the system locale (LANG environment variable) is set to a region with comma as decimal "point". e.g. in germany float is noted as NN,NNN .

At least for debian/ubuntu prior systemd /etc/init.d/cloudstack-management contains

`if [ -r /etc/def

[2018-05-11 12:18] s-seitz commented on #2625
@izenk I'ld suggest to setup a local mailrelay or MTA for this purpose. Nowadays, SSL is a moving target when it comes to "safe" cipher lists. I wouldn't rely on the java cipher lists, also it's way more convenient having mails dealt by an MTA or relay on your own. Just my 2 cents :)

[2018-05-11 16:47] #2631 closed

[2018-05-14 08:34] izenk opened #2641 "Unable to create VM from ISO"
#### ISSUE TYPE

**Bug**

#### COMPONENT NAME

**CloudStack Agent**

#### CLOUDSTACK VERSION

**4.11.0.0**

#### CONFIGURATION

* **Advanced Networking**
* **KVM**
* **CEPH Storage (RBD pool)**

#### OS / ENVIRONMENT

**CentOS Linux release 7.4.1708**

#### Summary
Ubuntu 16.04 ISO is registered ([ISO link](http://releases.ubuntu.com/16.04/ubuntu-16.04.4-server-amd64.iso))
ISO status: ready.
When

[2018-05-14 11:34] rhtyd opened #2642 "DB Exceptions seen on latest master"
On latest master, with only db deployed and no environments I see this:
[code]

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### OS / ENVIRONMENT

Basic install with no env deployed

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

[2018-05-14 11:34] rhtyd commented on #2642
@DaanHoogland @PaulAngus ping - is this happening on 4.11, if you do have time please help triage. Thanks.

[2018-05-14 16:08] izenk commented on #2641
Found the same here: (CLOUDSTACK-10308)[https://issues.apache.org/jira/browse/CLOUDSTACK-10308]

[2018-05-14 19:11] falcon78921 opened #2643 "Add AMD FirePro MxGPU assignment to CloudStack guests"
##### ISSUE TYPE

 * Feature Idea

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

[code]

##### EXPECTED RESULTS

[code]

[2018-05-15 08:55] MartinEmrich commented on #2561
Finally got my automated test bench working, and it is a success:

Installed 4.9.2.0, and upgraded to self-built 4.11.1 snapshot including system VM. the upgrade runs smooth, and my VMs still have connectivity with the 4.11.1 systemvm.

[2018-05-15 08:59] rhtyd commented on #2561
Thanks for sharing your results @MartinEmrich

[2018-05-15 12:46] rhtyd commented on #2540
@GabrielBrascher any update on this, thanks.

[2018-05-15 12:47] rhtyd commented on #2558
@GabrielBrascher any update on this, thanks.

[2018-05-15 14:38] izenk opened #2644 "UI LDAP settings"
##### ISSUE TYPE

 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

Don't no if it's issue or not.. In CS UI when configuring LDAP settings instead of values, which were entered I see this:

![screen shot 2018-05-15 at 17 36 02](https://user-images.githubusercontent.com/6417697/40063639-779969d2-5866-11e8-8d4b-8c885b95fb08.png)

New values (if I, for example, edit default v

[2018-05-15 15:05] GabrielBrascher commented on #2540
I would like to avoid the solution that just removes the conditional. What do you think of that solution @rhtyd?
I am evaluating some alternatives yet.

[2018-05-15 17:36] rhtyd commented on #2641
This has been recently fixed in 4.11.1.0 milestone @izenk can you test latest 4.11 branch?

[2018-05-16 02:54] saliven1970 opened #2647 "VPC network modify host IP problem"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

advanced networking

##### OS / ENVIRONMENT

Centos 7.4_x64

##### SUMMARY
VPC network modify host IP problem

##### STEPS TO REPRODUCE
1.Under the VPC network, stop one virtual host
2.modify the host IP under the NIC tab of the host details,
3.watch the host IP changed on the webs

[2018-05-16 04:20] DaanHoogland commented on #2540
@rhtyd @GabrielBrascher network id should not matter, a vm can be re-plugged into another network.
Also the exception in the code that @GabrielBrascher shows above should/can actually be handled by creating a new MAC that *is* unique.

[2018-05-16 04:23] DaanHoogland commented on #2644
that is a strange inconvenience, for some it makes sense (bind password) for this one it doesn't, i think. I also don't know what should be the right behaviour.

[2018-05-16 04:26] DaanHoogland commented on #2642
@nvazquez is this the same as in your work on connection pool configuration work?

[2018-05-16 04:28] rhtyd commented on #2642
Btw, I've verified this happens with latest 4.11 as well especially for the case of cpu, memory capacity checks. However, it seems harmless, but annoying.

[2018-05-16 08:33] se-bre commented on #2545
we are not 100% sure, but we may found the commit where the relavant code was removed:

https://github.com/apache/cloudstack/commit/b2f7f9abb6f710e1ec0ba9b03a645023abd0d649#diff-0f5b97d5dceac89ff4509fbcf07d2330

File: server/src/com/cloud/network/IpAddressManagerImpl.java
Lines: 712 - 716

don't know if there was a reason for this @priyankparihar

[2018-05-16 10:06] #2633 closed

[2018-05-16 10:36] rafaelweingartner commented on #2642
Hello @rhtyd,
I will not be able to check this problem now. I glanced the code though.

Are you talking about “Discrepancy in the resource count” or the “Rolling back the transaction”?

The first one seems to be a similar case to #2629. The count for user templates is wrong.
On the other hand, the second one seems to be an exception that is being hidden from us. Looking at the code, I noticed that

[2018-05-16 10:48] rhtyd commented on #2642
@rafaelweingartner I see the 'rolling back transaction' as shared in the logs in this issue, even with mgmt server started without any env/zone deployed.

[2018-05-16 11:13] nvazquez commented on #2642
@DaanHoogland it doesn't seem to be the same error as the connection pool replacement.

[2018-05-16 13:25] DaanHoogland commented on #2540
@GabrielBrascher , I think some iusers will need plugable macaddress generation algorithms but for this specific issue we could just add the following bit
[code]
before
[code]
as it seems to be a problem when the macaddress given is null. If it is an actual MAC it is a user mistake.

[2018-05-16 13:40] GabrielBrascher commented on #2540
@DaanHoogland I agree with you. Let's keep your approach (`getNextAvailableMacAddressInNetwork`) to this issue and then open a new issue/PR in future with mac generation.

[2018-05-16 16:19] izenk opened #2648 "Templates created under project are not visible"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

CEPH storage, Advanced networking

##### OS / ENVIRONMENT

Centos 7.4.1708

##### SUMMARY

Trying to create a template from VM.
VM was  created, prepared and stopped under the **project**.
Template creation task was completed successfully in terms that I can see notification about

[2018-05-16 16:34] izenk commented on #2641
@rhtyd  unfortunately now, just using 4.11 LTS as company private cloud

[2018-05-17 06:35] IngoJochim commented on #2545
Da bin ich ja mal auf die Antwort gespannt.
VG
Ingo

Am 16.05.2018 um 10:33 schrieb S. Bretschneider <notifications@github.com<mailto:notifications@github.com>>:

we are not 100% sure, but we may found the commit where the relavant code was removed:

b2f7f9a#diff-0f5b97d5dceac89ff4509fbcf07d2330<https://github.com/apache/cloudstack/commit/b2f7f9abb6f710e1ec0ba9b03a645023abd0d649#diff-0f5b97d5dceac

[2018-05-17 15:00] Jazz9 opened #2650 "Ceph RBD Feature flag update"
* Improvement Request
 Cloudstack Ceph Integration

When use Ceph >= Jewel / KVM with Cloudstack the RBD feature codes are not the new default values.

##### SUMMARY
When Cloudstack creates a VM from template it manually specifies the feature set and forces layering only. If you manually clone the volume via the rbd command line tool, the expected features are retained from the parent template.

T

[2018-05-17 18:11] GabrielBrascher commented on #2540
Created PR [#2653](https://github.com/apache/cloudstack/pull/2653) to address the discussion raised here.

[2018-05-17 20:12] glennwagner opened #2654 "Register ISO image in all zones"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Two advanced networking zones

##### OS / ENVIRONMENT

Apache Cloudstack version 4.11.1
Two advanced networking zones
NFS Primary and secondary storage
VMware 5.5u3 and Xenserver 7.0 hosts

##### SUMMARY

If more than one zone has been setup and you try to register a ISO to all zon

[2018-05-18 01:14] Jazz9 commented on #2650
Additionally,

Per per dev mailing list discussion with Wido. This following code controls the feature set.

https://github.com/apache/cloudstack/blob/master/plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/storage/LibvirtStorageAdaptor.java#L957

private int rbdFeatures = (1 << 0); /* Feature 1<<0 means layering in RBD format 2 */

rbd.clone(template.getName(), rbdTemplateSnapName,

[2018-05-18 06:55] wido commented on #2650
I remember now :) This is leftover code from when libvirt didn't support cloning volumes yet.

Libvirt supports cloning a RBD image: https://libvirt.org/git/?p=libvirt.git;a=blob;f=src/storage/storage_backend_rbd.c;h=642cacb67362424b00e905bab324dad98dd98e8e;hb=HEAD#l945

We should call that function in libvirt to clone the image:
- https://libvirt.org/sources/virshcmdref/html/sect-vol-clone.html
-

[2018-05-18 06:59] Jazz9 commented on #2650
That would be much cleaner. Do you think it is an easy change?

[2018-05-18 09:00] wido commented on #2650
@Jazz9 It will need a bit of work in the CloudStack agent as we should make a generic method to have libvirt handle the volume clone. This isn't only required for RBD, but in other cases libvirt can handle this as well.

I took a quick look, but this should require some work.

[2018-05-21 08:05] #2654 closed

[2018-05-21 08:37] PaulAngus commented on #2558
@GabrielBrascher  - we're looking to cut an RC soonish, do you have an eta for a fix please?

[2018-05-21 09:15] melnik13 opened #2657 "KVM hosts are being reset by a script"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

KVM

##### CLOUDSTACK VERSION

All 4.x and 2.x versions seem to be affected.

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

This issue is related to KVM hosts. As far as I can see, XEN hosts are affected too.

##### SUMMARY

KVM hosts are being rebooted by `kvmheartbeat.sh` when the NFS-server that is being used as a primary storage becomes u

[2018-05-21 09:31] serverchief commented on #2657
As of 4.11 CloudStack has an enhancement for KVM HA. Instead of relying on shell script and specific primary store - we will check the write time stamp on the disks for all VMs that are known to reside on hypervisor.

All VM disks/files must not update the write timestamp for an extended amount of time(configurable) before a specifc action is taken (configurable). Even If a single vm disk will hav

[2018-05-21 09:38] melnik13 commented on #2657
Thank you! I didn't notice that 4.11.x have it fixed, in 4.9.2 it still can reset a host.

In any case, the script and `echo b > /proc/sysrq-trigger` is still present. Won't it be executed at some moment? Looks a bit dangerous, as for me.

[2018-05-21 10:58] #2540 closed

[2018-05-21 14:36] GabrielBrascher commented on #2558
@rhtyd  @PaulAngus sorry for the delay but I am still working on this one. Do you think we should push this to 4.11.2? How much time do I have to finish it for 4.11.1?

[2018-05-22 06:27] DaanHoogland commented on #2558
:) -(a weekend)
The question is not how much time you have but how much we need this in, @GabrielBrascher

[2018-05-22 06:40] rhtyd commented on #2558
@GabrielBrascher can you at least help test this against a normal certificate of size less than 8k? Usually certificates are 2k-4k in size. If there are no blockers around using custom certificates, then yes we can discuss pushing it for 4.11.2.0 milestone.

[2018-05-22 12:16] wido commented on #2657
The main problem is that it is hard to determine if the host isn't responding or that something else is going on.

You do not want the VM to run twice as that might (will!) cause data corruption. That's why a hard reboot is being issued if the storage is having trouble.

[2018-05-22 12:17] wido commented on #2650
I just found out, libvirt in Ubuntu 16.04 doesn't support this yet, so it will take a long time (years) before we can put this upstream as we have to support Ubuntu 16.04 until at least 2021.

[2018-05-22 12:34] Jazz9 commented on #2650
O no! How are the new volumes created? They seem to get the correct feature flags.
Kind regards,
Glen Baars

From: Wido den Hollander <notifications@github.com>
Sent: Tuesday, 22 May 2018 8:17 PM
To: apache/cloudstack <cloudstack@noreply.github.com>
Cc: Glen Baars <glen@onsitecomputers.com.au>; Mention <mention@noreply.github.com>
Subject: Re: [apache/cloudstack] Ceph RBD Feature flag update (#265

[2018-05-22 13:20] wido commented on #2650
@Jazz9 Creating is handled by libvirt, but the cloning function wasn't implemented before Ubuntu 16.04 was released. I didn't check CentOS 7, but I assume the same.

So we will have to statically define the features we want to use. But as we still have people running older Ceph clusters we should be cautious.

Do you want to object-map feature enabled?

[2018-05-22 20:13] PaulAngus commented on #2545
I've confirmed that this behaviour used to work in 4.9.3 (projects would use IP dedicated to the domain that the project was in) and no longer works in 4.11.0  cc @DaanHoogland

[2018-05-22 23:58] GabrielBrascher commented on #2558
We are making a GET request, not a POST. I created PR [2661](https://github.com/apache/cloudstack/pull/2661) to fix it.

[2018-05-23 00:29] Jazz9 commented on #2650
I think it might be best to leave the default action as it currently is. Should we have a global setting for ceph.clone.rbdfeaturecode?

Sent from my phone

On 22 May 2018 9:20 PM, Wido den Hollander <notifications@github.com> wrote:

@Jazz9<https://github.com/Jazz9> Creating is handled by libvirt, but the cloning function wasn't implemented before Ubuntu 16.04 was released. I didn't check CentOS

[2018-05-23 04:06] #2558 closed

[2018-05-23 07:49] wido commented on #2650
I will leave it there. A global setting does not seem right to me as this isn't something a user should worry about. Not sure yet what to do with this.

[2018-05-23 08:31] DaanHoogland commented on #2545
@se-bre can you code your steps to reproduce in a marvin test (or otherwise a small script)?

[2018-05-23 09:16] melnik13 commented on #2657
Thank you for notation.

That's exactly why I proposed (d82162565c99889731f508ac72b4a19922520adf) to find the VMs using the mountpoint (by `lsof` and `awk`) and then kill their `qemu-kvm` processes.

[2018-05-23 10:08] PaulAngus opened #2666 "Non-admin User receives an error message when entering disk offering section of create instance wizard"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

4.11.1 build

##### OS / ENVIRONMENT

##### SUMMARY

An error message pops up for all (non-admin) users saying
**"Filter all can be specified by admin only"**
when using the add vm instance wizard at the 'Disk Offering' stage.

searched for "Filter can be specified by admin only" a

[2018-05-23 13:19] rafaelweingartner commented on #2666
@PaulAngus I just built the 4.11 (commit: eb23d91cf465c13e79e7b612258e9614669de7c9), and indeed this error happens there. However, it does not seem to be a result of PR #2639.  As you can see, with PR #2639, I did a small amend in `com.cloud.api.query.QueryManagerImpl.searchForVolumesInternal(ListVolumesCmd)`. However, the internal method use by the `listTemplates` API method is `com.cloud.api.que

[2018-05-23 14:11] DaanHoogland commented on #2666
@rafaelweingartner I do not quite follow. Is either QueryManagerImpl or instanceWizard changed lately? One of them must. I'll do some searching.
I don't see what you are proposing as fix but it seems a change in instanceWizard. Or you creating a PR?

[2018-05-23 14:55] rafaelweingartner commented on #2666
I am not looking for the commit that broke the wizard; I am looking for a solution. For instance, I just tested with 02ece533755282e7d8f4610157b5d9febd199784 commit, which is the commit right before mine and it has the same problem. Therefore, it was a coincidence that @Paul noticed the problem right after the merge of 8b09620d777805bdbb59255ef722e0a6ddbb85b8.

My idea is to discuss a solution to

[2018-05-23 15:12] DaanHoogland commented on #2666
right, it has to do with multidisk ova, which is an experimental version so I am inclined to say, "let's add an isAdmin() check"

[2018-05-23 15:12] #2545 closed, assigned to nobody

[2018-05-23 15:21] DaanHoogland commented on #2666
dit dat, have a look at #2669 (untested)

[2018-05-24 07:04] DaanHoogland opened #2671 "configdrive testing needs refactorring"
Config drive refactoring has led to an external utility being used in a unittest for it (genisoimage). This test must be done, however but in an integration test.
#2665 deletes the original test
#2651 introduced the change and has validity so we should keep the new way of creating the configdrive and only change the way of testing it.

##### ISSUE TYPE

 * Other (test improvement)

##### COMPONENT

[2018-05-24 07:31] #2666 closed

[2018-05-24 09:15] DaanHoogland commented on #2671
as #2665 now mocks the tool, I am wondering if we need an integration style test still. @rafaelweingartner @wido @fmaximus @mike-tutkowski can any of you comment? /cc @rhtyd

[2018-05-24 09:36] wido commented on #2671
If we have a proper Mock we do not need a integration test I think

[2018-05-24 10:15] rafaelweingartner commented on #2671
@wido that is the idea. It might be a good idea to have an "integration"/API test (those written in python) that calls the API that in turn uses the execution flow, which uses this configDriver block of code

[2018-05-26 10:36] saliven1970 opened #2677 "package.sh -d centos7 ERROR"
##### ISSUE TYPE

 Bug Report
 ##### COMPONENT NAME

packaging

##### CLOUDSTACK VERSION

4.12 master

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7.4 x64
java-1.8.0-openjdk-1.8.0.171-7.b10.el7.x86_64

##### SUMMARY

when cloudstack/packaging/centos7/cloud.spec

mvn -Psystemvm,developer -DskipTests $FLAGS clean package
fix to:
mvn -Psystemvm,developer $FLAGS clean package

then occur this

[2018-05-26 12:01] rafaelweingartner commented on #2677
This is a known issue and is being fixed at #2674

[2018-05-27 15:47] schadom opened #2678 "Build on Ubuntu 18.04 fails - "FAILURE! - in com.cloud.utils.ssh.SshHelperTest initializationError(com.cloud.utils.ssh.SshHelperTest)""
##### ISSUE TYPE
[code]

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
[code]

##### STEPS TO REPRODUCE
[code]

Output: https://gist.github.com/schadom/ade6addc97bb00e8f7d46a39d56d06cf

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2018-05-28 14:15] khos2ow commented on #2678
Can you check your java version? is it JDK 9?

[2018-05-29 00:09] schadom commented on #2678
It's `openjdk-8-jdk` like stated in the [docs](http://docs.cloudstack.apache.org/projects/cloudstack-installation/en/4.11/building_from_source.html#prerequisites-for-building-apache-cloudstack). Is this info not actual anymore?

	rob@cloudstack:~/apache-cloudstack-4.11.0.0-src$ apt list --installed | grep jdk
	openjdk-11-jre-headless/bionic,now 10.0.1+10-3ubuntu1 amd64
	openjdk-8-jdk/bionic-update

[2018-05-29 01:01] khos2ow commented on #2678
openjdk 10.0.1 2018-04-17
OpenJDK Runtime Environment (build 10.0.1+10-Ubuntu-3ubuntu1)
OpenJDK 64-Bit Server VM (build 10.0.1+10-Ubuntu-3ubuntu1, mixed mode)

You actually have both Java 10 and 8 installed, and the *active* one is Java 10. And apparently one of the test framework we use has a known issues with java 9+.

In the meantime you can switch to java 8 and try again, execute below command

[2018-05-29 01:12] schadom commented on #2678
Sorry my fault. Worked out fine with java 8 now. Thanks very much!

[2018-05-29 01:12] #2678 closed

[2018-05-29 12:13] izenk commented on #2644
Found way to watch them with
[code]
So, UI values for some reason are not decrypted...

[2018-05-29 15:10] jia3apb opened #2679 "Non-admin user interface reload (ctrl+R) causes dropping session"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Web browser

##### SUMMARY

Non-admin user interface reload (ctrl+R) causes "Session Expired" message, drops session and as a result redirects to login form. At the same time, Admin UI works correctly.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED R

[2018-05-29 21:26] Slair1 opened #2680 "Using Source NAT option on Private Gateway does not work"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

When you use the Source NAT feature of Private Gateways on a VPC.  This should Source NAT all traffic from CloudStack VMs going towards IPs reachable through Private Gateways

##### OS / ENVIRONMENT

I happen to be running KVM, but shouldn't be hypervisor specific.  it is an issue

[2018-05-29 22:03] schadom opened #2682 "cloudstack-service-console-proxy-rdpclient - test fails"
##### CLOUDSTACK VERSION
[code]

##### PROBLEM

	rob@cloudstack:~$ sudo apt update && sudo apt install mysql-connector-python python-software-properties debhelper openjdk-8-jdk libws-commons-util-java genisoimage libcommons-codec-java libcommons-httpclient-java liblog4j1.2-java maven
	rob@cloudstack:~$ wget http://www.apache.org/dyn/closer.lua/cloudstack/releases/4.11.0.0/apache-cloudstack-4.11.0.

[2018-05-29 22:55] schadom commented on #2682
Fixed it by copying `jdk.tls.disabledAlgorithms=DH keySize < 128, RSA keySize < 128, DES keySize < 128, SHA1 keySize < 128, MD5 keySize < 128, RC4` from `./apache-cloudstack-4.11.0.0-src/client/conf/java.security.ciphers.in` to `/usr/lib/jvm/java-8-openjdk-amd64/jre/lib/security/java.security`.

[2018-05-29 22:55] #2682 closed

[2018-05-30 07:40] DaanHoogland commented on #2682
thanks @schadom . Don't you feel this is a documentation bug of some sort?

[2018-05-30 12:26] DaanHoogland commented on #2671
So, what do we dicide? I think @rafaelweingartner 's tests are fine. I didn't check if we can skip the tests in #2673 but the macos fix I still want in.
comments, @wido @rhtyd @PaulAngus

[2018-05-30 12:28] rafaelweingartner commented on #2671
+1 to merge it if we are going to cut another RC. Not sure what to do if we are going to close release with the current RC.

[2018-05-30 12:28] DaanHoogland commented on #2677
are you sure @rafaelweingartner #2674 is about configdrive. It doesn't seem related to me.

[2018-05-30 12:32] rafaelweingartner commented on #2677
@DaanHoogland 100% sure :)
Check my comment https://github.com/apache/cloudstack/pull/2674#issuecomment-391743061

There was another problem, which is this one that was causing trouble in some scenarios when building ACS. I discovered that with @khos2ow. This problem is fixed with my fourth commit there: 69961dc9067ffa1ae4460436825125718c5ad796

[2018-05-30 12:36] DaanHoogland commented on #2677
ah, I see. wonder if these will be autoclosed ;) bit confusing

[2018-05-30 12:37] DaanHoogland commented on #2671
merge and merge forward, but then still, do we merge #2673 as well?

[2018-05-30 12:39] rafaelweingartner commented on #2671
There seems to be some questions there, but I guess we should merge #2673 as well. It is fixing some integration tests.

[2018-05-30 12:40] rafaelweingartner commented on #2677
They should be

[2018-05-30 12:42] DaanHoogland commented on #2644
@izenk I think this issue is in since 4.9 at least. Are you using the global mapping or the per domain mapping?

[2018-05-30 12:45] DaanHoogland commented on #2671
sorry, no I've been confusing stuff. I mean #2665

[2018-05-30 12:49] rafaelweingartner commented on #2671
#2665 is deprecated by my PR

[2018-05-30 14:14] ustcweizhou commented on #2680
@Slair1 Thanks for you reply on jira.
You are correct. VPC connects the entire network in DC via private gateway, not entire internet. The routes (default and to static route) are good.

Looking at the code, I think the iptables rules should be added by
[code]
see line 584 to line 590 in
https://github.com/apache/cloudstack/blob/master/systemvm/debian/opt/cloud/bin/cs/CsAddress.py

Could you post

[2018-05-30 14:27] khos2ow commented on #2677
It will *not* be auto-closed, the #2674 body misses `Fixes #2677`.

[2018-05-30 15:31] Overv opened #2684 "Host metrics show wrong total memory and memory allocation"
Our CloudStack 4.10 setup shows the right overall resource metrics in the system capacity listing on the frontpage of the dashboard, but the individual host metrics show very strange values for the memory availability:

![image](https://user-images.githubusercontent.com/285063/40730501-17ddef70-642f-11e8-8cbb-9d6f722de70a.png)

As for the API call, the `memoryTotal` and `memoryAllocated` fields ha

[2018-05-30 17:44] izenk commented on #2644
Global mapping

[2018-05-31 08:28] rhtyd commented on #2680
@PaulAngus @DaanHoogland I've tentatively marked this against the 4.11.1.0 milestone, given the problem may have been in ACS since version 4.9, please triage if this should be moved to 4.11.2.0 instead.

[2018-05-31 08:29] rhtyd commented on #2684
@Overv what is the `ram` in the hosts table when you added the KVM host?
/cc @PaulAngus @DaanHoogland @borisstoyanov

[2018-05-31 08:33] Overv commented on #2684
In the hosts table the variable `ram` is set to the correct value of `66363973632`, `dom0_memory` is `0`.

[2018-05-31 08:59] rhtyd commented on #2684
@Overv can you do a `list hosts` and `list hostsmetrics` API and share if you see difference in the host total?

[2018-05-31 09:55] DaanHoogland commented on #2671
not entirely, but i'll create a separate PR for the macos bit, after verifying it actually does creates configdrives

[2018-05-31 10:39] Overv commented on #2684
`list hosts` shows

* `memoryallocated=0`
* `memorytotal=0`
* `memoryused=1172013056`
* `memorywithoverprovisioning=6.6363974E10`.

`list hostsmetrics` shows

* `memoryallocated=0`
* `memoryallocatedgb=0.00GB`
* `memorytotal=0`
* `memorytotalgb=0.00GB (x 1.0)`
* `memoryused=1171718144`
* `memoryusedgb=1.09GB`

[2018-05-31 10:42] rafaelweingartner commented on #2671
You mean, using the path to the program that is expected in the MacOS?

[2018-05-31 10:42] rhtyd commented on #2684
Thanks for sharing @Overv. The `total` memory value from listHosts and listHostsMetrics is taken from `ram` column of the cloud.hosts table. If you're seeing the value to be 0, we'll need to replicate/investigate this issue. @borisstoyanov can you advise if you seen something like this? /cc @PaulAngus @DaanHoogland

[2018-05-31 10:43] rhtyd commented on #2684
@Overv I re-read your issue statement, are you able to replicate this issue with 4.11 (either 4.11.0.0 or 4.11.1.0-rc1)? 4.10 likely has a bug that was fixed in 4.11+ branch.

[2018-05-31 16:50] Overv commented on #2684
@rhtyd Unfortunately we are currently unable to run 4.11 due to other bugs. Could you point to a commit or issue that may have fixed this problem?

[2018-06-01 15:50] Slair1 commented on #2680
@ustcweizhou  Could you take a look at this pull request?

https://github.com/apache/cloudstack/pull/2681

I made the change in a different area of CsAddress.py.  CloudStack treats the Private Gateway creation as a network type of Guest not Public.  The section you updated updates if the type is Public.  The code i updated is for when the type is Guest.  We are currently running with our patch in

[2018-06-01 16:15] dpassante opened #2685 "Cannot live migrate XenServer VMs between two storage pools"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

XenServer clusters with local storage or DefaultPrimary PreSetup SRs.

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Trying to migrate a XenServer VM to another storage pool causes a "Can not see storage pool" exception.

This occurs because the SR's path is used to query the SRs by

[2018-06-01 16:17] rafaelweingartner commented on #2685
Do you have other data disks attached in this VM?

[2018-06-01 16:47] dpassante commented on #2685
@rafaelweingartner Yes, the VM have data disk attached but I'm having the same issue without datadisk.

[2018-06-01 16:48] rafaelweingartner commented on #2685
I have fixed this problem in master, but I am not sure if this was backported. I will check the code in 4.11.1.0.

[2018-06-02 08:53] ustcweizhou commented on #2680
@Slair1 I saw your PR.

I am using 4.7.1. The ip in private gateway network is Public, not Guest. It seems to be a regression issue.
If the type is Guest, your PR should fix the issue. However, it will impact all guest networks (vpc tiers), I am not sure if it will lead to security issues.

Is it good to add a check before the code ?

[code]

the source_nat should be true for the ip in private gat

[2018-06-02 12:47] dpassante commented on #2685
Great news! It's a bit of a bloquer issue for us and I'd like to see it resolved in the next release :-)

[2018-06-04 11:34] DaanHoogland commented on #2525
is this to be fixed in documentation? It is tagged for 4.11.1 but no PR is out for it

[2018-06-04 11:35] DaanHoogland commented on #2527
is there a PR planned for this? if not i'll mark it 4.12

[2018-06-04 11:35] resmo commented on #2525
I am not aware of anyone working on this.

[2018-06-04 11:44] rhtyd commented on #2525
Aren't the details in when root/admin call the api?

[2018-06-04 11:49] resmo commented on #2525
the call in the "acutal result" is an root admin

[2018-06-04 11:58] Jamlee opened #2687 "with basic network mode, router vm is not up"
when i use the basic network mode,  the **default ip is assign to eth0** and **eth1 have no ip**.  but the port **3922** iptable rule is on eth1. So **cloustack master** can not ssh to **router**.

As blew code:
https://github.com/apache/cloudstack/blob/ca17b6a126d8842adb750146a3f843e6acbadd04/systemvm/debian/opt/cloud/bin/cs/CsAddress.py#L356

i **changed eth1 to eth0** , then rebuild cloudstack.

[2018-06-04 12:41] DaanHoogland commented on #2685
do you have a ref to the PR to add here, @rafaelweingartner ?

[2018-06-04 16:22] DaanHoogland commented on #2687
@wido Can you judge this one for its merits? Has there been a change in basic mode VRs?

[2018-06-04 16:49] Jamlee commented on #2687
Sorry.  the wrong thing i do is that i use the latest 4.12 with systemvm-4.11.

[2018-06-04 16:49] #2687 closed

[2018-06-05 05:04] rhtyd opened #2689 "Existing templates not downloaded when adding new secondary storage"
Adding a new secondary storage does not kick downloading of existing templates on the new secondary storage. However, if we restart the cloud service in ssvm it attempts to download those existing templates.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

[2018-06-05 10:51] DaanHoogland commented on #2671
never mind @rafaelweingartner , I found the code in your PR

[2018-06-05 10:51] #2671 closed

[2018-06-05 10:58] PaulAngus opened #2690 "L2 network offerings are not returned if zoneId is passed in listNetworkOfferings"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

CloudStack with 4.11.0 installed

##### OS / ENVIRONMENT

N/A

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2018-06-05 16:08] rafaelweingartner commented on #2685
@DaanHoogland not yet. I am traveling today. Probably only in the weekend I would be able to take a look into it as it was not going to be a Day job thing.

[2018-06-06 08:31] ikoula opened #2695 "Unable to create local link issue (CS 4.11.1-rc1 + XCP-ng 7.4.1)"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Management Server : CentOS 7 (fresh install)
Hypervisor : 2 x XCP-ng 7.4.1 (fresh install, in the same pool)
Zone : Advanced without SG (local storage enabled for both system & user VMs)

##### SUMMARY

Unable to create the local link network on the newly added host
AddHost API Cal

[2018-06-06 14:08] PaulAngus commented on #2690
@blueoranguntan package

[2018-06-06 14:18] DaanHoogland commented on #2685
@rafaelweingartner @dpassante I am marking this for 4.11.2 as it is not planned and not a regression since 4.11.0

[2018-06-06 14:38] DaanHoogland commented on #2690
@PaulAngus I don't think the ape will package issues ;)

[2018-06-06 15:28] PaulAngus commented on #2690
shame, i'd like to package issues up and send them somewhere else.

[2018-06-07 04:16] rhtyd commented on #2680
@Slair1 can you reply to @ustcweizhou 's comment ^^ ?

[2018-06-07 05:48] DaanHoogland commented on #2690
:) 🥇

[2018-06-07 06:33] rhtyd commented on #2695
For reference, both xcp-ng 7.4.1 and 7.4.0 have the same product version set to 7.4.0. The following is from a 7.4.1 iso/installed xenserver host:
![screenshot from 2018-06-07 11-46-05](https://user-images.githubusercontent.com/95203/41081788-c0f752c0-6a49-11e8-815a-b280d0db122a.png)
I was able to deploy an advanced zone (without local storage) using xcp-ng 7.4.1 and could see systemvms start.

[2018-06-07 07:49] cocoon opened #2698 ""Add VPC" Button does nothing if no Advanced Zone with securitygroupsenabled=false"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

From: http://packages.shapeblue.com/testing/4111rc1/centos7/4.11/
But should be the same in previous versions (like 4.11)

##### CONFIGURATION

Zone 1 = Basic
Zone 2 = Advanced + securitygroupsenabled = true

##### OS / ENVIRONMENT

N/A

##### SUMMARY

CloudStack UI --> Network --> Switch View to VPC
C

[2018-06-07 10:41] rhtyd commented on #2685
I've validated the issue, the fix LGTM: https://github.com/apache/cloudstack/pull/2686

[2018-06-07 11:31] DaanHoogland commented on #2539
I think more then just German locales will show this error, if the comma is the issue. We just haven't encountered them. I think this must be fixed with an in UI translation of the data coming in from the server.

[2018-06-07 13:05] rafaelweingartner commented on #2685
I am fine with 4.11.2.0.
It seems that @rhtyd has already investigated this and found a solution.

BTW: @rhtyd thanks!

[2018-06-07 14:10] ccesario opened #2700 "Add support to vCenter/vSphere 6.7"
##### ISSUE TYPE

 * Feature Idea

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2018-06-07 14:33] ikoula commented on #2695
Ok my bad, our tree was missing the latests modifications from plugins/hypervisors/xenserver/src/com/cloud/hypervisor/xenserver/discoverer/XcpServerDiscoverer.java following a failed (?) rebase.
Using the 4.11.1-rc1 packages it's working as expected using XCP-ng 7.4.1

Sorry for the inconvenience, I'm closing this issue.

[2018-06-07 14:33] #2695 closed

[2018-06-07 14:55] PaulAngus opened #2701 "VXLAN as isolation method when using Advanced networks with security groups is ignored when deploying VMs"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

VXLAN as isolation method when using Advanced networks with security groups

##### OS / ENVIRONMENT

##### SUMMARY

Set up a zone with VXLAN as isolation method when using Advanced networks with security groups

Attempt to deploy a VM

##### STEPS TO REPRODUCE

[code]

##### EXPECT

[2018-06-07 14:56] #2690 closed

[2018-06-07 15:02] dpassante commented on #2685
I'm fine with 4.11.2.0 too.
Thanks! @rhtyd @rafaelweingartner @DaanHoogland

[2018-06-07 15:25] GabrielBrascher opened #2702 "Host State different between 'Hosts' and 'host' perspective"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]
##### SUMMARY
The host has different State, as shown in the following picture:

![kvmhoststate](https://user-images.githubusercontent.com/5025148/41109410-5446fc76-6a4d-11e8-9cf6-4d2889514b60.jpg)

However, both perspectives return State as 'Up' from the `listHost` command.

[code]

##### CLOUDSTACK VERSION

[code]

##### STEPS TO REPRO

[2018-06-07 15:26] rafaelweingartner commented on #2702
Where does the "unsecure" state come from?

[2018-06-07 16:05] GabrielBrascher commented on #2702
I'm am not sure if this is a bug or a desired behavior, but I got confused when saw different states.

In system.js we have:
[code]

[2018-06-07 17:20] rhtyd commented on #2702
This is intentional to show that a connection is Up but not secured by CA cert subsystem. There is a new button for kvm hosts to provision certificate i.e secure that host. If you want we can show Up in parenthesis.

[2018-06-07 18:18] GabrielBrascher commented on #2702
@rhtyd got it, thanks. I am ok with the way it is, but it would be nice to have it documented (I would gladly help on the 4.11.1 documentation as well)

[2018-06-07 18:19] #2702 closed

[2018-06-07 18:20] rafaelweingartner commented on #2702
I think that @rhtyd's suggestion might help. We could use `Up (unsecured)` instead.

[2018-06-07 18:20] GabrielBrascher commented on #2702
`Up (unsecured)` would be perfect!

[2018-06-07 20:01] DaanHoogland commented on #2685
this should have autoclosed with #2686 ????

[2018-06-07 20:01] #2685 closed

[2018-06-08 01:28] #2677 closed

[2018-06-08 01:29] saliven1970 commented on #2677
This is a known issue and is being fixed at #2674

[2018-06-08 07:30] rhtyd commented on #2695
Thanks for sharing @ikoula, perhaps you can test again with 4.11.1.0-rc2 soon.

[2018-06-08 07:44] rhtyd commented on #2698
@DaanHoogland @PaulAngus can you advise/triage this?

[2018-06-08 07:53] DaanHoogland commented on #2698
For my part this is a UI limitation and not a blocker for 4.11.1. If @cocoon leaves us with a patch I am happy to include it, though.

[2018-06-08 08:31] rhtyd commented on #2680
I went ahead and applied @ustcweizhou 's advised fix on your PR @Slair1 /cc @PaulAngus @DaanHoogland

[2018-06-08 09:32] rhtyd commented on #2698
@cocoon I've fixed the UI failure/issue in this PR: https://github.com/apache/cloudstack/pull/2704
However, note that VPC will not work with SG+Adv Zone.
The create VPC form will show up with the fix in the above PR, but the list of zones will be empty (if all the zones have SG enabled).

[2018-06-08 12:19] cocoon commented on #2698
Great thanks, I was just working on something similar, it was still not a fix but it would at least display a Notice and not show the dialog and still throwing the error in the background.
Because if it returns early and displays the Dialog, the Notification-Window is behind the setup dialog.

[code]

[2018-06-08 14:49] DaanHoogland commented on #2680
noticed, lgtm

[2018-06-08 18:42] #2698 closed

[2018-06-08 21:00] Slair1 commented on #2680
@rhtyd @ustcweizhou @DaanHoogland
Actually, thinking about this some more, why are we even creating a SNAT for traffic destined towards a guest network?  Looking at the existing functionality:

[code]

`eth2` is the interface connected to the guest network.  That SNAT doesn't even make sense.  Nothing should have a source address of 10.0.0.0/24 if it is destined to the guest network (10.0.0.0/24).

[2018-06-09 06:53] ustcweizhou commented on #2680
I agree with @Slair1

[2018-06-11 22:05] Slair1 commented on #2680
@rhtyd /cc @ustcweizhou
It looks like that is handled in different code, in configure.py (processStaticNatRule function).  I just did some testing:

Created two Static NATs and made sure the two VMs could reach each other via their public IPs.  That still works fine after this PR.  Below is the SNAT/DNAT rules that were created.  However, it looks like some of the other NAT code needs some love, s

[2018-06-11 22:29] Slair1 commented on #2680
@rhtyd /cc @ustcweizhou

I think you're right @rhtyd, it isn't obvious, but when a guest VM attempts to communicate with another guest VM's public IP, the packet flows into iptables and then hairpins back out.  Without the SNAT in place, the reply from the destination VM would go straight to source VM.  Which breaks any stateful, protocol such as TCP, since the source IP in the reply packet will b

[2018-06-12 07:50] mdesaive opened #2707 "Moving User with API key fails through MySQLIntegrityConstraintViolationException"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The API call "moveUser" on a user with an API key fails with a MySQLIntegrityConstraintViolationException.

Moving a user without API key works perfectly.

Looks to me, as if there is a constraint on mySQL not allowing to have a new user with

[2018-06-12 21:40] Slair1 commented on #2680
@rhtyd /cc @ustcweizhou

It looks like that old SNAT in `CsAddress.py` (before this PR) was allowing the static NATs hair-pinning to work.  However, that seems to only be because the actual static NAT hairpin code in `configure.py` wasn't working correctly because it had `eth0` hard-coded in it instead of dynamic determining the guest network interface.  So, I left our `CsAddress.py` as it (see cu

[2018-06-12 22:28] Slair1 commented on #2680
FYI, my test doesn't have PR #2579 - so i can't be 100% how my changes work without that PR.  Unfortunately my test environment won't be available for a while to do more testing.

[2018-06-13 11:38] jms345 opened #2708 "When using multiple NICs, VM HA does not work if you have configured zone wide NFS."
**ISSUE TYPE**

Bug Report

**COMPONENT NAME**

HA, Storage

**CLOUDSTACK VERSION**

4.11.0

**CONFIGURATION**

Basic networking,  3 NICs,  management, Guest, storage, zone wide NFS storage

**OS /ENVIRONMENT**

CentOS Linux release 7.5.1804 (Core)

**SUMMARY**

When using multiple NICs as described above VM HA does not work if you have configured zone wide NFS.

When the power is disconnected fro

[2018-06-13 14:49] DaanHoogland commented on #2707
thanks @mdesaive

[2018-06-14 07:49] DaanHoogland commented on #2680
did you add your changes to #2681, @Slair1 ? (or anywhere in this repo?)

[2018-06-14 08:38] waza-ari opened #2711 "Storage IP addresses are not released correctly when there are overlapping IP addresses in different ranges"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION
Cloudstack with Basic networking (KVM Hosts) and NFS storage

##### OS / ENVIRONMENT
CentOS/RHEL 6, but not relevant

##### SUMMARY
It looks like the release of storage IP addresses is not working proberly, as the `releaseIpAddress` method of `StorageNetworkIpAddressDaoImpl` does not

[2018-06-14 14:02] Slair1 commented on #2680
@DaanHoogland Yep, changes are in #2681

[2018-06-15 07:00] mdesaive commented on #2707
@DaanHoogland  thanks a lot for taking care of this!

[2018-06-15 09:16] DaanHoogland commented on #2707
welcome @mdesaive care to do a review of the code in return?

[2018-06-15 12:55] mdesaive commented on #2707
Hi @DaanHoogland I did have a look at the code and it looks reasonable to me, although I have no Java Knowledge or IDE on hand. ;) If you like me to review it I can confirm it looks reasonable to me, assuming the following:

I understand the steps to move a user to another account like this:

- create a new user with the neccesary data in the table "user"
- put the foreign key for the destination

[2018-06-15 14:36] DaanHoogland commented on #2707
@mdesaive one of your assumptions is wrong; resources do not belong to users but to accounts, which means that a 'moved' user will loose all of it assets. The reasong for this change was to allow for a configuration change directed by a configured LDAP.

[2018-06-18 13:03] DaanHoogland opened #2713 "blacklist check uses guest.domain.suffix instead of blacklisted.routes"
blacklisted.routes is ignored and guest.domain.suffix used instead. As this is almost always a domainname style of string, it won't be recognised as a CIDR and the check will fail.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[co

[2018-06-19 14:50] PaulAngus commented on #2707
Fixed by PR:
https://github.com/apache/cloudstack/pull/2710

[2018-06-19 14:50] #2707 closed

[2018-06-20 06:55] rhtyd commented on #2680
PR was merged by Daan, closing this manually.

[2018-06-20 06:55] #2680 closed

[2018-06-20 09:58] rafaelweingartner commented on #2708
@jms345 is this still a valid issue? If it is not, we can close it.

[2018-06-20 09:59] rafaelweingartner commented on #2679
@jia3apb this looks some load-balance problem that you are having, and not ACS per se. Can you provide some extra details on your setup and the steps to reproduce the problem?

[2018-06-20 10:00] jms345 commented on #2708
Still valid.

I removed it because of some further testing that complicated things but it
is still a bug as far as I know.

Do you want me to update with details ?

*Jon Marshall *| *Network Engineer*

*Datacentreplus *| 4 Quays Reach | Carolina Way | Manchester | M50 2ZY

T: 0161 4646101

www.datacentreplus.co.uk

[image: dcplogo]

On 20 June 2018 at 10:58, Rafael Weingärtner <notifications@githu

[2018-06-20 10:03] rafaelweingartner commented on #2708
Yes please. Otherwise, someone might close it.

[2018-06-20 10:05] jms345 commented on #2708
TEST

[2018-06-20 10:29] jms345 commented on #2708
updated

*Jon Marshall *| *Network Engineer*

*Datacentreplus *| 4 Quays Reach | Carolina Way | Manchester | M50 2ZY

T: 0161 4646101

www.datacentreplus.co.uk

[image: dcplogo]

On 20 June 2018 at 11:03, Rafael Weingärtner <notifications@github.com>
wrote:

[2018-06-21 03:52] #2647 closed

[2018-06-21 03:52] saliven1970 commented on #2647
Not reproduced

[2018-06-21 09:42] rhtyd opened #2719 "Restarting of non-redundant VPC with private gateway fails sometimes"
See this for reference:
https://github.com/apache/cloudstack/pull/2712
https://github.com/apache/cloudstack/pull/2128

The issue is that a non-redundant VPC VR with private gateway after restart (with cleanup=true) sometimes screws up the nic sequence and the private/guest network nics and private gateway (static routes) ips end on the same interfaces (such as eth2) with eth3 without any nic confi

[2018-06-22 07:23] DaanHoogland commented on #2644
@izenk can you check this in the rc3 for 4.11.1? it should have been solved with #2699

[2018-06-22 08:20] izenk commented on #2644
Sorry, can't.
Just use as private cloud.

[2018-06-22 12:30] DaanHoogland commented on #2644
ok, than you'll have to trust me ;)

[2018-06-25 15:16] Slair1 commented on #2657
Please see PR #2722 and #2472
I agree and created these PRs to address the built-in reboot

[2018-06-26 06:37] jia3apb commented on #2679
Problem was solved by adding **if (isAdmin()){** in cloudStack.js in line 175. Result is:

[code]

It seems like using this API method **listConfigurations** by non-admin user drop the session.

[2018-06-29 03:43] bwsw opened #2724 "Service Offering Sorting is broken in UI"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
UI

##### CLOUDSTACK VERSION
4.11.1

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
Trying to order Compute service offerings in UI, but the result is the same as before sorting. UI controls allow moving offerings against each other, including drag and drop way, but after page reload they are still in the same order as

[2018-06-29 04:52] bwsw commented on #2724
Later investigation has shown that it also broke in Templates/ISO sorting order.

[2018-06-29 12:54] fmaximus opened #2725 "Version Update has corrupted some files"
##### ISSUE TYPE

 Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Maven build fails to build marvin: tools/marvin/setup.py is corrupt.

Some other pom files are corrupt.

##### STEPS TO REPRODUCE

Build RPM's

[code]

##### EXPECTED RESULTS

Build Succeeds

##### ACTUAL RESULTS

RPM Build failed

[code]

[2018-07-03 18:44] dhlaluku commented on #2525
@resmo if I understand correctly, you would like the listVirtualMachines API to include the resource details tag in its response?

[2018-07-03 18:48] dhlaluku commented on #2527
@resmo I can confirm this behavior.

@DaanHoogland @rhtyd I will work on a fix for this and create a PR.

[2018-07-03 18:48] resmo commented on #2525
yes, I would prefer the API to return the details as well.

[2018-07-03 18:53] dhlaluku commented on #2525
@resmo thanks, I will have a look and update the API response with this tag.

/CC @DaanHoogland @rhtyd

[2018-07-03 19:02] DaanHoogland commented on #2525
sound cool @dhlaluku

[2018-07-05 00:19] NaingThuraKyaw opened #2729 "Cloudstack development source code repo not found"
##### ISSUE TYPE

 * Other

##### SUMMARY

Git repo not found

##### STEPS TO REPRODUCE

1. Go to https://github.com/apache/cloudstack/blob/master/INSTALL.md
2. There is a link namely "[Setting up development environment](https://cwiki.apache.org/confluence/display/CLOUDSTACK/Setting+up+CloudStack+Development+Environment)"
3. There is another link namely "[Using Eclipse With CloudStack](https://cw

[2018-07-05 03:30] bwsw opened #2730 "Uploaded Volume cannot be attached to VM with local storage"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME
API

##### CLOUDSTACK VERSION
4.11.1

[code]

##### CONFIGURATION

4.11.1, KVM+Local Storage, NFS Secondary Storage

##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
When a volume is uploaded to CloudStack it cannot be attached to a VM with local storage with a error. Checking agent node, I don't even see a specific mount for that NFS volume

[2018-07-05 07:33] DaanHoogland commented on #2729
the actual upstream is https://gitbox.apache.org/repos/asf/cloudstack.git but either should work. As for a PR i suggest you use the apache site and not this repo if you create one (they have found this one anyway)

[2018-07-05 07:38] DaanHoogland commented on #2729
just checked the INSTALL.md and it contains the right link (https://gitbox.apache.org/repos/asf/cloudstack.git). Where did you encounter that old link?

[2018-07-05 07:43] DaanHoogland commented on #2729
ok @NaingThuraKyaw , I found the link and updated it, thanks. closing this ticket now.

[2018-07-05 07:43] #2729 closed

[2018-07-06 21:41] resmo opened #2733 "invalid consoleproxy domain after upgrade from 4.5 to 4.11.1"
Avoid a pitfall after upgrade from 4.5 to 4.11 using invalid domain with `*` for console proxy url

##### ISSUE TYPE

 * Bug Report
 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When used a setting in 4.5 for consoleproxy.url.domain with `*` which got transformed to the "console IP with

[2018-07-07 16:28] resmo opened #2735 "API break in pod responses"
While testing 4.11 with ansible integration tests, I noticed an unexpected change in the types of the responses for pods. the `startip` `endip`,`vlanid` return type changed from string to list as well as `forsystemvms` doesn't look that is should be a list.

This is a undocumented (unexpected) API change and breaks clients (ansible)

related to #2048 and https://github.com/apache/cloudstack/pull/2

[2018-07-07 22:03] resmo commented on #2700
This has been addressed in #2727

closing?

[2018-07-08 13:42] rhtyd commented on #2700
@resmo we've only bumped and added support for the v6.7 sdk but we could n't get it (smoke) tested against vsphere vcenter 6.7 version.

[2018-07-09 13:21] borisstoyanov opened #2736 "If a VM resource is requested to transition in a state where it's already in, it returns success, instead it should return 'the resource is in the same state'"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

If a VM is already running on HostA and the Admin requests a Start on HostB, it will return a success with the VM being started on HostA. Instead it should return an error to the administrator that the resource is already in running state.

##### STEPS TO REPRODUCE

1. Start a VM on Host

[2018-07-10 13:37] borisstoyanov opened #2737 "cannot login when upgrade to 4.12"
##### ISSUE TYPE

 * Bug Report
 * Blocker

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Upgrade seems broken, on clean install works fine

##### OS / ENVIRONMENT

n/a

##### SUMMARY

When trying to login to management console cloudstack does not let me in but prompts the following in logs:

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[

[2018-07-10 14:00] borisstoyanov commented on #2737
I've cleared browsers cache and it went away. It was related to stale session or something, what keeps me wondering is why I haven't seen this by now..

[2018-07-10 14:04] borisstoyanov commented on #2737
ok, closing this for now. thanks @rafaelweingartner

[2018-07-10 14:04] #2737 closed

[2018-07-11 14:31] nvazquez opened #2740 "Potential mismatch on guest OS - hypervisor mappings on upgrades"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Current support for new guest OS takes place on the upgrade scripts:
- New guest OS are introduced by inserting entries on `guest_os` table with a hardcoded ID.
- Hypervisor support for each guest OS are introduced by inserting entries on

[2018-07-11 22:09] DaanHoogland commented on #2736
I would argue that the expected behaviour is a migration to host B but agree that the endstate does not qualify as a success. Do you request that this is implemented as failure result, @borisstoyanov ?

[2018-07-12 08:07] borisstoyanov opened #2741 "QuickView on DiskOfferings not showing actions"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

When selecting the quick view on a disk offering the actions are not displayed and the user needs to click on the offering and operate through there. Please note that on service offerings this is working, so mush be something related to disk offerings

##### STEPS TO REPRODUCE

[code]

#

[2018-07-12 08:45] resmo opened #2742 "VPC offerings not sortable"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

VPC offerings UI offers to sort the VPC offerings. VPC offerings order is not stored anyware. The api does not support ordering due missing sortkey param (https://cloudstack.apache.org/api/apidocs-4.11/apis/updateVPCOffering

[2018-07-12 08:51] borisstoyanov commented on #2736
Yes @DaanHoogland, I do believe that it should return a failure if cloudstack is not able to execute the request with all required parameters.

[2018-07-16 13:22] Jamlee opened #2744 "Could i set fixed mgmt_server_id ?"
##### ISSUE TYPE
 Bug Report

##### COMPONENT NAME
management server

##### CLOUDSTACK VERSION
4.11

##### OS / ENVIRONMENT
`ubuntu + docker + cloudstack`

##### SUMMARY
when i install cloudstack and  docker on same virtual machine, it grab the `docker0 bridge mac address` as a mgmt_server_id. but the **docker0 mac address changed  sometimes**. So Could i set a fixed interface for cloudstack to gr

[2018-07-16 15:03] resmo opened #2745 "allow passwordenabled for ISO"
##### ISSUE TYPE

Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

 N/A

##### OS / ENVIRONMENT

 N/A

##### SUMMARY

allow passwordenabled for ISO. If you have a custom ISO, it could have this feature implemented.

[2018-07-16 16:26] tfbb opened #2746 "missing items in instance list"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME
[code]
##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY

sorting the instance list in the web gui makes instances disappear, scrolling the list down & up again brings them back

##### STEPS TO REPRODUCE
in the web gui:
1. click on instances and have a list with instances that won't fit on

[2018-07-19 08:14] borisstoyanov opened #2753 "provisionCertificate api returns NPE when 'reconnect' parameter is used."
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

When executing the provisionCertificate api with reconnect parameter a NPE appears

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2018-07-19 13:15] dhlaluku commented on #2753
Fix provided in PR: https://github.com/apache/cloudstack/pull/2756

[2018-07-20 07:05] #2753 closed

[2018-07-20 13:18] borisstoyanov opened #2758 "storage_pool_details overprovisioning settings are being picked up as a tag"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

When user uses the updateConfiguration api:
[code]
Cloudstack api creates a record in the storage_pool_details table looking like that:
[code]
At this point if you try to migrate a volume and change it's disk offering, it fails with

[code]

Which makes me think that cloudstack thinks th

[2018-07-20 13:29] rafaelweingartner commented on #2758
That is what I am fixing with this PR https://github.com/apache/cloudstack/pull/2636.

When I first implemented this tag checking, it was not consistent.

[2018-07-20 13:42] borisstoyanov commented on #2758
thanks @rafaelweingartner

[2018-07-23 08:43] smeetsr opened #2759 "configdrive on Vmware fails with invalid ISO path info - ssvm dir ConfigDrive changed to configdrive"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]
##### CLOUDSTACK VERSION
[code]
##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
[code]
##### SUMMARY
[code]
##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS
[code]
##### ACTUAL RESULTS
[code]

[2018-07-23 09:29] dpassante opened #2760 "SystemVMs running in Xen HVM mode are not configured"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

* Cloudstack 4.11.1
* XenServer 7.1.1
* SystemVM 4.11.1 Fri Jun 22 07:52:17 UTC 2018 running in HVM mode

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Newly created system VMs are not configured.

Related to #2561

virt-what cpuid helper detects Xen HVM guests with viridian extensio

[2018-07-24 07:16] borisstoyanov opened #2763 "Host is still unsecured when provisionCertificate api is called"
##### SUMMARY

When provisionCertificate api is executed the host ends up in unsecured state, instead should be secured

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

ca.framework.cert.automatic.renewal = true
ca.plugin.root.allow.expired.cert = true
ca.plugin.root.auth.strictness = false

##### OS / ENVIRONMENT

NA

##### STE

[2018-07-24 07:37] borisstoyanov commented on #2763
ping @rhtyd and @dhlaluku. Could this be related to these changes: #2756

[2018-07-24 07:54] dhlaluku commented on #2763
@borisstoyanov I do not think so, that small fix that I did was for the NPE issue. The VM lifecycle tests have already been failing before and I think it might be due to regressions in provisionCertificate API itself that need looking into. Perhaps @rhtyd can help us here since he authored the Secure live migration feature.

[2018-07-24 12:20] #2644 closed

[2018-07-25 08:25] borisstoyanov opened #2768 "HTML code displayed in Setup Network wizard when adding zone"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### SUMMARY

Some HTML code displayed in description

##### STEPS TO REPRODUCE
[code]
![screen shot 2018-07-25 at 11 20 36](https://user-images.githubusercontent.com/13551960/43188613-37e40666-8ffd-11e8-822c-7f0377e5e8ab.png)

[2018-07-25 17:45] khos2ow opened #2770 "Followup 2613: Re-enable PMD in enablefindbugs profile"
Following up after #2613 we need to assess how to re-enable PMD plugin in `enablefindbugs` profile. We had some issue with Jenkins's agent going offline because of the huge number of problem the plugins was finding. [reference](https://issues.jenkins-ci.org/browse/JENKINS-46641)

[2018-07-25 18:02] khos2ow opened #2771 "Followup 2613: remove buildw profile and tools/wix-cloudstack-maven-plugin"
Following up after #2613 we, technically, don't need `buildw` profile and eventually `tools/wix-cloudstack-maven-plugin`. This will be discussed here on and on the ML to see if there's anyone actually uses Windows to build or any other form.

[2018-07-25 18:06] khos2ow opened #2772 "Followup 2613: remove services/iam project"
Following up after #2613 `services/iam` project is obsolete and has been disabled since ba84808, and technically it should be removed. This will be discussed here on and on the ML to see if there's anyone wants to revive/maintain this.

[2018-07-26 07:21] #2763 closed

[2018-07-26 07:34] #2733 closed

[2018-07-26 08:47] DaanHoogland opened #2774 "NPE in isOnVolumeManagedStorage() leads to not being able to extract volumes"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

In a mixed environment with several advanced zones, extracting a volume failed due to the storage motion strategy org.apache.cloudstack.storage.motion.StorageSystemDataMotionStrategy.canHandle(src,dest) throwing a NullPointerException. root cause is the isVolumeOnManagedStorage() a

[2018-07-27 00:45] bennysp opened #2777 "Cannot add new host with bonded interface."
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

1 server (using quicksetup)

##### OS / ENVIRONMENT

CentOS Linux release 7.5.1804 (Core)

##### SUMMARY

When I am going through the Setup Wizard, it gets to the host install/setup and fails.  When I check the agent setup log, this is what I see.

[code]

##### STEPS TO REPRODUCE

[2018-07-27 01:17] bennysp commented on #2777
I changed to a single interface and I still see issues...

[code]

[2018-07-27 03:37] bennysp commented on #2777
Well, I reinstalled the OS and did this all from scratch... Doesn't look like a "bond" issue, since I continue to get the same issue regardless.

Please help.

[2018-07-28 18:40] bennysp commented on #2777
For anyone else that has had trouble with this error on Centos 7, here is what I ultimately ended up doing to get past this issue.

`yum install epel-release -y`
`yum update -y`
`yum install python-pip -y`
`pip install ifcfg`
`yum install openvswitch.x86_64 openvswitch-controller.x86_64 -y`

I then did the following changes in the networkConfig.py (change the extension back to .py) and replace the

[2018-07-29 15:32] DaanHoogland commented on #2777
@bennysp can you open a PR so we can easily review your changes to networkConfig.py?

[2018-07-29 20:43] bennysp commented on #2777
Done @DaanHoogland.  First time really formally committing back, so apologies if I haven't followed the guidelines well. :(

Also, I have updated the **[shapeblue/cloudstack-ansible](https://github.com/shapeblue/cloudstack-ansible)** that incorporates these changes, plus the steps in the quickstart guide into the ansible setup. I will PR there once I am ready, but thought I would let you know for

[2018-07-31 08:57] DaanHoogland opened #2780 "nw_rate from system offering is not honoured"
ACS 4.11.1 no longer honours nw_rate from system offering when creating VRs. In 4.9(.2) one could create a system offering with a different network rate to differentiate between types of networks. In 4.11.1 one needs to create a network offering and thus a separate VPC offering for instance to control network rate.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VE

[2018-08-01 11:07] #2759 closed

[2018-08-02 10:04] marcowi opened #2783 "Migrating router with public interface fails"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Both hosts have identical configuration:
cloudbr0   - private
cloudbr1   - storage
cloudbr2   - guest (VLAN 2101)
cloudbr3   - public (VLAN 99)

##### OS / ENVIRONMENT

##### SUMMARY

Migrating a virtual router from one host to another results in error "org.libvirt.LibvirtException

[2018-08-03 16:32] rhtyd opened #2789 "Incorrect routing behaviour for link-local interface seen in XenServer/VPC VR"
VPC VR on XenServer (7.0) fails to start after changing of system offering for the router. On investigation it was found that packets in the VR for eth0 (link-local interface) get routed to eth1 instead of eth0. This is due to incorrect eth1 routing table rules in `Table_eth0` in the VR, the current workaround is to: (1) use a system/router offering as part of the vpc/network offering so admin don

[2018-08-06 11:18] rhtyd commented on #2780
Per the docs, this is not an issue: http://docs.cloudstack.apache.org/projects/cloudstack-administration/en/4.11/service_offerings.html#network-throttling
I'll close this based on the behaviour from above documentation, please re-open if we don't agree.

[2018-08-06 11:18] #2780 closed

[2018-08-08 06:51] #2789 closed

[2018-08-10 13:52] resmo opened #2797 "updatePod does not update start/end IPs"
I noticed an API break in 4.11 in which updatePod does not update the start and end IPs, introduced by #2048?

Also see #2735

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

##### STEPS TO REPRODUCE

[code]
update the startip

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL

[2018-08-13 16:19] csquire opened #2801 "Prometheus integration: requiring allowed ips is too restrictive"
##### ISSUE TYPE
 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Only allowing whitelists of ips for Prometheus is too restrictive.  Should either have a flag to allow all ips or the ability to whitelist a CIDR block. For example, I run Prometheus in Kubernetes and would want to whitelist all the K8

[2018-08-13 16:36] csquire opened #2802 "Make allowed ports for registerTemplate api configurable"
##### ISSUE TYPE

 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Currently, Cloudstack restricts urls for registerTemplate to a small set of ports.  Would be nice to make this configurable to allow an admin to configure the allowed ports.  In my case, I have a server listening on 8081 which I do no

[2018-08-13 17:25] PaulAngus commented on #2575
i *think* that the issue is with <br/><br/>
<br/> is pure XHTML, we should ether use HTML <br> or the hybrid which would be <br />  (with a space).

There are a few of these <br/><br/> knocking around, and the output depends on whether the browser can figure it out for itself or not (it renders ok for me using Chrome on Windows).

cc @rhtyd

[2018-08-14 08:09] rhtyd commented on #2758
@borisstoyanov can check if the issue is resolved with Rafaels' #2636 ?

[2018-08-14 09:13] raymonvdm opened #2804 "Upgrade issue 4.10.0 to 4.11.0"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

[code]

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2018-08-14 09:28] raymonvdm commented on #2804
Seems that i forgot this perform this fix in the many attempts to get this fixed

https://markmail.org/message/f42kqr3mx4r4hgih

[2018-08-14 10:26] rafaelweingartner commented on #2802
@csquire can you post here the screenshot of the error? Or, maybe the log entries with the exception? Or the error message  you received in the client side?

[2018-08-14 13:56] lhmachado opened #2805 "Start timeout - Virtual router"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

When the virtual router has many machines on its network, in the order of magnitude of 20 or 30, it does not rise due to a command that takes too long in its scripts.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[

[2018-08-14 15:52] csquire commented on #2802
@rafaelweingartner Yeah, it returns a 403 and shows `Forbidden` in a browser. The behavior is intentional, it's not a bug per se.

Offending code is here:
https://github.com/apache/cloudstack/blob/master/plugins/integrations/prometheus/src/main/java/org/apache/cloudstack/metrics/PrometheusExporterServerImpl.java#L51-L59

[2018-08-14 15:54] rafaelweingartner commented on #2802
I am confused now. Are you talking about the code that register templates or the code that handles Prometheus integration?

[2018-08-14 16:00] csquire commented on #2802
Sorry, last comment was posted in the wrong issue, I deleted it.

You just get an error back that your port is not allowed `Only ports 80, 8080 and 443 are allowed`

https://github.com/apache/cloudstack/blob/master/utils/src/main/java/com/cloud/utils/UriUtils.java#L267-L270

[2018-08-15 00:28] nvazquez commented on #2701
@rhtyd yes, it does

[2018-08-15 09:30] PaulAngus commented on #2625
@izenk  I assume that you've looked tried the options suggested by Microsoft.

https://support.office.com/en-us/article/how-to-set-up-a-multifunction-device-or-application-to-send-email-using-office-365-69f58e99-c550-4274-ad18-c805d654b4c4

I'll mark this ticket as a feature request/enhancement for now as it is additional functionality that you  are requiring.

[2018-08-15 11:58] izenk commented on #2625
@PaulAngus if you assumes local mail relay option - yes I implemented it.

[2018-08-15 19:42] PaulAngus commented on #2575
@ernjvr has a fix, PR will be coming along fairly soon

[2018-08-16 12:26] rhtyd commented on #2701
Closing, fixed in #2693

[2018-08-16 12:26] #2701 closed

[2018-08-16 12:29] rhtyd commented on #2804
Thanks @raymonvdm for verifying, I was going to add that you need to register the 4.11 systemvmtemplate before upgrading. Also, please test/upgrade to 4.11.1.0 instead of 4.11.0.0. Wrt console proxy, you'll need to destroy old ones and let the new ones communicate with mgmt server. Please go through the release notes.

Closing this as the initially main reported issue is not an issue.

[2018-08-16 12:29] #2804 closed

[2018-08-16 12:31] rhtyd commented on #2801
This is by design @csquire. You don't want any IP to be able to see/export the metrics of your datacenter(s).

[2018-08-16 12:32] rhtyd commented on #2783
Do you have bonded nics on the destination host? @marcowi what are the names of your private, public and guest network devices of the kvm hosts (as configured in agent.properties)?

[2018-08-16 12:33] rhtyd commented on #2772
@khos2ow feel free to send a PR to master

[2018-08-16 12:34] rhtyd commented on #2760
@dpassante the only difference between how xen-domU and xen are used by the systemvm is wrt the way of getting an initial cmdline. Otherwise, there is no difference. Are you able to see systemvms come up or are they failing?

[2018-08-16 13:26] PaulAngus commented on #2730
I've replicated the issue.
Trace log attached.
CloudStack DB queries look for storage scoped to CLUSTER and ZONE level but not HOST
therefore do not find local storage pools
[failure log.txt](https://github.com/apache/cloudstack/files/2293809/failure.log.txt)

I suspect that the regression was caused by https://github.com/apache/cloudstack/pull/2425

[2018-08-16 14:51] DaanHoogland commented on #2730
@bwsw it seems to work as expected but maybe not with as clear an error message as you would want/expect. You probably did not grant the volume a disk-offering with local-storage enabled. If you create a disk offering with local storage and assign that to your uploaded volume it should work.
@PaulAngus maybe we should call in the troops to discuss further; like @rafaelweingartner and maybe @wido ?

[2018-08-16 14:52] rafaelweingartner commented on #2730
Great idea, I already added this to my list. I will test this in the next coming days

[2018-08-16 15:33] marcowi commented on #2783
Yes, they are bonded on every host and the hosts are identical in hard- and software.

agent.properties:
private.network.device=cloudbr0
public.network.device=cloudbr3
guest.network.device=cloudbr2

[2018-08-16 16:05] bwsw commented on #2730
@DaanHoogland may be you are right. Try to do that way. You know there are some problems with local data volumes which are not addressed: e.g. one can create data volume without specifying VMID and if that volume is created on another local storage than where BM resides, then it can not be attached, because local storage data vols are not migrated. But, it indeed,impossible to specify VMID in nati

[2018-08-16 16:27] PaulAngus commented on #2730
@bwsw - I'll close this ticket. Can you create new tickets for each of the other issues that you have discovered.

[2018-08-16 16:27] #2730 closed

[2018-08-17 11:49] robisonjoel commented on #2801
@rhtyd In enterprises with such security concerns would there not also be network ACL's that would prevent access to whatever would be deemed critical data by that company?   Folks who are using prometheus to monitor Cloudstack are likely running prometheus in an fairly ephemeral environment like Kubernetes or Rancher where guaranteeing an egress IP can be somewhat of an antipattern.

[2018-08-17 13:03] ernjvr commented on #2575
Please review fix: https://github.com/apache/cloudstack/pull/2814

[2018-08-17 13:50] PaulAngus commented on #2777
@bennysp - CloudStack allows you to bond interfaces, but you still have to set up a bridge on top of that.
in the same way that if you don't have a bond, you still have to create a bridge on top of the interfaces.

[2018-08-17 13:56] #2777 closed

[2018-08-20 08:06] #2575 closed

[2018-08-20 10:00] rhtyd commented on #2783
@PaulAngus @DagSonsteboSB any comments on this?

[2018-08-20 10:01] rhtyd commented on #2760
ping @dpassante based on the comment above I'll remove this from 4.11.2.0 milestone, if you can reply and share any suggestive fix we can help with reviewing and testing of a fix.

[2018-08-20 14:10] PaulAngus commented on #2805
@lhmachado - is this 4.11.0.0 or 4.11.1.0 ?

I've created 40 VMs on a network (4.11.1.0) and restarted it with (with cleanup) no problem.

[2018-08-20 14:26] bwsw commented on #2805
I saw that problem. Default command  timeout should be increased. It helped me to solve that.

[2018-08-20 14:58] lhmachado commented on #2805
@PaulAngus , the version with this problem was 4.11.0.0.
But the real problem was arping command in virtual-router was called anyway on python code.
Maybe on 4.11.1.0 default command have a different timeout like @bwsw said.

on file: merge.py
line 239, in this code : "dp['gateway'] ='None' ''

later on CsAddress.py line 303

if 'gateway' in self.address:
                self.arpPing()

This strin

[2018-08-20 21:11] khos2ow commented on #2772
sure.

[2018-08-21 07:56] DaanHoogland commented on #2805
@lhmachado 'None' and None should be two different things and unless evaluated 'None' should not be in self.address. I think you are solving the wrong bug. Am I making any sense?

[2018-08-21 10:26] rhtyd commented on #2575
4.11.2.0 PR: https://github.com/apache/cloudstack/pull/2815

[2018-08-21 13:38] lhmachado commented on #2805
@DaanHoogland I agree with you.

the code with 'None'  (String with value None), is wrong, beacause makes arping called in any situation on if steatment with value 'None'.
The result in bash is :
 $ "arping .... None"
this command takes at least 1 minute to run (peer VM configured on router), so in a cenario then we have a lot of VM's in the same network, eventually we receive a failure on router

[2018-08-21 15:17] PaulAngus commented on #2783
how are you assigning these vlans (99 and 2101) ?  as you have a public, this suggests advanced networking. the way have written you configuration suggest to me that you have hardcoded these VLANs on the hosts.   for advanced networking, this should not be the case.  They should be connected to trunked switch ports, and CloudStack allowed to apply the tags.  This sounds like CloudStack is now tryi

[2018-08-21 15:59] marcowi commented on #2783
It is advanced networking and the 99 is configured in Home>Infrastructure>Zones>myzone>eno5>Public as vlan://99 for the range of public IPs.
The 2101 is taken out of the vlan-range configured in Home>Infrastructure>Zones>myzone>eno4>Guest

If you mean hard coded in term of configuring it on the host itself then no, they are not.

[2018-08-21 18:20] DagSonsteboSB commented on #2783
@marcowi - how are the bonds configured on your host? I.e. what are the names? Can you do a "brctl show" on your KVM host and send the output?

I suspect this has to do with the underlying bond naming - CloudStack only has a limited list of terms it looks for - and if your bonds are called "brbondXXX" then this would not be included. To my knowledge the list is as follows:
https://github.com/apach

[2018-08-21 18:38] marcowi commented on #2783
You are probably right @DagSonsteboSB
This is what brctl show outputs
`bridge name	bridge id		STP enabled	interfaces
brbond2-2101		8000.40f2e9266694	no		bond2.2101
							vnet5
							vnet6
							vnet7
							vnet8
							vnet9
brbond3-99		8000.40f2e9266695	no		bond3.99
							vnet2
							vnet4
cloud0		8000.fe00a9fe02aa	no		vnet0
							vnet3
cloudbr0		8000.40f2e9266692	no		bond0
							vnet1
cl

[2018-08-21 19:37] DagSonsteboSB commented on #2783
@marcowi your setup actually looks OK - your bridges all backed by devices named "bondXX" which should be OK.  Just spun up the following and got the same "brbondXX" as you.

[root@C7KVM3 ~]# brctl show
bridge name	bridge id		STP enabled	interfaces
brbond1-512		8000.061a74000927	no		bond1.512
							vnet0
							vnet3
brbond1-7		8000.061a74000927	no		bond1.7
							vnet2
cloud0		8000.fe00a9fe016a

[2018-08-23 15:07] izenk opened #2820 "template downloading fails"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

ADVANCED NETWORKING

##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708

##### SUMMARY

When trying to add template from UI, uploading process fails with error: Stream closed

May be important:
template size is 104 GB
template format is RAW

##### STEPS TO REPRODUCE

**UI**
Temp

[2018-08-23 15:12] izenk commented on #2820
Web server from template download is going has no errors.

[2018-08-23 15:13] marcowi commented on #2783
Any suggestions on how to proceed?

[2018-08-26 22:02] resmo opened #2821 "Template APIs should return requireshvm"
##### ISSUE TYPE

 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### SUMMARY

It seems no API is returning the value of `requrieshvm`.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2018-08-27 08:03] borisstoyanov commented on #2758
@rhtyd yes, smoketests are passing

[2018-08-27 09:29] borisstoyanov commented on #2758
yes, closing now. Thanks @rhtyd

[2018-08-27 09:29] #2758 closed

[2018-08-27 10:58] rhtyd commented on #2679
@jia3apb can you send a pull request against 4.11 branch?

[2018-08-27 10:59] rhtyd commented on #2700
@resmo can you test latest 4.11 branch and confirm if it works with Vmware 6.7?

[2018-08-27 11:29] resmo commented on #2700
@rhtyd we only have vsphere 6.5 in test

[2018-08-27 11:53] resmo opened #2822 "create/updateTemplate does not allow to set/change sshkeyenabled"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

`sshkeyenabled` is only available for registerTemplate. I don't see a reason for this limitation.

##### STEPS TO REPRODUCE
see docs in http://cloudstack.apache.org/api/apidocs-4.11/apis/createTemplate.html

##### EXPECTED R

[2018-08-27 16:25] resmo opened #2823 "api: project: tag: User not allowed to tag project created by him"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

##### STEPS TO REPRODUCE

in the UI:
- log in as a user type
- create a project
- tag the new created project

also reproducible by ansible
[code]

##### EXPECTED RESULTS

[code]

[code]

##### ACTUAL RESULTS

[code]

[2018-08-28 08:40] dpassante commented on #2760
@rhtyd the systemvms are booting but not configured as the PV-ARGs are not present in /proc/cmdline.

The easy way to fix is to do not rely on virt-what for Xen guests and move lines 44-52 to the beginning of the ```hypervisior()``` function.

I'll also share the fix that is currently running on my environments.

[2018-08-28 10:28] #2805 closed

[2018-08-30 10:10] rhtyd opened #2830 "UI: Overlay issue in snapshot view on master with new jquery and other changes"
Go to volumes -> select a volume -> click on the recurring snapshot button -> it shows up like this:
![screenshot from 2018-08-30 15-36-48](https://user-images.githubusercontent.com/95203/44845337-e4352880-ac6a-11e8-97ae-a65c4b05459e.png)

The env is based on master, no sure if it's already fixed. /cc @rafaelweingartner

##### ISSUE TYPE

 * Bug Report
 * Improvement Request
 * Enhancement Request

[2018-08-30 10:40] glennwagner opened #2831 "Volume snapshot recurring schedule not showing once added"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced Networking
Two Zones
Primary Storage: VMFS Datastores
Secondary Storage: NFS Servers
16 Vmware ESXi Hosts
2 XenServer Hosts

##### OS / ENVIRONMENT

Management Servers: CentOS Linux release 7.5.1804 (Core)
Hypervisor: VMware vSphere 6.5
XenServer 6.2 SP1

##### SUMMARY

Wh

[2018-08-31 14:21] cocoon opened #2834 "Add XCP-NG 7.5 support for 4.11.2"
##### ISSUE TYPE
 * Improvement Request

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### SUMMARY
Add support for released XCP-NG 7.5
https://xcp-ng.org/download/

##### STEPS TO REPRODUCE

Here is already prepared to add XenServer 7.5:
[systemvmtemplate: new 4.11.2 template and fixes #2799](https://github.com/apache/cloudstack/pull/2799/files#diff-8e19845d82b0e68ea9a2dcaf58d70a

[2018-08-31 22:29] rafaelweingartner commented on #2830
Thanks for spotting that. I have just create the PR to fix it.

[2018-09-05 11:13] ernjvr commented on #2831
fix https://github.com/apache/cloudstack/pull/2836

[2018-09-06 11:41] resmo opened #2837 "NPE while VolumeOrchestrator does a storage cleanup for vm"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

VMware, Zone wide primary storage

##### SUMMARY

We see a stracktrace for a DestoryVM command of a running VM marked to run on a host having a removed date. We didn't find the reason of this constellation. However, the NPE should be avoided.

##### STE

[2018-09-06 14:00] #2837 closed

[2018-09-07 10:46] #2760 closed

[2018-09-07 10:46] #2831 closed

[2018-09-07 10:56] rhtyd commented on #2834
Added upgrade path here for 4.11.2.0 to add support for XS 7.5 which also adds supports for XCP-NG 7.5: https://github.com/apache/cloudstack/pull/2799/commits/5746d3d0501e65df68874dfad1df10362a445cd6

[2018-09-07 13:21] resmo opened #2838 "BLOCKER: 4.11.1: VMware: VM start fails with ArrayIndexOutOfBoundsException"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

VMware 5.5

##### SUMMARY

Upgraded ACS from 4.5.x to 4.11.1. Some existing VMs which we could stop/start under 4.5 can no longer be started with cloudstack after stopping. After rollback to 4.5, the VM can be started again with cloudstack. The VM is quite "

[2018-09-07 16:39] rhtyd commented on #2838
Can you share the stack trace @resmo? After the upgrade, does it happen with all old VMs and are you deploy a new VM post upgrade, stop and start it?

[2018-09-11 13:16] #2830 closed

[2018-09-11 14:03] resmo commented on #2838
We traced down the issue to

[code]

[2018-09-11 14:57] resmo commented on #2838
added the reproducible steps

[2018-09-11 16:06] #2772 closed

[2018-09-12 06:55] resmo commented on #2744
This is not a bug, please head over to the mailing lists for questions: http://cloudstack.apache.org/mailing-lists.html

Thanks

[2018-09-12 06:55] #2744 closed

[2018-09-12 09:13] #2834 closed

[2018-09-12 11:09] izenk commented on #2820
After upgrading to 4.11.1 problem still exists
log level to DEBUG didn't add any new info - just 'Stream closed' - this is some kind of general message from java library during http connection.
Problems exists only for uploading RAW images. qcow2 are uploaded normally,

[2018-09-12 21:47] csquire opened #2842 "listApis command returns inconsistent results"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

API throttling is enabled with default throttling of 25 requests per second

##### OS / ENVIRONMENT

##### SUMMARY

Users reported that they weren't getting all apis listed in cloudmonkey when running a `sync`. After some debugging, I found that the problem is that the `ApiDiscover

[2018-09-13 10:24] izenk opened #2843 "link Domain to LDAP exception"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
Advanced networking

##### OS / ENVIRONMENT
CentOS Linux release 7.4.1708

##### SUMMARY
Functionality: **link Domain to LDAP**
LDAP settings are configured
CloudStack see ldap and I can add users through 'Add LDAP account'
LDAP users can login

##### STEPS TO REPRODUCE
Create Domain -

[2018-09-13 13:38] DaanHoogland commented on #2843
@izenk I have not reproduced it, but I might have missed your point; did you enter the basedn on global level or not at all?

[2018-09-13 13:39] izenk commented on #2843
@DaanHoogland
basedn is set on global level

[2018-09-13 13:44] izenk commented on #2843
this is SQL request (from management TRACE log):
[code]

[2018-09-13 13:59] DaanHoogland commented on #2843
I linked the domain to ldap without any of the basedn set, using head of the 4.11 branch, can you check that?

[2018-09-13 14:09] izenk commented on #2843
@DaanHoogland
sorry, can't test

By error message I founded src here (**can not link a domain unless a basedn is configured for it**):
[code]

[code]

I upgraded cloudstack installation from 4.11.0 through yum REPO (http://cloudstack.apt-get.eu/centos/$releasever/4.11/)

[2018-09-13 14:49] DaanHoogland commented on #2843
ok @izenk, i'll try your scenario on 4.11.1 and see if there is a difference.

[2018-09-14 08:29] rhtyd commented on #2838
PR merged, closing.

[2018-09-14 08:29] #2838 closed

[2018-09-14 09:08] rhtyd opened #2844 "When KVM hypervisor is selected in template registration don't show XS tools version option"
When KVM hypervisor is selected in template registration don't show XS tools version option:

![pastedgraphic-1](https://user-images.githubusercontent.com/95203/45541086-b1269380-b82b-11e8-9fee-28da58a9dfc4.png)

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[c

[2018-09-17 09:07] DaanHoogland commented on #2843
I can confirm this behabviour is different in 4.11.1 than 4.11-head. It's solved along the way after releasing 4.11.1. please wait for this till 4.11.2 comes out (and help testing that release ;)

[2018-09-17 09:07] #2843 closed

[2018-09-17 10:56] rhtyd commented on #2844
Looks like already fixed - https://github.com/apache/cloudstack/pull/2757 @ernjvr @PaulAngus to comment/verify

[2018-09-17 11:04] ernjvr commented on #2844
Yes, 'Origin XS version is 6.1+' no longer shows for KVM option

[2018-09-17 11:04] rhtyd commented on #2844
Thanks @ernjvr closing on your remark.

[2018-09-17 11:04] #2844 closed

[2018-09-17 15:29] resmo opened #2845 "VirtualMachinePowerStateSync: New VR not covered in missing VM report"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

If a new VR in starting state is missing, cloudstack does not handle the `PowerReportMissing` correctly. Due the fact that the `power_state_update_time` for new VRs is null, the fallback is to use the current time. However, as a resu

[2018-09-18 06:05] rhtyd commented on #2845
PR merged, closing.

[2018-09-18 06:05] #2845 closed

[2018-09-18 10:55] rhtyd commented on #2771
Go go go!

[2018-09-18 10:58] rhtyd commented on #2684
There were several fixes in 4.11, please test in 4.11 and advise how to reproduce @GabrielBrascher @Overv. Thanks.

[2018-09-18 14:36] resmo commented on #2845
@rhtyd no need to close issues manually, see https://help.github.com/articles/closing-issues-using-keywords/

[2018-09-18 15:11] rhtyd commented on #2845
@resmo I just wanted the issue closed from the milestones perspective so closed it manually. Also, github does not close an issue unless the commit lands master irrespective of PR merge.

[2018-09-18 15:50] resmo commented on #2845
@rhtyd never mind, just wanted to let you know github has some magic in it ;)

[2018-09-18 23:44] krissterckx opened #2851 "migrateNetwork API doesn't declare networkofferingid as required"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

API

##### CLOUDSTACK VERSION

4.11

##### CONFIGURATION

Advanced networking

##### OS / ENVIRONMENT

ALL

##### SUMMARY

networkofferingid as declared in migrateNetwork API must be required

##### STEPS TO REPRODUCE

check https://cloudstack.apache.org/api/apidocs-4.11/apis/migrateNetwork.html

##### EXPECTED RESULTS

networkofferingid to be

[2018-09-19 10:04] izenk opened #2853 "LDAP login java.lang.NullPointerException"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced networking, LDAP integration

##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708

##### SUMMARY

During LDAP user login java.lang.NullPointerException appeared.

##### STEPS TO REPRODUCE

- Create domain
- Set LDAP configuration for this domain (not for ROOT domain and

[2018-09-19 16:06] smeetsr opened #2854 "VR is not reachable from VM on port 8080 to get password"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
VR
[code]

##### CLOUDSTACK VERSION

Broken by PR #2799 on 4.11 and merged into master as well.
4.11 commit 5a046e243a54cec19d4c6fea7630bceb6eac43bc
[code]

##### CONFIGURATION
advanced networking via NuageSDN

##### OS / ENVIRONMENT
KVM , Nuage

##### SUMMARY
VR iptables does not accept traffic to port 8080

##### STEPS TO REPRODUCE
Mark guest

[2018-09-20 10:19] rhtyd commented on #2851
PR merged, this may likely get into 4.11.2.0 RC2.

[2018-09-20 10:19] #2851 closed

[2018-09-20 15:36] izenk opened #2856 "VR dhcp dns server"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced networking, KVM

##### OS / ENVIRONMENT

CentOS Linux release 7.4.1708

##### SUMMARY

Guest vms do not get public dns servers (from zone "public dns" setting) in dhcp offer
As result vr ip is only ip in resolv.conf file in guest vm
VPC restart with "Cleanup" does not help

[2018-09-20 15:59] izenk commented on #2856
Seems, I found the reason of status: REFUSED from dnsmasq
Because dns server has public ip from the same network as VR public ip, dnsmasq ignores this dns
[code]

[2018-09-21 10:37] glennwagner opened #2857 "Change logrotate to config in packaging"
##### ISSUE TYPE

 * Enhancement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS

##### SUMMARY

Consider marking logrotate script as config in the RPM packaging

https://github.com/apache/cloudstack/blob/master/packaging/centos7/cloud.spec#L519

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTU

[2018-09-21 10:41] borisstoyanov opened #2858 "fallback of agent balancing management connection is not working when primary management goes down"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### OS / ENVIRONMENT

CentOS6/7

##### SUMMARY

When having a list of management servers (ABC), management A is the preferred one. When A goes down, cloudstack-agent will not move to B, but will stay and try reconnecting to A.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### A

[2018-09-21 11:12] rhtyd commented on #2857
@glennwagner I've fixed it here: https://github.com/apache/cloudstack/pull/2860 /cc @PaulAngus @mlsorensen

[2018-09-21 12:53] resmo opened #2861 "SSVM NFS4 does not support minor version setting e.g. 4.1"
##### ISSUE TYPE

 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Debian 9 system VM default NFS version is 4.2. If your NFS server does not support 4.2, the mount may fail (is does in our case).

There is a global config `secstorage.nfs.version` to specify the version, but it does only su

[2018-09-21 14:34] fmaximus commented on #2525
there is a flag: details=true

[2018-09-21 20:46] rhtyd commented on #2861
Looks like a bug, if it was previously supported/working. However, not a major blocker, I'll try and fix it before RC2.

[2018-09-21 20:47] rhtyd commented on #2856
dnsmasq and dns related code has n't changed between 4.11.0 and 4.11.1. I'll try to reproduce.

[2018-09-21 20:48] rhtyd commented on #2853
/cc @DaanHoogland can you comment?

[2018-09-21 20:48] rhtyd commented on #2854
Fixed by #2855, closing.

[2018-09-21 20:48] #2854 closed

[2018-09-21 22:15] resmo commented on #2861
not a big issue, could be in 4.11.3.

[2018-09-22 08:10] DaanHoogland commented on #2853
yes,
@izenk there are three types of configurations for LDAP.  It seems you are mixing them. The message you are getting is not clear and that is a bug to me, but...
Using the setting of the LDAP on domain level does not work with manual import LDAP account. I am not sure what you are trying to achieve.

If you want the automatic account synchronisation, or if I am misinterpreting what your setup

[2018-09-23 18:18] PaulAngus commented on #2861
looks like it would be a simple enhancement to add to nfs mount commands:

mount -t nfs4 -o rw,nolock,nfsvers=4,minorversion=1 nfsserver:/path /mnt/path

But this needn't hold up 4.11.2

[2018-09-24 08:29] izenk commented on #2853
@DaanHoogland thanks for clarifications
Where I can find description of these 3 types LDAP configurations (in 4.11 docs - no)?
As I understand, auto sync with LDAP is not possible in 4.11.1 because of [issue](https://github.com/apache/cloudstack/issues/2843)

What I want to achieve:
I have cs 4.11.1
Active Directory. In AD I have different groups
I want to create domains in CS (one cs domain = 1 g

[2018-09-24 14:48] izenk commented on #2641
works in 4.11.1
issue is closed

[2018-09-24 14:48] #2641 closed

[2018-09-24 14:53] DaanHoogland commented on #2853
This scenario is not implemented. What is implemented is that two LDAP groups can be linked to two accounts in a domain (autosync), or that a single domain is linked to LDAP and for each user in a group an account will be created in ACS. What you are trying to do might work but it wasn't designed like that.

[2018-09-25 10:07] resmo commented on #2525
can no longer reproduce. closing.

[2018-09-25 10:07] #2525 closed

[2018-09-25 14:03] izenk opened #2862 "VR stop/start/reboot commands failed"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

KVM, Advanced networking

##### OS / ENVIRONMENT

Centos 7.4

##### SUMMARY

Stop/Start/Reboot command leads to VR inaccessibility. Only case is to restart VPC with "Clean up" options

##### STEPS TO REPRODUCE

Create VPC
Create multiple tiers (I have 6)
Create vms in every tier (i

[2018-09-25 14:20] izenk commented on #2862
apache2 service is not started even after VPC restart. Don't now if it connected to described problem...
There no even any log related to start of apache2
[code]

[2018-09-25 16:06] DaanHoogland commented on #2853
Ok, than you need to not have the settings on domain level but on global level only. I know this sounds confusing but this is how it used to work and it remains backwards compatible with that functionality:

- Set LDAP configuration (not for a domain but in GLOBAL SETTINGS)
- Create domain
- call LinkDomainToLdap for the domain in which you automatic import to occur
- You don't have to import LDAP

[2018-09-26 09:00] izenk commented on #2853
@DaanHoogland thank you, I'll try this.
But for what are the domain level LDAP settings is for?
What will happen if I add LDAP configuration globally and then for specific domain also add LDAP group setting on domain level?

[2018-09-26 15:34] izenk commented on #2853
@DaanHoogland sorry, Im confused a little..
if domain level setting is for automatic sync, why I must to setup parameters on GLOBAL level?

[2018-09-27 00:22] bdonnahue opened #2863 "Cloudstack 4.11.1.0 - Unable to create shared network in advanced zone"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
UI / API

##### CLOUDSTACK VERSION
4.11.1.0

##### CONFIGURATION
Advanced Network
GRE Isolation
XenServer 7.2
1 physical network hosting all network traffic types

##### SUMMARY
I cannot create a shared network through the GUI. I see the following error message in my logs:

2018-09-24 22:19:07,803 ERROR [c.c.a.ApiServer] (qtp788117692-144094:ctx

[2018-09-27 14:23] izenk opened #2864 "management server WARN"
##### ISSUE TYPE

 * Other

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

KVM, Advanced Network

##### OS / ENVIRONMENT

Centos 7.4

##### SUMMARY
Every time any action is taken in UI in "Project View", management server logs WARNING.
For example:
[code]

##### STEPS TO REPRODUCE

Login to UI
Switch to "Project View"
Just navigate through UI
Look into managem

[2018-09-27 15:48] IngoJochim opened #2865 "DNS records for additional local IP addresses"
##### ISSUE TYPE
 * Feature Idea

##### COMPONENT NAME
* DNS

##### CLOUDSTACK VERSION
/

##### CONFIGURATION
* for customer isolated network

##### OS / ENVIRONMENT
/

##### SUMMARY
For adaptive computing it's important to get use of additional application local IP addresses which you can move between machines in case of a failure of one of the virtual machines or for upgrades.

I can attach an a

[2018-09-27 17:20] DaanHoogland commented on #2853
@izenk, I understand your confusion as it is not very clear indeed. The difference is auto-import or auto-sync.
LinkDomainToLdap is used for both, domain level settings are not.
Auto-import will not move users and will create an account per user.
Auto-sync will link an account to an LDAP group.

The last function you mention is not auto-sync but "just" auto-import. The "more granular" is auto-sync

[2018-09-27 18:31] izenk commented on #2853
@DaanHoogland thanks.
Since "Link to LDAP" is not working in 4.11.1, I would like to use "Auto-import" while waiting for 4.11.2 with fixed "Link to LDAP". What are the steps for auto import? Should I start a thread in a maillist?

[2018-09-28 16:09] rhtyd commented on #2864
These are ignorable warnings, it shows up whenever there are invalid params passed in an API request.

[2018-09-28 18:55] rafaelweingartner commented on #2864
@rhtyd  what if we fixed the JS to stop sending the parameter that is not needed (when we are in project view)?

[2018-09-28 19:08] rhtyd commented on #2864
yes @rafaelweingartner fixable in UI

[2018-10-01 13:48] se-bre opened #2868 "Ceph - resize volume doesn't work"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Ceph as primary storage

##### OS / ENVIRONMENT

Ubuntu 16.04
libvirt 1.3.1

##### SUMMARY

Volume resize does not work for running VM.
Cloudstack resizes the ceph rbd but running vm doesn't recognise

##### STEPS TO REPRODUCE

resize volume (attached to a running vm)

##### EXPECT

[2018-10-01 17:46] kiwiflyer commented on #2868
I'm going to take a look at this and propose a PR.

[2018-10-01 19:59] kiwiflyer commented on #2868
I've created a test PR for our branch on 4.8. Feel free to try this and see if it fixes your problem. If it does, I'll push a PR up to 4.11.x and master.

https://github.com/myENA/cloudstack/pull/38/commits/c68b84cd82b4fe7105cd5125ef41cef64e3157ae

You can take those two lines and change /usr/share/cloudstack-common/scripts/storage/qcow2/resizevolume.sh on a test host, then try a resize.

[2018-10-02 10:04] izenk opened #2871 "Public templates not displayed"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced networking, KVM, CEPH

##### OS / ENVIRONMENT

CentOS 7.4

##### SUMMARY

In project view public templates are not shown, but when try to create vm - they are.

##### STEPS TO REPRODUCE
Create template under admin account and mark it as 'public'.
Switch to another account

[2018-10-02 15:05] wido opened #2872 "Improve ConfigDrive to store network information"
ConfigDrive / cloud-init supports a *network_data.json* file which can contain network information for a VM.

By providing  the network information using ConfigDrive to a VM we can eliminate the need for DHCP and thus the Virtual Router in some use-cases.

An example JSON file:

<pre>
{
    "links": [
        {
            "ethernet_mac_address": "52:54:00:0d:bf:93",
            "id": "eth0",

[2018-10-02 15:09] wido commented on #2872
More information:

- https://cloudinit.readthedocs.io/en/latest/topics/datasources/configdrive.html
- https://cloudinit.readthedocs.io/en/latest/topics/network-config.html

I tested this with this cloud-init configuration under Ubuntu 18.04

<pre>
root@ubuntu-test:~# cat /etc/cloud/cloud.cfg.d/99_cloudstack.cfg
system_info:
  default_user:
    name: root
  package_mirrors:
    - arches: [i386, amd

[2018-10-03 07:05] resmo commented on #2862
we also hit this issue.

[2018-10-03 11:34] izenk commented on #2856
@rhtyd  I can't say how it should be. I noticed that behavior has been changed...

For example, before upgrade I had such dhcp leases on vms:
[code]

now I have
[code]

So, from my point of view the behavior has been changed

[2018-10-03 12:02] rhtyd commented on #2856
Thanks for sharing @izenk, yes it's possible that we've fixed the issue. The current behaviour you're seeing with latest 4.11.1/2 is the expected/ideal behaviour. The dnsmasq service on the VR should act as forwarding dns/agent, so ideally we would only expect to see the VR IP in the `domain-name-servers` list.

[2018-10-03 12:04] rhtyd commented on #2872
@wido yes ideally that's the use of config drive feature. I would see this as a bug, if currently it's not possible to share/send the network (ip and dns) currently. If you do decide to implement the fix, please open PR for 4.11 branch.

[2018-10-03 12:05] izenk commented on #2856
@rhtyd thanks, now its clear.
but unfortunately dnsmasq has [(multiple resolvers)](https://bugs.launchpad.net/ubuntu/+source/dnsmasq/+bug/1726017)
So, now only equivalent dns servers can be used in ZONE public dns settings

[2018-10-03 12:09] rhtyd commented on #2865
Notes: the feature is about VIP for an internal IP, inside the isolated network. A floating IP like feature for the internal guest network would suffice the requirement.

[2018-10-03 12:11] rhtyd commented on #2863
@bdonnahue can you share more details about your zone/infra setup? How you have setup and deployed your zone with XenServer 7.x and openvswitch?

[2018-10-03 13:09] rhtyd opened #2873 "VR seen to have memory leaks"
In one of the 4.11.x environments, it is seen that VR memory consumption increases the maximum leading to swapping.

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced zone + adv networking

##### OS / ENVIRONMENT

Seen in case of VMware 5.5.x

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL

[2018-10-03 13:10] rhtyd commented on #2863
@bdonnahue according to the list https://www.mail-archive.com/dev@cloudstack.apache.org/msg17396.html the feature may have been broken since 4.2.

[2018-10-03 14:32] PaulAngus commented on #2719
Reference PR #2128 is not fully implemented and causes issues when deploying VRs with private gateways on VMware.

[2018-10-03 14:53] fmaximus commented on #2863
The error means it can't find a NetworkGuru who wants to design the network.
I also took a look at the NetworkGurus:
Neither ExternalGuestNetworkGuru nor OvsGuestNetworkGuru have Shared Network support.
DirectNetworkGuru has Shared support, but doesn't support GRE.

[2018-10-03 18:54] bdonnahue commented on #2863
@rhtyd what information would you like specifically (sorry just new to CS and not sure what might be common knowledge)

I am not sure how to reconcile the comments maid in the mail archive that @rhtyd linked to and the comments that @fmaximus made. It sounds like the bug was fixed by removing the components to setup GRE tunnels (formerly implemented by the OVS plugin in 4.1)? Is that an accurate s

[2018-10-03 20:49] wido commented on #2872
@rhtyd Yes, it would be great! It would allow for much larger scaling without the need of DHCP. That removes the VR in many use-cases.

I haven't got ConfigDrive to work yet (offerings which wouldn't work...), but from the code I saw it only generates a empty network_data.json file.

Happy to work on this and write against 4.11

[2018-10-04 00:42] #2771 closed

[2018-10-04 09:18] PaulAngus commented on #2863
@bdonnahue - the combination is saying that OVS is a prerequisite of using GRE tunnels, and that OVS does not support shared networks.
So I'm afraid that you've found a limitation rather than a bug.

[2018-10-04 09:23] izenk opened #2874 "incorrect number of public lb ip in UI"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

KVM, advanced networking

##### OS / ENVIRONMENT

CentOS 7.4

##### SUMMARY

In UI, in VPC view, number of "public lb ip" per tier is displayed incorrectly. Instead number of forwarding rules is displayed [screen](https://postimg.cc/FYm0BNZY)

[2018-10-04 17:05] bdonnahue commented on #2863
@PaulAngus can you add some more detail about what you mean when you say that OVS does not support shared networks? I thought a shared network was a network that can be used by VMs provisioned by different accounts. If that is true, why would this be a limitation of OVS and not the OVS plugin/Cloudstack?

[2018-10-04 17:31] kiwiflyer commented on #2868
@se-bre Do you have an environment where you may be able to test the above patch?

[2018-10-04 18:50] PaulAngus commented on #2863
Sorry, that was my shorthand, by OVS i meant OVS in CloudStack. it is a limitation of the OVS plugin.  Excluding shared networks seems a strange omission, but i guess whoever implemented it had a specific use case in mind.

[2018-10-04 19:06] bdonnahue commented on #2863
@PaulAngus ah ok thanks for clearing that up. Whats the best way to make a feature request? Is there a way this could be added to the 4.11.2.0 milestone?

[2018-10-04 20:25] csquire opened #2877 "RootCAProvider certificate validation fails if default interface has multiple IP addresses"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Two management servers using a VIP and UCARP for failover.

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Secure connections between two management servers using the default root CA provider don't pass validation if the default interface has multiple IP addresses.

For example, using

[2018-10-04 20:38] kiwiflyer commented on #2868
I spun up a Ubuntu 16.04 server using virtio-blk.

I started with a 106GB block device on ceph:

![before_106gb](https://user-images.githubusercontent.com/17278194/46501501-527d8580-c7eb-11e8-9eb0-ddd9ed1b86b0.png)

I then used the ACS GUI to resize it to 150GB:

![after_150gb](https://user-images.githubusercontent.com/17278194/46501517-60330b00-c7eb-11e8-92aa-6819ecf367c9.png)

Live resize on cep

[2018-10-04 23:08] rhtyd commented on #2877
@csquire the setup you've described is a specific one, I'll see if we can modify the code that instantiates the management server certificate on startup to scan and include all the ips addresses on the management server host.

[2018-10-05 00:37] rhtyd commented on #2862
@resmo can you confirm if you tested 4.11.1.0 or the 4.11.2.0 RC2? I'm unable to reproduce this at least on KVM with 4.11.2.0 RC2, will test against vmware 5.5 next.

[2018-10-05 00:40] rhtyd commented on #2862
@izenk apache2 should be started by the post cloud-init script. Can you share output of systemctl status apache2, what error do you see? I could not reproduce the issue with either stop+start or rebooting of the VPC VR, it came up OK for me in case of CentOS7 KVM host. For the broken VR, can you share its /var/log/cloud.log file?

[2018-10-05 01:13] rhtyd commented on #2877
@csquire can you review/test this PR: https://github.com/apache/cloudstack/pull/2879

[2018-10-05 01:55] rhtyd commented on #2863
@bdonnahue since we're already in between testing/reviewing 4.11.2.0 RCs, we should avoid major/new enhancement/fixes towards 4.11.2.0, the best way forward would be to aim towards 4.11.3.0 or 4.12.0.0.

[2018-10-05 01:56] csquire commented on #2877
@rhtyd thanks, that was quick! I had actually patched our test system by adding a custom CA provider as a plugin with the same approach and it worked well. I was going to submit a PR, but you beat me to it.  Anyways, I copied your new NetUtils.getAllDefaultNicIps() method to my plugin and quickly deployed it and it works well. The only difference I noticed is that yours places the IPV6 address in

[2018-10-05 02:02] rhtyd commented on #2877
Great, thanks for confirming and testing @csquire

[2018-10-05 07:52] resmo commented on #2862
@rhtyd its 4.11.1.0

[2018-10-05 09:40] resmo opened #2880 "[4.11.2]: rolling upgrade of VR results in duplicate VRs"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

[code]

[code]

##### STEPS TO REPRODUCE

restartNetwork cleanup=true

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2018-10-05 10:28] rhtyd commented on #2862
Thanks @resmo. @resmo @izenk can you describe your VPC (or isolated network) setups, do you have private gateway and/or additional services (vpn etc) or rules etc? In my two test setups (CentOS7 KVM and VMware 5.5 based), I could not reproduce the issue against latest 4.11.2.0 rc2 (latest 4.11 branch). About the apache2 process blocking VRs from starting, we've fixed that in 4.11.1.0 already, I co

[2018-10-05 10:42] rhtyd commented on #2880
@resmo restart of network with cleanup=true triggers the rolling restart of a single isolated network, in case of errors you may end up with more than one VR for that network and restart required flag will be true for that network. The next restart will destroy any/all the older VRs.

[2018-10-05 11:20] borisstoyanov opened #2881 "adding Source NAT services to VPC network offering results into unhandled exception"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS7

##### SUMMARY

Adding a Source NAT service to a VPC network offering results in an Unhandled exception

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

`2018-10-05 11:01:22,034 ERROR [c.c.a.ApiServer]

[2018-10-05 11:49] resmo commented on #2880
The problem with duplicated VRs are the result, the issue is the exception I appended to the bug description

[2018-10-05 11:54] resmo commented on #2880
I can not upgrade routers after this bug, not even stopping VRs... rolling back to 4.11.1 and try to reproduce

[2018-10-05 12:30] resmo opened #2882 "[4.11.2] VR: ip_tables tcp match: ony valid for protocol 6"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

seeing errors in VR console

![selection_200](https://user-images.githubusercontent.com/23809/46535253-13166e00-c8ab-11e8-86e9-a8aafea085fe.png)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2018-10-05 12:34] resmo commented on #2880
I am able to reproduce

[2018-10-05 12:55] rhtyd commented on #2880
I was unable to reproduce with latest 4.11. Let me test again, look at the code around the exceptions and get back to you @resmo. /cc @PaulAngus

[2018-10-05 13:07] #2868 closed

[2018-10-05 13:12] rhtyd commented on #2882
This is largely an ignorable warning, it means iptables match rules were matched against something other than an IP packet. A lot of legacy VR programming code (old style of rules etc) require a proper cleanup.

[2018-10-05 13:18] rhtyd commented on #2881
Ping @fmaximus can have a look at the exception in NuageVspElement::verifyServicesCombination ^^?

[2018-10-05 13:45] resmo commented on #2882
haven't seen this in 4.11.1

[2018-10-05 15:15] bdonnahue commented on #2863
@rhtyd waiting for a future release makes sense. What is the best way to make the feature request? Do we just use this ticket and attach some tags to it?

[2018-10-05 15:19] rhtyd commented on #2863
Create a new issue request in github, you may provide links to related resources, prs etc in your issue description @bdonnahue

[2018-10-07 15:42] #2877 closed

[2018-10-07 23:09] bdonnahue opened #2885 "Feature Request - Create shared network in advanced zone using GRE tunnels / OVS Plugin"
##### ISSUE TYPE
 * Enhancement Request

##### COMPONENT NAME
OVS Plugin

##### CLOUDSTACK VERSION
4.11.1.0

##### CONFIGURATION
Advanced Network
GRE Isolation
XenServer 7.2
1 physical network hosting all network traffic types

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I cannot create a shared network through the GUI. I see the following error message in my logs:

2018-09-24 22:19:07,803 ERROR [c.

[2018-10-07 23:28] bdonnahue opened #2886 "Cloudstack 4.11.1.0 - Static NAT not functioning in Advanced Zone with GRE Isolation"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
VPC / Router VM

##### CLOUDSTACK VERSION
4.11.1.0

##### CONFIGURATION
Advanced Network
GRE Isolation
XenServer 7.2
1 physical network hosting all network traffic types

##### SUMMARY
I am able to provision a Static NAT for a VPC defined in an Advanced Zone using GRE Isolation. The Static NAT does not behave as expected.

From the router VM I a

[2018-10-08 07:30] rhtyd commented on #2881
Ping @krissterckx ^^ can you comment? Thanks.

[2018-10-08 11:37] borisstoyanov opened #2887 "NumberFormatException when adding a VM to VPC tier"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

Advanced, VPC default offering

##### OS / ENVIRONMENT

CentOs7

##### SUMMARY

When trying to add a new VM to VPC tier network it fails with the following exception

##### STEPS TO REPRODUCE

1. Create a VPC
2. Add a Tier
3. Deploy a VM to the tier

[code]

[code]

[2018-10-08 14:40] resmo commented on #2880
I think, I am able to reproduce this issue, I even run into it in 4.11.1:

[code]

[2018-10-08 14:47] rhtyd commented on #2880
Thanks @resmo I'll have a look.

[2018-10-08 15:42] resmo commented on #2882
also saw this in 4.11.1

[2018-10-08 15:54] csquire opened #2890 "KVMHAMonitor thread blocks indefinitely while NFS not available"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Also see comment thread on PR #2722

We installed an RC release which includes PR #2722 on a test system expecting the host to get marked as `Disconnected` after using iptables to drop NFS requests, but instead the host gets marked as  `Down`.

[2018-10-08 18:33] PaulAngus commented on #2719
LGTM based on specific functionality fix - 'just' need full test suite

test_01_vpc_privategw_acl (tests.smoke.test_privategw_acl.TestPrivateGwACL) ... === TestName: test_01_vpc_privategw_acl | Status : SUCCESS ===
ok
test_02_vpc_privategw_static_routes (tests.smoke.test_privategw_acl.TestPrivateGwACL) ... === TestName: test_02_vpc_privategw_static_routes | Status : SUCCESS ===
ok
test_03_vpc_priv

[2018-10-09 11:12] borisstoyanov commented on #2880
@resmo I've tried your steps, but I couldn't reproduce the problem you're having, can you think of any other detail that may help reproducing it.

[2018-10-09 17:35] csquire commented on #2890
After performing more tests, virtlockd does help prevent from getting duplicate VMs.  With Host HA disabled, the blocked host goes to a `Down` state but the VMs continue to run on the blocked host and new ones don't start on other hosts because of the lock on the root disk.

But, if Host HA *is* enabled, the blocked host gets rebooted because of the bug above. The VMs on the host get rescheduled o

[2018-10-10 09:51] rhtyd commented on #2881
https://github.com/apache/cloudstack/pull/2889  is merged so I'll close this issue. Please reopen @borisstoyanov if you're able to reproduce a valid bug.

[2018-10-10 09:51] #2881 closed

[2018-10-10 09:51] rhtyd commented on #2719
PR merged, closing.

[2018-10-10 09:51] #2719 closed

[2018-10-10 09:52] borisstoyanov commented on #2881
Thanks @rhtyd!

[2018-10-10 17:18] bdonnahue commented on #2886
I tried troubleshooting this. I added an ACL with an ingress/egress rules to allow all traffic. I was not able to ping / ssh the instance behind the public ip. I had a look at the iptables and routing table and I do not see how the packet would be forwarded.

[2018-10-11 02:01] bdonnahue commented on #2886
I have been digging into this further. I ran iptables-save on the router before and after adding a new ACL to the VPC. The ACL had two rules (ingress/egress) to allow all traffic form all protocols (0.0.0.0/0 CIDR). The iptables showed no difference at all.

[2018-10-11 02:06] bdonnahue commented on #2886
I also tried adding an ACL to use the 15.0.0.0/8 subnet (which is the VPC WAN) and saw no changes to the router.

[2018-10-11 10:06] izenk opened #2895 "ssh-keys instances ERROR"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

KVM, Advanced Networking

##### OS / ENVIRONMENT

CentOS 7.4

##### SUMMARY

When click to "View Instances" link in project View for ssh-keys - error is displayed instead of instances list

##### STEPS TO REPRODUCE

Login to UI -> switch to project view -> click to "Accounts" -> ch

[2018-10-11 12:42] rhtyd commented on #2862
@resmo we'll need the /var/log/cloud.log from the VR when this happens as well as the management server logs when you reproduce the next time.

[2018-10-12 05:30] rhtyd commented on #2642
The fix is to identify which part of the code is trying to call a commit() when it's not in a transaction, likely an update could have been performed without any changes to the rows (VOs) that may be causing this.

[2018-10-12 11:27] resmo commented on #2895
similar problem fixed with network.js in bff7c01f19264e85c0da4a79c45f619761cfcc86

[2018-10-12 14:23] rafaelweingartner commented on #2886
As we discussed, this is not a problem. It was a misunderstanding when using ACLs.

[2018-10-12 14:23] #2886 closed

[2018-10-14 18:38] bdonnahue commented on #2886
Thanks @rafaelweingartner. Yes, user error on my part.

[2018-10-15 08:37] rhtyd opened #2899 "Initial agent connect dropped by management server"
It is observed in 4.11.1/2-rc2 that in some environments when KVM agent connects to the management server, the channel is closed just after initial cmd. After that the ModifyStoragePool fails to be sent to the kvm host as the agent is disconnected putting the host in Alert state. The agent, however, will reconnect and finally, the state will be Up. In a rare setup, where certificates were already

[2018-10-15 10:44] rhtyd commented on #2862
@resmo we'll need additional logs from an env/VRs where you're seeing the error to debug/investigate and fix this issue.

[2018-10-16 05:28] rhtyd commented on #2887
I'm unable to reproduce this @borisstoyanov looks like due to other env/network issue, the ssh to the VR failed that caused this.

[2018-10-16 09:31] izenk commented on #2862
@rhtyd
I reproduced the problem.
Management log:
[code]

cloud.log from VR is also attached
**some notes:** attached log is finished on line:
[code]
This is the last line before I got exception above.
What I see it's that VR didn't get Link Local network. It got Link Local IP, but there were no connection from host to VR through Link Local IP. I can enter VR through VNC from host only.

[cloud.log

[2018-10-16 10:16] rhtyd commented on #2862
Thanks @izenk let me have a look

[2018-10-17 04:42] rhtyd commented on #2862
@izenk can you describe your KVM setup, are you using bridge based networking or openvswitch with vlan/vxlan/etc, is it normal adv zone (or with security groups)? The ` process hasn't exited` in the logs implies the VR programming did not complete quickly or the script failed internally in the VR.

Reading the cloud.log from the VR, the first problem I see is which implies either failure of the cl

[2018-10-17 06:49] izenk commented on #2862
@rhtyd
KVM with bridge based networking
Advanced Zone without security groups

[2018-10-17 07:17] rhtyd commented on #2862
I could not reproduce the similar error with stop+start. However, with rebooting a VR I could see similar log statements, but ultimately the VR was able to start and I could not reproduce the error. There have been several VR related fixes in 4.11.2-rc2 compared to 4.11.1 so it's likely the bug is not reproducible. Please check and increase your router aggregation timeout and see if that helps?
@i

[2018-10-17 07:53] rhtyd commented on #2862
Given, you've a workaround for this issue and I could not reproduce this with latest 4.11 branch I'll move this to 4.11.3.0 milestone to avoid further blocking of rc3.

[2018-10-17 07:56] rhtyd commented on #2899
PR merged, closing.

[2018-10-17 07:56] #2899 closed

[2018-10-17 09:06] izenk commented on #2862
@rhtyd ok
Im trying to debug issue myself. So may be some guidelines from your side..

When I click "Start" - VR starts boot. I can connect to it by VNC.
On my installation VR (normally) has 4 interfaces:
loopback
eth0: linklocal (169)
eth1: public net (10.9.x.x)
eth2: vpc tier

After connecting by VNC (while tested VR is in "Starting" state) I can see only 3 interafaces:
loopback
eth0: linklocal

[2018-10-17 10:59] rhtyd commented on #2642
On investigation, I found that this happens when cpu and memory counts are updated in a transaction where no update are performed i.e. old and new cpu/memory counts are the same. The log is seen because txn.commit() is called but txn itself is not started.

[2018-10-17 13:34] izenk commented on #2862
@rhtyd
Looks like I found the reason (not the root, but near)

<img width="995" alt="screen shot 2018-10-17 at 16 33 16" src="https://user-images.githubusercontent.com/6417697/47089951-8795c900-d22a-11e8-859f-1bc9a24f37f9.png">

[2018-10-17 14:54] rhtyd commented on #2862
@izenk can you confirm if you tested 4.11.1 or 4.11.2-rc2? A routing related bug was fixed which is in 4.11.2-rc2.

[2018-10-17 15:07] izenk commented on #2862
@rhtyd no, can't
I have only 4.11.1 which is 'production'

[2018-10-17 16:41] somejfn commented on #2890
This morning I confirmed the behavior on 4.9 is different than 4.11. When there's a long lasting (say 15 minutes) NFS hang the agent stays Up and when NFS operations resumes everyone's happy.   Note we did disable the automatic reboot in the heartbeat script for that to work.  This saved us from massive reboots and VM outages before when we had a network maintenance that cut all KVM host from NFS

[2018-10-17 16:45] rhtyd commented on #2862
@izenk the routing issue you've shared has been fixed and is in 4.11.2-rc2: https://github.com/apache/cloudstack/pull/2791/files
You may wait for 4.11.2.0 release or try to manually apply changes in the VR scripts in your test VR.

[2018-10-18 09:38] izenk opened #2906 "Shared Networks documentation"
##### ISSUE TYPE

 * Documentation Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### SUMMARY

[Shared Network](http://docs.cloudstack.apache.org/projects/cloudstack-administration/en/4.11/networking.html#shared-networks) section contains link to "Configuring a Shared Guest Network" - which is:
![screen shot 2018-10-18 at 12 38 07](https://user-images.githubusercontent.c

[2018-10-18 12:59] izenk commented on #2862
@rhtyd got it. Thanks

[2018-10-18 14:57] izenk commented on #2906
Also documentation for Network Services needed, like: what is Gateway service in Service offering

[2018-10-18 15:43] izenk opened #2908 "Private gateway can't be deleted"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### SUMMARY

Its possible to create VPC offering without services, then add VPC based on this offering, then add Private Gateway for this VPC, then add route for this Private Gateway.
During route creation error is displayed:
![screen shot

[2018-10-18 23:09] querplis opened #2909 "debian does not have libvirt-bin it has libvirt"
https://github.com/apache/cloudstack/blob/7667846bfa70704cfe785ffe29fc13f0d066a765/plugins/hypervisors/kvm/src/main/java/com/cloud/hypervisor/kvm/resource/wrapper/LibvirtPostCertificateRenewalCommandWrapper.java#L41-L45

https://github.com/apache/cloudstack/blob/7313a5ead2eb6db570647225f1ec9cf9e703455b/debian/rules#L47-L48

https://github.com/apache/cloudstack/blob/7313a5ead2eb6db570647225f1ec9cf9

[2018-10-18 23:15] querplis opened #2910 "mvn needs -B switch"
https://github.com/apache/cloudstack/blob/233f46c94b0b792d3f674cda120066a97e04c8ea/tools/build/setnextversion.sh#L127

without -B ( batch mode ), if maven has to download anything it will end in variable.

worth to change here too, not critical tho
https://github.com/apache/cloudstack/blob/233f46c94b0b792d3f674cda120066a97e04c8ea/tools/build/setnextversion.sh#L131

[2018-10-19 16:41] bdonnahue commented on #2583
@PaulAngus is this still an issue? With XCP-ng, is a XenServer Pro license still required? Could the default behavior be to specify cores rather than sockets?

[2018-10-19 17:00] rhtyd commented on #2910
LGTM, @querplis can you send a pull request to master?

[2018-10-19 17:03] rhtyd commented on #2909
@querplis officially supported KVM hosts are RHEL/CentOS and Ubuntu (http://docs.cloudstack.apache.org/en/4.11.1.0/releasenotes/compat.html#supported-hypervisor-versions). Please submit a pull request for debian.
@wido can you comment if you've ever tested on Debian+KVM?

[2018-10-19 17:03] rhtyd commented on #2908
Can you test with 4.11.2.0-rc3?

[2018-10-19 17:06] rhtyd commented on #2906
The doc link is incorrect, we've also consolidated all the docs at docs.cloudstack.apache.org. The article you're looking for is here; http://docs.cloudstack.apache.org/en/latest/adminguide/networking/advanced_zone_config.html#configuring-a-shared-guest-network

[2018-10-19 17:07] rhtyd commented on #2583
@bdonnahue we'll need to test this, if you've a XCP-ng setup, can you test?

[2018-10-19 17:40] bdonnahue commented on #2583
@rhtyd I am happy to test but I want to clarify some things and ask some dumb questions. Are you on the slack channel?

[2018-10-20 17:42] rhtyd commented on #2909
The fix is simply that only in case of Ubuntu the process name is libvirt-bin, otherwise is should be libvirtd.

[2018-10-21 22:51] andrijapanic commented on #2908
Issue still present - with identical messages as described above (simple workarroun - go to DB, and delete problematic route from cloud.static_route table) after which you can delete the Private Gateway.

[2018-10-22 06:55] wido commented on #2909
I think we can completely switch to the name *libvirtd*, I just tested on Ubuntu 16.04:

<pre>systemctl status libvirtd</pre>

<pre>cat /lib/systemd/system/libvirt-bin.service</pre>

<pre>[Install]
Alias=libvirtd.service
</pre>

As you can see, on Ubuntu it creates an alias.

[2018-10-22 08:30] izenk commented on #2906
@rhtyd thanks,
There is no any info about "Supported services" in shared netwoks (dns, dhcp and so on). Who will be responsible to these services, some kind of VR or somebody external?
I mean, that's no clear how it's organized in Shared Networks?

[2018-10-22 12:20] rhtyd commented on #2909
I think on 14.04 it's still libvirt-bin @wido.

[2018-10-22 12:40] wido commented on #2909
We dropped Ubuntu 14.04 support in master already, so we can ignore Ubuntu 14.04 on master.

[2018-10-22 12:51] rhtyd commented on #2909
Alright, in that case let's switch to libvirtd service name. /cc @sh0wstopper

[2018-10-22 12:56] wido commented on #2909
Seems good to me! Looking forward to the PR

[2018-10-22 16:35] rhtyd commented on #2910
Fixed in PR. Closing.

[2018-10-22 16:35] #2910 closed

[2018-10-22 17:08] DennisKonrad opened #2917 "Showing VRs in Infrastructure > Virtual Routers fails due to CloudStackVersion.parse(String)"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
UI
CloudStackVersion

##### CLOUDSTACK VERSION
master as of Oct 22, 2018
newest commit seems to be #2914

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Installation of the management server is on CentOS 7.5.1804

##### SUMMARY
Hi,

showing the VRs is not possible in master branch because of the following error:

![image](https://user-image

[2018-10-22 19:05] rhtyd commented on #2917
Checked, could not reproduce this on 4.11 branch. This seems specific to only master branch.

[2018-10-23 09:52] resmo commented on #2880
@rhtyd still hitting this exception in rc3 with `network.rolling.restart=false`

[code]

:cry:

[2018-10-23 09:59] rhtyd commented on #2880
Thanks for sharing @resmo let me investigate and get back to you

[2018-10-23 15:45] Overv opened #2920 "SSH key pairs are not searchable"
The `keyword` argument in [`listSSHKeyPairs`](https://cloudstack.apache.org/api/apidocs-4.11/apis/listSSHKeyPairs.html) is ignored, causing the search in the UI not to work.

* The command doesn't specify it as parameter despite it being documented: https://github.com/apache/cloudstack/blob/1d05fead49f5c856257a741b07122f5633d2e359/api/src/main/java/org/apache/cloudstack/api/command/user/ssh/ListSS

[2018-10-23 18:53] somejfn commented on #2890
Confirmed we see similar behavior on 4.11.2rc3 and the agent went in Down state.   Agent logs:

810986-e702-36ea-a87b-fd48064ecb12
2018-10-23 13:14:40,391 INFO  [kvm.resource.LibvirtConnection] (agentRequest-Handler-4:null) (logid:f8cd7cf7) No existing libvirtd connection found. Opening a new one
2018-10-23 13:14:40,392 WARN  [kvm.resource.LibvirtConnection] (agentRequest-Handler-4:null) (logid:f8

[2018-10-23 21:05] khos2ow commented on #2917
@DennisKonrad can you check the VR version directly from the machine? `/etc/cloudstack-release`.

The weird thing about your screenshot is that it complains `0` is not of a correct format in which it should have been `4.12.0.0`. Basically what the reformatted code does is strip anything after first occurrence of `-` and process the rest. Which means the value passed to `org.apache.cloudstack.utils

[2018-10-23 22:30] DennisKonrad commented on #2917
Hi @khos2ow,

it took me some time to double check on this. It seems there is a problem with the systemvm's we are building at the moment "cloudstack-release" is set to the following for us:

![image](https://user-images.githubusercontent.com/33484272/47394548-9ea15300-d723-11e8-9afd-dc5703dfe61b.png)

So I think we have to modify something about our SVM-build process so the output of `/etc/clouds

[2018-10-23 22:35] khos2ow commented on #2917
Yes it should have the same format as in `int.int.int[.int][-branding][-snapshot|timestamp|build_number]`

[2018-10-23 22:43] DennisKonrad commented on #2917
@khos2ow your hint led me in the right direction
Many apologies for this. Our jenkins build script had some bug and therefor did not set the version argument for the svm build.sh anymore

But because the error was  so misleading we thought there is a bug in your code. Many apologies for this. Thanks for helping

[2018-10-23 22:43] #2917 closed

[2018-10-23 22:58] DennisKonrad commented on #2917
So now `/etc/cloudstack-release` is back to:

![image](https://user-images.githubusercontent.com/33484272/47395661-d6aa9500-d727-11e8-98c1-e3e848f882a2.png)

This should work fine now. Thank again

[2018-10-23 23:02] DennisKonrad commented on #2917
One has to really watch out with build.sh to not get it right. There's one zero to much. I have to fix it again but then it will be right

[2018-10-23 23:09] DennisKonrad commented on #2917
@khos2ow Maybe the version string produced by build.sh without any arguments should also be regarded as a valid version string for a svm so things like that cannot happen?

[2018-10-23 23:10] khos2ow commented on #2917
No problem at all. There are flags in `build.sh` which you can use to differentiate the incremental builds (I'm AFK now, will check later) but it would be better to produce something like this `4.12.0.0-63` to prevent confusion. (Use `-` instead of `.`)

[2018-10-23 23:12] khos2ow commented on #2917
Yes any thing which conforms to the type of _version_ with additional optinal branding or timestamp (separated by `-`) will be regarded as valid.

[2018-10-23 23:31] DennisKonrad commented on #2917
Oh ok, now I fully understand where our problem was coming from.
The build.sh used the BUILD_NUMBER from jenkins without us knowing it and therefor version was set
automatically to the build number in jenkins.

I did not recognize that the magically incrementing number was the same as in jenkins. So this clears it up for me.

Ok, I'm not sure if this automagic link to the jenkins build number is a

[2018-10-24 02:51] rhtyd opened #2924 "deleteDomain with cleanup=true sometimes fails"
The deleteDomain API with cleanup=true fails in case a delete account has not been cleaned up.
Steps to reproduce:
- Create CloudStack Domain, account
- Deploy vm, delete vm
- Delete account, delete domain and failure will be seen at deleteDomain API:
[code]
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

[2018-10-24 03:32] rhtyd commented on #2689
/cc @ernjvr - something to consider

[2018-10-24 05:37] #2822 closed

[2018-10-24 07:32] ernjvr commented on #2689
yes

[2018-10-24 10:50] #2821 closed

[2018-10-24 12:54] izenk commented on #2871
Any Public template created under Project is not visible in "Default View" even it was marked as "Public". So VM under "Default View" can't be created using this template

[2018-10-25 14:50] csquire commented on #2890
When you block NFS on a host, eventually all the agentRequest-Handler and UgentTask threads gradually hang as well.  It seems after the last UgentTask handler thread hangs, is about the time the host is marked as Down.

[threaddump.txt](https://github.com/apache/cloudstack/files/2515449/threaddump.txt)

[2018-10-25 15:43] izenk commented on #2856
@rhtyd
Looks like behavior in 4.11.1 is inconsistent
I created another VPC and now vms get DHCP domain-name-servers with full list of dns servers specified in zone settings, like:
[code]

[2018-10-26 11:30] svenvogel opened #2929 "add public IP range to domain fails in the inital setup (UI Problem)"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

advanced network, CentOS, KVM

##### OS / ENVIRONMENT

##### SUMMARY

If you create a public network in the infrastructure->zone->physical bridge->ip ranges and you add a ip range with initial "set reservation" the reservation will be set to "[ROOT] System"

after its created you c

[2018-10-26 15:23] DennisKonrad opened #2930 "HA for Management Server - roundrobin: Certificate ownership"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

Management Server HA

##### CLOUDSTACK VERSION

master

##### CONFIGURATION

indirect.agent.lb.algorithm = roundrobin
host = 10.24.48.46,10.24.48.47

##### SUMMARY

When trying to use the CS Management in roundrobin loadbalanced mode we get errors creating a
VPC for example.

If we use `indirect.agent.lb.algorithm = static` it works like a cha

[2018-10-26 17:58] rhtyd commented on #2930
@DennisKonrad are you also able to reproduce this for 4.11?

[2018-10-26 18:00] rhtyd commented on #2930
@DennisKonrad can you also describe your setup, is it kvm/xenserver/vmware etc?

[2018-10-26 18:03] rhtyd commented on #2929
@nvazquez can you triage this?

[2018-10-26 18:22] somejfn commented on #2890
@rhtyd

[2018-10-27 19:36] rhtyd opened #2935 "Network GC error on master/4.12"
On latest master/4.12, network GC mysql errors are seen:

[code]

##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

[2018-10-27 20:16] rhtyd commented on #2880
I'm still unable to reproduce, likely the case happens due to concurrency issue when the VR is stopped/started simultaneous probably by the VM power sync manager. Ping @resmo can you test the following:
- Set the force stop on destroy global setting to true, and try again.
- Are you able to consistently reproduce the issue?
- Can you try latest 4.11 with rolling restart that force stops (poweroffs

[2018-10-28 17:06] bdonnahue commented on #2583
@rhtyd any updates? Building cloudstack from source was more complicated that I thought. I have not been able to make any progress here

[2018-10-28 21:20] rhtyd commented on #2642
Fixed in PR.

[2018-10-28 21:20] #2642 closed

[2018-10-29 06:39] rhtyd commented on #2583
Let's revisit this after 4.11.2.0 gets released. /cc @DagSonsteboSB @PaulAngus

[2018-10-29 07:45] wido opened #2978 "Router aggregate timeout does not seem to be honored"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
[code]

##### CLOUDSTACK VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Basic Networking

##### SUMMARY
Router gets killed on Start due to timeout before configuration has completed

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

The story is that during a upgrade from 4.10 to 4.1

[2018-10-29 09:17] svenvogel commented on #2929
@nvazquez Can you check this?

[2018-10-29 09:47] wido commented on #2978
Seee #2979 , I was too fast with typing :)

[2018-10-29 09:52] rhtyd commented on #2978
The fix shared by @RPDiep  LGTM @wido

[2018-10-29 10:10] rhtyd commented on #2930
@DennisKonrad thanks. When a new management server starts, it first upgrades the DB and then various managers/components start. During this start stage, first the `ConfigurationManagerImpl` starts which configures various default settings, offerings, accounts (such as system, admin etc). When the CA manager starts, it asks the configured/default plugin to initialize which is the RootCA plugin by d

[2018-10-29 10:41] DennisKonrad commented on #2930
@rhtyd
Ok, so are the certificates regenerated for the primary management server when adding a secondary one? Because the alternative name has to be updated, right? I dont see how it should work otherwise.

So can we do the cert re-kick safely even when we have already added multiple hosts? When we leave the CN at
CN=ca.cloudstack.apache.org
I see no problem but maybe you know something I'm not th

[2018-10-29 10:42] rhtyd commented on #2978
https://github.com/apache/cloudstack/pull/2979 has been merged, closing this issue. /cc @wido

[2018-10-29 10:42] #2978 closed

[2018-10-29 11:09] rhtyd commented on #2930
@DennisKonrad I've already replied to you how cert generation works, tl;dr - each mgmt server generates its own cert on startup based on keypair/ca-cert from the db, the alt names are obtained by mgmt server by reading ips on network interfaces. The certs of mgmt server are only used when they peer/cluster with other mgmt servers, if you re-generated core keypair/ca-cert then kvm hosts certs will

[2018-10-29 11:38] nvazquez commented on #2929
@svenvogel @rhtyd sure, I'll be working on this one and will update you soon

[2018-10-29 12:46] somejfn commented on #2890
Correct.  Only VM-HA enabled would get restarted and create a duplicate
when the host goes down.  Still,  I don't think this a good behavior to
fire VM-HA (because of host Up --> Down state) under any scenarios caused
by transient storage disconnection.   If  the host goes down after 5
minutes,  VM-HA restarts VM about one minute later, and then if the NFS
issue gets resolved you have almost 100%

[2018-10-29 13:18] borisstoyanov commented on #2890
I think the leanest way to fence the resource would be, prior to setting the host down to iterate all it's VMs and shut them down, only then to proceed and mark the host as 'Down', once were there, there's no issue with VM-HA starting a new instance on a separate host.
I guess this needs further investigation and a fix as described.

[2018-10-29 13:35] somejfn commented on #2890
With NFS not available and since those are hard mounts,  even a "virsh
destroy" would not work.  Libvirtd will block until the NFS mount issue is
resolved.     I think that ideally the cloudstack-agent would do every task
in a non-blocking way and not be affected by primary storage hiccups.   For
instance,  to avoid the thread pool blocking on libvirtd tasks,  why no
implement a configurable timeo

[2018-10-29 14:04] resmo commented on #2880
* Did set the `force top on destroy` to `true` and was not able to reproduce anymore, however, still seeing "initiate guest OS shutdown" on vSphere. I wonder, if this setting make any difference, I should see a "Power Off virtual machine" on vSphere, right?

[2018-10-29 14:46] PaulAngus commented on #2880
@resmo i believe Rohit corrected that here: https://github.com/apache/cloudstack/pull/2926

[2018-10-29 15:57] rhtyd commented on #2880
Thanks for sharing @resmo, as @PaulAngus replied the power off issue during rolling restart has been fixed now as well.

[2018-10-29 16:17] andrijapanic commented on #2820
Issue still present in latest 4.11.2 RC3 for RAW - stream closed message.

[2018-10-29 16:41] Overv opened #2982 "Why are passwords encrypted with the SSH public key?"
This function is used to encrypt and store the VM password, but why is this done with the SSH public key?

https://github.com/apache/cloudstack/blob/3101612ad148d8ad77a931ffec692a9b97757d32/server/src/main/java/com/cloud/vm/UserVmManagerImpl.java#L6360

What is the purpose of this storage and how is it supposed to ever be decrypted?

[2018-10-29 18:58] bdonnahue commented on #2583
Sounds good, is there a scheduled release date @rhtyd ?

[2018-10-30 04:17] rhtyd commented on #2930
Given this is a setup /env issue, if the advise process fixes your issue and you're unable to reproduce the errors please close this issue @DennisKonrad

[2018-10-30 04:18] rhtyd commented on #2880
I'll close this issue based on confirmation from @resmo, the poweroff PR has been merged as well. Please reopen if you can reproduce this issue again in future.

[2018-10-30 04:18] #2880 closed

[2018-10-30 07:14] rhtyd commented on #2684
Can you comment if you can reproduce this with 4.11 @GabrielBrascher @Overv ?

[2018-10-30 07:37] DaanHoogland commented on #2982
Good question @Overv , obviously someone considered it a piece of sensitive information, but I have no idea why. I actually think it is never used again for userVMs except maybe during initial boot, to configure the new VM with it. I see no link to the ssh public key but this (https://github.com/apache/cloudstack/blob/master/server/src/main/java/com/cloud/vm/UserVmManagerImpl.java#L4460) is where

[2018-10-30 08:09] rhtyd commented on #2890
@csquire I could not reproduce the issue. I guess it depends on how you're simulating NFS/shared-storage failure and what your iptables rules are. In my case I simply shutdown the NFS server instead of iptables rules and observed following:

[code]

I could see the `kvmheartbeat.sh` try 5 times every 60 seconds and eventually failing to shutdown the agent by this: `/bin/systemctl stop cloudstack-a

[2018-10-30 08:47] rhtyd commented on #2890
Based on the triaging exercise, I've moved this to 4.11.3.0 as further discussion is pending. I've taken the least risk approach to revert part of the change in behaviour and submitted - https://github.com/apache/cloudstack/pull/2984

[2018-10-30 12:31] somejfn commented on #2890
If you just shutdown the NFS server,  the NFS client will get immediate
response (TCP reset) so this is not the same as blocking the NFS server IP
with iptables and DROP rules like I do for testing the network outage:

*iptables -I INPUT -s nfs_server_ip -j DROP ; iptables -I OUTPUT -d
nfs_server_ip -j DROP*

It may take more than one attempt to see the tread pool block.

On Tue, Oct 30, 2018 at 4

[2018-10-30 16:35] svenvogel opened #2986 "set affinity for user (ui problem)"
##### ISSUE TYPE

 * Bug Report

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

anvanced network

##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY

If a user want to set a affinity below the instance setting he will get a layered windows.

##### STEPS TO REPRODUCE

<img width="470" alt="bildschirmfoto 2018-10-30 um 17 32 43" src="https://user-images.githubuserc

[2018-10-30 16:36] svenvogel commented on #2986
@nvazquez another ui problem, maybe you can have a look :)

[2018-10-30 16:48] rafaelweingartner commented on #2986
@svenvogel can you take a look at #2987?

[2018-10-30 20:01] svenvogel commented on #2986
@rafaelweingartner we tested it. it works! great work from you! LGTM!

[2018-10-30 20:04] rafaelweingartner commented on #2986
can you go to https://github.com/apache/cloudstack/pull/2987 and approve the PR?

[2018-10-30 20:23] somejfn opened #2989 "Unable to create network post upgrade to 4.11"
##### ISSUE TYPE
 * Bug Report
##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION
CentOS 7 on KVM.  Upgraded from 4.9.3.

Using shared networks with no services since physical network provide DHCP/DNS.

The network offering:

{
  "count": 1,
  "networkoffering": [
    {
      "availability": "Optional",
      "conservemode": true,
      "displaytext": "ExternalTena

[2018-10-30 21:38] svenvogel commented on #2986
yes. we approved your pull request #2987 . it works fine.

[2018-10-31 19:36] izenk commented on #2864
@rhtyd
also please take into account this WARNING:
2018-10-31 20:34:45,888 WARN  [c.c.a.d.ParamGenericValidationWorker] (qtp1595953398-17:ctx-803c9440 ctx-02a6addc) (logid:fd71392f) Received unknown parameters for command queryAsyncJobResult. Unknown parameters : projectid

[2018-10-31 19:47] bwsw commented on #2864
@izenk This is probably a frontend, not a backend issue, because as I remember that I have met that when run the certain command from the frontend.

[2018-10-31 21:18] izenk commented on #2864
@rhtyd
huge amount of such message I see during vm start
e.g. I click 'Start' vm in UI and then these message appear in management server log every second.

[2018-11-01 01:39] querplis commented on #2909
it looks like this still mentions libvirt-bin
https://github.com/apache/cloudstack/blob/1d05fead49f5c856257a741b07122f5633d2e359/python/lib/cloud_utils.py#L706-L770

[2018-11-01 05:51] rhtyd commented on #2909
@querplis you're right, there are several places there `libvirt-bin` is used that may possible be replaced with `libvirtd`. Can you send a pull request?
[code]

[2018-11-01 10:16] DaanHoogland opened #2991 "library surface reduction"
library interface surfaces should be reduced to improve portability and upgradability. examples of lockins that cloudstack suffers from are gson, stringutils and even the completely Apache internal log4j1.2 to log4j2 upgrade is a problem because of this.
jira issue CLOUDSTACK-10089 asks for a log4j update.
other issues have been encountered in teh past (will add references if i encounter them)
###

[2018-11-01 13:30] #2986 closed

[2018-11-01 14:41] svenvogel opened #2994 "add complete domain name to account (ui problem / enhancement)"
##### ISSUE TYPE

 * Bug Report
 * Improvement Request

##### COMPONENT NAME

[code]

##### CLOUDSTACK VERSION

[code]

##### CONFIGURATION

advanced network

##### OS / ENVIRONMENT

CentOS7

##### SUMMARY

When we add a User to a Subdomain we dont see the complete path of the hierarchy. If we have much User Account its very complicated to find out where the user was added. We only see the Sub-Dom

[2018-11-01 21:34] bdonnahue opened #2996 "[Bug Report] - GRE Isolation Broken in VPC Tier"
##### ISSUE TYPE
 * Bug Report

##### COMPONENT NAME
GRE Isolation / VPC Tier

##### CLOUDSTACK VERSION
4.11.2.0

##### CONFIGURATION
I have a VPC and a VPC Tier
I have an advanced zone which uses GRE Isolation
The zone hosts one pod and two clusters.
Each cluster has its own XenServer hypervisor

##### OS / ENVIRONMENT
N/A

##### SUMMARY
I created wto VMs on two different hosts and attached them